Repository DataDog/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/documentation, @DataDog/corpweb, @DataDog/integrations-tools-and-libraries, @DataDog/serverless-product

.github/CODEOWNERS:

*                         @DataDog/documentation

/data/                    @DataDog/corpweb @DataDog/documentation
/local/                   @DataDog/corpweb @DataDog/documentation
/layouts/                 @DataDog/corpweb @DataDog/documentation
/src/                     @DataDog/corpweb @DataDog/documentation
/config/                  @DataDog/corpweb @DataDog/documentation
/config/_default/menus/   @DataDog/documentation
package.json              @DataDog/corpweb @DataDog/documentation

# SDK versions
.github/workflows/bump_versions.yml   @DataDog/integrations-tools-and-libraries
/data/sdk_versions.json               @DataDog/integrations-tools-and-libraries

# Serverless

/content/en/serverless/                                 @DataDog/serverless-product @DataDog/documentation
/layouts/shortcodes/latest-lambda-layer-version.html    @DataDog/serverless-product

[us.1 prod] Correct Grammar typo
  content/en/agent/kubernetes/prometheus.md
Owners: @DataDog/documentation

add additional sections
  content/en/security_platform/guide/automate-the-remediation-of-detected-threats.md
  static/images/security_platform/security_monitoring/guide/automate-the-remediation-of-detected-threats/new-term-rule.png
  static/images/security_platform/security_monitoring/guide/automate-the-remediation-of-detected-threats/webhook-ip.png
Owners: @DataDog/documentation

Apply suggestions from code review
  content/en/security_platform/cspm/findings.md
Owners: @DataDog/documentation

responding to some feedback
  content/en/serverless/guide/forwarder_extension_migration.md
Owners: @DataDog/serverless-product, @DataDog/documentation

update index.md
  content/en/security_platform/guide/_index.md
Owners: @DataDog/documentation

splitting out into two guides
  content/en/serverless/guide/_index.md
  content/en/serverless/guide/extension_motivation.md
  content/en/serverless/guide/forwarder_extension_migration.md
Owners: @DataDog/serverless-product, @DataDog/documentation

structure
  config/_default/menus/menus.en.yaml
  content/en/database_monitoring/_index.md
  content/en/database_monitoring/setup/_index.md
  content/en/database_monitoring/setup/mysql.md
  content/en/database_monitoring/setup/postgres.md
  data/partials/home.yaml
  layouts/partials/dbm/dbm-getting-started-managed.html
  layouts/partials/dbm/dbm-getting-started.html
  static/images/icons/nav_dbm.png
  static/images/icons/nav_dbm_p.png
  static/images/svg-icons/dbm.svg
Owners: @DataDog/documentation, @DataDog/corpweb

Update java.md (#11119)
  content/en/tracing/setup_overview/setup/java.md
Owners: @DataDog/documentation

add another page'
  config/_default/menus/menus.en.yaml
  content/en/database_monitoring/_index.md
  content/en/database_monitoring/explorer.md
Owners: @DataDog/documentation

underline specific to alert
  assets/styles/pages/_global.scss
Owners: @DataDog/documentation

DOCS-2193 Rewrite of logs pipelines page, edits to archives (#10978)
  config/_default/menus/menus.en.yaml
  content/en/logs/log_configuration/archives.md
  content/en/logs/log_configuration/pipelines.md
  content/en/logs/log_configuration/processing.md
  content/en/logs/log_configuration/processors.md
Owners: @DataDog/documentation

writing more
  content/en/serverless/guide/forwarder_extension_migration.md
Owners: @DataDog/serverless-product, @DataDog/documentation

Apply suggestions from code review
  content/en/serverless/guide/forwarder_extension_migration.md
Owners: @DataDog/serverless-product, @DataDog/documentation

more copy
  content/en/serverless/guide/forwarder_extension_migration.md
Owners: @DataDog/serverless-product, @DataDog/documentation

splitting out into two guides
  content/en/serverless/guide/_index.md
  content/en/serverless/guide/extension_motivation.md
  content/en/serverless/guide/forwarder_extension_migration.md
Owners: @DataDog/serverless-product, @DataDog/documentation

responding to some feedback
  content/en/serverless/guide/forwarder_extension_migration.md
Owners: @DataDog/serverless-product, @DataDog/documentation

initial commits
  content/en/serverless/guide/_index.md
  content/en/serverless/guide/forwarder_extension_migration.md
Owners: @DataDog/serverless-product, @DataDog/documentation

Update content/en/agent/kubernetes/prometheus.md
  content/en/agent/kubernetes/prometheus.md
Owners: @DataDog/documentation

Documentation - Correct Grammar typo (#11120)
  content/en/agent/kubernetes/prometheus.md
Owners: @DataDog/documentation

review feedback
  config/_default/menus/menus.en.yaml
  content/en/database_monitoring/_index.md
  content/en/database_monitoring/explorer.md
  content/en/database_monitoring/query_metrics.md
  content/en/database_monitoring/query_samples.md
  content/en/database_monitoring/setup/_index.md
  content/en/database_monitoring/setup/mysql.md
  content/en/database_monitoring/setup/postgres.md
Owners: @DataDog/documentation

underline specific to alert (#11121)
  assets/styles/pages/_global.scss
Owners: @DataDog/documentation

more review restructuring
  config/_default/menus/menus.en.yaml
  content/en/database_monitoring/setup/mysql.md
  content/en/database_monitoring/setup/postgres.md
  content/en/database_monitoring/setup/troubleshooting.md
Owners: @DataDog/documentation

split tabs, update partials
  content/en/database_monitoring/_index.md
  content/en/database_monitoring/setup/_index.md
  content/en/database_monitoring/setup/mysql.md
  content/en/database_monitoring/setup/postgres.md
  content/en/database_monitoring/setup/troubleshooting.md
  layouts/partials/dbm/dbm-getting-started-managed.html
Owners: @DataDog/documentation, @DataDog/corpweb

Update python.md (#11118)
  content/en/tracing/connect_logs_and_traces/python.md
Owners: @DataDog/documentation

pool size to cpu
  .gitlab-ci.yml
  layouts/_default/baseof.html
  local/bin/py/build/content_manager.py
Owners: @DataDog/documentation, @DataDog/corpweb

remove section variant for header/footer cache & remove api nav cache
  layouts/_default/baseof.html
  layouts/partials/nav/api-mobile-menu.html
  layouts/partials/sidenav/api-sidenav.html
Owners: @DataDog/corpweb, @DataDog/documentation

improvements
  .gitlab-ci.yml
  layouts/partials/nav/api-mobile-menu.html
  layouts/partials/nav/main-mobile-menu.html
  layouts/partials/sidenav/api-sidenav.html
  layouts/partials/sidenav/main-sidenav.html
  package.json
Owners: @DataDog/documentation, @DataDog/corpweb

Update _index.md
  content/en/real_user_monitoring/_index.md
Owners: @DataDog/documentation

Regenerate client from commit 3333df2 of spec repo
  .apigentools-info
  config/_default/menus/menus.en.yaml
  content/en/api/v1/dashboards/examples.json
  content/en/api/v1/dashboards/widgets.json
  content/en/api/v1/notebooks/examples.json
  data/api/v1/full_spec.yaml
  data/api/v1/translate_actions.json
Owners: @DataDog/documentation, @DataDog/corpweb

CI-app - Swift - Add missing env var to Jenkins and replace a Bitrise one.
  content/en/continuous_integration/setup_tests/swift.md
Owners: @DataDog/documentation

Update content/en/continuous_integration/setup_pipelines/gitlab.md
  content/en/continuous_integration/setup_pipelines/gitlab.md
Owners: @DataDog/documentation

Add jenkins troubleshooting for CI Visibility option
  content/en/continuous_integration/setup_pipelines/jenkins.md
Owners: @DataDog/documentation

Adding translations
  content/fr/account_management/rbac/_index.md
  content/fr/network_monitoring/devices/troubleshooting.md
  content/fr/real_user_monitoring/android/integrated_libraries.md
  content/fr/real_user_monitoring/explorer/search.md
  content/ja/integrations/auth0.md
  content/ja/integrations/solarwinds.md
  content/ja/network_monitoring/performance/network_page.md
Owners: @DataDog/documentation

Regenerate client from commit a499a64 of spec repo
  .apigentools-info
  config/_default/menus/menus.en.yaml
  content/en/api/v1/dashboards/examples.json
  content/en/api/v1/dashboards/widgets.json
  content/en/api/v1/notebooks/examples.json
  content/en/api/v1/usage-metering/examples.json
  data/api/v1/full_spec.yaml
  data/api/v1/translate_actions.json
Owners: @DataDog/documentation, @DataDog/corpweb

Regenerate client from commit 36f6365 of spec repo
  .apigentools-info
  config/_default/menus/menus.en.yaml
  content/en/api/v1/dashboards/examples.json
  content/en/api/v1/dashboards/widgets.json
  content/en/api/v1/notebooks/examples.json
  content/en/api/v1/usage-metering/examples.json
  data/api/v1/full_spec.yaml
  data/api/v1/translate_actions.json
Owners: @DataDog/documentation, @DataDog/corpweb

Apply suggestions from code review
  content/en/continuous_integration/setup_tests/dotnet.md
Owners: @DataDog/documentation

Apply suggestions from code review
  content/en/continuous_integration/setup_tests/agent.md
Owners: @DataDog/documentation

Apply suggestions from code review
  content/en/continuous_integration/setup_tests/javascript.md
  content/en/continuous_integration/setup_tests/ruby.md
Owners: @DataDog/documentation

Point to keys.datadoghq.com instead of keyserver.ubuntu.com
  content/en/security/agent.md
Owners: @DataDog/documentation

Point to keys.datadoghq.com instead of keyserver.ubuntu.com (#11131)
  content/en/security/agent.md
Owners: @DataDog/documentation
