Repository DataDog/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/documentation, @DataDog/corpweb, @DataDog/integrations-tools-and-libraries, @DataDog/serverless-product, @DataDog/database-monitoring, @DataDog/agent-shared-components, @DataDog/partner-tech-solutions, @Datadog/marketplace-product-management, @DataDog/WebOps-Platform, @DataDog/cloud-cost-management-visibility, @Datadog/rum-mobile, @Datadog/rum-browser

edit pass
  config/_default/menus/menus.en.yaml
  content/en/opentelemetry/guide/_index.md
  content/en/opentelemetry/guide/runtime_metrics/_index.md
  content/en/opentelemetry/guide/runtime_metrics/dotnet.md
  content/en/opentelemetry/guide/runtime_metrics/go.md
  content/en/opentelemetry/guide/runtime_metrics/java.md
  content/en/opentelemetry/runtime_metrics/_index.md
  content/en/opentelemetry/runtime_metrics/dotnet.md
  content/en/opentelemetry/runtime_metrics/go.md
  content/en/opentelemetry/runtime_metrics/java.md
  layouts/partials/opentelemetry/otel-runtime-metrics.html
Owners: @DataDog/documentation, @DataDog/corpweb

Updated apm_tracing_profiler.md
  content/en/account_management/billing/apm_tracing_profiler.md
Owners: @DataDog/documentation

link fixes
  config/_default/menus/menus.en.yaml
  content/en/opentelemetry/runtime_metrics/_index.md
  layouts/partials/opentelemetry/otel-runtime-metrics.html
Owners: @DataDog/documentation, @DataDog/corpweb

Syncing branch with websites-modules main
  go.mod
  go.sum
Owners: @DataDog/documentation

Generated by websites-modules
  go.mod
  go.sum
Owners: @DataDog/documentation

Update go.md
  content/en/security/application_security/enabling/compatibility/go.md
Owners: @DataDog/documentation

DOCS-5595
  content/en/logs/log_configuration/processors.md
  static/images/logs/log_configuration/processor/arithmetic_processor.png
  static/images/logs/log_configuration/processor/category_processor.png
  static/images/logs/log_configuration/processor/category_processor_result.png
  static/images/logs/log_configuration/processor/date_remapper.png
  static/images/logs/log_configuration/processor/date_remapper_example.png
  static/images/logs/log_configuration/processor/geoip_example_blurred.png
  static/images/logs/log_configuration/processor/geoip_processor.png
  static/images/logs/log_configuration/processor/grok_parser.png
  static/images/logs/log_configuration/processor/lookup_processor_manual_mapping.png
  static/images/logs/log_configuration/processor/lookup_processor_reference_table.png
  static/images/logs/log_configuration/processor/message_processor.png
  static/images/logs/log_configuration/processor/processor_overview.png
  static/images/logs/log_configuration/processor/remapper.png
  static/images/logs/log_configuration/processor/service_remapper.png
  static/images/logs/log_configuration/processor/severity_remapper_processor.png
  static/images/logs/log_configuration/processor/stringbuilder_processor.png
  static/images/logs/log_configuration/processor/trace_processor.png
  static/images/logs/log_configuration/processor/url_processor.png
  static/images/logs/log_configuration/processor/useragent_processor.png
Owners: @DataDog/documentation

Generated by websites-modules
  go.mod
  go.sum
Owners: @DataDog/documentation

Update content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/rds.md
Owners: @DataDog/database-monitoring, @DataDog/documentation

Regenerate client from commit aafb3db6 of spec repo
  .apigentools-info
  content/en/api/v1/dashboards/widgets.json
  content/en/api/v1/notebooks/examples.json
  data/api/v1/full_spec.yaml
Owners: @DataDog/documentation, @DataDog/corpweb

Generated by websites-modules
  go.mod
  go.sum
Owners: @DataDog/documentation

Update content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/billing/apm_tracing_profiler.md
Owners: @DataDog/documentation

Update content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/billing/apm_tracing_profiler.md
Owners: @DataDog/documentation

Update content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/billing/apm_tracing_profiler.md
Owners: @DataDog/documentation

Update content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/billing/apm_tracing_profiler.md
Owners: @DataDog/documentation

Update content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/billing/apm_tracing_profiler.md
Owners: @DataDog/documentation

Update content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/billing/apm_tracing_profiler.md
Owners: @DataDog/documentation

Update content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/billing/apm_tracing_profiler.md
Owners: @DataDog/documentation

Update content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/billing/apm_tracing_profiler.md
Owners: @DataDog/documentation

Update content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/billing/apm_tracing_profiler.md
Owners: @DataDog/documentation

Revert "[WEB-3712] Introduce XXL container width (#18479)"
  assets/styles/_bootstrap-custom.scss
  assets/styles/pages/_global.scss
Owners: @DataDog/corpweb, @DataDog/documentation

Revert "[WEB-3712] Introduce XXL container width (#18479)" (#18555)
  assets/styles/_bootstrap-custom.scss
  assets/styles/pages/_global.scss
Owners: @DataDog/corpweb, @DataDog/documentation

Add statsig logo to Feature Flag
  layouts/partials/rum/rum-feature-flag-tracking.html
  static/images/integrations_logos/statsig_large.svg
Owners: @DataDog/corpweb, @DataDog/documentation

removing note about flutter error tracking
  content/en/real_user_monitoring/_index.md
Owners: @DataDog/documentation

Update audit trail docs to include login method override security notification event (#18550)
  content/en/account_management/audit_trail/events.md
Owners: @DataDog/documentation

Update AWS RDS doc to include AWS metadata (#18298)
  content/en/database_monitoring/setup_mysql/rds.md
Owners: @DataDog/database-monitoring, @DataDog/documentation

starting work
  content/en/containers/kubernetes/data_collected.md
Owners: @DataDog/documentation

Update content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/billing/apm_tracing_profiler.md
Owners: @DataDog/documentation

Update content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/billing/apm_tracing_profiler.md
Owners: @DataDog/documentation

Update content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/billing/apm_tracing_profiler.md
Owners: @DataDog/documentation

Update content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/billing/apm_tracing_profiler.md
Owners: @DataDog/documentation

Update content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/billing/apm_tracing_profiler.md
Owners: @DataDog/documentation

Generated by websites-modules
  go.mod
  go.sum
Owners: @DataDog/documentation

add updated images for resource page
  static/images/tracing/visualization/service/dependency-map-navigator.png
  static/images/tracing/visualization/service/resource-page.png
Owners: @DataDog/documentation

updated images for resource page docs update
  static/images/tracing/visualization/resource/dependency-map-navigator.png
  static/images/tracing/visualization/resource/resource-page.png
Owners: @DataDog/documentation

new java updates
  content/en/security/application_security/enabling/compatibility/java.md
Owners: @DataDog/documentation

Updated billing page to include Data Streams Monitoring (#18552)
  content/en/account_management/billing/apm_tracing_profiler.md
Owners: @DataDog/documentation

Replace production deployment overview
  config/_default/menus/menus.en.yaml
  content/en/observability_pipelines/production_deployment_overview/_index.md
  content/en/observability_pipelines/production_deployment_overview/architecture_design_and_principles.md
  content/en/observability_pipelines/setup.md
Owners: @DataDog/documentation

upload image highlighting request count
  static/images/tracing/visualization/resource/dependency-map-requests.png
Owners: @DataDog/documentation

new file
  content/en/security/application_security/enabling/compatibility/java.md
Owners: @DataDog/documentation

.github/CODEOWNERS:

*                         @DataDog/documentation

/assets/                  @DataDog/corpweb @DataDog/documentation
/data/                    @DataDog/corpweb @DataDog/documentation
/local/                   @DataDog/corpweb @DataDog/documentation
/layouts/                 @DataDog/corpweb @DataDog/documentation
/src/                     @DataDog/corpweb @DataDog/documentation
/config/                  @DataDog/corpweb @DataDog/documentation
/config/_default/menus/   @DataDog/documentation
package.json              @DataDog/corpweb @DataDog/documentation

# SDK versions
.github/workflows/bump_versions.yml   @DataDog/integrations-tools-and-libraries @DataDog/documentation
/data/sdk_versions.json               @DataDog/integrations-tools-and-libraries @DataDog/documentation

# Serverless

/content/en/serverless/                                 @DataDog/serverless-product @DataDog/documentation
/layouts/shortcodes/latest-lambda-layer-version.html    @DataDog/documentation

# Database Management
/content/en/database_monitoring/                        @DataDog/database-monitoring @DataDog/documentation
/layouts/partials/dbm/                                  @DataDog/database-monitoring @DataDog/documentation

# Agent Shared Component
/content/en/agent/proxy.md                              @DataDog/agent-shared-components @DataDog/documentation

# Partners
/content/en/partners/                                   @DataDog/partner-tech-solutions @DataDog/documentation

# Marketplace

/content/en/developers/integrations/agent_integration/                     @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/api_integration/                       @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/marketplace_offering/                  @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/check_references/                      @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/create_a_tile/                         @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration-assets.md                                  @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration-assets-reference.md                        @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration_categories.md                              @Datadog/marketplace-product-management @DataDog/documentation

# Websites Platform (Devops)
.github/workflows                                       @DataDog/WebOps-Platform
.gitlab-ci.yml                                          @DataDog/WebOps-Platform
Makefile                                                @DataDog/WebOps-Platform
translate.yaml                                          @DataDog/WebOps-Platform
.translate                                              @DataDog/WebOps-Platform
docker-compose-docs.yml                                 @DataDog/WebOps-Platform
.htmltest.yml                                           @DataDog/WebOps-Platform
datadog-ci.preview.json                                 @DataDog/WebOps-Platform
general.preview.synthetics.json                         @DataDog/WebOps-Platform

# Cloud Cost Management
documentation/content/en/cloud_cost_management/_index.md         @DataDog/cloud-cost-management-visibility @DataDog/documentation

# Log collection
content/en/logs/log_collection/android.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/flutter.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/ios.md                            @Datadog/rum-mobile @DataDog/documentation

# Traces
content/en/tracing/trace_collection/dd_libraries/android.md     @Datadog/rum-mobile @DataDog/documentation
content/en/tracing/trace_collection/dd_libraries/ios.md         @Datadog/rum-mobile @DataDog/documentation

# Mobile SDK
content/en/real_user_monitoring/android/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/flutter/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/ios/                            @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/reactnative/                    @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/roku/                           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/android.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/expo.md          @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/flutter.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/ios.md           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/reactnative.md   @Datadog/rum-mobile @DataDog/documentation

# Browser SDK
content/en/real_user_monitoring/browser/                        @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/guide/                          @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/session_replay/                 @Datadog/rum-browser @DataDog/documentation
content/en/logs/log_collection/javascript.md                    @Datadog/rum-browser @DataDog/documentation
content/en/logs/error_tracking/browser_and_mobile.md            @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/error_tracking/browser.md       @Datadog/rum-browser @DataDog/documentation
