Repository DataDog/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/documentation, @DataDog/corpweb, @DataDog/integrations-tools-and-libraries, @DataDog/serverless-product, @DataDog/database-monitoring, @DataDog/agent-shared-components, @DataDog/agent-integrations, @Datadog/marketplace-product-management, @DataDog/WebOps-Platform, @DataDog/cloud-cost-management-visibility, @Datadog/rum-mobile, @DataDog/tracing-dotnet, @Datadog/rum-browser, @DataDog/observability-pipelines-worker-admin, @Datadog/synthetics-app, @Datadog/documentation, @Datadog/synthetics-ct, @Datadog/synthetics-mobile, @Datadog/ci-app-libraries, @Datadog/ci-app-backend, @Datadog/static-analysis

Separate Windows command line options (#20060)
  content/en/agent/basic_agent_usage/windows.md
Owners: @DataDog/documentation

Regenerate client from commit bafcada7 of spec repo
  .apigentools-info
  content/en/api/v2/sensitive-data-scanner/examples.json
  content/en/api/v2/sensitive-data-scanner/request.CreateScanningRule.json
  content/en/api/v2/sensitive-data-scanner/request.UpdateScanningRule.json
  data/api/v2/full_spec.yaml
Owners: @DataDog/documentation

add digicert update line
  content/en/data_security/agent.md
Owners: @DataDog/documentation

JS Error Fixes (#21109)
  assets/scripts/components/algolia/customPagination.js
  assets/scripts/components/global-modals.js
  assets/scripts/components/integrations.js
  assets/scripts/components/table-of-contents.js
  assets/scripts/datadog-docs.js
Owners: @DataDog/corpweb, @DataDog/documentation

add digicert update line (#21252)
  content/en/data_security/agent.md
Owners: @DataDog/documentation

Update dotnet-core.md (#21251)
  content/en/tracing/trace_collection/library_config/dotnet-core.md
Owners: @DataDog/tracing-dotnet, @DataDog/documentation

addressing vale linter recommended changes
  content/en/tracing/trace_explorer/trace_view.md
Owners: @DataDog/documentation

Apply suggestions from code review
  content/en/api/latest/_index.md
  content/en/getting_started/api/_index.md
Owners: @DataDog/documentation

Update new diagrams
  content/en/metrics/custom_metrics/historical_metrics.md
  static/images/metrics/custom_metrics/historical_metrics/diagram_historical-metrics-ingestion_1_240105.png
  static/images/metrics/custom_metrics/historical_metrics/diagram_historical-metrics-ingestion_3_240105.png
  static/images/metrics/custom_metrics/historical_metrics/diagram_historical-metrics-ingestion_intro.png
  static/images/metrics/custom_metrics/historical_metrics/diagram_historical-metrics-ingestion_latency.png
Owners: @DataDog/documentation

Generated by websites-modules
  go.mod
  go.sum
Owners: @DataDog/corpweb, @DataDog/documentation

adding permissions section
  content/en/getting_started/integrations/_index.md
Owners: @DataDog/documentation

Update content/en/static_analysis/github_pull_requests.md
  content/en/static_analysis/github_pull_requests.md
Owners: @Datadog/static-analysis, @Datadog/documentation

Update content/en/static_analysis/github_pull_requests.md
  content/en/static_analysis/github_pull_requests.md
Owners: @Datadog/static-analysis, @Datadog/documentation

Update content/en/static_analysis/github_pull_requests.md
  content/en/static_analysis/github_pull_requests.md
Owners: @Datadog/static-analysis, @Datadog/documentation

Update content/en/static_analysis/github_pull_requests.md
  content/en/static_analysis/github_pull_requests.md
Owners: @Datadog/static-analysis, @Datadog/documentation

Update content/en/static_analysis/github_pull_requests.md
  content/en/static_analysis/github_pull_requests.md
Owners: @Datadog/static-analysis, @Datadog/documentation

Update content/en/static_analysis/github_pull_requests.md
  content/en/static_analysis/github_pull_requests.md
Owners: @Datadog/static-analysis, @Datadog/documentation

Update content/en/static_analysis/github_pull_requests.md
  content/en/static_analysis/github_pull_requests.md
Owners: @Datadog/static-analysis, @Datadog/documentation

Update content/en/static_analysis/github_pull_requests.md
  content/en/static_analysis/github_pull_requests.md
Owners: @Datadog/static-analysis, @Datadog/documentation

Update content/en/static_analysis/github_pull_requests.md
  content/en/static_analysis/github_pull_requests.md
Owners: @Datadog/static-analysis, @Datadog/documentation

added feedback from Jason and Eslam. Minor text updates.
  config/_default/menus/menus.en.yaml
  content/en/security/threat_intel.md
Owners: @DataDog/documentation

Update content/en/static_analysis/github_pull_requests.md
  content/en/static_analysis/github_pull_requests.md
Owners: @Datadog/static-analysis, @Datadog/documentation

Update multi-factor_authentication.md to change order of Status section and add screenshot
  content/en/account_management/multi-factor_authentication.md
Owners: @DataDog/documentation

Consistency updates.
  content/en/security/threat_intel.md
Owners: @DataDog/documentation

Add screenshot of MFA status for MFA public docs
  static/images/account_management/multi-factor-authentication-status.png
Owners: @DataDog/documentation

reorder links
  content/en/account_management/audit_trail/events.md
Owners: @DataDog/documentation

update content
  content/en/security/suppressions.md
Owners: @DataDog/documentation

Update content/en/monitors/types/process.md
  content/en/monitors/types/process.md
Owners: @DataDog/documentation

CSM Troubleshooting rework (#21247)
  config/_default/menus/menus.en.yaml
  content/en/security/cloud_security_management/troubleshooting/_index.md
  content/en/security/cloud_security_management/troubleshooting/threats.md
Owners: @DataDog/documentation

adding permissions section (#21253)
  content/en/getting_started/integrations/_index.md
Owners: @DataDog/documentation

Spacing Nit
  content/en/static_analysis/github_pull_requests.md
Owners: @Datadog/static-analysis, @Datadog/documentation

Address comments
  content/en/monitors/types/process.md
Owners: @DataDog/documentation

Add screenshot of MFA status for MFA public docs (#21255)
  static/images/account_management/multi-factor-authentication-status.png
Owners: @DataDog/documentation

Add GitHub PRs to the Static Analysis integrations (#20981)
  config/_default/menus/menus.en.yaml
  content/en/static_analysis/_index.md
  content/en/static_analysis/github_pull_requests.md
  static/images/ci/static-analysis-existing-github-app.png
  static/images/ci/static-analysis-github-comments.png
  static/images/ci/static-analysis-install-github-app.png
  static/images/ci/static-analysis-pr-comment-example.png
  static/images/ci/static-analysis-pr-read-write-permissions.png
  static/images/ci/static-analysis-pr-review-comment.png
Owners: @DataDog/documentation, @Datadog/static-analysis, @Datadog/documentation

Apply suggestions from code review
  content/en/account_management/multi-factor_authentication.md
Owners: @DataDog/documentation

Update multi-factor_authentication.md to change order of Status secti… (#21254)
  content/en/account_management/multi-factor_authentication.md
Owners: @DataDog/documentation

Translation Pipeline PR (#21249)
  content/fr/service_management/workflows/_index.md
  content/fr/service_management/workflows/actions_catalog/_index.md
Owners: @DataDog/documentation

Update integrations.md
  content/en/tracing/service_catalog/integrations.md
Owners: @DataDog/documentation

Apply suggestions from code review
  content/en/security/application_security/threats/security_signals.md
Owners: @DataDog/documentation

fixing weighting on menu nav
  config/_default/menus/menus.en.yaml
Owners: @DataDog/documentation

.github/CODEOWNERS:

*                         @DataDog/documentation

/assets/                  @DataDog/corpweb @DataDog/documentation
/data/                    @DataDog/corpweb @DataDog/documentation
/data/api/                @DataDog/documentation
/local/                   @DataDog/corpweb @DataDog/documentation
/layouts/                 @DataDog/corpweb @DataDog/documentation
/src/                     @DataDog/corpweb @DataDog/documentation
/config/                  @DataDog/corpweb @DataDog/documentation
/config/_default/menus/   @DataDog/documentation
package.json              @DataDog/corpweb @DataDog/documentation
go.mod                    @DataDog/corpweb @DataDog/documentation
go.sum                    @DataDog/corpweb @DataDog/documentation

# SDK versions
.github/workflows/bump_versions.yml   @DataDog/integrations-tools-and-libraries @DataDog/documentation
/data/sdk_versions.json               @DataDog/integrations-tools-and-libraries @DataDog/documentation

# Serverless

/content/en/serverless/                                 @DataDog/serverless-product @DataDog/documentation
/layouts/shortcodes/latest-lambda-layer-version.html    @DataDog/documentation

# Database Management
/content/en/database_monitoring/                        @DataDog/database-monitoring @DataDog/documentation
/layouts/partials/dbm/                                  @DataDog/database-monitoring @DataDog/documentation

# Agent Shared Component
/content/en/agent/proxy.md                              @DataDog/agent-shared-components @DataDog/documentation

# Agent-integration-tools
content/en/developers/integrations/agent_integration.md                         @DataDog/agent-integrations @DataDog/documentation
content/en/developers/integrations/python.md                                    @DataDog/agent-integrations @DataDog/documentation
content/en/developers/integrations/guide/legacy.md                              @DataDog/agent-integrations @DataDog/documentation

# Marketplace
content/en/developers/integrations/api_integration.md                           @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/log_integration.md                           @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/marketplace_offering.md                      @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/create_a_tile.md                             @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/oauth_for_integrations.md                    @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/create_an_integration_dashboard.md           @Datadog/marketplace-product-management @DataDog/agent-integrations @DataDog/documentation
content/en/developers/integrations/create-an-integration-recommended-monitor.md @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/check_references.md                          @Datadog/marketplace-product-management @DataDog/agent-integrations @DataDog/documentation

layouts/shortcodes/integration-assets.md                                    @Datadog/marketplace-product-management @DataDog/documentation
layouts/shortcodes/integration-assets-reference.md                          @Datadog/marketplace-product-management @DataDog/documentation
layouts/shortcodes/integration_categories.md                                @Datadog/marketplace-product-management @DataDog/documentation

# Websites Platform (Devops)
.github/workflows                                       @DataDog/WebOps-Platform
.gitlab-ci.yml                                          @DataDog/WebOps-Platform
Makefile                                                @DataDog/WebOps-Platform
translate.yaml                                          @DataDog/WebOps-Platform
.translate                                              @DataDog/WebOps-Platform
docker-compose-docs.yml                                 @DataDog/WebOps-Platform
.htmltest.yml                                           @DataDog/WebOps-Platform
datadog-ci.preview.json                                 @DataDog/WebOps-Platform
general.preview.synthetics.json                         @DataDog/WebOps-Platform

# Cloud Cost Management
documentation/content/en/cloud_cost_management/*.md              @DataDog/cloud-cost-management-visibility @DataDog/documentation

# Log collection
content/en/logs/log_collection/android.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/flutter.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/ios.md                            @Datadog/rum-mobile @DataDog/documentation

# Traces
content/en/tracing/trace_collection/dd_libraries/android.md     @Datadog/rum-mobile @DataDog/documentation
content/en/tracing/trace_collection/dd_libraries/ios.md         @Datadog/rum-mobile @DataDog/documentation
content/en/tracing/**/*dotnet*                                  @DataDog/tracing-dotnet @DataDog/documentation

# Mobile SDK
content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/android/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/flutter/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/ios/                            @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/reactnative/                    @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/roku/                           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/android.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/expo.md          @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/flutter.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/ios.md           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/reactnative.md   @Datadog/rum-mobile @DataDog/documentation

# Browser SDK
content/en/real_user_monitoring/browser/                        @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/guide/                          @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/session_replay/                 @Datadog/rum-browser @DataDog/documentation
content/en/logs/log_collection/javascript.md                    @Datadog/rum-browser @DataDog/documentation
content/en/logs/error_tracking/browser_and_mobile.md            @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/error_tracking/browser.md       @Datadog/rum-browser @DataDog/documentation

# Observability Pipelines
static/resources/yaml/observability_pipelines/                  @DataDog/observability-pipelines-worker-admin  @DataDog/documentation

# Synthetic Monitoring, Continuous Testing, Mobile Application Testing

content/en/synthetics/*.md                                      @Datadog/synthetics-app @Datadog/documentation
content/en/continuous_testing/*.md                              @Datadog/synthetics-ct @Datadog/documentation
content/en/mobile_app_testing/*.md                              @Datadog/synthetics-mobile @Datadog/documentation

# Software Delivery

content/en/continuous_integration/tests/*.md          @Datadog/ci-app-libraries @Datadog/documentation
content/en/continuous_integration/pipelines/*.md      @Datadog/ci-app-backend @Datadog/documentation
content/en/static_analysis/*.md                       @Datadog/static-analysis @Datadog/documentation
content/en/static_analysis/rules/_index.md            @Datadog/static-analysis @Datadog/documentation
content/en/quality_gates/_index.md                    @Datadog/ci-app-backend @Datadog/documentation
content/en/dora_metrics/_index.md                     @Datadog/ci-app-backend @Datadog/documentation
