Repository DataDog/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/documentation, @DataDog/corpweb, @DataDog/integrations-tools-and-libraries, @DataDog/serverless-product, @DataDog/database-monitoring, @DataDog/agent-shared-components

Document Python profiler code provenance enablement
  content/en/profiler/enabling/python.md
Owners: @DataDog/documentation

Update cpu_percent unit + remove note
  content/en/tracing/troubleshooting/agent_apm_metrics.md
  content/en/tracing/troubleshooting/agent_apm_resource_usage.md
Owners: @DataDog/documentation

Bump datadog-lambda-js layer to version 82
  layouts/shortcodes/latest-lambda-layer-version.html
Owners: @DataDog/documentation

Regenerate client from commit 71afb1ee of spec repo
  .apigentools-info
  content/en/api/v1/usage-metering/examples.json
  data/api/v1/full_spec.yaml
Owners: @DataDog/documentation, @DataDog/corpweb

adding translations
  content/kr/agent/guide/datadog-agent-manager-windows.md
Owners: @DataDog/documentation

Regenerate client from commit 592474c8 of spec repo
  .apigentools-info
  content/en/api/v1/usage-metering/examples.json
  data/api/v1/full_spec.yaml
Owners: @DataDog/documentation, @DataDog/corpweb

adding translations
  content/kr/agent/guide/autodiscovery-with-jmx.md
Owners: @DataDog/documentation

Update _index.md
  content/en/security_platform/cspm/_index.md
Owners: @DataDog/documentation

adding translations
  content/kr/agent/troubleshooting/permissions.md
Owners: @DataDog/documentation

Ready to Merge
  local/bin/py/build/configurations/pull_config_preview.yaml
Owners: @DataDog/corpweb, @DataDog/documentation

Further Reading Nit
  local/bin/py/build/configurations/pull_config.yaml
Owners: @DataDog/corpweb, @DataDog/documentation

remove retention controls suggestion
  content/en/tracing/trace_pipeline/ingestion_controls.md
Owners: @DataDog/documentation

Nomenclature Nit
  content/en/real_user_monitoring/browser/tracking_user_actions.md
Owners: @DataDog/documentation

Single Sourcing Updates
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Owners: @DataDog/corpweb, @DataDog/documentation

Link Nit
  content/en/real_user_monitoring/guide/sampling-browser-and-browser-premium.md
Owners: @DataDog/documentation

Regenerate client from commit 0050c4a2 of spec repo
  .apigentools-info
  content/en/api/v2/metrics/request.SubmitMetrics_1762007427.json
  data/api/v1/full_spec.yaml
  data/api/v2/CodeExamples.json
  data/api/v2/full_spec.yaml
  data/api/v2/full_spec_deref.json
  static/resources/json/full_spec_v2.json
Owners: @DataDog/documentation, @DataDog/corpweb

adding translations
  content/kr/developers/write_agent_check.md
Owners: @DataDog/documentation

(DOCS-3944) Modify wording
  content/en/monitors/create/types/event.md
Owners: @DataDog/documentation

Regenerate client from commit 95e8a34f of spec repo
  .apigentools-info
  content/en/api/v2/roles/examples.json
  content/en/api/v2/roles/request.UpdateRole.json
  data/api/v2/full_spec.yaml
  data/api/v2/full_spec_deref.json
  static/resources/json/full_spec_v2.json
Owners: @DataDog/documentation, @DataDog/corpweb

Adds Beta Banner in Tile
  layouts/partials/rum/rum-getting-started.html
Owners: @DataDog/corpweb, @DataDog/documentation

adding translations
  content/es/api/v1/monitors/_index.md
Owners: @DataDog/documentation

adding translations
  content/es/api/v1/dashboards/_index.md
Owners: @DataDog/documentation

adding translations
  content/es/api/v2/events/_index.md
Owners: @DataDog/documentation

adding translations
  content/es/api/v2/monitors/_index.md
Owners: @DataDog/documentation

adding translations
  content/es/api/v1/events/_index.md
Owners: @DataDog/documentation

adding translations
  content/es/api/v2/tags/_index.md
Owners: @DataDog/documentation

adding translations
  content/es/api/v2/metrics/_index.md
Owners: @DataDog/documentation

adding translations
  content/es/api/v2/service-checks/_index.md
Owners: @DataDog/documentation

adding translations
  content/es/api/v2/incidents/_index.md
Owners: @DataDog/documentation

adding translations
  content/es/api/v1/incidents/_index.md
Owners: @DataDog/documentation

adding translations
  content/es/api/latest/events/_index.md
Owners: @DataDog/documentation

adding translations
  content/es/api/latest/incidents/_index.md
Owners: @DataDog/documentation

adding translations
  content/es/api/latest/tags/_index.md
Owners: @DataDog/documentation

adding translations
  content/es/api/latest/monitors/_index.md
Owners: @DataDog/documentation

adding translations
  content/es/api/latest/service-checks/_index.md
Owners: @DataDog/documentation

adding translations
  content/kr/api/v1/synthetics/_index.md
Owners: @DataDog/documentation

adding translations
  content/kr/api/v1/logs/_index.md
Owners: @DataDog/documentation

adding translations
  content/kr/api/v2/synthetics/_index.md
Owners: @DataDog/documentation

adding translations
  content/kr/api/v2/authentication/_index.md
Owners: @DataDog/documentation

adding translations
  content/kr/api/v1/notebooks/_index.md
Owners: @DataDog/documentation

.github/CODEOWNERS:

*                         @DataDog/documentation

/data/                    @DataDog/corpweb @DataDog/documentation
/local/                   @DataDog/corpweb @DataDog/documentation
/layouts/                 @DataDog/corpweb @DataDog/documentation
/src/                     @DataDog/corpweb @DataDog/documentation
/config/                  @DataDog/corpweb @DataDog/documentation
/config/_default/menus/   @DataDog/documentation
package.json              @DataDog/corpweb @DataDog/documentation

# SDK versions
.github/workflows/bump_versions.yml   @DataDog/integrations-tools-and-libraries @DataDog/documentation
/data/sdk_versions.json               @DataDog/integrations-tools-and-libraries @DataDog/documentation

# Serverless

/content/en/serverless/                                 @DataDog/serverless-product @DataDog/documentation
/layouts/shortcodes/latest-lambda-layer-version.html    @DataDog/documentation

# Database Management
/content/en/database_monitoring/                        @DataDog/database-monitoring @DataDog/documentation
/layouts/partials/dbm/                                  @DataDog/database-monitoring @DataDog/documentation

# Agent Shared Component
/content/en/agent/proxy.md                              @DataDog/agent-shared-components @DataDog/documentation
