Repository DataDog/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/documentation, @DataDog/corpweb, @DataDog/integrations-tools-and-libraries, @DataDog/serverless-product, @DataDog/database-monitoring, @DataDog/agent-shared-components, @DataDog/partner-tech-solutions, @Datadog/marketplace-product-management, @DataDog/WebOps-Platform, @DataDog/cloud-cost-management-visibility, @Datadog/rum-mobile, @Datadog/rum-browser

.github/CODEOWNERS:

*                         @DataDog/documentation

/assets/                  @DataDog/corpweb @DataDog/documentation
/data/                    @DataDog/corpweb @DataDog/documentation
/local/                   @DataDog/corpweb @DataDog/documentation
/layouts/                 @DataDog/corpweb @DataDog/documentation
/src/                     @DataDog/corpweb @DataDog/documentation
/config/                  @DataDog/corpweb @DataDog/documentation
/config/_default/menus/   @DataDog/documentation
package.json              @DataDog/corpweb @DataDog/documentation

# SDK versions
.github/workflows/bump_versions.yml   @DataDog/integrations-tools-and-libraries @DataDog/documentation
/data/sdk_versions.json               @DataDog/integrations-tools-and-libraries @DataDog/documentation

# Serverless

/content/en/serverless/                                 @DataDog/serverless-product @DataDog/documentation
/layouts/shortcodes/latest-lambda-layer-version.html    @DataDog/documentation

# Database Management
/content/en/database_monitoring/                        @DataDog/database-monitoring @DataDog/documentation
/layouts/partials/dbm/                                  @DataDog/database-monitoring @DataDog/documentation

# Agent Shared Component
/content/en/agent/proxy.md                              @DataDog/agent-shared-components @DataDog/documentation

# Partners
/content/en/partners/                                   @DataDog/partner-tech-solutions @DataDog/documentation

# Marketplace

/content/en/developers/integrations/agent_integration/                     @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/api_integration/                       @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/marketplace_offering/                  @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/check_references/                      @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/create_a_tile/                         @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration-assets.md                                  @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration-assets-reference.md                        @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration_categories.md                              @Datadog/marketplace-product-management @DataDog/documentation

# Websites Platform (Devops)
.github/workflows                                       @DataDog/WebOps-Platform
.gitlab-ci.yml                                          @DataDog/WebOps-Platform
Makefile                                                @DataDog/WebOps-Platform
translate.yaml                                          @DataDog/WebOps-Platform
.translate                                              @DataDog/WebOps-Platform
docker-compose-docs.yml                                 @DataDog/WebOps-Platform
.htmltest.yml                                           @DataDog/WebOps-Platform
datadog-ci.preview.json                                 @DataDog/WebOps-Platform
general.preview.synthetics.json                         @DataDog/WebOps-Platform

# Cloud Cost Management
documentation/content/en/cloud_cost_management/_index.md         @DataDog/cloud-cost-management-visibility @DataDog/documentation

# Log collection
content/en/logs/log_collection/android.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/flutter.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/ios.md                            @Datadog/rum-mobile @DataDog/documentation

# Traces
content/en/tracing/trace_collection/dd_libraries/android.md     @Datadog/rum-mobile @DataDog/documentation
content/en/tracing/trace_collection/dd_libraries/ios.md         @Datadog/rum-mobile @DataDog/documentation

# Mobile SDK
content/en/real_user_monitoring/android/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/flutter/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/ios/                            @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/reactnative/                    @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/roku/                           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/android.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/expo.md          @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/flutter.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/ios.md           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/reactnative.md   @Datadog/rum-mobile @DataDog/documentation

# Browser SDK
content/en/real_user_monitoring/browser/                        @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/guide/                          @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/session_replay/                 @Datadog/rum-browser @DataDog/documentation
content/en/logs/log_collection/javascript.md                    @Datadog/rum-browser @DataDog/documentation
content/en/logs/error_tracking/browser_and_mobile.md            @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/error_tracking/browser.md       @Datadog/rum-browser @DataDog/documentation

Fixes button references
  content/en/service_management/workflows/actions_catalog/saved_actions.md
  static/images/service_management/workflows/saved-actions-button.png
Owners: @DataDog/documentation

Update content/en/serverless/azure_app_services/azure_app_services_linux.md
  content/en/serverless/azure_app_services/azure_app_services_linux.md
Owners: @DataDog/serverless-product, @DataDog/documentation

Update content/en/serverless/azure_app_services/azure_app_services_linux.md
  content/en/serverless/azure_app_services/azure_app_services_linux.md
Owners: @DataDog/serverless-product, @DataDog/documentation

Update content/en/serverless/azure_app_services/azure_app_services_linux.md
  content/en/serverless/azure_app_services/azure_app_services_linux.md
Owners: @DataDog/serverless-product, @DataDog/documentation

Fixes image size
  content/en/service_management/workflows/actions_catalog/saved_actions.md
  content/fr/integrations/prophetstor_federatorai.md
Owners: @DataDog/documentation

Fixes image size
  content/en/service_management/workflows/actions_catalog/saved_actions.md
Owners: @DataDog/documentation

Generated by websites-modules
  go.mod
  go.sum
Owners: @DataDog/documentation

apm: update data security resource names
  content/en/tracing/configure_data_security/_index.md
Owners: @DataDog/documentation

Revert "Fixes image size"
  content/en/service_management/workflows/actions_catalog/saved_actions.md
Owners: @DataDog/documentation

Revert "Fixes image size"
  content/en/service_management/workflows/actions_catalog/saved_actions.md
  content/fr/integrations/prophetstor_federatorai.md
Owners: @DataDog/documentation

Fixes image style
  content/en/service_management/workflows/actions_catalog/saved_actions.md
Owners: @DataDog/documentation

Generated by websites-modules
  go.mod
  go.sum
Owners: @DataDog/documentation

Fixes image style
  content/en/service_management/workflows/actions_catalog/saved_actions.md
Owners: @DataDog/documentation

Syncing branch with websites-modules main
  go.mod
  go.sum
Owners: @DataDog/documentation

Regenerate client from commit 23362011 of spec repo
  .apigentools-info
  data/api/v1/full_spec.yaml
Owners: @DataDog/documentation, @DataDog/corpweb

(DOCS-5644) Add redirects to workflow actions (#18530)
  local/bin/py/build/actions/workflows.py
Owners: @DataDog/corpweb, @DataDog/documentation

fix "OTel" branding
  content/en/tracing/trace_collection/otel_instrumentation/dotnet.md
Owners: @DataDog/documentation

[websites-modules] Fix for duplicate IDs on page (#18540)
  go.mod
  go.sum
Owners: @DataDog/documentation

Generated by websites-modules
  go.mod
  go.sum
Owners: @DataDog/documentation

Update otel-custom-instrumentation.md
  layouts/shortcodes/otel-custom-instrumentation.md
Owners: @DataDog/corpweb, @DataDog/documentation

(DOCS-5647)(DOCS-5389) CSP doc fixes (#18529)
  content/en/integrations/content_security_policy_logs.md
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/faq/_index.md
  content/en/real_user_monitoring/faq/content_security_policy.md
  content/en/real_user_monitoring/session_replay/_index.md
  content/en/real_user_monitoring/session_replay/troubleshooting.md
Owners: @DataDog/documentation, @Datadog/rum-browser

Deleting translations of content/ja/real_user_monitoring/faq/_index.md
  content/ja/real_user_monitoring/faq/_index.md
Owners: @DataDog/documentation

Deleting translations of content/ja/real_user_monitoring/faq/content_security_policy.md
  content/ja/real_user_monitoring/faq/content_security_policy.md
Owners: @DataDog/documentation

fix some OpenTelemetry branding (#18543)
  content/en/tracing/trace_collection/otel_instrumentation/dotnet.md
  layouts/shortcodes/otel-custom-instrumentation.md
Owners: @DataDog/documentation, @DataDog/corpweb

instruct customers to disable track utility
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/azure.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/rds.md
  content/en/database_monitoring/setup_postgres/selfhosted.md
Owners: @DataDog/database-monitoring, @DataDog/documentation

Generated by websites-modules
  go.mod
  go.sum
Owners: @DataDog/documentation

Bump datadog-lambda-extension layer to version 44
  layouts/shortcodes/latest-lambda-layer-version.html
Owners: @DataDog/documentation

adding translations
  content/es/agent/logs/advanced_log_collection.md
Owners: @DataDog/documentation

adding translations
  content/es/agent/troubleshooting/permissions.md
Owners: @DataDog/documentation

[WEB-3712] Introduce XXL container width (#18479)
  assets/styles/_bootstrap-custom.scss
  assets/styles/pages/_global.scss
Owners: @DataDog/corpweb, @DataDog/documentation

Update azure.md
  content/en/database_monitoring/setup_sql_server/azure.md
Owners: @DataDog/database-monitoring, @DataDog/documentation

Generated by websites-modules
  go.mod
  go.sum
Owners: @DataDog/documentation

Update audit trail docs to include login method override security notification event
  content/en/account_management/audit_trail/events.md
Owners: @DataDog/documentation

Update content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/aurora.md
Owners: @DataDog/database-monitoring, @DataDog/documentation

Update content/en/database_monitoring/setup_postgres/azure.md
  content/en/database_monitoring/setup_postgres/azure.md
Owners: @DataDog/database-monitoring, @DataDog/documentation

Update content/en/database_monitoring/setup_postgres/azure.md
  content/en/database_monitoring/setup_postgres/azure.md
Owners: @DataDog/database-monitoring, @DataDog/documentation

Update content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/gcsql.md
Owners: @DataDog/database-monitoring, @DataDog/documentation

Update content/en/database_monitoring/setup_postgres/selfhosted.md
  content/en/database_monitoring/setup_postgres/selfhosted.md
Owners: @DataDog/database-monitoring, @DataDog/documentation

Update content/en/database_monitoring/setup_postgres/rds.md
  content/en/database_monitoring/setup_postgres/rds.md
Owners: @DataDog/database-monitoring, @DataDog/documentation

Update custom_metrics.md
  content/en/account_management/billing/custom_metrics.md
Owners: @DataDog/documentation
