Repository DataDog/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/documentation, @DataDog/corpweb, @DataDog/integrations-tools-and-libraries, @DataDog/serverless-product, @DataDog/database-monitoring, @DataDog/agent-shared-components

Title Update
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Owners: @DataDog/corpweb, @DataDog/documentation

(DOCS) Update quick start link
  content/en/tracing/trace_collection/dd_libraries/nodejs.md
Owners: @DataDog/documentation

Add ewma_7() to public doc
  content/en/dashboards/functions/smoothing.md
Owners: @DataDog/documentation

Bump SDK
  data/sdk_versions.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/documentation

adding translations
  content/kr/agent/basic_agent_usage/source.md
Owners: @DataDog/documentation

adding translations
  data/api/v2/translate_actions.es.json
Owners: @DataDog/corpweb, @DataDog/documentation

adding translations
  content/kr/agent/amazon_ecs/data_collected.md
Owners: @DataDog/documentation

[containers] Add note about filtering by namespace in containerd
  content/en/containers/docker/_index.md
Owners: @DataDog/documentation

adding translations
  content/es/data_security/_index.md
Owners: @DataDog/documentation

add sha256 empty string for sigv4
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/browser_tests/actions.md
  content/en/synthetics/multistep.md
Owners: @DataDog/documentation

adding translations
  content/kr/agent/guide/template_variables.md
Owners: @DataDog/documentation

[podman] Add note about daemonless
  content/en/agent/guide/podman-support-with-docker-integration.md
Owners: @DataDog/documentation

adding translations
  content/kr/agent/faq/certificate_verify_failed-error.md
Owners: @DataDog/documentation

adding translations
  content/kr/agent/_index.md
Owners: @DataDog/documentation

updating translations
  content/ja/getting_started/tagging/unified_service_tagging.md
Owners: @DataDog/documentation

updating translations
  content/ja/integrations/kubernetes_state_core.md
Owners: @DataDog/documentation

updating translations
  content/ja/real_user_monitoring/browser/monitoring_page_performance.md
Owners: @DataDog/documentation

adding translations
  content/kr/agent/guide/integration-management.md
Owners: @DataDog/documentation

adding translations
  content/kr/continuous_integration/setup_tests/agent.md
Owners: @DataDog/documentation

adding translations
  content/kr/agent/guide/autodiscovery-management.md
Owners: @DataDog/documentation

Replacing shortcode delimiters when pulling content
  local/bin/py/build/actions/pull_and_push_file.py
Owners: @DataDog/corpweb, @DataDog/documentation

adding translations
  content/kr/agent/amazon_ecs/_index.md
Owners: @DataDog/documentation

Debug
  local/bin/py/build/actions/pull_and_push_file.py
Owners: @DataDog/corpweb, @DataDog/documentation

Add disclaimer
  content/en/continuous_integration/setup_pipelines/jenkins.md
Owners: @DataDog/documentation

adding translations
  content/kr/agent/guide/agent-5-autodiscovery.md
Owners: @DataDog/documentation

Update metrics-without-limits.md
  content/en/metrics/metrics-without-limits.md
Owners: @DataDog/documentation

fix link
  content/en/tracing/trace_collection/library_config/go.md
Owners: @DataDog/documentation

updating translations
  content/fr/tracing/legacy_app_analytics/_index.md
Owners: @DataDog/documentation

updating translations
  content/fr/integrations/rapdev-snmp-profiles.md
Owners: @DataDog/documentation

updating translations
  content/fr/tracing/connect_logs_and_traces/ruby.md
Owners: @DataDog/documentation

adding translations
  content/fr/integrations/purefa.md
Owners: @DataDog/documentation

adding translations
  content/fr/tracing/profiler/enabling/ruby.md
Owners: @DataDog/documentation

updating translations
  content/fr/integrations/rapdev_backup.md
Owners: @DataDog/documentation

.github/CODEOWNERS:

*                         @DataDog/documentation

/data/                    @DataDog/corpweb @DataDog/documentation
/local/                   @DataDog/corpweb @DataDog/documentation
/layouts/                 @DataDog/corpweb @DataDog/documentation
/src/                     @DataDog/corpweb @DataDog/documentation
/config/                  @DataDog/corpweb @DataDog/documentation
/config/_default/menus/   @DataDog/documentation
package.json              @DataDog/corpweb @DataDog/documentation

# SDK versions
.github/workflows/bump_versions.yml   @DataDog/integrations-tools-and-libraries @DataDog/documentation
/data/sdk_versions.json               @DataDog/integrations-tools-and-libraries @DataDog/documentation

# Serverless

/content/en/serverless/                                 @DataDog/serverless-product @DataDog/documentation
/layouts/shortcodes/latest-lambda-layer-version.html    @DataDog/documentation

# Database Management
/content/en/database_monitoring/                        @DataDog/database-monitoring @DataDog/documentation
/layouts/partials/dbm/                                  @DataDog/database-monitoring @DataDog/documentation

# Agent Shared Component
/content/en/agent/proxy.md                              @DataDog/agent-shared-components @DataDog/documentation
