Repository DataDog/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/documentation, @DataDog/corpweb, @DataDog/integrations-tools-and-libraries, @DataDog/serverless-product, @DataDog/database-monitoring, @DataDog/agent-shared-components, @DataDog/partner-tech-solutions, @Datadog/marketplace-product-management, @DataDog/WebOps-Platform, @DataDog/cloud-cost-management-visibility, @Datadog/rum-mobile, @Datadog/rum-browser

Remove old FAQ
  content/en/integrations/content_security_policy_logs.md
  content/en/real_user_monitoring/faq/_index.md
  content/en/real_user_monitoring/faq/content_security_policy.md
Owners: @DataDog/documentation

Add doc for using OTel with Node.js (#18436)
  config/_default/menus/menus.en.yaml
  content/en/tracing/trace_collection/otel_instrumentation/nodejs.md
  layouts/partials/apm/apm-otel-instrumentation.html
Owners: @DataDog/documentation, @DataDog/corpweb

quote shell variable values (and remove trailing whitespace) (#17218)
  content/en/tracing/guide/ingestion_sampling_use_cases.md
Owners: @DataDog/documentation

(DOCS-5644) Add redirects to workflow actions
  local/bin/py/build/actions/workflows.py
Owners: @DataDog/corpweb, @DataDog/documentation

Remove Configuration Page
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/static_analysis/_index.md
  content/en/continuous_integration/static_analysis/configuration.md
Owners: @DataDog/documentation

DOCS-4946 update daemonset instructions (#18526)
  content/en/containers/guide/kubernetes_daemonset.md
Owners: @DataDog/documentation

Translation Pipeline PR (#18505)
  content/fr/continuous_testing/cicd_integrations/_index.md
  content/fr/continuous_testing/testing_tunnel.md
  content/fr/data_security/synthetics.md
  content/fr/real_user_monitoring/connect_rum_and_traces/_index.md
Owners: @DataDog/documentation

updating translations
  content/ja/getting_started/application/_index.md
Owners: @DataDog/documentation

updating translations
  content/ja/getting_started/tagging/assigning_tags.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/guide/suppress-alert-with-downtimes.md
Owners: @DataDog/documentation

updating translations
  content/ja/database_monitoring/setup_mysql/gcsql.md
Owners: @DataDog/documentation

updating translations
  content/ja/integrations/mysql.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/guide/prevent-alerts-from-monitors-that-were-in-downtime.md
Owners: @DataDog/documentation

updating translations
  content/ja/security/cspm/custom_rules/_index.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/guide/create-monitor-dependencies.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/guide/reduce-alert-flapping.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/types/event.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/types/custom_check.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/types/metric.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/types/integration.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/types/process_check.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/types/error_tracking.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/types/network.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/types/outlier.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/types/process.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/types/host.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/types/composite.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/types/real_user_monitoring.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/types/anomaly.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/types/log.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/types/ci.md
Owners: @DataDog/documentation

updating translations
  content/ja/monitors/types/apm.md
Owners: @DataDog/documentation

updating translations
  content/ja/security/security_signal_management/_index.md
Owners: @DataDog/documentation

updating translations
  content/ja/agent/guide/_index.md
Owners: @DataDog/documentation

updating translations
  content/ja/security/cspm/setup.md
Owners: @DataDog/documentation

updating translations
  content/ja/serverless/libraries_integrations/plugin.md
Owners: @DataDog/documentation

updating translations
  content/ja/security/cloud_workload_security/setup.md
Owners: @DataDog/documentation

updating translations
  content/ja/integrations/amazon_event_bridge.md
Owners: @DataDog/documentation

updating translations
  content/ja/serverless/azure_app_services/azure_app_services_linux.md
Owners: @DataDog/documentation

updating translations
  content/ja/synthetics/api_tests/ssl_tests.md
Owners: @DataDog/documentation

.github/CODEOWNERS:

*                         @DataDog/documentation

/assets/                  @DataDog/corpweb @DataDog/documentation
/data/                    @DataDog/corpweb @DataDog/documentation
/local/                   @DataDog/corpweb @DataDog/documentation
/layouts/                 @DataDog/corpweb @DataDog/documentation
/src/                     @DataDog/corpweb @DataDog/documentation
/config/                  @DataDog/corpweb @DataDog/documentation
/config/_default/menus/   @DataDog/documentation
package.json              @DataDog/corpweb @DataDog/documentation

# SDK versions
.github/workflows/bump_versions.yml   @DataDog/integrations-tools-and-libraries @DataDog/documentation
/data/sdk_versions.json               @DataDog/integrations-tools-and-libraries @DataDog/documentation

# Serverless

/content/en/serverless/                                 @DataDog/serverless-product @DataDog/documentation
/layouts/shortcodes/latest-lambda-layer-version.html    @DataDog/documentation

# Database Management
/content/en/database_monitoring/                        @DataDog/database-monitoring @DataDog/documentation
/layouts/partials/dbm/                                  @DataDog/database-monitoring @DataDog/documentation

# Agent Shared Component
/content/en/agent/proxy.md                              @DataDog/agent-shared-components @DataDog/documentation

# Partners
/content/en/partners/                                   @DataDog/partner-tech-solutions @DataDog/documentation

# Marketplace

/content/en/developers/integrations/agent_integration/                     @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/api_integration/                       @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/marketplace_offering/                  @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/check_references/                      @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/create_a_tile/                         @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration-assets.md                                  @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration-assets-reference.md                        @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration_categories.md                              @Datadog/marketplace-product-management @DataDog/documentation

# Websites Platform (Devops)
.github/workflows                                       @DataDog/WebOps-Platform
.gitlab-ci.yml                                          @DataDog/WebOps-Platform
Makefile                                                @DataDog/WebOps-Platform
translate.yaml                                          @DataDog/WebOps-Platform
.translate                                              @DataDog/WebOps-Platform
docker-compose-docs.yml                                 @DataDog/WebOps-Platform
.htmltest.yml                                           @DataDog/WebOps-Platform
datadog-ci.preview.json                                 @DataDog/WebOps-Platform
general.preview.synthetics.json                         @DataDog/WebOps-Platform

# Cloud Cost Management
documentation/content/en/cloud_cost_management/_index.md         @DataDog/cloud-cost-management-visibility @DataDog/documentation

# Log collection
content/en/logs/log_collection/android.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/flutter.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/ios.md                            @Datadog/rum-mobile @DataDog/documentation

# Traces
content/en/tracing/trace_collection/dd_libraries/android.md     @Datadog/rum-mobile @DataDog/documentation
content/en/tracing/trace_collection/dd_libraries/ios.md         @Datadog/rum-mobile @DataDog/documentation

# Mobile SDK
content/en/real_user_monitoring/android/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/flutter/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/ios/                            @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/reactnative/                    @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/roku/                           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/android.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/expo.md          @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/flutter.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/ios.md           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/reactnative.md   @Datadog/rum-mobile @DataDog/documentation

# Browser SDK
content/en/real_user_monitoring/browser/                        @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/guide/                          @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/session_replay/                 @Datadog/rum-browser @DataDog/documentation
content/en/logs/log_collection/javascript.md                    @Datadog/rum-browser @DataDog/documentation
content/en/logs/error_tracking/browser_and_mobile.md            @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/error_tracking/browser.md       @Datadog/rum-browser @DataDog/documentation
