Repository DataDog/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/documentation, @DataDog/corpweb, @DataDog/integrations-tools-and-libraries, @DataDog/serverless-product, @DataDog/database-monitoring, @DataDog/agent-shared-components, @DataDog/agent-integrations, @Datadog/marketplace-product-management, @DataDog/WebOps-Platform, @DataDog/cloud-cost-management-visibility, @Datadog/rum-mobile, @DataDog/tracing-dotnet, @Datadog/rum-browser, @DataDog/observability-pipelines-worker-admin, @Datadog/synthetics-app, @Datadog/documentation, @Datadog/synthetics-ct, @Datadog/synthetics-mobile, @Datadog/ci-app-libraries, @Datadog/ci-app-backend, @Datadog/static-analysis

.github/CODEOWNERS:

*                         @DataDog/documentation

/assets/                  @DataDog/corpweb @DataDog/documentation
/data/                    @DataDog/corpweb @DataDog/documentation
/data/api/                @DataDog/documentation
/local/                   @DataDog/corpweb @DataDog/documentation
/layouts/                 @DataDog/corpweb @DataDog/documentation
/src/                     @DataDog/corpweb @DataDog/documentation
/config/                  @DataDog/corpweb @DataDog/documentation
/config/_default/menus/   @DataDog/documentation
package.json              @DataDog/corpweb @DataDog/documentation
go.mod                    @DataDog/corpweb @DataDog/documentation
go.sum                    @DataDog/corpweb @DataDog/documentation

# SDK versions
.github/workflows/bump_versions.yml   @DataDog/integrations-tools-and-libraries @DataDog/documentation
/data/sdk_versions.json               @DataDog/integrations-tools-and-libraries @DataDog/documentation

# Serverless

/content/en/serverless/                                 @DataDog/serverless-product @DataDog/documentation
/layouts/shortcodes/latest-lambda-layer-version.html    @DataDog/documentation

# Database Management
/content/en/database_monitoring/                        @DataDog/database-monitoring @DataDog/documentation
/layouts/partials/dbm/                                  @DataDog/database-monitoring @DataDog/documentation

# Agent Shared Component
/content/en/agent/proxy.md                              @DataDog/agent-shared-components @DataDog/documentation

# Agent-integration-tools
content/en/developers/integrations/agent_integration.md                         @DataDog/agent-integrations @DataDog/documentation
content/en/developers/integrations/python.md                                    @DataDog/agent-integrations @DataDog/documentation
content/en/developers/integrations/guide/legacy.md                              @DataDog/agent-integrations @DataDog/documentation

# Marketplace
content/en/developers/integrations/api_integration.md                           @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/log_integration.md                           @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/marketplace_offering.md                      @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/create_a_tile.md                             @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/oauth_for_integrations.md                    @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/create_an_integration_dashboard.md           @Datadog/marketplace-product-management @DataDog/agent-integrations @DataDog/documentation
content/en/developers/integrations/create-an-integration-recommended-monitor.md @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/check_references.md                          @Datadog/marketplace-product-management @DataDog/agent-integrations @DataDog/documentation

layouts/shortcodes/integration-assets.md                                    @Datadog/marketplace-product-management @DataDog/documentation
layouts/shortcodes/integration-assets-reference.md                          @Datadog/marketplace-product-management @DataDog/documentation
layouts/shortcodes/integration_categories.md                                @Datadog/marketplace-product-management @DataDog/documentation

# Websites Platform (Devops)
.github/workflows                                       @DataDog/WebOps-Platform
.gitlab-ci.yml                                          @DataDog/WebOps-Platform
Makefile                                                @DataDog/WebOps-Platform
translate.yaml                                          @DataDog/WebOps-Platform
.translate                                              @DataDog/WebOps-Platform
docker-compose-docs.yml                                 @DataDog/WebOps-Platform
.htmltest.yml                                           @DataDog/WebOps-Platform
datadog-ci.preview.json                                 @DataDog/WebOps-Platform
general.preview.synthetics.json                         @DataDog/WebOps-Platform

# Cloud Cost Management
documentation/content/en/cloud_cost_management/*.md              @DataDog/cloud-cost-management-visibility @DataDog/documentation

# Log collection
content/en/logs/log_collection/android.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/flutter.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/ios.md                            @Datadog/rum-mobile @DataDog/documentation

# Traces
content/en/tracing/trace_collection/dd_libraries/android.md     @Datadog/rum-mobile @DataDog/documentation
content/en/tracing/trace_collection/dd_libraries/ios.md         @Datadog/rum-mobile @DataDog/documentation
content/en/tracing/**/*dotnet*                                  @DataDog/tracing-dotnet @DataDog/documentation

# Mobile SDK
content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/android/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/flutter/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/ios/                            @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/reactnative/                    @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/roku/                           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/android.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/expo.md          @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/flutter.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/ios.md           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/reactnative.md   @Datadog/rum-mobile @DataDog/documentation

# Browser SDK
content/en/real_user_monitoring/browser/                        @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/guide/                          @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/session_replay/                 @Datadog/rum-browser @DataDog/documentation
content/en/logs/log_collection/javascript.md                    @Datadog/rum-browser @DataDog/documentation
content/en/logs/error_tracking/browser_and_mobile.md            @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/error_tracking/browser.md       @Datadog/rum-browser @DataDog/documentation

# Observability Pipelines
static/resources/yaml/observability_pipelines/                  @DataDog/observability-pipelines-worker-admin  @DataDog/documentation

# Synthetic Monitoring, Continuous Testing, Mobile Application Testing

content/en/synthetics/*.md                                      @Datadog/synthetics-app @Datadog/documentation
content/en/continuous_testing/*.md                              @Datadog/synthetics-ct @Datadog/documentation
content/en/mobile_app_testing/*.md                              @Datadog/synthetics-mobile @Datadog/documentation

# Software Delivery

content/en/continuous_integration/tests/*.md          @Datadog/ci-app-libraries @Datadog/documentation
content/en/continuous_integration/pipelines/*.md      @Datadog/ci-app-backend @Datadog/documentation
content/en/static_analysis/*.md                       @Datadog/static-analysis @Datadog/documentation
content/en/static_analysis/rules/_index.md            @Datadog/static-analysis @Datadog/documentation
content/en/quality_gates/_index.md                    @Datadog/ci-app-backend @Datadog/documentation
content/en/dora_metrics/_index.md                     @Datadog/ci-app-backend @Datadog/documentation

[DOCS-6373] ASM Signals Explorer doc (#21001)
  config/_default/menus/menus.en.yaml
  content/en/security/application_security/threats/_index.md
  content/en/security/application_security/threats/security_signals.md
  static/images/security/application_security/threats/security_signals/appsec-threat-signals.png
Owners: @DataDog/documentation

update content (#21257)
  content/en/security/suppressions.md
Owners: @DataDog/documentation

Index Page Updates + Fix Aliases
  config/_default/menus/menus.en.yaml
  content/en/continuous_testing/_index.md
  content/en/continuous_testing/environments/_index.md
Owners: @DataDog/documentation, @Datadog/synthetics-ct, @Datadog/documentation

Add Azure blog link
  content/en/service_management/workflows/_index.md
Owners: @DataDog/documentation

Doc Review
  content/en/continuous_testing/_index.md
  content/en/continuous_testing/environments/_index.md
  content/en/continuous_testing/environments/multiple_env.md
  content/en/continuous_testing/environments/proxy_firewall_vpn.md
Owners: @Datadog/synthetics-ct, @Datadog/documentation, @DataDog/documentation

Header Nit
  content/en/continuous_testing/environments/_index.md
Owners: @DataDog/documentation

Add RUM to Bits AI docs
  content/en/bits_ai/_index.md
  content/en/bits_ai/query_examples.md
  static/images/bits_ai/rum-ios-crashes-query.png
Owners: @DataDog/documentation

Link Nit
  content/en/monitors/types/process.md
Owners: @DataDog/documentation

Remove Link
  content/en/monitors/types/process.md
Owners: @DataDog/documentation

Remove beta label from RUM electron page
  content/en/real_user_monitoring/guide/monitor-electron-applications-using-browser-sdk.md
Owners: @Datadog/rum-browser, @DataDog/documentation

forgot to commit lol
  config/_default/menus/menus.en.yaml
Owners: @DataDog/documentation

updating translations
  content/ja/observability_pipelines/guide/custom-metrics-governance.md
Owners: @DataDog/documentation

updating translations
  content/ja/observability_pipelines/guide/custom-metrics-governance.md
Owners: @DataDog/documentation

Add missing link
  content/ko/containers/amazon_ecs/_index.md
Owners: @DataDog/documentation

Fix typo
  content/ko/containers/amazon_ecs/_index.md
Owners: @DataDog/documentation

PR Feedback
  content/en/continuous_delivery/deployments/_index.md
Owners: @DataDog/documentation

PR Feedback
  content/en/continuous_delivery/deployments/_index.md
Owners: @DataDog/documentation

Addressing PR feedback
  content/en/continuous_delivery/deployments/ciproviders.md
Owners: @DataDog/documentation

Add std dev regression facets
  content/en/continuous_integration/explorer/_index.md
Owners: @DataDog/documentation

add clarification
  content/en/tests/_index.md
Owners: @DataDog/documentation

apply recommendation
  content/en/tests/_index.md
Owners: @DataDog/documentation

Document gradle plugin version option in expo
  content/en/real_user_monitoring/error_tracking/expo.md
Owners: @Datadog/rum-mobile, @DataDog/documentation

[s8s] Update verbosity option description
  content/en/synthetics/private_locations/configuration.md
Owners: @DataDog/documentation
