Repository DataDog/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/documentation, @DataDog/corpweb, @DataDog/WebOps-Platform, @Datadog/documentation, @DataDog/api-clients, @DataDog/serverless-product, @DataDog/database-monitoring, @DataDog/agent-shared-components, @DataDog/agent-integrations, @Datadog/marketplace-product-management, @DataDog/cloud-cost-management-visibility, @Datadog/rum-mobile, @DataDog/tracing-dotnet, @Datadog/rum-browser, @DataDog/observability-pipelines-worker-admin, @Datadog/synthetics-app, @Datadog/synthetics-ct, @Datadog/synthetics-mobile, @Datadog/ci-app-libraries, @Datadog/ci-app-backend, @Datadog/static-analysis

.github/CODEOWNERS:

*                         @DataDog/documentation

# Corpweb
assets/                           @DataDog/corpweb
data/                             @DataDog/corpweb
layouts/                          @DataDog/corpweb
config/                           @DataDog/corpweb
package.json                      @DataDog/corpweb
go.mod                            @DataDog/corpweb
go.sum                            @DataDog/corpweb
i18n/                             @DataDog/corpweb
archetypes/                       @DataDog/corpweb

# Websites Platform
babel.config.js                                         @DataDog/WebOps-Platform
data/reference/                                         @DataDog/WebOps-Platform
datadog-ci.preview.json                                 @DataDog/WebOps-Platform
docker-compose-docs.yml                                 @DataDog/WebOps-Platform
.general.preview.synthetics.json                        @DataDog/WebOps-Platform
.gitattributes                                          @DataDog/WebOps-Platform
.gitignore                                              @DataDog/WebOps-Platform
.github/                                                @DataDog/WebOps-Platform
.gitlab-ci.yml                                          @DataDog/WebOps-Platform
.htmltest.yml                                           @DataDog/WebOps-Platform
jest.config.js                                          @DataDog/WebOps-Platform
.local/                                                 @DataDog/WebOps-Platform
Makefile                                                @DataDog/WebOps-Platform
Makefile.config.example                                 @DataDog/WebOps-Platform
.nvmrc                                                  @DataDog/WebOps-Platform
postcss.config.js                                       @DataDog/WebOps-Platform
.prettierignore                                         @DataDog/WebOps-Platform
prettier.config.js                                      @DataDog/WebOps-Platform
static-analysis.datadog.yml                             @DataDog/WebOps-Platform
.translate                                              @DataDog/WebOps-Platform
translate.yaml                                          @DataDog/WebOps-Platform
yarn.lock                                               @DataDog/WebOps-Platform
.yarnrc.yml                                             @DataDog/WebOps-Platform

# Scoped Docs/WebOps
.github/                                                      @DataDog/WebOps-Platform
/data/api/                                                    @DataDog/documentation
/config/_default/menus/                                       @DataDog/documentation
.github/ISSUE_TEMPLATE                                        @DataDog/documentation
.github/PULL_REQUEST_TEMPLATE.md                              @DataDog/documentation
README.md                                                     @DataDog/documentation
local/bin/py/vale                                             @DataDog/documentation
.github/CODEOWNERS                                            @DataDog/WebOps-Platform @DataDog/documentation
.github/workflows/check_cache_value.yml                       @DataDog/documentation
.github/workflows/code-freeze.yml                             @DataDog/documentation
.github/workflows/gif_check.yml                               @DataDog/documentation
.github/workflows/preview_link.yml                            @DataDog/documentation
.github/workflows/vale_linter.yml                             @DataDog/documentation
local/bin/py/check_cache_values.py                            @DataDog/documentation
local/bin/py/integration-finder.py                            @DataDog/documentation
local/bin/py/missing_metrics.py                               @DataDog/documentation
local/bin/py/preview_links.py                                 @DataDog/documentation
local/bin/py/preview-links-template.mako                      @DataDog/documentation
local/bin/py/build/configurations/pull_config_preview.yaml    @DataDog/WebOps-Platform @DataDog/documentation
local/bin/py/build/configurations/pull_config.yaml            @DataDog/WebOps-Platform @DataDog/documentation
data/sdk_versions.json                                        @Datadog/documentation

# SDK versions
.github/workflows/bump_versions.yml   @DataDog/api-clients @DataDog/documentation @DataDog/WebOps-Platform
/data/sdk_versions.json               @DataDog/api-clients @DataDog/documentation

# Serverless

/content/en/serverless/                                 @DataDog/serverless-product @DataDog/documentation
/layouts/shortcodes/latest-lambda-layer-version.html    @DataDog/documentation

# Database Management
/content/en/database_monitoring/                        @DataDog/database-monitoring @DataDog/documentation
/layouts/partials/dbm/                                  @DataDog/database-monitoring @DataDog/documentation

# Agent Shared Component
/content/en/agent/proxy.md                              @DataDog/agent-shared-components @DataDog/documentation

# Agent-integration-tools
content/en/developers/integrations/agent_integration.md                         @DataDog/agent-integrations @DataDog/documentation
content/en/developers/integrations/python.md                                    @DataDog/agent-integrations @DataDog/documentation
content/en/developers/integrations/guide/legacy.md                              @DataDog/agent-integrations @DataDog/documentation

# Marketplace
content/en/developers/integrations/api_integration.md                           @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/log_integration.md                           @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/marketplace_offering.md                      @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/create_a_tile.md                             @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/oauth_for_integrations.md                    @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/create_an_integration_dashboard.md           @Datadog/marketplace-product-management @DataDog/agent-integrations @DataDog/documentation
content/en/developers/integrations/create-an-integration-recommended-monitor.md @Datadog/marketplace-product-management @DataDog/documentation
content/en/developers/integrations/check_references.md                          @Datadog/marketplace-product-management @DataDog/agent-integrations @DataDog/documentation

layouts/shortcodes/integration-assets.md                                    @Datadog/marketplace-product-management @DataDog/documentation
layouts/shortcodes/integration-assets-reference.md                          @Datadog/marketplace-product-management @DataDog/documentation
layouts/shortcodes/integration_categories.md                                @Datadog/marketplace-product-management @DataDog/documentation

# Cloud Cost Management
documentation/content/en/cloud_cost_management/*.md              @DataDog/cloud-cost-management-visibility @DataDog/documentation

# Log collection
content/en/logs/log_collection/android.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/flutter.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/ios.md                            @Datadog/rum-mobile @DataDog/documentation

# Traces
content/en/tracing/trace_collection/dd_libraries/android.md     @Datadog/rum-mobile @DataDog/documentation
content/en/tracing/trace_collection/dd_libraries/ios.md         @Datadog/rum-mobile @DataDog/documentation
content/en/tracing/**/*dotnet*                                  @DataDog/tracing-dotnet @DataDog/documentation

# Mobile SDK
content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/android/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/flutter/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/ios/                            @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/reactnative/                    @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/roku/                           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/mobile_and_tv_monitoring/session_replay/mobile                 @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/android.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/expo.md          @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/flutter.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/ios.md           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/reactnative.md   @Datadog/rum-mobile @DataDog/documentation

# Browser SDK
content/en/real_user_monitoring/browser/                        @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/guide/                          @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/session_replay/browser          @Datadog/rum-browser @DataDog/documentation
content/en/logs/log_collection/javascript.md                    @Datadog/rum-browser @DataDog/documentation
content/en/logs/error_tracking/browser_and_mobile.md            @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/error_tracking/browser.md       @Datadog/rum-browser @DataDog/documentation

# Observability Pipelines
static/resources/yaml/observability_pipelines/                  @DataDog/observability-pipelines-worker-admin  @DataDog/documentation

# Synthetic Monitoring, Continuous Testing, Mobile Application Testing

content/en/synthetics/*.md                                      @Datadog/synthetics-app @Datadog/documentation
content/en/continuous_testing/*.md                              @Datadog/synthetics-ct @Datadog/documentation
content/en/mobile_app_testing/*.md                              @Datadog/synthetics-mobile @Datadog/documentation

# Software Delivery

content/en/tests/                                 @Datadog/ci-app-libraries @Datadog/documentation
content/en/intelligent_test_runner/               @Datadog/ci-app-libraries @Datadog/documentation
content/en/continuous_integration/                @Datadog/ci-app-backend @Datadog/documentation
content/en/continuous_delivery/                   @Datadog/ci-app-backend @Datadog/documentation
content/en/dora_metrics/                          @Datadog/ci-app-backend @Datadog/documentation
content/en/code_analysis/                         @Datadog/static-analysis @Datadog/documentation
content/en/quality_gates/                         @Datadog/ci-app-backend @Datadog/documentation

remove more extra s
  content/en/observability_pipelines/log_volume_control/_index.md
  content/en/observability_pipelines/processors/_index.md
  content/en/observability_pipelines/sources/_index.md
Owners: @DataDog/documentation

Bump datadog-lambda-extension layer to version 63 (#24516)
  layouts/shortcodes/latest-lambda-layer-version.html
Owners: @DataDog/documentation

Update ios.md (#24531)
  content/en/real_user_monitoring/error_tracking/mobile/ios.md
Owners: @DataDog/documentation

the start of it
  config/_default/menus/main.en.yaml
  content/en/data_security/data_retention_periods.md
  content/en/developers/guide/_index.md
  go.mod
  go.sum
Owners: @DataDog/documentation, @DataDog/corpweb

change go mod sum back
  go.mod
  go.sum
Owners: @DataDog/corpweb

Add the site-region shortcode
  content/en/markdoc_testing/primary_colors.mdoc
  markdoc/markdoc-hugo-integration/src/components/siteRegion.ts
  markdoc/markdoc-hugo-integration/src/config.ts
Owners: @DataDog/documentation
