Repository DataDog/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/documentation, @DataDog/corpweb, @DataDog/integrations-tools-and-libraries, @DataDog/serverless-product, @DataDog/database-monitoring, @DataDog/agent-shared-components, @DataDog/partner-tech-solutions, @Datadog/marketplace-product-management, @DataDog/WebOps-Platform, @DataDog/cloud-cost-management-visibility, @Datadog/rum-mobile, @Datadog/rum-browser

.github/CODEOWNERS:

*                         @DataDog/documentation

/assets/                  @DataDog/corpweb @DataDog/documentation
/data/                    @DataDog/corpweb @DataDog/documentation
/local/                   @DataDog/corpweb @DataDog/documentation
/layouts/                 @DataDog/corpweb @DataDog/documentation
/src/                     @DataDog/corpweb @DataDog/documentation
/config/                  @DataDog/corpweb @DataDog/documentation
/config/_default/menus/   @DataDog/documentation
package.json              @DataDog/corpweb @DataDog/documentation

# SDK versions
.github/workflows/bump_versions.yml   @DataDog/integrations-tools-and-libraries @DataDog/documentation
/data/sdk_versions.json               @DataDog/integrations-tools-and-libraries @DataDog/documentation

# Serverless

/content/en/serverless/                                 @DataDog/serverless-product @DataDog/documentation
/layouts/shortcodes/latest-lambda-layer-version.html    @DataDog/documentation

# Database Management
/content/en/database_monitoring/                        @DataDog/database-monitoring @DataDog/documentation
/layouts/partials/dbm/                                  @DataDog/database-monitoring @DataDog/documentation

# Agent Shared Component
/content/en/agent/proxy.md                              @DataDog/agent-shared-components @DataDog/documentation

# Partners
/content/en/partners/                                   @DataDog/partner-tech-solutions @DataDog/documentation

# Marketplace

/content/en/developers/integrations/agent_integration/                     @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/api_integration/                       @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/marketplace_offering/                  @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/check_references/                      @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/create_a_tile/                         @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration-assets.md                                  @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration-assets-reference.md                        @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration_categories.md                              @Datadog/marketplace-product-management @DataDog/documentation

# Websites Platform (Devops)
.github/workflows                                       @DataDog/WebOps-Platform
.gitlab-ci.yml                                          @DataDog/WebOps-Platform
Makefile                                                @DataDog/WebOps-Platform
translate.yaml                                          @DataDog/WebOps-Platform
.translate                                              @DataDog/WebOps-Platform
docker-compose-docs.yml                                 @DataDog/WebOps-Platform
.htmltest.yml                                           @DataDog/WebOps-Platform
datadog-ci.preview.json                                 @DataDog/WebOps-Platform
general.preview.synthetics.json                         @DataDog/WebOps-Platform

# Cloud Cost Management
documentation/content/en/cloud_cost_management/_index.md         @DataDog/cloud-cost-management-visibility @DataDog/documentation

# Log collection
content/en/logs/log_collection/android.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/flutter.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/ios.md                            @Datadog/rum-mobile @DataDog/documentation

# Traces
content/en/tracing/trace_collection/dd_libraries/android.md     @Datadog/rum-mobile @DataDog/documentation
content/en/tracing/trace_collection/dd_libraries/ios.md         @Datadog/rum-mobile @DataDog/documentation

# Mobile SDK
content/en/real_user_monitoring/android/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/flutter/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/ios/                            @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/reactnative/                    @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/roku/                           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/android.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/expo.md          @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/flutter.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/ios.md           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/reactnative.md   @Datadog/rum-mobile @DataDog/documentation

# Browser SDK
content/en/real_user_monitoring/browser/                        @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/guide/                          @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/session_replay/                 @Datadog/rum-browser @DataDog/documentation
content/en/logs/log_collection/javascript.md                    @Datadog/rum-browser @DataDog/documentation
content/en/logs/error_tracking/browser_and_mobile.md            @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/error_tracking/browser.md       @Datadog/rum-browser @DataDog/documentation

Update resource_page.md docs
  content/en/tracing/services/resource_page.md
Owners: @DataDog/documentation

Ruby: Remove doc for unsupported DD_TRACE_SAMPLING_RULES
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
Owners: @DataDog/documentation

[DBM] Instruct customers to disable track utility (#18546)
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/azure.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/rds.md
  content/en/database_monitoring/setup_postgres/selfhosted.md
Owners: @DataDog/database-monitoring, @DataDog/documentation

updating translations
  content/ja/tracing/trace_explorer/search.md
Owners: @DataDog/documentation

updating translations
  content/ja/agent/troubleshooting/permissions.md
Owners: @DataDog/documentation

update funnel analysis ss
  content/en/real_user_monitoring/funnel_analysis/_index.md
  static/images/real_user_monitoring/funnel_analysis/funnel-analysis-funnels-tab-updated.png
Owners: @DataDog/documentation

updating translations
  content/ja/agent/remote_config/_index.md
Owners: @DataDog/documentation

edit the kubernetes integration page
  content/en/integrations/kubernetes.md
Owners: @DataDog/documentation

update UI text
  content/en/real_user_monitoring/funnel_analysis/_index.md
Owners: @DataDog/documentation

updated go and java steps
  content/en/security/application_security/enabling/compatibility/go.md
  content/en/security/application_security/enabling/compatibility/java.md
Owners: @DataDog/documentation

remove extra space
  content/en/real_user_monitoring/funnel_analysis/_index.md
Owners: @DataDog/documentation

updating translations
  data/api/v2/translate_actions.ja.json
Owners: @DataDog/corpweb, @DataDog/documentation

updating translations
  content/ja/tracing/other_telemetry/connect_logs_and_traces/java.md
Owners: @DataDog/documentation

updating translations
  content/ja/network_monitoring/devices/profiles.md
Owners: @DataDog/documentation

new branch name and lots of updates
  content/en/getting_started/application_security/_index.md
  static/images/getting_started/appsec/ASM_Tracing_Configuration.png
  static/images/getting_started/appsec/ASM_activation_service_selection.png
Owners: @DataDog/documentation

update video in alerting with rum
  content/en/real_user_monitoring/guide/alerting-with-rum.md
  static/images/real_user_monitoring/guide/alerting-with-rum/export-to-monitor-1.mp4
  static/images/real_user_monitoring/guide/alerting-with-rum/export-to-monitor-3.mp4
Owners: @Datadog/rum-browser, @DataDog/documentation

use rum and sr for product analytics
  content/en/real_user_monitoring/guide/rum-for-product-analytics.md
  static/images/real_user_monitoring/guide/rum-for-product-analytics/explorer_funnel_export-1.png
  static/images/real_user_monitoring/guide/rum-for-product-analytics/explorer_saved_view-1.mp4
Owners: @Datadog/rum-browser, @DataDog/documentation

New RUM navigation - Session Replay & Funnel Analysis (#17878)
  content/en/real_user_monitoring/funnel_analysis/_index.md
  content/en/real_user_monitoring/session_replay/developer_tools.md
  static/images/real_user_monitoring/funnel_analysis/funnel-analysis-funnels-tab-new.png
  static/images/real_user_monitoring/funnel_analysis/funnel-analysis-funnels-tab-updated.png
  static/images/real_user_monitoring/funnel_analysis/funnel-analysis-funnels-tab.png
  static/images/real_user_monitoring/session_replay/dev_tools/dev-tools-1.png
  static/images/real_user_monitoring/session_replay/dev_tools/dev-tools.png
  static/images/real_user_monitoring/session_replay/dev_tools/performance-filters-1.mp4
Owners: @DataDog/documentation, @Datadog/rum-browser

understanding the rum event hierarchy
  content/en/real_user_monitoring/guide/understanding-the-rum-event-hierarchy.md
  static/images/real_user_monitoring/guide/understanding-rum-event-hierarchy/rum-sample-search-checkoutviewcontroller-1.png
Owners: @Datadog/rum-browser, @DataDog/documentation

Update content/en/tracing/services/resource_page.md
  content/en/tracing/services/resource_page.md
Owners: @DataDog/documentation

rephrasing sentence in advanced log collection (#18491)
  content/en/agent/logs/advanced_log_collection.md
Owners: @DataDog/documentation

adding go, node, java
  content/en/security/application_security/enabling/compatibility/go.md
  content/en/security/application_security/enabling/compatibility/java.md
  content/en/security/application_security/enabling/compatibility/nodejs.md
Owners: @DataDog/documentation

Update content/en/containers/cluster_agent/admission_controller.md
  content/en/containers/cluster_agent/admission_controller.md
Owners: @DataDog/documentation

Update content/en/tracing/services/resource_page.md
  content/en/tracing/services/resource_page.md
Owners: @DataDog/documentation

Update content/en/tracing/services/resource_page.md
  content/en/tracing/services/resource_page.md
Owners: @DataDog/documentation

Apply suggestions from code review
  content/en/infrastructure/_index.md
  content/en/infrastructure/containers/_index.md
  content/en/infrastructure/containers/configuration.md
  content/en/infrastructure/hostmap.md
Owners: @DataDog/documentation

Update content/en/tracing/services/resource_page.md
  content/en/tracing/services/resource_page.md
Owners: @DataDog/documentation

DOCS-4883 Updates Error Tracking Screenshots (#17544)
  content/en/logs/error_tracking/_index.md
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/real_user_monitoring/error_tracking/explorer.md
  content/en/tracing/error_tracking/_index.md
  content/en/tracing/error_tracking/explorer.md
  static/images/real_user_monitoring/error_tracking/error_tracking_page.png
  static/images/real_user_monitoring/error_tracking/export_to_monitor.mp4
  static/images/real_user_monitoring/error_tracking/page.png
  static/images/real_user_monitoring/error_tracking/rum_error_tracking.png
Owners: @DataDog/documentation

adding more
  content/en/containers/kubernetes/data_collected.md
Owners: @DataDog/documentation

Update content/en/tracing/services/resource_page.md
  content/en/tracing/services/resource_page.md
Owners: @DataDog/documentation

Update content/en/tracing/services/resource_page.md
  content/en/tracing/services/resource_page.md
Owners: @DataDog/documentation

editing config
  content/en/infrastructure/containers/configuration.md
Owners: @DataDog/documentation

Updated resource page documentation to include new feature (#18557)
  content/en/tracing/services/resource_page.md
  static/images/tracing/visualization/resource/dependency-map-navigator.png
  static/images/tracing/visualization/resource/dependency-map-requests.png
  static/images/tracing/visualization/resource/resource-page.png
  static/images/tracing/visualization/service/dependency-map-navigator.png
  static/images/tracing/visualization/service/resource-page.png
Owners: @DataDog/documentation

Remove outdated docs About Azure custom tags (#18533)
  content/en/continuous_integration/pipelines/azure.md
Owners: @DataDog/documentation

update all mobile vitals imgs
  content/en/real_user_monitoring/android/mobile_vitals.md
  content/en/real_user_monitoring/flutter/mobile_vitals.md
  content/en/real_user_monitoring/ios/mobile_vitals.md
  content/en/real_user_monitoring/reactnative/mobile_vitals.md
  static/images/real_user_monitoring/android/android_mobile_vitals-1.png
  static/images/real_user_monitoring/android/android_mobile_vitals.png
  static/images/real_user_monitoring/android/mobile-performance-dashboard-1.png
  static/images/real_user_monitoring/android/mobile-performance-dashboard-3.png
  static/images/real_user_monitoring/android/mobile-performance-dashboard.png
  static/images/real_user_monitoring/flutter/flutter-mobile-vitals-1.png
  static/images/real_user_monitoring/flutter/flutter-mobile-vitals.png
  static/images/real_user_monitoring/flutter/flutter-performance-overview.png
  static/images/real_user_monitoring/ios/ios-performance-dashboard.png
  static/images/real_user_monitoring/ios/ios_mobile_vitals-2.png
  static/images/real_user_monitoring/ios/ios_mobile_vitals-3.png
  static/images/real_user_monitoring/react_native/reactnative_mobile_vitals-1.png
  static/images/real_user_monitoring/react_native/reactnative_mobile_vitals-2.png
Owners: @Datadog/rum-mobile, @DataDog/documentation

Remove (beta) note from logs collection for junitxml and gitlab (#18534)
  content/en/continuous_integration/pipelines/gitlab.md
  content/en/continuous_integration/tests/junit_upload.md
Owners: @DataDog/documentation

Updated RUM mobile images and text (#18042)
  content/en/real_user_monitoring/android/mobile_vitals.md
  content/en/real_user_monitoring/flutter/mobile_vitals.md
  content/en/real_user_monitoring/ios/mobile_vitals.md
  content/en/real_user_monitoring/reactnative/mobile_vitals.md
  static/images/real_user_monitoring/android/android-mobile-vitals-new.png
  static/images/real_user_monitoring/android/android_mobile_vitals-1.png
  static/images/real_user_monitoring/android/mobile-performance-dashboard-3.png
  static/images/real_user_monitoring/android/mobile_vitals-1.png
  static/images/real_user_monitoring/flutter/flutter-mobile-vitals-1.png
  static/images/real_user_monitoring/flutter/flutter-mobile-vitals-new.png
  static/images/real_user_monitoring/flutter/flutter-performance-overview.png
  static/images/real_user_monitoring/funnel_analysis/funnel-analysis-funnels-tab.jpg
  static/images/real_user_monitoring/ios/ios-mobile-vitals-new.png
  static/images/real_user_monitoring/ios/ios-performance-dashboard.png
  static/images/real_user_monitoring/ios/ios_mobile_vitals-3.png
  static/images/real_user_monitoring/react_native/reactnative_mobile_vitals-1.png
Owners: @Datadog/rum-mobile, @DataDog/documentation

nhien feedback
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/dashboards/_index.md
Owners: @DataDog/documentation

update explorer link
  content/en/real_user_monitoring/explorer/_index.md
Owners: @DataDog/documentation

Deleting translations of content/ja/real_user_monitoring/dashboards/user_sessions_dashboard.md
  content/ja/real_user_monitoring/dashboards/user_sessions_dashboard.md
Owners: @DataDog/documentation
