Repository DataDog/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/documentation, @DataDog/corpweb, @DataDog/integrations-tools-and-libraries, @DataDog/serverless-product, @DataDog/database-monitoring, @DataDog/agent-shared-components, @DataDog/partner-tech-solutions, @Datadog/marketplace-product-management, @DataDog/WebOps-Platform, @DataDog/cloud-cost-management-visibility, @Datadog/rum-mobile, @Datadog/rum-browser

Deleting translations of content/ja/real_user_monitoring/dashboards/resources_dashboard.md
  content/ja/real_user_monitoring/dashboards/resources_dashboard.md
Owners: @DataDog/documentation

Deleting translations of content/fr/real_user_monitoring/dashboards/resources_dashboard.md
  content/fr/real_user_monitoring/dashboards/resources_dashboard.md
Owners: @DataDog/documentation

Deleting translations of content/ja/real_user_monitoring/dashboards/mobile_dashboard.md
  content/ja/real_user_monitoring/dashboards/mobile_dashboard.md
Owners: @DataDog/documentation

Deleting translations of content/ja/real_user_monitoring/dashboards/frustration_signals_dashboard.md
  content/ja/real_user_monitoring/dashboards/frustration_signals_dashboard.md
Owners: @DataDog/documentation

Deleting translations of content/ja/real_user_monitoring/dashboards/performance_overview_dashboard.md
  content/ja/real_user_monitoring/dashboards/performance_overview_dashboard.md
Owners: @DataDog/documentation

Deleting translations of content/fr/real_user_monitoring/dashboards/performance_overview_dashboard.md
  content/fr/real_user_monitoring/dashboards/performance_overview_dashboard.md
Owners: @DataDog/documentation

Deleting translations of content/ja/real_user_monitoring/dashboards/errors_dashboard.md
  content/ja/real_user_monitoring/dashboards/errors_dashboard.md
Owners: @DataDog/documentation

Deleting translations of content/fr/real_user_monitoring/dashboards/errors_dashboard.md
  content/fr/real_user_monitoring/dashboards/errors_dashboard.md
Owners: @DataDog/documentation

Deleting translations of content/ja/real_user_monitoring/dashboards/testing_coverage.md
  content/ja/real_user_monitoring/dashboards/testing_coverage.md
Owners: @DataDog/documentation

Update azure.md (#18549)
  content/en/database_monitoring/setup_sql_server/azure.md
Owners: @DataDog/database-monitoring, @DataDog/documentation

DOCS-4336 update admission controller docs (#18523)
  content/en/containers/cluster_agent/admission_controller.md
Owners: @DataDog/documentation

Update custom_metrics.md (#18551)
  content/en/account_management/billing/custom_metrics.md
Owners: @DataDog/documentation

Ruby: Remove doc for unsupported DD_TRACE_SAMPLING_RULES (#18558)
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
Owners: @DataDog/documentation

Refresh Preview
  local/bin/py/build/configurations/pull_config_preview.yaml
Owners: @DataDog/corpweb, @DataDog/documentation

.github/CODEOWNERS:

*                         @DataDog/documentation

/assets/                  @DataDog/corpweb @DataDog/documentation
/data/                    @DataDog/corpweb @DataDog/documentation
/local/                   @DataDog/corpweb @DataDog/documentation
/layouts/                 @DataDog/corpweb @DataDog/documentation
/src/                     @DataDog/corpweb @DataDog/documentation
/config/                  @DataDog/corpweb @DataDog/documentation
/config/_default/menus/   @DataDog/documentation
package.json              @DataDog/corpweb @DataDog/documentation

# SDK versions
.github/workflows/bump_versions.yml   @DataDog/integrations-tools-and-libraries @DataDog/documentation
/data/sdk_versions.json               @DataDog/integrations-tools-and-libraries @DataDog/documentation

# Serverless

/content/en/serverless/                                 @DataDog/serverless-product @DataDog/documentation
/layouts/shortcodes/latest-lambda-layer-version.html    @DataDog/documentation

# Database Management
/content/en/database_monitoring/                        @DataDog/database-monitoring @DataDog/documentation
/layouts/partials/dbm/                                  @DataDog/database-monitoring @DataDog/documentation

# Agent Shared Component
/content/en/agent/proxy.md                              @DataDog/agent-shared-components @DataDog/documentation

# Partners
/content/en/partners/                                   @DataDog/partner-tech-solutions @DataDog/documentation

# Marketplace

/content/en/developers/integrations/agent_integration/                     @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/api_integration/                       @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/marketplace_offering/                  @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/check_references/                      @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/create_a_tile/                         @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration-assets.md                                  @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration-assets-reference.md                        @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration_categories.md                              @Datadog/marketplace-product-management @DataDog/documentation

# Websites Platform (Devops)
.github/workflows                                       @DataDog/WebOps-Platform
.gitlab-ci.yml                                          @DataDog/WebOps-Platform
Makefile                                                @DataDog/WebOps-Platform
translate.yaml                                          @DataDog/WebOps-Platform
.translate                                              @DataDog/WebOps-Platform
docker-compose-docs.yml                                 @DataDog/WebOps-Platform
.htmltest.yml                                           @DataDog/WebOps-Platform
datadog-ci.preview.json                                 @DataDog/WebOps-Platform
general.preview.synthetics.json                         @DataDog/WebOps-Platform

# Cloud Cost Management
documentation/content/en/cloud_cost_management/_index.md         @DataDog/cloud-cost-management-visibility @DataDog/documentation

# Log collection
content/en/logs/log_collection/android.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/flutter.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/ios.md                            @Datadog/rum-mobile @DataDog/documentation

# Traces
content/en/tracing/trace_collection/dd_libraries/android.md     @Datadog/rum-mobile @DataDog/documentation
content/en/tracing/trace_collection/dd_libraries/ios.md         @Datadog/rum-mobile @DataDog/documentation

# Mobile SDK
content/en/real_user_monitoring/android/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/flutter/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/ios/                            @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/reactnative/                    @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/roku/                           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/android.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/expo.md          @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/flutter.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/ios.md           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/reactnative.md   @Datadog/rum-mobile @DataDog/documentation

# Browser SDK
content/en/real_user_monitoring/browser/                        @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/guide/                          @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/session_replay/                 @Datadog/rum-browser @DataDog/documentation
content/en/logs/log_collection/javascript.md                    @Datadog/rum-browser @DataDog/documentation
content/en/logs/error_tracking/browser_and_mobile.md            @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/error_tracking/browser.md       @Datadog/rum-browser @DataDog/documentation
