Repository DataDog/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/documentation, @DataDog/corpweb, @DataDog/integrations-tools-and-libraries, @DataDog/serverless-product, @DataDog/database-monitoring, @DataDog/agent-shared-components, @DataDog/partner-tech-solutions, @Datadog/marketplace-product-management, @DataDog/WebOps-Platform, @DataDog/cloud-cost-management-visibility, @Datadog/rum-mobile, @Datadog/rum-browser

.github/CODEOWNERS:

*                         @DataDog/documentation

/assets/                  @DataDog/corpweb @DataDog/documentation
/data/                    @DataDog/corpweb @DataDog/documentation
/local/                   @DataDog/corpweb @DataDog/documentation
/layouts/                 @DataDog/corpweb @DataDog/documentation
/src/                     @DataDog/corpweb @DataDog/documentation
/config/                  @DataDog/corpweb @DataDog/documentation
/config/_default/menus/   @DataDog/documentation
package.json              @DataDog/corpweb @DataDog/documentation

# SDK versions
.github/workflows/bump_versions.yml   @DataDog/integrations-tools-and-libraries @DataDog/documentation
/data/sdk_versions.json               @DataDog/integrations-tools-and-libraries @DataDog/documentation

# Serverless

/content/en/serverless/                                 @DataDog/serverless-product @DataDog/documentation
/layouts/shortcodes/latest-lambda-layer-version.html    @DataDog/documentation

# Database Management
/content/en/database_monitoring/                        @DataDog/database-monitoring @DataDog/documentation
/layouts/partials/dbm/                                  @DataDog/database-monitoring @DataDog/documentation

# Agent Shared Component
/content/en/agent/proxy.md                              @DataDog/agent-shared-components @DataDog/documentation

# Partners
/content/en/partners/                                   @DataDog/partner-tech-solutions @DataDog/documentation

# Marketplace

/content/en/developers/integrations/agent_integration/                     @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/api_integration/                       @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/marketplace_offering/                  @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/check_references/                      @Datadog/marketplace-product-management @DataDog/documentation
/content/en/developers/integrations/create_a_tile/                         @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration-assets.md                                  @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration-assets-reference.md                        @Datadog/marketplace-product-management @DataDog/documentation
/layouts/shortcodes/integration_categories.md                              @Datadog/marketplace-product-management @DataDog/documentation

# Websites Platform (Devops)
.github/workflows                                       @DataDog/WebOps-Platform
.gitlab-ci.yml                                          @DataDog/WebOps-Platform
Makefile                                                @DataDog/WebOps-Platform
translate.yaml                                          @DataDog/WebOps-Platform
.translate                                              @DataDog/WebOps-Platform
docker-compose-docs.yml                                 @DataDog/WebOps-Platform
.htmltest.yml                                           @DataDog/WebOps-Platform
datadog-ci.preview.json                                 @DataDog/WebOps-Platform
general.preview.synthetics.json                         @DataDog/WebOps-Platform

# Cloud Cost Management
documentation/content/en/cloud_cost_management/_index.md         @DataDog/cloud-cost-management-visibility @DataDog/documentation

# Log collection
content/en/logs/log_collection/android.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/flutter.md                        @Datadog/rum-mobile @DataDog/documentation
content/en/logs/log_collection/ios.md                            @Datadog/rum-mobile @DataDog/documentation

# Traces
content/en/tracing/trace_collection/dd_libraries/android.md     @Datadog/rum-mobile @DataDog/documentation
content/en/tracing/trace_collection/dd_libraries/ios.md         @Datadog/rum-mobile @DataDog/documentation

# Mobile SDK
content/en/real_user_monitoring/android/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/flutter/                        @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/ios/                            @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/reactnative/                    @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/roku/                           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/android.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/expo.md          @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/flutter.md       @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/ios.md           @Datadog/rum-mobile @DataDog/documentation
content/en/real_user_monitoring/error_tracking/reactnative.md   @Datadog/rum-mobile @DataDog/documentation

# Browser SDK
content/en/real_user_monitoring/browser/                        @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/guide/                          @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/session_replay/                 @Datadog/rum-browser @DataDog/documentation
content/en/logs/log_collection/javascript.md                    @Datadog/rum-browser @DataDog/documentation
content/en/logs/error_tracking/browser_and_mobile.md            @Datadog/rum-browser @DataDog/documentation
content/en/real_user_monitoring/error_tracking/browser.md       @Datadog/rum-browser @DataDog/documentation

updating translations
  content/ja/monitors/guide/adjusting-no-data-alerts-for-metric-monitors.md
Owners: @DataDog/documentation

updating translations
  content/fr/monitors/guide/suppress-alert-with-downtimes.md
Owners: @DataDog/documentation

updating translations
  content/fr/integrations/ibm_ace.md
Owners: @DataDog/documentation

updating translations
  content/fr/monitors/guide/reduce-alert-flapping.md
Owners: @DataDog/documentation

updating translations
  content/fr/monitors/types/composite.md
Owners: @DataDog/documentation

updating translations
  content/fr/serverless/libraries_integrations/plugin.md
Owners: @DataDog/documentation

adding translations
  content/fr/security/cloud_siem/guide/monitor-authentication-logs-for-security-threats.md
Owners: @DataDog/documentation

adding translations
  content/fr/account_management/plan_and_usage/_index.md
Owners: @DataDog/documentation

adding translations
  content/fr/containers/guide/docker-deprecation.md
Owners: @DataDog/documentation

Change active freeze to false
  .github/workflows/code-freeze.yml
Owners: @DataDog/WebOps-Platform

Also change step name
  .github/workflows/code-freeze.yml
Owners: @DataDog/WebOps-Platform

updating translations
  content/fr/monitors/types/log.md
Owners: @DataDog/documentation

updating translations
  content/fr/tracing/services/resource_page.md
Owners: @DataDog/documentation

Change active freeze to false (#18532)
  .github/workflows/code-freeze.yml
Owners: @DataDog/WebOps-Platform

Add an alias for the missing faq index
  content/en/real_user_monitoring/_index.md
Owners: @DataDog/documentation

reference to version
  content/en/database_monitoring/setup_oracle/_index.md
  content/en/database_monitoring/setup_oracle/exadata.md
  content/en/database_monitoring/setup_oracle/rac.md
  content/en/database_monitoring/setup_oracle/rds.md
  content/en/database_monitoring/setup_oracle/selfhosted.md
Owners: @DataDog/database-monitoring, @DataDog/documentation

Add 'since' information for live-heap profiles
  content/en/profiler/profile_types.md
Owners: @DataDog/documentation

Add enablement section for live-heap
  content/en/profiler/enabling/java.md
Owners: @DataDog/documentation

Regenerate client from commit 87ef2d8d of spec repo
  .apigentools-info
  config/_default/menus/menus.en.yaml
  content/en/api/v2/ci-visibility-pipelines/examples.json
  content/en/api/v2/ci-visibility-pipelines/request.CreateCIAppPipelineEvent.json
  content/en/api/v2/ci-visibility-pipelines/request.CreateCIAppPipelineEvent_129899466.json
  data/api/v2/CodeExamples.json
  data/api/v2/full_spec.yaml
  data/api/v2/translate_actions.json
  data/api/v2/translate_tags.json
Owners: @DataDog/documentation, @DataDog/corpweb

Add the specific spans removed with the option enabled
  content/en/tracing/trace_collection/library_config/php.md
Owners: @DataDog/documentation

Reword the enablement section
  content/en/profiler/enabling/java.md
Owners: @DataDog/documentation

Add double newline between the description and the note
  content/en/tracing/trace_collection/library_config/php.md
Owners: @DataDog/documentation

Fixes language and adds navigation link
  config/_default/menus/menus.en.yaml
  content/en/service_management/workflows/actions_catalog/saved_actions.md
Owners: @DataDog/documentation

Fixes issues
  content/en/service_management/workflows/actions_catalog/saved_actions.md
Owners: @DataDog/documentation

Adds documentation for Saved Actions
  content/en/service_management/workflows/actions_catalog/saved_actions.md
Owners: @DataDog/documentation

Removes unnecessary changes
  .bash_profile
Owners: @DataDog/documentation

Fixes issues
  content/en/service_management/workflows/actions_catalog/saved_actions.md
Owners: @DataDog/documentation

Adds documentation for Saved Actions
  .bash_profile
Owners: @DataDog/documentation

Prevent block break
  content/en/tracing/trace_collection/library_config/php.md
Owners: @DataDog/documentation

corrected link
  content/en/database_monitoring/setup_oracle/_index.md
  content/en/database_monitoring/setup_oracle/rds.md
  content/en/database_monitoring/setup_oracle/selfhosted.md
Owners: @DataDog/database-monitoring, @DataDog/documentation

ASM_Tracing_Configuration_View.png
  static/images/getting_started/appsec/Screenshot 2023-06-13 at 17.00.04.png
Owners: @DataDog/documentation

Update _index.md
  content/en/getting_started/application_security/_index.md
Owners: @DataDog/documentation

corrected link
  content/en/database_monitoring/setup_oracle/_index.md
Owners: @DataDog/database-monitoring, @DataDog/documentation

links corrected
  content/en/database_monitoring/setup_oracle/_index.md
  content/en/database_monitoring/setup_oracle/rds.md
  content/en/database_monitoring/setup_oracle/selfhosted.md
Owners: @DataDog/database-monitoring, @DataDog/documentation

links corrected
  content/en/database_monitoring/setup_oracle/rds.md
  content/en/database_monitoring/setup_oracle/selfhosted.md
Owners: @DataDog/database-monitoring, @DataDog/documentation

Regenerate client from commit e0974b9b of spec repo
  .apigentools-info
  content/en/api/v2/security-monitoring/examples.json
  data/api/v2/full_spec.yaml
  data/api/v2/translate_actions.json
Owners: @DataDog/documentation, @DataDog/corpweb

Remove outdated docs About Azure custom tags
  content/en/continuous_integration/pipelines/azure.md
Owners: @DataDog/documentation

Remove (beta) note from logs collection for junitxml and gitlab
  content/en/continuous_integration/pipelines/gitlab.md
  content/en/continuous_integration/tests/junit_upload.md
Owners: @DataDog/documentation

Update the minimum JDK versions for profiling
  content/en/profiler/enabling/java.md
Owners: @DataDog/documentation

add blog links (#18524)
  content/en/tracing/trace_collection/trace_context_propagation/cpp.md
  content/en/tracing/trace_collection/trace_context_propagation/dotnet.md
  content/en/tracing/trace_collection/trace_context_propagation/go.md
  content/en/tracing/trace_collection/trace_context_propagation/java.md
  content/en/tracing/trace_collection/trace_context_propagation/nodejs.md
  content/en/tracing/trace_collection/trace_context_propagation/php.md
  content/en/tracing/trace_collection/trace_context_propagation/python.md
  content/en/tracing/trace_collection/trace_context_propagation/ruby.md
Owners: @DataDog/documentation
