Repository DataDog/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/documentation, @DataDog/corpweb, @DataDog/integrations-tools-and-libraries, @DataDog/serverless-product, @DataDog/database-monitoring, @DataDog/agent-shared-components, @KateYoak

restore
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/tutorial-enable-python-container-agent-host.md
  content/en/tracing/trace_collection/_index.md
Owners: @DataDog/documentation

restore images
  static/images/tracing/guide/tutorials/tutorial-python-container-agent-start-event.png
  static/images/tracing/guide/tutorials/tutorial-python-container-cust-dist (1).png
  static/images/tracing/guide/tutorials/tutorial-python-container-custom-flame.png
  static/images/tracing/guide/tutorials/tutorial-python-container-distributed.png
  static/images/tracing/guide/tutorials/tutorial-python-container-get-flame.png
  static/images/tracing/guide/tutorials/tutorial-python-container-post-flame.png
  static/images/tracing/guide/tutorials/tutorial-python-container-traces.png
  static/images/tracing/guide/tutorials/tutorial-python-host-agent-verify.png
  static/images/tracing/guide/tutorials/tutorial-python-host-cust-dist.png
  static/images/tracing/guide/tutorials/tutorial-python-host-custom-flame.png
  static/images/tracing/guide/tutorials/tutorial-python-host-distributed.png
  static/images/tracing/guide/tutorials/tutorial-python-host-get-flame.png
  static/images/tracing/guide/tutorials/tutorial-python-host-post-flame.png
  static/images/tracing/guide/tutorials/tutorial-python-host-traces.png
Owners: @DataDog/documentation

Additional edits
  content/en/security_platform/cspm/_index.md
Owners: @DataDog/documentation

file rename
  static/images/tracing/guide/tutorials/tutorial-python-container-cust-dist.png
Owners: @DataDog/documentation

Removing tags
  layouts/_default/list.algolia.json
  layouts/partials/algolia/page-sections.json
Owners: @DataDog/corpweb, @DataDog/documentation

DOCS-4026 APM onboarding tutorials - Python, attempt 2 (#16157)
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/tutorial-enable-python-container-agent-host.md
  content/en/tracing/guide/tutorial-enable-python-containers.md
  content/en/tracing/guide/tutorial-enable-python-host.md
  content/en/tracing/trace_collection/_index.md
  static/images/tracing/guide/tutorials/tutorial-python-container-agent-start-event.png
  static/images/tracing/guide/tutorials/tutorial-python-container-cust-dist.png
  static/images/tracing/guide/tutorials/tutorial-python-container-custom-flame.png
  static/images/tracing/guide/tutorials/tutorial-python-container-distributed.png
  static/images/tracing/guide/tutorials/tutorial-python-container-get-flame.png
  static/images/tracing/guide/tutorials/tutorial-python-container-post-flame.png
  static/images/tracing/guide/tutorials/tutorial-python-container-traces.png
  static/images/tracing/guide/tutorials/tutorial-python-host-agent-verify.png
  static/images/tracing/guide/tutorials/tutorial-python-host-cust-dist.png
  static/images/tracing/guide/tutorials/tutorial-python-host-custom-flame.png
  static/images/tracing/guide/tutorials/tutorial-python-host-distributed.png
  static/images/tracing/guide/tutorials/tutorial-python-host-get-flame.png
  static/images/tracing/guide/tutorials/tutorial-python-host-post-flame.png
  static/images/tracing/guide/tutorials/tutorial-python-host-traces.png
Owners: @DataDog/documentation

Fix variable
  layouts/partials/algolia/page-sections.json
Owners: @DataDog/corpweb, @DataDog/documentation

Minor edits
  content/en/security_platform/cspm/_index.md
Owners: @DataDog/documentation

Update serverless_tracing_and_webpack.md
  content/en/serverless/guide/serverless_tracing_and_webpack.md
Owners: @DataDog/serverless-product, @DataDog/documentation

Freeze translation pipeline via config
  translate.yaml
Owners: @DataDog/corpweb

(DOCS-4528) Add missing ™s
  content/en/logs/_index.md
  content/en/metrics/summary.md
Owners: @DataDog/documentation

Test conditional tags
  layouts/_default/list.algolia.json
  layouts/partials/algolia/api-page-index.json
Owners: @DataDog/corpweb, @DataDog/documentation

(DOCS-4528) Undo changes to logs file
  content/en/logs/log_configuration/_index.md
Owners: @DataDog/documentation

Minor edits
  content/en/security_platform/cspm/_index.md
Owners: @DataDog/documentation

(DOCS-4528) Undo changes to logs files
  content/en/logs/_index.md
  content/en/logs/log_configuration/_index.md
Owners: @DataDog/documentation

(DOCS-4528) Add missing ™s (#16158)
  content/en/logs/_index.md
  content/en/logs/log_configuration/_index.md
  content/en/metrics/summary.md
Owners: @DataDog/documentation

fix anchor link
  content/en/observability_pipelines/guide/custom-metrics-governance.md
Owners: @DataDog/documentation

Update Marketplace docs
  content/en/developers/marketplace/_index.md
Owners: @DataDog/documentation

Apply suggestions from code review
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
Owners: @DataDog/documentation

.github/CODEOWNERS:

*                         @DataDog/documentation

/data/                    @DataDog/corpweb @DataDog/documentation
/local/                   @DataDog/corpweb @DataDog/documentation
/layouts/                 @DataDog/corpweb @DataDog/documentation
/src/                     @DataDog/corpweb @DataDog/documentation
/config/                  @DataDog/corpweb @DataDog/documentation
/config/_default/menus/   @DataDog/documentation
package.json              @DataDog/corpweb @DataDog/documentation

# SDK versions
.github/workflows/bump_versions.yml   @DataDog/integrations-tools-and-libraries @DataDog/documentation
/data/sdk_versions.json               @DataDog/integrations-tools-and-libraries @DataDog/documentation

# Serverless

/content/en/serverless/                                 @DataDog/serverless-product @DataDog/documentation
/layouts/shortcodes/latest-lambda-layer-version.html    @DataDog/documentation

# Database Management
/content/en/database_monitoring/                        @DataDog/database-monitoring @DataDog/documentation
/layouts/partials/dbm/                                  @DataDog/database-monitoring @DataDog/documentation

# Agent Shared Component
/content/en/agent/proxy.md                              @DataDog/agent-shared-components @DataDog/documentation

# Partners
/content/en/partners/                                   @KateYoak @DataDog/documentation

# Websites
.github/workflows                                       @DataDog/corpweb
.gitlab-ci.yml                                          @DataDog/corpweb
Makefile                                                @DataDog/corpweb
translate.yaml                                          @DataDog/corpweb
.translate                                              @DataDog/corpweb
docker-compose-docs.yml                                 @DataDog/corpweb
.htmltest.yml                                           @DataDog/corpweb
