Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*

Update content/en/synthetics/guide/email-validation.md
  content/en/synthetics/guide/email-validation.md
Labels: Guide

[DOCS-10386] adding Gov callout (#28203)
  content/en/synthetics/guide/email-validation.md
Labels: Guide

changes
  content/en/serverless/azure_app_services/_index.md
Labels: none

update dynamic by metric section
  content/en/cloud_cost_management/custom_allocation_rules/_index.md
Labels: none

Update _index.md (#28204)
  content/en/account_management/_index.md
Labels: none

(DOCS 10348) Clarify availability
  content/en/metrics/custom_metrics/historical_metrics.md
Labels: none

Add blog post to further reading (#28205)
  content/en/logs/guide/best-practices-for-log-management.md
Labels: Guide

Move site availability note to alert box
  content/en/integrations/guide/aws-cloudwatch-metric-streams-with-kinesis-data-firehose.md
Labels: Guide

Fix site region closing element
  content/en/integrations/guide/aws-cloudwatch-metric-streams-with-kinesis-data-firehose.md
Labels: Guide

changes (#28206)
  content/en/serverless/azure_app_services/_index.md
Labels: none

Update _index.md
  content/en/software_catalog/customize/_index.md
Labels: none

Translated file updates
  content/es/dashboards/sharing/shared_dashboards.md
Labels: none

Update _index.md (#28207)
  content/en/software_catalog/customize/_index.md
Labels: none

(DOCS-10263) Add image
  static/images/integrations/google_cloud_platform/bigquery_manage_permissions.png
Labels: Images

(DOCS 10348) Clarify availability (#28208)
  content/en/metrics/custom_metrics/historical_metrics.md
Labels: none

Add guide on Related Logs
  content/en/security/cloud_security_management/guide/_index.md
  content/en/security/cloud_security_management/guide/related-logs.md
Labels: none

Translated file updates
  content/es/llm_observability/guide/llm_observability_and_apm.md
  content/es/observability_pipelines/update_existing_pipelines.md
  content/es/sheets/functions_operators.md
  content/es/synthetics/guide/otp-email-synthetics-test.md
Labels: none

formatting and minor changes
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: none

Translated file updates
  content/es/monitors/guide/on_missing_data.md
  content/es/observability_pipelines/sources/amazon_s3.md
  content/es/security/cloud_security_management/setup/iac_scanning.md
  content/es/tests/repositories.md
  content/ko/account_management/saml/_index.md
  content/ko/api/_index.md
  content/ko/tracing/_index.md
Labels: none

Translated file updates
  content/ko/getting_started/_index.md
Labels: none

update doc
  content/en/database_monitoring/setup_oracle/troubleshooting.md
Labels: none

Update content/en/security/code_security/iast/security_controls/_index.md
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

Update content/en/security/code_security/iast/security_controls/_index.md
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

Update content/en/security/code_security/iast/security_controls/_index.md
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

Translated file updates
  data/partials/platforms.es.yaml
Labels: none

Add changes detection feature to cd visibility docs (#28108)
  config/_default/menus/main.en.yaml
  content/en/continuous_delivery/_index.md
  content/en/continuous_delivery/deployments/_index.md
  content/en/continuous_delivery/explorer/_index.md
  content/en/continuous_delivery/features/_index.md
  content/en/continuous_delivery/features/code_changes_detection.md
  static/images/continuous_delivery/features/code_changes_tab.png
  static/images/continuous_delivery/features/recent_code_changes_deployments.png
Labels: Images, Architecture

Add GitLab references to Changes Detection docs
  content/en/continuous_delivery/features/code_changes_detection.md
Labels: none

fxing a link, maybe
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: none

Translated file updates
  data/partials/home.ko.yaml
Labels: none

Updates rate limit for event submission in latest
  content/en/api/latest/rate-limits/_index.md
Labels: none

Updates rate limit for event submission in v1
  content/en/api/v1/rate-limits/_index.md
Labels: none

testing shortcodes
  content/en/database_monitoring/setup_postgres/selfhosted.md
  layouts/shortcodes/dbm/postgres/self-hosted-install-host.en.md
Labels: Architecture

fix
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: none

Translated file updates
  content/es/database_monitoring/recommendations.md
  content/es/error_tracking/issue_states.md
  content/es/security/cloud_siem/security_operational_metrics.md
Labels: none

[CCM] PR feedback
  content/en/cloud_cost_management/aws.md
  content/en/cloud_cost_management/saas_costs.md
  content/en/cloud_cost_management/tag_explorer/_index.md
Labels: none

Add rollback detection docs
  config/_default/menus/main.en.yaml
  content/en/continuous_delivery/features/_index.md
  content/en/continuous_delivery/features/rollbacks_detection.md
  static/images/continuous_delivery/features/rollbacks-deployment-executions.png
  static/images/continuous_delivery/features/rollbacks-detail.png
Labels: Images, Architecture

logs index
  content/en/tests/flaky_test_management/auto_test_retries.md
Labels: none

Update troubleshooting.md
  content/en/observability_pipelines/troubleshooting.md
Labels: none

add anthropic and bedrock
  content/en/llm_observability/configuration/_index.md
  static/images/llm_observability/configuration/amazon-bedrock-tile.png
  static/images/llm_observability/configuration/anthropic-tile.png
Labels: Images

nit
  content/en/llm_observability/configuration/_index.md
Labels: none
