Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

Update Code Origins guide and add images
  content/en/tracing/guide/code_origins.md
  static/images/tracing/guide/code_origins/code_origin_details.png
  static/images/tracing/guide/code_origins/code_origin_ide_details.png
  static/images/tracing/guide/code_origins/code_origin_traces_explorer.png
Labels: Images, Guide

Update _index.md (#28135)
  content/en/getting_started/tracing/_index.md
Labels: none

Update _index.md
  content/en/tracing/trace_collection/runtime_config/_index.md
Labels: none

RUM Remote Configuration
  content/en/real_user_monitoring/browser/setup/server.md
Labels: none

Translated file updates
  content/es/account_management/plan_and_usage/cost_details.md
  content/es/cloud_cost_management/container_cost_allocation.md
Labels: none

Aaronherrmann/audit_trail_retention (#28322)
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

resetting go files
  go.mod
  go.sum
Labels: none

Fix broken link on `Ingestion Sampling with OpenTelemetry` page (#28310)
  content/en/opentelemetry/ingestion_sampling.md
Labels: none

[DOCS-10445] Add Terraform module link (#28323)
  content/en/getting_started/integrations/google_cloud.md
Labels: none

restoring missing image
  go.mod
  go.sum
  static/images/security/code_security/org-wide-configuration.png
Labels: Images

Update doc content
  content/en/tracing/guide/code_origins.md
Labels: Guide

adding HTTP tests to Mobile app testing
  content/en/synthetics/browser_tests/actions.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/steps.md
  static/images/mobile_app_testing/test_steps/http_interaction.png
  static/images/mobile_app_testing/test_steps/http_mobile_request.png
  static/images/mobile_app_testing/test_steps/mobile_app_interaction.png
  static/images/synthetics/browser_tests/browser_interaction.png
  static/images/synthetics/browser_tests/http_request_3.png
Labels: Images

Discard changes to go.mod
  go.mod
Labels: none

Discard changes to go.sum
  go.sum
Labels: none

Update troubleshooting section
  content/en/tracing/guide/code_origins.md
Labels: Guide

Fixed some automated styling comments
  content/en/tracing/guide/code_origins.md
Labels: Guide

tracing: update python log injection docs
  content/en/tracing/other_telemetry/connect_logs_and_traces/python.md
Labels: none

remove operator/helm difference as both supported
  content/en/containers/kubernetes/control_plane.md
Labels: none

Clarify how to set-up Datadog app in Okta
  content/en/account_management/saml/okta.md
Labels: none

Fix typo
  content/en/account_management/saml/okta.md
Labels: none

Translated file updates
  data/partials/home.ko.yaml
  data/partials/platforms.es.yaml
Labels: none

SDCD-1030: adding service catalog link naming parameters to the dora and cd visibility docs (#28283)
  content/en/continuous_delivery/features/code_changes_detection.md
  content/en/dora_metrics/setup/deployments.md
Labels: none

use ad v2
  content/en/containers/kubernetes/control_plane.md
Labels: none

related logs from data
  content/en/security/cloud_security_management/guide/related-logs.md
  layouts/shortcodes/related-logs-supported-resources.html
Labels: Architecture

use SA certificate for TLS handshake
  content/en/containers/kubernetes/control_plane.md
Labels: none

Update content/en/containers/docker/tag.md
  content/en/containers/docker/tag.md
Labels: none

fix image URL
  content/en/security/code_security/static_analysis/setup/_index.md
Labels: none

Update _index.md
  content/en/security/code_security/secret_scanning/_index.md
Labels: none

Update generic_ci_providers.md
  content/en/security/code_security/secret_scanning/generic_ci_providers.md
Labels: none

Update github_actions.md
  content/en/security/code_security/secret_scanning/github_actions.md
Labels: none

Update _index.md
  content/en/security/code_security/_index.md
Labels: none

fix: add Amazon ECS OOTB tags
  content/en/getting_started/tagging/assigning_tags.md
  content/en/tracing/trace_collection/tracing_naming_convention/_index.md
Labels: none

Update status_page doc
  content/en/monitors/status/status_page.md
Labels: none

Translated file updates
  content/es/database_monitoring/guide/managed_authentication.md
  content/es/service_management/workflows/variables.md
Labels: none

add auto_multi_line_aggregator_flush telemtry metric + description (#27593)
  content/en/data_security/agent.md
Labels: none

Update main.en.yaml
  config/_default/menus/main.en.yaml
Labels: Architecture

Update content/en/software_catalog/actions/_index.md
  content/en/software_catalog/actions/_index.md
Labels: none

Update anomalies.md
  content/en/cloud_cost_management/anomalies.md
Labels: none

Update _index.md
  content/en/software_catalog/actions/_index.md
Labels: none

Update software_templates.md
  content/en/software_catalog/actions/software_templates.md
Labels: none

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*
