Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

fixes
  content/en/llm_observability/quickstart.md
Labels: none

Regenerate client from commit f64c1d75 of spec repo
  .apigentools-info
  data/api/v1/full_spec.yaml
Labels: none

address maxime feedback
  content/en/real_user_monitoring/guide/retention_filter_best_practices.md
  content/en/real_user_monitoring/rum_without_limits/_index.md
  content/en/real_user_monitoring/rum_without_limits/metrics.md
  content/en/real_user_monitoring/rum_without_limits/retention_filters.md
  static/images/real_user_monitoring/rum_without_limits/filters-test.png
  static/images/real_user_monitoring/rum_without_limits/filters.png
  static/images/real_user_monitoring/rum_without_limits/modifying-filters.png
Labels: Images, Guide

Move SDS docs to Security
  content/en/security/sensitive_data_scanner/_index.md
  content/en/security/sensitive_data_scanner/guide/_index.md
  content/en/security/sensitive_data_scanner/guide/best_practices_for_creating_custom_rules.md
  content/en/security/sensitive_data_scanner/guide/investigate_sensitive_data_issues.md
  content/en/security/sensitive_data_scanner/guide/redact_all_emails_except_from_specific_domain_logs.md
  content/en/security/sensitive_data_scanner/scanning_rules/_index.md
  content/en/security/sensitive_data_scanner/scanning_rules/custom_rules.md
  content/en/security/sensitive_data_scanner/scanning_rules/library_rules.md
  content/en/security/sensitive_data_scanner/setup/_index.md
  content/en/security/sensitive_data_scanner/setup/cloud_storage.md
  content/en/security/sensitive_data_scanner/setup/telemetry_data.md
Labels: none

DOCS-9931: CoTerm section (#27857)
  config/_default/menus/main.en.yaml
  content/en/coterm/_index.md
  content/en/coterm/install.md
  content/en/coterm/rules.md
  content/en/coterm/usage.md
  static/images/coterm/hero.png
  static/images/coterm/linter-warning.png
Labels: Images, Architecture

new branch
  .gitignore
  config/_default/menus/main.en.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

Add aliases
  content/en/security/sensitive_data_scanner/_index.md
  content/en/security/sensitive_data_scanner/guide/_index.md
  content/en/security/sensitive_data_scanner/guide/best_practices_for_creating_custom_rules.md
  content/en/security/sensitive_data_scanner/guide/investigate_sensitive_data_issues.md
  content/en/security/sensitive_data_scanner/guide/redact_all_emails_except_from_specific_domain_logs.md
  content/en/security/sensitive_data_scanner/scanning_rules/_index.md
  content/en/security/sensitive_data_scanner/scanning_rules/custom_rules.md
  content/en/security/sensitive_data_scanner/scanning_rules/library_rules.md
  content/en/security/sensitive_data_scanner/setup/_index.md
  content/en/security/sensitive_data_scanner/setup/cloud_storage.md
  content/en/security/sensitive_data_scanner/setup/telemetry_data.md
Labels: none

update doc
  content/en/sensitive_data_scanner/guide/investigate_sensitive_data_issues.md
  static/images/sensitive_data_scanner/investigate_sensitive_data_issues/datastore_side_panel.png
Labels: Images, Guide

updating docs with config info
  content/en/database_monitoring/recommendations.md
Labels: none

adding link to feature announcement blog
  content/en/database_monitoring/recommendations.md
Labels: none

Update menu file
  config/_default/menus/main.en.yaml
Labels: Architecture

last touches including making it private
  content/en/real_user_monitoring/guide/retention_filter_best_practices.md
  content/en/real_user_monitoring/rum_without_limits/_index.md
  content/en/real_user_monitoring/rum_without_limits/metrics.md
  content/en/real_user_monitoring/rum_without_limits/retention_filters.md
  static/images/real_user_monitoring/rum_without_limits/how-filters-work-placeholder.png
  static/images/real_user_monitoring/rum_without_limits/metrics-test.png
Labels: Images, Guide

small edits
  content/en/sensitive_data_scanner/guide/investigate_sensitive_data_issues.md
Labels: Guide

Add standalone Application Security guide (#24644)
  content/en/security/application_security/guide/_index.md
  content/en/security/application_security/guide/standalone_application_security.md
Labels: none

add guide link to other pages
  content/en/real_user_monitoring/rum_without_limits/_index.md
  content/en/real_user_monitoring/rum_without_limits/metrics.md
Labels: none

[RUM] Add GRACE documentation to RUM applications
  content/en/real_user_monitoring/_index.md
Labels: none

add more links and image
  content/en/real_user_monitoring/guide/retention_filter_best_practices.md
Labels: Guide

fixing
  local/bin/py/build/configurations/pull_config.yaml
Labels: Architecture

Regenerate client from commit 0b493f09 of spec repo
  .apigentools-info
  data/api/v1/full_spec.yaml
  data/api/v2/full_spec.yaml
  data/api/v2/translate_actions.json
Labels: none

Update content/en/cloud_cost_management/anomalies.md
  content/en/cloud_cost_management/anomalies.md
Labels: none

Update content/en/cloud_cost_management/anomalies.md
  content/en/cloud_cost_management/anomalies.md
Labels: none

Update content/en/cloud_cost_management/anomalies.md
  content/en/cloud_cost_management/anomalies.md
Labels: none

Translated file updates
  content/es/cloudcraft/account-management/manage-teams.md
  content/es/software_catalog/scorecards/scorecard_configuration.md
Labels: none

Update content/en/cloud_cost_management/anomalies.md
  content/en/cloud_cost_management/anomalies.md
Labels: none

Update content/en/cloud_cost_management/anomalies.md
  content/en/cloud_cost_management/anomalies.md
Labels: none

Update content/en/cloud_cost_management/anomalies.md
  content/en/cloud_cost_management/anomalies.md
Labels: none

Update content/en/cloud_cost_management/anomalies.md
  content/en/cloud_cost_management/anomalies.md
Labels: none

redirect to settings page
  content/en/account_management/org_settings.md
  content/en/dashboards/sharing/graphs.md
  content/en/dashboards/sharing/shared_dashboards.md
Labels: none

add notes on new settings and embed limitations
  content/en/account_management/org_settings.md
  content/en/dashboards/sharing/graphs.md
  content/en/dashboards/sharing/shared_dashboards.md
Labels: none

Fix frontmatter value spacing
  content/en/security/sensitive_data_scanner/scanning_rules/library_rules.md
Labels: none

Testing nested tabs
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: none

Update SDS links
  content/en/agent/remote_config/_index.md
  content/en/coscreen/_index.md
  content/en/coterm/_index.md
  content/en/data_security/_index.md
  content/en/data_security/logs.md
  content/en/data_security/real_user_monitoring.md
  content/en/dynamic_instrumentation/sensitive-data-scrubbing.md
  content/en/error_tracking/backend/exception_replay.md
  content/en/llm_observability/terms/_index.md
  content/en/logs/guide/best-practices-for-log-management.md
  content/en/logs/guide/control-sensitive-logs-data.md
  content/en/logs/guide/delete_logs_with_sensitive_data.md
  content/en/logs/log_collection/csharp.md
  content/en/observability_pipelines/_index.md
  content/en/opentelemetry/agent/_index.md
  content/en/security/cloud_security_management/setup/agentless_scanning/_index.md
  content/en/security/code_security/secret_scanning/_index.md
  content/en/security/sensitive_data_scanner/_index.md
  content/en/security/sensitive_data_scanner/guide/best_practices_for_creating_custom_rules.md
  content/en/security/sensitive_data_scanner/scanning_rules/_index.md
  content/en/security/sensitive_data_scanner/scanning_rules/custom_rules.md
  content/en/security/sensitive_data_scanner/scanning_rules/library_rules.md
  content/en/security/sensitive_data_scanner/setup/_index.md
  content/en/security/sensitive_data_scanner/setup/cloud_storage.md
  content/en/security/sensitive_data_scanner/setup/telemetry_data.md
  content/en/tracing/configure_data_security/_index.md
  content/en/tracing/guide/agent_tracer_hostnames.md
Labels: Guide

Translated file updates
  content/es/cloudcraft/account-management/enable-sso-with-okta.md
  content/es/continuous_integration/pipelines/custom.md
  content/es/serverless/step_functions/installation.md
  content/es/service_management/incident_management/notification.md
  content/ja/serverless/guide/azure_app_service_linux_sidecar.md
Labels: none

oh how I tried with these redirects
  content/en/integrations/_index.md
Labels: none

Fix sneaky slashes!!!
  content/en/integrations/_index.md
Labels: none

testing nested tabs
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: none

Translated file updates
  content/ja/tracing/trace_collection/automatic_instrumentation/dd_libraries/ruby.md
  content/ja/tracing/trace_collection/compatibility/ruby.md
Labels: none

update
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: none

update
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: none

Translated file updates
  content/es/service_management/on-call/teams.md
  content/ja/agent/guide/ansible_standalone_role.md
Labels: none

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*
