Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

Update content/en/database_monitoring/setup_mysql/selfhosted.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
Labels: none

Update _index.md (#28295)
  content/en/security/cloud_siem/_index.md
Labels: none

Update content/en/integrations/guide/aws-cloudwatch-metric-streams-with-kinesis-data-firehose.md
  content/en/integrations/guide/aws-cloudwatch-metric-streams-with-kinesis-data-firehose.md
Labels: Guide

Rename env to platform
  content/en/real_user_monitoring/guide/proxy-mobile-rum-data.mdoc.md
  customization_config/en/option_groups/prog_lang.yaml
  customization_config/en/option_groups/real_user_monitoring/sdk.yaml
  customization_config/en/traits/traits.yaml
Labels: Guide

Add debugging capability
  cdocs-hugo-integration-v1.0.11.tgz
  cdocs-hugo-integration-v1.0.13.tgz
  package.json
  yarn.lock
Labels: none

Update cdocs hooks
  assets/scripts/components/table-of-contents.js
Labels: Architecture

Add security blog to further reading
  content/en/security/_index.md
Labels: none

Bumps typesense-sync version (#28278)
  package.json
  typesense.config.json
  yarn.lock
Labels: none

update ccm azure exports docs
  content/en/cloud_cost_management/azure.md
  static/images/cloud_cost/azure_export_path.png
  static/images/cloud_cost/azure_exports_page.png
  static/images/cloud_cost/azure_new_export.png
Labels: Images

Add blog link for observability pipelines
  content/en/observability_pipelines/_index.md
Labels: none

move text and add link for more clarity
  content/en/tracing/legacy_app_analytics/_index.md
  content/en/tracing/trace_collection/library_config/go.md
Labels: none

Regenerate client from commit d35d4ae5 of spec repo
  .apigentools-info
  data/api/v2/full_spec.yaml
Labels: none

Translated file updates
  content/es/dashboards/guide/tv_mode.md
  content/es/security/application_security/threats/waf-integration.md
  content/es/security/cloud_siem/entities_and_risk_scoring.md
Labels: none

markdown tweaks
  content/en/cloud_cost_management/azure.md
Labels: none

Fix TOC rendering bug
  assets/scripts/components/table-of-contents.js
Labels: Architecture

Update _index.md
  content/es/cloud_cost_management/_index.md
Labels: none

Update doc to include requirements for executing browser tests (#28239)
  content/en/synthetics/troubleshooting/_index.md
Labels: none

Update tarball
  cdocs-hugo-integration-v1.0.13.tgz
  cdocs-hugo-integration-v1.0.18.tgz
  package.json
  yarn.lock
Labels: none

Move headers to the top level
  content/en/real_user_monitoring/guide/proxy-mobile-rum-data.mdoc.md
Labels: Guide

Bring back improved exports instructions
  content/en/cloud_cost_management/azure.md
  static/images/cloud_cost/azure_new_export.png
Labels: Images

Remove dupe. image
  content/en/software_catalog/manage.md
Labels: none

improvements to page
  content/en/real_user_monitoring/browser/optimizing_performance.md
Labels: none

Use present tense
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

little fixes
  content/en/real_user_monitoring/browser/optimizing_performance.md
Labels: none

Remove dupe. image (#28301)
  content/en/software_catalog/manage.md
Labels: none

Translated file updates
  content/es/continuous_integration/pipelines/jenkins.md
Labels: none

Translated file updates
  content/es/integrations/avi_vantage.md
  content/es/integrations/cert_manager.md
  content/ja/integrations/avi_vantage.md
  content/ja/integrations/ceph.md
  content/ja/integrations/cert_manager.md
  content/ja/integrations/cisco_aci.md
  content/ja/integrations/couch.md
  content/ja/integrations/http_check.md
  content/ja/integrations/network.md
  content/ja/integrations/riakcs.md
  content/ko/integrations/cert_manager.md
Labels: none

Translated file updates
  content/es/integrations/ceph.md
  content/ja/integrations/redisdb.md
  data/partials/platforms.es.yaml
Labels: none

Translated file updates
  content/ja/integrations/foundationdb.md
  content/ko/integrations/avi_vantage.md
Labels: none

Translated file updates
  content/es/containers/datadog_operator/crd_dashboard.md
  content/es/ddsql_editor/reference_tables.md
  content/es/logs/workspaces/export.md
  layouts/shortcodes/observability_pipelines/processors/filter_syntax.es.md
Labels: Architecture

Add missing parentheses
  content/en/tracing/trace_collection/custom_instrumentation/android/otel.md
Labels: none

Translated file updates
  content/es/serverless/step_functions/redrive.md
  content/es/software_catalog/use_cases/_index.md
  content/es/software_catalog/use_cases/appsec_management.md
Labels: none

Translated file updates
  content/es/logs/workspaces/sql_reference.md
Labels: none

Translated file updates
  content/es/software_catalog/software_templates.md
Labels: none

Translated file updates
  content/es/observability_pipelines/guide/strategies_for_reducing_log_volume.md
  content/es/software_catalog/self-service/_index.md
Labels: none

Translated file updates
  content/es/software_catalog/use_cases/api_management.md
Labels: none

Translated file updates
  content/ko/integrations/riak_repl.md
Labels: none

Translated file updates
  content/ko/api/latest/rate-limits/_index.md
  content/ko/integrations/gearmand.md
  content/ko/integrations/ignite.md
  content/ko/integrations/powerdns_recursor.md
  content/ko/integrations/presto.md
  content/ko/integrations/process.md
  content/ko/integrations/rsyslog.md
Labels: none

Update outdated / broken links
  content/en/dora_metrics/setup/deployments.md
  content/es/agent/basic_agent_usage/saltstack.md
  content/es/integrations/apollo.md
  content/es/integrations/avi_vantage.md
  content/fr/agent/basic_agent_usage/saltstack.md
  content/fr/integrations/apollo.md
  content/fr/integrations/avi_vantage.md
  content/fr/metrics/guide/micrometer.md
  content/ja/agent/basic_agent_usage/saltstack.md
  content/ja/integrations/apollo.md
  content/ja/integrations/avi_vantage.md
  content/ko/agent/basic_agent_usage/saltstack.md
  content/ko/integrations/apollo.md
  content/ko/integrations/avi_vantage.md
  content/ko/metrics/guide/micrometer.md
Labels: none

Translated file updates
  content/es/glossary/terms/pipeline_execution_time.md
  content/es/service_management/app_builder/expressions.md
Labels: none

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*
