Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*

update integration count to 850
  content/en/getting_started/devsecops/_index.md
  content/es/getting_started/devsecops/_index.md
  content/ja/getting_started/devsecops/_index.md
  data/partials/home.es.yaml
  data/partials/home.ja.yaml
  data/partials/home.ko.yaml
  data/partials/home.yaml
  i18n/en.json
  i18n/es.json
  i18n/fr.json
  i18n/ja.json
  i18n/ko.json
Labels: none

remove compatibility notes section
  content/en/llm_observability/quickstart.md
Labels: none

Translation Pipeline PR (#28151)
  content/es/cloudcraft/account-management/enable-sso-with-okta.md
  content/es/cloudcraft/getting-started/connect-an-azure-aks-cluster-with-cloudcraft.md
  content/es/continuous_delivery/search/_index.md
  content/es/continuous_integration/pipelines/custom.md
  content/es/dashboards/guide/unable-to-iframe.md
  content/es/data_jobs/emr.md
  content/es/dynamic_instrumentation/expression-language.md
  content/es/real_user_monitoring/guide/tracking-rum-usage-with-usage-attribution-tags.md
  content/es/serverless/step_functions/installation.md
  content/es/service_management/incident_management/notification.md
  content/es/service_management/on-call/schedules.md
  content/es/service_management/on-call/teams.md
  content/ja/agent/guide/ansible_standalone_role.md
  content/ja/continuous_delivery/explorer/search_syntax.md
  content/ja/continuous_delivery/search/_index.md
  content/ja/continuous_integration/guides/infrastructure_metrics_with_gitlab.md
  content/ja/integrations/cisco_aci.md
  content/ja/integrations/guide/oracle-check-upgrade-7.md
  content/ja/serverless/guide/azure_app_service_linux_sidecar.md
  content/ja/tracing/trace_collection/automatic_instrumentation/dd_libraries/ruby.md
  content/ja/tracing/trace_collection/compatibility/ruby.md
  content/ko/continuous_delivery/search/_index.md
  content/ko/dashboards/guide/query-to-the-graph.md
  content/ko/dashboards/widgets/query_value.md
  content/ko/database_monitoring/query_metrics.md
  content/ko/database_monitoring/query_samples.md
  content/ko/developers/integrations/python.md
  content/ko/integrations/cisco_aci.md
  content/ko/integrations/pulumi.md
  content/ko/integrations/puma.md
  content/ko/integrations/purefb.md
  content/ko/integrations/pusher.md
  content/ko/tracing/trace_explorer/query_syntax.md
Labels: none

bump version for vertexai support
  content/en/llm_observability/setup/auto_instrumentation.md
Labels: none

Update branch naming info in README.md
  README.md
Labels: none

Update branch naming info in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Update branch naming info in pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

Update integrations.js
  assets/scripts/components/integrations.js
Labels: Architecture

[container images] Specify enabling Resource Collection for AWS ECR crawler (#27984)
  content/en/infrastructure/containers/container_images.md
Labels: none

Translated file updates
  content/es/agent/guide/fips-agent.md
  content/es/error_tracking/frontend/replay_errors.md
  content/es/logs/workspaces/time_selection.md
  content/es/metrics/composite_metrics_queries.md
Labels: none

performance improvements
  assets/scripts/components/integrations.js
Labels: Architecture

GA Related Assets Facet - Update Docs (#28066)
  content/en/metrics/guide/custom_metrics_governance.md
  content/en/metrics/summary.md
  content/en/metrics/volume.md
Labels: Guide

update metrics table
  content/en/real_user_monitoring/rum_without_limits/metrics.md
Labels: none

crop nav menu
  static/images/real_user_monitoring/connect_rum_and_traces/rum_apm_logs-2.png
  static/images/real_user_monitoring/connect_rum_and_traces/rum_apm_logs.png
Labels: Images

use cropped image
  content/en/real_user_monitoring/_index.md
Labels: none

Move requirements to tabs.
  content/en/tracing/metrics/runtime_metrics/_index.md
Labels: none

Apply suggestions from code review
  content/en/real_user_monitoring/correlate_with_other_telemetry/_index.md
Labels: none

revert changes to translated files and edit copy as suggested so that liks are functional
  content/en/getting_started/devsecops/_index.md
  content/es/getting_started/devsecops/_index.md
  content/ja/getting_started/devsecops/_index.md
  data/partials/home.es.yaml
  data/partials/home.ja.yaml
  data/partials/home.ko.yaml
  i18n/es.json
  i18n/fr.json
  i18n/ja.json
  i18n/ko.json
Labels: none

Update manage.md
  content/en/software_catalog/manage.md
Labels: none

add-precision-for-ecs
  content/en/security/cloud_security_management/setup/agentless_scanning/compatibility.md
Labels: none

Update content/en/software_catalog/manage.md
  content/en/software_catalog/manage.md
Labels: none

Update manage.md (#28162)
  content/en/software_catalog/manage.md
Labels: none

Add Brett's shortcode whitespace solution
  layouts/shortcodes/translate.html
Labels: Architecture

Requirements for ICMP tests on Private Locations
  content/en/synthetics/troubleshooting/_index.md
Labels: none

Update integrations.html
  layouts/shortcodes/integrations.html
Labels: Architecture

Add back language edits & fixes
  content/es/getting_started/devsecops/_index.md
  content/ja/getting_started/devsecops/_index.md
  content/ko/getting_started/devsecops/_index.md
  data/partials/home.es.yaml
  data/partials/home.ja.yaml
  data/partials/home.ko.yaml
  i18n/es.json
  i18n/fr.json
  i18n/ja.json
  i18n/ko.json
Labels: none

Translated file updates
  content/es/integrations/oci_load_balancer.md
  content/es/opentelemetry/guide/_index.md
  content/es/service_management/workflows/expressions.md
  content/es/tracing/services/inferred_services.md
Labels: none

move validating service definition file to customize folder and add page to nav
  config/_default/menus/main.en.yaml
  content/en/software_catalog/customize/validating_service_definition.md
Labels: Architecture

remove best practices from Use Cases page and add an intro sentence
  content/en/software_catalog/use_cases/_index.md
Labels: none

Remove beta callout from Japanese docs (#28156)
  content/ja/service_management/on-call/_index.md
Labels: none

Update content/es/error_tracking/frontend/replay_errors.md
  content/es/error_tracking/frontend/replay_errors.md
Labels: none

rework the create entries page
  content/en/software_catalog/customize/create_entries.md
Labels: none

add redirect link
  content/en/software_catalog/customize/create_entries.md
  content/en/software_catalog/customize/validating_service_definition.md
Labels: none

delete best practices page and add redirect links to customize home page
  content/en/software_catalog/customize/_index.md
  content/en/software_catalog/use_cases/best_practices.md
Labels: none

update redirect links
  content/en/software_catalog/customize/_index.md
Labels: none

Translation Pipeline PR (#28159)
  content/es/agent/guide/fips-agent.md
  content/es/error_tracking/frontend/replay_errors.md
  content/es/integrations/oci_load_balancer.md
  content/es/logs/workspaces/time_selection.md
  content/es/metrics/composite_metrics_queries.md
  content/es/opentelemetry/guide/_index.md
  content/es/service_management/workflows/expressions.md
  content/es/tracing/services/inferred_services.md
Labels: none

Edit structure and content.
  content/en/tracing/metrics/runtime_metrics/_index.md
Labels: none

[WEB-5935]update integration count to 850 (#28158)
  content/en/getting_started/devsecops/_index.md
  content/es/getting_started/devsecops/_index.md
  content/ja/getting_started/devsecops/_index.md
  content/ko/getting_started/devsecops/_index.md
  data/partials/home.es.yaml
  data/partials/home.ja.yaml
  data/partials/home.ko.yaml
  data/partials/home.yaml
  i18n/en.json
  i18n/es.json
  i18n/fr.json
  i18n/ja.json
  i18n/ko.json
  layouts/shortcodes/translate.html
Labels: Architecture

Cleanup.
  content/en/tracing/metrics/runtime_metrics/_index.md
Labels: none

Mention Homebrew install method
  content/en/coterm/install.md
Labels: none
