Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*

Translated file updates
  content/es/account_management/scim/okta.md
  content/es/security/threats/workload_security_rules/custom_rules.md
Labels: none

Translated file updates
  content/es/integrations/zeek.md
Labels: none

Fix links for mgo integration
  content/en/tracing/trace_collection/compatibility/go.md
Labels: none

Remove sidebar from images
  static/images/continuous_delivery/features/rollbacks-deployment-executions.png
  static/images/continuous_delivery/features/rollbacks-detail.png
Labels: Images

Add rollback detection docs | SDCD-952 (#28215)
  config/_default/menus/main.en.yaml
  content/en/continuous_delivery/features/_index.md
  content/en/continuous_delivery/features/rollbacks_detection.md
  static/images/continuous_delivery/features/rollbacks-deployment-executions.png
  static/images/continuous_delivery/features/rollbacks-detail.png
Labels: Images, Architecture

Little update of some requirements (DORA settings)
  content/en/dora_metrics/setup/deployments.md
  content/en/dora_metrics/setup/failures.md
Labels: none

Fix schema_version rename doc for v3
  content/en/software_catalog/service_definitions/v3-0.md
Labels: none

Translated file updates
  data/partials/platforms.es.yaml
Labels: none

IAST Security Controls - Node.js (#28258)
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

chore(cardinality): improve documentation
  content/en/containers/docker/tag.md
  content/en/containers/kubernetes/tag.md
  content/en/developers/dogstatsd/_index.md
  content/en/getting_started/tagging/assigning_tags.md
  content/en/tracing/trace_collection/tracing_naming_convention/_index.md
Labels: none

Update java user tracking documentation
  content/en/security/application_security/threats/add-user-info.md
Labels: none

[SYNTH-18459] Add Synthetics Mobile IP ranges for HTTP steps (#27726)
  content/en/synthetics/mobile_app_testing/mobile_app_tests/restricted_networks.md
Labels: none

Update content/en/continuous_integration/pipelines/custom_commands.md
  content/en/continuous_integration/pipelines/custom_commands.md
Labels: none

Update content/en/cloud_cost_management/azure.md
  content/en/cloud_cost_management/azure.md
Labels: none

Apply suggestions from code review
  content/en/cloud_cost_management/azure.md
Labels: none

[datadog-ci-span] Applied review suggestions
  content/en/continuous_integration/pipelines/custom_commands.md
Labels: none

Fix broken link on `Ingestion Sampling with OpenTelemetry` page
  content/en/opentelemetry/ingestion_sampling.md
Labels: none

Translated file updates
  content/es/software_catalog/troubleshooting.md
  content/ko/integrations/google_app_engine.md
  content/ko/integrations/google_cloud_audit_logs.md
  content/ko/logs/explorer/search_syntax.md
Labels: none

SDCD-887: updating DORA setup documentation to include GitLab, which is in closed preview (#27931)
  content/en/dora_metrics/setup/deployments.md
Labels: none

Apply suggestions from code review
  content/en/real_user_monitoring/rum_without_limits/metrics.md
Labels: none

Add GitLab references to Changes Detection docs (#28212)
  content/en/continuous_delivery/features/code_changes_detection.md
Labels: none

Update flex_logs.md
  content/en/logs/log_configuration/flex_logs.md
Labels: none

[CCM] Adding anomlies documentation (#27775)
  config/_default/menus/main.en.yaml
  content/en/cloud_cost_management/anomalies.md
  static/images/cloud_cost/anomalies/cost_anomalies_list.png
  static/images/cloud_cost/anomalies/cost_anomalies_side-panel.png
  static/images/cloud_cost/anomalies/cost_anomalies_side-panel_is-significant.png
Labels: Images, Architecture

Regenerate client from commit 764de5f0 of spec repo
  .apigentools-info
  content/en/api/v2/software-catalog/examples.json
  data/api/v2/full_spec.yaml
Labels: none

Fix links for mgo integration (#28306)
  content/en/tracing/trace_collection/compatibility/go.md
Labels: none

[error-tracking] document sorting options in the explorer
  content/en/error_tracking/explorer.md
Labels: none

[CCM] adding description to image / fixing image extension
  content/en/cloud_cost_management/anomalies.md
Labels: none

Update README.md
  README.md
Labels: none

Add security blog to further reading (#28297)
  content/en/observability_pipelines/_index.md
  content/en/security/_index.md
Labels: none

Add missing parentheses (#28303)
  content/en/tracing/trace_collection/custom_instrumentation/android/otel.md
Labels: none

Update README.md
  README.md
Labels: none

Update _index.md with FAQ
  content/en/mobile/_index.md
Labels: none

Upper case small changes
  content/en/dora_metrics/data_collected/_index.md
  content/en/dora_metrics/setup/deployments.md
Labels: none

Update anomalies.md
  content/en/cloud_cost_management/anomalies.md
Labels: none

Update anomalies.md
  content/en/cloud_cost_management/anomalies.md
Labels: none

Update anomalies.md
  content/en/cloud_cost_management/anomalies.md
Labels: none

Update content/en/error_tracking/explorer.md
  content/en/error_tracking/explorer.md
Labels: none

fix description of relevance
  content/en/error_tracking/explorer.md
Labels: none

[DOCS-10170] Add Azure doc link
  content/en/logs/guide/azure-automated-logs-architecture.md
Labels: Guide

Fix schema_version rename doc for v3 (#28307)
  content/en/software_catalog/service_definitions/v3-0.md
Labels: none
