Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

Translated file updates
  content/ja/continuous_integration/guides/infrastructure_metrics_with_gitlab.md
Labels: none

Translated file updates
  content/ja/integrations/guide/oracle-check-upgrade-7.md
Labels: none

Regenerate client from commit 899883be of spec repo
  .apigentools-info
  data/api/v2/full_spec.yaml
  data/api/v2/translate_actions.json
Labels: none

Translated file updates
  content/ja/integrations/cisco_aci.md
  content/ko/integrations/cisco_aci.md
  content/ko/integrations/puma.md
Labels: none

update ecs known issue (#28125)
  content/en/infrastructure/containers/amazon_elastic_container_explorer.md
Labels: none

SDCD-887: adding missing `/` in when closing tabs section
  content/en/dora_metrics/setup/deployments.md
Labels: none

Add Fargate compatibility to CSM Agentless
  content/en/security/cloud_security_management/setup/agentless_scanning/compatibility.md
Labels: none

Fix application_name inflation (#28100)
  content/en/database_monitoring/connect_dbm_and_apm.md
Labels: none

Regenerate client from commit 31302d2f of spec repo
  .apigentools-info
  content/en/api/v2/security-monitoring/examples.json
  data/api/v2/full_spec.yaml
Labels: none

Translated file updates
  content/ko/integrations/pulumi.md
  content/ko/integrations/purefb.md
  content/ko/integrations/pusher.md
Labels: none

Update Static Code Analysis (SAST) Setup
  content/en/security/code_security/static_analysis/setup/_index.md
Labels: none

Change exploring to explore and clarify section title
  config/_default/menus/main.en.yaml
  content/en/continuous_delivery/_index.md
  content/en/continuous_delivery/deployments/argocd.md
  content/en/continuous_delivery/deployments/ciproviders.md
Labels: Architecture

Address feedback from review
  config/_default/menus/main.en.yaml
  content/en/continuous_delivery/_index.md
  content/en/continuous_delivery/deployments/_index.md
  content/en/continuous_delivery/explorer/_index.md
  content/en/continuous_delivery/features/_index.md
  content/en/continuous_delivery/features/changes_detection.md
Labels: Architecture

Translated file updates
  content/es/dashboards/guide/unable-to-iframe.md
  content/es/service_management/on-call/schedules.md
  content/ko/dashboards/guide/query-to-the-graph.md
  content/ko/dashboards/widgets/query_value.md
  content/ko/database_monitoring/query_metrics.md
  content/ko/database_monitoring/query_samples.md
Labels: none

Merge search and explore in the CD Visibility documentation (#28077)
  config/_default/menus/main.en.yaml
  content/en/continuous_delivery/_index.md
  content/en/continuous_delivery/deployments/_index.md
  content/en/continuous_delivery/deployments/argocd.md
  content/en/continuous_delivery/deployments/ciproviders.md
  content/en/continuous_delivery/explorer/_index.md
  content/en/continuous_delivery/explorer/facets.md
  content/en/continuous_delivery/explorer/saved_views.md
  content/en/continuous_delivery/explorer/search_syntax.md
  content/en/continuous_delivery/search/_index.md
Labels: Architecture

Deleting translations of content/ja/continuous_delivery/search/_index.md
  content/ja/continuous_delivery/search/_index.md
Labels: none

Deleting translations of content/es/continuous_delivery/search/_index.md
  content/es/continuous_delivery/search/_index.md
Labels: none

Deleting translations of content/ko/continuous_delivery/search/_index.md
  content/ko/continuous_delivery/search/_index.md
Labels: none

Update content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/_index.md
Labels: none

Update content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/_index.md
Labels: none

remove level column
  content/en/real_user_monitoring/rum_without_limits/metrics.md
Labels: none

fix 2 columns
  content/en/real_user_monitoring/rum_without_limits/metrics.md
Labels: none

Translated file updates
  content/ja/continuous_delivery/explorer/search_syntax.md
  content/ko/developers/integrations/python.md
  content/ko/tracing/trace_explorer/query_syntax.md
Labels: none

updates per Eng feedback
  content/en/network_monitoring/devices/guide/device_profiles.md
  static/images/network_device_monitoring/profile_onboarding/device_inventory_page.png
  static/images/network_device_monitoring/profile_onboarding/device_inventory_page_2.png
  static/images/network_device_monitoring/profile_onboarding/save_sync_agents.png
  static/images/network_device_monitoring/profile_onboarding/save_sync_agents_2.png
Labels: Images

fixing screenshot
  content/en/network_monitoring/devices/guide/device_profiles.md
  static/images/network_device_monitoring/profile_onboarding/save_sync_agents.png
  static/images/network_device_monitoring/profile_onboarding/save_sync_agents_2.png
Labels: Images

renaming "changes" to "code changes" and address comments
  content/en/continuous_delivery/features/_index.md
  content/en/continuous_delivery/features/changes_detection.md
Labels: none

changed photos to relfect better ui
  content/en/account_management/billing/custom_metrics.md
  content/en/metrics/guide/custom_metrics_governance.md
  static/images/account_management/billing/custom_metrics/mwl_sidepanel_ingested_3142025.jpg
  static/images/metrics/volume/reduce_metric_vol_cost_tags_03142025.png
Labels: Images, Guide

Addiniotal missed renaming
  config/_default/menus/main.en.yaml
  content/en/continuous_delivery/features/_index.md
  content/en/continuous_delivery/features/code_changes_detection.md
Labels: Architecture

Fix links
  content/en/security/sensitive_data_scanner/_index.md
  content/en/security/sensitive_data_scanner/setup/cloud_storage.md
Labels: none

add best practices
  content/en/real_user_monitoring/rum_without_limits/retention_filters.md
Labels: none

enhance quickstart guide steps
  content/en/llm_observability/quickstart.md
  static/images/llm_observability/serverless_lambda_nodejs_configuration.png
  static/images/llm_observability/serverless_lambda_python_configuration.png
Labels: Images

Update Static Code Analysis (SAST) Setup (#28155)
  content/en/security/code_security/static_analysis/setup/_index.md
Labels: none

Remove beta callout from Japanese docs
  content/ja/service_management/on-call/_index.md
Labels: none

Resolve merge conflict
  config/_default/menus/main.en.yaml
Labels: Architecture

Translated file updates
  content/es/cloudcraft/getting-started/connect-an-azure-aks-cluster-with-cloudcraft.md
  content/es/data_jobs/emr.md
  content/es/dynamic_instrumentation/expression-language.md
  content/es/real_user_monitoring/guide/tracking-rum-usage-with-usage-attribution-tags.md
Labels: none

added some metrics descriptions
  content/en/real_user_monitoring/rum_without_limits/metrics.md
Labels: none

Switch tabs. Move Data Collected.
  config/_default/menus/main.en.yaml
  content/en/tracing/metrics/runtime_metrics/_index.md
Labels: Architecture

Update content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/_index.md
Labels: none

auto-instrumentation updates
  content/en/llm_observability/setup/auto_instrumentation.md
Labels: none

remove images in favor of direct steps
  content/en/llm_observability/quickstart.md
  static/images/llm_observability/serverless_lambda_nodejs_configuration.png
  static/images/llm_observability/serverless_lambda_python_configuration.png
Labels: Images

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*
