Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

fixed broken links for sca + asm in each tab for devsecops tiers
  content/en/getting_started/devsecops/_index.md
Labels: none

fix: support keywords it, key, value in autocomplete
  assets/scripts/components/expression-language-evaluator.js
  assets/scripts/components/expression-language-parser.js
  assets/scripts/tests/expression-language-evaluator.test.js
  assets/scripts/tests/expression-language-parser.test.js
  assets/styles/components/_expression-language.scss
  content/en/dynamic_instrumentation/expression-language.md
Labels: Architecture

Add warning for changed SQL text (#28075)
  content/en/database_monitoring/connect_dbm_and_apm.md
Labels: none

Bump datadog-lambda-extension layer to version 74
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

SDCD-854: Update "Synchronize Repository Metadata to DataDog" section of DORA setup docs to reference the updated github integration tile design (#27948)
  content/en/dora_metrics/setup/deployments.md
Labels: none

Fix broken repo link (#28109)
  content/en/data_jobs/databricks.md
Labels: none

Update supported_frameworks.md (#28103)
  content/en/security/cloud_security_management/misconfigurations/frameworks_and_benchmarks/supported_frameworks.md
Labels: none

change the word pipeline to index (#28105)
  content/en/logs/log_configuration/indexes.md
Labels: none

(DOCS-9994) Update type_handler_version (#28095)
  content/en/integrations/guide/azure-programmatic-management.md
Labels: Guide

Translated file updates
  content/es/continuous_testing/environments/multiple_env.md
  content/es/database_monitoring/setup_mongodb/selfhosted.md
Labels: none

(DOCS-9895) Incorporate feedback
  content/en/metrics/summary.md
Labels: none

Bump datadog-lambda-extension layer to version 74 (#28114)
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

Apply suggestions from code review
  content/en/coterm/install.md
  content/en/coterm/rules.md
  content/en/coterm/usage.md
Labels: none

add missing shortcode and text
  content/en/observability_pipelines/set_up_pipelines/dual_ship_logs/amazon_data_firehose.md
  content/en/observability_pipelines/set_up_pipelines/dual_ship_logs/amazon_s3.md
  content/en/observability_pipelines/set_up_pipelines/dual_ship_logs/kafka.md
  content/en/observability_pipelines/set_up_pipelines/generate_metrics/amazon_data_firehose.md
  content/en/observability_pipelines/set_up_pipelines/generate_metrics/amazon_s3.md
  content/en/observability_pipelines/set_up_pipelines/generate_metrics/kafka.md
  content/en/observability_pipelines/set_up_pipelines/log_enrichment/amazon_data_firehose.md
  content/en/observability_pipelines/set_up_pipelines/log_enrichment/amazon_s3.md
  content/en/observability_pipelines/set_up_pipelines/log_enrichment/kafka.md
  content/en/observability_pipelines/set_up_pipelines/log_volume_control/amazon_data_firehose.md
  content/en/observability_pipelines/set_up_pipelines/log_volume_control/amazon_s3.md
  content/en/observability_pipelines/set_up_pipelines/log_volume_control/kafka.md
  content/en/observability_pipelines/set_up_pipelines/sensitive_data_redaction/amazon_data_firehose.md
  content/en/observability_pipelines/set_up_pipelines/sensitive_data_redaction/amazon_s3.md
  content/en/observability_pipelines/set_up_pipelines/sensitive_data_redaction/kafka.md
  content/en/observability_pipelines/set_up_pipelines/split_logs/amazon_data_firehose.md
  content/en/observability_pipelines/set_up_pipelines/split_logs/amazon_s3.md
  content/en/observability_pipelines/set_up_pipelines/split_logs/kafka.md
Labels: none

add quickstart from reference
  content/en/llm_observability/quickstart.md
Labels: none

wording fixes
  content/en/llm_observability/quickstart.md
Labels: none

Move sentence about containerCollectAll to previous sentence
  content/en/containers/guide/container-discovery-management.md
Labels: Guide

Add message on diff-aware (#28085)
  content/en/security/code_security/troubleshooting/_index.md
Labels: none

Reference the Log Discovery - Filtering info
  content/en/containers/kubernetes/log.md
Labels: none

Add clarifying sentences to Kubernetes log autodiscovery for when `datadog.logs.containerCollectAll` is set to false (#28104)
  content/en/containers/guide/container-discovery-management.md
  content/en/containers/kubernetes/log.md
Labels: Guide

Remove missing index for MongoDB
  content/en/database_monitoring/recommendations.md
Labels: none

fix: test nested function calls
  assets/scripts/tests/expression-language-parser.test.js
Labels: Architecture

testing initial change
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: none

fixed broken links for sca + asm in each tab for devsecops tiers (#28115)
  content/en/getting_started/devsecops/_index.md
Labels: none

edits
  content/en/coterm/install.md
  content/en/coterm/rules.md
Labels: none

change url
  content/en/coterm/install.md
Labels: none

adding more info to unresolved traffic
  content/en/network_monitoring/cloud_network_monitoring/network_analytics.md
Labels: none

(DOCS-9895) Update instruction
  content/en/metrics/summary.md
Labels: none

Translated file updates
  content/es/security/cloud_siem/investigate_security_signals.md
Labels: none

Add note about how old this build is
  markdoc/cdocs-author-console/package.json
  markdoc/cdocs-author-console/src/App.tsx
  markdoc/cdocs-author-console/src/main.tsx
  markdoc/cdocs-author-console/yarn.lock
Labels: none

Fix nit typo
  content/en/software_catalog/customize/_index.md
Labels: none

Updates
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: none

messing around
  .gitignore
  CDOCS_NOTES.md
  content/en/agent/guide/fips-agent.md
  customization_config/en/option_groups/prog_lang.yaml
  customization_config/en/options/prog_lang.yaml
  customization_config/en/traits/traits.yaml
  package.json
  yarn.lock
Labels: Guide

Delete unused and outdated file
  layouts/shortcodes/csm-agentless-setup.en.md
Labels: Architecture

RUM without Limits first push
  content/en/real_user_monitoring/guide/retention_filter_best_practices.md
  content/en/real_user_monitoring/rum_without_limits/_index.md
  content/en/real_user_monitoring/rum_without_limits/metrics.md
  content/en/real_user_monitoring/rum_without_limits/retention_filters.md
  static/images/real_user_monitoring/rum_without_limits/filters-test.png
  static/images/real_user_monitoring/rum_without_limits/metrics-test.png
  static/images/real_user_monitoring/rum_without_limits/overview-test.png
Labels: Images, Guide

Change page title
  markdoc/cdocs-author-console/src/App.tsx
Labels: none

Add author console directory
  assets/scripts/cdocs-build.js
Labels: Architecture

Reorganize Agentless onboarding docs (#28096)
  config/_default/menus/main.en.yaml
  content/en/security/cloud_security_management/agentless_scanning/_index.md
  content/en/security/cloud_security_management/setup/_index.md
  content/en/security/cloud_security_management/setup/agentless_scanning/_index.md
  content/en/security/cloud_security_management/setup/agentless_scanning/azure_resource_manager.md
  content/en/security/cloud_security_management/setup/agentless_scanning/cloudformation.md
  content/en/security/cloud_security_management/setup/agentless_scanning/compatibility.md
  content/en/security/cloud_security_management/setup/agentless_scanning/deployment_methods.md
  content/en/security/cloud_security_management/setup/agentless_scanning/enable.md
  content/en/security/cloud_security_management/setup/agentless_scanning/quick_start.md
  content/en/security/cloud_security_management/setup/agentless_scanning/terraform.md
  content/en/security/cloud_security_management/vulnerabilities/_index.md
  layouts/shortcodes/csm-agentless-setup.en.md
Labels: Architecture

Deleting translations of content/es/security/cloud_security_management/setup/agentless_scanning/azure_resource_manager.md
  content/es/security/cloud_security_management/setup/agentless_scanning/azure_resource_manager.md
Labels: none

[AWSX] chore(doc): update AWS permissions in template (#28111)
  layouts/shortcodes/aws-permissions.en.md
Labels: Architecture

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*
