Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

formatting
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: none

Update versions and wording for .NET Framework beta (#28124)
  content/en/profiler/enabling/dotnet.md
Labels: none

Add addiitonal link on search page
  content/en/continuous_integration/search/_index.md
Labels: none

remove unnecessary temporary tables grant (#28132)
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/azure.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
Labels: none

add file descriptor and threads enhanced metrics
  content/en/serverless/aws_lambda/metrics.md
Labels: none

(asm) Fix link to protection pages (#28126)
  content/en/security/application_security/threats/protection.md
  content/ja/security/application_security/threats/protection.md
Labels: none

wip
  content/.gitignore
  content/en/agent/guide/fips-agent.md
  content/en/agent/guide/fips-agent.mdoc.md
  content/en/agent/guide/gcp-private-service-connect.md
  package.json
  static/markdoc/console/data.json
  static/markdoc/console/index.html
  yarn.lock
Labels: Guide

[AGENTLESS] AWS CMKs are supported (#28129)
  content/en/security/cloud_security_management/setup/agentless_scanning/compatibility.md
Labels: none

Tweak CSS
  markdoc/cdocs-author-console/src/App.css
Labels: none

add missing shortcode and text (#28117)
  content/en/observability_pipelines/set_up_pipelines/dual_ship_logs/amazon_data_firehose.md
  content/en/observability_pipelines/set_up_pipelines/dual_ship_logs/amazon_s3.md
  content/en/observability_pipelines/set_up_pipelines/dual_ship_logs/kafka.md
  content/en/observability_pipelines/set_up_pipelines/generate_metrics/amazon_data_firehose.md
  content/en/observability_pipelines/set_up_pipelines/generate_metrics/amazon_s3.md
  content/en/observability_pipelines/set_up_pipelines/generate_metrics/kafka.md
  content/en/observability_pipelines/set_up_pipelines/log_enrichment/amazon_data_firehose.md
  content/en/observability_pipelines/set_up_pipelines/log_enrichment/amazon_s3.md
  content/en/observability_pipelines/set_up_pipelines/log_enrichment/kafka.md
  content/en/observability_pipelines/set_up_pipelines/log_volume_control/amazon_data_firehose.md
  content/en/observability_pipelines/set_up_pipelines/log_volume_control/amazon_s3.md
  content/en/observability_pipelines/set_up_pipelines/log_volume_control/kafka.md
  content/en/observability_pipelines/set_up_pipelines/sensitive_data_redaction/amazon_data_firehose.md
  content/en/observability_pipelines/set_up_pipelines/sensitive_data_redaction/amazon_s3.md
  content/en/observability_pipelines/set_up_pipelines/sensitive_data_redaction/kafka.md
  content/en/observability_pipelines/set_up_pipelines/split_logs/amazon_data_firehose.md
  content/en/observability_pipelines/set_up_pipelines/split_logs/amazon_s3.md
  content/en/observability_pipelines/set_up_pipelines/split_logs/kafka.md
Labels: none

SDCD-887: adding GitLab information in the file path spec section of the docs
  content/en/dora_metrics/setup/deployments.md
Labels: none

changing menu (#27945)
  config/_default/menus/main.en.yaml
Labels: Architecture

feat: runnable expression language examples
  assets/scripts/components/expression-language-evaluator.js
  assets/scripts/components/expression-language-parser.js
  assets/scripts/datadog-docs.js
  assets/scripts/tests/expression-language-evaluator.test.js
  assets/scripts/tests/expression-language-parser.test.js
  assets/styles/components/_expression-language.scss
  assets/styles/style.scss
  content/en/dynamic_instrumentation/expression-language.md
  layouts/shortcodes/expression-language-evaluator.html
  layouts/shortcodes/expression-language-repl.html
Labels: Architecture

feat: add autocomplete to the REPL
  assets/scripts/components/expression-language-evaluator.js
  assets/scripts/components/expression-language-parser.js
  assets/scripts/tests/expression-language-evaluator.test.js
  assets/scripts/tests/expression-language-parser.test.js
  assets/styles/components/_expression-language.scss
  content/en/dynamic_instrumentation/expression-language.md
  layouts/shortcodes/expression-language-evaluator.html
  layouts/shortcodes/expression-language-repl.html
Labels: Architecture

Update _index.md (#28130)
  content/en/opentelemetry/instrument/_index.md
Labels: none

feat: Switch from a REPL to a log simulator (#28131)
  assets/scripts/components/expression-language-evaluator.js
  assets/scripts/components/expression-language-parser.js
  assets/scripts/tests/expression-language-evaluator.test.js
  assets/scripts/tests/expression-language-parser.test.js
  assets/styles/components/_expression-language.scss
  content/en/dynamic_instrumentation/expression-language.md
  layouts/shortcodes/expression-language-repl.html
  layouts/shortcodes/expression-language-simulator.html
Labels: Architecture

Update investigate_sensitive_data_issues.md
  content/en/sensitive_data_scanner/guide/investigate_sensitive_data_issues.md
Labels: Guide

Update command description
  content/en/security/cloud_security_management/setup/iac_scanning/iac_scanning_exclusions.md
Labels: none

Add embedded Collector to nav structure.
  config/_default/menus/main.en.yaml
  content/en/opentelemetry/agent/_index.md
  content/en/opentelemetry/agent/agent_with_custom_components.md
  content/en/opentelemetry/agent/install_agent_with_collector.md
  content/en/opentelemetry/agent/migration.md
  content/en/opentelemetry/guide/_index.md
  content/en/opentelemetry/guide/migrate/_index.md
  content/en/opentelemetry/setup/agent.md
  layouts/partials/nav/left-nav.html
Labels: Architecture, Guide

update helm chart version now that it's merged
  content/en/network_monitoring/network_path/setup.md
Labels: none

Update content/en/real_user_monitoring/mobile_and_tv_monitoring/react_native/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/react_native/advanced_configuration.md
Labels: none

fix: code editor tab formatting
  assets/styles/components/_expression-language.scss
  layouts/shortcodes/expression-language-simulator.html
Labels: Architecture

Update _index.md
  content/en/getting_started/tracing/_index.md
Labels: none

move section
  content/en/network_monitoring/network_path/setup.md
Labels: none

Translated file updates
  content/es/cloud_cost_management/saas_costs.md
  content/es/integrations/loadrunner_professional.md
Labels: none

nodejs tab
  content/en/llm_observability/quickstart.md
Labels: none

[NPM-3754] Document how to set up static paths on k8s (#28045)
  content/en/network_monitoring/cloud_network_monitoring/setup.md
  content/en/network_monitoring/network_path/setup.md
Labels: none

RUM-6479 - Add documentation for RumMonitor#addViewLoadingTime API on React Native guide (#28127)
  content/en/real_user_monitoring/mobile_and_tv_monitoring/react_native/advanced_configuration.md
Labels: none

update risk scoring docs to reflect expansion of support
  content/en/security/cloud_siem/entities_and_risk_scoring.md
Labels: none

Create draft landing page for Agent-based setups.
  config/_default/menus/main.en.yaml
  content/en/opentelemetry/compatibility.md
  content/en/opentelemetry/setup/agent.md
Labels: Architecture

fix: feedback on examples and specifying loops is hardcoded
  assets/scripts/components/expression-language-evaluator.js
  assets/styles/components/_expression-language.scss
  content/en/dynamic_instrumentation/expression-language.md
  layouts/shortcodes/expression-language-simulator.html
Labels: Architecture

Add first release of gcp recs to available recs
  content/en/cloud_cost_management/recommendations/_index.md
Labels: none

Regenerate client from commit 4d0afa07 of spec repo
  .apigentools-info
  content/en/api/v1/usage-metering/examples.json
  data/api/v1/full_spec.yaml
Labels: none

Update investigate_sensitive_data_issues.md (#28134)
  content/en/sensitive_data_scanner/guide/investigate_sensitive_data_issues.md
Labels: Guide

Add first release of gcp recs to available recs (#28140)
  content/en/cloud_cost_management/recommendations/_index.md
Labels: none

add link
  content/en/getting_started/tracing/_index.md
Labels: none

DOCS-10311: Change DBM Recommendations tabs to a table (#28107)
  content/en/database_monitoring/recommendations.md
Labels: none

Translated file updates
  content/es/actions/connections/http.md
  content/es/actions/private_actions/private_action_credentials.md
  content/es/integrations/guide/oracle-check-upgrade-7.md
Labels: none

update recommendations docs with config guidance
  content/en/database_monitoring/recommendations.md
Labels: none

add file descriptor and threads enhanced metrics (#28138)
  content/en/serverless/aws_lambda/metrics.md
Labels: none

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*
