Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*

update versions
  content/en/serverless/step_functions/merge-step-functions-lambda.md
Labels: none

Update _index.md
  content/en/cloud_cost_management/datadog_costs/_index.md
Labels: none

remove "Step Functions" mention in every header
  content/en/serverless/step_functions/merge-step-functions-lambda.md
Labels: none

Translated file updates
  content/ko/agent/guide/environment-variables.md
  content/ko/data_streams/go.md
  content/ko/data_streams/java.md
  content/ko/dynamic_instrumentation/_index.md
  content/ko/integrations/amazon_api_gateway.md
  content/ko/integrations/google_cloud_run.md
  content/ko/integrations/guide/aws-terraform-setup.md
  content/ko/real_user_monitoring/browser/advanced_configuration.md
  content/ko/sensitive_data_scanner/_index.md
Labels: none

Revert "[AWSX] chore(doc): update AWS permissions in template (#28111)"
  layouts/shortcodes/aws-permissions.en.md
Labels: Architecture

initial commit
  content/en/containers/faq/_index.md
  content/en/containers/faq/cpu-usage-metrics.md
  content/en/containers/kubernetes/data_collected.md
Labels: FAQ

Docs10365/add site restriction (#28185)
  content/en/metrics/custom_metrics/historical_metrics.md
Labels: none

Apply suggestions from code review
  content/en/security/cloud_security_management/setup/iac_scanning/iac_scanning_exclusions.md
Labels: none

adjust format
  content/en/all_guides.md
Labels: none

Update _index.md
  content/en/llm_observability/cluster_map/_index.md
Labels: none

[DOCS-10378] Add alert box for linux RPM (#28193)
  layouts/shortcodes/observability_pipelines/install_worker/linux_rpm.en.md
Labels: Architecture

Update container-discovery-management.md (#28194)
  content/en/containers/guide/container-discovery-management.md
Labels: Guide

Revert "[AWSX] chore(doc): update AWS permissions in template (#28111)" (#28198)
  layouts/shortcodes/aws-permissions.en.md
Labels: Architecture

add info about dynamic by metric
  content/en/cloud_cost_management/custom_allocation_rules/_index.md
Labels: none

Update _index.md (#28196)
  content/en/cloud_cost_management/datadog_costs/_index.md
Labels: none

Update to new nav
  content/en/cloud_cost_management/budgets.md
Labels: none

Update _index.md
  content/en/llm_observability/cluster_map/_index.md
Labels: none

adjust format (#28200)
  content/en/all_guides.md
Labels: none

[AWS] feat(doc): add new permissions (#28177)
  layouts/shortcodes/aws-permissions.en.md
Labels: Architecture

Update to new nav (#28201)
  content/en/cloud_cost_management/budgets.md
Labels: none

Update saas_costs.md
  content/en/cloud_cost_management/saas_costs.md
Labels: none

Update custom.md
  content/en/cloud_cost_management/custom.md
Labels: none

Update manage.md
  content/en/software_catalog/manage.md
Labels: none

Update content/en/software_catalog/manage.md
  content/en/software_catalog/manage.md
Labels: none

Update content/en/software_catalog/manage.md
  content/en/software_catalog/manage.md
Labels: none

Update content/en/software_catalog/manage.md
  content/en/software_catalog/manage.md
Labels: none

Update content/en/software_catalog/manage.md
  content/en/software_catalog/manage.md
Labels: none

Update content/en/software_catalog/manage.md
  content/en/software_catalog/manage.md
Labels: none

Update content/en/software_catalog/manage.md
  content/en/software_catalog/manage.md
Labels: none

Update aws-terraform-setup.md
  content/ko/integrations/guide/aws-terraform-setup.md
Labels: none

address PR comments
  content/en/cloud_cost_management/custom_allocation_rules/_index.md
Labels: none

adding Gov callout
  content/en/synthetics/guide/email-validation.md
Labels: Guide

Apply suggestions from Rosa's review
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: Github

fixing link in azure_app_services_windows.md (#28027)
  content/en/serverless/azure_app_services/azure_app_services_windows.md
Labels: none

Regenerate client from commit 2dfddc18 of spec repo
  .apigentools-info
  data/api/v1/full_spec.yaml
  data/api/v1/translate_tags.json
Labels: none

Update other files (#28202)
  content/en/cloud_cost_management/custom.md
  content/en/cloud_cost_management/saas_costs.md
Labels: none

Update _index.md
  content/en/account_management/_index.md
Labels: none

Update manage.md (#28197)
  content/en/software_catalog/manage.md
Labels: none

Translated file updates
  content/es/security/application_security/threats/exploit-prevention.md
  content/es/service_management/case_management/automation_rules.md
Labels: none

Add blog post to further reading
  content/en/logs/guide/best-practices-for-log-management.md
Labels: Guide
