Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*

Update documentation with automatic incident creation from monitors
  content/en/monitors/notify/_index.md
  content/en/service_management/incident_management/declare.md
  content/en/service_management/incident_management/incident_settings/_index.md
Labels: none

Add one line warning to OTLP operation name v2 migration instructions
  content/en/opentelemetry/guide/migrate/migrate_operation_names.md
Labels: none

feat(DI): Runnable EL examples and EL simulator (#28079)
  assets/scripts/components/expression-language-evaluator.js
  assets/scripts/components/expression-language-parser.js
  assets/scripts/datadog-docs.js
  assets/scripts/tests/expression-language-evaluator.test.js
  assets/scripts/tests/expression-language-parser.test.js
  assets/styles/components/_expression-language.scss
  assets/styles/style.scss
  content/en/dynamic_instrumentation/expression-language.md
  layouts/shortcodes/expression-language-evaluator.html
  layouts/shortcodes/expression-language-simulator.html
Labels: Architecture

docs(change-tracking): update image for dashboard overlays (#28247)
  static/images/change_tracking/change-tracking-dashboard-show-overlays-active.png
Labels: Images

remove notes
  config/_default/menus/main.en.yaml
Labels: Architecture

Fix numbering format for alignment (#28256)
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-kinesis-firehose-destination.md
Labels: Guide

moving CCM Nav
  config/_default/menus/main.en.yaml
Labels: Architecture

Update content/en/monitors/notify/_index.md with backticks
  content/en/monitors/notify/_index.md
Labels: none

Update content/en/service_management/incident_management/declare.md with backticks
  content/en/service_management/incident_management/declare.md
Labels: none

[DOCS-10126] Explain branch naming convention as a hard requirement (#28160)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
Labels: Github

moving below Infra
  config/_default/menus/main.en.yaml
Labels: Architecture

Regenerate client from commit 24bd883d of spec repo
  .apigentools-info
  config/_default/menus/api.en.yaml
  content/en/api/v2/security-monitoring/examples.json
  content/en/api/v2/security-monitoring/request.CreateCustomFramework.json
  data/api/v2/CodeExamples.json
  data/api/v2/full_spec.yaml
  data/api/v2/translate_actions.json
Labels: Architecture

[AZINTS-3245] add uninstall instructions
  content/en/logs/guide/azure-automated-log-forwarding.md
Labels: Guide

Add one line warning to OTLP operation name v2 migration instructions (#28261)
  content/en/opentelemetry/guide/migrate/migrate_operation_names.md
Labels: none

Update documentation with automatic incident creation from monitors (#28257)
  content/en/monitors/notify/_index.md
  content/en/service_management/incident_management/declare.md
  content/en/service_management/incident_management/incident_settings/_index.md
Labels: none

update media
  config/_default/menus/main.en.yaml
  content/en/real_user_monitoring/browser/optimizing_performance.md
  static/images/real_user_monitoring/browser/optimizing_performance/filter-and-evaluate.png
  static/images/real_user_monitoring/browser/optimizing_performance/optimization-workflow.mp4
  static/images/real_user_monitoring/browser/optimizing_performance/page-selectors.png
  static/images/real_user_monitoring/browser/optimizing_performance/troubleshoot.png
  static/images/real_user_monitoring/browser/optimizing_performance/view-event-samples.png
  static/images/real_user_monitoring/browser/optimizing_performance/vitals-visualize.png
  static/images/real_user_monitoring/browser/optimizing_performance/vitals-workflow.mp4
  static/images/real_user_monitoring/browser/vitals_performance/vital-filter-and-evaluate-1.png
  static/images/real_user_monitoring/browser/vitals_performance/vitals-page-selectors-1.png
  static/images/real_user_monitoring/browser/vitals_performance/vitals-troubleshoot.png
  static/images/real_user_monitoring/browser/vitals_performance/vitals-view-event-samples-1.png
Labels: Images, Architecture

update page name
  content/en/real_user_monitoring/browser/optimizing_performance.md
Labels: none

Translated file updates
  content/es/real_user_monitoring/platform/_index.md
  content/ko/real_user_monitoring/platform/_index.md
Labels: none

[AZINTS-3245] use code block instead
  content/en/logs/guide/azure-automated-log-forwarding.md
Labels: Guide

created new files and shifted content around
  config/_default/menus/main.en.yaml
  content/en/software_catalog/customize.md
  content/en/software_catalog/set_up/_index.md
  content/en/software_catalog/set_up/existing_datadog_customer.md
  content/en/software_catalog/set_up/new_to_datadog.md
Labels: Architecture

add sds section (#28259)
  content/en/security/_index.md
Labels: none

[AZINTS-3245] use numbered reference
  content/en/logs/guide/azure-automated-log-forwarding.md
Labels: Guide

[AZINTS-3245] update cloud shell wording
  content/en/logs/guide/azure-automated-log-forwarding.md
Labels: Guide

Update content/en/logs/guide/azure-automated-log-forwarding.md
  content/en/logs/guide/azure-automated-log-forwarding.md
Labels: Guide

Add more details to Changes to Prometheus Server reader defaults section.
  content/en/opentelemetry/guide/migrate/collector_0_120_0.md
Labels: none

[AZINTS-3245] Add Uninstall Instructions (#28263)
  content/en/logs/guide/azure-automated-log-forwarding.md
Labels: Guide

[DSM] Move the Azure Service Bus instructions to the .NET setup page (#28032)
  content/en/data_streams/dotnet.md
Labels: none

Update content/en/synthetics/troubleshooting/_index.md
  content/en/synthetics/troubleshooting/_index.md
Labels: none

Update content/en/synthetics/troubleshooting/_index.md
  content/en/synthetics/troubleshooting/_index.md
Labels: none

Translated file updates
  content/es/cloud_cost_management/google_cloud.md
  content/ja/real_user_monitoring/platform/_index.md
Labels: none

Fix indentation and remove some hyphens
  content/en/agent/remote_config/_index.md
Labels: none

Fix note lines
  content/en/agent/remote_config/_index.md
Labels: none

Translated file updates
  content/es/coterm/_index.md
  content/es/real_user_monitoring/mobile_and_tv_monitoring/ios/integrated_libraries.md
  content/es/security/cloud_siem/detection_rules/mitre_attack_map.md
Labels: none

Translated file updates
  content/es/service_management/on-call/profile_settings.md
Labels: none

Translated file updates
  content/ko/account_management/_index.md
Labels: none

Translated file updates
  content/es/software_catalog/self-service/software_templates.md
  content/ko/agent/logs/advanced_log_collection.md
  content/ko/integrations/amazon_dynamodb.md
Labels: none

Translated file updates
  content/ko/account_management/billing/apm_tracing_profiler.md
  content/ko/integrations/azure_sql_managed_instance.md
Labels: none

Apply suggestions from code review
  content/en/real_user_monitoring/guide/retention_filter_best_practices.md
  content/en/real_user_monitoring/rum_without_limits/_index.md
  content/en/real_user_monitoring/rum_without_limits/retention_filters.md
Labels: Guide

Improve commit metadata reference in Argo CD docs (#28250)
  content/en/continuous_delivery/deployments/argocd.md
Labels: none

moving tab contents to separate file for easier management
  content/en/database_monitoring/setup_postgres/selfhosted.md
  layouts/shortcodes/dbm/postgres/self-hosted-install-docker.en.md
  layouts/shortcodes/dbm/postgres/self-hosted-install-kubernetes.en.md
Labels: Architecture
