Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*

Update domain_allowlist.md
  content/en/account_management/org_settings/domain_allowlist.md
Labels: none

Bumps typesense-sync version
  package.json
  typesense.config.json
  yarn.lock
Labels: none

Update content/en/security/account_takeover_protection.md
  content/en/security/account_takeover_protection.md
Labels: none

Update content/en/security/account_takeover_protection.md
  content/en/security/account_takeover_protection.md
Labels: none

Update content/en/security/account_takeover_protection.md
  content/en/security/account_takeover_protection.md
Labels: none

Update domain_allowlist.md (#28276)
  content/en/account_management/org_settings/domain_allowlist.md
Labels: none

Add the author console build
  .gitignore
  assets/scripts/cdocs-build.js
Labels: Architecture

Translated file updates
  content/es/cloud_cost_management/budgets.md
  content/es/logs/guide/reduce_data_transfer_fees.md
  content/es/observability_pipelines/destinations/sentinelone.md
  content/es/product_analytics/journeys/pathways.md
  content/es/security/automation_pipelines/mute.md
  content/es/security/automation_pipelines/security_inbox.md
Labels: none

Tweak build approach
  Makefile
  assets/scripts/cdocs-build.js
  cdocs-hugo-integration-v1.0.10.tgz
  cdocs-hugo-integration-v1.0.11.tgz
  package.json
  yarn.lock
Labels: Architecture

Update troubleshooting guide for private location IPv4 issues
  content/en/synthetics/troubleshooting/_index.md
Labels: none

move to Docker tab
  content/en/synthetics/troubleshooting/_index.md
Labels: none

APPSEC-56952 - Add notify on update feature (#27972)
  content/en/security/account_takeover_protection.md
  static/images/security/application_security/threats/notify-on-update-payload.png
  static/images/security/application_security/threats/notify-on-update.png
Labels: Images

initial commit (#28199)
  content/en/containers/faq/_index.md
  content/en/containers/faq/cpu-usage-metrics.md
  content/en/containers/kubernetes/data_collected.md
Labels: FAQ

Update troubleshooting guide for private location IPv4 issues (#28279)
  content/en/synthetics/troubleshooting/_index.md
Labels: none

Update preview links for mdoc files
  local/bin/py/preview_links.py
Labels: Architecture

simpler solution
  local/bin/py/preview_links.py
Labels: Architecture

cleanup
  local/bin/py/preview_links.py
Labels: Architecture

model used for evals moved to respective model provider sections
  content/en/llm_observability/configuration/_index.md
Labels: none

Translated file updates
  content/es/integrations/guide/mysql-custom-queries.md
  content/es/monitors/guide/notification-message-best-practices.md
  content/es/opentelemetry/troubleshooting.md
Labels: none

remove SCA guide from ASM section
  content/en/security/application_security/guide/_index.md
Labels: none

remove future tense
  content/en/llm_observability/configuration/_index.md
Labels: none

[MLOB-2424] Update Docs (#28255)
  content/en/llm_observability/configuration/_index.md
Labels: none

Add "No Oracle DB hostname reported" to known issues (#28098)
  content/en/database_monitoring/setup_oracle/troubleshooting.md
Labels: none

Translated file updates
  content/ko/integrations/cassandra.md
  content/ko/real_user_monitoring/guide/browser-sdk-upgrade.md
Labels: none

Translated file updates
  content/ko/integrations/catchpoint.md
  content/ko/real_user_monitoring/browser/collecting_browser_errors.md
  content/ko/tracing/guide/configure_an_apdex_for_your_traces_with_datadog_apm.md
Labels: none

SDCD-1030: adding service catalog link naming parameters to the dora setup docs
  content/en/dora_metrics/setup/deployments.md
Labels: none

SDCD-1030: updating wording a location, also adding the same change to cd visibility's code changes detection page
  content/en/continuous_delivery/features/code_changes_detection.md
  content/en/dora_metrics/setup/deployments.md
Labels: none

SDCD-1030: updating path spec name requirements in dora and cd visibility set up docs
  content/en/continuous_delivery/features/code_changes_detection.md
  content/en/dora_metrics/setup/deployments.md
Labels: none

Fix typo
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

Cleaning up docs for host and docker tab
  content/en/database_monitoring/setup_postgres/selfhosted.md
  layouts/shortcodes/dbm/postgres/self-hosted-install-docker.en.md
  layouts/shortcodes/dbm/postgres/self-hosted-install-host.en.md
  layouts/shortcodes/dbm/postgres/self-hosted-install-kubernetes.en.md
Labels: Architecture

Update Runtime Code Analysis (IAST) Overview Page
  content/en/security/code_security/iast/_index.md
Labels: none

Kubernetes docs update
  layouts/shortcodes/dbm/postgres/self-hosted-install-docker.en.md
  layouts/shortcodes/dbm/postgres/self-hosted-install-kubernetes.en.md
Labels: Architecture

fix typos in event management page
  content/en/service_management/events/_index.md
Labels: none

address PR comments
  content/en/profiler/enabling/go.md
Labels: none

v1
  config/_default/menus/main.en.yaml
  content/en/dora_metrics/_index.md
  content/en/dora_metrics/data_collected/_index.md
  content/en/dora_metrics/setup/_index.md
  content/en/dora_metrics/setup/deployments.md
  content/en/dora_metrics/setup/failures.md
  go.mod
  go.sum
  static/images/dora_metrics/dashboard.png
Labels: Images, Architecture

link migration guide
  content/en/profiler/enabling/go.md
Labels: none

Change javascript to Node.js
  content/en/tracing/trace_collection/runtime_config/_index.md
Labels: none

add collecting schemas section to mysql config docs
  layouts/shortcodes/dbm-mysql-agent-config-examples.en.md
Labels: Architecture

fix typos in event management page (#28285)
  content/en/service_management/events/_index.md
Labels: none

add note on opening FR
  content/en/serverless/step_functions/merge-step-functions-lambda.md
Labels: none
