Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

address browser team feedback
  content/en/real_user_monitoring/correlate_with_other_telemetry/apm/_index.md
  content/en/real_user_monitoring/correlate_with_other_telemetry/logs/_index.md
Labels: none

apply suggestions
  content/en/observability_pipelines/install_the_worker.md
  layouts/shortcodes/observability_pipelines/install_worker/kubernetes.md
Labels: Architecture

Fix formatting issue in Software Catalog Key Terminology section
  content/en/software_catalog/_index.md
Labels: none

Update _index.md
  content/en/software_catalog/self-service/_index.md
Labels: none

Bump the required `dd-trace-java` version for Exception Replay from `1.35.0` -> `1.47.0`
  content/en/error_tracking/backend/exception_replay.md
Labels: none

Rename _index.md to _index.md
  content/en/software_catalog/actions/_index.md
Labels: none

Update and rename software_templates.md to software_templates.md
  content/en/software_catalog/actions/software_templates.md
Labels: none

Update software_templates.md
  content/en/software_catalog/actions/software_templates.md
Labels: none

apply suggestions
  layouts/shortcodes/observability_pipelines/install_worker/kubernetes.md
Labels: Architecture

Update main.en.yaml
  config/_default/menus/main.en.yaml
Labels: Architecture

Update troubleshooting.md (#28217)
  content/en/observability_pipelines/troubleshooting.md
Labels: none

warning for compute on shared policy
  content/en/data_jobs/databricks.md
Labels: none

Runtime Metrics Interation (#28167)
  content/en/tracing/metrics/runtime_metrics/_index.md
Labels: none

update mobile saml login to include default browser
  content/en/mobile/_index.md
Labels: none

Delete data collected page and menu item.
  config/_default/menus/main.en.yaml
  content/en/tracing/metrics/runtime_metrics/data_collected.md
Labels: Architecture

update Scan devices screenshot and gov callout
  content/en/network_monitoring/devices/guide/device_profiles.md
  static/images/network_device_monitoring/profile_onboarding/scan_reference_devices.png
  static/images/network_device_monitoring/profile_onboarding/scan_reference_devices_2.png
Labels: Images

DOCS-10385: Move site availability note to alert box (#28209)
  content/en/integrations/guide/aws-cloudwatch-metric-streams-with-kinesis-data-firehose.md
Labels: Guide

Update content/en/data_jobs/databricks.md
  content/en/data_jobs/databricks.md
Labels: none

Update content/en/data_jobs/databricks.md
  content/en/data_jobs/databricks.md
Labels: none

Incorporate reviewer feedback
  content/en/security/cloud_security_management/setup/iac_scanning/iac_scanning_exclusions.md
Labels: none

fmt as code
  content/en/data_jobs/databricks.md
Labels: none

Update content/en/security/account_takeover_protection.md
  content/en/security/account_takeover_protection.md
Labels: none

Update content/en/security/account_takeover_protection.md
  content/en/security/account_takeover_protection.md
Labels: none

Update content/en/security/account_takeover_protection.md
  content/en/security/account_takeover_protection.md
Labels: none

Regenerate client from commit 78376979 of spec repo
  .apigentools-info
  content/en/api/v1/usage-metering/examples.json
  data/api/v1/full_spec.yaml
Labels: none

Update content/en/security/cloud_security_management/setup/iac_scanning/iac_scanning_exclusions.md
  content/en/security/cloud_security_management/setup/iac_scanning/iac_scanning_exclusions.md
Labels: none

Remove note about CNM not supported on GKE Autopilot
  content/en/network_monitoring/cloud_network_monitoring/setup.md
Labels: none

Add troubleshooting note for Datadog-hosted SCA scans
  content/en/security/code_security/software_composition_analysis/setup_static/_index.md
  content/en/security/code_security/troubleshooting/_index.md
Labels: none

Group language-specific content in alert box to visually distinguish.
  content/en/tracing/metrics/runtime_metrics/_index.md
Labels: none

DOCS-10110: IaC Scanning exclusions (#28009)
  config/_default/menus/main.en.yaml
  content/en/security/cloud_security_management/setup/iac_scanning/_index.md
  content/en/security/cloud_security_management/setup/iac_scanning/iac_scanning_exclusions.md
  layouts/partials/nav/left-nav.html
Labels: Architecture

Deleting translations of content/es/security/cloud_security_management/setup/iac_scanning.md
  content/es/security/cloud_security_management/setup/iac_scanning.md
Labels: none

Translated file updates
  content/es/security/cloud_security_management/setup/iac_scanning/_index.md
  layouts/shortcodes/observability_pipelines/configure_log_archive/google_cloud_storage/instructions.es.md
Labels: Architecture

[RUM] Add GRACE documentation to RUM applications (#28147)
  content/en/real_user_monitoring/_index.md
Labels: none

(DOCS-10263) Add image (#28210)
  static/images/integrations/google_cloud_platform/bigquery_manage_permissions.png
Labels: Images

Change alert style. Remove extra sentence.
  content/en/tracing/metrics/runtime_metrics/_index.md
Labels: none

Updates rate limit documentation for events submission (#28213)
  content/en/api/latest/rate-limits/_index.md
  content/en/api/v1/rate-limits/_index.md
Labels: none

update pull_config_preview file to use branch for PR 19749
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

Fix formatting issue in Software Catalog Key Terminology section (#28219)
  content/en/software_catalog/_index.md
Labels: none

Remove note about CNM not supported on GKE Autopilot (#28227)
  content/en/network_monitoring/cloud_network_monitoring/setup.md
Labels: none

Bump the required `dd-trace-java` version for Exception Replay from `1.35.0` -> `1.47.0` (#28221)
  content/en/error_tracking/backend/exception_replay.md
Labels: none

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*
