Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*

Update content/en/tracing/other_telemetry/connect_logs_and_traces/opentelemetry.md
  content/en/tracing/other_telemetry/connect_logs_and_traces/opentelemetry.md
Labels: none

update gcp to google cloud
  layouts/shortcodes/observability_pipelines/processors/remap_ocsf.md
Labels: Architecture

[DOCS-10253] Update image and add audit trail to detection rule doc (#28059)
  content/en/security/cloud_siem/detection_rules/_index.md
  static/images/security/security_monitoring/detection_rules/new_value_20250310.png
  static/images/security/security_monitoring/detection_rules/threshold_20250310.png
Labels: Images

update ruby
  content/en/tracing/other_telemetry/connect_logs_and_traces/opentelemetry.md
Labels: none

Only parent actions
  layouts/partials/actions/private_actions_list.html
Labels: Architecture

Update faulty_cloud_saas_api_detection.md (#28246)
  content/en/watchdog/faulty_cloud_saas_api_detection.md
Labels: none

Clarify inferred services setup by Agent version (#28248)
  content/en/tracing/services/inferred_services.md
Labels: none

[DOCS-10395] Add 2.4 OCSF mappings (#28236)
  layouts/shortcodes/observability_pipelines/processors/remap_ocsf.md
Labels: Architecture

Translated file updates
  content/es/real_user_monitoring/browser/setup/server.md
  content/ko/agent/guide/private-link.md
Labels: none

Improve commit metadata reference in Argo CD docs
  content/en/continuous_delivery/deployments/argocd.md
Labels: none

Test fix
  content/es/real_user_monitoring/browser/setup/server.md
Labels: none

Update Makefile
  Makefile
Labels: none

fixing menu conflict
  config/_default/menus/main.en.yaml
Labels: Architecture

Hardcode Kubernetes
  layouts/partials/actions/private_actions_list.html
Labels: Architecture

add java and dotnet versions for lambda -> sfn
  content/en/serverless/step_functions/merge-step-functions-lambda.md
Labels: none

add cloud siem info
  content/en/account_management/audit_trail/_index.md
Labels: none

Remove stray punctuation
  content/es/service_management/on-call/escalation_policies.md
Labels: none

[DJM Databricks] Redirect users compute on shared policy to manual install (#28222)
  content/en/data_jobs/databricks.md
Labels: none

Remove stray punctuation
  content/es/service_management/on-call/escalation_policies.md
Labels: none

Apply suggestions from code review
  content/en/datadog_cloudcraft/_index.md
Labels: none

Add new supported OTel metrics.
  config/_default/menus/main.en.yaml
  content/en/opentelemetry/integrations/_index.md
  content/en/opentelemetry/integrations/apache_metrics.md
  content/en/opentelemetry/integrations/haproxy_metrics.md
  content/en/opentelemetry/integrations/iis_metrics.md
  content/en/opentelemetry/integrations/mysql_metrics.md
  content/en/opentelemetry/integrations/nginx_metrics.md
  content/en/opentelemetry/integrations/spark_metrics.md
  static/images/opentelemetry/collector_exporter/haproxy_metrics.png
  static/images/opentelemetry/collector_exporter/iis_metrics.png
  static/images/opentelemetry/collector_exporter/mysql_metrics.png
  static/images/opentelemetry/collector_exporter/nginx_metrics.png
  static/images/opentelemetry/collector_exporter/spark_metrics.png
Labels: Images, Architecture

Update Makefile (#28251)
  Makefile
Labels: none

Apply suggestions from Janine's review
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: Github

Fix stray punctuation
  content/es/software_catalog/use_cases/dev_onboarding.md
Labels: none

Regenerate client from commit cfc0156e of spec repo
  .apigentools-info
  data/api/v2/full_spec.yaml
  data/api/v2/translate_actions.json
Labels: none

add simple documentation for ddtrace-api package
  config/_default/params.yaml
  content/en/tracing/trace_collection/custom_instrumentation/python/ddtrace-api.md
Labels: Architecture

Remove alert for commit_metadata field
  content/en/continuous_delivery/deployments/argocd.md
Labels: none

Synchronize
  content/en/continuous_delivery/deployments/argocd.md
Labels: none

Translated file updates
  content/es/service_management/on-call/escalation_policies.md
  content/ko/agent/guide/_index.md
  content/ko/getting_started/integrations/_index.md
  content/ko/getting_started/synthetics/_index.md
  content/ko/getting_started/tagging/_index.md
  content/ko/monitors/guide/_index.md
  content/ko/serverless/guide/_index.md
Labels: none

adding more copy to Saved views section
  content/en/datadog_cloudcraft/_index.md
Labels: none

update docs
  content/en/llm_observability/configuration/_index.md
Labels: none

add cloud siem info (#28252)
  content/en/account_management/audit_trail/_index.md
Labels: none

typo
  content/en/tracing/trace_collection/custom_instrumentation/python/ddtrace-api.md
Labels: none

Rtrieu/add telemetry rum platform partial 2 (#28164)
  config/_default/menus/main.en.yaml
  content/en/administrators_guide/plan.md
  content/en/getting_started/tagging/unified_service_tagging.md
  content/en/logs/guide/ease-troubleshooting-with-cross-product-correlation.md
  content/en/opentelemetry/compatibility.md
  content/en/opentelemetry/correlate/rum_and_traces.md
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/browser/monitoring_resource_performance.md
  content/en/real_user_monitoring/browser/setup/client.md
  content/en/real_user_monitoring/correlate_with_other_telemetry/_index.md
  content/en/real_user_monitoring/correlate_with_other_telemetry/apm/_index.md
  content/en/real_user_monitoring/correlate_with_other_telemetry/logs/_index.md
  content/en/real_user_monitoring/guide/browser-sdk-upgrade.md
  content/en/real_user_monitoring/guide/monitor-your-nextjs-app-with-rum.md
  content/en/real_user_monitoring/guide/session-replay-for-solutions.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/ios/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/react_native/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/unity/setup.md
  content/en/real_user_monitoring/platform/_index.md
  content/en/tracing/_index.md
  content/en/tracing/other_telemetry/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/android/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/ios/otel.md
  content/en/tracing/trace_collection/trace_context_propagation/_index.md
  content/en/tracing/trace_explorer/visualize.md
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
  layouts/partials/rum/rum-correlate-rum-and-logs.html
  static/images/real_user_monitoring/connect_rum_and_traces/rum_apm_logs-2.png
  static/images/real_user_monitoring/connect_rum_and_traces/rum_apm_logs.png
  static/images/real_user_monitoring/correlate_rum_and_logs/rum_browser_logs.png
Labels: Images, Architecture, Guide

Deleting translations of content/es/real_user_monitoring/platform/connect_rum_and_traces.md
  content/es/real_user_monitoring/platform/connect_rum_and_traces.md
Labels: none

Fix numbering format for alignment
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-kinesis-firehose-destination.md
Labels: Guide

(Workflows) Generate list of private actions (#28245)
  content/en/actions/private_actions/use_private_actions.md
  layouts/partials/actions/private_actions_list.html
Labels: Architecture

Update content/en/llm_observability/configuration/_index.md
  content/en/llm_observability/configuration/_index.md
Labels: none

Add Node.js IAST Security controls info
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

add sds section
  content/en/security/_index.md
Labels: none
