Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

updated CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

updated PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

page templates
  content/en/agent/logs/advanced_log_collection.md
  content/en/agent/logs/auto_multiline_detection.md
  content/en/agent/logs/auto_multiline_detection_legacy.md
Labels: none

Reorganize to prioritize latency metrics.
  content/en/tracing/metrics/metrics_namespace.md
Labels: none

notes
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

maybe shorter
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

note
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

V2 doc outline
  content/en/agent/logs/auto_multiline_detection.md
Labels: none

name copy updates
  content/en/network_monitoring/devices/_index.md
  content/en/network_monitoring/devices/guide/device_profiles.md
Labels: none

Update SLO Retention for Monitor-based SLOs
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

Add Audit Trail to list of data collection and retention scopes
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

Updated source statement
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

Update README.md (#28314)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
Labels: Github

[DOCS-10445] Add Terraform module link
  content/en/getting_started/integrations/google_cloud.md
Labels: none

[CCM] adding description to image / fixing image extension (#28313)
  content/en/cloud_cost_management/anomalies.md
Labels: none

add config instructions to all hosting pages, and move granting instructions to config section.
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/azure.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
  layouts/shortcodes/dbm-mysql-agent-config-examples.en.md
Labels: Architecture

[error-tracking] document sorting options in the explorer (#28305)
  content/en/error_tracking/explorer.md
Labels: none

Update workflow to modify saved views template variable values
  content/en/dashboards/template_variables.md
  static/images/dashboards/template_variables/saved_view_create.png
  static/images/dashboards/template_variables/saved_views_update_template_variable.png
Labels: Images

Translated file updates
  content/es/service_management/on-call/processing_rules.md
  content/ko/integrations/guide/prometheus-metrics.md
  content/ko/integrations/prometheus.md
  content/ko/integrations/rabbitmq.md
Labels: none

Service health updates for ga
  content/en/tracing/services/service_page.md
  go.mod
  go.sum
Labels: none

agent with an A!
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/azure.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
Labels: none

add links for API, Terraform, and GitHub references
  content/en/software_catalog/set_up/new_to_datadog.md
Labels: none

Fix logging endpoint for US1-FED
  content/en/logs/log_collection/_index.md
Labels: none

update web source version
  go.mod
  go.sum
Labels: none

use audit_event shortcode
  content/en/account_management/audit_trail/events.md
  layouts/shortcodes/account_management/audit_events.html
Labels: Architecture

case on Name
  layouts/shortcodes/account_management/audit_events.html
Labels: Architecture

Apply suggestions from code review
  content/en/getting_started/tracing/_index.md
Labels: none

MySQL Schema Collection Docs (#28291)
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/azure.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
  layouts/shortcodes/dbm-mysql-agent-config-examples.en.md
Labels: Architecture

comments
  content/en/account_management/audit_trail/events.md
  layouts/shortcodes/account_management/audit_events.html
Labels: Architecture

Apply suggestions from code review
  content/en/real_user_monitoring/browser/optimizing_performance.md
Labels: none

Update flex_logs.md (#28311)
  content/en/logs/log_configuration/flex_logs.md
Labels: none

Update SLO Retention for Monitor-based SLOs (#28324)
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

Fix logging endpoint for US1-FED (#28327)
  content/en/logs/log_collection/_index.md
Labels: none

Apply suggestions from code review
  content/en/dashboards/template_variables.md
Labels: none

Reorganize to prioritize latency metrics. (#28317)
  content/en/tracing/metrics/metrics_namespace.md
Labels: none

Update ccm azure exports docs (#28296)
  content/en/cloud_cost_management/azure.md
  static/images/cloud_cost/azure_export_path.png
  static/images/cloud_cost/azure_exports_page.png
  static/images/cloud_cost/azure_new_export.png
Labels: Images

add note that DI is not supported for us1-fed
  content/en/dynamic_instrumentation/_index.md
Labels: none

Update ingestion_mechanisms.md
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
Labels: none

rm unused links
  content/en/account_management/audit_trail/events.md
Labels: none

Update workflow to modify saved views template variable values (#28325)
  content/en/dashboards/template_variables.md
  static/images/dashboards/template_variables/saved_view_create.png
  static/images/dashboards/template_variables/saved_views_update_template_variable.png
Labels: Images

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*
