Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*

Deleting translations of content/ko/tracing/metrics/runtime_metrics/python.md
  content/ko/tracing/metrics/runtime_metrics/python.md
Labels: none

Deleting translations of content/ja/tracing/metrics/runtime_metrics/dotnet.md
  content/ja/tracing/metrics/runtime_metrics/dotnet.md
Labels: none

Deleting translations of content/fr/tracing/metrics/runtime_metrics/dotnet.md
  content/fr/tracing/metrics/runtime_metrics/dotnet.md
Labels: none

Deleting translations of content/es/tracing/metrics/runtime_metrics/dotnet.md
  content/es/tracing/metrics/runtime_metrics/dotnet.md
Labels: none

Deleting translations of content/ko/tracing/metrics/runtime_metrics/dotnet.md
  content/ko/tracing/metrics/runtime_metrics/dotnet.md
Labels: none

Deleting translations of content/es/tracing/metrics/runtime_metrics/go.md
  content/es/tracing/metrics/runtime_metrics/go.md
Labels: none

Deleting translations of content/ja/tracing/metrics/runtime_metrics/ruby.md
  content/ja/tracing/metrics/runtime_metrics/ruby.md
Labels: none

Deleting translations of content/es/tracing/metrics/runtime_metrics/ruby.md
  content/es/tracing/metrics/runtime_metrics/ruby.md
Labels: none

Deleting translations of content/ja/tracing/metrics/runtime_metrics/java.md
  content/ja/tracing/metrics/runtime_metrics/java.md
Labels: none

Deleting translations of content/fr/tracing/metrics/runtime_metrics/java.md
  content/fr/tracing/metrics/runtime_metrics/java.md
Labels: none

Deleting translations of content/es/tracing/metrics/runtime_metrics/java.md
  content/es/tracing/metrics/runtime_metrics/java.md
Labels: none

Deleting translations of content/ja/tracing/metrics/runtime_metrics/nodejs.md
  content/ja/tracing/metrics/runtime_metrics/nodejs.md
Labels: none

Deleting translations of content/es/tracing/metrics/runtime_metrics/nodejs.md
  content/es/tracing/metrics/runtime_metrics/nodejs.md
Labels: none

Deleting translations of content/ko/tracing/metrics/runtime_metrics/nodejs.md
  content/ko/tracing/metrics/runtime_metrics/nodejs.md
Labels: none

Replace embedded Collector with DDOT Collector.
  content/en/opentelemetry/agent/_index.md
  content/en/opentelemetry/agent/agent_with_custom_components.md
  content/en/opentelemetry/agent/install_agent_with_collector.md
  content/en/opentelemetry/agent/migration.md
  content/en/opentelemetry/compatibility.md
  content/en/opentelemetry/guide/_index.md
  content/en/opentelemetry/guide/migrate/_index.md
  content/en/opentelemetry/setup/agent.md
  content/es/opentelemetry/agent/agent_with_custom_components.md
Labels: Guide

Update doc to include requirements for executing browser tests
  content/en/synthetics/troubleshooting/_index.md
Labels: none

Requirements for ICMP tests on Private Locations (#28163)
  content/en/synthetics/troubleshooting/_index.md
Labels: none

Translated file updates
  content/es/cloudcraft/account-management/enable-sso-with-azure-ad.md
  content/es/product_analytics/journeys/funnel_analysis.md
  content/es/serverless/guide/step_functions_cdk.md
  content/es/service_management/incident_management/incident_settings/property_fields.md
Labels: none

Composer --> Compose
  content/en/synthetics/platform/private_locations/_index.md
Labels: none

try to fix broken link preview
  content/en/cloud_cost_management/custom_allocation_rules/_index.md
Labels: none

Distinguish between DDOT Collector and OTLP Ingest.
  config/_default/menus/main.en.yaml
  content/en/opentelemetry/_index.md
  content/en/opentelemetry/setup/_index.md
  content/en/opentelemetry/setup/agent.md
Labels: Architecture

Apply suggestions from code review
  content/en/real_user_monitoring/rum_without_limits/_index.md
Labels: none

Apply suggestions from code review
  content/en/real_user_monitoring/rum_without_limits/_index.md
Labels: none

Add draft.
  config/_default/menus/main.en.yaml
  content/en/opentelemetry/guide/migrate/collector_0_120_0.md
Labels: Architecture

Fix broken link.
  content/en/tracing/trace_collection/library_config/go.md
Labels: none

Fix Bolding (#28238)
  content/en/getting_started/synthetics/private_location.md
Labels: none

Make header H3
  content/en/synthetics/api_tests/grpc_tests.md
Labels: none

add preview button for secret scanning (#28234)
  content/en/security/code_security/secret_scanning/_index.md
Labels: none

Fix broken link. (#28241)
  content/en/tracing/trace_collection/library_config/go.md
Labels: none

Composer --> Compose (#28240)
  content/en/synthetics/platform/private_locations/_index.md
Labels: none

Adding ASM to the prod availability list (#28237)
  content/en/security/suppressions.md
Labels: none

Edit draft.
  content/en/opentelemetry/guide/migrate/collector_0_120_0.md
  static/images/opentelemetry/guide/migration/collector_health.png
Labels: Images

Add to landing pages.
  content/en/opentelemetry/guide/_index.md
  content/en/opentelemetry/guide/migrate/_index.md
Labels: Guide

Make header H3 (#28242)
  content/en/synthetics/api_tests/grpc_tests.md
Labels: none

Translated file updates
  content/es/network_monitoring/devices/sd-wan.md
  content/es/service_management/workflows/limits.md
Labels: none

(Workflows) Generate list of private actions
  content/en/actions/private_actions/use_private_actions.md
  layouts/partials/actions/private_actions_list.html
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

cleanup
  content/en/actions/private_actions/use_private_actions.md
  layouts/partials/actions/private_actions_list.html
Labels: Architecture

(DOCS-10263) Update pull config preview
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

Update content/en/llm_observability/quickstart.md
  content/en/llm_observability/quickstart.md
Labels: none

Update content/en/llm_observability/quickstart.md
  content/en/llm_observability/quickstart.md
Labels: none
