Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

fixing broken further reading links (#28090)
  content/en/getting_started/synthetics/mobile_app_testing.md
  content/en/synthetics/mobile_app_testing/_index.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/advanced_options.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/restricted_networks.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/results.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/steps.md
  content/en/synthetics/mobile_app_testing/settings/_index.md
Labels: none

revert instructions
  content/en/observability_pipelines/destinations/google_cloud_storage.md
  layouts/shortcodes/observability_pipelines/configure_log_archive/google_cloud_storage/instructions.en.md
Labels: Architecture

[kubernetes][distributions] Remove unnecessary EKS recommandations (#28083)
  content/en/containers/kubernetes/distributions.md
Labels: none

small edits
  layouts/shortcodes/observability_pipelines/configure_log_archive/google_cloud_storage/instructions.en.md
Labels: Architecture

fix links and order
  layouts/shortcodes/observability_pipelines/configure_log_archive/google_cloud_storage/instructions.en.md
Labels: Architecture

Fix format in serverless_enable_aws_xray.md
  content/en/tracing/guide/serverless_enable_aws_xray.md
Labels: Guide

add index
  content/en/real_user_monitoring/rum_without_limits/_index.md
Labels: none

Update content/en/error_tracking/manage_data_collection.md
  content/en/error_tracking/manage_data_collection.md
Labels: none

remove slashes
  layouts/partials/rum/rum-correlate-rum-and-logs.html
Labels: Architecture

updates from Eng review
  config/_default/menus/main.en.yaml
  content/en/datadog_cloudcraft/_index.md
  static/images/datadog_cloudcraft/cloudcraft_infra_diagram.png
  static/images/datadog_cloudcraft/cloudcraft_infra_diagram_2.png
Labels: Images, Architecture

Update php.md
  content/en/tracing/trace_collection/compatibility/php.md
Labels: none

(DOCS-9994) Update type_handler_version
  content/en/integrations/guide/azure-programmatic-management.md
Labels: Guide

Convert tabs to a table
  content/en/database_monitoring/recommendations.md
Labels: none

Move automatically merged content to correct pages
  content/en/security/cloud_security_management/setup/agentless_scanning/_index.md
  content/en/security/cloud_security_management/setup/agentless_scanning/enable.md
Labels: none

Fix link to "enrich [...] with feature flags" (#27376)
  content/en/real_user_monitoring/browser/advanced_configuration.md
Labels: none

Minor link and Vale fixes
  content/en/security/cloud_security_management/setup/agentless_scanning/_index.md
  content/en/security/cloud_security_management/setup/agentless_scanning/compatibility.md
  content/en/security/cloud_security_management/setup/agentless_scanning/enable.md
  content/en/security/cloud_security_management/vulnerabilities/_index.md
Labels: none

Move redirects to better destinations
  content/en/security/cloud_security_management/setup/agentless_scanning/_index.md
  content/en/security/cloud_security_management/setup/agentless_scanning/enable.md
Labels: none

Translated file updates
  content/es/code_analysis/software_composition_analysis/github_actions.md
  content/es/glossary/terms/trace_context_propagation.md
  content/es/opentelemetry/otlp_metrics.md
Labels: none

no oracle db hostname reported
  content/en/database_monitoring/setup_oracle/troubleshooting.md
Labels: none

Translated file updates
  content/es/security/application_security/threats/security_signals.md
Labels: none

Translated file updates
  content/es/security/application_security/threats/setup/threat_detection/gcp-service-extensions.md
Labels: none

Update content/en/database_monitoring/connect_dbm_and_apm.md
  content/en/database_monitoring/connect_dbm_and_apm.md
Labels: none

Fix application_name inflation
  content/en/database_monitoring/connect_dbm_and_apm.md
Labels: none

Apply PR feedback
  content/en/continuous_integration/guides/use_ci_jobs_failure_analysis.md
  content/en/continuous_integration/pipelines/_index.md
Labels: none

Update troubleshooting.md
  content/en/database_monitoring/setup_oracle/troubleshooting.md
Labels: none

SDCD-854: updating to mention the Datadog Features table since the features tab no longer exists
  content/en/dora_metrics/setup/deployments.md
Labels: none

Translated file updates
  content/es/security/cloud_siem/historical_jobs.md
Labels: none

Use correct link form
  content/en/continuous_integration/pipelines/_index.md
Labels: none

📝 adjust click collection documentation
  content/en/real_user_monitoring/browser/tracking_user_actions.md
Labels: none

Update supported_frameworks.md
  content/en/security/cloud_security_management/misconfigurations/frameworks_and_benchmarks/supported_frameworks.md
Labels: none

Update troubleshooting.md
  content/en/database_monitoring/setup_oracle/troubleshooting.md
Labels: none

Update supported_frameworks.md
  content/en/security/cloud_security_management/misconfigurations/frameworks_and_benchmarks/supported_frameworks.md
Labels: none

[SDTEST-179] Remove phrase that rails parallel testing is not supported for Test Impact Analysis (#28076)
  content/en/tests/test_impact_analysis/setup/ruby.md
Labels: none

Update content/en/security/code_security/iast/security_controls/_index.md
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

Update content/en/security/code_security/iast/security_controls/_index.md
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

Update content/en/security/code_security/iast/security_controls/_index.md
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

Update content/en/security/code_security/iast/security_controls/_index.md
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

Update content/en/security/code_security/iast/security_controls/_index.md
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

Update content/en/security/code_security/iast/security_controls/_index.md
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

Update content/en/security/code_security/iast/security_controls/_index.md
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*
