Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

Link to CoTerm explorer page
  content/en/coterm/usage.md
Labels: none

Translated file updates
  content/es/tracing/troubleshooting/go_compile_time.md
Labels: none

Translated file updates
  content/es/cloudcraft/advanced/minimal-iam-policy.md
  content/es/llm_observability/setup/sdk/nodejs.md
  content/es/real_user_monitoring/mobile_and_tv_monitoring/ios/web_view_tracking.md
  content/es/real_user_monitoring/mobile_and_tv_monitoring/kotlin_multiplatform/integrated_libraries.md
  content/es/real_user_monitoring/mobile_and_tv_monitoring/react_native/web_view_tracking.md
Labels: none

Translated file updates
  content/es/cloudcraft/advanced/fix-unable-to-verify-aws-account-problem.md
Labels: none

Add blog link
  content/en/account_management/_index.md
  content/en/account_management/multi_organization.md
Labels: none

(DOCS-10365) Add site restriction
  content/en/metrics/custom_metrics/historical_metrics.md
Labels: none

hotfix: pin tj-actions/changed-files by SHA
  .github/workflows/gif_check.yml
  .github/workflows/preview_link.yml
Labels: Github

Translated file updates
  content/es/continuous_testing/cicd_integrations/configuration.md
Labels: none

Translated file updates
  content/es/logs/log_configuration/flex_logs.md
Labels: none

Translated file updates
  content/es/opentelemetry/agent/install_agent_with_collector.md
Labels: none

Translated file updates
  content/es/opentelemetry/agent/agent_with_custom_components.md
  content/es/tracing/trace_collection/automatic_instrumentation/dd_libraries/go.md
Labels: none

Translated file updates
  content/es/cloudcraft/getting-started/connect-amazon-eks-cluster-with-cloudcraft.md
  content/es/security/cloud_security_management/iac_scanning.md
  content/ja/error_tracking/issue_states.md
  content/ja/integrations/keep.md
  content/ja/integrations/loadrunner_professional.md
Labels: none

Translated file updates
  content/es/error_tracking/suspected_causes.md
  content/es/software_catalog/use_cases/cloud_cost_management.md
  content/ja/integrations/kubernetes_state_core.md
Labels: none

Translated file updates
  content/ja/cloudcraft/getting-started/live-vs-snapshot-diagrams.md
  content/ja/integrations/cisco_duo.md
  content/ja/integrations/cisco_umbrella_dns.md
  content/ja/integrations/invary.md
Labels: none

Translated file updates
  content/ja/integrations/guide/aws-integration-and-cloudwatch-faq.md
  content/ja/logs/guide/logs-not-showing-expected-timestamp.md
  content/ja/tracing/trace_collection/compatibility/ruby_v1.md
  content/ja/universal_service_monitoring/guide/using_usm_metrics.md
  data/partials/platforms.es.yaml
Labels: none

Fix processors.md typo
  content/en/logs/log_configuration/processors.md
Labels: none

Translated file updates
  content/es/cloudcraft/account-management/set-up-two-factor-authentication.md
  content/es/observability_pipelines/destinations/amazon_security_lake.md
  content/es/service_management/app_builder/components/custom_charts.md
  content/es/tracing/trace_explorer/trace_groups.md
Labels: none

Update content/en/cloud_cost_management/anomalies.md
  content/en/cloud_cost_management/anomalies.md
Labels: none

Update content/en/cloud_cost_management/anomalies.md
  content/en/cloud_cost_management/anomalies.md
Labels: none

Translated file updates
  content/es/database_monitoring/setup_mongodb/troubleshooting.md
  content/es/developers/integrations/log_pipeline.md
  content/es/monitors/guide/monitor_best_practices.md
Labels: none

Translated file updates
  content/es/real_user_monitoring/session_replay/heatmaps.md
Labels: none

Translated file updates
  content/es/sensitive_data_scanner/guide/redact_all_emails_except_from_specific_domain_logs.md
Labels: none

Translated file updates
  content/es/software_catalog/use_cases/production_readiness.md
Labels: none

IAST Security Controls (#27699)
  config/_default/menus/main.en.yaml
  content/en/security/code_security/iast/_index.md
  content/en/security/code_security/iast/security_controls/_index.md
Labels: Architecture

Update content/en/dora_metrics/setup/deployments.md
  content/en/dora_metrics/setup/deployments.md
Labels: none

Update content/en/dora_metrics/setup/deployments.md
  content/en/dora_metrics/setup/deployments.md
Labels: none

[AI-3856] Add FIPS Verified Agent Integrations doc page (#27839)
  content/en/agent/guide/fips-agent.md
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/fips-integrations.md
Labels: Guide

Update powershell_metrics_submission.md
  content/en/metrics/custom_metrics/powershell_metrics_submission.md
Labels: none

[ccm] updating img
  content/en/cloud_cost_management/anomalies.md
  static/images/cloud_cost/anomalies/cost anomalies - side panel - next steps.png
  static/images/cloud_cost/anomalies/cost anomalies - side panel - not significant - is significant.png
  static/images/cloud_cost/anomalies/cost anomalies - side panel - not significant - not an anomaly.png
  static/images/cloud_cost/anomalies/cost_anomalies_list.png
  static/images/cloud_cost/anomalies/cost_anomalies_side-panel.png
  static/images/cloud_cost/anomalies/cost_anomalies_side-panel_is-significant.png
Labels: Images

Update details of navigation to ccm
  content/en/cloud_cost_management/tag_explorer/_index.md
Labels: none

[CCM] Update navigation details + some typos
  content/en/cloud_cost_management/aws.md
  content/en/cloud_cost_management/azure.md
  content/en/cloud_cost_management/budgets.md
  content/en/cloud_cost_management/container_cost_allocation.md
  content/en/cloud_cost_management/custom.md
  content/en/cloud_cost_management/datadog_costs/_index.md
  content/en/cloud_cost_management/google_cloud.md
  content/en/cloud_cost_management/saas_costs.md
  content/en/cloud_cost_management/tag_explorer/_index.md
Labels: none

add warning that djm is not available in fed
  content/en/data_jobs/_index.md
Labels: none

update w suggestions
  content/en/cloud_cost_management/anomalies.md
Labels: none

Update anomalies.md
  content/en/cloud_cost_management/anomalies.md
Labels: none

[AWS] feat(doc): add new permissions
  layouts/shortcodes/aws-permissions.en.md
Labels: Architecture

hotfix: pin tj-actions/changed-files by SHA (#28171)
  .github/workflows/gif_check.yml
  .github/workflows/preview_link.yml
Labels: Github

Add note on historical data
  content/en/dashboards/template_variables.md
Labels: none

split into tabs by query language
  content/en/serverless/step_functions/merge-step-functions-lambda.md
Labels: none

Regenerate client from commit f73f9d61 of spec repo
  .apigentools-info
  content/en/api/v2/security-monitoring/examples.json
  data/api/v2/full_spec.yaml
Labels: none

Apply suggestions from code review
  content/en/sensitive_data_scanner/guide/investigate_sensitive_data_issues.md
Labels: Guide

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*
