Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

add link and fix indentation
  content/en/sensitive_data_scanner/guide/investigate_sensitive_data_issues.md
Labels: Guide

Add note about powerpack limitations on timeboards
  content/en/dashboards/widgets/powerpack.md
Labels: none

Translated file updates
  content/es/product_analytics/heatmaps.md
Labels: none

Add blog link (#28169)
  content/en/account_management/_index.md
  content/en/account_management/multi_organization.md
Labels: none

(DOCS-10365) Add site restriction (#28170)
  content/en/metrics/custom_metrics/historical_metrics.md
Labels: none

moving scan devices instructions
  content/en/network_monitoring/devices/guide/device_profiles.md
Labels: none

Revert "(DOCS-10365) Add site restriction (#28170)"
  content/en/metrics/custom_metrics/historical_metrics.md
Labels: none

Apply suggestions from code review
  content/en/dashboards/template_variables.md
Labels: none

Update powershell_metrics_submission.md
  content/en/metrics/custom_metrics/powershell_metrics_submission.md
Labels: none

Add note about powerpack limitations on timeboards (#28181)
  content/en/dashboards/widgets/powerpack.md
Labels: none

Revert "(DOCS-10365) Add site restriction (#28170)" (#28182)
  content/en/metrics/custom_metrics/historical_metrics.md
Labels: none

some edits
  content/en/coterm/_index.md
  content/en/coterm/install.md
  content/en/coterm/usage.md
Labels: none

Add note on historical data (#28179)
  content/en/dashboards/template_variables.md
Labels: none

Update powershell_metrics_submission.md (#28183)
  content/en/metrics/custom_metrics/powershell_metrics_submission.md
Labels: none

add doc and nav item
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/install_the_worker.md
  static/images/observability_pipelines/install_page.png
Labels: Images, Architecture

add links
  content/en/observability_pipelines/_index.md
  content/en/observability_pipelines/set_up_pipelines/_index.md
Labels: none

CoTerm: Mention Homebrew install method and explorer page (#28166)
  content/en/coterm/_index.md
  content/en/coterm/install.md
  content/en/coterm/usage.md
Labels: none

(DOCS-10365) Add site restriction note
  content/en/metrics/custom_metrics/historical_metrics.md
Labels: none

add warning that djm is not available in fed (#28176)
  content/en/data_jobs/_index.md
Labels: none

Translated file updates
  layouts/shortcodes/observability_pipelines/configure_log_archive/azure_storage/instructions.es.md
Labels: Architecture

checksums
  go.mod
  go.sum
Labels: none

Regenerate client from commit 29344bf2 of spec repo
  .apigentools-info
  content/en/api/v2/service-definition/examples.json
  data/api/v2/full_spec.yaml
Labels: none

Update pipeline_visibility.md
  content/en/software_catalog/use_cases/pipeline_visibility.md
Labels: none

add new Managed Services cases
  content/en/serverless/step_functions/merge-step-functions-lambda.md
Labels: none

Update manage.md
  content/en/software_catalog/manage.md
Labels: none

Update pipeline_visibility.md
  content/en/software_catalog/use_cases/pipeline_visibility.md
Labels: none

Software Catalog Inaccurate Documentation Update
  content/en/software_catalog/manage.md
Labels: none

Add region shortcode
  content/en/metrics/custom_metrics/historical_metrics.md
Labels: none

Replaced incidents by failures
  content/en/dora_metrics/setup/_index.md
Labels: none

add Compatibility Requirements
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

fix
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

add json highlights
  content/en/serverless/step_functions/merge-step-functions-lambda.md
Labels: none

[DOCS-9481] Update Investigate Sensitive Data Issues (#28146)
  content/en/sensitive_data_scanner/guide/investigate_sensitive_data_issues.md
  static/images/sensitive_data_scanner/investigate_sensitive_data_issues/datastore_side_panel.png
Labels: Images, Guide

Update pipeline_visibility.md (#28189)
  content/en/software_catalog/use_cases/pipeline_visibility.md
Labels: none

Software Catalog Inaccurate Documentation Update (#28190)
  content/en/software_catalog/manage.md
Labels: none

add entire state definition
  content/en/serverless/step_functions/merge-step-functions-lambda.md
Labels: none

add alert box
  layouts/shortcodes/observability_pipelines/install_worker/linux_rpm.en.md
Labels: Architecture

Update layouts/shortcodes/observability_pipelines/install_worker/linux_rpm.en.md
  layouts/shortcodes/observability_pipelines/install_worker/linux_rpm.en.md
Labels: Architecture

Llama License Requirement update for LLM Obs Cluster Map
  content/en/llm_observability/cluster_map/_index.md
Labels: none

Update container-discovery-management.md
  content/en/containers/guide/container-discovery-management.md
Labels: Guide

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*
