Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*

fix(standalone): correct python version
  content/en/security/application_security/guide/standalone_application_security.md
Labels: none

clarify profiling pages for Go Tracer v2
  content/en/profiler/enabling/go.md
Labels: none

keep v2 documentation
  content/en/profiler/enabling/go.md
Labels: none

update JSONPath note
  content/en/serverless/step_functions/merge-step-functions-lambda.md
Labels: none

Update Runtime Code Analysis (IAST) Compatibility Requirements for .NET
  content/en/security/code_security/iast/setup/_index.md
Labels: none

update gcp cloudsql recommendation prerequisites
  content/en/cloud_cost_management/recommendations/_index.md
Labels: none

Clarify how to switch to JFR profiling
  content/en/profiler/enabling/java.md
Labels: none

Reprhase transitive deps special case
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

adjust RUM response status documentation
  content/en/real_user_monitoring/browser/monitoring_resource_performance.md
Labels: none

Regenerate client from commit 0f5c928e of spec repo
  .apigentools-info
  content/en/api/v1/usage-metering/examples.json
  data/api/v1/full_spec.yaml
Labels: none

Update AppSec for Serverless Compatibility Requirements
  content/en/security/application_security/serverless/compatibility/_index.md
Labels: none

Translated file updates
  content/es/service_management/on-call/guides/configure-mobile-device-for-on-call.md
Labels: none

Fix indentation and remove some hyphens on remote config doc (#28264)
  content/en/agent/remote_config/_index.md
Labels: none

[DOCS-10399] moving Cloud Cost Nav (#28262)
  config/_default/menus/main.en.yaml
Labels: Architecture

fix(standalone): correct python version (#28265)
  content/en/security/application_security/guide/standalone_application_security.md
Labels: none

Logs and Rum need to be aligned, add comment
  content/en/logs/log_collection/javascript.md
Labels: none

Update AppSec for Serverless Compatibility Requirements (#28271)
  content/en/security/application_security/serverless/compatibility/_index.md
Labels: none

Add scraped options and traits
  customization_config/en/options/options.yaml
  customization_config/en/options/prog_lang.yaml
  customization_config/en/traits/traits.yaml
Labels: none

update gcp cloudsql recommendation prerequisites (#28268)
  content/en/cloud_cost_management/recommendations/_index.md
Labels: none

Bump datadog-lambda-extension layer to version 75
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

shorten lefthand nav names
  config/_default/menus/main.en.yaml
Labels: Architecture

[AZINTS-3245] update language
  content/en/logs/guide/azure-automated-log-forwarding.md
Labels: Guide

Translated file updates
  content/es/continuous_integration/guides/identify_highest_impact_jobs_with_critical_path.md
  content/es/service_management/on-call/pages.md
Labels: none

Apply suggestions from code review
  content/en/real_user_monitoring/browser/monitoring_resource_performance.md
Labels: none

added the snippet
  content/en/tracing/other_telemetry/connect_logs_and_traces/opentelemetry.md
Labels: none

refined customize page and set up child pages
  content/en/software_catalog/customize.md
  content/en/software_catalog/set_up/_index.md
  content/en/software_catalog/set_up/existing_datadog_customer.md
  content/en/software_catalog/set_up/new_to_datadog.md
Labels: none

Adjust script to only add new files to .gitignore
  .gitignore
  assets/scripts/cdocs-build.js
  layouts/partials/markdoc-assets.html
Labels: Architecture

removed customize dir and child pages and updated aliases and further reading of new pages to hold old stuff
  content/en/software_catalog/customize/create_entries.md
  content/en/software_catalog/customize/import_entries_backstage.md
  content/en/software_catalog/customize/import_entries_dd.md
  content/en/software_catalog/customize/import_entries_servicenow.md
  content/en/software_catalog/customize/validating_service_definition.md
  content/en/software_catalog/set_up/_index.md
  content/en/software_catalog/set_up/existing_datadog_customer.md
  content/en/software_catalog/set_up/new_to_datadog.md
Labels: none

Update Makefile
  Makefile
Labels: none

adjust RUM response status documentation (#28270)
  content/en/real_user_monitoring/browser/monitoring_resource_performance.md
Labels: none

[WEB-6172] Fix unexpected results for multi-word search phrases (#28161)
  assets/scripts/components/integrations.js
  layouts/shortcodes/integrations.html
Labels: Architecture

Migrate pilot page
  cdocs-hugo-integration-v1.0.10.tgz
  content/.gitignore
  content/en/cdocs_build/test.mdoc.md
  content/en/real_user_monitoring/guide/proxy-mobile-rum-data.md
  content/en/real_user_monitoring/guide/proxy-mobile-rum-data.mdoc.md
  customization_config/en/option_groups/real_user_monitoring/sdk.yaml
  customization_config/en/options/options.yaml
  customization_config/en/traits/traits.yaml
  package.json
  yarn.lock
Labels: Guide

refine New to Datadog content and update links on Set up page
  content/en/software_catalog/set_up/_index.md
  content/en/software_catalog/set_up/new_to_datadog.md
Labels: none

Update integrations.js
  assets/scripts/components/integrations.js
Labels: Architecture

Build cdocs on make start
  Makefile
Labels: none

Translated file updates
  content/es/code_analysis/github_pull_requests.md
  content/es/integrations/oci_database.md
  content/es/software_catalog/endpoints/explore_endpoints.md
  content/es/software_catalog/use_cases/pipeline_visibility.md
Labels: none

Delete old .md file
  content/en/real_user_monitoring/guide/proxy-mobile-rum-data.md
Labels: Guide

Generated by websites-modules
  go.mod
  go.sum
Labels: none

Move cdocs build command
  Makefile
Labels: none

Update domain_allowlist.md
  content/en/account_management/org_settings/domain_allowlist.md
Labels: none
