Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

Update content/en/security/code_security/software_composition_analysis/setup_static/_index.md
  content/en/security/code_security/software_composition_analysis/setup_static/_index.md
Labels: none

update copy and diagrams
  content/en/cloud_cost_management/custom_allocation_rules/_index.md
  static/images/cloud_cost/custom_allocation_rules/custom_percentage_diagram.png
  static/images/cloud_cost/custom_allocation_rules/custom_percentage_ui.png
  static/images/cloud_cost/custom_allocation_rules/dynamic_diagram.png
  static/images/cloud_cost/custom_allocation_rules/dynamic_ui.png
  static/images/cloud_cost/custom_allocation_rules/even_diagram.png
  static/images/cloud_cost/custom_allocation_rules/even_ui.png
  static/images/cloud_cost/custom_allocation_rules/proportional_diagram.png
  static/images/cloud_cost/custom_allocation_rules/proportional_partition_diagram.png
  static/images/cloud_cost/custom_allocation_rules/proportional_ui.png
Labels: Images

Update faulty_cloud_saas_api_detection.md
  content/en/watchdog/faulty_cloud_saas_api_detection.md
Labels: none

update mobile saml login to include default browser (#28223)
  content/en/mobile/_index.md
Labels: none

Add a word
  content/en/tests/flaky_test_management/auto_test_retries.md
Labels: none

Add a section for defining rules for process tags (#27894)
  content/en/infrastructure/process/_index.md
Labels: none

Regenerate client from commit 8b9cffb1 of spec repo
  .apigentools-info
  content/en/api/v2/software-catalog/examples.json
  data/api/v2/full_spec.yaml
Labels: none

[K9VULN-4229] Add troubleshooting note for Datadog-hosted SCA scans (#28224)
  content/en/security/code_security/software_composition_analysis/setup_static/_index.md
  content/en/security/code_security/troubleshooting/_index.md
Labels: none

Update CCM navigation info (#28175)
  content/en/cloud_cost_management/aws.md
  content/en/cloud_cost_management/azure.md
  content/en/cloud_cost_management/container_cost_allocation.md
  content/en/cloud_cost_management/custom.md
  content/en/cloud_cost_management/datadog_costs/_index.md
  content/en/cloud_cost_management/google_cloud.md
  content/en/cloud_cost_management/saas_costs.md
  content/en/cloud_cost_management/tag_explorer/_index.md
Labels: none

updated gifs
  content/en/metrics/metrics-without-limits.md
  static/images/metrics/mwl-example-tag-exclusion-compressed_03182025.mp4
  static/images/metrics/mwl_example_include_tags-compressed_03182025.mp4
Labels: Images

Update copy to include other 2 clouds
  content/en/cloud_cost_management/recommendations/_index.md
Labels: none

Translated file updates
  content/es/metrics/overview.md
  content/ko/data_streams/_index.md
  content/ko/real_user_monitoring/session_replay/browser/_index.md
Labels: none

Add feedback form link
  content/en/security/cloud_security_management/guide/related-logs.md
Labels: none

Address feedback
  config/_default/menus/main.en.yaml
  content/en/continuous_delivery/features/rollbacks_detection.md
  static/images/continuous_delivery/features/rollbacks-deployment-executions.png
  static/images/continuous_delivery/features/rollbacks-detail.png
Labels: Images, Architecture

Fix typo
  content/en/continuous_delivery/features/rollbacks_detection.md
Labels: none

DOCS-10364: Move SDS to Security (#28150)
  config/_default/menus/main.en.yaml
  content/en/agent/remote_config/_index.md
  content/en/coscreen/_index.md
  content/en/coterm/_index.md
  content/en/data_security/_index.md
  content/en/data_security/logs.md
  content/en/data_security/real_user_monitoring.md
  content/en/dynamic_instrumentation/sensitive-data-scrubbing.md
  content/en/error_tracking/backend/exception_replay.md
  content/en/llm_observability/terms/_index.md
  content/en/logs/guide/best-practices-for-log-management.md
  content/en/logs/guide/control-sensitive-logs-data.md
  content/en/logs/guide/delete_logs_with_sensitive_data.md
  content/en/logs/log_collection/csharp.md
  content/en/observability_pipelines/_index.md
  content/en/opentelemetry/agent/_index.md
  content/en/security/cloud_security_management/setup/agentless_scanning/_index.md
  content/en/security/code_security/secret_scanning/_index.md
  content/en/security/sensitive_data_scanner/_index.md
  content/en/security/sensitive_data_scanner/guide/_index.md
  content/en/security/sensitive_data_scanner/guide/best_practices_for_creating_custom_rules.md
  content/en/security/sensitive_data_scanner/guide/investigate_sensitive_data_issues.md
  content/en/security/sensitive_data_scanner/guide/redact_all_emails_except_from_specific_domain_logs.md
  content/en/security/sensitive_data_scanner/scanning_rules/_index.md
  content/en/security/sensitive_data_scanner/scanning_rules/custom_rules.md
  content/en/security/sensitive_data_scanner/scanning_rules/library_rules.md
  content/en/security/sensitive_data_scanner/setup/_index.md
  content/en/security/sensitive_data_scanner/setup/cloud_storage.md
  content/en/security/sensitive_data_scanner/setup/telemetry_data.md
  content/en/tracing/configure_data_security/_index.md
  content/en/tracing/guide/agent_tracer_hostnames.md
Labels: Architecture, Guide

Deleting translations of content/es/sensitive_data_scanner/guide/redact_all_emails_except_from_specific_domain_logs.md
  content/es/sensitive_data_scanner/guide/redact_all_emails_except_from_specific_domain_logs.md
Labels: none

Deleting translations of content/ja/sensitive_data_scanner/guide/_index.md
  content/ja/sensitive_data_scanner/guide/_index.md
Labels: none

link to quickstart guide
  content/en/llm_observability/setup/sdk/nodejs.md
  content/en/llm_observability/setup/sdk/python.md
Labels: none

add flush mention
  content/en/llm_observability/quickstart.md
Labels: none

Deleting translations of content/es/sensitive_data_scanner/guide/best_practices_for_creating_custom_rules.md
  content/es/sensitive_data_scanner/guide/best_practices_for_creating_custom_rules.md
Labels: none

Update copy to include other 2 clouds (#28231)
  content/en/cloud_cost_management/recommendations/_index.md
Labels: none

Deleting translations of content/ja/sensitive_data_scanner/_index.md
  content/ja/sensitive_data_scanner/_index.md
Labels: none

Update faulty_cloud_saas_api_detection.md (#28230)
  content/en/watchdog/faulty_cloud_saas_api_detection.md
Labels: none

Deleting translations of content/es/sensitive_data_scanner/_index.md
  content/es/sensitive_data_scanner/_index.md
Labels: none

Deleting translations of content/ko/sensitive_data_scanner/_index.md
  content/ko/sensitive_data_scanner/_index.md
Labels: none

add preview button for secret scanning
  content/en/security/code_security/secret_scanning/_index.md
Labels: none

Updatae static/runtime SCA setup docs
  content/en/security/code_security/software_composition_analysis/setup_runtime/_index.md
  content/en/security/code_security/software_composition_analysis/setup_static/_index.md
Labels: none

add new mappings
  layouts/shortcodes/observability_pipelines/processors/remap_ocsf.md
Labels: Architecture

Adding ASM to the prod availability list
  content/en/security/suppressions.md
Labels: none

consolidate tags and update overview
  content/en/observability_pipelines/install_the_worker.md
Labels: none

Use DDOT Collector image.
  content/en/opentelemetry/_index.md
  content/en/opentelemetry/agent/_index.md
  content/en/opentelemetry/setup/agent.md
  static/images/opentelemetry/setup/ddot-collector.png
Labels: Images

Update content/en/synthetics/troubleshooting/_index.md
  content/en/synthetics/troubleshooting/_index.md
Labels: none

Update content/en/synthetics/troubleshooting/_index.md
  content/en/synthetics/troubleshooting/_index.md
Labels: none

Fix typo
  content/en/security/cloud_security_management/guide/related-logs.md
Labels: none

Clarify wording about formats
  content/en/security/cloud_security_management/guide/related-logs.md
Labels: none

APM Runtime Metrics - Upate documentation for the Datadog tracing libraries (#27946)
  content/en/tracing/metrics/runtime_metrics/_index.md
  content/en/tracing/metrics/runtime_metrics/dotnet.md
  content/en/tracing/metrics/runtime_metrics/go.md
  content/en/tracing/metrics/runtime_metrics/java.md
  content/en/tracing/metrics/runtime_metrics/nodejs.md
  content/en/tracing/metrics/runtime_metrics/python.md
  content/en/tracing/metrics/runtime_metrics/ruby.md
  layouts/partials/apm/apm-runtime-metrics-containers.html
Labels: Architecture

Fix Bolding
  content/en/getting_started/synthetics/private_location.md
Labels: none

Deleting translations of content/ja/tracing/metrics/runtime_metrics/python.md
  content/ja/tracing/metrics/runtime_metrics/python.md
Labels: none

Deleting translations of content/es/tracing/metrics/runtime_metrics/python.md
  content/es/tracing/metrics/runtime_metrics/python.md
Labels: none

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*
