Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*

Update content/en/llm_observability/quickstart.md
  content/en/llm_observability/quickstart.md
Labels: none

Translated file updates
  content/es/serverless/azure_functions/_index.md
Labels: none

Translated file updates
  content/es/monitors/guide/composite_use_cases.md
  content/es/service_management/on-call/escalation_policies.md
Labels: none

Translated file updates
  content/es/security/automation_pipelines/set_due_date.md
Labels: none

Update faulty_cloud_saas_api_detection.md
  content/en/watchdog/faulty_cloud_saas_api_detection.md
Labels: none

IAST Security Controls - Compatibility Requirements (#28191)
  content/en/security/code_security/iast/security_controls/_index.md
Labels: none

Translated file updates
  content/es/observability_pipelines/destinations/syslog.md
  content/es/observability_pipelines/sources/splunk_tcp.md
  content/es/software_catalog/use_cases/dev_onboarding.md
  content/ja/integrations/aqua.md
  content/ja/integrations/puma.md
Labels: none

[test optimization] Add logs index section to Failed Test Replay (#28216)
  content/en/tests/flaky_test_management/auto_test_retries.md
Labels: none

docs(change-tracking): update image for dashboard overlays
  static/images/change_tracking/change-tracking-dashboard-show-overlays-active.png
Labels: Images

Translated file updates
  content/es/integrations/aqua.md
Labels: none

Update set user info docs
  content/en/real_user_monitoring/mobile_and_tv_monitoring/android/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/flutter/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/ios/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/kotlin_multiplatform/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/react_native/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/roku/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/unity/advanced_configuration.md
Labels: none

Remove redundant docs and reformat
  content/en/real_user_monitoring/mobile_and_tv_monitoring/android/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/flutter/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/ios/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/kotlin_multiplatform/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/react_native/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/roku/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/unity/advanced_configuration.md
Labels: none

Add trackAnonymousUser configuration documentation
  content/en/real_user_monitoring/mobile_and_tv_monitoring/android/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/ios/advanced_configuration.md
Labels: none

Translated file updates
  content/es/metrics/nested_queries.md
Labels: none

Update content/en/data_jobs/databricks.md
  content/en/data_jobs/databricks.md
Labels: none

RUM-8676 Update set user info docs (#28047)
  content/en/real_user_monitoring/mobile_and_tv_monitoring/android/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/flutter/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/ios/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/kotlin_multiplatform/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/react_native/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/roku/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/unity/advanced_configuration.md
Labels: none

Update content/en/data_jobs/databricks.md
  content/en/data_jobs/databricks.md
Labels: none

add to guides section
  content/en/llm_observability/guide/_index.md
  content/en/llm_observability/quickstart.md
Labels: Guide

Update manage.md
  content/en/software_catalog/manage.md
Labels: none

Update content/en/software_catalog/manage.md
  content/en/software_catalog/manage.md
Labels: none

Move Error Tracking to separate section (#27418)
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

Update layouts/shortcodes/observability_pipelines/processors/remap_ocsf.md
  layouts/shortcodes/observability_pipelines/processors/remap_ocsf.md
Labels: Architecture

nit
  content/en/llm_observability/configuration/_index.md
Labels: none

Clarify inferred services setup by Agent version
  content/en/tracing/services/inferred_services.md
Labels: none

Update content/en/software_catalog/manage.md
  content/en/software_catalog/manage.md
Labels: none

Remove redundant setup instructions for inferred services
  content/en/tracing/services/inferred_services.md
Labels: none

Add screenshot
  content/en/security/account_takeover_protection.md
  static/images/security/application_security/threats/notify-on-update-payload.png
  static/images/security/application_security/threats/notify-on-update.png
Labels: Images

Reset pull config
  layouts/partials/actions/private_actions_list.html
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

add deployment step
  content/en/real_user_monitoring/rum_without_limits/_index.md
Labels: none

Fix mention of path for notification payload
  content/en/security/account_takeover_protection.md
Labels: none

Update Application Security for Serverless Library Compatibility
  content/en/security/application_security/serverless/compatibility/_index.md
Labels: none

Update content/en/tracing/other_telemetry/connect_logs_and_traces/opentelemetry.md
  content/en/tracing/other_telemetry/connect_logs_and_traces/opentelemetry.md
Labels: none

Update content/en/observability_pipelines/install_the_worker.md
  content/en/observability_pipelines/install_the_worker.md
Labels: none

[MLOB-2424] Update Configuration Docs for BYOK Integrations (#28218)
  content/en/llm_observability/configuration/_index.md
  static/images/llm_observability/configuration/amazon-bedrock-tile.png
  static/images/llm_observability/configuration/anthropic-tile.png
Labels: Images

Add guide on Related Logs (#28211)
  content/en/security/cloud_security_management/guide/_index.md
  content/en/security/cloud_security_management/guide/related-logs.md
Labels: none

Update manage.md (#28214)
  content/en/software_catalog/manage.md
Labels: none

update images
  content/en/real_user_monitoring/guide/retention_filter_best_practices.md
  content/en/real_user_monitoring/rum_without_limits/_index.md
  content/en/real_user_monitoring/rum_without_limits/retention_filters.md
  static/images/real_user_monitoring/rum_without_limits/how-filters-work-placeholder.png
  static/images/real_user_monitoring/rum_without_limits/overview-test.png
  static/images/real_user_monitoring/rum_without_limits/rum-without-limits-how-retention-filters-work.png
  static/images/real_user_monitoring/rum_without_limits/rum-without-limits-overview.png
Labels: Images, Guide

[DOCS-9959] Install the OP Worker (#28184)
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/_index.md
  content/en/observability_pipelines/install_the_worker.md
  content/en/observability_pipelines/set_up_pipelines/_index.md
  layouts/shortcodes/observability_pipelines/install_worker/kubernetes.md
  static/images/observability_pipelines/install_page.png
Labels: Images, Architecture

Updatae static/runtime SCA setup docs (#28235)
  content/en/security/code_security/software_composition_analysis/setup_runtime/_index.md
  content/en/security/code_security/software_composition_analysis/setup_static/_index.md
Labels: none

Add trackAnonymousUser configuration documentation (#28048)
  content/en/real_user_monitoring/mobile_and_tv_monitoring/android/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/ios/advanced_configuration.md
Labels: none
