Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*

Deleting translations of content/es/opentelemetry/collector_exporter/configuration.md
  content/es/opentelemetry/collector_exporter/configuration.md
Labels: none

Deleting translations of content/es/opentelemetry/interoperability/otel_api_tracing_interoperability.md
  content/es/opentelemetry/interoperability/otel_api_tracing_interoperability.md
Labels: none

Deleting translations of content/ja/opentelemetry/ingestion_sampling_with_opentelemetry.md
  content/ja/opentelemetry/ingestion_sampling_with_opentelemetry.md
Labels: none

Deleting translations of content/ja/opentelemetry/interoperability/api_support.md
  content/ja/opentelemetry/interoperability/api_support.md
Labels: none

Deleting translations of content/fr/opentelemetry/interoperability/api_support.md
  content/fr/opentelemetry/interoperability/api_support.md
Labels: none

Deleting translations of content/es/opentelemetry/interoperability/api_support.md
  content/es/opentelemetry/interoperability/api_support.md
Labels: none

Deleting translations of content/ko/opentelemetry/interoperability/api_support.md
  content/ko/opentelemetry/interoperability/api_support.md
Labels: none

Deleting translations of content/ja/opentelemetry/collector_exporter/_index.md
  content/ja/opentelemetry/collector_exporter/_index.md
Labels: none

Deleting translations of content/es/opentelemetry/collector_exporter/_index.md
  content/es/opentelemetry/collector_exporter/_index.md
Labels: none

Deleting translations of content/ko/opentelemetry/collector_exporter/_index.md
  content/ko/opentelemetry/collector_exporter/_index.md
Labels: none

Deleting translations of content/es/opentelemetry/schema_semantics/host_metadata.md
  content/es/opentelemetry/schema_semantics/host_metadata.md
Labels: none

Deleting translations of content/ko/opentelemetry/collector_exporter/otlp_receiver.md
  content/ko/opentelemetry/collector_exporter/otlp_receiver.md
Labels: none

Deleting translations of content/ja/opentelemetry/collector_exporter/deployment.md
  content/ja/opentelemetry/collector_exporter/deployment.md
Labels: none

Deleting translations of content/es/opentelemetry/collector_exporter/deployment.md
  content/es/opentelemetry/collector_exporter/deployment.md
Labels: none

Deleting translations of content/ja/opentelemetry/otel_logs.md
  content/ja/opentelemetry/otel_logs.md
Labels: none

Deleting translations of content/ko/opentelemetry/otel_logs.md
  content/ko/opentelemetry/otel_logs.md
Labels: none

Deleting translations of content/es/opentelemetry/collector_exporter/otel_collector_datadog_exporter.md
  content/es/opentelemetry/collector_exporter/otel_collector_datadog_exporter.md
Labels: none

Deleting translations of content/es/opentelemetry/guide/migration.md
  content/es/opentelemetry/guide/migration.md
Labels: none

Deleting translations of content/ja/opentelemetry/interoperability/_index.md
  content/ja/opentelemetry/interoperability/_index.md
Labels: none

Deleting translations of content/es/opentelemetry/interoperability/_index.md
  content/es/opentelemetry/interoperability/_index.md
Labels: none

Deleting translations of content/ja/opentelemetry/collector_exporter/hostname_tagging.md
  content/ja/opentelemetry/collector_exporter/hostname_tagging.md
Labels: none

Deleting translations of content/es/opentelemetry/collector_exporter/hostname_tagging.md
  content/es/opentelemetry/collector_exporter/hostname_tagging.md
Labels: none

Deleting translations of content/ja/opentelemetry/schema_semantics/service_entry_spans.md
  content/ja/opentelemetry/schema_semantics/service_entry_spans.md
Labels: none

Deleting translations of content/es/opentelemetry/schema_semantics/service_entry_spans.md
  content/es/opentelemetry/schema_semantics/service_entry_spans.md
Labels: none

Deleting translations of content/es/opentelemetry/otlp_metrics.md
  content/es/opentelemetry/otlp_metrics.md
Labels: none

Deleting translations of content/es/opentelemetry/schema_semantics/semantic_mapping.md
  content/es/opentelemetry/schema_semantics/semantic_mapping.md
Labels: none

Update ip_allowlist.md
  content/en/account_management/org_settings/ip_allowlist.md
Labels: none

Removing link from further reading
  content/en/continuous_delivery/deployments/_index.md
Labels: none

Generated by websites-modules (#28112)
  go.mod
  go.sum
Labels: none

feat: runnable expression language examples
  assets/scripts/components/expression-evaluator.js
  assets/scripts/datadog-docs.js
  assets/styles/components/_expression-evaluator.scss
  assets/styles/style.scss
  content/en/dynamic_instrumentation/expression-language.md
  layouts/shortcodes/expression-evaluator.html
Labels: Architecture

feat: add an interactive REPL for EL evaluation (#28082)
  assets/scripts/components/expression-evaluator.js
  assets/scripts/components/expression-language-evaluator.js
  assets/scripts/components/expression-language-parser.js
  assets/scripts/datadog-docs.js
  assets/scripts/tests/expression-language-parser.test.js
  assets/styles/components/_expression-evaluator.scss
  assets/styles/components/_expression-language.scss
  assets/styles/style.scss
  content/en/dynamic_instrumentation/expression-language.md
  layouts/shortcodes/expression-language-evaluator.html
  layouts/shortcodes/expression-language-repl.html
Labels: Architecture

fix: add command history and tests
  assets/scripts/components/expression-language-evaluator.js
  assets/scripts/tests/expression-language-evaluator.test.js
Labels: Architecture

feat: add autocomplete to the REPL
  assets/scripts/components/expression-language-evaluator.js
  assets/scripts/components/expression-language-parser.js
  assets/scripts/tests/expression-language-evaluator.test.js
  assets/styles/components/_expression-language.scss
  content/en/dynamic_instrumentation/expression-language.md
  layouts/shortcodes/expression-language-evaluator.html
  layouts/shortcodes/expression-language-repl.html
Labels: Architecture

Fix OP Google Cloud Storage instructions (#28092)
  content/en/observability_pipelines/destinations/google_cloud_storage.md
  layouts/shortcodes/observability_pipelines/configure_log_archive/google_cloud_storage/instructions.en.md
Labels: Architecture

Fix format in serverless_enable_aws_xray.md (#28093)
  content/en/tracing/guide/serverless_enable_aws_xray.md
Labels: Guide

Update inapp_waf_rules.md (#28091)
  content/en/security/application_security/threats/inapp_waf_rules.md
Labels: none

📝 adjust click collection documentation (#28101)
  content/en/real_user_monitoring/browser/tracking_user_actions.md
Labels: none

Fix default values of `logs_config.open_files_limit` (#28039)
  content/en/logs/guide/increase-number-of-log-files-tailed.md
Labels: Guide

Remove documentation files for data deletion API (#28110)
  content/en/api/latest/data-deletion/_index.md
  content/en/api/v2/data-deletion/_index.md
Labels: none

Deleting translations of content/ja/api/latest/data-deletion/_index.md
  content/ja/api/latest/data-deletion/_index.md
Labels: none
