Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*

Update software_templates.md
  content/en/software_catalog/actions/software_templates.md
Labels: none

Adds Audit Trail docs for On-Call
  content/en/account_management/audit_trail/events.md
Labels: none

Update _index.md
  content/en/software_catalog/actions/_index.md
Labels: none

Rename _index.md to _index.md
  content/en/software_catalog/self_service_actions/_index.md
Labels: none

Rename software_templates.md to software_templates.md
  content/en/software_catalog/self_service_actions/software_templates.md
Labels: none

Add alert on private actions requirement
  content/en/actions/private_actions/_index.md
Labels: none

Update content/en/dora_metrics/data_collected/_index.md
  content/en/dora_metrics/data_collected/_index.md
Labels: none

Add dora-metrics extension reference in Changes Detection
  content/en/continuous_delivery/features/code_changes_detection.md
Labels: none

Update _index.md (#28220)
  config/_default/menus/main.en.yaml
  content/en/software_catalog/self_service_actions/_index.md
  content/en/software_catalog/self_service_actions/software_templates.md
Labels: Architecture

Deleting translations of content/es/software_catalog/self-service/_index.md
  content/es/software_catalog/self-service/_index.md
Labels: none

Deleting translations of content/es/software_catalog/self-service/software_templates.md
  content/es/software_catalog/self-service/software_templates.md
Labels: none

Update content/en/account_management/saml/okta.md
  content/en/account_management/saml/okta.md
Labels: none

Update content/en/account_management/saml/okta.md
  content/en/account_management/saml/okta.md
Labels: none

Apply suggestions from code review
  content/en/synthetics/browser_tests/actions.md
Labels: none

Add mysql index metric privs
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/azure.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
  content/en/database_monitoring/setup_mysql/troubleshooting.md
Labels: none

trace level retention filters docs
  content/en/tracing/trace_pipeline/trace_retention.md
  static/images/tracing/trace_indexing_and_ingestion/retention_filters/retention_filter_create.png
Labels: Images

update grace docs
  content/en/account_management/rbac/granular_access.md
Labels: none

[EKS control plane metrics] Unify both operator and Helm configuration (#28336)
  content/en/containers/kubernetes/control_plane.md
Labels: none

delete white space
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/azure.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
  content/en/database_monitoring/setup_mysql/troubleshooting.md
Labels: none

Update anomalies.md (#28344)
  content/en/cloud_cost_management/anomalies.md
Labels: none

fix image URL (#28341)
  content/en/security/code_security/static_analysis/setup/_index.md
Labels: none

Add dora-metrics extension reference in Changes Detection (#28348)
  content/en/continuous_delivery/features/code_changes_detection.md
Labels: none

Update content/en/tracing/other_telemetry/connect_logs_and_traces/python.md
  content/en/tracing/other_telemetry/connect_logs_and_traces/python.md
Labels: none

related logs from data (#28340)
  content/en/security/cloud_security_management/guide/related-logs.md
  layouts/shortcodes/related-logs-supported-resources.html
Labels: Architecture

Update status_page doc (#28343)
  content/en/monitors/status/status_page.md
Labels: none

Add alert on private actions requirement (#28346)
  content/en/actions/private_actions/_index.md
Labels: none

Update content/en/database_monitoring/setup_mysql/troubleshooting.md
  content/en/database_monitoring/setup_mysql/troubleshooting.md
Labels: none

Update content/en/database_monitoring/setup_mysql/troubleshooting.md
  content/en/database_monitoring/setup_mysql/troubleshooting.md
Labels: none

Bump datadog-lambda-extension layer to version 75 (#28347)
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

Update content/en/opentelemetry/guide/migrate/collector_0_120_0.md
  content/en/opentelemetry/guide/migrate/collector_0_120_0.md
Labels: none

fix link
  config/_default/menus/main.en.yaml
Labels: Architecture
