Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

Update content/en/logs/log_collection/reactnative.md: Change from DdSdkReactNativeConfiguration to DatadogProvider
  content/en/logs/log_collection/reactnative.md
Labels: none

reorder sections
  content/en/cloud_cost_management/custom_allocation_rules/_index.md
Labels: none

add segment
  config/_default/segments.yaml
Labels: Architecture

update streams filtering
  content/en/integrations/guide/aws-cloudwatch-metric-streams-with-kinesis-data-firehose.md
Labels: Guide

Apply feedback
  content/en/continuous_delivery/features/rollbacks_detection.md
Labels: none

Translated file updates
  content/es/mobile/datadog_for_intune.md
Labels: none

remove SCA guide from ASM section (#28280)
  content/en/security/application_security/guide/_index.md
Labels: none

Update Runtime Code Analysis (IAST) Compatibility Requirements for .NET (#28267)
  content/en/security/code_security/iast/setup/_index.md
Labels: none

Update content/en/security/code_security/iast/_index.md
  content/en/security/code_security/iast/_index.md
Labels: none

Update content/en/security/code_security/iast/_index.md
  content/en/security/code_security/iast/_index.md
Labels: none

Cdocs pilot prep (#28277)
  .gitignore
  Makefile
  assets/scripts/cdocs-build.js
  cdocs-hugo-integration-v1.0.11.tgz
  content/.gitignore
  content/en/cdocs_build/test.mdoc.md
  content/en/real_user_monitoring/guide/proxy-mobile-rum-data.mdoc.md
  customization_config/en/option_groups/real_user_monitoring/sdk.yaml
  customization_config/en/options/options.yaml
  customization_config/en/options/prog_lang.yaml
  customization_config/en/traits/traits.yaml
  package.json
  yarn.lock
Labels: Architecture, Guide

update google saml docs
  content/en/account_management/saml/google.md
Labels: none

update google saml docs
  content/en/account_management/saml/google.md
Labels: none

Change javascript to Node.js (#28286)
  content/en/tracing/trace_collection/runtime_config/_index.md
Labels: none

Update Runtime Code Analysis (IAST) Overview Page (#28284)
  content/en/security/code_security/iast/_index.md
Labels: none

Update content/en/logs/log_collection/reactnative.md: Change from DdSdkReactNativeConfiguration to DatadogProvider (#28287)
  content/en/logs/log_collection/reactnative.md
Labels: none

schema collection documentation
  content/en/database_monitoring/setup_mysql/selfhosted.md
  layouts/shortcodes/dbm-mysql-agent-config-examples.en.md
Labels: Architecture

[DOCS-10170] Update diagrams
  static/images/logs/guide/azure_automated_logs_architecture/detailed_architecture.png
  static/images/logs/guide/azure_automated_logs_architecture/high_level_architecture.png
Labels: Images

fix linting issue
  content/en/cloud_cost_management/custom_allocation_rules/_index.md
Labels: none

fix datadog user
  content/en/database_monitoring/setup_mysql/selfhosted.md
  layouts/shortcodes/dbm-mysql-agent-config-examples.en.md
Labels: Architecture

fix mgo link
  content/en/tracing/trace_collection/compatibility/go.md
Labels: none

changed wording
  content/en/account_management/saml/google.md
Labels: none

remove whitespcae
  layouts/shortcodes/dbm-mysql-agent-config-examples.en.md
Labels: Architecture

[DOCS-10170] Update diagram
  static/images/logs/guide/azure_automated_logs_architecture/high_level_architecture.png
Labels: Images

Remove duplicate content in Google Cloud Run doc
  content/en/serverless/google_cloud_run/_index.md
Labels: none

[DOCS-10170] Update diagram
  static/images/logs/guide/azure_automated_logs_architecture/high_level_architecture.png
Labels: Images

Regenerate client from commit 94f7c372 of spec repo
  .apigentools-info
  content/en/api/v2/software-catalog/examples.json
  data/api/v2/full_spec.yaml
Labels: none

revert selfhosted.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
Labels: none

v1.1
  content/en/dora_metrics/_index.md
  content/en/dora_metrics/data_collected/_index.md
  content/en/dora_metrics/setup/deployments.md
  content/en/dora_metrics/setup/failures.md
  static/images/dora_metrics/deployments_list.png
  static/images/dora_metrics/dora_ui_1.png
  static/images/dora_metrics/dora_ui_2.png
  static/images/dora_metrics/failures_list.png
Labels: Images

Translated file updates
  content/es/cloudcraft/components-aws/network-acl.md
  content/es/service_management/service_level_objectives/ootb_dashboard.md
  content/es/software_catalog/use_cases/dependency_management.md
  content/ja/tracing/trace_collection/runtime_config/_index.md
Labels: none

Fix Google Cloud Run example code
  content/en/serverless/google_cloud_run/_index.md
Labels: none

Add single quotes
  content/en/serverless/google_cloud_run/_index.md
Labels: none

add ref to migration page for pages mentioning v2
  content/en/containers/amazon_ecs/apm.md
  content/en/containers/docker/apm.md
  content/en/data_streams/go.md
  content/en/database_monitoring/connect_dbm_and_apm.md
  content/en/opentelemetry/instrument/instrumentation_libraries.md
  content/en/security/application_security/threats/add-user-info.md
  content/en/security/application_security/threats/setup/compatibility/go.md
  content/en/security/application_security/threats/setup/threat_detection/go.md
  content/en/security/application_security/troubleshooting.md
  content/en/security/code_security/software_composition_analysis/setup_runtime/compatibility/go.md
  content/en/serverless/aws_lambda/installation/go.md
  content/en/serverless/guide/datadog_forwarder_go.md
  content/en/tracing/faq/trace_sampling_and_storage.md
  content/en/tracing/guide/instrument_custom_method.md
  content/en/tracing/guide/tutorial-enable-go-aws-ecs-ec2.md
  content/en/tracing/guide/tutorial-enable-go-aws-ecs-fargate.md
  content/en/tracing/guide/tutorial-enable-go-containers.md
  content/en/tracing/guide/tutorial-enable-go-host.md
  content/en/tracing/legacy_app_analytics/_index.md
  content/en/tracing/other_telemetry/connect_logs_and_traces/go.md
  content/en/tracing/trace_collection/compatibility/go.md
  content/en/tracing/trace_collection/custom_instrumentation/go/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/go/otel.md
  content/en/tracing/trace_collection/library_config/go.md
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
  content/en/tracing/troubleshooting/tracer_debug_logs.md
Labels: FAQ, Guide

[CCA-443] add Custom allocation rules docs (#27499)
  config/_default/menus/main.en.yaml
  content/en/cloud_cost_management/custom_allocation_rules/_index.md
  static/images/cloud_cost/custom_allocation_rules/custom_percentage_diagram.png
  static/images/cloud_cost/custom_allocation_rules/custom_percentage_ui.png
  static/images/cloud_cost/custom_allocation_rules/dynamic_diagram.png
  static/images/cloud_cost/custom_allocation_rules/dynamic_ui.png
  static/images/cloud_cost/custom_allocation_rules/even_diagram.png
  static/images/cloud_cost/custom_allocation_rules/even_ui.png
  static/images/cloud_cost/custom_allocation_rules/proportional_diagram.png
  static/images/cloud_cost/custom_allocation_rules/proportional_partition_diagram.png
  static/images/cloud_cost/custom_allocation_rules/proportional_ui.png
  static/images/cloud_cost/custom_allocation_rules/visualize_your_allocations.png
Labels: Images, Architecture

Update _index.md
  content/en/security/cloud_siem/_index.md
Labels: none

split up configuration and granting instructions
  content/en/database_monitoring/setup_mysql/selfhosted.md
  layouts/shortcodes/dbm-mysql-agent-config-examples.en.md
Labels: Architecture

update
  config/preview/config.yaml
Labels: Architecture

Remove duplicate content in Google Cloud Run doc (#28293)
  content/en/serverless/google_cloud_run/_index.md
Labels: none

Fix Google Cloud Run example code (#28294)
  content/en/serverless/google_cloud_run/_index.md
Labels: none

Update layouts/shortcodes/dbm-mysql-agent-config-examples.en.md
  layouts/shortcodes/dbm-mysql-agent-config-examples.en.md
Labels: Architecture

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*
