Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

Update aws.md to clarify containers can be billable (#28116)
  content/en/account_management/billing/aws.md
Labels: none

Fix link
  layouts/shortcodes/observability_pipelines/destination_settings/datadog_archives_prerequisites.md
Labels: Architecture

Build trait selector
  markdoc/cdocs-author-console/src/App.tsx
  markdoc/cdocs-author-console/src/components/selectors/OptionGroupSelector.tsx
  markdoc/cdocs-author-console/src/components/selectors/OptionSelector.tsx
  markdoc/cdocs-author-console/src/components/selectors/TraitSelector.tsx
  markdoc/cdocs-author-console/src/schemas.ts
Labels: none

Fix nit typo (#28121)
  content/en/software_catalog/customize/_index.md
Labels: none

Fix internal notes
  markdoc/cdocs-author-console/src/App.tsx
  markdoc/cdocs-author-console/src/components/selectors/TraitSelector.tsx
Labels: none

Fixed the tabs
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: none

Added Opertor instructions
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: none

Add QuickFilterBuilder component
  markdoc/cdocs-author-console/src/App.tsx
  markdoc/cdocs-author-console/src/components/QuickFilterBuilder.tsx
  markdoc/cdocs-author-console/src/components/selectors/OptionSelector.tsx
Labels: none

Translated file updates
  content/ja/account_management/guide/relevant-usage-migration.md
Labels: none

Improve appearance
  markdoc/cdocs-author-console/src/App.css
  markdoc/cdocs-author-console/src/App.tsx
  markdoc/cdocs-author-console/src/components/QuickFilterBuilder.tsx
  markdoc/cdocs-author-console/src/components/selectors/OptionGroupSelector.tsx
  markdoc/cdocs-author-console/src/components/selectors/TraitSelector.tsx
  markdoc/cdocs-author-console/tsconfig.app.tsbuildinfo
Labels: none

Tweak appearance
  markdoc/cdocs-author-console/src/App.css
  markdoc/cdocs-author-console/src/App.tsx
  markdoc/cdocs-author-console/src/components/QuickFilterBuilder.tsx
Labels: none

Update content/en/database_monitoring/connect_dbm_and_apm.md
  content/en/database_monitoring/connect_dbm_and_apm.md
Labels: none

Translated file updates
  content/ja/agent/guide/install-agent-6.md
Labels: none

Tweak appearance
  markdoc/cdocs-author-console/index.html
  markdoc/cdocs-author-console/src/App.css
  markdoc/cdocs-author-console/src/index.css
Labels: none

Update versions and wording for .NET Framework beta
  content/en/profiler/enabling/dotnet.md
Labels: none

Update composite queries limits (#26940)
  content/en/account_management/audit_trail/_index.md
  content/ja/account_management/audit_trail/_index.md
  content/ja/logs/explorer/advanced_search.md
  layouts/shortcodes/filter_by_reference_tables.en.md
Labels: Architecture

Adding entries on menu and references in further reading
  config/_default/menus/main.en.yaml
  content/en/continuous_delivery/_index.md
  content/en/continuous_delivery/deployments/_index.md
  content/en/continuous_delivery/explorer/_index.md
  content/en/continuous_delivery/features/_index.md
Labels: Architecture

Regenerate client from commit a1fc1148 of spec repo
  .apigentools-info
  content/en/api/v2/security-monitoring/examples.json
  data/api/v2/full_spec.yaml
Labels: none

Making images more squared
  content/en/continuous_delivery/features/changes_detection.md
  static/images/continuous_delivery/features/code_changes_tab.png
  static/images/continuous_delivery/features/recent_code_changes_deployments.png
Labels: Images

update ecs known issue
  content/en/infrastructure/containers/amazon_elastic_container_explorer.md
Labels: none

(asm) Fix link to protection pages
  content/en/security/application_security/threats/protection.md
  content/ja/security/application_security/threats/protection.md
Labels: none

Apply suggestions from code review
  content/en/security/application_security/guide/standalone_application_security.md
Labels: none

fix
  config/_default/menus/main.en.yaml
Labels: Architecture

update
  content/en/database_monitoring/setup_oracle/troubleshooting.md
Labels: none

Added Docker Compose option
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: none

Apply suggestions from code review
  content/en/continuous_integration/pipelines/_index.md
  content/en/continuous_integration/pipelines/github.md
  content/en/continuous_integration/pipelines/gitlab.md
  content/en/continuous_integration/search/_index.md
Labels: none

Add addViewLoadingTime reference to advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/react_native/advanced_configuration.md
Labels: none

Remove description from features whatsnext
  content/en/continuous_delivery/features/_index.md
Labels: none

Add a reference to Software Catalog
  content/en/continuous_delivery/features/changes_detection.md
Labels: none

NG copy changes
  content/en/cloud_cost_management/anomalies.md
Labels: none

remove extra security controls
  config/_default/menus/main.en.yaml
Labels: Architecture

removed the compose section since its out of scope and cleaned up the Operator section
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: none

[datadog-ci-span] Updated english doc
  content/en/continuous_integration/pipelines/custom_commands.md
Labels: none

[AGENTLESS] AWS CMKs are supported
  content/en/security/cloud_security_management/setup/agentless_scanning/compatibility.md
Labels: none

Update _index.md
  content/en/opentelemetry/instrument/_index.md
Labels: none

Fix link (#28123)
  layouts/shortcodes/observability_pipelines/destination_settings/datadog_archives_prerequisites.md
Labels: Architecture

feat: Switch from a REPL to a log simulator
  assets/scripts/components/expression-language-evaluator.js
  assets/scripts/components/expression-language-parser.js
  assets/styles/components/_expression-language.scss
  content/en/dynamic_instrumentation/expression-language.md
  layouts/shortcodes/expression-language-repl.html
  layouts/shortcodes/expression-language-simulator.html
Labels: Architecture

remove unnecessary temporary tables grant
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/azure.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
Labels: none

Translated file updates
  content/ko/security/application_security/troubleshooting.md
Labels: none

Apply suggestions from code review
  content/en/continuous_integration/guides/_index.md
  content/en/continuous_integration/guides/use_ci_jobs_failure_analysis.md
Labels: none

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*
