Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*

Fix spacing
  content/en/tracing/trace_collection/compatibility/java.md
Labels: none

Really fix it
  content/en/tracing/trace_collection/compatibility/java.md
Labels: none

DOCS-10102: Make containers billing page more discoverable (#28015)
  config/_default/menus/main.en.yaml
  content/en/account_management/billing/containers.md
Labels: Architecture

[kubernetes][distributions] Remove unnecessary EKS recommandations
  content/en/containers/kubernetes/distributions.md
Labels: none

Add message on diff-aware
  content/en/security/code_security/troubleshooting/_index.md
Labels: none

Translation Pipeline PR (#28074)
  content/ja/agent/guide/install-agent-5.md
  content/ja/security/threats/backend_windows.md
Labels: none

Use the updated error type from cdocs-data
  markdoc/cdocs-author-console/src/components/errors/ErrorsReport.tsx
Labels: none

(DOCS-10344) Update formatting, copy
  content/en/metrics/guide/custom_metrics_governance.md
Labels: Guide

more changes
  content/en/tracing/guide/aws_payload_tagging.md
Labels: Guide

Update aws_payload_tagging.md
  content/en/tracing/guide/aws_payload_tagging.md
Labels: Guide

edits
  content/en/data_streams/dotnet.md
  content/en/data_streams/java.md
  content/en/data_streams/nodejs.md
  content/en/data_streams/python.md
  layouts/shortcodes/dsm_confluent_connectors.md
Labels: Architecture

replacing image
  content/en/data_streams/_index.md
  static/images/data_streams/map_view.png
  static/images/data_streams/map_view2.png
Labels: Images

(DOCS-10350) Remove preview indicator
  content/en/metrics/summary.md
Labels: none

Bold query activity
  content/en/metrics/guide/custom_metrics_governance.md
Labels: Guide

Set up dev server
  markdoc/cdocs-author-console/index.html
  markdoc/cdocs-author-console/package.json
  markdoc/cdocs-author-console/yarn.lock
Labels: none

added comments on where to change
  content/en/metrics/metrics-without-limits.md
Labels: none

removed refine with aggregations section
  content/en/metrics/metrics-without-limits.md
Labels: none

mwl page updates
  content/en/metrics/metrics-without-limits.md
Labels: none

fix anchor
  layouts/shortcodes/observability_pipelines/destination_settings/datadog_archives_google_cloud_storage.en.md
Labels: Architecture

Update content/en/security/code_security/troubleshooting/_index.md
  content/en/security/code_security/troubleshooting/_index.md
Labels: none

(DOCS-10350) Remove preview indicator (#28086)
  content/en/metrics/summary.md
Labels: none

feat: add an interactive REPL for EL evaluation
  assets/scripts/components/expression-evaluator.js
  assets/scripts/components/expression-language-parser.js
  assets/scripts/tests/expression-language-parser.test.js
  assets/styles/components/_expression-evaluator.scss
  content/en/dynamic_instrumentation/expression-language.md
  layouts/shortcodes/expression-repl.html
Labels: Architecture

new list of aggregations
  content/en/account_management/billing/custom_metrics.md
Labels: none

updates custom metrics billing to reflect aggregations billing
  content/en/account_management/billing/custom_metrics.md
Labels: none

updated docs
  content/en/account_management/billing/custom_metrics.md
  content/en/metrics/guide/custom_metrics_governance.md
Labels: Guide

Update layouts/shortcodes/observability_pipelines/destination_settings/datadog_archives_google_cloud_storage.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/datadog_archives_google_cloud_storage.en.md
Labels: Architecture

Revert dogweb build branch back to prod
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

Legal review.
  content/en/opentelemetry/agent/_index.md
Labels: none

Updating mobile docs with logs, traces and services (#28069)
  content/en/mobile/_index.md
  static/images/service_management/mobile/logs_mobile.png
  static/images/service_management/mobile/services_mobile.png
  static/images/service_management/mobile/traces_mobile.png
Labels: Images

Add new key components diagram.
  content/en/opentelemetry/agent/install_agent_with_collector.md
  static/images/opentelemetry/embedded_collector/components-2.png
Labels: Images

add correlate with logs partial
  content/en/real_user_monitoring/correlate_with_other_telemetry/logs/_index.md
  layouts/partials/rum/rum-correlate-rum-and-logs.html
Labels: Architecture

Update nested_queries.md (#27230)
  content/en/metrics/nested_queries.md
Labels: none

final additions from Eng review
  content/en/network_monitoring/devices/guide/device_profiles.md
  static/images/network_device_monitoring/profile_onboarding/profile_download.png
  static/images/network_device_monitoring/profile_onboarding/profile_download_2.png
Labels: Images

Update content/en/real_user_monitoring/browser/advanced_configuration.md
  content/en/real_user_monitoring/browser/advanced_configuration.md
Labels: none

[DOCS-10169] GitHub integration: new update flow — images (#27941)
  static/images/integrations/github/update_configuration.png
Labels: Images

fixing broken further reading links
  content/en/getting_started/synthetics/mobile_app_testing.md
  content/en/synthetics/mobile_app_testing/_index.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/advanced_options.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/restricted_networks.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/results.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/steps.md
  content/en/synthetics/mobile_app_testing/settings/_index.md
Labels: none

DOCS-9509: DSM connectors (#27592)
  content/en/data_streams/_index.md
  content/en/data_streams/dotnet.md
  content/en/data_streams/go.md
  content/en/data_streams/java.md
  content/en/data_streams/nodejs.md
  content/en/data_streams/python.md
  layouts/shortcodes/dsm_confluent_connectors.md
  static/images/data_streams/confluent_cloud_connectors.png
  static/images/data_streams/connectors_topology.png
  static/images/data_streams/map_view2.png
  static/images/data_streams/topology_map.png
Labels: Images, Architecture

add bullet point for dynamodb support to payload tagging (#27977)
  content/en/tracing/guide/aws_payload_tagging.md
Labels: Guide

changed summary one liner on facet
  content/en/metrics/summary.md
Labels: none

Update inapp_waf_rules.md
  content/en/security/application_security/threats/inapp_waf_rules.md
Labels: none
