Repository DataDog/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide, eci

.github/labeler.yml:

Github:
- .github/**/*

Images:
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

eci: 
# Emerging Cloud Integrations team
- integrations-internal-core/oracle_cloud_infrastructure/**/*

Add clarifying sentences to Kubernetes log autodiscovery for when datadog.logs.containerCollectAll is set to false
  content/en/containers/kubernetes/log.md
Labels: none

change the word pipeline to index
  content/en/logs/log_configuration/indexes.md
Labels: none

Add link to form to request support
  content/en/continuous_integration/guides/use_ci_jobs_failure_analysis.md
Labels: none

Update content/en/dora_metrics/setup/deployments.md
  content/en/dora_metrics/setup/deployments.md
Labels: none

Added "+" for Micronaut HTTP Server 2.x+ (#28081)
  content/en/tracing/trace_collection/compatibility/java.md
Labels: none

first RUM without limits page
  content/en/real_user_monitoring/rum_without_limits/_index.md
Labels: none

minor rum edits
  content/en/real_user_monitoring/browser/advanced_configuration.md
Labels: none

Update manage_data_collection.md (#28071)
  content/en/error_tracking/manage_data_collection.md
Labels: none

add wording to container discovery documentation to reflect what was added to the Kubernetes logging docs
  content/en/containers/guide/container-discovery-management.md
Labels: Guide

add suggestions for formatting
  content/en/containers/kubernetes/log.md
Labels: none

Update layouts/shortcodes/observability_pipelines/configure_log_archive/google_cloud_storage/instructions.en.md
  layouts/shortcodes/observability_pipelines/configure_log_archive/google_cloud_storage/instructions.en.md
Labels: Architecture

Translated file updates
  content/es/integrations/jamf_protect.md
Labels: none

Update content/en/real_user_monitoring/browser/tracking_user_actions.md
  content/en/real_user_monitoring/browser/tracking_user_actions.md
Labels: none

Add Changes Detection feature to CD Visibility docs
  content/en/continuous_delivery/features/_index.md
  content/en/continuous_delivery/features/changes_detection.md
  static/images/continuous_delivery/features/code_changes_tab.png
  static/images/continuous_delivery/features/recent_code_changes_deployments.png
Labels: Images

Remove documentation files for data deletion API
  content/en/api/latest/data-deletion/_index.md
  content/en/api/v2/data-deletion/_index.md
Labels: none

Fix broken repo link
  content/en/data_jobs/databricks.md
Labels: none

Change width to 80
  content/en/continuous_delivery/features/changes_detection.md
Labels: none

[AWSX] chore(doc): update AWS permissions in template
  layouts/shortcodes/aws-permissions.en.md
Labels: Architecture

Apply suggestions from code review
  content/en/integrations/guide/fips-integrations.md
Labels: Guide

Rename direct ingest.
  config/_default/menus/main.en.yaml
  content/en/opentelemetry/setup/_index.md
Labels: Architecture

(DOCS-9895) Fix images
  content/en/metrics/metrics-without-limits.md
Labels: none

Update heading
  content/en/database_monitoring/recommendations.md
Labels: none

Generated by websites-modules
  go.mod
  go.sum
Labels: none

Fix Vale error for RDS
  content/en/database_monitoring/recommendations.md
Labels: none

Fix heading capitalization
  content/en/database_monitoring/recommendations.md
Labels: none

Move Error Tracking to separate section
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

(DOCS-9895) Incorporate feedback
  content/en/metrics/guide/custom_metrics_governance.md
  content/en/metrics/metrics-without-limits.md
Labels: Guide

Update table supported values
  content/en/database_monitoring/recommendations.md
Labels: none

Translated file updates
  content/es/ddsql_editor/reference/expressions_and_operators.md
  content/es/service_management/app_builder/variables.md
Labels: none

Removing search from Menu
  config/_default/menus/main.en.yaml
Labels: Architecture

Syncing branch with websites-modules main
  go.mod
  go.sum
Labels: none

Deleting translations of content/ja/opentelemetry/otel_metrics.md
  content/ja/opentelemetry/otel_metrics.md
Labels: none

Deleting translations of content/fr/opentelemetry/otel_metrics.md
  content/fr/opentelemetry/otel_metrics.md
Labels: none

Deleting translations of content/es/opentelemetry/collector_exporter/collector_batch_memory.md
  content/es/opentelemetry/collector_exporter/collector_batch_memory.md
Labels: none

Deleting translations of content/ja/opentelemetry/otel_terms.md
  content/ja/opentelemetry/otel_terms.md
Labels: none

Deleting translations of content/ja/opentelemetry/schema_semantics/_index.md
  content/ja/opentelemetry/schema_semantics/_index.md
Labels: none

Deleting translations of content/es/opentelemetry/schema_semantics/_index.md
  content/es/opentelemetry/schema_semantics/_index.md
Labels: none

Deleting translations of content/ja/opentelemetry/schema_semantics/metrics_mapping.md
  content/ja/opentelemetry/schema_semantics/metrics_mapping.md
Labels: none

Deleting translations of content/es/opentelemetry/schema_semantics/metrics_mapping.md
  content/es/opentelemetry/schema_semantics/metrics_mapping.md
Labels: none

Deleting translations of content/es/opentelemetry/schema_semantics/hostname.md
  content/es/opentelemetry/schema_semantics/hostname.md
Labels: none
