Repository DataDog/documentation, pull requests merged in 2018-10, with the labels that each got.

#3251 Fixing broken links
  content/graphing/dashboards/template_variables.md
  content/logs/_index.fr.md
  content/logs/_index.md
  content/logs/explorer/analytics.fr.md
  content/logs/explorer/analytics.md
  content/logs/explorer/saved_views.md
  content/logs/log_collection/_index.fr.md
  content/logs/log_collection/_index.md
  content/logs/logging_without_limits.fr.md
  content/logs/logging_without_limits.md
  content/logs/processing/_index.md
  content/logs/processing/attributes_naming_convention.md
Labels: Bug, Logs

#3245 Update trace page
  content/tracing/visualization/trace.md
  src/images/tracing/visualization/trace/trace.png
  src/images/tracing/visualization/trace/trace_error.png
  src/images/tracing/visualization/trace/trace_host_info.png
  src/images/tracing/visualization/trace/trace_logs.png
Labels: Tracing

#3259 Update editorconfig
  .editorconfig
  Makefile
  static/json/datadog-agent-ecs-logs.json
Labels: Architecture

#3265 change order of util so its defined
  src/manifest.json
Labels: Architecture

#3262 Fixing table layout
  content/integrations/faq/how-do-i-monitor-my-aws-billing-details.md
Labels: Bug

#3266 Akka instrumentation is not enabled by default yet.
  content/tracing/setup/java.md
Labels: Tracing

#3270 Fix agent name in the exclusion example
  content/logs/log_collection/docker.md
Labels: Bug, Logs

#3271 make sure nav doesn't overlap search on mobile
  layouts/partials/sidenav/sidenav.scss
  src/scss/_searchbox.scss
Labels: Architecture

#3272 remove more whitespace and center images
  layouts/shortcodes/img.html
Labels: Architecture

#3276 Add link to our own .NET tracer library
  data/libraries.yaml
Labels: Tracing

#3277 remove additional trailing period from notes column
  data/libraries.yaml
  ja/layouts/shortcodes/tracing-libraries-table.html
  layouts/shortcodes/tracing-libraries-table.html
Labels: Tracing

#3275 Changed: Ruby APM integrations to list mysql2, ams, concurrent-ruby.
  content/tracing/setup/ruby.md
Labels: Tracing

#3283 content/tracing/setup: add new integrations to Go documentation
  content/tracing/setup/go.md
Labels: Tracing

#3287 Images for AWS Events doc update
  src/images/integrations/amazon_auto_scaling/aws_auto_scaling_events.png
  src/images/integrations/amazon_codedeploy/aws_codedeploy_events.png
  src/images/integrations/amazon_ec2/aws_ec2_events.png
  src/images/integrations/amazon_ecs/aws_ecs_events.png
  src/images/integrations/amazon_elasticache/aws_elasticache_events.png
  src/images/integrations/amazon_lambda/aws_lambda_event.png
  src/images/integrations/amazon_rds/aws_rds_events.png
  src/images/integrations/amazon_sns/aws_sns_event.png
Labels: Integration

#3291 [php] Add pgsql and MongoDB to expected Library compatibility List
  content/tracing/setup/php.md
Labels: Tracing

#3284 added explanation that would have been helpful for me to grok it all
  content/integrations/cloud_foundry.md
Labels: Integration

#3293 API Timeboard curl/shell "viz" fix
  content/api/timeboards/code_snippets/api-dashboard-create.sh
  content/api/timeboards/code_snippets/api-dashboard-delete.sh
  content/api/timeboards/code_snippets/api-dashboard-get.sh
  content/api/timeboards/code_snippets/api-dashboard-update.sh
Labels: API

#3292 clarifications about kubernetes_state.* metrics
  content/agent/kubernetes/metrics.md
  content/integrations/kubernetes.md
Labels: Integration

#3300 Update docker log collection instruction from the host
  content/logs/log_collection/docker.md
Labels: Logs

#3302 Adding os supported version
  content/agent/basic_agent_usage/centos.md
  content/agent/basic_agent_usage/deb.md
  content/agent/basic_agent_usage/docker.md
  content/agent/basic_agent_usage/fedora.md
  content/agent/basic_agent_usage/osx.md
  content/agent/basic_agent_usage/redhat.md
  content/agent/basic_agent_usage/suse.md
  content/agent/basic_agent_usage/ubuntu.md
  content/agent/basic_agent_usage/windows.md
Labels: agent

#3301 Updating link to right section
  content/agent/kubernetes/daemonset_setup.md
Labels: Bug

#3268 Laura.hampton/subprocess checks
  content/developers/agent_checks.md
Labels: agent

#3303 removing deprecated send service API doc
  content/api/tracing/code_snippets/result.send_service.py
  content/api/tracing/code_snippets/result.send_service.rb
  content/api/tracing/code_snippets/result.send_service.sh
  content/api/tracing/code_snippets/send_service.py
  content/api/tracing/code_snippets/send_service.rb
  content/api/tracing/code_snippets/send_service.sh
  content/api/tracing/send_service.fr.md
  content/api/tracing/send_service.md
  content/api/tracing/send_service_code.fr.md
  content/api/tracing/send_service_code.md
Labels: API, Tracing

#3307 Fix typo on the agent container name
  content/logs/log_collection/docker.md
Labels: Bug, Logs, agent

#3304 Adding disclaimer for nodejs instrumentation builds
  content/tracing/setup/nodejs.md
Labels: Tracing

#3299 Add documentation for the new arithmetic Processor
  content/logs/processing/processors.md
  src/images/logs/processing/processors/arithmetic_processor.png
Labels: Logs

#3309 simplifying outlier monitor text
  content/monitors/monitor_types/outlier.md
  src/images/monitors/monitor_types/outliers/outliers-dbscan-config.png
  src/images/monitors/monitor_types/outliers/outliers-mad-config.png
Labels: App

#3311 Removing tracehelp email
  content/tracing/faq/agent-5-tracing-setup.md
  ja/content/tracing/index.md
Labels: Bug

#3315 Peter/link checker
  .gitlab-ci.yml
  data/partials/footer.fr.yaml
  data/partials/footer.yaml
  link-check-config.js
Labels: Architecture

#3306 Udate APM k8s doc
  content/tracing/setup/kubernetes.md
Labels: Tracing, agent

#3318 Name is actually an optional param, update docs to reflect
  content/api/monitors/monitors_showall.md
Labels: API, App

#3322 Adding logos for upcoming integrations
  src/images/integrations_logos/cockroachdb.png
  src/images/integrations_logos/cri.png
  src/images/integrations_logos/crio.png
  src/images/integrations_logos/openmetrics.png
Labels: Integration

#3323 Link fix
  content/api/integrations/webhooks.md
Labels: Bug

#3321 Adding placeholder format
  content/tracing/setup/kubernetes.md
Labels: Bug, Tracing

#3331 Adding GA script to the doc
  layouts/_default/404-baseof.html
  layouts/_default/api-baseof.html
  layouts/_default/baseof.html
Labels: Architecture

#3333 typo correction
  content/logs/log_collection/nodejs.md
Labels: Bug

#3337 Patterns go GA
  content/logs/explorer/patterns.md
Labels: Logs

#3338 note on tags set by AD
  content/agent/autodiscovery.md
Labels: agent

#3339 Removing private flag
  content/monitors/monitor_uptime_widget.md
Labels: App, Architecture

#3340 Adding nav entry for uptime widget
  config.yaml
Labels: Architecture

#3335 Adding K8s DCA
  config.yaml
  content/agent/kubernetes/cluster.md
Labels: agent

#3342 Fixed links in Java tracing setup page
  content/tracing/setup/java.md
Labels: Tracing

#3349 Adding missing links
  content/agent/proxy.md
Labels: Bug

#3294 Adding Integration Pipeline Reference page - WIP
  content/logs/faq/_index.md
  content/logs/faq/integration-pipeline-reference.md
  content/logs/processing/pipelines.md
  src/images/logs/processing/pipelines/cloning_pipeline.png
Labels: Logs, agent

#3355 Add information on Serilog
  content/logs/log_collection/_index.md
Labels: Logs

#3356 putting kubeproxy metrics in with the other k8s metrics
  content/agent/kubernetes/metrics.md
  content/integrations/kubernetes.md
  local/bin/py/update_pre_build.py
Labels: Integration

#3360 Adding link to the top 2 agent FAQ
  content/agent/troubleshooting.md
Labels: KB/FAQ, agent

#3350 Update screenshot + content for monitor uptime widget
  content/monitors/monitor_uptime_widget.md
  src/images/monitors/monitor_uptime_widget.png
Labels: App

#3362 update label for Translation PR
  translate.yaml
Labels: Translation

#3366 fix typos
  content/agent/kubernetes/cluster.md
Labels: agent

#3367 Ianb/fix indent
  content/agent/kubernetes/integrations.md
Labels: agent

#3365 Add info on raw monitor variable formatting
  content/monitors/notifications.md
Labels: App

#3369 Update journald integration for RPM based Linux
  content/integrations/journald.md
Labels: Integration, Logs, agent

#3370 Fix CentOS script for downgrading to Agent v5
  content/agent/basic_agent_usage/centos.md
Labels: agent

#3371 Update APM's support for .NET Core
  content/tracing/setup/dotnet.md
Labels: Tracing

#3377 Moving sub-section to the right tab
  content/logs/log_collection/php.md
Labels: Bug, Logs

#3378 Add Integration Setup for ECS Fargate
  content/integrations/faq/_index.md
  content/integrations/faq/integration-setup-ecs-fargate.md
  static/json/datadog-agent-ecs-fargate.json
Labels: Integration, KB/FAQ

#3380 Moving note disclaimer
  content/integrations/faq/list-of-api-source-attribute-value.md
  content/tagging/_index.md
Labels: App

#3373 Primary tags & APM events
  config.yaml
  content/tagging/assigning_tags.md
  content/tracing/getting_further/apm_events.md
  content/tracing/getting_further/first_class_dimensions.md
  content/tracing/setup/_index.md
  content/tracing/visualization/search.md
  src/images/tracing/setup/envs_tracing_screen.png
  src/images/tracing/setup/first_class_dimensions/envs_tracing_screen.png
  src/images/tracing/setup/primary_tags_ui.png
Labels: Tracing

#3386 Document new JMXFetch config parameters
  content/tracing/setup/java.md
Labels: Tracing

#3383 Adding complete list of language
  content/tracing/faq/resource-trace-doesn-t-show-up-under-correct-service.md
Labels: KB/FAQ, Tracing

#3394 Removing dead links
  content/tracing/getting_further/_index.md
Labels: Bug

#3392 Adding POST/PUT disclaimer for integrations API
  content/api/integrations/aws.md
  content/api/integrations/gcp.md
  content/api/integrations/pagerduty.md
  content/api/integrations/slack.md
  content/api/integrations/webhooks.md
Labels: API

#3387 Adding images for Azure log collection
  src/images/integrations/azure/event_hub_selector.png
  src/images/integrations/azure/trigger_many.png
Labels: Architecture

#3385 Monitor API KB update
  content/monitors/faq/how-can-i-export-alert-history.md
Labels: App, KB/FAQ

#3384 Adding tag search to the even stream query language
  content/graphing/event_stream/_index.md
Labels: App

#3381 Adding seasonality info
  content/monitors/monitor_types/anomaly.md
Labels: App

#3395 Move AWS VPC docs to dogweb
  content/integrations/amazon_vpc.md
Labels: Integration

#3400 Adding logo for sigsci
  src/images/integrations_logos/sigsci.png
Labels: Integration

#3382 Service check kb
  content/monitors/faq/_index.md
  content/monitors/faq/visualize-your-service-check-in-the-datadog-ui.md
  src/images/monitors/faq/check_monitor.png
  src/images/monitors/faq/check_monitor_config.png
  src/images/monitors/faq/check_status_widget.png
  src/images/monitors/faq/check_summary.png
  src/images/monitors/faq/check_widget_config.png
  src/images/monitors/faq/haproxy_service_check.gif
Labels: KB/FAQ

#3399 Event API Adding missing param
  content/api/events/code_snippets/api-events-stream.py
  content/api/events/code_snippets/api-events-stream.rb
  content/api/events/code_snippets/api-events-stream.sh
  content/api/events/events_query.md
Labels: API

#3402 Update Java APM doc for new integrations
  content/tracing/setup/java.md
Labels: Tracing

#3405 Adding text to improve searchability
  content/agent/faq/agent-commands.md
Labels: Architecture

#3406 Removing stale page
  config.yaml
  layouts/taxonomy/example.html
  layouts/taxonomy/example.terms.html
Labels: Architecture, Bug

#3407 fixing package version
  ja/local/etc/requirements3.txt
  local/etc/requirements3.txt
  package.json
Labels: Architecture

#3409 update .NET Tracer release date
  content/tracing/setup/dotnet.md
Labels: Tracing

#3393 PHP beta documentation (to go live on Wed 31st Oct)
  config.yaml
  content/tracing/advanced_usage/_index.md
  content/tracing/setup/php.md
Labels: Tracing

#3411 Removing stale faq
  content/logs/faq/_index.md
  content/logs/faq/instance-initialization-error-while-sending-logs-from-datadog-agent.md
Labels: KB/FAQ, Logs
