Repository DataDog/documentation, pull requests merged in 2018-07, with the labels that each got.

#2704 Sync for API value page
  content/integrations/faq/list-of-api-source-attribute-value.md
Labels: Bug

#2696 Adding survey button for tracing alpha integrations doc pages
  config.yaml
  content/tracing/setup/dotnet.md
  content/tracing/setup/php.md
Labels: Tracing

#2712 Removing reference to agent 5
  content/tracing/setup/docker.md
Labels: Tracing

#2711 prepare glossary for publish
  config.yaml
  content/glossary.md
Labels: App

#2715 Adding cisco_aci Integration
  src/images/integrations_logos/cisco_aci.png
Labels: Integration

#2714 Adding rookout integration
  src/images/integrations_logos/rookout.png
Labels: Integration

#2713 performace/automatic intru./trace reporting documentation
  content/tracing/setup/java.md
Labels: Tracing

#2719 Fixing port number for HAproxy config
  content/agent/proxy.md
  content/integrations/faq/list-of-api-source-attribute-value.md
Labels: Bug

#2720 Adding link to AD video
  content/agent/autodiscovery.md
Labels: App

#2721 Powershell command
  content/integrations/faq/powershell-command-to-install-azure-datadog-extension.md
Labels: KB/FAQ

#2723 Adding uWSGIi integration
  Makefile
  content/integrations/uwsgi.md
  src/images/integrations_logos/uwsgi.png
Labels: Integration

#2730 Updating text style snippet
  CONTRIBUTING.md
Labels: Architecture

#2731 Update log reserved attribute values
  content/logs/log_collection/_index.md
Labels: Logs

#2732 Centralising all agent configuration files info
  content/agent/_index.md
  content/agent/basic_agent_usage/_index.md
  content/agent/faq/_index.md
  content/agent/faq/agent-configuration-files.md
Labels: App

#2735 add deprecation notices to countER methods, etc.
  content/developers/metrics/_index.md
  content/developers/metrics/counts.md
Labels: API

#2739 Add simultaneous alert alert recovery to faq
  content/monitors/monitor_types/anomaly.md
Labels: App

#2752 Trace search
  config.yaml
  content/logs/explore.md
  content/tracing/analytics.md
  content/tracing/faq/terminology.md
  content/tracing/getting_further/_index.md
  content/tracing/getting_further/apm_events.md
  content/tracing/search.md
  content/tracing/visualization/trace_search.fr.md
  content/tracing/visualization/trace_search.md
  src/images/tracing/analytics/agg_function.png
  src/images/tracing/analytics/choose_measure_facet.png
  src/images/tracing/analytics/contextual_panel.png
  src/images/tracing/analytics/export_button.png
  src/images/tracing/analytics/graph_selector.png
  src/images/tracing/analytics/split_by.png
  src/images/tracing/analytics/switch_analytics.png
  src/images/tracing/analytics/timeserie_example.png
  src/images/tracing/analytics/timesteps.png
  src/images/tracing/analytics/top_bottom_button.png
  src/images/tracing/analytics/top_list_example.png
  src/images/tracing/analytics/view_traces.png
  src/images/tracing/search/10_multi_line.png
  src/images/tracing/search/1_multi_line.png
  src/images/tracing/search/3_multi_line.png
  src/images/tracing/search/complete_trace.png
  src/images/tracing/search/create_a_mesure.png
  src/images/tracing/search/create_facet.png
  src/images/tracing/search/edit_a_measure.png
  src/images/tracing/search/facet_panel.png
  src/images/tracing/search/facets_demo.png
  src/images/tracing/search/multi_line_display.png
  src/images/tracing/search/saved_search.png
  src/images/tracing/search/search_bar_autocomplete.png
  src/images/tracing/search/search_view.png
  src/images/tracing/search/timerange.png
  src/images/tracing/search/trace_in_tracestream.png
  src/images/tracing/search/trace_list.png
  src/images/tracing/search/trace_list_with_column.png
Labels: App

#2742 set popup attribute to true by default
  layouts/shortcodes/img.html
Labels: Architecture

#2753 Videos
  content/tracing/search.md
  content/tracing/watchdog.md
Labels: App

#2755 Removing beta flag
  content/logs/live_tail.md
Labels: Logs

#2758 Creating alias with former trace search page
  content/tracing/search.md
Labels: Bug

#2766 Removing config option for agent 5
  content/agent/autodiscovery.md
Labels: App

#2763 Adding portworx logo to the integrations page
  src/images/integrations_logos/portworx.png
Labels: Integration

#2761 Integration repo links
  layouts/shortcodes/get-dependencies.html
  local/bin/py/update_pre_build.py
Labels: Architecture

#2767 Wording update
  content/integrations/faq/get-your-autoscaling-group-events-and-metrics.md
Labels: KB/FAQ

#2768 Adding instruction for agent >6.0 on windows
  content/agent/basic_agent_usage/windows.md
Labels: App

#2771 Removing stale faq
  content/developers/faq/characteristics-of-datadog-histograms.md
  content/graphing/metrics/distributions.md
Labels: App, KB/FAQ

#2769 Fixing variable name
  content/agent/autodiscovery.md
Labels: App

#2770 Adding missing content type
  content/api/monitors/code_snippets/api-monitor-mute-all.sh
  content/api/monitors/code_snippets/api-monitor-mute.sh
  content/api/monitors/code_snippets/api-monitor-unmute-all.sh
  ja/code_snippets/api-monitor-mute-all.sh
  ja/code_snippets/api-monitor-unmute-all.sh
Labels: API

#2759 Pin node packages
  local/bin/sh/preinstall.sh
  local/bin/sh/run-site.sh
  package.json
  yarn.lock
Labels: Architecture

#2774 Adding watchdog as a main section of the doc
  config.yaml
  content/watchdog.md
  src/images/icons/nav_watchdog.png
  src/images/icons/nav_watchdog_p.png
  src/images/watchdog/service_list.png
  src/images/watchdog/watchdog_expected_values.png
  src/images/watchdog/watchdog_overview.png
  src/images/watchdog/watchdog_story.png
  src/images/watchdog/watchdog_story_bis.png
Labels: Architecture

#2762 Mapping monitor type to monitor type value
  content/api/monitors/monitors_create.md
  content/api/monitors/monitors_validate.md
  content/monitors/notifications.md
Labels: API

#2780 Refactoring troubleshooting agent check
  content/agent/troubleshooting.md
  content/developers/agent_checks.md
Labels: App

#2787 much to many
  content/tracing/visualization/_index.md
Labels: Bug

#2785 Downtime wording update
  content/monitors/downtimes.md
Labels: App

#2783 Adding k8s alpine command
  content/agent/faq/agent-commands.md
Labels: App

#2781 Adding supported os version k8s docker
  content/agent/_index.md
Labels: App

#2788 K8s correction
  content/agent/basic_agent_usage/kubernetes.md
Labels: App

#2784 Updating resolve function description
  content/monitors/_index.md
  content/monitors/manage_monitor.md
  content/monitors/notifications.md
Labels: App

#2779 Updating proxy instructions for agent v>6
  content/agent/proxy.md
Labels: App

#2782 User API Fixing role param
  content/api/users/code_snippets/api-user-create.py
  content/api/users/code_snippets/api-user-create.rb
  content/api/users/code_snippets/api-user-create.sh
  content/api/users/code_snippets/api-user-update.py
  content/api/users/code_snippets/api-user-update.rb
Labels: API

#2790 commenting default host port
  content/agent/basic_agent_usage/kubernetes.md
  content/tracing/setup/kubernetes.md
Labels: Bug

#2797 Typo fix
  content/integrations/faq/are-my-aws-cloudwatch-metrics-delayed.md
Labels: Bug

#2793 [apm] update Java system properties; removing quotes
  content/tracing/setup/first_class_dimensions.md
Labels: Tracing

#2786 Add note about Pod annotation
  content/logs/log_collection/docker.md
Labels: Logs

#2798 fix typos (*_eva_path -> *_eval_path)
  content/monitors/faq/as-count-monitor-evaluation.md
Labels: Bug

#2772 adding nxlog syslog_ng & rsyslog as integrations
  Makefile
  config.yaml
  content/integrations/nxlog.md
  content/integrations/rsyslog.md
  content/integrations/syslog_ng.md
  content/logs/_index.md
  content/logs/log_collection/fluentd.md
  content/logs/log_collection/logstash.md
  layouts/partials/integrations/integrations.html
  src/images/integrations_logos/nxlog.png
  src/images/integrations_logos/rsyslog.png
  src/images/integrations_logos/syslog_ng.png
Labels: Integration, Logs

#2792 Adds a section to the proxy page about forwarding logs with HAProxy
  content/agent/proxy.md
Labels: Logs

#2802 Dynamic volume control update after Dash
  config.yaml
  content/logs/live_tail.md
  content/logs/logging_without_limits.md
  content/logs/parsing.md
  content/logs/processing.md
  src/images/logs/logging_without_limits/enable_index_filters.png
  src/images/logs/logging_without_limits/example_notification.png
  src/images/logs/logging_without_limits/index_details.png
  src/images/logs/logging_without_limits/index_filter_details.png
  src/images/logs/logging_without_limits/index_filters.png
Labels: Logs

#2804 Updating screenshots
  content/integrations/faq/list-of-api-source-attribute-value.md
  content/logs/parsing.md
  content/logs/processing.md
  src/images/logs/parsing/key_value_parser.png
  src/images/logs/parsing/key_value_whitelist.png
  src/images/logs/parsing/parsing_example_1.png
  src/images/logs/parsing/parsing_example_2.png
  src/images/logs/parsing/parsing_example_2_bis.png
  src/images/logs/parsing/parsing_example_4.png
  src/images/logs/parsing/parsing_example_4_bis.png
  src/images/logs/parsing/parsing_example_5.png
  src/images/logs/parsing/parsing_example_5_bis.png
  src/images/logs/parsing/regex_parsing.png
  src/images/logs/processing/attribute_remapper_processor_tile.png
  src/images/logs/processing/log_date_remapper.png
  src/images/logs/processing/message_processor.png
  src/images/logs/processing/parser.png
  src/images/logs/processing/processing_panel.png
  src/images/logs/processing/severity_remapper_processor_tile.png
  src/images/logs/processing/url_processor_tile.png
  src/images/logs/processing/useragent_processor_tile.png
Labels: Logs

#2808 Updating links to github repo
  content/agent/autodiscovery.md
  content/agent/faq/agent-5-autodiscovery.md
  content/graphing/miscellaneous/test_2.md
  content/integrations/faq/can-i-limit-the-number-of-vms-that-are-pulled-in-via-the-vmware-integration.md
  content/integrations/faq/compose-and-the-datadog-agent.md
  content/integrations/faq/gathering-kubernetes-events.md
  content/integrations/faq/using-events-for-service-checks-is-deprecated-in-favor-of-monitors.md
  ja/content/guides/autodiscovery.md
  ja/content/integrations/apache.md
  ja/content/integrations/cacti.md
  ja/content/integrations/directory.md
  ja/content/integrations/gearman.md
  ja/content/integrations/goexpvar.md
  ja/content/integrations/haproxy.md
  ja/content/integrations/iis.md
  ja/content/integrations/memcached.md
  ja/content/integrations/mysql.md
  ja/content/integrations/postgresql.md
  ja/content/integrations/process.md
  ja/content/integrations/rabbitmq.md
  ja/content/integrations/riak.md
  ja/content/integrations/varnish.md
  ja/content/integrations/zookeeper.md
Labels: Bug

#2805 Adding openshift logo
  src/images/integrations_logos/openshift.png
Labels: Integration

#2809 Typo
  content/developers/metrics/histograms.md
Labels: Bug

#2795 Adding / modifying content for Distribution type
  config.yaml
  content/developers/dogstatsd/data_types.md
  content/developers/metrics/_index.md
  content/developers/metrics/distributions.md
  content/graphing/metrics/distributions.md
Labels: App

#2806 Remove mention of https connections to proxies in Agent6 config
  content/agent/proxy.md
Labels: App

#2811 link fix
  content/developers/metrics/distributions.md
Labels: Bug

#2796 Updating desc for is_match param
  content/monitors/notifications.fr.md
  content/monitors/notifications.md
  src/images/monitors/notifications/scope_match_editor.png
Labels: App

#2816 Update link to latest version available
  content/agent/basic_agent_usage/windows.md
Labels: Bug

#2815 Fix reference to the service port
  content/tracing/setup/kubernetes.md
Labels: Bug

#2817 re-adding missing text to disclaimer
  content/agent/_index.md
Labels: Bug

#2813 Adding screenshots logs and update for MsF Teams integration
  content/developers/faq/what-do-notifications-do-in-datadog.md
  content/integrations/faq/list-of-api-source-attribute-value.md
  src/images/integrations/microsoft_teams/microsoft_team_step_1.png
  src/images/integrations/microsoft_teams/microsoft_team_step_2.png
  src/images/integrations/microsoft_teams/microsoft_team_step_3.png
  src/images/integrations/microsoft_teams/microsoft_team_step_4.png
  src/images/integrations/microsoft_teams/microsoft_team_step_5.png
  src/images/integrations_logos/microsoft_teams.png
Labels: Integration, KB/FAQ

#2818 add glossary entry for Dashboards
  content/glossary.md
Labels: KB/FAQ

#2801 Adding DD windows agent install options
  content/agent/basic_agent_usage/amazonlinux.md
  content/agent/basic_agent_usage/centos.md
  content/agent/basic_agent_usage/deb.md
  content/agent/basic_agent_usage/fedora.md
  content/agent/basic_agent_usage/osx.md
  content/agent/basic_agent_usage/source.md
  content/agent/basic_agent_usage/suse.md
  content/agent/basic_agent_usage/ubuntu.md
  content/agent/basic_agent_usage/windows.md
  content/agent/faq/dogstream.md
  content/agent/proxy.md
Labels: App

#2822 To fix a example mail address to correct address.
  content/developers/faq/what-do-notifications-do-in-datadog.md
  ja/content/faq.md
Labels: Bug

#2799 Async and distributed tracing examples for Java APM.
  content/tracing/setup/java.md
Labels: Tracing

#2824 reference RFC 2119
  CONTRIBUTING.md
Labels: Bug

#2803 Create attributes naming convention documentation
  config.yaml
  content/logs/_index.md
  content/logs/analytics.md
  content/logs/docker.fr.md
  content/logs/explore.md
  content/logs/faq/can-the-datadog-agent-be-used-to-send-only-logs.md
  content/logs/faq/how-to-increase-the-number-of-log-files-tailed-by-the-agent.md
  content/logs/faq/how-to-investigate-a-log-parsing-issue.md
  content/logs/faq/how-to-remap-custom-severity-values-to-the-official-log-status.md
  content/logs/faq/log-parsing-best-practice.md
  content/logs/faq/setting-file-permissions-for-rotating-logs.md
  content/logs/faq/why-do-my-logs-not-have-the-expected-timestamp.md
  content/logs/faq/why-do-my-logs-show-up-with-an-info-status-even-for-warnings-or-errors.md
  content/logs/languages/csharp.md
  content/logs/languages/go.md
  content/logs/languages/java.md
  content/logs/languages/nodejs.md
  content/logs/languages/php.md
  content/logs/languages/python.md
  content/logs/languages/ruby.md
  content/logs/live_tail.md
  content/logs/log_collection/docker.md
  content/logs/logging_without_limits.md
  content/logs/processing/_index.md
  content/logs/processing/attributes_naming_convention.md
  content/logs/processing/parsing.md
  ja/config.yaml
  src/images/logs/processing/parsing/key_value_parser.png
  src/images/logs/processing/parsing/key_value_whitelist.png
  src/images/logs/processing/parsing/parsing_example_1.png
  src/images/logs/processing/parsing/parsing_example_2.png
  src/images/logs/processing/parsing/parsing_example_2_bis.png
  src/images/logs/processing/parsing/parsing_example_4.png
  src/images/logs/processing/parsing/parsing_example_4_bis.png
  src/images/logs/processing/parsing/parsing_example_5.png
  src/images/logs/processing/parsing/parsing_example_5_bis.png
  src/images/logs/processing/parsing/parsing_example_6.png
  src/images/logs/processing/parsing/regex_parsing.png
Labels: Logs

#2825 Clarify syntax for user group notifications to Slack
  content/monitors/notifications.md
Labels: App

#2823 Adding agent v5 commands
  content/integrations/faq/troubleshooting-jmx-integrations.md
Labels: KB/FAQ

#2830 remove beta warning as the module is now stable
  config.yaml
  content/tracing/setup/_index.md
  content/tracing/setup/docker.md
  content/tracing/setup/nodejs.md
Labels: Do Not Merge, Tracing, WORK IN PROGRESS

#2831 [apm] reordering the node.js supported types
  content/tracing/setup/nodejs.md
Labels: Tracing

#2833 Docker with a capital D
  content/agent/autodiscovery.md
Labels: Bug

#2840 Updating lib category
  data/libraries.yaml
Labels: Tracing

#2841 Fix missing link to logs proxy configuration
  content/agent/proxy.md
Labels: Bug

#2843 HAproxy fixing port number
  content/agent/proxy.md
Labels: App, Bug

#2853 Type update on as-count-monitor-evaluation.md
  content/monitors/faq/as-count-monitor-evaluation.md
Labels: Bug

#2854 Implementing RFC 2606
  CONTRIBUTING.md
  content/graphing/event_stream/_index.fr.md
  content/graphing/event_stream/_index.md
  ja/content/faq.md
Labels: Architecture

#2856 Editing example for log-rotate
  content/logs/faq/setting-file-permissions-for-rotating-logs.md
Labels: Bug

#2857 Yaxis, fixing parameter values
  content/graphing/miscellaneous/graphingjson.md
Labels: App

#2844 Documenting the default function
  content/graphing/miscellaneous/functions.md
Labels: App

#2859 Add CLI tool to community libraries
  content/developers/libraries.md
Labels: App

#2836 Update CloudFoundry integration with Log instructions
  content/integrations/cloud_foundry.md
Labels: Integration, Logs

#2855 Removing bad monitor state
  CONTRIBUTING.md
  content/monitors/monitor_types/composite.md
Labels: Bug

#2860 Add ex-datadog-plug
  data/libraries.yaml
Labels: API

#2852 journald Update with containerised instruction
  content/integrations/journald.md
Labels: Integration, Logs

#2851 Update SeriLog agent less logging
  content/logs/languages/csharp.md
Labels: Integration, Logs

#2869 Add link to the serilog Sink
  content/logs/languages/csharp.md
Labels: Bug

#2873 updating param
  content/agent/proxy.md
Labels: Bug
