Repository DataDog/documentation, pull requests merged in 2018-04, with the labels that each got.

#2284 don't break words in api code blocks
  ja/src/scss/bootstrap/scss/_code.scss
  src/scss/pages/_api.scss
  src/scss/pages/_global.scss
Labels: Bug

#2283 if there is an anchor, append it
  layouts/partials/sidenav/recursive-nav.html
Labels: Bug

#2277 Updating agent source build commands
  content/agent/basic_agent_usage/source.md
Labels: Bug

#2278 link fix
  content/integrations/cloud_foundry.md
  content/integrations/faq/can-i-collect-sql-server-performance-metrics-beyond-what-is-available-in-the-sys-dm-os-performance-counters-table-try-wmi.fr.md
  ja/content/integrations/cloud_foundry.md
Labels: Bug

#2282 integration supported os
  layouts/partials/integration-labels/integration-labels.html
  layouts/partials/integration-labels/integration-labels.scss
  src/images/os-linux.png
  src/images/os-macos.png
  src/images/os-windows-bw.png
  src/images/os-windows.png
Labels: Architecture

#2289 fixing user API
  content/api/users/code_snippets/api-user-create.py
  content/api/users/code_snippets/api-user-create.rb
  content/api/users/code_snippets/api-user-disable.py
  content/api/users/code_snippets/api-user-disable.sh
  content/api/users/code_snippets/api-user-get.sh
  content/api/users/code_snippets/api-user-update.sh
  content/api/users/users_create.md
  content/api/users/users_delete.fr.md
  content/api/users/users_delete_code.md
  content/api/users/users_get.fr.md
  content/api/users/users_get_code.md
  content/api/users/users_update.fr.md
  content/api/users/users_update_code.md
Labels: Bug

#2287 Removing bad repo
  content/tracing/languages/_index.fr.md
  local/etc/links.ignore
Labels: Bug

#2279 Fixing example for agent check on v5 ad v6
  content/agent/agent_checks.md
  content/agent/faq/agent-5-custom-agent-check.md
Labels: App

#2295 Updating agent commands
  content/agent/faq/agent-commands.md
Labels: App

#2298 Adding delete search doc
  content/logs/explore.md
  src/images/logs/explore/delete_saved_search.png
Labels: App

#2296 Adding serverless dd metrics lib
  data/libraries.yaml
Labels: API

#2297 fixing screenshot for log processing
  src/images/logs/processing/original_log.png
Labels: Bug

#2294 New hired feedback
  content/getting_started/custom_metrics.md
  content/getting_started/from_the_query_to_the_graph.md
  content/graphing/dashboards/screenboard.md
  content/graphing/dashboards/widgets.md
  content/graphing/infrastructure/_index.md
  content/graphing/infrastructure/livecontainers.md
  content/graphing/infrastructure/process.md
  content/graphing/miscellaneous/functions.md
  content/graphing/notebooks/_index.md
  content/monitors/downtimes.md
  content/monitors/manage_monitor.md
  content/monitors/monitor_types/_index.md
  content/monitors/monitor_types/forecasts.md
  content/monitors/monitor_types/metric.md
  content/videos/_index.md
  i18n/en.json
Labels: Bug

#2305 Adding configuration file for windows
  content/agent/troubleshooting.fr.md
  content/agent/troubleshooting.md
  content/graphing/infrastructure/process.md
Labels: App

#2303 Updating log-location link
  content/agent/faq/dogstream.md
  content/agent/faq/how-to-solve-permission-denied-errors.md
  content/agent/troubleshooting.fr.md
  content/agent/troubleshooting.md
Labels: Bug

#2309 Updating layout
  content/agent/network.md
Labels: App

#2314 adding type support for metric post API
  content/api/metrics/code_snippets/api-metrics-post.sh
  content/api/metrics/metrics_timeseries.md
Labels: API

#2324 Fav icon links
  content/agent/_index.md
  content/agent/agent_checks.md
  content/integrations/faq/list-of-api-source-attribute-value.md
  layouts/shortcodes/link-ext.html
  layouts/shortcodes/link-github.html
  src/images/link-icons/external.png
  src/images/link-icons/github.png
  src/scss/pages/_global.scss
Labels: Architecture

#2327 Adding new link policy
  CONTRIBUTING.md
Labels: App

#2323 Update sentence for k8
  .gitignore
  content/agent/basic_agent_usage/kubernetes.md
Labels: App

#2321 Adding info for jmx autodiscovery
  content/agent/faq/docker-jmx.md
Labels: App

#2304 Adding agent v6 commands
  content/agent/faq/why-don-t-i-see-the-system-processes-open-file-descriptors-metric.md
Labels: App

#2336 Adding precisions regarding format
  content/agent/basic_agent_usage/docker.md
Labels: App

#2338 Fixing broken link
  content/integrations/faq/can-i-use-a-named-instance-in-the-sql-server-integration.md
Labels: Bug

#2337 Updating service lifecycle command section
  content/agent/basic_agent_usage/amazonlinux.md
  content/agent/basic_agent_usage/centos.md
  content/agent/basic_agent_usage/deb.md
  content/agent/basic_agent_usage/redhat.md
  content/agent/basic_agent_usage/suse.md
  content/agent/basic_agent_usage/ubuntu.md
Labels: App

#2342 merging core et swap into system
  content/integrations/system.md
  local/bin/py/update_pre_build.py
Labels: App

#2340 Update Ruby APM install steps
  content/tracing/setup/ruby.md
Labels: App

#2346 Add missing alias
  content/graphing/miscellaneous/functions.md
Labels: Bug

#2343 as_count monitor query doc
  content/monitors/faq/_index.md
  content/monitors/faq/as-count-monitor-evaluation.md
Labels: KB/FAQ

#2355 moving code block
  content/agent/basic_agent_usage/docker.md
Labels: Bug

#2356 Adding precisions
  content/monitors/faq/as-count-monitor-evaluation.md
Labels: App

#2363 create missing integrations, add default yaml on creation
  local/bin/py/update_pre_build.py
Labels: Architecture

#2361 Windows phrasing update
  content/agent/basic_agent_usage/windows.md
Labels: App, Bug

#2365 Removing stale faq
  content/agent/_index.md
  content/agent/faq/install-core-extra.fr.md
  content/agent/faq/install-core-extra.md
Labels: KB/FAQ

#2370 Adding JIT disclaimer
  content/account_management/saml.md
Labels: App

#2373 Adding link if service is not available
  content/agent/faq/agent-commands.md
Labels: KB/FAQ

#2376 [Jenkins] Adding metrics table
  content/integrations/jenkins.md
Labels: Integration

#2372 Phrasing update
  content/agent/prometheus.md
Labels: App

#2374 Adding aws Guardduty
  Makefile
  content/integrations/amazon_guardduty.md
  src/images/integrations/amazon_guardduty/aws_gd_1.png
  src/images/integrations/amazon_guardduty/aws_gd_2.png
  src/images/integrations/amazon_guardduty/aws_gd_3.png
  src/images/integrations_logos/amazon_guardduty.png
Labels: App, Integration

#2383 Adding k8 commands
  content/agent/faq/agent-commands.md
Labels: KB/FAQ

#2385 AWS crawler run every 10 min
  content/integrations/faq/are-my-aws-cloudwatch-metrics-delayed.md
Labels: Bug

#2381 Adding integrations logo
  src/images/integrations_logos/aerospike.jpg
  src/images/integrations_logos/aerospike.png
  src/images/integrations_logos/aspdotnet.png
  src/images/integrations_logos/istio.png
  src/images/integrations_logos/linkerd.png
  src/images/integrations_logos/split.png
Labels: App

#2384 Fixing EC2 policy parameters
  content/integrations/faq/how-do-i-pull-my-ec2-tags-without-using-the-aws-integration.md
Labels: Bug

#2382 Adding GUI disclaimer for windows 32bits
  content/agent/_index.md
  content/agent/basic_agent_usage/windows.md
Labels: App

#2387 Discarding non-integrations
  local/bin/py/update_pre_build.py
Labels: Bug

#2397 Update doc for hardcoded AD ports in 6.2
  content/agent/autodiscovery.md
Labels: Integration

#2396 Removing duplicated content
  content/getting_started/tagging/assigning_tags.md
Labels: App

#2404 Adding k8 legacy instructions
  content/agent/basic_agent_usage/kubernetes.md
  content/agent/faq/docker-jmx.md
  content/integrations/faq/list-of-api-source-attribute-value.md
  content/integrations/faq/troubleshooting-jmx-integrations.md
Labels: App

#2362 [WIP] Hosts API
  content/api/hosts/code_snippets/api-hosts-search.py
  content/api/hosts/code_snippets/api-hosts-search.rb
  content/api/hosts/code_snippets/api-hosts-search.sh
  content/api/hosts/code_snippets/api-hosts-totals.py
  content/api/hosts/code_snippets/api-hosts-totals.rb
  content/api/hosts/code_snippets/api-hosts-totals.sh
  content/api/hosts/code_snippets/result.api-hosts-search.py
  content/api/hosts/code_snippets/result.api-hosts-search.rb
  content/api/hosts/code_snippets/result.api-hosts-search.sh
  content/api/hosts/code_snippets/result.api-hosts-totals.py
  content/api/hosts/code_snippets/result.api-hosts-totals.rb
  content/api/hosts/code_snippets/result.api-hosts-totals.sh
  content/api/hosts/hosts_mute.md
  content/api/hosts/hosts_mute_code.md
  content/api/hosts/hosts_search.md
  content/api/hosts/hosts_search_code.md
  content/api/hosts/hosts_totals.md
  content/api/hosts/hosts_totals_code.md
  content/api/hosts/hosts_unmute.md
  content/api/hosts/hosts_unmute_code.md
  content/api/metrics/code_snippets/api-metrics-search.py
  content/api/metrics/code_snippets/api-metrics-search.rb
  content/api/metrics/code_snippets/api-metrics-search.sh
  content/api/metrics/code_snippets/result.api-metrics-search.py
  content/api/metrics/code_snippets/result.api-metrics-search.rb
  content/api/metrics/code_snippets/result.api-metrics-search.sh
  content/api/metrics/metrics_search.md
  content/api/metrics/metrics_search_code.md
  content/api/search/_index.fr.md
  content/api/search/_index.md
  content/api/search/code_snippets/result.api-search.rb
  content/api/search/code_snippets/result.api-search.sh
  content/api/search/search.fr.md
  content/api/search/search.md
  content/api/search/search_code.fr.md
  content/api/search/search_code.md
Labels: API, WORK IN PROGRESS

#2420 [Logs] How to solve log with wrong status issue
  content/logs/faq/_index.md
  content/logs/faq/why-do-my-logs-show-up-with-an-info-status-even-for-warnings-or-errors.md
  src/images/logs/faq/log_post_processing.png
  src/images/logs/faq/new_log.png
  src/images/logs/faq/new_log_remapped.png
  src/images/logs/faq/original_log.png
  src/images/logs/faq/processor.png
  src/images/logs/faq/reserved_attribute.png
  src/images/logs/faq/source_attribute.png
Labels: KB/FAQ

#2430 adding client implementation
  content/tracing/getting_further/trace_sampling_and_storage.md
Labels: App
