Repository DataDog/documentation, pull requests merged in 2018-09, with the labels that each got.

#3068 Laura.hampton/exclude tags in event stream
  content/graphing/event_stream/_index.md
Labels: App

#3076 Enhancing custom forwarder section
  content/logs/_index.md
  src/images/logs/custom_log_telnet.png
Labels: Logs

#3067 Update deploying-the-agent-on-raspberrypi.md
  content/developers/faq/deploying-the-agent-on-raspberrypi.md
Labels: agent

#3072 Adding vpc integration
  Makefile
  content/integrations/amazon_vpc.md
  src/images/integrations/amazon_vpc/flow_log_creation.png
  src/images/integrations/amazon_vpc/flow_logs.png
  src/images/integrations/amazon_vpc/s3_lambda_trigger_configuration.png
  src/images/integrations/amazon_vpc/s3_trigger_configuration.png
Labels: Integration, Logs

#3083 [agent] Fix unit of Agent memory usage
  content/agent/_index.md
Labels: agent

#3086 Document tracer support for Ruby 2.5
  content/tracing/setup/ruby.md
Labels: Tracing

#3085 agent/network: add note to recommend not using a subset of IPs
  content/agent/network.fr.md
  content/agent/network.md
Labels: App

#3079 Adding stunnel integration
  Makefile
  content/integrations/stunnel.md
Labels: Integration, Logs

#3065 Removing fake integration
  Makefile
  content/integrations/windows_event_log.md
  content/logs/log_collection/_index.md
Labels: Logs

#3088 Moving FAQ content to main doc
  content/agent/faq/agent-5-container-more-log.md
  content/agent/troubleshooting.md
Labels: agent

#3078 Adding DD_APM_NON_LOCAL_TRAFFIC=true when tracing from other containers
  content/tracing/setup/docker.md
Labels: Bug, Tracing

#3073 Adding template var to event overlay
  content/graphing/_index.md
  src/images/graphing/index/overlay_events.png
Labels: App

#3074 Adding cluster configuration for host monitor
  content/monitors/monitor_types/host.md
  src/images/monitors/monitor_types/host/cluster_alert.png
  src/images/monitors/monitor_types/host/cluster_alert_setup.png
Labels: App

#3089 Fixing API layout
  content/api/monitors/monitors_create.md
Labels: Bug

#3075 New notification section
  content/monitors/faq/_index.md
  content/monitors/faq/how-do-i-add-custom-template-variables-to-my-monitor-message.md
  content/monitors/faq/how-do-i-reduce-alert-flapping-noise.md
  content/monitors/faq/how-do-i-setup-conditional-contacts-and-messages-in-a-single-monitor.md
  content/monitors/notifications.md
  src/images/monitors/notifications/comparator_alert.png
Labels: App

#3081 Adding grok parser advanced settings
  content/logs/processing/parsing.md
  src/images/logs/processing/parsing/advanced_settings.png
  src/images/logs/processing/parsing/helper_rules.png
Labels: Logs

#3080 Documenting Timeshift function
  content/graphing/functions/timeshift.md
Labels: App

#3082 [Process] Adding disclaimer + layout update
  content/agent/troubleshooting.md
  content/graphing/infrastructure/process.md
  content/logs/faq/can-the-datadog-agent-be-used-to-send-only-logs.md
  content/tracing/getting_further/first_class_dimensions.md
Labels: App

#3090 Updated API collection to most recent Postman Collection version
  static/json/datadog.postman_collection_scrubbed.json
Labels: API

#3077 First class dimension: creating code tabs
  content/tracing/getting_further/_index.md
  content/tracing/getting_further/first_class_dimensions.md
Labels: Tracing

#3091 rename http.py to check_http.py
  content/developers/agent_checks.md
Labels: agent

#3094 Adding fastly log format asset
  static/json/fastly_format.json
Labels: Integration

#3058 Update Docker and Container Docs
  content/agent/basic_agent_usage/docker.md
  content/graphing/infrastructure/livecontainers.md
Labels: agent

#3098 removing redondant aliases
  content/agent/network.md
  content/agent/proxy.md
Labels: Bug

#3099 Updating stale links
  content/account_management/faq/how-is-datadog-retrieving-my-data-are-my-data-and-credentials-safe.md
  content/agent/faq/cannot-open-an-http-server-socket-error-reported-errno-eacces-13.md
  content/agent/network.md
Labels: Bug

#3100 Adding private param
  content/error.fr.md
  content/error.md
  content/integrations/faq/_index.md
  content/logs/faq/_index.md
  content/videos/_index.fr.md
  content/videos/_index.md
  content/videos/anomaly_detection.fr.md
  content/videos/anomaly_detection.md
  content/videos/apmsetup-rails.fr.md
  content/videos/apmsetup-rails.md
  content/videos/dashboard_permissions.md
  content/videos/datadog-101/_index.fr.md
  content/videos/datadog-101/_index.md
  content/videos/datadog-emails/_index.fr.md
  content/videos/datadog-emails/_index.md
  content/videos/datadog101-1-overview.fr.md
  content/videos/datadog101-1-overview.md
  content/videos/datadog101-2-collection.fr.md
  content/videos/datadog101-2-collection.md
  content/videos/datadog101-3-dashboards.fr.md
  content/videos/datadog101-3-dashboards.md
  content/videos/datadog101-4-functions.md
  content/videos/datadog101-5-aggregation.fr.md
  content/videos/datadog101-5-aggregation.md
  content/videos/datadog101-6-notifications.md
  content/videos/five_minute_intro.fr.md
  content/videos/five_minute_intro.md
  content/videos/hostmap.fr.md
  content/videos/hostmap.md
  content/videos/install-in-eight-mins.fr.md
  content/videos/install-in-eight-mins.md
  content/videos/matts-quick-tips/_index.fr.md
  content/videos/matts-quick-tips/_index.md
  content/videos/share_screenboards.fr.md
  content/videos/share_screenboards.md
  content/videos/tipsandtricks-docker-autodiscovery-labels-v5.md
  content/videos/tipsandtricks-docker-autodiscovery-labels.fr.md
  content/videos/tipsandtricks-docker-autodiscovery-labels.md
  content/videos/tipsandtricks-k8s-autodiscovery.fr.md
  content/videos/tipsandtricks-k8s-autodiscovery.md
  content/videos/two_minute_intro.fr.md
  content/videos/two_minute_intro.md
  content/videos/unshare_screenboards.fr.md
  content/videos/unshare_screenboards.md
  content/videos/weekly_monitor_report.fr.md
  content/videos/weekly_monitor_report.md
Labels: Architecture

#3101 keeping only private param
  layouts/sitemap.xml
Labels: Architecture

#3104 Adding rigor logo
  src/images/integrations_logos/rigor.png
Labels: Integration

#3107 updating images for the jira integration
  src/images/integrations/jira/JiraInstallation2.png
  src/images/integrations/jira/JiraInstallation3.png
Labels: Integration

#3113 removing title in tabs
  content/agent/proxy.md
  content/monitors/notifications.md
  content/tracing/advanced_usage/_index.md
Labels: Bug

#3114 Moving confusing docker param from main setup page
  content/tracing/setup/_index.md
  content/tracing/setup/docker.md
Labels: Tracing

#3115 Removing beta flag
  content/tracing/visualization/analytics.md
Labels: Bug, Tracing

#3116 Removing stale FAQ
  content/integrations/faq/_index.md
  content/integrations/faq/capturing-ec2-tags-at-startup.md
Labels: KB/FAQ

#3120 Fixed formatting for Node OT Documentation
  content/tracing/advanced_usage/_index.md
Labels: Tracing

#3123 Removing deprecated param
  content/tracing/setup/_index.md
  content/tracing/setup/docker.md
Labels: Tracing

#3126 Cropping space around logo
  src/images/dd-docs-meta-image.png
Labels: Architecture

#3129 use hashed img path for og image default
  layouts/partials/imgurl.html
  layouts/partials/meta.html
Labels: Architecture

#3130 Using official logo
  src/images/dd-docs-meta-image.png
Labels: Architecture

#3119 [apm/python] Add OpenTracing reference + small fixes
  content/tracing/advanced_usage/_index.md
  content/tracing/setup/python.md
Labels: Tracing

#3125 Adding service and name characters limitations
  content/api/tracing/send_service.md
  content/api/tracing/send_trace.md
Labels: Tracing

#3132 Change APM Ruby support for Rails from 5.1 to < 6.0.
  content/tracing/setup/ruby.md
Labels: Tracing

#3141 Delete extra space
  content/agent/proxy.md
Labels: Bug

#3139 Updating couchdb logo
  src/images/integrations_logos/couch.png
  src/images/integrations_logos/couchdb.png
Labels: Integration

#3145 Drop alpine images from docs
  content/agent/faq/agent-commands.md
  content/agent/troubleshooting.md
  content/graphing/infrastructure/livecontainers.md
  content/graphing/infrastructure/process.md
  content/tracing/setup/docker.md
Labels: agent

#3142 Example update
  content/monitors/notifications.md
Labels: App

#3135 adding tag extraction documentation
  content/agent/autodiscovery.md
  content/integrations/faq/list-of-api-source-attribute-value.md
Labels: agent

#3133 Create FAQ for SQL Stored Procedure
  content/integrations/faq/_index.md
  content/integrations/faq/how-to-collect-metrics-with-sql-stored-procedure.md
Labels: KB/FAQ

#3147 Updates to APM Java docs
  content/tracing/setup/java.md
Labels: Tracing

#3148 Adding right tab when linking from setup
  content/tracing/setup/go.md
  content/tracing/setup/java.md
  content/tracing/setup/nodejs.md
  content/tracing/setup/python.md
  content/tracing/setup/ruby.md
Labels: Tracing

#3149 Fixing layout
  content/integrations/faq/windows-status-based-check.md
Labels: Bug, KB/FAQ

#3087 Update Docker log documentation
  content/logs/log_collection/docker.md
Labels: Logs

#3102 Update the proxy settings for logs
  content/agent/proxy.md
  content/logs/log_collection/_index.md
Labels: agent

#3105 Update main autodiscovery documentation with log examples
  content/agent/autodiscovery.md
Labels: Logs

#3152 Fixing param for widgets
  content/graphing/dashboards/widgets.md
Labels: App, Bug

#3131 Add .NET tracing beta documentation
  config.yaml
  content/tracing/advanced_usage/_index.md
  content/tracing/setup/_index.md
  content/tracing/setup/dotnet.md
Labels: Tracing

#3150 content/tracing/setup/go: add new integrations from 1.3.0
  content/tracing/setup/go.md
Labels: Tracing

#3151 [Log] Fixing link to examples
  content/logs/processing/parsing.md
Labels: Bug, Logs

#3159 .NET Tracing documentation tweaks
  content/tracing/advanced_usage/_index.md
  content/tracing/getting_further/first_class_dimensions.md
  content/tracing/setup/dotnet.md
Labels: Tracing

#3157 [apm/python] Update documentation references
  content/security/tracing.md
  content/tracing/getting_further/trace_sampling_and_storage.md
  content/tracing/setup/python.md
  content/tracing/visualization/_index.md
  ja/content/tracing/python.md
Labels: Tracing

#3161 removing [here] references
  content/agent/kubernetes/_index.md
  content/graphing/_index.md
  content/graphing/faq/is-it-possible-to-query-historical-data-after-a-host-has-been-destroyed.md
  content/logs/faq/why-do-my-logs-not-have-the-expected-timestamp.md
  content/logs/log_collection/docker.md
Labels: Bug

#3163 Wording update
  content/logs/explorer/patterns.md
Labels: Bug

#3164 Removed duplicate metrics
  content/developers/metrics/_index.md
Labels: Bug

#3162 [Log] Switching pattern doc to beta
  content/logs/explorer/patterns.md
Labels: Logs

#3165 update header and footer links to match
  data/partials/footer.yaml
  data/partials/header.yaml
Labels: Architecture

#3168 Expand installation instructions, add runtime compatibility
  content/tracing/setup/dotnet.md
Labels: Tracing

#3173 Fixing aliases
  content/agent/faq/dogstream.md
  content/logs/_index.md
Labels: Architecture, Logs

#3172 KB Layout update
  content/integrations/faq/troubleshooting-jmx-integrations.md
Labels: KB/FAQ

#3166 documenting Metric Explorer and Metric Summary pages
  config.yaml
  content/graphing/faq/_index.md
  content/graphing/faq/how-can-i-set-up-custom-units-for-custom-metrics.md
  content/graphing/metrics/_index.md
  content/graphing/metrics/distributions.md
  content/graphing/metrics/explorer.md
  content/graphing/metrics/summary.md
  content/integrations/faq/list-of-api-source-attribute-value.md
  src/images/graphing/metrics/explorer/explorer.png
  src/images/graphing/metrics/explorer/split-by-team.png
  src/images/graphing/metrics/summary/metric_panel.png
  src/images/graphing/metrics/summary/metrics_metadata.gif
  src/images/graphing/metrics/summary/summary.gif
Labels: App

#3136 implemented fixes to bosh v2 commands
  content/integrations/cloud_foundry.md
Labels: Integration

#3175 Adding precission about time evaluation
  content/monitors/monitor_types/process.md
Labels: App

#3176 Remove manual instrumentation related content
  content/integrations/faq/list-of-api-source-attribute-value.md
  content/tracing/setup/java.md
Labels: Tracing

#3178 Inaccurate description
  content/logs/processing/attributes_naming_convention.md
Labels: Logs

#3182 Agent 5 wording update
  content/agent/faq/agent-5-kubernetes-basic-agent-usage.md
Labels: Bug, agent

#3183 Adding metric units usages
  content/developers/metrics/_index.md
  src/images/developers/metrics/annotated_ops.png
  src/images/developers/metrics/postgres_commits.png
  src/images/developers/metrics/redis_dash_metrics_units.png
Labels: App

#3177 Updating agent v6 infos
  content/agent/_index.md
Labels: agent

#3184 replace and with ampersand
  config.yaml
Labels: Architecture

#3185 Updates doc on K8s custom integrations with info from KB
  content/agent/kubernetes/_index.md
  content/agent/kubernetes/integrations.md
Labels: agent

#3190 [metrics] Remove deprecation notice on Dogstatsd Counter type
  content/developers/metrics/_index.md
  content/developers/metrics/counts.md
Labels: agent

#3181 Adding v0 of GCP integrations API doc
  content/api/integrations/code_snippets/api-integrations-aws.sh
  content/api/integrations/code_snippets/api-integrations-gcp.py
  content/api/integrations/code_snippets/api-integrations-gcp.rb
  content/api/integrations/code_snippets/api-integrations-gcp.sh
  content/api/integrations/code_snippets/api-integrations-pagerduty.sh
  content/api/integrations/code_snippets/api-integrations-slack.sh
  content/api/integrations/code_snippets/api-integrations-webhooks.sh
  content/api/integrations/code_snippets/result.api-integrations-gcp.py
  content/api/integrations/code_snippets/result.api-integrations-gcp.rb
  content/api/integrations/code_snippets/result.api-integrations-gcp.sh
  content/api/integrations/gcp.md
  content/api/integrations/gcp_code.md
  content/api/integrations/integrations.md
  content/api/integrations/pagerduty.md
  content/api/integrations/pagerduty_code.fr.md
  content/api/integrations/pagerduty_code.md
  content/api/integrations/slack.fr.md
  content/api/integrations/slack.md
  content/api/integrations/slack_code.fr.md
  content/api/integrations/slack_code.md
  content/api/integrations/webhooks.md
  content/api/integrations/webhooks_code.fr.md
  content/api/integrations/webhooks_code.md
Labels: API

#3194 removed inaccurate Resource Overhead info
  content/agent/_index.md
Labels: agent

#3195 Unification of the parameter format
  content/api/integrations/gcp.md
Labels: API

#3197 [apm/python] Clarify debug mode
  content/tracing/setup/python.md
Labels: Tracing

#3200 David.jones/search page
  src/js/datadog-docs.js
  src/scss/pages/_search.scss
Labels: Architecture

#3203 David.jones/search enter
  layouts/_default/baseof.html
  src/js/datadog-docs.js
Labels: Architecture

#3209 Fixing attribtue -> attribute typo.
  content/logs/log_collection/csharp.md
  content/logs/log_collection/go.md
  content/logs/log_collection/java.md
  content/logs/log_collection/nodejs.md
  content/logs/log_collection/php.md
  content/logs/log_collection/python.md
  content/logs/log_collection/ruby.md
Labels: Bug

#3211 Link fix
  content/logs/explorer/_index.md
Labels: Bug

#3215 adding access_key_id desc for china
  content/api/integrations/aws.md
Labels: API

#3213 Path update
  content/agent/autodiscovery.md
Labels: Bug, agent

#3214 Adding operator + deprecating incident
  content/getting_started/_index.md
  content/graphing/event_stream/_index.md
  content/logs/explorer/search.md
Labels: App

#3216 Adding aliases to avoid broken links
  content/agent/prometheus.md
  content/developers/prometheus.md
Labels: agent

#3210 Removing stale FAQ
  content/agent/kubernetes/event_collection.md
  content/agent/kubernetes/host_setup.md
  content/integrations/faq/_index.md
  content/integrations/faq/gathering-kubernetes-events.md
  content/integrations/kubernetes.md
Labels: KB/FAQ

#3220 Revert "David.jones/search remove filters"
  layouts/_default/baseof.html
  src/js/datadog-docs.js
Labels: Architecture

#3222 add priority sampling and new integrations docs for Node APM v0.6.0
  content/tracing/advanced_usage/_index.md
  content/tracing/setup/nodejs.md
Labels: Tracing

#3224 Add missing words.
  content/monitors/faq/i-have-a-downtime-scheduled-on-my-monitor-why-did-it-still-alert.md
Labels: Bug

#3226 fix supported pg versions and make other versions easier to read
  content/tracing/setup/nodejs.md
Labels: Tracing

#3225 Add log samples in monitor notification
  content/monitors/monitor_types/log.md
  src/images/monitors/monitor_types/log/activate-log-monitor-sample.png
  src/images/monitors/monitor_types/log/slack-log-sample.png
Labels: Logs

#3230 Latest log sample in log monitors documentation
  content/monitors/monitor_types/log.md
  src/images/monitors/monitor_types/log/activate-log-monitor-sample.png
  src/images/monitors/monitor_types/log/slack-log-sample.png
Labels: Logs

#3201 Agent send logs only with env var
  content/logs/faq/can-the-datadog-agent-be-used-to-send-only-logs.md
Labels: Logs

#3232 Add warnings regarding jmxterm and Agent 6
  content/integrations/faq/collecting-composite-type-jmx-attributes.md
  content/integrations/faq/troubleshooting-jmx-integrations.md
Labels: KB/FAQ

#3234 update send only logs faq page links to work with tabs
  content/logs/faq/can-the-datadog-agent-be-used-to-send-only-logs.md
Labels: Bug

#3198 Update PHP tracer docs with PHP versions
  content/tracing/setup/php.md
Labels: Tracing

#3231 Add versioning instructions + update formats
  content/developers/agent_checks.md
Labels: agent

#3238 Correct nginx_status_url in Dockerfile LABEL example
  content/agent/autodiscovery.md
Labels: Bug

#3239 Update slack notification section
  content/monitors/notifications.md
Labels: App

#3237 Table fix
  content/developers/agent_checks.md
Labels: Bug

#3242 turn off algolia indexer for now
  .gitlab-ci.yml
Labels: Architecture

#3235 Adding monitor uptime widget doc
  content/monitors/monitor_uptime_widget.md
  src/images/monitors/monitor_uptime_widget.png
  src/images/monitors/monitor_uptime_widget_configuration.png
Labels: App

#3244 Link fix
  content/monitors/monitor_uptime_widget.md
Labels: Bug

#3246 Update Java APM tracer supported versions for Cassandra and SparkJava.
  content/tracing/setup/java.md
Labels: Tracing

#3247 Wording update
  content/monitors/monitor_uptime_widget.md
Labels: App
