Repository DataDog/documentation, pull requests merged in 2018-11, with the labels that each got.

#3418 Add missing 's's on plural forms
  content/logs/processing/pipelines.md
Labels: Bug, Logs

#3419 Removing stale content
  content/developers/metrics/custom_metrics.md
  ja/content/guides/metrics.md
Labels: App, Bug

#3423 Escaping backslash for logs collection with Docker compose
  content/logs/log_collection/docker.md
Labels: Logs, agent

#3428 Adding dashboard popularity and list
  content/graphing/dashboards/_index.md
  content/graphing/dashboards/template_variables.md
  content/graphing/dashboards/timeboard.md
  src/images/graphing/dashboards/dash_to_list.png
  src/images/graphing/dashboards/dashboard_list.png
  src/images/graphing/dashboards/new_list_title.png
Labels: App

#3429 Removing agent check doc and redirecting to integration section
  content/developers/_index.md
  content/developers/agent_checks.md
  content/developers/metrics/_index.md
  content/monitors/faq/visualize-your-service-check-in-the-datadog-ui.md
Labels: agent

#3430 Add Networking and Proxying section to public security docs
  content/security/agent.md
Labels: App

#3412 Update Log monitor doc
  content/monitors/monitor_types/log.md
  src/images/monitors/monitor_types/log/define_the_search_query.png
  src/images/monitors/monitor_types/log/log_monitor_group_by.png
  src/images/monitors/monitor_types/log/log_monitor_overview.png
  src/images/monitors/monitor_types/log/set_alert_conditions.png
Labels: Logs

#3433 Revert "Adding dashboard popularity and list"
  content/graphing/dashboards/_index.md
  content/graphing/dashboards/template_variables.md
  content/graphing/dashboards/timeboard.md
  src/images/graphing/dashboards/dash_to_list.png
  src/images/graphing/dashboards/dashboard_list.png
  src/images/graphing/dashboards/new_list_title.png
Labels: App

#3439 Fix links to sample config files
  content/integrations/system.md
Labels: Bug, Integration

#3441 Network doc - Update the log endpoint
  content/agent/network.md
Labels: Logs, agent

#3440 content/tracing/setup/go: mark MongoDB as Alpha
  content/tracing/setup/go.md
Labels: Tracing

#3434 Add info on DD_COLLECT_EC2_TAGS
  content/agent/basic_agent_usage/docker.md
  content/integrations/faq/how-do-i-pull-my-ec2-tags-without-using-the-aws-integration.md
Labels: agent

#3408 Adding amazon cloudhsm integration
  Makefile
  content/integrations/amazon_cloudhsm.md
  src/images/integrations_logos/amazon_cloudhsm.png
Labels: Integration

#3443 Fixing ident
  content/logs/log_collection/docker.md
Labels: Bug

#3444 Updating hostport disclaimer
  content/agent/kubernetes/daemonset_setup.md
  content/agent/kubernetes/dogstatsd.md
  content/tracing/setup/kubernetes.md
Labels: agent

#3446 Remove article that is no longer relevant
  content/integrations/faq/_index.md
  content/integrations/faq/revoking-aws-keys-and-enabling-role-delegation-for-the-datadog-aws-integration.md
  src/images/integrations/faq/A1.png
  src/images/integrations/faq/A10.png
  src/images/integrations/faq/A11.png
  src/images/integrations/faq/A2.png
  src/images/integrations/faq/A3.gif
  src/images/integrations/faq/A4.png
  src/images/integrations/faq/A5.png
  src/images/integrations/faq/A6.png
  src/images/integrations/faq/A7.png
  src/images/integrations/faq/A8.png
  src/images/integrations/faq/A9.png
Labels: KB/FAQ

#3432 separating out azure metrics
  .gitignore
  Makefile
  content/integrations/azure_dbformysql.md
  content/integrations/azure_dbforpostgresql.md
  src/images/integrations/azure/dbformysql.png
  src/images/integrations/azure/dbforpostgresql.png
Labels: Integration

#3457 Correct DD_TAGS usage in heroku doc
  content/agent/basic_agent_usage/heroku.md
Labels: Bug, agent

#3462 Ruth/autodiscovery docker swarm
  content/agent/autodiscovery.md
Labels: agent

#3465 add a dropdown instead of tabs at mobile size so they don't stack and…
  layouts/shortcodes/tabs.html
  src/js/datadog-docs.js
Labels: Architecture

#3469 [monitors] fix stray default value text and spacing
  content/api/monitors/monitors_edit.md
Labels: API, Bug

#3438 Adding dashboard popularity and list
  content/graphing/dashboards/_index.md
  content/graphing/dashboards/template_variables.md
  content/graphing/dashboards/timeboard.md
  src/images/graphing/dashboards/dash_to_list.png
  src/images/graphing/dashboards/dashboard_list.png
  src/images/graphing/dashboards/new_list_title.png
Labels: App

#3476 Add faq Embeddable Graphs with Template Variables
  content/api/embeds/embeds_create.md
  content/graphing/faq/_index.md
  content/graphing/faq/embeddable-graphs-with-template-variables.md
  src/images/graphing/faq/embeddable_graph01.png
  src/images/graphing/faq/embeddable_graph02.png
Labels: App, KB/FAQ

#3456 Update cloudfoundry log collection documentation
  content/integrations/cloud_foundry.md
Labels: Logs

#3482 Add Adobe Experience Manager Logs Integration
  .gitignore
  Makefile
  content/integrations/adobe_experience_manager.md
  content/logs/faq/integration-pipeline-reference.md
  src/images/integrations_logos/adobe_experience_manager.png
Labels: Integration

#3442 Document all the log available API for EU and US
  content/logs/_index.md
Labels: Logs

#3488 Wording update
  content/logs/_index.md
Labels: Bug

#3497 Update broken link
  content/logs/_index.md
Labels: Bug

#3496 Fix a type in Arduino
  data/libraries.yaml
Labels: Bug

#3426 Creating FAQs for upgrade/downgrade the DD Agent
  config.yaml
  content/agent/_index.md
  content/agent/basic_agent_usage/amazonlinux.md
  content/agent/basic_agent_usage/centos.md
  content/agent/basic_agent_usage/deb.md
  content/agent/basic_agent_usage/fedora.md
  content/agent/basic_agent_usage/osx.md
  content/agent/basic_agent_usage/redhat.md
  content/agent/basic_agent_usage/suse.md
  content/agent/basic_agent_usage/ubuntu.md
  content/agent/basic_agent_usage/windows.md
  content/agent/faq/_index.md
  content/agent/faq/downgrade-datadog-agent.md
  content/agent/faq/how-do-i-uninstall-the-agent.md
  content/agent/faq/upgrade-to-agent-v6.md
Labels: KB/FAQ, agent

#3499 Update log collection troubleshooting guide
  content/logs/faq/log-collection-troubleshooting-guide.md
Labels: KB/FAQ

#3470 Ianb/ad supported tpl var
  content/agent/autodiscovery.md
  content/agent/faq/agent-5-autodiscovery.md
Labels: agent

#3483 Update system.processes.open_file_descriptors faq
  content/agent/faq/why-don-t-i-see-the-system-processes-open-file-descriptors-metric.md
Labels: KB/FAQ

#3500 Updates Supported Mac Versions for Agent 6
  content/agent/_index.md
Labels: agent

#3502 Clarify service and operation names in configuring Trace Search
  content/tracing/setup/_index.md
Labels: Tracing

#3504 Fixing yarn lock
  yarn.lock
Labels: Architecture

#3508 Remove distributions metric
  content/developers/metrics/_index.md
Labels: App

#3511 Updating Dashboard list screenshot
  src/images/graphing/dashboards/dashboard_list.png
Labels: App

#3514 log explorer / metrics explorer fix
  content/agent/basic_agent_usage/heroku.md
Labels: Bug

#3515 Developer metrics
  content/developers/metrics/_index.md
Labels: agent

#3517 Changed the daemonset to apply to applications sending traces
  content/tracing/setup/kubernetes.md
Labels: Tracing

#3491 Update docs to use the preferred setting for agent port
  content/tracing/setup/java.md
Labels: Tracing, agent

#3512 Enable APM by default on Elastic Beanstalk example
  ja/content/integrations/awsbeanstalk.md
Labels: Do Not Merge

#3521 Changing wording to match behaviour
  content/graphing/metrics/distributions.md
Labels: Bug

#3520 Removed unsupported time frame
  content/monitors/monitor_uptime_widget.md
Labels: App

#3528 Add note about historical / future metrics
  content/developers/metrics/_index.md
Labels: App

#3533 Make service wrapper unavailable note consistent across pages
  content/agent/basic_agent_usage/amazonlinux.md
  content/agent/basic_agent_usage/deb.md
  content/agent/basic_agent_usage/fedora.md
  content/agent/basic_agent_usage/redhat.md
  content/agent/basic_agent_usage/suse.md
  content/agent/basic_agent_usage/ubuntu.md
Labels: agent

#3534 Update Service Map setup instructions
  content/tracing/visualization/services_map.md
Labels: Tracing

#3538 [apm/python] Add new library versions
  content/tracing/setup/python.md
Labels: Tracing

#3537 Fix localhost links
  content/account_management/org_settings.md
  content/tracing/setup/java.md
Labels: Bug
