Repository DataDog/documentation, pull requests merged in 2018-06, with the labels that each got.

#2566 [Graphing] New Template Variables and Shared Graph documentation
  config.yaml
  content/graphing/dashboards/_index.md
  content/graphing/dashboards/screenboard.md
  content/graphing/dashboards/shared_graph.md
  content/graphing/dashboards/template_variables.md
  content/graphing/dashboards/timeboard.md
  content/graphing/dashboards/widgets.md
  content/graphing/faq/_index.md
  content/graphing/faq/correlate-metrics-and-events-using-dashboard-template-variables.md
  content/graphing/faq/how-can-i-graph-host-uptime-percentage.md
  content/graphing/faq/how-do-i-overlay-events-onto-my-dashboards.md
  content/graphing/faq/is-there-a-way-to-share-graphs.md
  content/graphing/faq/is-there-a-way-to-share-or-revoke-previously-shared-graphs.md
  src/images/graphing/dashboards/shared_graph/embedded_graphs.png
  src/images/graphing/dashboards/shared_graph/share_graph.png
  src/images/graphing/dashboards/template_variables/edit_mode_template_variable.png
  src/images/graphing/dashboards/template_variables/selecting_template_variables.png
  src/images/graphing/dashboards/template_variables/stats_tv.png
  src/images/graphing/dashboards/template_variables/tv5.png
  src/images/graphing/dashboards/template_variables/tv7.png
  src/images/graphing/dashboards/template_variables/tv8.png
  src/images/graphing/dashboards/template_variables/tv9.png
  src/images/graphing/dashboards/template_variables/tv_in_graph.png
  src/images/graphing/faq/tv1.png
  src/images/graphing/faq/tv2.png
  src/images/graphing/faq/tv4.png
Labels: App

#2565 Adding kubelet metrics table
  content/integrations/kubernetes.md
Labels: Bug

#2579 Adding precision on shared screenboard
  content/graphing/dashboards/shared_graph.md
Labels: App

#2537 scraping content from int-core
  .gitignore
  Makefile
  config.yaml
  content/developers/integrations/_index.fr.md
  content/developers/integrations/_index.md
  content/developers/integrations/integration_sdk.md
  content/developers/integrations/testing.md
  local/bin/py/update_pre_build.py
Labels: Architecture

#2586 Updating code example for agent check
  content/developers/agent_checks.md
Labels: App

#2587 [Logs] Updates from PM feedback
  config.yaml
  content/logs/_index.md
  content/logs/dynamic_volume_control.md
  content/logs/explore.md
  content/logs/log_collection/_index.md
  src/images/logs/explore/10_multi_line.png
  src/images/logs/explore/1_multi_line.png
  src/images/logs/explore/3_multi_line.png
  src/images/logs/explore/before_multi_line.png
  src/images/logs/explore/explore_view_with_comments.png
  src/images/logs/explore/facets_demo.png
  src/images/logs/explore/log_in_log_list.png
  src/images/logs/explore/multi_line_display.png
  src/images/logs/explore/multi_line_log.png
Labels: Logs

#2597 David.jones/api show subnav
  layouts/partials/sidenav/sidenav.scss
Labels: Architecture

#2598 Revert "David.jones/api show subnav"
  layouts/partials/sidenav/sidenav.scss
Labels: Architecture

#2601 change the header on the api nav to say docs as it links back to the …
  layouts/partials/sidenav/sidenav-api.html
Labels: Architecture

#2603 fix tracing API using signed instead of unsigned ints
  content/api/tracing/send_trace.fr.md
  content/api/tracing/send_trace.md
  ja/content/tracing/api.md
  ja/src/js/vendor/tipuesearch/tipuesearch_content.js
Labels: Bug

#2600 Adding troubleshooting command for agent v6
  content/developers/agent_checks.md
Labels: Bug

#2609 Adding aws eks logo
  src/images/integrations_logos/amazon_eks.png
Labels: Integration

#2534 [widgets docs] Update time settings to use new format
  content/graphing/dashboards/widgets.md
  ja/code_snippets/sb-event-stream-widget.js
  ja/code_snippets/sb-query-value-widget.js
  ja/code_snippets/sb-timeseries-widget.js
  static/json/datadog.postman_collection_scrubbed.json
  static/sh/agentcountscreenboard.sh
Labels: App

#2607 Log template variable
  content/graphing/dashboards/template_variables.md
  src/images/graphing/dashboards/template_variables/log_template_variables.png
Labels: App, Logs

#2602 Add documentation for the category processor
  content/logs/processing.md
  src/images/logs/processing/category_processor.png
  src/images/logs/processing/category_processor_result.png
Labels: Logs

#2599 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/issue.md
  ISSUE_TEMPLATE.md
Labels: Architecture

#2595 Doc updates for latest java release.
  content/tracing/setup/java.md
Labels: Tracing

#2617 Updating go doc link
  content/tracing/getting_further/trace_sampling_and_storage.md
  content/tracing/setup/go.fr.md
  content/tracing/visualization/_index.fr.md
  content/tracing/visualization/_index.md
  ja/content/tracing/go.md
Labels: Bug

#2619 Updating link that points to the app
  content/getting_started/custom_metrics.md
Labels: Bug

#2618 Moving pr template for better consistency
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Architecture

#2627 gitignore .swp files
  .gitignore
Labels: Architecture

#2625 Fixing first make start issues
  Makefile
Labels: Architecture

#2626 Bluring ids
  src/images/graphing/events/event-email-api.png
Labels: Bug

#2611 consolidate developers/<dogstatsd|metrics> and general clean-up
  config.yaml
  content/developers/dogstatsd.fr.md
  content/developers/dogstatsd.md
  content/developers/dogstatsd/_index.fr.md
  content/developers/dogstatsd/_index.md
  content/developers/dogstatsd/data_types.md
  content/developers/dogstatsd/datagram_shell.fr.md
  content/developers/dogstatsd/datagram_shell.md
  content/developers/metrics.md
  content/developers/metrics/_index.md
  content/developers/metrics/counts.md
  content/developers/metrics/gauges.md
  content/developers/metrics/histograms.md
  content/developers/metrics/rates.md
  content/developers/metrics/sets.md
  ja/content/tracing/faq.md
Labels: App

#2621 Add notes on include/exclude for v5/6
  content/graphing/infrastructure/livecontainers.md
Labels: App

#2628 [cloudfoundry] multi-buildpack
  content/integrations/cloud_foundry.md
Labels: Integration

#2639 Fixing raw links
  content/integrations/cloud_foundry.md
Labels: Bug

#2636 add debug mode documentation for the javascript tracer
  content/tracing/setup/javascript.md
Labels: Tracing

#2640 Office hours
  config.yaml
  content/developers/office_hours.md
Labels: App

#2637 add code comment to make init order clearer
  content/tracing/setup/javascript.md
Labels: Tracing

#2642 Updating list of source attributes
  content/integrations/faq/list-of-api-source-attribute-value.md
Labels: API

#2633 Adding windows event log integration
  Makefile
  content/integrations/windows_event_log.md
  src/images/integrations_logos/windows_event_log.png
Labels: Integration, Logs

#2632 [Logs FAQ] How to remap custom severity values
  content/logs/faq/_index.md
  content/logs/faq/how-to-remap-custom-severity-values-to-the-official-log-status.md
  src/images/logs/faq/category_processor.png
  src/images/logs/faq/category_processor_bunyan.png
  src/images/logs/faq/log_status_remapper.png
  src/images/logs/faq/status_remapper_bunyan.png
Labels: KB/FAQ, Logs

#2578 Adding first pass of s3 archives documentation
  config.yaml
  content/logs/s3.md
  src/images/logs/archives/log_archives_s3_datadog_settings.png
  src/images/logs/archives/log_archives_s3_iam_policy.png
Labels: App, Logs

#2649 dsd6 unix sockets documentation
  config.yaml
  content/agent/basic_agent_usage/docker.md
  content/developers/dogstatsd/_index.md
  content/developers/dogstatsd/unix_socket.md
Labels: App

#2630 Update proxy info on logs
  content/agent/proxy.md
  content/logs/log_collection/_index.md
Labels: Logs

#2655 consistent caps for Screenboard and Timeboard
  content/api/screenboards/code_snippets/result.api-screenboard-get-all.rb
  content/graphing/dashboards/_index.fr.md
  content/graphing/dashboards/_index.md
  content/graphing/dashboards/shared_graph.md
  content/graphing/faq/how-do-i-see-the-number-of-hosts-i-m-monitoring.md
  content/graphing/faq/how-to-transform-a-timeboard-to-a-screenboard-or-vice-versa.md
  content/videos/datadog101-3-dashboards.fr.md
  content/videos/datadog101-3-dashboards.md
  ja/content/guides/eventcorrelation.md
  static/json/datadog.postman_collection_scrubbed.json
Labels: Bug

#2656 [docs] minor grammar / phrasing fix
  content/developers/agent_checks.md
Labels: Bug

#2654 Refactoring azure idp conf for new portal itf
  content/account_management/faq/how-do-i-configure-azure-ad-as-a-saml-idp.md
  content/account_management/saml.md
  src/images/account_management/faq/Active_Directory_-_Microsoft_Azure.png
  src/images/account_management/faq/Active_Directory_-_Microsoft_Azure14.png
  src/images/account_management/faq/Active_Directory_-_Microsoft_Azure2.png
  src/images/account_management/faq/Active_Directory_-_Microsoft_Azure3.png
  src/images/account_management/faq/Active_Directory_-_Microsoft_Azure4.png
  src/images/account_management/faq/Active_Directory_-_Microsoft_Azure6.png
  src/images/account_management/faq/Active_Directory_-_Microsoft_Azure7.png
  src/images/account_management/faq/Active_Directory_-_Microsoft_Azure9.png
  src/images/account_management/faq/OptionalStepRedo.png
  src/images/account_management/faq/Step10Redo2.png
  src/images/account_management/faq/Step5redo.png
  src/images/account_management/faq/non_gallery_application.png
  src/images/account_management/faq/notification_email.png
  src/images/account_management/faq/saml_based_sign_on.png
  src/images/account_management/faq/set_values_azure.png
  src/images/account_management/faq/user_identifier.png
Labels: App

#2658 Added performance section
  content/tracing/setup/java.md
Labels: Tracing

#2657 complete re-write of developer tools landing page
  content/developers/_index.fr.md
  content/developers/_index.md
Labels: App

#2659 Saml refactoring
  config.yaml
  content/account_management/saml/_index.md
  content/account_management/saml/activedirectory.md
  content/account_management/saml/azure.md
  content/account_management/saml/google.md
  content/account_management/saml/nopassword.md
  content/account_management/saml/okta.md
  src/images/account_management/saml/0R81SaK.png
  src/images/account_management/saml/1ef6IBS.png
  src/images/account_management/saml/5NkUanW.png
  src/images/account_management/saml/6TsPUla.png
  src/images/account_management/saml/AhM25jW.png
  src/images/account_management/saml/CeCyDmc.png
  src/images/account_management/saml/IQDM19N.png
  src/images/account_management/saml/JS5FNbR.png
  src/images/account_management/saml/KJxaVYe.png
  src/images/account_management/saml/KWe4h6W.png
  src/images/account_management/saml/LWZCPG6.png
  src/images/account_management/saml/O85HjIi.png
  src/images/account_management/saml/OT9i0K5.png
  src/images/account_management/saml/QkNaDCD.png
  src/images/account_management/saml/Rd13Ofm.png
  src/images/account_management/saml/SAML_Configuration___Datadog10.png
  src/images/account_management/saml/SAML_Configuration___Datadog11.png
  src/images/account_management/saml/SAML_Configuration___Datadog12.png
  src/images/account_management/saml/SAML_Configuration___Datadog13.png
  src/images/account_management/saml/Step10Redo.png
  src/images/account_management/saml/UAjeUVL.png
  src/images/account_management/saml/cogaUQT.png
  src/images/account_management/saml/non_gallery_application.png
  src/images/account_management/saml/notification_email.png
  src/images/account_management/saml/saml_based_sign_on.png
  src/images/account_management/saml/set_values_azure.png
  src/images/account_management/saml/user_identifier.png
  src/images/account_management/saml/xex71aV.png
  src/images/account_management/saml/zAttributeMapping.png
Labels: App

#2664 Small copy updates to APM Java and Javascript docs
  content/tracing/setup/java.md
  content/tracing/setup/javascript.md
Labels: App

#2666 Update journald integration with better example
  content/integrations/journald.md
Labels: Logs

#2661 System integration update
  content/integrations/system.md
Labels: Integration

#2663 Updating list of ruby tracing integrations
  content/tracing/setup/ruby.md
Labels: Tracing

#2662 Adding suse logo to agent page
  data/partials/platforms.fr.yaml
  data/partials/platforms.yaml
  src/images/icons/platform_suse.png
Labels: App

#2670 journald update
  content/integrations/journald.md
Labels: Bug

#2588 Adding v0 of first class dimensions documentation
  config.yaml
  content/monitors/monitor_types/apm.fr.md
  content/monitors/monitor_types/apm.md
  content/tracing/getting_further/resource_monitor.md
  content/tracing/setup/_index.fr.md
  content/tracing/setup/_index.md
  content/tracing/setup/environment.md
  content/tracing/setup/first_class_dimensions.md
  content/tracing/visualization/services_list.md
  content/tracing/visualization/trace_search.fr.md
  content/tracing/visualization/trace_search.md
  src/images/tracing/setup/first_class_dimensions/envs_tracing_screen.png
  src/images/tracing/setup/first_class_dimensions/primary_tags_ui.png
  src/images/tracing/traces/trace_search.png
Labels: Tracing

#2678 Fixing broken links
  content/agent/autodiscovery.md
  content/agent/faq/agent-5-autodiscovery.md
  content/integrations/agent_metrics.fr.md
  content/integrations/disk.fr.md
  content/integrations/faq/how-to-make-trello-card-using-webhooks.md
  content/tracing/setup/ruby.md
  ja/content/guides/autodiscovery.md
  local/etc/links.ignore
Labels: Bug

#2679 Add image to illustrate the Monitor on log volume
  content/integrations/faq/list-of-api-source-attribute-value.md
  content/logs/dynamic_volume_control.md
  src/images/logs/dynamic_volume_control/example_notification.png
Labels: Logs

#2674 Update Fluentd link to latest version
  content/logs/log_collection/fluentd.md
Labels: Logs

#2681 adding threshold_windows to api documentation
  content/api/monitors/monitors_create.md
Labels: API

#2682 [Log Processing] image and remapper description update
  content/logs/processing.md
  src/images/logs/processing/attribute_remapper_processor_tile.png
  src/images/logs/processing/cloning_pipeline.png
  src/images/logs/processing/pipeline_example.png
  src/images/logs/processing/processing_panel.png
Labels: Logs

#2685 Minor grammar edit
  content/logs/processing.md
Labels: Bug

#2687 fixes some formatting and grammar in the Docker log collection docs
  content/logs/log_collection/docker.md
Labels: Bug

#2684 Adding v0 for PHP & .NET tracing doc
  config.yaml
  content/tracing/setup/_index.md
  content/tracing/setup/dotnet.md
  content/tracing/setup/php.md
Labels: Tracing

#2688 [Design] Docs style 2018
  content/_index.md
  content/integrations/faq/list-of-api-source-attribute-value.md
  layouts/partials/sidenav/sidenav.scss
  layouts/partials/support/support.html
  layouts/partials/support/support.scss
  layouts/partials/tile-nav/tile-nav.html
  layouts/partials/tile-nav/tile-nav.scss
  layouts/partials/whats-next/whats-next.html
  layouts/partials/whats-next/whats-next.scss
  src/images/icon-chat.png
  src/images/icon-mail.png
  src/images/icon-team.png
  src/images/icons/list-group-arrow-r2.png
  src/images/icons/list-group-whats-next-arrow-1.png
  src/images/icons/list-group-whats-next-arrow-2.png
  src/scss/_custom.scss
  src/scss/pages/_api.scss
  src/scss/pages/_global.scss
Labels: Architecture

#2686 Enhancing further reading section
  content/logs/dynamic_volume_control.md
  content/logs/parsing.md
  content/logs/processing.md
  content/logs/s3.md
Labels: Logs

#2690 Apm .net php updates
  content/tracing/setup/dotnet.md
  content/tracing/setup/php.md
Labels: Tracing

#2694 Link fix
  content/agent/autodiscovery.md
Labels: Bug

#2692 Update java-tracer docs for 0.10.0 release
  content/tracing/setup/java.md
Labels: Tracing
