Repository DataDog/documentation, pull requests merged in 2018-03, with the labels that each got.

#2096 Changing font for code highlights to enhance table readability
  content/api/checks/checks_post.md
  content/api/comments/comments_create.md
  content/api/comments/comments_edit.md
  content/api/downtimes/downtimes_cancel.md
  content/api/downtimes/downtimes_cancel_scope.md
  content/api/downtimes/downtimes_getall.md
  content/api/downtimes/downtimes_schedule.md
  content/api/downtimes/downtimes_update.md
  content/api/embeds/embeds_create.md
  content/api/embeds/embeds_get.md
  content/api/events/events_post.md
  content/api/events/events_query.md
  content/api/graphs/graphs_snapshot.md
  content/api/hosts/hosts_mute.md
  content/api/integrations/aws.md
  content/api/integrations/integrations.md
  content/api/integrations/pagerduty.md
  content/api/integrations/slack.md
  content/api/integrations/webhooks.md
  content/api/metrics/metrics_editmetadata.md
  content/api/metrics/metrics_list.md
  content/api/metrics/metrics_querytime.md
  content/api/metrics/metrics_timeseries.md
  content/api/monitors/monitors_create.md
  content/api/monitors/monitors_edit.md
  content/api/monitors/monitors_get.md
  content/api/monitors/monitors_mute.md
  content/api/monitors/monitors_resolve.md
  content/api/monitors/monitors_showall.md
  content/api/monitors/monitors_unmute.md
  content/api/org/idp_update.md
  content/api/org/org_create.md
  content/api/org/org_get.md
  content/api/org/org_update.md
  content/api/screenboards/screenboards_create.md
  content/api/screenboards/screenboards_update.md
  content/api/tags/tags_add.md
  content/api/tags/tags_delete.md
  content/api/tags/tags_get.md
  content/api/tags/tags_get_host.md
  content/api/tags/tags_update.md
  content/api/timeboards/timeboards_create.md
  content/api/timeboards/timeboards_update.md
  content/api/tracing/send_service.md
  content/api/tracing/send_trace.md
  content/api/usage/usage_hosts.md
  content/api/usage/usage_timeseries.md
  content/api/usage/usage_top_avg_metrics.md
  content/api/users/users_create.md
  content/api/users/users_delete.md
  content/api/users/users_get.md
  content/api/users/users_update.md
  src/scss/pages/_global.scss
Labels: Architecture

#2093 [agent] adding container debug mode
  content/agent/faq/agent-5-container-more-log.md
  content/agent/troubleshooting.md
Labels: App

#2108 Adding FAQ for AWS ECS agent5
  content/integrations/faq/agent-5-amazon-ecs.md
Labels: KB/FAQ

#2100 Switching host parameter to optional
  content/api/metrics/metrics_timeseries.md
Labels: API

#2103 Notebook phrasing update
  content/graphing/notebooks/_index.md
Labels: Bug

#2104 Adding agent hostname graph + link fix
  content/agent/agent_checks.md
  content/agent/basic_agent_usage/kubernetes.md
  content/agent/faq/how-datadog-agent-determines-the-hostname.md
  content/agent/faq/network-time-protocol-ntp-offset-issues.md
  content/agent/prometheus.md
  content/agent/troubleshooting.md
  content/graphing/infrastructure/_index.md
  src/images/agent/faq/agent_hostname.jpeg
Labels: App

#2106 Adding disclaimer for snapshot generation delay
  content/api/graphs/graphs_snapshot.md
Labels: API

#2109 Adding aliases to fix 404
  content/_index.md
  content/agent/_index.md
  content/agent/basic_agent_usage/deb.md
  content/agent/faq/dogstream.md
  content/agent/faq/how-datadog-agent-determines-the-hostname.md
  content/graphing/infrastructure/hostmap.md
  content/monitors/_index.md
Labels: Bug

#2111 Fix link to DD app
  content/agent/basic_agent_usage/suse.md
Labels: Bug

#2112 until we can cleanup the data, we need to check for multiple params t…
  layouts/partials/sidebar.html
  layouts/sitemap.xml
Labels: Architecture

#2070 [Log] AWS log collection update
  config.yaml
  content/logs/_index.md
  content/logs/aws.md
  content/logs/explore.md
  content/logs/languages/csharp.md
  content/logs/languages/go.md
  content/logs/languages/java.md
  content/logs/languages/nodejs.md
  content/logs/languages/python.md
  content/logs/languages/ruby.md
  content/logs/parsing.md
  content/logs/processing.md
  src/images/integrations/amazon_api_gateway/aws_api_gateway_log_collection_1.png
  src/images/integrations/amazon_cloudfront/cloudfront_logging_1.png
  src/images/integrations/amazon_cloudfront/cloudfront_logging_2.png
  src/images/integrations/amazon_cloudtrail/cloudtrail_logging.png
  src/images/integrations/amazon_cloudwatch/cloudwatch_log_collection_1.png
  src/images/integrations/amazon_cloudwatch/cloudwatch_log_collection_2.png
  src/images/integrations/amazon_elb/aws_elb_configure_log.png
  src/images/integrations/amazon_elb/aws_elb_log_enable.png
  src/images/integrations/amazon_elb/aws_elb_s3_conf.png
  src/images/integrations/amazon_elb/aws_elb_trigger_configuration.png
  src/images/integrations/amazon_route53/amazon_route_53_log_enable.png
  src/images/integrations/amazon_s3/s3_lambda_trigger_configuration.png
  src/images/integrations/amazon_s3/s3_trigger_configuration.png
  src/images/integrations/amazon_s3/selecting_s3_bucket.png
  src/images/integrations/amazon_s3/server_access_logging.png
  src/images/integrations/amazon_sns/aws_sns_log_collection_1.png
  src/images/integrations/amazon_sns/aws_sns_log_collection_2.png
  src/images/logs/explore/create_facet.png
  src/images/logs/explore/explore_view_with_comments.png
  src/images/logs/explore/facet_panel.png
  src/images/logs/explore/facets_demo.png
  src/images/logs/explore/log_in_log_list.png
  src/images/logs/explore/log_list_with_columns.png
  src/images/logs/explore/saved_search.png
  src/images/logs/explore/search_bar_autocomplete.png
  src/images/logs/explore/timeline.png
  src/images/logs/explore/timerange.png
  src/images/logs/processing/attribute_post_remapping.png
  src/images/logs/processing/attribute_pre_remapping.png
  src/images/logs/processing/log_post_severity.png
  src/images/logs/processing/log_post_severity_bis.png
  src/images/logs/processing/log_pre_severity.png
  src/images/logs/processing/original_log.png
Labels: App, Integration

#2110 Adding windows and mac migration command
  content/agent/_index.md
Labels: App

#2116 Miggrating kb from zendesk
  content/graphing/faq/_index.md
  content/graphing/faq/is-it-possible-to-query-historical-data-after-a-host-has-been-destroyed.md
  src/images/graphing/faq/query_post_deletion.png
Labels: KB/FAQ

#2115 Adding new apt key
  content/agent/basic_agent_usage/amazonlinux.md
  content/agent/basic_agent_usage/centos.md
  content/agent/basic_agent_usage/deb.md
  content/agent/basic_agent_usage/ubuntu.md
  ja/content/install_debian_5.md
Labels: App

#2114 adding disclaimer for pip installed lib
  content/agent/agent_checks.md
Labels: App

#2102 Adding agent uninstall KB
  content/agent/basic_agent_usage/amazonlinux.md
  content/agent/basic_agent_usage/fedora.md
  content/agent/basic_agent_usage/osx.md
  content/agent/basic_agent_usage/ubuntu.md
  content/agent/faq/_index.md
  content/agent/faq/how-do-i-uninstall-the-agent.md
Labels: App

#2125 updating broken link
  content/agent/faq/network-time-protocol-ntp-offset-issues.md
Labels: Bug

#2124 Log monitor
  config.yaml
  content/monitors/monitor_types/log.md
  src/images/monitors/monitor_types/log/define_the_search_query.png
  src/images/monitors/monitor_types/log/log_monitor_overview.png
  src/images/monitors/monitor_types/log/set_alert_conditions.png
Labels: App

#2129 Changing Logs into Log Management
  config.yaml
  content/logs/_index.md
Labels: App

#2128 Adding log graph doc
  config.yaml
  content/logs/explore.md
  src/images/logs/explore/graph/log_graph_switch.png
  src/images/logs/explore/graph/split_by_log_graph.png
  src/images/logs/explore/graph/using_log_graph.gif
Labels: App

#2085 adding log file permission KB
  content/logs/faq/_index.md
  content/logs/faq/setting-file-permissions-for-rotating-logs.md
  src/images/logs/faq/setting_file_permission.png
Labels: KB/FAQ

#2135 adding log video
  content/logs/_index.md
  content/logs/faq/_index.md
  content/logs/faq/i-have-a-custom-log-file-with-heightened-read-permissions-how-do-i-send-it-to-datadog.md
  content/logs/faq/i-have-a-custom-log-file-with-heightened-read-permissions.md
Labels: App

#2137 updating log survey docs for post-beta
  content/logs/faq/_index.md
  content/logs/faq/log-management-surveys-and-beta-application.md
  content/logs/faq/testing-the-log-management-beta-suggested-questions-for-feedback.md
Labels: App

#2139 link fix
  content/logs/faq/log-management-surveys.md
Labels: Bug

#2133 Translation groundwork
  config.yaml
  i18n/en.json
  i18n/en.yaml
  i18n/fr.json
  layouts/agent/single.html
  layouts/partials/_contact_info.html
  layouts/partials/argument.html
  layouts/partials/footer/footer.html
  layouts/partials/global-modals/global-modals.html
  layouts/partials/header/header.html
  layouts/partials/integration-labels/integration-labels.html
  layouts/partials/integrations/integrations.html
  layouts/partials/navbar.html
  layouts/partials/platforms/platform-select-desktop.html
  layouts/partials/platforms/platform-select-mobile.html
  layouts/partials/questions/questions.html
  layouts/partials/sidebar.html
  layouts/partials/sidenav/integrations-nav.html
  layouts/partials/sidenav/sidenav.html
  layouts/partials/snippet-code-block.html
  layouts/partials/support/support.html
  layouts/partials/table-of-contents/table-of-contents.html
  layouts/partials/tile-nav/tile-nav.html
  layouts/partials/whats-next/whats-next.html
  layouts/section/search.html
  layouts/shortcodes/classic-libraries-table.html
  layouts/shortcodes/get-metrics-from-git.html
  layouts/shortcodes/get-service-checks-from-git.html
  layouts/shortcodes/tracing-libraries-table.html
  layouts/shortcodes/whatsnext.html
  layouts/videos/single.html
Labels: Architecture

#2140 updating log link to agent installation
  content/logs/_index.md
Labels: Bug

#2141 Adding windows agent 6 flare command
  content/agent/basic_agent_usage/windows.md
  content/agent/troubleshooting.md
  src/images/agent/basic_agent_usage/windows/windows_flare_agent_6.png
Labels: App

#2142 Remove Kubernetes validation from Kube State Metrics section
  content/integrations/kubernetes.md
Labels: Integration

#2126 Adding security and network doc for the agent
  config.yaml
  content/agent/network.md
Labels: App

#2145 Adding dummy link conf.yaml.example
  local/etc/links.ignore
Labels: Bug

#2144 Windows flare command powershell update
  content/agent/basic_agent_usage/windows.md
Labels: Bug

#2143 Adding k8 log collection setup
  content/agent/basic_agent_usage/kubernetes.md
Labels: App

#2153 adding haproxy new logo
  src/images/integrations_logos/haproxy.png
Labels: Integration

#2154 Adding api response for aws integration api
  content/api/integrations/code_snippets/result.api-integrations-aws.sh
Labels: API

#2158 Adding missing aliases
  content/tracing/getting_further/trace_sampling_and_storage.md
  content/tracing/setup/_index.md
  content/tracing/setup/environment.md
  content/tracing/visualization/_index.md
Labels: Bug

#2162 Adding source parameter in the URL
  content/api/tags/code_snippets/api-tags-add.sh
Labels: API

#2163 removing stale FAQ
  content/account_management/faq/_index.md
  content/account_management/faq/can-i-whitelist-the-ip-addresses-for-data-coming-from-datadog-via-webhook-and-integrations.md
  content/account_management/faq/what-are-the-required-ip-s-and-ports-i-need-open-to-connect-to-the-datadog-service.md
  content/agent/network.md
Labels: App

#2161 Removing process metrics
  content/integrations/system.md
Labels: Integration

#2170 Update go setup example
  content/logs/languages/go.md
Labels: App

#2172 Agent v5 example
  content/agent/agent_checks.md
  content/agent/faq/agent-5-custom-agent-check.md
Labels: App

#2171 Add log faq tailing logs
  content/logs/faq/_index.md
  content/logs/faq/how-to-increase-the-number-of-log-files-tailed-by-the-agent.md
Labels: App

#2179 Phrasing Update
  content/logs/faq/how-to-send-logs-to-datadog-via-external-log-shippers.md
Labels: App

#2180 Add docker to language pages
  content/tracing/setup/go.md
  content/tracing/setup/java.md
  content/tracing/setup/python.md
  content/tracing/setup/ruby.md
Labels: App

#2182 Adding log measure
  content/logs/explore.md
  src/images/logs/explore/create_a_mesure.png
  src/images/logs/explore/edit_a_measure.png
  src/images/logs/explore/graph/agg_function_log_graph.png
  src/images/logs/explore/graph/choose_measure_facet.png
  src/images/logs/explore/graph/split_by_log_graph.png
Labels: App

#2184 Enhancing payload for POST method
  content/api/integrations/code_snippets/api-integrations-aws.sh
Labels: API

#2166 Add config for `trace.span.tags`
  content/tracing/setup/java.md
Labels: App

#2188 Update docker log instructions with the simple configuration example
  content/logs/docker.md
Labels: App

#2185 Update log-collection-troubleshooting-guide.md
  content/logs/faq/log-collection-troubleshooting-guide.md
Labels: App

#2200 Tracing doc update
  config.yaml
  content/integrations/faq/list-of-api-source-attribute-value.md
  content/tracing/setup/_index.md
  content/tracing/setup/environment.md
  content/tracing/setup/java.md
Labels: App

#2196 Updated date_happened field to include the time limit on past events
  content/api/events/events_post.md
Labels: API

#2197 Adding link to conf option in k8
  content/agent/basic_agent_usage/kubernetes.md
Labels: App

#2202 Updating apm param desc
  content/api/usage/usage_hosts.md
Labels: Bug

#2189 API doc for multi-org usage endpoint
  content/api/usage/code_snippets/api-billing-usage-summary.py
  content/api/usage/code_snippets/api-billing-usage-summary.rb
  content/api/usage/code_snippets/api-billing-usage-summary.sh
  content/api/usage/code_snippets/result.api-billing-usage-summary.py
  content/api/usage/code_snippets/result.api-billing-usage-summary.rb
  content/api/usage/code_snippets/result.api-billing-usage-summary.sh
  content/api/usage/usage_multi_org.md
  content/api/usage/usage_multi_org_code.md
Labels: API

#2203 Updating screenshot with new itf
  src/images/graphing/faq/up_time.png
Labels: Bug

#2204 Adding example for agent 6 proxy
  content/agent/proxy.md
Labels: App

#2199 Changing handle param to id
  content/api/users/code_snippets/api-user-create.py
  content/api/users/code_snippets/api-user-create.rb
  content/api/users/code_snippets/api-user-create.sh
  content/api/users/users_create.md
  content/api/users/users_delete.md
  content/api/users/users_get.md
  content/api/users/users_update.md
Labels: API

#2127 Log collection with PHP
  config.yaml
  content/logs/languages/_index.md
  content/logs/languages/php.md
Labels: App

#2228 Removing stale content
  content/graphing/_index.md
  content/graphing/faq/_index.md
  content/graphing/faq/is-it-possible-to-adjust-the-y-axis-for-my-graphs.md
  content/graphing/faq/is-there-a-way-for-me-to-set-the-maximum-and-minimum-values-on-the-y-axis-of-a-graph.md
Labels: App

#2229 Fixing link issue with translation
  content/graphing/faq/_index.fr.md
Labels: Bug

#2234 link update
  content/agent/faq/agent-5-autodiscovery.md
  content/agent/faq/agent-5-kubernetes-basic-agent-usage.md
  content/agent/faq/agent-5-process-collection.md
  content/integrations/faq/hadoop-distributed-file-system-hdfs-integration-error.md
  content/integrations/faq/how-do-i-pull-my-ec2-tags-without-using-the-aws-integration.md
  content/integrations/faq/how-to-monitor-events-from-the-windows-event-logs.md
  content/integrations/faq/issues-getting-integrations-working.md
  content/integrations/faq/why-isn-t-elasticsearch-sending-all-my-metrics.md
  content/integrations/faq/windows-status-based-check.md
  content/logs/_index.md
Labels: Bug

#2244 minor phrasing update
  content/api/integrations/integrations.md
Labels: API

#2067 adding fargate logo
  src/images/integrations_logos/ecs_fargate.png
Labels: Integration

#2243 Adding disclaimer for the Kubernetes support updating rbac
  content/agent/basic_agent_usage/kubernetes.md
  content/integrations/faq/using-rbac-permission-with-your-kubernetes-integration.md
Labels: Integration

#2253 Migrating cloud_foundry documentation to the doc
  .gitignore
  content/integrations/faq/list-of-api-source-attribute-value.md
  ja/content/guides/metrics.md
Labels: Integration

#2256 fixing cleaning script
  Makefile
  content/integrations/cloud_foundry.md
Labels: Bug

#2257 fixing stale link
  content/developers/dogstatsd.md
  content/integrations/cloud_foundry.md
Labels: Bug
