Repository DataDog/documentation, pull requests merged in 2018-08, with the labels that each got.

#2875 fixing typo
  content/integrations/faq/using-rbac-permission-with-your-kubernetes-integration.md
Labels: Bug

#2874 Add Haskell community library
  data/libraries.yaml
Labels: API

#2877 Fixing parameter for agent 5 conf
  content/agent/proxy.md
Labels: Bug

#2882 Changing note logic
  data/libraries.yaml
  layouts/shortcodes/classic-libraries-table.html
Labels: Architecture

#2884 Update with the latest modifications
  content/integrations/cloud_foundry.md
Labels: Integration, Logs

#2883 Update Docker doc with a multiline processing example
  content/logs/log_collection/docker.md
Labels: Logs

#2872 [agent][windows] adding note for install command-line options
  content/agent/basic_agent_usage/windows.md
Labels: App

#2889 To improve chapter title
  content/logs/log_collection/docker.md
Labels: App

#2892 add node.js to K8S doc
  content/tracing/setup/kubernetes.md
Labels: Tracing

#2893 Fixed environment variable name to start the agent
  content/integrations/cloud_foundry.md
Labels: Bug, Integration

#2900 remove upercase from the uwsgi source value
  content/integrations/uwsgi.md
Labels: Integration, Logs

#2898 Updating french nav
  config.yaml
Labels: Logs, Translation

#2891 typo fix double "this"
  content/monitors/faq/as-count-monitor-evaluation.md
Labels: Bug

#2895 [Agent 6.4] Udpate the article for Agent log only collection
  content/logs/faq/can-the-datadog-agent-be-used-to-send-only-logs.md
Labels: KB/FAQ, Logs

#2902 [Doc] Infrastructure search deprecated
  content/api/hosts/code_snippets/api-host-mute.py
Labels: API

#2903 Fixing installation process for doc
  README.md
Labels: Architecture

#2904 Add information for why DB services aren't visible in trace search list
  content/integrations/faq/list-of-api-source-attribute-value.md
  content/tracing/search.md
Labels: Tracing

#2878 Removing beta flag
  content/graphing/miscellaneous/functions.md
Labels: Bug, Do Not Merge

#2680 document new hostname AD tag
  content/agent/autodiscovery.md
Labels: Integration

#2907 Fixing layout for page
  content/integrations/faq/list-of-api-source-attribute-value.md
  content/logs/faq/can-the-datadog-agent-be-used-to-send-only-logs.md
Labels: Bug, Logs

#2911 Add explanation about composite monitor multi-alert monitors split by more than 1 tag
  content/monitors/monitor_types/composite.md
  src/images/monitors/monitor_types/composite/multi-alert-1.png
  src/images/monitors/monitor_types/composite/multi-alert-2.png
Labels: App

#2917 Prod: fix curl payload for not interpreted variables
  content/api/monitors/code_snippets/api-monitor-bulk-resolve.sh
Labels: API

#2920 Removing outdated french translation
  content/logs/_index.fr.md
  content/logs/analytics.fr.md
  content/logs/explore.fr.md
  content/logs/live_tail.fr.md
  content/logs/logging_without_limits.fr.md
  content/logs/processing/_index.fr.md
  content/logs/processing/parsing.fr.md
  content/logs/s3.fr.md
Labels: Logs

#2922 Fix signature
  content/api/tracing/send_service_code.md
Labels: Bug, Tracing

#2927 Adding trailing note for slack channel
  content/monitors/notifications.md
Labels: App

#2926 Fixing front matter for file
  content/videos/datadog101-4-functions.md
Labels: Architecture, Bug

#2928 Fixing description parameter
  content/api/timeboards/timeboards_update.md
Labels: API, Bug

#2929 Fixing broken links
  ja/content/guides/integration_sdk.md
Labels: Bug

#2931 Fixing param for apm proxy endpoint
  content/agent/proxy.md
Labels: Bug

#2930 Add info about automatic rollup settings
  content/graphing/miscellaneous/functions.md
Labels: App

#2934 fixing public id api
  content/api/org/code_snippets/api-org-get.sh
  content/api/org/org_get_code.md
Labels: API

#2936 fix mailto link
  content/account_management/multi_organization.md
Labels: Bug

#2919 documenting support for log communication via socks5 proxy
  content/logs/log_collection/_index.md
Labels: Logs

#2939 Fixing params ruby API
  content/api/checks/code_snippets/api-checks-post.rb
  content/api/comments/code_snippets/api-comment-edit.rb
  content/api/downtimes/code_snippets/api-monitor-schedule-downtime.rb
  content/api/downtimes/code_snippets/api-monitor-update-downtime.rb
  content/api/embeds/code_snippets/api-embeds-create.rb
  content/api/events/code_snippets/api-events-post.rb
  content/api/events/code_snippets/api-events-stream.rb
  content/api/hosts/code_snippets/api-host-mute.rb
  content/api/metrics/code_snippets/api-metrics-post.rb
  content/api/monitors/code_snippets/api-monitor-create.rb
  content/api/monitors/code_snippets/api-monitor-edit.rb
  content/api/monitors/code_snippets/api-monitor-show.rb
  content/api/users/code_snippets/api-user-create.rb
  content/api/users/code_snippets/api-user-update.rb
Labels: API, Bug

#2940 Fixing link
  content/graphing/metrics/distributions.md
Labels: Bug

#2941 [apm] update .NET docs to Alpha
  config.yaml
  content/tracing/setup/dotnet.md
Labels: Tracing

#2943 [apm] update .NET docs with better estimations
  config.yaml
  content/tracing/setup/dotnet.md
Labels: Tracing

#2948 Update download link for dd-java-agent
  content/tracing/setup/java.md
Labels: Tracing

#2949 Fixing aliasing
  content/graphing/miscellaneous/from_the_query_to_the_graph.md
Labels: Bug

#2865 Update proxy documentation for agent 6.4+
  content/agent/proxy.md
Labels: App

#2952 updating deprecated method name
  content/integrations/faq/why-isn-t-elasticsearch-sending-all-my-metrics.md
Labels: Integration, KB/FAQ

#2963 add clarity to the agent commands and install process
  content/agent/basic_agent_usage/amazonlinux.md
Labels: App, Bug

#2983 de-duplicate embedded pip install instructions
  content/agent/basic_agent_usage/amazonlinux.md
  content/agent/basic_agent_usage/centos.md
  content/agent/basic_agent_usage/deb.md
  content/agent/basic_agent_usage/fedora.md
  content/agent/basic_agent_usage/osx.md
  content/agent/basic_agent_usage/redhat.md
  content/agent/basic_agent_usage/suse.md
  content/agent/basic_agent_usage/ubuntu.md
  content/agent/custom_python_package.md
Labels: App

#2996 Fixing broken links
  content/account_management/faq/_index.md
  content/account_management/multi_organization.md
Labels: Bug

#2997 Fixing param name
  content/api/rate_limiting/rate_limiting.md
Labels: API, Bug

#2999 clarify pip invocation under macOS
  content/agent/custom_python_package.fr.md
  content/agent/custom_python_package.md
Labels: App

#3003 Create how-do-i-delete-a-host-or-metric-from-the-ui
  content/graphing/faq/how-do-i-delete-a-host-or-metric-from-the-ui.md
Labels: App, KB/FAQ

#3005 Add Clojure community library
  data/libraries.yaml
Labels: API, Integration

#3004 Fixing broken link
  content/developers/faq/what-do-notifications-do-in-datadog.md
Labels: Bug

#3007 Fixing integrations core pattern
  content/integrations/faq/list-of-api-source-attribute-value.md
  local/bin/py/update_pre_build.py
Labels: Architecture, Bug

#3009 Removing wrong configuration snippet
  content/logs/log_collection/_index.md
Labels: Bug, Logs

#3013 Adding overview image
  content/tracing/servicemap.md
  src/images/tracing/servicemap/service_map_overview.png
Labels: App, Tracing

#3000 change all yes/no to true/false in agent config files
  content/agent/kubernetes/daemonset_setup.md
  content/agent/proxy.md
  content/developers/dogstatsd/_index.fr.md
  content/developers/dogstatsd/_index.md
  content/integrations/cloud_foundry.md
  content/security/agent.md
  content/tracing/faq/agent-5-tracing-setup.md
  content/tracing/setup/kubernetes.md
  ja/content/integrations/cloud_foundry.md
  ja/content/tracing/index.md
Labels: App

#3019 moving videos
  content/account_management/multi_organization.md
  content/account_management/saml/_index.md
  content/account_management/team.md
  content/agent/autodiscovery.md
  content/tracing/setup/_index.md
Labels: Architecture

#3018 Add shortcode for wistia
  content/account_management/multi_organization.md
  content/account_management/saml/_index.md
  content/account_management/team.md
  content/agent/autodiscovery.md
  content/tracing/setup/_index.md
  layouts/shortcodes/wistia.html
Labels: Architecture

#3020 Making default desc more universal
  config.yaml
Labels: Architecture

#3021 Enforcing consistency of Timeseries
  content/api/metrics/metrics.md
  content/api/metrics/metrics_querytime.md
  content/api/metrics/metrics_querytime_code.md
  content/api/metrics/metrics_timeseries.md
  content/api/metrics/metrics_timeseries_code.md
  content/developers/metrics/histograms.md
  content/graphing/dashboards/widgets.md
  content/graphing/faq/how-can-i-graph-host-uptime-percentage.md
  content/graphing/faq/i-m-switching-between-the-sum-min-max-avg-aggregators-but-the-values-look-the-same.md
  content/graphing/faq/interpolation-the-fill-modifier-explained.md
  content/integrations/faq/additional-aws-metrics-min-max-sum.md
  content/integrations/faq/do-you-believe-you-re-seeing-a-discrepancy-between-your-data-in-cloudwatch-and-datadog.md
  content/monitors/faq/as-count-monitor-evaluation.md
  content/monitors/monitor_types/anomaly.md
  content/monitors/monitor_types/outlier.md
  content/tagging/using_tags.md
  ja/content/faq.md
  ja/content/guides/anomalies.md
  ja/content/guides/metrics.md
  ja/content/guides/outliers.md
  ja/content/guides/tagging.md
  ja/content/integrations/aws.md
Labels: Bug

#3014 update service checks
  content/integrations/kubernetes.md
Labels: App

#3024 Fixing code snippet
  content/api/tracing/code_snippets/send_service.py
Labels: Bug

#3031 Fixing default path
  content/integrations/journald.md
Labels: Bug, Integration

#3033 Removing stale FAQ
  content/graphing/faq/_index.md
  content/graphing/faq/dashboard-loads-very-slowly.md
Labels: KB/FAQ

#3025 Ruby APM new layout
  content/tracing/advanced_usage/custom_tagging.md
  content/tracing/advanced_usage/debugging.md
  content/tracing/advanced_usage/distributed_tracing.md
  content/tracing/advanced_usage/logging.md
  content/tracing/advanced_usage/manual_tracing.md
  content/tracing/advanced_usage/open_tracing.md
  content/tracing/advanced_usage/priority_sampling.md
  content/tracing/setup/ruby.md
Labels: Tracing

#3042 style tab content links the same
  src/scss/pages/_global.scss
Labels: Architecture, Bug

#3043 Change Ruby code snippet for distribution metrics
  content/developers/dogstatsd/data_types.md
Labels: Tracing

#3016 Auto smooth function
  content/graphing/functions/smoothing.md
  src/images/graphing/functions/smoothing/autosmooth_illustration.png
Labels: App

#3044 [apm/go] Add Go docs
  content/tracing/advanced_usage/custom_tagging.md
  content/tracing/advanced_usage/debugging.md
  content/tracing/advanced_usage/distributed_tracing.md
  content/tracing/advanced_usage/logging.md
  content/tracing/advanced_usage/open_tracing.md
  content/tracing/advanced_usage/priority_sampling.md
  content/tracing/setup/go.fr.md
  content/tracing/setup/go.md
Labels: Tracing

#3038 [apm/python] Add Python docs
  content/tracing/advanced_usage/custom_tagging.md
  content/tracing/advanced_usage/debugging.md
  content/tracing/advanced_usage/distributed_tracing.md
  content/tracing/advanced_usage/logging.md
  content/tracing/advanced_usage/manual_tracing.md
  content/tracing/advanced_usage/open_tracing.md
  content/tracing/advanced_usage/priority_sampling.md
  content/tracing/setup/python.md
Labels: Tracing, WORK IN PROGRESS

#3049 Wording update
  content/agent/autodiscovery.md
Labels: Bug

#3050 Don't utilize utilize when we can use use.
  content/agent/autodiscovery.md
  content/developers/faq/use-our-webhook-integration-to-create-a-trello-card.md
  content/graphing/faq/as_count_validation.md
  content/integrations/faq/docker-ecs-kubernetes-events.md
  content/integrations/faq/how-to-make-trello-card-using-webhooks.md
  content/integrations/faq/troubleshooting-and-deep-dive-for-kafka.md
  content/monitors/faq/how-do-i-reduce-alert-flapping-noise.md
  content/monitors/faq/why-am-i-getting-so-many-no-data-alerts-for-my-metric-monitor.md
  content/security/logs.md
  content/tracing/getting_further/resource_monitor.md
  content/tracing/setup/java.md
Labels: Bug

#3051 Removing stale FAQs
  content/integrations/faq/_index.md
  content/integrations/faq/metric-limits-in-jmw-integrations.md
  content/integrations/faq/why-is-my-dyn-qps-metric-delayed.md
Labels: KB/FAQ

#2992 Add monitor tags to downtime API docs
  content/api/downtimes/code_snippets/result.api-monitor-get-downtime.py
  content/api/downtimes/code_snippets/result.api-monitor-get-downtime.sh
  content/api/downtimes/code_snippets/result.api-monitor-get-downtimes.py
  content/api/downtimes/code_snippets/result.api-monitor-get-downtimes.rb
  content/api/downtimes/code_snippets/result.api-monitor-get-downtimes.sh
  content/api/downtimes/code_snippets/result.api-monitor-schedule-downtime.py
  content/api/downtimes/code_snippets/result.api-monitor-schedule-downtime.rb
  content/api/downtimes/code_snippets/result.api-monitor-schedule-downtime.sh
  content/api/downtimes/code_snippets/result.api-monitor-update-downtime.py
  content/api/downtimes/code_snippets/result.api-monitor-update-downtime.rb
  content/api/downtimes/code_snippets/result.api-monitor-update-downtime.sh
  content/api/downtimes/downtimes_schedule.md
  content/api/downtimes/downtimes_update.md
Labels: API, Do Not Merge

#3041 Using code tabs to simplify instructions for log collection
  content/logs/log_collection/_index.md
Labels: Logs

#3053 utilize is a silly word
  CONTRIBUTING.md
Labels: Architecture

#3054 anchor location hash detect fix
  src/js/datadog-docs.js
Labels: Architecture

#3059 Fixing broken link
  content/developers/libraries.fr.md
  content/developers/libraries.md
  ja/content/libraries.md
Labels: Bug

#3061 [apm/python] Update table pypi links
  content/tracing/setup/python.md
Labels: Do Not Merge, Tracing
