Repository DataDog/documentation, pull requests merged in 2019-12, with the labels that each got.

#6090 Fix incorrect environment variable
  content/en/tracing/setup/java.md
Labels: Bug, Tracing

#6082 Adding allow insecure certificate feature
  content/en/synthetics/api_tests/_index.md
Labels: Synthetics

#6087 http.version added to standard attributes
  content/en/logs/processing/attributes_naming_convention.md
Labels: Logs

#6075 Updated IDP.XML Okta link
  content/en/account_management/saml/okta.md
Labels: Bug

#6093 new integration logo
  static/images/integrations_logos/amazon_kafka.png
Labels: Integration

#5893 DogStatsD Data aggregation
  config/_default/menus/menus.en.yaml
  content/en/developers/dogstatsd/data_aggregation.md
  content/en/developers/faq/data-aggregation-with-dogstatsd-threadstats.md
  content/en/developers/faq/is-there-an-alternative-to-dogstatsd-and-the-api-to-submit-metrics-threadstats.md
Labels: Developers

#6072 Run `rubocop -a` on the monitor, downtime, and SLO code examples, and updated some snippets.
  .rubocop.yml
  content/en/api/downtimes/code_snippets/api-monitor-cancel-downtime-by-scope.rb
  content/en/api/downtimes/code_snippets/api-monitor-cancel-downtime.rb
  content/en/api/downtimes/code_snippets/api-monitor-get-downtime.rb
  content/en/api/downtimes/code_snippets/api-monitor-get-downtimes.rb
  content/en/api/downtimes/code_snippets/api-monitor-schedule-downtime.rb
  content/en/api/downtimes/code_snippets/api-monitor-update-downtime.rb
  content/en/api/downtimes/code_snippets/result.api-monitor-cancel-downtime-by-scope.rb
  content/en/api/downtimes/code_snippets/result.api-monitor-get-downtime.rb
  content/en/api/downtimes/code_snippets/result.api-monitor-get-downtimes.rb
  content/en/api/downtimes/code_snippets/result.api-monitor-schedule-downtime.rb
  content/en/api/downtimes/code_snippets/result.api-monitor-update-downtime.rb
  content/en/api/monitors/code_snippets/api-monitor-create.rb
  content/en/api/monitors/code_snippets/api-monitor-delete.rb
  content/en/api/monitors/code_snippets/api-monitor-edit.rb
  content/en/api/monitors/code_snippets/api-monitor-group-search.rb
  content/en/api/monitors/code_snippets/api-monitor-mute-all.rb
  content/en/api/monitors/code_snippets/api-monitor-mute.rb
  content/en/api/monitors/code_snippets/api-monitor-search.rb
  content/en/api/monitors/code_snippets/api-monitor-show-all.rb
  content/en/api/monitors/code_snippets/api-monitor-show.rb
  content/en/api/monitors/code_snippets/api-monitor-unmute-all.rb
  content/en/api/monitors/code_snippets/api-monitor-unmute.rb
  content/en/api/monitors/code_snippets/result.api-monitor-create.rb
  content/en/api/monitors/code_snippets/result.api-monitor-delete.rb
  content/en/api/monitors/code_snippets/result.api-monitor-edit.rb
  content/en/api/monitors/code_snippets/result.api-monitor-group-search.rb
  content/en/api/monitors/code_snippets/result.api-monitor-mute-all.rb
  content/en/api/monitors/code_snippets/result.api-monitor-mute.rb
  content/en/api/monitors/code_snippets/result.api-monitor-search.rb
  content/en/api/monitors/code_snippets/result.api-monitor-show-all.rb
  content/en/api/monitors/code_snippets/result.api-monitor-show.rb
  content/en/api/monitors/code_snippets/result.api-monitor-unmute.rb
  content/en/api/service_level_objectives/code_snippets/api-slo-bulk-delete.rb
  content/en/api/service_level_objectives/code_snippets/api-slo-can-delete.rb
  content/en/api/service_level_objectives/code_snippets/api-slo-create.rb
  content/en/api/service_level_objectives/code_snippets/api-slo-delete-many.rb
  content/en/api/service_level_objectives/code_snippets/api-slo-delete.rb
  content/en/api/service_level_objectives/code_snippets/api-slo-get.rb
  content/en/api/service_level_objectives/code_snippets/api-slo-history.rb
  content/en/api/service_level_objectives/code_snippets/api-slo-search.rb
  content/en/api/service_level_objectives/code_snippets/result.api-slo-bulk-delete.rb
  content/en/api/service_level_objectives/code_snippets/result.api-slo-can-delete.rb
  content/en/api/service_level_objectives/code_snippets/result.api-slo-create.rb
  content/en/api/service_level_objectives/code_snippets/result.api-slo-delete-many.rb
  content/en/api/service_level_objectives/code_snippets/result.api-slo-delete.rb
  content/en/api/service_level_objectives/code_snippets/result.api-slo-edit.rb
  content/en/api/service_level_objectives/code_snippets/result.api-slo-get.rb
  content/en/api/service_level_objectives/code_snippets/result.api-slo-history.rb
  content/en/api/service_level_objectives/code_snippets/result.api-slo-search.rb
Labels: Architecture

#6097 Fixing link
  content/en/account_management/billing/usage_control_apm.md
  content/en/developers/dogstatsd/data_aggregation.md
  content/en/developers/metrics/types.md
Labels: Bug

#5877 Updated Agent documentation for release of the ARM Agent
  content/en/agent/_index.md
  content/en/agent/basic_agent_usage/amazonlinux.md
  content/en/agent/basic_agent_usage/deb.md
  content/en/agent/basic_agent_usage/ubuntu.md
  content/en/agent/docker/_index.md
Labels: Agent

#6098 Amazon EKS on AWS Fargate docs
  .gitignore
  Makefile
  content/en/integrations/amazon_eks_fargate.md
  static/images/integrations_logos/amazon_eks_fargate.png
Labels: Agent, Integration, WORK IN PROGRESS

#6057 Shared Graphs
  content/en/graphing/dashboards/screenboard.md
  content/en/graphing/dashboards/shared_graph.md
  static/images/graphing/dashboards/shared_graph/embedded_graphs.png
Labels: App

#6100 Included configuration file in datadog.example.yaml link
  content/en/tracing/send_traces/_index.md
Labels: Bug, Tracing

#6101 AWS Identity and Access Management (IAM) Access Analyzer
  .gitignore
  Makefile
  content/en/integrations/iam_access_analyzer.md
  static/images/integrations_logos/iam_access_analyzer.png
Labels: Do Not Merge, Integration

#6105 Fix eks-fargate documentation
  content/en/integrations/amazon_eks_fargate.md
Labels: Integration

#6107 Tracing Python: adding environment variables available
  content/en/tracing/setup/python.md
Labels: Tracing

#6086 Removing outdated tests
  local/bin/py/tests/test_index_algolia.py
  local/bin/py/tests/test_placehold_translations.py
Labels: Architecture

#6111 homepage icon and tile updates
  data/partials/home.yaml
  static/images/svg-icons/network.svg
  static/images/svg-icons/rum.svg
Labels: Network Performance Monitoring, RUM

#6102 Metrics Summary
  content/en/graphing/metrics/summary.md
  static/images/graphing/metrics/summary/metrics_metadata.mp4
  static/images/graphing/metrics/summary/summary.mp4
Labels: App

#6115 update agent install instructions to use version 6.14.3 on windows
  content/en/agent/basic_agent_usage/windows.md
  content/en/agent/guide/upgrade-to-agent-v6.md
  content/fr/agent/basic_agent_usage/windows.md
  content/fr/agent/guide/upgrade-to-agent-v6.md
  content/ja/agent/guide/upgrade-to-agent-v6.md
Labels: Agent

#6114 Fixing hotjar id usage
  config/live/params.yaml
  config/preview/params.yaml
  layouts/partials/head_scripts/hotjar.html
Labels: Architecture

#6113 Removing hard coded agent v6 tab
  content/en/agent/autodiscovery/_index.md
  content/en/agent/autodiscovery/management.md
  content/en/agent/autodiscovery/tag.md
  content/en/agent/basic_agent_usage/_index.md
  content/en/agent/docker/_index.md
  content/en/agent/docker/log.md
  content/en/agent/faq/agent-v6-changes.md
  content/en/agent/faq/heroku-troubleshooting.md
  content/en/agent/guide/agent-commands.md
  content/en/agent/guide/autodiscovery-with-jmx.md
  content/en/agent/guide/community-integrations-installation-with-docker-agent.md
  content/en/agent/guide/environment-variables.md
  content/en/agent/guide/network.md
  content/en/agent/guide/python-3.md
  content/en/agent/guide/secrets-management.md
  content/en/agent/guide/upgrade-to-agent-v6.md
  content/en/agent/kubernetes/host_setup.md
  content/en/agent/troubleshooting/debug_mode.md
  content/en/agent/troubleshooting/permissions.md
  content/en/agent/troubleshooting/send_a_flare.md
  content/en/developers/events/agent.md
  content/en/developers/metrics/agent_metrics_submission.md
  content/en/developers/service_checks/agent_service_checks_submission.md
  content/en/getting_started/integrations/_index.md
  content/en/getting_started/integrations/prometheus.md
  content/en/getting_started/logs/_index.md
  content/en/getting_started/tracing/_index.md
  content/en/graphing/guide/uptime-percentage-widget.md
  content/en/graphing/infrastructure/livecontainers.md
  content/en/graphing/infrastructure/process.md
  content/en/integrations/adobe_experience_manager.md
  content/en/integrations/faq/how-do-i-pull-my-ec2-tags-without-using-the-aws-integration.md
  content/en/integrations/faq/jboss-eap-7-datadog-monitoring-via-jmx.md
  content/en/integrations/faq/postgres-custom-metric-collection-explained.md
  content/en/integrations/guide/mongo-custom-query-collection.md
  content/en/integrations/marklogic.md
  content/en/integrations/sidekiq.md
  content/en/integrations/sinatra.md
  content/en/integrations/stunnel.md
  content/en/integrations/system.md
  content/en/logs/faq/how-to-set-up-only-logs.md
  content/en/logs/faq/why-do-my-logs-show-up-with-an-info-status-even-for-warnings-or-errors.md
  content/en/logs/guide/log-collection-troubleshooting-guide.md
  content/en/network_performance_monitoring/installation.md
  content/en/tracing/advanced/setting_primary_tags_to_scope.md
  content/en/tracing/faq/why-cant-i-see-my-correlated-logs-in-the-trace-id-panel.md
  content/en/tracing/guide/alert_anomalies_p99_database.md
  content/en/tracing/send_traces/_index.md
  content/en/tracing/troubleshooting/_index.md
Labels: Architecture

#6109 Updates wording on Kuberentes cluster name detection to reduce confusion
  content/en/agent/autodiscovery/clusterchecks.md
  content/en/agent/kubernetes/daemonset_setup.md
Labels: Agent

#6106 Ruby log collection update
  content/en/logs/log_collection/ruby.md
Labels: Logs

#6104 Adding info about JSON object in the message attribute
  content/en/logs/processing/_index.md
Labels: Logs

#6099 Added epoch variable and template variable arithmetic section
  content/en/monitors/notifications.md
Labels: monitors

#6084 Adding test for format link
  local/bin/py/tests/test_format_link.py
  local/bin/py/tests/test_index_algolia.py
Labels: Architecture

#6126 Formating links as reference
  content/en/account_management/_index.md
  content/en/account_management/multi_organization.md
  content/en/account_management/team.md
  content/en/agent/autodiscovery/_index.md
  content/en/agent/autodiscovery/integrations.md
  content/en/agent/basic_agent_usage/_index.md
  content/en/agent/faq/agent-v6-changes.md
  content/en/agent/guide/agent-5-kubernetes-basic-agent-usage.md
  content/en/agent/kubernetes/dogstatsd.md
  content/en/developers/dogstatsd/_index.md
  content/en/developers/dogstatsd/data_aggregation.md
  content/en/developers/dogstatsd/high_throughput.md
  content/en/developers/faq/hubot-script-request-snapshots-in-chat-using-the-datadog-api.md
  content/en/developers/faq/is-there-an-alternative-to-dogstatsd-and-the-api-to-submit-metrics-threadstats.md
  content/en/developers/metrics/types.md
  content/en/getting_started/integrations/prometheus.md
  content/en/getting_started/logs/_index.md
  content/en/graphing/dashboards/_index.md
  content/en/graphing/functions/_index.md
  content/en/graphing/functions/rank.md
  content/en/graphing/widgets/group.md
  content/en/graphing/widgets/network.md
  content/en/integrations/cloud_foundry.md
  content/en/integrations/faq/can-i-use-a-named-instance-in-the-sql-server-integration.md
  content/en/integrations/faq/how-to-collect-metrics-from-custom-vertica-queries.md
  content/en/integrations/faq/troubleshooting-and-deep-dive-for-kafka.md
  content/en/integrations/syslog_ng.md
  content/en/logs/archives/_index.md
  content/en/logs/archives/rehydrating.md
  content/en/logs/explorer/_index.md
  content/en/logs/faq/how-to-investigate-a-log-parsing-issue.md
  content/en/logs/guide/log-collection-troubleshooting-guide.md
  content/en/logs/indexes/_index.md
  content/en/logs/log_collection/ruby.md
  content/en/logs/processing/_index.md
  content/en/logs/processing/attributes_naming_convention.md
  content/en/monitors/service_level_objectives/_index.md
  content/en/security/logs.md
  content/en/synthetics/_index.md
  content/en/tracing/advanced/adding_metadata_to_spans.md
  content/en/tracing/advanced/runtime_metrics.md
  content/en/tracing/app_analytics/analytics.md
  content/en/tracing/faq/php-tracer-manual-installation.md
  content/en/tracing/send_traces/_index.md
  content/en/tracing/setup/dotnet.md
  content/en/tracing/setup/go.md
  content/en/tracing/setup/php.md
  content/en/tracing/troubleshooting/_index.md
  content/en/tracing/visualization/_index.md
Labels: Architecture

#6124 Roles API page, add section for uuids
  content/en/account_management/rbac/role_api.md
Labels: API

#6120 Fix logs link
  config/_default/menus/menus.en.yaml
  content/en/logs/_index.md
Labels: Logs

#6130 Adds disclaimer for Manual keep traces
  content/en/tracing/app_analytics/_index.md
  content/en/tracing/guide/trace_sampling_and_storage.md
Labels: Tracing

#6122 Adding extra right for new feature of the agent
  content/en/integrations/amazon_eks_fargate.md
  content/en/integrations/faq/using-rbac-permission-with-your-kubernetes-integration.md
Labels: Agent

#6127 [agent] Add details on uninstall methods
  content/en/agent/faq/how-do-i-uninstall-the-agent.md
Labels: Agent

#6123 Docker Compose and the Agent
  content/en/agent/docker/_index.md
  content/en/integrations/faq/compose-and-the-datadog-agent.md
Labels: Agent, Guide/FAQ

#5652 Add new doc for troubleshooting Docker logs issues
  content/en/logs/guide/docker-logs-collection-troubleshooting-guide.md
Labels: Logs

#6133 [DOC] Keyvalue parser + JSON empty values + typo log size limit
  content/en/logs/processing/parsing.md
Labels: Logs

#6140 Added nuget package details for ASP.NET integrations
  content/en/tracing/setup/dotnet.md
Labels: Bug, Tracing

#6136 Added note for trace_id and span_id requirements
  content/en/api/tracing/send_trace.md
Labels: API, Bug

#6145 update windows agent instructions to specify datadog-agent-6-latest
  content/en/agent/basic_agent_usage/windows.md
  content/en/agent/guide/upgrade-to-agent-v6.md
  content/fr/agent/basic_agent_usage/windows.md
  content/fr/agent/guide/upgrade-to-agent-v6.md
  content/ja/agent/guide/upgrade-to-agent-v6.md
Labels: Agent

#5708 Add docs for "show_legend" property of certain graph types
  content/en/graphing/widgets/distribution.md
  content/en/graphing/widgets/heat_map.md
  content/en/graphing/widgets/timeseries.md
Labels: App

#6144 Avoid deleting carbon black integration on clean
  .gitignore
  Makefile
Labels: Architecture

#6141 fixing volumes
  content/en/integrations/faq/compose-and-the-datadog-agent.md
Labels: Agent

#6143 [EKS Fargate] Update to be more consistent with AWS doc
  content/en/integrations/amazon_eks_fargate.md
Labels: Integration

#6146 adding monitor section to APM glossary page
  content/en/tracing/visualization/_index.md
Labels: Tracing

#6148 Adds a note about UI navigation
  content/en/getting_started/application/_index.md
Labels: App

#6151 fix redirect
  content/ja/agent/guide/agent-5-autodiscovery.md
Labels: Bug

#6152 Update correlations doc
  content/en/graphing/correlations/_index.md
Labels: App

#6157 Fixing link
  content/en/tracing/app_analytics/analytics.md
Labels: Tracing

#6165 Adding details on whitelisting special purpose ips
  content/en/synthetics/private_locations.md
Labels: Synthetics

#6168 replace google hangout with zoom for office hours
  content/en/developers/office_hours.md
  content/fr/developers/office_hours.md
Labels: Architecture

#6173 Update ruby doc ActiveSupport::Logger
  content/en/logs/log_collection/ruby.md
Labels: Logs

#6158 nodejs tracer settings
  content/en/tracing/setup/nodejs.md
Labels: Tracing

#6178 Add links to new Docker troubleshooting guide
  content/en/logs/guide/_index.md
  content/en/logs/guide/docker-logs-collection-troubleshooting-guide.md
  content/en/logs/guide/log-collection-troubleshooting-guide.md
Labels: Architecture

#6179 Add dns attribute to the naming convention
  content/en/logs/processing/attributes_naming_convention.md
Labels: Logs

#6077 Add example for the monitor validation endpoint using the Python client.
  content/en/api/downtimes/code_snippets/result.api-monitor-get-downtimes.py
  content/en/api/monitors/code_snippets/api-monitor-validate.py
  content/en/api/monitors/code_snippets/result.api-monitor-validate.py
  content/en/api/monitors/monitors_validate.md
Labels: API

#6182 [dogstatsd] Fix syntax of java example of event submission
  content/en/developers/events/dogstatsd.md
Labels: Bug

#6154 kill api source attribute value page
  content/en/integrations/faq/list-of-api-source-attribute-value.md
Labels: API, App

#6138 Notebooks
  content/en/graphing/notebooks/_index.md
  static/images/graphing/notebooks/demo_notebook.png
  static/images/graphing/notebooks/directlink.png
  static/images/graphing/notebooks/layout_options.png
  static/images/graphing/notebooks/options.png
  static/images/graphing/notebooks/states.png
  static/images/graphing/notebooks/time_selector.png
  static/images/graphing/notebooks/timerange.png
Labels: App

#6185 [NPM] Manifest specifies latest version of Agent
  content/en/network_performance_monitoring/installation.md
Labels: Network Performance Monitoring

#6078 Add examples for the `/v1/downtime/cancel/by_scope` endpoint using the Python and Ruby clients.
  content/en/api/downtimes/code_snippets/api-monitor-cancel-downtime-by-scope.py
  content/en/api/downtimes/code_snippets/api-monitor-cancel-downtime-by-scope.rb
  content/en/api/downtimes/code_snippets/result.api-monitor-cancel-downtime-by-scope.py
  content/en/api/downtimes/code_snippets/result.api-monitor-cancel-downtime-by-scope.rb
  content/en/api/downtimes/code_snippets/result.api-monitor-schedule-downtime.rb
  content/en/logs/guide/log-collection-troubleshooting-guide.md
Labels: API, Agent

#6153 Adding provider parameter
  content/en/integrations/fluentbit.md
Labels: Integration

#6163 Fixing FAQ list
  content/en/tracing/faq/_index.md
Labels: Tracing

#6167 Fix system prop
  content/en/tracing/advanced/adding_metadata_to_spans.md
Labels: Tracing

#6169 Adding azure usage and quotas
  static/images/integrations_logos/azure_usage_and_quotas.png
Labels: Integration

#6174 Wording fix
  content/en/tracing/setup/java.md
Labels: Bug

#6176 fixing empty label
  content/en/getting_started/integrations/prometheus.md
Labels: Integration

#6187 Fixing alias
  content/en/developers/dogstatsd/data_aggregation.md
Labels: Architecture

#6184 Make curl the default tab
  config/_default/params.yaml
  src/scripts/components/codenav.js
Labels: API

#6166 Trace analytics search
  config/_default/menus/menus.en.yaml
  content/en/graphing/widgets/query_value.md
  content/en/graphing/widgets/timeseries.md
  content/en/graphing/widgets/top_list.md
  content/en/logs/processing/attributes_naming_convention.md
  content/en/monitors/monitor_types/apm.md
  content/en/tagging/using_tags.md
  content/en/tracing/app_analytics/agent_trace_search.md
  content/en/tracing/app_analytics/analytics.md
  content/en/tracing/app_analytics/search.md
  content/en/tracing/guide/add_span_md_and_graph_it.md
  content/en/tracing/visualization/_index.md
  static/images/tracing/app_analytics/search/trace_analysed_span.png
Labels: Tracing

#6131 Auto-Grok parsing rules from the new grok parser
  content/en/logs/processing/processors.md
  static/images/logs/processing/processors/parser.png
Labels: Do Not Merge, Logs

#6194 Links for dogstastd metric interval
  content/en/developers/metrics/_index.md
Labels: Bug, Developers

#6193 Added regions for monitor FAQ guide
  content/en/monitors/faq/how-can-i-export-alert-history.md
Labels: Guide/FAQ, monitors

#6191 Apdex frustrated requests
  content/en/tracing/guide/configure_an_apdex_for_your_traces_with_datadog_apm.md
Labels: Bug, Tracing

#6162 Adding trace search instead of trace list
  content/en/tracing/visualization/resource.md
  static/images/tracing/visualization/resource/traces_list.png
Labels: Tracing

#6088 Add compression instruction for the Datadog Agent
  content/en/agent/basic_agent_usage/_index.md
  content/en/agent/logs/_index.md
Labels: Agent, Logs

#6201 Log Rehydration constraints update
  content/en/logs/archives/rehydrating.md
Labels: Logs

#6121 Documented new header to pass API key in logs HTTP API
  content/en/api/logs/code_snippets/send_logs_datadog.sh
  content/en/api/logs/send_logs_datadog.md
Labels: API, Logs

#6064 Manage Monitors
  content/en/monitors/manage_monitor.md
  static/images/monitors/manage_monitor/manage-monitors-hover-clone.png
  static/images/monitors/manage_monitor/manage-monitors-mute.png
  static/images/monitors/manage_monitor/manage_monitor_page.png
  static/images/monitors/manage_monitor/monitor-tags.png
  static/images/monitors/manage_monitor/page.png
Labels: monitors

#6204 Banner to specify variables from tests are in beta
  content/en/synthetics/api_tests/_index.md
  content/en/synthetics/browser_tests.md
  content/en/synthetics/settings/_index.md
Labels: Synthetics

#6205 frontmatter is aliases not alias
  content/en/developers/dogstatsd/data_aggregation.md
Labels: Architecture

#6155 Bumping lib to fix security issue
  package.json
  yarn.lock
Labels: Architecture

#6206 Instructions for changing metric unit
  content/en/developers/metrics/units.md
Labels: Bug, Developers

#6192 Updated .NET tracer installer from host to environment
  content/en/tracing/setup/dotnet.md
Labels: Bug, Tracing

#6208 NPM system-probe start command
  content/en/network_performance_monitoring/installation.md
Labels: Bug, Network Performance Monitoring

#6203 update to use node-13
  .gitlab-ci.yml
  package.json
  yarn.lock
Labels: Architecture

#6216 adjust bullet indent for second or greater lines
  src/styles/pages/_global.scss
Labels: Architecture

#6217 Link fix
  content/en/logs/guide/docker-logs-collection-troubleshooting-guide.md
Labels: Bug

#6220 fix anchor links in whats next sections
  layouts/shortcodes/nextlink.html
Labels: Architecture

#6210 Fixing logo size
  static/images/integrations_logos/iam_access_analyzer.png
Labels: Integration

#6226 Update API Reference - Usage metering section
  content/en/api/usage/usage.md
Labels: API

#6228 make the header logo go to ja site when on ja site
  layouts/partials/header/header.html
Labels: Architecture

#6230 APM > .NET > Update NuGet packages
  content/en/tracing/setup/dotnet.md
Labels: Tracing

#5944 Install Agent 7 in our EBS sample config
  static/config/99datadog.config
Labels: Agent

#6129 Agent version
  config/_default/menus/menus.en.yaml
  content/en/agent/_index.md
  content/en/agent/basic_agent_usage/_index.md
  content/en/agent/basic_agent_usage/amazonlinux.md
  content/en/agent/basic_agent_usage/centos.md
  content/en/agent/basic_agent_usage/deb.md
  content/en/agent/basic_agent_usage/fedora.md
  content/en/agent/basic_agent_usage/osx.md
  content/en/agent/basic_agent_usage/redhat.md
  content/en/agent/basic_agent_usage/source.md
  content/en/agent/basic_agent_usage/suse.md
  content/en/agent/basic_agent_usage/ubuntu.md
  content/en/agent/basic_agent_usage/windows.md
  content/en/agent/faq/_index.md
  content/en/agent/faq/agent-downgrade-major.md
  content/en/agent/faq/agent-downgrade-minor.md
  content/en/agent/faq/agent_v6_changes.md
  content/en/agent/faq/how-datadog-agent-determines-the-hostname.md
  content/en/agent/faq/how-do-i-uninstall-the-agent.md
  content/en/agent/guide/_index.md
  content/en/agent/guide/agent-commands.md
  content/en/agent/guide/agent-configuration-files.md
  content/en/agent/guide/agent-log-files.md
  content/en/agent/guide/agent-v6-python-3.md
  content/en/agent/guide/network.md
  content/en/agent/guide/python-3.md
  content/en/agent/proxy.md
  content/en/agent/troubleshooting/agent_check_status.md
  content/en/agent/troubleshooting/debug_mode.md
  content/en/agent/troubleshooting/permissions.md
  content/en/agent/troubleshooting/send_a_flare.md
  content/en/agent/versions/_index.md
  content/en/agent/versions/upgrade_to_agent_v6.md
  content/en/agent/versions/upgrade_to_agent_v7.md
  content/en/api/integrations_aws/aws.md
  content/en/api/integrations_aws_logs/awslogs.md
  content/en/api/integrations_azure/azure.md
  content/en/api/integrations_gcp/gcp.md
  content/en/developers/write_agent_check.md
  content/en/integrations/faq/how-do-i-pull-my-ec2-tags-without-using-the-aws-integration.md
  content/en/integrations/faq/troubleshooting-and-deep-dive-for-kafka.md
  content/en/integrations/faq/troubleshooting-jmx-integrations.md
  content/en/tagging/assigning_tags.md
  local/etc/algolia/docs_datadoghq.json
  local/etc/algolia/docs_datadoghq_preview.json
Labels: Agent

#6232 Adding missing integration logo
  static/images/integrations_logos/azure_devops.png
  static/images/integrations_logos/azure_functions.png
  static/images/integrations_logos/cilium.png
  static/images/integrations_logos/clickhouse.png
  static/images/integrations_logos/meraki.png
Labels: Integration

#6239 Add NPM to retention page
  content/en/developers/faq/data-collection-resolution-retention.md
Labels: App

#6240 Yael/npm retention
  content/en/developers/faq/data-collection-resolution-retention.md
Labels: Network Performance Monitoring

#5811 Update Hugo version to 0.61.0
  .gitlab-ci.yml
  config/_default/config.yaml
  content/en/video-categories/_index.md
  content/en/videos/_index.md
  content/en/videos/anomaly_detection.md
  content/en/videos/apm_dashboards_trace_metrics.md
  content/en/videos/apm_overview.md
  content/en/videos/apm_traces_flame_graph.md
  content/en/videos/apmsetup-rails.md
  content/en/videos/dashboard_permissions.md
  content/en/videos/datadog-101/_index.md
  content/en/videos/datadog-emails/_index.md
  content/en/videos/datadog101-1-overview.md
  content/en/videos/datadog101-2-collection.md
  content/en/videos/datadog101-3-dashboards.md
  content/en/videos/datadog101-4-functions.md
  content/en/videos/datadog101-5-aggregation.md
  content/en/videos/datadog101-6-notifications.md
  content/en/videos/five_minute_intro.md
  content/en/videos/hostmap.md
  content/en/videos/install-in-eight-mins.md
  content/en/videos/matts-quick-tips/_index.md
  content/en/videos/share_screenboards.md
  content/en/videos/tipsandtricks-docker-autodiscovery-labels-v5.md
  content/en/videos/tipsandtricks-docker-autodiscovery-labels.md
  content/en/videos/two_minute_intro.md
  content/en/videos/unshare_screenboards.md
  content/en/videos/weekly_monitor_report.md
  layouts/partials/related-groups.html
  layouts/section/videos.html
  layouts/taxonomy/video-category.html
  layouts/taxonomy/video-category.terms.html
  layouts/videos/single.html
  package.json
  yarn.lock
Labels: Architecture, Do Not Merge

#6241 Using master CI
  .gitlab-ci.yml
Labels: Architecture

#6242 Fixing indent between user and usage API
  content/en/api/users/users.md
  content/en/api/users/users_code.md
  content/en/api/users/users_create.md
  content/en/api/users/users_create_code.md
  content/en/api/users/users_delete.md
  content/en/api/users/users_delete_code.md
  content/en/api/users/users_get.md
  content/en/api/users/users_get_code.md
  content/en/api/users/users_getall.md
  content/en/api/users/users_getall_code.md
  content/en/api/users/users_update.md
  content/en/api/users/users_update_code.md
Labels: API

#6247 render html that exists in the markdown files for hugo 0.60
  config/_default/config.yaml
Labels: Architecture

#6246 Clarifying upload files is a step
  content/en/synthetics/browser_tests.md
  static/images/synthetics/browser_tests/upload_file_step.png
Labels: Synthetics

#6249 Changing API endpoints depending on image version
  content/en/synthetics/private_locations.md
Labels: Synthetics

#6234 update docs with new name of env DD_TRACE_SAMPLE_RATE in APM PHP config
  content/en/tracing/setup/php.md
Labels: Tracing

#6253 removal of distributions beta line
  content/en/developers/metrics/dogstatsd_metrics_submission.md
Labels: App

#6209 Events
  config/_default/menus/menus.en.yaml
  content/en/graphing/event_stream/_index.md
Labels: App

#6215 [LOGS PIPELINE] KeyValue definition fix + CategoryProcessor screenshot update
  content/en/logs/processing/parsing.md
  content/en/logs/processing/processors.md
  static/images/logs/processing/processors/category_processor.png
  static/images/logs/processing/processors/category_processor_result.png
Labels: Logs

#6222 AWS / Cloudwatch FAQ
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/aws-integration-and-cloudwatch-faq.md
  content/en/integrations/faq/do-you-believe-you-re-seeing-a-discrepancy-between-your-data-in-cloudwatch-and-datadog.md
Labels: Guide/FAQ

#6229 Fixing SLO endpoint order
  content/en/api/service_level_objectives/service_level_objectives_bulk_delete.md
  content/en/api/service_level_objectives/service_level_objectives_bulk_delete_code.md
  content/en/api/service_level_objectives/service_level_objectives_can_delete.md
  content/en/api/service_level_objectives/service_level_objectives_can_delete_code.md
  content/en/api/service_level_objectives/service_level_objectives_delete.md
  content/en/api/service_level_objectives/service_level_objectives_delete_code.md
  content/en/api/service_level_objectives/service_level_objectives_delete_many.md
  content/en/api/service_level_objectives/service_level_objectives_delete_many_code.md
  content/en/api/service_level_objectives/service_level_objectives_edit.md
  content/en/api/service_level_objectives/service_level_objectives_edit_code.md
  content/en/api/service_level_objectives/service_level_objectives_search.md
  content/en/api/service_level_objectives/service_level_objectives_search_code.md
Labels: API

#6231 Adding site checking step for Agent troubleshooting
  config/_default/menus/menus.en.yaml
  content/en/agent/troubleshooting/_index.md
  content/en/agent/troubleshooting/site.md
Labels: Agent

#6233 Updating send log endpoint
  static/resources/json/datadog_collection.json
Labels: API

#6256 Fix documented tag format in agent config files
  content/en/tagging/assigning_tags.md
Labels: Agent

#6258 Adding proxyIgnoreSSLErrors parameter
  content/en/synthetics/private_locations.md
Labels: Synthetics

#6262 Document the `with_downtimes` parameter for the `GET /v1/monitor/<MONITOR_ID>` endpoint.
  content/en/api/monitors/monitors_get.md
Labels: API

#6264 Update to CFFI version number
  local/etc/requirements3.txt
Labels: Architecture, Bug

#6261 Fixing indent of metric can delete
  content/en/api/monitors/monitor_can_delete.md
  content/en/api/monitors/monitor_can_delete_code.md
Labels: API

#6260 Agent metrics collection fixing tags setup
  content/en/developers/metrics/agent_metrics_submission.md
Labels: Bug

#6257 Infrastructure List
  config/_default/menus/menus.en.yaml
  content/en/graphing/infrastructure/_index.md
  content/en/graphing/infrastructure/list.md
  static/images/graphing/infrastructure/index/ec2_instances_without_dd_agent.png
Labels: App

#6147 Synthetics getting started guide
  config/_default/menus/menus.en.yaml
  content/en/getting_started/_index.md
  content/en/getting_started/synthetics/_index.md
  content/en/getting_started/synthetics/api_test.md
  content/en/getting_started/synthetics/browser_test.md
  content/en/getting_started/synthetics/private_location.md
  content/en/synthetics/private_locations.md
  static/images/getting_started/synthetics/api-test-config.png
  static/images/getting_started/synthetics/api-test-configuration.gif
  static/images/getting_started/synthetics/api-test-failure.png
  static/images/getting_started/synthetics/assertions-example.png
  static/images/getting_started/synthetics/browser-test-failure.png
  static/images/getting_started/synthetics/browser-test.png
  static/images/getting_started/synthetics/configured-browser-test.gif
  static/images/getting_started/synthetics/record-test.gif
  static/images/synthetics/browser_tests/context-panel.gif
  static/images/synthetics/retry-test.png
  static/images/synthetics/testing-variable.png
Labels: Synthetics

#6267 Note for java path section in JMX troubleshooting doc
  content/en/integrations/faq/troubleshooting-jmx-integrations.md
Labels: Bug, Integration

#6266 Code snippet updates for search hosts api
  content/en/api/hosts/code_snippets/result.api-hosts-search.py
  content/en/api/hosts/code_snippets/result.api-hosts-search.rb
  content/en/api/hosts/code_snippets/result.api-hosts-search.sh
  content/en/api/hosts/hosts_search.md
Labels: API

#6094 Metrics explorer
  content/en/graphing/metrics/explorer.md
  static/images/graphing/metrics/explorer/explorer.png
  static/images/graphing/metrics/explorer/graphs.png
  static/images/graphing/metrics/explorer/split-by-team.png
Labels: App, Do Not Merge

#6282 Rename check to integration
  content/en/agent/autodiscovery/integrations.md
Labels: Agent

#6270 Adding link to ecs
  content/en/integrations/fluentbit.md
Labels: Integration

#6276 Update Agent downgrade page
  content/en/agent/faq/agent-downgrade-minor.md
Labels: Agent

#6221 SNMP old version
  content/en/integrations/faq/snmp.md
Labels: Guide/FAQ

#6296 Update Agent SUSE 11 support + small typo fixes
  content/en/agent/basic_agent_usage/_index.md
  content/en/agent/basic_agent_usage/suse.md
Labels: Agent

#6297 fix some a11y errors
  content/en/developers/events/email.md
  content/en/monitors/monitor_types/watchdog.md
  i18n/en.json
  layouts/index.html
  layouts/partials/related-groups.html
  layouts/partials/return-to-group-link.html
  layouts/section/api.html
  layouts/taxonomy/video-category.html
  static/images/svg-icons/network.svg
  static/images/svg-icons/rum.svg
  static/images/svg-icons/synthetics.svg
  static/images/svg-icons/trace.svg
  static/images/svg-icons/watchdog.svg
  static/images/svg-icons/wrench.svg
Labels: Architecture

#6219 Update mvc lang
  content/en/tracing/setup/dotnet.md
Labels: Tracing

#6218 add logger.version in logs naming convention
  content/en/logs/processing/attributes_naming_convention.md
Labels: Logs
