Repository DataDog/documentation, pull requests merged in 2019-01, with the labels that each got.

#3687 Add Docker links
  content/agent/faq/agent-commands.md
Labels: agent

#3713 adding missing integrations logos
  src/images/integrations_logos/aqua.png
  src/images/integrations_logos/concourse_ci.png
  src/images/integrations_logos/eventstore.png
  src/images/integrations_logos/gremlin.png
Labels: Integration

#3708 Brendan update postman collection
  static/json/datadog.postman_collection_scrubbed.json
  static/json/datadog_collection.json
Labels: Logs

#3692 Document Azure integration API.
  content/api/integrations/aws.md
  content/api/integrations/azure.md
  content/api/integrations/azure_code.md
  content/api/integrations/code_snippets/api-integrations-azure.py
  content/api/integrations/code_snippets/api-integrations-azure.rb
  content/api/integrations/code_snippets/api-integrations-azure.sh
  content/api/integrations/code_snippets/result.api-integrations-azure.py
  content/api/integrations/code_snippets/result.api-integrations-azure.rb
  content/api/integrations/code_snippets/result.api-integrations-azure.sh
  content/api/integrations/gcp.md
  content/api/integrations/gcp_code.md
  content/api/integrations/integrations.md
  content/api/integrations/pagerduty.md
  content/api/integrations/pagerduty_code.fr.md
  content/api/integrations/pagerduty_code.md
  content/api/integrations/slack.fr.md
  content/api/integrations/slack.md
  content/api/integrations/slack_code.fr.md
  content/api/integrations/slack_code.md
  content/api/integrations/webhooks.md
  content/api/integrations/webhooks_code.fr.md
  content/api/integrations/webhooks_code.md
Labels: API, Integration

#3720 Add logs correlation and integrations to Ruby APM
  content/tracing/advanced_usage/_index.md
  content/tracing/languages/ruby.md
Labels: Tracing

#3732 Buming pyyaml and awscli versions
  local/etc/requirements3.txt
Labels: Architecture

#3723 Add host tag info
  content/tagging/assigning_tags.md
Labels: App

#3733 Being consistent with monitor definition
  content/api/monitors/code_snippets/api-monitor-create.py
  content/api/monitors/code_snippets/api-monitor-create.rb
  content/api/monitors/code_snippets/api-monitor-edit.py
  content/api/monitors/code_snippets/api-monitor-edit.rb
Labels: API

#3735 New AWS logo
  src/images/integrations_logos/amazon_web_services.png
Labels: Integration

#3736 Removing PUT instructions
  content/api/integrations/aws.md
Labels: API

#3642 Update log monitor instruction with Below option
  content/monitors/monitor_types/log.md
Labels: Logs

#3739 Fix broken link for hostname documentation
  content/integrations/faq/i-just-set-up-my-aws-integration-why-am-i-seeing-duplicate-hosts.md
Labels: Bug

#3737 Adding Scatterplot widget doc
  content/graphing/dashboards/widgets.md
  src/images/graphing/dashboards/widgets/scatterplot.png
Labels: App

#3743 Adding new slack screenshot
  src/images/integrations/slack/slack_configuration.png
Labels: Integration

#3734 Factorising Agent troubleshooting
  content/agent/basic_agent_usage/amazonlinux.md
  content/agent/basic_agent_usage/centos.md
  content/agent/basic_agent_usage/deb.md
  content/agent/basic_agent_usage/fedora.md
  content/agent/basic_agent_usage/osx.md
  content/agent/basic_agent_usage/redhat.md
  content/agent/basic_agent_usage/source.md
  content/agent/basic_agent_usage/suse.md
  content/agent/basic_agent_usage/ubuntu.md
  content/agent/faq/network-time-protocol-ntp-offset-issues.md
  content/agent/troubleshooting.md
  content/developers/prometheus.md
  content/graphing/infrastructure/_index.md
Labels: agent

#3747 Adding reference to metric correlation with service tag
  content/tagging/_index.md
Labels: App

#3740 Adding reference to http endpoint
  content/logs/_index.md
Labels: Logs

#3751 Update java log instruction to highlight link with traces
  content/logs/log_collection/java.md
Labels: Logs

#3752 remove incorrect line
  content/graphing/infrastructure/process.md
Labels: agent

#3750 Add beta functions
  config.yaml
  content/graphing/functions/beta.md
Labels: App

#3756 Add kube proxy alias
  content/integrations/kubernetes.md
Labels: Integration

#3757 Changing gremlin logo
  src/images/integrations_logos/gremlin.png
Labels: Integration

#3758 Removing below references
  content/monitors/monitor_types/log.md
Labels: Logs

#3726 Python log injection
  content/tracing/advanced_usage/_index.md
Labels: Tracing

#3761 Remove height and width values
  content/api/screenboards/screenboards_create.md
Labels: API

#3763 Update monitor api curl examples
  content/api/monitors/code_snippets/api-monitor-delete.sh
  content/api/monitors/code_snippets/api-monitor-edit.sh
  content/api/monitors/code_snippets/api-monitor-mute-all.sh
  content/api/monitors/code_snippets/api-monitor-mute.sh
  content/api/monitors/code_snippets/api-monitor-search.sh
  content/api/monitors/code_snippets/api-monitor-show-all.sh
  content/api/monitors/code_snippets/api-monitor-show.sh
  content/api/monitors/code_snippets/api-monitor-unmute-all.sh
  content/api/monitors/code_snippets/api-monitor-unmute.sh
  content/api/monitors/code_snippets/api-monitor-validate.sh
  content/api/monitors/monitors_muteall_code.md
Labels: API

#3762 Update AWS endpoint
  content/integrations/faq/aws-integration-and-cloudwatch-faq.md
Labels: Integration

#3767 Update processing section to reflect new UI changes
  content/logs/archives/s3.md
  content/logs/logging_without_limits.md
  src/images/logs/archives/log_archives_s3_multiple.png
  src/images/logs/archives/log_archives_s3_overview.png
  src/images/logs/logging_without_limits/multi_indexes.png
  src/images/logs/processing/processing.png
  src/images/logs/processing/processing_panel.png
Labels: Logs, WORK IN PROGRESS

#3770 [apm/logs] refactor Java logs auto-injection
  content/tracing/advanced_usage/_index.md
Labels: Tracing

#3749 Pulling configuration file
  ja/layouts/shortcodes/get-metrics-from-git.html
  layouts/shortcodes/get-metrics-from-git.html
  local/bin/py/placehold_translations.py
  local/bin/py/update_pre_build.py
  local/etc/pull_config.yaml
  local/etc/requirements3.txt
Labels: Architecture

#3769 Adding note about span metadata
  content/tagging/assigning_tags.md
  content/tracing/visualization/trace.md
Labels: Tracing

#3776 .NET Tracer: add ADO.NET support
  content/tracing/languages/dotnet.md
Labels: Tracing

#3775 Grammar Correction: API Logs Example
  content/api/logs/code_snippets/send_logs_datadog.sh
Labels: API

#3773 Adding ibm was logo
  src/images/integrations_logos/ibm_was.png
Labels: Integration

#3742 Revert "Revert "Adding Scatterplot widget doc""
  content/graphing/dashboards/widgets.md
  src/images/graphing/dashboards/widgets/scatterplot.png
Labels: App

#3780 Add image for EC2 automuting
  src/images/integrations/amazon_ec2/aws_ec2_automuting.png
Labels: Integration

#3778 Containerd logo
  src/images/integrations_logos/containerd.png
Labels: Integration

#3781 Enforcing Scatter Plot wording
  content/graphing/infrastructure/process.md
Labels: Bug

#3787 Adding Traefik integration logo
  src/images/integrations_logos/traefik.png
Labels: Integration

#3793 add units to dt() function
  content/graphing/functions/rate.md
Labels: App

#3792 add reboot to Mac uninstall instructions
  content/agent/faq/how-do-i-uninstall-the-agent.md
Labels: agent

#3789 Fix validate monitor endpoint
  content/api/monitors/monitors_validate_code.md
  content/developers/faq/datadog_collection.json
  static/json/datadog_collection.json
Labels: API

#3714 Add library integration label
  i18n/en.json
  layouts/partials/integration-labels/integration-labels.html
  layouts/partials/integration-labels/integration-labels.scss
  src/images/icons/check_library.png
Labels: Architecture

#3796 Update rsyslog documentation for EU region
  content/integrations/rsyslog.md
Labels: Integration, Logs

#3786 Update log monitor doc with multi alert notification
  content/monitors/monitor_types/log.md
  src/images/monitors/monitor_types/log/activate-log-monitor-sample.png
  src/images/monitors/monitor_types/log/activate-log-multi-monitor-sample.png
  src/images/monitors/monitor_types/log/slack-log-multi-sample.png
Labels: Logs, monitors

#3791 add note to avoid name collisions for custom checks
  content/developers/write_agent_check.md
Labels: agent

#3795 Build Fix
  local/bin/py/update_pre_build.py
Labels: Architecture

#3798 Fixing Log eu endpoint
  content/integrations/nxlog.md
  content/integrations/syslog_ng.md
Labels: Integration, Logs

#3771 Update Jira images
  src/images/integrations/jira/JiraInstallation7.png
  src/images/integrations/jira/jira-issue.png
Labels: Integration

#3783 Add Rails logging configuration for Ruby APM correlation
  content/tracing/advanced_usage/_index.md
Labels: Tracing

#3800 Update Java's MDC format defaults
  content/tracing/advanced_usage/_index.md
Labels: Tracing

#3804 Fixing definition of derivative
  content/graphing/functions/rate.md
Labels: App, Bug

#3815 Refactoring link order
  content/integrations/faq/i-just-set-up-my-aws-integration-why-am-i-seeing-duplicate-hosts.md
  content/logs/archives/s3.md
  content/logs/explorer/_index.md
  content/logs/log_collection/python.md
  content/logs/logging_without_limits.md
  content/tracing/advanced_usage/_index.md
  content/tracing/languages/dotnet.md
  content/tracing/languages/ruby.md
Labels: Bug

#3816 Fixing command
  content/api/troubleshooting/troubleshooting.md
Labels: Bug

#3811 Adding log stream widget
  content/graphing/dashboards/widgets.md
  src/images/graphing/dashboards/widgets/log_stream.png
Labels: App

#3768 content/agent/docker: add new environment variables for APM Docker
  content/agent/docker/apm.md
Labels: Do Not Merge, Tracing, agent

#3821 Remove outdated reference to log collection instruction
  content/agent/kubernetes/integrations.md
Labels: Logs

#3829 Update Query data to text file
  content/developers/faq/query-data-to-a-text-file-step-by-step.md
  static/python/api_query_data.py
Labels: API

#3832 Includes Tornado and Molten web frameworks
  content/tracing/advanced_usage/_index.md
  content/tracing/languages/python.md
Labels: Tracing

#3836 fix navigation to be language relative and fix french files when link…
  content/api/comments/comments_create.fr.md
  content/api/downtimes/downtimes.fr.md
  content/api/events/events.fr.md
  content/api/events/events_post.fr.md
  content/api/graphs/graphs.fr.md
  content/api/graphs/graphs_snapshot.fr.md
  content/api/metrics/metrics_editmetadata.fr.md
  content/api/monitors/monitors.fr.md
  content/api/monitors/monitors_muteall.fr.md
  content/api/org/org.fr.md
  content/api/org/org_update.fr.md
  content/api/overview/overview_code.fr.md
  content/api/screenboards/screenboards.fr.md
  content/api/screenboards/screenboards_update.fr.md
  content/api/tags/tags.fr.md
  content/api/tags/tags_get.fr.md
  content/api/tags/tags_get_host.fr.md
  content/api/timeboards/timeboards.fr.md
  content/api/timeboards/timeboards_delete.fr.md
  content/api/timeboards/timeboards_getall.fr.md
  content/api/timeboards/timeboards_update.fr.md
  content/api/tracing/tracing.fr.md
  content/api/usage/usage_timeseries.fr.md
  content/api/usage/usage_top_avg_metrics.fr.md
  content/api/users/users.fr.md
  content/videos/anomaly_detection.fr.md
  content/videos/share_screenboards.fr.md
  layouts/partials/sidenav/recursive-nav.html
  layouts/shortcodes/absLangUrl.html
Labels: Architecture

#3835 Adding DD_SITE documentation
  content/agent/basic_agent_usage/_index.md
  content/agent/docker/_index.md
  content/agent/kubernetes/daemonset_setup.md
Labels: agent

#3837 Adding IBM MQ logo
  src/images/integrations_logos/ibm_mq.png
Labels: Integration

#3834 updating default ecs.json file for agent 6.9
  static/json/datadog-agent-ecs-logs.json
  static/json/datadog-agent-ecs.json
  static/json/datadog-agent-ecs1.json
Labels: agent

#3833 Synthetics
  config.yaml
  content/synthetics/_index.md
  content/synthetics/faq/_index.md
  content/synthetics/faq/uptime-check-internal-website.md
  content/synthetics/uptime_check.md
  local/etc/docsdatadoghq.json
  src/images/synthetics/create_a_check.png
  src/images/synthetics/faq/advanced_options.png
  src/images/synthetics/synthetics_home_page.png
  src/images/synthetics/uptime_check/assertion.png
  src/images/synthetics/uptime_check/assertion_setup.gif
  src/images/synthetics/uptime_check/uptime_check_make_request.png
  src/images/synthetics/uptime_check/uptime_check_notifications.png
Labels: Synthetics

#3839 Adding below monitor desc
  content/monitors/monitor_types/log.md
Labels: Logs

#3844 Revert "Adding below monitor desc"
  content/monitors/monitor_types/log.md
Labels: Bug

#3842 Log and traces - title change
  content/logs/log_collection/java.md
  content/logs/log_collection/python.md
  content/logs/log_collection/ruby.md
Labels: Logs, Tracing

#3838 Log explorer attribute search
  content/agent/kubernetes/integrations.md
  content/developers/faq/query-data-to-a-text-file-step-by-step.md
  content/integrations/faq/list-of-api-source-attribute-value.md
  content/logs/explorer/search.md
  content/tracing/languages/python.md
Labels: Logs

#3846 Note on Autodiscovery for certain integrations
  content/agent/autodiscovery.md
Labels: Integration

#3848 OmniOS add missing attachment
  content/developers/faq/omnios-and-possibly-smartos-openindiana-nexenta-install-from-source-by-tweaking-the-agent-install-script.md
  static/txt/omnis_os_instructions.txt
Labels: KB/FAQ

#3849 Remove Akka FAQ with dead link
  content/developers/faq/_index.md
  content/developers/faq/monitoring-akka.md
  content/developers/libraries.md
Labels: KB/FAQ

#3861 Tanguy.lebarzic/synthetics assertions
  content/synthetics/uptime_check.md
Labels: Synthetics

#3822 all: update datadog-trace-agent links
  content/agent/apm/_index.md
  content/agent/docker/apm.md
  content/tracing/faq/agent-5-tracing-setup.md
  ja/content/tracing/docker.md
  ja/content/tracing/faq.md
  ja/content/tracing/index.md
Labels: Tracing, agent

#3865 adding new azure logos
  src/images/integrations_logos/azure_blob_storage.png
  src/images/integrations_logos/azure_db_for_mysql.png
  src/images/integrations_logos/azure_db_for_postgresql.png
  src/images/integrations_logos/azure_queue_storage.png
  src/images/integrations_logos/azure_service_bus.png
  src/images/integrations_logos/azure_table_storage.png
Labels: Integration

#3864 Removing confusing sentence
  content/monitors/monitor_types/metric.md
Labels: App

#3847 Update PHP in advanced instrumentation docs
  content/tracing/advanced_usage/_index.md
Labels: Integration

#3863 Adding log http limits
  content/api/logs/logs.md
Labels: API, Logs

#3862 Bumping PyYAML version + awscli to fix security issue
  local/etc/requirements3.txt
Labels: Architecture

#3866 Changing region into site
  content/agent/basic_agent_usage/_index.md
  content/agent/basic_agent_usage/heroku.md
  content/agent/docker/_index.md
  content/agent/docker/apm.md
  content/agent/kubernetes/daemonset_setup.md
  content/agent/proxy.md
  content/api/logs/logs.md
  content/integrations/nxlog.md
  content/integrations/rsyslog.md
  content/integrations/syslog_ng.md
  content/logs/_index.md
  content/logs/log_collection/java.md
  content/synthetics/_index.md
  content/synthetics/faq/uptime-check-internal-website.md
  content/synthetics/uptime_check.md
Labels: App

#3867 Update autodiscovery, varnish link
  content/agent/autodiscovery.md
Labels: Integration

#3873 Add hostname requirements
  content/tagging/assigning_tags.md
Labels: agent

#3869 Update whats next template to work with anchors
  layouts/partials/whats-next/whats-next.html
Labels: Architecture

#3875 Adding alibaba cloud logo
  src/images/integrations_logos/alibaba_cloud.png
Labels: Integration

#3872 Update python log injection documentation
  content/tracing/advanced_usage/_index.md
Labels: Tracing

#3878 Update template variables page
  content/graphing/dashboards/template_variables.md
Labels: Bug

#3876 Replace count methods docs with accurate description
  content/developers/metrics/counts.md
Labels: agent

#3879 Update APM second primary tag
  content/agent/apm/_index.md
Labels: Tracing

#3892 Adding Datadog learning center page
  config.yaml
  content/getting_started/_index.md
  content/getting_started/learning_center.md
  content/graphing/_index.md
  content/logs/_index.md
  content/logs/processing/pipelines.md
  content/tracing/_index.md
Labels: App
