Repository DataDog/documentation, pull requests merged in 2019-10, with the labels that each got.

#5540 Import monitors
  content/en/monitors/monitor_types/_index.md
Labels: monitors

#5541 NPM supported OS
  content/en/network_performance_monitoring/installation.md
Labels: Network Performance Monitoring

#5545 Wording update
  content/en/network_performance_monitoring/installation.md
Labels: Network Performance Monitoring

#5326 change code block style to match corpsite
  src/styles/pages/_global.scss
Labels: Architecture

#5518 Hihglight Standard Attributes
  content/en/logs/processing/attributes_naming_convention.md
  static/images/logs/explorer/explore_view_with_comments.png
  static/images/logs/processing/attribute_naming_convention/standard_attribute_config.png
  static/images/logs/processing/attribute_naming_convention/standard_attribute_explorer.png
  static/images/logs/processing/attribute_naming_convention/standard_attributes.png
Labels: Logs

#5495 Metric Correlations
  config/_default/menus/menus.en.yaml
  content/en/graphing/_index.md
  content/en/graphing/correlations/_index.md
  static/images/graphing/correlations/dashboard_search1.png
  static/images/graphing/correlations/dashboard_search2.png
  static/images/graphing/correlations/detail_view.png
  static/images/graphing/correlations/edit_search.png
  static/images/graphing/correlations/search_results.png
Labels: App, Do Not Merge

#5561 Update Rsyslog instruction to use default certificate files
  content/en/integrations/rsyslog.md
Labels: Logs

#5562 update syslog-ng for TLS instructions
  content/en/integrations/syslog_ng.md
Labels: Logs

#5546 .NET profiler log
  content/en/tracing/troubleshooting/_index.md
Labels: Tracing

#5549 Agent links
  content/en/agent/basic_agent_usage/windows.md
  content/en/agent/docker/_index.md
  content/en/agent/guide/agent-commands.md
  content/en/agent/guide/dogstream.md
  content/en/agent/guide/network.md
  content/en/agent/proxy.md
  content/en/agent/troubleshooting/send_a_flare.md
  content/fr/agent/basic_agent_usage/windows.md
  content/fr/agent/docker/_index.md
  content/fr/agent/guide/agent-commands.md
  content/fr/agent/guide/dogstream.md
  content/fr/agent/guide/network.md
  content/fr/agent/proxy.md
  content/fr/agent/troubleshooting/send_a_flare.md
  content/fr/integrations/docker_daemon.md
  content/ja/agent/guide/agent-commands.md
  content/ja/agent/guide/dogstream.md
  content/ja/agent/guide/network.md
  content/ja/agent/proxy.md
Labels: Bug

#5548 Monitor links
  content/en/account_management/multi_organization.md
  content/en/api/monitors/monitors_create.md
  content/en/monitors/manage_monitor.md
  content/fr/account_management/multi_organization.md
  content/fr/api/monitors/monitors_create.md
  content/fr/monitors/manage_monitor.md
  content/fr/monitors/monitor_status.md
  content/ja/api/monitors/monitors_create.md
Labels: Bug

#5551 N/A hosts
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/extra-hosts-with-name-n-a-reporting-data.md
Labels: Guide/FAQ

#5552 Runtime Metrics beta
  content/en/tracing/advanced/runtime_metrics.md
Labels: Bug

#5543 NPM billing
  content/en/account_management/billing/pricing.md
Labels: Do Not Merge, Network Performance Monitoring

#5554 clarified value only available in query alert
  content/en/monitors/notifications.md
Labels: monitors

#5523 Azure Status Metric
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/azure-status-metric.md
  content/en/integrations/faq/azure-vm-status-is-not-reporting.md
Labels: Guide/FAQ

#5569 remove some whitespace to help with nesting img shortcode in tabs in …
  layouts/shortcodes/img.html
Labels: Architecture

#5568 Add a date-parsing example for AM/PM
  content/en/logs/processing/parsing.md
Labels: Logs

#5567 Removed hard-coded beta files from Algolia config
  local/etc/algolia/docs_datadoghq.json
  local/etc/algolia/docs_datadoghq_preview.json
Labels: Architecture

#5547 Kafka producer and consumer metrics
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/producer-and-consumer-metrics-don-t-appear-in-my-datadog-application.md
  content/en/integrations/faq/troubleshooting-and-deep-dive-for-kafka.md
Labels: Guide/FAQ

#5573 Adding precision for the query
  content/en/api/metrics/code_snippets/api-metrics-search.py
  content/en/api/metrics/code_snippets/api-metrics-search.rb
  content/en/api/metrics/metrics_search.md
Labels: API

#5528 Azure tags
  content/en/tagging/assigning_tags.md
Labels: Integration

#5397 Datadog Agent v6 Changes
  content/en/agent/basic_agent_usage/amazonlinux.md
  content/en/agent/basic_agent_usage/centos.md
  content/en/agent/basic_agent_usage/deb.md
  content/en/agent/basic_agent_usage/fedora.md
  content/en/agent/basic_agent_usage/redhat.md
  content/en/agent/basic_agent_usage/suse.md
  content/en/agent/basic_agent_usage/ubuntu.md
  content/en/agent/faq/_index.md
  content/en/agent/faq/agent-v6-changes.md
  content/en/agent/faq/how-datadog-agent-determines-the-hostname.md
  content/en/agent/guide/agent-commands.md
  content/en/agent/troubleshooting/send_a_flare.md
  content/fr/agent/basic_agent_usage/amazonlinux.md
  content/fr/agent/basic_agent_usage/centos.md
  content/fr/agent/basic_agent_usage/deb.md
  content/fr/agent/basic_agent_usage/fedora.md
  content/fr/agent/basic_agent_usage/redhat.md
  content/fr/agent/basic_agent_usage/suse.md
  content/fr/agent/basic_agent_usage/ubuntu.md
  content/fr/agent/guide/agent-commands.md
  content/fr/agent/troubleshooting/send_a_flare.md
  content/ja/agent/basic_agent_usage/amazonlinux.md
  content/ja/agent/basic_agent_usage/centos.md
  content/ja/agent/basic_agent_usage/deb.md
  content/ja/agent/basic_agent_usage/fedora.md
  content/ja/agent/basic_agent_usage/redhat.md
  content/ja/agent/basic_agent_usage/suse.md
  content/ja/agent/basic_agent_usage/ubuntu.md
  content/ja/agent/guide/agent-commands.md
Labels: Agent

#5570 Fixing rsyslog code blocks
  content/en/integrations/rsyslog.md
Labels: Integration

#5565 Update text to be in line with documentation in flare code.
  content/en/agent/troubleshooting/send_a_flare.md
Labels: Agent

#5458 [Synthetics] Adding basicAuth param + table fix
  content/en/api/synthetics/post_test.md
  content/en/api/synthetics/put_test.md
Labels: Synthetics

#5575 [APM] Add PHP tracer upgrade instructions
  content/en/tracing/setup/php.md
Labels: Tracing

#5525 Adding a new page for Synthetics troubleshooting
  config/_default/menus/menus.en.yaml
  content/en/synthetics/troubleshooting/_index.md
  static/images/synthetics/user-agent.gif
Labels: Synthetics

#5583 update nxlog SSL instruction
  content/en/integrations/nxlog.md
  static/resources/crt/ca-certificates.crt
Labels: Logs

#5553 added new apm videos in video section
  content/en/tracing/guide/_index.md
  content/en/videos/apm_dashboards_trace_metrics.md
  content/en/videos/apm_overview.md
  content/en/videos/apm_traces_flame_graph.md
Labels: Tracing, WORK IN PROGRESS

#4703 Sammyk/php docs url resource name
  content/en/tracing/setup/php.md
Labels: Tracing

#5588 tweaking support callout
  content/en/tracing/setup/php.md
Labels: Tracing

#5526 adding a serverless billing page
  content/en/account_management/billing/serverless.md
Labels: App

#5586 Custom metrics
  content/en/developers/metrics/custom_metrics.md
Labels: App

#5585 Link fixes on PHP tracing page
  content/en/tracing/setup/php.md
Labels: Tracing

#5590 Fix formating proxy doc
  content/en/agent/proxy.md
Labels: Logs

#5471 Datadog Cluster Agent Documentation
  config/_default/menus/menus.en.yaml
  content/en/agent/autodiscovery/clusterchecks.md
  content/en/agent/cluster_agent/_index.md
  content/en/agent/cluster_agent/commands.md
  content/en/agent/cluster_agent/event_collection.md
  content/en/agent/cluster_agent/external_metrics.md
  content/en/agent/cluster_agent/setup.md
  content/en/agent/cluster_agent/troubleshooting.md
  content/en/agent/kubernetes/cluster.md
Labels: Agent

#5346 New custom method instrumentation guide
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/instrument_custom_method.md
  static/images/tracing/guide/custom_span/custom_span_1.png
  static/images/tracing/guide/custom_span/custom_span_2.png
  static/images/tracing/guide/custom_span/custom_span_3.png
  static/images/tracing/guide/custom_span/custom_span_4.png
Labels: Do Not Merge, Tracing, WORK IN PROGRESS

#5579 Enhancing layout
  content/en/agent/kubernetes/daemonset_setup.md
Labels: Logs

#5580 Adding helm example
  content/en/agent/logs/advanced_log_collection.md
Labels: Agent, Logs

#5591 Fixing table
  content/en/getting_started/integrations/prometheus.md
Labels: Agent, Bug

#5592 Adding info about sampling strategy
  content/en/logs/indexes/_index.md
Labels: Logs

#5564 Integration Monitor
  content/en/monitors/monitor_types/integration.md
  static/images/monitors/monitor_types/integration/es_status.png
  static/images/monitors/monitor_types/integration/metric_or_status.png
Labels: monitors

#5604 AWS App Mesh logo
  static/images/integrations_logos/amazon_app_mesh.png
Labels: Integration

#5593 Adding missing step
  content/en/network_performance_monitoring/installation.md
Labels: Network Performance Monitoring

#5595 Adding placeholders
  content/en/tracing/advanced/adding_metadata_to_spans.md
Labels: Tracing

#5596 Adding precision about K8s use-case
  content/en/agent/autodiscovery/management.md
Labels: Agent

#5601 Image fix - remove red lines
  static/images/developers/metrics/custom_metrics/38-timeseries.png
Labels: App

#5602 python3 guide update
  content/en/agent/guide/python-3.md
Labels: App

#5615 adding in Fluent Bit integration documentation
  Makefile
  content/en/integrations/fluentbit.md
  static/images/integrations_logos/fluentbit.png
Labels: Integration

#5576 Process Monitors
  config/_default/menus/menus.en.yaml
  content/en/monitors/monitor_types/_index.md
  content/en/monitors/monitor_types/process.md
  content/en/monitors/monitor_types/process_check.md
  static/images/monitors/monitor_types/process/live_process_monitor_select.png
  static/images/monitors/monitor_types/process/process_check_alert_conditions.png
  static/images/monitors/monitor_types/process/process_check_select.png
  static/images/monitors/monitor_types/process/process_monitor_pick.png
  static/images/monitors/monitor_types/process/process_monitor_scope.png
  static/images/monitors/monitor_types/process/search_process.png
  static/images/monitors/monitor_types/process/select_processes.png
  static/images/monitors/monitor_types/process/selecting_scope.png
  static/images/monitors/monitor_types/process/set_alert_conditions.png
Labels: monitors

#5623 tracing/setup/java.md
  content/en/tracing/setup/java.md
Labels: Tracing

#5584 Adding guide for configuring and using Primary Operation in APM
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/configuring-primary-operation.md
  static/images/tracing/guide/primary_operation/configuring-primary-option.png
  static/images/tracing/guide/primary_operation/configuring-primary.png
  static/images/tracing/guide/primary_operation/dropdown.gif
Labels: Tracing

#5627 fix office hours URL and clarify timing
  content/en/developers/office_hours.md
  content/fr/developers/office_hours.md
  content/ja/developers/office_hours.md
Labels: Bug

#5616 [slo] Add documentation for the overall uptime calculation.
  content/en/monitors/slos.md
  static/images/monitors/slo/overall_uptime_calculation.png
Labels: monitors

#5600 Cleaning guide and make it streamlined
  content/en/agent/guide/cluster-agent-custom-metrics-server.md
Labels: Agent

#5612 Interpolation wording update
  content/en/graphing/faq/interpolation-the-fill-modifier-explained.md
Labels: App, Guide/FAQ

#5620 Fixing wording
  content/en/tracing/trace_search_and_analytics/_index.md
Labels: Tracing

#5624 Wording update
  content/en/tracing/advanced/connect_logs_and_traces.md
Labels: Tracing

#5621 [Browser log] add reasoning for bundle loading
  content/en/logs/log_collection/javascript.md
Labels: Logs

#5608 haproxy's backend server checks didn't match ports
  content/en/agent/proxy.md
  content/fr/agent/proxy.md
  content/ja/agent/proxy.md
Labels: Bug

#5611 Gusai/logs processing parsing
  content/en/logs/processing/parsing.md
Labels: Logs

#5626 [Browser log] fix misleading capability
  content/en/logs/log_collection/javascript.md
Labels: Bug, Synthetics

#5630 Monitor comments
  content/en/monitors/notifications.md
Labels: monitors

#5628 adding EU to Fluent Bit table
  content/en/integrations/fluentbit.md
Labels: Integration

#5587 [APM] Update framework support in the PHP tracer docs
  content/en/tracing/setup/php.md
Labels: Tracing

#5597 Adding code blocks to algolia
  local/etc/algolia/docs_datadoghq.json
  local/etc/algolia/docs_datadoghq_preview.json
Labels: Architecture

#5633 Hosts fade in 2 hours now
  content/en/account_management/billing/_index.md
  content/en/account_management/billing/aws.md
  content/en/account_management/billing/azure.md
  content/en/account_management/billing/google_cloud.md
  content/en/graphing/infrastructure/_index.md
  content/en/monitors/monitor_status.md
Labels: App

#5634 Gusai/logs proc
  content/en/logs/processing/parsing.md
  content/en/logs/processing/processors.md
Labels: Logs

#5646 Updates java log collection link to eusite log intake endpoints
  content/en/logs/log_collection/java.md
Labels: Bug

#5539 adding vertica faq
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/how-to-collect-metrics-from-custom-vertica-queries.md
Labels: Integration

#5645 Algolia new ranking
  local/etc/algolia/docs_datadoghq.json
  local/etc/algolia/docs_datadoghq_preview.json
Labels: Architecture

#5649 Remove hard-coded file stop
  local/etc/algolia/docs_datadoghq.json
  local/etc/algolia/docs_datadoghq_preview.json
Labels: Bug

#5614 change render on table shortcode to old style
  content/en/tracing/setup/java.md
  layouts/shortcodes/table.html
Labels: Architecture

#5629 Event Monitor
  content/en/monitors/monitor_types/event.md
  static/images/monitors/monitor_types/event/define_event.png
  static/images/monitors/monitor_types/event/event_alert_grouping.png
  static/images/monitors/monitor_types/event/event_monitor_alert_conditions.png
  static/images/monitors/monitor_types/event/event_monitor_selection.png
  static/images/monitors/monitor_types/event/event_notification_template.png
  static/images/monitors/monitor_types/event/triggered_event.png
  static/images/monitors/monitor_types/event/whats_happening.png
Labels: monitors

#5617 Custom Check Monitor
  content/en/monitors/monitor_types/custom_check.md
  static/images/monitors/monitor_types/custom_check/Selecting_custom_check.png
  static/images/monitors/monitor_types/custom_check/custom_monitor.png
  static/images/monitors/monitor_types/custom_check/monitor_options.png
  static/images/monitors/monitor_types/custom_check/monitor_scope.png
Labels: monitors

#5605 Network Monitor
  content/en/monitors/monitor_types/network.md
  static/images/monitors/monitor_types/network/network_check_alert_conditions.png
  static/images/monitors/monitor_types/network/network_check_monitor_scope.png
  static/images/monitors/monitor_types/network/network_check_pick.png
  static/images/monitors/monitor_types/network/network_monitor_settings.png
Labels: monitors

#5613 Autodiscovery clarification
  content/en/agent/autodiscovery/integrations.md
Labels: Agent, Containers

#5641 Zach/add eslint webpack
  .eslintignore
  package.json
  src/scripts/components/announcement_banner.js
  webpack.common.js
  yarn.lock
Labels: Architecture

#5647 Fixing a11y issues
  content/en/agent/cluster_agent/commands.md
  content/en/agent/cluster_agent/setup.md
  content/en/agent/faq/agent-v6-changes.md
  content/en/tracing/guide/instrument_custom_method.md
Labels: Bug

#5648 Updating kong logo
  static/images/integrations_logos/kong.png
Labels: Integration

#5653 Logs/CategoryProcessor doc improvement
  content/en/logs/processing/processors.md
Labels: Logs

#5664 Private locations available on API tests only
  content/en/synthetics/private_locations.md
Labels: Synthetics

#5663 Adding section about forbidden errors
  content/en/synthetics/troubleshooting/_index.md
Labels: Synthetics

#5659 Update the logs troubleshooting guide
  content/en/logs/guide/log-collection-troubleshooting-guide.md
Labels: Logs

#5670 java tracer - dd.trace.debug
  content/en/tracing/troubleshooting/_index.md
Labels: Bug

#5662 Updating private locations with more details
  content/en/synthetics/private_locations.md
Labels: Synthetics

#5656 updating search phrasing
  content/en/api/overview/overview.md
  content/en/logs/_index.md
Labels: Architecture

#5661 Updating Victorops logo
  static/images/integrations_logos/victorops.png
Labels: Integration

#5674 updating graphing correlations to public beta
  content/en/graphing/correlations/_index.md
Labels: App

#5673 wording update
  content/en/logs/processing/parsing.md
Labels: Bug

#5667 Link fix 3
  content/en/agent/guide/python-3.md
Labels: Bug

#5676 Integration logos
  local/githooks/pre-commit.d/integration-logos
  static/images/integrations_logos/amazon_vpn.png
  static/images/integrations_logos/aws_pricing.png
  static/images/integrations_logos/druid.png
  static/images/integrations_logos/mapr.png
  static/images/integrations_logos/vertica.png
  static/images/integrations_logos/vespa.png
Labels: Integration

#5665 Adding id to avoid conflict for Synthetics troubleshooting section
  config/_default/menus/menus.en.yaml
Labels: Architecture, Synthetics

#5672 fix logs/guide sidenav
  src/scripts/datadog-docs.js
Labels: Architecture

#5671 Document new "send to" interactions in log expl.
  content/en/logs/explorer/_index.md
  content/en/security/logs.md
  static/images/logs/explorer/send_view_to.png
Labels: Logs

#5666 Logs rate limit control documentation
  content/en/logs/indexes/_index.md
  static/images/logs/indexes/index_details.png
  static/images/logs/indexes/index_quota.png
Labels: Logs

#5681 ksm files have moved
  content/en/integrations/kubernetes.md
Labels: Integration

#5680 Adding TM
  content/en/logs/guide/collect-multiple-logs-with-pagination.md
Labels: Bug

#5685 Fixing broken link
  content/en/developers/dogstatsd/_index.md
  content/en/developers/metrics/_index.md
  content/en/graphing/functions/beta.md
Labels: Bug

#5642 APM Monitors
  config/_default/menus/menus.en.yaml
  content/en/account_management/billing/usage_monitor_apm.md
  content/en/monitors/monitor_types/_index.md
  content/en/monitors/monitor_types/apm.md
  content/en/monitors/monitor_types/trace_analytics.md
  static/images/monitors/monitor_types/apm/apm_select_scope.png
  static/images/monitors/monitor_types/apm/apm_set_alert_conditions.png
  static/images/monitors/monitor_types/trace_search/trace_search.png
Labels: Do Not Merge, monitors

#5682 Adding info about parallel tests
  content/en/synthetics/private_locations.md
Labels: Synthetics

#5688 update JS sample code to use required JSON format
  content/en/tracing/advanced/connect_logs_and_traces.md
Labels: Logs

#5683 fix api anchor position on load
  .eslintignore
  .eslintrc
  src/scripts/components/table-of-contents.js
  src/scripts/datadog-docs.js
  src/scripts/helpers/moveToAnchor.js
Labels: Architecture

#5686 fix spacing, a11y color contrast issues
  layouts/partials/whats-next/whats-next.html
  src/styles/components/_header.scss
  src/styles/components/_whats-next.scss
  src/styles/pages/_global.scss
Labels: Architecture

#5692 [APM/Synthetics] PHP tracer supports Synthetics
  content/en/synthetics/apm/_index.md
Labels: Synthetics, Tracing

#5696 Update the number of log entries per HTTP batch
  content/en/api/logs/logs.md
Labels: Logs

#5699 Private locations going in public beta
  content/en/synthetics/private_locations.md
Labels: Synthetics

#5701 Fixing endpoint title
  content/en/api/integrations_webhook/webhooks_add_webhook.md
Labels: API, Bug

#5691 Wording fix
  content/en/tracing/guide/configure_an_apdex_for_your_traces_with_datadog_apm.md
Labels: Bug

#5693 wording update
  content/en/developers/metrics/metric_type_modifiers.md
Labels: Developers

#5694 moving all head script into a partial
  config/_default/params.yaml
  config/development/params.yaml
  config/live/params.yaml
  config/preview/config.yaml
  config/preview/params.yaml
  layouts/_default/404-baseof.html
  layouts/_default/api-baseof.html
  layouts/_default/baseof.html
  layouts/partials/head_scripts/datadog_monitoring.html
  layouts/partials/head_scripts/google-site-tag.html
  layouts/partials/head_scripts/hotjar.html
  layouts/partials/head_scripts/marketo.html
  layouts/partials/hotjar.html
Labels: Architecture

#5697 decodeuricomponent added example
  content/en/logs/processing/attributes_naming_convention.md
  content/en/logs/processing/parsing.md
Labels: Logs

#5702 Typo fixes
  content/en/developers/dogstatsd/datagram_shell.md
Labels: Bug

#5704 adding in serverless billing to main billing page
  content/en/account_management/billing/_index.md
Labels: App, Bug

#5581 APM > .NET > Update setup instructions
  content/en/tracing/setup/dotnet.md
Labels: Tracing

#5716 fixing a typo that's breaking an image
  content/en/monitors/service_level_objectives/_index.md
Labels: Bug, monitors

#5714 Logs facet clarification
  content/en/logs/explorer/_index.md
Labels: Bug, Logs

#5639 Agent Environment Variables
  content/en/agent/guide/_index.md
  content/en/agent/guide/environment-variables.md
  content/en/agent/proxy.md
Labels: Agent

#5668 Add documentation for the string builder processor
  content/en/logs/processing/processors.md
  static/images/logs/processing/processors/stringbuilder_processor.png
Labels: Logs

#5720 Remove reference to TCP port 443 for proxy logs instruction
  content/en/agent/logs/proxy.md
  content/en/logs/guide/log-collection-troubleshooting-guide.md
Labels: Logs

#5734 disabling automatic algolia reindexing
  .gitlab-ci.yml
Labels: Architecture, Bug

#5733 npm widget
  content/en/graphing/widgets/_index.md
  content/en/graphing/widgets/network.md
  static/images/graphing/widgets/network/network_1.png
  static/images/graphing/widgets/network/network_2.png
  static/images/graphing/widgets/network/network_3.png
  static/images/graphing/widgets/network/network_4-2.png
  static/images/graphing/widgets/network/network_4.png
  static/images/graphing/widgets/network/network_5-2.png
  static/images/graphing/widgets/network/network_5.png
  static/images/graphing/widgets/network/network_6.png
Labels: Network Performance Monitoring

#5724 translation clarificaitons
  content/en/tracing/setup/php.md
Labels: Tracing

#5727 Custom Log Forwarder examples clarified
  content/en/logs/log_collection/_index.md
Labels: Logs

#5729 clarifying grammar
  content/en/tracing/guide/apm_dashboard.md
Labels: Bug, Tracing

#5752 Revert "disabling automatic algolia reindexing"
  .gitlab-ci.yml
Labels: Architecture

#5758 Fix Metric Types page
  content/en/developers/metrics/metrics_type.md
Labels: Bug

#5753 Minor update Log Parsing rule name
  content/en/logs/processing/parsing.md
Labels: Logs

#5746 Monitor Alert Conditions
  content/en/monitors/monitor_types/metric.md
Labels: monitors

#5739 Update Cluster Agent documentation
  content/en/agent/autodiscovery/clusterchecks.md
  content/en/agent/autodiscovery/endpointschecks.md
Labels: Agent

#5755 Docker autoconf broken links fix
  content/en/agent/autodiscovery/auto_conf.md
Labels: Agent, Integration, Logs

#5757 say no to pills and private locations
  content/en/synthetics/private_locations.md
Labels: Bug, Synthetics

#5762 Removing beta tag
  content/en/tracing/advanced/opentracing.md
Labels: Tracing

#5689 Azure integration tag keys
  content/en/tagging/assigning_tags.md
Labels: Integration

#5772 add logs endpoint for http logs
  content/en/logs/log_collection/_index.md
Labels: Logs

#5780 Clarify facet search wording
  content/en/logs/explorer/search.md
Labels: Logs

#5778 Fixing bold
  content/en/developers/metrics/metrics_type.md
Labels: Bug

#5773 Using Graphs
  content/en/graphing/using_graphs/_index.md
  static/images/graphing/index/arithmetic_3_bis.png
  static/images/graphing/index/references-graphing-overview.png
  static/images/graphing/using_graphs/arithmetic_2.png
  static/images/graphing/using_graphs/arithmetic_3.png
  static/images/graphing/using_graphs/metric_alias.png
  static/images/graphing/using_graphs/references-graphing-edit-window-with-y.png
  static/images/graphing/using_graphs/references-graphing-rollup-example.png
Labels: App, editorial review

#5747 Update serverless page
  content/en/graphing/infrastructure/serverless.md
  content/en/logs/log_collection/_index.md
  static/images/integrations/amazon_lambda/animated_service_map.gif
Labels: Integration, editorial review

#5785 added note about granularity of graph and alternative source
  content/en/monitors/monitor_types/process.md
Labels: Process

#5776 Postman collection update
  static/images/getting_started/postman/SetAPIKeys.png
  static/images/getting_started/postman/apiGetCalls.png
  static/images/getting_started/postman/description.mp4
  static/images/getting_started/postman/parameters.png
  static/resources/json/datadog_collection.json
Labels: API

#5679 fixing link
  content/en/api/synthetics/get_browsers.md
  content/en/api/synthetics/get_browsers_code.md
  content/en/api/synthetics/get_locations.md
  content/en/api/synthetics/get_locations_code.md
  content/en/api/synthetics/get_result.md
  content/en/api/synthetics/get_result_code.md
  content/en/api/synthetics/get_results.md
  content/en/api/synthetics/get_results_code.md
  content/en/api/synthetics/get_test.md
  content/en/api/synthetics/get_test_code.md
  content/en/api/synthetics/get_tests.md
  content/en/api/synthetics/get_tests_code.md
  content/en/api/synthetics/post_delete.md
  content/en/api/synthetics/post_delete_code.md
  content/en/api/synthetics/post_test.md
  content/en/api/synthetics/post_test_code.md
  content/en/api/synthetics/put_status.md
  content/en/api/synthetics/put_status_code.md
  content/en/api/synthetics/put_test.md
  content/en/api/synthetics/put_test_code.md
Labels: API, Bug

#5742 Update debug tracer mode instructions for .NET APM.
  content/en/tracing/troubleshooting/_index.md
Labels: Do Not Merge, Tracing

#5777 Documenting support for email
  content/en/synthetics/browser_tests.md
  static/images/synthetics/browser_tests/assertions_browser_check.png
  static/images/synthetics/browser_tests/browser_test_assertions.png
  static/images/synthetics/browser_tests/browser_test_variables.mp4
  static/images/synthetics/browser_tests/setup_variable.png
Labels: Synthetics, editorial review

#5771 move code tabs to component, fix styling
  src/scripts/components/codetabs.js
  src/scripts/datadog-docs.js
  src/styles/pages/_global.scss
Labels: Architecture

#5788 Update JMX included in tracer doc
  content/en/tracing/advanced/runtime_metrics.md
Labels: Tracing

#5756 Fix typos and parameters in log processor doc
  content/en/logs/processing/processors.md
Labels: API, Logs

#5789 Changing assertions image
  static/images/synthetics/browser_tests/browser_test_assertions.png
Labels: Synthetics

#5745 Code copy button
  content/en/account_management/rbac/role_api.md
  content/en/agent/basic_agent_usage/aix.md
  content/en/agent/faq/agent-v6-changes.md
  content/en/developers/metrics/dogstatsd_metrics_submission.md
  layouts/shortcodes/code-block.html
  layouts/shortcodes/snippet-code-block.html
  layouts/shortcodes/snippet-result-code-block.html
  src/scripts/components/copy-code.js
  src/scripts/main-dd-js.js
  src/styles/_custom.scss
  src/styles/pages/_global.scss
Labels: Architecture
