Repository DataDog/documentation, pull requests merged in 2019-03, with the labels that each got.

#4101 [Widgets] fix broken link
  content/en/graphing/widgets/event_stream.md
Labels: Bug

#4102 [DD_AC_EXCLUDE] only honored for Autodiscovery
  content/en/agent/docker/_index.md
Labels: agent

#4104 [API] rate limit for metric retrieval
  content/en/api/rate_limiting/rate_limiting.md
Labels: API

#4105 [Python Logs] fix link / wording
  content/en/logs/log_collection/python.md
Labels: Logs

#4106 [Notification FAQ] update formats / wording
  content/en/developers/faq/what-do-notifications-do-in-datadog.md
Labels: KB/FAQ

#4110 Fix `site` configuration info in Agent doc.
  content/en/agent/basic_agent_usage/_index.md
  content/fr/agent/basic_agent_usage/_index.md
Labels: Bug, agent

#3968 Updated JMX metric section
  config.yaml
  content/en/tracing/advanced_usage/_index.md
  content/en/tracing/languages/java.md
  data/partials/mainnav.yaml
  layouts/shortcodes/get-metrics-from-git.html
  src/images/tracing/jvm-runtime.png
  src/images/tracing/jvm_runtime_trace.png
Labels: Tracing

#4118 Document tag autodiscovery from Pod annotations
  content/en/agent/autodiscovery/_index.md
Labels: agent

#3988 removed click event causing console error
  src/js/datadog-docs.js
Labels: Architecture

#4034 how to edit standard attributes
  content/en/logs/processing/attributes_naming_convention.md
  src/images/logs/processing/attribute_naming_convention/define_standard_attribute.png
  src/images/logs/processing/attribute_naming_convention/edit_standard_attributes.png
  src/images/logs/processing/attribute_naming_convention/standard_attributes.png
Labels: Logs

#4119 [C# Logs] Add blog link
  content/en/logs/log_collection/csharp.md
Labels: Logs

#4033 Graphing json
  content/en/graphing/_index.md
  content/en/graphing/graphing_json.md
  content/en/graphing/graphing_json/_index.md
  content/en/graphing/graphing_json/request_json.md
  content/en/graphing/graphing_json/widget_json.md
  content/en/graphing/widgets/_index.md
  content/en/graphing/widgets/alert_graph.md
  content/en/graphing/widgets/alert_value.md
  content/en/graphing/widgets/change.md
  content/en/graphing/widgets/check_status.md
  content/en/graphing/widgets/distribution.md
  content/en/graphing/widgets/event_timeline.md
  content/en/graphing/widgets/free_text.md
  content/en/graphing/widgets/group.md
  content/en/graphing/widgets/heat_map.md
  content/en/graphing/widgets/hostmap.md
  content/en/graphing/widgets/iframe.md
  content/en/graphing/widgets/image.md
  content/en/graphing/widgets/log_stream.md
  content/en/graphing/widgets/monitor_summary.md
  content/en/graphing/widgets/note.md
  content/en/graphing/widgets/query_value.md
  content/en/graphing/widgets/scatter_plot.md
  content/en/graphing/widgets/service_summary.md
  content/en/graphing/widgets/timeseries.md
  content/en/graphing/widgets/top_list.md
  data/partials/mainnav.yaml
  layouts/shortcodes/whatsnext.html
  src/images/graphing/graphing_json/markers.png
  src/images/graphing/graphing_json/references-graphing-jsoneditor.png
Labels: API, App

#4123 [Tracing PHP] Add link to blog post
  content/en/tracing/languages/php.md
Labels: Tracing

#4115 [dashboards] Add API payload documentation for remaining widgets
  content/en/graphing/graphing_json/widget_json.md
  content/en/graphing/widgets/alert_graph.md
  content/en/graphing/widgets/alert_value.md
  content/en/graphing/widgets/change.md
  content/en/graphing/widgets/check_status.md
  content/en/graphing/widgets/distribution.md
  content/en/graphing/widgets/event_stream.md
  content/en/graphing/widgets/event_timeline.md
  content/en/graphing/widgets/free_text.md
  content/en/graphing/widgets/group.md
  content/en/graphing/widgets/heat_map.md
  content/en/graphing/widgets/hostmap.md
  content/en/graphing/widgets/iframe.md
  content/en/graphing/widgets/image.md
  content/en/graphing/widgets/log_stream.md
  content/en/graphing/widgets/monitor_summary.md
  content/en/graphing/widgets/note.md
  content/en/graphing/widgets/query_value.md
  content/en/graphing/widgets/scatter_plot.md
  content/en/graphing/widgets/service_summary.md
  content/en/graphing/widgets/timeseries.md
  content/en/graphing/widgets/top_list.md
Labels: API, App

#4128 Integration Logo Updates
  local/githooks/pre-commit.d/integration-logos
  src/images/integrations_logos/twistlock.png
Labels: Integration

#4057 Add community log drains
  content/en/developers/libraries.md
Labels: agent

#4135 David.jones/fix screenboards error
  content/en/api/screenboards/code_snippets/api-screenboard-get-all.py
  content/en/api/screenboards/code_snippets/api-screenboard-get-all.rb
  content/en/api/screenboards/code_snippets/api-screenboard-get-all.sh
  content/en/api/screenboards/code_snippets/result.api-screenboard-get-all.py
  content/en/api/screenboards/code_snippets/result.api-screenboard-get-all.rb
  content/en/api/screenboards/code_snippets/result.api-screenboard-get-all.sh
  layouts/section/api.html
Labels: Architecture

#4145 [Widgets - Note] fix broken link
  content/en/graphing/widgets/note.md
Labels: Bug

#4160 [Uptime Widget] remove text
  content/en/monitors/monitor_uptime_widget.md
Labels: Bug

#4138 [Agent Proxy] updates
  content/en/agent/proxy.md
Labels: Logs

#4165 [Widget Event] fixed broken link
  content/en/graphing/widgets/event_timeline.md
Labels: Bug

#4173 Updates for APM .NET Tracer v0.8
  content/en/tracing/advanced_usage/_index.md
  content/en/tracing/languages/dotnet.md
Labels: Tracing

#4139 Add AWS DocumentDB logo
  src/images/integrations_logos/amazon_documentdb.png
Labels: Integration

#4177 fix manual log injection example missing the format
  content/en/tracing/advanced_usage/_index.md
Labels: Tracing

#4178 Mention restarting PHP after installing the PHP tracer
  content/en/tracing/languages/php.md
Labels: Tracing

#4181 Unix Domain Socket
  content/en/developers/dogstatsd/unix_socket.md
Labels: agent

#4186 [Windows] update supported os
  content/en/agent/_index.md
  content/en/agent/basic_agent_usage/windows.md
Labels: Agent

#4187 [Azure] update logo
  src/images/integrations_logos/azure.png
Labels: Integration

#4188 [Cloud Functions] table metrics
  content/en/graphing/infrastructure/cloudfunctions.md
Labels: App

#4195 Typo fix
  content/en/logs/explorer/analytics.md
Labels: Bug

#4190 Docker permission denied errors
  content/en/agent/faq/getting-further-with-docker.md
Labels: Integration

#4200 [Graphing Guide] fix broken link
  content/en/graphing/guide/_index.md
Labels: Bug

#4199 logs guide/faq refactor
  content/en/logs/faq/_index.md
  content/en/logs/guide/_index.md
  content/en/logs/guide/integration-pipeline-reference.md
  content/en/logs/guide/log-collection-troubleshooting-guide.md
  content/en/logs/guide/log-parsing-best-practice.md
  content/en/logs/guide/setting-file-permissions-for-rotating-logs.md
Labels: Logs

#4204 Fixing aliases
  content/en/logs/guide/integration-pipeline-reference.md
  content/en/logs/guide/log-collection-troubleshooting-guide.md
  content/en/logs/guide/log-parsing-best-practice.md
  content/en/logs/guide/setting-file-permissions-for-rotating-logs.md
Labels: Bug

#4201 Update Documentation for Upload Idp Metadata API
  content/en/api/org/code_snippets/api-idp-upload.sh
  content/en/api/org/idp_update.md
  content/en/api/org/idp_update_code.md
Labels: API

#4206 [Go Logs] add blog link
  content/en/logs/log_collection/go.md
Labels: Logs

#4209 replace specific version with `<TRACER_VERSION>` in sample code
  content/en/tracing/languages/dotnet.md
Labels: Tracing

#4210 Anchor links
  src/js/datadog-docs.js
Labels: Architecture

#4214 Revert "Anchor links"
  src/js/datadog-docs.js
Labels: Bug

#4213 Update short lived and multiline log instruction
  content/en/logs/log_collection/_index.md
  content/en/logs/log_collection/docker.md
Labels: Logs

#4215 make ruths changes a bit more specific to avoid issues on other parts…
  src/js/datadog-docs.js
Labels: Architecture

#4026 Log search api
  content/en/api/logs/code_snippets/list_logs.py
  content/en/api/logs/code_snippets/list_logs.rb
  content/en/api/logs/code_snippets/list_logs.sh
  content/en/api/logs/code_snippets/result.list_logs.py
  content/en/api/logs/code_snippets/result.list_logs.rb
  content/en/api/logs/code_snippets/result.list_logs.sh
  content/en/api/logs/list_logs.md
  content/en/api/logs/list_logs_code.md
  content/en/api/rate_limiting/rate_limiting.md
Labels: API, Do Not Merge, Logs

#4218 update data collected in cf docs
  content/en/integrations/cloud_foundry.md
  ja/content/integrations/cloud_foundry.md
Labels: Bug, Integration

#4225 📝[Logs-API] Small english proposition
  content/en/api/logs/list_logs.md
Labels: Logs

#4224 Fix variable typo
  content/en/agent/kubernetes/dogstatsd.md
Labels: Agent, Bug

#4207 Monitors guide/faq refactor
  content/en/monitors/faq/_index.md
  content/en/monitors/guide/_index.md
  content/en/monitors/guide/as-count-monitor-evaluation.md
  content/en/monitors/guide/visualize-your-service-check-in-the-datadog-ui.md
  data/partials/mainnav.yaml
Labels: Guide/FAQ

#4228 Removing marketing
  content/en/logs/_index.md
Labels: Bug, Logs

#4231 [web-platform] update tagdex disappearance duration to 12 hours
  content/en/graphing/faq/how-do-i-delete-a-host-or-metric-from-the-ui.md
Labels: App

#4232 adding oregon and london datacenter locations
  content/en/synthetics/api_test.md
  content/en/synthetics/browser_test.md
Labels: Synthetics

#4233 php apm added support for symfony2
  content/en/tracing/languages/php.md
Labels: Tracing

#4227 APM/Tracing section - guide refactor
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/agent-5-tracing-setup.md
  content/en/tracing/guide/distributed-tracing.md
  content/en/tracing/guide/terminology.md
  data/partials/mainnav.yaml
Labels: Guide/FAQ

#4239 re-enabling snowplow pageviews tracking
  layouts/partials/footer_scripts/snowplow.html
Labels: Architecture

#4244 Fixes typo and word choice on log file tailing FAQ
  content/en/logs/faq/how-to-increase-the-number-of-log-files-tailed-by-the-agent.md
Labels: Bug, Logs

#4237 Fix function desc
  content/en/graphing/functions/arithmetic.md
Labels: App, Bug

#4245 Fixes aliases from #4207
  content/en/monitors/guide/as-count-monitor-evaluation.md
  content/en/monitors/guide/visualize-your-service-check-in-the-datadog-ui.md
Labels: Bug

#4229 The Datadog Agent for Logs or Traces Only
  content/en/agent/faq/_index.md
  content/en/agent/faq/the-datadog-agent-for-logs-or-traces-only.md
  content/en/logs/faq/_index.md
  content/en/logs/faq/can-the-datadog-agent-be-used-to-send-only-logs.md
Labels: Tracing

#4211 updates based on engineering feedback and grammar and style updates
  content/en/graphing/functions/algorithms.md
  content/en/monitors/monitor_types/forecasts.md
Labels: Bug, monitors

#4246 .NET tracing compatiblity
  content/en/tracing/languages/dotnet.md
Labels: Do Not Merge

#4248 include payload limits
  content/en/api/metrics/metrics_timeseries.md
Labels: API

#4247 fixing merge conflict I accidentally merged
  content/en/monitors/monitor_types/forecasts.md
Labels: Bug, monitors

#4238 Adding new guide sections to the search
  local/etc/docsdatadoghq.json
Labels: Architecture

#4249 [Agent Index] add links
  content/en/agent/_index.md
Labels: Agent

#4255 clean up some small issues in the forecast docs
  content/en/graphing/functions/algorithms.md
  content/en/monitors/monitor_types/forecasts.md
Labels: App, Bug

#4257 Fixing aliases
  content/en/graphing/widgets/_index.md
  content/en/synthetics/api_test.md
  content/en/synthetics/browser_test.md
Labels: Bug

#4260 remove private beta functions from the docs
  content/en/graphing/functions/beta.md
Labels: App

#4172 [Agent Guide] Integration Management
  content/en/agent/guide/_index.md
  content/en/agent/guide/integration-management.md
Labels: Guide/FAQ

#4253 Removing deprecated note
  content/en/tracing/visualization/resource.md
  content/en/tracing/visualization/service.md
Labels: Tracing

#4254 Updating broken links
  content/en/integrations/cloud_foundry.md
  content/en/logs/faq/how-to-remap-custom-severity-values-to-the-official-log-status.md
  content/en/logs/faq/why-do-my-logs-not-have-the-expected-timestamp.md
  content/en/logs/faq/why-do-my-logs-show-up-with-an-info-status-even-for-warnings-or-errors.md
  content/en/logs/processing/attributes_naming_convention.md
Labels: Bug, Logs

#4258 [log] Updating screenshot
  src/images/logs/processing/processors/category_processor.png
Labels: Bug, Logs

#4264 adding delete account info
  content/en/account_management/_index.md
Labels: App

#4262 clarifying autodiscovery variables
  content/en/agent/autodiscovery/_index.md
Labels: Bug, Integration

#4226 add trace search & analytics client configuration docs for node
  content/en/tracing/advanced_usage/_index.md
Labels: Tracing

#4267 removing the suggestion sending people to make a PR
  content/en/tracing/languages/dotnet.md
Labels: Tracing

#4265 clarifying what the agent does with more than one configuration file
  content/en/agent/guide/agent-configuration-files.md
Labels: Agent

#4261 adding in fargate pricing to containers billing page
  content/en/account_management/billing/containers.md
Labels: App

#4234 APM Ruby trace analytics documentation
  content/en/tracing/advanced_usage/_index.md
Labels: Tracing

#4271 APM .NET Tracer: Web Forms support
  content/en/tracing/languages/dotnet.md
Labels: Tracing

#4230 update client auth k8s faq
  content/en/integrations/faq/client-authentication-against-the-apiserver-and-kubelet.md
Labels: Guide/FAQ

#4272 Removing outdated video
  content/en/videos/_index.md
  content/en/videos/tipsandtricks-k8s-autodiscovery.md
  ja/content/_index.md
  ja/content/videos/tipsandtricks-k8s-autodiscovery.md
Labels: Bug

#4275 Moving the note on log processing rule to highlight it more
  content/en/logs/log_collection/_index.md
Labels: Logs

#4273 [AWS SSM] install the agent
  content/en/agent/faq/_index.md
  content/en/agent/faq/install-the-agent-with-aws-ssm.md
Labels: Guide/FAQ

#4277 image of execution role in aws console for a docs fix
  src/images/logs/aws/execution_role.png
Labels: App

#4268 [APM Getting Started] - Create basic APM guide
  content/en/getting_started/tracing.md
  data/partials/mainnav.yaml
  src/images/getting_started/tracing-services-list.png
Labels: Tracing

#4280 adding in what's next link for the new blog
  content/en/logs/log_collection/java.md
Labels: Logs

#4282 Logs - update docker host installation instructions
  content/en/logs/log_collection/docker.md
Labels: Logs

#4270 Document B3 headers
  content/en/tracing/languages/java.md
Labels: Tracing

#3989 Add Trace Analytics Docs
  content/en/tracing/advanced_usage/_index.md
  content/en/tracing/languages/java.md
  content/en/tracing/languages/php.md
  data/partials/mainnav.yaml
  src/images/tracing/enable_trace_search.png
Labels: Tracing

#4284 Fix agent log guide link
  content/en/integrations/faq/i-have-a-matching-bean-for-my-jmx-integration-but-nothing-on-collect.md
Labels: Bug

#4286 Add missing logos
  local/githooks/pre-commit.d/integration-logos
  src/images/integrations_logos/bind9.png
  src/images/integrations_logos/nextcloud.png
  src/images/integrations_logos/presto.png
Labels: Integration
