Repository DataDog/documentation, pull requests merged in 2019-05, with the labels that each got.

#4513 Fix 404 links
  content/fr/agent/apm/_index.md
  content/fr/tracing/visualization/analytics.md
Labels: Bug

#4519 Add Aliases for 404 links
  content/en/getting_started/_index.md
  content/en/tagging/_index.md
Labels: Bug

#4507 changing directory to file
  content/en/integrations/journald.md
Labels: Synthetics

#4463 suppressing roles API instead of deleting
  content/en/account_management/rbac/_index.md
  content/en/account_management/rbac/log_management.md
  content/en/account_management/rbac/role_api.md
  content/fr/account_management/rbac/_index.md
  data/partials/mainnav.fr.yaml
  data/partials/mainnav.yaml
Labels: API

#4523 [APM PHP] Trace search updates
  content/en/tracing/trace_search_and_analytics/_index.md
Labels: Tracing

#4524 [APM] Trace Search and analytics
  content/en/tracing/trace_search_and_analytics/_index.md
  content/en/tracing/trace_search_and_analytics/agent_trace_search.md
Labels: Tracing

#4526 Primary tags links fix
  content/en/monitors/monitor_types/apm.md
  content/en/tagging/assigning_tags.md
  content/en/tracing/guide/resource_monitor.md
  content/en/tracing/visualization/services_list.md
  content/en/tracing/visualization/services_map.md
  content/fr/monitors/monitor_types/apm.md
Labels: Bug, Tracing

#4528 Fixing placeholders
  content/en/developers/dogstatsd/datagram_shell.md
Labels: Bug

#4522 Algolia boost
  local/etc/docsdatadoghq.json
Labels: Architecture

#4520 Estib/s3 archives tags not included
  content/en/logs/archives/s3.md
Labels: Logs

#4530 Fix typo in browser log documentation
  content/en/logs/log_collection/javascript.md
Labels: Logs

#4531 Fixing postman endpoint to use api instead of app
  static/resources/json/datadog_collection.json
Labels: API, Bug

#4533 add envvar for nodejs autoconfig
  content/en/tracing/trace_search_and_analytics/_index.md
Labels: Tracing

#4534 APM wording changes
  content/en/developers/faq/data-collection-resolution-retention.md
  content/en/tracing/trace_search_and_analytics/_index.md
Labels: Tracing

#4535 Add alias for old faq article
  content/en/agent/troubleshooting.md
Labels: Guide/FAQ

#4540 Kubernetes Daemonset - fix link
  content/en/agent/kubernetes/daemonset_setup.md
Labels: Bug

#4539 adding client versions for trace search
  content/en/tracing/trace_search_and_analytics/_index.md
Labels: Tracing

#4542 Search FAQ update
  content/en/account_management/billing/containers.md
  content/en/agent/apm/_index.md
  content/en/agent/basic_agent_usage/_index.md
  content/en/agent/faq/_index.md
  content/en/agent/faq/agent-5-vs-agent-6-for-docker-kubernetes.md
  content/en/agent/faq/inaccurate-containers-pods-metrics.md
  content/en/agent/faq/rbac-for-dca-running-on-aks-with-helm.md
  content/en/agent/guide/_index.md
  content/en/agent/guide/agent-5-autodiscovery.md
  content/en/agent/guide/agent-5-kubernetes-basic-agent-usage.md
  content/en/agent/guide/dogstream.md
  content/en/developers/faq/_index.md
  content/en/developers/guide/_index.md
  content/en/graphing/guide/_index.md
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/container-integration-event.md
  content/en/integrations/faq/docker-ecs-kubernetes-events.md
  content/en/integrations/faq/list-of-api-source-attribute-value.md
  content/en/logs/faq/_index.md
  content/en/logs/guide/_index.md
  content/en/monitors/faq/_index.md
  content/en/monitors/guide/_index.md
  content/en/synthetics/faq/_index.md
  content/en/tracing/faq/_index.md
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/agent-5-tracing-setup.md
  local/etc/docsdatadoghq.json
Labels: Architecture

#4474 watchdog facets
  content/en/watchdog.md
  src/images/watchdog/watchdog-facets.png
  src/images/watchdog/watchdog-facets2.png
Labels: App

#4538 [java] Update instrumentation list with new libraries
  content/en/tracing/setup/java.md
Labels: Integration

#4512 Azure Integration logos
  src/images/integrations_logos/azure_apimanagement.png
  src/images/integrations_logos/azure_applicationgateway.png
  src/images/integrations_logos/azure_appserviceenvironment.png
  src/images/integrations_logos/azure_automation.png
  src/images/integrations_logos/azure_cognitiveservices.png
  src/images/integrations_logos/azure_containerinstances.png
  src/images/integrations_logos/azure_containerservice.png
  src/images/integrations_logos/azure_cosmosdb.png
  src/images/integrations_logos/azure_customerinsights.png
  src/images/integrations_logos/azure_datafactory.png
  src/images/integrations_logos/azure_datalakeanalytics.png
  src/images/integrations_logos/azure_datalakestore.png
  src/images/integrations_logos/azure_db_for_mariadb.png
  src/images/integrations_logos/azure_eventgrid.png
  src/images/integrations_logos/azure_expressroute.png
  src/images/integrations_logos/azure_filestorage.png
  src/images/integrations_logos/azure_hdinsight.png
  src/images/integrations_logos/azure_keyvault.png
  src/images/integrations_logos/azure_loadbalancer.png
  src/images/integrations_logos/azure_networkinterface.png
  src/images/integrations_logos/azure_notificationhubs.png
  src/images/integrations_logos/azure_publicipaddress.png
  src/images/integrations_logos/azure_relay.png
  src/images/integrations_logos/azure_search.png
  src/images/integrations_logos/azure_streamanalytics.png
Labels: Integration

#4544 Update images for the LOG FAQ article
  content/en/logs/faq/why-do-my-logs-show-up-with-an-info-status-even-for-warnings-or-errors.md
  src/images/logs/faq/processor.png
  src/images/logs/faq/source_attribute.png
Labels: Logs

#4546 Removed unsupported param
  content/en/graphing/graphing_json/widget_json.md
Labels: API, App, Bug

#4545 Document the host filtering parameter
  content/en/api/metrics/code_snippets/api-metrics-list.sh
  content/en/api/metrics/metrics_list.md
Labels: API

#4547 [Browser log] Fix addLoggerGlobalContext API
  content/en/logs/log_collection/javascript.md
Labels: Bug, Logs

#4525 [APM Tag] Removing misleading wording
  content/en/tracing/advanced/adding_metadata_to_spans.md
Labels: Tracing

#4556 Update PHP docs with PHP 7.3 support and SAPI support
  content/en/tracing/setup/php.md
Labels: Integration

#4555 remove FAQ on hostnames
  content/en/developers/dogstatsd/_index.md
  content/en/developers/faq/how-to-remove-the-host-tag-when-submitting-metrics-via-dogstatsd.md
Labels: Bug, Guide/FAQ

#4509 ADM Integrations Icon
  src/images/integrations_logos/adm.png
Labels: Integration

#4565 renaming ADM logo
  src/images/integrations_logos/azure_deployment_manager.png
Labels: Bug, Integration

#4563 updating banner for Forrester Wave™
  config.yaml
  layouts/partials/announcement_banner/announcement_banner.scss
Labels: Architecture

#4557 Fixing broken links and other small changes
  content/en/api/metrics/metrics_querytime.md
  content/en/api/rate_limiting/rate_limiting.md
  content/en/tracing/advanced/manual_instrumentation.md
  content/en/tracing/guide/configure_an_apdex_for_your_traces_with_datadog_apm.md
  content/en/tracing/guide/trace_sampling_and_storage.md
  content/en/tracing/setup/java.md
Labels: Bug

#4562 removing missed references
  content/en/developers/dogstatsd/data_types.md
  content/en/developers/faq/_index.md
Labels: Bug, Guide/FAQ

#4554 Update log instruction for K8s
  content/en/agent/kubernetes/daemonset_setup.md
  content/en/agent/kubernetes/host_setup.md
Labels: Logs

#4573 Fix param + placeholder
  content/en/agent/faq/docker-jmx.md
Labels: Bug

#4572 Adding information for APM troubleshooting
  content/en/tracing/troubleshooting/_index.md
Labels: Tracing

#4575 Upudate PHP tracing docs with DD_SERVICE_NAME config env
  content/en/tracing/setup/php.md
Labels: Tracing

#4569 Template variable in note widget
  content/en/graphing/dashboards/template_variables.md
  src/images/graphing/dashboards/template_variables/edit_mode_template_variable.png
  src/images/graphing/dashboards/template_variables/template_variable_note_widget.png
Labels: App

#4576 PHP docs: CLI, Artisan and new env var
  content/en/tracing/setup/php.md
Labels: Tracing

#4568 AWS Tags
  content/en/tagging/assigning_tags.md
Labels: App

#4579 remove non-existent link
  content/en/tagging/assigning_tags.md
Labels: Bug

#4580 Update Interpolation FAQ
  content/en/graphing/faq/interpolation-the-fill-modifier-explained.md
Labels: Guide/FAQ

#4583 Update log-collection-troubleshooting-guide.md
  content/en/logs/guide/log-collection-troubleshooting-guide.md
Labels: Logs

#4570 Adding list of Agent APM metrics
  content/en/agent/faq/_index.md
  content/en/agent/faq/agent-apm-metrics.md
Labels: Tracing

#4582 Moving dashboard back-up to libraries page
  content/en/developers/libraries.md
  content/en/graphing/dashboards/screenboard.md
  content/en/graphing/dashboards/timeboard.md
  content/en/monitors/_index.md
Labels: API

#4586 GCP Integrations Logos
  src/images/integrations_logos/google_cloud_bigtable.png
  src/images/integrations_logos/google_cloud_dataflow.png
  src/images/integrations_logos/google_cloud_dataproc.png
  src/images/integrations_logos/google_cloud_interconnect.png
  src/images/integrations_logos/google_cloud_iot.png
  src/images/integrations_logos/google_cloud_loadbalancing.png
  src/images/integrations_logos/google_cloud_router.png
Labels: Integration

#4585 Fixing APM troubleshooting actions
  content/en/tracing/troubleshooting/_index.md
Labels: Bug, Tracing

#4588 Fix version compatibility
  content/en/tracing/setup/java.md
Labels: Tracing

#4551 Adding agent obfuscation for traces guide
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/agent-5-tracing-setup.md
  content/en/tracing/guide/agent-obfuscation.md
Labels: Guide/FAQ, Tracing

#4593 Trace Search config Python
  content/en/tracing/trace_search_and_analytics/_index.md
Labels: Tracing

#4527 Export log to JSON
  content/en/logs/explorer/_index.md
  src/images/logs/explorer/upper_log_panel.png
Labels: Logs

#4550 Update doc with synthetics on EU
  content/en/api/synthetics/synthetics.md
  content/en/synthetics/_index.md
  content/en/synthetics/api_test.md
  content/en/synthetics/apm.md
  content/en/synthetics/browser_test.md
  content/en/synthetics/identify_synthetics_bots.md
Labels: Synthetics

#4602 David.jones/nav update
  data/partials/header.yaml
  layouts/partials/header/header.html
Labels: Architecture

#4600 Apollo Engine integration logo
  src/images/integrations_logos/apollo_engine.png
Labels: Integration

#4599 Adding missing alias
  content/en/integrations/faq/container-integration-event.md
Labels: Architecture

#4592 Fixes search
  content/en/logs/processing/parsing.md
  local/etc/docsdatadoghq.json
Labels: Architecture

#4591 Autodiscovery Update
  content/en/agent/autodiscovery/_index.md
Labels: Agent

#4604 Monitor Notifications for Integrations
  content/en/monitors/notifications.md
Labels: monitors

#4601 changes following up discussion with eng
  content/en/synthetics/identify_synthetics_bots.md
Labels: Synthetics

#4594 Synthetics Brower Tests
  content/en/synthetics/api_test.md
  content/en/synthetics/browser_test.md
  src/images/synthetics/api_test/uptime_check_make_request.png
  src/images/synthetics/browser_test/Screenshot 2019-02-05 at 16.11.51.png
  src/images/synthetics/browser_test/browser_check_configuration.png
  src/images/synthetics/browser_test/browser_check_notification.png
  src/images/synthetics/browser_test/check_frequency.png
Labels: Synthetics

#4464 adding some synthetics retention metrics
  content/en/developers/faq/data-collection-resolution-retention.md
Labels: Synthetics

#4603 small updates and typo fixes
  content/en/agent/faq/how-datadog-agent-determines-the-hostname.md
  content/en/agent/faq/how-to-monitor-snmp-devices.md
  content/en/agent/troubleshooting.md
  content/en/developers/faq/deploying-the-agent-on-raspberrypi.md
  content/en/getting_started/learning_center.md
  content/en/graphing/faq/why-isn-t-my-aws-trusted-advisor-dashboard-showing-any-data.md
  content/en/tracing/guide/trace_sampling_and_storage.md
  src/images/graphing/faq/aws_trusted_permission.png
Labels: Bug

#4610 [Slack] update configuration image
  src/images/integrations/slack/slack_configuration.png
Labels: Integration

#4597 [Logs ]Adding requirements for TSL encryption
  content/en/integrations/nxlog.md
  static/resources/crt/datadog.ca.eu.pem
Labels: Logs

#4608 Including EU logic in Postman collection
  content/en/developers/guide/using-postman-with-datadog-apis.md
  src/images/developers/guide/postman/SetAPIKeys.png
  src/images/developers/guide/postman/description.gif
  src/images/developers/guide/postman/import_collection.gif
  src/images/developers/guide/postman/parameters.png
  src/images/developers/guide/postman/setAPIKeys2.png
  src/images/developers/guide/postman/workingWithTheCollection.png
  static/resources/json/datadog_collection.json
Labels: API

#4618 [Browser log] update API
  content/en/logs/log_collection/javascript.md
Labels: Logs

#4609 Update tracing docs re: meta field string requirements
  content/en/api/tracing/send_trace.md
Labels: Agent

#4622 add cost management cat
  content/en/integrations/cloudability.md
  content/fr/integrations/cloudability.md
Labels: Architecture

#4624 Add missing integrations logos
  src/images/integrations_logos/ambari.png
  src/images/integrations_logos/azure_analysisservices.png
  src/images/integrations_logos/azure_appserviceplan.png
  src/images/integrations_logos/google_cloud_apis.png
  src/images/integrations_logos/google_cloud_composer.png
  src/images/integrations_logos/google_cloud_file.png
  src/images/integrations_logos/google_cloud_firestore.png
  src/images/integrations_logos/google_cloud_redis.png
  src/images/integrations_logos/google_cloud_tasks.png
  src/images/integrations_logos/google_cloud_tpu.png
  src/images/integrations_logos/kube_metrics_server.png
  src/images/integrations_logos/segment.png
Labels: Integration

#4621 Arithmetic processor - rounding
  content/en/logs/processing/processors.md
Labels: Logs

#4619 Moving docker log collection into agent section
  content/en/agent/autodiscovery/_index.md
  content/en/agent/docker/_index.md
  content/en/agent/docker/apm.md
  content/en/agent/docker/log.md
  content/en/graphing/infrastructure/livecontainers.md
  content/en/logs/_index.md
  content/en/logs/guide/integration-pipeline-reference.md
  content/en/logs/guide/log-collection-troubleshooting-guide.md
  content/en/logs/log_collection/_index.md
  data/partials/mainnav.fr.yaml
  data/partials/mainnav.yaml
Labels: Agent, Logs

#4615 Updating guide list design
  content/en/developers/guide/_index.md
Labels: Architecture

#4607 Add sample config file
  content/en/integrations/faq/postgres-custom-metric-collection-explained.md
Labels: Guide/FAQ

#4623 SSL Synthetics tests
  content/en/api/synthetics/post_test.md
  content/en/api/synthetics/put_test.md
  content/en/synthetics/_index.md
  content/en/synthetics/api_test.md
  content/en/synthetics/api_tests/_index.md
  content/en/synthetics/api_tests/errors.md
  content/en/synthetics/browser_tests.md
  content/en/synthetics/faq/uptime-check-internal-website.md
  content/en/synthetics/identify_synthetics_bots.md
  content/fr/synthetics/_index.md
  data/partials/mainnav.fr.yaml
  data/partials/mainnav.yaml
  src/images/synthetics/api_test/assertion.png
  src/images/synthetics/api_test/uptime_check_notifications.png
  src/images/synthetics/api_tests/assertions_setup.gif
  src/images/synthetics/api_tests/make-http-request.png
  src/images/synthetics/api_tests/make-ssl-request.png
  src/images/synthetics/api_tests/notifications-example.png
  src/images/synthetics/api_tests/ssl-self-signed-error.png
  src/images/synthetics/browser_tests/Screenshot 2019-02-05 at 16.11.51.png
  src/images/synthetics/browser_tests/assertions_browser_check.png
  src/images/synthetics/browser_tests/browser_check_assertions.png
  src/images/synthetics/browser_tests/browser_check_configuration.png
  src/images/synthetics/browser_tests/browser_check_notification.png
  src/images/synthetics/browser_tests/browser_check_record_test.png
  src/images/synthetics/browser_tests/check_frequency.png
  src/images/synthetics/browser_tests/setup_variable.png
  src/images/synthetics/browser_tests/use_variable_in_assertion.png
  src/images/synthetics/browser_tests/variable_input.gif
  static/resources/json/datadog_collection.json
Labels: Synthetics

#4627 [logs] update logs intake cert
  content/en/integrations/nxlog.md
  static/resources/crt/FULL_intake.logs.datadoghq.eu.crt
Labels: Integration, Logs

#4626 FAQ - Limited Internet Connectivity
  content/en/agent/faq/how-do-i-install-the-agent-on-a-server-with-limited-internet-connectivity.md
  src/images/agent/faq/install_agent.gif
  src/images/agent/faq/rpm_package.gif
Labels: Guide/FAQ

#4632 update Node APM docs for 0.11.2 release of `dd-trace-js`
  content/en/tracing/setup/nodejs.md
Labels: Tracing

#4635 Fix open tracing link
  content/en/tracing/advanced/manual_instrumentation.md
Labels: Bug

#4639 Integations Update assets path
  local/etc/pull_config.yaml
Labels: Architecture

#4643 Remove Azure Storage Logo
  src/images/integrations_logos/azure_storage.png
Labels: Integration

#4642 Adding synthetics new setting and credentials logic
  content/en/synthetics/browser_tests.md
  content/en/synthetics/settings/_index.md
  data/partials/mainnav.yaml
  src/images/synthetics/browser_tests/setup_variable.png
  src/images/synthetics/settings/credential.png
Labels: Synthetics

#4640 [Synthetics] Updating gif
  src/images/synthetics/apm/synthetics-apm.gif
Labels: Synthetics

#4638 Adding missing aliases
  content/en/synthetics/api_tests/_index.md
  content/en/synthetics/browser_tests.md
Labels: Bug

#4644 APM - dotnet tracer - expand supported library versions
  content/en/tracing/setup/dotnet.md
Labels: Tracing

#4606 New Agent troubleshooting section
  content/en/agent/faq/_index.md
  content/en/agent/faq/cannot-open-an-http-server-socket-error-reported-errno-eacces-13.md
  content/en/agent/faq/common-windows-agent-installation-error-1721.md
  content/en/agent/faq/how-to-solve-permission-denied-errors.md
  content/en/agent/faq/i-stoped-my-agent-but-i-m-still-seeing-the-host.md
  content/en/agent/faq/network-time-protocol-ntp-offset-issues.md
  content/en/agent/faq/why-don-t-i-see-the-system-processes-open-file-descriptors-metric.md
  content/en/agent/troubleshooting.md
  content/en/agent/troubleshooting/_index.md
  content/en/agent/troubleshooting/agent_check_status.md
  content/en/agent/troubleshooting/debug_mode.md
  content/en/agent/troubleshooting/ntp.md
  content/en/agent/troubleshooting/permissions.md
  content/en/agent/troubleshooting/send_a_flare.md
  content/en/integrations/faq/list-of-api-source-attribute-value.md
  data/partials/mainnav.yaml
Labels: Agent

#4641 Removing docker jmx FAQ.
  content/en/agent/docker/_index.md
  content/en/agent/faq/_index.md
  content/en/agent/faq/docker-jmx.md
  content/en/integrations/faq/troubleshooting-jmx-integrations.md
  content/fr/agent/docker/_index.md
Labels: Guide/FAQ, Integration

#4647 APM > .NET > fix url typo in sample code
  content/en/tracing/setup/dotnet.md
Labels: Tracing

#4650 Using new assets logic on extras
  local/etc/pull_config.yaml
Labels: Architecture

#4652 rewording Agent error faq
  content/en/agent/faq/error-restarting-agent-already-listening-on-a-configured-port.md
Labels: Guide/FAQ

#4654 AWS attributes from Host API
  content/en/agent/faq/how-datadog-agent-determines-the-hostname.md
Labels: Guide/FAQ

#4653 fixing missed updates
  content/en/tracing/guide/trace_sampling_and_storage.md
Labels: Bug, Tracing

#4637 Prometheus getting started
  content/en/agent/prometheus.md
  content/en/getting_started/prometheus.md
  data/partials/mainnav.yaml
Labels: Agent, Integration

#4658 synthetics: Update minimum interval
  content/en/synthetics/api_tests/_index.md
Labels: Synthetics

#4633 Host Metrics for the Container Agent
  content/en/agent/docker/_index.md
  content/en/agent/faq/_index.md
  content/en/agent/faq/getting-further-with-docker.md
  content/en/agent/faq/host-metrics-with-the-container-agent.md
  content/en/agent/kubernetes/_index.md
  content/fr/agent/docker/_index.md
Labels: Guide/FAQ

#4659 Remove FAQ about making Agent setup for APM and log.
  content/en/agent/_index.md
  content/en/agent/faq/the-datadog-agent-for-logs-or-traces-only.md
Labels: Guide/FAQ

#4669 Delete graph_selector.png
  content/en/logs/explorer/analytics.md
  content/en/tracing/trace_search_and_analytics/analytics.md
  src/images/logs/explorer/analytics/graph_selector.png
  src/images/logs/explorer/analytics/logs_table_example.gif
  src/images/tracing/trace_search_and_analytics/analytics/trace_table_example.gif
Labels: Do Not Merge, Logs, Tracing

#4670 Removing entries that redirect to another section
  data/partials/mainnav.yaml
Labels: Architecture

#4672 Removing reference to measure for Trace Search
  content/en/tracing/trace_search_and_analytics/analytics.md
  content/en/tracing/trace_search_and_analytics/search.md
Labels: App, Tracing

#4674 move custom python page to developers section
  content/en/agent/faq/_index.md
  content/en/developers/guide/_index.md
  content/en/developers/guide/custom-python-package.md
Labels: Guide/FAQ

#4666 adding note about wildcards in k8s pod labels as tags
  content/en/tagging/assigning_tags.md
Labels: Agent

#4671 Aws ssm
  content/en/agent/faq/install-the-agent-with-aws-ssm.md
  static/resources/json/dd-agent-install-eu-site.json
  static/resources/json/dd-agent-install-us-site.json
Labels: Guide/FAQ

#4679 Removing stale faq entry
  content/en/agent/faq/_index.md
Labels: Bug

#4630 Add hostname detection parameter to Java tracing configuration
  content/en/tracing/setup/java.md
Labels: Tracing

#4678 Adding missing alias
  content/en/developers/guide/custom-python-package.md
Labels: Bug

#4686 changing metric monitor type to metric alert
  content/en/api/monitors/monitors_create.md
Labels: API

#4687 add note about downtime monitor recovery
  content/en/monitors/downtimes.md
Labels: monitors

#4681 Removes Forwarder logs contain 599 response code FAQ
  content/en/agent/faq/_index.md
  content/en/agent/faq/forwarder-logs-contain-599-response-code.md
Labels: Guide/FAQ

#4680 updating doc about agent ports
  content/en/agent/guide/upgrade-to-agent-v6.md
Labels: Agent

#4684 Fixing the postman collection endpoints
  static/resources/json/datadog_collection.json
Labels: API

#4688 Ruth/link fixes
  content/en/agent/basic_agent_usage/amazonlinux.md
  content/en/agent/basic_agent_usage/centos.md
  content/en/agent/basic_agent_usage/deb.md
  content/en/agent/basic_agent_usage/fedora.md
  content/en/agent/basic_agent_usage/osx.md
  content/en/agent/basic_agent_usage/redhat.md
  content/en/agent/basic_agent_usage/suse.md
  content/en/agent/basic_agent_usage/ubuntu.md
  content/en/agent/docker/_index.md
  content/fr/agent/basic_agent_usage/amazonlinux.md
  content/fr/agent/basic_agent_usage/centos.md
  content/fr/agent/basic_agent_usage/deb.md
  content/fr/agent/basic_agent_usage/fedora.md
  content/fr/agent/docker/_index.md
  content/fr/integrations/java.md
Labels: Bug

#4693 Table analytics image fix
  content/en/logs/explorer/analytics.md
  content/en/tracing/trace_search_and_analytics/analytics.md
  src/images/logs/explorer/analytics/logs_table_example.gif
  src/images/logs/explorer/analytics/logs_table_example.png
  src/images/tracing/trace_search_and_analytics/analytics/trace_table_example.gif
  src/images/tracing/trace_search_and_analytics/analytics/trace_table_example.png
Labels: Bug

#4692 [Synthetics] Removing beta flag
  content/en/synthetics/_index.md
  content/en/synthetics/api_tests/_index.md
  content/en/synthetics/api_tests/errors.md
  content/en/synthetics/apm.md
  content/en/synthetics/browser_tests.md
  content/en/synthetics/faq/uptime-check-internal-website.md
  content/en/synthetics/identify_synthetics_bots.md
Labels: Architecture, Synthetics

#4694 Add LaunchDarkly
  content/en/developers/libraries.md
Labels: App

#4698 David.jones/addpostjob
  .gitlab-ci.yml
Labels: Architecture

#4695 small Synthetics updates
  content/en/synthetics/browser_tests.md
Labels: Synthetics

#4699 updating celery version supported by ddtrace
  content/en/tracing/setup/python.md
Labels: Bug, Tracing

#4532 origin detection over UDP
  content/en/agent/kubernetes/dogstatsd.md
  content/en/tagging/assigning_tags.md
Labels: Agent

#4700 Updating the get all monitors response
  content/en/api/monitors/code_snippets/result.api-monitor-show-all.sh
Labels: API, Bug, monitors

#4707 Fix link
  content/en/agent/kubernetes/dogstatsd.md
Labels: Bug

#4709 updating gin link
  content/en/tracing/setup/go.md
Labels: Bug, Tracing
