Repository DataDog/documentation, pull requests merged in 2019-06, with the labels that each got.

#4708 AWS Codebuild logo
  src/images/integrations_logos/amazon_codebuild.png
Labels: Integration

#4720 An array of small updates
  content/en/account_management/saml/_index.md
  content/en/agent/apm/_index.md
  content/en/integrations/faq/compose-and-the-datadog-agent.md
  content/en/monitors/guide/as-count-in-monitor-evaluations.md
Labels: Guide/FAQ, Tracing

#4719 Adding new section and more context for the selected dashboard
  content/en/graphing/dashboards/_index.md
  src/images/graphing/dashboards/suggested_dashboards.png
Labels: App

#4718 Slack notify with username
  content/en/monitors/notifications.md
Labels: monitors

#4717 Remove False Spikes FAQ
  content/en/graphing/faq/_index.md
  content/en/graphing/faq/false-spikes-sometimes-appear-on-my-sum-graph.md
Labels: Guide/FAQ

#4728 Windows Basic Agent Usage
  content/en/agent/basic_agent_usage/windows.md
Labels: Agent

#4571 [apm/java] Document JMX metrics enabled by default
  content/en/tracing/advanced/runtime_metrics.md
  content/en/tracing/setup/java.md
Labels: Tracing

#4587 Add documentation for new Dashboard list API (v2)
  content/en/api/dashboard_lists/code_snippets/api-dashboard-list-add-items.py
  content/en/api/dashboard_lists/code_snippets/api-dashboard-list-add-items.rb
  content/en/api/dashboard_lists/code_snippets/api-dashboard-list-add-items.sh
  content/en/api/dashboard_lists/code_snippets/api-dashboard-list-delete-items.py
  content/en/api/dashboard_lists/code_snippets/api-dashboard-list-delete-items.rb
  content/en/api/dashboard_lists/code_snippets/api-dashboard-list-delete-items.sh
  content/en/api/dashboard_lists/code_snippets/api-dashboard-list-get-items.py
  content/en/api/dashboard_lists/code_snippets/api-dashboard-list-get-items.rb
  content/en/api/dashboard_lists/code_snippets/api-dashboard-list-get-items.sh
  content/en/api/dashboard_lists/code_snippets/api-dashboard-list-update-items.py
  content/en/api/dashboard_lists/code_snippets/api-dashboard-list-update-items.rb
  content/en/api/dashboard_lists/code_snippets/api-dashboard-list-update-items.sh
  content/en/api/dashboard_lists/code_snippets/result.api-dashboard-list-add-items.py
  content/en/api/dashboard_lists/code_snippets/result.api-dashboard-list-add-items.rb
  content/en/api/dashboard_lists/code_snippets/result.api-dashboard-list-add-items.sh
  content/en/api/dashboard_lists/code_snippets/result.api-dashboard-list-delete-items.py
  content/en/api/dashboard_lists/code_snippets/result.api-dashboard-list-delete-items.rb
  content/en/api/dashboard_lists/code_snippets/result.api-dashboard-list-delete-items.sh
  content/en/api/dashboard_lists/code_snippets/result.api-dashboard-list-get-items.py
  content/en/api/dashboard_lists/code_snippets/result.api-dashboard-list-get-items.rb
  content/en/api/dashboard_lists/code_snippets/result.api-dashboard-list-get-items.sh
  content/en/api/dashboard_lists/code_snippets/result.api-dashboard-list-update-items.py
  content/en/api/dashboard_lists/code_snippets/result.api-dashboard-list-update-items.rb
  content/en/api/dashboard_lists/code_snippets/result.api-dashboard-list-update-items.sh
  content/en/api/dashboard_lists/dashboard_lists_add_items.md
  content/en/api/dashboard_lists/dashboard_lists_add_items_code.md
  content/en/api/dashboard_lists/dashboard_lists_delete_items.md
  content/en/api/dashboard_lists/dashboard_lists_delete_items_code.md
  content/en/api/dashboard_lists/dashboard_lists_get_items.md
  content/en/api/dashboard_lists/dashboard_lists_get_items_code.md
  content/en/api/dashboard_lists/dashboard_lists_update_items.md
  content/en/api/dashboard_lists/dashboard_lists_update_items_code.md
  content/en/graphing/guide/_index.md
  content/en/graphing/guide/dashboard-lists-api-v1-doc.md
Labels: API

#4731 Adding note about Case Sensitive metrics names
  content/en/developers/guide/what-best-practices-are-recommended-for-naming-metrics-and-tags.md
  content/en/developers/metrics/_index.md
Labels: App

#4732 Dogwrap
  content/en/developers/faq/_index.md
  content/en/developers/faq/can-i-call-scripts-and-generate-events-from-their-results.md
  content/en/developers/guide/_index.md
  content/en/developers/guide/dogwrap.md
Labels: App, Guide/FAQ

#4733 Elb FAQ
  content/en/account_management/billing/aws.md
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/i-can-t-filter-out-my-elb-instances-will-i-be-charged-for-them.md
Labels: Guide/FAQ

#4660 Auto discovery section refactor
  content/en/agent/autodiscovery/_index.md
  content/en/agent/autodiscovery/ad_identifiers.md
  content/en/agent/autodiscovery/integrations.md
  content/en/agent/autodiscovery/management.md
  content/en/agent/autodiscovery/tag.md
  content/en/agent/autodiscovery/template_variables.md
  content/en/agent/autodiscovery/troubleshooting.md
  content/en/agent/docker/log.md
  content/en/agent/guide/agent-configuration-files.md
  content/en/agent/kubernetes/daemonset_setup.md
  content/en/agent/kubernetes/integrations.md
  content/en/getting_started/prometheus.md
  content/en/integrations/faq/integration-setup-ecs-fargate.md
  content/en/logs/guide/log-collection-troubleshooting-guide.md
  data/partials/mainnav.yaml
Labels: Agent

#4741 AD: fixing link and list layout
  content/en/agent/autodiscovery/integrations.md
Labels: Agent

#4743 [Monitor Status] Fixing button text + list layout
  content/en/monitors/monitor_status.md
Labels: monitors

#4749 changing_headers_browser_api_tests
  content/en/synthetics/identify_synthetics_bots.md
Labels: Synthetics

#4655 Getting Started with the Agent
  content/en/agent/_index.md
  content/en/agent/basic_agent_usage/_index.md
  content/en/getting_started/agent.md
  content/fr/agent/_index.md
  content/fr/agent/basic_agent_usage/_index.md
  data/partials/mainnav.yaml
  data/partials/platforms.yaml
  layouts/agent/single.html
  layouts/partials/platforms/platform-select-desktop.html
  layouts/partials/platforms/platform-select-mobile.html
  layouts/partials/platforms/platforms.html
  src/images/icons/platform_ansible.png
  src/images/icons/platform_chef.png
  src/images/icons/platform_cloud_foundry.png
  src/images/icons/platform_coreos.png
  src/images/icons/platform_kubernetes.png
  src/images/icons/platform_openshift.png
  src/images/icons/platform_suse.png
Labels: Agent

#4751 Integrations update
  content/en/integrations/_index.md
Labels: Integration

#4755 Integration FAQ Clean-up
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/additional-aws-metrics-min-max-sum.md
  content/en/integrations/faq/i-just-set-up-my-aws-integration-why-am-i-seeing-duplicate-hosts.md
  content/en/integrations/faq/i-removed-my-aws-ec2-integration-why-do-my-hosts-still-have-aws-tags.md
  content/en/integrations/faq/i-think-i-m-missing-some-of-my-cloudtrail-events.md
  content/en/integrations/faq/using-events-for-service-checks-is-deprecated-in-favor-of-monitors.md
  content/en/integrations/faq/why-am-i-only-seeing-the-average-values-of-my-custom-aws-cloudwatch-metrics.md
Labels: Guide/FAQ

#4758 akamai logo
  src/images/integrations_logos/akamai.png
Labels: Integration

#4737 Add paperplane
  content/en/tracing/setup/nodejs.md
Labels: Tracing

#4761 Add missing logos
  local/githooks/pre-commit.d/integration-logos
  src/images/integrations_logos/amazon_elasticbeanstalk copy.png
  src/images/integrations_logos/amazon_elasticbeanstalk.png
  src/images/integrations_logos/amazon_ops_works.png
  src/images/integrations_logos/amazon_route53.png
  src/images/integrations_logos/amazon_xray.png
  src/images/integrations_logos/hive.png
  src/images/integrations_logos/kube_apiserver_metrics.png
Labels: Integration

#4768 David.jones/config updates
  .gitlab-ci.yml
  README.md
  config.yaml
  config/_default/config.yaml
  config/_default/languages.yaml
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  config/_default/params.en.yaml
  config/_default/params.fr.yaml
  config/_default/params.yaml
  config/development/config.yaml
  config/development/params.yaml
  config/live.yaml
  config/live/config.yaml
  config/live/params.yaml
  config/preview.yaml
  config/preview/config.yaml
  config/preview/params.yaml
  data/partials/platforms.yaml
  ja/local/bin/py/placehold_translations.py
  layouts/partials/meta.html
  layouts/partials/preload.html
  local/bin/py/placehold_translations.py
  local/bin/sh/run-site.sh
  package.json
  translate.yaml
  yarn.lock
Labels: Architecture

#4764 Integration FAQs
  content/en/agent/faq/why-should-i-install-the-agent-on-my-cloud-instances.md
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/does-datadog-support-aws-alb-application-load-balancer.md
  content/en/integrations/faq/how-can-i-monitor-the-health-status-of-my-rds-instances.md
  content/en/integrations/faq/where-are-my-elb-latency-metrics.md
  content/en/integrations/faq/why-is-my-aws-error-count-metric-orders-of-magnitude-lower-in-datadog-than-cloudwatch.md
  content/en/integrations/faq/wrong-count-of-aws-elb-healthy-host-count.md
Labels: Guide/FAQ

#4772 Integration FAQs
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/cloud-metric-delay.md
  content/en/integrations/faq/how-do-i-pull-my-ec2-tags-without-using-the-aws-integration.md
  content/en/integrations/faq/why-is-there-a-delay-in-receiving-my-data.md
Labels: Guide/FAQ

#4766 Adding pre-requisite for no_data_timeframe parameter
  content/en/api/monitors/monitors_create.md
Labels: API

#4781 updating logo name
  src/images/integrations_logos/akamai_datastream.png
Labels: Integration

#4784 Fixing JA headers
  data/partials/header.ja.yaml
Labels: Bug

#4786 make nav dropdowns fit text
  layouts/partials/header/header.html
  layouts/partials/header/header.scss
  src/scss/pages/_fr.scss
  src/scss/pages/_ja.scss
  src/scss/style.scss
Labels: Architecture

#4780 fixing front param
  content/en/logs/_index.md
Labels: Bug

#4785 Adding missing alias from former ja doc
  content/en/monitors/guide/visualize-your-service-check-in-the-datadog-ui.md
Labels: Bug

#4783 Support email address
  content/en/account_management/faq/access-your-support-ticket.md
  content/en/integrations/faq/issues-getting-integrations-working.md
Labels: Guide/FAQ

#4771 Standard integrations that emit custom metrics
  content/en/account_management/billing/custom_metrics.md
  content/en/developers/metrics/custom_metrics.md
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/what-standard-integrations-emit-custom-metrics.md
  content/fr/developers/metrics/custom_metrics.md
Labels: Guide/FAQ

#4767 fixing example desc
  content/en/logs/explorer/search.md
  content/en/tracing/trace_search_and_analytics/search.md
Labels: Bug, Logs

#4790 Update windows agent install commands
  content/en/agent/basic_agent_usage/windows.md
Labels: Agent

#4792 Adding calculating pricing info to the pricing page
  content/en/account_management/billing/pricing.md
Labels: App

#4661 Refactor APM getting started experience
  content/en/agent/apm/_index.md
  content/en/agent/docker/apm.md
  content/en/graphing/widgets/service_map.md
  content/en/graphing/widgets/service_summary.md
  content/en/tracing/_index.md
  content/en/tracing/advanced/setting_primary_tags_to_scope.md
  content/en/tracing/send_traces/_index.md
  content/en/tracing/setup/_index.md
  content/en/tracing/setup/php.md
  content/en/tracing/visualization/_index.md
  data/partials/mainnav.yaml
  layouts/partials/apm/apm-containers.html
  layouts/partials/apm/apm-languages.html
  src/images/tracing/advanced/setting_primary_tags/envs_tracing_screen.png
  src/images/tracing/advanced/setting_primary_tags/primary_tags_ui.png
Labels: Agent, Tracing

#4798 Small typo fixes
  content/en/tracing/_index.md
  content/en/tracing/send_traces/_index.md
  layouts/partials/apm/apm-containers.html
Labels: Tracing

#4796 Update Prometheus metrics and other page things
  content/en/getting_started/prometheus.md
Labels: Agent

#4797 Misspelled Lambda
  content/en/tracing/send_traces/_index.md
Labels: Bug

#4801 [servicenow] add cmdb images
  src/images/integrations/servicenow/servicenow-cmdb-add-discovery-source.png
  src/images/integrations/servicenow/servicenow-cmdb-dd-configuration-settings.png
  src/images/integrations/servicenow/servicenow-cmdb-navigate-to-transform-maps.png
  src/images/integrations/servicenow/servicenow-cmdb-transform-maps.png
Labels: Integration

#4800 Merge Integrations Issues FAQ into Agent Troubleshooting section
  content/en/agent/troubleshooting/integrations.md
  content/en/integrations/faq/_index.md
  data/partials/mainnav.yaml
Labels: Guide/FAQ, Integration

#4802 Agent Core Checks
  content/en/getting_started/agent.md
  content/en/integrations/system.md
Labels: Agent

#4795 clarify remove tags api call
  content/en/api/tags/tags_delete.md
Labels: API

#4806 Update api-metrics-list.sh
  content/en/api/metrics/code_snippets/api-metrics-list.sh
Labels: API

#4805 Update integrations.md
  content/en/agent/autodiscovery/integrations.md
Labels: Bug

#4804 removing duplicate link
  content/en/tracing/send_traces/_index.md
Labels: Bug, Tracing

#4810 Adding naming precision for folder name
  content/en/logs/log_collection/_index.md
Labels: Logs

#4809 Fixing broken links
  content/en/tracing/_index.md
Labels: Bug

#4787 Fixing list in main readme
  README.md
Labels: Bug

#4776 fixing link
  content/en/monitors/notifications.md
Labels: Bug

#4748 Mongo custom queries
  content/en/_index.md
  content/en/integrations/faq/postgres-custom-metric-collection-explained.md
  content/en/integrations/faq/what-is-a-custom-metric-and-what-is-the-limit-on-the-number-of-custom-metrics-i-can-have.md
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/collect-sql-server-custom-metrics.md
  content/en/integrations/guide/mongo-custom-query-collection.md
Labels: Agent, Integration

#4794 Distribution metrics
  content/en/developers/faq/datadog_collection.json
  content/en/developers/metrics/distributions.md
  content/en/graphing/metrics/distributions.md
  src/images/graphing/metrics/distributions/distribution_metric.png
  src/images/graphing/metrics/distributions/global_metrics_selection.png
Labels: App

#4817 Add configuration properties for version 0.30.0 of the trace agent
  content/en/tracing/setup/java.md
Labels: Tracing

#4807 Michaelw/browser logs
  layouts/_default/baseof.html
Labels: Architecture

#4822 Fix download link for the latest version of the java agent
  content/en/tracing/setup/java.md
Labels: Bug, Integration

#4829 APM Java StatsD host
  content/en/tracing/setup/java.md
Labels: Tracing

#4833 adding a lighthouse logo
  src/images/integrations_logos/lighthouse.png
Labels: Integration

#4778 Docker Agent
  content/en/agent/docker/_index.md
Labels: Agent

#4842 Fix tag to enable trace search and analytics
  content/en/tracing/trace_search_and_analytics/_index.md
Labels: Tracing

#4841 updating list of source attributes
  content/en/integrations/faq/list-of-api-source-attribute-value.md
Labels: Integration

#4837 small additions to k8s index
  content/en/agent/kubernetes/_index.md
Labels: Agent

#4813 Updating apm event documentation
  content/en/tracing/trace_search_and_analytics/search.md
Labels: Tracing

#4832 Agent community integrations installation.
  content/en/agent/guide/_index.md
  content/en/agent/guide/agent-commands.md
  content/en/agent/guide/agent-configuration-files.md
  content/en/agent/guide/agent-log-files.md
  content/en/agent/guide/community-integrations-installation-with-docker-agent.md
  content/en/agent/guide/network.md
Labels: Agent

#4827 Rearranging and reworking some FAQ, synthetics pricing quick fix
  content/en/account_management/billing/pricing.md
  content/en/agent/autodiscovery/_index.md
  content/en/agent/faq/_index.md
  content/en/integrations/faq/integration-setup-ecs-fargate.md
  content/en/tracing/send_traces/_index.md
  content/en/tracing/send_traces/agent-apm-metrics.md
  content/fr/_index.md
  content/fr/integrations/ibm_was.md
  content/fr/integrations/network.md
  content/fr/monitors/notifications.md
  content/ja/_index.md
  data/partials/mainnav.yaml
Labels: Guide/FAQ

#4834 Missing metrics script
  .gitlab-ci.yml
  local/bin/py/missing_metrics.py
Labels: Architecture

#4846 Agent log level
  content/en/agent/troubleshooting/debug_mode.md
Labels: Agent

#4854 Fix APM broken link
  content/en/tracing/send_traces/_index.md
Labels: Bug

#4844 APM > .NET > Logs injection
  content/en/tracing/advanced/connect_logs_and_traces.md
  content/en/tracing/setup/dotnet.md
Labels: Tracing

#4859 David.jones/remove minify
  .gitlab-ci.yml
Labels: Architecture

#4851 Bumping hugo version
  layouts/taxonomy/video.html
  package.json
  yarn.lock
Labels: Architecture

#4860 Debumping hugo
  package.json
  yarn.lock
Labels: Architecture, Bug

#4850 Fixing list layout
  content/en/agent/guide/community-integrations-installation-with-docker-agent.md
Labels: Bug

#4858 Fixing instructions for Amazon linux AMI original and Agent v5
  content/en/integrations/faq/agent-5-amazon-ecs.md
  static/resources/json/dd-agent-ecs1.json
Labels: Agent, Bug

#4857 Adding version for jvm metrics enabled
  content/en/tracing/advanced/runtime_metrics.md
  content/en/tracing/setup/java.md
Labels: Tracing

#4828 Cswatt/billing cloudwatch
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/using-datadog-s-aws-billing-integration-to-monitor-your-cloudwatch-usage.md
Labels: Guide/FAQ

#4824 Priyanshi/apm sampling
  content/en/api/tracing/send_trace.md
  content/en/developers/_index.md
  content/en/developers/libraries.md
  content/en/security/tracing.md
  content/en/tracing/_index.md
  content/en/tracing/advanced/manual_instrumentation.md
  content/en/tracing/advanced/opentracing.md
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/agent-5-tracing-setup.md
  content/en/tracing/guide/distributed_tracing.md
  content/en/tracing/guide/trace_sampling_and_storage.md
  content/en/tracing/setup/java.md
  content/en/tracing/setup/php.md
  content/en/tracing/visualization/services_map.md
  data/partials/mainnav.yaml
  src/images/tracing/product_specs/trace_sampling_storage/tracing-flow-chart.png
Labels: Tracing

#4864 [doc] typo on settings
  content/en/synthetics/settings/_index.md
Labels: Bug, Synthetics

#4847 System tags
  content/en/integrations/system.md
Labels: Integration

#4863 added note to doc
  content/en/monitors/notifications.md
Labels: monitors

#4868 Java - ANALYTICS_SAMPLE_RATE expects a number
  content/en/tracing/trace_search_and_analytics/_index.md
Labels: Tracing

#4867 Fixing table layout
  content/en/tracing/guide/agent-5-tracing-setup.md
Labels: Bug, Tracing

#4870 make sure there is a default card id to help avoid issues with corp u…
  layouts/partials/integrations/integrations.html
Labels: Architecture

#4866 New Yarn Lock
  yarn.lock
Labels: Architecture

#4869 Fixing links
  content/en/tracing/guide/trace_sampling_and_storage.md
  content/en/tracing/trace_search_and_analytics/search.md
  data/partials/mainnav.yaml
Labels: Bug

#4871 Fix broken aliases
  content/en/graphing/dashboards/shared_graph.md
  content/en/graphing/dashboards/template_variables.md
  content/en/graphing/metrics/summary.md
  content/en/logs/logging_without_limits.md
  content/en/logs/processing/parsing.md
  content/en/tracing/trace_search_and_analytics/analytics.md
  content/en/tracing/trace_search_and_analytics/search.md
  content/fr/agent/kubernetes/daemonset_setup.md
Labels: Bug

#4763 removing redundant faq
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/get-your-autoscaling-group-events-and-metrics.md
Labels: Do Not Merge, Guide/FAQ, Integration

#4872 Fix broken tables
  content/en/developers/metrics/counts.md
  content/en/developers/metrics/distributions.md
  content/en/developers/metrics/gauges.md
  content/en/developers/metrics/rates.md
  content/en/developers/metrics/sets.md
  content/en/monitors/monitor_types/composite.md
  content/fr/developers/metrics/counts.md
  content/fr/developers/metrics/distributions.md
  content/fr/developers/metrics/gauges.md
  content/fr/monitors/monitor_types/composite.md
Labels: Bug

#4874 Removing ja entries from the sitemap
  layouts/sitemap.xml
  layouts/sitemapindex.xml
Labels: Architecture

#4875 use long GPG key ID
  content/en/agent/guide/upgrade-to-agent-v6.md
Labels: Agent

#4878 350+ integrations
  content/en/_index.md
  content/en/getting_started/_index.md
  content/en/integrations/_index.md
  content/en/security/other.md
  content/fr/_index.md
  content/fr/getting_started/_index.md
  content/fr/integrations/_index.md
  content/fr/security/other.md
Labels: Integration

#4877 Get host tags python
  content/en/api/tags/code_snippets/api-tags-get-host.py
Labels: API

#4876 hostname_fqdn
  content/en/agent/faq/how-datadog-agent-determines-the-hostname.md
Labels: Agent

#4885 Update K8s documentation with short lived container.
  content/en/agent/kubernetes/daemonset_setup.md
Labels: Agent, Logs

#4886 Update K8s log collection logic
  content/en/agent/kubernetes/daemonset_setup.md
Labels: Agent, Logs

#4888 Update the log collection behaviour when the proxy is used and miscon…
  content/en/integrations/cloud_foundry.md
  src/images/integrations/cloud_foundry/logs_misconfigured_proxy.png
Labels: Integration, Logs

#4889 Changed: Deprecated Ruby 1.9 support for Ruby APM
  content/en/tracing/setup/ruby.md
Labels: Tracing

#4891 update postman collection
  content/en/developers/faq/datadog_collection.json
  static/resources/json/datadog_collection.json
Labels: API

#4892 Fixing hugo version to fix bullet point issue
  package.json
  yarn.lock
Labels: Architecture

#4893 Test edit to french file
  content/fr/_index.md
  content/ja/integrations/_index.md
Labels: Architecture

#4412 k8s service endpoints check
  content/en/agent/autodiscovery/clusterchecks.md
  content/en/agent/autodiscovery/endpointschecks.md
  data/partials/mainnav.yaml
Labels: Agent

#4682 mount docker container logs directory
  content/en/agent/kubernetes/daemonset_setup.md
Labels: Agent, Logs

#4803 secrets management
  content/en/agent/guide/_index.md
  content/en/agent/guide/secrets-management.md
Labels: Agent

#4895 add hreflang partial to template and sitemap. Keep disabled for now
  layouts/_default/404-baseof.html
  layouts/_default/api-baseof.html
  layouts/_default/baseof.html
  layouts/partials/hreflang.html
  layouts/sitemap.xml
Labels: Architecture
