Repository DataDog/documentation, pull requests merged in 2020-11, with the labels that each got.

#8965 API's/IP's used instead of APIs/IPs
  content/en/network_performance_monitoring/network_page.md
Labels: network_performance_monitoring

#8966 Update _index.md
  content/en/logs/archives/_index.md
Labels: logs

#8964 APM > Trace/Log Correlation > .NET > Update Serilog manual trace correlation docs
  content/en/tracing/connect_logs_and_traces/dotnet.md
Labels: tracing

#8944 Add Azure Stack HCI OS to List of Supported Operating Systems
  content/en/agent/basic_agent_usage/_index.md
Labels: agent

#8963 style on cards on tabs
  src/styles/pages/_global.scss
Labels: Architecture

#8975 Update csharp.md
  content/en/logs/log_collection/csharp.md
Labels: logs

#8970 Correct link to APM ingestion-controls page
  content/en/tracing/trace_retention_and_ingestion/_index.md
  content/fr/tracing/trace_retention_and_ingestion/_index.md
Labels: tracing

#8973 [PAU-19] Additional usage metrics that are GA
  content/en/account_management/billing/usage_metrics.md
Labels: account_management

#8962 adding the troubleshooting section with the known issue
  content/en/serverless/deployment_tracking/_index.md
Labels: Do Not Merge, serverless

#8977 Small changes to identify bots page
  content/en/synthetics/guide/identify_synthetics_bots.md
Labels: Guide, synthetics

#8978 remove categories and tags
  config/_default/config.yaml
Labels: Architecture

#8982 Fixed typo in word continuous
  content/en/tracing/setup/java.md
Labels: tracing

#8985 add corp as a reviewer on package.json updates
  .github/CODEOWNERS
Labels: Github

#8981 Add .NET 5 support information to .NET Tracer documentation
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-core.md
  content/en/tracing/setup_overview/custom_instrumentation/dotnet.md
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#8993 Add limit on the number of tags added on an alert event
  content/en/monitors/manage_monitor.md
Labels: monitors

#8994 Fix "hecks" and wording in request filtering
  content/en/tracing/setup_overview/custom_instrumentation/nodejs.md
Labels: tracing

#8996 WEB-920 fix path issue
  src/scripts/datadog-docs.js
Labels: Architecture

#8988 Update Helm stable repo location
  content/en/agent/kubernetes/_index.md
Labels: agent

#8990 Update java.md
  content/en/tracing/setup_overview/setup/java.md
Labels: tracing

#8991 Added note about running javaagent in classpath
  content/en/tracing/setup_overview/open_standards/java.md
Labels: tracing

#8980 [APM PHP] Update docs for 0.50.0 release
  content/en/tracing/setup_overview/compatibility_requirements/php.md
Labels: tracing

#8997 Docker Hub / GCR Tables
  content/en/agent/cluster_agent/_index.md
  content/en/agent/docker/_index.md
  content/en/agent/guide/_index.md
  content/en/agent/guide/container-images-for-docker-environments.md
  content/en/developers/dogstatsd/_index.md
  content/en/getting_started/synthetics/private_location.md
  yarn.lock
Labels: Guide, agent, developers, getting_started

#9000 Remove dupe content
  content/en/agent/docker/tag.md
Labels: Bug, agent

#9001 Add algorithmia tile
  static/images/integrations_logos/algorithmia.png
Labels: Images

#9003 Remove another dupe
  content/en/agent/docker/tag.md
Labels: Bug, agent

#9004 [WEB-924] fix api anchors with accents
  layouts/api/list.html
  layouts/partials/nav/api-main-menu.html
Labels: Architecture

#8860 [WEB-442] - refactor rum/logs setup
  .gitlab-ci.yml
  config/_default/config.yaml
  config/_default/languages.yaml
  layouts/_default/404-baseof.html
  layouts/_default/baseof.html
  layouts/api/baseof.html
  layouts/index.html
  local/bin/py/placehold_translations.py
  package.json
  src/scripts/components/algolia.js
  src/scripts/components/async-loading.js
  src/scripts/components/dd-browser-logs-rum.js
  src/scripts/components/integrations.js
  src/scripts/components/table-of-contents.js
  src/scripts/region-redirects.js
  webpack.common.js
  yarn.lock
Labels: Architecture

#9006 APM > .NET > Logs injection: Remove reference to LibLog library
  content/en/tracing/connect_logs_and_traces/dotnet.md
Labels: tracing

#9005 Add docker pull info
  content/en/agent/docker/_index.md
  content/en/agent/guide/container-images-for-docker-environments.md
Labels: Guide, agent

#9007 removing image
  content/en/agent/guide/container-images-for-docker-environments.md
Labels: Guide, agent

#9009 Error tracking supports custom errors from RUM
  content/en/real_user_monitoring/error_tracking/_index.md
Labels: real_user_monitoring

#9010 WEB-929 fix docs menu indent
  layouts/partials/nav/main-menu.html
  src/scripts/datadog-docs.js
  src/styles/components/_sidenav.scss
Labels: Architecture

#9011 Update Usage Details page
  content/en/account_management/billing/usage_details.md
  static/images/account_management/billing/usage-details-v2-01.png
  static/images/account_management/billing/usage-details-v2-02.png
  static/images/account_management/billing/usage-details-v2-03.png
  static/images/account_management/billing/usage-details-v2-04.png
  static/images/account_management/billing/usage-details-v2-07.png
  static/images/account_management/billing/usage-details-v2-08.png
  static/images/account_management/billing/usage-details-v2-09.png
Labels: Images, account_management

#9012 move generate page under live processes
  config/_default/menus/menus.en.yaml
  content/en/infrastructure/_index.md
  content/en/infrastructure/process/generate_process_metrics.md
Labels: Architecture, infrastructure

#9018 Fix Profiler Beta Sign up link
  content/en/tracing/profiler/_index.md
  content/en/tracing/profiler/getting_started.md
Labels: Do Not Merge, tracing

#9017 Caroline.kim/specify unaffected kubelet metrics
  content/en/agent/docker/_index.md
  content/en/agent/guide/autodiscovery-management.md
  content/en/agent/kubernetes/_index.md
Labels: Guide, agent

#9013 Improve Secrets doc
  content/en/agent/guide/secrets-management.md
Labels: Guide, agent

#9020 Adding image note + other docker registry clarifications
  content/en/agent/docker/_index.md
Labels: agent

#9019 Fix example code blocks
  content/en/integrations/faq/i-have-a-matching-bean-for-my-jmx-integration-but-nothing-on-collect.md
  static/images/integrations/faq/jmx_conf.png
  static/images/integrations/faq/jmx_metric_type.png
Labels: FAQ, Images, integrations

#8967 New Log Guide: keep control on sensitive data flowing in logs
  content/en/logs/guide/_index.md
  content/en/logs/guide/control-sensitive-logs-data.md
  content/fr/logs/guide/logs-restrict-sensitive.md
  static/images/logs/guide/sensitive/sensitive_data_access.png
  static/images/logs/guide/sensitive/sensitive_exclusion-filters.png
  static/images/logs/guide/sensitive/sensitive_outline_query.png
Labels: Guide, Images, logs

#8960 Improvements to APM -> Compatibility -> .NET Core
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-core.md
Labels: tracing

#9022 Wildcard example
  content/en/logs/search_syntax.md
Labels: logs

#9024 [cluster-agent] Correct link to the DatadogMetric CRD
  content/en/agent/cluster_agent/external_metrics.md
  content/fr/agent/cluster_agent/external_metrics.md
Labels: agent

#9029 [PROD] add missing period for logs URL
  content/en/agent/guide/network.md
Labels: Guide, agent

#9030 Docs broken links 11/11/20
  content/en/agent/amazon_ecs/_index.md
  content/en/agent/amazon_ecs/data_collected.md
  content/en/agent/amazon_ecs/logs.md
  content/en/getting_started/tagging/_index.md
Labels: agent, getting_started

#9031 Add missing logos
  static/images/integrations_logos/azure_iot_edge.png
  static/images/integrations_logos/n2ws.png
Labels: Images

#9032 Add blog post link
  content/en/network_performance_monitoring/dns_monitoring.md
Labels: network_performance_monitoring

#9038 Update python environment variables
  content/en/tracing/setup_overview/setup/python.md
Labels: tracing

#9043 Update extension docs for logs integration
  content/en/serverless/datadog_lambda_library/extension.md
Labels: serverless

#9035 Fix link to querying for Top List widget
  content/en/dashboards/widgets/top_list.md
Labels: dashboards

#9015 RUM v2 format
  content/en/real_user_monitoring/browser/data_collected.md
Labels: real_user_monitoring

#9041 [RUM] fix RUM dashboards legacy screenshots
  content/en/real_user_monitoring/dashboards/_index.md
  static/images/real_user_monitoring/dashboards/rum_applications.gif
  static/images/real_user_monitoring/dashboards/view_related_views.gif
  static/images/real_user_monitoring/dashboards/view_rum_events.gif
Labels: Images, real_user_monitoring

#9049 Fix YAML spacing for HPA example
  content/en/agent/cluster_agent/external_metrics.md
Labels: agent

#8592 API homepage updates
  content/en/api/_index.md
  content/en/api/v1/_index.md
  content/en/api/v2/_index.md
  content/en/getting_started/api/_index.md
  layouts/api/list.html
  layouts/partials/api/sdk-languages.html
  static/images/getting_started/postman/variables.png
  static/images/getting_started/postman/view-more-actions.png
Labels: Architecture, Images, api, getting_started

#9050 update profiling docs for 0.68 release
  content/en/tracing/profiler/getting_started.md
Labels: tracing

#9045 Update java.md
  content/en/tracing/setup_overview/setup/java.md
Labels: tracing

#9047 [RUM] Add getRumGlobalContext()
  content/en/real_user_monitoring/browser/advanced_configuration.md
  content/fr/real_user_monitoring/browser/advanced_configuration.md
  content/ja/real_user_monitoring/browser/advanced_configuration.md
Labels: real_user_monitoring

#9044 Update troubleshooting docs
  content/en/tracing/profiler/getting_started.md
  content/en/tracing/profiler/profiler_troubleshooting.md
Labels: tracing

#9052 Update apm_distributed_tracing.md
  content/en/account_management/billing/apm_distributed_tracing.md
Labels: account_management

#9051 DOCS-1336 NPM on ECS
  content/en/network_performance_monitoring/installation.md
Labels: network_performance_monitoring

#8987 Kubernetes resources for live containers
  content/en/agent/kubernetes/_index.md
  content/en/infrastructure/livecontainers.md
Labels: Do Not Merge, agent, infrastructure

#9059 fix codeblocks and links for kubernetes resources
  content/en/infrastructure/livecontainers.md
Labels: infrastructure

#9060 WEB-932 fix links
  src/scripts/datadog-docs.js
Labels: Architecture, Do Not Merge

#9023 DOCS-1387 NDM with the Cluster Agent
  content/en/network_performance_monitoring/devices/guide/_index.md
  content/en/network_performance_monitoring/devices/guide/cluster-agent.md
Labels: network_performance_monitoring

#9057 [WEB-891] - add openshift to nav
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
  layouts/partials/header/header.html
Labels: Architecture

#9066 Fix for DaemonSet tab in Live Containers
  content/en/infrastructure/livecontainers.md
Labels: infrastructure

#9054 kristin-barr/updating Parsing.md
  content/en/logs/processing/parsing.md
Labels: logs

#8959 DOCS-1344 Azure App Services logs
  content/en/serverless/azure_app_services.md
Labels: serverless

#9063 Update Live Processes Docs
  content/en/infrastructure/process.md
  static/images/infrastructure/process/live_processes_main.png
  static/images/infrastructure/process/process_monitor.png
  static/images/infrastructure/process/process_platform.gif
  static/images/infrastructure/process/process_widget.png
Labels: Images, infrastructure

#8976 Mitheysh.asokan/test docs
  static/images/integrations/azure/azure_cloud_shell.png
  static/images/integrations_logos/oracle-cloud-infrastructure.png
Labels: Architecture, Images

#9048 [RUM] improve explorer legacy doc
  content/en/real_user_monitoring/explorer/_index.md
  static/images/real_user_monitoring/explorer/attributes_tab.png
  static/images/real_user_monitoring/explorer/event_side_panel.png
  static/images/real_user_monitoring/explorer/explorer_tabs.png
  static/images/real_user_monitoring/explorer/rum_explorer.png
  static/images/real_user_monitoring/explorer/rum_facet.png
Labels: Images, real_user_monitoring

#9053 DOCS-1341 iOS RUM single source
  .gitignore
  .gitlab-ci.yml
  Makefile
  config/_default/menus/menus.en.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#9061 adding code block over value
  content/en/infrastructure/livecontainers.md
Labels: infrastructure

#9067 Fix broken link to Grok parsing
  content/en/logs/processing/processors.md
Labels: logs

#9069 DOCS-1424 Microsoft 365 logo
  static/images/integrations_logos/microsoft_365.png
Labels: Images

#9070 updating the path to the image
  content/en/infrastructure/process.md
Labels: infrastructure

#9079 updating postman spec to include automatically importing the env
  content/en/api/_index.md
  content/en/api/v1/_index.md
  content/en/api/v2/_index.md
  content/en/getting_started/api/_index.md
Labels: api, getting_started

#9078 monitor notifications - negation of condition in is_match
  content/en/monitors/notifications.md
Labels: monitors

#9062 update list of endpoints
  content/en/agent/guide/network.md
Labels: Guide, agent

#9071 Update apm.md
  content/en/agent/kubernetes/apm.md
Labels: agent

#9075 add optional step about cluster name for kubernetes resources config
  content/en/infrastructure/livecontainers.md
Labels: infrastructure

#9081 Update Private Locations Public doc- Feature not supported
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#9080 Update lambda-logs-collection-troubleshooting-guide.md
  content/en/logs/guide/lambda-logs-collection-troubleshooting-guide.md
Labels: Guide, logs

#9087 fix indent issue in k8s resources config
  content/en/infrastructure/livecontainers.md
Labels: infrastructure

#9088 Reverting note on feature not available for PL Browser tests
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#9085 Update nodejs.md
  content/en/tracing/setup_overview/setup/nodejs.md
Labels: tracing

#9083 Kari/docs 1442/errors clarificationn
  content/en/tracing/trace_retention_and_ingestion/_index.md
Labels: tracing

#9076 APM PHP release 0.51.0
  content/en/tracing/setup_overview/setup/php.md
Labels: tracing

#9084 Update ruby.md
  content/en/tracing/runtime_metrics/ruby.md
Labels: tracing

#9093 Update DdForwarderLog to DdForwardLog as expected.
  content/en/serverless/enhanced_lambda_metrics/_index.md
Labels: serverless

#9099 Added 0.68.0 new frameworks
  content/en/tracing/setup_overview/compatibility_requirements/java.md
Labels: tracing

#9101 Fix broken links
  content/en/serverless/custom_metrics/_index.md
  content/en/serverless/installation/_index.md
  content/en/serverless/installation/nodejs.md
  content/en/serverless/troubleshooting/_index.md
Labels: serverless

#8477 Populate Python and Ruby examples
  .gitignore
  Makefile
  config/_default/params.yaml
  layouts/api/list.html
  local/bin/awk/extract-code-blocks-go.awk
  local/bin/awk/extract-code-blocks-java.awk
Labels: Architecture, api, developers

#9034 Incidents management tool updates
  config/_default/menus/menus.en.yaml
  config/_default/params.en.yaml
  content/en/monitors/incident_management.md
  content/en/monitors/incident_management/_index.md
  content/en/monitors/incident_management/datadog_clipboard.md
  static/images/monitors/incidents/add-dashboard.png
  static/images/monitors/incidents/clipboard-full.png
  static/images/monitors/incidents/clipboard.png
  static/images/monitors/incidents/existing.png
  static/images/monitors/incidents/exporting.png
  static/images/monitors/incidents/from-a-graph.png
  static/images/monitors/incidents/from-clipboard.png
  static/images/monitors/incidents/from-slack.png
  static/images/monitors/incidents/managing-clips.png
  static/images/monitors/incidents/open-clipboard.png
  static/images/monitors/incidents/postmortem.png
  static/images/monitors/incidents/workflow-3-slack-1-1.png
  static/images/monitors/incidents/workflow-3-slack-1.png
Labels: Architecture, Do Not Merge, Images, WORK IN PROGRESS, monitors

#9105 Incidents GA docs
  content/en/monitors/incident_management.md
  content/en/monitors/incident_management/_index.md
Labels: monitors

#9104 Add Incident Management to nav and footer
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.ja.yaml
Labels: Architecture

#9106 Add Flutter SDK
  content/en/developers/libraries.md
  data/libraries.yaml
Labels: developers

#9107 Fix typo incident management
  content/en/monitors/incident_management/_index.md
Labels: monitors

#8983 Clarify ECS awsvpc support following customer feedback
  content/en/agent/amazon_ecs/_index.md
Labels: agent

#9109 Add info on Win2008 clock drift and updates
  content/en/agent/basic_agent_usage/_index.md
Labels: agent

#9113 Update pricing.md
  content/en/account_management/billing/pricing.md
Labels: account_management

#9117 Security monitoring blog
  content/en/security_monitoring/getting_started.md
Labels: security_monitoring

#9124 temporary exclusion
  layouts/shortcodes/get-metrics-from-git.html
Labels: Architecture

#8853 Correlate logs and metrics guide
  config/_default/menus/menus.en.yaml
  content/en/logs/guide/_index.md
  content/en/logs/guide/correlate-logs-with-metrics.md
  static/images/logs/guide/correlate-logs-with-metrics/dashboards.gif
  static/images/logs/guide/correlate-logs-with-metrics/log-explorer-metrics-tab.png
  static/images/logs/guide/correlate-logs-with-metrics/metrics-explorer.png
Labels: Guide, Images, logs

#9128 LwL trademark
  content/en/logs/guide/correlate-logs-with-metrics.md
Labels: Guide, logs

#9127 [update] reference gcr.io for datadog/agent images
  content/en/agent/amazon_ecs/_index.md
  content/en/agent/amazon_ecs/apm.md
  content/en/agent/docker/apm.md
  content/en/agent/docker/log.md
  content/en/agent/docker/prometheus.md
  content/en/agent/faq/agent-5-process-collection.md
  content/en/agent/guide/agent-5-autodiscovery.md
  content/en/agent/guide/agent-5-kubernetes-basic-agent-usage.md
  content/en/agent/guide/agent-v6-python-3.md
  content/en/agent/guide/autodiscovery-with-jmx.md
  content/en/agent/guide/community-integrations-installation-with-docker-agent.md
  content/en/agent/guide/operator-advanced.md
  content/en/agent/kubernetes/_index.md
  content/en/agent/kubernetes/apm.md
  content/en/agent/kubernetes/log.md
  content/en/agent/kubernetes/operator_configuration.md
  content/en/developers/dogstatsd/_index.md
  content/en/getting_started/tagging/assigning_tags.md
  content/en/integrations/faq/agent-5-amazon-ecs.md
  content/en/integrations/faq/compose-and-the-datadog-agent.md
  content/en/integrations/faq/troubleshooting-jmx-integrations.md
  content/en/logs/faq/how-to-set-up-only-logs.md
  content/en/logs/faq/how-to-tail-logs-from-host-using-a-container-agent.md
  content/en/network_performance_monitoring/installation.md
  content/en/tracing/guide/agent-5-tracing-setup.md
Labels: FAQ, Guide, agent, developers, getting_started, integrations, logs, network_performance_monitoring, tracing

#9131 kristinbarr/typofix-measure
  content/en/developers/metrics/dogstatsd_metrics_submission.md
Labels: developers

#9132 [serverless] Update serverless example to use current time instead of a hardcoded timestamp
  content/en/serverless/installation/python.md
Labels: serverless

#9129 Adds Magento 1 support to docs
  content/en/tracing/setup_overview/compatibility_requirements/php.md
Labels: tracing

#9134 APM/Python: update framework versions
  content/en/tracing/setup_overview/compatibility_requirements/python.md
Labels: tracing

#9142 Add new Rollbar logo
  static/images/integrations_logos/rollbar.png
Labels: Images

#9016 APM > .NET > Logging updates for next release
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
  content/en/tracing/troubleshooting/tracer_debug_logs.md
  content/en/tracing/troubleshooting/tracer_startup_logs.md
Labels: tracing

#9145 Update dynamic loading instruction to use "v1.5.1" for opentracing-cpp
  content/en/tracing/setup_overview/setup/cpp.md
Labels: tracing

#9149 Clarify behavior of scopes in downtimes
  content/en/monitors/downtimes.md
Labels: monitors

#9152 Update Java log injection logging pattern
  content/en/tracing/connect_logs_and_traces/java.md
Labels: tracing

#9094 Documenting support of custom certificates
  content/en/synthetics/private_locations/configuration.md
Labels: synthetics

#8897 dashboard widgets testing
  content/en/api/v1/dashboards/widgets.json
  content/en/dashboards/widgets/alert_graph.md
  content/en/dashboards/widgets/alert_value.md
  content/en/dashboards/widgets/change.md
  content/en/dashboards/widgets/check_status.md
  content/en/dashboards/widgets/distribution.md
  content/en/dashboards/widgets/event_stream.md
  content/en/dashboards/widgets/event_timeline.md
  content/en/dashboards/widgets/free_text.md
  content/en/dashboards/widgets/group.md
  content/en/dashboards/widgets/heat_map.md
  content/en/dashboards/widgets/hostmap.md
  content/en/dashboards/widgets/iframe.md
  content/en/dashboards/widgets/image.md
  content/en/dashboards/widgets/log_stream.md
  content/en/dashboards/widgets/monitor_summary.md
  content/en/dashboards/widgets/network.md
  content/en/dashboards/widgets/note.md
  content/en/dashboards/widgets/query_value.md
  content/en/dashboards/widgets/scatter_plot.md
  content/en/dashboards/widgets/service_map.md
  content/en/dashboards/widgets/service_summary.md
  content/en/dashboards/widgets/slo.md
  content/en/dashboards/widgets/table.md
  content/en/dashboards/widgets/timeseries.md
  content/en/dashboards/widgets/top_list.md
  layouts/shortcodes/dashboards-widgets-api.html
  layouts/shortcodes/dashboards-widgets-list.html
  src/scripts/build-api-pages.js
  src/scripts/tests/build-api-pages.test.js
  src/styles/components/_schema-table.scss
  src/styles/components/_tab-toggle.scss
  src/styles/pages/_api.scss
  src/styles/style.scss
Labels: Architecture, Do Not Merge, api, dashboards

#9157 Fixed indentations in docker-compose.yml
  content/en/integrations/faq/compose-and-the-datadog-agent.md
Labels: FAQ, integrations

#9130 Add info about OpenTel collector option
  config/_default/menus/menus.en.yaml
  content/en/tracing/setup_overview/open_standards/_index.md
Labels: Architecture, tracing, under_review

#9143 Update kubernetes helm deployment doc
  content/en/agent/kubernetes/_index.md
Labels: agent

#9162 WEB-975 fix toc scroll, mobile
  src/styles/components/_table-of-contents.scss
Labels: Architecture

#9160 [APM PHP] Update docs for 0.52.0 release
  content/en/tracing/setup_overview/compatibility_requirements/php.md
Labels: tracing
