Repository DataDog/documentation, pull requests merged in 2020-01, with the labels that each got.

#6304 remove pa11y errors due to wistia iframe
  local/bin/js/pa11y.js
Labels: Architecture

#6287 Alibaba billing
  content/en/account_management/billing/_index.md
  content/en/account_management/billing/alibaba.md
  static/images/account_management/billing/alibaba_filter.png
Labels: Integration

#6272 Adding AWS logs + filtering endpoints to postman
  static/resources/json/datadog_collection.json
Labels: API

#6303 Android log collection
  .gitignore
  Makefile
  config/_default/menus/menus.en.yaml
  local/etc/pull_config.yaml
  local/etc/pull_config_preview.yaml
Labels: Logs

#6227 RUM doc 2.0
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/dashboards/_index.md
  content/en/real_user_monitoring/data_collected/_index.md
  content/en/real_user_monitoring/data_collected/error.md
  content/en/real_user_monitoring/data_collected/long_task.md
  content/en/real_user_monitoring/data_collected/resource.md
  content/en/real_user_monitoring/data_collected/user_action.md
  content/en/real_user_monitoring/data_collected/view.md
  content/en/real_user_monitoring/explorer/_index.md
  content/en/real_user_monitoring/explorer/analytics.md
  content/en/real_user_monitoring/explorer/search.md
  content/en/real_user_monitoring/installation/_index.md
  content/en/real_user_monitoring/installation/advanced_configuration.md
  content/en/real_user_monitoring/rum_explorer.md
  static/images/real_user_monitoring/dashboards/application_page.png
  static/images/real_user_monitoring/dashboards/rum_dashboard.png
  static/images/real_user_monitoring/data_collected/resource/resource_metric.png
  static/images/real_user_monitoring/data_collected/view/timing_overview.png
  static/images/real_user_monitoring/explorer/analytics/aggregation.png
  static/images/real_user_monitoring/explorer/analytics/break_down.png
  static/images/real_user_monitoring/explorer/analytics/graph_selector.png
  static/images/real_user_monitoring/explorer/analytics/measure_selection.png
  static/images/real_user_monitoring/explorer/analytics/roll_up.png
  static/images/real_user_monitoring/explorer/analytics/rum_table_example.png
  static/images/real_user_monitoring/explorer/analytics/rum_timeserie_example.png
  static/images/real_user_monitoring/explorer/analytics/top_bottom.png
  static/images/real_user_monitoring/explorer/analytics/top_list_rum.png
  static/images/real_user_monitoring/explorer/analytics/view_events.png
  static/images/real_user_monitoring/explorer/create_facet.png
  static/images/real_user_monitoring/explorer/create_measure.png
  static/images/real_user_monitoring/explorer/edit_measure.png
  static/images/real_user_monitoring/explorer/rum_explorer.png
  static/images/real_user_monitoring/explorer/rum_facet.png
  static/images/real_user_monitoring/explorer/rum_time_selector.png
  static/images/real_user_monitoring/explorer/rum_views.png
  static/images/real_user_monitoring/explorer/search/search_bar_autocomplete.png
  static/images/real_user_monitoring/rum_full_dashboard.png
Labels: RUM

#6269 APM DD replace Tag
  content/en/agent/docker/apm.md
  content/en/tracing/guide/security.md
Labels: Tracing

#6248 Update markdown usage since hugo 0.61
  README.md
Labels: Architecture

#6295 Adding EU site info
  content/en/tracing/guide/trace_sampling_and_storage.md
Labels: Tracing

#6298 Making host search result consistent
  content/en/api/hosts/code_snippets/result.api-hosts-search.py
  content/en/api/hosts/code_snippets/result.api-hosts-search.rb
  content/en/api/hosts/code_snippets/result.api-hosts-search.sh
  content/en/api/hosts/hosts_search.md
Labels: API

#6300 Fixing placeholder
  content/en/agent/autodiscovery/clusterchecks.md
  content/en/agent/autodiscovery/endpointschecks.md
  content/en/agent/autodiscovery/integrations.md
Labels: Agent

#6305 Fine tuning Algolia to avoid warning
  local/etc/algolia/docs_datadoghq.json
  local/etc/algolia/docs_datadoghq_preview.json
Labels: Architecture

#6306 Fixing outdated anchor links
  content/en/getting_started/integrations/_index.md
  content/en/monitors/monitor_types/composite.md
  content/en/tracing/app_analytics/analytics.md
Labels: Bug

#6310 link fix
  content/en/real_user_monitoring/data_collected/_index.md
Labels: Bug

#6311 Fixing table
  content/en/agent/guide/autodiscovery-with-jmx.md
Labels: Bug

#6312 Adding graphing alias
  content/en/dashboards/_index.md
Labels: Architecture

#6019 Zooming out update
  content/en/dashboards/faq/as_count_validation.md
  content/en/dashboards/faq/why-does-zooming-out-a-timeframe-also-smooth-out-my-graphs.md
  content/en/dashboards/functions/rollup.md
  content/en/developers/metrics/type_modifiers.md
  static/images/graphing/faq/smooth_line.mp4
  static/images/graphing/faq/smoothing.mp4
  static/images/graphing/functions/rollup/as_count.png
  static/images/graphing/functions/rollup/smooth_1.png
  static/images/graphing/functions/rollup/smooth_2.png
Labels: App, Guide/FAQ

#6314 Correct syntax error in bash examples
  content/en/logs/guide/collect-multiple-logs-with-pagination.md
Labels: Bug

#6301 Estib/rehydration limits link
  content/en/logs/archives/rehydrating.md
Labels: Logs

#6315 [Logs] Clarified Grok Parser source must be text
  content/en/logs/processing/parsing.md
Labels: Logs

#5863 Build more strict
  .gitlab-ci.yml
  Makefile
  Makefile.config.example
  local/bin/py/update_pre_build.py
  local/bin/sh/run-site.sh
Labels: Architecture

#6212 [Watchdog] Including infra stories + revamp
  content/en/monitors/monitor_types/watchdog.md
  content/en/watchdog.md
  content/fr/watchdog.md
  content/ja/watchdog.md
  data/partials/home.yaml
  static/images/watchdog/watchdog-facets2.png
  static/images/watchdog/watchdog_archive.png
  static/images/watchdog/watchdog_datepicker.png
  static/images/watchdog/watchdog_expected_values.png
  static/images/watchdog/watchdog_monitors.png
  static/images/watchdog/watchdog_overview_archive.png
  static/images/watchdog/watchdog_page.png
  static/images/watchdog/watchdog_story.png
Labels: App

#6316 Further reading link for tracing guide
  content/en/tracing/advanced/manual_instrumentation.md
Labels: Bug, Tracing

#6322 Link fix
  content/en/account_management/multi_organization.md
  content/en/dashboards/screenboards.md
  content/en/dashboards/sharing.md
  content/en/dashboards/timeboards.md
  content/en/dashboards/widgets/alert_graph.md
  content/en/dashboards/widgets/alert_value.md
  content/en/dashboards/widgets/change.md
  content/en/dashboards/widgets/check_status.md
  content/en/dashboards/widgets/event_stream.md
  content/en/dashboards/widgets/event_timeline.md
  content/en/dashboards/widgets/free_text.md
  content/en/dashboards/widgets/heat_map.md
  content/en/dashboards/widgets/hostmap.md
  content/en/dashboards/widgets/iframe.md
  content/en/dashboards/widgets/image.md
  content/en/dashboards/widgets/log_stream.md
  content/en/dashboards/widgets/monitor_summary.md
  content/en/dashboards/widgets/network.md
  content/en/dashboards/widgets/note.md
  content/en/dashboards/widgets/query_value.md
  content/en/dashboards/widgets/service_summary.md
  content/en/dashboards/widgets/table.md
  content/en/dashboards/widgets/timeseries.md
  content/en/dashboards/widgets/top_list.md
Labels: Bug

#6323 Link Fix
  content/en/api/dashboards/dashboards.md
  content/en/api/screenboards/screenboards.md
  content/en/api/timeboards/timeboards.md
  content/en/dashboards/template_variables.md
  content/en/dashboards/timeboards.md
  content/en/dashboards/widgets/alert_graph.md
  content/en/dashboards/widgets/alert_value.md
  content/en/dashboards/widgets/change.md
  content/en/dashboards/widgets/check_status.md
  content/en/dashboards/widgets/distribution.md
  content/en/dashboards/widgets/group.md
  content/en/dashboards/widgets/heat_map.md
  content/en/dashboards/widgets/hostmap.md
  content/en/dashboards/widgets/note.md
  content/en/dashboards/widgets/scatter_plot.md
  content/en/dashboards/widgets/table.md
  content/en/dashboards/widgets/timeseries.md
  content/en/dashboards/widgets/top_list.md
  content/en/logs/_index.md
  content/en/real_user_monitoring/data_collected/_index.md
  content/en/real_user_monitoring/explorer/analytics.md
Labels: Bug

#6318 Home page update for new sections
  data/partials/home.yaml
  static/images/svg-icons/host-map.svg
  static/images/svg-icons/metric.svg
Labels: Architecture

#6324 Removing counter wording
  content/en/developers/dogstatsd/datagram_shell.md
  content/en/developers/metrics/agent_metrics_submission.md
  content/en/developers/metrics/dogstatsd_metrics_submission.md
Labels: App

#6327 Adding param to handle stacktraces with Log4j2
  content/en/logs/log_collection/java.md
Labels: Logs

#6332 Fixing list layout
  content/en/tracing/guide/trace_sampling_and_storage.md
Labels: Bug

#6326 Adding table back
  content/en/integrations/faq/list-of-api-source-attribute-value.md
Labels: App

#6331 Adding message attribute
  content/en/integrations/fluentbit.md
Labels: Integration, Logs

#6328 Fixing code examples
  content/en/api/tags/code_snippets/api-tags-add.py
  content/en/api/tags/code_snippets/api-tags-add.rb
  content/en/api/tags/code_snippets/api-tags-add.sh
  content/en/api/tags/code_snippets/api-tags-get-host.py
  content/en/api/tags/code_snippets/api-tags-get-host.rb
  content/en/api/tags/code_snippets/api-tags-get-host.sh
  content/en/api/tags/code_snippets/api-tags-get.py
  content/en/api/tags/code_snippets/api-tags-remove.py
  content/en/api/tags/code_snippets/api-tags-remove.rb
  content/en/api/tags/code_snippets/api-tags-remove.sh
  content/en/api/tags/code_snippets/api-tags-update.py
  content/en/api/tags/code_snippets/api-tags-update.rb
  content/en/api/tags/code_snippets/api-tags-update.sh
Labels: API

#6330 Adding docker + K8s instructions
  content/en/logs/faq/how-to-set-up-only-logs.md
Labels: Guide/FAQ

#6335 DOCS-402 .NET CLR logo
  static/images/integrations_logos/dotnetclr.png
Labels: Integration

#6338 Fixing link
  content/en/api/dashboards/dashboards.md
Labels: Bug

#6343 Fixing translation parsing
  content/en/watchdog.md
Labels: Bug

#6344 Adding full working daemonset
  content/en/logs/faq/how-to-set-up-only-logs.md
Labels: Guide/FAQ

#6345 [AWS Logs] Fixing API endpoint title
  content/en/api/integrations_aws_logs/aws_delete_log_collection.md
  content/en/api/integrations_aws_logs/aws_delete_log_collection_code.md
  content/en/api/integrations_aws_logs/aws_enable_service_log_collection.md
  content/en/api/integrations_aws_logs/aws_enable_service_log_collection_code.md
  static/resources/json/datadog_collection.json
Labels: Architecture

#6334 DOCS-414 remove Kubernetes FAQ
  content/en/agent/guide/agent-5-kubernetes-basic-agent-usage.md
  content/en/agent/kubernetes/_index.md
  content/en/agent/kubernetes/daemonset_setup.md
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/using-rbac-permission-with-your-kubernetes-integration.md
  content/en/integrations/kubernetes.md
Labels: Guide/FAQ

#6354 fixing jar link
  content/en/tracing/setup/java.md
Labels: Bug

#6333 [DOCS-388] adding NPM install instructions
  content/en/real_user_monitoring/installation/_index.md
  content/en/real_user_monitoring/installation/advanced_configuration.md
Labels: RUM

#6340 [DOCS-389] Browser log NPM
  content/en/logs/log_collection/javascript.md
Labels: Logs

#6349 DOCS-399 Jira Monitor Notifications
  content/en/monitors/notifications.md
Labels: monitors

#6350 DOCS-400 APM NodeJS gRPC
  content/en/tracing/setup/nodejs.md
Labels: Tracing

#6357 [APM] Update PHP tracing docs for ddtrace 0.37.0
  content/en/tracing/setup/php.md
Labels: Tracing

#6346 add browser logs and rum via npm
  .gitlab-ci.yml
  config/_default/params.yaml
  config/development/params.yaml
  config/live/params.yaml
  config/preview/params.yaml
  data/manifest.json
  layouts/_default/404-baseof.html
  layouts/_default/api-baseof.html
  layouts/_default/baseof.html
  layouts/index.html
  layouts/partials/algolia.html
  layouts/partials/head_scripts/datadog_monitoring.html
  package.json
  src/scripts/components/algolia.js
  src/scripts/components/dd-browser-logs-rum.js
  src/scripts/components/integrations.js
  src/scripts/config/config-docs.js
  src/scripts/datadog-docs.js
  src/scripts/main-dd-js.js
  webpack.common.js
  yarn.lock
Labels: Architecture

#6358 use corp-ci master
  .gitlab-ci.yml
Labels: Architecture

#6359 fix typo on billing page
  content/en/account_management/billing/_index.md
Labels: Bug

#6360 Link fix
  content/en/agent/guide/autodiscovery-with-jmx.md
Labels: Bug

#6353 Updating diagram
  static/images/developers/metrics/dogstatsd_metrics_submission/dogstatsd.png
Labels: Architecture

#6352 Removes outdated instructions for istio
  content/en/tracing/setup/istio.md
  content/fr/tracing/setup/istio.md
Labels: Tracing

#6213 Custom metrics
  config/_default/menus/menus.en.yaml
  content/en/account_management/billing/custom_metrics.md
  content/en/agent/autodiscovery/tag.md
  content/en/developers/_index.md
  content/en/developers/metrics/_index.md
  content/en/developers/metrics/custom_metrics.md
  content/en/tagging/_index.md
  static/images/account_management/billing/custom_metrics/host_custom_metrics.png
  static/images/account_management/billing/custom_metrics/request_latency.png
  static/images/account_management/billing/custom_metrics/tracking_metric.mp4
  static/images/developers/metrics/custom_metrics/Custom_Metrics_300.jpg
Labels: App

#6363 Removing outdated source logic
  local/bin/py/update_pre_build.py
  local/etc/pull_config.yaml
  local/etc/pull_config_preview.yaml
Labels: Architecture

#6319 Adding Dogstatsd telemetry doc
  content/en/developers/dogstatsd/high_throughput.md
Labels: Agent

#6366 Synthetics Create Test API Options
  content/en/api/synthetics/code_snippets/post_test.sh
  content/en/api/synthetics/post_test.md
Labels: API

#6370 Typo correction in SLO API doc
  content/en/api/service_level_objectives/service_level_objectives_create.md
Labels: API, Bug

#6347 Add Config-provided hostname starting with `ip-` or `domu` to the FAQ
  content/en/agent/faq/hostname-starting-with-ec2-default-prefix.md
Labels: Guide/FAQ

#6369 DOCS-417 Query Infrastructure List
  content/en/developers/guide/query-the-infrastructure-list-via-the-api.md
Labels: Guide/FAQ

#6374 DOCS-419 Windows Agent upgrading
  content/en/agent/basic_agent_usage/windows.md
Labels: Agent

#6309 Configuration examples for Java tracing docs
  content/en/tracing/setup/java.md
  static/images/tracing/setup/java/dd_service_name.png
  static/images/tracing/setup/java/query_string.png
  static/images/tracing/setup/java/service_mapping.png
  static/images/tracing/setup/java/split_by_instance_1.png
  static/images/tracing/setup/java/split_by_instance_2.png
  static/images/tracing/setup/java/trace_global_tags.png
  static/images/tracing/setup/java/trace_jmx_tags.png
  static/images/tracing/setup/java/trace_methods.png
  static/images/tracing/setup/java/trace_span_tags.png
Labels: Tracing

#6365 Build clean 3
  .gitlab-ci.yml
  Makefile.config.example
  local/bin/py/build/actions/integrations.py
  local/bin/py/build/actions/pull_and_push_file.py
  local/bin/py/build/actions/pull_and_push_folder.py
  local/bin/py/build/configurations/integration_merge.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  local/bin/py/build/content_manager.py
  local/bin/py/build/github_connect.py
  local/bin/py/build/update_pre_build.py
  local/bin/py/update_pre_build.py
Labels: Architecture

#6281 📝[LA-87][Dash] Update docs for LogStream Widget properties
  content/en/dashboards/widgets/log_stream.md
Labels: Logs

#6380 Fixing redirect
  content/fr/integrations/pivotal_platform.md
Labels: Bug

#6382 Scrolling on top only if there is no hash
  src/scripts/datadog-docs.js
Labels: Architecture

#6021 [DOCS-471] New team page
  config/_default/menus/menus.en.yaml
  content/en/account_management/_index.md
  content/en/account_management/billing/_index.md
  content/en/account_management/faq/how-do-i-add-new-users-to-sub-organizations.md
  content/en/account_management/org_settings.md
  content/en/account_management/saml/_index.md
  content/en/account_management/team.md
  content/en/account_management/users/_index.md
  content/en/account_management/users/custom_roles.md
  content/en/account_management/users/default_roles.md
  content/en/api/users/users.md
  content/en/dashboards/screenboards.md
  content/en/getting_started/application/_index.md
  static/images/account_management/team/guides-multacct-addtoteam.png
  static/images/account_management/team/guides-multacct-disable.png
  static/images/account_management/users/create_role.png
  static/images/account_management/users/delete_role.png
  static/images/account_management/users/delete_role_confirmation.png
  static/images/account_management/users/disable_user.png
  static/images/account_management/users/edit_role.png
  static/images/account_management/users/invite_user.png
  static/images/account_management/users/resend_invite.png
  static/images/account_management/users/user_page.png
  static/images/account_management/users/user_role_update.png
Labels: App

#6373 [DOCS-411] Adding saved views parameter to dashboard schema
  content/en/api/dashboards/code_snippets/api-dashboard-create.py
  content/en/api/dashboards/code_snippets/api-dashboard-create.rb
  content/en/api/dashboards/code_snippets/api-dashboard-create.sh
  content/en/api/dashboards/code_snippets/api-dashboard-update.py
  content/en/api/dashboards/code_snippets/api-dashboard-update.rb
  content/en/api/dashboards/code_snippets/api-dashboard-update.sh
  content/en/api/dashboards/dashboards_create.md
  content/en/api/dashboards/dashboards_update.md
  static/resources/json/datadog_collection.json
Labels: API

#6308 Setting Up APM C++ Guide
  content/en/tracing/guide/setting_up_APM_with_cpp.md
  static/images/tracing/guide/setting_up_APM_with_cpp/apm_services_page.png
  static/images/tracing/guide/setting_up_APM_with_cpp/traces_ui.png
Labels: Tracing

#6389 [APM] Update .NET Setup instructions
  content/en/tracing/setup/dotnet.md
Labels: Tracing

#6395 Replace crit loglevel by critical
  content/en/agent/troubleshooting/debug_mode.md
Labels: Bug

#6379 [Logs] Reserved attribute: default facets + minor wording fix
  content/en/logs/explorer/_index.md
  content/en/logs/processing/_index.md
Labels: Logs

#6291 Add information on how to set the `site` to datadoghq.eu on the install
  content/en/agent/basic_agent_usage/windows.md
Labels: Agent

#6396 fix typo for example in dd.trace.config
  content/en/tracing/setup/java.md
Labels: Bug, Tracing

#6399 Fix metrics typo
  content/en/developers/metrics/agent_metrics_submission.md
Labels: Developers

#6397 Wording updates
  content/en/agent/basic_agent_usage/windows.md
  content/en/agent/troubleshooting/debug_mode.md
  content/en/developers/dogstatsd/high_throughput.md
  content/en/logs/explorer/_index.md
  content/en/logs/processing/_index.md
  content/en/tracing/setup/dotnet.md
  content/en/tracing/setup/java.md
  content/fr/agent/docker/_index.md
  content/fr/integrations/pivotal_platform.md
  content/fr/logs/log_collection/javascript.md
  content/fr/watchdog.md
Labels: Agent

#6405 PUT request to start or pause test
  content/en/api/synthetics/put_status_code.md
Labels: API

#6393 Pulling jenkins doc from dedicated repo
  .gitignore
  Makefile
  content/en/integrations/jenkins.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Integration

#6409 Addings details on feature variables from tests
  content/en/synthetics/settings/_index.md
Labels: Synthetics

#6412 Example image for iframe widget
  static/images/dashboards/widgets/iframe/iframe_setup.png
Labels: Bug

#6394 Truncate too large logs in HTTP API
  content/en/api/logs/logs.md
Labels: Logs

#6375 Flatten content within Enrich Tracing section
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
  content/en/agent/docker/apm.md
  content/en/dashboards/widgets/service_map.md
  content/en/integrations/faq/troubleshooting-jmx-integrations.md
  content/en/logs/_index.md
  content/en/logs/explorer/_index.md
  content/en/logs/log_collection/java.md
  content/en/logs/log_collection/nodejs.md
  content/en/logs/log_collection/python.md
  content/en/logs/log_collection/ruby.md
  content/en/logs/processing/_index.md
  content/en/logs/processing/processors.md
  content/en/monitors/monitor_types/apm.md
  content/en/monitors/monitor_types/watchdog.md
  content/en/tagging/assigning_tags.md
  content/en/tracing/_index.md
  content/en/tracing/advanced/_index.md
  content/en/tracing/app_analytics/search.md
  content/en/tracing/connect_logs_and_traces/_index.md
  content/en/tracing/faq/why-cant-i-see-my-correlated-logs-in-the-trace-id-panel.md
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/add_span_md_and_graph_it.md
  content/en/tracing/guide/adding_metadata_to_spans.md
  content/en/tracing/guide/app_analytics_agent_configuration.md
  content/en/tracing/guide/ecommerce_and_retail_use_cases.md
  content/en/tracing/guide/resource_monitor.md
  content/en/tracing/guide/setting_primary_tags_to_scope.md
  content/en/tracing/guide/slowest_request_daily.md
  content/en/tracing/manual_instrumentation/_index.md
  content/en/tracing/opentracing/_index.md
  content/en/tracing/runtime_metrics/_index.md
  content/en/tracing/send_traces/_index.md
  content/en/tracing/send_traces/agent-apm-metrics.md
  content/en/tracing/setup/_index.md
  content/en/tracing/setup/cpp.md
  content/en/tracing/setup/dotnet.md
  content/en/tracing/setup/go.md
  content/en/tracing/setup/java.md
  content/en/tracing/setup/nodejs.md
  content/en/tracing/setup/php.md
  content/en/tracing/setup/python.md
  content/en/tracing/troubleshooting/_index.md
  content/en/tracing/visualization/_index.md
  content/en/tracing/visualization/resource.md
  content/en/tracing/visualization/services_list.md
  content/en/watchdog.md
  content/fr/tracing/advanced/_index.md
  content/fr/tracing/advanced/setting_primary_tags_to_scope.md
  data/partials/mainnav.fr.yaml
  local/bin/format-links
  static/images/tracing/connect_logs_and_traces/trace_id_injection.png
  static/images/tracing/guide/setting_primary_tags/envs_tracing_screen.png
  static/images/tracing/guide/setting_primary_tags/primary_tags_ui.png
  static/images/tracing/runtime_metrics/jvm-runtime.png
  static/images/tracing/runtime_metrics/jvm_runtime_trace.png
Labels: Tracing

#6425 Fixing list of files to ignore
  .gitignore
Labels: Architecture

#6424 Tweaks about secure global variables
  content/en/synthetics/settings/_index.md
Labels: Synthetics

#6430 Build no token
  local/bin/py/build/content_manager.py
  local/bin/py/build/update_pre_build.py
  local/bin/sh/run-site.sh
Labels: Architecture

#6429 Adding command to build doc faster
  Makefile
  Makefile.config.example
  README.md
  local/bin/py/build/content_manager.py
  local/bin/py/build/update_pre_build.py
  local/bin/sh/run-site-no-pre-build.sh
  local/bin/sh/run-site.sh
Labels: Architecture

#6432 Removing hardcoded lacework integration
  Makefile
  content/en/integrations/lacework.md
Labels: Integration

#6079 Logging without Limits guide
  content/en/logs/guide/_index.md
  content/en/logs/guide/getting-started-lwl.md
  static/images/logs/guide/getting-started-lwl/anomaly_monitor.gif
  static/images/logs/guide/getting-started-lwl/custom_metric.gif
  static/images/logs/guide/getting-started-lwl/exclusion_filter.gif
  static/images/logs/guide/getting-started-lwl/identify_logging_service.gif
  static/images/logs/guide/getting-started-lwl/live_tail.gif
  static/images/logs/guide/getting-started-lwl/patterns_context_panel.png
Labels: Logs

#6434 Adding FAQ article about cloning Synthetics tests
  content/en/synthetics/faq/_index.md
  content/en/synthetics/faq/clone-test.md
Labels: Synthetics

#6431 Fixing frontmatters for the jenkins documentation
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Integration

#6378 Adding comments to build script.
  local/bin/py/build/actions/integrations.py
  local/bin/py/build/actions/pull_and_push_file.py
  local/bin/py/build/actions/pull_and_push_folder.py
  local/bin/py/build/content_manager.py
  local/bin/py/build/github_connect.py
  local/bin/py/build/update_pre_build.py
Labels: Architecture

#6408 Wording fix
  content/en/monitors/notifications.md
Labels: Bug

#6386 List fix
  config/_default/menus/menus.en.yaml
  content/en/agent/troubleshooting/integrations.md
Labels: Bug

#6383 Renaming file name
  content/en/account_management/authn_mapping/_index.md
Labels: Architecture

#6437 DOCS-527 Cluster Agent commands
  content/en/agent/cluster_agent/commands.md
Labels: Agent

#6423 Fix outdated files
  data/highlighting.fr.yaml
  data/partials/mainnav.fr.yaml
Labels: Bug

#6410 [DOCS-528] Import amazon eks doc
  .gitignore
  Makefile
  content/en/integrations/amazon_eks_fargate.md
  static/images/integrations_logos/eks_fargate.png
Labels: Integration

#6413 exclusion filter by attributes & refurbish
  content/en/logs/indexes/_index.md
  static/images/logs/indexes/sample_200.png
  static/images/logs/indexes/sample_trace_id.png
  static/images/logs/indexes/sample_user_id.png
Labels: Logs

#6454 Multi-Org API error note
  content/en/api/usage/usage_multi_org.md
Labels: API, Bug

#6455 [DOCS-421] DogStatsD standalone package
  content/en/agent/_index.md
Labels: Agent

#6444 [DOCS-543] Moving env variable instructions to linux and macos only
  content/en/agent/versions/upgrade_to_agent_v7.md
Labels: Agent

#6458 Cécile/x datadog trace count
  content/en/api/tracing/code_snippets/send_trace.py
  content/en/api/tracing/code_snippets/send_trace.sh
Labels: Tracing

#6460 update ruby send traces example and fix syntax
  content/en/api/tracing/code_snippets/send_trace.rb
Labels: Tracing

#6440 Adding dependencies to imported files
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#6451 [DOCS-567] Removing US/EU specification
  content/en/logs/archives/_index.md
Labels: Logs

#6442 [DOCS-570] Adding link to advanced grok section
  content/en/logs/processing/processors.md
Labels: Logs

#6390 Adding Dogstatsd telemetry doc for Ruby
  content/en/developers/dogstatsd/high_throughput.md
Labels: Agent

#6464 li indent spacing update
  src/styles/pages/_global.scss
Labels: Architecture

#6443 [DOCS-565] Fixing tag with java code examples
  content/en/developers/metrics/dogstatsd_metrics_submission.md
Labels: Bug, Developers

#6463 removes inaccurate note about JSON and the reserved message attribute
  content/en/logs/processing/_index.md
Labels: Logs

#6465 Fix kubernetes agent yaml
  content/en/agent/kubernetes/daemonset_setup.md
Labels: Agent, Bug

#6469 multiple exclusion filter clarification
  content/en/logs/indexes/_index.md
Labels: Logs

#6466 DOCS-531 Infrastructure list
  content/en/infrastructure/list.md
Labels: App

#6448 Typo fixes
  content/en/agent/proxy.md
  content/en/dashboards/widgets/timeseries.md
  content/en/developers/dogstatsd/datagram_shell.md
Labels: Bug

#6450 Adding the is_public param for integrations
  layouts/partials/noindex.html
Labels: Architecture

#6472 Fixing format
  content/en/getting_started/integrations/prometheus.md
Labels: Bug

#6475 Removing duplicated comments from code example
  content/en/logs/log_collection/csharp.md
  content/en/logs/log_collection/go.md
  content/en/logs/log_collection/java.md
  content/en/logs/log_collection/nodejs.md
  content/en/logs/log_collection/php.md
  content/en/logs/log_collection/python.md
  content/en/logs/log_collection/ruby.md
Labels: Bug, Logs

#6474 Fixing lint issues within the Tagging section
  content/en/tagging/_index.md
  content/en/tagging/assigning_tags.md
  content/en/tagging/using_tags.md
Labels: Bug

#6478 Small updates to browser test documentation
  content/en/synthetics/browser_tests.md
Labels: Synthetics

#6484 hreflang updates
  layouts/partials/hreflang.html
  layouts/sitemap.xml
Labels: Architecture

#6476 DOCS-534 Host Map Widget
  content/en/dashboards/widgets/hostmap.md
Labels: App

#6453 OR statement for tagging
  content/en/tagging/using_tags.md
Labels: Bug

#6481 Guide link
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/setting_up_APM_with_cpp.md
Labels: Guide/FAQ

#6482 Wording fix
  content/en/dashboards/widgets/timeseries.md
  content/en/dashboards/widgets/top_list.md
Labels: Bug

#6483 Adding alias to fix ci
  content/en/dashboards/screenboards.md
Labels: Bug

#6477 Fixing text displayed for FR issue template
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Bug

#6487 Fix frontmatters
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Bug

#6488 Add community Erlang library
  data/libraries.yaml
Labels: Developers

#6500 Doc update for Browser Log Collection in Javascript
  content/en/logs/log_collection/javascript.md
Labels: Logs

#6490 Fixing link
  content/en/api/roles/roles.md
Labels: Bug

#6491 Fixing attributes
  content/en/logs/processing/processors.md
Labels: Bug

#6502 Removing overview header (as it's the only one)
  content/en/infrastructure/_index.md
Labels: Bug

#6505 Logging when toc is used
  src/scripts/components/table-of-contents.js
Labels: Architecture

#6501 [APM] PHP tracer support for PHP 7.4
  content/en/tracing/setup/php.md
Labels: Tracing

#6506 API Config Link Fix
  content/en/account_management/api-app-keys.md
Labels: Bug

#6508 fix issue with node-sass
  .gitlab-ci.yml
  package.json
  yarn.lock
Labels: Architecture

#6511 Cleaning pulled integration
  Makefile
Labels: Bug

#6518 typo fix
  content/en/logs/faq/log-collection-is-the-datadog-agent-losing-logs.md
Labels: Bug

#6525 Update the type of the servicemap widget
  content/en/dashboards/widgets/service_map.md
Labels: Bug

#6523 Fix typo in Logs > String Builder Processor docs
  content/en/logs/processing/processors.md
Labels: Bug

#6529 Removes unnecessary parenthesis
  content/en/logs/log_collection/ruby.md
Labels: Bug

#6489 Browser Test Actions and Advanced Settings pages
  config/_default/menus/menus.en.yaml
  content/en/synthetics/browser_tests.md
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/browser_tests/actions.md
  content/en/synthetics/browser_tests/advanced_options.md
  static/images/synthetics/browser_tests/advanced_options/css.gif
  static/images/synthetics/browser_tests/advanced_options/fail_test.png
  static/images/synthetics/browser_tests/advanced_options/step_to_fail.png
  static/images/synthetics/browser_tests/advanced_options/subtest.png
  static/images/synthetics/browser_tests/advanced_options/timeout.png
Labels: Synthetics

#6510 Update APM > Connect Logs and Traces > .NET documentation
  content/en/logs/log_collection/csharp.md
  content/en/tracing/connect_logs_and_traces/_index.md
  content/fr/logs/log_collection/csharp.md
Labels: Tracing

#6513 Fixing link to rbac API
  content/en/account_management/authn_mapping/_index.md
  content/en/account_management/rbac/_index.md
  content/en/account_management/rbac/log_management.md
Labels: Bug

#6531 Update the alert value schema to change text_size to title_size
  content/en/dashboards/widgets/alert_value.md
Labels: Bug

#6542 Synthetics API retry statement
  content/en/api/synthetics/post_test.md
Labels: API, Synthetics

#6541 Clarify SLO Overall Uptime Calculation
  content/en/monitors/service_level_objectives/_index.md
Labels: App

#6493 [DOCS-586] Adding new section entries
  content/en/logs/indexes/_index.md
  content/en/tracing/_index.md
  content/en/tracing/connect_logs_and_traces/_index.md
  content/en/tracing/manual_instrumentation/_index.md
  content/en/tracing/opentracing/_index.md
  content/en/tracing/runtime_metrics/_index.md
Labels: Tracing

#6494 [DOCS-579] fixing trailing / in signature
  content/en/api/synthetics/post_test_code.md
Labels: Bug

#6495 [DOCS-589] Adding disclaimer of log enable pre-requisit
  content/en/monitors/monitor_types/log.md
Labels: Logs

#6497 [DOCS-588] Fixing variables name
  content/en/developers/service_checks/dogstatsd_service_checks_submission.md
Labels: Bug, Developers

#6498 Apm metrics
  config/_default/menus/menus.en.yaml
  content/en/tracing/troubleshooting/_index.md
  content/en/tracing/troubleshooting/agent_apm_metrics.md
Labels: Tracing

#6512 Table fix
  content/en/tracing/guide/agent-5-tracing-setup.md
  content/en/tracing/setup/java.md
  layouts/shortcodes/table.html
Labels: Architecture
