Repository DataDog/documentation, pull requests merged in 2020-07, with the labels that each got.

#7890 api examples update
  content/en/api/v1/downtimes/examples.json
  content/en/api/v1/metrics/examples.json
  src/scripts/build-api-pages.js
  src/scripts/tests/build-api-pages.test.js
Labels: Architecture, api

#7883 [RUMF-609] use export from rum/logs
  content/en/logs/log_collection/javascript.md
  content/en/real_user_monitoring/faq/proxy_rum_data.md
  content/en/real_user_monitoring/installation/_index.md
  content/en/real_user_monitoring/installation/advanced_configuration.md
Labels: FAQ, logs, real_user_monitoring

#7893 Disable CloudFront purge after deploy
  config/live/config.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  package.json
Labels: Architecture

#7895 [apm] add note to clarify recommendation on service tagging for multiple service use case
  content/en/getting_started/tagging/unified_service_tagging.md
Labels: getting_started

#7898 Update file order on deploy
  config/live/config.yaml
  config/preview/config.yaml
Labels: Architecture

#7897 adding new page
  content/en/monitors/service_level_objectives/error_budget.md
  static/images/monitors/service_level_objectives/error_budget_alert.png
Labels: Images, monitors

#7867 Add Integration pipeline library
  content/en/logs/processing/pipelines.md
  static/images/logs/processing/pipelines/clone-pipeline-from-library.gif
  static/images/logs/processing/pipelines/integration-pipeline-library.gif
Labels: Images, logs

#7905 blacklist -> list
  content/en/tracing/manual_instrumentation/java.md
Labels: tracing

#7904 consistent language around exclude/include rules for lambda billing
  content/en/account_management/billing/serverless.md
Labels: account_management

#7903 exclude / invite instead of blacklist/whitelist
  content/en/getting_started/tagging/using_tags.md
Labels: getting_started

#7902 clean up troubleshooting language around headers
  content/en/synthetics/troubleshooting/_index.md
Labels: synthetics

#7892 changing saml support
  content/en/mobile/_index.md
Labels: mobile

#7622 Serverless Billing SKU Updates
  content/en/account_management/billing/_index.md
  content/en/account_management/billing/serverless.md
Labels: Do Not Merge, account_management

#7908 fix typos
  content/en/getting_started/tagging/using_tags.md
Labels: getting_started

#7899 [Network Performance Monitoring] Add documentation for running NPM on ECS
  content/en/network_performance_monitoring/installation.md
  static/resources/json/datadog-agent-sysprobe-ecs.json
  static/resources/json/datadog-agent-sysprobe-ecs1.json
Labels: Architecture, network_performance_monitoring

#7911 Cluster Checks Runner tabbed links fix
  content/en/agent/cluster_agent/clusterchecksrunner.md
Labels: agent

#7912 Update retention for events documentation
  content/en/developers/faq/data-collection-resolution-retention.md
Labels: FAQ, developers

#7909 Update java tracer download link
  content/en/tracing/profiling/_index.md
  content/en/tracing/setup/java.md
Labels: tracing

#7894 DOCS-1056 Azure App Services
  content/en/infrastructure/serverless/azure_app_services.md
Labels: infrastructure

#7777 update node apm manual instrumentation page with more info
  content/en/tracing/manual_instrumentation/nodejs.md
  content/en/tracing/opentracing/nodejs.md
Labels: editorial review, tracing

#7916 Making Synthetic docs inclusive
  content/en/synthetics/apm/_index.md
  content/en/synthetics/browser_tests/test_results.md
  content/en/synthetics/settings/_index.md
  content/en/synthetics/troubleshooting/_index.md
Labels: synthetics

#7919 adjust language on exclude/include matches
  content/en/security/logs.md
Labels: security

#7921 reword exclusion list
  content/en/tracing/manual_instrumentation/go.md
Labels: tracing

#7920 [process] update description of exclusion lists
  content/en/security/other.md
Labels: security

#7868 Parse XML with Grok Parser
  content/en/logs/processing/parsing.md
Labels: logs

#7924 Update log archive file format
  content/en/logs/archives/_index.md
Labels: logs

#7928 Update _index.md
  content/en/mobile/_index.md
Labels: mobile

#7927 [WEB-469] Restore classic Bits logo
  layouts/partials/header/header.html
Labels: Architecture

#7926 Updating characters
  content/en/monitors/guide/template-variable-evaluation.md
Labels: Bug, Guide, monitors

#7936 chnage wording
  layouts/_default/baseof.html
  layouts/partials/api/api-toolbar.html
Labels: Architecture

#7930 Add Federator.ai logo
  static/images/integrations_logos/federatorai.png
Labels: Images

#7932 remove experimental environment variable
  content/en/tracing/setup/cpp.md
  content/en/tracing/setup/nodejs.md
  content/en/tracing/setup/php.md
Labels: tracing

#7935 Update on installation reco for K8S
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#7937 Update logo
  static/images/integrations_logos/federatorai.png
Labels: Images

#7933 fix XML parser example
  content/en/logs/processing/parsing.md
Labels: logs

#7214 update go documentation on manual log injection for tracer
  content/en/getting_started/tagging/unified_service_tagging.md
  content/en/tracing/connect_logs_and_traces/_index.md
  content/en/tracing/connect_logs_and_traces/go.md
Labels: Do Not Merge, Guide, agent, developers, getting_started, logs, security, tracing

#7944 DOCS-1014 update User Management page for new design
  content/en/account_management/users/_index.md
  static/images/account_management/users/delete_invite_grid.png
  static/images/account_management/users/resend_invite.png
  static/images/account_management/users/resend_invite_grid.png
  static/images/account_management/users/resend_invite_list.png
  static/images/account_management/users/user_page.png
  static/images/account_management/users/user_page_list.png
Labels: Images, account_management

#7946 📝 Add SLOs video to docs
  content/en/logs/_index.md
  content/en/monitors/service_level_objectives/_index.md
Labels: logs, monitors

#7810 [APM] PHP Sandbox API
  content/en/tracing/guide/instrument_custom_method.md
  content/en/tracing/manual_instrumentation/php.md
  content/en/tracing/opentracing/php.md
  static/images/tracing/manual_instrumentation/php_legacy_api.png
  static/images/tracing/manual_instrumentation/php_sandbox_api.png
Labels: Guide, Images, tracing

#7729 Docs updates for APM PHP release 0.47.0
  content/en/tracing/setup/php.md
Labels: tracing

#7929 PR to combine OpenTracing section with Custom Instrumentation
  config/_default/menus/menus.en.yaml
  content/en/tracing/_index.md
  content/en/tracing/custom_instrumentation/_index.md
  content/en/tracing/custom_instrumentation/cpp.md
  content/en/tracing/custom_instrumentation/dotnet.md
  content/en/tracing/custom_instrumentation/go.md
  content/en/tracing/custom_instrumentation/java.md
  content/en/tracing/custom_instrumentation/nodejs.md
  content/en/tracing/custom_instrumentation/php.md
  content/en/tracing/custom_instrumentation/python.md
  content/en/tracing/custom_instrumentation/ruby.md
  content/en/tracing/opentracing/_index.md
  static/images/synthetics/guide/app_that_requires_login/configs.png
  static/images/synthetics/guide/app_that_requires_login/incognito.mp4
  static/images/synthetics/guide/app_that_requires_login/login_test.mp4
  static/images/synthetics/guide/manually_adding_chrome_extension/icon.png
  static/images/synthetics/guide/manually_adding_chrome_extension/record_test.png
Labels: Architecture, Do Not Merge, Guide, Images, synthetics, tracing

#7952 fix small errors with Custom Instrumentation page
  content/en/tracing/custom_instrumentation/_index.md
  content/en/tracing/custom_instrumentation/java.md
  content/en/tracing/custom_instrumentation/ruby.md
Labels: tracing

#7955 Fix profiling Nav
  config/_default/menus/menus.en.yaml
Labels: Architecture

#7958 Fix a typo in the log side panel doc (extra parenthesis)
  content/en/logs/explorer/_index.md
Labels: logs

#7939 updating the phrasing of the private locations access
  content/en/getting_started/synthetics/private_location.md
  content/en/synthetics/private_locations/_index.md
Labels: getting_started, synthetics

#7950 Update _index.md
  content/en/mobile/_index.md
Labels: mobile

#7951 Update java.md
  content/en/tracing/setup/java.md
Labels: tracing

#7953 updated vagrant link
  content/en/getting_started/tracing/_index.md
Labels: getting_started

#7874 Remove integration pipeline Reference
  content/en/logs/guide/_index.md
  content/en/logs/guide/integration-pipeline-reference.md
  content/en/logs/processing/_index.md
Labels: Guide, logs

#7954 Fix node
  content/en/tracing/profiling/_index.md
  content/en/tracing/profiling/getting_started.md
  content/en/tracing/profiling/search_profiles.md
  layouts/partials/profiling/profiling-languages.html
Labels: Architecture, tracing

#7967 Update getting_started.md
  content/en/tracing/profiling/getting_started.md
Labels: tracing

#7901 tracer startup logs in troubleshooting page
  config/_default/menus/menus.en.yaml
  content/en/tracing/troubleshooting/_index.md
  content/en/tracing/troubleshooting/apm_rate_limits.md
  content/en/tracing/troubleshooting/tracer_debug_logs.md
  content/en/tracing/troubleshooting/tracer_startup_logs.md
  static/images/tracing/troubleshooting/PHPInfo.png
Labels: Architecture, Images, tracing

#7945 Add versions for Unified Service Tagging env vars
  content/en/getting_started/tagging/unified_service_tagging.md
  content/en/tracing/setup/dotnet-core.md
  content/en/tracing/setup/dotnet-framework.md
  content/en/tracing/setup/go.md
  content/en/tracing/setup/java.md
  content/en/tracing/setup/nodejs.md
  content/en/tracing/setup/python.md
Labels: getting_started, tracing

#7968 Update _index.md
  content/en/tracing/troubleshooting/_index.md
Labels: tracing

#7970 Andrew.ardito/fixwrongurl
  content/en/tracing/troubleshooting/_index.md
  content/en/tracing/troubleshooting/agent_rate_limits.md
Labels: tracing

#7940 apm/python: fix env vars; remove django warnings
  content/en/tracing/setup/python.md
Labels: tracing

#7826 Improve fpm/nginx/php configuration for APM
  content/en/tracing/setup/nginx.md
  content/en/tracing/setup/php.md
Labels: tracing

#7978 Updating lock file to be up to date
  yarn.lock
Labels: Architecture

#7915 Michaelw/multi alert monitors
  content/en/monitors/monitor_types/log.md
Labels: monitors

#7971 replace `api_key` with `DD_CLIENT_API_KEY`
  content/en/dashboards/guide/screenboard-api-doc.md
Labels: Guide, dashboards

#7974 Adding missing link
  content/en/network_performance_monitoring/installation.md
Labels: network_performance_monitoring

#7975 Adding OOTB dashboard to exploit APM Agent metrics
  content/en/tracing/troubleshooting/agent_apm_metrics.md
  static/resources/json/APM_monitoring_dashboard.json
Labels: tracing

#7976 api nested array examples fix
  content/en/api/v1/metrics/examples.json
  src/scripts/build-api-pages.js
  src/scripts/tests/build-api-pages.test.js
Labels: Architecture, api

#7982 removing incorrect sentence
  content/en/monitors/service_level_objectives/_index.md
Labels: monitors

#7983 remove tilde
  content/en/api/v1/metrics/SubmitMetrics.py
Labels: api

#7730 Update agent-configuration-files.md
  content/en/agent/guide/agent-configuration-files.md
Labels: Guide, agent

#7989 Update tracer_startup_logs.md
  content/en/tracing/troubleshooting/tracer_startup_logs.md
Labels: tracing

#7986 [WEB-485] Remove `isEnabled:False` from rendered Security Monitoring Default Rules
  local/bin/py/build/actions/security_rules.py
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#7992 azure active directory logo
  static/images/integrations_logos/azure_active_directory.png
Labels: Images

#7961 Note for monitor state
  content/en/monitors/faq/can-i-create-monitor-dependencies.md
Labels: FAQ, monitors

#7993 new azure ad logo
  static/images/integrations_logos/azure_active_directory.png
Labels: Images

#7981 APM/PHP: Introduce new resource normalization settings
  content/en/tracing/setup/php.md
Labels: tracing

#7990 Update go.md
  content/en/tracing/custom_instrumentation/go.md
Labels: tracing

#7994 Update services_map.md
  content/en/tracing/visualization/services_map.md
Labels: tracing

#7997 Revert "Michaelw/delete index"
  content/en/logs/indexes/_index.md
  static/images/logs/indexes/delete_button.png
  static/images/logs/indexes/delete_modal.png
Labels: Images, logs

#7959 Adding documentation for private locations healthchecks
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#7995 Update java.md
  content/en/tracing/setup/java.md
Labels: tracing

#7996 APM > .NET > Setting env vars for Windows Services
  content/en/tracing/compatibility_requirements/dotnet-core.md
  content/en/tracing/compatibility_requirements/dotnet-framework.md
  content/en/tracing/custom_instrumentation/dotnet.md
  content/en/tracing/setup/dotnet-core.md
  content/en/tracing/setup/dotnet-framework.md
  static/images/tracing/setup/dotnet/RegistryEditorCore.png
  static/images/tracing/setup/dotnet/RegistryEditorFramework.png
Labels: Images, logs, synthetics, tracing

#7956 Fix instructions for enabling system probe
  content/en/network_performance_monitoring/installation.md
Labels: network_performance_monitoring

#8013 Use inclusive terminology
  content/en/dashboards/sharing.md
Labels: dashboards

#7969 Dedicated container flare section
  content/en/agent/troubleshooting/send_a_flare.md
  content/en/tracing/troubleshooting/_index.md
Labels: agent, tracing

#8004 command -> binary typo
  content/en/agent/faq/agent_v6_changes.md
Labels: FAQ, agent

#8001 Update _index.md
  content/en/agent/kubernetes/_index.md
Labels: agent

#8014 Zach groves correct dd.trace.methods example
  content/en/tracing/setup/java.md
  static/images/tracing/setup/java/trace_methods.png
Labels: Images, tracing

#8015 Updated python install notes for profiling
  content/en/tracing/profiling/getting_started.md
Labels: tracing

#8020 Add Terraform example to SLO alerting beta docs
  content/en/monitors/service_level_objectives/error_budget.md
Labels: monitors

#8016 Updated .NET Framework & Core public docs to rep DD_TRACE_HEADER_TAGS…
  content/en/tracing/setup/dotnet-core.md
  content/en/tracing/setup/dotnet-framework.md
Labels: tracing

#8021 Update _index.md
  content/en/tracing/troubleshooting/_index.md
Labels: tracing

#7820 DOCS-960 Datadog IoT Agent
  content/en/agent/iot/_index.md
  layouts/shortcodes/region-param.html
Labels: Architecture, agent

#8008 Update SLO docs
  content/en/dashboards/widgets/slo.md
  content/en/developers/faq/data-collection-resolution-retention.md
  content/en/getting_started/tagging/_index.md
  content/en/getting_started/tagging/assigning_tags.md
  content/en/getting_started/tagging/using_tags.md
  content/en/monitors/_index.md
  content/en/monitors/service_level_objectives/_index.md
  content/en/monitors/service_level_objectives/metric.md
  content/en/monitors/service_level_objectives/monitor.md
  static/images/monitors/service_level_objectives/grouped_monitor_based_slo.png
  static/images/monitors/service_level_objectives/metric-based-slo-example.png
  static/images/tagging/assigning_tags/slo_individual_tags.png
  static/images/tagging/using_tags/manage_slo_tags.png
  static/images/tagging/using_tags/metric_based_slo_tags.png
  static/images/tagging/using_tags/monitor_based_slo_tags.png
Labels: FAQ, Images, dashboards, developers, editorial review, getting_started, monitors

#8023 Fix "Histogram" example. It uses "set" instead of "histogram"
  content/en/developers/metrics/dogstatsd_metrics_submission.md
Labels: developers

#8022 updating APM guides list
  content/en/tracing/guide/_index.md
Labels: Guide, tracing

#8024 Remove duplicate content from the troubleshooting section
  content/en/tracing/profiling/getting_started.md
Labels: tracing

#8025 Bump node profiler min version
  content/en/tracing/profiling/getting_started.md
Labels: tracing

#8037 Fix typo on profiling getting started page
  content/en/tracing/profiling/getting_started.md
Labels: tracing

#8036 Update broken links
  content/en/tracing/profiling/getting_started.md
Labels: tracing

#8031 Update downtimes.md
  content/en/monitors/downtimes.md
Labels: monitors

#8039 Adding link to docker hub image
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#8040 Update parsing.md
  content/en/logs/processing/parsing.md
Labels: logs

#8043 Update _index.md
  content/en/tracing/troubleshooting/_index.md
Labels: tracing

#8044 Update NPM docs with external traffic toggle
  content/en/network_performance_monitoring/network_page.md
  static/images/network_performance_monitoring/network_page/filter_traffic_toggles_v2.png
Labels: Images, network_performance_monitoring

#8042 Update java.md
  content/en/tracing/setup/java.md
Labels: tracing

#8038 Mobile GA
  config/_default/menus/menus.en.yaml
  content/en/mobile/_index.md
  data/partials/home.yaml
  static/images/icons/nav_mobile.png
  static/images/icons/nav_mobile_p.png
  static/images/icons/nav_network.png
  static/images/icons/nav_network_p.png
  static/images/mobile/dashboard-example.PNG
  static/images/mobile/link-device.png
  static/images/mobile/monitor-example.PNG
  static/images/mobile/monitors.jpg
  static/images/svg-icons/mobile.svg
Labels: Architecture, Images, mobile

#8009 Update java.md
  content/en/tracing/custom_instrumentation/java.md
Labels: tracing

#8011 Add a glog format example
  content/en/logs/processing/parsing.md
Labels: logs

#8019 Update Windows containers limitations
  content/en/agent/troubleshooting/windows_containers.md
Labels: agent

#7785 api nav updates for multilang
  layouts/partials/nav/api-main-menu.html
  src/scripts/build-api-pages.js
Labels: Architecture

#7896 enable process agent to see containers
  content/en/agent/kubernetes/_index.md
Labels: agent

#8047 Update _index.md - Correct version
  content/en/mobile/_index.md
Labels: mobile

#8048 fixing broken images
  content/en/mobile/_index.md
  static/images/mobile/dashboards.png
  static/images/mobile/monitors.png
Labels: Images, mobile

#8050 Update dotnet-framework.md
  content/en/tracing/setup/dotnet-framework.md
Labels: tracing

#8051 Update dotnet-core.md
  content/en/tracing/setup/dotnet-core.md
Labels: tracing

#7839 Add documentation about using custom queries in DCA with DatadogMetric CRD
  content/en/agent/cluster_agent/external_metrics.md
Labels: agent

#8052 fixing links in profiling section
  content/en/tracing/profiling/_index.md
Labels: tracing

#8060 Update _index.md
  content/en/tracing/troubleshooting/_index.md
Labels: tracing

#8067 Add Security Monitoring permissions
  content/en/account_management/rbac/permissions.md
Labels: account_management

#8069 Troubleshooting missing Syn notification
  content/en/synthetics/troubleshooting/_index.md
Labels: synthetics

#8055 DOCS-1078 hotjar feedback about straight single-quotes
  content/en/logs/guide/restrict-access-to-log-events-with-restriction-queries.md
Labels: Guide, logs

#8054 Update _index.md
  content/en/mobile/_index.md
Labels: mobile

#8071 Add note about supported Terraform provider versions to SLO Alerting Docs
  content/en/monitors/service_level_objectives/error_budget.md
Labels: monitors

#8053 DOCS-1022 Update custom payload instructions for webhooks guide
  content/en/integrations/guide/freshservice-tickets-using-webhooks.md
Labels: Guide, integrations

#8056 Unified service tagging edits for log collection
  content/en/logs/log_collection/_index.md
Labels: logs

#8057 Shubham/updateexample
  content/en/tracing/livesearch.md
  static/images/tracing/live_search/livesearch_query1.png
  static/images/tracing/live_search/livesearch_query2.png
Labels: Images, tracing

#8059 Update RUM Session Definition in Billing Page
  content/en/account_management/billing/pricing.md
Labels: account_management

#8074 empty version
  src/scripts/components/dd-browser-logs-rum.js
Labels: Architecture, account_management

#8070 Timezone support in grok parser date matcher
  content/en/logs/processing/parsing.md
Labels: logs

#8063 Update assigning_tags.md
  content/en/getting_started/tagging/assigning_tags.md
Labels: getting_started

#8062 Bump java min tracer version
  content/en/tracing/profiling/getting_started.md
Labels: tracing

#8075 DOCS-1126 Agent Proxy FAQ
  content/en/account_management/faq/_index.md
  content/en/account_management/faq/can-i-use-a-proxy-to-connect-my-servers-to-datadog.md
  content/en/agent/faq/how-do-i-install-the-agent-on-a-server-with-limited-internet-connectivity.md
  content/en/agent/proxy.md
Labels: FAQ, account_management, agent

#8078 Change required agent from v7.2 to v7.20
  content/en/agent/guide/autodiscovery-management.md
Labels: Guide, agent

#8084 Update NPM installation docs with version exception
  content/en/network_performance_monitoring/installation.md
Labels: network_performance_monitoring

#8085 DOCS-1037 fix tile descriptions
  content/en/integrations/fluentbit.md
  content/en/integrations/pivotal_platform.md
  content/en/integrations/uwsgi.md
Labels: integrations

#8086 Update units.md
  content/en/developers/metrics/units.md
Labels: developers

#8095 Update _index.md
  content/en/mobile/_index.md
Labels: mobile

#8098 Update installing_the_layer.md
  content/en/serverless/troubleshooting/installing_the_layer.md
Labels: Bug, serverless

#8017 APM Security hub
  config/_default/menus/menus.en.yaml
  content/en/security/tracing.md
  content/en/tracing/custom_instrumentation/_index.md
  content/en/tracing/custom_instrumentation/agent_customization.md
  content/en/tracing/custom_instrumentation/cpp.md
  content/en/tracing/custom_instrumentation/dotnet.md
  content/en/tracing/custom_instrumentation/go.md
  content/en/tracing/custom_instrumentation/java.md
  content/en/tracing/custom_instrumentation/nodejs.md
  content/en/tracing/custom_instrumentation/php.md
  content/en/tracing/custom_instrumentation/python.md
  content/en/tracing/custom_instrumentation/ruby.md
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/adding_metadata_to_spans.md
  content/en/tracing/guide/agent-obfuscation.md
  content/en/tracing/guide/security.md
  content/en/tracing/troubleshooting/_index.md
  src/scripts/datadog-docs.js
Labels: Architecture, Guide, security, tracing

#8099 DOCS-1130 Min Collection Interval
  content/en/developers/write_agent_check.md
  content/en/getting_started/integrations/_index.md
Labels: developers, getting_started

#8097 adds in java, go and .NET to serverless getting started
  config/_default/menus/menus.en.yaml
  content/en/mobile/_index.md
  content/en/network_performance_monitoring/installation.md
  content/en/serverless/installation/dotnet.md
  content/en/serverless/installation/go.md
  content/en/serverless/installation/java.md
  content/en/serverless/installation/nodejs.md
  content/en/serverless/troubleshooting/installing_the_forwarder.md
  content/en/serverless/troubleshooting/installing_the_layer.md
  layouts/partials/serverless/getting-started-languages.html
  static/images/serverless/datadog_lambda_library.png
Labels: Architecture, Images, mobile, network_performance_monitoring, serverless

#8103 Updating retention period for Syn tests
  content/en/developers/faq/data-collection-resolution-retention.md
Labels: FAQ, developers

#8104 Serverless Section small fixes and improvements
  content/en/serverless/installation/dotnet.md
  content/en/serverless/installation/go.md
  content/en/serverless/installation/java.md
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
  content/en/serverless/installation/ruby.md
  content/en/serverless/troubleshooting/installing_the_layer.md
Labels: serverless

#8106 Fix KeyValue delimiter example
  content/en/logs/processing/parsing.md
Labels: logs

#8108 Update agent_customization.md
  content/en/tracing/custom_instrumentation/agent_customization.md
Labels: tracing

#8110 fix broken alias and self-link
  content/en/tracing/custom_instrumentation/_index.md
Labels: tracing

#8111 Documenting change in timeout param
  content/en/synthetics/ci.md
Labels: synthetics

#8113 Update metrics_namespace.md
  content/en/tracing/guide/metrics_namespace.md
Labels: Guide, tracing

#8119 Adding system-probe in flare example
  content/en/agent/troubleshooting/send_a_flare.md
Labels: agent

#8121 Update profiling_migration.md
  content/en/tracing/faq/profiling_migration.md
Labels: FAQ, tracing

#8115 DOCS-1061 update synthetic monitoring terminology throughout
  config/_default/menus/menus.en.yaml
  content/en/account_management/billing/pricing.md
  content/en/account_management/billing/usage_details.md
  content/en/api/_index.md
  content/en/api/v1/_index.md
  content/en/api/v1/synthetics/_index.md
  content/en/developers/faq/data-collection-resolution-retention.md
  content/en/getting_started/_index.md
  content/en/getting_started/integrations/_index.md
  content/en/getting_started/synthetics/_index.md
  content/en/getting_started/synthetics/api_test.md
  content/en/getting_started/synthetics/browser_test.md
  content/en/getting_started/synthetics/private_location.md
  content/en/monitors/service_level_objectives/monitor.md
  content/en/synthetics/_index.md
  content/en/synthetics/api_tests/_index.md
  content/en/synthetics/api_tests/errors.md
  content/en/synthetics/apm/_index.md
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/browser_tests/actions.md
  content/en/synthetics/browser_tests/test_results.md
  content/en/synthetics/ci.md
  content/en/synthetics/faq/_index.md
  content/en/synthetics/faq/clone-test.md
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/identify_synthetics_bots.md
  content/en/synthetics/guide/testing-file-upload-and-download.md
  content/en/synthetics/guide/uptime-percentage-widget.md
  content/en/synthetics/metrics.md
  content/en/synthetics/private_locations/_index.md
  content/en/synthetics/search.md
  content/en/synthetics/settings/_index.md
  content/en/synthetics/troubleshooting/_index.md
  content/en/tracing/_index.md
Labels: Architecture, FAQ, Guide, account_management, api, developers, getting_started, monitors, synthetics, tracing

#8127 title fix
  content/en/api/v1/synthetics/_index.md
Labels: api

#8124 DOCS-1136 update ci test int sidebar
  config/_default/menus/menus.en.yaml
Labels: Architecture
