Repository DataDog/documentation, pull requests merged in 2020-02, with the labels that each got.

#6561 Fix metric types link
  content/en/metrics/summary.md
Labels: Bug

#6551 Adding security monitoring section to the search results
  local/etc/algolia/docs_datadoghq.json
  local/etc/algolia/docs_datadoghq_preview.json
Labels: Architecture

#6552 Update daemonset_setup.md
  content/en/agent/kubernetes/daemonset_setup.md
Labels: Agent

#6553 [DOCS-599][APM Docker] Fixing example + lint file
  content/en/agent/docker/apm.md
  content/en/tracing/_index.md
Labels: Agent, Tracing

#6560 Updating image name + alt
  content/en/synthetics/browser_tests/advanced_options.md
  static/images/synthetics/browser_tests/advanced_options/time_before_fail.png
Labels: Translation

#6556 Split APM retention policy
  content/en/developers/faq/data-collection-resolution-retention.md
Labels: App

#6564 Update description of host and APM pricing
  content/en/account_management/billing/pricing.md
Labels: App

#6565 [rum] update faq retention with rum data
  content/en/developers/faq/data-collection-resolution-retention.md
Labels: App

#6569 Update the keyvalue examples to refer to logfmt
  content/en/logs/processing/parsing.md
Labels: Logs

#6571 Revert "Update daemonset_setup.md"
  content/en/agent/kubernetes/daemonset_setup.md
Labels: Bug

#6570 add canonical
  layouts/_default/404-baseof.html
  layouts/_default/api-baseof.html
  layouts/_default/baseof.html
  layouts/index.html
  layouts/partials/canonical.html
Labels: Architecture

#6250 Add doumentation for journald/container_mode option
  content/en/integrations/journald.md
Labels: Agent, Containers, Logs

#6177 Log mask sequence update
  content/en/agent/logs/advanced_log_collection.md
Labels: Agent, Logs

#6576 🐛[Logs] Updating List of Special Characters
  content/en/logs/explorer/search.md
Labels: Logs

#6563 layout logic for disabled toc
  content/en/getting_started/_index.md
  i18n/en.json
  layouts/_default/baseof.html
  layouts/partials/page-edit-body.html
  layouts/partials/table-of-contents/table-of-contents.html
  layouts/shortcodes/integrations.html
  src/scripts/datadog-docs.js
Labels: Architecture

#6558 add quora pixel
  config/_default/params.yaml
  config/development/params.yaml
  config/live/params.yaml
  config/preview/params.yaml
  layouts/partials/head_scripts/quora-pixel.html
Labels: Architecture

#6364 Add distribution metrics info in agent status command
  content/en/agent/guide/agent-status-page.md
Labels: Agent

#5829 Add description of the WithEnv option to go.md
  content/en/tracing/setup/go.md
Labels: Tracing, WORK IN PROGRESS

#6341 Add note about Docker enhancement
  content/en/logs/guide/docker-logs-collection-troubleshooting-guide.md
Labels: Agent

#6265 add documentation for configuring docker labels for tag autodiscovery
  content/en/agent/autodiscovery/tag.md
Labels: Agent

#6467 DOCS-536 Metrics Summary by Tag
  content/en/metrics/summary.md
  static/images/metrics/summary/tag_click.png
  static/images/metrics/summary/tagexplorer.gif
Labels: App

#6579 use html utf8 when uploading files
  .gitlab-ci.yml
Labels: Architecture

#6447 add context banner for out of date pages
  config/_default/params.en.yaml
  config/_default/params.fr.yaml
  config/_default/params.ja.yaml
  config/development/config.yaml
  layouts/_default/list.html
  layouts/_default/section.html
  layouts/_default/single.html
  layouts/partials/translate_status_banner/translate_status_banner.html
Labels: Architecture

#6568 Document the monitor summary widget's sort param
  content/en/dashboards/widgets/monitor_summary.md
Labels: API

#6436 Log source attribute note
  content/en/developers/dogstatsd/high_throughput.md
  content/en/developers/libraries.md
  content/en/integrations/pivotal_platform.md
  content/en/logs/guide/getting-started-lwl.md
  content/en/logs/processing/_index.md
  content/en/tracing/setup/nodejs.md
Labels: Logs

#6516 Update hugo 0.64.0
  .gitlab-ci.yml
  config/_default/config.yaml
  content/en/agent/autodiscovery/management.md
  content/en/agent/cluster_agent/event_collection.md
  content/en/agent/logs/proxy.md
  content/en/developers/metrics/dogstatsd_metrics_submission.md
  content/en/logs/processing/processors.md
  content/en/real_user_monitoring/dashboards/_index.md
  content/en/videos/_index.md
  content/fr/agent/cluster_agent/event_collection.md
  content/fr/developers/metrics/dogstatsd_metrics_submission.md
  content/fr/logs/log_collection/php.md
  content/fr/logs/processing/processors.md
  content/fr/synthetics/settings/_index.md
  layouts/partials/page-edit.html
  layouts/partials/table-of-contents/table-of-contents.html
  layouts/taxonomy/video-category.html
  package.json
  src/scripts/components/table-of-contents.js
  src/styles/components/_table-of-contents.scss
  yarn.lock
Labels: Architecture

#6583 Typo fix
  content/en/agent/guide/autodiscovery-with-jmx.md
  content/en/agent/troubleshooting/site.md
  content/fr/agent/guide/autodiscovery-with-jmx.md
Labels: Bug

#6582 Adding CSP faq for RUM
  content/en/real_user_monitoring/faq/_index.md
  content/en/real_user_monitoring/faq/content_security_policy.md
  local/etc/algolia/docs_datadoghq.json
  local/etc/algolia/docs_datadoghq_preview.json
Labels: RUM

#6585 fix code block code fence rendering issue
  config/_default/config.yaml
Labels: Architecture

#6593 Updated guide headers for ToC
  content/en/developers/guide/what-best-practices-are-recommended-for-naming-metrics-and-tags.md
Labels: Developers

#6590 Fix title
  content/en/developers/guide/what-best-practices-are-recommended-for-naming-metrics-and-tags.md
Labels: Guide/FAQ

#6595 [api] [monitors] Add option for force delete.
  content/en/api/monitors/code_snippets/api-monitor-delete.py
  content/en/api/monitors/code_snippets/api-monitor-delete.sh
  content/en/api/monitors/monitors_delete.md
Labels: API

#6462 [DOCS-573] Updating flow and screenshots
  config/_default/menus/menus.en.yaml
  content/en/network_performance_monitoring/_index.md
  content/en/network_performance_monitoring/network_page.md
  content/en/network_performance_monitoring/network_table.md
  static/images/network_performance_monitoring/network_page/context_npm.png
  static/images/network_performance_monitoring/network_page/data_table.png
  static/images/network_performance_monitoring/network_page/destination_panel.png
  static/images/network_performance_monitoring/network_page/dns_aggregation.png
  static/images/network_performance_monitoring/network_page/drop_down_npm.png
  static/images/network_performance_monitoring/network_page/facet_panels.png
  static/images/network_performance_monitoring/network_page/flow_details.png
  static/images/network_performance_monitoring/network_page/flow_table_region_az.png
  static/images/network_performance_monitoring/network_page/main_page_npm.png
  static/images/network_performance_monitoring/network_page/network_data.png
  static/images/network_performance_monitoring/network_page/npm_timeframe.png
  static/images/network_performance_monitoring/network_table/context.png
  static/images/network_performance_monitoring/network_table/flow_table_filtered.png
  static/images/network_performance_monitoring/network_table/graph_settings.png
  static/images/network_performance_monitoring/network_table/graphs_npm.png
  static/images/network_performance_monitoring/network_table/main_page.png
Labels: Network Performance Monitoring, editorial review

#6601 Fix typo in filter.query description
  content/en/api/logs_indexes/update_an_index.md
Labels: API

#6602 Private locations on Kubernetes
  content/en/synthetics/private_locations.md
Labels: Synthetics

#6597 [DOCS-641] Adding further reading list
  content/en/tracing/guide/configuring-primary-operation.md
Labels: Guide/FAQ

#6600 [DOCS-553] DogStatsD mapper
  config/_default/menus/menus.en.yaml
  content/en/developers/dogstatsd/dogstatsd_mapper.md
Labels: Agent

#6540 Kubernetes audit logs integration
  .gitignore
  Makefile
  content/en/integrations/kubernetes_audit_logs.md
  static/images/integrations_logos/kubernetes_audit_logs.png
Labels: Integration, Logs

#6604 add that logs are uploaded to log archives every 15 minutes
  content/en/logs/archives/_index.md
Labels: Logs

#6584 [rum] add details on faq rum session
  content/en/account_management/billing/rum.md
Labels: App

#6605 Simplify system-probe setup instructions
  content/en/network_performance_monitoring/installation.md
Labels: Network Performance Monitoring

#6607 Remove stray apostrophe
  content/en/network_performance_monitoring/installation.md
Labels: Bug

#6612 Log monitor notification - pagerduty
  content/en/monitors/monitor_types/log.md
Labels: Logs, monitors

#6581 [DOCS-573] Updating Network map screenshots
  content/en/network_performance_monitoring/network_map.md
  static/images/network_performance_monitoring/network_map/configure_network_map.png
  static/images/network_performance_monitoring/network_map/filtering_network_map.mp4
  static/images/network_performance_monitoring/network_map/filtering_npm_map_search.mp4
  static/images/network_performance_monitoring/network_map/network_entity_zoom.mp4
  static/images/network_performance_monitoring/network_map/network_entity_zoom.png
  static/images/network_performance_monitoring/network_map/network_map.png
  static/images/network_performance_monitoring/network_map/network_map_2.png
  static/images/network_performance_monitoring/network_map/network_map_highlight.mp4
Labels: Network Performance Monitoring

#6614 Kubernetes installation typo
  content/en/agent/kubernetes/_index.md
Labels: Agent, Bug

#6620 [DOCS-611] note that slo-get is not available for ruby api
  content/en/api/service_level_objectives/code_snippets/api-slo-get.rb
  content/en/api/service_level_objectives/code_snippets/result.api-slo-get.rb
Labels: API

#6618 Fix typo in Container Map docs and clarify agent perms
  content/en/infrastructure/containermap.md
Labels: App

#6615 [DOCS-595] header conditions note
  content/en/api/synthetics/post_test.md
Labels: Synthetics

#6616 [DOCS-601] rbac enabled by default on new k8s versions
  content/en/agent/kubernetes/daemonset_setup.md
Labels: Agent

#6621 NGINX proxy for everything
  content/en/agent/proxy.md
Labels: Agent

#6628 APM > .NET > table formatting and supported languages
  content/en/tracing/setup/dotnet-core.md
  content/en/tracing/setup/dotnet-framework.md
Labels: Tracing

#6629 Add finatra to supported frameworks list.
  content/en/tracing/setup/java.md
Labels: Tracing

#6630 [DOCS-386] removing old links to api source attribute faq
  content/en/api/events/events_post.md
  content/en/api/monitors/monitors_create.md
  content/en/api/tags/tags.md
  content/en/api/tags/tags_add.md
  content/en/api/tags/tags_update.md
  content/en/developers/events/agent.md
  content/en/developers/events/dogstatsd.md
Labels: API

#6631 [DOCS-392] add a link to SLO training
  content/en/monitors/service_level_objectives/_index.md
Labels: Guide/FAQ

#6608 [Integrations] Lint file
  content/en/integrations/adobe_experience_manager.md
  content/en/integrations/alcide.md
  content/en/integrations/amazon_cloudhsm.md
  content/en/integrations/amazon_guardduty.md
  content/en/integrations/carbon_black.md
  content/en/integrations/cloudability.md
  content/en/integrations/cloudcheckr.md
  content/en/integrations/fluentbit.md
  content/en/integrations/iam_access_analyzer.md
  content/en/integrations/journald.md
  content/en/integrations/kubernetes.md
  content/en/integrations/kubernetes_audit_logs.md
  content/en/integrations/marklogic.md
  content/en/integrations/nxlog.md
  content/en/integrations/pivotal_platform.md
  content/en/integrations/rss.md
  content/en/integrations/rsyslog.md
  content/en/integrations/sidekiq.md
  content/en/integrations/sinatra.md
  content/en/integrations/stunnel.md
  content/en/integrations/syslog_ng.md
  content/en/integrations/system.md
  content/en/integrations/tcprtt.md
  content/en/integrations/uwsgi.md
Labels: Integration

#6619 Update tcprtt.md
  content/en/integrations/tcprtt.md
Labels: Integration

#6638 fix the banner link to have the ref otherwise we never reach the english
  layouts/partials/translate_status_banner/translate_status_banner.html
Labels: Architecture

#6625 Android tracing doc
  .gitignore
  Makefile
  config/_default/menus/menus.en.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Tracing

#6586 document instructions for how to configure and rehydrate from an azur…
  content/en/logs/archives/_index.md
  content/en/logs/archives/rehydrating.md
  static/images/logs/archives/logs_azure_archive_configs.png
  static/images/logs/archives/logs_azure_archive_permissions.png
Labels: Logs

#6651 Initial setup for auto label
  .github/labeler.yml
  .github/workflows/label.yml
Labels: Github

#6653 switch to dd labeler for extra features
  .github/workflows/label.yml
Labels: Github

#6655 Update snmp.md
  content/en/integrations/faq/snmp.md
Labels: integrations

#6657 K8 s agent web hook
  content/en/agent/kubernetes/daemonset_setup.md
Labels: agent

#6659 revise port and image in Redis Autodiscovery template
  content/en/agent/autodiscovery/integrations.md
Labels: agent

#6663 Update attribute name
  content/en/agent/cluster_agent/commands.md
Labels: agent

#6649 [rum] add monitor page for RUM
  config/_default/menus/menus.en.yaml
  content/en/monitors/monitor_types/_index.md
  content/en/monitors/monitor_types/real_user_monitoring.md
  static/images/monitors/monitor_types/rum/define-the-search-query.png
  static/images/monitors/monitor_types/rum/rum_monitor_below_by_application.png
  static/images/monitors/monitor_types/rum/rum_monitor_below_condition.png
Labels: Architecture, Images, monitors

#6668 Add logs back to K8S autodiscovery instructions
  content/en/agent/autodiscovery/endpointschecks.md
Labels: agent, logs

#6156 Adding lang-redirects
  data/manifest.json
  layouts/_default/api-baseof.html
  layouts/_default/baseof.html
  layouts/index.html
  package.json
  src/scripts/components/codetabs.js
  src/scripts/datadog-docs.js
  src/scripts/lang-redirects.js
  src/scripts/tests/lang-redirects.test.js
  webpack.common.js
  yarn.lock
Labels: Architecture

#6672 use npm package for browser logger in lang reirects
  data/service_checks/ceph.ja.json
  src/scripts/lang-redirects.js
Labels: Architecture

#6678 .NET core logo
  layouts/partials/apm/apm-languages.html
  static/images/integrations_logos/net_core.png
Labels: Architecture, Images

#6665 Wording update
  content/en/logs/processing/attributes_naming_convention.md
Labels: logs

#6664 Wording update
  content/en/developers/metrics/type_modifiers.md
Labels: developers

#6669 Fixing dependencies link
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#6675 APM > .NET Core > Alpine setup instructions
  content/en/tracing/setup/dotnet-core.md
Labels: tracing

#6677 Nsollecito/upd lang debug
  src/scripts/lang-redirects.js
Labels: Architecture

#6681 [rum] fix faq link
  content/en/real_user_monitoring/faq/content_security_policy.md
Labels: real_user_monitoring

#6682 fixing link
  content/en/tagging/using_tags.md
Labels: tagging

#6683 Fix syntax when we use dd.trace.global.tags
  content/en/tracing/guide/adding_metadata_to_spans.md
Labels: tracing

#6685 Fix code snippets that cause error.
  content/en/api/usage/code_snippets/api-billing-usage-fargate.sh
  content/en/api/usage/code_snippets/api-billing-usage-hosts.sh
  content/en/api/usage/code_snippets/api-billing-usage-logs.sh
  content/en/api/usage/code_snippets/api-billing-usage-synthetics.sh
  content/en/api/usage/code_snippets/api-billing-usage-timeseries.sh
  content/en/api/usage/code_snippets/api-billing-usage-top-avg-metrics.sh
  content/en/api/usage/code_snippets/api-billing-usage-trace-search.sh
Labels: api

#6686 Revert "use imgix url in shortcode"
  layouts/shortcodes/img.html
Labels: Architecture

#6688 adding a mention of Agent 7
  content/en/infrastructure/process.md
Labels: infrastructure

#6687 Update _index.md
  content/en/agent/logs/_index.md
Labels: agent

#6690 fixing style
  content/en/logs/explorer/_index.md
Labels: Bug

#6699 Add missing link
  content/en/agent/logs/_index.md
Labels: agent, logs

#6701 DOCS-602 Integrations 400+
  content/en/account_management/billing/custom_metrics.md
  content/en/developers/metrics/_index.md
  content/en/getting_started/application/_index.md
  content/en/integrations/_index.md
  content/en/monitors/monitor_types/custom_check.md
  content/en/security/other.md
Labels: account_management, developers, getting_started, integrations, monitors, security

#6705 Making link relative
  content/en/agent/logs/_index.md
Labels: Bug, agent

#6704 Link fix
  content/en/logs/indexes/_index.md
Labels: Bug, logs

#6709 Link fix
  content/en/agent/logs/_index.md
  content/fr/agent/logs/_index.md
Labels: Bug, agent

#6700 [docs] Fix name of DD_APM_REPLACE_TAGS env var
  content/en/agent/docker/apm.md
Labels: agent

#6697 [Doc]: Add supported content encoding for compression
  content/en/api/logs/send_logs_datadog.md
Labels: api

#6710 docs: fix broken link
  content/en/developers/metrics/_index.md
Labels: developers

#6713 Update how-do-i-install-the-agent-on-a-server-with-limited-internet-c…
  content/en/agent/faq/how-do-i-install-the-agent-on-a-server-with-limited-internet-connectivity.md
Labels: agent

#6711 Adding conditional variables and renotify option
  content/en/synthetics/api_tests/_index.md
  content/en/synthetics/browser_tests/_index.md
Labels: synthetics

#6712 ✨RUM Views: add links to RUM errors, resources, long tasks and user actions
  content/en/real_user_monitoring/data_collected/view.md
Labels: real_user_monitoring

#6714 Update services_map.md
  content/en/tracing/visualization/services_map.md
Labels: tracing

#6702 Update java.md to add JBoss
  content/en/tracing/setup/java.md
Labels: tracing

#6716 Update broken link to kubernetes tracing
  content/en/tracing/setup/java.md
Labels: tracing

#6718 Fix links and wording of SLO docs
  config/_default/menus/menus.en.yaml
  content/en/monitors/service_level_objectives/_index.md
  content/en/monitors/service_level_objectives/event.md
  content/en/monitors/service_level_objectives/monitor.md
Labels: Architecture, monitors

#6720 Fix link to Datadog Roles Page
  content/en/account_management/users/custom_roles.md
Labels: account_management

#6719 Add #is_match var supports multiple args
  content/en/monitors/notifications.md
Labels: monitors

#6721 [MA-902]clarify no data timeframe recommendation
  content/en/monitors/monitor_types/metric.md
Labels: monitors

#6729 Variables from tests: JSONPath not supported yet
  content/en/synthetics/settings/_index.md
Labels: synthetics

#6730 Making android tracing doc accessible with link only
  config/_default/menus/menus.en.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#6732 Reorganisation of the Agent Log collection page
  content/en/agent/logs/_index.md
  content/en/logs/log_collection/_index.md
Labels: agent, logs

#6725 link fix
  content/en/agent/autodiscovery/_index.md
  content/en/agent/cluster_agent/_index.md
  content/en/agent/cluster_agent/clusterchecks.md
  content/en/agent/cluster_agent/commands.md
  content/en/agent/cluster_agent/endpointschecks.md
  content/en/agent/cluster_agent/event_collection.md
  content/en/agent/cluster_agent/external_metrics.md
  content/en/agent/cluster_agent/metadata_provider.md
  content/en/agent/cluster_agent/setup.md
  content/en/agent/cluster_agent/troubleshooting.md
  content/en/agent/faq/kubernetes-state-cluster-check.md
Labels: Bug, agent

#6733 Removing Agent metrics
  content/en/account_management/billing/custom_metrics.md
Labels: account_management

#6736 [slo-history-api] update response
  content/en/api/service_level_objectives/code_snippets/result.api-slo-history.sh
Labels: api

#6737 [MA-902] clarify no_data_timeframe requirements/recommendations
  content/en/api/monitors/monitors_create.md
Labels: api

#6610 Fixing comment
  content/en/api/service_level_objectives/code_snippets/api-slo-search.py
  content/en/api/service_level_objectives/code_snippets/api-slo-search.rb
  content/en/api/service_level_objectives/code_snippets/api-slo-search.sh
Labels: Bug

#6613 adding _ as option for italic wording
  CONTRIBUTING.md
Labels: Architecture

#6624 wording update
  content/en/logs/log_collection/_index.md
Labels: Bug

#6639 Removing wrong translated file
  data/service_checks/ceph.ja.json
Labels: Translation

#6640 Changing absolute doc link to relative
  content/en/account_management/api-app-keys.md
  content/en/account_management/billing/_index.md
  content/en/account_management/billing/usage_control_apm.md
  content/en/agent/docker/_index.md
  content/en/agent/docker/apm.md
  content/en/agent/docker/log.md
  content/en/agent/faq/agent_v6_changes.md
  content/en/agent/guide/autodiscovery-with-jmx.md
  content/en/agent/guide/community-integrations-installation-with-docker-agent.md
  content/en/agent/kubernetes/host_setup.md
  content/en/agent/troubleshooting/send_a_flare.md
  content/en/api/logs/list_logs.md
  content/en/api/logs_indexes/logs_indexes.md
  content/en/dashboards/widgets/timeseries.md
  content/en/developers/events/agent.md
  content/en/developers/metrics/agent_metrics_submission.md
  content/en/developers/service_checks/agent_service_checks_submission.md
  content/en/getting_started/integrations/prometheus.md
  content/en/integrations/faq/snmp.md
  content/en/integrations/faq/troubleshooting-jmx-integrations.md
  content/en/integrations/iam_access_analyzer.md
  content/en/integrations/pivotal_platform.md
  content/en/logs/guide/docker-logs-collection-troubleshooting-guide.md
  content/en/logs/guide/log-collection-troubleshooting-guide.md
  content/en/logs/indexes/_index.md
  content/en/logs/log_collection/javascript.md
  content/en/logs/log_collection/ruby.md
  content/en/metrics/distributions.md
  content/en/real_user_monitoring/installation/advanced_configuration.md
  content/en/security/logs.md
  content/en/synthetics/apm/_index.md
  content/en/tracing/guide/add_span_md_and_graph_it.md
  content/en/tracing/guide/alert_anomalies_p99_database.md
  content/en/tracing/guide/instrument_custom_method.md
  content/en/tracing/guide/slowest_request_daily.md
  content/en/tracing/guide/trace_sampling_and_storage.md
Labels: Architecture

#6641 Removing private beta flag as it's public beta now
  content/en/dashboards/correlations/_index.md
  content/en/dashboards/widgets/table.md
  content/en/logs/logs_to_metrics.md
Labels: Architecture

#6656 Adding FAQ and Guide labels
  .github/labeler.yml
Labels: Github

#6696 Fixing tab text to fit in page
  content/en/agent/logs/_index.md
  content/en/agent/logs/proxy.md
  content/en/agent/proxy.md
  content/en/logs/guide/log-collection-troubleshooting-guide.md
  content/en/logs/log_collection/_index.md
Labels: Guide, agent, logs

#6694 [DOCS-643] Billing custom metrics
  content/en/account_management/billing/custom_metrics.md
  content/en/agent/logs/_index.md
  content/en/logs/log_collection/_index.md
  content/en/real_user_monitoring/data_collected/view.md
Labels: account_management, agent, logs, real_user_monitoring

#6740 Keyvalue parsing example - reorganisation
  content/en/logs/processing/parsing.md
Labels: logs

#6673 Mitheysh.asokan/x ray billing updates
  content/en/account_management/billing/_index.md
  content/en/account_management/billing/apm_distributed_tracing.md
Labels: account_management

#6731 Hdelaby/template vars
  content/en/dashboards/template_variables.md
Labels: dashboards

#6507 DOCS-440 Monitor Status
  content/en/monitors/monitor_status.md
  static/images/monitors/monitor_status/status_monitor_event.png
  static/images/monitors/monitor_status/status_monitor_properties.png
Labels: Do Not Merge, editorial review, monitors

#6726 [DOCS-564] Breakdown manual instrumentation
  config/_default/menus/menus.en.yaml
  content/en/tracing/manual_instrumentation/_index.md
  content/en/tracing/manual_instrumentation/cpp.md
  content/en/tracing/manual_instrumentation/dotnet.md
  content/en/tracing/manual_instrumentation/go.md
  content/en/tracing/manual_instrumentation/java.md
  content/en/tracing/manual_instrumentation/nodejs.md
  content/en/tracing/manual_instrumentation/php.md
  content/en/tracing/manual_instrumentation/python.md
  content/en/tracing/manual_instrumentation/ruby.md
  content/en/tracing/setup/dotnet-core.md
  content/en/tracing/setup/dotnet-framework.md
  layouts/partials/apm/apm-manual-instrumentation.html
Labels: Architecture, tracing

#6727 [DOCS-564] Breakdown opentracing
  config/_default/menus/menus.en.yaml
  content/en/tracing/opentracing/_index.md
  content/en/tracing/opentracing/dotnet.md
  content/en/tracing/opentracing/go.md
  content/en/tracing/opentracing/java.md
  content/en/tracing/opentracing/nodejs.md
  content/en/tracing/opentracing/php.md
  content/en/tracing/opentracing/python.md
  content/en/tracing/opentracing/ruby.md
  content/en/tracing/visualization/_index.md
  layouts/partials/apm/apm-opentracing.html
Labels: Architecture, tracing

#6135 [DOCS-659] Dogstatsd with docker-k8s improvements
  config/_default/menus/menus.en.yaml
  content/en/agent/docker/_index.md
  content/en/agent/kubernetes/daemonset_setup.md
  content/en/agent/kubernetes/dogstatsd.md
  content/en/developers/dogstatsd/_index.md
  content/en/developers/dogstatsd/data_aggregation.md
  content/en/developers/dogstatsd/datagram_shell.md
  content/en/developers/dogstatsd/dogstatsd_mapper.md
  content/en/developers/dogstatsd/high_throughput.md
  content/en/developers/dogstatsd/unix_socket.md
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/dogstatsd-and-docker.md
  content/en/tracing/runtime_metrics/_index.md
  content/en/tracing/setup/java.md
Labels: Architecture, agent, developers, integrations, tracing

#6744 [Doc]adding capability IPC_LOCK to Kubernetes ds
  content/en/network_performance_monitoring/installation.md
Labels: network_performance_monitoring

#6749 healthcheck instead of healtcheck
  content/en/agent/logs/advanced_log_collection.md
Labels: agent

#6723 Michaelw/recommended metrics
  content/en/account_management/billing/usage_metrics.md
  content/en/logs/logs_to_metrics.md
  static/images/logs/processing/logs_to_metrics/recommended_usage_metrics.png
Labels: Images, account_management, logs

#6728 Mount the directory containing the docker socket instead of the socket itself
  content/en/agent/kubernetes/daemonset_setup.md
  content/en/logs/faq/how-to-set-up-only-logs.md
  content/en/network_performance_monitoring/installation.md
  content/fr/agent/kubernetes/daemonset_setup.md
  content/fr/network_performance_monitoring/installation.md
Labels: FAQ, agent, logs, network_performance_monitoring

#6738 [DOCS-683] Agent log tabs
  content/en/agent/logs/_index.md
  content/en/logs/log_collection/_index.md
  content/en/security/logs.md
Labels: agent, logs, security

#6698 [DOCS-564] Breakdown runtime metrics
  config/_default/menus/menus.en.yaml
  content/en/integrations/faq/troubleshooting-jmx-integrations.md
  content/en/tracing/runtime_metrics/_index.md
  content/en/tracing/runtime_metrics/java.md
  content/en/tracing/runtime_metrics/nodejs.md
  content/en/tracing/runtime_metrics/python.md
  content/en/tracing/runtime_metrics/ruby.md
  layouts/partials/apm/apm-runtime-metrics.html
Labels: Architecture, FAQ, integrations, tracing

#6747 Delete duplicated wording
  content/en/network_performance_monitoring/network_page.md
Labels: network_performance_monitoring

#6695 [DOCS-564] Break down connect log traces single page
  config/_default/menus/menus.en.yaml
  content/en/logs/_index.md
  content/en/logs/log_collection/java.md
  content/en/logs/log_collection/nodejs.md
  content/en/logs/log_collection/python.md
  content/en/logs/log_collection/ruby.md
  content/en/tracing/connect_logs_and_traces/_index.md
  content/en/tracing/connect_logs_and_traces/dotnet.md
  content/en/tracing/connect_logs_and_traces/go.md
  content/en/tracing/connect_logs_and_traces/java.md
  content/en/tracing/connect_logs_and_traces/nodejs.md
  content/en/tracing/connect_logs_and_traces/php.md
  content/en/tracing/connect_logs_and_traces/python.md
  content/en/tracing/connect_logs_and_traces/ruby.md
  content/en/tracing/guide/add_span_md_and_graph_it.md
  content/en/tracing/setup/java.md
  content/en/tracing/setup/python.md
  layouts/partials/apm/apm-connect-logs-and-traces.html
Labels: Architecture, logs, tracing

#6754 [rum] Fix broken hash link
  content/en/real_user_monitoring/installation/advanced_configuration.md
Labels: real_user_monitoring

#6753 Update FAQ with examples for space aggregation
  content/en/dashboards/faq/i-m-switching-between-the-sum-min-max-avg-aggregators-but-the-values-look-the-same.md
Labels: FAQ, dashboards

#6634 [Getting Started] lint files
  content/en/getting_started/_index.md
  content/en/getting_started/agent/_index.md
  content/en/getting_started/api/_index.md
  content/en/getting_started/application/_index.md
  content/en/getting_started/integrations/_index.md
  content/en/getting_started/integrations/prometheus.md
  content/en/getting_started/logs/_index.md
  content/en/getting_started/synthetics/_index.md
  content/en/getting_started/synthetics/api_test.md
  content/en/getting_started/synthetics/browser_test.md
  content/en/getting_started/synthetics/private_location.md
  content/en/getting_started/tracing/_index.md
  content/en/getting_started/tracing/distributed-tracing.md
Labels: Architecture, editorial review, getting_started

#6623 Metric type 3.0
  content/en/account_management/billing/custom_metrics.md
  content/en/agent/versions/_index.md
  content/en/developers/dogstatsd/data_aggregation.md
  content/en/developers/metrics/_index.md
  content/en/developers/metrics/dogstatsd_metrics_submission.md
  content/en/developers/metrics/types.md
Labels: account_management, agent, developers, metrics

#6758 [DOCS-664] Adding doc around receiver_socket and DD_TRACE_AGENT_URL logic
  content/en/agent/docker/apm.md
  content/en/tracing/setup/dotnet-framework.md
  content/en/tracing/setup/nodejs.md
  content/en/tracing/setup/python.md
Labels: agent, tracing

#6759 [DOCS-685] Adding jmx fetch example
  content/en/tracing/setup/java.md
  static/images/tracing/setup/java/jmxfetch_example.png
Labels: Images, tracing

#6755 DOCS-665 AWS custom metrics
  content/en/account_management/billing/custom_metrics.md
Labels: account_management

#6761 [PROD] fix links in RBAC instructions for cluster agent install
  content/en/agent/cluster_agent/setup.md
Labels: agent

#6674 Downtime recurrence "RRULE" API feature
  content/en/api/downtimes/code_snippets/api-monitor-schedule-downtime.py
  content/en/api/downtimes/code_snippets/api-monitor-schedule-downtime.rb
  content/en/api/downtimes/code_snippets/api-monitor-schedule-downtime.sh
  content/en/api/downtimes/code_snippets/result.api-monitor-schedule-downtime.py
  content/en/api/downtimes/code_snippets/result.api-monitor-schedule-downtime.rb
  content/en/api/downtimes/code_snippets/result.api-monitor-schedule-downtime.sh
  content/en/api/downtimes/downtimes_schedule.md
  content/en/api/downtimes/downtimes_update.md
Labels: api

#6763 Manifest links for RBAC permissions example
  content/en/agent/cluster_agent/setup.md
Labels: agent

#6764 adding a note to make it clear that exclusions do not impact rehydrat…
  content/en/logs/archives/rehydrating.md
Labels: logs

#6771 [WEB-34] Remove the underline on os platforms on integrations
  src/styles/components/_integration-labels.scss
Labels: Architecture

#6773 Adding tenable logo for documentation tile
  static/images/integrations_logos/tenable.png
Labels: Images

#6757 Adding special actions and clicks
  content/en/synthetics/browser_tests/actions.md
  static/images/synthetics/browser_tests/browser_test_click_step.mp4
  static/images/synthetics/browser_tests/browser_test_press_key.png
  static/images/synthetics/browser_tests/browser_test_scroll_step.png
Labels: Images, editorial review, synthetics

#6770 Removing deprecated responsive parameter
  content/en/account_management/billing/alibaba.md
  content/en/account_management/billing/custom_metrics.md
  content/en/account_management/users/_index.md
  content/en/account_management/users/custom_roles.md
  content/en/agent/autodiscovery/basic_autodiscovery.md
  content/en/dashboards/functions/rollup.md
  content/en/integrations/amazon_cloudhsm.md
  content/en/integrations/amazon_guardduty.md
  content/en/logs/logs_to_metrics.md
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/dashboards/_index.md
  content/en/real_user_monitoring/data_collected/resource.md
  content/en/real_user_monitoring/data_collected/view.md
  content/en/real_user_monitoring/explorer/_index.md
  content/en/real_user_monitoring/explorer/analytics.md
  content/en/real_user_monitoring/explorer/search.md
  content/en/security_monitoring/_index.md
  content/en/security_monitoring/detection_rules.md
  content/en/security_monitoring/explorer.md
  content/en/security_monitoring/getting_started.md
  content/en/tracing/guide/setting_up_APM_with_cpp.md
  content/en/tracing/setup/java.md
  content/en/watchdog.md
Labels: Guide, account_management, agent, dashboards, integrations, logs, real_user_monitoring, security_monitoring, tracing

#6769 Changed js extension to ts for TypeScript
  content/en/tracing/setup/nodejs.md
Labels: tracing

#6767 [DOCS-695] Fixing apiversion to apps/v1
  content/en/network_performance_monitoring/installation.md
Labels: network_performance_monitoring

#6743 [DOCS-660] Monitoring website uptime with Synthetics and SLO
  config/_default/menus/menus.en.yaml
  content/en/dashboards/guide/_index.md
  content/en/dashboards/guide/uptime-percentage-widget.md
  content/en/integrations/guide/_index.md
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/uptime-percentage-widget.md
  local/etc/algolia/docs_datadoghq.json
  local/etc/algolia/docs_datadoghq_preview.json
  static/images/synthetics/guide/uptime_slo/final_dashboard.png
  static/images/synthetics/guide/uptime_slo/slo_config.png
  static/images/synthetics/guide/uptime_slo/slo_notif.png
  static/images/synthetics/guide/uptime_slo/slo_selection.png
  static/images/synthetics/guide/uptime_slo/slo_target.png
  static/images/synthetics/guide/uptime_slo/slo_widget_configs.png
  static/images/synthetics/guide/uptime_slo/synthetics_message.png
  static/images/synthetics/guide/uptime_slo/synthetics_test_assertions.png
  static/images/synthetics/guide/uptime_slo/synthetics_test_config.png
  static/images/synthetics/guide/uptime_slo/traffic_github.png
Labels: Architecture, Guide, Images, dashboards, editorial review, integrations, synthetics
