Repository DataDog/documentation, pull requests merged in 2020-10, with the labels that each got.

#8678 DOCS-1246 - new mobile functions
  content/en/mobile/_index.md
  static/images/mobile/home-screen-search-2.png
  static/images/mobile/home-screen-search.png
  static/images/mobile/quick-actions-final.png
  static/images/mobile/quick_actions.png
  static/images/mobile/shortcuts-final.png
Labels: Images, mobile

#8701 Nmachado26/mobile quickactions changes
  content/en/mobile/_index.md
  static/images/mobile/iphone_search_doc.png
Labels: Images, mobile

#8705 Update _index.md
  content/en/mobile/_index.md
Labels: mobile

#8706 Update single template logic
  data/security_monitoring/data.yaml
  layouts/security_rules/single.html
  yarn.lock
Labels: Architecture

#8494 Cswatt/operator2
  config/_default/menus/menus.en.yaml
  content/en/agent/guide/_index.md
  content/en/agent/guide/operator-advanced.md
  content/en/agent/kubernetes/_index.md
  content/en/agent/kubernetes/apm.md
  content/en/agent/kubernetes/log.md
  content/en/agent/kubernetes/operator_configuration.md
  layouts/shortcodes/table.html
  src/styles/pages/_global.scss
Labels: Architecture, FAQ, Guide, agent

#8716 [RUM] clarify proxy faq
  content/en/real_user_monitoring/faq/proxy_rum_data.md
Labels: FAQ, real_user_monitoring

#8715 Adding browser test result example
  content/en/synthetics/ci.md
Labels: synthetics

#8718 Mobile docs - new images and bullet formatting
  content/en/mobile/_index.md
  static/images/mobile/shortcut shadow.png
  static/images/mobile/shortcut_shadow.png
  static/images/mobile/siri shadow.png
  static/images/mobile/siri_shadow.png
Labels: Images, mobile

#8710 Update _index.md
  content/en/agent/logs/_index.md
Labels: agent

#8722 fix broken image link
  content/en/getting_started/tagging/using_tags.md
Labels: getting_started

#8726 Filtering and scrubbing doc for Lambda logs
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: Guide, logs

#8719 update header footer to use menu config files
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
  config/_default/params.yaml
  data/partials/footer.fr.yaml
  data/partials/footer.ja.yaml
  data/partials/footer.yaml
  data/partials/header.fr.yaml
  data/partials/header.ja.yaml
  data/partials/header.yaml
  i18n/en.json
  i18n/fr.json
  i18n/ja.json
  layouts/partials/footer/footer.html
  layouts/partials/footer_link.html
  layouts/partials/header/header.html
  layouts/partials/menulink.html
  src/styles/_custom.scss
  src/styles/components/_footer.scss
  src/styles/components/_header.scss
  static/images/svg-icons/app-store-badge.svg
  static/images/svg-icons/apple.svg
  static/images/svg-icons/google-play-badge.svg
  static/images/svg-icons/google-play.svg
  static/images/svg-icons/instagram.svg
  static/images/svg-icons/linkedin.svg
  static/images/svg-icons/twitter.svg
  static/images/svg-icons/world.svg
  static/images/svg-icons/youtube.svg
Labels: Architecture, Images, tracing

#8728 nav link fix
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  layouts/_default/404-baseof.html
  layouts/_default/baseof.html
Labels: Architecture

#8729 add istio v1.7 cpp tracer version
  content/en/tracing/setup/istio.md
Labels: tracing

#8730 DOCS-1222 Update missing_metrics.py
  local/bin/py/missing_metrics.py
Labels: Architecture

#8158 [WEB-213] - api translateprep
  data/api/v1/translate_actions.json
  data/api/v1/translate_tags.json
  data/api/v2/translate_actions.json
  data/api/v2/translate_tags.json
  layouts/api/list.html
  src/scripts/build-api-pages.js
  translate.yaml
Labels: Architecture, api

#8736 Adding new features
  content/en/synthetics/api_tests/_index.md
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/guide/app-that-requires-login.md
Labels: Guide, synthetics

#8742 Added logo for OCI
  static/images/integrations_logos/oracle_cloud_infrastructure.png
Labels: Images

#8739 WEB-789 add spacing for p + blockquote
  src/styles/base/_typography.scss
Labels: Architecture

#8741 fix a typo
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
Labels: Guide, real_user_monitoring

#8737 Fix tabbing
  content/en/tracing/guide/trace_sampling_and_storage.md
Labels: tracing

#8743 DOCS-1231 Widget Custom Links
  content/en/dashboards/widgets/_index.md
Labels: dashboards

#8735 Rearrange Archive Sections - Support Tags on Archives
  content/en/logs/archives/_index.md
Labels: logs

#8747 Log index daily quota and events
  content/en/logs/guide/logs-monitors-on-volumes.md
  content/en/logs/indexes/_index.md
  static/images/logs/guide/daily_quota_monitor.png
  static/images/logs/guide/daily_quota_notification.png
  static/images/logs/indexes/index_quota_event.png
Labels: Guide, Images, logs

#8698 Extend Log RBAC with Logs Pipelines, Indexes and Archives best practices.
  content/en/account_management/rbac/permissions.md
  content/en/logs/guide/_index.md
  content/en/logs/guide/logs-rbac.md
  content/en/logs/guide/restrict-access-to-log-events-with-restriction-queries.md
  static/images/account_management/rbac/logs_hv_roles_combination.png
  static/images/logs/guide/logs_archive_rbac.png
  static/images/logs/guide/rbac/add_role.png
  static/images/logs/guide/rbac/admin_permissions.png
  static/images/logs/guide/rbac/app-api_keys.png
  static/images/logs/guide/rbac/archives.png
  static/images/logs/guide/rbac/assign_permissions.png
  static/images/logs/guide/rbac/assign_user.png
  static/images/logs/guide/rbac/assign_user2.png
  static/images/logs/guide/rbac/indexes.png
  static/images/logs/guide/rbac/minimal_permissions.png
  static/images/logs/guide/rbac/pipelines.png
  static/images/logs/guide/rbac/rehydration_index.png
  static/images/logs/guide/rbac/tag_rehydration.png
  static/images/logs/guide/rbac/team_tag.png
Labels: Guide, Images, account_management, logs

#8618 Specify the correct agent installation path
  content/en/network_performance_monitoring/installation.md
Labels: network_performance_monitoring

#8748 WEB-673 Code wrapper shortcode, upgrade markdown renderer
  config/_default/config.yaml
  config/_default/params.yaml
  content/en/account_management/authn_mapping/_index.md
  content/en/agent/amazon_ecs/_index.md
  content/en/agent/amazon_ecs/apm.md
  content/en/agent/faq/agent_v6_changes.md
  content/en/agent/troubleshooting/send_a_flare.md
  content/en/developers/events/dogstatsd.md
  content/en/developers/metrics/agent_metrics_submission.md
  content/en/developers/metrics/dogstatsd_metrics_submission.md
  content/en/developers/service_checks/dogstatsd_service_checks_submission.md
  content/en/tracing/setup/dotnet-core.md
  layouts/api/list.html
  layouts/partials/code-lang-tabs.html
  layouts/partials/snippet-code-block.html
  layouts/partials/snippet-result-code-block.html
  layouts/shortcodes/code-snippets.html
  layouts/shortcodes/code-tabs.html
  layouts/shortcodes/programming-lang-wrapper.html
  layouts/shortcodes/programming-lang.html
  src/scripts/components/api.js
  src/scripts/components/async-loading.js
  src/scripts/components/code-languages.js
  src/scripts/main-dd-js.js
  src/styles/components/_table-of-contents.scss
  src/styles/pages/_global.scss
Labels: Architecture, FAQ, account_management, agent, developers, tracing

#8752 [WEB-802] fix nested list item css issue
  src/styles/pages/_global.scss
Labels: Architecture

#8598 apm/python: move python documentation links to readthedocs
  content/en/tracing/app_analytics/_index.md
  content/en/tracing/compatibility_requirements/python.md
  content/en/tracing/custom_instrumentation/agent_customization.md
  content/en/tracing/custom_instrumentation/python.md
  content/en/tracing/setup/python.md
  content/fr/security/tracing.md
  content/fr/tracing/app_analytics/_index.md
  content/fr/tracing/compatibility_requirements/python.md
  content/fr/tracing/manual_instrumentation/python.md
  content/fr/tracing/opentracing/python.md
  content/fr/tracing/setup/python.md
  content/ja/serverless/datadog_lambda_library/python.md
  content/ja/tracing/app_analytics/_index.md
  content/ja/tracing/compatibility_requirements/python.md
  content/ja/tracing/custom_instrumentation/agent_customization.md
  content/ja/tracing/custom_instrumentation/python.md
  content/ja/tracing/setup/python.md
Labels: tracing

#8731 Update image name to fix broken link
  static/images/tracing/visualization/trace/trace_networks.png
Labels: Images, tracing

#8754 [agent+integrations] jmxterm no longer shipped with agent 5.32.8+
  content/en/integrations/faq/collecting-composite-type-jmx-attributes.md
  content/en/integrations/faq/troubleshooting-jmx-integrations.md
Labels: FAQ, integrations

#8760 Add Lambda Extension docs
  config/_default/menus/menus.en.yaml
  content/en/serverless/datadog_lambda_library/_index.md
  content/en/serverless/datadog_lambda_library/extension.md
Labels: Architecture, serverless

#8763 DOCS-1279 - java link fix
  content/en/tracing/connect_logs_and_traces/java.md
Labels: tracing

#8762 DOCS-1273 remove outdated note
  content/en/monitors/faq/can-i-create-monitor-dependencies.md
Labels: FAQ, monitors

#8761 [DOCS 1287] process agent note
  content/en/infrastructure/livecontainers.md
Labels: infrastructure

#8469 apm/python: update links
  content/en/tracing/compatibility_requirements/python.md
  content/fr/tracing/compatibility_requirements/python.md
  content/fr/tracing/setup/python.md
  content/ja/tracing/compatibility_requirements/python.md
Labels: tracing

#8764 Adding in a redirect for a removed page
  content/en/integrations/_index.md
Labels: integrations

#8755 correct the spelling error
  content/en/tracing/guide/metrics_namespace.md
Labels: Guide, tracing

#8654 Update _index.md
  content/en/agent/amazon_ecs/_index.md
Labels: agent

#8751 Update Laravel log examples
  content/en/logs/log_collection/php.md
  content/en/tracing/connect_logs_and_traces/php.md
Labels: logs, tracing

#8756 Update metrics_namespace.md
  content/en/tracing/guide/metrics_namespace.md
Labels: Guide, tracing

#8766 Fix typo in logs RBAC guide
  content/en/logs/guide/logs-rbac.md
Labels: Guide, logs

#8772 Bumping DCA version for Orch Explorer
  content/en/infrastructure/livecontainers.md
Labels: infrastructure

#8727 Update dogstatsd_metrics_submission.md
  content/en/developers/metrics/dogstatsd_metrics_submission.md
Labels: developers

#8640 Update DeleteTests.py
  content/en/api/v1/synthetics/DeleteTests.py
Labels: synthetics

#8777 fix api code copy
  layouts/api/list.html
Labels: Architecture

#8776 fix tm placement
  content/en/logs/guide/getting-started-lwl.md
Labels: Guide, logs

#8778 Update the OpenMetrics dev docs
  content/en/developers/prometheus.md
Labels: developers

#8779 zach groves removing duplicate row from supported integrations
  content/en/tracing/compatibility_requirements/java.md
Labels: tracing

#8790 Update Serverless custom metrics doc
  content/en/serverless/custom_metrics/_index.md
Labels: serverless

#8793 Update overview
  content/en/developers/prometheus.md
Labels: developers

#8653 small review fixes
  content/en/tracing/setup/java.md
Labels: tracing

#8775 [WEB-840] - update frontmatter formatting on integrations
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#8780 Fix broken link and add new link
  content/en/account_management/billing/usage_attribution.md
Labels: account_management

#8795 Codeblock comments fix
  content/en/agent/proxy.md
Labels: agent

#8694 Logs endpoints for network traffic
  content/en/agent/guide/network.md
Labels: Guide, agent

#8696 Add Python Tracer ASGI
  content/en/tracing/compatibility_requirements/python.md
  content/ja/tracing/compatibility_requirements/python.md
Labels: tracing

#8797 updating course link for the new SLO course
  content/en/monitors/service_level_objectives/_index.md
Labels: monitors

#8798 Update java.md
  content/en/tracing/setup/java.md
Labels: tracing

#8800 Fix for incorrect codeblocks and tabbing
  content/en/tracing/setup/java.md
Labels: tracing

#8799 modify region params styling
  content/en/agent/guide/network.md
  layouts/shortcodes/region-param.html
  layouts/shortcodes/site-region.html
  src/scripts/region-redirects.js
  src/styles/pages/_global.scss
Labels: Architecture, Guide, agent

#8801 Update the API that is suggsested for viewing a client's entire infra…
  content/en/developers/guide/query-the-infrastructure-list-via-the-api.md
Labels: Guide, developers

#8707 Update notifications.md
  content/en/monitors/notifications.md
Labels: monitors

#8796 APM Java config updates
  content/en/tracing/compatibility_requirements/python.md
  content/en/tracing/setup/java.md
Labels: tracing

#8637 Update _index.md
  content/en/tracing/send_traces/_index.md
Labels: tracing

#8803 fix borked tabs because of image spacing
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: Guide, logs

#8804 Update java.md
  content/en/tracing/setup/java.md
Labels: tracing

#8709 Update advanced_log_collection.md
  content/en/agent/logs/advanced_log_collection.md
Labels: agent

#8805 add warning/note for use of parenetheses
  content/en/monitors/notifications.md
Labels: monitors

#8809 Fix broken links due to _ / - confusion
  content/en/logs/guide/logs-rbac.md
Labels: Guide, logs

#8808 Various link fixes
  content/en/agent/amazon_ecs/logs.md
  content/en/agent/troubleshooting/config.md
  content/en/developers/dogstatsd/unix_socket.md
  content/en/integrations/tcprtt.md
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-kinesis-firehose-destination.md
  content/en/logs/log_collection/php.md
  content/en/serverless/distributed_tracing/_index.md
  content/en/synthetics/guide/email-validation.md
  content/en/tracing/custom_instrumentation/agent_customization.md
  content/en/tracing/profiler/getting_started.md
  content/en/tracing/troubleshooting/tracer_startup_logs.md
  layouts/partials/whats-next/whats-next.html
  layouts/shortcodes/partial.html
Labels: Architecture, Guide, agent, developers, integrations, logs, serverless, synthetics, tracing

#8811 Typo in title Troubleshooting DatadogMetric issues
  content/en/agent/cluster_agent/external_metrics.md
Labels: agent

#8812 add link to correct integration table for Java
  content/en/tracing/app_analytics/_index.md
Labels: tracing

#8810 Custom queries are now ignored on secondaries
  content/en/integrations/guide/mongo-custom-query-collection.md
Labels: Guide, integrations

#8814 update info about cloudwatch metrics
  content/en/integrations/faq/aws-integration-and-cloudwatch-faq.md
Labels: FAQ, integrations

#8817 fix link to ipranges and all other auto-populated datadoghq.com that …
  content/en/agent/guide/network.md
Labels: Guide, agent

#8621 Update SLO widget doc text for new widget design/functionality
  content/en/dashboards/widgets/slo.md
  static/images/dashboards/widgets/slo/slo_summary-show_title.png
  static/images/dashboards/widgets/slo/slo_summary-view_mode.png
  static/images/dashboards/widgets/slo/slo_summary_editor.png
Labels: Images, dashboards

#8813 [APM PHP] Update docs for 0.49.0 release
  content/en/tracing/compatibility_requirements/php.md
Labels: tracing

#8822 Revert "Custom queries are now ignored on secondaries"
  content/en/integrations/guide/mongo-custom-query-collection.md
Labels: Guide, integrations

#8823 [doc] corrected link for "Introduction to datadog"
  content/en/getting_started/_index.md
Labels: getting_started

#8818 DOCS-1289 - fix misleading integration setup
  content/en/agent/kubernetes/integrations.md
Labels: agent

#8785 Restructure Archive Doc Page - Document Latest Options
  content/en/agent/logs/advanced_log_collection.md
  content/en/developers/prometheus.md
  content/en/logs/archives/_index.md
  content/en/logs/guide/logs-rbac.md
  content/en/tracing/send_traces/_index.md
  content/en/tracing/setup/java.md
  static/images/logs/archives/archive_restriction.png
  static/images/logs/archives/archive_select_gcs.png
  static/images/logs/archives/archive_validation.png
  static/images/logs/archives/log_archives_s3_datadog_settings_role_delegation.png
  static/images/logs/archives/logs_archive_aws_setup.png
  static/images/logs/archives/logs_archive_azure_setup.png
  static/images/logs/archives/logs_archive_gcp_setup.png
  static/images/logs/archives/logs_azure_archive_configs.png
Labels: Guide, Images, agent, developers, logs, tracing

#8829 Fix for tracing FAQ links
  content/en/tracing/faq/trace-agent-from-source.md
Labels: FAQ, tracing

#8831 remove newlines
  content/en/agent/logs/proxy.md
Labels: agent

#8827 Document DD_TRACE_AGENT_URL for Java tracer
  content/en/tracing/setup/java.md
Labels: tracing

#8826 Document DD_TRACE_STARTUP_LOGS for Java tracer
  content/en/tracing/setup/java.md
Labels: tracing

#8802 Correction to json log formatter example
  content/en/logs/log_collection/python.md
Labels: logs

#8832 Add notice that Custom Roles are in Public Beta
  content/en/logs/guide/logs-rbac.md
Labels: Guide, logs

#8836 Change on host to allow for private locations
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#8837 Add file size limit on source maps upload
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
Labels: Guide, real_user_monitoring

#8840 Update go.md
  content/en/tracing/setup/go.md
Labels: tracing

#8833 Update Cluster-Agent external-metrics setup with DatadogMetrics
  content/en/agent/cluster_agent/external_metrics.md
Labels: agent

#8838 updates to installation, broken links and implementing user feedback on serverless docs
  content/en/logs/log_collection/_index.md
  content/en/serverless/datadog_lambda_library/_index.md
  content/en/serverless/installation/dotnet.md
  content/en/serverless/installation/go.md
  content/en/serverless/installation/java.md
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
  content/en/serverless/installation/ruby.md
Labels: logs, serverless

#8825 document DD_RUNTIME_METRICS_ENABLED for Java tracer
  content/en/tracing/runtime_metrics/java.md
Labels: tracing

#8792 add orchestrator network endpoints
  content/en/agent/guide/network.md
Labels: Guide, agent, tracing

#8841 [faq/ec2-tags-agent] Update documented permission
  content/en/integrations/faq/how-do-i-pull-my-ec2-tags-without-using-the-aws-integration.md
Labels: FAQ, integrations

#8848 Fixing link
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#8830 pa11y fix
  layouts/partials/footer/footer.html
  layouts/partials/nav/api-main-menu.html
Labels: Architecture

#8849 WEB-861 Zach/footer langs
  layouts/partials/footer/footer.html
  src/scripts/components/language-select.js
  src/scripts/main-dd-js.js
  src/styles/base/_helpers.scss
  src/styles/components/_footer.scss
  static/images/svg-icons/arrow.svg
Labels: Architecture, Images

#8835 Document how to setup Restriction Queries for Log Management
  content/en/account_management/rbac/permissions.md
  content/en/logs/guide/logs-rbac.md
  static/images/account_management/rbac/logs_rq-assign_roles.gif
  static/images/account_management/rbac/logs_rq-create.gif
  static/images/account_management/rbac/logs_rq-filter.png
  static/images/account_management/rbac/logs_rq-view_as_role.png
  static/images/account_management/rbac/logs_rq-view_as_user.png
  static/images/logs/guide/rbac/restriction_queries.png
Labels: Guide, Images, account_management, logs

#8858 Document how to set up Log Tags in Archives
  content/en/logs/archives/_index.md
  static/images/logs/archives/archive_restriction.png
  static/images/logs/archives/tags_in_out.png
Labels: Do Not Merge, Images, logs

#8862 [WEB-869] - add route53 mapping for src img & switch cat to be log not logs
  data/security_monitoring/data.yaml
  local/bin/py/build/actions/security_rules.py
Labels: Architecture

#8866 Add restriction Security Monitoring for HIPAA
  content/en/security/logs.md
Labels: security

#8850 [trace] refresh the documentation on the ingestion controlls
  content/en/tracing/trace_retention_and_ingestion/_index.md
Labels: tracing

#8855 adding snowflake logo
  static/images/integrations_logos/snowflake.png
Labels: Images

#8854 DOCS-1302 Agent logs exclude_paths
  content/en/agent/logs/_index.md
Labels: agent

#8872 adding an alias for the old file
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, real_user_monitoring

#8871 Fix broken links to the new data access configuration page in app
  content/en/account_management/rbac/permissions.md
Labels: account_management

#8875 formatting fix
  content/en/security/logs.md
Labels: security

#8876 Andrew.ardito/addimage
  content/en/tracing/guide/apm_dashboard.md
  content/en/tracing/trace_retention_and_ingestion/_index.md
  static/images/tracing/trace_indexing_and_ingestion/IngestionBreakdown.png
Labels: Guide, Images, tracing

#8844 DOCS-1248 AWS FAQ
  content/en/integrations/faq/aws-integration-and-cloudwatch-faq.md
Labels: FAQ, integrations

#8868 Remove duplicated line
  content/en/tracing/custom_instrumentation/go.md
Labels: tracing

#8878 fix unified_service_tagging.md example
  content/en/getting_started/tagging/unified_service_tagging.md
Labels: getting_started

#8877 content/en/tracing/setup/go.md: Update deprecated DD_AGENT_APM_PORT to DD_TRACE_AGENT_PORT
  content/en/tracing/setup/go.md
Labels: tracing

#8879 WEB-868 add hmtl select for lang mobile
  layouts/partials/footer/footer.html
  src/styles/components/_footer.scss
Labels: Architecture

#8885 Restore DNS Monitoring Docs
  content/en/network_performance_monitoring/_index.md
  content/en/network_performance_monitoring/dns_monitoring.md
  static/images/network_performance_monitoring/dns_default.png
  static/images/network_performance_monitoring/dns_query_screenshot.png
  static/images/network_performance_monitoring/dns_sidepanel.png
Labels: Images, network_performance_monitoring

#8816 DOCS-1238 API Source Attributes
  content/en/integrations/faq/list-of-api-source-attribute-value.md
Labels: FAQ, integrations

#8889 Update _index.md
  content/en/tracing/trace_search_and_analytics/_index.md
Labels: tracing

#8815 [DOCS-1310] Update php.md
  content/en/logs/log_collection/php.md
Labels: logs

#8880 [DOCS-1322] adding snyk integration
  .gitignore
  Makefile
  content/en/integrations/snyk.md
  static/images/integrations_logos/snyk.png
Labels: Images, integrations

#8891 DOCS-1327 add dns monitoring to sidebar
  config/_default/menus/menus.en.yaml
Labels: Architecture

#8888 Patching Logs Archive Documentation
  content/en/logs/archives/_index.md
Labels: logs

#8894 Update to DNS Monitoring docs
  content/en/network_performance_monitoring/dns_monitoring.md
Labels: network_performance_monitoring

#8887 Labeling Custom Roles as an opt-in Feature
  content/en/account_management/rbac/_index.md
  content/en/logs/guide/logs-rbac.md
Labels: Guide, account_management, logs

#8898 shortening the text on a further reading link
  content/en/security_monitoring/detection_rules.md
Labels: security_monitoring

#8886 WEB-883 update ja copy
  config/_default/menus/menus.ja.yaml
  i18n/ja.json
  layouts/partials/footer/footer.html
Labels: Architecture

#8900 redefine what sourcecategory is for
  content/en/agent/logs/_index.md
Labels: agent

#8902 updating gcp logo
  static/images/integrations_logos/google_cloud_platform.png
Labels: Images

#8867 Amazon ECS Agent metrics
  content/en/agent/amazon_ecs/data_collected.md
Labels: agent

#8907 Add security signals to data FAQ
  content/en/developers/faq/data-collection-resolution-retention.md
Labels: FAQ, developers

#8839 DOCS-1257 Browser Log Collection single source
  .gitignore
  .gitlab-ci.yml
  Makefile
  content/en/logs/log_collection/javascript.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, logs

#8903 Update java.md
  content/en/tracing/setup/java.md
Labels: tracing

#8915 Removing "Enterprise" cuz it's misleading
  content/en/logs/guide/logs-rbac.md
Labels: Guide, logs

#8890 content/en/tracing/setup/go.md: remove unnecessary instruction
  content/en/tracing/setup/go.md
Labels: tracing

#8904 DOCS-1270 MySQL Custom Queries
  content/en/integrations/faq/how-to-collect-metrics-from-custom-mysql-queries.md
Labels: FAQ, integrations

#8905 Fix code block
  content/en/agent/basic_agent_usage/windows.md
Labels: agent

#8917 Update build-custom-reports-using-log-analytics-api.md
  content/en/logs/guide/build-custom-reports-using-log-analytics-api.md
Labels: Guide, logs

#8908 Update Agent GPG keys
  content/en/agent/faq/agent-downgrade-major.md
  content/en/agent/iot/_index.md
  content/en/agent/versions/upgrade_to_agent_v6.md
  static/config/99datadog-amazon-linux-2.config
  static/config/99datadog.config
Labels: FAQ, agent

#8911 added content for RUM async method
  content/en/real_user_monitoring/browser/advanced_configuration.md
  content/en/real_user_monitoring/faq/content_security_policy.md
  content/en/real_user_monitoring/faq/proxy_rum_data.md
Labels: FAQ, real_user_monitoring

#8912 Fix urls for serilog C#
  content/en/logs/log_collection/csharp.md
Labels: logs

#8913 Update title of JVM Notes and add Scala versions
  content/en/tracing/setup/java.md
Labels: tracing

#8914 DOCS-1306 Fix broken links
  content/en/integrations/tcprtt.md
  content/en/synthetics/guide/email-validation.md
Labels: Guide, integrations, synthetics

#8922 Update _index.md
  content/en/tracing/trace_retention_and_ingestion/_index.md
  content/en/tracing/trace_retention_and_ingestion/usage_metrics.md
Labels: tracing

#8773 [PROF-2200] add documentation on stackdepth limits
  content/en/tracing/profiler/getting_started.md
Labels: tracing

#8926 change typo, Datadoc should be Datadog
  content/en/agent/kubernetes/_index.md
Labels: agent

#8920 Adding digest auth for browser tests and fixed pool of IP for PL
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/guide/app-that-requires-login.md
  content/en/synthetics/private_locations/_index.md
Labels: Guide, synthetics

#8924 DOCS-1285 Partial Monitor Muting
  content/en/monitors/monitor_status.md
Labels: monitors

#8919 Julian.kozianski/update glossary
  content/en/tracing/visualization/_index.md
  static/images/tracing/visualization/execution_duration.png
Labels: Images, tracing

#8927 fix tabs indentation for formatting
  content/en/tracing/setup/java.md
Labels: tracing

#8881 [NET-863] Add note about Cilium reqs for NPM
  content/en/network_performance_monitoring/installation.md
Labels: network_performance_monitoring
