Repository DataDog/documentation, pull requests merged in 2020-12, with the labels that each got.

#9164 DOCS-1441 slight exclusion clarification
  content/en/agent/kubernetes/_index.md
Labels: agent

#9163 DOCS-1319 clarify token length
  content/en/agent/cluster_agent/setup.md
Labels: agent

#9161 DOCS-1397 System load for Windows
  content/en/agent/basic_agent_usage/windows.md
Labels: agent

#9147 [PAU-17] Remove container inaccuracy
  content/en/account_management/billing/_index.md
Labels: account_management

#9133 DOCS-1443 Azure App Services extension
  content/en/serverless/azure_app_services.md
Labels: serverless

#9165 Clarification on PL custom certificates
  content/en/synthetics/private_locations/_index.md
  content/en/synthetics/private_locations/configuration.md
Labels: synthetics

#9148 RUM Monitoring Page Performance page
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
  static/images/real_user_monitoring/browser/rum-page-performance-dive.gif
Labels: Architecture, Images, real_user_monitoring

#9171 Update documentation for Invite User and Access Management permissions
  content/en/account_management/authn_mapping/_index.md
  content/en/account_management/rbac/_index.md
  content/en/account_management/rbac/permissions.md
  content/en/account_management/saml/_index.md
  content/en/account_management/users/_index.md
Labels: account_management

#9173 Update Serverless docs to include Lambdas deployed as container images
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
  content/en/serverless/installation/ruby.md
Labels: serverless

#9174 Update NPM installation
  content/en/network_performance_monitoring/installation.md
Labels: network_performance_monitoring

#9170 Remove further reading from Cloudability docs
  content/en/integrations/cloudability.md
Labels: integrations

#9179 delete the note saying we can change the default group by tag in the …
  content/en/infrastructure/hostmap.md
Labels: infrastructure

#9178 Fix link
  content/en/agent/docker/integrations.md
Labels: agent

#9028 DOCS-1343 Prep for adding new regions
  config/_default/params.yaml
  content/en/account_management/authn_mapping/_index.md
  content/en/account_management/saml/azure.md
  content/en/agent/amazon_ecs/_index.md
  content/en/agent/basic_agent_usage/_index.md
  content/en/agent/basic_agent_usage/windows.md
  content/en/agent/cluster_agent/external_metrics.md
  content/en/agent/cluster_agent/setup.md
  content/en/agent/docker/_index.md
  content/en/agent/docker/apm.md
  content/en/agent/docker/prometheus.md
  content/en/agent/guide/network.md
  content/en/agent/iot/_index.md
  content/en/agent/kubernetes/_index.md
  content/en/agent/kubernetes/apm.md
  content/en/agent/kubernetes/operator_configuration.md
  content/en/agent/logs/proxy.md
  content/en/agent/troubleshooting/site.md
  content/en/getting_started/agent/_index.md
  content/en/getting_started/application/_index.md
  content/en/getting_started/logs/_index.md
  content/en/integrations/faq/compose-and-the-datadog-agent.md
  content/en/logs/faq/how-to-set-up-only-logs.md
  content/en/logs/guide/collect-heroku-logs.md
  content/en/serverless/azure_app_services.md
  content/en/synthetics/ci.md
  content/en/synthetics/guide/identify_synthetics_bots.md
  content/en/synthetics/private_locations/configuration.md
  content/en/tracing/faq/trace_sampling_and_storage.md
  regions.config.js
  src/scripts/region-redirects.js
Labels: Architecture, FAQ, Guide, Images, account_management, agent, getting_started, integrations, logs, serverless, synthetics, tracing

#9159 Small incidents updates
  content/en/monitors/incident_management/_index.md
  content/en/monitors/incident_management/datadog_clipboard.md
Labels: monitors

#9180 Unit table for log facets
  content/en/logs/explorer/facets.md
Labels: logs

#9138 Clarifications on private location scaling
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#9181 Add link to Serverless Blog post in Serverless docs page
  content/en/serverless/_index.md
Labels: serverless

#9172 Apm/php/coredumps
  content/en/tracing/setup_overview/setup/php.md
Labels: tracing

#9182 hotjar clarification
  content/en/dashboards/widgets/image.md
Labels: dashboards

#9183 Update usage_metrics.md
  content/en/account_management/billing/usage_metrics.md
Labels: account_management

#9185 Update _index.md
  content/en/tracing/troubleshooting/_index.md
Labels: tracing

#9187 Update template variable examples for log monitors
  content/en/monitors/notifications.md
Labels: monitors

#9186 Update _index.md
  content/en/mobile/_index.md
Labels: mobile

#9188 DOCS-1220 - note for setting dd_site in the DCA
  content/en/agent/cluster_agent/setup.md
Labels: agent

#9189 fixing alt text
  content/en/mobile/_index.md
Labels: mobile

#9100 Log collection on ECS and Docker
  content/en/agent/amazon_ecs/_index.md
  content/en/agent/amazon_ecs/logs.md
  content/en/agent/docker/log.md
  content/en/tracing/setup_overview/compatibility_requirements/python.md
  content/en/tracing/setup_overview/setup/dotnet-core.md
Labels: agent, editorial review, tracing

#9190 Add documentation for Code Signing for Lambda, remove Node 8 reference
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
  content/en/serverless/installation/ruby.md
Labels: Do Not Merge, serverless

#9191 Revert "Add documentation for Code Signing for Lambda, remove Node 8 reference"
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
  content/en/serverless/installation/ruby.md
Labels: serverless

#9194 patch reference to roles (change user for admin)
  content/en/logs/guide/logs-rbac.md
Labels: Guide, logs

#9196 Clarify custom certificates are supported in 1.5.3
  content/en/synthetics/private_locations/configuration.md
Labels: synthetics

#9199 Update Lambda extension supported runtimes
  content/en/serverless/datadog_lambda_library/extension.md
Labels: serverless

#9200 small clarification on Incident management edit abilities
  content/en/monitors/incident_management/_index.md
Labels: monitors

#9140 Add documentation for Custom timeframe on Monitors
  content/en/monitors/monitor_types/anomaly.md
  content/en/monitors/monitor_types/apm.md
  content/en/monitors/monitor_types/event.md
  content/en/monitors/monitor_types/forecasts.md
  content/en/monitors/monitor_types/log.md
  content/en/monitors/monitor_types/metric.md
  content/en/monitors/monitor_types/outlier.md
  content/en/monitors/monitor_types/process.md
  content/en/monitors/monitor_types/real_user_monitoring.md
  data/api/v1/translate_actions.json
Labels: api, monitors

#9202 update command for amazon linux v2
  content/en/agent/docker/_index.md
Labels: agent

#9192 Documentation for Code Signing for Lambda
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
  content/en/serverless/installation/ruby.md
Labels: serverless

#9198 Logs Default Saved Views and New Layout
  content/en/logs/explorer/saved_views.md
  static/images/logs/explorer/saved_views/custom.png
  static/images/logs/explorer/saved_views/default.png
  static/images/logs/explorer/saved_views/edit_facet_list.png
  static/images/logs/explorer/saved_views/overview.png
  static/images/logs/explorer/saved_views/save.png
  static/images/logs/explorer/saved_views/saved_view_create-delete.mp4
  static/images/logs/explorer/saved_views/saved_view_load-from-bar.png
  static/images/logs/explorer/saved_views/saved_view_load.mp4
  static/images/logs/explorer/saved_views/saved_view_share.png
  static/images/logs/explorer/saved_views/star.png
Labels: Images, logs

#9207 Patching saved view doc to fix minor mistakes
  content/en/logs/explorer/saved_views.md
Labels: logs

#8791 Update k8s node labels and pod annotations as tags
  content/en/agent/kubernetes/tag.md
Labels: agent

#9209 Homere.faivre/private locations
  content/en/synthetics/private_locations/_index.md
  content/fr/synthetics/private_locations/_index.md
  content/ja/synthetics/private_locations/_index.md
Labels: synthetics

#9205 Update setting-file-permissions-for-rotating-logs.md
  content/en/logs/guide/setting-file-permissions-for-rotating-logs.md
Labels: Guide, logs

#9201 Add FAQ about terraformer
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/how-to-import-datadog-resources-into-terraform.md
Labels: FAQ, integrations

#9156 Update livecontainers.md
  content/en/infrastructure/livecontainers.md
Labels: infrastructure

#9204 Update nodejs.md
  content/en/tracing/setup_overview/custom_instrumentation/nodejs.md
Labels: tracing

#9206 Update Windows Sample Task Definition for Enabling Logs.
  content/en/agent/amazon_ecs/logs.md
Labels: agent

#8899 Update syslog_ng.md
  content/en/integrations/syslog_ng.md
Labels: under_review

#9211 Adds commenting to notebooks
  content/en/notebooks/_index.md
  static/images/notebooks/add_comment.png
  static/images/notebooks/edit_comment.png
Labels: Images, notebooks

#9212 ECS process collection code example
  content/en/agent/amazon_ecs/_index.md
Labels: agent

#9064 Add jmxfetch.log to agent log files list
  content/en/agent/guide/agent-log-files.md
Labels: Guide, agent

#9216 Update usage_metrics.md
  content/en/tracing/trace_retention_and_ingestion/usage_metrics.md
Labels: tracing

#9217 Andrew.ardito/updatesynthetics
  content/en/synthetics/apm/_index.md
Labels: synthetics

#9219 Support tag in rehydration queries
  content/en/logs/archives/rehydrating.md
Labels: logs

#9215 Add section for remedying OldObjectSample overhead
  content/en/tracing/profiler/profiler_troubleshooting.md
Labels: tracing

#9220 Update Java tracer compatibility page
  content/en/tracing/setup_overview/compatibility_requirements/java.md
Labels: tracing

#9229 Update autodiscovery-with-jmx.md
  content/en/agent/guide/autodiscovery-with-jmx.md
Labels: Guide, agent

#9226 add link to blog post
  content/en/tracing/profiler/_index.md
Labels: tracing

#8974 Yael/windows beta
  content/en/network_performance_monitoring/installation.md
Labels: network_performance_monitoring

#9230 Entire dashboard can be shared via public URL
  content/en/dashboards/_index.md
Labels: dashboards

#9197 Added documentation for RUM APM correlation
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/connect_rum_and_traces/_index.md
  static/images/real_user_monitoring/connect_rum_and_traces/rum_trace_tab.png
Labels: Architecture, Images, real_user_monitoring, tracing

#9037 [DOCS-1429] Margot.lepizzera/split api test
  config/_default/menus/menus.en.yaml
  content/en/synthetics/_index.md
  content/en/synthetics/api_tests/_index.md
  content/en/synthetics/api_tests/dns_tests.md
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/api_tests/ssl_tests.md
  content/en/synthetics/api_tests/tcp_tests.md
  content/en/synthetics/browser_tests/actions.md
  content/en/synthetics/multistep.md
  static/images/synthetics/api_tests/api_tests.mp4
  static/images/synthetics/api_tests/assertions.png
  static/images/synthetics/api_tests/assertions_setup.mp4
  static/images/synthetics/api_tests/create_request.png
  static/images/synthetics/api_tests/dns_test.png
  static/images/synthetics/api_tests/dns_test_config.png
  static/images/synthetics/api_tests/http_test_config.png
  static/images/synthetics/api_tests/make-http-request.png
  static/images/synthetics/api_tests/make-ssl-request.png
  static/images/synthetics/api_tests/ms_define_request.png
  static/images/synthetics/api_tests/ms_extract_variable.png
  static/images/synthetics/api_tests/ms_overview.png
  static/images/synthetics/api_tests/schedule.png
  static/images/synthetics/api_tests/ssl_test_config.png
  static/images/synthetics/api_tests/tcp_test.png
  static/images/synthetics/api_tests/tcp_test_config.png
  static/images/synthetics/api_tests/use_variable.mp4
  static/images/synthetics/api_tests/usingvariablesapi.mp4
Labels: Architecture, Images, synthetics

#9234 Update profiler_troubleshooting.md
  content/en/tracing/profiler/profiler_troubleshooting.md
Labels: tracing

#9225 Enrichment table s3 documentation
  content/en/logs/guide/enrichment-tables.md
Labels: Guide, logs

#9239 Adding the s3 image
  static/images/logs/guide/enrichment-tables/configure-s3-enrichment-table.png
Labels: Images

#9241 Add blog link
  content/en/network_performance_monitoring/_index.md
  content/en/network_performance_monitoring/installation.md
  content/en/network_performance_monitoring/network_map.md
  content/en/network_performance_monitoring/network_page.md
Labels: network_performance_monitoring

#9242 Update to task management
  content/en/monitors/incident_management/_index.md
Labels: monitors

#9244 updating alt text
  content/en/logs/guide/correlate-logs-with-metrics.md
Labels: Guide, logs

#9245 Removing graph annotations reference
  content/en/videos/datadog101-3-dashboards.md
Labels: videos

#9246 removing outdated instructions
  content/en/account_management/_index.md
Labels: account_management

#9247 Updates to the Query Value Widget
  content/en/dashboards/widgets/query_value.md
  static/images/dashboards/widgets/query_value/query-value-widget-setup.png
  static/images/dashboards/widgets/query_value/query_value_setup.png
Labels: Images, dashboards

#9248 Corrected link for Kubermetes short lived containers
  content/en/agent/docker/log.md
Labels: agent

#9255 Update apm_distributed_tracing.md
  content/en/account_management/billing/apm_distributed_tracing.md
Labels: account_management

#9256 Update usage_metrics.md
  content/en/account_management/billing/usage_metrics.md
Labels: account_management

#9251 [apm] clarify k8s settings for unified service tagging
  content/en/getting_started/tagging/unified_service_tagging.md
Labels: getting_started

#9232 [DOCS-1514] Corrected Windows server file locations
  content/en/agent/guide/agent-configuration-files.md
Labels: agent, under_review

#9252 updating alt text
  content/en/logs/explorer/saved_views.md
Labels: logs

#9253 Update agent_check_status.md
  content/en/agent/troubleshooting/agent_check_status.md
Labels: agent

#9257 fix link
  content/en/developers/metrics/powershell_metrics_submission.md
Labels: developers

#9258 Fix data_collected.md links
  content/en/real_user_monitoring/browser/data_collected.md
Labels: real_user_monitoring

#9260 Update apm.md
  content/en/agent/amazon_ecs/apm.md
Labels: agent

#9269 Add image to transaction doc
  static/images/logs/guide/logs_transactions.png
Labels: Images

#9271 Update transactions.md
  content/en/logs/explorer/transactions.md
  static/images/logs/explorer/transactions_details.png
Labels: Images, logs

#9268 Update a typo: errneous -> erroneous
  content/en/tracing/guide/slowest_request_daily.md
Labels: Guide, tracing

#9270 APM > .NET > Compatibility > fix typo
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-framework.md
Labels: tracing

#9273 APM > .NET > run Windows installers as administrator
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#9259 Update wording on the names of the .NET Tracer logs
  content/en/tracing/troubleshooting/tracer_debug_logs.md
Labels: tracing

#9278 quick change to link name
  content/en/security_monitoring/_index.md
Labels: security_monitoring

#9277 [APM][ECS] Configure host IP using ECS metadata
  content/en/agent/amazon_ecs/apm.md
Labels: agent

#9267 Update composite.md
  content/en/monitors/monitor_types/composite.md
Labels: monitors

#9274 AWS IAM Access Analyzer logo
  static/images/integrations_logos/iam_access_analyzer.png
Labels: Images

#9275 DOCS-1467 Remove screenshots
  content/en/tracing/guide/setting_primary_tags_to_scope.md
Labels: Guide, tracing

#9276 remove unused Further Reading sections
  content/en/tracing/setup_overview/open_standards/dotnet.md
  content/en/tracing/setup_overview/open_standards/go.md
  content/en/tracing/setup_overview/open_standards/java.md
  content/en/tracing/setup_overview/open_standards/nodejs.md
  content/en/tracing/setup_overview/open_standards/php.md
  content/en/tracing/setup_overview/open_standards/python.md
  content/en/tracing/setup_overview/open_standards/ruby.md
Labels: tracing

#9146 APM > .NET > Add links to samples in github repo
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-core.md
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-framework.md
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#9283 adding an 'alt' tag to generic 'agent' icons for the security monito…
  layouts/security_rules/list.html
Labels: Architecture

#9285 Clarify that deployment tracking must be opted into
  content/en/serverless/deployment_tracking/_index.md
Labels: serverless

#9243 Add priority section to Monitor Docs
  content/en/monitors/notifications.md
Labels: monitors

#9282 [WEB-1026] - update lang switch dropdown
  layouts/partials/footer/footer.html
Labels: Architecture

#9240 Update APM Java Documentation to support new PR
  content/en/tracing/setup_overview/setup/java.md
Labels: tracing

#9288 Revert "Update APM Java Documentation to support new PR"
  content/en/tracing/setup_overview/setup/java.md
Labels: tracing

#9290 Update search_syntax.md
  content/en/logs/search_syntax.md
Labels: logs

#9291 Update monitor notifications doc with sub-monitor value info
  content/en/monitors/notifications.md
Labels: monitors

#9292 Update sharing.md
  content/en/dashboards/sharing.md
Labels: dashboards

#9293 DOCS-1474 Log ports
  content/en/getting_started/logs/_index.md
Labels: getting_started

#9300 Update apm.md
  content/en/agent/amazon_ecs/apm.md
Labels: agent

#9298 Add guide for monitors within a range
  content/en/monitors/guide/_index.md
  content/en/monitors/guide/monitor-for-value-within-a-range.md
  static/images/monitors/faq/monitor_range.png
Labels: Guide, Images, monitors

#9279 Fix tabs and shortcode in proxy.md
  content/en/agent/logs/proxy.md
Labels: agent

#9305 Add missing logos 12/17
  static/images/integrations_logos/appkeeper.png
  static/images/integrations_logos/flagsmith.png
  static/images/integrations_logos/flume.png
  static/images/integrations_logos/nvidia_jetson.png
  static/images/integrations_logos/php_apcu.png
  static/images/integrations_logos/sonarqube.png
Labels: Images

#9296 [rum] removed confusing "<>" in rum <> apm example
  content/en/real_user_monitoring/connect_rum_and_traces/_index.md
Labels: real_user_monitoring

#9304 [rum/apm] GA of RUM <> APM correlation
  content/en/real_user_monitoring/connect_rum_and_traces/_index.md
Labels: real_user_monitoring

#9135 Update _index.md
  content/en/agent/basic_agent_usage/_index.md
Labels: agent

#9311 Update fluentbit.md
  content/en/integrations/fluentbit.md
Labels: integrations

#9306 composite monitor notes
  content/en/monitors/monitor_types/composite.md
Labels: monitors

#9318 fix bad link rendering
  content/en/agent/kubernetes/operator_configuration.md
Labels: agent

#9319 Duplicated entry
  content/en/real_user_monitoring/connect_rum_and_traces/_index.md
Labels: real_user_monitoring

#9309 APM > .NET > Documentation updates for v1.21.1 release
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#9322 add clipboard blog to existing docs
  content/en/dashboards/_index.md
  content/en/logs/explorer/_index.md
  content/en/tracing/visualization/service.md
Labels: dashboards, logs, tracing

#9317 [rum] document user API
  content/en/real_user_monitoring/browser/advanced_configuration.md
  static/images/real_user_monitoring/browser/advanced_configuration/user-api.png
Labels: Images, real_user_monitoring

#9321 Clarify UDS setup docs on kubernetes
  content/en/developers/dogstatsd/unix_socket.md
Labels: developers

#9303 Add logo for Amazon Network Firewall
  static/images/integrations_logos/amazon_network_firewall.png
Labels: Images

#9281 catch issues where tag mismatch and cannot load example.json as expected
  layouts/api/list.html
Labels: Architecture

#9326 Fix a few issues on `Monitor API Options` page
  content/en/monitors/guide/monitor_api_options.md
Labels: Guide, monitors

#9323 [WEB-1025] fix ja footer based on corp site
  config/_default/menus/menus.ja.yaml
Labels: Architecture

#9263 Andrew.ardito/span2metrics
  config/_default/menus/menus.en.yaml
  content/en/account_management/_index.md
  content/en/agent/amazon_ecs/apm.md
  content/en/dashboards/sharing.md
  content/en/developers/metrics/powershell_metrics_submission.md
  content/en/tracing/_index.md
  content/en/tracing/generate_metrics/_index.md
  content/en/tracing/setup_overview/setup/dotnet-core.md
  static/images/tracing/index/RumTraces.gif
  static/images/tracing/index/SpantoMetricsPreview.png
  static/images/tracing/span_to_metrics/GenerateMetrics.png
  static/images/tracing/span_to_metrics/createspantometrics.png
  static/images/tracing/span_to_metrics/editspantometrics.png
Labels: Architecture, Images, account_management, agent, dashboards, developers, tracing

#9286 Add documentation about new Application Keys UI and Permissions
  content/en/account_management/api-app-keys.md
  content/en/account_management/rbac/permissions.md
  static/images/account_management/api_app_keys/api_keys_revoke.png
  static/images/account_management/api_app_keys/application_keys.png
  static/images/account_management/api_app_keys/application_keys_new_key.png
  static/images/account_management/api_app_keys/application_keys_revoke.png
  static/images/account_management/api_app_keys/client_tokens.png
Labels: Images, account_management

#9327 Update _index.md
  content/en/account_management/saml/_index.md
Labels: account_management

#9330 [rum] document beforeSend API
  content/en/real_user_monitoring/browser/advanced_configuration.md
Labels: real_user_monitoring

#9325 [WEB-980] - update hugo & set html content type charset
  config/live/config.yaml
  config/preview/config.yaml
  package.json
  yarn.lock
Labels: Architecture

#9334 Update table functionality
  content/en/dashboards/widgets/table.md
  static/images/dashboards/widgets/table/table_setup.png
  static/images/dashboards/widgets/table/table_setup_1.png
  static/images/dashboards/widgets/table/table_widget.png
  static/images/dashboards/widgets/table/table_widget_1.png
Labels: Images, dashboards

#9346 Synthetics API tests blog link
  content/en/synthetics/api_tests/_index.md
Labels: synthetics

#9347 Pulsar logo
  static/images/integrations_logos/pulsar.png
Labels: Images

#9348 fix yaml spacing for config examples
  content/en/agent/logs/advanced_log_collection.md
Labels: agent

#9340 [RUM] doc improvements
  content/en/real_user_monitoring/browser/advanced_configuration.md
Labels: real_user_monitoring

#9342 Update datadog-agent-manager-windows.md
  content/en/agent/guide/datadog-agent-manager-windows.md
Labels: agent

#9324 RUM: Collecting browser errors
  config/_default/menus/menus.en.yaml
  content/en/account_management/rbac/permissions.md
  content/en/real_user_monitoring/browser/advanced_configuration.md
  content/en/real_user_monitoring/browser/collecting_browser_errors.md
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
Labels: Architecture, account_management, real_user_monitoring

#9350 Update Mappings Procedure
  content/en/account_management/saml/_index.md
Labels: account_management

#9355 Fix broken anchors on cluster agent setup page
  content/en/agent/cluster_agent/setup.md
Labels: agent

#9335 DOCS-1475 RPM GPG Key Rotation
  content/en/agent/faq/_index.md
  content/en/agent/faq/rpm-gpg-key-rotation-agent-6.md
Labels: FAQ, agent

#9344 Correct priority conditional variable in documentationo
  content/en/monitors/notifications.md
Labels: monitors, under_review

#9351 Correct NodeJS example
  content/en/agent/amazon_ecs/apm.md
Labels: agent

#9357 Add links from dashboards docs to new Sharing Dashboards blog
  content/en/dashboards/sharing.md
  content/en/getting_started/dashboards/_index.md
Labels: dashboards, getting_started

#9359 Add php_opcache integration logo
  static/images/integrations_logos/php_opcache.png
Labels: Images

#9333 Node.js APM docs updates
  content/en/agent/amazon_ecs/apm.md
  content/en/tracing/setup_overview/compatibility_requirements/nodejs.md
  content/en/tracing/setup_overview/custom_instrumentation/nodejs.md
  content/en/tracing/setup_overview/setup/java.md
  content/en/tracing/setup_overview/setup/nodejs.md
Labels: agent, tracing

#9224 RUM use case: monitoring resource performance
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/browser/data_collected.md
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
  content/en/real_user_monitoring/browser/monitoring_resource_performance.md
  static/images/real_user_monitoring/browser/resource_performance_graph.png
Labels: Architecture, Images, real_user_monitoring

#9371 [clipboard] remove beta label
  content/en/monitors/incident_management/datadog_clipboard.md
Labels: monitors

#9349 Clarify RUM Event type specific attributes vs default
  content/en/real_user_monitoring/browser/data_collected.md
Labels: real_user_monitoring

#9374 Unified service tagging for AWS Lambda
  content/en/getting_started/tagging/unified_service_tagging.md
  content/en/serverless/installation/dotnet.md
  content/en/serverless/installation/go.md
  content/en/serverless/installation/java.md
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
  content/en/serverless/installation/ruby.md
Labels: getting_started, serverless

#9380 Replace IDE with app server
  content/en/tracing/setup_overview/setup/java.md
Labels: tracing

#9381 Adds on-premise monitoring to solutions menu
  config/_default/menus/menus.en.yaml
Labels: Architecture

#9383 Update serverless tagging doc
  content/en/getting_started/tagging/unified_service_tagging.md
  content/en/serverless/serverless_tagging/_index.md
Labels: getting_started, serverless

#9370 Fix multistep private location information.
  .node-version
  content/en/synthetics/multistep.md
Labels: synthetics

#9228 Update windows-agent-ddagent-user.md
  content/en/agent/faq/windows-agent-ddagent-user.md
Labels: FAQ, agent
