Repository DataDog/documentation, pull requests merged in 2020-05, with the labels that each got.

#7306 Updating links to match new API layout
  content/en/account_management/authn_mapping/_index.md
  content/en/account_management/faq/how-do-i-add-new-users-to-sub-organizations.md
  content/en/account_management/rbac/_index.md
  content/en/account_management/rbac/permissions.md
  content/en/account_management/users/_index.md
  content/en/agent/faq/how-datadog-agent-determines-the-hostname.md
  content/en/agent/guide/dogstream.md
  content/en/dashboards/graphing_json/_index.md
  content/en/dashboards/guide/screenboard-api-doc.md
  content/en/dashboards/guide/timeboard-api-doc.md
  content/en/dashboards/sharing.md
  content/en/developers/events/_index.md
  content/en/developers/events/email.md
  content/en/developers/guide/query-data-to-a-text-file-step-by-step.md
  content/en/developers/metrics/_index.md
  content/en/developers/metrics/powershell_metrics_submission.md
  content/en/developers/metrics/types.md
  content/en/developers/service_checks/_index.md
  content/en/events/_index.md
  content/en/getting_started/api/_index.md
  content/en/getting_started/synthetics/api_test.md
  content/en/infrastructure/list.md
  content/en/logs/guide/collect-multiple-logs-with-pagination.md
  content/en/logs/indexes/_index.md
  content/en/logs/log_collection/_index.md
  content/en/logs/log_collection/nodejs.md
  content/en/logs/processing/processors.md
  content/en/metrics/summary.md
  content/en/monitors/_index.md
  content/en/monitors/downtimes.md
  content/en/monitors/faq/can-i-create-monitor-dependencies.md
  content/en/monitors/faq/can-i-set-up-a-monitor-for-a-metric-that-hasn-t-been-reported-to-datadog-yet.md
  content/en/monitors/faq/how-to-update-anomaly-monitor-timezone.md
  content/en/monitors/faq/i-have-a-downtime-scheduled-on-my-monitor-why-did-it-still-alert.md
  content/en/monitors/faq/what-are-recovery-thresholds.md
  content/en/monitors/monitor_status.md
  content/en/monitors/monitor_types/_index.md
  content/en/monitors/monitor_types/anomaly.md
  content/en/monitors/monitor_types/custom_check.md
  content/en/monitors/monitor_types/forecasts.md
  content/en/monitors/monitor_types/outlier.md
  content/en/security/tracing.md
  content/en/synthetics/api_tests/_index.md
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/ci.md
  content/en/synthetics/faq/clone-test.md
  content/en/tagging/assigning_tags.md
  content/en/tagging/using_tags.md
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/agent-5-tracing-setup.md
Labels: FAQ, Guide, account_management, agent, api, dashboards, developers, events, getting_started, infrastructure, logs, metrics, monitors, security, synthetics, tagging, tracing

#7242 Cluster Agent API usage
  content/en/agent/cluster_agent/external_metrics.md
Labels: agent

#7273 [DOCS-858] Adding log processing rule examples for docker and K8s
  content/en/agent/docker/log.md
  content/en/agent/faq/_index.md
  content/en/agent/faq/commonly-used-log-processing-rules.md
  content/en/agent/kubernetes/log.md
  content/en/agent/logs/_index.md
  content/en/agent/logs/advanced_log_collection.md
Labels: FAQ, agent, logs

#7297 [Agent] Add SELinux instructions for NPM installation
  content/en/network_performance_monitoring/installation.md
Labels: agent, network_performance_monitoring

#7230 DOCS-632 Pull SaltStack docs
  .gitignore
  .gitlab-ci.yml
  Makefile
  config/_default/menus/menus.en.yaml
  data/partials/platforms.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  static/images/icons/platform_saltstack.png
Labels: Architecture, Do Not Merge, Images

#7325 Revert "DOCS-632 Pull SaltStack docs"
  .gitignore
  .gitlab-ci.yml
  Makefile
  config/_default/menus/menus.en.yaml
  data/partials/platforms.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  static/images/icons/platform_saltstack.png
Labels: Architecture, Images

#7339 Zach/fix menu
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
  src/scripts/build-api-pages.js
  src/scripts/tests/build-api-pages.test.js
Labels: Architecture

#7340 fix commented out code
  src/scripts/datadog-docs.js
Labels: Architecture

#7345 Add integration extras logos
  static/images/integrations_logos/k6.png
  static/images/integrations_logos/rundeck.png
Labels: Images

#7343 README for API folder, validate API example
  content/en/api/README.md
  content/en/api/_index.md
  content/en/api/v1/_index.md
Labels: api

#7346 Changing link and name to new one
  content/en/synthetics/guide/_index.md
Labels: Guide, synthetics

#7130 datadog agent for windows containers
  content/en/agent/docker/_index.md
  content/en/agent/docker/apm.md
  content/en/agent/docker/integrations.md
  content/en/agent/docker/log.md
  content/en/agent/docker/prometheus.md
  content/en/agent/kubernetes/_index.md
  content/en/agent/kubernetes/apm.md
  content/en/agent/kubernetes/log.md
  content/en/getting_started/agent/autodiscovery.md
Labels: Do Not Merge, agent, getting_started

#7347 updates IP ranges API reference examples
  content/en/api/v1/ip-ranges/GetIPRanges.py
  content/en/api/v1/ip-ranges/GetIPRanges.rb
  content/en/api/v1/ip-ranges/GetIPRanges.sh
Labels: api

#7213 update Node APM docs with new integrations available in 0.20.0
  content/en/tracing/setup/nodejs.md
Labels: tracing

#7358 update api select to use commit ref from preview params
  config/_default/params.yaml
  layouts/_default/404-baseof.html
  layouts/_default/baseof.html
  layouts/api/baseof.html
  layouts/index.html
  src/scripts/components/api.js
Labels: Architecture

#7354 update api example json
  content/en/api/v1/aws-logs-integration/examples.json
  content/en/api/v1/dashboard-lists/examples.json
  content/en/api/v1/dashboards/examples.json
  content/en/api/v1/downtimes/examples.json
  content/en/api/v1/events/examples.json
  content/en/api/v1/key-management/examples.json
  content/en/api/v1/logs-indexes/examples.json
  content/en/api/v1/logs-pipelines/examples.json
  content/en/api/v1/metrics/examples.json
  content/en/api/v1/monitors/examples.json
  content/en/api/v1/organizations/examples.json
  content/en/api/v1/service-level-objectives/examples.json
  content/en/api/v1/slack-integration/examples.json
  content/en/api/v1/users/examples.json
  content/en/api/v2/dashboard-lists/examples.json
  content/en/api/v2/roles/examples.json
  content/en/api/v2/users/examples.json
  src/scripts/build-api-pages.js
  src/scripts/tests/build-api-pages.test.js
Labels: Architecture, api

#7362 turn off openapi job for now
  .github/workflows/openapi.yml
Labels: Github

#7357 updating trace examples
  content/en/api/v1/tracing/SubmitTraces.sh
Labels: api

#7216 Add API test is retried immediately after failing
  content/en/getting_started/synthetics/api_test.md
  content/en/getting_started/synthetics/browser_test.md
Labels: getting_started

#7370 [PROD] add note for events per second limit with app analytics
  content/en/tracing/troubleshooting/_index.md
Labels: tracing

#7298 Logs Read Data permission details
  content/en/account_management/rbac/permissions.md
  static/images/account_management/rbac/logs_read_data_access.png
Labels: Images, account_management

#7363 [DOCS-889] fix code block formatting
  content/en/tracing/troubleshooting/_index.md
Labels: tracing

#7377 Network region
  content/en/agent/guide/network.md
Labels: Guide, agent

#7366 Tracing link fix
  content/en/tracing/app_analytics/search.md
Labels: tracing

#7379 [Log collection] Using the new region shortcode
  content/en/logs/guide/integration-pipeline-reference.md
  content/en/logs/log_collection/_index.md
  content/en/logs/log_collection/java.md
  content/en/security_monitoring/getting_started.md
Labels: Guide, logs, security_monitoring

#7371 Update Postman environments Link
  content/en/getting_started/api/_index.md
Labels: getting_started

#7381 Morgan.lupton/more apm ratelimiting
  content/en/agent/docker/apm.md
  content/en/tracing/troubleshooting/_index.md
Labels: agent, tracing

#7368 Add configuration for Service Mapping for PHP
  content/en/tracing/setup/php.md
Labels: tracing

#7376 [WEB-197] Update network performance text in nav, footer, homepage
  data/partials/footer.yaml
  data/partials/header.yaml
  data/partials/home.yaml
  src/styles/pages/_home.scss
  static/images/svg-icons/network.svg
Labels: Architecture, Images

#7387 fix typo in troubleshooting docs
  content/en/tracing/troubleshooting/_index.md
Labels: tracing

#7380 Using new region shortcode in various places
  content/en/account_management/authn_mapping/_index.md
  content/en/agent/proxy.md
  content/en/integrations/faq/compose-and-the-datadog-agent.md
  content/en/logs/guide/collect-heroku-logs.md
  content/en/synthetics/ci.md
Labels: FAQ, Guide, account_management, agent, integrations, logs, synthetics

#7395 security output and content type
  layouts/api/list.html
Labels: Architecture

#7392 remove openapi github action completely
  .github/workflows/openapi.yml
Labels: Github

#7393 additional cases for table / json
  content/en/api/v1/aws-integration/examples.json
  content/en/api/v1/hosts/examples.json
  content/en/api/v1/monitors/examples.json
  content/en/api/v1/service-level-objectives/examples.json
  content/en/api/v1/synthetics/examples.json
  content/en/api/v1/tags/examples.json
  content/en/api/v1/tracing/examples.json
  content/en/api/v1/webhooks-integration/examples.json
  src/scripts/build-api-pages.js
  src/scripts/tests/build-api-pages.test.js
Labels: Architecture, api

#7384 update to show required fields
  content/en/api/v1/aws-integration/examples.json
  content/en/api/v1/aws-logs-integration/examples.json
  content/en/api/v1/azure-integration/examples.json
  content/en/api/v1/dashboard-lists/examples.json
  content/en/api/v1/dashboards/examples.json
  content/en/api/v1/downtimes/examples.json
  content/en/api/v1/embeddable-graphs/examples.json
  content/en/api/v1/events/examples.json
  content/en/api/v1/gcp-integration/examples.json
  content/en/api/v1/hosts/examples.json
  content/en/api/v1/key-management/examples.json
  content/en/api/v1/logs-indexes/examples.json
  content/en/api/v1/logs-pipelines/examples.json
  content/en/api/v1/logs/examples.json
  content/en/api/v1/metrics/examples.json
  content/en/api/v1/monitors/examples.json
  content/en/api/v1/organizations/examples.json
  content/en/api/v1/pagerduty-integration/examples.json
  content/en/api/v1/service-checks/examples.json
  content/en/api/v1/service-level-objectives/examples.json
  content/en/api/v1/slack-integration/examples.json
  content/en/api/v1/snapshots/examples.json
  content/en/api/v1/synthetics/examples.json
  content/en/api/v1/tags/examples.json
  content/en/api/v1/usage-metering/examples.json
  content/en/api/v1/users/examples.json
  content/en/api/v1/webhooks-integration/examples.json
  content/en/api/v2/dashboard-lists/examples.json
  content/en/api/v2/roles/examples.json
  content/en/api/v2/users/examples.json
  layouts/api/list.html
  src/scripts/build-api-pages.js
Labels: Architecture, api

#7378 output x-unstable field
  layouts/api/list.html
Labels: Architecture

#7397 switch query and path param tables
  layouts/api/list.html
Labels: Architecture

#7398 add comments
  layouts/api/list.html
Labels: Architecture

#7403 add deprecated string on descriptions in table when deprecated:true
  content/en/api/v1/monitors/examples.json
  content/en/api/v1/service-level-objectives/examples.json
  src/scripts/build-api-pages.js
Labels: Architecture, api

#7329 Duplicate word on logging docs
  content/en/logs/log_collection/python.md
Labels: logs

#7405 revised distribution example
  content/en/metrics/distributions.md
  static/images/metrics/distributions/revised_global_metrics_selection.png
Labels: Images, metrics

#6485 Updating Dogstatsd telemetry doc for PHP
  content/en/developers/dogstatsd/high_throughput.md
Labels: developers

#7385 K8s metrics collection note
  content/en/agent/kubernetes/data_collected.md
Labels: agent

#7386 Formatting for metrics namespace doc
  content/en/tracing/guide/metrics_namespace.md
Labels: Guide, tracing

#7351 Updates proxy configuration
  content/en/agent/proxy.md
Labels: agent

#7409 Generate preview link in status check
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/label.yml
Labels: Github

#7383 [WEB-222] Update lang-redirects.js
  src/scripts/lang-redirects.js
Labels: Architecture

#7388 Better generated Curl example
  layouts/api/list.html
Labels: Architecture

#7404 Adding documentation for HTTP request in Browser tests
  content/en/synthetics/browser_tests/actions.md
  static/images/synthetics/browser_tests/http_request.png
  static/images/synthetics/browser_tests/recorder_http_requests.png
Labels: Images, synthetics

#7364 Adding Java dogstatsd client telemetry doc
  content/en/developers/dogstatsd/high_throughput.md
Labels: developers

#7410 update curl examples
  layouts/api/list.html
Labels: Architecture

#7103 APM PHP Onboarding
  content/en/tracing/setup/php.md
Labels: Do Not Merge, tracing

#7416 zach groves adding correct link to ignore_resources config
  content/en/security/tracing.md
Labels: security

#7420 update curl example of submit metrics
  content/en/api/v1/metrics/examples.json
Labels: api

#7407 update images for GCP logs docs
  static/images/integrations/google_cloud_platform/push_method.png
  static/images/integrations/google_cloud_platform/select_push_method.png
  static/images/integrations/google_cloud_pubsub/create_sink.png
  static/images/integrations/google_cloud_pubsub/export_pubsub_subscription.png
Labels: Images

#7365 Remove image from APM tracing docs
  content/en/tracing/visualization/resource.md
  static/images/tracing/visualization/resource/save_to_timeboard.png
Labels: Images, tracing

#7326 [DOCS-632] Pull SaltStack docs
  .gitignore
  .gitlab-ci.yml
  Makefile
  config/_default/menus/menus.en.yaml
  data/partials/platforms.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  static/images/icons/platform_saltstack.png
Labels: Architecture, Images

#7327 Update nodejs.md
  content/en/tracing/setup/nodejs.md
Labels: tracing

#7318 document kube_namespace options
  content/en/agent/guide/autodiscovery-management.md
Labels: Guide, agent

#7332 Add HOSTNAME_FQDN_ENABLED
  content/en/agent/basic_agent_usage/windows.md
Labels: agent

#7342 Update all versions and add missing control flags
  content/en/tracing/setup/java.md
Labels: tracing

#7369 Changing from Tag to Log Parsing
  content/en/logs/processing/processors.md
Labels: logs

#7428 Revert "[DOCS-632] Pull SaltStack docs"
  .gitignore
  .gitlab-ci.yml
  Makefile
  config/_default/menus/menus.en.yaml
  data/partials/platforms.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  static/images/icons/platform_saltstack.png
Labels: Architecture, Images

#7417 exclude custom choice element from pa11y results
  local/bin/js/pa11y.js
Labels: Architecture

#7375 Generate the kubernetes manifests from the helm chart
  static/resources/yaml/README.md
  static/resources/yaml/datadog-agent-all-features.yaml
  static/resources/yaml/datadog-agent-all-features_values.yaml
  static/resources/yaml/datadog-agent-apm.yaml
  static/resources/yaml/datadog-agent-apm_values.yaml
  static/resources/yaml/datadog-agent-logs-apm.yaml
  static/resources/yaml/datadog-agent-logs-apm_values.yaml
  static/resources/yaml/datadog-agent-logs.yaml
  static/resources/yaml/datadog-agent-logs_values.yaml
  static/resources/yaml/datadog-agent-npm.yaml
  static/resources/yaml/datadog-agent-npm_values.yaml
  static/resources/yaml/datadog-agent-vanilla.yaml
  static/resources/yaml/datadog-agent-vanilla_values.yaml
  static/resources/yaml/generate.sh
Labels: agent

#7429 Update screenshot in gcp log forwarding section
  static/images/integrations/google_cloud_platform/log_pubsub_monitoring-v2.png
Labels: Images

#7411 [dogstatsd][java] updating snippets to refelect latest release changes.
  content/en/developers/dogstatsd/_index.md
  content/en/developers/dogstatsd/high_throughput.md
  content/en/developers/events/dogstatsd.md
  content/en/developers/metrics/dogstatsd_metrics_submission.md
  content/en/developers/service_checks/dogstatsd_service_checks_submission.md
Labels: developers

#7412 import `initialize` to instantiate in Python
  content/en/developers/dogstatsd/_index.md
Labels: developers

#7415 Zach/update linkchecker
  .gitlab-ci.yml
  local/etc/link-check-config.js
  package.json
  yarn.lock
Labels: Architecture, account_management

#7418 dan.chiniara/ timeboards - clarified where snapshots go without a use…
  content/en/dashboards/timeboards.md
Labels: dashboards

#7423 Add telemetry for .NET
  content/en/developers/dogstatsd/high_throughput.md
Labels: developers

#7431 [DOCS-869] add windows containers issues troubleshooting page
  config/_default/menus/menus.en.yaml
  content/en/agent/troubleshooting/windows_containers.md
Labels: Architecture, agent

#7425 [WEB-231] - update api json output
  content/en/api/v1/aws-integration/examples.json
  content/en/api/v1/aws-logs-integration/examples.json
  content/en/api/v1/azure-integration/examples.json
  content/en/api/v1/dashboard-lists/examples.json
  content/en/api/v1/dashboards/examples.json
  content/en/api/v1/downtimes/examples.json
  content/en/api/v1/embeddable-graphs/examples.json
  content/en/api/v1/events/examples.json
  content/en/api/v1/gcp-integration/examples.json
  content/en/api/v1/hosts/examples.json
  content/en/api/v1/ip-ranges/examples.json
  content/en/api/v1/key-management/examples.json
  content/en/api/v1/logs-indexes/examples.json
  content/en/api/v1/logs-pipelines/examples.json
  content/en/api/v1/logs/examples.json
  content/en/api/v1/metrics/examples.json
  content/en/api/v1/monitors/examples.json
  content/en/api/v1/organizations/examples.json
  content/en/api/v1/pagerduty-integration/examples.json
  content/en/api/v1/service-checks/examples.json
  content/en/api/v1/service-dependencies/examples.json
  content/en/api/v1/service-level-objectives/examples.json
  content/en/api/v1/slack-integration/examples.json
  content/en/api/v1/snapshots/examples.json
  content/en/api/v1/synthetics/examples.json
  content/en/api/v1/tags/examples.json
  content/en/api/v1/tracing/examples.json
  content/en/api/v1/usage-metering/examples.json
  content/en/api/v1/users/examples.json
  content/en/api/v1/webhooks-integration/examples.json
  content/en/api/v2/dashboard-lists/examples.json
  content/en/api/v2/logs-restriction-queries/examples.json
  content/en/api/v2/roles/examples.json
  content/en/api/v2/users/examples.json
  layouts/api/list.html
  src/scripts/build-api-pages.js
  src/scripts/tests/build-api-pages.test.js
Labels: Architecture, api

#7440 Zach/bump linkchecker
  local/etc/link-check-config.js
  package.json
  yarn.lock
Labels: Architecture

#7443 remove_duplicate_envvar_DDSERVICEMAPPING
  content/en/tracing/setup/php.md
Labels: tracing

#7435 adding redirect to main integrations page
  content/en/integrations/_index.md
Labels: integrations

#7438 Include required query arguments in curl examples
  layouts/api/list.html
Labels: Architecture

#7441 [WEB-230] Font fix, update security-rules sigsci image
  src/styles/pages/_global.scss
  static/images/integrations_logos/sigsci_sm.png
Labels: Architecture, Images

#7451 Adding monitors API more info
  content/en/monitors/guide/monitor_api_options.md
Labels: Guide, agent, monitors

#7223 [DOCS-794] Refactoring AD JMX to better emphase annotations
  content/en/agent/guide/autodiscovery-with-jmx.md
Labels: Guide, agent

#7450 Reset path and query params
  layouts/api/list.html
Labels: Architecture

#7432 Hugo deploy (dryRun)
  .gitlab-ci.yml
  config/_default/config.yaml
  config/live/config.yaml
  config/preview/config.yaml
  package.json
Labels: Architecture

#7454 Document `agent config` command
  content/en/agent/guide/agent-commands.md
  content/en/agent/troubleshooting/config.md
Labels: Guide, agent, editorial review

#7458 DOCS-895 clarify notify no data for metrics monitor
  content/en/monitors/monitor_types/metric.md
Labels: monitors

#7455 Updating OT dependency to 0.32.0
  content/en/tracing/opentracing/java.md
Labels: tracing

#7462 Small typo in agent/troubleshooting/config
  content/en/agent/troubleshooting/config.md
Labels: agent

#7465 [WEB-250] - fix sec rules placeholder bug
  local/bin/py/placehold_translations.py
Labels: Architecture

#7468 use imgix domain for video shortcode
  layouts/shortcodes/img.html
Labels: Architecture

#7478 Fix typo in Monitor Status Overview
  content/en/monitors/monitor_status.md
Labels: monitors

#7476 apm/php: remove fastcgi_params as a config method in favor of env[*]
  content/en/tracing/setup/php.md
Labels: tracing

#7449 DOCS-911 k8s linking
  content/en/agent/kubernetes/prometheus.md
  content/en/integrations/guide/prometheus-metrics.md
Labels: Guide, agent, integrations

#7461 Adding Agent Runtime Configuration Management
  config/_default/menus/menus.en.yaml
Labels: Architecture

#7474 Update NPM table docs
  content/en/network_performance_monitoring/network_page.md
  static/images/network_performance_monitoring/network_page/filter_traffic_toggles.png
  static/images/network_performance_monitoring/network_page/network_table.png
Labels: Images, network_performance_monitoring

#7479 set active nav menu scroll into view
  layouts/api/baseof.html
  layouts/partials/nav/api-main-menu.html
  src/scripts/components/api.js
  src/scripts/datadog-docs.js
  src/styles/components/_sidenav.scss
Labels: Architecture

#7284 Update DogStatsD C# documentation
  content/en/developers/dogstatsd/_index.md
  content/en/developers/dogstatsd/high_throughput.md
  content/en/developers/events/dogstatsd.md
  content/en/developers/metrics/dogstatsd_metrics_submission.md
  content/en/developers/service_checks/dogstatsd_service_checks_submission.md
Labels: developers

#7481 Recommend system probe installation on 2+ hosts
  content/en/network_performance_monitoring/installation.md
Labels: network_performance_monitoring

#7473 Changes to main browser test page
  content/en/getting_started/synthetics/browser_test.md
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/browser_tests/actions.md
  content/en/synthetics/browser_tests/advanced_options.md
  static/images/synthetics/browser_tests/alerting_rules.png
  static/images/synthetics/browser_tests/browser_test_assertions.png
  static/images/synthetics/browser_tests/browser_test_variables.mp4
  static/images/synthetics/browser_tests/navigation_step.png
  static/images/synthetics/browser_tests/subtest.png
  static/images/synthetics/browser_tests/use_variable_in_assertion.png
  static/images/synthetics/browser_tests/variables.png
Labels: Images, getting_started, synthetics

#7480 Add grizzly-client and grizzly-http
  content/en/tracing/setup/java.md
Labels: tracing

#7430 Synthetics Test Steps reorg
  config/_default/menus/menus.en.yaml
  content/en/getting_started/synthetics/browser_test.md
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/browser_tests/actions.md
  content/en/synthetics/browser_tests/advanced_options.md
  static/images/synthetics/browser_tests/alerting_rules.png
  static/images/synthetics/browser_tests/browser_test_assertions.png
  static/images/synthetics/browser_tests/browser_test_variables.mp4
  static/images/synthetics/browser_tests/input_text.mp4
  static/images/synthetics/browser_tests/navigation_step.png
  static/images/synthetics/browser_tests/select_options.png
  static/images/synthetics/browser_tests/subtest.png
  static/images/synthetics/browser_tests/use_variable_in_assertion.png
  static/images/synthetics/browser_tests/variables.png
Labels: Architecture, Images, WORK IN PROGRESS, getting_started, synthetics

#7448 Changing cloud function to serverless functions on pricing page
  content/en/account_management/billing/pricing.md
Labels: account_management

#7482 Update metrics_namespace.md
  content/en/tracing/guide/metrics_namespace.md
Labels: Guide, tracing

#7400 Zach/api redirect
  data/manifest.json
  layouts/api/baseof.html
  src/scripts/api-redirect.js
  src/scripts/components/api.js
  src/scripts/config/testapi-map.js
  src/scripts/tests/api-redirect.test.js
  webpack.common.js
Labels: Architecture

#7472 Fix calculation results
  content/en/account_management/billing/apm_distributed_tracing.md
Labels: Do Not Merge, tracing

#7485 Adding region logic for agentless configs
  content/en/logs/log_collection/csharp.md
  content/en/logs/log_collection/java.md
  content/en/logs/log_collection/javascript.md
  content/en/logs/log_collection/nodejs.md
Labels: logs

#7484 Update docs for enabling Datadog APM in Envoy
  content/en/tracing/setup/envoy.md
Labels: tracing

#7489 Fix causing issue for setLoggerGlobalContext Bundle
  content/en/logs/log_collection/javascript.md
Labels: Bug, logs

#7248 Update developers/dogstatsd/high_throughput.md to add optimization sections
  content/en/developers/dogstatsd/high_throughput.md
Labels: developers

#7433 Private Locations page reorg
  content/en/synthetics/private_locations.md
Labels: synthetics

#7494 App Analytics configuration for Linux .NET users are case sensitive
  content/en/tracing/app_analytics/_index.md
Labels: tracing

#7086 Add proxy configuration Java profiling
  config/_default/menus/menus.en.yaml
  content/en/tracing/profiling/_index.md
  content/en/tracing/profiling/proxy.md
Labels: Architecture, tracing

#7503 Small change to doc to clarify usage of command
  content/en/synthetics/private_locations.md
Labels: synthetics

#7505 Log usage dashboard - fix overall ratio
  static/resources/json/estimated_log_usage_dashboard_configuration.json
Labels: logs

#7507 Zach/fix markdown link
  content/en/tracing/profiling/proxy.md
Labels: tracing

#7514 sidenav height fix
  src/scripts/components/api.js
  src/styles/components/_sidenav.scss
Labels: Architecture

#7470 Always show curl examples
  layouts/api/list.html
Labels: Architecture

#7483 Update lang-redirects.js
  src/scripts/lang-redirects.js
Labels: Architecture

#7495 Clarify environment variable options for linux users
  content/en/tracing/setup/dotnet-core.md
Labels: tracing

#7496 Remove "report hostname" option
  content/en/tracing/setup/java.md
Labels: tracing

#7497 Update sample code and examples
  content/en/logs/log_collection/csharp.md
Labels: logs

#7508 Update _index.md
  config/_default/menus/menus.en.yaml
  content/en/tracing/send_traces/_index.md
  content/en/tracing/setup/_index.md
Labels: Architecture, tracing

#7509 Add OOTB support for all web frameworks - PHP
  content/en/tracing/setup/php.md
Labels: tracing

#7334 updates to Azure billing page
  content/en/account_management/billing/azure.md
Labels: account_management

#7519 Add link to facet measure documentation
  content/en/logs/logs_to_metrics.md
Labels: logs

#7520 Removes private location screen shot
  content/en/getting_started/synthetics/private_location.md
Labels: getting_started

#7506 Update buffered datadog-go statsd client
  content/en/developers/dogstatsd/high_throughput.md
Labels: developers

#7510 [prod] New Apigee Log Collection doc
  .gitignore
  Makefile
  content/en/integrations/apigee.md
  static/images/integrations/apigee/apigee_develop.png
  static/images/integrations_logos/apigee.png
Labels: Images, integrations

#7518 minor azure beta note update
  content/en/infrastructure/serverless/azure_app_services.md
Labels: infrastructure

#7521 Update serverless tracing links
  content/en/tracing/send_traces/_index.md
Labels: tracing

#7522 Enforcing tag key wording instead of Tag group
  content/en/dashboards/graphing_json/_index.md
  content/en/developers/service_checks/_index.md
  content/en/integrations/faq/both-my-jmx-and-aws-integrations-use-name-tags-what-do-i-do.md
  content/en/logs/explorer/facets.md
Labels: FAQ, dashboards, developers, integrations, logs

#7492 Andrew.ardito/updates
  content/en/tracing/setup/cpp.md
  content/en/tracing/setup/dotnet-core.md
  content/en/tracing/setup/dotnet-framework.md
  content/en/tracing/setup/go.md
  content/en/tracing/setup/java.md
  content/en/tracing/setup/nodejs.md
  content/en/tracing/setup/php.md
  content/en/tracing/setup/python.md
  gradle/wrapper/gradle-wrapper.jar
Labels: tracing

#7527 remove documentation accidentally included
  content/en/agent/kubernetes/tag.md
Labels: agent

#7529 [serverless] update pvtlink forwarder doc
  content/en/agent/guide/private-link.md
Labels: Guide, agent

#7531 Fix php setup merge issue
  content/en/tracing/setup/php.md
Labels: tracing

#7533 fix aliases for apm landing page
  content/en/tracing/setup/envoy.md
  content/en/tracing/setup/istio.md
  content/en/tracing/setup/nginx.md
  content/en/tracing/setup/php.md
Labels: tracing

#7534 [dogstatsd] fix a broken link.
  content/en/developers/dogstatsd/high_throughput.md
Labels: developers

#7538 Update apigee.md
  content/en/integrations/apigee.md
Labels: integrations

#7539 Update Log Monitors with cross-index queries
  content/en/monitors/monitor_types/log.md
  static/images/monitors/monitor_types/log/define-the-search-query.png
Labels: Images, logs, monitors

#7543 Adding doc about subdomain and proxy
  content/en/synthetics/ci.md
Labels: synthetics

#7444 Update Log proxy instruction
  content/en/agent/logs/log_transport.md
  content/en/agent/logs/proxy.md
  content/en/agent/proxy.md
Labels: agent

#7524 Clarifying JS steps + Create variable from request
  content/en/synthetics/browser_tests/actions.md
  static/images/synthetics/browser_tests/autocomplete.png
  static/images/synthetics/browser_tests/browser_test_vft.mp4
  static/images/synthetics/browser_tests/js_assertion.mp4
  static/images/synthetics/browser_tests/js_variable.mp4
  static/images/synthetics/browser_tests/use_variable_in_assertion.png
  static/images/synthetics/browser_tests/variables_auto.mp4
Labels: Do Not Merge, Images, WORK IN PROGRESS, synthetics

#7537 Serverless Datadog Lambda Layer Instructions
  config/_default/menus/menus.en.yaml
  content/en/infrastructure/serverless/datadog_lambda_layer.md
Labels: Architecture, infrastructure

#7331 feat(profiling): mention DD_TAGS support
  content/en/tracing/profiling/_index.md
Labels: tracing

#7550 Azure GA updates
  content/en/integrations/faq/azure-status-metric.md
  content/en/tagging/assigning_tags.md
Labels: FAQ, integrations, tagging

#7552 agent 7 link
  content/en/agent/faq/how-do-i-install-the-agent-on-a-server-with-limited-internet-connectivity.md
Labels: FAQ, agent

#7542 Generate the kubernetes manifests from the helm chart (2/3)
  content/en/agent/cluster_agent/setup.md
  content/en/agent/guide/cluster-agent-custom-metrics-server.md
  content/fr/agent/cluster_agent/setup.md
  content/fr/agent/guide/cluster-agent-custom-metrics-server.md
  content/ja/agent/guide/cluster-agent-custom-metrics-server.md
Labels: Guide, agent

#7555 [rum/logs] add service env version doc
  content/en/logs/log_collection/javascript.md
  content/en/real_user_monitoring/installation/_index.md
Labels: logs, real_user_monitoring

#7553 Add missing link
  content/en/account_management/rbac/permissions.md
Labels: account_management, logs

#7560 fix api pages not loading in some situations
  layouts/api/list.html
Labels: Architecture

#7548 WEB-271 fix anchors
  layouts/index.html
  src/scripts/components/codetabs.js
  src/scripts/components/table-of-contents.js
  src/scripts/datadog-docs.js
  src/styles/components/_sidenav.scss
  src/styles/pages/_global.scss
Labels: Architecture

#7517 scrollbar css
  src/styles/components/_sidenav.scss
Labels: Architecture
