Repository DataDog/documentation, pull requests merged in 2020-09, with the labels that each got.

#8426 Add Spring SessionAwareMessageListener support to docs
  content/en/tracing/compatibility_requirements/java.md
Labels: tracing

#8427 Fix generated path for Go and Java examples
  local/bin/awk/extract-code-blocks-go.awk
  local/bin/awk/extract-code-blocks-java.awk
Labels: Architecture

#8389 Add connection churn metrics to NPM docs
  content/en/network_performance_monitoring/network_page.md
Labels: network_performance_monitoring

#8323 Zach/update deps
  .gitlab-ci.yml
  package.json
  src/styles/_custom.scss
  src/styles/base/_colors.scss
  yarn.lock
Labels: Architecture

#8430 Move connection churn metrics to TCP section
  content/en/network_performance_monitoring/network_page.md
Labels: network_performance_monitoring

#8428 Updating service tag
  content/en/tracing/app_analytics/_index.md
  content/en/tracing/custom_instrumentation/java.md
Labels: tracing

#8431 adding image
  static/images/watchdog/watchdog_dep_map.png
Labels: Images

#8417 zach groves add example of how to set tags programmatically
  content/en/tracing/setup/nodejs.md
Labels: tracing

#8422 Update _index.md
  content/en/logs/guide/_index.md
Labels: Guide, logs

#8340 Synthetic Search edits
  content/en/synthetics/search.md
  static/images/synthetics/search/bulk-edit.png
  static/images/synthetics/search/custom-query.gif
  static/images/synthetics/search/facet-search.gif
  static/images/synthetics/search/overview.png
  static/images/synthetics/search/test-steps.gif
Labels: Images, synthetics

#8432 Revert "Zach/update deps"
  .gitlab-ci.yml
  package.json
  src/styles/_custom.scss
  src/styles/base/_colors.scss
  yarn.lock
Labels: Architecture

#8433 update sass package, yarn.lock
  .gitlab-ci.yml
  package.json
  src/styles/_custom.scss
  src/styles/base/_colors.scss
  yarn.lock
Labels: Architecture

#8434 Postgres note for logs rotation docs
  content/en/logs/guide/setting-file-permissions-for-rotating-logs.md
Labels: Guide, logs

#8439 Update logs2metrics restrictions on log security page
  content/en/logs/logs_to_metrics.md
  content/en/security/logs.md
Labels: logs, security

#8200 Yael/common tags
  content/en/network_performance_monitoring/_index.md
  content/en/network_performance_monitoring/network_page.md
  static/images/network_performance_monitoring/network_page/npm_cover.png
  static/images/network_performance_monitoring/network_page/npm_sidepanel.png
Labels: Images, network_performance_monitoring

#8442 Change to double quotes for curl examples
  content/en/logs/guide/build-custom-reports-using-log-analytics-api.md
Labels: Guide, logs

#8444 Add instructions for .NET Core on Linux with systemctl
  content/en/tracing/setup/dotnet-core.md
Labels: tracing

#8446 Remove the debug environment variable from systemctl
  content/en/tracing/setup/dotnet-core.md
Labels: tracing

#8450 Updated wording for systemctl services
  content/en/tracing/setup/dotnet-core.md
Labels: tracing

#8452 Update python.md
  content/en/tracing/compatibility_requirements/python.md
Labels: tracing

#8456 [Typo] APM Required Info
  content/en/tracing/troubleshooting/_index.md
Labels: tracing

#8443 Zach/gitlab cache
  .gitlab-ci.yml
  content/en/logs/guide/build-custom-reports-using-log-analytics-api.md
  package.json
  yarn.lock
Labels: Guide, logs

#8460 Update metrics_namespace.md
  content/en/tracing/guide/metrics_namespace.md
Labels: Guide, tracing

#8453 Update custom_metrics.md
  content/en/account_management/billing/custom_metrics.md
Labels: account_management

#8461 Update menus.en.yaml
  config/_default/menus/menus.en.yaml
Labels: Architecture

#8462 Fix a typo on source map attribute sourcesContent
  content/en/real_user_monitoring/error_tracking/_index.md
Labels: Guide, real_user_monitoring

#8467 Fix links 9-4
  content/en/synthetics/guide/manually-adding-chrome-extension.md
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/configuring-primary-operation.md
Labels: Guide, synthetics, tracing

#8466 Annieyang/add multiorg usage
  content/en/account_management/multi_organization.md
  static/images/account_management/managing-multiorgs-01.png
  static/images/account_management/managing-multiorgs-02.png
Labels: Images, account_management

#8470 Add Docker Alias
  content/en/agent/docker/_index.md
Labels: agent

#8472 Fix moving_rollup language
  content/en/dashboards/functions/rollup.md
Labels: api, dashboards

#8471 DOCS-1210 windows note
  content/en/agent/basic_agent_usage/windows.md
Labels: agent

#8459 typo fixes in windows containers
  content/en/agent/troubleshooting/windows_containers.md
Labels: agent

#8451 DOCS-1206 Azure App Service Extension
  content/en/serverless/azure_app_services.md
  static/images/serverless/azure_diagnostics.png
Labels: Images, serverless

#8449 DOCS-1036 adding notes about comma
  content/en/dashboards/querying/_index.md
Labels: dashboards

#8447 DOCS-1172 adding openshift details
  content/en/agent/docker/_index.md
  content/en/agent/kubernetes/log.md
Labels: agent

#8445 [DOCS-1200] link fix
  content/en/agent/cluster_agent/setup.md
Labels: agent

#8437 modify process for adding datadog
  content/en/account_management/saml/azure.md
Labels: account_management

#8457 Remove empty tags from postman specific full_spec
  src/scripts/build-api-pages.js
Labels: Architecture

#8475 Fix chi framework Documentation link title
  content/en/tracing/compatibility_requirements/go.md
Labels: tracing

#8487 Update to include install_info set up requirements
  content/en/agent/cluster_agent/setup.md
Labels: agent

#8490 APM/php: Clarify support for mongo and mongodb extensions
  content/en/tracing/compatibility_requirements/php.md
Labels: tracing

#8436 Reorg of ECS Content
  config/_default/menus/menus.en.yaml
  content/en/agent/amazon_ecs/_index.md
  content/en/agent/amazon_ecs/apm.md
  content/en/agent/amazon_ecs/data_collected.md
  content/en/agent/amazon_ecs/logs.md
  content/en/agent/amazon_ecs/tags.md
Labels: Architecture, agent

#8481 Modifications search doc page
  content/en/synthetics/search.md
  static/images/synthetics/search/audit_events.png
  static/images/synthetics/search/custom-query.gif
  static/images/synthetics/search/overview.png
  static/images/synthetics/search/search.png
Labels: Images, synthetics

#8496 fix link to lambda library page
  content/en/serverless/enhanced_lambda_metrics/_index.md
Labels: serverless

#8498 Hotjar feedback: fix typo
  content/en/developers/dogstatsd/_index.md
Labels: developers

#8497 Hotjar feedback - fix broken link
  content/en/agent/cluster_agent/setup.md
  content/fr/agent/cluster_agent/setup.md
  content/ja/agent/cluster_agent/setup.md
Labels: agent

#8338 adding back in data collected missed info
  content/en/real_user_monitoring/browser/data_collected.md
  content/en/real_user_monitoring/data_collected/_index.md
  content/en/real_user_monitoring/data_collected/error.md
  content/en/real_user_monitoring/data_collected/user_action.md
  content/en/real_user_monitoring/data_collected/view.md
Labels: Bug, real_user_monitoring

#8507 Nmachado/mobilequickactions
  content/en/mobile/_index.md
  static/images/mobile/quick_actions.png
Labels: Images, mobile

#8508 Monitor-based SLO example correction
  content/en/monitors/service_level_objectives/monitor.md
Labels: monitors

#8510 Fix link to distribution metric docs
  content/en/serverless/enhanced_lambda_metrics/_index.md
Labels: serverless

#8485 Terminology change: flow -> aggregate connection
  content/en/network_performance_monitoring/network_map.md
  content/en/network_performance_monitoring/network_page.md
Labels: network_performance_monitoring

#8511 Fix link to internal repo to public docs
  content/en/agent/amazon_ecs/data_collected.md
Labels: agent

#8516 [WEB-742] - fix icons
  layouts/security_rules/list.html
Labels: Architecture

#8512 [APM-PHP] Make phpinfo() the source of truth for troubleshooting the PHP tracer
  content/en/tracing/setup/php.md
  content/en/tracing/troubleshooting/tracer_startup_logs.md
Labels: tracing

#8515 Homere.faivre/ad jmx annotations
  content/en/agent/guide/autodiscovery-with-jmx.md
  content/fr/agent/guide/autodiscovery-with-jmx.md
  content/ja/agent/guide/autodiscovery-with-jmx.md
Labels: Guide, agent

#8501 Update restrict-access-to-log-events-with-restriction-queries.md
  content/en/logs/guide/restrict-access-to-log-events-with-restriction-queries.md
Labels: logs

#8500 [RUMF-648][RUM/Logs] add new cookie configurations
  content/en/logs/log_collection/javascript.md
  content/en/real_user_monitoring/browser/_index.md
Labels: logs, real_user_monitoring

#8509 Fix typo on kubernetes logging
  content/en/agent/kubernetes/log.md
Labels: agent

#8518 Fix small typos
  content/en/agent/cluster_agent/external_metrics.md
Labels: agent

#8517 Last modifs to search page
  config/_default/menus/menus.en.yaml
Labels: Architecture

#8522 Update java.md
  content/en/tracing/setup/java.md
Labels: tracing

#8525 Update python serverless installation instructions
  content/en/serverless/installation/python.md
Labels: serverless

#8482 WEB-673 Code wrapper shortcode, upgrade markdown renderer
  config/_default/config.yaml
  config/_default/params.yaml
  content/en/account_management/authn_mapping/_index.md
  content/en/agent/basic_agent_usage/aix.md
  content/en/agent/cluster_agent/admission_controller.md
  content/en/agent/faq/agent_v6_changes.md
  content/en/agent/troubleshooting/send_a_flare.md
  content/en/developers/events/agent.md
  content/en/developers/events/dogstatsd.md
  content/en/developers/metrics/agent_metrics_submission.md
  content/en/developers/metrics/dogstatsd_metrics_submission.md
  content/en/developers/service_checks/agent_service_checks_submission.md
  content/en/developers/service_checks/dogstatsd_service_checks_submission.md
  content/en/developers/write_agent_check.md
  content/en/getting_started/logs/_index.md
  content/en/infrastructure/livecontainers.md
  content/en/logs/processing/parsing.md
  content/en/network_performance_monitoring/devices/setup.md
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/tracing/setup/dotnet-core.md
  content/en/tracing/setup/dotnet-framework.md
  content/en/tracing/troubleshooting/_index.md
  content/fr/account_management/authn_mapping/_index.md
  content/fr/agent/basic_agent_usage/aix.md
  content/fr/agent/faq/agent_v6_changes.md
  layouts/_default/baseof.html
  layouts/api/list.html
  layouts/partials/api/api-toolbar.html
  layouts/partials/code-lang-tabs.html
  layouts/partials/snippet-code-block.html
  layouts/partials/snippet-result-code-block.html
  layouts/shortcodes/code-block.html
  layouts/shortcodes/code-snippets.html
  layouts/shortcodes/code-tabs.html
  layouts/shortcodes/multi-code-snippet-wrapper.html
  src/scripts/components/api.js
  src/scripts/components/async-loading.js
  src/scripts/components/code-languages.js
  src/scripts/main-dd-js.js
  src/styles/components/_choice-select-box.scss
  src/styles/components/_table-of-contents.scss
  src/styles/pages/_global.scss
Labels: Architecture, Do Not Merge, FAQ, account_management, agent, developers, getting_started, infrastructure, logs, network_performance_monitoring, real_user_monitoring, tracing

#8530 Revert "WEB-673 Code wrapper shortcode, upgrade markdown renderer"
  config/_default/config.yaml
  config/_default/params.yaml
  content/en/account_management/authn_mapping/_index.md
  content/en/agent/basic_agent_usage/aix.md
  content/en/agent/cluster_agent/admission_controller.md
  content/en/agent/faq/agent_v6_changes.md
  content/en/agent/troubleshooting/send_a_flare.md
  content/en/developers/events/agent.md
  content/en/developers/events/dogstatsd.md
  content/en/developers/metrics/agent_metrics_submission.md
  content/en/developers/metrics/dogstatsd_metrics_submission.md
  content/en/developers/service_checks/agent_service_checks_submission.md
  content/en/developers/service_checks/dogstatsd_service_checks_submission.md
  content/en/developers/write_agent_check.md
  content/en/getting_started/logs/_index.md
  content/en/infrastructure/livecontainers.md
  content/en/logs/processing/parsing.md
  content/en/network_performance_monitoring/devices/setup.md
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/tracing/setup/dotnet-core.md
  content/en/tracing/setup/dotnet-framework.md
  content/en/tracing/troubleshooting/_index.md
  content/fr/account_management/authn_mapping/_index.md
  content/fr/agent/basic_agent_usage/aix.md
  content/fr/agent/faq/agent_v6_changes.md
  layouts/_default/baseof.html
  layouts/api/list.html
  layouts/partials/api/api-toolbar.html
  layouts/partials/code-lang-tabs.html
  layouts/partials/snippet-code-block.html
  layouts/partials/snippet-result-code-block.html
  layouts/shortcodes/code-block.html
  layouts/shortcodes/code-snippets.html
  layouts/shortcodes/code-tabs.html
  layouts/shortcodes/multi-code-snippet-wrapper.html
  src/scripts/components/api.js
  src/scripts/components/async-loading.js
  src/scripts/components/code-languages.js
  src/scripts/main-dd-js.js
  src/styles/components/_choice-select-box.scss
  src/styles/components/_table-of-contents.scss
  src/styles/pages/_global.scss
Labels: Architecture, FAQ, account_management, agent, developers, getting_started, infrastructure, logs, network_performance_monitoring, real_user_monitoring, tracing

#8528 Updates to search doc page after mgmt review
  config/_default/menus/menus.en.yaml
  content/en/synthetics/search.md
  static/images/synthetics/search/action_tray.mp4
  static/images/synthetics/search/test-steps.gif
Labels: Architecture, Images, synthetics

#8529 Update collecting logs with pagination guide
  content/en/logs/guide/collect-multiple-logs-with-pagination.md
Labels: Guide, logs

#8520 update kubectl command to match example (hotjar feedback)
  content/en/agent/cluster_agent/setup.md
Labels: agent

#8523 Charlie meynet/enrichment tables
  content/en/logs/processing/processors.md
  static/images/logs/processing/processors/lookup_processor.png
Labels: Images, logs

#8524 add missing integrations logos to docs
  static/images/integrations_logos/amixr.png
  static/images/integrations_logos/botprise.png
  static/images/integrations_logos/cyral.png
  static/images/integrations_logos/jfrog_platform.png
  static/images/integrations_logos/kernelcare.png
  static/images/integrations_logos/nvml.png
  static/images/integrations_logos/perimeterx.png
  static/images/integrations_logos/pliant.png
  static/images/integrations_logos/speedtest.png
Labels: Images

#8532 add X-Ray SDK installation link
  content/en/serverless/installation/dotnet.md
Labels: serverless

#8534 Updating js steps & variables
  content/en/synthetics/browser_tests/actions.md
Labels: synthetics

#8538 fixed extra "." in java sample code
  content/en/developers/metrics/dogstatsd_metrics_submission.md
Labels: developers

#8165 DOCS-1140 NDM Troubleshooting
  config/_default/menus/menus.en.yaml
  content/en/network_performance_monitoring/devices/troubleshooting.md
Labels: Architecture, network_performance_monitoring

#8542 Update manually-adding-chrome-extension.md
  content/en/synthetics/guide/app-that-requires-login.md
  content/en/synthetics/guide/manually-adding-chrome-extension.md
  static/images/synthetics/guide/app_that_requires_login/browser_test_conf.png
Labels: Guide, Images, synthetics

#8536 only timeseries are supported at this time
  content/en/dashboards/faq/embeddable-graphs-with-template-variables.md
Labels: FAQ, dashboards

#8539 update broken link
  content/en/serverless/distributed_tracing/_index.md
Labels: serverless

#8513 Amazon ECS Edits
  content/en/agent/amazon_ecs/_index.md
Labels: agent

#8546 Update to roles endpoint examples
  content/en/logs/guide/restrict-access-to-log-events-with-restriction-queries.md
Labels: Guide, logs

#8547 Remove marklogic files
  Makefile
  content/en/integrations/marklogic.md
  content/fr/integrations/marklogic.md
  content/ja/integrations/marklogic.md
Labels: integrations

#8476 Update datadog-agent-manager-windows.md
  content/en/agent/guide/datadog-agent-manager-windows.md
Labels: Guide, agent

#8504 Add note about special case for Synthetic Test SLO
  content/en/monitors/service_level_objectives/monitor.md
Labels: monitors

#8533 Upload Javascript source maps guide
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
  static/images/real_user_monitoring/error_tracking/minified_stacktrace.png
  static/images/real_user_monitoring/error_tracking/unminified_stacktrace.gif
Labels: Guide, Images, real_user_monitoring

#8558 Changing CI/CD Testing page further reading links
  content/en/synthetics/ci.md
Labels: synthetics

#8557 Update java.md
  content/en/tracing/setup/java.md
Labels: tracing

#8549 Remove K8s tab in JMX Autodiscovery docs
  content/en/agent/guide/autodiscovery-with-jmx.md
Labels: Guide, agent

#8541 DOCS-1234 NDM updates
  content/en/network_performance_monitoring/devices/_index.md
  content/en/network_performance_monitoring/devices/setup.md
Labels: network_performance_monitoring

#8565 Update _index.md
  content/en/mobile/_index.md
Labels: mobile

#8553 Fix broken link in the source maps guide
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
Labels: Do Not Merge, Guide, real_user_monitoring

#8568 Removing additional " in <TAG_KEY>":<TAG_VALUE>
  content/en/agent/kubernetes/tag.md
Labels: agent

#8569 Fix apache configuration typo
  content/en/getting_started/integrations/_index.md
Labels: getting_started

#8564 Adding windows templates to the Daemonset docs
  content/en/agent/kubernetes/_index.md
  static/resources/yaml/datadog-agent-windows-all-features.yaml
  static/resources/yaml/datadog-agent-windows-apm.yaml
  static/resources/yaml/datadog-agent-windows-logs-apm.yaml
  static/resources/yaml/datadog-agent-windows-logs.yaml
  static/resources/yaml/datadog-agent-windows-vanilla.yaml
Labels: agent

#8555 Adding Rehydration Permission + General Refresher on Logs Permission
  content/en/account_management/rbac/permissions.md
  static/images/account_management/rbac/logs_generate_metrics_access.png
  static/images/account_management/rbac/logs_livetail_access.png
  static/images/account_management/rbac/logs_modify_indexes_access.png
  static/images/account_management/rbac/logs_permissions.png
  static/images/account_management/rbac/logs_public_config_api_access.png
  static/images/account_management/rbac/logs_read_archive_access.png
  static/images/account_management/rbac/logs_read_data_access.png
  static/images/account_management/rbac/logs_read_index_data_access.png
  static/images/account_management/rbac/logs_write_archives_access.png
  static/images/account_management/rbac/logs_write_exclusion_filters_access.png
  static/images/account_management/rbac/logs_write_pipeline_access.png
  static/images/account_management/rbac/logs_write_processors_access.png
  static/images/account_management/rbac/logs_write_processors_scoping.png
Labels: Images, account_management, logs

#8572 Remove %22 from GET request
  content/en/synthetics/ci.md
Labels: synthetics

#8575 DOCS-1215 Update Pull Request Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

#8574 DOCS-1223 Update Missing Metrics script
  local/bin/py/missing_metrics.py
Labels: Architecture

#8576 Add files via upload
  content/en/dashboards/querying/_index.md
  static/images/dashboards/querying/booleanfilters.png
  static/images/dashboards/querying/filter.png
Labels: Images, dashboards

#8585 Add encoding option in agent log config
  content/en/agent/logs/_index.md
Labels: agent

#8587 update links
  layouts/partials/apm/apm-containers.html
Labels: Architecture

#8588 fixing links that the link script borked
  content/en/agent/kubernetes/_index.md
Labels: agent

#8583 [NET] Replace DNS with Domain
  content/en/network_performance_monitoring/network_page.md
  content/fr/network_performance_monitoring/network_page.md
  content/ja/network_performance_monitoring/network_page.md
  static/images/network_performance_monitoring/network_page/dns_aggregation.png
  static/images/network_performance_monitoring/network_page/domain_aggregation.png
Labels: Images, network_performance_monitoring

#8589 DOCS-1224 Container Agent Log Level
  content/en/agent/troubleshooting/debug_mode.md
Labels: agent

#8573 Getting Started with Dashboards
  content/en/getting_started/dashboards/_index.md
  static/images/getting_started/dashboards/cloning_dashboard.gif
  static/images/getting_started/dashboards/heatmap_widget.png
  static/images/getting_started/dashboards/opening_custom_link.gif
Labels: Images, getting_started

#8590 Add GS for DB to TOC
  config/_default/menus/menus.en.yaml
Labels: Architecture

#8591 Fix HPA example for matchLabels
  content/en/agent/cluster_agent/external_metrics.md
Labels: agent

#8594 [WEB-743] - fix bug with required fields
  src/scripts/build-api-pages.js
  src/scripts/tests/build-api-pages.test.js
Labels: Architecture

#8486 Adding documentation for API DNS tests. Corrections. Images optimization.
  content/en/synthetics/_index.md
  content/en/synthetics/api_tests/_index.md
  content/en/synthetics/metrics.md
  static/images/synthetics/api_tests/dns_test.png
  static/images/synthetics/api_tests/make-http-request.png
  static/images/synthetics/api_tests/make-ssl-request.png
  static/images/synthetics/api_tests/notifications-example.png
  static/images/synthetics/api_tests/ssl-self-signed-error.png
  static/images/synthetics/api_tests/tcp_test.png
Labels: Images, synthetics

#8577 Adding advanced filtering to Using Tags
  content/en/getting_started/tagging/using_tags.md
  static/images/tagging/using_tags/dashboard_boolean_1.png
  static/images/tagging/using_tags/dashboards_boolean_2.png
Labels: Images, getting_started

#8597 Update alert_graph.md
  content/en/dashboards/widgets/alert_graph.md
Labels: dashboards

#8600 Fixing the wrong text and link for Fargate pricing
  content/en/account_management/billing/containers.md
Labels: account_management

#8596 Adapt wording around JSON Logs Preprocessing in Pipelines
  content/en/logs/processing/_index.md
  static/images/logs/processing/json_logs_preprocessing.gif
  static/images/logs/processing/processing.png
  static/images/logs/processing/reserved_attribute.png
  static/images/logs/processing/reserved_attribute_tile.png
Labels: Images, logs

#8474 remove `.` from moving rollup
  content/en/dashboards/functions/rollup.md
Labels: dashboards

#8605 Reword in log collection table
  content/en/logs/log_collection/_index.md
Labels: logs

#8478 [WEB-213] - api translation update
  content/en/api/v1/authentication/examples.json
  content/en/api/v1/aws-integration/examples.json
  content/en/api/v1/aws-logs-integration/examples.json
  content/en/api/v1/azure-integration/examples.json
  content/en/api/v1/dashboard-lists/examples.json
  content/en/api/v1/dashboards/examples.json
  content/en/api/v1/downtimes/examples.json
  content/en/api/v1/embeddable-graphs/examples.json
  content/en/api/v1/events/examples.json
  content/en/api/v1/gcp-integration/examples.json
  content/en/api/v1/hosts/examples.json
  content/en/api/v1/ip-ranges/examples.json
  content/en/api/v1/key-management/examples.json
  content/en/api/v1/logs-indexes/examples.json
  content/en/api/v1/logs-pipelines/examples.json
  content/en/api/v1/logs/examples.json
  content/en/api/v1/metrics/examples.json
  content/en/api/v1/monitors/examples.json
  content/en/api/v1/organizations/examples.json
  content/en/api/v1/pagerduty-integration/examples.json
  content/en/api/v1/service-checks/examples.json
  content/en/api/v1/service-dependencies/examples.json
  content/en/api/v1/service-level-objectives/examples.json
  content/en/api/v1/slack-integration/examples.json
  content/en/api/v1/snapshots/examples.json
  content/en/api/v1/synthetics/examples.json
  content/en/api/v1/tags/examples.json
  content/en/api/v1/tracing/examples.json
  content/en/api/v1/usage-metering/examples.json
  content/en/api/v1/users/examples.json
  content/en/api/v1/webhooks-integration/examples.json
  content/en/api/v2/dashboard-lists/examples.json
  content/en/api/v2/logs-archives/examples.json
  content/en/api/v2/logs-restriction-queries/examples.json
  content/en/api/v2/logs/examples.json
  content/en/api/v2/roles/examples.json
  content/en/api/v2/security-monitoring/examples.json
  content/en/api/v2/services/examples.json
  content/en/api/v2/teams/examples.json
  content/en/api/v2/users/examples.json
  i18n/en.json
  i18n/fr.json
  i18n/ja.json
  layouts/api/list.html
  src/scripts/build-api-pages.js
Labels: Architecture, api

#8606 Documentation for network ID tag
  content/en/network_performance_monitoring/network_page.md
Labels: network_performance_monitoring

#8601 AWS X-Ray integration documentation and cleanup
  content/en/serverless/installation/_index.md
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
  content/en/serverless/installation/ruby.md
  content/en/tracing/serverless_functions/_index.md
Labels: serverless, tracing

#8613 Removing reference to token
  content/en/synthetics/ci.md
Labels: synthetics

#8615 Error Tracking is available in EU
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/real_user_monitoring/error_tracking/explorer.md
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
Labels: real_user_monitoring

#8611 [WEB-783] - add quotes around curl urls and match style so it appears as one string
  layouts/partials/api/curl.html
Labels: Architecture

#8602 Version Tracking Updates
  content/en/tracing/_index.md
  content/en/tracing/version_tracking/_index.md
  static/images/tracing/version_tracking/BlueGreenDeploy.png
  static/images/tracing/version_tracking/CanaryDeploy.png
  static/images/tracing/version_tracking/ComparisonGraphs.png
  static/images/tracing/version_tracking/EndpointComparison.png
  static/images/tracing/version_tracking/ErrorComparison.gif
  static/images/tracing/version_tracking/ErrorComparison.png
  static/images/tracing/version_tracking/ErrorRateByVersion.png
  static/images/tracing/version_tracking/ServicePageRequestsErrorsByVersion.png
  static/images/tracing/version_tracking/VersionComparison.png
  static/images/tracing/version_tracking/VersionProfiler.png
Labels: Images, tracing

#8622 updates
  config/_default/menus/menus.en.yaml
  content/en/tracing/_index.md
  content/en/tracing/deployment_tracking/_index.md
  static/images/tracing/deployment_tracking/AnalyticsErrorsByVersion.gif
  static/images/tracing/deployment_tracking/BlueGreenDeploy.png
  static/images/tracing/deployment_tracking/Canary.png
  static/images/tracing/deployment_tracking/CanaryDeploy.png
  static/images/tracing/deployment_tracking/ComparisonGraphs.png
  static/images/tracing/deployment_tracking/EndpointComparison.png
  static/images/tracing/deployment_tracking/ErrorComparison.gif
  static/images/tracing/deployment_tracking/ErrorComparison.png
  static/images/tracing/deployment_tracking/ErrorRateByVersion.png
  static/images/tracing/deployment_tracking/ResourcePage.png
  static/images/tracing/deployment_tracking/ServicePage.png
  static/images/tracing/deployment_tracking/ServicePageRequestsErrorsByVersion.png
  static/images/tracing/deployment_tracking/VersionComparison.png
  static/images/tracing/deployment_tracking/VersionProfiler.png
  static/images/tracing/deployment_tracking/rolling.png
Labels: Architecture, Images, tracing

#8623 Clarify adding check to agent after verification
  content/en/developers/write_agent_check.md
Labels: developers

#8626 container path on Amazon Linux AMI
  content/en/agent/amazon_ecs/_index.md
Labels: agent

#8620 Update metric-based SLO docs for new side panel design
  content/en/monitors/service_level_objectives/metric.md
  static/images/monitors/service_level_objectives/metric-based-slo-example.png
  static/images/monitors/service_level_objectives/metric_results.png
Labels: Images, monitors

#8628 Fixing EKS guidelines
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#8629 Fix dns query and. answer name
  content/en/logs/processing/attributes_naming_convention.md
Labels: logs

#8630 [apm] remove docker env label from dockerfile
  content/en/getting_started/tagging/unified_service_tagging.md
Labels: getting_started

#8633 Fix some language on how roles combine one with another for logs rbac
  content/en/account_management/rbac/permissions.md
Labels: account_management, logs

#8631 Broken links in ECS docs
  content/en/agent/amazon_ecs/_index.md
Labels: agent

#8635 add missing link to unified tagging
  content/en/agent/docker/integrations.md
Labels: agent

#8639 updated cloudfront integration doc with instructions for real time logs
  static/images/integrations/amazon_cloudfront/cloudfront_logging_3.png
Labels: Images

#8641 Use tabs to separate EU & US instructions
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
Labels: Guide, real_user_monitoring

#8649 Metrics Note for ECS
  content/en/agent/amazon_ecs/data_collected.md
Labels: agent

#8521 DOCS-1217 RUM Browser Monitoring single source
  .gitignore
  .gitlab-ci.yml
  Makefile
  content/en/real_user_monitoring/browser/_index.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, real_user_monitoring

#8651 journald filter units note
  content/en/agent/docker/log.md
Labels: agent

#8647 step function tracing integration page update
  content/en/serverless/serverless_integrations/_index.md
  static/images/serverless/step-function-trace.jpeg
Labels: Images, serverless

#8638 DOCS-1211 add JVM arg instructions for some frameworks
  content/en/tracing/setup/java.md
Labels: tracing

#8656 /cgroup/ only works for Amazon Linux 1 AMI
  content/en/agent/amazon_ecs/_index.md
Labels: agent

#8662 Updating doc for DNS resolution
  content/en/synthetics/private_locations/configuration.md
Labels: synthetics

#8617 Changes to include Firefox
  content/en/synthetics/browser_tests/_index.md
  static/images/synthetics/browser_tests/browser_test_step.png
  static/images/synthetics/browser_tests/manual_steps.png
Labels: Images, synthetics

#8663 Typo in metric name
  content/en/tracing/guide/apm_dashboard.md
Labels: Guide, tracing

#8664 Update Error Budget Monitor supported Terraform versions
  content/en/monitors/service_level_objectives/error_budget.md
Labels: monitors

#8670 Fix RUM links
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/browser/data_collected.md
  content/en/real_user_monitoring/dashboards/_index.md
  content/en/real_user_monitoring/dashboards/errors_dashboard.md
  content/en/real_user_monitoring/dashboards/performance_overview_dashboard.md
  content/en/real_user_monitoring/dashboards/resources_dashboard.md
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/real_user_monitoring/explorer/_index.md
  content/en/real_user_monitoring/faq/content_security_policy.md
  content/en/real_user_monitoring/faq/proxy_rum_data.md
  content/en/real_user_monitoring/guide/send-custom-user-actions.md
Labels: FAQ, Guide, real_user_monitoring

#8666 updating GCP image
  static/images/integrations/google_cloud_pubsub/create_sink.png
  static/images/integrations/google_cloud_pubsub/creating_sink.png
Labels: Images

#8423 Document Datadog Serverless Plugin, Macro and CLI
  .gitignore
  .gitlab-ci.yml
  Makefile
  config/_default/menus/menus.en.yaml
  content/en/account_management/rbac/permissions.md
  content/en/agent/docker/integrations.md
  content/en/agent/docker/log.md
  content/en/agent/kubernetes/_index.md
  content/en/logs/processing/_index.md
  content/en/monitors/service_level_objectives/monitor.md
  content/en/real_user_monitoring/browser/data_collected.md
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
  content/en/serverless/enhanced_lambda_metrics/_index.md
  content/en/serverless/installation/dotnet.md
  content/en/serverless/installation/go.md
  content/en/serverless/installation/java.md
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
  content/en/serverless/installation/ruby.md
  content/en/serverless/serverless_integrations/_index.md
  content/en/tracing/guide/metrics_namespace.md
  content/en/tracing/setup/dotnet-core.md
  content/en/watchdog.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, Guide, account_management, agent, logs, monitors, real_user_monitoring, serverless, tracing

#8674 Minor fixes for recent additions to pull config
  local/bin/py/build/actions/pull_and_push_file.py
Labels: Architecture

#8645 Updating advanced options
  content/en/synthetics/api_tests/_index.md
  content/en/synthetics/settings/_index.md
  static/images/synthetics/settings/variable_from_http.png
  static/images/synthetics/settings/variable_fromhttp.png
  static/images/synthetics/settings/variable_specifyvalue.png
  static/images/synthetics/settings/variable_value.png
Labels: Images, synthetics

#8599 DOCS-1226 MySQL Custom Queries
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/how-to-collect-metrics-from-custom-mysql-queries.md
Labels: FAQ, integrations

#8667 JSON log formatter example
  content/en/logs/log_collection/python.md
Labels: logs

#8673 Update to include NTLM support
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/guide/app-that-requires-login.md
Labels: Guide, synthetics

#8684 Stress importance of column order
  content/en/integrations/faq/postgres-custom-metric-collection-explained.md
Labels: FAQ, integrations
