Repository DataDog/documentation, pull requests merged in 2021-06, with the labels that each got.

#10588 Update Java APM Setup page
  content/en/tracing/setup_overview/setup/java.md
Labels: tracing

#10720 looks like they updated the repo from `master` to `main`
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#10721 Update widgets image
  static/images/mobile/widgets.png
Labels: Images

#10701 [rum] script error
  content/en/real_user_monitoring/browser/collecting_browser_errors.md
  static/images/real_user_monitoring/browser/script-error.png
Labels: Images, real_user_monitoring

#10717 Create browser-tests-switch-tabs
  content/en/synthetics/browser_tests/advanced_options.md
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/browser-tests-switch-tabs.md
Labels: Guide, synthetics

#10494 Add Notification Rules to Docs
  config/_default/menus/menus.en.yaml
  content/en/monitors/incident_management/notification_rules.md
  static/images/monitors/incidents/notification_rules_config.jpeg
  static/images/monitors/incidents/notification_rules_list.jpeg
Labels: Architecture, Images, monitors

#10723 fix this wrong thing on AIX
  content/en/agent/basic_agent_usage/aix.md
Labels: agent

#10727 Fix typo in catalina_opts on tomcat/windows
  content/en/tracing/setup_overview/setup/java.md
Labels: tracing

#10719 APM > .NET > add new integrations
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-core.md
Labels: Do Not Merge, tracing

#10731 Update agent_expressions.md
  content/en/security_platform/cloud_workload_security/agent_expressions.md
Labels: security_platform

#10722 [WEB-1438] Codetabs issue
  src/scripts/components/codetabs.js
  src/scripts/datadog-docs.js
Labels: Architecture

#10730 [Log Archives] Change external archives requirements
  content/en/logs/archives/_index.md
  static/images/logs/archives/gcp_role_storage_object_admin.png
Labels: Images, logs

#10732 Lambda Extension available in all commercial AWS regions
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
Labels: serverless

#10733 update clipboard export docs
  content/en/monitors/incident_management/datadog_clipboard.md
Labels: monitors

#10734 Add alias to APM page
  content/en/serverless/distributed_tracing/_index.md
Labels: serverless

#10724 Move profiler intro into Getting Started section
  config/_default/menus/menus.en.yaml
  content/en/getting_started/_index.md
  content/en/getting_started/profiler/_index.md
  content/en/tracing/profiler/_index.md
  content/en/tracing/profiler/connect_traces_and_profiles.md
  content/en/tracing/profiler/enabling.md
  content/en/tracing/profiler/search_profiles.md
  content/en/tracing/setup_overview/setup/java.md
Labels: Architecture, getting_started, tracing

#10725 Update send-aws-services-logs-with-the-datadog-lambda-function.md
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: Guide, logs

#10738 RRULE support in downtimes
  content/en/monitors/downtimes.md
  content/en/monitors/guide/supress-alert-with-downtimes.md
  static/images/monitors/downtimes/downtime_onetime.jpg
  static/images/monitors/downtimes/downtime_recurring.jpg
  static/images/monitors/downtimes/downtime_rrule.jpg
  static/images/monitors/downtimes/downtine_guide_rrule.jpg
Labels: Guide, Images, monitors

#10745 Caroline.kim/ecs fargate flare instructions
  content/en/agent/troubleshooting/send_a_flare.md
Labels: agent

#10741 todays round of translation updates
  content/en/logs/guide/ease-troubleshooting-with-cross-product-correlation.md
  content/en/mobile/_index.md
Labels: Guide, logs, mobile

#10748 adding image
  static/images/integrations/salesforce/success.png
Labels: Images

#10747 Event rate limit update
  content/en/api/latest/rate-limits/_index.md
  content/en/api/v1/rate-limits/_index.md
  content/en/api/v2/rate-limits/_index.md
Labels: api

#10751 Fix rate limit apostrophes
  content/en/api/latest/rate-limits/_index.md
  content/en/api/v1/rate-limits/_index.md
  content/en/api/v2/rate-limits/_index.md
Labels: api

#10750 carlos/add-infra-product-menu
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
  src/styles/components/_header.scss
Labels: Architecture

#10749 DOCS-2023 Remove asyncuds from DogStatsD Go section
  content/en/developers/dogstatsd/_index.md
Labels: developers

#10744 DOCS-1575 - adding docker deprecation guide
  content/en/agent/guide/_index.md
  content/en/agent/guide/docker-deprecation.md
Labels: Guide, agent

#10758 Minor Style Nits
  content/en/tracing/troubleshooting/_index.md
Labels: tracing

#10757 DOCS-2079
  content/en/real_user_monitoring/browser/troubleshooting.md
Labels: real_user_monitoring

#10742 [WEB-1457] Migrate CSS compilation from Webpack to Hugo Pipes
  .gitignore
  assets/styles/_bootstrap-custom.scss
  assets/styles/_dropdown.scss
  assets/styles/_icons.scss
  assets/styles/_ie.scss
  assets/styles/_main_docsearch.scss
  assets/styles/_searchbox.scss
  assets/styles/_webfonts.scss
  assets/styles/base/_colors.scss
  assets/styles/base/_helpers.scss
  assets/styles/base/_mixins.scss
  assets/styles/base/_typography.scss
  assets/styles/base/_variables.scss
  assets/styles/components/_announcement_banner.scss
  assets/styles/components/_badge.scss
  assets/styles/components/_footer.scss
  assets/styles/components/_global-modals.scss
  assets/styles/components/_header.scss
  assets/styles/components/_integration-breadcrumbs.scss
  assets/styles/components/_integration-labels.scss
  assets/styles/components/_integrations.scss
  assets/styles/components/_language-region-select.scss
  assets/styles/components/_platforms.scss
  assets/styles/components/_preview_banner.scss
  assets/styles/components/_questions.scss
  assets/styles/components/_schema-table.scss
  assets/styles/components/_sidenav.scss
  assets/styles/components/_support.scss
  assets/styles/components/_tab-toggle.scss
  assets/styles/components/_table-of-contents.scss
  assets/styles/components/_tile-nav.scss
  assets/styles/components/_whats-next.scss
  assets/styles/pages/_404.scss
  assets/styles/pages/_api.scss
  assets/styles/pages/_fr.scss
  assets/styles/pages/_global.scss
  assets/styles/pages/_help.scss
  assets/styles/pages/_home.scss
  assets/styles/pages/_ja.scss
  assets/styles/pages/_search.scss
  assets/styles/pages/_security_monitoring.scss
  assets/styles/style.scss
  assets/styles/vendor/_bootstrap-modules.scss
  assets/styles/vendor/chroma-styles.css
  config/_default/config.yaml
  data/manifest.json
  layouts/_default/404-baseof.html
  layouts/_default/baseof.html
  layouts/api/baseof.html
  layouts/index.html
  layouts/partials/css.html
  package.json
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Labels: Architecture

#10759 [WEB-1306] Update Links to Alerts Product Page
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
  data/partials/footer.fr.yaml
  data/partials/footer.ja.yaml
  data/partials/header.fr.yaml
  data/partials/header.ja.yaml
Labels: Architecture

#10756 Update credit card mask sequence
  content/en/agent/faq/commonly-used-log-processing-rules.md
Labels: FAQ, agent, under_review

#10765 Fix links on Profiler language tiles
  content/en/tracing/profiler/connect_traces_and_profiles.md
  layouts/partials/profiling/profiling-languages.html
Labels: Architecture, tracing

#10762 Remove useless comment, add missing colon
  content/en/tracing/profiler/enabling.md
Labels: tracing

#10764 add steps for enabling runtime metrics without ddtrace-run
  content/en/tracing/runtime_metrics/python.md
Labels: tracing

#10768 Deprecating an old FAQ
  content/en/dashboards/faq/inconsistent-sum-aggregation-between-different-time-windows-on-graph.md
  content/en/metrics/_index.md
Labels: FAQ, dashboards, metrics

#10767 Akanksha.bathini/update usage page
  content/en/account_management/billing/usage_details.md
  content/en/account_management/multi_organization.md
  static/images/account_management/billing/usage-details-v3-01.png
  static/images/account_management/billing/usage-details-v3-02.png
  static/images/account_management/billing/usage-details-v3-03.png
  static/images/account_management/billing/usage-metrics-04.png
  static/images/account_management/multi-org-billable-v2.png
  static/images/account_management/multi-org-percent-billable-v2.png
  static/images/account_management/multi-org-v2-logs-by-index.png
  static/images/account_management/multi-org-v2-trends.png
  static/images/account_management/multi-org-v2.png
Labels: Images, account_management

#10769 remove FF documentation
  content/en/account_management/saml/mobile-idp-login.md
Labels: account_management

#10774 Adding a new guide about caching in browser tests
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/synthetic-tests-caching.md
Labels: Guide, synthetics

#10777 Change incorrect tag reference
  content/en/tracing/visualization/_index.md
Labels: tracing

#10778 small clarification
  content/en/developers/_index.md
Labels: developers

#10770 Clarify that Log facet variables need "@"
  content/en/monitors/notifications.md
Labels: monitors

#10654 Update _index.md
  content/en/agent/docker/_index.md
Labels: under_review

#10781 [apm]: update ruby version compatibility
  content/en/tracing/setup_overview/compatibility_requirements/ruby.md
Labels: tracing

#10775 Updating Salesforce image (2/2)
  static/images/integrations/salesforce/salesforce.png
  static/images/integrations/salesforce/success.png
Labels: Images

#10782 Kathy.lin/rollup dist
  content/en/dashboards/functions/rollup.md
  content/en/metrics/faq/_index.md
  content/en/metrics/faq/rollup-for-distributions-with-percentiles.md
  static/images/metrics/faq/new-rollup-distUI.jpg
  static/images/metrics/faq/old-rollup-distUI.jpg
Labels: FAQ, Images, dashboards, metrics

#10784 CI: Use realistic custom tags for Jenkins setup
  content/en/continuous_integration/setup_pipelines/jenkins.md
Labels: continuous_integration

#10793 Update _index.md
  content/en/metrics/faq/_index.md
Labels: FAQ, metrics

#10792 remove aws cli from requirements
  local/etc/requirements3.txt
Labels: Architecture

#10794 CI: provide units of flushInterval
  content/en/continuous_integration/setup_tests/javascript.md
Labels: continuous_integration

#10786 Minor specific Swift changes:
  content/en/continuous_integration/setup_tests/swift.md
Labels: continuous_integration

#10791 Fix from a monitor image
  content/en/monitors/incident_management/_index.md
  static/images/monitors/incidents/incident-from-monitor.png
Labels: Images, monitors

#10795 Update rollup-for-distributions-with-percentiles.md
  content/en/metrics/faq/rollup-for-distributions-with-percentiles.md
Labels: FAQ, metrics

#10796 Update supported tables
  content/en/tracing/setup_overview/compatibility_requirements/php.md
Labels: tracing

#10798 Fix typo
  content/en/security_platform/security_monitoring/security_home.md
Labels: security_platform

#10783 DOCS-1764 Request Datadog Integrations
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/requests.md
  data/partials/requests.yaml
  layouts/partials/requests.html
  static/images/icons/int_apm.png
  static/images/icons/int_cloud.png
  static/images/icons/int_custom_int.png
  static/images/icons/int_custom_metrics.png
  static/images/icons/int_endpoint.png
  static/images/icons/int_files.png
  static/images/icons/int_jmx.png
  static/images/icons/int_logs.png
  static/images/icons/int_network.png
  static/images/icons/int_openmetrics.png
  static/images/icons/int_processes.png
  static/images/icons/int_wpc.png
Labels: Architecture, Guide, Images, integrations

#10797 Update dotnet pngs on tiles
  layouts/partials/apm/apm-compatibility.html
  layouts/partials/apm/apm-connect-logs-and-traces.html
  layouts/partials/apm/apm-languages.html
  layouts/partials/apm/apm-manual-instrumentation.html
  layouts/partials/apm/apm-opentracing.html
  layouts/partials/logs/logs-languages.html
  layouts/partials/serverless/getting-started-languages.html
  layouts/partials/serverless/serverless-apm-recommendations.html
  static/images/integrations_logos/dotnet-core.png
  static/images/integrations_logos/dotnet-framework.png
  static/images/integrations_logos/dotnet.png
  static/images/integrations_logos/net_core.png
Labels: Architecture, Images

#10800 Add heading exceptions for integrations-core
  .github/styles/Datadog/headings.yml
Labels: Github

#10653 Add typescript examples
  .github/workflows/bump_versions.yml
  .gitignore
  Makefile
  assets/styles/components/_schema-table.scss
  assets/styles/pages/_api.scss
  config/_default/params.yaml
  content/en/api/latest/_index.md
  data/sdk_versions.json
  layouts/api/list.html
  layouts/partials/api/sdk-languages.html
  static/images/integrations_logos/typescript.png
Labels: Architecture, Github, Images, api

#10801 Change the example from executionRule skipped to blocking
  content/en/synthetics/ci.md
Labels: synthetics

#10805 update icon in product dropdown menu for api
  config/_default/menus/menus.en.yaml
Labels: Architecture

#10766 Adding guide about Synthetics usage monitoring
  content/en/account_management/billing/usage_metrics.md
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/monitor-usage.md
Labels: Guide, account_management, synthetics

#10808 Small changes to the browser test results page
  content/en/synthetics/browser_tests/test_results.md
Labels: synthetics

#10799 Update from "Finding Flaky Tests" to "Flaky Test Management"
  content/en/continuous_integration/guides/_index.md
  content/en/continuous_integration/guides/flaky_test_management.md
Labels: continuous_integration

#10810 Update _index.md
  content/en/real_user_monitoring/connect_rum_and_traces/_index.md
Labels: real_user_monitoring

#10807 DOCS-1822 - specify limitations on tags
  content/en/getting_started/tagging/_index.md
Labels: getting_started

#10752 Anomaly detection beta
  content/en/security_platform/explorer.md
  content/en/security_platform/security_monitoring/log_detection_rules.md
  static/images/security_platform/security_monitoring/explorer/anomaly-detection.png
Labels: Images, security_platform

#10804 [rum] new billing details page
  content/en/account_management/billing/rum_units.md
Labels: account_management

#10809 Small fix in header
  content/en/synthetics/guide/identify_synthetics_bots.md
Labels: Guide, synthetics

#10812 [WEB-1444]Brooklyne.finni/update api icon
  assets/styles/components/_header.scss
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
Labels: Architecture

#10806 [DOCS-2129] Update python.md
  content/en/tracing/connect_logs_and_traces/python.md
Labels: tracing

#10819 Composite Monitor notifications update.
  content/en/monitors/notifications.md
Labels: monitors

#10814 CI docs cleanup: better tables and codeblocks
  content/en/continuous_integration/setup_pipelines/gitlab.md
  content/en/continuous_integration/setup_pipelines/jenkins.md
  content/en/continuous_integration/setup_tests/agent.md
  content/en/continuous_integration/setup_tests/dotnet.md
  content/en/continuous_integration/setup_tests/java.md
  content/en/continuous_integration/setup_tests/javascript.md
  content/en/continuous_integration/setup_tests/junit_upload.md
  content/en/continuous_integration/setup_tests/python.md
  content/en/continuous_integration/setup_tests/ruby.md
Labels: continuous_integration

#10818 CI-app - Swift - Added more environment variables to some CI
  content/en/continuous_integration/setup_tests/swift.md
Labels: continuous_integration

#10820 Update CI Visibility Ruby instructions with latest tracer version
  content/en/continuous_integration/setup_tests/ruby.md
Labels: continuous_integration

#10821 adding_note_for_32_bit
  content/en/developers/metrics/_index.md
Labels: developers

#10823 Update Password Reset docs to include EU endpoint
  content/en/account_management/faq/help-my-password-email-never-came-through.md
Labels: FAQ, account_management

#10616 [DOCS-2062] Add a Rails on Heroku guide
  content/en/agent/guide/_index.md
  content/en/agent/guide/heroku-ruby.md
  static/images/agent/guide/heroku_ruby/apikey.png
  static/images/agent/guide/heroku_ruby/custom_metric.png
  static/images/agent/guide/heroku_ruby/dyno_cpu_log.png
  static/images/agent/guide/heroku_ruby/dyno_host.png
  static/images/agent/guide/heroku_ruby/dyno_memory_log.png
  static/images/agent/guide/heroku_ruby/generated_metric.png
  static/images/agent/guide/heroku_ruby/grok_parser.png
  static/images/agent/guide/heroku_ruby/heroku_logs.png
  static/images/agent/guide/heroku_ruby/log_trace_correlation.png
  static/images/agent/guide/heroku_ruby/metrics_explorer.png
  static/images/agent/guide/heroku_ruby/new_custom_metric.png
  static/images/agent/guide/heroku_ruby/postgres_metrics.png
  static/images/agent/guide/heroku_ruby/router_log.png
  static/images/agent/guide/heroku_ruby/ruby_logs.png
  static/images/agent/guide/heroku_ruby/ruby_service.png
  static/images/agent/guide/heroku_ruby/sample_app.png
  static/images/agent/guide/heroku_ruby/service_page.png
  static/images/agent/guide/heroku_ruby/traces.png
Labels: Guide, Images, agent, editorial review

#10822 (DOCS-2116) Remove outdated screenshot
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
  static/images/integrations/amazon_cloudwatch/cloudwatch_log_collection_1.png
  static/images/integrations/amazon_cloudwatch/cloudwatch_log_collection_2.png
Labels: Guide, Images, logs

#10366 developer overview updates - new (borked a branch)
  content/en/developers/_index.md
Labels: WORK IN PROGRESS, developers

#10832 Update _index.md
  content/en/tracing/setup_overview/open_standards/_index.md
Labels: tracing

#10662 DOCS-2020 NPM integrations
  .gitignore
  content/en/network_monitoring/performance/guide/_index.md
  content/en/network_monitoring/performance/guide/aws_supported_services.md
  content/en/network_monitoring/performance/network_page.md
  layouts/shortcodes/get-npm-integrations.html
  local/bin/py/build/actions/integrations.py
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  local/bin/py/build/update_pre_build.py
Labels: Architecture, network_monitoring

#10824 New NPM blog
  content/en/network_monitoring/performance/_index.md
Labels: network_monitoring

#10827 Update frameworks_and_benchmarks.md
  content/en/security_platform/cspm/frameworks_and_benchmarks.md
Labels: security_platform

#10835 Updating for inclusive language
  content/en/network_monitoring/performance/network_page.md
Labels: network_monitoring

#10811 Apigee doc updates
  content/en/integrations/apigee.md
Labels: integrations

#10836 updating to remove helm stable line, closes #10834
  content/en/agent/kubernetes/_index.md
Labels: agent

#10844 Fix JSON examples of nested arrays
  content/en/api/v1/dashboards/examples.json
  content/en/api/v1/dashboards/widgets.json
  content/en/api/v1/notebooks/examples.json
  src/scripts/build-api-pages.js
Labels: Architecture, api

#10847 DOCS-2135 Deemphasize ruby in CI docs
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/setup_tests/_index.md
Labels: Architecture, continuous_integration

#10840 [rum] Fix broken link for SPA view attributes
  content/en/real_user_monitoring/browser/data_collected.md
Labels: real_user_monitoring

#10846 [agent] helm chart install best-practice update
  content/en/agent/kubernetes/_index.md
Labels: agent

#10842 Adding default polling timeout
  content/en/synthetics/ci.md
Labels: synthetics

#10673 (DOCS-2001) Metrics without limits getting started guide
  content/en/metrics/guide/metrics-without-limits-getting-started.md
  content/en/metrics/guide/tag-configuration-cardinality-estimation-tool.md
  static/images/metrics/guide/after-mwl.jpg
  static/images/metrics/guide/before-mwl.jpg
  static/images/metrics/guide/bulk-tag-configuration.gif
  static/images/metrics/guide/mwl-table.jpg
Labels: Guide, Images, editorial review, metrics

#10837 DOCS-2031 Add exceptions for Integrations
  .github/styles/Datadog/headings.yml
Labels: Github

#10855 Add priority override instructions
  content/en/monitors/notifications.md
Labels: monitors

#10857 Fix typo in build failure error
  local/bin/py/build/content_manager.py
  local/bin/py/build/update_pre_build.py
Labels: Architecture

#10854 Display estimated usage for Analyzed Logs (security)
  content/en/account_management/billing/usage_metrics.md
Labels: account_management

#10856 [ci-app] Add instructions to enable CI Visibility in Jenkins
  content/en/continuous_integration/setup_pipelines/jenkins.md
Labels: continuous_integration

#10859 [apm] add warning on otel collector docs about v0.28
  content/en/tracing/setup_overview/open_standards/_index.md
Labels: tracing

#10858 [ci-app] Update Python tracer version
  content/en/continuous_integration/setup_tests/python.md
Labels: continuous_integration

#10862 Add blog link
  content/en/serverless/distributed_tracing/_index.md
Labels: serverless

#10543 Add saved views instructions for monitors
  content/en/monitors/manage_monitor.md
  static/images/monitors/manage_monitor/default.jpg
  static/images/monitors/manage_monitor/overview.jpg
Labels: Images, monitors

#10869 Adding iframe case to troubleshooting guide
  content/en/synthetics/troubleshooting/_index.md
Labels: synthetics

#10866 Export environment variables in Ruby example
  content/en/tracing/profiler/enabling.md
Labels: tracing

#10873 Add micronaut and restlet to compatibility docs
  content/en/tracing/setup_overview/compatibility_requirements/java.md
Labels: tracing

#10879 [WEB-1504] - make nav links to api non async
  layouts/partials/nav/main-menu.html
Labels: Architecture

#10875 Remove extra 'detection' word
  content/en/security_platform/security_monitoring/log_detection_rules.md
Labels: security_platform

#10861 DOCS-1636 Lint headings
  .github/styles/Datadog/headings.yml
  content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/multi_organization.md
  content/en/continuous_integration/explore_tests.md
  content/en/continuous_integration/setup_tests/agent.md
  content/en/continuous_integration/setup_tests/containers.md
  content/en/continuous_integration/setup_tests/java.md
  content/en/continuous_integration/setup_tests/python.md
  content/en/continuous_integration/setup_tests/ruby.md
  content/en/continuous_integration/setup_tests/swift.md
  content/en/developers/marketplace.md
  content/en/metrics/summary.md
  content/en/mobile/_index.md
  content/en/monitors/incident_management/notification_rules.md
  content/en/real_user_monitoring/browser/collecting_browser_errors.md
  content/en/security_platform/cloud_workload_security/_index.md
  content/en/security_platform/cloud_workload_security/agent_expressions.md
  content/en/security_platform/cspm/_index.md
  content/en/security_platform/detection_rules/_index.md
  content/en/security_platform/guide/_index.md
  content/en/security_platform/guide/how-to-setup-security-filters-using-security-monitoring-api.md
  content/en/security_platform/security_monitoring/_index.md
  content/en/security_platform/security_monitoring/log_detection_rules.md
  content/en/security_platform/security_monitoring/security_home.md
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
  content/en/serverless/libraries_integrations/extension.md
Labels: Github, Guide, account_management, continuous_integration, developers, metrics, mobile, monitors, real_user_monitoring, security_platform, serverless

#10882 Adding documentation about private location monitoring
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#10872 Variables clarification
  content/en/synthetics/browser_tests/actions.md
Labels: synthetics

#10883 Adding examples to downtime documentation
  content/en/monitors/downtimes.md
  static/images/monitors/downtimes/downtime_examplebyname1_downtime.jpg
  static/images/monitors/downtimes/downtime_examplebyname1_monitor.jpg
  static/images/monitors/downtimes/downtime_examplebytag1_downtime.jpg
  static/images/monitors/downtimes/downtime_examplebytag1_monitor.jpg
  static/images/monitors/downtimes/downtime_examplebytag1_monitor2.jpg
Labels: Images, monitors

#10890 Add a note on AWS resource exclusion
  content/en/account_management/billing/aws.md
Labels: account_management, changelog/no-changelog

#10817 [agent] Add FAQ on how to run the macOS Agent as a system service
  content/en/agent/faq/_index.md
  content/en/agent/faq/macos-agent-run-as-system-service.md
Labels: FAQ, agent

#10888 Update list-of-api-source-attribute-value.md
  content/en/integrations/faq/list-of-api-source-attribute-value.md
Labels: FAQ, integrations

#10889 Update dotnet-framework.md
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-framework.md
Labels: tracing

#10892 GA-ing Edge on Browser tests
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/guide/app-that-requires-login.md
Labels: Guide, synthetics

#10895 Add a second downtime example by monitor name
  content/en/monitors/downtimes.md
  static/images/monitors/downtimes/downtime_examplebyname2_downtime.jpg
  static/images/monitors/downtimes/downtime_examplebyname2_monitor.jpg
Labels: Images, monitors

#10713 Bump minimal versions required
  content/en/infrastructure/livecontainers.md
Labels: infrastructure

#10829 [rum] added beforesend context docs
  content/en/real_user_monitoring/browser/advanced_configuration.md
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/enrich-and-control-rum-data.md
Labels: Guide, real_user_monitoring

#10902 [WEB-1512] evaluate_missing_metrics job fixes
  local/bin/py/missing_metrics.py
Labels: Architecture

#10896 Add Helm instructions and cleanup Daemonset approach
  content/en/agent/cluster_agent/setup.md
Labels: agent

#10899 Add vsphere duplicated hosts troubleshooting
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/troubleshooting-duplicated-hosts-with-vsphere.md
Labels: FAQ, integrations

#10904 Addition for SMS via email alerts
  content/en/monitors/faq/can-i-send-sms-notifications-in-datadog.md
Labels: FAQ, monitors

#10903 Update _index.md
  content/en/dashboards/functions/_index.md
  content/en/dashboards/graphing_json/request_json.md
  content/en/dashboards/querying/_index.md
  static/images/dashboards/functions/addingfunctions.png
  static/images/dashboards/functions/exclusion_example.png
  static/images/dashboards/functions/timeshift_example.png
  static/images/dashboards/graphing_json/advanced_graph_example_for_json.png
  static/images/dashboards/graphing_json/graph_example_for_json.png
  static/images/dashboards/graphing_json/rate_example_for_json.png
  static/images/dashboards/querying/arithmetic_4.png
  static/images/dashboards/querying/arithmetic_5.png
  static/images/dashboards/querying/arithmetic_6.png
  static/images/dashboards/querying/custom_alias.png
  static/images/dashboards/querying/filter-2.png
  static/images/dashboards/querying/references-graphing-edit-window-with-y-2.png
  static/images/dashboards/querying/references-graphing-rollup-example-2.png
Labels: Images, dashboards

#10909 Small correction to dashboards landing page
  content/en/dashboards/_index.md
Labels: dashboards

#10906 (DOCS-1890) Reorg metrics docs
  config/_default/menus/menus.en.yaml
  content/en/metrics/agent_metrics_submission.md
  content/en/metrics/custom_metrics.md
  content/en/metrics/dogstatsd_metrics_submission.md
  content/en/metrics/powershell_metrics_submission.md
  content/en/metrics/type_modifiers.md
  content/en/metrics/types.md
  content/en/metrics/units.md
Labels: Architecture, metrics

#10897 DOCS-2161 Update Service Checks parsing
  layouts/shortcodes/get-service-checks-from-git.html
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#10911 Add names of supported source code management tools
  content/en/real_user_monitoring/error_tracking/browser_errors.md
Labels: real_user_monitoring

#10913 monitor enabling renotify image
  content/en/monitors/notifications.md
  static/images/monitors/notifications/renotify_enabled.jpg
Labels: Images, monitors

#10916 Add template variable format for event tags with periods
  content/en/monitors/notifications.md
Labels: monitors

#10914 Mention DD_PROFILING_HEAP_ENABLED to enable heap profilingon Python
  content/en/tracing/profiler/enabling.md
Labels: tracing

#10920 [PROD] Removing the per-container billing mention
  content/en/agent/kubernetes/_index.md
Labels: agent

#10910 Serverless codeowners
  .github/CODEOWNERS
Labels: Github

#10921 Add blog link
  content/en/synthetics/ci.md
Labels: synthetics

#10885 Getting Started with Synthetic Monitoring > API Tests
  content/en/getting_started/synthetics/api_test.md
Labels: getting_started

#10893 skip the bump version action on forks
  .github/workflows/bump_versions.yml
Labels: Github

#10935 Clean up #10772
  content/en/tracing/setup_overview/setup/python.md
Labels: tracing

#10936 DOCS-1980 Add IM getting started
  config/_default/menus/menus.en.yaml
  content/en/getting_started/incident_management/_index.md
  content/en/monitors/incident_management/_index.md
  static/images/getting_started/incident_management/add_from_slack.png
  static/images/getting_started/incident_management/apm_siren.png
  static/images/getting_started/incident_management/copy_to_clipboard.png
  static/images/getting_started/incident_management/edit_event_timestamp.png
  static/images/getting_started/incident_management/flag_event.png
  static/images/getting_started/incident_management/generate_postmortem.png
  static/images/getting_started/incident_management/im_settings_button.png
  static/images/getting_started/incident_management/notify_button.png
  static/images/getting_started/incident_management/open_slack_channel.png
  static/images/monitors/incidents/postmortem.png
  static/images/monitors/incidents/workflow-2-modal-1.png
  static/images/monitors/incidents/workflow-3-slack-1-1.png
  static/images/monitors/incidents/workflow-4-update-2.png
  static/images/monitors/incidents/workflow-5-postmortem-1.png
Labels: Architecture, Do Not Merge, Images, getting_started, monitors

#10948 Profiler troubleshooting - Fix code blocks on tabs
  content/en/tracing/profiler/profiler_troubleshooting.md
Labels: tracing

#10951 Fix API Key filename and use raw file for app key
  content/en/agent/cluster_agent/setup.md
Labels: agent

#10908 [WEB-1501] - skip rules with flag
  local/bin/py/build/actions/security_rules.py
Labels: Architecture

#10939 Typo in screenshot
  content/en/tracing/visualization/service.md
  static/images/tracing/visualization/service/save_to_dashboard.png
  static/images/tracing/visualization/service/save_to_timeboard.png
Labels: Images, tracing

#10949 iterative updates for the new dev section
  config/_default/menus/menus.en.yaml
Labels: Architecture

#10952 Update _index.md
  content/en/getting_started/logs/_index.md
Labels: getting_started

#10959 Added supported Pytest versions in CIApp description
  content/en/continuous_integration/setup_tests/python.md
Labels: continuous_integration

#10961 Update for tag variables on single alert monitors
  content/en/monitors/notifications.md
Labels: monitors

#10931 Update secrets-management.md
  content/en/agent/guide/secrets-management.md
Labels: Guide, agent, under_review

#10850 Update summary.md
  content/en/metrics/summary.md
  static/images/metrics/summary/bulkconfig.gif
  static/images/metrics/summary/bulkpercentiles.jpg
  static/images/metrics/summary/configurationbuttons.jpg
Labels: Images, metrics

#10917 Update documentation for EC2 tags collection
  content/en/integrations/faq/how-do-i-pull-my-ec2-tags-without-using-the-aws-integration.md
Labels: FAQ, integrations

#10828 K8s control plane docs
  content/en/agent/kubernetes/_index.md
  content/en/agent/kubernetes/control_plane.md
Labels: agent

#10962 [ci-app] Bump version of Python tracer to 0.50.0rc4
  content/en/continuous_integration/setup_tests/python.md
Labels: continuous_integration
