Repository DataDog/documentation, pull requests merged in 2021-07, with the labels that each got.

#10977 Update serverless custom metrics doc
  content/en/serverless/custom_metrics/_index.md
Labels: serverless

#10997 Revert "[CIAPP] Extend Jenkins documentation for CI Visibility using plugin UI"
  content/en/continuous_integration/setup_pipelines/jenkins.md
  static/images/ci/ci-jenkins-plugin-config.png
Labels: Images, continuous_integration

#10979 Reviewing getting started guides
  content/en/getting_started/synthetics/api_test.md
  content/en/getting_started/synthetics/browser_test.md
  content/en/synthetics/api_tests/_index.md
Labels: getting_started, synthetics

#11006 Added note to not use reserved tags as host level tags
  content/en/tracing/guide/setting_primary_tags_to_scope.md
Labels: Guide, tracing

#10975 Make installation instructions for Swift a bit clearer.
  content/en/continuous_integration/setup_tests/swift.md
Labels: continuous_integration

#11007 Revert "Revert "[CIAPP] Extend Jenkins documentation for CI Visibility using plugin UI""
  content/en/continuous_integration/setup_pipelines/jenkins.md
  static/images/ci/ci-jenkins-plugin-config.png
Labels: Images, continuous_integration

#10848 Andrew.ardito/apmlandings
  .github/styles/Datadog/headings.yml
  config/_default/menus/menus.en.yaml
  content/en/agent/guide/docker-deprecation.md
  content/en/dashboards/querying/_index.md
  content/en/developers/_index.md
  content/en/developers/community/libraries.md
  content/en/getting_started/application/_index.md
  content/en/getting_started/synthetics/browser_test.md
  content/en/getting_started/tagging/unified_service_tagging.md
  content/en/integrations/faq/troubleshooting-duplicated-hosts-with-vsphere.md
  content/en/monitors/downtimes.md
  content/en/real_user_monitoring/connect_rum_and_traces/_index.md
  content/en/tracing/_index.md
  content/en/tracing/guide/agent-5-tracing-setup.md
  content/en/tracing/setup/ios.md
  data/api/v1/full_spec.yaml
  data/api/v1/translate_actions.json
  data/partials/home.yaml
  data/partials/requests.yaml
Labels: Architecture, FAQ, Github, Guide, agent, dashboards, developers, getting_started, integrations, monitors, real_user_monitoring, tracing

#11011 Fixed incorrect API usage in Python tracer logging docs.
  content/en/tracing/connect_logs_and_traces/python.md
Labels: tracing

#11003 [prod]rebecca-rosenberg/clarify-error-tracking-sources
  content/en/real_user_monitoring/browser/collecting_browser_errors.md
Labels: real_user_monitoring

#11009 Add Agent ECS-Anywhere support doc
  content/en/agent/amazon_ecs/_index.md
Labels: agent

#11012 Update documentation for jobs/cronjobs
  content/en/infrastructure/livecontainers.md
Labels: infrastructure

#10996 Adding user-agent info
  content/en/synthetics/guide/identify_synthetics_bots.md
Labels: Guide, synthetics

#11019 Update setting_primary_tags_to_scope.md
  content/en/tracing/guide/setting_primary_tags_to_scope.md
Labels: Guide, tracing

#10992 DOCS-2166 service_checks.json script update
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#11014 [RUM] document `actionNameAttribute` usage
  content/en/real_user_monitoring/browser/tracking_user_actions.md
Labels: real_user_monitoring

#11013 Improve Swift documentation
  content/en/continuous_integration/setup_tests/swift.md
  static/images/continuous_integration/swift_env.png
  static/images/continuous_integration/swift_link.png
  static/images/continuous_integration/swift_link2.png
  static/images/continuous_integration/swift_package.png
Labels: Images, continuous_integration

#11022 apm:update otel readme
  content/en/tracing/setup_overview/open_standards/_index.md
Labels: tracing

#11020 Fixing typo in "stipulated"
  content/en/monitors/service_level_objectives/_index.md
Labels: monitors

#11023 Fix link to integrations information
  content/en/tracing/setup_overview/setup/python.md
Labels: tracing

#11025 Clarify .NET client settings vs agent settings
  content/en/tracing/setup_overview/custom_instrumentation/dotnet.md
Labels: tracing

#11024 Add information for Incident Analytics Querying
  content/en/dashboards/querying/_index.md
Labels: dashboards

#11033 Update estimated usage metrics activation process
  content/en/logs/guide/logs-monitors-on-volumes.md
  content/en/logs/log_configuration/logs_to_metrics.md
  static/images/logs/processing/logs_to_metrics/estimated_usage_metrics.png
Labels: Guide, Images, logs

#10901 Fix broken link
  content/en/infrastructure/livecontainers.md
Labels: infrastructure

#11034 Fix Composite Monitor examples
  content/en/monitors/monitor_types/composite.md
Labels: monitors

#11036 Updates to Getting started guide homepage
  content/en/getting_started/synthetics/_index.md
Labels: getting_started

#11037 [DOCS-2053] Mention section of config file
  content/en/tracing/setup_overview/setup/cpp.md
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/go.md
  content/en/tracing/setup_overview/setup/java.md
  content/en/tracing/setup_overview/setup/nodejs.md
  content/en/tracing/setup_overview/setup/php.md
  content/en/tracing/setup_overview/setup/python.md
Labels: tracing

#11026 DOCS-2149
  content/en/synthetics/_index.md
Labels: synthetics

#11039 Update nodejs.md
  content/en/tracing/setup_overview/setup/nodejs.md
Labels: tracing

#11035 [WEB-1478] Improves Docsearch results for RBAC page
  .gitlab-ci.yml
  local/etc/algolia/docs_datadoghq.json
  local/etc/algolia/docs_datadoghq_preview.json
Labels: Architecture

#10953 Getting Started with Synthetic Monitoring > Private Locations
  config/_default/menus/menus.en.yaml
  content/en/getting_started/synthetics/private_location.md
Labels: Architecture, getting_started

#11040 correcting anchor
  content/en/integrations/pivotal_platform.md
Labels: integrations

#11043 [DOCS-2180] add note on k8s secrets
  content/en/agent/guide/secrets-management.md
Labels: Guide, agent

#11042 [DOCS-2146] cloud workload security - change overwrite to append
  content/en/security_platform/cloud_workload_security/getting_started.md
Labels: security_platform

#11041 DOCS-1836 - Update how we describe apm enabled setting
  content/en/tracing/setup_overview/setup/cpp.md
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
  content/en/tracing/setup_overview/setup/go.md
  content/en/tracing/setup_overview/setup/java.md
  content/en/tracing/setup_overview/setup/nodejs.md
  content/en/tracing/setup_overview/setup/php.md
  content/en/tracing/setup_overview/setup/python.md
Labels: tracing

#11047 Fixing link from getting started guide
  content/en/getting_started/synthetics/private_location.md
Labels: getting_started

#11048 [public-docs] Fixing broken link
  content/en/integrations/faq/how-do-i-monitor-my-aws-billing-details.md
Labels: FAQ, integrations

#11017 Create or-logic-api-tests-assertions.md
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/or-logic-api-tests-assertions.md
Labels: Guide, synthetics

#10945 Redo PR 10763 - Update documentation for FFQ in logs
  content/en/logs/explorer/_index.md
  content/en/logs/explorer/facets.md
  content/en/logs/explorer/saved_views.md
  content/en/logs/explorer/search_syntax.md
Labels: logs

#10998 [kubernetes control plane] Add additional sections about managed services
  config/_default/menus/menus.en.yaml
  content/en/agent/kubernetes/control_plane.md
Labels: Architecture, agent

#11045 [DOCS-1626] Add info about nginx log trace correlation config
  content/en/tracing/setup_overview/proxy_setup/_index.md
Labels: tracing

#11051 Clarifies a billing page
  content/en/account_management/billing/aws.md
Labels: account_management

#11052 Clarifying the tag type
  content/en/developers/service_checks/dogstatsd_service_checks_submission.md
Labels: developers

#11027 DOCS-2099 Update retention and analytics info around intelligent retention filters
  content/en/tracing/trace_retention_and_ingestion/_index.md
  content/en/tracing/trace_search_and_analytics/_index.md
Labels: tracing

#11050 New ASP.NET blog
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#11062 DOCS-2166 Update service_checks.json script
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#11038 [CIAPP-2205] Add Git metadata troubleshooting section
  content/en/continuous_integration/troubleshooting.md
Labels: continuous_integration, editorial review

#10994 Include latest Lambda Layer versions in documentation
  .github/CODEOWNERS
  content/en/serverless/guide/datadog_forwarder_node.md
  content/en/serverless/guide/datadog_forwarder_python.md
  content/en/serverless/installation/dotnet.md
  content/en/serverless/installation/java.md
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
  content/en/serverless/installation/ruby.md
  content/en/serverless/libraries_integrations/extension.md
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture, Github, Guide, serverless

#11002 [CIAPP-2213] Update testing and CI provider instructions
  content/en/continuous_integration/setup_pipelines/gitlab.md
  content/en/continuous_integration/setup_pipelines/jenkins.md
  content/en/continuous_integration/setup_tests/agent.md
  content/en/continuous_integration/setup_tests/dotnet.md
  content/en/continuous_integration/setup_tests/java.md
  content/en/continuous_integration/setup_tests/javascript.md
  content/en/continuous_integration/setup_tests/junit_upload.md
  content/en/continuous_integration/setup_tests/python.md
  content/en/continuous_integration/setup_tests/ruby.md
  content/en/continuous_integration/setup_tests/swift.md
  static/images/continuous_integration/swift_env.png
  static/images/continuous_integration/swift_link.png
  static/images/continuous_integration/swift_link2.png
  static/images/continuous_integration/swift_package.png
Labels: Images, continuous_integration, editorial review

#11054 [WEB-1407] Import announcement banner from websites-modules
  assets/styles/base/_colors.scss
  assets/styles/base/_mixins.scss
  assets/styles/base/_typography.scss
  assets/styles/components/_announcement_banner.scss
  assets/styles/components/_header.scss
  assets/styles/components/_sidenav.scss
  assets/styles/components/_table-of-contents.scss
  assets/styles/pages/_api.scss
  assets/styles/pages/_global.scss
  assets/styles/style.scss
  config/_default/config.yaml
  go.mod
  go.sum
  layouts/_default/404-baseof.html
  layouts/_default/baseof.html
  layouts/api/baseof.html
  layouts/index.html
  layouts/partials/announcement_banner/announcement_banner.html
  layouts/partials/header/header.html
  src/scripts/components/announcement_banner.js
  src/scripts/main-dd-js.js
Labels: Architecture

#11063 Add Helm instructions and Daemonset cleanup
  content/en/agent/cluster_agent/external_metrics.md
Labels: agent

#11068 Remove link to aws go sdk
  content/en/network_monitoring/performance/guide/aws_supported_services.md
Labels: network_monitoring

#11070 Remove unused imports from python logging example
  content/en/tracing/connect_logs_and_traces/python.md
Labels: tracing

#11072 UpdateCSPMglossary _index.md
  content/en/security_platform/cspm/_index.md
Labels: security_platform

#11073 Update frameworks_and_benchmarks.md
  content/en/security_platform/cspm/frameworks_and_benchmarks.md
Labels: security_platform

#11075 DOCS-2185 Service checks automation
  content/en/agent/docker/data_collected.md
  content/en/agent/kubernetes/data_collected.md
  content/en/integrations/system.md
  content/en/network_monitoring/devices/data.md
Labels: agent, integrations, network_monitoring

#11076 Fix Error Budget Alert TF Syntax
  content/en/monitors/service_level_objectives/error_budget.md
Labels: monitors

#11077 DOCS-2187 Billing page updates
  content/en/account_management/billing/_index.md
  content/en/account_management/billing/credit_card.md
  data/partials/home.yaml
Labels: account_management

#11081 Fix some errors in the group-by analytics documentation
  content/en/logs/explorer/_index.md
Labels: logs

#11078 Update data-collection-resolution-retention.md
  content/en/developers/faq/data-collection-resolution-retention.md
Labels: FAQ, developers

#10976 [WEB-1499] - update code language tabs
  config/_default/params.yaml
  content/en/api/latest/_index.md
  layouts/partials/code-lang-tabs.html
Labels: Architecture, WORK IN PROGRESS, api

#10825 Andrew.ardito/nodesupportpolicy
  content/en/tracing/setup_overview/compatibility_requirements/nodejs.md
  content/en/tracing/setup_overview/setup/nodejs.md
Labels: tracing

#11092 Update session information to reflect mobile
  content/en/account_management/billing/rum.md
Labels: account_management

#11087 [CIAPP] Improve 'Test in containers' page
  content/en/continuous_integration/setup_tests/containers.md
Labels: continuous_integration

#11018 [DOCS-2202] Homere.faivre/synthetics api test timings guide
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/api_test_timing_variations.md
  content/en/synthetics/metrics.md
  content/en/synthetics/troubleshooting/_index.md
Labels: Guide, editorial review, synthetics

#11093 Fix formatting issue in Events table
  content/en/developers/dogstatsd/datagram_shell.md
Labels: developers

#11094 [WEB-1563] Update header & footer navs with new security product pages
  assets/styles/components/_header.scss
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
  layouts/partials/footer/footer.html
Labels: Architecture

#11088 [CIAPP] Re-add Ruby instructions
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/setup_tests/_index.md
  content/en/continuous_integration/setup_tests/ruby.md
Labels: Architecture, continuous_integration

#11071 Update images of dashboards
  content/en/real_user_monitoring/_index.md
  static/images/real_user_monitoring/RUM-perf-dashboard.jpeg
  static/images/real_user_monitoring/RUM-session-dashboard.jpeg
Labels: Images, real_user_monitoring

#11095 Fixed typo and added import for clarity.
  content/en/tracing/connect_logs_and_traces/python.md
Labels: tracing

#10932 Remove CSPM beta note
  content/en/security_platform/cspm/configuration_rules.md
  content/en/security_platform/cspm/frameworks_and_benchmarks.md
  content/en/security_platform/cspm/getting_started.md
Labels: security_platform

#11053 Add SLO Status Corrections section
  content/en/monitors/service_level_objectives/_index.md
Labels: monitors

#10407 apm/php: release 0.59.0
  content/en/tracing/setup_overview/compatibility_requirements/php.md
Labels: tracing

#10851 DOCS-2143 iOS RUM single source folder
  .gitignore
  Makefile
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/_index.md
  local/bin/py/build/actions/pull_and_push_folder.py
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  static/images/real_user_monitoring/ios/screenshot_rum.png
Labels: Architecture, Images, real_user_monitoring

#11103 Update nodejs.md
  content/en/tracing/setup_overview/custom_instrumentation/nodejs.md
Labels: tracing

#11029 Sending events and logs to Datadog with Amazon EventBridge API Destinations
  content/en/logs/guide/_index.md
  content/en/logs/guide/sending-events-and-logs-to-datadog-with-amazon-eventbridge-api-destinations.md
Labels: Guide, logs

#11108 [WEB-1559]Brooklyne.finni/link style site region
  content/en/logs/explorer/_index.md
  layouts/shortcodes/site-region.html
Labels: Architecture, logs

#11105 [CIAPP] Fix small typos
  content/en/continuous_integration/setup_tests/agent.md
  content/en/continuous_integration/setup_tests/junit_upload.md
Labels: continuous_integration

#11109 [WEB-1574] Fixes broken footer links
  layouts/partials/footer/footer.html
Labels: Architecture

#11101 api build improvement
  content/en/api/v1/_index.md
  content/en/api/v2/_index.md
Labels: api

#10790 [agent] Document the ability to use vector
  config/_default/menus/menus.en.yaml
  content/en/agent/vector_aggregation.md
Labels: Architecture, agent

#11116 Fix User-Agent for Synthetics tests
  content/en/synthetics/guide/identify_synthetics_bots.md
Labels: Guide, synthetics

#11111 Fixing guide index
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/api_test_timing_variations.md
Labels: Guide, synthetics

#11119 Update JBoss instructions in java.md
  content/en/tracing/setup_overview/setup/java.md
Labels: tracing

#10978 DOCS-2193 Rewrite of logs pipelines page, edits to archives
  config/_default/menus/menus.en.yaml
  content/en/logs/log_configuration/archives.md
  content/en/logs/log_configuration/pipelines.md
  content/en/logs/log_configuration/processing.md
  content/en/logs/log_configuration/processors.md
Labels: Architecture, logs

#11120 Documentation - Correct Grammar typo
  content/en/agent/kubernetes/prometheus.md
Labels: agent

#11118 Correct second instance of span.span.id
  content/en/tracing/connect_logs_and_traces/python.md
Labels: tracing

#11131 Point to keys.datadoghq.com instead of keyserver.ubuntu.com
  content/en/security/agent.md
Labels: security

#11066 [DOCS-2246] Create session-replay-getting-started.md
  content/en/real_user_monitoring/guide/session-replay-getting-started.md
  static/images/real_user_monitoring/guide/replay-hidden.png
Labels: Guide, Images, editorial review, real_user_monitoring

#11132 Add Log Processing alias
  content/en/logs/log_configuration/_index.md
Labels: logs

#11122 Standardizing Italics in RUM Docs
  content/en/real_user_monitoring/_index.md
Labels: real_user_monitoring

#11124 CI-app - Swift - Update some environment variables
  content/en/continuous_integration/setup_tests/swift.md
Labels: continuous_integration

#11127 [CIAPP] Add section to fix CI Visibility option in Jenkins troubleshooting
  content/en/continuous_integration/setup_pipelines/jenkins.md
Labels: continuous_integration

#11114 Update webhooks URLs for CI visibility integration with Gitlab
  content/en/continuous_integration/setup_pipelines/gitlab.md
Labels: continuous_integration

#11134 DOCS-2259
  content/en/getting_started/synthetics/private_location.md
  content/en/synthetics/private_locations/_index.md
  go.sum
  static/images/synthetics/private_locations/assign-test-pl-2.png
  static/images/synthetics/private_locations/assign_test_pl.png
Labels: Images, getting_started, synthetics

#11098 DOCS-1772 Update Vale Linter rules
  .github/styles/Datadog/abbreviations.yml
  .github/styles/Datadog/americanspelling.yml
  .github/styles/Datadog/inclusive.yml
  .github/styles/Datadog/links.yml
  .github/styles/Datadog/spaces.yml
  .github/styles/Datadog/tense.yml
  .github/styles/Datadog/words.yml
  .vale.ini
Labels: Github

#11136 Bump Node Lambda Library layer version from 56 -> 59.
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#11133 [notebooks] add ntbk sharing options, QVW, export to dash
  content/en/notebooks/_index.md
  static/images/notebooks/check_comment_history.png
  static/images/notebooks/comment_history.png
  static/images/notebooks/edit_comment.png
  static/images/notebooks/edit_comments.png
  static/images/notebooks/export-to-dash.png
  static/images/notebooks/export-to-gdocs.jpeg
  static/images/notebooks/sharing.png
Labels: Images, notebooks

#11137 Remove serverless-product team as codeowner of latest-lambda-layer-version
  .github/CODEOWNERS
Labels: Github

#11106 perf improvements
  .gitlab-ci.yml
  layouts/_default/baseof.html
  layouts/partials/nav/api-mobile-menu.html
  layouts/partials/nav/main-mobile-menu.html
  layouts/partials/sidenav/api-sidenav.html
  layouts/partials/sidenav/main-sidenav.html
  local/bin/py/build/content_manager.py
  package.json
Labels: Architecture

#11142 Fix version for dd-trace-java at which allocation profiler is opt-in
  content/en/tracing/profiler/enabling.md
Labels: tracing

#11144 Merge Java profiler setup steps
  content/en/tracing/profiler/enabling.md
Labels: tracing

#11146 Fix links within code blocks
  content/en/real_user_monitoring/guide/session-replay-getting-started.md
Labels: Bug, Guide, real_user_monitoring

#11141 Mention arm64 in docs about Agent performance
  content/en/agent/basic_agent_usage/_index.md
Labels: agent

#11150 Update session-replay-getting-started.md
  content/en/real_user_monitoring/guide/session-replay-getting-started.md
Labels: Bug, Guide, real_user_monitoring

#11147 Fix DatadogAgent samples in Kubernetes doc
  content/en/agent/kubernetes/distributions.md
Labels: agent

#11149 Add in-app custom metric generators
  content/en/metrics/custom_metrics.md
Labels: metrics

#11102 [CIAPP] Update Ruby and Javascript instructions to disable autoinstrumentation
  content/en/continuous_integration/setup_tests/dotnet.md
  content/en/continuous_integration/setup_tests/java.md
  content/en/continuous_integration/setup_tests/javascript.md
  content/en/continuous_integration/setup_tests/junit_upload.md
  content/en/continuous_integration/setup_tests/python.md
  content/en/continuous_integration/setup_tests/ruby.md
Labels: continuous_integration

#11107 [CIAPP] Improve Agent installation instructions for tests
  content/en/continuous_integration/setup_tests/agent.md
Labels: continuous_integration

#11115 [CIAPP] No need to have special flags for MsTest anymore
  content/en/continuous_integration/setup_tests/dotnet.md
Labels: continuous_integration

#11117 [CIAPP] Update GitLab instructions
  content/en/continuous_integration/setup_pipelines/gitlab.md
Labels: continuous_integration

#11096 CSPM Signals
  content/en/security_platform/cspm/findings.md
  static/images/security_platform/cspm/findings/findings-tab.png
  static/images/security_platform/cspm/findings/message.png
  static/images/security_platform/cspm/findings/signal.png
  static/images/security_platform/cspm/findings/toggle.png
Labels: Images, security_platform

#11153 Update carbon black documentation for integration
  content/en/integrations/carbon_black.md
Labels: integrations

#11154 Fix titles in links
  content/en/metrics/custom_metrics.md
Labels: metrics

#11155 Adds jax-ws compatibility to docs
  content/en/tracing/setup_overview/compatibility_requirements/java.md
Labels: tracing

#11135 DOCS-2271, DOCS-2267 Logs section links
  config/_default/menus/menus.en.yaml
  content/en/agent/faq/commonly-used-log-processing-rules.md
  content/en/agent/logs/_index.md
  content/en/agent/logs/advanced_log_collection.md
  content/en/dashboards/widgets/geomap.md
  content/en/developers/guide/unified-tagging-advanced-usage.md
  content/en/getting_started/tagging/using_tags.md
  content/en/integrations/apigee.md
  content/en/logs/explorer/_index.md
  content/en/logs/explorer/facets.md
  content/en/logs/explorer/live_tail.md
  content/en/logs/explorer/saved_views.md
  content/en/logs/explorer/search_syntax.md
  content/en/logs/explorer/side_panel.md
  content/en/logs/faq/how-to-increase-the-number-of-log-files-tailed-by-the-agent.md
  content/en/logs/faq/how-to-investigate-a-log-parsing-issue.md
  content/en/logs/faq/how-to-remap-custom-severity-values-to-the-official-log-status.md
  content/en/logs/faq/why-do-my-logs-not-have-the-expected-timestamp.md
  content/en/logs/faq/why-do-my-logs-show-up-with-an-info-status-even-for-warnings-or-errors.md
  content/en/logs/guide/collect-multiple-logs-with-pagination.md
  content/en/logs/guide/detect-unparsed-logs.md
  content/en/logs/guide/ease-troubleshooting-with-cross-product-correlation.md
  content/en/logs/guide/enrichment-tables.md
  content/en/logs/guide/log-parsing-best-practice.md
  content/en/logs/guide/logs-monitors-on-volumes.md
  content/en/logs/guide/logs-rbac-permissions.md
  content/en/logs/guide/logs-rbac.md
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-kinesis-firehose-destination.md
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
  content/en/logs/guide/setting-file-permissions-for-rotating-logs.md
  content/en/logs/log_collection/_index.md
  content/en/logs/log_collection/csharp.md
  content/en/logs/log_collection/go.md
  content/en/logs/log_collection/java.md
  content/en/logs/log_collection/nodejs.md
  content/en/logs/log_collection/php.md
  content/en/logs/log_collection/python.md
  content/en/logs/log_collection/ruby.md
  content/en/logs/log_configuration/_index.md
  content/en/logs/log_configuration/attributes_naming_convention.md
  content/en/logs/log_configuration/indexes.md
  content/en/logs/log_configuration/logs_to_metrics.md
  content/en/logs/log_configuration/parsing.md
  content/en/logs/log_configuration/pipelines.md
  content/en/logs/log_configuration/processors.md
  content/en/real_user_monitoring/browser/data_collected.md
  content/en/real_user_monitoring/browser/modifying_data_and_context.md
  content/en/security_platform/guide/monitor-authentication-logs-for-security-threats.md
  content/en/tracing/connect_logs_and_traces/php.md
  content/en/tracing/faq/why-cant-i-see-my-correlated-logs-in-the-trace-id-panel.md
Labels: Architecture, FAQ, Guide, agent, dashboards, developers, editorial review, getting_started, integrations, logs, real_user_monitoring, security_platform, tracing

#11164 Added s3 prefix config
  content/en/integrations/carbon_black.md
Labels: integrations

#11158 Top Custom Metrics image include new "All" view
  static/images/account_management/billing/usage-metrics-05.png
Labels: Images

#11157 Top Custom Metrics updates, add API links
  content/en/account_management/billing/usage_details.md
Labels: account_management

#11165 [datadogpy] Update statsd client docs to include buffering API changes
  content/en/developers/dogstatsd/high_throughput.md
  content/en/developers/service_checks/dogstatsd_service_checks_submission.md
  content/en/events/guides/dogstatsd.md
  content/en/metrics/dogstatsd_metrics_submission.md
Labels: developers, events, metrics

#11166 Remove note about arm64 packages on SUSE
  content/en/agent/basic_agent_usage/suse.md
Labels: agent

#11151 DOCS-2250 Lint Account Management section
  content/en/account_management/_index.md
  content/en/account_management/api-app-keys.md
  content/en/account_management/authn_mapping/_index.md
  content/en/account_management/billing/_index.md
  content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/billing/aws.md
  content/en/account_management/billing/azure.md
  content/en/account_management/billing/containers.md
  content/en/account_management/billing/custom_metrics.md
  content/en/account_management/billing/google_cloud.md
  content/en/account_management/billing/log_management.md
  content/en/account_management/billing/pricing.md
  content/en/account_management/billing/rum.md
  content/en/account_management/billing/serverless.md
  content/en/account_management/billing/usage_attribution.md
  content/en/account_management/billing/usage_details.md
  content/en/account_management/billing/usage_metrics.md
  content/en/account_management/billing/usage_monitor_apm.md
  content/en/account_management/billing/vsphere.md
  content/en/account_management/faq/are-my-data-and-credentials-safe.md
  content/en/account_management/faq/how-do-i-add-new-users-to-sub-organizations.md
  content/en/account_management/faq/how-is-datadog-retrieving-my-data-are-my-data-and-credentials-safe.md
  content/en/account_management/faq/is-it-possible-to-have-my-login-belong-to-multiple-datadog-organizations.md
  content/en/account_management/faq/usage_control_apm.md
  content/en/account_management/faq/why-are-users-being-added-as-none-none.md
  content/en/account_management/multi_organization.md
  content/en/account_management/org_settings.md
  content/en/account_management/org_switching.md
  content/en/account_management/rbac/_index.md
  content/en/account_management/rbac/permissions.md
  content/en/account_management/saml/_index.md
  content/en/account_management/saml/activedirectory.md
  content/en/account_management/saml/auth0.md
  content/en/account_management/saml/azure.md
  content/en/account_management/saml/google.md
  content/en/account_management/saml/mobile-idp-login.md
  content/en/account_management/saml/nopassword.md
  content/en/account_management/saml/okta.md
  content/en/account_management/saml/safenet.md
  content/en/account_management/users/_index.md
Labels: FAQ, account_management

#11140 tagged websites-modules
  config/_default/params.en.yaml
  go.mod
  go.sum
Labels: Architecture

#11156 DOCS-1784 Network Traffic guide
  content/en/agent/guide/network.md
  regions.config.js
Labels: Guide, agent

#11170 [CIAPP] Add missing <br/> tag on JUnit upload page
  content/en/continuous_integration/setup_tests/junit_upload.md
Labels: continuous_integration

#11169 CWS Kubernetes instructions
  content/en/security_platform/cloud_workload_security/getting_started.md
Labels: security_platform

#11168 [CIAPP] Bump Python tracer version to latest stable
  content/en/continuous_integration/setup_tests/python.md
Labels: continuous_integration

#11167 Sec Mon Template Variables
  content/en/security_platform/security_monitoring/log_detection_rules.md
Labels: security_platform

#11148 Update PHP tracer docs to include valgrind and strace info
  content/en/tracing/setup_overview/setup/php.md
Labels: tracing

#11145 DD_TRACE_RETAIN_THREAD_CAPABILITIES option for PHP tracer
  content/en/tracing/setup_overview/setup/php.md
Labels: tracing

#11178 Java tracer support configuration of UST for logs
  content/en/tracing/connect_logs_and_traces/_index.md
Labels: tracing

#11143 Add documentation on enabling the Java Heap Profiler
  content/en/tracing/profiler/profiler_troubleshooting.md
Labels: tracing

#11179 [apm]: update ruby header extraction docs to match actual behavior
  content/en/tracing/setup_overview/custom_instrumentation/ruby.md
Labels: tracing

#11180 Add back new links
  content/en/account_management/billing/usage_details.md
Labels: account_management

#11171 Update network.md
  content/en/agent/guide/network.md
Labels: Guide, agent

#11174 Merge steps to enable Java profiler
  content/en/tracing/profiler/enabling.md
Labels: tracing

#11152 Update python dd trace debug config
  content/en/tracing/troubleshooting/tracer_debug_logs.md
  content/en/tracing/troubleshooting/tracer_startup_logs.md
  content/fr/tracing/setup/python.md
  content/fr/tracing/troubleshooting/tracer_debug_logs.md
  content/fr/tracing/troubleshooting/tracer_startup_logs.md
  content/ja/tracing/setup/python.md
  content/ja/tracing/troubleshooting/tracer_debug_logs.md
  content/ja/tracing/troubleshooting/tracer_startup_logs.md
Labels: tracing

#11177 [rum] add browser section to split RUM guides by source
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/enrich-and-control-rum-data.md
Labels: Guide, real_user_monitoring

#11181 Heroku log drains example
  content/en/logs/guide/collect-heroku-logs.md
Labels: Guide, logs

#11182 [WEB-1582] Code Lang Weight parameter fix
  layouts/multi-code-lang/single.html
  layouts/partials/code-lang-tabs.html
  layouts/shortcodes/programming-lang-wrapper.html
Labels: Architecture

#11191 [doc] Update/Clarify Auto-resolve functionality
  content/en/monitors/monitor_types/metric.md
Labels: monitors

#11172 DOCS-2252 Getting Started with Multistep API Tests Edits
  content/en/getting_started/synthetics/api_test.md
Labels: getting_started

#11187 Do not recommend @http.url as metric tag for its high cardinality
  content/en/agent/guide/heroku-ruby.md
Labels: Guide, agent

#11190 Logical operator example
  content/en/security_platform/security_monitoring/log_detection_rules.md
Labels: security_platform

#11196 Update wording of Incident Management analytics
  content/en/dashboards/querying/_index.md
Labels: dashboards

#11199 Add Process Agent environment variable to linux setup
  content/en/agent/amazon_ecs/_index.md
Labels: agent

#11185 Refactor CI Visibility tests instrumentation for Java/Maven
  content/en/continuous_integration/setup_tests/java.md
Labels: continuous_integration

#11194 Update TCP RTT integration path
  .gitignore
  Makefile
  content/en/integrations/tcp_rtt.md
Labels: integrations

#11192 Add Synthetics blog link
  content/en/synthetics/guide/app-that-requires-login.md
Labels: Guide, synthetics

#11188 Kubernetes broken link
  content/en/agent/kubernetes/_index.md
Labels: agent

#11201 [Identify Synthetic Bots] DatadogSynthetics for single and multistep …
  content/en/synthetics/guide/identify_synthetics_bots.md
Labels: Guide, synthetics
