Repository DataDog/documentation, pull requests merged in 2021-08, with the labels that each got.

#11291 Re-ordering Synthetics metrics
  content/en/synthetics/metrics.md
Labels: synthetics

#10937 DOCS-2083 Azure US3 Portal
  .github/styles/Datadog/headings.yml
  content/en/integrations/faq/azure-troubleshooting.md
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/azure-portal.md
  local/bin/py/build/actions/integrations.py
  static/images/integrations/azure/azure-us3-access-dd.png
  static/images/integrations/azure/azure-us3-basic-saml.png
  static/images/integrations/azure/azure-us3-create-dd-resource1.png
  static/images/integrations/azure/azure-us3-create-dd-resource2.png
  static/images/integrations/azure/azure-us3-create-dd-resource3.png
  static/images/integrations/azure/azure-us3-create-dd-resource4.png
  static/images/integrations/azure/azure-us3-create-dd-resource5.png
  static/images/integrations/azure/azure-us3-create-dd-resource6.png
  static/images/integrations/azure/azure-us3-create-dd-resource7.png
  static/images/integrations/azure/azure-us3-dd-service.png
  static/images/integrations/azure/azure-us3-dd-sso-add-app.png
  static/images/integrations/azure/azure-us3-dd-sso-app-prop.png
  static/images/integrations/azure/azure-us3-dd-sso.png
  static/images/integrations/azure/azure-us3-deploy-complete.png
  static/images/integrations/azure/azure-us3-link-sub.png
  static/images/integrations/azure/azure-us3-select-org.png
  static/images/integrations/guide/azure_portal/api-keys.png
  static/images/integrations/guide/azure_portal/change-plan1.png
  static/images/integrations/guide/azure_portal/change-plan2.png
  static/images/integrations/guide/azure_portal/delete.png
  static/images/integrations/guide/azure_portal/disable.png
  static/images/integrations/guide/azure_portal/enable.png
  static/images/integrations/guide/azure_portal/metrics-and-logs.png
  static/images/integrations/guide/azure_portal/monitored-resources.png
  static/images/integrations/guide/azure_portal/resource-overview.png
  static/images/integrations/guide/azure_portal/sso.png
Labels: Architecture, FAQ, Github, Guide, Images, integrations

#11297 [serverless] Update python layer version
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#11285 [WEB-1623] Updates JSON deploy config to explicitly set Content-Type
  config/live/config.yaml
  config/preview/config.yaml
Labels: Architecture

#11293 correct CWS rules filter
  content/en/security_platform/cloud_workload_security/_index.md
Labels: security_platform

#11292 apm/php: warn about slowness of running app through valgrind and strace
  content/en/tracing/setup_overview/setup/php.md
Labels: tracing

#11266 [k8s][control plane] add openshift 3 and 4 docs
  content/en/agent/kubernetes/control_plane.md
Labels: agent

#11299 adding_default_rollup_length
  content/en/dashboards/functions/rollup.md
Labels: dashboards

#11300 DOCS-2075 Update SQL Server FAQ
  content/en/integrations/faq/connection-issues-with-the-sql-server-integration.md
Labels: FAQ, integrations

#11301 Revert "[k8s][control plane] add openshift 3 and 4 docs"
  content/en/agent/kubernetes/control_plane.md
Labels: agent

#11298 Update Vale Linter rules
  .github/styles/Datadog/headings.yml
  .github/styles/Datadog/links.yml
  .github/styles/Datadog/pronouns.yml
Labels: Github

#11189 [DOCS-2287] add RUM watchdog insights docs page
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/explorer/watchdog_insights.md
  static/images/real_user_monitoring/explorer/watchdog_insights/banner_collapsed.png
  static/images/real_user_monitoring/explorer/watchdog_insights/banner_expanded.png
  static/images/real_user_monitoring/explorer/watchdog_insights/error_outlier_m_card.png
  static/images/real_user_monitoring/explorer/watchdog_insights/error_outlier_side_panel.png
  static/images/real_user_monitoring/explorer/watchdog_insights/latency_outlier_l_card.png
  static/images/real_user_monitoring/explorer/watchdog_insights/latency_outlier_s_card.png
  static/images/real_user_monitoring/explorer/watchdog_insights/latency_outlier_side_panel.png
  static/images/real_user_monitoring/explorer/watchdog_insights/overview.png
  static/images/real_user_monitoring/explorer/watchdog_insights/side_panel.png
Labels: Architecture, Images, editorial review, real_user_monitoring

#11305 Switch top list vale correction
  .github/styles/Datadog/words.yml
Labels: Github

#11282 Update composite documentation to be more explicit
  content/en/monitors/monitor_types/composite.md
  static/images/monitors/monitor_types/composite/composite_common_group.jpg
  static/images/monitors/monitor_types/composite/composite_example.jpg
  static/images/monitors/monitor_types/composite/overview.jpg
Labels: Images, monitors

#11310 Documenting the CI Results Explorer
  config/_default/menus/menus.en.yaml
  content/en/synthetics/ci.md
  content/en/synthetics/cicd_testing/ci_results_explorer.md
  content/en/synthetics/troubleshooting/_index.md
  static/images/synthetics/ci/ci_results_explorer/ci_results_explorer.jpeg
Labels: Architecture, Images, synthetics

#11316 Remove beta banner from CWS docs
  content/en/security_platform/cloud_workload_security/_index.md
  content/en/security_platform/cloud_workload_security/agent_expressions.md
  content/en/security_platform/cloud_workload_security/getting_started.md
  content/en/security_platform/cloud_workload_security/workload_security_rules.md
Labels: security_platform

#11317 Fixed Support Link
  content/en/real_user_monitoring/explorer/watchdog_insights.md
Labels: real_user_monitoring

#11303 adding blog link to dotnet framework page
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#11321 PrivateLink: Update service name for metrics intake; fix NOTE for Security Groups
  content/en/agent/guide/private-link.md
  content/fr/agent/guide/private-link.md
  content/ja/agent/guide/private-link.md
Labels: Guide, agent

#11320 revert to old docs
  content/en/security_platform/cspm/findings.md
Labels: security_platform

#11322 Update agent_expressions.md
  content/en/security_platform/cloud_workload_security/agent_expressions.md
Labels: security_platform

#11304 DOCS-2329 Lint CI section
  .github/styles/Datadog/headings.yml
  content/en/continuous_integration/_index.md
  content/en/continuous_integration/explore_pipelines.md
  content/en/continuous_integration/explore_tests.md
  content/en/continuous_integration/guides/flaky_test_management.md
  content/en/continuous_integration/setup_pipelines/_index.md
  content/en/continuous_integration/setup_pipelines/gitlab.md
  content/en/continuous_integration/setup_pipelines/jenkins.md
  content/en/continuous_integration/setup_tests/_index.md
  content/en/continuous_integration/setup_tests/agent.md
  content/en/continuous_integration/setup_tests/java.md
  content/en/continuous_integration/setup_tests/javascript.md
  content/en/continuous_integration/setup_tests/junit_upload.md
  content/en/continuous_integration/setup_tests/python.md
  content/en/continuous_integration/setup_tests/swift.md
  content/en/continuous_integration/troubleshooting.md
Labels: Github, continuous_integration, editorial review

#11294 parse preprocessed rules
  .gitlab-ci.yml
  local/bin/py/build/actions/security_rules.py
  local/etc/requirements3.txt
Labels: Architecture

#11328 Add page for new serverless view setup & troubleshooting
  config/_default/menus/menus.en.yaml
  content/en/serverless/troubleshooting/connect_invoking_resources.md
  static/images/serverless/serverless-view.png
Labels: Architecture, Images, serverless

#11235 Updates to beta CI note
  content/en/continuous_integration/_index.md
Labels: continuous_integration

#11277 DOCS-2300 Add TOTP Documentation
  content/en/synthetics/browser_tests/actions.md
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/app-that-requires-login.md
  content/en/synthetics/guide/browser-tests-totp.md
  content/en/synthetics/settings/_index.md
  static/images/synthetics/guide/browser-tests-totp/mfa-token-totp.mp4
  static/images/synthetics/guide/browser-tests-totp/new-variable-totp.png
Labels: Images, synthetics, Guide

#11338 TOTPs For Multi-Factor Authentication (MFA) in Browser Test Addition
  content/en/synthetics/guide/browser-tests-totp.md
Labels: synthetics, Guide

#11340 Minor fixes to CloudSQL doc for Postgres
  content/en/database_monitoring/setup_postgres/gcsql.md
Labels: database_monitoring

#11348 Downtimes documentation update
  content/en/monitors/downtimes.md
Labels: monitors

#11342 [ServiceNow] update docs with new images
  static/images/integrations/servicenow/servicenow-configuration-new-instance.png
  static/images/integrations/servicenow/servicenow-configuration.png
  static/images/integrations/servicenow/servicenow-variables-form.png
  static/images/integrations/servicenow/servicenow-variables.png
Labels: Images

#11337 Add Blog post link
  content/en/network_monitoring/performance/setup.md
Labels: network_monitoring

#11327 Show link to upload teams CSV file
  content/en/monitors/incident_management/_index.md
Labels: monitors

#11332 [CIAPP] Add documentation for included/excluded jobs in Jenkins
  content/en/continuous_integration/setup_pipelines/jenkins.md
Labels: continuous_integration

#11356 Remove performance_schema_max_sql_text_length from Mysql 5.6 Flags
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
Labels: database_monitoring

#11355 Delete browser_test_conf.png
  content/en/synthetics/cicd_testing/ci_results_explorer.md
  content/en/synthetics/guide/app-that-requires-login.md
  static/images/synthetics/ci/ci_results_explorer/ci_results_explorer.jpeg
  static/images/synthetics/ci/ci_results_explorer/ci_results_explorer.jpg
  static/images/synthetics/guide/app_that_requires_login/browser_test_conf.png
  static/images/synthetics/guide/app_that_requires_login/bt_adv_options.jpg
  static/images/synthetics/guide/app_that_requires_login/configs.png
Labels: Images, synthetics, Guide

#11251 DOCS-1135 Use Community Integrations
  content/en/agent/guide/_index.md
  content/en/agent/guide/community-integrations-installation-with-docker-agent.md
  content/en/agent/guide/use-community-integrations.md
Labels: agent, Guide

#11351 Document which endpoints the install_script.sh accesses
  content/en/agent/faq/how-do-i-install-the-agent-on-a-server-with-limited-internet-connectivity.md
Labels: agent, FAQ

#11347 Update RUM browser error collection to reflect RUM v3 changes
  content/en/real_user_monitoring/browser/collecting_browser_errors.md
  content/en/real_user_monitoring/browser/data_collected.md
Labels: real_user_monitoring

#11358 Add Command Line Helm Instructions for Kubernetes Agent Configuration
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/rds.md
Labels: database_monitoring

#11341 Using Lambda Extension for Go
  content/en/serverless/guide/datadog_forwarder_go.md
  content/en/serverless/installation/go.md
  content/en/serverless/libraries_integrations/extension.md
Labels: Guide, serverless

#11270 Threat Intel section
  content/en/security_platform/explorer.md
  static/images/security_platform/security_monitoring/explorer/threat_intelligence.png
Labels: Images, security_platform

#11325 Database Monitoring product documentation fixes
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/rds.md
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: database_monitoring

#11363 [Database Monitoring] Fix incorrect k8 service annotation
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/rds.md
Labels: database_monitoring

#11360 Update _index.md
  content/en/serverless/distributed_tracing/_index.md
Labels: serverless

#11362 Lint Developers section (part 1)
  content/en/developers/_index.md
  content/en/developers/marketplace.md
  content/en/developers/write_agent_check.md
Labels: developers

#11367 [serverless] correct node layer version
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#11366 Clarify event monitor filtering syntax
  content/en/monitors/monitor_types/event.md
Labels: monitors

#11372 adding a missed alias
  content/en/events/guides/_index.md
Labels: events

#11161 Documentation for New Group Delay monitor configuration option
  content/en/monitors/guide/monitor_api_options.md
  content/en/monitors/monitor_types/metric.md
Labels: monitors, Guide

#11375 aliases for deleted rules
  local/bin/py/build/actions/security_rules.py
Labels: Architecture

#11343 DOCS-2332 Watchdog Insights for Logs Edits
  content/en/logs/explorer/watchdog_insights.md
Labels: logs

#11376 Recommend using Datadog CLI to enable serverless monitoring
  content/en/serverless/guide/datadog_forwarder_node.md
  content/en/serverless/guide/datadog_forwarder_python.md
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
Labels: Guide, serverless

#11378 Documentation update for monitor tag variables with multiple values
  content/en/monitors/notifications.md
Labels: monitors

#11382 DBM pre docs
  content/en/database_monitoring/_index.md
  content/en/database_monitoring/data_collected.md
  content/en/database_monitoring/query_metrics.md
  content/en/database_monitoring/query_samples.md
  content/en/database_monitoring/setup_mysql/_index.md
  content/en/database_monitoring/setup_mysql/advanced_configuration.md
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
  content/en/database_monitoring/setup_postgres/_index.md
  content/en/database_monitoring/setup_postgres/advanced_configuration.md
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/rds.md
  content/en/database_monitoring/setup_postgres/selfhosted.md
  content/en/database_monitoring/troubleshooting.md
  layouts/partials/dbm/dbm-data-collected.html
  layouts/partials/dbm/dbm-getting-started-managed.html
  layouts/partials/dbm/dbm-getting-started.html
  layouts/partials/dbm/dbm-setup-mysql.html
  layouts/partials/dbm/dbm-setup-postgres.html
  static/images/database_monitoring/dbm-dashboard-postgres.png
  static/images/database_monitoring/dbm-explain-plan.png
  static/images/database_monitoring/dbm-main.png
  static/images/database_monitoring/dbm-query-metrics.png
  static/images/database_monitoring/dbm-query-sample.png
  static/images/database_monitoring/dbm_qd_explain_plans.png
  static/images/database_monitoring/dbm_qd_hosts_running_query_menu.png
  static/images/database_monitoring/dbm_qd_jump_buttons.png
  static/images/database_monitoring/dbm_qd_tags.png
  static/images/database_monitoring/dbm_qm_by_host_usecase.png
  static/images/database_monitoring/dbm_qm_group_by.png
  static/images/database_monitoring/dbm_qm_group_by_three.png
  static/images/database_monitoring/dbm_qs_p75_duration_table.png
  static/images/database_monitoring/dbm_qs_slowest_query_viz.png
  static/images/database_monitoring/dbm_qs_timeseries_viz.png
  static/images/database_monitoring/dbm_sd_actions.png
  static/images/database_monitoring/dbm_sd_explain_plan.png
  static/images/database_monitoring/dbm_sd_graphs.png
Labels: Architecture, Images, database_monitoring

#11200 APM > .NET Tracer
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-core.md
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-framework.md
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#11381 [WEB-1608] Table Overflow
  content/en/agent/kubernetes/tag.md
Labels: agent

#11386 Update Node layer version to 60
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#11384 fix broken link
  content/en/agent/guide/container-images-for-docker-environments.md
Labels: agent, Guide

#11385 Update logs-monitors-on-volumes.md
  content/en/logs/guide/logs-monitors-on-volumes.md
Labels: logs, Guide

#11390 Clarified the default role name when using Cloudformation.
  content/en/integrations/faq/error-datadog-not-authorized-sts-assume-role.md
Labels: integrations, FAQ, changelog/no-changelog

#11374 [datadog-lambda-go] Rename WrapHandler -> WrapFunction
  content/en/serverless/custom_metrics/_index.md
  content/en/serverless/installation/go.md
  content/fr/serverless/custom_metrics/_index.md
  content/fr/serverless/installation/go.md
  content/ja/serverless/custom_metrics/_index.md
  content/ja/serverless/installation/go.md
Labels: serverless

#11380 [Synthetics][SSV-789] Add the `hop` metric unit to documentation
  content/en/metrics/units.md
Labels: metrics

#11339 Security Posture Signals docs
  config/_default/menus/menus.en.yaml
  content/en/security_platform/cspm/signals_explorer.md
  static/images/security_platform/cspm/signals_explorer/Final.png
  static/images/security_platform/cspm/signals_explorer/Findings.png
  static/images/security_platform/cspm/signals_explorer/Message.png
  static/images/security_platform/cspm/signals_explorer/Notifications.png
  static/images/security_platform/cspm/signals_explorer/Related.png
  static/images/security_platform/cspm/signals_explorer/Sidepanel.png
  static/images/security_platform/cspm/signals_explorer/Signals.png
  static/images/security_platform/cspm/signals_explorer/Top.png
  static/images/security_platform/cspm/signals_explorer/severity.png
Labels: Architecture, Images, security_platform

#11326 Update CSPM regions.md
  content/en/security_platform/cspm/findings.md
Labels: security_platform

#11400 Update Session Replay docs to correct CDN Config
  content/en/real_user_monitoring/guide/session-replay-getting-started.md
Labels: real_user_monitoring, Guide

#11391 Correct Synthetics DOCS on user-agent
  content/en/synthetics/guide/identify_synthetics_bots.md
Labels: synthetics, Guide

#11394 Update livecontainers.md
  content/en/infrastructure/livecontainers.md
Labels: infrastructure

#11395 New group delay documentation update
  content/en/monitors/monitor_types/metric.md
Labels: monitors

#11397 [Synthetics][SSV-789] Add ICMP metrics to public documentation
  content/en/synthetics/metrics.md
Labels: synthetics

#11402 [DOCS-1882] Clarify profiler already comes with tracing library setup
  content/en/tracing/profiler/enabling.md
  content/en/tracing/setup_overview/_index.md
  content/en/tracing/setup_overview/setup/go.md
  content/en/tracing/setup_overview/setup/java.md
  content/en/tracing/setup_overview/setup/python.md
Labels: tracing

#11405 Add note about retention v injestion
  content/en/tracing/trace_retention_and_ingestion/_index.md
Labels: tracing

#11387 APM > .NET Tracer > .NET Core Setup
  content/en/tracing/setup_overview/setup/dotnet-core.md
Labels: tracing

#11413 [doc] Notifications Local Time Update
  content/en/monitors/notifications.md
Labels: monitors

#11414 Update the serverless installation guide for Go
  content/en/serverless/installation/go.md
Labels: serverless

#11318 Update setup.md
  content/en/network_monitoring/performance/setup.md
Labels: network_monitoring

#11416 Fix typos in database-monitoring docs
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/rds.md
Labels: database_monitoring

#11415 DOCS-1719 - Gain consistency on Flame Graph terminology
  content/en/tracing/error_tracking/_index.md
  content/en/tracing/generate_metrics/_index.md
  content/en/tracing/guide/add_span_md_and_graph_it.md
  content/en/tracing/guide/slowest_request_daily.md
  content/en/tracing/profiler/search_profiles.md
  content/en/tracing/setup_overview/custom_instrumentation/java.md
  content/en/tracing/visualization/_index.md
Labels: tracing, Guide

#11404 Rename Azure App Services to Azure App Service in all docs
  config/_default/menus/menus.en.yaml
  content/en/account_management/billing/_index.md
  content/en/integrations/guide/azure-portal.md
  content/en/serverless/azure_app_services.md
  content/en/tracing/setup_overview/setup/cpp.md
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
  content/en/tracing/setup_overview/setup/go.md
  content/en/tracing/setup_overview/setup/java.md
  content/en/tracing/setup_overview/setup/nodejs.md
  content/en/tracing/setup_overview/setup/php.md
  content/en/tracing/setup_overview/setup/python.md
Labels: Architecture, integrations, tracing, account_management, Guide, serverless

#11417 add new solutions link to doc
  config/_default/menus/menus.en.yaml
Labels: Architecture

#11283 DOCS-2324 Getting Started with Logs
  content/en/getting_started/logs/_index.md
  static/images/getting_started/logs/error-pattern.png
  static/images/getting_started/logs/getting-started-overview.png
  static/images/getting_started/logs/top-list-view.png
Labels: Images, getting_started

#11423 Add rehydration notifications documentation
  content/en/logs/log_configuration/rehydrating.md
Labels: logs

#11420 [SMI-366][SMI-328] Security notifications for HIPAA-compliant orgs
  content/en/security/logs.md
Labels: security

#11424 CI-app - Swift: Add two more environment variables for GitLab and Azure
  content/en/continuous_integration/setup_tests/swift.md
Labels: continuous_integration

#11426 DOCS-2313 Integration Guides Section in TOC
  config/_default/menus/menus.en.yaml
Labels: Architecture

#11429 removes the stray .md causing a broken link
  content/en/agent/guide/container-images-for-docker-environments.md
Labels: agent, Guide

#11368 DOCS-2359: SAML IdP updates
  content/en/account_management/saml/_index.md
  content/en/account_management/saml/activedirectory.md
  content/en/account_management/saml/auth0.md
  content/en/account_management/saml/azure.md
  content/en/account_management/saml/lastpass.md
  content/en/account_management/saml/nopassword.md
  content/en/account_management/saml/okta.md
  content/en/account_management/saml/safenet.md
  content/fr/account_management/saml/_index.md
  content/ja/account_management/saml/_index.md
Labels: account_management

#11406 APM > .NET > Clean up Setup & Compatibility pages
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-core.md
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-framework.md
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: editorial review, tracing

#11430 DOCS-2297 AWS PrivateLink guide
  content/en/agent/guide/private-link.md
Labels: agent, Guide

#11418 DOCS-2303 - Move tracing api docs to tracing guide
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/send_traces_to_agent_by_api.md
Labels: editorial review, tracing, Guide

#11432 [Database Monitoring] Missing MySQL delimiter in self-hosted
  content/en/database_monitoring/setup_mysql/selfhosted.md
Labels: database_monitoring

#11388 DBM GA docs - Add nav and search
  .github/CODEOWNERS
  config/_default/menus/menus.en.yaml
  content/en/database_monitoring/_index.md
  content/en/database_monitoring/data_collected.md
  content/en/database_monitoring/query_metrics.md
  content/en/database_monitoring/query_samples.md
  content/en/database_monitoring/setup_mysql/_index.md
  content/en/database_monitoring/setup_mysql/advanced_configuration.md
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
  content/en/database_monitoring/setup_postgres/_index.md
  content/en/database_monitoring/setup_postgres/advanced_configuration.md
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/rds.md
  content/en/database_monitoring/setup_postgres/selfhosted.md
  content/en/database_monitoring/troubleshooting.md
  content/en/security/_index.md
  data/partials/home.yaml
  local/etc/algolia/docs_datadoghq.json
  local/etc/algolia/docs_datadoghq_preview.json
  static/images/icons/nav_dbm.png
  static/images/icons/nav_dbm_p.png
  static/images/svg-icons/dbm.svg
Labels: Architecture, Github, Images, security, database_monitoring

#11440 update billing pages for DBM GA
  content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/billing/pricing.md
Labels: account_management

#11441 Update Agent docs to mention the datadog-signing-keys package
  content/en/agent/iot/_index.md
  content/en/agent/versions/upgrade_to_agent_v6.md
  content/en/security/agent.md
  content/fr/agent/versions/upgrade_to_agent_v6.md
  content/ja/agent/versions/upgrade_to_agent_v6.md
Labels: agent, security

#11442 docs-1697 add rum as prereq
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
Labels: real_user_monitoring, Guide

#11436 [rum] upgrade guide title to mention V3
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/browser-sdk-upgrade.md
Labels: real_user_monitoring, Guide

#11438 [rum] document missing data if page opened in background
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
Labels: real_user_monitoring

#11439 CI-app - Swift - Add documentation for user supplied git metadata
  content/en/continuous_integration/setup_tests/swift.md
Labels: continuous_integration

#11445 Update parsing.md
  content/en/logs/log_configuration/parsing.md
Labels: logs

#11443 Update links to old Tracing API page to new guide
  content/en/api/latest/using-the-api/_index.md
  content/en/api/v1/using-the-api/_index.md
  content/en/api/v2/using-the-api/_index.md
  content/en/getting_started/tagging/assigning_tags.md
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/agent-5-tracing-setup.md
  content/en/tracing/setup_overview/configure_data_security/_index.md
  content/en/tracing/setup_overview/custom_instrumentation/php.md
Labels: tracing, api, getting_started, Guide

#11449 Update metric monitor maximum time range
  content/en/monitors/monitor_types/metric.md
Labels: monitors

#11160 Update ksm core metrics and service checks
  content/en/integrations/kubernetes_state_core.md
Labels: integrations, agent

#11457 Update max timeframe to 1 month
  content/en/monitors/monitor_types/metric.md
Labels: monitors

#11459 DBM icons with correct dimensions
  static/images/icons/nav_dbm.png
  static/images/icons/nav_dbm_p.png
  static/images/svg-icons/dbm.svg
Labels: Images

#11446 Restructure profile setup for better search experience
  config/_default/menus/menus.en.yaml
  content/en/tracing/profiler/enabling.md
  content/en/tracing/profiler/enabling/_index.md
  content/en/tracing/profiler/enabling/go.md
  content/en/tracing/profiler/enabling/java.md
  content/en/tracing/profiler/enabling/python.md
  content/en/tracing/profiler/enabling/ruby.md
  layouts/partials/profiling/profiling-languages.html
Labels: Architecture, tracing

#10999 Forwarder/Extension Migration Guide
  content/en/serverless/guide/_index.md
  content/en/serverless/guide/extension_motivation.md
  content/en/serverless/guide/forwarder_extension_migration.md
Labels: Architecture, monitors, Github, Images, integrations, agent, developers, logs, tracing, account_management, api, real_user_monitoring, infrastructure, getting_started, synthetics, dashboards, Guide, FAQ, serverless, network_monitoring, security_platform, continuous_integration

#11462 Sophiah123/statuscorrectionsuidoc
  content/en/monitors/service_level_objectives/_index.md
Labels: monitors

#11456 Adjust Vale message about vague link text
  .github/styles/Datadog/links.yml
Labels: Github

#11460 [CIAPP-2521] Update version of CircleCI Orb
  content/en/continuous_integration/setup_tests/agent.md
Labels: continuous_integration

#11464 Removing alert for SLO status corrections so the links work
  content/en/monitors/service_level_objectives/_index.md
Labels: monitors

#11463 serverless .net reversions
  content/en/serverless/installation/dotnet.md
Labels: serverless

#11451 Remove Tracing API nav structure files
  content/en/api/latest/tracing/_index.md
  content/en/api/v1/tracing/_index.md
  content/en/api/v1/tracing/examples.json
  content/en/api/v2/tracing/_index.md
  content/en/api/v2/tracing/examples.json
Labels: api

#11469 Remove analyzed spans configuration in docker and kubernetes doc
  content/en/agent/docker/apm.md
  content/en/agent/kubernetes/apm.md
Labels: agent

#11475 Remove 'DNS is not supported' note for Windows
  content/en/network_monitoring/performance/setup.md
Labels: network_monitoring

#11452 Correct response Time calculation
  content/en/synthetics/guide/api_test_timing_variations.md
Labels: synthetics, Guide

#11314 Add instructions to install PHP debug symbols
  content/en/tracing/setup_overview/setup/php.md
Labels: tracing

#11466 Add Blog Link
  content/en/security_platform/security_monitoring/log_detection_rules.md
Labels: security_platform

#11479 Hyphenate 'out of the box' adjectives where applicable
  content/en/agent/docker/tag.md
  content/en/agent/kubernetes/tag.md
  content/en/database_monitoring/query_metrics.md
  content/en/database_monitoring/query_samples.md
  content/en/logs/guide/logs-monitors-on-volumes.md
  content/en/network_monitoring/devices/_index.md
  content/en/real_user_monitoring/_index.md
  content/en/security_platform/security_monitoring/getting_started.md
  content/en/synthetics/_index.md
  content/en/tracing/troubleshooting/agent_apm_metrics.md
  content/en/tracing/visualization/resource.md
  content/en/tracing/visualization/service.md
Labels: agent, logs, tracing, real_user_monitoring, synthetics, Guide, network_monitoring, security_platform, database_monitoring

#11480 Update Incident Declaration Modal docs
  content/en/monitors/incident_management/_index.md
  static/images/monitors/incidents/incident_declaration_modal.jpeg
  static/images/monitors/incidents/incident_information_settings.jpeg
Labels: monitors, Images

#11476 CI-app - Swift - Add documentation about adding custom tags
  content/en/continuous_integration/setup_tests/swift.md
Labels: continuous_integration

#11454 Add details for TCP log collection
  content/en/agent/logs/_index.md
Labels: agent

#11461 DOCS-2353 Lint Developers section (part 2)
  .github/styles/Datadog/headings.yml
  content/en/developers/community/_index.md
  content/en/developers/community/libraries.md
  content/en/developers/community/office_hours.md
  content/en/developers/custom_checks/_index.md
  content/en/developers/custom_checks/prometheus.md
  content/en/developers/custom_checks/write_agent_check.md
Labels: Github, developers

#11428 DOCS-2293 Custom Metrics Server
  .github/styles/Datadog/headings.yml
  content/en/agent/cluster_agent/external_metrics.md
Labels: Github, agent

#11465 DOCS-2289 NPM GCP Supported Services
  content/en/network_monitoring/performance/guide/_index.md
  content/en/network_monitoring/performance/guide/gcp_supported_services.md
  content/en/network_monitoring/performance/network_page.md
  local/bin/py/build/actions/integrations.py
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, network_monitoring

#11267 (DOCS-2057) Teams and Faces updates
  config/_default/menus/menus.en.yaml
  content/en/account_management/_index.md
  content/en/account_management/api-app-keys.md
  content/en/account_management/org_settings.md
  content/en/account_management/org_switching.md
  content/en/account_management/plan_and_usage.md
  content/en/account_management/saml/_index.md
  content/en/account_management/users/_index.md
  content/en/events/guides/email.md
  static/images/account_management/api_app_keys/api_keys_revoke.png
  static/images/account_management/api_app_keys/application_keys_new_key.png
  static/images/account_management/api_app_keys/application_keys_revoke.png
  static/images/account_management/api_app_keys/client_tokens.png
  static/images/account_management/dark-mode-toggle.png
  static/images/account_management/saml/saml_choose_file.png
  static/images/account_management/saml/saml_configure.png
  static/images/account_management/users/delete_invite_grid.png
  static/images/account_management/users/disable_user.png
  static/images/account_management/users/invite_user.png
  static/images/account_management/users/resend_invite_grid.png
  static/images/account_management/users/resend_invite_list.png
Labels: Architecture, events, Images, account_management

#11477 Add instructions for DATADOG_SITE
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
Labels: serverless

#11483 DOCS-2288 Incident Management and Querying Edits
  content/en/dashboards/querying/_index.md
  content/en/monitors/incident_management/_index.md
Labels: monitors, dashboards

#11487 Add Page Header in Integration Guides Page
  content/en/integrations/guide/_index.md
Labels: integrations, Guide

#11488 Add New Blog Link in Further Reading Section
  content/en/security_platform/cloud_workload_security/getting_started.md
Labels: security_platform

#11489 DOCS-2353 Lint Developers section (part 3)
  .github/styles/Datadog/links.yml
  content/en/developers/dogstatsd/_index.md
  content/en/developers/dogstatsd/data_aggregation.md
  content/en/developers/dogstatsd/datagram_shell.md
  content/en/developers/dogstatsd/dogstatsd_mapper.md
  content/en/developers/dogstatsd/high_throughput.md
  content/en/developers/dogstatsd/unix_socket.md
Labels: Github, developers

#11125 [ci-visibility] Add `--env` to JUnit XML Upload
  content/en/continuous_integration/setup_tests/junit_upload.md
Labels: continuous_integration

#11498 DOCS-2353 Lint Developers section (part 4)
  content/en/developers/faq/_index.md
  content/en/developers/faq/data-collection-resolution-retention.md
  content/en/developers/faq/deploying-the-agent-on-raspberrypi.md
  content/en/developers/faq/how-to-post-appdynamics-events-to-datadog.md
  content/en/developers/faq/is-it-possible-to-integrate-with-thousandeyes.md
  content/en/developers/faq/is-there-an-alternative-to-dogstatsd-and-the-api-to-submit-metrics-threadstats.md
  content/en/developers/faq/omnios-and-possibly-smartos-openindiana-nexenta-install-from-source-by-tweaking-the-agent-install-script.md
  content/en/developers/faq/use-our-webhook-integration-to-create-a-trello-card.md
  content/en/developers/guide/_index.md
  content/en/developers/guide/calling-on-datadog-s-api-with-the-webhooks-integration.md
  content/en/developers/guide/custom-python-package.md
  content/en/developers/guide/dogshell-quickly-use-datadog-s-api-from-terminal-shell.md
  content/en/developers/guide/dogwrap.md
  content/en/developers/guide/query-the-infrastructure-list-via-the-api.md
Labels: developers, Guide, FAQ

#11499 DOCS-2322 Update Tracing .NET logo
  layouts/partials/apm/apm-connect-logs-and-traces.html
Labels: Architecture

#11490 Clarify Global Time option behavior, fix indentation
  content/en/dashboards/widgets/check_status.md
Labels: dashboards

#11444 DOCS-2382: Add and update CWS rules
  content/en/security_platform/cloud_workload_security/workload_security_rules.md
  static/images/security_platform/cws/workload_security_rules/create_cws_rule.png
  static/images/security_platform/cws/workload_security_rules/define_runtime_expression.png
  static/images/security_platform/cws/workload_security_rules/rule_cases.png
Labels: Images, security_platform

#11497 [ci-visibility] Simplify `jest` Instructions
  content/en/continuous_integration/setup_tests/javascript.md
Labels: continuous_integration

#11500 Add Further Reading link to serverless logs blog post
  content/en/serverless/_index.md
Labels: serverless

#11504 typo correction
  content/en/real_user_monitoring/guide/session-replay-getting-started.md
Labels: real_user_monitoring, Guide

#11437 [WEB-1485] Adds agent-config shortcode
  .gitignore
  layouts/shortcodes/agent-config.html
  local/bin/py/build/__init__.py
  local/bin/py/build/actions/pull_and_push_file.py
  local/bin/py/build/actions/tests/__init__.py
  local/bin/py/build/actions/tests/test_process_agent_config.py
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  local/bin/py/build/process_agent_config.py
Labels: Architecture, agent

#11506 Add FSG editor support to notebook docs
  content/en/notebooks/_index.md
Labels: notebooks

#11335 Add Agent guide for Podman support with docker integration
  content/en/agent/guide/_index.md
  content/en/agent/guide/podman-support-with-docker-integration.md
Labels: agent, Guide

#11495 Update documentation for manage downtime page
  content/en/monitors/downtimes.md
  static/images/monitors/downtimes/downtime_manage.png
Labels: monitors, Images

#11537 Logs intake not supported for US3
  content/en/integrations/adobe_experience_manager.md
  content/en/integrations/apigee.md
  content/en/integrations/pivotal_platform.md
Labels: integrations

#11554 monitor limits
  content/en/monitors/monitor_types/apm.md
  content/en/monitors/monitor_types/log.md
  content/en/monitors/monitor_types/real_user_monitoring.md
Labels: monitors

#11559 Update cluster check documentation with example and illustration
  content/en/monitors/monitor_types/custom_check.md
  content/en/monitors/monitor_types/integration.md
  content/en/monitors/monitor_types/process_check.md
  static/images/monitors/monitor_types/process_check/cluster_check_thresholds.png
Labels: monitors, Images

#11507 DOCS-2353 Lint Developers section (part 5)
  content/en/developers/guide/query-data-to-a-text-file-step-by-step.md
  content/en/developers/guide/unified-tagging-advanced-usage.md
  content/en/developers/guide/what-best-practices-are-recommended-for-naming-metrics-and-tags.md
  content/en/developers/marketplace/_index.md
  content/en/developers/service_checks/_index.md
  content/en/developers/service_checks/agent_service_checks_submission.md
Labels: developers, Guide

#11560 Remove bearer reference
  content/en/synthetics/guide/app-that-requires-login.md
Labels: synthetics, Guide

#11494 Update logs us3 endpoints to not supported
  content/en/agent/guide/network.md
  regions.config.js
Labels: Do Not Merge, agent, Guide

#11555 Add info about batches retention
  content/en/developers/faq/data-collection-resolution-retention.md
Labels: developers, FAQ

#11549 Clarify DD_TRACE_SAMPLE_RATE for PHP Tracer
  content/en/tracing/setup_overview/setup/php.md
Labels: tracing

#11551 Revert "[rum] Update RUM sdk proxy documentation"
  content/en/real_user_monitoring/faq/proxy_rum_data.md
Labels: real_user_monitoring, FAQ
