Repository DataDog/documentation, pull requests merged in 2021-03, with the labels that each got.

#9891 Private Location Scaling
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#9895 api: bump java client version
  content/en/api/_index.md
  content/en/api/v1/_index.md
  content/en/api/v2/_index.md
Labels: api

#9898 Update agent-log-files.md - Agent Install Log Location
  content/en/agent/guide/agent-log-files.md
Labels: Guide, agent

#9901 [OpenTelemetry] Updates Opentelemetry-python datadog example onboarding snippet
  content/en/tracing/setup_overview/open_standards/python.md
Labels: tracing

#9907 api: fix DD_SITE value for generated clients
  layouts/partials/api/code-example.html
Labels: Architecture

#9900 remove non public mds
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#9905 Update broken link to RUM SDK Repo for rumEvent
  content/en/real_user_monitoring/browser/advanced_configuration.md
Labels: real_user_monitoring

#9912 [WEB-950] - compare on ident instead of title for consistency
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
  layouts/partials/header/header.html
Labels: Architecture

#9902 Java Lambda tracing installation steps
  content/en/serverless/installation/java.md
  static/images/serverless/java-lambda-tracing.png
  static/images/serverless/java-monitor-cold-starts.png
Labels: Images, serverless

#9908 Refrehing getting started for synthetics
  content/en/getting_started/synthetics/api_test.md
  content/en/getting_started/synthetics/browser_test.md
Labels: getting_started

#9494 add watchdog rca and screenshot
  content/en/watchdog.md
  static/images/watchdog/watchdog_rca_alerts.jpeg
Labels: Images

#9765 Detection Rules additions + side nav reorg
  config/_default/menus/menus.en.yaml
  content/en/security_monitoring/_index.md
  content/en/security_monitoring/default_rules/_index.md
  content/en/security_monitoring/detection_rules.md
  content/en/security_monitoring/detection_rules/_index.md
  content/en/security_monitoring/detection_rules/security_monitoring.md
  content/en/security_monitoring/getting_started.md
  static/images/compliance_monitoring/compliance-dashboard.png
  static/images/compliance_monitoring/compliance-overview.png
  static/images/security_monitoring/detection_rules/detection_rules.png
  static/images/security_monitoring/detection_rules/facets_panel.png
  static/images/security_monitoring/detection_rules/learning_duration.png
  static/images/security_monitoring/detection_rules/new_term.png
  static/images/security_monitoring/detection_rules/new_term_rule_case.png
  static/images/security_monitoring/detection_rules/threshold.png
Labels: Architecture, Images, editorial review, security_monitoring

#9914 Fix broken image
  content/en/metrics/advanced-filtering.md
Labels: metrics

#9915 fix: correct psycopg analytics configuration
  content/en/tracing/legacy_app_analytics/_index.md
  content/fr/tracing/app_analytics/_index.md
  content/fr/tracing/legacy_app_analytics/_index.md
  content/ja/tracing/app_analytics/_index.md
  content/ja/tracing/legacy_app_analytics/_index.md
Labels: tracing

#9920 increase api key limit from 5 to 50
  content/en/account_management/api-app-keys.md
Labels: account_management

#9856 dotnet log-trace-injection updates
  content/en/tracing/connect_logs_and_traces/dotnet.md
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#9916 Serverless tracing integrations updates
  content/en/serverless/distributed_tracing/_index.md
Labels: serverless

#9929 [WEB-1208] Add new solutions links, increase solutions menu width
  config/_default/menus/menus.en.yaml
  src/styles/components/_header.scss
Labels: Architecture

#9787 Logs Watchdog Insights
  config/_default/menus/menus.en.yaml
  content/en/logs/explorer/_index.md
  content/en/logs/explorer/watchdog_insights.md
  static/images/logs/explorer/watchdog_insights/banner_collapsed.png
  static/images/logs/explorer/watchdog_insights/banner_expanded.png
  static/images/logs/explorer/watchdog_insights/error_outlier_l_card.png
  static/images/logs/explorer/watchdog_insights/error_outlier_s_card.png
  static/images/logs/explorer/watchdog_insights/error_outlier_side_panel.png
  static/images/logs/explorer/watchdog_insights/overview.png
  static/images/logs/explorer/watchdog_insights/side_panel.png
Labels: Architecture, Images, logs

#9921 update snmp v3 instructions so vars are all camelCase
  content/en/network_monitoring/devices/setup.md
Labels: network_monitoring

#9917 Lint headings for Logs
  .github/styles/Datadog/headings.yml
  content/en/logs/archives/_index.md
  content/en/logs/archives/rehydrating.md
  content/en/logs/explorer/_index.md
  content/en/logs/explorer/facets.md
  content/en/logs/explorer/live_tail.md
  content/en/logs/explorer/saved_views.md
  content/en/logs/explorer/side_panel.md
  content/en/logs/faq/how-to-remap-custom-severity-values-to-the-official-log-status.md
  content/en/logs/faq/log-collection-is-the-datadog-agent-losing-logs.md
  content/en/logs/faq/why-do-my-logs-show-up-with-an-info-status-even-for-warnings-or-errors.md
  content/en/logs/guide/control-sensitive-logs-data.md
  content/en/logs/guide/docker-logs-collection-troubleshooting-guide.md
  content/en/logs/guide/log-collection-troubleshooting-guide.md
  content/en/logs/guide/logs-rbac.md
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-kinesis-firehose-destination.md
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
  content/en/logs/indexes/_index.md
  content/en/logs/log_collection/go.md
  content/en/logs/log_collection/java.md
  content/en/logs/log_collection/nodejs.md
  content/en/logs/log_collection/php.md
  content/en/logs/log_collection/ruby.md
  content/en/logs/processing/_index.md
  content/en/logs/processing/attributes_naming_convention.md
  content/en/logs/processing/parsing.md
  content/en/logs/processing/pipelines.md
  content/en/logs/processing/processors.md
  content/en/logs/search_syntax.md
Labels: FAQ, Github, Guide, logs

#9922 Update tracer_startup_logs.md
  content/en/tracing/troubleshooting/tracer_startup_logs.md
Labels: tracing

#9925 Document that system-probe and security-agent run as root
  content/en/security/agent.md
Labels: security

#9923 Add link to the serverless custom metric submission doc
  content/en/developers/metrics/_index.md
Labels: developers

#9927 Update security_monitoring.md
  content/en/security_monitoring/detection_rules/security_monitoring.md
Labels: security_monitoring

#9918 Add Incident Updates Channel
  static/images/integrations/slack/incident_updates_channel.png
Labels: Images

#9656 no_proxy_nonexact_match docs for agent 7.26
  content/en/agent/proxy.md
Labels: agent

#9930 DOCS-1748 Azure App Services Extension
  content/en/serverless/azure_app_services.md
  static/images/infrastructure/serverless/azure_app_services/start.png
Labels: Images, serverless

#9931 Lint headings for Watchdog
  .github/styles/Datadog/headings.yml
  content/en/watchdog.md
Labels: Github

#9932 Add logo for signl4 integration
  static/images/integrations_logos/signl4.png
Labels: Images

#9791 regionalize install command tracing
  content/en/agent/iot/_index.md
  content/en/getting_started/logs/_index.md
  content/en/getting_started/tracing/_index.md
Labels: agent, getting_started

#9937 Fix link to kafka integration documentation
  content/en/agent/guide/autodiscovery-with-jmx.md
Labels: Guide, agent

#9939 Docker Agent example quotes
  content/en/agent/docker/apm.md
  content/en/agent/docker/log.md
  content/en/developers/dogstatsd/_index.md
  content/en/logs/faq/how-to-tail-logs-from-host-using-a-container-agent.md
  content/en/logs/guide/how-to-set-up-only-logs.md
Labels: FAQ, Guide, agent, developers, logs

#9940 [networks] Update NPM Kernel requirements
  content/en/network_monitoring/performance/setup.md
Labels: network_monitoring

#9941 Clarify supported Agent architectures
  content/en/agent/basic_agent_usage/_index.md
  content/en/agent/basic_agent_usage/centos.md
  content/en/agent/basic_agent_usage/fedora.md
  content/en/agent/basic_agent_usage/redhat.md
  content/en/agent/basic_agent_usage/suse.md
Labels: agent

#9938 apm/php: document setting to report header values
  content/en/tracing/setup_overview/setup/php.md
Labels: tracing

#9945 Update details about dashboard sharing
  content/en/dashboards/sharing.md
Labels: dashboards

#9717 Rework java logging and trace correlation
  content/en/logs/log_collection/java.md
  content/en/tracing/connect_logs_and_traces/java.md
Labels: editorial review, logs, tracing

#9772 [agent/logs] Document file tailing from annotation
  content/en/agent/docker/log.md
  content/en/agent/kubernetes/log.md
Labels: agent

#9949 Removing the EU tab for alert reports as it's not supported
  content/en/monitors/faq/how-can-i-export-alert-history.md
Labels: FAQ, monitors

#9948 Creating a page for Mobile IdP Initiated SAML login.
  content/en/account_management/saml/mobile-idp-login.md
  static/images/account_management/saml/datadog-mobile-idp-saml-landing-page.png
  static/images/account_management/saml/google-mobile-idp-relay-state.png
  static/images/account_management/saml/okta-mobile-idp-relay-state.png
  static/images/account_management/saml/one-login-mobile-idp-relay-state.png
Labels: Images, account_management

#9951 Add links to Azure App Service docs from .NET tracing setup docs
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#9953 [WEB-1219/1222]Ang/embed product vids
  content/en/synthetics/_index.md
  content/en/tracing/profiler/_index.md
  content/fr/synthetics/_index.md
  content/fr/tracing/profiler/_index.md
  content/ja/synthetics/_index.md
  content/ja/tracing/profiler/_index.md
Labels: synthetics, tracing

#9954 [DOCS 1753] noting env vars for fargate private location
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#9955 [DOCS 1417] add env var table to docker tag doc
  content/en/agent/docker/tag.md
Labels: agent

#9956 Small editing tweaks to metrics index
  content/en/metrics/_index.md
Labels: metrics

#9963 Fixing link issue
  content/en/synthetics/browser_tests/_index.md
Labels: synthetics

#9651 Refactor Python profiling installation and configuration process
  content/en/tracing/profiler/getting_started.md
Labels: Architecture, FAQ, Guide, Images, account_management, agent, api, dashboards, developers, integrations, logs, metrics, monitors, network_monitoring, real_user_monitoring, security, serverless, synthetics, tracing

#9870 [DOCS-1700] add new prometheus metrics collection method
  content/en/agent/kubernetes/prometheus.md
Labels: agent

#9933 [DOCS-1778] Manual serverless trace propagation
  config/_default/menus/menus.en.yaml
  content/en/serverless/distributed_tracing/_index.md
  content/en/serverless/distributed_tracing/serverless_trace_propagation.md
  static/images/serverless/lambda-non-http-trace.png
Labels: Architecture, Images, editorial review, serverless

#9968 Swap out duplicate link for advanced filtering in metrics
  content/en/metrics/_index.md
Labels: metrics

#9970 Kathy.lin/advanced
  content/en/metrics/advanced-filtering.md
  static/images/metrics/advanced-filtering/NOTIN.jpg
Labels: Images, metrics

#9934 Change X to ✓ on manifest template table
  content/en/agent/kubernetes/_index.md
Labels: agent

#9972 Update broken link
  content/en/tracing/profiler/getting_started.md
Labels: tracing

#9977 add template variable selection reflected in dashboard URLs
  content/en/dashboards/template_variables.md
Labels: dashboards

#9975 Lint headings for Account Management
  .github/styles/Datadog/headings.yml
  content/en/account_management/rbac/permissions.md
  content/en/account_management/saml/mobile-idp-login.md
Labels: Github, account_management

#9978 [WEB-1227] Site & Language Selector style fixes
  src/styles/components/_language-region-select.scss
  src/styles/pages/_api.scss
Labels: Architecture

#9971 [rum] document event dismissal in browser sdk
  content/en/real_user_monitoring/browser/advanced_configuration.md
Labels: real_user_monitoring

#9943 Preprocessing JSON logs reorg
  content/en/logs/processing/_index.md
  content/en/logs/processing/pipelines.md
  content/en/logs/processing/processors.md
  static/images/logs/processing/processors/processing_overview.png
  static/images/logs/processing/processors/processors_overview.png
Labels: Images, logs

#9979 Clarify instructions for Monitoring AWS managed services
  content/en/agent/cluster_agent/setup.md
Labels: agent

#9974 Fix spelling mistake?
  content/en/tracing/profiler/getting_started.md
Labels: under_review

#9987 DOCS-1714 Metric Units
  content/en/developers/metrics/units.md
Labels: developers

#9988 Fix PR 9934
  content/en/agent/kubernetes/_index.md
Labels: agent

#9874 apm/php: clarify generic vs full instrumentation + pcntl incompatibility
  content/en/tracing/setup_overview/compatibility_requirements/php.md
Labels: tracing

#9993 fix broken links on OTel Python page
  content/en/tracing/setup_overview/open_standards/python.md
Labels: tracing

#9989 Add serverless installation instructions for AWS Chalice
  content/en/serverless/installation/python.md
Labels: serverless

#9994 DOCS-1670 Add note about SAML mapping being case sensitive
  content/en/account_management/saml/_index.md
Labels: account_management

#9997 Make list of reserved attributes easier to find
  content/en/logs/explorer/facets.md
Labels: logs

#9999 Add blog link to serverless trace prop page
  content/en/serverless/distributed_tracing/serverless_trace_propagation.md
Labels: serverless

#10000 adding missed comma
  content/en/developers/write_agent_check.md
Labels: developers

#10003 Remove note on DSD mapper not effective for metrics with existing tags
  content/en/developers/dogstatsd/dogstatsd_mapper.md
Labels: developers

#10004 fixin links
  content/en/agent/docker/log.md
Labels: agent

#9382 Go Lambda function tracing with dd-trace
  content/en/serverless/installation/go.md
Labels: serverless

#10005 Deleting an old FAQ
  content/en/dashboards/faq/when-i-query-can-i-use-wildcards-in-metric-names-and-events.md
  content/en/getting_started/tagging/_index.md
Labels: FAQ, dashboards, getting_started

#9463 [DOCS-1776] Synthetics ICMP Tests
  config/_default/menus/menus.en.yaml
  content/en/getting_started/synthetics/api_test.md
  content/en/logs/explorer/_index.md
  content/en/monitors/incident_management/_index.md
  content/en/network_monitoring/performance/setup.md
  content/en/synthetics/_index.md
  content/en/synthetics/api_tests/_index.md
  content/en/synthetics/api_tests/dns_tests.md
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/api_tests/icmp_tests.md
  content/en/synthetics/api_tests/ssl_tests.md
  content/en/synthetics/api_tests/tcp_tests.md
  static/images/synthetics/api_tests/api_test.mp4
  static/images/synthetics/api_tests/api_tests.mp4
  static/images/synthetics/api_tests/icmp_assertion.png
  static/images/synthetics/api_tests/icmp_test_config.png
  yarn.lock
Labels: Architecture, Images, editorial review, getting_started, logs, monitors, network_monitoring, synthetics

#9967 Update distributions.md
  content/en/metrics/distributions.md
  static/images/metrics/distributions/managetags.png
  static/images/metrics/distributions/percentiles.gif
  static/images/metrics/distributions/percentilesgraph.jpg
Labels: Images, editorial review, metrics

#9995 Update custom_metrics.md
  content/en/account_management/billing/custom_metrics.md
Labels: Images, account_management

#9980 Add exceptions for Agent section
  .github/styles/Datadog/headings.yml
Labels: Github

#10014 removing link that doesn't exist yet
  content/en/security_monitoring/detection_rules/_index.md
Labels: security_monitoring

#10012 Updated mobile idp login doc
  content/en/account_management/saml/mobile-idp-login.md
  static/images/account_management/saml/google_idp_tile_sml.png
Labels: Images, account_management

#10019 [serverless] bump aws lambda extension version to v6
  content/en/serverless/datadog_lambda_library/extension.md
  content/fr/serverless/datadog_lambda_library/extension.md
  content/ja/serverless/datadog_lambda_library/extension.md
Labels: serverless

#10011 Update java.md
  content/en/tracing/setup_overview/custom_instrumentation/java.md
Labels: tracing

#10006 add description of filter tags env variables
  content/en/agent/docker/apm.md
Labels: agent

#10018 Patch logs monitor notification
  content/en/monitors/monitor_types/log.md
Labels: monitors

#10021 Update timeseries.md to include information on legend configuration
  content/en/dashboards/widgets/timeseries.md
  static/images/dashboards/widgets/timeseries/legend-config.jpg
Labels: Images, dashboards

#10022 Update control-sensitive-logs-data.md (fixed typo)
  content/en/logs/guide/control-sensitive-logs-data.md
Labels: Guide, logs

#10020 moved mobile screenshot below mobile login explanation
  content/en/account_management/saml/mobile-idp-login.md
Labels: account_management

#10026 update CONTAINER_EXCLUDE to CONTAINER_EXCLUDE_LOGS
  content/en/agent/kubernetes/log.md
Labels: agent

#10027 Update region-redirects.js
  src/scripts/region-redirects.js
Labels: Architecture

#10031 Update custom_metrics.md
  content/en/account_management/billing/custom_metrics.md
Labels: account_management

#10028 Allows multiple regions per site-region shortcode
  src/scripts/region-redirects.js
Labels: Architecture

#10034 Move distributions page back to single site region, + small copyedit.
  content/en/metrics/distributions.md
  static/images/metrics/distributions/graph_percentiles.jpg
  static/images/metrics/distributions/percentilesgraph.jpg
Labels: Images, metrics

#10033 DOCS-1810 Azure App Services Extension
  content/en/serverless/azure_app_services.md
Labels: serverless

#9397 Add documentation for .NET runtime metrics
  config/_default/menus/menus.en.yaml
  content/en/tracing/runtime_metrics/dotnet.md
  layouts/partials/apm/apm-runtime-metrics.html
  static/images/integrations_logos/dotnet_text.png
Labels: Architecture, Do Not Merge, Images, tracing

#10017 profiler/getting_started: improve go snippet
  content/en/tracing/profiler/getting_started.md
Labels: tracing

#10038 Lint headings for API
  content/en/api/_index.md
  content/en/api/latest/_index.md
  content/en/api/v1/_index.md
  content/en/api/v2/_index.md
Labels: api

#10030 Add note about excluding every container in AD
  content/en/agent/guide/autodiscovery-management.md
Labels: Guide, agent

#10043 Typo fix in 'generate metrics from logs'
  content/en/logs/logs_to_metrics.md
Labels: logs

#10049 Update dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-core.md
Labels: tracing

#10048 Update dotnet-framework.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#10044 Update dotnet.md
  content/en/tracing/runtime_metrics/dotnet.md
Labels: tracing

#10041 Reorder Further Reading links on .NET setup pages
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#10045 update logs include_at_match docs
  content/en/agent/logs/advanced_log_collection.md
Labels: agent

#10050 minor cleanup updates to apm docs
  content/en/tracing/deployment_tracking/_index.md
  content/en/tracing/faq/profiling_migration.md
  content/en/tracing/setup_overview/setup/cpp.md
  content/en/tracing/setup_overview/setup/python.md
  content/fr/tracing/setup/cpp.md
  content/fr/tracing/setup/dotnet-framework.md
  content/fr/tracing/setup_overview/setup/cpp.md
  content/ja/tracing/setup/cpp.md
  content/ja/tracing/setup_overview/setup/cpp.md
  static/images/tracing/deployment_tracking/CanaryDeploy.png
  static/images/tracing/deployment_tracking/canarydeployment.png
Labels: FAQ, Images, tracing

#9944 No change in value guide
  content/en/monitors/faq/_index.md
  content/en/monitors/guide/_index.md
  content/en/monitors/guide/alert-on-no-change-in-value.md
Labels: FAQ, Guide, monitors

#10051 Update java.md
  content/en/tracing/setup_overview/custom_instrumentation/java.md
Labels: tracing

#10052 Update dotnet-framework.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#9966 Span Processing Pipelines
  config/_default/menus/menus.en.yaml
  content/en/tracing/processing_pipelines/_index.md
  static/images/tracing/processing_pipelines/ProcessingPipelines.png
  static/images/tracing/processing_pipelines/arithmeticprocessor.png
  static/images/tracing/processing_pipelines/lookupprocessor.png
Labels: Architecture, Images, tracing

#10056 Update php.md
  content/en/logs/log_collection/php.md
Labels: logs

#10064 Clarifying CIDR usage
  content/en/synthetics/guide/identify_synthetics_bots.md
Labels: Guide, synthetics

#10062 Add Blog link
  content/en/tracing/runtime_metrics/dotnet.md
Labels: tracing

#10063 Fix broken Auth0 SAML configuration link
  content/en/account_management/saml/auth0.md
Labels: account_management

#10066 move processing pipelines doc
  config/_default/menus/menus.en.yaml
  content/en/tracing/faq/processing_pipelines.md
Labels: Architecture, FAQ, tracing

#10068 Add is_unknown conditional template variable
  content/en/monitors/notifications.md
Labels: monitors

#10069 DOCS-1636 Lint Headings Exception
  .github/styles/Datadog/headings.yml
Labels: Github

#10072 Note contiguous underscores get deduped
  content/en/developers/guide/what-best-practices-are-recommended-for-naming-metrics-and-tags.md
Labels: Guide, developers

#10077 Fixed broken log4j translator hyperlink
  content/en/logs/log_collection/java.md
Labels: logs

#10079 Adding DNS Server port
  content/en/synthetics/api_tests/dns_tests.md
  static/images/synthetics/api_tests/dns_test_config.png
  static/images/synthetics/api_tests/dns_test_config_new.png
Labels: Images, synthetics

#10032 DOCS-940 Docker remove alias
  content/en/agent/docker/_index.md
Labels: agent

#10074 Remove autogenerated rules header
  local/bin/py/build/actions/security_rules.py
Labels: Architecture

#10042 Yael/process2metrics ga
  content/en/infrastructure/process/generate_process_metrics.md
  static/images/infrastructure/process/process2metrics_create_LP_2.png
  static/images/infrastructure/process/process2metrics_overview_2.png
Labels: Images, infrastructure

#10080 Plugging profiler intro guide where relevant
  content/en/tracing/profiler/_index.md
  content/en/tracing/profiler/getting_started.md
Labels: tracing

#10081 [WEB-1207] Style support for html disclosure element
  layouts/shortcodes/h3.html
  src/styles/pages/_global.scss
Labels: Architecture

#10084 DOCS-1636 Lint Headings Logs
  .github/styles/Datadog/headings.yml
  content/en/logs/explorer/_index.md
  content/en/logs/explorer/watchdog_insights.md
Labels: Github, logs

#10096 Update processing_pipelines.md
  content/en/tracing/faq/processing_pipelines.md
Labels: FAQ, tracing

#10085 expand NDM initialism
  content/en/network_monitoring/devices/guide/cluster-agent.md
Labels: network_monitoring

#10093 [EN] Update the `logs_public_config_api` section
  content/en/account_management/rbac/permissions.md
Labels: account_management

#10086 Update menu.yaml for new page name and rename file
  config/_default/menus/menus.en.yaml
  content/en/infrastructure/process/increase_process_retention.md
Labels: Architecture, infrastructure

#10087 fix APM security sidebar link
  config/_default/menus/menus.en.yaml
Labels: Architecture

#10082 Attributes tables
  config/_default/menus/menus.en.yaml
  content/en/logs/explorer/facets.md
  content/en/logs/faq/why-do-my-logs-not-have-the-expected-timestamp.md
  content/en/logs/faq/why-do-my-logs-show-up-with-an-info-status-even-for-warnings-or-errors.md
  content/en/logs/log_collection/_index.md
  content/en/logs/log_collection/csharp.md
  content/en/logs/log_collection/ruby.md
  content/en/logs/processing/attributes_naming_convention.md
  content/fr/logs/archives/rehydrating.md
Labels: Architecture, FAQ, editorial review, logs

#10101 Update _index.md
  content/en/tracing/troubleshooting/_index.md
Labels: tracing

#10102 Update nodejs.md
  content/en/tracing/setup_overview/setup/nodejs.md
Labels: tracing

#10040 improvements
  .github/styles/Datadog/Trademarks.yml
  .gitlab-ci.yml
  .vale.ini
  content/en/metrics/faq/metrics-without-limits.md
  webpack.prod.js
Labels: Do Not Merge, FAQ, Github, metrics

#10109 Small format fix
  content/en/monitors/guide/template-variable-evaluation.md
Labels: Guide, monitors

#10104 Update minimum version to 0.50.0 for certain system properties for the java tracer
  content/en/tracing/setup_overview/setup/java.md
Labels: tracing

#10088 DOCS-1815 Developers Overview
  config/_default/menus/menus.en.yaml
  content/en/developers/_index.md
  content/en/developers/prometheus.md
  content/en/developers/write_agent_check.md
  data/partials/home.yaml
Labels: Architecture, developers

#10113 DOCS-1761 Monitor Notifications
  content/en/monitors/notifications.md
Labels: monitors

#10112 DOCS-1760 Agent Configuration Files
  content/en/agent/guide/agent-configuration-files.md
Labels: Guide, agent

#10111 [rum] improved wording
  content/en/real_user_monitoring/browser/advanced_configuration.md
Labels: real_user_monitoring

#10075 Adding guide on handling popups and security page
  config/_default/menus/menus.en.yaml
  content/en/security/_index.md
  content/en/security/synthetics.md
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/popup.md
  static/images/synthetics/guide/popup/allow_fail_option.png
  static/images/synthetics/guide/popup/http_auth_option.png
Labels: Architecture, Guide, Images, security, synthetics

#10110 Sensitive Logs Data
  content/en/logs/guide/control-sensitive-logs-data.md
Labels: Guide, logs

#10115 Update control-sensitive-logs-data.md
  content/en/logs/guide/control-sensitive-logs-data.md
Labels: Guide, logs

#10118 fix local vale
  .vale.ini
Labels: Github

#10122 [WEB-1257] Hides Hotjar feedback button on small screen sizes
  src/styles/pages/_global.scss
Labels: Architecture

#10100 Use built-in function for site-level access
  layouts/_default/404-baseof.html
  layouts/_default/baseof.html
  layouts/api/baseof.html
  layouts/api/list.html
  layouts/index.html
  layouts/partials/announcement_banner/announcement_banner.html
  layouts/partials/api/api-toolbar.html
  layouts/partials/api/code-example.html
  layouts/partials/code-lang-tabs.html
  layouts/partials/footer-scripts.html
  layouts/partials/footer/footer.html
  layouts/partials/head_scripts/google-site-tag.html
  layouts/partials/head_scripts/hotjar.html
  layouts/partials/header-scripts.html
  layouts/partials/header/header.html
  layouts/partials/home-header.html
  layouts/partials/img-resource.html
  layouts/partials/img.html
  layouts/partials/imgurl.html
  layouts/partials/language-region-select.html
  layouts/partials/menulink.html
  layouts/partials/meta.html
  layouts/partials/nav/api-main-menu.html
  layouts/partials/nav/main-menu.html
  layouts/partials/platforms/platforms.html
  layouts/partials/preload.html
  layouts/partials/preview_banner/preview_banner.html
  layouts/partials/questions/questions.html
  layouts/partials/security-rule-map.html
  layouts/partials/translate_status_banner/translate_status_banner.html
  layouts/section/videos.html
  layouts/security_rules/single.html
  layouts/shortcodes/classic-libraries-table.html
  layouts/shortcodes/dashboards-widgets-api.html
  layouts/shortcodes/dashboards-widgets-list.html
  layouts/shortcodes/detection-rules.html
  layouts/shortcodes/get-metrics-from-git.html
  layouts/shortcodes/get-service-checks-from-git.html
  layouts/shortcodes/img.html
  layouts/shortcodes/integration-items.html
  layouts/shortcodes/integrations.html
  layouts/shortcodes/log-libraries-table.html
  layouts/shortcodes/permissions.html
  layouts/shortcodes/serverless-libraries-table.html
  layouts/shortcodes/tag-set-examples.html
  layouts/shortcodes/tile-nav.html
  layouts/shortcodes/tracing-libraries-table.html
  layouts/shortcodes/translate.html
  layouts/taxonomy/video-category.html
Labels: Architecture

#10125 Add PAN Firewall logo
  static/images/integrations_logos/pan_firewall.png
Labels: Images

#10129 Compliance Monitoring section
  content/en/compliance_monitoring/_index.md
  content/en/security_monitoring/_index.md
Labels: compliance_monitoring, security_monitoring

#10131 Adding these links in code blocks
  content/en/getting_started/site/_index.md
Labels: getting_started

#10073 note Lambda names follow DD tagging format
  content/en/serverless/serverless_tagging/_index.md
Labels: serverless

#10124 Update journald.md
  content/en/integrations/journald.md
Labels: integrations
