Repository DataDog/documentation, pull requests merged in 2021-01, with the labels that each got.

#9388 APM/PHP release 0.53.0
  content/en/logs/log_collection/php.md
  content/en/tracing/connect_logs_and_traces/php.md
  content/fr/logs/log_collection/php.md
  content/fr/tracing/connect_logs_and_traces/php.md
  content/ja/logs/log_collection/php.md
  content/ja/tracing/connect_logs_and_traces/php.md
Labels: logs, tracing

#9399 Add SonarQube logo
  static/images/integrations_logos/sonarqube.png
Labels: Images

#9354 Mention extra deprecated tags on profiling migration.
  content/en/tracing/faq/profiling_migration.md
Labels: FAQ, tracing

#9403 add agent to "How do I submit metrics to Datadog?" section
  content/en/metrics/_index.md
Labels: metrics

#9404 Update actions.md
  content/en/synthetics/browser_tests/actions.md
Labels: synthetics

#9406 update exclude null query function documentation
  content/en/dashboards/functions/exclusion.md
Labels: dashboards

#9401 [DOCS-1501] bold a thing for a hotjar request
  content/en/network_performance_monitoring/installation.md
Labels: network_performance_monitoring

#9400 alexfren/update_distribution_metric_link
  content/en/metrics/distributions.md
Labels: metrics

#9398 Better document how to run the agent on kubernetes with a non-root user
  content/en/agent/kubernetes/_index.md
  content/en/agent/kubernetes/log.md
Labels: agent

#9362 [WEB-1037] - oneof improvements
  config/_default/menus/menus.en.yaml
  content/en/api/v1/dashboards/examples.json
  content/en/api/v1/dashboards/widgets.json
  content/en/api/v2/incidents/examples.json
  content/en/api/v2/logs-archives/examples.json
  content/en/api/v2/logs/examples.json
  src/scripts/build-api-pages.js
  src/scripts/tests/build-api-pages.test.js
Labels: Architecture, api

#9411 Corrected a tiny typo
  content/en/agent/logs/_index.md
Labels: agent

#9415 Update APM Java Documentation to support new PR
  content/en/tracing/setup_overview/setup/java.md
Labels: tracing

#9414 adding a blog further reading
  content/en/integrations/kubernetes_audit_logs.md
Labels: integrations

#9416 DOCS-1506 Remove videos section
  content/en/getting_started/learning_center.md
  content/en/video-categories/_index.md
  content/en/videos/_index.md
  content/en/videos/anomaly_detection.md
  content/en/videos/apm_dashboards_trace_metrics.md
  content/en/videos/apm_overview.md
  content/en/videos/apm_traces_flame_graph.md
  content/en/videos/apmsetup-rails.md
  content/en/videos/dashboard_permissions.md
  content/en/videos/datadog101-1-overview.md
  content/en/videos/datadog101-2-collection.md
  content/en/videos/datadog101-3-dashboards.md
  content/en/videos/datadog101-4-functions.md
  content/en/videos/datadog101-5-aggregation.md
  content/en/videos/datadog101-6-notifications.md
  content/en/videos/five_minute_intro.md
  content/en/videos/hostmap.md
  content/en/videos/install-in-eight-mins.md
  content/en/videos/share_screenboards.md
  content/en/videos/two_minute_intro.md
  content/en/videos/unshare_screenboards.md
  content/en/videos/weekly_monitor_report.md
Labels: getting_started, video-categories, videos

#9421 [WEB-1050] - interruptable preview pipeline
  .gitlab-ci.yml
Labels: Architecture

#9417 Adding distribution metrics FAQ
  content/en/metrics/faq/_index.md
  content/en/metrics/faq/updating-to-distribution-metrics-faq.md
  static/images/metrics/faq/sketch-db-migration-faq/add-percentiles.gif
  static/images/metrics/faq/sketch-db-migration-faq/bulk-percentiles.gif
  static/images/metrics/faq/sketch-db-migration-faq/configure-tags.png
  static/images/metrics/faq/sketch-db-migration-faq/manage-tags.png
Labels: FAQ, Images, metrics

#9337 NPM -> Installation -> Change Windows OS name (Re-do)
  content/en/network_performance_monitoring/installation.md
Labels: network_performance_monitoring

#9422 add link to blog post
  content/en/monitors/incident_management/datadog_clipboard.md
Labels: monitors

#9423 add snmp_cisco logo
  static/images/integrations_logos/snmp_cisco.png
Labels: Images

#9425 Correct filename of read secret helper
  content/en/agent/guide/secrets-management.md
Labels: Guide, agent

#9430 Fix broken links
  content/en/getting_started/learning_center.md
Labels: getting_started

#9431 Gatekeeper logo
  static/images/integrations_logos/gatekeeper.png
Labels: Images

#9424 Update services_map.md
  content/en/tracing/visualization/services_map.md
Labels: tracing

#9345 Add notes about performance in tracing
  content/en/tracing/troubleshooting/_index.md
Labels: tracing

#8918 Create access-your-log-data-programmatically.md
  content/en/logs/guide/_index.md
  content/en/logs/guide/access-your-log-data-programmatically.md
Labels: Guide, logs

#9432 DOCS-1428 - start/stop commands for docker
  content/en/agent/guide/agent-commands.md
Labels: Guide, agent

#9390 Add Vale Linter
  .github/styles/Datadog/headings.yml
  .github/workflows/linting.yml
  .vale.ini
Labels: Github

#9409 Add ampere and volt units
  content/en/developers/metrics/units.md
Labels: developers

#9446 (DOCS-1563) Fix link
  content/en/developers/dogstatsd/_index.md
Labels: developers

#9448 Adding DogStatsD to the list of exceptions for cap
  .github/styles/Datadog/headings.yml
Labels: Github

#9433 [NET-962][NPM] Make sysprobe socket paths consistent
  content/en/network_performance_monitoring/installation.md
  content/fr/network_performance_monitoring/installation.md
  content/ja/network_performance_monitoring/installation.md
  static/resources/yaml/datadog-agent-npm.yaml
Labels: network_performance_monitoring

#9443 Update docs to bump lambda extension version to 5
  content/en/serverless/datadog_lambda_library/extension.md
  content/fr/serverless/datadog_lambda_library/extension.md
  content/ja/serverless/datadog_lambda_library/extension.md
Labels: serverless

#9445 Replaced mb by MB for clarity.
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
Labels: Guide, real_user_monitoring

#9435 added note for supported file types for source maps
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
Labels: Guide, real_user_monitoring

#9453 Restructure Log Explorer main page with pointers to Transactions
  config/_default/menus/menus.en.yaml
  content/en/logs/explorer/_index.md
  static/images/logs/explorer/log_explorer_walkthrough_patterns.png
  static/images/logs/explorer/log_explorer_walkthrough_transactions.png
Labels: Architecture, Images, logs

#9437 Clarify community integration names for wheel packages
  content/en/agent/guide/community-integrations-installation-with-docker-agent.md
Labels: Guide, agent

#9456 Added new metric unit
  content/en/developers/metrics/units.md
Labels: developers

#9436 Added Configuration import to config example
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#9452 Profiler: Go: Minor copy improvements
  content/en/tracing/profiler/getting_started.md
Labels: tracing

#9454 Add `using` to flush logs in examples using `Serilog.Sinks.Datadog.Logs`
  content/en/logs/log_collection/csharp.md
Labels: logs

#9141 Document Agent signing keys
  content/en/security/agent.md
Labels: security

#9250 [APM-PHP] improve installation instructions for who installs from tar.gz
  content/en/tracing/faq/php-tracer-manual-installation.md
Labels: FAQ, tracing

#9420 Gus/slo checklist
  content/en/monitors/guide/_index.md
  content/en/monitors/guide/slo-checklist.md
  content/en/monitors/service_level_objectives/_index.md
Labels: Guide, monitors, under_review

#9459 Update unified_service_tagging.md
  content/en/getting_started/tagging/unified_service_tagging.md
Labels: getting_started

#9458 Update csharp.md
  content/en/logs/log_collection/csharp.md
Labels: logs

#9460 [WEB-1071] update rum icon
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
  data/partials/header.fr.yaml
  data/partials/header.ja.yaml
  data/partials/home.fr.yaml
  data/partials/home.ja.yaml
  data/partials/home.yaml
  static/images/icons/nav_rum.png
  static/images/icons/nav_rum_2.png
  static/images/icons/nav_rum_2_p.png
  static/images/icons/nav_rum_p.png
  static/images/svg-icons/rum-2.svg
Labels: Architecture, Images

#9352 Add tracing/profiler/intro_to_profiling & some links
  content/en/tracing/profiler/_index.md
  content/en/tracing/profiler/getting_started.md
  content/en/tracing/profiler/intro_to_profiling.md
  content/en/tracing/profiler/search_profiles.md
  static/images/tracing/profiling/intro_to_profiling/alloc_flame_graph_replyjson_arrows.png
  static/images/tracing/profiling/intro_to_profiling/flame_graph.png
  static/images/tracing/profiling/intro_to_profiling/flame_graph_gc.png
  static/images/tracing/profiling/intro_to_profiling/flame_graph_length.png
  static/images/tracing/profiling/intro_to_profiling/flame_graph_optimized_replyjson.png
  static/images/tracing/profiling/intro_to_profiling/flame_graph_parse.png
  static/images/tracing/profiling/intro_to_profiling/flame_graph_replyjson.png
  static/images/tracing/profiling/intro_to_profiling/flame_graph_replyjson_arrows.png
  static/images/tracing/profiling/intro_to_profiling/flame_graph_sort_lambda.png
  static/images/tracing/profiling/intro_to_profiling/flame_graph_write.png
  static/images/tracing/profiling/intro_to_profiling/list.png
  static/images/tracing/profiling/intro_to_profiling/optimized_sort_code.png
  static/images/tracing/profiling/intro_to_profiling/orig/alloc_flame_graph_replyjson_arrows.png
  static/images/tracing/profiling/intro_to_profiling/orig/flame_graph.png
  static/images/tracing/profiling/intro_to_profiling/orig/flame_graph_gc.png
  static/images/tracing/profiling/intro_to_profiling/orig/flame_graph_length.png
  static/images/tracing/profiling/intro_to_profiling/orig/flame_graph_optimized_replyjson.png
  static/images/tracing/profiling/intro_to_profiling/orig/flame_graph_parse.png
  static/images/tracing/profiling/intro_to_profiling/orig/flame_graph_replyjson.png
  static/images/tracing/profiling/intro_to_profiling/orig/flame_graph_replyjson_arrows.png
  static/images/tracing/profiling/intro_to_profiling/orig/flame_graph_sort_lambda.png
  static/images/tracing/profiling/intro_to_profiling/orig/flame_graph_write.png
  static/images/tracing/profiling/intro_to_profiling/orig/list.png
  static/images/tracing/profiling/intro_to_profiling/orig/optimized_sort_code.png
  static/images/tracing/profiling/intro_to_profiling/orig/slow_sort_code.png
  static/images/tracing/profiling/intro_to_profiling/orig/types.png
  static/images/tracing/profiling/intro_to_profiling/slow_sort_code.png
  static/images/tracing/profiling/intro_to_profiling/types.png
Labels: Images, tracing

#9394 Adding an NPM guides section
  config/_default/menus/menus.en.yaml
  content/en/network_performance_monitoring/guide/_index.md
  content/en/network_performance_monitoring/guide/detecting_a_network_outage.md
  content/en/network_performance_monitoring/guide/manage_traffic_costs_with_npm.md
  static/images/network_performance_monitoring/guide/detecting_a_network_outage/npm-metrics.png
  static/images/network_performance_monitoring/guide/detecting_a_network_outage/processes.png
  static/images/network_performance_monitoring/guide/detecting_a_network_outage/traces.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_npm/availability_zone.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_npm/aws_account.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_npm/cross-az-traffic.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_npm/datacenter.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_npm/dns_resolution.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_npm/filter-traffic.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_npm/inter-az-service-to-service-traffic.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_npm/network-traffic.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_npm/region.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_npm/region_region.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_npm/scope_destination_points.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_npm/service_availability_zone.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_npm/single_service.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_npm/team_region.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_npm/timeseries.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_npm/wildcard.png
Labels: Architecture, Guide, Images, network_performance_monitoring

#9358 Require syslog-ng to accept only trusted certificates
  content/en/integrations/syslog_ng.md
  content/fr/integrations/syslog_ng.md
  content/ja/integrations/syslog_ng.md
Labels: under_review

#9461 Clarify age out period for log monitors
  content/en/monitors/faq/why-did-my-monitor-settings-change-not-take-effect.md
Labels: FAQ, monitors

#9466 Update can-i-limit-the-number-of-vms-that-are-pulled-in-via-the-vmwar…
  content/en/integrations/faq/can-i-limit-the-number-of-vms-that-are-pulled-in-via-the-vmware-integration.md
Labels: FAQ, integrations

#9465 Tweak wording in intro to profiling
  content/en/tracing/profiler/intro_to_profiling.md
Labels: tracing

#9467 [WEB-1076] Marketplace Integrations style updates
  layouts/partials/badge.html
  layouts/partials/integration-labels/integration-labels.html
  layouts/shortcodes/integrations.html
  src/styles/components/_badge.scss
  src/styles/components/_integration-labels.scss
  src/styles/components/_integrations.scss
  src/styles/style.scss
  static/images/icons/nav_search_2.svg
Labels: Architecture, Images

#9014 distribution metrics guide
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/ddsketch_trace_metrics.md
Labels: Guide, editorial review, tracing

#9468 Update _index.md
  content/en/getting_started/logs/_index.md
Labels: getting_started

#9469 [WEB-1044] Security Default Rules updated filtering
  layouts/security_rules/list.html
  src/scripts/components/security-rules.js
  src/scripts/helpers/string.js
  src/styles/pages/_security_monitoring.scss
Labels: Architecture

#9476 clarifying phrasing
  content/en/account_management/billing/pricing.md
  content/en/account_management/billing/profiler.md
Labels: account_management

#9429 add ingested span pricing
  content/en/account_management/billing/apm_distributed_tracing.md
  content/en/account_management/billing/pricing.md
  content/en/tracing/trace_retention_and_ingestion/_index.md
  content/en/tracing/trace_retention_and_ingestion/usage_metrics.md
  static/images/tracing/trace_indexing_and_ingestion/usage_metrics/AnalyticsDashboardOverview.png
Labels: Images, account_management, tracing

#9301 Add serverless insights docs
  config/_default/menus/menus.en.yaml
  content/en/serverless/insights/_index.md
  static/images/serverless/serverless_actionable_insights_detail.png
  static/images/serverless/serverless_actionable_insights_homepage.png
Labels: Architecture, Images, editorial review, serverless

#9475 Clarify NO_PROXY for agent http(s) calls
  content/en/agent/proxy.md
Labels: agent

#9479 Update menus.en.yaml
  config/_default/menus/menus.en.yaml
Labels: Architecture

#9307 Carlos/fix nav right menu wrapping
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
  layouts/partials/header/header.html
  src/styles/components/_header.scss
  src/styles/pages/_global.scss
Labels: Architecture

#9480 [doc] kris-casey/Edit link 7: Metrics Intro
  content/en/developers/metrics/_index.md
Labels: developers

#9338 APM -> .NET -> RabbitMQ integration
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-core.md
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-framework.md
Labels: tracing

#9450 APM > .NET > Setup > Add documentation around new .NET configuration settings …
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#9493 Remove rollup advice for sparse metrics in monitors
  content/en/monitors/guide/monitor-arithmetic-and-sparse-metrics.md
Labels: Guide, monitors

#9492 APM > Runtime metrics > Change small wording
  content/en/tracing/runtime_metrics/nodejs.md
  content/en/tracing/runtime_metrics/python.md
  content/en/tracing/runtime_metrics/ruby.md
Labels: tracing

#9495 Remove Vale Linter
  .github/styles/Datadog/headings.yml
  .github/workflows/linting.yml
  .vale.ini
Labels: Github

#9434 Authentication logs guide
  config/_default/menus/menus.en.yaml
  content/en/security_monitoring/guide/_index.md
  content/en/security_monitoring/guide/monitor-authentication-logs-for-security-threats.md
  static/images/security_monitoring/guide/monitor-authentication-logs-for-security-threats/credential-stuffing-attack-signal.png
  static/images/security_monitoring/guide/monitor-authentication-logs-for-security-threats/investigation-dashboard-example.gif
Labels: Architecture, Guide, Images, logs, security_monitoring

#9478 Update feature status from private beta -> public beta
  content/en/infrastructure/process/generate_process_metrics.md
Labels: infrastructure

#9486 Move logs only FAQ to guides section
  content/en/logs/guide/_index.md
  content/en/logs/guide/how-to-set-up-only-logs.md
Labels: Guide, logs

#9500 Allowing indexation of logs only guide
  local/etc/algolia/docs_datadoghq.json
  local/etc/algolia/docs_datadoghq_preview.json
Labels: Architecture

#9471 new clamp/cutoff query function documentation
  content/en/dashboards/functions/exclusion.md
Labels: dashboards

#9487 Add istio support docs
  content/en/network_performance_monitoring/installation.md
Labels: network_performance_monitoring

#9384 Serverless APM Documentation Update
  config/_default/menus/menus.en.yaml
  content/en/serverless/distributed_tracing/_index.md
  content/en/serverless/distributed_tracing/serverless_trace_merging.md
  layouts/partials/serverless/serverless-apm-recommendations.html
Labels: Architecture, serverless

#9496 [trace] Update tps configs
  content/en/agent/docker/apm.md
  content/en/agent/kubernetes/apm.md
  content/en/tracing/guide/agent-5-tracing-setup.md
  content/fr/agent/basic_agent_usage/ansible.md
  content/fr/agent/docker/apm.md
  content/fr/agent/kubernetes/apm.md
  content/fr/tracing/guide/agent-5-tracing-setup.md
  content/ja/agent/basic_agent_usage/ansible.md
  content/ja/agent/docker/apm.md
  content/ja/agent/kubernetes/apm.md
  content/ja/tracing/guide/agent-5-tracing-setup.md
Labels: Guide, agent, tracing

#9501 Update Jetty to "fully supported"
  content/en/tracing/setup_overview/compatibility_requirements/java.md
Labels: tracing

#9235 Update docker logs collection with AD label supporting file tailing
  content/en/agent/amazon_ecs/logs.md
  content/en/agent/docker/log.md
Labels: agent

#9506 Update logs_to_metrics.md
  content/en/logs/logs_to_metrics.md
  static/images/logs/processing/logs_to_metrics/create_custom_metrics2.png
  static/images/logs/processing/logs_to_metrics/metrics_from_analytics.png
Labels: Images, logs

#9481 Remove unused AWS Lambda permissions
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
  content/fr/integrations/amazon_web_services.md
  content/fr/serverless/forwarder.md
  content/ja/integrations/amazon_web_services.md
  content/ja/serverless/forwarder.md
Labels: Guide, logs

#9175 DOCS-1386 NDM Tags with Regex
  content/en/network_performance_monitoring/devices/guide/_index.md
  content/en/network_performance_monitoring/devices/guide/tags-with-regex.md
Labels: network_performance_monitoring

#9491 Update _index.md
  content/en/tracing/trace_retention_and_ingestion/_index.md
Labels: tracing

#9503 Andrew.ardito/apmserverless
  config/_default/menus/menus.en.yaml
  content/en/serverless/distributed_tracing/_index.md
  content/en/tracing/setup_overview/serverless_functions/_index.md
Labels: Architecture, serverless, tracing

#9507 Add two new blogs to docs
  content/en/network_performance_monitoring/devices/_index.md
  content/en/serverless/insights/_index.md
Labels: network_performance_monitoring, serverless

#9511 Update how-to-set-up-only-logs.md
  content/en/logs/guide/how-to-set-up-only-logs.md
Labels: Guide, logs

#9512 [rum] fix custom action guide link
  content/en/real_user_monitoring/guide/send-rum-custom-actions.md
Labels: Guide, real_user_monitoring

#9513 Typo in windows-systems commands
  content/en/network_performance_monitoring/installation.md
Labels: network_performance_monitoring

#9508 Add CL Vale Linter
  .github/styles/Datadog/headings.yml
  .vale.ini
Labels: Github

#9515 add missing integrations logos
  static/images/integrations_logos/glusterfs.png
  static/images/integrations_logos/open_policy_agent.png
  static/images/integrations_logos/otel.png
  static/images/integrations_logos/snmp_dell.png
  static/images/integrations_logos/snmp_juniper.png
  static/images/integrations_logos/voltdb.png
Labels: Images

#9517 DOCS-1519/hotjar: Add a link to API docs in Getting Started w Synthetics
  content/en/getting_started/synthetics/api_test.md
Labels: getting_started

#9518 DOCS-1458 - add note that count isn't supported in Python
  content/en/developers/metrics/dogstatsd_metrics_submission.md
Labels: developers

#9519 DOCS-1466 - Add statement about child-orgs and SAML setup
  content/en/account_management/multi_organization.md
Labels: account_management

#9535 [doc]kris-casey/edit link 1: norm def
  content/en/dashboards/functions/rank.md
Labels: dashboards

#9536 [logs] Update redis metadata name in k8s log collection example
  content/en/agent/kubernetes/log.md
Labels: agent

#9098 [DOCS-1587] Adding some info about dedicated containers
  content/en/agent/troubleshooting/debug_mode.md
Labels: agent

#9375 .NET Framework setup & compatibility docs edits
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-core.md
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-framework.md
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#9532 DOCS-1543 Agent supported versions
  content/en/agent/basic_agent_usage/_index.md
Labels: agent

#9533 DOCS-1547 Agent logs UTF8
  content/en/agent/logs/_index.md
Labels: agent

#9534 Update php.md
  content/en/tracing/setup_overview/setup/php.md
Labels: tracing

#9537 DOCS-1548 Azure AD SAML
  content/en/account_management/saml/azure.md
Labels: account_management

#9525 Add callouts for multi domains support in source maps
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/real_user_monitoring/error_tracking/explorer.md
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
Labels: Guide, real_user_monitoring

#9540 add update time for alert history page
  content/en/monitors/faq/how-can-i-export-alert-history.md
Labels: FAQ, monitors

#9538 Added short statement to clarify setting up Tracer in Tomcat
  content/en/tracing/setup_overview/setup/java.md
Labels: tracing

#9542 Remove tabbing for code block fix
  content/en/logs/log_collection/nodejs.md
Labels: logs

#9543 fix link
  content/en/developers/metrics/powershell_metrics_submission.md
Labels: developers

#9545 clarify that CR means custom resource
  content/en/agent/kubernetes/_index.md
Labels: agent

#9547 Update supported libraries in corp docs python.md
  content/en/tracing/setup_overview/compatibility_requirements/python.md
Labels: tracing

#9549 ARN screenshot update
  static/images/logs/aws/AWSLogStep1.png
Labels: Images

#9555 [rum] fix load event facet name
  content/en/real_user_monitoring/browser/data_collected.md
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
Labels: real_user_monitoring

#9526 Add details about the new geomap widget
  content/en/dashboards/widgets/_index.md
  content/en/dashboards/widgets/geomap.md
  static/images/dashboards/widgets/geomap/geomap.png
  static/images/dashboards/widgets/geomap/geomap_setup.png
Labels: Images, dashboards

#9523 Adding new site page
  config/_default/menus/menus.en.yaml
  content/en/getting_started/site/_index.md
  static/images/getting_started/site/site-selector.png
  static/images/getting_started/site/site.png
Labels: Architecture, Images, getting_started

#9561 Updating AWS doc link
  content/en/logs/archives/_index.md
Labels: logs

#9564 sequential step numbers (1. 1. 1. to 1. 2. 3.) in AWS logs doc
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: Guide, logs

#9566 Revert "Fix multistep private location information."
  .node-version
  content/en/synthetics/multistep.md
Labels: synthetics

#9571 Update _index.md
  content/en/serverless/insights/_index.md
Labels: serverless

#9569 Remove custom error handler from default behavior example
  content/en/tracing/setup_overview/custom_instrumentation/ruby.md
Labels: tracing

#9568 Simplify Ruby code using safe navigation operator
  content/en/tracing/setup_overview/custom_instrumentation/ruby.md
Labels: tracing

#9567 APM/PHP: document fix for open_basedir restrictions
  content/en/tracing/setup_overview/setup/php.md
Labels: tracing

#9565 NPM Saved Views Documentation
  content/en/network_performance_monitoring/network_page.md
  static/images/network_performance_monitoring/network_page/npm_saved_views.png
Labels: Images, network_performance_monitoring

#9563 Enriching SSL errors doc
  content/en/synthetics/api_tests/dns_tests.md
  content/en/synthetics/api_tests/tcp_tests.md
Labels: synthetics

#9556 [rum] add session related attributes
  content/en/dashboards/widgets/geomap.md
  content/en/real_user_monitoring/browser/data_collected.md
  static/images/real_user_monitoring/data_collected/event-hierarchy.png
Labels: Images, dashboards, real_user_monitoring

#9550 Regex notes for logs docs
  content/en/logs/processing/parsing.md
Labels: logs

#9524 Docs-1571 Added notes
  content/en/account_management/_index.md
  content/en/account_management/saml/_index.md
  content/en/account_management/users/_index.md
  content/en/agent/guide/private-link.md
  content/en/logs/archives/_index.md
  content/en/logs/archives/rehydrating.md
  content/en/monitors/incident_management/_index.md
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/synthetics/browser_tests/_index.md
  i18n/en.json
  static/images/integrations_logos/2020w2.pdf
Labels: Architecture, Guide, Images, account_management, agent, logs, monitors, real_user_monitoring, synthetics

#9573 bring back url with region in curl
  layouts/api/list.html
Labels: Architecture

#9575 fix endpoint region
  layouts/partials/api/get-endpoint.html
Labels: Architecture

#9577 Fix formatting for log timestamp guide
  content/en/logs/faq/why-do-my-logs-not-have-the-expected-timestamp.md
Labels: FAQ, logs

#9576 [dd-trace-rb] Use release branch for Ruby tracer doc source
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#9582 Lint headings in metrics and mobile docs
  content/en/metrics/_index.md
  content/en/metrics/faq/updating-to-distribution-metrics-faq.md
  content/en/mobile/_index.md
Labels: FAQ, metrics, mobile

#9574 redoing branch
  content/en/dashboards/widgets/event_stream.md
  content/en/events/_index.md
  content/en/monitors/monitor_types/event.md
Labels: dashboards, events, monitors

#9572 [NET-1022] Update network metric names
  content/en/network_performance_monitoring/network_map.md
  content/en/network_performance_monitoring/network_page.md
Labels: network_performance_monitoring

#9578 Update _index.md
  content/en/tracing/visualization/_index.md
Labels: tracing

#9590 Swap to placeholder API Key
  content/en/serverless/azure_app_services.md
Labels: serverless

#9583 Lint Headings for Agent
  content/en/agent/amazon_ecs/_index.md
  content/en/agent/basic_agent_usage/_index.md
  content/en/agent/basic_agent_usage/aix.md
  content/en/agent/basic_agent_usage/windows.md
  content/en/agent/cluster_agent/admission_controller.md
  content/en/agent/cluster_agent/clusterchecks.md
  content/en/agent/cluster_agent/commands.md
  content/en/agent/cluster_agent/endpointschecks.md
  content/en/agent/cluster_agent/external_metrics.md
  content/en/agent/cluster_agent/setup.md
  content/en/agent/cluster_agent/troubleshooting.md
  content/en/agent/docker/_index.md
  content/en/agent/docker/apm.md
  content/en/agent/docker/data_collected.md
  content/en/agent/docker/log.md
  content/en/agent/docker/tag.md
  content/en/agent/faq/agent-5-process-collection.md
  content/en/agent/faq/agent_v6_changes.md
  content/en/agent/faq/commonly-used-log-processing-rules.md
  content/en/agent/faq/how-datadog-agent-determines-the-hostname.md
  content/en/agent/faq/how-do-i-uninstall-the-agent.md
  content/en/agent/faq/windows-agent-ddagent-user.md
  content/en/agent/guide/agent-5-autodiscovery.md
  content/en/agent/guide/agent-5-kubernetes-basic-agent-usage.md
  content/en/agent/guide/agent-commands.md
  content/en/agent/guide/agent-log-files.md
  content/en/agent/guide/agent-status-page.md
  content/en/agent/guide/autodiscovery-management.md
  content/en/agent/guide/autodiscovery-with-jmx.md
  content/en/agent/guide/cluster-agent-custom-metrics-server.md
  content/en/agent/guide/dogstream.md
  content/en/agent/guide/network.md
  content/en/agent/guide/private-link.md
  content/en/agent/guide/python-3.md
  content/en/agent/kubernetes/_index.md
  content/en/agent/kubernetes/apm.md
  content/en/agent/kubernetes/data_collected.md
  content/en/agent/kubernetes/prometheus.md
  content/en/agent/logs/advanced_log_collection.md
  content/en/agent/logs/log_transport.md
  content/en/agent/logs/proxy.md
  content/en/agent/proxy.md
  content/en/agent/troubleshooting/permissions.md
  content/en/agent/troubleshooting/send_a_flare.md
  content/en/agent/troubleshooting/windows_containers.md
  content/en/agent/versions/upgrade_to_agent_v6.md
Labels: FAQ, Guide, agent

#9586 Add link to page
  content/en/synthetics/apm/_index.md
Labels: synthetics

#9587 Lint headings in /monitors for sentence case
  content/en/monitors/guide/as-count-in-monitor-evaluations.md
  content/en/monitors/guide/monitor-arithmetic-and-sparse-metrics.md
  content/en/monitors/guide/monitor_api_options.md
  content/en/monitors/guide/slo-checklist.md
  content/en/monitors/incident_management/_index.md
  content/en/monitors/incident_management/datadog_clipboard.md
  content/en/monitors/manage_monitor.md
  content/en/monitors/monitor_status.md
  content/en/monitors/monitor_types/anomaly.md
  content/en/monitors/monitor_types/apm.md
  content/en/monitors/monitor_types/custom_check.md
  content/en/monitors/monitor_types/event.md
  content/en/monitors/monitor_types/forecasts.md
  content/en/monitors/monitor_types/integration.md
  content/en/monitors/monitor_types/metric.md
  content/en/monitors/monitor_types/network.md
  content/en/monitors/service_level_objectives/_index.md
  content/en/monitors/service_level_objectives/error_budget.md
  content/en/monitors/service_level_objectives/monitor.md
Labels: Guide, monitors

#9579 Lint Headings for Account Management
  content/en/account_management/api-app-keys.md
  content/en/account_management/authn_mapping/_index.md
  content/en/account_management/billing/apm_distributed_tracing.md
  content/en/account_management/billing/custom_metrics.md
  content/en/account_management/billing/google_cloud.md
  content/en/account_management/billing/log_management.md
  content/en/account_management/billing/profiler.md
  content/en/account_management/billing/serverless.md
  content/en/account_management/billing/usage_attribution.md
  content/en/account_management/billing/usage_details.md
  content/en/account_management/billing/usage_monitor_apm.md
  content/en/account_management/faq/_index.md
  content/en/account_management/faq/usage_control_apm.md
  content/en/account_management/multi_organization.md
  content/en/account_management/rbac/_index.md
  content/en/account_management/rbac/permissions.md
  content/en/account_management/saml/_index.md
  content/en/account_management/saml/google.md
  content/en/account_management/saml/okta.md
  content/en/account_management/saml/safenet.md
Labels: FAQ, account_management

#9589 Update build-custom-reports-using-log-analytics-api.md
  content/en/logs/guide/build-custom-reports-using-log-analytics-api.md
Labels: Guide, logs

#9593 Lint headings for Dashboards
  content/en/dashboards/_index.md
  content/en/dashboards/faq/historical-data.md
  content/en/dashboards/faq/why-isn-t-my-aws-trusted-advisor-dashboard-showing-any-data.md
  content/en/dashboards/functions/arithmetic.md
  content/en/dashboards/functions/beta.md
  content/en/dashboards/functions/exclusion.md
  content/en/dashboards/functions/interpolation.md
  content/en/dashboards/functions/rate.md
  content/en/dashboards/functions/rollup.md
  content/en/dashboards/graphing_json/request_json.md
  content/en/dashboards/guide/dashboard-lists-api-v1-doc.md
  content/en/dashboards/guide/how-to-graph-percentiles-in-datadog.md
  content/en/dashboards/guide/query-to-the-graph.md
  content/en/dashboards/guide/screenboard-api-doc.md
  content/en/dashboards/guide/timeboard-api-doc.md
  content/en/dashboards/querying/_index.md
  content/en/dashboards/widgets/_index.md
  content/en/dashboards/widgets/heat_map.md
  content/en/dashboards/widgets/timeseries.md
Labels: FAQ, Guide, dashboards

#9594 Lint headings for Developers
  content/en/developers/dogstatsd/dogstatsd_mapper.md
  content/en/developers/dogstatsd/high_throughput.md
  content/en/developers/events/email.md
  content/en/developers/faq/_index.md
  content/en/developers/faq/use-our-webhook-integration-to-create-a-trello-card.md
  content/en/developers/guide/dogshell-quickly-use-datadog-s-api-from-terminal-shell.md
  content/en/developers/libraries.md
  content/en/developers/metrics/types.md
  content/en/developers/office_hours.md
  content/en/developers/prometheus.md
  content/en/developers/service_checks/_index.md
Labels: FAQ, Guide, developers

#9596 Lint headings for Getting Started
  content/en/getting_started/agent/_index.md
  content/en/getting_started/agent/autodiscovery.md
  content/en/getting_started/api/_index.md
  content/en/getting_started/application/_index.md
  content/en/getting_started/integrations/_index.md
  content/en/getting_started/synthetics/_index.md
  content/en/getting_started/synthetics/private_location.md
  content/en/getting_started/tagging/_index.md
  content/en/getting_started/tagging/assigning_tags.md
  content/en/getting_started/tagging/unified_service_tagging.md
  content/en/getting_started/tagging/using_tags.md
  content/en/getting_started/tracing/_index.md
Labels: getting_started

#9598 Lint headings for Infrastructure
  content/en/infrastructure/hostmap.md
  content/en/infrastructure/livecontainers.md
  content/en/infrastructure/process.md
Labels: infrastructure

#9592 Lint headings in npm, notebooks, rum
  content/en/network_performance_monitoring/devices/data.md
  content/en/network_performance_monitoring/network_page.md
  content/en/notebooks/_index.md
  content/en/real_user_monitoring/browser/collecting_browser_errors.md
  content/en/real_user_monitoring/browser/data_collected.md
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
  content/en/real_user_monitoring/connect_rum_and_traces/_index.md
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/real_user_monitoring/explorer/_index.md
  content/en/real_user_monitoring/explorer/analytics.md
  content/en/real_user_monitoring/faq/content_security_policy.md
  content/en/real_user_monitoring/guide/send-rum-custom-actions.md
Labels: FAQ, Guide, network_performance_monitoring, notebooks, real_user_monitoring
