Repository DataDog/documentation, pull requests merged in 2021-10, with the labels that each got.

#11849 submit metrics missing body data
  data/api/v1/translate_actions.json
  layouts/partials/api/code-example.html
  layouts/partials/api/request-body.html
  src/scripts/build-api-pages.js
Labels: Architecture

#11851 [Doc] Update Kubernetes cluster name detection doc
  content/en/agent/faq/kubernetes-cluster-name-detection.md
Labels: agent, FAQ

#11845 Providing simple documentation and guides for Dashboard RBAC
  content/en/dashboards/_index.md
  content/en/dashboards/guide/_index.md
  content/en/dashboards/guide/how-to-use-terraform-to-restrict-dashboard-edit.md
  static/images/dashboards/dashboard-menu-permissions.png
  static/images/dashboards/dashboard-role-restrictions.png
  static/images/dashboards/guide/terraform_is_read_only_definition.png
  static/images/dashboards/guide/terraform_restricted_role_definition.png
Labels: Images, dashboards, Guide

#11844 Terraform instructions for serverless installation
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
Labels: serverless

#11852 Fix broken links for the build
  content/en/dashboards/guide/how-to-graph-percentiles-in-datadog.md
  content/en/getting_started/agent/_index.md
  content/en/integrations/guide/collect-sql-server-custom-metrics.md
  content/en/logs/guide/logs-rbac-permissions.md
  content/en/tracing/troubleshooting/_index.md
  content/fr/dashboards/guide/how-to-graph-percentiles-in-datadog.md
  content/fr/integrations/guide/collect-sql-server-custom-metrics.md
  content/fr/logs/guide/logs-rbac-permissions.md
  content/ja/dashboards/guide/how-to-graph-percentiles-in-datadog.md
  content/ja/integrations/guide/collect-sql-server-custom-metrics.md
  content/ja/logs/guide/logs-rbac-permissions.md
Labels: integrations, logs, tracing, getting_started, dashboards, Guide

#11848 [ci-app] Fix blank page on Swift instructions on non-supported DCs
  content/en/continuous_integration/setup_tests/swift.md
Labels: continuous_integration

#11854 removing gif
  content/en/monitors/create/_index.md
Labels: monitors

#11853 Specify that the Lambda Extension may be used with the Lambda Libraries
  content/en/serverless/libraries_integrations/library.md
Labels: serverless

#11856 feat: bump latest lambda layer version to 63 for js
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#11858 Update wording for comparing DD_AGENT_HOST particularly for web servers
  content/en/tracing/troubleshooting/connection_errors.md
Labels: tracing

#11614 Update dotnet-framework.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#11859 Fixing broken links
  content/en/account_management/saml/activedirectory.md
  content/en/database_monitoring/troubleshooting.md
  content/en/developers/_index.md
  content/en/developers/faq/_index.md
  content/en/events/_index.md
  content/en/tracing/setup_overview/configure_data_security/_index.md
  content/fr/developers/_index.md
  content/ja/database_monitoring/troubleshooting.md
  content/ja/developers/_index.md
  content/ja/tracing/setup_overview/configure_data_security/_index.md
Labels: events, developers, tracing, account_management, FAQ, database_monitoring

#11869 Update to GKE doc
  content/en/agent/kubernetes/distributions.md
Labels: agent

#11864 Replace `datadog/agent` docker images by `gcr.io/datadoghq/agent` and remove `DOCKER_CONTENT_TRUST=1`
  content/en/agent/docker/prometheus.md
  content/en/agent/guide/container-images-for-docker-environments.md
  content/en/agent/kubernetes/operator_configuration.md
  content/en/security_platform/cloud_workload_security/getting_started.md
  content/fr/agent/docker/_index.md
  content/fr/agent/docker/prometheus.md
  content/fr/agent/kubernetes/operator_configuration.md
  content/fr/developers/dogstatsd/_index.md
  content/fr/integrations/k6.md
  content/ja/agent/docker/prometheus.md
  content/ja/agent/kubernetes/operator_configuration.md
  content/ja/database_monitoring/setup_postgres/rds.md
  content/ja/integrations/azure_iot_edge.md
  content/ja/integrations/k6.md
  content/ja/integrations/systemd.md
  content/ja/network_monitoring/performance/setup.md
Labels: agent, Guide, security_platform

#11778 DOCS-2543 iOS Monitoring Navigation Update
  .gitignore
  Makefile
  config/_default/menus/menus.en.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#11874 [dashboards] add template variable available values
  content/en/dashboards/template_variables.md
  static/images/dashboards/template_variables/stats_tv.png
  static/images/dashboards/template_variables/stats_tv_modal.png
Labels: Images, dashboards

#11857 DOCS-2556 site partials for integrations
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#11860 Add new python tracer configs and update wording
  content/en/tracing/setup_overview/setup/python.md
Labels: tracing

#11872 DOCS-2449 Link to integration db best practices
  content/en/dashboards/_index.md
  content/en/developers/_index.md
Labels: developers, dashboards

#11868 Add Advanced Configuration Section for Raising Sampling Rate
  content/en/database_monitoring/setup_mysql/advanced_configuration.md
  content/en/database_monitoring/setup_postgres/advanced_configuration.md
Labels: database_monitoring

#11870 Add references to ARM lambda layers
  content/en/serverless/installation/go.md
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture, serverless

#11877 Blog Post Link
  content/en/getting_started/profiler/_index.md
  content/en/tracing/profiler/_index.md
  content/en/tracing/profiler/compare_profiles.md
Labels: tracing, getting_started

#11867 fix issue in DOC - cspm is GA on eu
  content/en/security_platform/_index.md
  content/en/security_platform/cspm/_index.md
  content/ja/security_platform/_index.md
  content/ja/security_platform/cspm/_index.md
Labels: security_platform

#11875 docs: Bump py version from 47 to 49
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#11876 DOCS-2420 Update Help page
  content/en/help.md
  i18n/en.json
  layouts/partials/support/support.html
Labels: Architecture

#11882 Update table.md
  content/en/dashboards/widgets/table.md
  static/images/dashboards/widgets/table/table_formulas_functions.png
Labels: Images, dashboards

#11880 Add a clarification note about linking the framework with the app
  content/en/continuous_integration/setup_tests/swift.md
Labels: continuous_integration

#11884 docs: Bump lambda js to 64
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#11627 APM > .NET > Restructure Setup docs
  content/en/tracing/setup_overview/setup/dotnet-core.md
Labels: tracing

#11891 [WEB-1807] - fixing api spec processing syntheticsapi
  content/en/api/v1/synthetics/examples.json
  src/scripts/build-api-pages.js
  src/scripts/tests/build-api-pages.test.js
Labels: Architecture, api

#11893 Fix phrasing for section with variable steps.
  content/en/tracing/connect_logs_and_traces/dotnet.md
Labels: tracing

#12026 New Metrics without Limits doc
  config/_default/menus/menus.en.yaml
  content/en/metrics/faq/metrics-without-limits.md
  content/en/metrics/guide/metrics-without-limits-getting-started.md
  content/en/metrics/metrics-without-limits.md
  static/images/metrics/mwl_aggrs.jpg
  static/images/metrics/mwl_tags.gif
Labels: Architecture, editorial review, Images, metrics, Guide, FAQ

#12141 Add further reading partial
  content/en/metrics/metrics-without-limits.md
Labels: metrics

#12139 Remove overhead sentence for Java tracing
  content/en/tracing/setup_overview/setup/java.md
Labels: tracing

#12143 Fix further reading link text on MwL
  config/_default/menus/menus.en.yaml
  content/en/metrics/metrics-without-limits.md
Labels: Architecture, metrics
