Repository DataDog/documentation, pull requests merged in 2021-09, with the labels that each got.

#11361 Create sensitive_data_detection.md
  content/en/logs/log_configuration/sensitive_data_detection.md
  static/images/logs/sensitive_data_scanner/scanner_custom_rule.png
  static/images/logs/sensitive_data_scanner/scanner_library.png
  static/images/logs/sensitive_data_scanner/scanner_permission.png
  static/images/logs/sensitive_data_scanner/sensitive-data-scanner.png
  static/images/logs/sensitive_data_scanner/sensitive_data_scanner.png
Labels: WORK IN PROGRESS, Images, logs, datascanner

#11578 Update sensitive_data_detection.md
  content/en/logs/log_configuration/sensitive_data_detection.md
  static/images/logs/sensitive_data_scanner/sensitive_data_scanner2.png
Labels: Images, logs

#11575 Fix fallibility error in example vector config
  content/en/agent/vector_aggregation.md
Labels: agent

#11409 Update signals_explorer.md
  content/en/security_platform/cspm/signals_explorer.md
Labels: security_platform

#11579 [DOCS-2440] Fix links in docker agent docs
  content/en/agent/docker/_index.md
Labels: agent

#11577 [CIAPP] Update deprecated DNS for CI Visibility webhooks
  content/en/continuous_integration/setup_pipelines/gitlab.md
  content/ja/continuous_integration/setup_pipelines/gitlab.md
Labels: continuous_integration

#11574 DOCS-2434 Getting Started Continuous Profiler
  content/en/getting_started/profiler/_index.md
Labels: getting_started

#11590 Bump js lambda layer version to 62
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#11588 [CSPM] remove message that EU is not supported
  content/en/security_platform/cspm/getting_started.md
Labels: security_platform

#11585 Update _index.md
  content/en/logs/log_collection/_index.md
Labels: logs

#11586 Fix code samples on serverless installation page
  content/en/serverless/installation/python.md
Labels: serverless

#11587 Add missing HCL highlighting to some Terraform code samples
  content/en/integrations/faq/aws-integration-with-terraform.md
  content/fr/integrations/terraform.md
  content/ja/integrations/terraform.md
Labels: integrations, FAQ

#11595 📝 [RUMF-984] update upgrade guide with Logs changes
  content/en/real_user_monitoring/guide/browser-sdk-upgrade.md
Labels: real_user_monitoring, Guide

#11593 Uchen/getting started reconciliation
  content/en/getting_started/_index.md
Labels: getting_started

#11597 DOCS-2429 firewall note for admission controller
  content/en/agent/cluster_agent/admission_controller.md
Labels: agent

#11603 APM PHP logs injection using current_context()
  content/en/logs/log_collection/php.md
  content/en/tracing/connect_logs_and_traces/php.md
  content/fr/tracing/connect_logs_and_traces/php.md
  content/ja/logs/log_collection/php.md
  content/ja/tracing/connect_logs_and_traces/php.md
Labels: logs, tracing

#11580 DOCS-2427 Lint Getting Started section (part 3)
  content/en/getting_started/_index.md
  content/en/getting_started/tagging/_index.md
  content/en/getting_started/tagging/assigning_tags.md
  content/en/getting_started/tagging/unified_service_tagging.md
  content/en/getting_started/tagging/using_tags.md
  content/en/getting_started/tracing/_index.md
Labels: getting_started

#11600 Fix typo in the Audit Logs section
  content/en/account_management/org_settings.md
Labels: account_management

#11604 [dogstatsd] Clarify event title/message length measurement
  content/en/developers/dogstatsd/datagram_shell.md
Labels: developers

#11572 [WEB-1648] Fix Nav Collapse for Guides
  config/_default/menus/menus.en.yaml
  content/en/getting_started/application/_index.md
  content/en/infrastructure/_index.md
  content/en/metrics/_index.md
  go.mod
  go.sum
  layouts/partials/nav/main-menu.html
  src/scripts/datadog-docs.js
Labels: Architecture, infrastructure, getting_started, metrics

#11609 [DOCS-2435] Add config option to .NET core tracer config options
  content/en/tracing/setup_overview/setup/dotnet-core.md
Labels: tracing

#11613 Add Profiling Estimated Usage Metrics
  content/en/account_management/billing/usage_metrics.md
Labels: account_management

#11612 [WEB-1698] Encode hash in search query url
  src/scripts/components/algolia.js
Labels: Architecture

#11607 update alerting icon
  assets/styles/components/_sidenav.scss
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
  data/partials/home.fr.yaml
  data/partials/home.ja.yaml
  data/partials/home.yaml
  static/images/icons/alert.png
  static/images/icons/alert_p.png
  static/images/svg-icons/alert.svg
Labels: Architecture, Images

#11525 [WEB-480] Replace linkchecker with htmltest
  .gitignore
  .gitlab-ci.yml
  .htmltest.yml
  content/en/account_management/billing/usage_metrics.md
  content/en/agent/vector_aggregation.md
  content/en/monitors/guide/supress-alert-with-downtimes.md
  content/en/synthetics/_index.md
  content/en/synthetics/ci.md
  content/en/tracing/guide/serverless_enable_aws_xray.md
  content/en/tracing/setup_overview/compatibility_requirements/nodejs.md
  content/ja/monitors/guide/supress-alert-with-downtimes.md
  package.json
  yarn.lock
Labels: Architecture, monitors, events, agent, tracing, account_management, synthetics, Guide

#11622 apm/php: release versions in compatibility matrix referto the tracer
  content/en/tracing/setup_overview/compatibility_requirements/php.md
Labels: tracing

#11592 Note on escaping ascii control characters
  content/en/logs/log_configuration/parsing.md
Labels: logs

#11581 DOCS-2411 Azure App Service View
  content/en/serverless/_index.md
  content/en/serverless/azure_app_services.md
Labels: serverless

#11302 Revert "Revert "[k8s][control plane] add openshift 3 and 4 docs""
  content/en/agent/kubernetes/control_plane.md
Labels: agent

#11610 Clarify how an APM host is defined
  content/en/account_management/billing/pricing.md
Labels: account_management

#11557 Add HCP Consul docs
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/hcp-consul.md
Labels: integrations, Guide

#11625 APM > .NET -> Update support messaging on .NET Core 2.1
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-core.md
Labels: tracing

#11631 Fixing links reported broken in build check
  content/en/agent/guide/podman-support-with-docker-integration.md
  content/en/dashboards/guide/quick-graphs.md
Labels: agent, dashboards, Guide

#11307 DOCS-2315 Getting Started with Multistep API Tests Edits
  content/en/getting_started/synthetics/api_test.md
  content/en/getting_started/synthetics/browser_test.md
  content/en/synthetics/multistep.md
  static/images/getting_started/synthetics/defined-steps.png
  static/images/getting_started/synthetics/multistep-test-extract-variables.png
  static/images/synthetics/api_tests/ms_extract_variable2.png
Labels: Images, getting_started, synthetics

#11598 Profile comparison docs
  config/_default/menus/menus.en.yaml
  content/en/tracing/profiler/_index.md
  content/en/tracing/profiler/compare_profiles.md
  static/images/tracing/profiling/compare_hover.png
  static/images/tracing/profiling/compare_recent_versions.mp4
  static/images/tracing/profiling/compare_time_frames.mp4
  static/images/tracing/profiling/comparison_legend.png
Labels: Architecture, Images, tracing

#11641 Algolia config - Updates search special characters
  local/etc/algolia/docs_datadoghq.json
  local/etc/algolia/docs_datadoghq_preview.json
Labels: Architecture

#11642 Fix new page nav entry URL
  config/_default/menus/menus.en.yaml
Labels: Architecture

#11556 go profiler search types: update for delta profile
  content/en/tracing/profiler/search_profiles.md
Labels: tracing

#11637 doc update for end of downtimes new behaviour
  content/en/monitors/downtimes.md
Labels: monitors

#11647 Update session-replay-getting-started.md
  content/en/real_user_monitoring/guide/session-replay-getting-started.md
Labels: real_user_monitoring, Guide

#11646 APM > .NET > Fix links to samples after repository re-arrange
  content/en/tracing/connect_logs_and_traces/dotnet.md
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-core.md
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-framework.md
  content/en/tracing/setup_overview/custom_instrumentation/dotnet.md
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
  content/fr/tracing/connect_logs_and_traces/dotnet.md
  content/fr/tracing/setup_overview/setup/dotnet-core.md
  content/fr/tracing/setup_overview/setup/dotnet-framework.md
  content/ja/tracing/connect_logs_and_traces/dotnet.md
  content/ja/tracing/setup_overview/setup/dotnet-core.md
  content/ja/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#11653 Update getting started guide
  content/en/real_user_monitoring/guide/session-replay-getting-started.md
Labels: real_user_monitoring, Guide

#11643 Add NPM blog post link
  content/en/network_monitoring/performance/_index.md
Labels: network_monitoring

#11623 APM > .NET > add new integrations and update logging
  content/en/tracing/connect_logs_and_traces/dotnet.md
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-core.md
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-framework.md
Labels: tracing

#11644 [DOCS-2448] Tracing section fix lost hash links
  content/en/tracing/connect_logs_and_traces/ruby.md
  content/en/tracing/setup_overview/custom_instrumentation/php.md
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/go.md
Labels: tracing

#11652 Update registry link for agent container image
  content/en/continuous_integration/setup_tests/agent.md
  content/en/network_monitoring/performance/setup.md
  content/en/tracing/guide/ignoring_apm_resources.md
  content/fr/agent/amazon_ecs/apm.md
  content/fr/agent/kubernetes/apm.md
  content/fr/integrations/ecs_fargate.md
  content/fr/integrations/k6.md
  content/fr/integrations/mesos.md
  content/fr/integrations/systemd.md
  content/fr/logs/guide/how-to-set-up-only-logs.md
  content/fr/network_monitoring/performance/setup.md
  content/fr/network_performance_monitoring/installation.md
  content/fr/tagging/assigning_tags.md
  content/ja/continuous_integration/setup_tests/agent.md
  content/ja/integrations/amazon_elasticbeanstalk.md
  content/ja/integrations/ecs_fargate.md
  content/ja/integrations/k6.md
  content/ja/integrations/mesos.md
  content/ja/network_monitoring/performance/setup.md
  content/ja/network_performance_monitoring/installation.md
  static/resources/json/datadog-agent-ecs-fargate.json
  static/resources/json/datadog-agent-ecs-win.json
  static/resources/json/datadog-agent-ecs.json
  static/resources/json/datadog-agent-ecs1.json
  static/resources/json/datadog-agent-sysprobe-ecs.json
  static/resources/json/datadog-agent-sysprobe-ecs1.json
Labels: tracing, Guide, network_monitoring, continuous_integration

#11626 DOCS-2458 Lint Infrastructure section
  content/en/infrastructure/containermap.md
  content/en/infrastructure/hostmap.md
  content/en/infrastructure/list.md
  content/en/infrastructure/livecontainers.md
  content/en/infrastructure/process.md
  content/en/infrastructure/process/increase_process_retention.md
Labels: infrastructure

#11589 DOCS-2454 update Browser SDK CSP documentation
  content/en/real_user_monitoring/faq/content_security_policy.md
Labels: real_user_monitoring, FAQ

#11654 DOCS-2460 Agent Kubernetes Edits
  content/en/agent/kubernetes/_index.md
Labels: agent

#11656 Update sourcemap configuration code snippet.
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
  content/fr/real_user_monitoring/guide/upload-javascript-source-maps.md
  content/ja/real_user_monitoring/guide/upload-javascript-source-maps.md
Labels: real_user_monitoring, Guide

#11097 DOCS-2422 Automate Remediated Threats guide
  content/en/security_platform/guide/_index.md
  content/en/security_platform/guide/automate-the-remediation-of-detected-threats.md
  static/images/security_platform/security_monitoring/guide/automate-the-remediation-of-detected-threats/automation-diagram.png
  static/images/security_platform/security_monitoring/guide/automate-the-remediation-of-detected-threats/new-term-rule.png
  static/images/security_platform/security_monitoring/guide/automate-the-remediation-of-detected-threats/webhook-ip.png
Labels: editorial review, Images, Guide, security_platform

#11630 [rum] Update RUM sdk proxy documentation
  content/en/real_user_monitoring/faq/proxy_rum_data.md
Labels: real_user_monitoring, FAQ

#11659 Remove configuration paramters not available on aurora mysql 5.6
  content/en/database_monitoring/setup_mysql/aurora.md
Labels: database_monitoring

#11658 remove a few more mentions of DockerHub
  content/en/agent/amazon_ecs/_index.md
  content/en/agent/guide/container-images-for-docker-environments.md
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/rds.md
  content/en/security_platform/cloud_workload_security/getting_started.md
  content/fr/agent/amazon_ecs/_index.md
  content/fr/agent/amazon_ecs/apm.md
  content/fr/agent/guide/container-images-for-docker-environments.md
  content/fr/agent/kubernetes/_index.md
  content/fr/integrations/azure_iot_edge.md
  content/fr/integrations/eks_fargate.md
Labels: agent, Guide, security_platform, database_monitoring

#11662 DOCS-2476 Run Synthetic Tests from Private Locations and Getting Started with Private Locations Edits
  content/en/getting_started/synthetics/private_location.md
  content/en/synthetics/private_locations/_index.md
Labels: getting_started, synthetics

#11663 Fix typo in apm.md
  content/en/agent/docker/apm.md
Labels: agent

#11664 Fix borked hashes
  content/en/agent/amazon_ecs/_index.md
  content/en/agent/docker/log.md
  content/en/agent/faq/certificate_verify_failed-error.md
Labels: agent, FAQ

#11665 Log collection note
  content/en/logs/log_collection/_index.md
Labels: logs

#11668 DOCS-2404 Logstream Widget
  content/en/dashboards/widgets/log_stream.md
  static/images/dashboards/widgets/log_stream/log_stream_setup.gif
  static/images/dashboards/widgets/log_stream/log_stream_setup.png
Labels: Images, dashboards

#11678 Add Metric Types alias
  content/en/metrics/types.md
Labels: metrics

#11633 carlos/iconfont-update
  Makefile
  assets/styles/components/_header.scss
  assets/styles/components/_sidenav.scss
  assets/styles/pages/_home.scss
  assets/styles/style.scss
  config/_default/config.yaml
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
  data/partials/home.fr.yaml
  data/partials/home.ja.yaml
  data/partials/home.yaml
  go.mod
  go.sum
  layouts/index.html
  layouts/partials/header/header.html
  layouts/partials/icon.html
  layouts/partials/nav/main-menu.html
Labels: Architecture

#11679 escapin some asterisks
  content/en/dashboards/functions/timeshift.md
Labels: dashboards

#11599 Update send-aws-services-logs-with-the-datadog-kinesis-firehose-desti…
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-kinesis-firehose-destination.md
Labels: logs, Guide

#11674 Session Replay is now in open beta
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/session-replay-getting-started.md
  data/partials/home.yaml
Labels: Architecture, real_user_monitoring, Guide

#11670 [rum] Explicitly mention sdk request method for proxy conf
  content/en/real_user_monitoring/faq/proxy_rum_data.md
Labels: real_user_monitoring, FAQ

#11687 Pronoy/mobile slo widget
  content/en/mobile/_index.md
  static/images/mobile/slo_widget.png
Labels: Images, mobile

#11688 [dashboards] update querying documentation link
  content/en/dashboards/widgets/query_value.md
  content/en/dashboards/widgets/timeseries.md
Labels: dashboards

#11689 Update Stackdriver to GC Logging
  content/en/integrations/faq/list-of-api-source-attribute-value.md
Labels: integrations, FAQ

#11686 [cayetano.delgado] remove broken image tag
  content/en/metrics/agent_metrics_submission.md
Labels: metrics

#11692 add v1 restriction for Vector aggregation
  content/en/agent/vector_aggregation.md
Labels: agent

#11690 DOCS-2431 Getting Started with Session Replay Edits
  content/en/real_user_monitoring/guide/session-replay-getting-started.md
Labels: real_user_monitoring, Guide

#11693 Logs borked hashes
  content/en/logs/explorer/_index.md
  content/en/logs/explorer/watchdog_insights.md
  content/en/logs/guide/ease-troubleshooting-with-cross-product-correlation.md
  content/en/logs/guide/getting-started-lwl.md
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
  content/en/logs/log_configuration/archives.md
  content/fr/logs/guide/getting-started-lwl.md
  content/ja/logs/archives/_index.md
  content/ja/logs/guide/getting-started-lwl.md
  content/ja/logs/log_configuration/archives.md
  content/ja/serverless/forwarder.md
  content/ja/serverless/libraries_integrations/forwarder.md
Labels: logs, Guide

#11694 Update _index.md
  content/en/logs/log_collection/_index.md
Labels: logs

#11649 Synthetics SSL Tests Edits
  content/en/synthetics/api_tests/ssl_tests.md
Labels: synthetics

#11695 📝 [Browser SDK] update CSP for us3/gov
  content/en/real_user_monitoring/faq/content_security_policy.md
Labels: real_user_monitoring, FAQ

#11667 [DOCS-2488]Add documentation for using extension with private link
  content/en/agent/guide/private-link.md
  content/en/serverless/guide/_index.md
  content/en/serverless/guide/extension_private_link.md
Labels: editorial review, agent, Guide, serverless

#11684 (DOCS-2484) Add environment variables to tracing obfuscation.
  content/en/tracing/setup_overview/configure_data_security/_index.md
Labels: tracing

#11700 [WEB-1721] Menu update for guides
  config/_default/menus/menus.en.yaml
  src/scripts/datadog-docs.js
Labels: Architecture

#11702 CI app - Swift - Update minimum supported version
  content/en/continuous_integration/setup_tests/swift.md
Labels: continuous_integration

#11704 DOCS-2442 Fix broken hash
  content/en/network_monitoring/performance/network_page.md
Labels: network_monitoring

#11639 Rancher 2.5 control plane docs
  content/en/agent/kubernetes/control_plane.md
Labels: agent

#11707 Add a sentence for high availability
  content/en/agent/cluster_agent/clusterchecks.md
Labels: agent

#11703 Add retention for query metrics and query samples for DBM
  content/en/developers/faq/data-collection-resolution-retention.md
Labels: developers, FAQ

#11576 DOCS-2364 Alerting new documentation structure
  config/_default/menus/menus.en.yaml
  content/en/agent/kubernetes/control_plane.md
  content/en/integrations/guide/hcp-consul.md
  content/en/monitors/_index.md
  content/en/monitors/create/_index.md
  content/en/monitors/create/configuration.md
  content/en/monitors/create/types/_index.md
  content/en/monitors/create/types/anomaly.md
  content/en/monitors/create/types/apm.md
  content/en/monitors/create/types/composite.md
  content/en/monitors/create/types/custom_check.md
  content/en/monitors/create/types/event.md
  content/en/monitors/create/types/forecasts.md
  content/en/monitors/create/types/host.md
  content/en/monitors/create/types/integration.md
  content/en/monitors/create/types/log.md
  content/en/monitors/create/types/metric.md
  content/en/monitors/create/types/network.md
  content/en/monitors/create/types/outlier.md
  content/en/monitors/create/types/process.md
  content/en/monitors/create/types/process_check.md
  content/en/monitors/create/types/real_user_monitoring.md
  content/en/monitors/create/types/watchdog.md
  content/en/monitors/guide/_index.md
  content/en/monitors/guide/alert-on-no-change-in-value.md
  content/en/monitors/guide/slo-checklist.md
  content/en/monitors/guide/suppress-alert-with-downtimes.md
  content/en/monitors/manage/_index.md
  content/en/monitors/manage/check_summary.md
  content/en/monitors/manage/search.md
  content/en/monitors/manage/status.md
  content/en/monitors/monitor_types/_index.md
  content/en/monitors/notify/_index.md
  content/en/monitors/notify/downtimes.md
  content/en/monitors/notify/variables.md
  content/en/tracing/connect_logs_and_traces/dotnet.md
  static/images/monitors/create.png
  static/images/monitors/create/check_thresholds_alert_warn.png
  static/images/monitors/create/check_thresholds_recovery.png
  static/images/monitors/create/choose_monitor_type.gif
  static/images/monitors/create/preview_graph_monitor.gif
  static/images/monitors/create/preview_graph_thresholds.png
  static/images/monitors/manage.png
  static/images/monitors/notify.png
Labels: Architecture, monitors, Images, integrations, agent, tracing, Guide

#11713 fix broken links in notifications page
  content/en/monitors/manage/_index.md
  content/en/monitors/notify/_index.md
Labels: monitors

#11175 [WEB-1580] - update push pull folder frontmatter
  layouts/partials/page-edit.html
  local/bin/py/build/actions/pull_and_push_folder.py
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#11696 Synthetics Getting started guide update
  content/en/getting_started/synthetics/_index.md
  content/en/getting_started/synthetics/api_test.md
  content/en/getting_started/synthetics/browser_test.md
Labels: getting_started

#11471 [CIAPP-2540] Add buildkite CI app integration docs
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/setup_pipelines/_index.md
  content/en/continuous_integration/setup_pipelines/buildkite.md
Labels: Architecture, continuous_integration

#11496 [CIAPP-2255] Add CirclecI docs for webhooks for ci visibility
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/setup_pipelines/_index.md
  content/en/continuous_integration/setup_pipelines/circleci.md
Labels: Architecture, continuous_integration

#11708 [agent] Update kubernetes_state_core documentation
  content/en/integrations/kubernetes_state_core.md
Labels: integrations

#11721 Adds increased logs disclaimer
  content/en/agent/troubleshooting/debug_mode.md
Labels: agent

#11710 Update Links in RUM & Session Replay Page
  content/en/real_user_monitoring/_index.md
Labels: real_user_monitoring

#11714 apm/php: set service/resource in OT tracing
  content/en/tracing/setup_overview/open_standards/php.md
Labels: tracing

#11716 add Session Replay worker to CSP docs
  content/en/real_user_monitoring/faq/content_security_policy.md
Labels: real_user_monitoring, FAQ

#11722 DBM update aurora docs
  content/en/database_monitoring/setup_mysql/aurora.md
Labels: database_monitoring

#11728 New GCP logs image
  static/images/integrations/google_cloud_platform/select_push_method.png
Labels: Images

#11715 apm/php: explain where error log messages go
  content/en/tracing/setup_overview/setup/php.md
Labels: tracing

#11726 (DOCS-2502) Move images from developers/metrics to metrics dir
  static/images/metrics/agent_metrics_submission/metrics_metrics_summary.png
  static/images/metrics/custom_metrics/count_of_metrics.png
  static/images/metrics/custom_metrics/custom-metrics-1.jpg
  static/images/metrics/custom_metrics/custom_metric_1.png
  static/images/metrics/custom_metrics/logic_metric.png
  static/images/metrics/custom_metrics/metric_aggregator.png
  static/images/metrics/custom_metrics/metric_count.png
  static/images/metrics/custom_metrics/metric_summary.png
  static/images/metrics/custom_metrics/metric_summary_2.png
  static/images/metrics/custom_metrics/metric_summary_3.png
  static/images/metrics/dogstatsd_metrics_submission/dogstatsd.png
  static/images/metrics/dogstatsd_metrics_submission/gauge.png
  static/images/metrics/dogstatsd_metrics_submission/graph-guides-metrics-page-views.png
  static/images/metrics/dogstatsd_metrics_submission/graph-guides-metrics-query-times.png
  static/images/metrics/dogstatsd_metrics_submission/histogram.png
  static/images/metrics/dogstatsd_metrics_submission/increment_decrement.png
  static/images/metrics/dogstatsd_metrics_submission/increment_decrement_cumsum.png
  static/images/metrics/dogstatsd_metrics_submission/set.png
  static/images/metrics/dogstatsd_metrics_submission/timer.png
  static/images/metrics/type_modifiers/metric_type.png
  static/images/metrics/types/count_metric.png
  static/images/metrics/types/gauge_metric.png
  static/images/metrics/types/rate_metric.png
  static/images/metrics/units/annotated_ops.png
  static/images/metrics/units/postgres_commits.png
  static/images/metrics/units/redis_dash_metrics_units.png
Labels: Images

#11733 Clarify logs_config.use_http for Vector config
  content/en/agent/vector_aggregation.md
Labels: agent

#11723 DBM update troubleshooting.md
  content/en/database_monitoring/troubleshooting.md
Labels: database_monitoring

#11685 Fix agent container registry URL
  content/en/security_platform/cloud_workload_security/getting_started.md
Labels: security_platform

#11616 julian.kozianski/add iis best practice core
  content/en/tracing/setup_overview/setup/dotnet-core.md
Labels: tracing

#11740 Note on metrics monitor threshold value
  content/en/monitors/create/types/metric.md
Labels: monitors

#11742 Fix typo in startSessionReplayRecording sample code
  content/en/real_user_monitoring/guide/session-replay-getting-started.md
Labels: real_user_monitoring, Guide

#11675 [CIAPP] Add doc about how to configure CI Visibility in Jenkins via Groovy scripts
  content/en/continuous_integration/setup_pipelines/jenkins.md
Labels: continuous_integration

#11741 fix redirect
  content/en/metrics/dogstatsd_metrics_submission.md
Labels: metrics

#11743 duplicate causing an issue in the api spec
  config/_default/menus/menus.en.yaml
Labels: Architecture

#11737 (DOCS-2507) re-remove this sidebar nav item
  config/_default/menus/menus.en.yaml
Labels: Architecture

#11720 Update _index.md
  content/en/getting_started/logs/_index.md
Labels: getting_started

#11745 fix metrics developers redirects
  content/en/developers/dogstatsd/unix_socket.md
  content/en/metrics/agent_metrics_submission.md
  content/en/metrics/custom_metrics.md
  content/en/metrics/powershell_metrics_submission.md
  content/en/metrics/type_modifiers.md
  content/en/metrics/types.md
  content/en/metrics/units.md
Labels: developers, metrics

#11717 DOCS-2512 Tag Enforcement in Synthetics Settings
  content/en/synthetics/settings/_index.md
  go.sum
  static/images/synthetics/settings/tag_enforcement.png
Labels: Images, synthetics

#11619 Clarifying recording flow in case of config options
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/guide/app-that-requires-login.md
Labels: synthetics, Guide

#11724 apm/php: document how to trace long running scripts
  content/en/tracing/setup_overview/setup/php.md
  static/images/tracing/setup/php/long-running-cli.jpg
  static/images/tracing/setup/php/short-running-cli.jpg
Labels: Images, tracing

#11747 Fix product URLs
  config/_default/menus/menus.en.yaml
Labels: Architecture

#11727 Create a Getting Started Guide for Database Monitoring
  config/_default/menus/menus.en.yaml
  content/en/getting_started/_index.md
  content/en/getting_started/database_monitoring/_index.md
  static/images/database_monitoring/dashboard_change_postgres.png
  static/images/database_monitoring/dashboard_change_widget.png
  static/images/database_monitoring/dbm_qm_sort_time.png
  static/images/database_monitoring/dbm_qs_explain_plan.png
  static/images/database_monitoring/dbm_qs_sort_duration.png
Labels: Architecture, Images, getting_started

#11596 DOCS-1680 Synthetics Multistep API Tests Edits
  content/en/synthetics/multistep.md
  content/en/synthetics/settings/_index.md
  static/images/synthetics/api_tests/create_request2.png
Labels: Images, synthetics

#11749 Update Logs pages for SEO
  content/en/getting_started/logs/_index.md
  content/en/logs/_index.md
Labels: logs, getting_started

#11748 Add blog links
  content/en/getting_started/incident_management/_index.md
  content/en/monitors/incident_management/_index.md
  content/en/notebooks/_index.md
Labels: monitors, getting_started, notebooks

#11754 Bump serverless layer versions
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#11752 Update doc for statefulset support
  content/en/infrastructure/livecontainers.md
Labels: infrastructure

#11757 DOCS-2525 Azure Troubleshooting Link Fix
  content/en/integrations/faq/azure-troubleshooting.md
Labels: integrations, FAQ

#11758 Add examples for how to use DD_TRACE_AGENT_URL
  content/en/tracing/setup_overview/setup/python.md
Labels: tracing

#11583 DOCS-2413 Synthetic Settings Screenshots Update
  content/en/synthetics/browser_tests/actions.md
  content/en/synthetics/multistep.md
  content/en/synthetics/settings/_index.md
  static/images/synthetics/api_tests/assertions2.png
  static/images/synthetics/api_tests/ms_define_request2.png
  static/images/synthetics/api_tests/ms_extract_variable3.png
  static/images/synthetics/browser_tests/assertions.png
  static/images/synthetics/browser_tests/browser_test_vft2.mp4
  static/images/synthetics/browser_tests/extracted_variable.png
  static/images/synthetics/browser_tests/http_request2.png
  static/images/synthetics/browser_tests/recorder_http_requests2.png
  static/images/synthetics/settings/variable_fromhttp_2.png
  static/images/synthetics/settings/variable_fromhttp_3.png
  static/images/synthetics/settings/variable_value_2.png
Labels: Images, synthetics

#11433 DOCS-2319 Synthetic Monitoring API Test, Browser Test, and Multistep API Test Edits
  content/en/synthetics/api_tests/dns_tests.md
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/api_tests/icmp_tests.md
  content/en/synthetics/api_tests/ssl_tests.md
  content/en/synthetics/api_tests/tcp_tests.md
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/multistep.md
  content/en/synthetics/settings/_index.md
  static/images/synthetics/settings/restrict-access2.png
Labels: Images, synthetics

#11760 Line for custom formats in date remapper
  content/en/logs/log_configuration/processors.md
Labels: logs

#11761 Synthetics RBAC - Clarification
  content/en/synthetics/api_tests/dns_tests.md
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/api_tests/icmp_tests.md
  content/en/synthetics/api_tests/ssl_tests.md
  content/en/synthetics/api_tests/tcp_tests.md
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/private_locations/_index.md
  content/en/synthetics/settings/_index.md
Labels: synthetics

#11763 Add explicit mention of OpenJ9 for requirements
  content/en/tracing/profiler/enabling/java.md
Labels: tracing

#11765 Improve wording of note about spans retained by intelligent retention
  content/en/tracing/trace_retention_and_ingestion/_index.md
Labels: tracing

#11769 [NTGW] Update link to Logs API
  content/en/developers/marketplace/_index.md
Labels: developers

#11764 [Documentation update] [Live containers]
  content/en/infrastructure/livecontainers.md
Labels: infrastructure

#11768 Carlos/iconfont infra alerting update
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
  data/partials/home.fr.yaml
  data/partials/home.ja.yaml
  data/partials/home.yaml
  go.mod
  go.sum
Labels: Architecture

#11756 AIX Agent: Update list of available integrations
  content/en/agent/basic_agent_usage/aix.md
Labels: agent

#11774 [Session Replay] Getting Started with Session Replay Edits
  content/en/real_user_monitoring/guide/session-replay-getting-started.md
Labels: real_user_monitoring, Guide

#11753 Remove Network Widget which does not exist as such
  config/_default/menus/menus.en.yaml
  content/en/dashboards/widgets/_index.md
  content/en/dashboards/widgets/network.md
  content/en/dashboards/widgets/timeseries.md
  content/en/network_monitoring/performance/network_map.md
  content/en/network_monitoring/performance/network_page.md
  content/en/network_monitoring/performance/setup.md
Labels: Architecture, network_performance_monitoring, dashboards, under_review, network_monitoring

#11775 (DOCS-2268) Clarify metrics units information.
  content/en/metrics/units.md
Labels: metrics

#11776 [Session Replay] RUM & Session Replay Product Landing Page Edits
  content/en/real_user_monitoring/_index.md
Labels: real_user_monitoring

#11777 Fix naming collision with 'Host Map' pages.
  config/_default/menus/menus.en.yaml
Labels: Architecture

#11779 [docs]kris-casey/add clarification
  content/en/agent/amazon_ecs/logs.md
Labels: agent

#11739 [ci-app] CI Visibility – Add `cypress` Instructions
  content/en/continuous_integration/setup_tests/javascript.md
Labels: continuous_integration

#11782 Fix os-release volume for CWS docker
  content/en/security_platform/cloud_workload_security/getting_started.md
Labels: security_platform

#11570 updating metric streaming guide
  content/en/integrations/guide/aws-cloudwatch-metric-streams-with-kinesis-data-firehose.md
Labels: integrations, Guide

#11790 [doc] edit typo
  content/en/agent/kubernetes/distributions.md
Labels: agent

#11794 Adding in events explorer beta note in US1 and EU
  content/en/events/_index.md
  content/en/events/explorer/_index.md
Labels: events

#11796 [doc] Python - Connect log and traces - trace remapper suggestion
  content/en/tracing/connect_logs_and_traces/python.md
Labels: tracing

#11797 Update description for lambda.enhanced.errors metric
  content/en/serverless/enhanced_lambda_metrics/_index.md
Labels: serverless

#11681 [CIAPP] Document custom spans
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/explore_pipelines.md
  content/en/continuous_integration/setup_pipelines/_index.md
  content/en/continuous_integration/setup_pipelines/circleci.md
  content/en/continuous_integration/setup_pipelines/custom_spans.md
  content/en/continuous_integration/setup_pipelines/jenkins.md
  static/images/ci/ci-custom-spans.png
Labels: Architecture, Images, agent, logs, synthetics, continuous_integration

#11795 [DOCS-2554] add sigv4
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/multistep.md
Labels: synthetics

#11800 Updates for SAML Certs and SAML Settings
  content/en/account_management/org_settings.md
  content/en/account_management/saml/_index.md
  static/images/account_management/saml/saml_enable.png
  static/images/account_management/saml/saml_enabled.png
  static/images/account_management/saml/saml_metadata_url.png
  static/resources/crt/eu.saml.encryption.pem
Labels: Images, account_management

#11220 [DOCS-2467] Add SECL generated documentation from datadog-agent (cloud workload security)
  .gitignore
  Makefile
  config/_default/menus/menus.en.yaml
  content/en/security_platform/cloud_workload_security/agent_expressions.md
  content/en/security_platform/cloud_workload_security/workload_security_rules.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, security_platform

#11807 [cayetano.delgado] docs-en fixing broken link
  content/en/dashboards/functions/_index.md
Labels: dashboards
