Repository DataDog/documentation, pull requests merged in 2022-04, with the labels that each got.

#13397 Remove "as default" from DogStatsD How it works
  content/en/developers/dogstatsd/_index.md
Labels: developers, under_review

#13581 convert alias fm to array
  content/en/continuous_integration/guides/flaky_test_management.md
  content/en/continuous_integration/guides/rum_integration.md
  content/ja/continuous_integration/guides/flaky_test_management.md
Labels: continuous_integration

#13585 profiler: remove incorrect line about Hotspots being off by default
  content/en/tracing/profiler/connect_traces_and_profiles.md
Labels: tracing

#13586 removing beta flag from .net lambda
  content/en/serverless/installation/dotnet.md
Labels: serverless

#13587 Fix a silly copy-paste mistake
  content/en/account_management/rbac/_index.md
Labels: account_management

#13553 Update the endpoint ingestion URL
  content/en/tracing/profiler/profiler_troubleshooting.md
Labels: editorial review, tracing

#13566 [DOCS-3167] Regionalize logs endpoint sections
  content/en/agent/guide/network.md
Labels: agent, Guide

#13594 mike.dessailly/api-limits-page-minor-edit
  content/en/api/latest/rate-limits/_index.md
Labels: api

#13588 (DOCS-3290) make default enforced interval more clear
  content/en/dashboards/functions/rollup.md
Labels: dashboards

#13528 Update Signal Management high-level documentation
  content/en/security_platform/security_signal_management/_index.md
Labels: editorial review, security_platform

#13601 Update pipelines.md with usage metrics header
  content/en/logs/log_configuration/pipelines.md
Labels: logs

#13602 Fix typo "ccan" to "can"
  content/en/security_platform/explorer.md
Labels: security_platform

#13603 updates ruby tracing compatibility page
  content/en/tracing/setup_overview/compatibility_requirements/ruby.md
Labels: tracing

#13493 DOCS-3296 Adds the Synthetics CircleCI Orb README into Documentation
  .gitignore
  Makefile
  config/_default/menus/menus.en.yaml
  content/en/synthetics/cicd_integrations/_index.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, synthetics

#13477 Adding release notes to the further reading
  content/en/agent/docker/_index.md
  content/en/agent/kubernetes/_index.md
  content/en/continuous_integration/_index.md
  content/en/dashboards/_index.md
  content/en/getting_started/dashboards/_index.md
  content/en/infrastructure/_index.md
  content/en/logs/_index.md
  content/en/monitors/_index.md
  content/en/monitors/incident_management/_index.md
  content/en/network_monitoring/_index.md
  content/en/real_user_monitoring/_index.md
  content/en/security_platform/_index.md
  content/en/security_platform/guide/how-appsec-works.md
  content/en/serverless/_index.md
  content/en/synthetics/_index.md
  content/en/tracing/_index.md
  content/en/watchdog/_index.md
Labels: monitors, agent, logs, tracing, real_user_monitoring, infrastructure, getting_started, synthetics, dashboards, Guide, serverless, network_monitoring, security_platform, continuous_integration, watchdog

#13505 Signal Management
  config/_default/menus/menus.en.yaml
  content/en/security_platform/security_signal_management/_index.md
Labels: Architecture, security_platform

#13552 new documentation for ingestion control page
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/ingestion_control_page.md
  content/en/tracing/legacy_app_analytics/_index.md
  content/en/tracing/trace_ingestion/_index.md
  content/en/tracing/trace_ingestion/ingestion_controls.md
  static/images/tracing/trace_indexing_and_ingestion/ingestion_control_page.png
  static/images/tracing/trace_indexing_and_ingestion/service_ingestion_summary.png
  static/images/tracing/trace_indexing_and_ingestion/service_traffic_breakdown.png
Labels: Images, tracing, Guide

#13608 [CIAPP] Add a disclaimer about UDS support in the Jenkins plugin for CI Visibility
  content/en/continuous_integration/setup_pipelines/jenkins.md
Labels: continuous_integration

#13530 Explain how to disable GitHub Actions CI Viz integration
  content/en/continuous_integration/setup_pipelines/github.md
Labels: continuous_integration

#13613 Update API Source Attributes
  content/en/integrations/faq/list-of-api-source-attribute-value.md
Labels: integrations, FAQ

#13615 Connor.ward/mobile
  content/en/mobile/_index.md
  content/en/monitors/incident_management/incident_settings.md
Labels: monitors, mobile

#13616 Added "in" to Role-based access control section
  content/en/security_platform/security_signal_management/_index.md
Labels: security_platform

#13619 updates default branch name for `dd-sdk-ios` in pull config
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#13466 [DOCS-3264] Add review OOTB rules section and modify query
  content/en/integrations/guide/amazon-eks-audit-logs.md
Labels: integrations, Guide

#13634 Docs Build Fix: Revert Default Branches
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#13534 Ingestion Volume Reduction guide
  content/en/tracing/guide/trace_ingestion_volume_control.md
  static/images/tracing/guide/trace_ingestion_volume_control/ingestion_overage.png
  static/images/tracing/guide/trace_ingestion_volume_control/sampling_25_percent.png
  static/images/tracing/guide/trace_ingestion_volume_control/sampling_99_percent.png
Labels: editorial review, Images, tracing, Guide

#13371 [DOCS-3324] Document agent dual shipping features
  content/en/agent/guide/_index.md
  content/en/agent/guide/dual-shipping.md
Labels: editorial review, agent, Guide

#13333 tracing(python): update aiohttp support
  content/en/tracing/setup_overview/compatibility_requirements/python.md
Labels: tracing

#13595 Update timeline of events migration
  content/en/events/guides/migrating_to_new_events_features.md
Labels: events

#13647 APM > .NET > Restore DD_TRACE_METHODS documentation
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#13642 Update terminology from Resolved to Archived
  content/en/security_platform/security_signal_management/_index.md
Labels: security_platform

#13323 (DOCS-3075) Split DBM troubleshooting into DB specific pages
  config/_default/menus/menus.en.yaml
  content/en/database_monitoring/setup_mysql/troubleshooting.md
  content/en/database_monitoring/setup_postgres/troubleshooting.md
  content/en/database_monitoring/troubleshooting.md
Labels: Architecture, database_monitoring

#13643 DOCS-1188 Run Synthetic Tests from Private Locations Edit
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#13640 Bump datadog-lambda-python layer to version 56 and node to 76
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#13609 CI Visibility - dotnet agentless beta documentation
  content/en/continuous_integration/setup_tests/dotnet.md
Labels: continuous_integration

#13483 Add Heroku Postgres DB monitoring guide
  config/_default/menus/menus.en.yaml
  content/en/database_monitoring/guide/_index.md
  content/en/database_monitoring/guide/heroku-postgres.md
Labels: Architecture, Guide, database_monitoring

#13448 [SLS-2087] Add Serverless Framework tab to All Runtimes
  content/en/serverless/installation/dotnet.md
  content/en/serverless/installation/go.md
  content/en/serverless/installation/java.md
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
  content/en/serverless/installation/ruby.md
Labels: editorial review, serverless

#13591 DOCS-3305 correct log filtering regex
  content/en/serverless/libraries_integrations/extension.md
Labels: serverless

#13589 DOCS-3309 add .net to page
  content/en/serverless/libraries_integrations/library.md
Labels: serverless

#13590 DOCS-3312 tagging getting started - key:value clarity
  content/en/getting_started/tagging/_index.md
Labels: getting_started

#13654 Add info about Threshold Queries to Metric-based SLOs
  content/en/monitors/service_level_objectives/metric.md
Labels: monitors

#13241 Document dogstatsd protocol v1.2
  content/en/developers/dogstatsd/datagram_shell.md
Labels: agent, developers

#13655 add blog link to docs
  content/en/synthetics/api_tests/grpc_tests.md
Labels: synthetics

#13662 Remove incorrectly listed "OOTB" facets
  content/en/logs/explorer/facets.md
Labels: logs

#13665 Connor.ward/mobile
  content/en/mobile/_index.md
  static/images/mobile/dd_mobile_app_qr_3.png
Labels: Images, mobile

#13076 [Agent] Vector aggregation update with new config key
  content/en/agent/vector_aggregation.md
Labels: agent

#13670 [DOCS-3385] Add image to 'How AppSec works'
  content/en/security_platform/guide/how-appsec-works.md
  static/images/security_platform/guide/How_Application_Security_Works_d1.png
Labels: Images, Guide, security_platform

#13657 Add weighted modifier to modifiers doc
  content/en/metrics/type_modifiers.md
Labels: metrics

#13620 [DOCS-3349] Add Vector custom metrics tag governance guide
  config/_default/menus/menus.en.yaml
  content/en/metrics/custom_metrics/guide/_index.md
  content/en/metrics/custom_metrics/guide/custom-metrics-governance-drop-metrics-missing-specific-tags.md
Labels: Architecture, editorial review, metrics

#13679 Update NPM retention docs
  content/en/developers/guide/data-collection-resolution-retention.md
  content/en/network_monitoring/dns/_index.md
  content/en/network_monitoring/performance/network_page.md
Labels: developers, Guide, network_monitoring

#13671 fix indentation
  content/en/developers/dogstatsd/unix_socket.md
Labels: developers

#13636 tracing/python: update for v1.0
  content/en/logs/guide/ease-troubleshooting-with-cross-product-correlation.md
  content/en/tracing/setup_overview/setup/python.md
  content/en/tracing/troubleshooting/tracer_debug_logs.md
  content/fr/logs/guide/ease-troubleshooting-with-cross-product-correlation.md
  content/fr/tracing/setup_overview/setup/python.md
  content/fr/tracing/troubleshooting/tracer_debug_logs.md
  content/ja/logs/guide/ease-troubleshooting-with-cross-product-correlation.md
  content/ja/tracing/setup/python.md
  content/ja/tracing/setup_overview/setup/python.md
  content/ja/tracing/troubleshooting/tracer_debug_logs.md
Labels: logs, tracing, Guide

#13629 Update APM .NET runtime policy
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-core.md
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-framework.md
Labels: tracing

#13669 Introducing user-defined percentiles
  content/en/metrics/distributions.md
  static/images/metrics/distributions/advancedquery.mp4
  static/images/metrics/distributions/graph_percentiles.mp4
  static/images/metrics/distributions/percentile_qvw.jpg
Labels: Images, metrics

#13678 add sqlserver beta banner to index
  content/en/database_monitoring/_index.md
  content/en/database_monitoring/setup_sql_server/_index.md
Labels: database_monitoring

#13683 Remove Node.js profiler public beta banner
  content/en/tracing/profiler/enabling/nodejs.md
Labels: tracing

#13675 [AIT-1741] update Python tracer setup for v1.0.0 release
  content/en/tracing/setup_overview/setup/python.md
Labels: tracing

#13677 [AIT-1729] update Python tracer compatibility for v1.0.0 release
  content/en/tracing/setup_overview/compatibility_requirements/python.md
Labels: tracing

#13686 Update custom-metrics-governance-drop-metrics-missing-specific-tags.md
  content/en/metrics/custom_metrics/guide/custom-metrics-governance-drop-metrics-missing-specific-tags.md
Labels: metrics

#13673 Update how-appsec-works.md
  content/en/security_platform/guide/how-appsec-works.md
Labels: Guide, security_platform

#13457 Remove principal parameter in IAM policy
  content/en/logs/log_configuration/archives.md
Labels: under_review

#13687 Delete duplicate file causing naming collision
  static/images/metrics/distributions/percentile_QVW.jpg
Labels: Images

#13617 Add Watchdog RCA page
  config/_default/menus/menus.en.yaml
  content/en/watchdog/rca.md
  static/images/watchdog/rca/root_cause.png
  static/images/watchdog/rca/views_impacted.png
Labels: Architecture, editorial review, Images, watchdog

#13659 [DOCS-2786] Update Watchdog main page
  content/en/watchdog/_index.md
  static/images/watchdog/watchdog.png
  static/images/watchdog/watchdog_monitors.png
  static/images/watchdog/watchdog_page.png
  static/images/watchdog/watchdog_story.png
Labels: Images, watchdog

#13660 [DOCS-3319] Replace performance_schema with performance_schema_max_sql_text_length
  content/en/database_monitoring/setup_mysql/selfhosted.md
Labels: Do Not Merge, database_monitoring

#13633 [DOCS-3376] Connect RUM and Traces Edits
  content/en/real_user_monitoring/connect_rum_and_traces/_index.md
Labels: under_review

#13663 DOCS-3310 Alerting with RUM Data Guide
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/alerting-with-rum.md
  static/images/real_user_monitoring/guide/alerting-with-rum/error-rate-example-monitor.png
  static/images/real_user_monitoring/guide/alerting-with-rum/export-to-monitor.mp4
  static/images/real_user_monitoring/guide/alerting-with-rum/high-largest-contentful-paint-example-monitor.png
  static/images/real_user_monitoring/guide/alerting-with-rum/high-rum-views-errors.png
  static/images/real_user_monitoring/guide/alerting-with-rum/revenue-dips-example-alerting-conditions.png
  static/images/real_user_monitoring/guide/alerting-with-rum/revenue-dips-example-monitor.png
Labels: Images, real_user_monitoring, Guide

#13626 [APM] .NET 6 is supported for functions
  content/en/serverless/azure_app_services.md
Labels: serverless

#13429 all lambda runtimes
  content/en/serverless/distributed_tracing/_index.md
Labels: serverless

#13698 Bump dd-trace-dotnet layer to version 2
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#13692 Error default retention filter
  content/en/tracing/trace_ingestion/_index.md
  content/en/tracing/trace_retention/_index.md
  static/images/tracing/trace_indexing_and_ingestion/RetentionFilters.png
  static/images/tracing/trace_indexing_and_ingestion/retention_filters/create_retention_filter.png
  static/images/tracing/trace_indexing_and_ingestion/retention_filters/retention_filter_page.png
Labels: Images, tracing

#13689 Add blog links
  content/en/real_user_monitoring/_index.md
  content/en/synthetics/api_tests/grpc_tests.md
Labels: real_user_monitoring, synthetics

#13690 Fixed link to Python StatsD documentation about metric type Set
  content/en/metrics/types.md
  content/fr/developers/metrics/types.md
  content/ja/developers/metrics/types.md
  content/ja/metrics/types.md
Labels: metrics

#13695 Update synthetics minimum version for ddtrace-py
  content/en/synthetics/apm/_index.md
Labels: synthetics

#13555 disable Session Replay document correction
  content/en/real_user_monitoring/session_replay/_index.md
Labels: editorial review, real_user_monitoring

#13703 Update dogstatsd_metrics_submission.md code examples
  content/en/metrics/dogstatsd_metrics_submission.md
Labels: metrics

#13709 Update PHP AppSec documentation
  content/en/security_platform/application_security/getting_started/php.md
  content/en/security_platform/application_security/troubleshooting.md
Labels: security_platform

#13713 add missing colon to integrations yaml file for Kubernetes
  content/en/agent/kubernetes/integrations.md
Labels: agent

#13716 Fix Typo
  content/en/account_management/billing/_index.md
Labels: account_management

#13719 Fix incorrect `pg_stat_statements.track` value
  content/en/database_monitoring/setup_postgres/gcsql.md
Labels: database_monitoring

#13718 Update to make the app registration more obvious
  content/en/logs/log_configuration/archives.md
Labels: logs

#13688 DOCS 3384: Kubernetes section reorg
  config/_default/menus/menus.en.yaml
  content/en/agent/kubernetes/_index.md
  content/en/agent/kubernetes/configuration.md
  content/en/agent/kubernetes/installation.md
Labels: Architecture, agent

#13724 Document that all users have read permissions on all monitors
  content/en/monitors/notify/_index.md
Labels: monitors

#13729 added initctl comment. some Linux 6 systems use initctl instead of systemctl
  content/en/agent/basic_agent_usage/redhat.md
Labels: agent

#13115 USM first draft
  content/en/tracing/universal_service_monitoring/_index.md
  static/images/tracing/universal_service_monitoring/select_service_operation.png
  static/images/tracing/universal_service_monitoring/service_overview.mp4
Labels: Images, tracing

#13730 fixed end of tabs so that comments about systemctl initctl show all the time (for all languages)
  content/en/agent/basic_agent_usage/redhat.md
  content/fr/agent/basic_agent_usage/redhat.md
  content/ja/agent/basic_agent_usage/redhat.md
Labels: agent

#13301 DOCS-3154 Shadow DOM in Browser Tests Guide
  content/en/getting_started/synthetics/_index.md
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/browser-tests-using-shadow-dom.md
  static/images/synthetics/guide/browser-tests-using-shadow-dom/closed-shadow-dom.png
  static/images/synthetics/guide/browser-tests-using-shadow-dom/open-shadow-dom.png
  static/images/synthetics/guide/browser-tests-using-shadow-dom/using-tab-keys-for-shadow-dom.mp4
  static/images/synthetics/guide/browser-tests-using-shadow-dom/validate-text-in-shadow-dom.png
  static/images/synthetics/guide/browser-tests-using-shadow-dom/validate-text-type.png
  static/images/synthetics/guide/browser-tests-using-shadow-dom/validate-trigger-click.png
Labels: Images, getting_started, synthetics, Guide

#13734 Bump datadog-lambda-python layer to version 57 and JS to 77
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#13733 Include an edge case for Service Summary config
  content/en/dashboards/widgets/service_summary.md
Labels: dashboards

#13737 Temporarily disable validating integration content
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#13691 Update key rotation docs with information on Agent 7.35.1 release
  content/en/agent/guide/linux-agent-2022-key-rotation.md
Labels: agent, Guide

#13682 Add Watchdog faulty deployment detection
  config/_default/menus/menus.en.yaml
  content/en/watchdog/faulty_deployment_detection.md
  static/images/watchdog/faulty_deployment.png
  static/images/watchdog/faulty_deployment_details.png
  static/images/watchdog/faulty_deployment_suggested_monitors.png
Labels: Architecture, WORK IN PROGRESS, Images, watchdog

#13739 Update instructions pointing to How's my SSL
  content/en/security/guide/tls_deprecation_1_2.md
Labels: security, Guide

#13726 add Google Cloud SQL instructions for SQL Server
  config/_default/menus/menus.en.yaml
  content/en/database_monitoring/setup_sql_server/_index.md
  content/en/database_monitoring/setup_sql_server/gcsql.md
  layouts/partials/dbm/dbm-setup-sql-server.html
Labels: Architecture, database_monitoring

#13575 [DOCS-3208] Otel rework
  content/en/tracing/setup_overview/open_standards/_index.md
  content/en/tracing/setup_overview/open_standards/dotnet.md
  content/en/tracing/setup_overview/open_standards/otel_collector_datadog_exporter.md
  content/en/tracing/setup_overview/open_standards/otlp_ingest_in_the_agent.md
  static/images/tracing/setup/open_standards/otel-flow.png
Labels: Do Not Merge, Images, tracing

#13723 Improve the ingestion volume reduction guide
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/trace_ingestion_volume_control.md
Labels: tracing, Guide

#13680 [CIAPP] Document support for logs in CI Visibility junit XML upload
  content/en/continuous_integration/setup_tests/junit_upload.md
Labels: continuous_integration

#13746 Integrations pages update
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#13751 Removing unnecessary tick mark
  content/en/tracing/troubleshooting/tracer_debug_logs.md
Labels: tracing

#13757 redirect security
  content/en/security/_index.md
Labels: security

#13755 Updating media carousel requirements
  content/en/developers/marketplace/_index.md
Labels: developers

#13759 Correcting Spelling "Maintenace" to Maintenance
  content/en/tracing/setup_overview/compatibility_requirements/python.md
Labels: tracing

#13763 Remove tags from this guides index
  content/en/developers/guide/_index.md
Labels: developers, Guide

#13514 Update RUM integration information for next version of the framework
  content/en/continuous_integration/guides/_index.md
  content/en/continuous_integration/guides/rum_swift_integration.md
  content/en/continuous_integration/setup_tests/swift.md
  static/images/ci/ci-swift-rum-session-tab-errors.png
  static/images/ci/ci-swift-rum-session-tab.png
Labels: Images, continuous_integration

#13760 APM Service Page public documentation update
  content/en/tracing/visualization/service.md
  static/images/tracing/visualization/service/deployments.png
  static/images/tracing/visualization/service/error_tracking_side_panel.jpg
  static/images/tracing/visualization/service/infra_metrics.png
  static/images/tracing/visualization/service/infra_pods.png
  static/images/tracing/visualization/service/log_patterns.png
  static/images/tracing/visualization/service/out_of_the_box_graphs.jpg
  static/images/tracing/visualization/service/overview_service_page.png
  static/images/tracing/visualization/service/profiler.jpg
  static/images/tracing/visualization/service/resources_tab.jpg
  static/images/tracing/visualization/service/runtime_metrics.png
  static/images/tracing/visualization/service/summary_cards.jpg
  static/images/tracing/visualization/service/traces.png
  static/images/tracing/visualization/service/watchdog_insights.png
Labels: editorial review, Images, tracing

#13752 Update sensitive_data_detection.md
  content/en/account_management/org_settings/sensitive_data_detection.md
  static/images/logs/sensitive_data_scanner/sds_library_apr_22.png
  static/images/logs/sensitive_data_scanner/sds_main_apr_22.png
  static/images/logs/sensitive_data_scanner/sds_rule_apr_22.png
Labels: Images, account_management

#13156 Trace Application Metrics: duration clarification
  content/en/tracing/guide/metrics_namespace.md
Labels: tracing, Guide

#13712 [DOCS-2818] Update Cloud SIEM Home page with new UI
  content/en/security_platform/cloud_siem/_index.md
  content/en/security_platform/cloud_siem/security_home.md
  static/images/security_platform/security_monitoring/custom_rule.png
  static/images/security_platform/security_monitoring/new_detection_rule.png
  static/images/security_platform/security_monitoring/overview_top.png
  static/images/security_platform/security_monitoring/security_home/cloud_siem_home.png
  static/images/security_platform/security_monitoring/security_home/overview.png
  static/images/security_platform/security_monitoring/signals_page.png
Labels: Images, security_platform

#13772 Using template variables in monitor summary widgets
  content/en/dashboards/widgets/monitor_summary.md
  static/images/dashboards/widgets/monitor_summary/templatevariable-example-group.png
  static/images/dashboards/widgets/monitor_summary/templatevariable-example-scope.png
Labels: Images, dashboards

#13773 Add sqlserver to list, make self-hosted usage consistent.
  content/en/database_monitoring/_index.md
  layouts/partials/dbm/dbm-setup-mysql.html
  layouts/partials/dbm/dbm-setup-postgres.html
  layouts/partials/dbm/dbm-setup-sql-server.html
Labels: Architecture, database_monitoring

#13776 Open OTLP ingest port on core agent rather than trace agent
  content/en/tracing/setup_overview/open_standards/otlp_ingest_in_the_agent.md
Labels: tracing

#13777 Fix typos in Appsec troubleshooting guide
  content/en/security_platform/application_security/troubleshooting.md
Labels: WORK IN PROGRESS, security_platform

#13778 Update Further Reading for Getting Started w Logs
  content/en/getting_started/logs/_index.md
Labels: getting_started

#13769 Documentation for the obfuscator built into the app sec library
  content/en/security_platform/application_security/setup_and_configure.md
Labels: editorial review, security_platform

#13788 Updated service.md - image resize
  content/en/tracing/visualization/service.md
Labels: tracing

#13764 Update developer_tools.md
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/session_replay/developer_tools.md
Labels: real_user_monitoring

#13791 Blog links
  content/en/events/explorer/_index.md
  content/en/events/guides/migrating_to_new_events_features.md
  content/en/integrations/guide/azure-cloud-adoption-framework.md
  content/en/logs/_index.md
  content/en/monitors/service_level_objectives/_index.md
  content/en/real_user_monitoring/connect_rum_and_traces/_index.md
  content/en/tracing/error_tracking/_index.md
Labels: monitors, events, integrations, logs, tracing, real_user_monitoring, Guide

#13771 [ci-visibility] Add Javascript Agentless Instructions
  content/en/continuous_integration/setup_tests/javascript.md
Labels: continuous_integration

#13785 Fix OTLP Ingest helm --set instructions
  content/en/tracing/setup_overview/open_standards/otlp_ingest_in_the_agent.md
Labels: tracing

#13784 Update Getting Started and Event Stream for Event Explorer GA
  content/en/events/stream.md
  content/en/getting_started/application/_index.md
Labels: events, getting_started

#13793 Remove incorrect information about ports 10514/10516
  content/en/logs/log_collection/_index.md
Labels: logs

#13794 [doc] Include support of Glacier Instant Retrieval
  content/en/logs/log_configuration/archives.md
Labels: logs

#13787 [OpenTelemetry Collector] Update example with new configuration
  content/en/tracing/setup_overview/open_standards/otel_collector_datadog_exporter.md
Labels: tracing

#13795 Event monitor uses event explorer for all sites
  content/en/monitors/create/types/event.md
Labels: monitors

#13796 Adds Blog Post Link
  content/en/continuous_integration/explore_tests.md
Labels: continuous_integration

#13799 Migrate tls guide to new subdir
  config/_default/menus/menus.en.yaml
  content/en/data_security/guide/_index.md
  content/en/data_security/guide/tls_deprecation_1_2.md
  content/en/security/_index.md
  content/en/security/guide/_index.md
Labels: Architecture, security, Guide, data_security

#13798 Adds Third Blog Post Link
  content/en/serverless/libraries_integrations/library.md
Labels: serverless

#13792 [DOCS-3322] Adding user info to traces for ASM
  content/en/security_platform/application_security/setup_and_configure.md
Labels: security_platform

#13811 Change enrichment table size limit for uploads
  content/en/logs/guide/enrichment-tables.md
Labels: logs, Guide

#13812 dbm: Fix incorrect MySQL parameter for enabling performance_schema
  content/en/database_monitoring/setup_mysql/selfhosted.md
Labels: database_monitoring

#13750 Replace mentions of AppSec, Application Security to ASM
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  content/en/continuous_integration/setup_tests/junit_upload.md
  content/en/continuous_integration/setup_tests/swift.md
  content/en/monitors/service_level_objectives/_index.md
  content/en/security_platform/_index.md
  content/en/security_platform/application_security/_index.md
  content/en/security_platform/application_security/custom_rules.md
  content/en/security_platform/application_security/getting_started/_index.md
  content/en/security_platform/application_security/getting_started/dotnet.md
  content/en/security_platform/application_security/getting_started/go.md
  content/en/security_platform/application_security/getting_started/java.md
  content/en/security_platform/application_security/getting_started/nodejs.md
  content/en/security_platform/application_security/getting_started/php.md
  content/en/security_platform/application_security/getting_started/ruby.md
  content/en/security_platform/application_security/setup_and_configure.md
  content/en/security_platform/application_security/troubleshooting.md
  content/en/security_platform/cloud_workload_security/_index.md
  content/en/security_platform/cloud_workload_security/getting_started.md
  content/en/security_platform/default_rules/_index.md
  content/en/security_platform/detection_rules/_index.md
  content/en/security_platform/guide/_index.md
  content/en/security_platform/guide/how-appsec-works.md
  content/en/tracing/guide/trace_ingestion_volume_control.md
  content/en/tracing/setup_overview/compatibility_requirements/python.md
  content/en/tracing/setup_overview/open_standards/otlp_ingest_in_the_agent.md
  content/en/tracing/trace_ingestion/mechanisms.md
  content/en/tracing/troubleshooting/tracer_debug_logs.md
  content/en/tracing/visualization/service.md
  layouts/shortcodes/appsec-getstarted-2-canary.md
  layouts/shortcodes/appsec-getstarted-2.md
  layouts/shortcodes/appsec-getstarted.md
Labels: Architecture, monitors, tracing, Guide, security_platform, continuous_integration

#13800 Update heat map widget event overlays instructions for Event Explorer
  content/en/dashboards/widgets/heat_map.md
Labels: dashboards

#13815 DOCS-1969 mention apm enabled is the default
  content/en/agent/docker/_index.md
  content/en/agent/docker/apm.md
Labels: agent

#13814 Add missing java imports for custom instrumentation
  content/en/tracing/setup_overview/custom_instrumentation/java.md
Labels: under_review

#13805 Add Max Memory limit section for trace-agent
  content/en/tracing/troubleshooting/agent_rate_limits.md
Labels: tracing

#13496 [CIAPP] Add Codefresh integration documentation
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/setup_pipelines/_index.md
  content/en/continuous_integration/setup_pipelines/codefresh.md
Labels: Architecture, continuous_integration

#13808 Document backwards incompatible `kube_job` tag in KSM core
  content/en/integrations/kubernetes_state_core.md
Labels: integrations

#13823 [CIAPP] Correct ci-pipeline F&F monitor definition image
  static/images/monitors/monitor_types/ci_pipelines/define-the-search-query-fnf.png
Labels: Images

#13822 (DOCS-2988) Add cross-link banner for CI Vis and Synthetics
  content/en/continuous_integration/_index.md
  content/en/synthetics/cicd_integrations/_index.md
  content/en/synthetics/cicd_integrations/configuration.md
Labels: synthetics, continuous_integration

#13825 Agent configuration options App Analytics tracing
  content/en/tracing/legacy_app_analytics/_index.md
Labels: tracing

#13827 Fix link to DNS docs
  content/en/network_monitoring/performance/setup.md
Labels: network_monitoring

#13817 Fix the autodiscovery container link
  content/en/agent/kubernetes/integrations.md
Labels: agent

#13818 Update visualize.md
  content/en/logs/explorer/visualize.md
  static/images/logs/explorer/doc_pie_chart.png
  static/images/logs/explorer/doc_tree_map.png
Labels: Images, logs

#13832 Add option to dogwrap command for EU
  content/en/developers/guide/dogwrap.md
Labels: developers, Guide

#13834 Bump datadog-lambda-extension layer to version 22
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#13830 Add links for product ingested traces
  content/en/tracing/guide/trace_ingestion_volume_control.md
  content/en/tracing/trace_ingestion/mechanisms.md
Labels: tracing, Guide

#13836 Fix link to AWS EKS control plane docs
  content/en/agent/kubernetes/control_plane.md
Labels: agent

#13826 [Alerting] Update template variables for F&F monitors
  content/en/monitors/notify/variables.md
Labels: monitors

#13842 Connor.ward/mobile
  content/en/mobile/_index.md
  static/images/mobile/mobile_app_qr_code.png
Labels: Images, mobile

#13843 Add Go example for ASM user monitoring options
  content/en/security_platform/application_security/setup_and_configure.md
Labels: security_platform
