Repository DataDog/documentation, pull requests merged in 2022-01, with the labels that each got.

#12666 📝 [RUMF-1031] RUM browser: document technical limitations
  content/en/real_user_monitoring/browser/troubleshooting.md
Labels: real_user_monitoring

#11296 Add telemetry metrics related to client side aggregation
  content/en/developers/dogstatsd/high_throughput.md
Labels: developers

#12693 Tori log patterns custom grouping
  content/en/logs/explorer/group.md
  static/images/logs/explorer/aggregations_patterns.jpg
  static/images/logs/explorer/aggregations_patterns.png
Labels: Images, logs

#12645 DOCS-2767 Agent Proxy updates for sites
  content/en/agent/proxy.md
Labels: agent

#12682 add error tracking to collection/retention table
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: developers, Guide

#12707 Add DD_TRACE_SAMPLING_RATE in the dotnet doc
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
  content/fr/tracing/setup/dotnet-core.md
  content/fr/tracing/setup/dotnet-framework.md
  content/fr/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#12706 Remove gov note from GS with sites
  content/en/getting_started/site/_index.md
Labels: getting_started

#12709 Include shift-jis as a logfile encoding option
  content/en/agent/logs/advanced_log_collection.md
Labels: agent

#12700 Update out of date references to admin permissions
  content/en/account_management/billing/custom_metrics.md
  content/en/dashboards/_index.md
  content/en/dashboards/graphing_json/_index.md
  content/en/dashboards/guide/how-to-use-terraform-to-restrict-dashboard-edit.md
  content/en/monitors/guide/monitor_api_options.md
Labels: monitors, account_management, dashboards, Guide

#12462 [DOCS-2885] Restore explanation of metrics intro
  content/en/metrics/_index.md
Labels: under_review

#12713 Include shift-jis as a logfile encoding option (additions)
  content/en/agent/logs/_index.md
  content/en/agent/logs/advanced_log_collection.md
Labels: agent

#12714 Fix typo - remove 'not'.
  content/en/getting_started/profiler/_index.md
Labels: getting_started

#12716 Fix up Agent log collection docs
  content/en/agent/logs/_index.md
  content/en/agent/logs/advanced_log_collection.md
Labels: agent

#12618 DOCS-2849 Single Source the Mobile Vitals Doc Page
  .gitignore
  Makefile
  config/_default/menus/menus.en.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  static/images/real_user_monitoring/android/mobile_vitals.png
  static/images/real_user_monitoring/android/refresh_rate_and_mobile_vitals.png
Labels: Architecture, Images

#12717 Override official service of logs with labels/annotations
  content/en/getting_started/tagging/unified_service_tagging.md
Labels: getting_started

#12718 (DOCS-27453) remove non-global english from docs, assorted
  content/en/agent/basic_agent_usage/osx.md
  content/en/agent/basic_agent_usage/source.md
  content/en/dashboards/screenboards.md
  content/en/database_monitoring/query_metrics.md
  content/en/database_monitoring/query_samples.md
  content/en/developers/_index.md
  content/en/developers/guide/calling-on-datadog-s-api-with-the-webhooks-integration.md
  content/en/getting_started/tagging/_index.md
  content/en/getting_started/tagging/using_tags.md
  content/en/logs/explorer/facets.md
  content/en/logs/explorer/side_panel.md
  content/en/mobile/_index.md
  content/en/monitors/manage/search.md
Labels: monitors, agent, developers, logs, getting_started, dashboards, Guide, mobile, database_monitoring

#12721 Fix CCM requirements
  content/en/infrastructure/cloud_cost_management.md
Labels: infrastructure

#12704 Reorganise Trace Explorer page
  config/_default/menus/menus.en.yaml
  content/en/account_management/billing/apm_tracing_profiler.md
  content/en/dashboards/guide/quick-graphs.md
  content/en/dashboards/widgets/table.md
  content/en/monitors/create/types/apm.md
  content/en/tracing/_index.md
  content/en/tracing/error_tracking/explorer.md
  content/en/tracing/generate_metrics/_index.md
  content/en/tracing/guide/add_span_md_and_graph_it.md
  content/en/tracing/trace_explorer/_index.md
  content/en/tracing/trace_explorer/query_syntax.md
  content/en/tracing/trace_explorer/request_flow_map.md
  content/en/tracing/trace_retention_and_ingestion/_index.md
  content/en/tracing/trace_search_and_analytics/_index.md
  content/en/tracing/visualization/_index.md
  static/images/tracing/trace_explorer/historical_search.png
  static/images/tracing/trace_explorer/live_search.png
Labels: Architecture, monitors, editorial review, Images, tracing, account_management, dashboards, Guide

#12722 [RUMF-1131] Update documentation to use the new Browser SDK v4
  content/en/real_user_monitoring/browser/modifying_data_and_context.md
  content/en/real_user_monitoring/faq/proxy_rum_data.md
  content/en/real_user_monitoring/session_replay/_index.md
  content/fr/logs/log_collection/javascript.md
  content/fr/real_user_monitoring/browser/_index.md
  content/fr/real_user_monitoring/browser/advanced_configuration.md
  content/fr/real_user_monitoring/browser/modifying_data_and_context.md
  content/fr/real_user_monitoring/guide/session-replay-getting-started.md
  content/ja/logs/log_collection/javascript.md
  content/ja/real_user_monitoring/browser/_index.md
  content/ja/real_user_monitoring/browser/advanced_configuration.md
  content/ja/real_user_monitoring/browser/modifying_data_and_context.md
  content/ja/real_user_monitoring/guide/session-replay-getting-started.md
Labels: real_user_monitoring, FAQ

#12360 DOCS-2403, DOCS-2624, and DOCS-2622 Synthetics CI/CD Integrations Content Updates
  .gitignore
  Makefile
  content/en/synthetics/ci_results_explorer.md
  content/en/synthetics/cicd_integrations/_index.md
  content/en/synthetics/cicd_integrations/configuration.md
  content/en/synthetics/cicd_integrations/github_actions.md
  content/en/synthetics/cicd_integrations/jenkins.md
  content/en/synthetics/testing_tunnel.md
  content/en/synthetics/troubleshooting/_index.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, synthetics

#12723 Update API source attributes file
  content/en/integrations/faq/list-of-api-source-attribute-value.md
Labels: integrations, FAQ

#12728 Fix duplicate words "Would would" on Autodiscovery Auto-Configuration
  content/en/agent/faq/auto_conf.md
Labels: agent, FAQ

#12359 DOCS-2403, DOCS-2624, and DOCS-2622 Synthetics CI/CD Testing to CI/CD Integrations Navigation (Take 3)
  .gitignore
  Makefile
  config/_default/menus/menus.en.yaml
  content/en/developers/guide/data-collection-resolution-retention.md
  content/en/getting_started/synthetics/_index.md
  content/en/getting_started/synthetics/api_test.md
  content/en/getting_started/synthetics/browser_test.md
  content/en/getting_started/synthetics/private_location.md
  content/en/synthetics/api_tests/_index.md
  content/en/synthetics/api_tests/dns_tests.md
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/api_tests/icmp_tests.md
  content/en/synthetics/api_tests/ssl_tests.md
  content/en/synthetics/api_tests/tcp_tests.md
  content/en/synthetics/api_tests/udp_tests.md
  content/en/synthetics/api_tests/websocket_tests.md
  content/en/synthetics/ci_results_explorer.md
  content/en/synthetics/cicd_integrations/_index.md
  content/en/synthetics/cicd_integrations/configuration.md
  content/en/synthetics/cicd_integrations/jenkins.md
  content/en/synthetics/cicd_testing/_index.md
  content/en/synthetics/multistep.md
  content/en/synthetics/private_locations/_index.md
  content/en/synthetics/private_locations/dimensioning.md
  content/en/synthetics/search.md
  content/en/synthetics/testing_tunnel.md
  content/en/synthetics/troubleshooting/_index.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  static/images/synthetics/ci_results_explorer/ci_results_explorer.png
  static/images/synthetics/cicd_integrations/execution_rule.mp4
  static/images/synthetics/cicd_integrations/failed_test_result.png
  static/images/synthetics/cicd_integrations/jenkins/example-test-run.png
  static/images/synthetics/cicd_integrations/jenkins/nodejs-installation.png
  static/images/synthetics/cicd_integrations/successful_test_result.png
  static/images/synthetics/cicd_integrations/test_results.png
Labels: Architecture, Images, agent, developers, logs, tracing, account_management, getting_started, synthetics, metrics, Guide, FAQ, mobile, continuous_integration

#12725 DOCS-2954 add dd_hostname_file env var
  content/en/agent/docker/_index.md
Labels: agent

#12726 DOCS-2950 - chart shows NPM is enabled in af manifest
  content/en/agent/kubernetes/_index.md
Labels: agent

#12730 [docs]kris-casey/clarification on file permissions
  content/en/logs/guide/log-collection-troubleshooting-guide.md
Labels: logs, Guide

#12735 Add eks_fargate_node to agent tags on k8s
  content/en/agent/kubernetes/tag.md
Labels: agent

#12614 Oauth scopes
  config/_default/menus/menus.en.yaml
  content/en/api/latest/_index.md
  content/en/api/latest/scopes/_index.md
  layouts/api/list.html
  layouts/partials/api/scopes.html
  layouts/shortcodes/api-scopes.html
Labels: Architecture, editorial review, api

#12014 Update docs to add scoped application keys
  content/en/account_management/api-app-keys.md
Labels: account_management

#12739 [WEB-2015] Update Docs nav
  assets/styles/components/_header.scss
  config/_default/menus/menus.en.yaml
Labels: Architecture

#12724 DOCS-2219 migrating jmx from dev to guide
  content/en/developers/guide/_index.md
  content/en/developers/guide/creating-a-jmx-integration.md
Labels: developers, Guide

#12743 Updated default value for DD_LOGS_INJECTION
  content/en/tracing/setup_overview/setup/java.md
Labels: tracing

#12734 Mention the existence of the CURRENT key file
  content/en/agent/faq/linux-agent-2022-key-rotation.md
Labels: agent, FAQ

#12746 📝 remove legacy intake URL from CSP rules
  content/en/real_user_monitoring/faq/content_security_policy.md
Labels: real_user_monitoring, FAQ

#12740 DOCS-2398 Run Synthetic Tests from Private Locations Edits
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#12742 DOCS-2984 Dimensioning Private Locations Anchor Link Fix
  content/en/synthetics/private_locations/dimensioning.md
Labels: synthetics

#12748 update audit events
  content/en/synthetics/search.md
  static/images/synthetics/search/audit_events.png
Labels: Images, synthetics

#12573 update the timeout error
  content/en/synthetics/api_tests/dns_tests.md
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/api_tests/ssl_tests.md
  content/en/synthetics/api_tests/tcp_tests.md
  content/en/synthetics/api_tests/udp_tests.md
  content/en/synthetics/api_tests/websocket_tests.md
  content/en/synthetics/multistep.md
Labels: synthetics

#12751 Add the ECS metrics table to ECS metrics doc
  content/en/agent/amazon_ecs/data_collected.md
Labels: agent

#12762 Update units.md
  content/en/metrics/units.md
Labels: metrics

#12763 Update Missing Metrics script
  local/bin/py/missing_metrics.py
Labels: Architecture

#12766 Fix the ignore_resource example under apm_config
  content/en/tracing/guide/ignoring_apm_resources.md
Labels: tracing, Guide

#12765 Bump datadog-lambda-extension layer to version 17
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#12758 Agent key rotation: Recommend grepping for the pubkey
  content/en/agent/faq/linux-agent-2022-key-rotation.md
Labels: agent, FAQ

#12767 Update azure_app_services.md
  content/en/serverless/azure_app_services.md
Labels: serverless

#12773 [WEB-2029] - querystrings table on api if enum show list of options
  layouts/partials/api/arguments.html
Labels: Architecture

#12782 use sandwich analogy in c++ custom instrumentation example
  content/en/tracing/setup_overview/custom_instrumentation/cpp.md
Labels: tracing

#12770 Mention support for PHP 8 in PHPRedis integration
  content/en/tracing/setup_overview/compatibility_requirements/php.md
  content/fr/tracing/compatibility_requirements/php.md
Labels: tracing

#12761 Rebrand of Security Monitoring to Cloud SIEM
  content/en/account_management/billing/pricing.md
  content/en/developers/guide/data-collection-resolution-retention.md
  content/en/getting_started/application/_index.md
  content/en/getting_started/logs/_index.md
  content/en/logs/_index.md
  content/en/security/_index.md
  content/en/security/agent.md
  content/en/security/logs.md
  content/en/security/other.md
  content/en/security/synthetics.md
  content/en/security_platform/_index.md
  content/en/security_platform/cloud_workload_security/getting_started.md
  content/en/security_platform/cspm/findings.md
  content/en/security_platform/cspm/frameworks_and_benchmarks.md
  content/en/security_platform/cspm/signals_explorer.md
  content/en/security_platform/default_rules/_index.md
  content/en/security_platform/detection_rules/_index.md
  content/en/security_platform/explorer.md
  content/en/security_platform/guide/_index.md
  content/en/security_platform/guide/automate-the-remediation-of-detected-threats.md
  content/en/security_platform/guide/how-to-setup-security-filters-using-security-monitoring-api.md
  content/en/security_platform/guide/setting-up-security-monitoring-for-aws.md
  content/en/security_platform/notification_profiles.md
  content/en/security_platform/security_monitoring/_index.md
  content/en/security_platform/security_monitoring/getting_started.md
  content/en/security_platform/security_monitoring/log_detection_rules.md
  content/en/security_platform/security_monitoring/security_home.md
  content/fr/account_management/billing/pricing.md
  content/fr/getting_started/application/_index.md
  content/fr/getting_started/logs/_index.md
  content/fr/logs/_index.md
  content/fr/security/_index.md
  content/fr/security/agent.md
  content/fr/security/logs.md
  content/fr/security/other.md
  content/fr/security/synthetics.md
  content/fr/security/tracing.md
  content/fr/security_monitoring/_index.md
  content/fr/security_monitoring/explorer.md
  content/fr/security_monitoring/getting_started.md
  content/fr/security_platform/_index.md
  content/fr/security_platform/cspm/frameworks_and_benchmarks.md
  content/fr/security_platform/cspm/signals_explorer.md
  content/fr/security_platform/detection_rules/_index.md
  content/fr/security_platform/explorer.md
  content/fr/security_platform/guide/_index.md
  content/fr/security_platform/guide/automate-the-remediation-of-detected-threats.md
  content/fr/security_platform/guide/how-to-setup-security-filters-using-security-monitoring-api.md
  content/fr/security_platform/guide/setting-up-security-monitoring-for-aws.md
  content/fr/security_platform/security_monitoring/_index.md
  content/fr/security_platform/security_monitoring/getting_started.md
  content/fr/security_platform/security_monitoring/security_home.md
  content/ja/security_monitoring/_index.md
  content/ja/security_platform/cspm/findings.md
  content/ja/security_platform/cspm/signals_explorer.md
  content/ja/security_platform/detection_rules/_index.md
Labels: developers, logs, account_management, getting_started, security, Guide, security_platform

#12760 [RUM] add v4 section to browser SDK upgrade guide
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/browser-sdk-upgrade.md
Labels: real_user_monitoring, Guide

#12668 Document running the OpenTelemetry Collector alongside the Datadog Agent
  content/en/tracing/setup_overview/open_standards/_index.md
Labels: tracing

#12791 [log4j mitigation] Update Windows instructions
  content/en/agent/faq/log4j_mitigation.md
Labels: agent, FAQ

#12783 kelly/update-log-collection-and-integrations-doc
  content/en/logs/log_collection/_index.md
Labels: logs

#12792 updating the banner to match corp
  config/_default/params.en.yaml
Labels: Architecture

#12796 Add manifest v2 option to ddev create examples
  content/en/developers/marketplace/_index.md
Labels: developers

#12798 Remove note about Windows Nano Server not being supported
  content/en/agent/basic_agent_usage/_index.md
Labels: agent

#12672 [DOCS-2953] Include AWS S3 required parameter on policy
  content/en/logs/log_configuration/archives.md
Labels: under_review

#12779 Update the C++ custom instrumentation example to include resource name
  content/en/tracing/setup_overview/custom_instrumentation/cpp.md
Labels: tracing

#12800 udpate docs main nav
  config/_default/menus/menus.en.yaml
Labels: Architecture

#12771 REPLAY-584: Add a guide on allowing cookie blocking exception
  content/en/real_user_monitoring/faq/_index.md
  content/en/real_user_monitoring/faq/session_replay_service_worker.md
  static/images/real_user_monitoring/session_replay/allow-3p-serviceworker-1.png
  static/images/real_user_monitoring/session_replay/allow-3p-serviceworker-2.png
Labels: Images, real_user_monitoring, FAQ

#12815 (DOCS-2910) update sidenav and index for Github to Github Actions
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/setup_pipelines/_index.md
Labels: Architecture, continuous_integration

#12810 Agent key rotation: Add hour to key rotation dates
  content/en/agent/faq/linux-agent-2022-key-rotation.md
Labels: agent, FAQ

#12801 Add blog post
  content/en/synthetics/cicd_integrations/configuration.md
Labels: synthetics

#12794 [RUM] Add CORB warning info in troubleshooting
  content/en/real_user_monitoring/browser/troubleshooting.md
Labels: Images, real_user_monitoring

#12778 DOCS-2957 moving autodisco faq to guide
  content/en/agent/faq/_index.md
  content/en/agent/guide/_index.md
  content/en/agent/guide/template_variables.md
Labels: agent, Guide, FAQ

#12822 CI-app - Swift - Document instrumenting stdout and stderr
  content/en/continuous_integration/setup_tests/swift.md
Labels: continuous_integration

#12774 security monitoring to cloud siem [WEB-2027]
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  content/en/api/latest/security-monitoring/_index.md
  content/en/getting_started/logs/_index.md
  content/en/logs/_index.md
  content/en/real_user_monitoring/guide/browser-sdk-upgrade.md
  content/en/security/_index.md
  content/en/security/agent.md
  content/en/security/logs.md
  content/en/security/other.md
  content/en/security/synthetics.md
  content/en/security_platform/_index.md
  content/en/security_platform/cloud_siem/_index.md
  content/en/security_platform/cloud_siem/getting_started.md
  content/en/security_platform/cloud_siem/log_detection_rules.md
  content/en/security_platform/cloud_siem/security_home.md
  content/en/security_platform/cspm/findings.md
  content/en/security_platform/cspm/frameworks_and_benchmarks.md
  content/en/security_platform/cspm/signals_explorer.md
  content/en/security_platform/default_rules/_index.md
  content/en/security_platform/detection_rules/_index.md
  content/en/security_platform/explorer.md
  content/en/security_platform/guide/_index.md
  content/en/security_platform/guide/automate-the-remediation-of-detected-threats.md
  content/en/security_platform/guide/how-to-setup-security-filters-using-cloud-siem-api.md
  content/en/tracing/setup_overview/open_standards/_index.md
  content/fr/cloud_siem/_index.md
  content/fr/cloud_siem/detection_rules.md
  content/fr/cloud_siem/explorer.md
  content/fr/cloud_siem/getting_started.md
  content/fr/cloud_siem/guide/monitor-authentication-logs-for-security-threats.md
  content/fr/security/_index.md
  content/fr/security/agent.md
  content/fr/security/logs.md
  content/fr/security/other.md
  content/fr/security/synthetics.md
  content/fr/security/tracing.md
  content/ja/security/_index.md
  content/ja/security/agent.md
  content/ja/security/logs.md
  content/ja/security/other.md
  content/ja/security/synthetics.md
  content/ja/security_platform/guide/setting-up-security-monitoring-for-aws.md
Labels: Architecture, logs, tracing, api, real_user_monitoring, getting_started, security, Guide, security_platform

#12833 Update dotnet versions in the doc
  content/en/serverless/azure_app_services.md
  content/en/tracing/runtime_metrics/dotnet.md
  content/en/tracing/setup_overview/custom_instrumentation/dotnet.md
Labels: tracing, serverless

#12842 update aliases
  content/en/security_platform/cloud_siem/_index.md
  content/fr/cloud_siem/_index.md
  content/fr/cloud_siem/detection_rules.md
  content/fr/cloud_siem/explorer.md
  content/fr/cloud_siem/getting_started.md
Labels: security_platform

#12785 DOCS-3000 Remove VMware FAQ
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/can-i-limit-the-number-of-vms-that-are-pulled-in-via-the-vmware-integration.md
Labels: integrations, FAQ

#12837 Update alt text in Online Archives page
  content/en/logs/log_configuration/online_archives.md
Labels: logs

#12777 Update Node.js custom instrumentation example to include resource name
  content/en/tracing/setup_overview/custom_instrumentation/nodejs.md
Labels: tracing

#12781 Update the Python custom instrumentation example to include resource name
  content/en/tracing/setup_overview/custom_instrumentation/python.md
Labels: tracing

#12840 connect_traces_and_profiles: Add Docs for Go
  content/en/tracing/profiler/connect_traces_and_profiles.md
Labels: tracing

#12845 Update with latest changes for version 1.1.0 of the framework
  content/en/continuous_integration/setup_tests/swift.md
Labels: continuous_integration

#12846 Update quotes and also add example for CPP for the Primary Operations in Services doc
  content/en/tracing/guide/configuring-primary-operation.md
Labels: tracing, Guide

#12848 Primary Operations in Services - Custom Instrumentation Update
  content/en/tracing/guide/configuring-primary-operation.md
Labels: tracing, Guide

#12849 Brian/update cloud siem link
  content/en/getting_started/application/_index.md
Labels: getting_started

#12719 DOCS-2773 Synthetics HTTP Tests and Multistep API Tests Edits
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/multistep.md
Labels: synthetics

#12814 DOCS-3012 Synthetics and CI/CD Edit
  content/en/synthetics/cicd_integrations/_index.md
Labels: synthetics

#12853 add missing alias
  content/en/security_platform/guide/how-to-setup-security-filters-using-cloud-siem-api.md
Labels: Guide, security_platform

#12856 Update sensitive_data_detection.md
  content/en/account_management/org_settings/sensitive_data_detection.md
Labels: account_management

#12847 Updates to rebrand to Notification Rules
  content/en/security_platform/notification_profiles.md
Labels: security_platform

#12852 [agent] Fix HTTP Logs Agent destination
  content/en/agent/guide/network.md
Labels: agent, Guide

#12829 Update US3 logging endpoints
  content/en/logs/log_collection/_index.md
Labels: logs

#12710 DOCS-2936 update app service extension docs
  content/en/serverless/azure_app_services.md
Labels: serverless

#12802 feature: add documentation for DD_TRACE_SAMPLE_RATE (python)
  content/en/tracing/setup_overview/setup/python.md
Labels: tracing

#12864 Use the correct default site (…hq.com)
  content/en/agent/kubernetes/_index.md
Labels: agent

#12855 Extend list of monitor template variables
  content/en/monitors/notify/variables.md
Labels: monitors

#12863 Fix metrics index page alt text
  content/en/metrics/_index.md
Labels: metrics

#12861 [CIAPP-3567] Update CI Visibility GitHub Actions docs
  content/en/continuous_integration/setup_tests/agent.md
Labels: continuous_integration

#12823 [docs]Fix RBAC permissions links
  content/en/logs/guide/logs-rbac-permissions.md
Labels: logs, Guide

#12816 DOCS-2850 RUM Browser Data Collected Edits
  content/en/real_user_monitoring/browser/data_collected.md
Labels: real_user_monitoring

#12866 Move image to correct dir
  static/images/metrics/summary/customize_aggr_docs.jpg
Labels: Images

#12880 update config to avoid errors
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#12878 add new usage metric
  content/en/tracing/trace_retention_and_ingestion/usage_metrics.md
Labels: tracing

#12872 add blog links to NPM pages
  content/en/network_monitoring/performance/_index.md
  content/en/network_monitoring/performance/setup.md
Labels: network_monitoring

#12873 s/less/fewer in vale warning message
  .github/styles/Datadog/sentencelength.yml
Labels: Github

#12564 DOCS-2731 Run Synthetic Tests from Private Locations Edits
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#12875 [ci-visibility] Add Subsection to Wall Time Calculation Troubleshooting
  content/en/continuous_integration/troubleshooting.md
Labels: continuous_integration

#12865 Events Explorer roll out
  content/en/events/_index.md
  content/en/events/explorer/_index.md
  content/en/events/guides/migrating_to_new_events_features.md
Labels: events

#12893 Add documentation team as reviewer for SDK versions
  .github/CODEOWNERS
Labels: Github

#12827 DOCS-3023 - serverless universal instrumentation
  content/en/serverless/_index.md
  content/en/serverless/guide/datadog_forwarder_node.md
  content/en/serverless/guide/datadog_forwarder_python.md
  content/en/serverless/installation/_index.md
  content/en/serverless/installation/dotnet.md
  content/en/serverless/installation/go.md
  content/en/serverless/installation/java.md
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
  content/en/serverless/installation/ruby.md
Labels: WORK IN PROGRESS, serverless

#12887 Update and rename notification_profiles.md to notification_rules.md
  content/en/security_platform/notification_rules.md
Labels: security_platform

#12858 [DOCS-3010] Add logs troubleshooting page
  config/_default/menus/menus.en.yaml
  content/en/logs/troubleshooting/_index.md
  static/images/logs/troubleshooting/daily_quota_reached.png
  static/images/logs/troubleshooting/preprocessing_json_timestamp.png
Labels: Architecture, Images, logs

#12896 Agent version updates
  content/en/agent/faq/certificate_verify_failed-error.md
Labels: agent, FAQ

#12886 Add note for aiohttp
  content/en/tracing/setup_overview/compatibility_requirements/python.md
Labels: tracing

#12806 DOCS-2963 - filter the range over doing it per loop
  layouts/partials/api/curl.html
Labels: Architecture

#12741 [DOCS-2986] Update CWS rules doc to reflect rule split
  content/en/security_platform/cloud_workload_security/workload_security_rules.md
  static/images/security_platform/cws/workload_security_rules/define_agent_expression.png
  static/images/security_platform/cws/workload_security_rules/define_runtime_expression.png
  static/images/security_platform/cws/workload_security_rules/rule_cases.png
Labels: Images, security_platform

#12909 [docs]kris-casey/add dropdown availability note
  content/en/metrics/explorer.md
Labels: metrics

#12876 [ci-visibility] Add Extra Tags to Cypress and Clarify Browser Tests
  content/en/continuous_integration/setup_tests/javascript.md
Labels: continuous_integration

#12738 support path changes for security monitoring
  local/bin/py/build/actions/security_rules.py
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  local/bin/py/build/update_pre_build.py
Labels: Architecture

#12830 Document new PrivateLink for the Profiling intake
  content/en/agent/guide/private-link.md
Labels: agent, Guide

#12910 Adds Datadog IAM Policy Link
  content/en/serverless/custom_metrics/_index.md
Labels: serverless

#12916 Trace Explorer Edit
  content/en/tracing/trace_explorer/_index.md
Labels: tracing

#12911 Allocation Profiler Opt In --> Opt Out
  content/en/tracing/profiler/enabling/java.md
Labels: tracing

#12897 Updating distribution metrics doc
  content/en/metrics/distributions.md
  static/images/metrics/distributions/dist_manage.jpg
  static/images/metrics/distributions/percentile_QVW.jpg
  static/images/metrics/distributions/percentile_monitor.jpg
  static/images/metrics/distributions/threshold_SLO.jpg
  static/images/metrics/distributions/threshold_queries.mp4
Labels: Images, metrics

#12860 Change instances of rule to detection rule
  content/en/security_platform/cloud_siem/_index.md
  content/en/security_platform/cloud_siem/getting_started.md
  content/en/security_platform/cloud_siem/log_detection_rules.md
  content/en/security_platform/cloud_siem/security_home.md
  content/en/security_platform/cloud_workload_security/_index.md
  content/en/security_platform/cspm/_index.md
  content/en/security_platform/cspm/configuration_rules.md
  content/en/security_platform/cspm/findings.md
  content/en/security_platform/cspm/frameworks_and_benchmarks.md
  content/en/security_platform/cspm/getting_started.md
  content/en/security_platform/cspm/signals_explorer.md
  content/en/security_platform/default_rules/_index.md
  content/en/security_platform/detection_rules/_index.md
  content/en/security_platform/explorer.md
  content/en/security_platform/guide/how-to-setup-security-filters-using-cloud-siem-api.md
Labels: Guide, security_platform

#12925 Fix broken mp4 missing video tag
  content/en/metrics/distributions.md
Labels: metrics

#12923 fix typo in DBM MySQL setup page
  content/en/database_monitoring/setup_mysql/selfhosted.md
Labels: database_monitoring

#12473 DOCS-2756 Rewrite and reoganize SLO-based monitor page
  content/en/monitors/service_level_objectives/monitor.md
  static/images/monitors/service_level_objectives/aggregate_slo.jpg
Labels: monitors, editorial review, Images

#12749 [docker] Add note about mounting "/etc/os-release"
  content/en/agent/docker/_index.md
Labels: agent

#12874 DOCS-2999 Session Replay > Dev Tools Beta
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/session_replay/developer_tools.md
  static/images/real_user_monitoring/session_replay/dev_tools/dev-tools-beta.png
  static/images/real_user_monitoring/session_replay/dev_tools/dev-tools-console.png
  static/images/real_user_monitoring/session_replay/dev_tools/dev-tools-errors.png
  static/images/real_user_monitoring/session_replay/dev_tools/performance-filters.mp4
Labels: Architecture, Images, real_user_monitoring

#12851 Native profiler getting started, troubleshooting guides
  config/_default/menus/menus.en.yaml
  config/_default/params.yaml
  content/en/tracing/profiler/_index.md
  content/en/tracing/profiler/enabling/_index.md
  content/en/tracing/profiler/enabling/linux.md
  content/en/tracing/profiler/profiler_troubleshooting.md
  go.sum
  layouts/partials/profiling/profiling-unmanaged-code.html
Labels: Architecture, tracing

#12929 Fix incorrect links
  content/en/serverless/installation/go.md
Labels: serverless

#12529 Update docs to reflect docker_container_use_file is now true
  content/en/agent/amazon_ecs/logs.md
  content/en/agent/docker/log.md
  content/en/integrations/faq/compose-and-the-datadog-agent.md
  content/en/logs/guide/docker-logs-collection-troubleshooting-guide.md
Labels: integrations, agent, logs, Guide, FAQ

#12871 PHP profiling public beta
  config/_default/menus/menus.en.yaml
  content/en/tracing/profiler/enabling/_index.md
  content/en/tracing/profiler/enabling/php.md
  content/en/tracing/profiler/profiler_troubleshooting.md
  content/en/tracing/setup_overview/setup/go.md
  content/en/tracing/setup_overview/setup/php.md
  layouts/partials/profiling/profiling-languages.html
Labels: Architecture, Do Not Merge, tracing

#12931 Updating metric monitors
  content/en/monitors/create/types/metric.md
Labels: monitors

#12736 Chrisnas/docs 2799 dotnet profiler
  config/_default/menus/menus.en.yaml
  content/en/agent/docker/log.md
  content/en/tracing/profiler/_index.md
  content/en/tracing/profiler/enabling/_index.md
  content/en/tracing/profiler/enabling/dotnet.md
  content/en/tracing/profiler/enabling/go.md
  content/en/tracing/profiler/enabling/java.md
  content/en/tracing/profiler/profiler_troubleshooting.md
  content/en/tracing/profiler/search_profiles.md
  layouts/partials/profiling/profiling-languages.html
  static/images/tracing/profiling/profile_dotnet.png
  static/images/tracing/setup/dotnet/RegistryEditorCore.png
  static/images/tracing/setup/dotnet/RegistryEditorCoreIIS.png
  static/images/tracing/setup/dotnet/RegistryEditorFramework.png
  static/images/tracing/setup/dotnet/RegistryEditorFrameworkIIS.png
Labels: Architecture, Images, agent, tracing

#12825 [DOCS-3085] Update logs permissions docs for Jan 18 release
  content/en/logs/guide/access-your-log-data-programmatically.md
  content/en/logs/guide/build-custom-reports-using-log-analytics-api.md
  content/en/logs/guide/logs-rbac-permissions.md
Labels: editorial review, logs, Guide

#12930 Postgres Integration quantize_sql_tables option nested under obfuscator_options
  content/en/database_monitoring/setup_postgres/advanced_configuration.md
Labels: under_review

#12936 Add blog post link
  content/en/synthetics/cicd_integrations/jenkins.md
Labels: synthetics

#12935 [docs]kris-casey/update Agent config file link
  content/en/developers/dogstatsd/_index.md
Labels: developers

#12946 Update documentation to reflect new OTLP receiver based configuration
  content/en/tracing/setup_overview/open_standards/_index.md
Labels: tracing

#12950 added supported multi line log aggregation patterns we check automatically for
  content/en/agent/logs/advanced_log_collection.md
Labels: agent

#12949 Notes about log filtering
  content/en/serverless/libraries_integrations/extension.md
Labels: serverless

#12944 Document env var DD_SERVICE_MAPPING
  content/en/tracing/setup_overview/setup/go.md
Labels: tracing

#12943 Add Synthetic test in RBAC list
  content/en/account_management/rbac/_index.md
Labels: account_management

#12948 client-tokens-not-revoked
  content/en/account_management/api-app-keys.md
Labels: account_management

#12859 Add integration dashboard guide to nav, add images
  config/_default/menus/menus.en.yaml
  static/images/developers/create-an-integration-dashboard/color-related-data.png
  static/images/developers/create-an-integration-dashboard/dashboard-example.png
  static/images/developers/create-an-integration-dashboard/full-width-grouped-logs.png
  static/images/developers/create-an-integration-dashboard/symmetrical-dashboard.png
  static/images/developers/create-an-integration-dashboard/well-named-legends.png
Labels: Architecture, Images

#12939 Fixes notification profiles in nav
  config/_default/menus/menus.en.yaml
Labels: Architecture

#12952 [WEB-1925] Remove redundant scripts from Docs pages
  config/_default/params.yaml
  config/development/params.yaml
  config/live/params.yaml
  config/preview/params.yaml
  layouts/partials/footer_scripts/adroll.html
  layouts/partials/head_scripts/quora-pixel.html
Labels: Architecture

#12799 Add references to dns_query
  content/en/network_monitoring/dns/_index.md
  content/en/tracing/profiler/_index.md
  content/en/tracing/setup_overview/open_standards/_index.md
Labels: tracing, network_monitoring

#12960 Document the Lambda runtime_duration metric
  content/en/serverless/enhanced_lambda_metrics/_index.md
  content/en/serverless/libraries_integrations/extension.md
Labels: serverless

#12961 Move sls webpack to guide
  config/_default/menus/menus.en.yaml
  content/en/serverless/guide/_index.md
  content/en/serverless/guide/datadog_forwarder_node.md
  content/en/serverless/guide/serverless_tracing_and_webpack.md
Labels: Architecture, Guide, serverless

#12883 Update to Secrets Management for cleanup, examples, and new provider strategy
  content/en/agent/guide/secrets-management.md
Labels: editorial review, agent, Guide

#12955 Translation updates
  content/en/monitors/create/configuration.md
Labels: monitors

#12921 Updates to Marketplace documentation regarding Datadog Apps
  content/en/developers/marketplace/_index.md
Labels: developers

#12920 use source tag over tag source
  local/bin/py/build/actions/security_rules.py
Labels: Architecture

#12881 Add clarity for Cloud SIEM
  content/en/getting_started/application/_index.md
  content/en/security_platform/_index.md
  content/en/security_platform/cloud_siem/_index.md
  content/en/security_platform/cloud_siem/getting_started.md
  content/en/security_platform/cloud_siem/log_detection_rules.md
  content/en/security_platform/cloud_siem/security_home.md
Labels: getting_started, security_platform
