Repository DataDog/documentation, pull requests merged in 2022-10, with the labels that each got.

#15448 APM: Fix broken link
  content/en/tracing/guide/trace_ingestion_volume_control.md
Labels: tracing, Guide

#15437 Reverting the Revert
  content/en/containers/cluster_agent/admission_controller.md
  content/en/containers/kubernetes/apm.md
Labels: containers

#15456 Update GItHub Integration for service catalog
  content/en/tracing/service_catalog/setup.md
Labels: tracing

#15387 Update public documentation for Windows container support
  content/en/containers/docker/_index.md
Labels: agent, Guide, containers

#15457 DOCS-4157 Service Catalog Terraform Update
  content/en/tracing/service_catalog/setup.md
Labels: tracing

#15451 more detail in the C++ tracing error tagging section
  content/en/tracing/trace_collection/custom_instrumentation/cpp.md
Labels: tracing

#15459 DOCS-3954 Notes and Links Widget Edits
  content/en/dashboards/widgets/event_stream.md
  content/en/dashboards/widgets/free_text.md
  content/en/dashboards/widgets/group.md
  content/en/dashboards/widgets/note.md
  content/en/dashboards/widgets/service_summary.md
  static/images/dashboards/widgets/note/overview.png
  static/images/dashboards/widgets/note/template_variable.png
Labels: Images, dashboards

#15402 SLO List widget
  content/en/dashboards/scheduled_reports.md
  content/en/dashboards/widgets/_index.md
  content/en/dashboards/widgets/slo.md
  content/en/dashboards/widgets/slo_list.md
  static/images/dashboards/widgets/slo_list/slo_list_editor.png
  static/images/dashboards/widgets/slo_list/slo_list_widget.png
Labels: editorial review, Images, dashboards

#15471 Add note on Synthetics no data
  content/en/monitors/service_level_objectives/monitor.md
Labels: monitors

#15114 [.NET Profiler] Document support of NuGet deployment for profiler
  content/en/profiler/enabling/dotnet.md
Labels: Do Not Merge, profiler

#15475 Remove toplist documentation from ET monitors (feature not supported)
  content/en/monitors/create/types/error_tracking.md
  content/ja/monitors/create/types/error_tracking.md
Labels: monitors

#15447 [ci-visibility] Add note about TypeScript and fix minor issues with cypress docs
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/setup_tests/javascript.md
Labels: Architecture, continuous_integration

#15473 Add Beta Callout
  content/en/serverless/google_cloud_run/_index.md
Labels: serverless

#15476 go: Update Go version required in Code Hotspots documentation
  content/en/profiler/connect_traces_and_profiles.md
Labels: profiler

#15483 mario.gerardi small typo fix
  content/en/monitors/create/types/composite.md
Labels: monitors

#15470 DOCS-4105 Timeseries Widget Doc Update
  content/en/dashboards/widgets/timeseries.md
  static/images/dashboards/widgets/timeseries/event_overlay.png
  static/images/dashboards/widgets/timeseries/metric_alias.png
  static/images/dashboards/widgets/timeseries/timeseries.png
  static/images/dashboards/widgets/timeseries/timeseries_setup.png
Labels: Images, dashboards

#15485 DOCS-4152 Kubernetes Prometheus and OpenMetrics Metrics Collection Edit
  content/en/containers/kubernetes/prometheus.md
Labels: containers

#15486 [DBM] US5 Support for DBM
  content/en/database_monitoring/data_collected.md
  content/en/database_monitoring/query_metrics.md
  content/en/database_monitoring/query_samples.md
  content/en/database_monitoring/setup_mysql/_index.md
  content/en/database_monitoring/setup_mysql/advanced_configuration.md
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/azure.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
  content/en/database_monitoring/setup_mysql/troubleshooting.md
  content/en/database_monitoring/setup_postgres/_index.md
  content/en/database_monitoring/setup_postgres/advanced_configuration.md
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/azure.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/rds.md
  content/en/database_monitoring/setup_postgres/selfhosted.md
  content/en/database_monitoring/setup_postgres/troubleshooting.md
  content/en/database_monitoring/setup_sql_server/_index.md
  content/en/database_monitoring/setup_sql_server/azure.md
  content/en/database_monitoring/setup_sql_server/gcsql.md
  content/en/database_monitoring/setup_sql_server/rds.md
  content/en/database_monitoring/setup_sql_server/selfhosted.md
  content/en/database_monitoring/troubleshooting.md
Labels: database_monitoring

#15474 Clarification on supported monitors for "Group Retention Time"
  content/en/monitors/create/configuration.md
Labels: monitors

#15494 Revert "Use datadog.yaml for proxy"
  content/en/serverless/configuration/_index.md
Labels: serverless

#15490 Fix Broken slf4j link
  content/en/tracing/troubleshooting/tracer_debug_logs.md
Labels: tracing

#15461 Remove Support Admin
  content/en/account_management/audit_trail/events.md
Labels: account_management

#15497 giving the go log collection page a little scrub
  content/en/logs/log_collection/go.md
Labels: logs

#15480 updated the languages supported by source code integeration
  content/en/integrations/guide/source-code-integration.md
Labels: integrations, Guide

#15401 Rename Datadog.Monitoring.Distrib into Datadog.Trace.Bundle
  content/en/tracing/trace_collection/dd_libraries/dotnet-core.md
  content/en/tracing/trace_collection/dd_libraries/dotnet-framework.md
Labels: tracing

#15507 Small Link Fix
  content/en/continuous_integration/guides/pull_request_comments.md
Labels: continuous_integration

#15504 Change blacklist to exclude list
  content/en/tracing/guide/agent-5-tracing-setup.md
Labels: Bug, tracing, Guide

#15505 Change guide title
  content/en/continuous_integration/guides/_index.md
  content/en/continuous_integration/guides/pull_request_comments.md
Labels: continuous_integration

#15508 dan.chiniara/remove downtime sentence about manual cancels
  content/en/monitors/notify/downtimes.md
Labels: monitors

#15468 [DOCS-2842] Update NodeJS log collection docs
  content/en/logs/log_collection/nodejs.md
Labels: logs

#15495 DOCS-3606, DOCS-4100 Error Tracking for RUM and APM Edits
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/real_user_monitoring/error_tracking/browser.md
  content/en/tracing/error_tracking/_index.md
  static/images/real_user_monitoring/error_tracking/page.png
Labels: Images, tracing, real_user_monitoring

#15506 Update _index.md
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#15510 Correct typo
  content/en/serverless/google_cloud_run/_index.md
Labels: serverless

#15512 Bump dd-trace-dotnet layer to version 6
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#15340 (DOCS-4111) Re-organize NDM left nav and rename setup page
  config/_default/menus/menus.en.yaml
  content/en/network_monitoring/devices/_index.md
  content/en/network_monitoring/devices/guide/tags-with-regex.md
  content/en/network_monitoring/devices/snmp_metrics.md
  content/en/network_monitoring/dns/_index.md
Labels: Architecture, network_monitoring

#15516 Add blog link to GCR page
  content/en/serverless/google_cloud_run/_index.md
Labels: serverless

#15503 RUMM-2590 Update distributed tracing on ios
  content/en/real_user_monitoring/connect_rum_and_traces/_index.md
Labels: real_user_monitoring

#15520 Fix ingestion controls image
  content/en/tracing/trace_pipeline/_index.md
Labels: tracing

#15522 Update list of CI env vars to be passed to containers
  content/en/continuous_integration/setup_tests/containers.md
Labels: continuous_integration

#15477 Clarify connect_traces_and_profiles requirements per runtime
  content/en/profiler/connect_traces_and_profiles.md
Labels: profiler

#15496 DOCS-4152 - kube dictionary format
  content/en/containers/kubernetes/prometheus.md
Labels: containers

#15535 Span Tag Description Update
  content/en/tracing/trace_collection/tracing_naming_convention/_index.md
Labels: tracing

#15332 Add verification meta tag into our Docs and remove invalid values in Sitemap
  layouts/index.html
  layouts/sitemap.xml
Labels: Architecture, under_review

#15438 Recommend using localhost on host installs for OTLP ingest
  content/en/tracing/trace_collection/open_standards/otlp_ingest_in_the_agent.md
Labels: tracing

#15481 [CWS] Add requirement and troubleshooting sections for CWS network
  content/en/security_platform/cloud_security_management/troubleshooting.md
  content/en/security_platform/cloud_workload_security/getting_started.md
Labels: security_monitoring, security_platform

#15540 Template variables 48 hours
  content/en/dashboards/faq/historical-data.md
Labels: dashboards, FAQ

#15542 add mariadb in the list of nodejs apm supported integrations
  content/en/tracing/trace_collection/compatibility/nodejs.md
Labels: tracing

#15553 quickfix to otel metrics page
  content/en/metrics/open_telemetry/_index.md
Labels: metrics

#15538 [DOCS-3673] Add Log Forwarding doc
  content/en/logs/log_configuration/forwarding_custom_destinations.md
  static/images/logs/log_configuration/forwarding/configuration.png
  static/images/logs/log_configuration/forwarding/forwarding_page.png
Labels: editorial review, Images, logs

#15551 dan.chiniara/specify metric monitor for alert value widget
  content/en/dashboards/widgets/alert_value.md
Labels: dashboards

#15548 clarify stats/metrics retention
  content/en/tracing/services/services_list.md
Labels: tracing

#15383 [Monitors] Document cumulative evaluation windows
  content/en/monitors/create/configuration.md
  static/images/monitors/create/cumulative_evaluation_window.png
Labels: monitors, Images

#15541 [DOCS-4005] Add OTel for logs doc
  config/_default/menus/menus.en.yaml
  content/en/logs/log_collection/opentelemetry.md
  static/images/logs/log_collection/logs_traces_correlation.png
  static/images/logs/log_collection/otel_collector_logs.png
Labels: Architecture, editorial review, Images, logs

#15537 Clarifies Span Attributes in Span Tags Semantics
  content/en/tracing/trace_collection/tracing_naming_convention/_index.md
Labels: tracing

#15271 DOCS-4077 Export RUM Events Edits
  content/en/real_user_monitoring/explorer/export.md
  content/en/real_user_monitoring/explorer/visualize.md
  static/images/real_user_monitoring/explorer/export/rum_explorer_export.png
Labels: Images, real_user_monitoring

#15550 DOCS-4192: Apdex is for web applications and services
  content/en/tracing/guide/configure_an_apdex_for_your_traces_with_datadog_apm.md
Labels: tracing, Guide

#15555 Remove redundant documentation for recovery thresholds
  content/en/monitors/create/types/metric.md
  content/en/monitors/guide/recovery-thresholds.md
Labels: monitors, Guide

#15552 DOCS-4200 Per Service sampling rule name is case sensitive
  content/en/tracing/trace_pipeline/ingestion_controls.md
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
Labels: tracing

#15559 Add public documentation for DD_TRACE_RESOURCE_URI_QUERY_PARAM_ALLOWED
  content/en/tracing/trace_collection/library_config/php.md
Labels: tracing

#15568 Add beta request link to Log Forwarding doc
  content/en/logs/log_configuration/forwarding_custom_destinations.md
Labels: logs

#15287 [DOCS-4044] Update and move Reference Tables doc
  content/en/events/_index.md
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/reference-tables.md
  content/en/logs/guide/_index.md
  content/en/logs/log_configuration/processors.md
  static/images/integrations/guide/reference-tables/configure-enrichment-table.png
  static/images/integrations/guide/reference-tables/configure-s3-enrichment-table.png
  static/images/integrations/guide/reference-tables/configure-s3-reference-table.png
  static/images/integrations/guide/reference-tables/overview.png
  static/images/integrations/guide/reference-tables/reference-table.png
Labels: Do Not Merge, events, Images, integrations, logs, Guide

#15577 Adds Blog Post Link
  content/en/logs/log_configuration/forwarding_custom_destinations.md
Labels: logs

#15571 Give APM Admission Controller docs its own page
  config/_default/menus/menus.en.yaml
  content/en/containers/cluster_agent/admission_controller.md
  content/en/tracing/trace_collection/admission_controller.md
  content/en/tracing/trace_collection/dd_libraries/java.md
  content/en/tracing/trace_collection/dd_libraries/nodejs.md
Labels: Architecture, Do Not Merge, tracing, containers

#15557 Add blueprint section
  content/en/workflows/build.md
Labels: workflows

#15580 Update custom_metrics.md
  content/en/account_management/plan_and_usage.md
  content/en/metrics/custom_metrics.md
Labels: account_management, metrics

#15570 Bump datadog-lambda-python layer to version 63
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#15575 Adds Another Blog Post Link
  content/en/metrics/open_telemetry/_index.md
Labels: metrics

#15566 adding clickmap experimental feature
  assets/scripts/components/dd-browser-logs-rum.js
Labels: Architecture

#15585 Add ITR troubleshooting
  content/en/continuous_integration/troubleshooting.md
Labels: continuous_integration

#15569 Update create service definition endpoint
  content/en/tracing/service_catalog/_index.md
Labels: tracing

#15592 [DOCS-4214] Add image links for OTel docs
  content/en/tracing/trace_collection/open_standards/otel_collector_datadog_exporter.md
  content/en/tracing/trace_collection/open_standards/otlp_ingest_in_the_agent.md
Labels: tracing

#15594 [DOCS-4219] Update image for Audit Trail doc
  content/en/account_management/audit_trail/_index.md
  static/images/account_management/audit_logs/audit_trail_settings.png
Labels: Images, account_management

#15589 [monitors] update example for cumulative windows and add note on metric monitors
  content/en/monitors/create/configuration.md
  static/images/monitors/create/cumulative_evaluation_window.png
  static/images/monitors/create/cumulative_window_example.png
  static/images/monitors/create/rolling_vs_expanding.png
Labels: monitors, Images

#15596 Update beta callout format
  content/en/security_platform/cloud_security_management/guide/writing_rego_rules.md
  content/en/security_platform/cspm/custom_rules/_index.md
Labels: security_platform

#15518 [ci-visibility] Improve `NODE_OPTIONS` instructions
  content/en/continuous_integration/setup_tests/javascript.md
Labels: continuous_integration

#15600 Update log.md including custom tags example for Redis integration
  content/en/containers/kubernetes/log.md
Labels: containers

#15602 Add auto remapping span convention
  content/en/tracing/guide/ignoring_apm_resources.md
Labels: tracing, Guide

#15534 (DOCS-4023) IDEA Plugin
  config/_default/menus/menus.en.yaml
  content/en/developers/ide_integrations/_index.md
  content/en/developers/ide_integrations/idea/_index.md
  static/images/developers/ide_integrations/idea/call-tree1.png
  static/images/developers/ide_integrations/idea/callee-hierarchy.png
  static/images/developers/ide_integrations/idea/datadog-plugin1.png
  static/images/developers/ide_integrations/idea/flamegraph1.png
  static/images/developers/ide_integrations/idea/interest-options.png
  static/images/developers/ide_integrations/idea/overview1.png
  static/images/developers/ide_integrations/idea/project-tree-view.png
  static/images/developers/ide_integrations/idea/separate-flamegraph-by.png
  static/images/developers/ide_integrations/idea/top-list1.png
Labels: Architecture, editorial review, Github, Images, developers, scallion-pancakes

#15528 Bryce/actions catalog
  .gitignore
  content/en/workflows/actions_catalog/_index.md
  content/en/workflows/actions_catalog/generic_actions.md
  static/images/workflows/branch-workflow-configuration.png
  static/images/workflows/http-request-options-tab.png
Labels: Architecture, editorial review, Images, workflows

#15442 [DOCS-2840] Update Go and Java log collection docs
  content/en/logs/log_collection/go.md
  content/en/logs/log_collection/java.md
Labels: logs

#15605 Update "Access Management events" table
  content/en/account_management/audit_trail/events.md
Labels: account_management

#15603 [WEB-2770] Updates OOTB default security rules Cloud SIEM categories
  local/bin/py/build/actions/security_rules.py
Labels: Architecture

#15525 Add required quotes in port variable
  layouts/shortcodes/dbm-sqlserver-agent-setup-kubernetes.md
Labels: under_review

#15604 Service map public docs update
  content/en/tracing/services/services_map.md
  static/images/tracing/visualization/services_map/service_map_collapsed.png
Labels: Images, tracing

#15587 Add new search term for datadog config
  content/en/tracing/troubleshooting/tracer_startup_logs.md
Labels: editorial review

#15608 Fix brackets in sample
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
Labels: tracing

#15371 coscreen
  config/_default/menus/menus.en.yaml
  content/en/coscreen/_index.md
  content/en/coscreen/troubleshooting.md
  static/images/coscreen/assign-to-none.png
  static/images/coscreen/collab.mp4
  static/images/coscreen/collaborate.mp4
  static/images/coscreen/invite_collaborators.mp4
  static/images/coscreen/join.mp4
  static/images/coscreen/share_windows.png
  static/images/coscreen/share_windows_button.png
  static/images/coscreen/sharewindow.mp4
  static/images/coscreen/windows_screenshot.png
Labels: Architecture, WORK IN PROGRESS, monitors, Images, developers, tracing, account_management, infrastructure, Guide, security_platform, coscreen, scallion-pancakes

#15536 Add Workflows overview page
  content/en/workflows/_index.md
  static/images/workflows/hero.jpg
Labels: editorial review, Images, workflows

#15455 Add Workflows Authentication page
  config/_default/menus/menus.en.yaml
  content/en/workflows/setup.md
Labels: Architecture, editorial review, workflows

#15611 update banner cta to keynote
  config/_default/params.en.yaml
Labels: Architecture

#15613 Fixed a typo in doc
  content/en/dashboards/_index.md
Labels: dashboards

#15272 Building workflows
  config/_default/menus/menus.en.yaml
  content/en/workflows/build.md
  content/en/workflows/build_workflows.md
  content/en/workflows/service_accounts.md
  content/en/workflows/trigger.md
  static/images/workflows/add-action.mp4
  static/images/workflows/add-trigger-variable.mp4
  static/images/workflows/context-variables.png
  static/images/workflows/monitor-trigger.png
  static/images/workflows/notification-rule-trigger.png
  static/images/workflows/service-account-details1.png
  static/images/workflows/trigger-from-dashboard.png
  static/images/workflows/use-context-variable.mp4
  static/images/workflows/workflow-builder.mp4
Labels: Architecture, Do Not Merge, editorial review, Images, infrastructure, workflows

#15612 Corrected Linux/Windows section in process.md
  content/en/infrastructure/process.md
Labels: infrastructure

#15615 background maneuverings
  content/en/data_streams/_index.md
  content/en/data_streams/glossary.md
  static/images/data_streams/data_streams_hero.png
  static/images/tracing/data_streams/data_streams.png
Labels: Architecture, Images, data_streams

#15533 WEB-2783 Frontmatter param `is_beta` no longer adds noindex meta tags on Docs pages
  content/en/account_management/billing/rum_units.md
  content/en/glossary/_index.md
  content/en/logs/log_configuration/online_archives.md
  content/en/real_user_monitoring/error_tracking/explorer.md
  content/en/real_user_monitoring/guide/send-rum-custom-actions.md
  content/en/tracing/error_tracking/explorer.md
  layouts/partials/noindex.html
Labels: Architecture, editorial review, logs, tracing, account_management, real_user_monitoring, Guide, glossary, chore

#15614 Remove Debug Workflows page, update left nav
  config/_default/menus/menus.en.yaml
  content/en/workflows/debug.md
Labels: Architecture, workflows

#15482 Update online_archives.md
  content/en/logs/log_configuration/online_archives.md
Labels: logs

#15616 fix a link in workflows authentication
  content/en/workflows/setup.md
Labels: Architecture, Images, workflows

#15316 DOCS-3930 Moving Around the Synthetic Testing Tunnel
  .gitignore
  config/_default/menus/menus.en.yaml
  content/en/account_management/audit_trail/events.md
  content/en/continuous_integration/_index.md
  content/en/continuous_integration/guides/pull_request_comments.md
  content/en/continuous_testing/_index.md
  content/en/continuous_testing/cicd_integrations/_index.md
  content/en/continuous_testing/cicd_integrations/configuration.md
  content/en/continuous_testing/cicd_integrations/gitlab.md
  content/en/continuous_testing/cicd_integrations/jenkins.md
  content/en/continuous_testing/explorer/_index.md
  content/en/continuous_testing/explorer/search.md
  content/en/continuous_testing/explorer/search_syntax.md
  content/en/continuous_testing/settings/_index.md
  content/en/continuous_testing/testing_tunnel.md
  content/en/continuous_testing/troubleshooting.md
  content/en/dashboards/scheduled_reports.md
  content/en/developers/guide/data-collection-resolution-retention.md
  content/en/getting_started/synthetics/_index.md
  content/en/getting_started/synthetics/api_test.md
  content/en/getting_started/synthetics/browser_test.md
  content/en/getting_started/synthetics/private_location.md
  content/en/synthetics/_index.md
  content/en/synthetics/cicd_integrations/troubleshooting.md
  content/en/synthetics/dashboards/test_summary.md
  content/en/synthetics/private_locations/_index.md
  content/en/synthetics/settings/_index.md
  content/en/synthetics/troubleshooting/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/cpp.md
  content/en/tracing/universal_service_monitoring/_index.md
  data/partials/home.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  static/images/continuous_testing/continuous_testing_default.png
  static/images/continuous_testing/continuous_testing_parallelization.png
  static/images/continuous_testing/continuous_testing_selection.png
  static/images/continuous_testing/explorer_ci_batches.png
  static/images/continuous_testing/explorer_ci_batches_sidepanel.png
  static/images/continuous_testing/open_sidepanel.png
Labels: Architecture, editorial review, Images, developers, tracing, account_management, getting_started, synthetics, dashboards, Guide, continuous_integration, continuous_testing, scallion-pancakes

#15617 (DOCS-4112) Add NetFlow beta docs
  config/_default/menus/menus.en.yaml
  content/en/network_monitoring/devices/netflow.md
Labels: Architecture, Do Not Merge, network_monitoring, scallion-pancakes

#15620 Heatmaps
  content/en/real_user_monitoring/heatmaps/_index.md
  static/images/real_user_monitoring/heatmaps/actions.jpeg
  static/images/real_user_monitoring/heatmaps/application-and-view.jpeg
  static/images/real_user_monitoring/heatmaps/heatmap.jpeg
Labels: Images, real_user_monitoring, scallion-pancakes

#15539 (DOCS-4010) Add agent config in list view
  content/en/infrastructure/list.md
  static/images/infrastructure/index/infra-list-config3.png
Labels: Do Not Merge, Images, infrastructure, scallion-pancakes

#15531 (DOCS-3878) Intelligent Test Runner
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/_index.md
  content/en/continuous_integration/guides/test_configurations.md
  content/en/continuous_integration/intelligent_test_runner/_index.md
  content/en/continuous_integration/pipelines/_index.md
  content/en/continuous_integration/pipelines/buildkite.md
  content/en/continuous_integration/pipelines/circleci.md
  content/en/continuous_integration/pipelines/codefresh.md
  content/en/continuous_integration/pipelines/custom_commands.md
  content/en/continuous_integration/pipelines/custom_tags_and_metrics.md
  content/en/continuous_integration/pipelines/github.md
  content/en/continuous_integration/pipelines/gitlab.md
  content/en/continuous_integration/pipelines/jenkins.md
  content/en/continuous_integration/setup_pipelines/_index.md
  content/en/continuous_integration/setup_tests/_index.md
  content/en/continuous_integration/tests/_index.md
  content/en/continuous_integration/tests/containers.md
  content/en/continuous_integration/tests/dotnet.md
  content/en/continuous_integration/tests/java.md
  content/en/continuous_integration/tests/javascript.md
  content/en/continuous_integration/tests/junit_upload.md
  content/en/continuous_integration/tests/python.md
  content/en/continuous_integration/tests/ruby.md
  content/en/continuous_integration/tests/swift.md
  content/en/continuous_integration/troubleshooting.md
  content/en/continuous_testing/cicd_integrations/gitlab.md
  content/en/continuous_testing/cicd_integrations/jenkins.md
  content/en/dashboards/guide/quick-graphs.md
  content/en/monitors/create/types/ci.md
  static/images/continuous_integration/itr_configuration.png
  static/images/continuous_integration/itr_overview.png
Labels: Architecture, Do Not Merge, monitors, Images, logs, account_management, synthetics, dashboards, Guide, continuous_integration, continuous_testing, scallion-pancakes

#15621 Add hand-written actions files to translation
  translate.yaml
Labels: Architecture, Images, workflows

#15595 Remove callout at top of CCM page
  content/en/infrastructure/cloud_cost_management.md
Labels: Do Not Merge, infrastructure, scallion-pancakes

#15626 Wrong API docs link update
  content/en/getting_started/api/_index.md
Labels: getting_started

#15509 DOCS-3949 - CSM
  config/_default/menus/menus.en.yaml
  content/en/security_platform/cloud_security_management/_index.md
  content/en/security_platform/cloud_security_management/guide/_index.md
  local/bin/py/build/actions/security_rules.py
  local/bin/py/build/configurations/pull_config_preview.yaml
  static/images/security_platform/csm_overview.png
  static/images/security_platform/cspm_overview.png
Labels: Architecture, Do Not Merge, Images, tracing, account_management, dashboards, security_platform, continuous_integration, data_security, scallion-pancakes

#15590 [DOCS-4039] Add CSI doc
  config/_default/menus/menus.en.yaml
  content/en/security_platform/cloud_siem/cloud_security_investigator.md
Labels: Architecture, editorial review, security_platform, scallion-pancakes

#15607 Update announcement banner
  config/_default/params.en.yaml
Labels: Architecture, scallion-pancakes

#15623 [ci-app] Change ITR test skipping message
  content/en/continuous_integration/troubleshooting.md
Labels: continuous_integration

#15624 Fix typo in tags used by Error Tracking for APM
  content/en/tracing/error_tracking/_index.md
Labels: tracing

#15625 [Tracer] Link to samples in repo for Logs correlation
  content/en/tracing/other_telemetry/connect_logs_and_traces/dotnet.md
Labels: tracing

#15632 Fix small typo for CSI doc
  content/en/security_platform/cloud_siem/cloud_security_investigator.md
Labels: security_platform

#15635 [DOCS-4202] Add info about indexed logs
  content/en/monitors/create/types/log.md
Labels: monitors

#15619 Add Squid Proxy instructions
  content/en/agent/proxy.md
Labels: editorial review, agent

#15631 (DOCS-4253) Add CSPM section
  content/en/integrations/guide/azure-portal.md
  static/images/integrations/guide/azure_portal/enable-CSPM.png
Labels: Images, integrations, Guide

#15578 [DOCS-4226][apm] add page on APM quantization
  config/_default/menus/menus.en.yaml
  content/en/tracing/troubleshooting/quantization.md
Labels: Architecture, editorial review, tracing

#15638 Add log file size limit for CI Visibility forwarding
  content/en/continuous_integration/pipelines/github.md
  content/en/continuous_integration/pipelines/gitlab.md
Labels: continuous_integration

#15651 [DOCS-4231] Add note about HIPAA-enabled accounts
  content/en/security_platform/notifications/variables.md
Labels: security_platform

#15652 (DOCS-4230) Update images on Infra list page
  content/en/infrastructure/list.md
  static/images/infrastructure/index/Infra-List-Alias.png
  static/images/infrastructure/index/Infra-List.png
  static/images/infrastructure/index/infra-list-alias1.png
  static/images/infrastructure/index/infra-list1.png
Labels: Images, infrastructure

#15532 update sqlserver custom metrics guidance
  content/en/integrations/guide/collect-sql-server-custom-metrics.md
Labels: integrations, Guide

#15657 Add tabs to admission controller page
  content/en/containers/cluster_agent/admission_controller.md
Labels: containers

#15661 remove mention of secure GV
  content/en/synthetics/guide/app-that-requires-login.md
Labels: synthetics, Guide

#15653 Bump datadog-lambda-extension layer to version 31
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture, changelog/no-changelog, serverless

#15662 Correct typos and broken link
  content/en/dashboards/widgets/pie_chart.md
  content/en/dashboards/widgets/treemap.md
  content/en/developers/dogstatsd/_index.md
Labels: developers, dashboards

#15660 service catalog API doc update
  content/en/tracing/service_catalog/service_definition_api.md
Labels: tracing

#15658 Document how to enable debug-level logs on the Jenkins Plugin
  content/en/continuous_integration/troubleshooting.md
Labels: continuous_integration

#15655 [RUMF-1419] RUM browser: document functions for matching
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
  content/en/real_user_monitoring/connect_rum_and_traces/_index.md
Labels: real_user_monitoring

#15664 Update cloud_cost_management.md
  content/en/infrastructure/cloud_cost_management.md
Labels: infrastructure

#15668 (DOCS-4254) Fix incorrect link in dbm docs
  content/en/database_monitoring/setup_postgres/troubleshooting.md
Labels: database_monitoring

#15669 Add ITR blog link to index
  content/en/continuous_integration/intelligent_test_runner/_index.md
Labels: continuous_integration

#15567 [DOCS-4222][us1.prod] JasSpencer/update troubleshooting-monitor-alerts.md
  content/en/monitors/guide/troubleshooting-monitor-alerts.md
Labels: monitors, editorial review, Guide

#15671 Update link in Detection Rules index
  content/en/security_platform/detection_rules/_index.md
Labels: security_platform

#15672 Update signal_correlation_rules.md
  content/en/security_platform/cloud_siem/signal_correlation_rules.md
Labels: security_platform

#15458 Increment log4j-core version
  content/en/logs/log_collection/java.md
Labels: under_review

#15529 Update Notification Rules for Renotify Feature
  content/en/monitors/incident_management/incident_settings.md
  static/images/monitors/incidents/notification_rules_example.jpeg
  static/images/monitors/incidents/notification_rules_list.jpeg
Labels: monitors, Images

#15682 Add some Dash release blog links to docs pages
  content/en/continuous_testing/_index.md
  content/en/coscreen/_index.md
  content/en/events/_index.md
  content/en/infrastructure/cloud_cost_management.md
  content/en/workflows/_index.md
Labels: events, infrastructure, continuous_testing, workflows, coscreen

#15680 [DOCS-4176] Update log4j version in Java log collection
  content/en/logs/log_collection/java.md
Labels: logs

#15683 Update CWS getting started
  content/en/security_platform/cloud_workload_security/getting_started.md
Labels: security_platform

#15678 Update NetFlow Monitoring beta docs
  content/en/network_monitoring/devices/netflow.md
Labels: network_monitoring

#15687 Fix broken links
  content/en/security_platform/cloud_workload_security/getting_started.md
Labels: security_platform

#15686 Tracing http client ip documentation update
  content/en/security_platform/application_security/setup_and_configure.md
  content/en/tracing/configure_data_security/_index.md
Labels: tracing, security_platform

#15695 Labels added to the container sending logs
  content/en/agent/logs/advanced_log_collection.md
Labels: agent

#15694 Add NDM NetFlow proxy config
  content/en/agent/guide/dual-shipping.md
  content/en/agent/proxy.md
Labels: agent, Guide

#15696 Typo in Kernel Activity
  content/en/security_platform/cloud_workload_security/getting_started.md
Labels: security_platform

#15677 CI Visibility - Swift - Update instructions
  content/en/continuous_integration/tests/swift.md
Labels: continuous_integration

#15702 Added PCI DSS docs for logs
  content/en/data_security/logs.md
Labels: editorial review, data_security

#15705 dan.chiniara/update export monitor alerts to csv output
  content/en/monitors/guide/export-monitor-alerts-to-csv.md
Labels: monitors, Guide

#15641 [DOCS-4239] Add PCI compliance for APM info
  content/en/tracing/configure_data_security/_index.md
Labels: tracing

#15708 AD back into JSON format
  content/en/containers/kubernetes/prometheus.md
Labels: containers
