Repository DataDog/documentation, pull requests merged in 2022-06, with the labels that each got.

#13415 Update information about supported Debian versions
  content/en/agent/basic_agent_usage/_index.md
  content/en/agent/basic_agent_usage/deb.md
Labels: agent

#14177 Fix node layer version number
  content/en/serverless/installation/nodejs.md
Labels: serverless

#13131 [APM][.NET] Update Tracer doc to reflect UDS feature
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#12945 multicode examples
  assets/styles/pages/_api.scss
  layouts/api/list.html
  layouts/partials/api/code-example.html
  layouts/partials/api/curl.html
  layouts/partials/api/request-body.html
Labels: Architecture, Do Not Merge

#14181 [DOCS-3547] Update Security Platform docs
  content/en/security_platform/cloud_siem/getting_started.md
  content/en/security_platform/cloud_siem/log_detection_rules.md
  content/en/security_platform/detection_rules/_index.md
  content/en/security_platform/guide/automate-the-remediation-of-detected-threats.md
  content/en/security_platform/guide/how-to-setup-security-filters-using-cloud-siem-api.md
  content/en/security_platform/guide/monitor-authentication-logs-for-security-threats.md
Labels: Guide, security_platform

#14152 DOCS-3541 Service Catalog (beta) docs
  content/en/tracing/faq/_index.md
  content/en/tracing/faq/service_catalog.md
  content/en/tracing/faq/service_definition_api.md
  data/integrations/docker_daemon.yaml
  static/images/tracing/service_catalog/service_catalog.mp4
Labels: editorial review, Images, tracing, FAQ

#14186 Update indexes.md
  content/en/logs/log_configuration/indexes.md
Labels: logs

#14190 [docs]-update-index-delete
  content/en/logs/log_configuration/indexes.md
Labels: logs

#14118 DOCS-3545 Adds Alerting with Conversion Rates Guide
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/alerting-with-conversion-rates.md
  static/images/real_user_monitoring/guide/alerting-with-conversion-rates/conversion-rate-formula.png
  static/images/real_user_monitoring/guide/alerting-with-conversion-rates/copy-paste-query-into-rum-monitor.mp4
  static/images/real_user_monitoring/guide/alerting-with-conversion-rates/funnel-widget-export.mp4
  static/images/real_user_monitoring/guide/alerting-with-conversion-rates/second-step-in-funnel.png
Labels: Images, real_user_monitoring, Guide

#14193 APM > .NET Framework > Fix Fix Datadog Agent links on the compatibility requirements page
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-framework.md
Labels: tracing

#14171 Bryce/add aws terraform guide
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/aws-integration-with-terraform.md
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/aws-terraform-setup.md
Labels: integrations, Guide, FAQ

#14196 NGINX Example configuration profile intake.
  content/en/agent/proxy.md
Labels: agent

#14170 Update agent version to 7.36.1 for DBM docs
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/azure.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
  content/en/database_monitoring/setup_mysql/troubleshooting.md
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/azure.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/rds.md
  content/en/database_monitoring/setup_postgres/selfhosted.md
  content/en/database_monitoring/setup_postgres/troubleshooting.md
Labels: database_monitoring

#14195 Add cloud metadata configs for SQLServer
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_sql_server/azure.md
  content/en/database_monitoring/setup_sql_server/gcsql.md
Labels: Architecture, database_monitoring

#14197 Add information about tlsVerify: false on AKS with new Agent versions
  content/en/agent/kubernetes/distributions.md
Labels: agent

#14206 [apm] Add resource dependency map to resource docs
  content/en/tracing/visualization/resource.md
  static/images/tracing/visualization/resource/resource_dependency_map.png
  static/images/tracing/visualization/resource/resource_dependency_map_hover.mp4
Labels: Images, tracing

#14208 Change target branch for SDK versions
  .github/workflows/bump_versions.yml
Labels: Github

#14083 [ci-visibility] Add Agentless documentation for CI Visibility Tests
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/setup_tests/_index.md
  content/en/continuous_integration/setup_tests/agent.md
  content/en/continuous_integration/setup_tests/dotnet.md
  content/en/continuous_integration/setup_tests/java.md
  content/en/continuous_integration/setup_tests/javascript.md
  content/en/continuous_integration/setup_tests/python.md
  content/en/continuous_integration/setup_tests/ruby.md
  content/en/continuous_integration/troubleshooting.md
Labels: Architecture, editorial review, continuous_integration

#14213 Update migrating_to_new_events_features.md
  content/en/events/guides/migrating_to_new_events_features.md
Labels: events

#14216 All classifier tags are moved, stop looking at old location
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#14226 Syntax update ignoring_apm_resources.md
  content/en/tracing/guide/ignoring_apm_resources.md
Labels: tracing, Guide

#14185 (DOCS-3405) Update dashboards index
  content/en/dashboards/_index.md
Labels: dashboards

#14225 [doc]-adding-image-slack-docs
  static/images/integrations/slack/slack_notifications_config.png
Labels: Images

#13838 Highlight Admission controller+prep 1.20
  content/en/agent/cluster_agent/admission_controller.md
  content/en/agent/kubernetes/apm.md
Labels: agent

#14227 Update audit trail monitor
  content/en/monitors/create/types/audit_logs.md
Labels: monitors

#13292 Update dotnet-framework.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#13243 Java app prerequisites update
  content/en/security_platform/application_security/getting_started/java.md
Labels: stale, security_platform

#13693 [CIAPP] Add instructions to enable logs collection for gitlab
  content/en/continuous_integration/setup_pipelines/gitlab.md
Labels: continuous_integration

#14209 RUM Explorer Visualize Edit
  content/en/real_user_monitoring/explorer/visualize.md
  static/images/real_user_monitoring/explorer/visualize/funnel_updated.mp4
Labels: Images, real_user_monitoring

#14214 Manually Adding the Chrome Extension Edit
  content/en/synthetics/guide/manually-adding-chrome-extension.md
Labels: synthetics, Guide

#14215 Create an API test with the API Edit
  content/en/synthetics/guide/create-api-test-with-the-api.md
Labels: synthetics, Guide

#14203 Explain that JSON events are parsed
  content/en/events/guides/migrating_to_new_events_features.md
Labels: events

#14238 Add details about aws double billing for instance metadata v2
  content/en/account_management/billing/aws.md
Labels: account_management

#14229 Fixing a conflict with the path of least resistance
  content/en/tracing/setup_overview/setup/python.md
Labels: tracing

#14151 DOCS-3506 Run Synthetic Tests from Private Locations Edits
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#14241 Added new images for audit trail docs
  static/images/account_management/audit_logs/audit_dashboard.png
  static/images/account_management/audit_logs/audit_enable.png
  static/images/account_management/audit_logs/audit_graphing.png
  static/images/account_management/audit_logs/audit_side_nav.png
  static/images/account_management/audit_logs/audit_toggles.png
Labels: Images

#14242 Updating images, minor changes.
  content/en/account_management/audit_trail.md
Labels: account_management

#14235 Clarify that GHES is not supported
  content/en/continuous_integration/setup_pipelines/github.md
Labels: continuous_integration

#14239 Update _index.md
  content/en/real_user_monitoring/session_replay/_index.md
Labels: real_user_monitoring

#14232 Adding normalized query section
  content/en/account_management/billing/pricing.md
  content/en/database_monitoring/data_collected.md
  content/en/database_monitoring/query_metrics.md
Labels: account_management, database_monitoring

#14244 DOCS-3560 Service Page Edits
  content/en/getting_started/tagging/unified_service_tagging.md
  content/en/tracing/visualization/service.md
Labels: tracing, getting_started

#14139 [Profiler] Update .NET documentation for Beta
  content/en/tracing/profiler/connect_traces_and_profiles.md
  content/en/tracing/profiler/enabling/dotnet.md
Labels: tracing

#14164 Remove beta notice from GitHub Actions integration
  content/en/continuous_integration/setup_pipelines/github.md
Labels: continuous_integration

#14254 DOCS-3598 revise CSPM glossary structure
  content/en/security_platform/cspm/_index.md
Labels: security_platform

#14249 [APM][.NET] 2.10.0 update
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-core.md
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-framework.md
  content/en/tracing/setup_overview/custom_instrumentation/dotnet.md
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#14261 update URL
  config/_default/menus/menus.en.yaml
  content/en/account_management/audit_trail.md
  content/en/monitors/create/types/audit_trail.md
Labels: Architecture, monitors, account_management

#14259 DBM-1360: Add MySQL query activity troubleshooting
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
  content/en/database_monitoring/setup_mysql/troubleshooting.md
Labels: database_monitoring

#14265 Update audit_trail.md
  content/en/account_management/audit_trail.md
Labels: account_management

#14269 small wording tweaks/fixes to kubernetes prometheus page
  content/en/agent/kubernetes/prometheus.md
Labels: agent

#14268 Bump datadog-lambda-extension layer to version 23
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#14270 Improve DBM MySQL runtime setup consumer docs
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
  content/en/database_monitoring/setup_mysql/troubleshooting.md
Labels: database_monitoring

#14224 DOCS-3593 [Trace Explorer][1] Search article
  config/_default/menus/menus.en.yaml
  content/en/tracing/trace_explorer/search.md
  static/images/tracing/trace_explorer/search/trace_explorer_list_search.png
  static/images/tracing/trace_explorer/search/trace_explorer_top_list_search.png
Labels: Architecture, editorial review, Images, tracing

#14273 Test changing tag to type in whats-next div
  content/en/getting_started/agent/_index.md
Labels: getting_started

#14272 fix link
  content/en/tracing/guide/ignoring_apm_resources.md
Labels: tracing, Guide

#14271 [DOCS-2602] Add link to grok parser
  content/en/logs/log_configuration/pipelines.md
Labels: logs

#14282 Bryce/fix integration faq links
  content/en/integrations/faq/_index.md
Labels: integrations, FAQ

#14037 Documentation: Update container logs volume name
  content/en/agent/kubernetes/log.md
Labels: under_review

#14289 Update audit_trail.md
  content/en/account_management/audit_trail.md
Labels: account_management

#13765 [DOCS-3281] Clarify PrivateLink setup with VPC peering
  content/en/agent/guide/private-link.md
Labels: agent, Guide

#14277 fix an incomplete sentence
  content/en/infrastructure/cloud_cost_management.md
Labels: infrastructure

#14267 (DOCS-2604) Add warning and page link to guide
  content/en/tracing/guide/metrics_namespace.md
Labels: tracing, Guide

#14290 DOCS-3578 - add note about billing in GKE Autopilot
  content/en/account_management/billing/containers.md
Labels: account_management

#14291 [live containers] Update the compatibility matrix
  content/en/infrastructure/livecontainers/configuration.md
Labels: infrastructure

#14296 added the use_agent_proxy
  content/en/agent/proxy.md
Labels: agent

#14298 Update link text
  content/en/account_management/api-app-keys.md
Labels: account_management

#14200 (DOCS-3255) Add note for renotification variables
  content/en/monitors/notify/_index.md
Labels: monitors

#14294 (DOCS-3530) Add docker environment variable to Agent docs
  content/en/agent/docker/_index.md
Labels: agent

#14236 DOCS-3593 [Trace Explorer][2] Facets article
  config/_default/menus/menus.en.yaml
  content/en/tracing/trace_explorer/facets.md
  content/en/tracing/trace_explorer/visualize.md
  static/images/tracing/trace_explorer/facets/create_facet.png
  static/images/tracing/trace_explorer/facets/create_facet_from_scratch.png
  static/images/tracing/trace_explorer/facets/facet_panel.png
  static/images/tracing/trace_explorer/facets/filter_facets.png
  static/images/tracing/trace_explorer/facets/group_facets.png
  static/images/tracing/trace_explorer/facets/hide_facets.png
  static/images/tracing/trace_explorer/visualize/group_by_aggregation_function.png
  static/images/tracing/trace_explorer/visualize/group_by_dimension.png
  static/images/tracing/trace_explorer/visualize/group_by_measured_dimension.png
  static/images/tracing/trace_explorer/visualize/group_by_rollup_period.png
  static/images/tracing/trace_explorer/visualize/group_by_top_bottom.png
  static/images/tracing/trace_explorer/visualize/list_view_table_controls.mp4
  static/images/tracing/trace_explorer/visualize/table_view.png
  static/images/tracing/trace_explorer/visualize/timeseries_view.png
  static/images/tracing/trace_explorer/visualize/top_list_view.png
Labels: Architecture, editorial review, Images, tracing

#13807 Document AD annotations v2 (Agent 7.36+)
  content/en/agent/kubernetes/integrations.md
  content/en/getting_started/containers/autodiscovery.md
Labels: agent, getting_started, stale

#14245 [DOCS-3339] Add Observability Pipelines Docs
  assets/scripts/datadog-docs.js
  config/_default/menus/menus.en.yaml
  content/en/integrations/observability_pipelines/_index.md
  content/en/integrations/observability_pipelines/integrations.md
  content/en/integrations/observability_pipelines/setup.md
  content/en/integrations/observability_pipelines/vector_configurations.md
  content/en/integrations/observability_pipelines/working_with_data.md
  static/images/integrations/observability_pipelines/config-map-side-panel.png
  static/images/integrations/observability_pipelines/config-map.png
  static/images/integrations/observability_pipelines/configuration-list.png
  static/images/integrations/observability_pipelines/obs_pipelines_overview.png
Labels: Architecture, Images, integrations

#14304 Updated table with new usage metrics under Custom Metrics
  content/en/account_management/billing/usage_metrics.md
Labels: account_management

#14307 Update org_settings.md
  content/en/account_management/org_settings.md
Labels: account_management

#14308 Revert "Updated table with new usage metrics under Custom Metrics"
  content/en/account_management/billing/usage_metrics.md
Labels: account_management

#14299 Move two dashboards FAQ pages to the guide section
  content/en/dashboards/guide/_index.md
  content/en/dashboards/guide/embeddable-graphs-with-template-variables.md
  content/en/dashboards/guide/unable-to-iframe.md
  static/images/dashboards/guide/embeddable_graph01.png
  static/images/dashboards/guide/embeddable_graph02.png
Labels: Images, dashboards, Guide

#14306 Clarify wording around which platforms are supported
  content/en/security_platform/application_security/_index.md
  content/en/security_platform/application_security/getting_started/_index.md
Labels: security_platform

#14303 Adding dbinstanceidentifier into the configuration
  content/en/database_monitoring/setup_postgres/rds.md
Labels: database_monitoring

#12889 Kubernetes_APM_FixTypo
  content/en/agent/kubernetes/apm.md
Labels: agent, stale

#14146 [DOCS-3488] Logs FAQ migration
  content/en/logs/faq/_index.md
  content/en/logs/guide/_index.md
  content/en/logs/guide/container-agent-to-tail-logs-from-host.md
  content/en/logs/guide/custom-log-file-with-heightened-read-permissions.md
  content/en/logs/guide/increase-number-of-log-files-tailed.md
  content/en/logs/guide/log-collection-troubleshooting-guide.md
  content/en/logs/guide/logs-not-showing-expected-timestamp.md
  content/en/logs/guide/logs-show-info-status-for-warnings-or-errors.md
  content/en/logs/guide/mechanisms-ensure-logs-not-lost.md
  content/en/logs/guide/remap-custom-severity-to-official-log-status.md
  content/en/tracing/faq/why-cant-i-see-my-correlated-logs-in-the-trace-id-panel.md
  static/images/logs/guide/category_processor.png
  static/images/logs/guide/category_processor_bunyan.png
  static/images/logs/guide/log_post_processing.png
  static/images/logs/guide/log_status_remapper.png
  static/images/logs/guide/log_timestamp_1.png
  static/images/logs/guide/log_timestamp_2.png
  static/images/logs/guide/log_timestamp_3.png
  static/images/logs/guide/log_timestamp_4.png
  static/images/logs/guide/log_timestamp_5.png
  static/images/logs/guide/log_timestamp_6.png
  static/images/logs/guide/log_timestamp_7.png
  static/images/logs/guide/log_timestamp_8.png
  static/images/logs/guide/log_timestamp_9.png
  static/images/logs/guide/new_log.png
  static/images/logs/guide/new_log_remapped.png
  static/images/logs/guide/original_log.png
  static/images/logs/guide/processor.png
  static/images/logs/guide/reserved_attribute.png
  static/images/logs/guide/source_attribute.png
  static/images/logs/guide/status_remapper_bunyan.png
Labels: editorial review, Images, logs, tracing, Guide, FAQ

#14310 Commit to trigger preview link
  content/en/account_management/billing/usage_metrics.md
Labels: account_management

#14260 [WEB-2260] Code tabs refactor
  assets/scripts/components/async-loading.js
  assets/scripts/components/codetabs.js
  assets/scripts/datadog-docs.js
  assets/styles/pages/_global.scss
  layouts/shortcodes/tabs.html
Labels: Architecture

#14326 Remove beta message from Watchdog Insights for RUM page
  content/en/real_user_monitoring/explorer/watchdog_insights.md
Labels: real_user_monitoring

#14322 Update multi-alert group limit
  content/en/monitors/create/types/event.md
Labels: monitors

#14324 DOCS-1927 Clarifies Core Web Vitals Version Support
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
Labels: real_user_monitoring

#14119 DOCS-3280 Adds Frustration Signals Documentation
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/browser/data_collected.md
  content/en/real_user_monitoring/dashboards/_index.md
  content/en/real_user_monitoring/dashboards/errors_dashboard.md
  content/en/real_user_monitoring/dashboards/frustration_signals_dashboard.md
  content/en/real_user_monitoring/dashboards/performance_overview_dashboard.md
  content/en/real_user_monitoring/dashboards/resources_dashboard.md
  content/en/real_user_monitoring/frustration_signals/_index.md
  static/images/real_user_monitoring/dashboards/available_rum_dashboards.png
  static/images/real_user_monitoring/dashboards/frustration_signals_ootb_dashboard.png
  static/images/real_user_monitoring/dashboards/performance_overview.png
  static/images/real_user_monitoring/dashboards/rum_application_overview_dashboard.png
  static/images/real_user_monitoring/frustration_signals/actions_frustration_signal.png
  static/images/real_user_monitoring/frustration_signals/actions_panel_multiple_frustration_signals.png
  static/images/real_user_monitoring/frustration_signals/errors_tab.png
  static/images/real_user_monitoring/frustration_signals/frustration_signals_in_performance_tab.png
  static/images/real_user_monitoring/frustration_signals/rum_monitor_frustration_count.png
  static/images/real_user_monitoring/frustration_signals/session_replay_frustration_signals.png
Labels: Architecture, editorial review, Images, real_user_monitoring

#14325 Adds DaemonSet configuration for prometheusScrape
  content/en/agent/kubernetes/prometheus.md
Labels: agent

#14329 Update interpolation.md
  content/en/dashboards/functions/interpolation.md
Labels: dashboards

#14336 Update docs to reflect that groups are dropped after query change
  content/en/monitors/faq/why-did-my-monitor-settings-change-not-take-effect.md
Labels: monitors, FAQ

#14340 Remove Postgres 9.6 from supported versions on CloudSQL
  content/en/database_monitoring/setup_postgres/_index.md
  content/en/database_monitoring/setup_postgres/gcsql.md
Labels: database_monitoring

#14331 Adds Android TV and tvOS to Index Page Titles
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/_index.md
  layouts/partials/rum/rum-getting-started.html
  layouts/partials/synthetics/network-layers.html
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  static/images/integrations_logos/android_tv_large.svg
  static/images/integrations_logos/tv_os_large.svg
Labels: Architecture, Images, real_user_monitoring

#14323 DOCS-3491 RUM FAQs to Guides Migration
  content/en/real_user_monitoring/browser/troubleshooting.md
  content/en/real_user_monitoring/faq/_index.md
  content/en/real_user_monitoring/faq/content_security_policy.md
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/alerting-with-conversion-rates.md
  content/en/real_user_monitoring/guide/alerting-with-rum.md
  content/en/real_user_monitoring/guide/browser-sdk-upgrade.md
  content/en/real_user_monitoring/guide/compute-apdex-with-rum-data.md
  content/en/real_user_monitoring/guide/enrich-and-control-rum-data.md
  content/en/real_user_monitoring/guide/proxy-rum-data.md
  content/en/real_user_monitoring/guide/session-replay-service-worker.md
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
Labels: real_user_monitoring, Guide, FAQ

#14343 [ci-app] Add promotional video to landing page
  content/en/continuous_integration/_index.md
Labels: continuous_integration

#14345 Reshuffling Tile Order in Product Landing Page
  layouts/partials/rum/rum-getting-started.html
Labels: Architecture

#14342 Update OTLP Documentation
  content/en/tracing/setup_overview/open_standards/otlp_ingest_in_the_agent.md
Labels: tracing

#14332 (DOCS-3550) Add template variable detail and new example
  content/en/dashboards/template_variables.md
Labels: dashboards

#14352 Helm chart admission controller on by default
  content/en/agent/cluster_agent/admission_controller.md
Labels: agent

#14240 [ci-visibility] Update javascript instrumentation to recommend `NODE_OPTIONS`
  content/en/continuous_integration/setup_tests/javascript.md
Labels: account_management, continuous_integration, database_monitoring

#14364 Fix Cloud SIEM anchor link
  content/en/security_platform/_index.md
Labels: security_platform

#12737 [DOCS-2983] mention admission controller in k8s section
  content/en/getting_started/tagging/unified_service_tagging.md
Labels: stale, under_review

#14284 Bryce/move jmx composite attributes faq
  content/en/integrations/faq/_index.md
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/collecting-composite-type-jmx-attributes.md
Labels: editorial review, integrations, Guide, FAQ

#14283 (DOCS-3484) Update link to point to guide
  content/en/integrations/faq/i-have-a-matching-bean-for-my-jmx-integration-but-nothing-on-collect.md
Labels: integrations, FAQ

#14372 Remove private beta banners in prep for SQL Server GA
  content/en/database_monitoring/_index.md
  content/en/database_monitoring/setup_sql_server/_index.md
  content/en/database_monitoring/setup_sql_server/azure.md
  content/en/database_monitoring/setup_sql_server/gcsql.md
  content/en/database_monitoring/setup_sql_server/rds.md
  content/en/database_monitoring/setup_sql_server/selfhosted.md
Labels: database_monitoring

#14388 Bump datadog-lambda-python layer to version 59
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#14313 DOCS-3603 Expo Support for React Native Monitoring
  .gitignore
  Makefile
  config/_default/menus/menus.en.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, editorial review

#14377 Improve Azure SQL DB agent configuration instructions
  content/en/database_monitoring/setup_sql_server/azure.md
Labels: database_monitoring

#14389 [WEB-2462] Safe html in tab titles
  content/en/agent/docker/prometheus.md
  content/en/continuous_integration/setup_pipelines/gitlab.md
  layouts/shortcodes/tab.html
Labels: Architecture, agent, continuous_integration

#14395 Small edits to SLO docs pages
  content/en/metrics/distributions.md
  content/en/monitors/service_level_objectives/metric.md
  content/en/monitors/service_level_objectives/monitor.md
Labels: monitors, metrics

#14375 (DOCS-3525) Update image alt text
  content/en/getting_started/integrations/aws.md
Labels: getting_started

#14371 Update/delete images in Dashboards FAQ
  content/en/dashboards/faq/historical-data.md
  static/images/dashboards/faq/percentage_timeshift.png
  static/images/dashboards/faq/query_post_deletion.png
Labels: Images, dashboards, FAQ

#14368 [WEB-2451] Updates url when code lang tab is clicked
  assets/scripts/components/code-languages.js
  assets/scripts/components/codetabs.js
Labels: Architecture

#14378 RUM Error Tracking TOC Navigation Update
  config/_default/menus/menus.en.yaml
Labels: Architecture

#14354 remove ddtype & integration labels
  assets/styles/components/_integration-labels.scss
  content/en/integrations/amazon_cloudhsm.md
  content/en/integrations/amazon_guardduty.md
  content/en/integrations/carbon_black.md
  content/en/integrations/cloudability.md
  content/en/integrations/cloudcheckr.md
  content/en/integrations/iam_access_analyzer.md
  content/en/integrations/kubernetes.md
  content/en/integrations/pivotal_platform.md
  content/en/integrations/rss.md
  content/en/integrations/system.md
  content/en/integrations/tcp_rtt.md
  content/en/integrations/uwsgi.md
  layouts/partials/integration-labels/integration-labels.html
  local/bin/py/build/actions/integrations.py
  static/images/icons/check_crawler.png
  static/images/icons/check_library.png
  static/images/icons/check_statsd.png
Labels: Architecture, Images, integrations

#14392 Repeated language "for special requests"
  content/en/tracing/setup_overview/compatibility_requirements/go.md
Labels: tracing

#14373 DOCS-3493 Migrate tracing faqs
  content/en/tracing/faq/_index.md
  content/en/tracing/faq/php-tracer-manual-installation.md
  content/en/tracing/faq/profiling_migration.md
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/span_and_trace_id_format.md
  content/en/tracing/guide/trace-agent-from-source.md
  content/en/tracing/profiler/enabling/_index.md
  content/en/tracing/setup_overview/setup/php.md
Labels: tracing, Guide, FAQ

#14408 (DOCS-3657) Agent does not support GMSAs
  content/en/agent/guide/windows-agent-ddagent-user.md
Labels: agent, Guide

#14391 Update support go version to 1.16+
  content/en/tracing/setup_overview/setup/go.md
Labels: tracing

#14281 (DOCS-3484) Move FAQ and update indexes
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/how-can-i-collect-more-metrics-from-my-sql-server-integration.md
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/use-wmi-to-collect-more-sql-server-performance-metrics.md
Labels: editorial review, integrations, Guide, FAQ

#14406 change default port for UDP
  content/en/synthetics/api_tests/udp_tests.md
Labels: synthetics

#14404 [synthetics] add synthetics-private-location ip ranges in documented JSON schema
  content/en/agent/guide/network.md
  content/fr/agent/guide/network.md
  content/ja/agent/guide/network.md
Labels: agent, Guide

#14402 Note added in section "In the Agent"
  content/en/tracing/trace_ingestion/mechanisms.md
Labels: tracing

#14338 Getting Started with Agent - Embed Project
  content/en/getting_started/agent/_index.md
Labels: Do Not Merge, agent, getting_started

#14410 Update banner to match corp-hugo
  config/_default/params.en.yaml
Labels: Architecture

#14346 Improve preview links action
  .github/workflows/preview_link.yml
  .gitignore
  local/bin/py/preview-links-template.mako
  local/bin/py/preview_links.py
Labels: Architecture, Github

#14416 Small tweak to groups mention on the monitor-based SLO page
  content/en/monitors/service_level_objectives/monitor.md
Labels: monitors

#14414 Adds Helm configuration + note on having to enable the script
  content/en/agent/guide/secrets-management.md
Labels: agent, Guide

#14412 Replace curly quotes in list to array parser rule
  content/en/logs/log_configuration/parsing.md
Labels: logs

#14418 Add reserved attributes to event migration doc
  content/en/events/guides/migrating_to_new_events_features.md
Labels: events

#13901 docs-2936 - adding java web apps info
  content/en/serverless/azure_app_services.md
Labels: editorial review, serverless

#14426 new link in 'further reading'
  content/en/watchdog/impact_analysis.md
Labels: watchdog

#14428 Small alias fix
  content/en/logs/guide/logs-show-info-status-for-warnings-or-errors.md
Labels: logs, Guide

#14419 Fix typo
  content/en/monitors/service_level_objectives/_index.md
Labels: monitors

#14411 Add links to .NET APM blog
  content/en/tracing/setup_overview/compatibility_requirements/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-core.md
Labels: tracing

#14424 Update link to latest openmetrics v2 check configuration
  content/en/agent/kubernetes/prometheus.md
Labels: agent

#14425 Fix Obs Pipelines link to app
  content/en/integrations/observability_pipelines/setup.md
Labels: integrations

#14427 [DOCS-3654] Add list to array log parsing example
  content/en/logs/log_configuration/parsing.md
Labels: logs

#14100 (DOCS-3490) Monitor FAQ migration
  content/en/monitors/create/configuration.md
  content/en/monitors/create/types/anomaly.md
  content/en/monitors/create/types/forecasts.md
  content/en/monitors/create/types/metric.md
  content/en/monitors/faq/_index.md
  content/en/monitors/faq/how-can-i-setup-an-alert-for-when-a-specific-tag-stops-reporting.md
  content/en/monitors/faq/how-do-i-monitor-ephemeral-servers-for-reboots.md
  content/en/monitors/faq/sending-datadog-events-to-your-moogsoft-aiops-instance.md
  content/en/monitors/guide/_index.md
  content/en/monitors/guide/adjusting-no-data-alerts-for-metric-monitors
  content/en/monitors/guide/alert-on-no-change-in-value.md
  content/en/monitors/guide/anomaly-monitor.md
  content/en/monitors/guide/create-monitor-dependencies.md
  content/en/monitors/guide/export-monitor-alerts-to-csv.md
  content/en/monitors/guide/how-to-update-anomaly-monitor-timezone.md
  content/en/monitors/guide/monitor-ephemeral-servers-for-reboots.md
  content/en/monitors/guide/monitor_api_options.md
  content/en/monitors/guide/prevent-alerts-from-monitors-that-were-in-downtime.md
  content/en/monitors/guide/recovery-thresholds.md
  content/en/monitors/guide/reduce-alert-flapping.md
  content/en/monitors/guide/schedule-downtime-on-a-subset-of-hosts.md
  content/en/monitors/guide/set-up-an-alert-for-when-a-specific-tag-stops-reporting.md
  content/en/monitors/guide/why-did-my-monitor-settings-change-not-take-effect.md
  content/en/monitors/notify/_index.md
  static/images/monitors/faq/header.png
  static/images/monitors/faq/notification.png
  static/images/monitors/faq/payload.png
  static/images/monitors/guide/WS_Monitor_Config.png
  static/images/monitors/guide/alert_exammple.png
  static/images/monitors/guide/anomaly_monitor_timezone.png
  static/images/monitors/guide/anomaly_monitor_timezone_ui.png
  static/images/monitors/guide/dst-off.png
  static/images/monitors/guide/dst-on.png
  static/images/monitors/guide/edit_tag.png
  static/images/monitors/guide/ephemeral_set_up.png
  static/images/monitors/guide/mute_demo_msg.png
  static/images/monitors/guide/mute_demo_webhook.png
  static/images/monitors/guide/require_full_window.png
  static/images/monitors/guide/tag_stop_reporting.png
Labels: monitors, editorial review, Images, agent, tracing, account_management, getting_started, synthetics, dashboards, Guide, FAQ, serverless, database_monitoring, containers

#14430 Update _index.md
  content/en/developers/dogstatsd/_index.md
Labels: developers

#14315 Synthetics pl doc
  content/en/synthetics/private_locations/_index.md
Labels: synthetics

#13484 Document the new `kubernetes_state.cronjob.complete` service check
  content/en/integrations/kubernetes_state_core.md
Labels: integrations

#14187 Improving language for Multiple Indexes
  content/en/logs/log_configuration/indexes.md
Labels: logs

#14278 [DOCS-3583] Add delete facet info
  content/en/logs/explorer/facets.md
Labels: logs

#14442 barbara-bontempo/Fix typo that is under rare traces
  content/en/tracing/trace_ingestion/mechanisms.md
Labels: tracing

#14144 DOCS-2277 Modifying RUM Data, Context & Data Collected, and Unified Service Tagging Edits
  content/en/account_management/billing/aws.md
  content/en/account_management/billing/containers.md
  content/en/account_management/billing/pricing.md
  content/en/containers/docker/log.md
  content/en/dashboards/_index.md
  content/en/database_monitoring/query_metrics.md
  content/en/getting_started/tagging/_index.md
  content/en/getting_started/tagging/unified_service_tagging.md
  content/en/getting_started/tagging/using_tags.md
  content/en/real_user_monitoring/browser/data_collected.md
  content/en/real_user_monitoring/browser/modifying_data_and_context.md
  content/en/real_user_monitoring/explorer/_index.md
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
  content/en/tracing/guide/metrics_namespace.md
  content/en/tracing/trace_explorer/search.md
  content/en/tracing/visualization/resource.md
  static/images/tagging/using_tags/rumtags.png
Labels: Architecture, editorial review, Images, agent, tracing, account_management, real_user_monitoring, getting_started, synthetics, dashboards, Guide, database_monitoring, containers

#14438 Agent `is_reliable` default to true for logs endpoints
  content/en/agent/guide/dual-shipping.md
Labels: agent, Guide

#14439 [DOCS-1824] Update links to AWS services logs with Lambda function
  content/en/integrations/amazon_cloudhsm.md
  content/en/integrations/amazon_guardduty.md
Labels: integrations

#14441 Bump datadog-lambda-js layer to version 80
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#14452 Fix monitoring guide file
  content/en/monitors/guide/adjusting-no-data-alerts-for-metric-monitors.md
Labels: monitors, Guide

#14455 (maint) Fix broken image
  static/images/monitors/guide/AWS_Monitor_Config.png
Labels: Images

#14450 Native profiler : fix link to profiler
  content/en/tracing/profiler/enabling/linux.md
Labels: tracing

#14459 adding svl getting started to nav
  config/_default/menus/menus.en.yaml
Labels: Architecture

#14462 Move Link Into Tab in Unified Service Tagging
  content/en/getting_started/tagging/unified_service_tagging.md
Labels: getting_started
