Repository DataDog/documentation, pull requests merged in 2022-05, with the labels that each got.

#13870 [DOCS-3432] Update images on Security Signals page
  content/en/security_platform/explorer.md
  static/images/security_platform/security_monitoring/explorer/analytics.png
  static/images/security_platform/security_monitoring/explorer/signal_1.png
  static/images/security_platform/security_monitoring/explorer/signal_2.png
  static/images/security_platform/security_monitoring/explorer/signal_panel.png
  static/images/security_platform/security_monitoring/explorer/signals_table.png
  static/images/security_platform/security_monitoring/explorer/ss_table.png
  static/images/security_platform/security_monitoring/explorer/threat_intel.png
  static/images/security_platform/security_monitoring/explorer/visualize_analytics1.png
Labels: Images, security_platform

#13894 update the retention filter to show the new Error Default retention f…
  static/images/tracing/trace_indexing_and_ingestion/retention_filters/retention_filter_page.png
Labels: Images

#13895 Document usage of is_exact_match with value
  content/en/monitors/notify/variables.md
Labels: monitors

#13897 (DOCS-3427) Adjust python logger output sample
  content/en/logs/log_collection/python.md
Labels: logs

#13833 Put Watchdog impact analysis section into a new subpage
  config/_default/menus/menus.en.yaml
  content/en/watchdog/_index.md
  content/en/watchdog/impact_analysis.md
  static/images/watchdog/rum_impact_analysis.png
  static/images/watchdog/watchdog_impact_analysis.mp4
Labels: Architecture, Images, watchdog

#13898 [DOCS-3454] Add search by IPs section
  content/en/security_platform/explorer.md
  static/images/security_platform/security_monitoring/explorer/network_ip_list.png
Labels: Images, security_platform

#13899 Remove outdated warnings about Ruby and processes
  content/en/developers/dogstatsd/_index.md
  content/en/developers/dogstatsd/high_throughput.md
Labels: developers

#13905 ASM GA replace screen caps
  static/images/security_platform/application_security/app-sec-landing-page.png
  static/images/security_platform/application_security/application-security-signal.png
Labels: Images

#13906 Add syntax highlighting to application security onboarding pages
  content/en/security_platform/application_security/getting_started/dotnet.md
  content/en/security_platform/application_security/getting_started/go.md
  content/en/security_platform/application_security/getting_started/java.md
  content/en/security_platform/application_security/getting_started/nodejs.md
  content/en/security_platform/application_security/getting_started/php.md
  content/en/security_platform/application_security/getting_started/ruby.md
Labels: security_platform

#13909 Update setup.md
  content/en/agent/cluster_agent/setup.md
Labels: agent

#13913 [Github Action] Automatically generate preview links
  .github/workflows/preview_link.yml
Labels: Github

#13902 DOCS-3465 Browser Data Collected Edit
  content/en/real_user_monitoring/browser/data_collected.md
Labels: real_user_monitoring

#13900 (DOCS-3410) Move app registrations note
  content/en/logs/log_configuration/archives.md
Labels: logs

#13915 Update Get Started per tech title
  content/en/security_platform/application_security/getting_started/dotnet.md
  content/en/security_platform/application_security/getting_started/go.md
  content/en/security_platform/application_security/getting_started/java.md
  content/en/security_platform/application_security/getting_started/nodejs.md
  content/en/security_platform/application_security/getting_started/php.md
  content/en/security_platform/application_security/getting_started/ruby.md
Labels: security_platform

#13920 Update preview_links action
  .github/workflows/preview_link.yml
Labels: Github

#13922 zachg update how to set debug logging with Python tracer >1.0
  content/en/tracing/troubleshooting/tracer_debug_logs.md
Labels: tracing

#13921 Adding Example On How to Inject OTEL IDs in .NET
  content/en/tracing/connect_logs_and_traces/opentelemetry.md
Labels: tracing

#13574 [WIP] Serverless configuration in a single page
  .gitignore
  Makefile
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/setup_tests/dotnet.md
  content/en/data_security/guide/tls_deprecation_1_2.md
  content/en/getting_started/tagging/unified_service_tagging.md
  content/en/mobile/_index.md
  content/en/monitors/service_level_objectives/metric.md
  content/en/security_platform/security_signal_management/_index.md
  content/en/serverless/_index.md
  content/en/serverless/configuration/_index.md
  content/en/serverless/custom_metrics/_index.md
  content/en/serverless/distributed_tracing/_index.md
  content/en/serverless/distributed_tracing/collect_lambda_payloads.md
  content/en/serverless/distributed_tracing/serverless_trace_propagation.md
  content/en/serverless/enhanced_lambda_metrics/_index.md
  content/en/serverless/glossary/_index.md
  content/en/serverless/guide/_index.md
  content/en/serverless/guide/datadog_forwarder_dotnet.md
  content/en/serverless/guide/datadog_forwarder_go.md
  content/en/serverless/guide/datadog_forwarder_java.md
  content/en/serverless/guide/datadog_forwarder_node.md
  content/en/serverless/guide/datadog_forwarder_python.md
  content/en/serverless/guide/extension_motivation.md
  content/en/serverless/guide/forwarder_extension_migration.md
  content/en/serverless/guide/handler_wrapper.md
  content/en/serverless/installation/_index.md
  content/en/serverless/installation/dotnet.md
  content/en/serverless/installation/go.md
  content/en/serverless/installation/java.md
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
  content/en/serverless/installation/ruby.md
  content/en/serverless/libraries_integrations/_index.md
  content/en/serverless/libraries_integrations/extension.md
  content/en/serverless/libraries_integrations/lambda_code_signing.md
  content/en/serverless/libraries_integrations/library.md
  content/en/serverless/troubleshooting/_index.md
  content/en/tracing/setup_overview/setup/python.md
  content/en/tracing/visualization/service.md
  content/fr/serverless/libraries_integrations/extension.md
  content/fr/serverless/libraries_integrations/macro.md
  content/fr/serverless/libraries_integrations/plugin.md
  content/ja/serverless/datadog_lambda_library/_index.md
  content/ja/serverless/libraries_integrations/cli.md
  content/ja/serverless/libraries_integrations/extension.md
  content/ja/serverless/libraries_integrations/macro.md
  content/ja/serverless/libraries_integrations/plugin.md
  content/ja/serverless/serverless_integrations/plugin.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, WORK IN PROGRESS, Do Not Merge, monitors, Images, tracing, getting_started, security, Guide, mobile, serverless, security_platform, continuous_integration, data_security

#13924 Fix bug causing preview link comments to repost
  .github/workflows/preview_link.yml
Labels: Github

#13927 Update Documentation repo PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

#13837 [dogstatsd] document using multiple pipelines to limit packets drop
  content/en/developers/dogstatsd/high_throughput.md
Labels: developers

#13931 Watchdog Impact Analysis Edit
  content/en/watchdog/impact_analysis.md
Labels: watchdog

#13929 add note for All groups option
  content/en/monitors/notify/downtimes.md
Labels: monitors

#13932 fixing a link that was breaking the thingy
  content/en/serverless/installation/nodejs.md
Labels: serverless

#13925 Adding Wording That this Example uses Serilog
  content/en/tracing/connect_logs_and_traces/opentelemetry.md
Labels: tracing

#13705 DOCS-3189 Synthetics Testing Tunnel Edit
  content/en/synthetics/testing_tunnel.md
Labels: synthetics

#13914 [CIAPP] Remove beta warning from Codefresh docs
  content/en/continuous_integration/setup_pipelines/codefresh.md
Labels: continuous_integration

#13947 Fix bash syntax in preview_link workflow
  .github/workflows/preview_link.yml
Labels: Github

#13946 Usage Attribution Edits
  content/en/account_management/billing/usage_attribution.md
  static/images/account_management/billing/usage_attribution/advanced-usage-reporting.png
  static/images/account_management/billing/usage_attribution/daily-usage-attribution.png
  static/images/account_management/billing/usage_attribution/graph-by-tags.png
  static/images/account_management/billing/usage_attribution/histogram-graph-tag.png
  static/images/account_management/billing/usage_attribution/multiple-graphs-by-tags.png
  static/images/account_management/billing/usage_attribution/total-usage.png
  static/images/account_management/billing/usage_attribution/usage-attribution-options.png
Labels: Images, account_management

#13949 Serverless installation instructions for Java and .NET are ahead of the product
  content/en/serverless/installation/dotnet.md
  content/en/serverless/installation/java.md
Labels: serverless

#13950 Update preview links workflow conditional
  .github/workflows/preview_link.yml
Labels: Github

#13699 Add Helm/Operator instructions & Cleanup
  content/en/agent/cluster_agent/endpointschecks.md
Labels: editorial review, agent

#13911 Adjust URLs and Nginx conf.yaml
  content/en/agent/proxy.md
Labels: agent

#13958 Usage Attribution Image Edit
  content/en/account_management/billing/usage_attribution.md
Labels: account_management

#13960 remove stray file
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/ecommerce_and_retail_use_cases.md
Labels: tracing, Guide

#13955 Audit log monitor notifications - Fixes
  content/en/monitors/create/types/audit_logs.md
Labels: monitors

#13945 (DOCS-3392) Add shortcode for AWS permissions
  layouts/shortcodes/aws-permissions.md
Labels: Architecture

#13962 only show dbm endpoint for regions that have it
  content/en/agent/guide/network.md
Labels: agent, Guide

#13966 Update archives.md
  content/en/logs/log_configuration/archives.md
Labels: logs

#13576 DOCS-3233 Adds the Flutter Monitoring README into Documentation
  .gitignore
  Makefile
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/flutter/temp.md
  layouts/partials/rum/rum-getting-started.html
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  static/images/dd-logo.png
Labels: Architecture, Images, real_user_monitoring

#13967 Update export.md
  content/en/logs/explorer/export.md
Labels: logs

#13944 [ci-visibility] Clarify `jest` version compatibility
  content/en/continuous_integration/setup_tests/javascript.md
Labels: continuous_integration

#13970 Update SCI documentation with latest agent information
  content/en/agent/docker/tag.md
  content/en/integrations/guide/source-code-integration.md
Labels: integrations, agent, Guide

#13971 Add hostPort warning in TCP approach
  content/en/agent/kubernetes/apm.md
Labels: agent

#13951 Add Watchdog Alerts page, remove Alerts from main Watchdog page
  config/_default/menus/menus.en.yaml
  content/en/watchdog/_index.md
  content/en/watchdog/alerts/_index.md
  static/images/watchdog/alerts/alerts_overview.png
Labels: Architecture, Images, watchdog

#13964 (DOCS-3392) Update instructions in shortcode
  layouts/shortcodes/aws-permissions.md
Labels: Architecture

#13961 Update go docs with new go version support policy
  content/en/tracing/setup_overview/compatibility_requirements/go.md
Labels: tracing

#13820 APM > .NET > Custom instrumentation updates
  content/en/tracing/setup_overview/custom_instrumentation/dotnet.md
  content/en/tracing/setup_overview/setup/dotnet-core.md
  content/en/tracing/setup_overview/setup/dotnet-framework.md
Labels: tracing

#13917 Merge No Data Monitor FAQs
  content/en/monitors/faq/why-am-i-getting-so-many-no-data-alerts-for-my-metric-monitor.md
  content/en/monitors/faq/why-am-i-getting-so-many-no-data-alerts.md
  static/images/monitors/faq/AWS_Monitor_Config.png
  static/images/monitors/faq/require_full_window.png
Labels: monitors, Images, FAQ

#13981 DOCS-3434 Update dashboards pages for event migration
  content/en/dashboards/template_variables.md
  content/en/dashboards/widgets/event_stream.md
  content/en/dashboards/widgets/event_timeline.md
  content/fr/dashboards/template_variables.md
  content/fr/dashboards/widgets/event_stream.md
  content/ja/dashboards/template_variables.md
  content/ja/dashboards/widgets/event_stream.md
  static/images/dashboards/template_variables/search_dashboard.png
  static/images/dashboards/template_variables/search_widget.png
  static/images/dashboards/widgets/event_stream/event_stream.png
  static/images/dashboards/widgets/event_stream/event_stream_setup.png
Labels: Images, dashboards

#13984 Update search_syntax.md
  content/en/logs/explorer/search_syntax.md
Labels: logs

#13985 (DOCS-3480) Add instructions for purging Agent config files
  content/en/agent/faq/how-do-i-uninstall-the-agent.md
Labels: agent, FAQ

#13986 Bump datadog-lambda-python layer to version 58
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#13992 add mention to ntlmv2
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/multistep.md
Labels: synthetics

#13989 Add dual-shipping instructions for snmp traps
  content/en/agent/guide/dual-shipping.md
Labels: agent, Guide

#13983 Serverless > Azure App Services > Logging updates
  content/en/serverless/azure_app_services.md
Labels: serverless

#13910 tracing/runtime_metrics/go.md: clarify the configuration of dogstatsd including UDS.
  content/en/tracing/runtime_metrics/go.md
Labels: tracing

#13780 [DOCS-3379] Modify instructions for attaching permissions to integrat…
  content/en/logs/log_configuration/archives.md
Labels: logs

#13995 Revert incorrect changes to DBM config variables
  content/en/database_monitoring/setup_mysql/selfhosted.md
Labels: database_monitoring

#14000 [doc] Update Log index quota image
  static/images/logs/indexes/index_quota.png
Labels: Images

#14004 WEB-2370 - pre english
  config/_default/menus/menus.ja.yaml
Labels: Architecture

#14001 Update aws-permissions.md
  layouts/shortcodes/aws-permissions.md
Labels: Architecture

#13714 DOCS-2890 Synthetics API, Multistep, and Browser Tests Edit
  content/en/synthetics/api_tests/dns_tests.md
  content/en/synthetics/api_tests/grpc_tests.md
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/api_tests/icmp_tests.md
  content/en/synthetics/api_tests/ssl_tests.md
  content/en/synthetics/api_tests/tcp_tests.md
  content/en/synthetics/api_tests/udp_tests.md
  content/en/synthetics/api_tests/websocket_tests.md
  content/en/synthetics/browser_tests/actions.md
  content/en/synthetics/multistep.md
Labels: synthetics

#13954 Session Replay, RUM & Session Replay Billing Edits
  content/en/account_management/billing/_index.md
  content/en/account_management/billing/rum.md
  content/en/real_user_monitoring/session_replay/_index.md
Labels: account_management, real_user_monitoring

#13934 DOCS-3440 Adds Generate Metrics From RUM Events Beta Documentation
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/generate_metrics/_index.md
  static/images/real_user_monitoring/generate_metrics/generate_metric.png
  static/images/real_user_monitoring/generate_metrics/generate_metric_example.png
  static/images/real_user_monitoring/generate_metrics/new_metrics_button.png
Labels: Architecture, editorial review, Images, real_user_monitoring

#13987 (DOCS-3111) Update manual trigger steps
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: logs, Guide

#13991 [CIAPP] Document junit upload limits
  content/en/continuous_integration/setup_tests/junit_upload.md
Labels: continuous_integration

#14010 Context Links Edits
  content/en/dashboards/guide/context-links.md
Labels: dashboards, Guide

#14011 (DOCS-3501) Remove old gif
  content/en/monitors/faq/what-are-recovery-thresholds.md
  static/images/monitors/faq/recovery_threshold.mp4
Labels: monitors, Images, FAQ

#14012 (DOCS-3503) Update link
  content/en/integrations/guide/azure-portal.md
Labels: integrations, Guide

#14017 [CI Visibility] Add instructions to download standalone version of dd-trace
  content/en/continuous_integration/setup_tests/dotnet.md
Labels: continuous_integration

#14019 [agent/{docker,kubernetes}] Deprecate DD_PROCESS_AGENT_CONTAINER_SOURCE
  content/en/agent/docker/_index.md
  content/en/agent/kubernetes/configuration.md
Labels: agent

#14020 Document advanced_ad_identifiers
  content/en/agent/cluster_agent/clusterchecks.md
  content/en/agent/cluster_agent/endpointschecks.md
Labels: agent

#14025 Sarliss/Adding wildcard when searching for a word: *postgresql*
  content/en/monitors/manage/search.md
  content/fr/monitors/manage/search.md
  content/ja/monitors/manage_monitor.md
Labels: monitors

#13886 DOCS-3331 Synthetic Monitoring Settings and Explore RUM & Session Replay Guide Edits
  content/en/synthetics/guide/explore-rum-through-synthetics.md
  content/en/synthetics/settings/_index.md
  static/images/synthetics/settings/default_settings.png
  static/images/synthetics/settings/integration_settings.png
Labels: Images, synthetics, Guide

#13975 WEB-2367 - hardcoded ootb rules
  layouts/security_rules/list.html
  local/bin/py/build/actions/security_rules.py
Labels: Architecture

#14028 Update serverless_tracing_and_webpack.md
  content/en/serverless/guide/serverless_tracing_and_webpack.md
Labels: Guide, serverless

#13761 [DOCS 3242] serverless getting started
  content/en/getting_started/serverless/_index.md
  static/images/getting_started/serverless/aws_create_stack.png
  static/images/getting_started/serverless/aws_error.png
  static/images/getting_started/serverless/aws_outputs.png
  static/images/getting_started/serverless/dd_flame_graph.png
  static/images/getting_started/serverless/dd_logs_view.png
  static/images/getting_started/serverless/dd_serverless_view.png
  static/images/getting_started/serverless/dd_serverless_view_error.png
  static/images/getting_started/serverless/details_error.png
  static/images/getting_started/serverless/functions_view.png
  static/images/getting_started/serverless/open_function.png
  static/images/getting_started/serverless/serverless_view.png
  static/images/getting_started/serverless/trace_map.png
Labels: WORK IN PROGRESS, editorial review, Images, getting_started

#14036 Fix a misdirected link
  content/en/getting_started/integrations/aws.md
Labels: getting_started

#14042 fixing link checker
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#14040 Update serverless custom metrics page
  content/en/serverless/custom_metrics/_index.md
Labels: serverless

#14035 Bryce/update event monitor
  content/en/logs/guide/logs-monitors-on-volumes.md
  static/images/logs/guide/daily_quota_event_monitor.png
  static/images/logs/guide/daily_quota_monitor.png
Labels: Images, logs, Guide

#14044 Add blog post link to OTLP ingest doc
  content/en/tracing/setup_overview/open_standards/otlp_ingest_in_the_agent.md
Labels: tracing

#14046 update usage attribution API links
  content/en/account_management/billing/usage_attribution.md
Labels: account_management

#14045 (DOCS-3171) Update widgets/table page
  content/en/dashboards/widgets/table.md
Labels: dashboards

#14005 Documentation for new OOTB ingestion reasons dashboard
  content/en/tracing/trace_ingestion/mechanisms.md
  content/en/tracing/trace_ingestion/usage_metrics.md
  static/images/tracing/trace_indexing_and_ingestion/usage_metrics/dashboard_ingestion_reasons.png
Labels: Images, tracing

#14050 Bump datadog-lambda-js layer to version 78
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#13515 Update GitHub Action CI Visibility docs
  content/en/continuous_integration/setup_pipelines/github.md
Labels: continuous_integration

#14054 Adding Fiber Framework to the Documentation
  content/en/tracing/setup_overview/compatibility_requirements/go.md
Labels: tracing

#14055 Renaming Enrichment Table to Reference Table
  content/en/events/_index.md
  content/en/logs/guide/enrichment-tables.md
  content/en/logs/guide/reference-tables.md
  content/en/logs/log_configuration/processors.md
Labels: events, logs, Guide

#14060 changing example in markdown section
  content/en/events/guides/email.md
Labels: events

#14052 Updated docs for parsing to make Grok Parser inputs more clear
  content/en/logs/log_configuration/parsing.md
Labels: logs

#14069 fix popper js error
  assets/scripts/components/platforms.js
Labels: Architecture

#14067 Add a recommendation to use LTS JDK versions
  content/en/tracing/profiler/enabling/java.md
Labels: tracing

#14043 DOCS-3485 Container FAQ migration
  content/en/agent/cluster_agent/clusterchecks.md
  content/en/agent/faq/_index.md
  content/en/agent/faq/kubernetes-secrets.md
  content/en/agent/faq/kubernetes-state-cluster-check.md
  content/en/agent/guide/_index.md
  content/en/agent/guide/how-to-import-datadog-resources-into-terraform.md
  content/en/agent/guide/kubernetes-cluster-name-detection.md
  content/en/agent/guide/kubernetes-legacy.md
  content/en/agent/guide/secrets-management.md
  content/en/agent/kubernetes/_index.md
  content/en/integrations/faq/_index.md
  content/en/integrations/faq/can-i-install-the-agent-on-my-Kubernetes-master-node-s.md
  content/en/integrations/faq/container-integration-event.md
  content/en/integrations/faq/why-is-the-kubernetes-check-failing-with-a-connecttimeout-error-to-port-10250.md
Labels: integrations, agent, Guide, FAQ

#14070 Update the Process
  content/en/infrastructure/process.md
Labels: infrastructure

#14065 DOCS-3519 Modifying Data and Context Edit
  content/en/real_user_monitoring/browser/modifying_data_and_context.md
Labels: real_user_monitoring

#14062 Serverless configurations updates (dual shipping, lambda tags enrichment)
  content/en/serverless/configuration/_index.md
Labels: serverless

#13649 adding operator getting started
  config/_default/menus/menus.en.yaml
  content/en/getting_started/containers/_index.md
  content/en/getting_started/containers/autodiscovery.md
  content/en/getting_started/containers/datadog_operator.md
Labels: Architecture, editorial review, getting_started

#14076 applying ursula feedback to operator getting started because i had a git hiccup
  content/en/getting_started/containers/datadog_operator.md
Labels: getting_started

#14075 Salesforce Integration Edit + Screenshots
  static/images/integrations/salesforce/salesforce-1.png
  static/images/integrations/salesforce/salesforce-default-tags.png
Labels: Images

#14032 improve postgres extended query protocol troubleshooting
  content/en/database_monitoring/setup_postgres/troubleshooting.md
Labels: database_monitoring

#14078 (Docs) Enable Nodejs Runtime Services Examples
  content/en/tracing/runtime_metrics/nodejs.md
Labels: tracing

#14084 Add Node16 runtime for lambda to docs
  content/en/serverless/guide/datadog_forwarder_node.md
  content/en/serverless/guide/serverless_package_too_large.md
  content/en/serverless/installation/nodejs.md
Labels: Guide, serverless

#14087 Typo demo for learning week
  content/en/logs/guide/log-parsing-best-practice.md
Labels: logs, Guide

#14074 Update Watchdog in the services list section
  content/en/watchdog/_index.md
  content/ja/watchdog/_index.md
  static/images/watchdog/latency_graph.png
  static/images/watchdog/service_list.png
  static/images/watchdog/watchdog_story_bis.png
Labels: Images, watchdog

#14089 DOCS 3429 - fixing link swap
  content/en/network_monitoring/performance/setup.md
Labels: network_monitoring

#14092 Fix duplicate explain plan section in troubleshooting docs
  content/en/database_monitoring/setup_mysql/troubleshooting.md
  content/en/database_monitoring/setup_postgres/troubleshooting.md
Labels: database_monitoring

#14059 Add docs for popular tags
  content/en/network_monitoring/performance/network_page.md
Labels: network_performance_monitoring, network_monitoring

#14091 Explain removal of recovery thresholds
  content/en/events/guides/migrating_to_new_events_features.md
Labels: events

#14077 Add the event explorer search syntax to "Using Tags"
  content/en/getting_started/tagging/using_tags.md
Labels: getting_started

#14096 Quick fix for LW demo
  content/en/logs/guide/log-parsing-best-practice.md
Labels: logs, Guide

#14015 Incident Management and Security Signals
  content/en/security_platform/security_signal_management/_index.md
Labels: editorial review, security_platform

#14061 Add files via upload
  content/en/logs/guide/reference-tables.md
  static/images/logs/guide/enrichment-tables/configure-s3-reference-table.png
Labels: Images, logs, Guide

#14097 [RUMF-1262] add centralized documentation on page activity
  content/en/real_user_monitoring/browser/data_collected.md
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
  content/en/real_user_monitoring/browser/tracking_user_actions.md
Labels: real_user_monitoring

#13953 agent FAQ migration
  content/en/agent/cluster_agent/clusterchecks.md
  content/en/agent/faq/_index.md
  content/en/agent/faq/agent-downgrade-major.md
  content/en/agent/faq/log4j_mitigation.md
  content/en/agent/guide/_index.md
  content/en/agent/guide/agent-5-kubernetes-basic-agent-usage.md
  content/en/agent/guide/can-i-set-up-the-dd-agent-mysql-check-on-my-google-cloudsql.md
  content/en/agent/guide/heroku-troubleshooting.md
  content/en/agent/guide/how-do-i-uninstall-the-agent.md
  content/en/agent/guide/installing-the-agent-on-a-server-with-limited-internet-connectivity.md
  content/en/agent/guide/why-should-i-install-the-agent-on-my-cloud-instances.md
  content/en/agent/guide/windows-agent-ddagent-user.md
  content/en/agent/troubleshooting/send_a_flare.md
  content/en/dashboards/faq/historical-data.md
  content/en/events/guides/email.md
  content/en/getting_started/containers/datadog_operator.md
  content/en/getting_started/serverless/_index.md
  content/en/integrations/faq/_index.md
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/jmx_integrations.md
  content/en/metrics/guide/calculating-the-system-mem-used-metric.md
  content/en/security_platform/security_signal_management/_index.md
  content/en/serverless/configuration/_index.md
  content/en/serverless/custom_metrics/_index.md
  content/en/tracing/setup_overview/compatibility_requirements/go.md
  content/fr/agent/guide/agent-5-kubernetes-basic-agent-usage.md
  content/fr/agent/troubleshooting/send_a_flare.md
  content/ja/agent/guide/agent-5-kubernetes-basic-agent-usage.md
  content/ja/agent/troubleshooting/send_a_flare.md
  static/images/agent/guide/Agent_VS_AWSA.jpg
Labels: events, Images, integrations, agent, tracing, getting_started, dashboards, metrics, Guide, FAQ, serverless, security_platform

#13184 Rework AD documentation now that everything is automatically handled. Remove mentions to AD listeners, only mention features
  content/en/getting_started/containers/autodiscovery.md
Labels: getting_started

#14101 Update slanted quotes to straight ones under go custom_instrumentation
  content/en/tracing/setup_overview/custom_instrumentation/go.md
Labels: tracing

#14103 it was a double redirect
  content/en/agent/guide/can-i-set-up-the-dd-agent-mysql-check-on-my-google-cloudsql.md
Labels: agent, Guide

#14105 Fix: Mention git.repository_url
  content/en/integrations/guide/source-code-integration.md
Labels: integrations, Guide

#14111 fix minor typo in environment var spec
  content/en/tracing/setup_overview/custom_instrumentation/dotnet.md
Labels: tracing

#14112 Adds the 32 characters requirement on the Cluster Agent Token
  content/en/agent/kubernetes/installation.md
Labels: agent

#14113 Update windows.md
  content/en/agent/basic_agent_usage/windows.md
Labels: agent

#14107 add examples for new group delay and composite
  content/en/monitors/create/types/composite.md
Labels: monitors

#13963 (DOCS-3234) Create AWS manual setup guide
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/aws-manual-setup.md
Labels: integrations, Guide

#14117 Embed agent installation and agentless instructions
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/setup_tests/_index.md
  content/en/continuous_integration/setup_tests/agent.md
  content/en/continuous_integration/setup_tests/agentless.md
  content/en/continuous_integration/setup_tests/dotnet.md
  content/en/continuous_integration/setup_tests/java.md
  content/en/continuous_integration/setup_tests/javascript.md
  content/en/continuous_integration/setup_tests/python.md
  content/en/continuous_integration/setup_tests/ruby.md
Labels: Architecture, continuous_integration

#14122 typo in custom_metrics.md
  content/en/account_management/billing/custom_metrics.md
Labels: account_management

#14129 Disable first recovery notification docs
  content/en/monitors/notify/downtimes.md
  static/images/monitors/downtimes/downtime_first_recovery.png
Labels: monitors, Images

#14120 RUM Explorer Search Edit
  content/en/real_user_monitoring/explorer/search.md
Labels: real_user_monitoring

#14124 Fixed a couple incorrect link references in k8s docs
  content/en/agent/kubernetes/installation.md
Labels: agent

#14131 Lutao / update otlp_ingest_in_the_agent.md
  content/en/tracing/setup_overview/open_standards/otlp_ingest_in_the_agent.md
Labels: tracing

#14126 [aws-ints] permissions update
  layouts/shortcodes/aws-permissions.md
Labels: Architecture

#14130 [WEB-1247] Enable translation syncing
  .gitlab-ci.yml
  content/en/logs/log_collection/csharp.md
  content/en/logs/log_configuration/archives.md
  content/en/real_user_monitoring/browser/tracking_user_actions.md
  content/en/tracing/connect_logs_and_traces/python.md
  content/en/tracing/setup_overview/custom_instrumentation/dotnet.md
  content/en/tracing/visualization/resource.md
  content/en/tracing/visualization/service.md
  translate.yaml
Labels: logs, tracing, real_user_monitoring

#14094 Add documentation for DDTrace\set_distributed_tracing_context custom PHP instrumentation
  content/en/tracing/setup_overview/custom_instrumentation/php.md
Labels: tracing

#14138 Update spelling mistake
  content/en/serverless/azure_app_services.md
Labels: serverless

#14121 Browser Monitoring Edits
  content/en/real_user_monitoring/browser/collecting_browser_errors.md
  content/en/real_user_monitoring/browser/modifying_data_and_context.md
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
  content/en/real_user_monitoring/browser/monitoring_resource_performance.md
  content/en/real_user_monitoring/browser/tracking_user_actions.md
  content/en/real_user_monitoring/browser/troubleshooting.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, real_user_monitoring

#14135 Update indexes.md
  content/en/logs/log_configuration/indexes.md
  static/images/logs/indexes/delete-index.png
Labels: Images, logs

#14137 Update security notification rules
  content/en/security_platform/notification_rules.md
Labels: security_platform

#14140 Browser Tests Edit
  content/en/synthetics/browser_tests/_index.md
Labels: synthetics

#14141 Session Replay Edit
  content/en/real_user_monitoring/session_replay/_index.md
Labels: real_user_monitoring

#14147 Update service_definition_api.md
  content/en/tracing/faq/service_definition_api.md
Labels: tracing, FAQ

#13941 Update docs for AppSec on Ruby 1.1.0
  content/en/security_platform/application_security/getting_started/ruby.md
  content/en/security_platform/application_security/setup_and_configure.md
Labels: security_platform

#14143 Add additional config documentation for cloud Azure/GCP cloud instances
  content/en/database_monitoring/setup_mysql/azure.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_postgres/azure.md
  content/en/database_monitoring/setup_postgres/gcsql.md
Labels: database_monitoring

#13957 [CIAPP] Document custom tags and metrics
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/setup_pipelines/_index.md
  content/en/continuous_integration/setup_pipelines/buildkite.md
  content/en/continuous_integration/setup_pipelines/circleci.md
  content/en/continuous_integration/setup_pipelines/custom_tags_and_metrics.md
  content/en/continuous_integration/setup_pipelines/github.md
  content/en/continuous_integration/setup_pipelines/gitlab.md
  static/images/ci/custom-tags-create-facet.mp4
Labels: Architecture, editorial review, Images, continuous_integration

#14133 [DOCS-3558] Log rotation configurations
  content/en/agent/guide/agent-log-files.md
Labels: editorial review, agent, Guide

#14154 Bumping Kafka max context to 500
  content/en/integrations/faq/troubleshooting-and-deep-dive-for-kafka.md
Labels: integrations, FAQ

#14064 (DOCS-3460) Add hosted config file for Windows
  static/config/99datadog-windows.config
Labels: integrations

#13988 DOCS-2293, DOCS-3308, and DOCS-3156 Using Synthetic Test Monitors Guide
  content/en/monitors/create/_index.md
  content/en/monitors/guide/_index.md
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/synthetic-test-monitors.md
  static/images/synthetics/guide/synthetics_test_monitors/configure_the_monitor_for_this_test.png
  static/images/synthetics/guide/synthetics_test_monitors/renotification_toggle.png
  static/images/synthetics/guide/synthetics_test_monitors/statuspage_monitor_setup.png
  static/images/synthetics/guide/synthetics_test_monitors/synthetic_test_monitor.png
Labels: monitors, editorial review, Images, synthetics, Guide

#14155 [opsgenie] - updated picture of integration tile
  static/images/integrations/opsgenie/datadog-add-opsgenie-api-key.png
Labels: Images

#14115 [WEB-2374] update metrics table adding entity code string replace in description
  layouts/shortcodes/get-metrics-from-git.html
Labels: Architecture
