Repository DataDog/documentation, pull requests merged in 2022-09, with the labels that each got.

#15175 [containers] Add note about filtering by namespace in containerd
  content/en/containers/docker/_index.md
Labels: containers

#15172 Add ewma_7() to public doc
  content/en/dashboards/functions/smoothing.md
Labels: dashboards

#15177 [podman] Add note about daemonless
  content/en/agent/guide/podman-support-with-docker-integration.md
Labels: agent, Guide

#15171 (DOCS) Update quick start link
  content/en/tracing/trace_collection/dd_libraries/nodejs.md
Labels: tracing

#15176 add sha256 empty string for sigv4
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/browser_tests/actions.md
  content/en/synthetics/multistep.md
Labels: synthetics

#15181 Update the maximum number of tags available on a monitor
  content/en/monitors/manage/_index.md
Labels: monitors

#15165 integrating suggested tags banner
  content/en/metrics/metrics-without-limits.md
Labels: metrics

#15139 [CIAPP] Add instructions to correlate pipelines executed in Jenkins workers with infrastructure metrics.
  content/en/continuous_integration/setup_pipelines/jenkins.md
Labels: continuous_integration

#15182 Add docs for telemetry configuration
  content/en/tracing/trace_collection/library_config/go.md
Labels: tracing

#15190 In Security Signal Explorer, Process Tree graph
  static/images/security_platform/cws/ProcessTree.png
Labels: Images

#15194 Updating trace metric description
  content/en/tracing/metrics/metrics_namespace.md
Labels: tracing

#15189 Adding DNS monitoring to CWS
  content/en/security_platform/cloud_workload_security/getting_started.md
Labels: security_platform

#15191 Add Process Ancestry Tree section
  content/en/security_platform/explorer.md
Labels: security_platform

#15196 Fix broken links on SLO Alerts pages
  content/en/monitors/service_level_objectives/burn_rate.md
  content/en/monitors/service_level_objectives/error_budget.md
Labels: monitors

#15197 Remove Table of contents
  content/en/security_platform/explorer.md
Labels: security_platform

#15145 Bryce/update monitor limit note
  content/en/monitors/create/types/event.md
Labels: monitors

#15184 Kate yoak/sales enablement
  content/en/partners/sales-enablement.md
  local/etc/algolia/docs_datadoghq.json
  static/images/partners/portal_demo_go.png
  static/images/partners/portal_pricing_go.png
  static/images/partners/portal_sales_go.png
  static/images/partners/portal_tech_go.png
Labels: Architecture, Do Not Merge, Images, partners

#15195 Move App-Analytics-related troubleshooting section
  content/en/tracing/legacy_app_analytics/_index.md
  content/en/tracing/troubleshooting/agent_rate_limits.md
Labels: tracing

#15198 Update mobile-nav.js
  assets/scripts/components/mobile-nav.js
Labels: Architecture

#15192 [DOCS-4022] Add Azure storage info for logs archive
  content/en/logs/log_configuration/archives.md
Labels: logs

#15193 [dual-shipping] Update DD domains for metrics, traces and logs
  content/en/agent/guide/dual-shipping.md
Labels: agent, Guide

#15180 Update admission_controller.md
  content/en/containers/cluster_agent/admission_controller.md
  content/en/containers/kubernetes/apm.md
Labels: containers

#15205 Update .NET version required for UDS
  content/en/tracing/trace_collection/dd_libraries/dotnet-core.md
Labels: tracing

#15207 Update policy SID names in cloud_cost_management.md
  content/en/infrastructure/cloud_cost_management.md
  content/fr/infrastructure/cloud_cost_management.md
  content/ja/infrastructure/cloud_cost_management.md
Labels: infrastructure

#15212 Revert "Update admission_controller.md"
  content/en/containers/cluster_agent/admission_controller.md
  content/en/containers/kubernetes/apm.md
Labels: containers

#15146 (DOCS-3933) Update metric monitor doc for new UI
  content/en/monitors/create/types/metric.md
Labels: monitors

#15215 (DOCS-3944) Update monitor limit note
  content/en/monitors/create/types/apm.md
  content/en/monitors/create/types/log.md
  content/en/monitors/create/types/real_user_monitoring.md
Labels: monitors

#15126 APM Agent: Add resource usage guide
  config/_default/menus/menus.en.yaml
  content/en/tracing/troubleshooting/_index.md
  content/en/tracing/troubleshooting/agent_apm_metrics.md
  content/en/tracing/troubleshooting/agent_apm_resource_usage.md
Labels: Architecture, editorial review, tracing

#14468 WEB-2391 - integration tile styles
  assets/scripts/components/integrations.js
  assets/styles/components/_integrations.scss
  content/en/integrations/kubernetes_state_core.md
  i18n/en.json
  i18n/ja.json
  layouts/partials/integrations-logo.html
  layouts/shortcodes/integrations.html
  static/images/integrations_logos/ntp.svg
  static/images/integrations_logos/process.svg
  static/images/integrations_logos/tcp_check.svg
Labels: Architecture, Images, integrations

#15209 fix indent
  content/en/containers/kubernetes/log.md
Labels: containers

#15210 Sarah_Hart/Add information on importing variables
  content/en/synthetics/settings/_index.md
Labels: synthetics

#15214 Examples with multiple ignore values
  content/en/tracing/guide/ignoring_apm_resources.md
Labels: tracing, Guide

#15217 Update _index.md
  content/en/getting_started/tagging/_index.md
Labels: getting_started

#15218 DOCS-3913 Add asyncpg to list
  content/en/tracing/trace_collection/compatibility/python.md
Labels: tracing

#15161 DOCS-3994 Adds SwiftUI Documentation
  .gitignore
  config/_default/menus/menus.en.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#15147 Why is my "Save" button disabled? FAQ section
  content/en/metrics/faq/_index.md
  content/en/metrics/faq/why-is-my-save-button-disabled.md
  static/images/metrics/faq/all-tags-diagram.jpg
  static/images/metrics/faq/all-tags.jpg
  static/images/metrics/faq/disabled-save.png
  static/images/metrics/faq/mwl-diagram.jpg
Labels: editorial review, Images, metrics, FAQ

#15136 (DOCS-3943) Add monthly seasonality
  content/en/monitors/create/types/anomaly.md
Labels: monitors

#15108 More IMDS-related troubleshooting
  content/en/integrations/guide/aws-integration-troubleshooting.md
Labels: integrations, Guide

#15200 DOCS-3953 - adding v2 for AD for prometheus
  content/en/containers/kubernetes/prometheus.md
Labels: containers

#15220 (DOCS-3795) Remove outdated tagging note
  content/en/getting_started/tagging/_index.md
Labels: getting_started

#15222 Update list of CI env vars to be passed to containers
  content/en/continuous_integration/setup_tests/containers.md
Labels: continuous_integration

#15216 Reorg Security Platform docs a bit
  config/_default/menus/menus.en.yaml
  content/en/security_platform/application_security/how-appsec-works.md
  content/en/security_platform/cloud_siem/getting_started.md
  content/en/security_platform/cloud_siem/guide/_index.md
  content/en/security_platform/cloud_siem/guide/automate-the-remediation-of-detected-threats.md
  content/en/security_platform/cloud_siem/guide/aws-config-guide-for-cloud-siem.md
  content/en/security_platform/cloud_siem/guide/how-to-setup-security-filters-using-cloud-siem-api.md
  content/en/security_platform/cloud_siem/guide/monitor-authentication-logs-for-security-threats.md
  content/en/security_platform/cloud_siem/guide/setting-up-security-monitoring-for-aws.md
  content/en/security_platform/guide/_index.md
Labels: Architecture, Guide, security_platform

#14673 Add Watchdog Insights page
  config/_default/menus/menus.en.yaml
  content/en/watchdog/insights.md
  static/images/watchdog/log_explorer_watchdog_insights.png
  static/images/watchdog/log_explorer_watchdog_insights_panel.png
  static/images/watchdog/profiler_watchdog_insight.png
Labels: Architecture, editorial review, Images, watchdog

#14679 Bryce/add monitor troubleshooting section
  content/en/monitors/guide/_index.md
  content/en/monitors/guide/troubleshooting-monitor-alerts.md
Labels: monitors, editorial review, Guide

#15228 Pronoy c/update cspm screenshot
  static/images/security_platform/cspm/getting_started/posture-management-setup.png
Labels: Images

#15231 Fixed Datadog Apps edit link
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#15229 APM:Recommend Ruby environment variables only for sampling rates
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
Labels: tracing

#15160 DOCS-3999 Watchdog Insights for RUM Edits
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
  content/en/real_user_monitoring/explorer/watchdog_insights.md
  static/images/real_user_monitoring/browser/waterfall.png
  static/images/real_user_monitoring/explorer/watchdog_insights/error_outlier_m_card.png
  static/images/real_user_monitoring/explorer/watchdog_insights/error_outlier_side_panel.png
  static/images/real_user_monitoring/explorer/watchdog_insights/latency_outlier_side_panel.png
  static/images/real_user_monitoring/explorer/watchdog_insights/overview.png
Labels: Images, real_user_monitoring

#15233 Note about getting access to demo site
  content/en/partners/sales-enablement.md
Labels: partners

#15221 Remove outdated video from SAML page
  content/en/account_management/saml/_index.md
Labels: account_management

#13828 Spelling Correction on network bytes example
  content/en/logs/log_configuration/logs_to_metrics.md
Labels: logs, stale

#15237 Make RUM & Session Replay Docs Searchable
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#15239 Add id to integrations card
  layouts/shortcodes/integrations.html
Labels: Architecture

#15240 Recreate PR 14449 which went stale
  content/en/serverless/configuration/_index.md
Labels: serverless

#15188 Add DD_TRACE_SAMPLING_RULES to Node.js
  content/en/tracing/trace_collection/library_config/nodejs.md
Labels: tracing

#15242 Edits from translator
  content/en/database_monitoring/architecture.md
Labels: database_monitoring

#15244 DOCS-4043 Getting Started with Datadog Sites Edits
  content/en/getting_started/application/_index.md
  content/en/getting_started/site/_index.md
  static/images/getting_started/site/site-selector.png
  static/images/getting_started/site/site.png
Labels: Images, getting_started

#15252 turn this sds page GA
  content/en/account_management/org_settings/sensitive_data_detection.md
Labels: account_management

#15241 Add PHP to endpoint profiling
  content/en/profiler/connect_traces_and_profiles.md
Labels: profiler

#15247 [kubernetes/distributions] Update note about OOM kill and TCP queue length on GKE
  content/en/containers/kubernetes/distributions.md
Labels: containers

#15253 Getting Started with Datadog Sites Edit
  content/en/getting_started/site/_index.md
Labels: getting_started

#15042 Update ingestion_mechanisms.md
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
Labels: tracing

#15202 Fix incorrect policy in the document and add note
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-kinesis-firehose-destination.md
Labels: editorial review

#15259 Update troubleshooting.md
  content/en/real_user_monitoring/session_replay/troubleshooting.md
Labels: real_user_monitoring

#15262 Add blog post
  content/en/logs/explorer/_index.md
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-kinesis-firehose-destination.md
Labels: logs, Guide

#15258 Update azure.md
  content/en/database_monitoring/setup_sql_server/azure.md
Labels: database_monitoring

#15166 Added ISO support
  content/en/security_platform/cspm/frameworks_and_benchmarks.md
Labels: security_platform

#15256 CI Visibility GitLab Failure Reasons Table
  content/en/continuous_integration/setup_pipelines/gitlab.md
  static/images/ci/ci_gitlab_failure_reason_new.png
Labels: Images, integrations, continuous_integration

#14986 DOCS-3352 GitLab CI/CD Integration Documentation
  config/_default/menus/menus.en.yaml
  content/en/synthetics/cicd_integrations/_index.md
  content/en/synthetics/cicd_integrations/gitlab.md
  static/images/synthetics/cicd_integrations/gitlab/successful_test_run.png
  static/images/synthetics/cicd_integrations/gitlab/synthetic_test_run.png
Labels: Architecture, Images, synthetics

#15257 Bump datadog-lambda-js layer to version 84
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#15260 [profiler] A few python setup changes
  content/en/profiler/enabling/python.md
Labels: profiler

#15261 DOCS-3929 - say that agent metering counts towards billing
  content/en/account_management/billing/containers.md
Labels: account_management

#15263 Updated ISO name
  content/en/security_platform/cspm/frameworks_and_benchmarks.md
Labels: security_platform

#15265 [DOCS-4057] Add missing alt text
  content/en/integrations/observability_pipelines/_index.md
Labels: integrations

#15234 DOCS-3352 Azure DevOps Extension Documentation
  .gitignore
  config/_default/menus/menus.en.yaml
  content/en/synthetics/cicd_integrations/_index.md
  local/bin/py/build/configurations/pull_config_preview.yaml
  static/images/synthetics/cicd_integrations/azure_devops/datadog_ci_service_connection.png
  static/images/synthetics/cicd_integrations/azure_devops/service_connections.png
Labels: Architecture, Images, synthetics

#15266 Azure DevOps Extension Documentation Take 2
  local/bin/py/build/configurations/pull_config.yaml
Labels: Architecture

#15267 Azure DevOps Extension Documentation Take 3
  local/bin/py/build/configurations/pull_config.yaml
Labels: Architecture

#15211 RUM browser - document view.first_byte
  content/en/real_user_monitoring/browser/data_collected.md
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
Labels: real_user_monitoring

#15091 3966 - clarity on npm windows support
  content/en/network_monitoring/performance/setup.md
Labels: network_monitoring

#15093 3900 - splitting out legacy config page
  config/_default/menus/menus.en.yaml
  content/en/infrastructure/livecontainers/configuration.md
  content/en/infrastructure/livecontainers/legacy.md
Labels: Architecture, infrastructure

#15268 (DOCS-3670) Update API Gateway log collection options
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: logs, Guide

#15270 [DOCS-4059] Add missing attributes to list
  content/en/logs/log_configuration/attributes_naming_convention.md
Labels: logs

#15278 Fix misdirected link
  content/en/getting_started/agent/_index.md
Labels: getting_started

#15274 Fixes V2 annotations to have an actual working example
  content/en/containers/kubernetes/prometheus.md
Labels: containers

#15281 small wording fix
  content/en/metrics/faq/why-is-my-save-button-disabled.md
Labels: metrics, FAQ

#15282 Fix: Remove "Datadog-" from ARNs for dd-trace-dotnet
  content/en/serverless/installation/dotnet.md
Labels: serverless

#15283 improve wording around one-line installation instructions in Agent GS
  content/en/getting_started/agent/_index.md
Labels: getting_started

#15277 Correct default for DD_DOGSTATSD_PORT
  content/en/tracing/trace_collection/library_config/python.md
Labels: tracing

#15275 content/en/tracing/trace_collection/open_standards: update examples
  content/en/tracing/trace_collection/open_standards/otel_collector_datadog_exporter.md
Labels: tracing

#15002 Bryce/update aws onboarding
  content/en/getting_started/integrations/aws.md
  content/en/integrations/guide/aws-manual-setup.md
  static/images/getting_started/integrations/aws/aws-integration-tile-configuration-tabs.png
Labels: editorial review, Images, integrations, getting_started, Guide

#15066 (DOCS-3898) Update log collection instructions and screenshots for ne…
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
  static/images/logs/aws/AWSLogStep1.png
  static/images/logs/aws/aws_log_setup_step1.png
  static/images/logs/aws/aws_log_setup_step2.png
Labels: Images, logs, Guide

#15288 Bryce/update aws tile reference
  content/en/account_management/billing/aws.md
  content/en/integrations/guide/aws-integration-and-cloudwatch-faq.md
  content/en/integrations/guide/error-datadog-not-authorized-sts-assume-role.md
  content/en/integrations/guide/monitor-your-aws-billing-details.md
  static/images/account_management/billing/aws-resource-exclusion.png
  static/images/integrations/guide/aws_error_sts_assume_role/datadog-aws-integration-page.png
Labels: Images, integrations, account_management, Guide

#15292 Improve setup instructions for Azure SQL DB
  content/en/database_monitoring/setup_sql_server/azure.md
Labels: database_monitoring

#14768 [DOCS-3636] Add Integrate Vector with Datadog
  assets/scripts/components/mobile-nav.js
  assets/scripts/datadog-docs.js
  config/_default/menus/menus.en.yaml
  content/en/agent/_index.md
  content/en/agent/vector_aggregation.md
  content/en/database_monitoring/architecture.md
  content/en/infrastructure/cloud_cost_management.md
  content/en/integrations/guide/aws-integration-troubleshooting.md
  content/en/integrations/observability_pipelines/_index.md
  content/en/integrations/observability_pipelines/guide/custom-metrics-governance-drop-metrics-missing-specific-tags.md
  content/en/integrations/observability_pipelines/integrate_vector_with_datadog.md
  content/en/integrations/observability_pipelines/integrations.md
  content/en/integrations/observability_pipelines/setup.md
  content/en/integrations/observability_pipelines/vector_configurations.md
  content/en/integrations/observability_pipelines/working_with_data.md
  content/en/monitors/create/types/metric.md
  content/en/monitors/manage/_index.md
  content/en/partners/sales-enablement.md
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
  content/en/synthetics/cicd_integrations/gitlab.md
  content/en/tracing/trace_collection/dd_libraries/nodejs.md
  content/en/tracing/trace_collection/library_config/go.md
Labels: Architecture, monitors, editorial review, integrations, agent, tracing, real_user_monitoring, infrastructure, getting_started, synthetics, Guide, database_monitoring, partners

#15295 Bryce/update metric streams guide for new aws page
  content/en/integrations/guide/aws-cloudwatch-metric-streams-with-kinesis-data-firehose.md
  static/images/integrations/guide/aws-cloudwatch-metric-streams-with-kinesis-data-firehose/active-region.png
  static/images/integrations/guide/aws-cloudwatch-metric-streams-with-kinesis-data-firehose/metric-stream-setup.png
Labels: Images, integrations, Guide

#15303 AWS API
  content/en/account_management/billing/aws.md
Labels: account_management

#15304 Bump datadog-lambda-extension layer to version 29
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#15308 Add OpsGenie to IM Docs
  content/en/monitors/incident_management/_index.md
Labels: monitors

#15307 Remove mention of traces
  content/en/integrations/observability_pipelines/integrate_vector_with_datadog.md
Labels: integrations

#15309 Fix link
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
Labels: real_user_monitoring

#15305 Bryce/add fill details
  content/en/dashboards/functions/interpolation.md
Labels: dashboards

#14024 [WEB-2177] Glossary
  archetypes/glossary.md
  assets/scripts/components/async-loading.js
  assets/scripts/components/glossary.js
  assets/styles/base/_mixins.scss
  assets/styles/base/_typography.scss
  assets/styles/pages/_glossary.scss
  assets/styles/style.scss
  content/en/glossary.md
  content/en/glossary/_index.md
  content/en/glossary/terms/agent.md
  content/en/glossary/terms/apm.md
  content/en/glossary/terms/check.md
  content/en/glossary/terms/dogstatsd.md
  content/en/glossary/terms/index.md
  content/en/synthetics/apm/_index.md
  layouts/_default/baseof.html
  layouts/glossary/list.html
  layouts/partials/footer-scripts.html
Labels: Architecture, synthetics, glossary

#15140 Document Python profiler code provenance enablement
  content/en/profiler/enabling/python.md
Labels: profiler

#15313 DOCS-4063 Service Catalog draft permissions info
  content/en/tracing/service_catalog/_index.md
Labels: tracing

#15317 dan.chiniara/fix division typo in monitor-arithmetic-and-sparse-metri…
  content/en/monitors/guide/monitor-arithmetic-and-sparse-metrics.md
Labels: monitors, Guide

#15319 Flutter SDK GA Release
  layouts/partials/rum/rum-getting-started.html
Labels: Architecture

#15326 Enabling Profiler with Oracle may require license
  content/en/profiler/enabling/java.md
Labels: profiler

#15290 DOCS-4065 Using Custom JavaScript Assertions in Browser Tests Guide
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/custom-javascript-assertion.md
  static/images/synthetics/guide/custom-javascript-assertion/step_results.png
Labels: editorial review, Images, synthetics, Guide

#15327 Adds data-transfer fee consideration when creating S3 bucket
  content/en/logs/log_configuration/archives.md
Labels: logs

#15306 DOCS-4056 Adds CodePush Documentation
  .gitignore
  config/_default/menus/menus.en.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#15298 DOCS-4054 React Native Monitoring Advanced Configuration Documentation
  .gitignore
  config/_default/menus/menus.en.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, editorial review

#15324 [DOCS-4091] Add info multiple value sections for log detection rule
  content/en/security_platform/cloud_siem/log_detection_rules.md
Labels: security_platform

#15325 Update Monolog Message Format
  content/en/tracing/other_telemetry/connect_logs_and_traces/php.md
Labels: under_review

#14964 (DOCS-3830) Getting started for MSPs
  .github/CODEOWNERS
  content/en/partners/_index.md
  content/en/partners/billing-and-usage-reporting.md
  content/en/partners/data-intake.md
  content/en/partners/delivering-value.md
  content/en/partners/laying-the-groundwork.md
  content/en/partners/sales-enablement.md
Labels: Architecture, Do Not Merge, editorial review, Github, Images, developers, FAQ, partners

#15333 [Monitors] Add upper bounds of evaluation delay in documentation
  content/en/monitors/create/configuration.md
Labels: monitors

#15329 [WEB-2713] Glossary cleanup
  assets/scripts/components/async-loading.js
  assets/scripts/components/glossary.js
  assets/styles/pages/_glossary.scss
  layouts/partials/footer-scripts.html
Labels: Architecture

#15331 Update data-collection-resolution-retention.md: event retention increased to 15 months
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: developers, Guide

#15255 update dogstatsd docs with note on operator config
  content/en/developers/dogstatsd/_index.md
Labels: developers

#15335 tracing/trace_collection/open_standards: correct mistake in exporter YAML
  content/en/tracing/trace_collection/open_standards/otel_collector_datadog_exporter.md
Labels: tracing

#15339 [DOCS-3952] Update AWS instructions in Cloud SIEM guide
  content/en/security_platform/cloud_siem/guide/aws-config-guide-for-cloud-siem.md
Labels: security_platform

#15337 [DOCS 3916] - add disclaimer for otlp histograms
  content/en/metrics/otlp.md
Labels: metrics

#15346 indent cleanup
  local/bin/py/build/actions/pull_and_push_file.py
  local/bin/py/build/actions/pull_and_push_folder.py
Labels: Architecture

#15347 Add `snmp-traps-intake.`
  content/en/agent/guide/network.md
Labels: agent, Guide

#15350 AWS integrations page unrendered markdown quick fix
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#15348 Add configuration options based on region
  content/en/integrations/syslog_ng.md
Labels: integrations

#15320 Add DI docs
  content/en/tracing/dynamic_instrumentation/_index.md
  content/en/tracing/dynamic_instrumentation/enabling/_index.md
  content/en/tracing/dynamic_instrumentation/enabling/dotnet.md
  content/en/tracing/dynamic_instrumentation/enabling/java.md
  content/en/tracing/dynamic_instrumentation/enabling/python.md
  layouts/partials/dynamic_instrumentation/dynamic-instrumentation-languages.html
Labels: Architecture, Images, tracing

#15352 Remove unnecessary 'agent_spec' from kubectl apply comamand
  content/en/getting_started/containers/datadog_operator.md
Labels: getting_started

#15208 Fixed Azure Postgresql monitoring setup
  content/en/database_monitoring/setup_postgres/azure.md
Labels: editorial review

#15341 DOCS-4078 CWS Suppression Tuning guide
  config/_default/menus/menus.en.yaml
  content/en/security_platform/cloud_workload_security/guide/_index.md
  content/en/security_platform/cloud_workload_security/guide/tuning-rules.md
  static/images/security_platform/cws/guide/cws-tuning-rules.png
Labels: Architecture, Images, security_platform

#15353 DOCS-4064 - link to exclude containers
  content/en/account_management/billing/containers.md
Labels: account_management

#15355 Fixed small typo.
  content/en/continuous_integration/setup_pipelines/jenkins.md
Labels: continuous_integration

#15356 Add Audit Trail blog link
  content/en/account_management/audit_trail/_index.md
Labels: account_management

#15360 (DOCS-1735) Add note on gauge dogstatsd metrics pg
  content/en/metrics/custom_metrics/dogstatsd_metrics_submission.md
Labels: metrics

#15366 Fix client selection filter label
  content/en/tracing/dynamic_instrumentation/_index.md
Labels: tracing

#15365 added path example for windows users
  content/en/agent/logs/_index.md
Labels: agent

#15358 [DOCS-3964] Add more details to troubleshooting section in Eventbridge guide
  content/en/logs/guide/sending-events-and-logs-to-datadog-with-amazon-eventbridge-api-destinations.md
Labels: logs, Guide

#14949 OTLP CONFIG vars take full endpoints not ports
  content/en/tracing/trace_collection/open_standards/otlp_ingest_in_the_agent.md
Labels: tracing

#15361 Fix wording
  content/en/developers/dogstatsd/high_throughput.md
Labels: developers

#15363 (DOCS-4126) Replace outdated screenshot
  content/en/getting_started/monitors/_index.md
  static/images/getting_started/application/monitor_configuration.png
Labels: Images, getting_started

#15362 Provide links to background info on SLO terminology
  content/en/monitors/service_level_objectives/error_budget.md
Labels: monitors

#15370 Provide explicit example of the env variable value
  content/en/containers/kubernetes/log.md
Labels: containers

#15377 [ci visibility] Add link to Jenkins instructions in custom tags and metrics
  content/en/continuous_integration/setup_pipelines/custom_tags_and_metrics.md
Labels: continuous_integration

#15379 Ingestion Controls - Agent and tracing library version
  content/en/tracing/trace_pipeline/ingestion_controls.md
  static/images/tracing/trace_indexing_and_ingestion/agent_tracer_version.png
Labels: Images, tracing

#15378 correct browser test page
  content/en/synthetics/browser_tests/actions.md
Labels: synthetics

#15330 Add instructions for deploying the OpenTelemetry Operator.
  content/en/tracing/trace_collection/open_standards/otel_collector_datadog_exporter.md
Labels: editorial review, tracing

#15372 Update documentation to reflect 7.41.0 changing the default collectio…
  content/en/database_monitoring/setup_postgres/troubleshooting.md
Labels: database_monitoring

#15380 call-out of OpenTelemetry sampling effect on APM metrics accuracy
  content/en/tracing/guide/trace_ingestion_volume_control.md
  content/en/tracing/metrics/metrics_namespace.md
Labels: tracing, Guide

#15385 Additional annotations needed static pods
  content/en/containers/cluster_agent/endpointschecks.md
Labels: containers

#15375 Add Java tracer compatibility matrix and new download links
  content/en/tracing/trace_collection/compatibility/java.md
  content/en/tracing/trace_collection/dd_libraries/java.md
Labels: tracing

#14957 Adding a note about Array objects
  content/en/logs/explorer/facets.md
Labels: editorial review, logs
