Repository DataDog/documentation, pull requests merged in 2022-08, with the labels that each got.

#14834 Update data-collection-resolution-retention.md
  content/en/developers/guide/data-collection-resolution-retention.md
  content/fr/developers/guide/data-collection-resolution-retention.md
  content/ja/developers/guide/data-collection-resolution-retention.md
Labels: developers, Guide

#14835 isStaged switching to isShadowDeployed
  local/bin/py/build/actions/security_rules.py
Labels: Architecture

#14832 [monitors] Add `urlencode` helper docs.
  content/en/monitors/notify/variables.md
Labels: monitors

#14839 all: add --pid host to all applicable docker agent commands
  content/en/containers/docker/_index.md
  content/en/containers/docker/apm.md
  content/en/containers/docker/log.md
  content/en/containers/docker/prometheus.md
  content/en/developers/dogstatsd/_index.md
  content/en/logs/guide/container-agent-to-tail-logs-from-host.md
  content/en/logs/guide/how-to-set-up-only-logs.md
  content/en/network_monitoring/performance/setup.md
  content/en/security_platform/cloud_workload_security/getting_started.md
  content/en/tracing/guide/ignoring_apm_resources.md
Labels: developers, logs, tracing, Guide, network_monitoring, security_platform, containers

#14802 [Database Monitoring] Update to new function
  content/en/database_monitoring/guide/heroku-postgres.md
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/azure.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/rds.md
  content/en/database_monitoring/setup_postgres/selfhosted.md
  content/en/database_monitoring/setup_postgres/troubleshooting.md
  content/fr/database_monitoring/guide/heroku-postgres.md
  content/fr/database_monitoring/setup_postgres/aurora.md
  content/fr/database_monitoring/setup_postgres/gcsql.md
  content/fr/database_monitoring/setup_postgres/rds.md
  content/fr/database_monitoring/setup_postgres/troubleshooting.md
  content/ja/database_monitoring/setup_postgres/azure.md
  content/ja/database_monitoring/setup_postgres/gcsql.md
  content/ja/database_monitoring/setup_postgres/rds.md
  content/ja/database_monitoring/setup_postgres/troubleshooting.md
Labels: Guide, database_monitoring

#14841 Bump datadog-lambda-extension layer to version 26
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#14850 Update widget type details for Dashboard Reporting docs
  content/en/dashboards/reporting.md
Labels: dashboards, changelog/Fixed

#14831 WEB-2564 - set a default cloud logo for security rules when missing
  layouts/partials/integrations-logo.html
  layouts/security_rules/list.html
Labels: Architecture

#14861 Replace screen cap
  static/images/tracing/guide/primary_operation/configuring-primary-option.png
Labels: Images

#14867 Service catalog API doc wording update
  content/en/tracing/service_catalog/service_definition_api.md
Labels: tracing

#14821 DOCS-3872 CI Results Explorer Documentation Edits
  config/_default/menus/menus.en.yaml
  content/en/synthetics/ci_results_explorer.md
  content/en/synthetics/explorer/_index.md
  content/en/synthetics/explorer/search.md
  content/en/synthetics/explorer/search_syntax.md
Labels: Architecture, synthetics

#14864 Update screen cap
  static/images/tracing/visualization/trace/trace_list.png
  static/images/tracing/visualization/trace/trace_zoom.mp4
Labels: Images

#14746 Add kubernetes installation instructions for vSphere TKG
  content/en/containers/kubernetes/distributions.md
Labels: containers

#14846 (DOCS-2853) Remove 'exclude' from monitor create metrics page
  content/en/monitors/create/types/metric.md
Labels: monitors

#14870 remove dated link
  content/en/developers/community/libraries.md
Labels: developers

#14848 (DOCS-3691) Update metrics explorer page
  content/en/metrics/explorer.md
  static/images/metrics/explorer/metrics_explorer.png
Labels: Images, metrics

#14849 Bump datadog-lambda-extension layer to version 27
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#14855 [SC-987] Add browser logs unminification instructions
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
Labels: real_user_monitoring, Guide

#14854 PHP ASM supported infrastructure clarification
  content/en/security_platform/application_security/getting_started/php.md
Labels: security_platform

#14859 ASM Python documentation: more environment variable
  content/en/tracing/trace_collection/library_config/python.md
Labels: tracing

#14872 Fix typo
  content/en/tracing/service_catalog/setup.md
Labels: tracing

#14862 Add the expected overhead for the .NET profiler
  content/en/tracing/profiler/profiler_troubleshooting.md
Labels: tracing

#14857 Update python.md
  content/en/tracing/trace_collection/dd_libraries/python.md
Labels: tracing

#14785 Add CLI and serverless plugin modes for instrumenting java functions
  content/en/serverless/installation/dotnet.md
  content/en/serverless/installation/java.md
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture, editorial review, Guide, serverless

#14865 [PHP] DD_PROFILING_EXPERIMENTAL_CPU_TIME_ENABLED defaults to on
  content/en/tracing/trace_collection/library_config/php.md
Labels: tracing

#14882 Add profiling setup for Pivotal Platform
  content/en/integrations/pivotal_platform.md
Labels: integrations

#14860 Update docs for ghes 3.5.0+ support
  content/en/continuous_integration/setup_pipelines/github.md
Labels: continuous_integration

#14884 update serverless billing copy
  content/en/account_management/billing/_index.md
Labels: account_management

#14880 Updating billing and usage docs for the Plan and Usage pages
  content/en/account_management/billing/_index.md
  content/en/account_management/billing/usage_details.md
  static/images/account_management/billing/CommittedLine.png
  static/images/account_management/billing/CumulativeUsageLine.png
  static/images/account_management/billing/TimeGranularity.png
  static/images/account_management/billing/UsageBreakdownByProductSubtype.png
  static/images/account_management/billing/UsageGraphsByProductTab.png
  static/images/account_management/billing/UsageTrendsOverviewAndCSV.png
Labels: Images, account_management

#14883 Remove extraneous bracket
  content/en/tracing/metrics/metrics_namespace.md
Labels: tracing

#14885 Fix typo
  content/en/monitors/notify/variables.md
Labels: monitors

#14783 Continuous Profiling - ddprof updates for 0.9.0
  config/_default/menus/menus.en.yaml
  config/_default/params.yaml
  content/en/tracing/profiler/_index.md
  content/en/tracing/profiler/enabling/_index.md
  content/en/tracing/profiler/enabling/ddprof.md
  content/en/tracing/profiler/profiler_troubleshooting.md
  content/en/tracing/profiler/search_profiles.md
  layouts/partials/profiling/profiling-languages.html
  static/images/integrations_logos/c.png
  static/images/integrations_logos/cpp.png
  static/images/integrations_logos/rust.png
Labels: Architecture, Images, tracing

#14897 nsarfaty - explain how to exclude instances
  content/en/account_management/billing/aws.md
Labels: account_management

#14879 .NET profiler GA
  content/en/tracing/profiler/enabling/dotnet.md
  content/en/tracing/profiler/search_profiles.md
Labels: tracing

#14899 Remove images links from Searching Profiles page
  content/en/tracing/profiler/search_profiles.md
Labels: tracing

#14902 Fix typo in Go profiler example
  content/en/tracing/profiler/enabling/go.md
  content/fr/tracing/profiler/getting_started.md
  content/ja/tracing/profiler/enabling.md
  content/ja/tracing/profiler/getting_started.md
  content/ja/tracing/profiling/getting_started.md
Labels: tracing

#14887 Guide for Serverless Java instrumentation upgrade
  content/en/serverless/custom_metrics/_index.md
  content/en/serverless/guide/upgrade_java_instrumentation.md
  content/en/serverless/installation/dotnet.md
  content/en/serverless/installation/java.md
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
Labels: editorial review, Guide, serverless

#14888 [DOCS-3863] Fix overflowing tables in doc
  content/en/logs/log_configuration/attributes_naming_convention.md
Labels: logs

#14808 add ksm core recommendation for helm installation
  content/en/containers/kubernetes/installation.md
Labels: containers

#14507 Clarify the APM prereq
  content/en/security_platform/application_security/_index.md
Labels: security_platform

#14906 Fix typo
  content/en/serverless/guide/upgrade_java_instrumentation.md
Labels: Guide, serverless

#14905 ASM queries: Add links to query syntax docs
  content/en/security_platform/application_security/custom_rules.md
Labels: security_platform

#14907 DOCS-3631 Move Appsec guide into main docs
  config/_default/menus/menus.en.yaml
  content/en/security_platform/application_security/_index.md
  content/en/security_platform/application_security/getting_started/_index.md
  content/en/security_platform/application_security/how-appsec-works.md
  content/en/security_platform/application_security/setup_and_configure.md
  content/en/security_platform/application_security/troubleshooting.md
  content/en/security_platform/guide/_index.md
  static/images/security_platform/application_security/How_Application_Security_Works_d1.png
Labels: Architecture, Images, Guide, security_platform

#14877 Fix cluster agent troubleshooting
  content/en/containers/cluster_agent/troubleshooting.md
Labels: under_review

#14782 Documents that is_exact_match supports matching multiple strings
  content/en/monitors/notify/variables.md
Labels: under_review

#14727 (DOCS-3828) Adding event recommended tags
  content/en/events/_index.md
  content/en/events/guides/_index.md
  content/en/events/guides/recommended_event_tags.md
Labels: editorial review, events

#14914 typo tracingSamplingRate instead of tracingSampleRate for ios sdk
  content/en/real_user_monitoring/connect_rum_and_traces/_index.md
Labels: real_user_monitoring

#14632 Improve placement of Go integration step
  content/en/tracing/trace_collection/dd_libraries/go.md
  content/en/tracing/trace_collection/library_config/go.md
Labels: tracing

#14891 David.goffredo/fix nginx ingress controller sampling
  content/en/tracing/trace_collection/proxy_setup/_index.md
Labels: editorial review, tracing

#14900 Update aix agent docs to indicate no APM support
  content/en/agent/basic_agent_usage/aix.md
Labels: agent

#14910 Correct WithTags option for Go profiling client library
  content/en/profiler/enabling/go.md
Labels: tracing, profiler

#14915 Hugo pct/sigv4
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/browser_tests/actions.md
  content/en/synthetics/multistep.md
Labels: synthetics

#14918 Fix Fluent Bit and FireLens hyperlink
  content/en/integrations/fluentbit.md
Labels: integrations

#14912 Add docs about composites and downtimes behaviour
  content/en/monitors/create/types/composite.md
Labels: monitors

#14917 [DOCS-2768] Update C# log collection doc
  content/en/logs/log_collection/csharp.md
Labels: logs

#14889 DOCS-3843 Using RUM & Session Replay for Product Analytics Guide
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/alerting-with-rum.md
  content/en/real_user_monitoring/guide/rum-for-product-analytics.md
  static/images/dashboards/guide/powerpacks_best_practices/configure_powerpack.png
  static/images/real_user_monitoring/guide/rum-for-product-analytics/actions_by_user_name_in_cart_page.png
  static/images/real_user_monitoring/guide/rum-for-product-analytics/actions_in_cart_page.png
  static/images/real_user_monitoring/guide/rum-for-product-analytics/explorer_funnel_export.png
  static/images/real_user_monitoring/guide/rum-for-product-analytics/explorer_saved_view.mp4
  static/images/real_user_monitoring/guide/rum-for-product-analytics/frustration_signal_query.png
  static/images/real_user_monitoring/guide/rum-for-product-analytics/funnel_analysis_side_panel.mp4
  static/images/real_user_monitoring/guide/rum-for-product-analytics/funnel_sample_session_replay.mp4
  static/images/real_user_monitoring/guide/rum-for-product-analytics/multi_group_frustration_type_search.png
Labels: editorial review, Images, real_user_monitoring, Guide

#14921 Update section on how monitor SLO status is calculated
  content/en/monitors/service_level_objectives/monitor.md
Labels: monitors

#14725 content/en/tracing/trace_collection/open_standards: update Datadog Exporter docs
  content/en/tracing/trace_collection/open_standards/otel_collector_datadog_exporter.md
  content/en/tracing/trace_collection/open_standards/otlp_ingest_in_the_agent.md
Labels: editorial review, tracing

#14920 do not conflate sample rate with sampling rules
  content/en/tracing/trace_collection/proxy_setup/_index.md
Labels: tracing

#14895 Add instructions on GitLab CIViz <> Infra correlation
  content/en/continuous_integration/setup_pipelines/gitlab.md
Labels: continuous_integration

#14927 Remove now-unnecessary custom Azure instructions
  content/en/database_monitoring/setup_sql_server/azure.md
  layouts/shortcodes/dbm-sqlserver-before-you-begin.md
Labels: Architecture, database_monitoring

#14911 Document DD_RUM.addTiming second parameter
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
Labels: real_user_monitoring

#14926 Tiny edit
  content/en/logs/log_collection/csharp.md
Labels: logs

#14931 Session Replay Index Page Edit
  content/en/real_user_monitoring/session_replay/_index.md
Labels: real_user_monitoring

#14923 (DOCS-3813) Update Postman buttons
  content/en/api/latest/_index.md
  content/en/getting_started/api/_index.md
Labels: api, getting_started

#14896 hugo latest retry
  assets/scripts/main-dd-js.js
  layouts/partials/css.html
  layouts/partials/footer-scripts.html
  layouts/partials/integrations-logo.html
  layouts/shortcodes/jqmath-vanilla.html
  package.json
  yarn.lock
Labels: Architecture

#14933 Fix typo'd broken link in an APM guide
  content/en/tracing/guide/trace_ingestion_volume_control.md
Labels: tracing, Guide

#14934 Update link to Learning Center course list
  content/en/getting_started/learning_center.md
Labels: getting_started

#14937 Fixes broken link to Ruby tracing source
  content/en/tracing/trace_collection/library_config/ruby.md
Labels: tracing

#14919 DOCS-3874 Browser Test, API Tests, and Browser Test Steps Edits (Second Try)
  content/en/synthetics/api_tests/dns_tests.md
  content/en/synthetics/api_tests/grpc_tests.md
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/api_tests/icmp_tests.md
  content/en/synthetics/api_tests/ssl_tests.md
  content/en/synthetics/api_tests/tcp_tests.md
  content/en/synthetics/api_tests/udp_tests.md
  content/en/synthetics/api_tests/websocket_tests.md
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/browser_tests/actions.md
  content/en/synthetics/browser_tests/test_results.md
  content/en/synthetics/multistep.md
  content/en/synthetics/settings/_index.md
  static/images/synthetics/api_tests/ms_assertions.png
  static/images/synthetics/browser_tests/recording_global_variable.mp4
  static/images/synthetics/browser_tests/recording_inject_variable.mp4
Labels: editorial review, Images, synthetics

#14936 Update list of log providers in CI Visibility
  content/en/continuous_integration/explore_pipelines.md
Labels: continuous_integration

#14932 [WEB-2573] RBAC permissions page updates
  content/en/account_management/rbac/permissions.md
  layouts/partials/rbac-permissions-table.html
  layouts/shortcodes/permissions.html
  local/bin/py/build/pull_rbac.py
Labels: Architecture, account_management

#14940 Node: Tracer needs to be initialised before logger is imported
  content/en/tracing/other_telemetry/connect_logs_and_traces/nodejs.md
Labels: tracing

#14930 [CIAPP-4576] clarify the definition of new flaky test
  content/en/continuous_integration/guides/flaky_test_management.md
Labels: continuous_integration

#14866 [ci-visibility] Add Instructions to set custom tags and metrics
  content/en/continuous_integration/setup_tests/javascript.md
Labels: continuous_integration

#14939 fix isolated and plan support AAS
  content/en/serverless/azure_app_services.md
Labels: serverless

#14944 Redis Integration Link Updates
  content/en/monitors/create/types/watchdog.md
  content/en/watchdog/_index.md
Labels: monitors, watchdog

#14945 Add blog links to docs for Tuesday tasks
  content/en/continuous_integration/setup_pipelines/github.md
  content/en/infrastructure/livecontainers/_index.md
Labels: infrastructure, continuous_integration

#14942 Nacho bonafonte/ci visibility swift update for 2.1.0
  content/en/continuous_integration/setup_tests/swift.md
Labels: continuous_integration

#14876 Update java.md
  content/en/tracing/trace_collection/dd_libraries/java.md
Labels: tracing

#14469 Update Community Dynatrace Plugin broken link
  content/en/developers/community/libraries.md
Labels: developers, under_review

#14948 Update latest-lambda-layer-version.html
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#14929 Deployment Tracking Doc Update
  content/en/tracing/services/deployment_tracking.md
Labels: editorial review, tracing

#14951 [Serverless Java] correct jar location
  content/en/serverless/installation/java.md
Labels: serverless

#14954 (Maint) Add redirect
  content/en/monitors/guide/prevent-alerts-from-monitors-that-were-in-downtime.md
Labels: monitors, Guide

#14950 Add documentation for Reference Table audit trail and change events
  content/en/logs/guide/reference-tables.md
Labels: logs, Guide

#14961 Add blog link
  content/en/real_user_monitoring/_index.md
Labels: real_user_monitoring

#14966 Update go.md
  content/en/tracing/trace_collection/dd_libraries/go.md
Labels: tracing

#14968 Misc serverless doc updates
  content/en/serverless/configuration/_index.md
  content/en/serverless/custom_metrics/_index.md
Labels: serverless

#14967 Update nodejs.md
  content/en/tracing/trace_collection/dd_libraries/nodejs.md
Labels: tracing

#14972 Bump datadog-lambda-extension layer to version 28
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#14973 Basic Agent Usage for Windows Link Fix
  content/en/agent/basic_agent_usage/windows.md
Labels: agent

#14856 Explain how to correlate GitHub runner metrics and jobs
  content/en/continuous_integration/setup_pipelines/github.md
Labels: Images, continuous_integration

#14344 [APM] Update python tracer logs instructions
  content/en/tracing/troubleshooting/tracer_debug_logs.md
Labels: Do Not Merge, tracing

#14981 Update php.md
  content/en/profiler/enabling/php.md
  content/en/profiler/search_profiles.md
Labels: profiler

#14958 Add docs on composite a.status variable
  content/en/monitors/notify/variables.md
Labels: monitors

#14947 Add `post_runtime_duration` metric
  content/en/serverless/enhanced_lambda_metrics/_index.md
Labels: Do Not Merge, serverless

#14978 Rename monitor query aggregations
  content/en/monitors/create/configuration.md
  content/en/monitors/create/types/metric.md
  content/en/monitors/guide/reduce-alert-flapping.md
Labels: monitors, Guide

#14956 Move links
  content/en/integrations/guide/_index.md
Labels: integrations, Guide

#14818 Add region sections to format-links precommit
  local/bin/py/build/actions/format_link.py
Labels: Architecture

#14985 Revert "Add region sections to format-links precommit (#14818)"
  local/bin/py/build/actions/format_link.py
Labels: Architecture

#14886 Go tracer has moved to support 1.17+
  content/en/tracing/trace_collection/dd_libraries/go.md
Labels: tracing

#14987 DOCS-3917 Provide link to system requirements for CWS from main page
  content/en/security_platform/cloud_workload_security/_index.md
Labels: security_platform

#14965 Add known flaky failed tests to the docs
  content/en/continuous_integration/guides/flaky_test_management.md
  static/images/ci/known-flaky-failed-tests.png
Labels: Images, continuous_integration

#14988 [Tracing][Compatibility] Small update runtime policy
  content/en/tracing/trace_collection/compatibility/php.md
Labels: tracing

#13443 [Cloud Workload Security] add_elastic_beanstalk_installation
  content/en/security_platform/cloud_workload_security/getting_started.md
Labels: stale, security_platform

#14993 [DOCS-3918] Add clarification of unique value count
  content/en/monitors/create/types/log.md
Labels: monitors

#14749 DOCS-3772 gRPC Health Check Test Edits + Certifications Reorg
  config/_default/menus/menus.en.yaml
  content/en/synthetics/_index.md
  content/en/synthetics/api_tests/grpc_tests.md
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/api_tests/ssl_tests.md
  layouts/partials/synthetics/network-layers.html
Labels: Architecture, synthetics

#14994 Bump USM Agent requirement
  content/en/tracing/universal_service_monitoring/_index.md
Labels: tracing

#14962 DOCS-3810 - helm chart mention
  content/en/containers/kubernetes/installation.md
Labels: containers

#14977 Add note on remote classloader and JMS
  content/en/tracing/trace_collection/compatibility/java.md
  content/en/tracing/trace_collection/dd_libraries/java.md
Labels: tracing

#15006 Configuring the Go Tracing Library Edit
  content/en/tracing/trace_collection/library_config/go.md
Labels: tracing

#15008 [DOCS-3936] Fix propagation env var names
  content/en/tracing/trace_collection/library_config/python.md
Labels: tracing

#15001 Fix typo in documentation for frustration-signal filter
  content/en/real_user_monitoring/frustration_signals/_index.md
Labels: editorial review

#15000 Update cpp.md
  content/en/tracing/trace_collection/dd_libraries/cpp.md
Labels: editorial review, tracing

#15004 Update search config for profiler
  .gitlab-ci.yml
  local/etc/algolia/docs_datadoghq.json
  local/etc/algolia/docs_datadoghq_preview.json
Labels: Architecture

#14355 Update dual shipping instructions for CI Visibility API
  content/en/agent/guide/dual-shipping.md
Labels: agent, Guide

#15003 Add further reading header
  content/en/logs/explorer/group.md
Labels: logs

#15011 Update _index.md
  content/en/agent/logs/_index.md
  content/fr/logs/log_collection/_index.md
  content/ja/agent/logs/_index.md
Labels: agent

#15012 update bash command
  content/en/agent/guide/secrets-management.md
Labels: agent, Guide

#15017 [DOCS-3934] Add note for table widget
  content/en/dashboards/widgets/table.md
Labels: dashboards

#15014 Synthetics gRPC - mention support for unary only
  content/en/synthetics/api_tests/grpc_tests.md
Labels: synthetics

#14997 Update dotnet-core.md
  content/en/tracing/trace_collection/dd_libraries/dotnet-core.md
Labels: editorial review, tracing

#14998 Update dotnet-framework.md
  content/en/tracing/trace_collection/dd_libraries/dotnet-framework.md
Labels: editorial review, tracing

#15005 Update container log file example
  content/en/containers/kubernetes/log.md
Labels: editorial review, containers

#15021 Add API and app key header names to intro doc
  content/en/api/latest/_index.md
Labels: api

#14971 DOCS-3875 Adds Synthetics and CI/CD Troubleshooting
  config/_default/menus/menus.en.yaml
  content/en/synthetics/cicd_integrations/troubleshooting.md
Labels: Architecture, synthetics

#15027 Add Telemetry collection disclaimer
  content/en/tracing/configure_data_security/_index.md
Labels: tracing

#15028 Direct startup logs docs to debug tracer logs for file instructions
  content/en/tracing/troubleshooting/tracer_startup_logs.md
Labels: tracing

#14999 Update php.md
  content/en/tracing/trace_collection/dd_libraries/php.md
Labels: editorial review, tracing

#15029 APM landing page title update
  content/en/tracing/_index.md
Labels: tracing

#15031 Fix typo in Marketplace docs
  content/en/developers/marketplace/_index.md
Labels: developers

#15032 fixing typo
  content/en/logs/guide/logs-rbac.md
Labels: logs, Guide

#14916 DOCS-3509 Integrating Monitors with Statuspage Guide
  content/en/monitors/guide/_index.md
  content/en/monitors/guide/integrate-monitors-with-statuspage.md
  content/en/synthetics/guide/synthetic-test-monitors.md
  static/images/monitors/guide/statuspage_alerts_metric_monitor.png
  static/images/monitors/guide/statuspage_integration_configuration.png
  static/images/monitors/guide/statuspage_side_panel.png
Labels: monitors, editorial review, Images, synthetics, Guide

#15010 (DOCS-3927) Update PS uninstall instructions
  content/en/agent/guide/how-do-i-uninstall-the-agent.md
Labels: agent, Guide

#15043 API tab labels only say deprecated when x-deprecated flag set
  layouts/api/list.html
  layouts/partials/api/endpoint-visibility.html
Labels: Architecture

#15044 Update _index.md
  content/en/tracing/configure_data_security/_index.md
Labels: tracing

#15045 WEB-2572 - security rules layout more reusable
  assets/scripts/components/async-loading.js
  assets/scripts/components/grouped-item-listings.js
  assets/scripts/datadog-docs.js
  layouts/partials/grouped-item-listings.html
  layouts/security_rules/list.html
Labels: Architecture

#14970 docs(apm): add python configuration for trace sampling rules
  content/en/tracing/trace_collection/library_config/python.md
Labels: tracing

#15048 Add Test Coverage blog link
  content/en/real_user_monitoring/dashboards/testing_coverage.md
Labels: real_user_monitoring

#15040 Remove unspported storage class
  content/en/logs/log_configuration/archives.md
Labels: logs

#15050 drive-by grammar fix
  content/en/events/_index.md
Labels: events

#15051 Doc Site Banner Update
  config/_default/params.en.yaml
Labels: Architecture

#15053 Fix formatting in python library config
  content/en/tracing/trace_collection/library_config/python.md
Labels: tracing

#15058 reorder and fix status names
  content/en/monitors/notify/variables.md
Labels: monitors

#15057 Fix Source Code Integration doc typo
  content/en/integrations/guide/source-code-integration.md
Labels: integrations, Guide

#15059 [Tracer][PHP] Add remark on appsec module being loaded even if not enabled
  content/en/tracing/trace_collection/dd_libraries/php.md
Labels: tracing

#14892 (DOCS-3413) Add list widget docs
  content/en/dashboards/widgets/_index.md
  content/en/dashboards/widgets/list.md
  static/images/dashboards/widgets/list/list_overview.png
  static/images/dashboards/widgets/list/list_setup.png
Labels: Images, dashboards

#15062 [WEB-2626] Index top-level containers pages
  local/etc/algolia/docs_datadoghq.json
  local/etc/algolia/docs_datadoghq_preview.json
Labels: Architecture

#14984 update compatibility information for dd-trace-js 3.0 release
  content/en/profiler/enabling/nodejs.md
  content/en/security_platform/application_security/setup_and_configure.md
  content/en/tracing/trace_collection/compatibility/nodejs.md
  content/en/tracing/trace_collection/dd_libraries/nodejs.md
Labels: tracing, security_platform, profiler
