Repository DataDog/documentation, pull requests merged in 2023-02, with the labels that each got.

#16712 DOCS-4645 Improve group RUM events page
  content/en/real_user_monitoring/explorer/group.md
  static/images/real_user_monitoring/explorer/group-count-of-events.png
  static/images/real_user_monitoring/explorer/group-statistical-operations-1.png
  static/images/real_user_monitoring/explorer/group-unique-count-coded-values.png
Labels: Images

#16698 Add extra note for open ports
  content/en/agent/guide/network.md
Labels: Guide

#16710 Add new Azure schemas
  content/en/security/cspm/custom_rules/schema.md
Labels: security

#16737 Bump dd-trace-dotnet layer to version 7
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#16286 [DOCS-4597] add guide for EKS Fargate logging with Kinesis Data Firehose
  content/en/logs/guide/_index.md
  content/en/logs/guide/aws-eks-fargate-logs-with-kinesis-data-firehose.md
  static/images/logs/guide/aws-eks-fargate-logs-with-kinesis-data-firehose/log_example_remapped.jpg
  static/images/logs/guide/aws-eks-fargate-logs-with-kinesis-data-firehose/log_streaming_diagram.png
  static/images/logs/guide/aws-eks-fargate-logs-with-kinesis-data-firehose/log_verification.jpg
Labels: editorial review, Images, Guide

#16743 Update RUM Deployment Tracking
  content/en/real_user_monitoring/guide/setup-rum-deployment-tracking.md
Labels: Guide

#16623 Less confusing for customers
  content/en/agent/troubleshooting/send_a_flare.md
Labels: under_review

#16746 Removing deprecated translation metrics script
  local/bin/py/translate_metrics.py
Labels: Architecture

#16662 [DOCS-4742] Update Watchdog docs for Log Anomaly Detection alerts
  content/en/logs/explorer/watchdog_insights.md
  content/en/monitors/types/watchdog.md
  content/en/watchdog/_index.md
  content/en/watchdog/alerts/_index.md
  static/images/monitors/monitor_types/watchdog/log_anomaly_monitor.png
Labels: Images

#16750 Clarify which Okta setup doc to use
  content/en/account_management/saml/okta.md
Labels: changelog/no-changelog, aaa-access

#16410 Reorganize workflow authentication and connections
  config/_default/menus/menus.en.yaml
  content/en/workflows/access.md
  content/en/workflows/actions_catalog/generic_actions.md
  content/en/workflows/connections.md
  content/en/workflows/service_accounts.md
  content/en/workflows/trigger.md
Labels: Architecture, editorial review

#16744 Update Feature Flag docs
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
Labels: Guide

#16761 Toriteng log transaction customization
  content/en/logs/explorer/group.md
  static/images/logs/explorer/transaction_group_side_panel.png
Labels: Images

#16757 [WEB-3032] adds `device_id` cookie logic
  assets/scripts/components/dd-browser-logs-rum.js
Labels: Architecture, Do Not Merge

#16782 Update Apdex link as it currently leads to a 404
  content/en/tracing/guide/configure_an_apdex_for_your_traces_with_datadog_apm.md
Labels: Guide

#16719 transifex out of sync
  .gitlab-ci.yml
  local/bin/py/translations/orphaned_translations.py
  local/bin/py/translations/translation_data_checks.py
Labels: Architecture

#16774 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Github

#16796 retry rate limit
  local/bin/py/build/content_manager.py
Labels: Architecture

#15351 [.NET] Revert removing references to COR_PROFILER that are no longer needed with MSI
  content/en/profiler/enabling/dotnet.md
  content/en/tracing/trace_collection/dd_libraries/dotnet-core.md
  content/en/tracing/trace_collection/dd_libraries/dotnet-framework.md
Labels: tracing, profiler

#16009 [APM] Add a bit more details in the network troubleshooting doc
  content/en/tracing/troubleshooting/connection_errors.md
Labels: tracing

#16803 Update Python page title
  config/_default/menus/menus.en.yaml
Labels: Architecture

#16806 changed the delimiter for DD__TAGS
  content/en/integrations/guide/source-code-integration.md
Labels: Guide

#16760 Added information on the evaluation graph
  content/en/monitors/manage/status.md
Labels: monitors

#16682 CSPM muted findings
  content/en/security/cspm/findings.md
  static/images/security/cspm/findings/muted-findings.png
Labels: WORK IN PROGRESS, Do Not Merge, Images, security

#16594 document php allocation profiling
  content/en/profiler/profile_types.md
  content/en/tracing/trace_collection/library_config/php.md
Labels: profiler

#16811 WEB-3162 - api v1/v2 tabs fix
  assets/scripts/components/api.js
  layouts/api/list.html
Labels: Architecture

#16755 [Tracing][.NET] Revamp the custom instrumentation page
  content/en/tracing/trace_collection/custom_instrumentation/dotnet.md
Labels: editorial review

#16817 Revert "WEB-3162 - api v1/v2 tabs fix (#16811)"
  assets/scripts/components/api.js
  layouts/api/list.html
Labels: Architecture

#16815 DOCS-4833 Search and Manage Synthetic Tests Edits
  content/en/synthetics/search/_index.md
  static/images/synthetics/search/edit_tags.mp4
  static/images/synthetics/search/facet_search.mp4
  static/images/synthetics/search/manage_test_options.mp4
  static/images/synthetics/search/synthetic_events.png
  static/images/synthetics/search/synthetic_tests_page.png
Labels: Images

#16814 [DOCS-4820] update title and nav
  config/_default/menus/menus.en.yaml
  content/en/logs/explorer/_index.md
  content/en/logs/explorer/analytics.md
  content/en/logs/explorer/watchdog_insights.md
Labels: Architecture

#16766 Update node.js info / version with mysql support
  content/en/database_monitoring/guide/connect_dbm_and_apm.md
Labels: Guide

#16841 typo fix
  content/en/integrations/guide/source-code-integration.md
Labels: Guide

#16695 (DOCS-4329) High CPU or Memory Troubleshooting
  config/_default/menus/menus.en.yaml
  content/en/agent/troubleshooting/_index.md
  content/en/agent/troubleshooting/high_memory_usage.md
Labels: Architecture, editorial review

#16848 [serverless] recommend extension over forwarder
  content/en/serverless/guide/extension_motivation.md
Labels: Guide

#16847 Renzo.renteria/hash scroll bug
  layouts/shortcodes/img.html
Labels: Architecture

#16838 Connect to Datadog over AWS PrivateLink Edit
  content/en/agent/guide/private-link.md
Labels: Guide

#16844 DOCS-4781 - add note about DCA token to pivotal guide
  content/en/integrations/guide/pivotal-cloud-foundry-manual-setup.md
Labels: Guide

#16851 DOCS-4832 notes on openmetrics v2 params for prometheus
  content/en/integrations/guide/prometheus-host-collection.md
  content/en/integrations/guide/prometheus-metrics.md
Labels: Guide

#16852 home tiles hover color fix
  assets/styles/pages/_home.scss
Labels: Architecture

#16837 feat: remove images from previews
  assets/styles/pages/_home.scss
  assets/styles/style.scss
  config/preview/config.yaml
  layouts/partials/css.html
Labels: Architecture

#16843 Add Azure SQL server schema
  content/en/security/cspm/custom_rules/schema.md
Labels: Do Not Merge, security

#16727 📝 [RUMF-1469] document new proxy configuration
  content/en/real_user_monitoring/guide/proxy-rum-data.md
Labels: Guide

#16862 add service health tab to dsm
  content/en/data_streams/_index.md
  static/images/data_streams/data_streams_service_health_tab.png
Labels: Images

#16833 Add Oxford comma
  content/en/database_monitoring/guide/connect_dbm_and_apm.md
Labels: Guide

#16867 remove deprecated regimport command
  content/en/agent/basic_agent_usage/_index.md
  content/en/agent/basic_agent_usage/windows.md
  content/en/agent/guide/agent-commands.md
Labels: Guide

#16869 [RQ-1388] Add new Taxonomy family and field for cloud cost management product
  content/en/account_management/guide/hourly-usage-migration.md
Labels: Guide

#16850 [DOCS-4795] Add new Best Practices for Log Management doc
  content/en/logs/guide/_index.md
  content/en/logs/guide/best-practices-for-log-management.md
  content/en/logs/guide/logs-monitors-on-volumes.md
  content/en/logs/log_configuration/indexes.md
  static/images/logs/guide/patterns_exclusion.png
Labels: editorial review, Images, Guide

#16822 (DOCS-4076) Debugging workflows
  content/en/workflows/trigger.md
  static/images/workflows/failed-step2.png
Labels: editorial review, Images

#16818 update tab usage
  assets/scripts/components/api.js
  layouts/api/list.html
Labels: Architecture

#16885 heatmaps-image-videos
  static/images/real_user_monitoring/heatmaps/heatmaps-background-selector.mp4
  static/images/real_user_monitoring/heatmaps/heatmaps-hidden-elements.png
Labels: Images

#16892 heatmaps-update
  content/en/real_user_monitoring/heatmaps/_index.md
  static/images/real_user_monitoring/heatmaps/insights-panel.png
Labels: Images

#16877 Muted findings update
  content/en/security/cspm/findings.md
  static/images/security/cspm/findings/muted-findings-timeline-graph.png
  static/images/security/cspm/findings/muted-findings-timeline.png
Labels: Images, security

#16894 Add note about separate billable products
  content/en/logs/guide/best-practices-for-log-management.md
Labels: Guide

#16900 Fixing the Split feature flag integration documentation
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
Labels: Guide

#16902 Add new CSPM Azure schema
  content/en/security/cspm/custom_rules/schema.md
Labels: security

#16876 Docs 4864/asm user tracking updates
  content/en/security/application_security/threats/add-user-info.md
Labels: editorial review

#16819 Updated getting started directions to match current UI
  content/en/getting_started/incident_management/_index.md
Labels: editorial review

#16910 Renzo.renteria/3 example accordion
  assets/styles/pages/_api.scss
  layouts/partials/api/code-example.html
Labels: Architecture

#16911 WEB-3172 - fix menu translation drift
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
Labels: Architecture

#16918 Bump datadog-lambda-python layer to version 68
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#16134 Document Async Profiler
  content/en/profiler/enabling/java.md
Labels: editorial review

#16929 [US-PROD]-update-heroku-logs
  content/en/logs/guide/collect-heroku-logs.md
Labels: Guide

#16540 DOCS-4659 lib injection for hosts and containers
  config/_default/menus/menus.en.yaml
  content/en/tracing/trace_collection/admission_controller.md
  content/en/tracing/trace_collection/library_injection.md
Labels: Architecture, Do Not Merge

#16931 Fitzage/glossary scroll
  assets/scripts/components/glossary.js
  assets/styles/pages/_glossary.scss
  layouts/_default/baseof.html
  layouts/partials/footer-scripts.html
Labels: Architecture

#16932 Update wording
  config/_default/menus/menus.en.yaml
  content/en/tracing/trace_collection/library_injection.md
Labels: Architecture

#16322 [Java Tracing Library] Update the default value for dd.http.server.tag.query-string
  content/en/tracing/trace_collection/library_config/java.md
Labels: under_review

#16842 Rtrieu/docs 4797 rum privacy compliance guide
  config/_default/menus/menus.en.yaml
  content/en/data_security/real_user_monitoring.md
  content/en/real_user_monitoring/session_replay/privacy_options.md
  static/images/data_security/data-security-rum-privacy-compliance-edit-rum-application.png
Labels: Architecture, Images

#16823 [DOCS-4821] Track RUM usage with usage attribution tags
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/tracking-rum-usage-with-usage-attribution-tags.md
  static/images/real_user_monitoring/guide/rum-usage-attribution-tags/rum-use-attribution-tags-1.jpeg
  static/images/real_user_monitoring/guide/rum-usage-attribution-tags/rum-use-attribution-tags-2.jpeg
Labels: editorial review, Images, Guide

#16699 CI Visibility - Swift - Add information about the GitHub action
  content/en/continuous_integration/tests/swift.md
Labels: editorial review

#16925 DOCS-4855 Setting Up Service Catalog Edits
  content/en/tracing/service_catalog/setup.md
  static/images/tracing/service_catalog/clear_imported_services.png
  static/images/tracing/service_catalog/import_entries.png
Labels: Images

#16945 Update screenshots for the SLO List widget docs
  content/en/dashboards/widgets/slo_list.md
  static/images/dashboards/widgets/slo_list/slo_list_editor_v2.png
  static/images/dashboards/widgets/slo_list/slo_list_widget_v2.png
Labels: Images

#16930 Replace clone dashboard video with updated image
  content/en/getting_started/dashboards/_index.md
  static/images/getting_started/dashboards/clone_dashboard.png
Labels: Images

#16933 Replace images with color formatted top list
  content/en/dashboards/widgets/top_list.md
  static/images/dashboards/widgets/toplist/toplist_config.png
  static/images/dashboards/widgets/toplist/toplist_w_colors.png
Labels: Images

#16949 Add details on cloudwatch stats
  content/en/integrations/guide/aws-integration-and-cloudwatch-faq.md
Labels: Guide

#16905 Update dynamic instrumentation docs - log probes
  content/en/dynamic_instrumentation/_index.md
  content/en/dynamic_instrumentation/enabling/dotnet.md
  content/en/dynamic_instrumentation/enabling/java.md
  content/en/dynamic_instrumentation/enabling/python.md
  content/en/dynamic_instrumentation/how-it-works.md
  static/images/dynamic_instrumentation/log_probe.png
  static/images/dynamic_instrumentation/metric_probe.png
Labels: editorial review, Images

#16758 Update HPA doc to include more HPA examples
  content/en/containers/guide/cluster_agent_autoscaling_metrics.md
Labels: Guide

#16830 DOCS-3630 ASM terminology page
  config/_default/menus/menus.en.yaml
  content/en/security/application_security/terms.md
Labels: Architecture, editorial review

#16742 Alexgallotta/sls 3048 update cloud run and container apps installation instructions d
  content/en/serverless/azure_container_apps/_index.md
  content/en/serverless/google_cloud_run/_index.md
Labels: editorial review

#16955 Bump datadog-lambda-extension layer to version 37
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#16768 Re-add guidance for collecting sql server metrics with `stored_procedure`
  content/en/integrations/guide/collect-sql-server-custom-metrics.md
Labels: editorial review, Guide

#16956 [DOCS-4856/4887] Add Log Forwarding doc to nav and add additional info
  config/_default/menus/menus.en.yaml
  content/en/logs/log_configuration/forwarding_custom_destinations.md
Labels: Architecture

#16959 DOCS-4852 Add glossary to nav and search
  config/_default/menus/menus.en.yaml
  content/en/glossary/_index.md
  local/etc/algolia/docs_datadoghq.json
  local/etc/algolia/docs_datadoghq_preview.json
Labels: Architecture

#16961 [DOCS-4731] Update with cropped image
  content/en/security/explorer.md
  static/images/security/security_monitoring/explorer/security_signals_table.png
Labels: Images

#16309 refactor connect logs and traces - Node.js
  content/en/tracing/other_telemetry/connect_logs_and_traces/opentelemetry.md
Labels: under_review

#16965 Fixing beta callout message for RUM Deployment Tracking
  content/en/real_user_monitoring/guide/setup-rum-deployment-tracking.md
Labels: Guide

#16890 [OPB-583] Remove outdated Agent <> OP guide
  config/_default/menus/menus.en.yaml
  content/en/agent/_index.md
  content/en/observability_pipelines/_index.md
  content/en/observability_pipelines/configurations.md
  content/en/observability_pipelines/installation.md
  content/en/observability_pipelines/production_deployment_overview/integrate_datadog_and_the_observability_pipelines_worker.md
  content/en/observability_pipelines/working_with_data.md
Labels: Architecture

#16509 Shadow DOM docs
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/shadow-dom.md
Labels: editorial review, Guide

#16971 Add note about signals explorer
  content/en/security/cspm/detection_rules.md
Labels: security

#16969 download step update
  content/en/synthetics/guide/testing-file-upload-and-download.md
Labels: Guide

#16984 Update ruby tracer version requirement to 1.8.0
  content/en/database_monitoring/guide/connect_dbm_and_apm.md
Labels: Guide

#16963 DOCS-4874 Adds Patterns and Transactions Documentation
  config/_default/menus/menus.en.yaml
  content/en/logs/explorer/_index.md
  content/en/logs/explorer/analytics.md
  content/en/logs/explorer/analytics/patterns.md
  content/en/logs/explorer/analytics/transactions.md
  content/en/logs/explorer/watchdog_insights.md
  content/en/logs/guide/best-practices-for-log-management.md
  content/en/logs/log_configuration/indexes.md
  static/images/logs/explorer/group/pattern_inspector_panel_1.png
  static/images/logs/explorer/group/pattern_inspector_values.png
Labels: Architecture, editorial review, Images, Guide

#16942 [DOCS-4847] Add Cloud SIEM Getting Started guide
  config/_default/menus/menus.en.yaml
  content/en/getting_started/cloud_siem/_index.md
  content/en/getting_started/integrations/aws.md
  content/en/integrations/guide/amazon-eks-audit-logs.md
  content/en/security/_index.md
  content/en/security/cloud_siem/_index.md
  content/en/security/cloud_siem/getting_started.md
  content/en/security/cloud_siem/guide/_index.md
Labels: Architecture, editorial review, Guide

#16989 [RQ3110] Add new field session_count_flutter as part of the v2 API
  content/en/account_management/guide/hourly-usage-migration.md
Labels: Guide

#16880 Update trigger.md
  content/en/workflows/trigger.md
  static/images/workflows/trigger-from-dashboard2.png
Labels: Images

#17005 [OPB-647] Update Observability Pipelines installation docs to use run
  content/en/observability_pipelines/installation.md
Labels: under_review

#17023 Remove GCP schema from docs repo
  content/en/security/cspm/custom_rules/gcp_dataproc_cluster.md
Labels: security

#17024 [DOCS-4919] Remove Aggregating Agents from nav
  config/_default/menus/menus.en.yaml
Labels: Architecture

#17025 add heatmaps to nav
  config/_default/menus/menus.en.yaml
Labels: Architecture

#16808 WEB-3037 | Dynamically Populate the CSPM Schema Page
  content/en/security/cspm/custom_rules/schema.md
  layouts/partials/table-of-contents/table-of-contents.html
  layouts/schema/single.html
Labels: Architecture, Do Not Merge

#16954 Updated tag policies and added to monitor overview
  content/en/monitors/_index.md
  content/en/monitors/notify/_index.md
  content/en/monitors/settings/_index.md
  static/images/monitors/notifications/notifications_add_required_tags.png
  static/images/monitors/settings/tag_policies.png
Labels: Images

#17014 Clarify `SubscriptionFilter` will not be created by DatadogForwarder CloudFormation
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: Guide

#17022 Bump datadog-lambda-js layer to version 87
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#17030 updating logs only config with environment variables for Kubernetes
  content/en/logs/guide/how-to-set-up-only-logs.md
Labels: Guide

#17033 [DOCS-4922] Update image in the Reference Tables doc
  content/en/integrations/guide/reference-tables.md
  static/images/integrations/guide/reference-tables/enrichment-table-setup.png
Labels: Images, Guide

#16985 Add docs for Node.js W3C Trace Context header configs
  content/en/tracing/trace_collection/library_config/nodejs.md
Labels: tracing

#17037 Update Export Monitor Alerts to CSV
  content/en/monitors/guide/export-monitor-alerts-to-csv.md
Labels: Guide

#17040 Update UI images for Alert Value Widget
  content/en/dashboards/widgets/alert_value.md
  static/images/dashboards/widgets/alert_value/alert_value_2023.png
  static/images/dashboards/widgets/alert_value/alert_value_setup_2023.png
Labels: Images

#17045 Merge changes to workflows into master
  content/en/workflows/access.md
  content/en/workflows/trigger.md
  static/images/workflows/trigger-from-dashboard2.png
Labels: Images

#17032 Adding notable events
  content/en/account_management/audit_trail/_index.md
  static/images/account_management/audit_logs/inspect_changes.png
  static/images/account_management/audit_logs/notable_events.png
Labels: Images

#17050 Add link to datadog config file template to Config files doc
  content/en/agent/guide/agent-configuration-files.md
Labels: Guide

#17009 Document mocha test suite instrumentation as supported in dd-trace 2.…
  content/en/continuous_integration/tests/javascript.md
Labels: under_review

#17061 Update step 4 for creating rules
  content/en/security/cspm/custom_rules/_index.md
Labels: security

#17060 Add UI image and info on slo calendar view
  content/en/monitors/service_level_objectives/_index.md
  static/images/monitors/service_level_objectives/slo_status_page.png
Labels: Images

#17068 Adds Create a React Native Application Screenshot
  static/images/real_user_monitoring/react_native/reactnative_setup.png
Labels: Images

#17067 (DOCS-4786) AWS connection example and edits
  content/en/workflows/access.md
  content/en/workflows/connections.md
  static/images/workflows/new-connection.png
Labels: editorial review, Images

#17070 Add rule deprecation warning
  content/en/security/cloud_siem/log_detection_rules.md
  content/en/security/cspm/detection_rules.md
  content/en/security/detection_rules/_index.md
Labels: security

#17071 [microsoft_teams] Add additional onboarding images.
  static/images/integrations/microsoft_teams/microsoft_teams_connect_account_from_datadog.png
  static/images/integrations/microsoft_teams/microsoft_teams_connect_account_from_teams.png
  static/images/integrations/microsoft_teams/microsoft_teams_install_datadog_app_in_teams.png
Labels: Images

#17065 Updating link and log info for Azure Container Apps
  content/en/serverless/azure_container_apps/_index.md
Labels: editorial review

#17016 [CI Visibility] - Add new section for BenchmarkDotnet support.
  content/en/continuous_integration/tests/dotnet.md
Labels: continuous_integration

#17082 Bump datadog-lambda-extension layer to version 38
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#16994 DOCS-4437: Update CSPM Security Findings Explorer
  content/en/security/cspm/_index.md
  content/en/security/cspm/findings.md
  static/images/security/cspm/findings/finding-side-panel.png
  static/images/security/cspm/findings/posture-management-overview-2.png
  static/images/security/cspm/findings/resource-rules-evaluated.png
Labels: editorial review, Images, security

#17087 Add GCP metric collection note
  content/en/security/cspm/getting_started.md
Labels: security

#17036 DOCS-4845 ASM First Steps guide
  config/_default/menus/menus.en.yaml
  content/en/getting_started/application_security/_index.md
  content/en/security/application_security/guide/_index.md
  static/images/getting_started/appsec/gs-appsec-most-exposed.png
Labels: Architecture, Images

#17096 Fix broken link
  content/en/account_management/audit_trail/events.md
Labels: account_management

#17073 DOCS-4782, DOCS-4900 Continuous Testing Settings Edits
  content/en/continuous_testing/settings/_index.md
  content/en/synthetics/settings/_index.md
  static/images/continuous_testing/continuous_testing_settings_default.png
  static/images/continuous_testing/continuous_testing_settings_parallelization.png
  static/images/continuous_testing/estimated_parallelization.png
  static/images/continuous_testing/parallelization_explained.png
Labels: Images

#16295 Stefon.simmons/fix toc
  assets/scripts/region-redirects.js
  content/en/account_management/billing/usage_attribution.md
  content/en/account_management/faq/access-your-support-ticket.md
  content/en/integrations/adobe_experience_manager.md
  content/en/integrations/apigee.md
  content/en/integrations/guide/aws-cloudwatch-metric-streams-with-kinesis-data-firehose.md
  content/en/integrations/rsyslog.md
  content/en/integrations/syslog_ng.md
  content/en/integrations/vmware_tanzu_application_service.md
  layouts/shortcodes/site-region.html
  local/bin/py/build/actions/integrations.py
Labels: Architecture, editorial review, Guide, FAQ

#17104 DOCS-4866 Configuring the .NET Core / .NET Framework Tracer Edits
  content/en/tracing/trace_collection/library_config/dotnet-core.md
  content/en/tracing/trace_collection/library_config/dotnet-framework.md
  static/images/tracing/dotnet/dotnet_core_configuration.png
  static/images/tracing/dotnet/dotnet_framework_configuration.png
Labels: Images

#16978 [DOCS-4858] Add ordinality info and update images to Log Detection doc
  content/en/security/cloud_siem/log_detection_rules.md
  static/images/security/security_monitoring/detection_rules/define_rule_case2.png
  static/images/security/security_monitoring/detection_rules/set_rule_case3.png
Labels: Images

#17019 DOCS-4776 ASM Serverless beta docs
  config/_default/menus/menus.en.yaml
  config/_default/params.yaml
  content/en/security/application_security/getting_started/serverless.md
  content/en/security/application_security/how-appsec-works.md
  content/en/security/application_security/threats/setup_and_configure.md
  content/en/serverless/aws_lambda/_index.md
  content/en/serverless/securing_functions/_index.md
  content/en/tracing/trace_collection/dd_libraries/nodejs.md
  layouts/partials/security-platform/appsec-languages.html
  static/images/security/application_security/serverless.png
Labels: Architecture, Do Not Merge, editorial review, Images

#17113 [WEB-3278] Updates Apple icon classifier tags
  layouts/partials/integration-labels/integration-labels.html
Labels: Architecture
