Repository DataDog/documentation, pull requests merged in 2023-03, with the labels that each got.

#17088 New Feature Flag Tracking page in RUM
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/feature_flag_tracking/_index.md
  static/images/real_user_monitoring/feature_flag_tracking/feature-flag-details-page.mp4
  static/images/real_user_monitoring/feature_flag_tracking/feature-flag-list-search-filter.png
  static/images/real_user_monitoring/feature_flag_tracking/feature-flag-list.png
  static/images/real_user_monitoring/feature_flag_tracking/feature-flag-rum-explorer.png
Labels: Architecture, editorial review, Images, real_user_monitoring

#17124 (DOCS-4968) Add mgmt group icon
  static/images/integrations/azure/azure_management_groups_icon.png
Labels: Images

#15269 [dogstatsd] document dogstatsd protocol v1.3 with timestamp support.
  content/en/developers/dogstatsd/datagram_shell.md
Labels: developers

#15637 fix build-container-agent.md
  content/en/agent/guide/build-container-agent.md
  content/fr/agent/guide/build-container-agent.md
  content/ja/agent/guide/build-container-agent.md
  content/kr/agent/guide/build-container-agent.md
Labels: editorial review

#17128 recreate PR 13250: apm(nodejs): update docs for UDS defaults
  content/en/tracing/trace_collection/dd_libraries/nodejs.md
Labels: Do Not Merge

#15684 fix: add missing documentation on custom check annotation
  content/en/agent/guide/ad_identifiers.md
Labels: under_review, salmon_curry

#15741 Fix `sendDistributionMetricWithDate` param order
  content/en/serverless/custom_metrics/_index.md
Labels: serverless

#16740 update dogstatsd docs
  content/en/developers/dogstatsd/_index.md
Labels: salmon_curry

#16123 [DOCS-4509] fixing reference to incorrect ENV variable
  content/en/tracing/trace_collection/dd_libraries/nodejs.md
Labels: editorial review

#15285 Adds region recommendation when creating S3 bucket
  content/en/logs/log_configuration/archives.md
Labels: logs, salmon_curry

#15276 add uds details to public documentation
  content/en/tracing/trace_collection/dd_libraries/php.md
  content/en/tracing/trace_collection/library_config/php.md
Labels: tracing, salmon_curry

#15593 remove reference to deprecated `force_tls_12` configuration parameter and replace it by the new parameter `min_tls_version`
  content/en/data_security/agent.md
Labels: agent, data_security, salmon_curry

#17134 [WEB-3124] Flaky anchors on Chrome
  assets/scripts/components/table-of-contents.js
Labels: Architecture

#17132 Add product parameters to `https://app.datadoghq.com/security/configuration/rules{,/new}` links
  content/en/integrations/guide/amazon-eks-audit-logs.md
  content/en/security/cloud_siem/guide/monitor-authentication-logs-for-security-threats.md
  content/en/security/cloud_siem/log_detection_rules.md
  content/en/security/cloud_siem/signal_correlation_rules.md
  content/en/security/cloud_workload_security/workload_security_rules.md
  content/en/security/cspm/custom_rules/_index.md
  content/en/security/cspm/detection_rules.md
  content/en/security/cspm/frameworks_and_benchmarks.md
  content/fr/integrations/guide/amazon-eks-audit-logs.md
  content/fr/security_platform/guide/monitor-authentication-logs-for-security-threats.md
  content/ja/integrations/guide/amazon-eks-audit-logs.md
  content/ja/security/cloud_siem/log_detection_rules.md
  content/ja/security/cloud_workload_security/workload_security_rules.md
  content/ja/security/cspm/detection_rules.md
  content/ja/security/detection_rules/_index.md
  content/ja/security_platform/guide/monitor-authentication-logs-for-security-threats.md
  content/ja/workflows/trigger.md
Labels: Guide

#17146 Update nav heading for ASM
  config/_default/menus/menus.en.yaml
Labels: Architecture

#16108 Fixes serverless source code integration syntax error
  content/en/serverless/configuration/_index.md
Labels: salmon_curry

#14838 Update Log Management Docs
  content/en/logs/_index.md
  content/en/logs/log_collection/_index.md
  content/en/logs/log_configuration/pipelines.md
  static/images/logs/explore.png
  static/images/logs/log_collection/stack_trace.png
  static/images/logs/processing/pipelines/log_post_processing.png
Labels: Images, logs, salmon_curry

#17149 [NET-3053] update docs to include npm domain discovery for azure
  content/en/network_monitoring/performance/guide/_index.md
  content/en/network_monitoring/performance/guide/azure_supported_services.md
  local/bin/py/build/actions/integrations.py
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  local/bin/py/build/update_pre_build.py
Labels: Architecture

#17151 dbm_apm: add table for supported tracers
  content/en/database_monitoring/guide/connect_dbm_and_apm.md
Labels: Guide

#17160 added $ to beginning of shell language code blocks
  assets/styles/pages/_global.scss
Labels: Architecture

#17163 Fix Agent tcp ports 6062 and 6162 to be described as inbound ports
  content/en/agent/guide/network.md
  content/fr/agent/guide/network.md
  content/ja/agent/guide/network.md
Labels: Guide

#17178 [microsoft_teams] Remove border on screenshot
  static/images/integrations/microsoft_teams/microsoft_teams_connect_account_from_datadog.png
Labels: Images

#17172 Bump datadog-lambda-extension layer to version 40
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#16634 Provide the ability to cache single-sourced pages at build time
  .gitignore
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  local/bin/py/build/content_manager.py
  local/bin/py/build/update_pre_build.py
Labels: Architecture

#17192 [microsoft_teams] hide browser from screenshots
  static/images/integrations/microsoft_teams/microsoft_team_step_1_v2.png
  static/images/integrations/microsoft_teams/microsoft_team_step_2_v2.png
  static/images/integrations/microsoft_teams/microsoft_teams_connect_account_from_datadog_v2.png
Labels: Images

#17200 Update setup-feature-flag-data-collection.md
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
Labels: Guide

#17090 Add teams page
  config/_default/menus/menus.en.yaml
  content/en/account_management/teams.md
  static/images/account_management/teams-directory.jpg
Labels: Architecture, editorial review, Images

#17165 Change Getting Started to Setup in CSM docs
  config/_default/menus/menus.en.yaml
  content/en/agent/guide/how_remote_config_works.md
  content/en/getting_started/integrations/aws.md
  content/en/security/_index.md
  content/en/security/cloud_security_management/_index.md
  content/en/security/cloud_workload_security/_index.md
  content/en/security/cloud_workload_security/setup.md
  content/en/security/cloud_workload_security/workload_security_rules.md
  content/en/security/cspm/_index.md
  content/en/security/cspm/detection_rules.md
  content/en/security/cspm/frameworks_and_benchmarks.md
  content/en/security/cspm/setup.md
Labels: Architecture, editorial review, security, Guide

#16638 New guide for ingestion sampling
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/ingestion_sampling_use_cases.md
  static/images/tracing/guide/ingestion_sampling_use_cases/drop_database_spans.png
  static/images/tracing/guide/ingestion_sampling_use_cases/error_sampling.png
  static/images/tracing/guide/ingestion_sampling_use_cases/head_based_sampling_keep.png
  static/images/tracing/guide/ingestion_sampling_use_cases/ingestion_control_page.png
  static/images/tracing/guide/ingestion_sampling_use_cases/service-ingestion-summary-database.png
  static/images/tracing/guide/ingestion_sampling_use_cases/service-ingestion-summary.png
  static/images/tracing/guide/ingestion_sampling_use_cases/service_ingestion_summary.png
Labels: editorial review, Images, Guide

#14731 CSP reporting integration
  .gitignore
  content/en/integrations/content_security_policy_logs.md
  static/images/integrations_logos/content_security_policy_logs.svg
Labels: editorial review, Images, integrations

#17188 Change runnable code blocks from 'bash' to 'shell'
  content/en/agent/basic_agent_usage/aix.md
  content/en/continuous_integration/intelligent_test_runner/_index.md
  content/en/continuous_integration/pipelines/custom_commands.md
  content/en/continuous_integration/pipelines/custom_tags_and_metrics.md
  content/en/continuous_integration/tests/dotnet.md
  content/en/continuous_integration/tests/java.md
  content/en/continuous_integration/tests/javascript.md
  content/en/continuous_integration/tests/python.md
  content/en/logs/guide/aws-eks-fargate-logs-with-kinesis-data-firehose.md
  content/en/notebooks/guide/build_diagrams_with_mermaidjs.md
  content/en/tracing/guide/tutorial-enable-java-container-agent-host.md
  content/en/tracing/guide/tutorial-enable-java-host.md
  content/en/tracing/guide/tutorial-enable-python-container-agent-host.md
  content/en/tracing/troubleshooting/_index.md
Labels: Guide

#17198 Updates blog navigation
  go.mod
  go.sum
  layouts/partials/footer/footer.html
Labels: Architecture

#17184 DOCS-4962 API Tests, Browser Tests, and Advanced Options for Browser Tests Doc Edits
  content/en/synthetics/api_tests/_index.md
  content/en/synthetics/api_tests/dns_tests.md
  content/en/synthetics/api_tests/grpc_tests.md
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/api_tests/icmp_tests.md
  content/en/synthetics/api_tests/ssl_tests.md
  content/en/synthetics/api_tests/tcp_tests.md
  content/en/synthetics/api_tests/udp_tests.md
  content/en/synthetics/api_tests/websocket_tests.md
  content/en/synthetics/browser_tests/actions.md
  content/en/synthetics/browser_tests/advanced_options.md
  content/en/synthetics/settings/_index.md
  layouts/shortcodes/synthetics-variables.md
  static/images/synthetics/api_tests/http_use_variable.mp4
  static/images/synthetics/browser_tests/advanced_options/subtest.png
  static/images/synthetics/browser_tests/advanced_options/subtest_advanced.png
Labels: Architecture, Images

#17207 Add shell to multiline commands
  assets/styles/pages/_global.scss
  content/en/continuous_integration/tests/junit_upload.md
  content/en/security/cloud_workload_security/setup.md
  content/en/tracing/guide/ignoring_apm_resources.md
  content/en/tracing/guide/tutorial-enable-python-host.md
Labels: Architecture, Guide

#17027 Update _metrics.orderOfOps
  content/en/account_management/audit_trail/_index.md
  content/en/dashboards/guide/query-to-the-graph.md
  content/en/dashboards/guide/quick-graphs.md
  content/en/dashboards/querying/_index.md
Labels: editorial review, Guide

#17026 Update metrics vis. docs
  content/en/metrics/_index.md
Labels: editorial review

#16901 delete-shadow-DOM-callout
  content/en/real_user_monitoring/session_replay/troubleshooting.md
Labels: editorial review

#16924 DOCS-4415 Using USM Metrics in Monitors, SLOs, and Dashboards Guide
  config/_default/menus/menus.en.yaml
  content/en/universal_service_monitoring/guide/_index.md
  content/en/universal_service_monitoring/guide/using_usm_metrics.md
  static/images/universal_service_monitoring/guide/manage_dashboards.png
  static/images/universal_service_monitoring/guide/service_catalog_slo_setup.png
  static/images/universal_service_monitoring/guide/usm_monitor.png
  static/images/universal_service_monitoring/guide/usm_slo.png
  static/images/universal_service_monitoring/guide/usm_slo_setup.png
Labels: Architecture, Images, Guide

#17219 Autodiscovery Auto-Configuration Edit
  content/en/agent/guide/auto_conf.md
Labels: Guide

#17227 update graphs guide sampling
  content/en/tracing/guide/ingestion_sampling_use_cases.md
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
  static/images/tracing/guide/ingestion_sampling_use_cases/drop_database_spans.png
  static/images/tracing/guide/ingestion_sampling_use_cases/error-spans-sampling.png
  static/images/tracing/guide/ingestion_sampling_use_cases/error_sampling.png
  static/images/tracing/guide/ingestion_sampling_use_cases/head-based-sampling.png
  static/images/tracing/guide/ingestion_sampling_use_cases/head_based_sampling_keep.png
  static/images/tracing/guide/ingestion_sampling_use_cases/single-span-sampling.png
Labels: Images, Guide

#17091 DOCS-4348 Cleanup Legacy Analytics Link
  content/en/account_management/billing/usage_monitor_apm.md
  content/en/tracing/guide/add_span_md_and_graph_it.md
  content/en/tracing/guide/apm_dashboard.md
  content/en/tracing/guide/instrument_custom_method.md
Labels: Do Not Merge, Guide

#17229 Rebrand event rules to In-App WAF rules
  config/_default/menus/menus.en.yaml
  content/en/security/application_security/terms.md
  content/en/security/application_security/threats/_index.md
  content/en/security/application_security/threats/inapp_waf_rules.md
Labels: Architecture

#17225 Changed image to be dotnet_text.png
  layouts/partials/apm/apm-manual-instrumentation.html
Labels: Architecture

#17169 Create documentation guide about development workflow features
  content/en/continuous_integration/guides/_index.md
  content/en/continuous_integration/guides/developer_workflows.md
  static/images/ci/IDE.png
  static/images/ci/github_issues_dark.png
  static/images/ci/github_issues_detail_dark.png
  static/images/ci/github_issues_detail_light.png
  static/images/ci/github_issues_flaky_dark.png
  static/images/ci/github_issues_flaky_light.png
  static/images/ci/github_issues_light.png
  static/images/ci/github_issues_markdown.png
  static/images/ci/prefilled_github_issue.png
  static/images/continuous_integration/github_issues_dark.png
  static/images/continuous_integration/github_issues_light.png
Labels: editorial review, Images

#17238 Replace new application details images for RUM Android and iOS
  static/images/real_user_monitoring/android/android-new-application.png
  static/images/real_user_monitoring/flutter/flutter-new-application.png
  static/images/real_user_monitoring/ios/ios-create-application.png
Labels: Images

#17240 fix: revert extension version to 38
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#17228 WEB-3203 | Add redirect metadata job to Docs
  .gitlab-ci.yml
  config/_default/config.yaml
  config/_default/languages.yaml
  content/en/containers/cluster_agent/_index.md
  content/en/developers/guide/unified-tagging-advanced-usage.md
  content/en/getting_started/agent/_index.md
  content/en/getting_started/integrations/_index.md
  content/en/getting_started/tagging/assigning_tags.md
  content/en/getting_started/tagging/unified_service_tagging.md
  content/en/integrations/guide/jmx_integrations.md
  content/en/logs/explorer/export.md
  content/en/logs/explorer/search.md
  content/en/logs/explorer/visualize.md
  content/en/monitors/guide/monitor-arithmetic-and-sparse-metrics.md
  content/en/profiler/compare_profiles.md
  content/en/synthetics/apm/_index.md
  layouts/_default/list.redirects.txt
  local/bin/py/build/actions/integrations.py
  local/bin/py/build/actions/security_rules.py
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, editorial review, Guide

#17044 (DOCS-4785) Fallbacks
  content/en/workflows/build.md
  static/images/workflows/error-handling.png
  static/images/workflows/fallback-icon.png
Labels: editorial review, Images

#17193 WEB-3284 - remove invalid integration categorization
  Makefile
  layouts/shortcodes/integration_categories.md
  local/bin/py/build/actions/integrations.py
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#17154 [content/en/opentelemetry] Guide on how to use delta temporality
  content/en/metrics/open_telemetry/otlp_metric_types.md
  content/en/opentelemetry/guide/_index.md
  content/en/opentelemetry/guide/otlp_delta_temporality.md
Labels: editorial review, Guide

#17195 Add audit trail product family
  content/en/account_management/guide/hourly-usage-migration.md
Labels: Guide

#17255 Remove audit logs section in usage guide
  content/en/account_management/guide/hourly-usage-migration.md
Labels: Guide

#17042 [DOCS-4939] Add a quickstart for DD agent->OPW configuration.
  config/_default/menus/menus.en.yaml
  content/en/getting_started/observability_pipelines/_index.md
  content/en/observability_pipelines/installation.md
  static/images/getting_started/observability_pipelines/dd-pipeline.png
  static/resources/yaml/observability_pipelines/quickstart/aws_eks.yaml
  static/resources/yaml/observability_pipelines/quickstart/azure_aks.yaml
  static/resources/yaml/observability_pipelines/quickstart/google_gke.yaml
Labels: Architecture, editorial review, Images

#17054 Updated montior template variable description
  content/en/monitors/notify/variables.md
Labels: editorial review

#17260 [synthetics] guide link update
  content/en/synthetics/guide/app-that-requires-login.md
Labels: Guide

#17264 add cluster tab references
  content/en/data_streams/_index.md
  static/images/data_streams/data_streams_cluster_throughput.png
Labels: Images

#17271 Fix wrong env variable to enable dbm propagation in python instructions
  content/en/database_monitoring/guide/connect_dbm_and_apm.md
Labels: Guide

#17274 Add documentation on monitor time zone setting
  content/en/account_management/org_settings.md
  static/images/account_management/monitors-time-zone-preference.png
Labels: monitors, Images, account_management

#17273 DOCS-4965 Change Appsec "Getting Started" to Enabling
  config/_default/menus/menus.en.yaml
  content/en/getting_started/application_security/_index.md
  content/en/security/application_security/_index.md
  content/en/security/application_security/enabling/_index.md
  content/en/security/application_security/enabling/dotnet.md
  content/en/security/application_security/enabling/go.md
  content/en/security/application_security/enabling/java.md
  content/en/security/application_security/enabling/nodejs.md
  content/en/security/application_security/enabling/php.md
  content/en/security/application_security/enabling/python.md
  content/en/security/application_security/enabling/ruby.md
  content/en/security/application_security/enabling/serverless.md
  content/en/security/application_security/how-appsec-works.md
  content/en/security/application_security/risk_management/_index.md
  content/en/security/application_security/threats/inapp_waf_rules.md
  content/en/security/application_security/threats/setup_and_configure.md
  content/en/security/application_security/troubleshooting.md
  content/en/serverless/securing_functions/_index.md
  content/en/tracing/trace_collection/library_injection.md
Labels: Architecture

#17213 [DOCS-5032] Check 'shell' fence blocks (Part 1)
  content/en/agent/faq/agent-downgrade-major.md
  content/en/agent/faq/host-metrics-with-the-container-agent.md
  content/en/agent/guide/agent-5-kubernetes-basic-agent-usage.md
  content/en/agent/guide/autodiscovery-management.md
  content/en/agent/guide/heroku-ruby.md
  content/en/agent/guide/heroku-troubleshooting.md
  content/en/agent/guide/operator-advanced.md
  content/en/agent/iot/_index.md
  content/en/agent/troubleshooting/debug_mode.md
  content/en/agent/versions/upgrade_to_agent_v6.md
  content/en/containers/cluster_agent/endpointschecks.md
  content/en/containers/cluster_agent/setup.md
  content/en/containers/cluster_agent/troubleshooting.md
  content/en/containers/docker/tag.md
  content/en/containers/kubernetes/apm.md
  content/en/containers/kubernetes/log.md
  content/en/containers/kubernetes/tag.md
  content/en/database_monitoring/guide/heroku-postgres.md
  content/en/database_monitoring/setup_sql_server/troubleshooting.md
  content/en/getting_started/agent/_index.md
  content/en/getting_started/tagging/assigning_tags.md
  content/en/getting_started/tracing/_index.md
  content/en/infrastructure/livecontainers/configuration.md
  content/en/integrations/content_security_policy_logs.md
  content/en/integrations/tcp_rtt.md
  content/en/network_monitoring/performance/network_page.md
  content/en/network_monitoring/performance/setup.md
  content/en/profiler/enabling/go.md
  content/en/security/application_security/enabling/dotnet.md
  content/en/security/application_security/enabling/go.md
  content/en/security/application_security/enabling/java.md
  content/en/security/application_security/enabling/nodejs.md
  content/en/security/application_security/enabling/php.md
  content/en/security/application_security/enabling/python.md
  content/en/security/application_security/enabling/ruby.md
  content/en/tracing/configure_data_security/_index.md
  content/en/tracing/troubleshooting/php_5_deep_call_stacks.md
  content/en/tracing/troubleshooting/tracer_debug_logs.md
  content/en/universal_service_monitoring/_index.md
Labels: editorial review, Guide, FAQ

#17281 WEB-3342 - update api md table style to be similar to generated tables
  assets/styles/pages/_api.scss
Labels: Architecture

#17245 CSM Getting Started Guide
  config/_default/menus/menus.en.yaml
  content/en/getting_started/cloud_security_management/_index.md
  content/en/security/cloud_workload_security/_index.md
  content/en/security/cloud_workload_security/setup.md
  content/en/security/cspm/_index.md
  content/en/security/cspm/setup.md
Labels: Architecture, WORK IN PROGRESS, Do Not Merge, security

#17277 apm_dbm: bump minimum supported version of the python tracer
  content/en/database_monitoring/guide/connect_dbm_and_apm.md
Labels: Guide

#17282 vertically align footer download icons
  layouts/partials/footer/footer.html
Labels: Architecture

#17276 Update Mobile Vitals screenshots
  static/images/real_user_monitoring/android/android-mobile-vitals-new.png
  static/images/real_user_monitoring/flutter/flutter-mobile-vitals-new.png
  static/images/real_user_monitoring/ios/ios-mobile-vitals-new.png
  static/images/real_user_monitoring/react_native/react-native-mobile-vitals-new.png
Labels: Images

#17275 Hyphenate all mentions of "pop-up" or "pop-ups" when noun or adj
  content/en/account_management/rbac/_index.md
  content/en/dashboards/_index.md
  content/en/dashboards/sharing.md
  content/en/dashboards/template_variables.md
  content/en/monitors/manage/status.md
  content/en/real_user_monitoring/guide/session-replay-service-worker.md
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/app-that-requires-login.md
  content/en/synthetics/guide/custom-javascript-assertion.md
  content/en/synthetics/guide/email-validation.md
  content/en/synthetics/guide/popup.md
  content/en/synthetics/guide/recording-custom-user-agent.md
  content/en/synthetics/troubleshooting/_index.md
  content/en/watchdog/rca.md
Labels: Guide

#17288 Renzo.renteria/doc table
  assets/scripts/build-reference-pages.js
  assets/styles/components/_schema-table.scss
  assets/styles/pages/_reference.scss
  data/reference/schema.tables.json
  layouts/reference/single.html
Labels: Architecture

#17292 Update image for Getting Started with Observability Pipelines
  content/en/getting_started/observability_pipelines/_index.md
  static/images/getting_started/observability_pipelines/opw-dd-pipeline.png
Labels: Images

#17290 Image update for Change widget
  content/en/dashboards/widgets/change.md
  static/images/dashboards/widgets/change/change.png
  static/images/dashboards/widgets/change/change_setup.png
  static/images/dashboards/widgets/change/change_widget.png
Labels: Images

#17297 Remove Error Tracking custom fingerprint docs for RUM
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/error_tracking/custom_grouping.md
Labels: Architecture

#17293 Replace "drop-down" and "drop down" with "dropdown"
  content/en/account_management/org_settings/custom_landing.md
  content/en/account_management/org_settings/service_accounts.md
  content/en/account_management/teams.md
  content/en/agent/guide/datadog-agent-manager-windows.md
  content/en/dashboards/_index.md
  content/en/dashboards/faq/historical-data.md
  content/en/dashboards/guide/widget_colors.md
  content/en/dashboards/template_variables.md
  content/en/getting_started/api/_index.md
  content/en/getting_started/dashboards/_index.md
  content/en/getting_started/monitors/_index.md
  content/en/integrations/faq/integration-setup-ecs-fargate.md
  content/en/logs/explorer/facets.md
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
  content/en/metrics/distributions.md
  content/en/monitors/configuration/_index.md
  content/en/monitors/manage/status.md
  content/en/monitors/notify/_index.md
  content/en/monitors/notify/downtimes.md
  content/en/monitors/types/apm.md
  content/en/monitors/types/custom_check.md
  content/en/monitors/types/process_check.md
  content/en/monitors/types/service_check.md
  content/en/monitors/types/watchdog.md
  content/en/network_monitoring/performance/network_page.md
  content/en/notebooks/_index.md
  content/en/security/detection_rules/_index.md
  content/en/synthetics/api_tests/dns_tests.md
  content/en/synthetics/api_tests/grpc_tests.md
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/api_tests/icmp_tests.md
  content/en/synthetics/api_tests/ssl_tests.md
  content/en/synthetics/api_tests/tcp_tests.md
  content/en/synthetics/api_tests/udp_tests.md
  content/en/synthetics/api_tests/websocket_tests.md
  content/en/synthetics/multistep.md
  content/en/tracing/api_catalog/_index.md
  content/en/tracing/guide/configuring-primary-operation.md
  content/en/tracing/trace_explorer/query_syntax.md
  content/en/universal_service_monitoring/_index.md
  content/en/watchdog/insights.md
  content/en/workflows/access.md
  content/en/workflows/build.md
Labels: Guide, FAQ

#17305 Update distribution widget format and image
  content/en/dashboards/widgets/distribution.md
  static/images/dashboards/widgets/distribution/distribution_setup.png
Labels: Images

#17310 Update and reformat event timeline widget
  content/en/dashboards/widgets/event_timeline.md
  static/images/dashboards/widgets/event_timeline/event_timeline.png
  static/images/dashboards/widgets/event_timeline/event_timeline_example.png
  static/images/dashboards/widgets/event_timeline/event_timeline_setup.png
Labels: Images

#17312 Remove Podman Log Note
  content/en/agent/guide/podman-support-with-docker-integration.md
Labels: Guide

#17313 Updated all "3rd party" mentions to "third party"
  content/en/developers/guide/data-collection-resolution-retention.md
  content/en/getting_started/application/_index.md
  content/en/integrations/guide/retrieving-wmi-metrics.md
  content/en/tracing/other_telemetry/connect_logs_and_traces/go.md
  local/bin/js/pa11y.js
Labels: Architecture, Guide

#17311 Update log stream widget
  content/en/dashboards/widgets/log_stream.md
  static/images/dashboards/widgets/log_stream/log_stream.png
  static/images/dashboards/widgets/log_stream/log_stream_config.png
  static/images/dashboards/widgets/log_stream/log_stream_setup.png
Labels: Images

#17279 (hackathon) integration finder
  Makefile
  local/bin/py/integration-finder.py
  local/etc/requirements3.txt
Labels: Architecture

#17289 (Hackathon) Add pre-push hook
  local/bin/sh/pre-push
Labels: Architecture

#17094 There are different endpoints for eu and us sites
  content/en/logs/guide/sending-events-and-logs-to-datadog-with-amazon-eventbridge-api-destinations.md
Labels: logs, under_review

#17315 Use new custom vimeo partial
  content/en/continuous_integration/_index.md
  content/en/dashboards/functions/algorithms.md
  content/en/logs/_index.md
  content/en/monitors/service_level_objectives/_index.md
  content/en/network_monitoring/devices/_index.md
  content/en/network_monitoring/performance/_index.md
  content/en/profiler/_index.md
  content/en/security/_index.md
  content/en/serverless/_index.md
  content/en/synthetics/_index.md
  content/en/tracing/_index.md
  layouts/shortcodes/vimeo.html
  static/images/poster/algorithms.png
  static/images/poster/ci.png
  static/images/poster/logs.png
  static/images/poster/ndm.png
  static/images/poster/npm.png
  static/images/poster/profiler.png
  static/images/poster/security.png
  static/images/poster/serverless.png
  static/images/poster/slo.png
  static/images/poster/synthetics.png
  static/images/poster/tracing.png
Labels: Architecture, Images

#17318 Tori teng/autocomplete updates
  content/en/logs/explorer/search_syntax.md
  static/images/logs/explorer/search/log_search_bar_autocomplete.png
  static/images/logs/explorer/search/search_bar_autocomplete.jpg
Labels: Images

#17314 APM > .NET > Add initial DBM configuration key to APM configuration page.
  content/en/database_monitoring/guide/connect_dbm_and_apm.md
  content/en/tracing/trace_collection/library_config/dotnet-core.md
  content/en/tracing/trace_collection/library_config/dotnet-framework.md
Labels: Guide

#17317 small improvements to apm-dbm connection docs
  content/en/database_monitoring/guide/connect_dbm_and_apm.md
Labels: Guide

#17329 revert integrations site region changes
  layouts/shortcodes/site-region.html
  local/bin/py/build/actions/integrations.py
Labels: Architecture, Do Not Merge

#17254 Add new event overlay features and use cases
  content/en/dashboards/querying/_index.md
  content/en/dashboards/widgets/timeseries.md
  static/images/dashboards/querying/event_overlay_example.png
Labels: Images

#17337 Add blog links
  content/en/real_user_monitoring/guide/setup-rum-deployment-tracking.md
  content/en/tracing/service_catalog/_index.md
Labels: tracing, real_user_monitoring, Guide

#17286 Revamp ITR documentation
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/intelligent_test_runner/_index.md
  content/en/continuous_integration/intelligent_test_runner/dotnet.md
  content/en/continuous_integration/intelligent_test_runner/javascript.md
  content/en/continuous_integration/intelligent_test_runner/swift.md
  content/en/continuous_integration/tests/dotnet.md
  content/en/continuous_integration/tests/javascript.md
  content/en/continuous_integration/tests/swift.md
  static/images/continuous_integration/itr_commit.png
  static/images/continuous_integration/itr_dashboard1.png
  static/images/continuous_integration/itr_dashboard2.png
  static/images/continuous_integration/itr_savings.png
Labels: Architecture, Images

#17331 DOCS-5079 ASM Protect
  config/_default/menus/menus.en.yaml
  content/en/security/application_security/how-appsec-works.md
  content/en/security/application_security/threats/_index.md
  content/en/security/application_security/threats/protection.md
  layouts/shortcodes/asm-protect.md
  layouts/shortcodes/asm-protection-page-configuration.md
  static/images/security/application_security/blocked-true.png
Labels: Architecture, Images

#17346 Snooze Vale Linter Rule About Documentation Links
  .github/styles/Datadog/links.yml
Labels: Github

#17334 Update Scatter Plot widget page
  content/en/dashboards/widgets/scatter_plot.md
  static/images/dashboards/widgets/scatterplot/scatterplot_setup.png
Labels: Images

#17355 Cleanup the left nav menu for Dashboards
  config/_default/menus/menus.en.yaml
Labels: Architecture

#17354 Revert "Add UI image and info on slo calendar view"
  content/en/monitors/service_level_objectives/_index.md
  static/images/monitors/service_level_objectives/slo_status_page.png
Labels: Images

#16203 (hack) Use GitHub action for missing_metrics
  .github/workflows/missing_metrics.yml
  local/bin/py/missing_metrics.py
Labels: Architecture, editorial review, Github

#17372 Add codeowners on articles related to browser
  .github/CODEOWNERS
Labels: Github

#17380 Add Cluster Check Runners to guide
  content/en/containers/guide/_index.md
Labels: Guide

#17376 Update translated menu drift
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
Labels: Architecture

#17369 Remove the S3 bucket mention as it's misleading
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-kinesis-firehose-destination.md
Labels: Guide, under_review

#17387 DOCS-5030 Replace smart quotes #2
  content/en/integrations/content_security_policy_logs.md
  content/en/mobile/_index.md
  content/en/monitors/incident_management/_index.md
  content/en/monitors/incident_management/analytics.md
  content/en/monitors/incident_management/datadog_clipboard.md
  content/en/monitors/notify/downtimes.md
  content/en/monitors/service_level_objectives/burn_rate.md
  content/en/network_monitoring/devices/snmp_traps.md
  content/en/real_user_monitoring/guide/setup-rum-deployment-tracking.md
  content/en/real_user_monitoring/guide/understanding-the-rum-event-hierarchy.md
  content/en/real_user_monitoring/session_replay/privacy_options.md
  content/en/security/application_security/threats/custom_rules.md
  content/en/security/cloud_workload_security/workload_security_rules.md
  content/en/security/detection_rules/_index.md
  content/en/security/explorer.md
  content/en/security/notifications/rules.md
  content/en/security/notifications/variables.md
  content/en/security/security_signal_management/_index.md
  content/en/serverless/azure_app_services.md
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/guide/custom-javascript-assertion.md
  content/en/synthetics/multistep.md
  content/en/tracing/guide/serverless_enable_aws_xray.md
  content/en/tracing/guide/trace_ingestion_volume_control.md
  content/en/tracing/guide/tutorial-enable-python-host.md
  content/en/tracing/services/services_map.md
  content/en/tracing/trace_collection/custom_instrumentation/java.md
Labels: Guide

#17392 Widget audit for alert graph
  content/en/dashboards/widgets/alert_graph.md
  static/images/dashboards/widgets/alert_graph/alert_graph_setup.png
Labels: Images

#17385 Bump datadog-lambda-python layer to version 69
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#17386 WEB-3368 | Update redirect job
  .gitlab-ci.yml
Labels: Do Not Merge

#16519 Add SLO RBAC information
  content/en/account_management/rbac/_index.md
  content/en/monitors/service_level_objectives/_index.md
  static/images/monitors/service_level_objectives/slo_set_permissions.png
Labels: Images

#17325 use public definition classifiers
  Makefile
  layouts/shortcodes/integration_categories.md
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#17391 DOCS-5030 Replace curly quotes #3
  content/en/agent/guide/python-3.md
  content/en/continuous_testing/cicd_integrations/gitlab.md
  content/en/events/guides/migrating_to_new_events_features.md
  content/en/infrastructure/process/increase_process_retention.md
  content/en/integrations/guide/azure-troubleshooting.md
  content/en/monitors/service_level_objectives/error_budget.md
  content/en/network_monitoring/dns/_index.md
  content/en/real_user_monitoring/session_replay/privacy_options.md
  content/en/security/application_security/threats/add-user-info.md
  content/en/security/cspm/signals_explorer.md
Labels: Guide

#17397 DOCS-5030: Add Vale rule for quotes
  .github/styles/Datadog/quotes.yml
  .vale.ini
Labels: Github

#17340 New Feature Flag integration logos
  content/en/real_user_monitoring/feature_flag_tracking/_index.md
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
  layouts/partials/rum/rum-feature-flag-tracking.html
  static/images/integrations_logos/flagsmith_large.svg
  static/images/integrations_logos/launchdarkly_large.svg
  static/images/integrations_logos/split_large.svg
Labels: Architecture, Images, Guide

#17041 add first batch of changes
  content/en/serverless/agent_configuration/_index.md
  content/en/serverless/aws_lambda/configuration/_index.md
Labels: editorial review, serverless

#17371 [APM][DBM] Add dbm doc for PHP
  content/en/database_monitoring/guide/connect_dbm_and_apm.md
  content/en/tracing/trace_collection/compatibility/php.md
  content/en/tracing/trace_collection/library_config/php.md
Labels: Guide

#17431 Add APM-DBM link guide to side bar nav in docs
  content/en/database_monitoring/guide/_index.md
Labels: Guide

#17283 Intelligent Retention filter in Analytics
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/leveraging_diversity_sampling.md
  content/en/tracing/trace_pipeline/trace_retention.md
  static/images/tracing/guide/leveraging_diversity_sampling/checkout_ops_by_tier.png
  static/images/tracing/guide/leveraging_diversity_sampling/datadog_captures_relevant_traces.png
  static/images/tracing/guide/leveraging_diversity_sampling/nb_merchants_by_merchant_tier.png
  static/images/tracing/guide/leveraging_diversity_sampling/relevant_traces.png
  static/images/tracing/trace_indexing_and_ingestion/retention_filters/retention_filter_page.png
  static/images/tracing/trace_indexing_and_ingestion/retention_filters/retention_filters.png
  static/images/tracing/trace_indexing_and_ingestion/retention_filters/trace_analytics.png
Labels: Do Not Merge, Images, Guide

#17301 Bhavin.patel/remote config 1
  content/en/agent/guide/how_remote_config_works.md
Labels: Guide

#17439 re-add agent config page
  content/en/serverless/aws_lambda/configuration.md
  content/en/serverless/guide/_index.md
  content/en/serverless/guide/agent_configuration.md
Labels: Guide

#17434 Warning note for node and remove Java "coming soon"
  content/en/database_monitoring/guide/connect_dbm_and_apm.md
Labels: Guide

#17294 DOCS-4924 Add Integration Assets Reference Shortcode
  layouts/shortcodes/integration-assets-reference.md
  layouts/shortcodes/integration_categories.md
  local/bin/py/build/actions/integrations.py
Labels: Architecture, editorial review

#17361 Add pipeline performance trends
  content/en/continuous_integration/pipelines/_index.md
  static/images/ci/pipeline_explorer_trends.png
  static/images/ci/pipeline_job_summary_duration_change.png
  static/images/ci/pipeline_stage_summary_feature_branch.png
Labels: Images

#17370 [PROF-7359] Document workaround for Ruby profiler signal usage
  content/en/profiler/profiler_troubleshooting.md
Labels: editorial review

#17423 DOCS-5022 Refresh Trademark, American Spelling, and Link Rules and Descriptions
  .github/styles/Datadog/Trademarks.yml
  .github/styles/Datadog/americanspelling.yml
  .github/styles/Datadog/links.yml
Labels: Github

#17335 [DOCS-4912] Update log docs to use SSL/TLS instead of telnet
  content/en/logs/guide/docker-logs-collection-troubleshooting-guide.md
  content/en/logs/guide/log-collection-troubleshooting-guide.md
  content/en/logs/log_collection/_index.md
Labels: Guide

#17368 Migrate browser-sdk docs
  .gitignore
  content/en/logs/log_collection/javascript.md
  content/en/real_user_monitoring/browser/_index.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, editorial review

#17450 Change SDS pictures to align with new UI
  static/images/logs/sensitive_data_scanner/sds-library-28-03-23.png
  static/images/logs/sensitive_data_scanner/sds_main_28_03_23.png
  static/images/logs/sensitive_data_scanner/sds_rules_28_03_23.png
Labels: Images

#17425 [APM-DBM] Add documentation for the java tracer
  content/en/database_monitoring/guide/connect_dbm_and_apm.md
Labels: Guide

#17456 fixed banner overlap on 404
  layouts/_default/404-baseof.html
Labels: Architecture

#17455 Small codeowners cleanup
  .github/CODEOWNERS
Labels: Github

#17436 Update AKS Connection Setup for TLS Verification
  content/en/containers/kubernetes/distributions.md
Labels: editorial review

#17208 (DOCS-4904) Update and add section for Azure Arc
  content/en/integrations/guide/powershell-command-to-install-azure-datadog-extension.md
Labels: Guide

#17460 Fix numbering
  content/en/account_management/faq/access-your-support-ticket.md
Labels: FAQ

#17465 ♻️[RUMF-1500] Remove unneeded CDN setup references
  content/en/real_user_monitoring/browser/modifying_data_and_context.md
  content/en/real_user_monitoring/guide/proxy-rum-data.md
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
  content/en/real_user_monitoring/guide/setup-rum-deployment-tracking.md
  content/en/real_user_monitoring/session_replay/_index.md
Labels: Guide

#17464 Notification Grouping docs addition
  content/en/monitors/configuration/_index.md
  content/en/monitors/types/metric.md
  static/images/monitors/create/notification-aggregation.png
Labels: monitors, Images

#17176 HPA Cleanup and DatadogMetric recommendation
  content/en/containers/guide/cluster_agent_autoscaling_metrics.md
Labels: editorial review, Guide

#17470 DOCS-5030: Remove curly quotes #4
  content/en/account_management/_index.md
  content/en/account_management/api-app-keys.md
  content/en/account_management/audit_trail/_index.md
  content/en/account_management/billing/apm_tracing_profiler.md
  content/en/account_management/billing/containers.md
  content/en/account_management/billing/custom_metrics.md
  content/en/account_management/billing/pricing.md
  content/en/account_management/multi_organization.md
  content/en/account_management/org_switching.md
  content/en/account_management/teams.md
  content/en/infrastructure/livecontainers/_index.md
  content/en/real_user_monitoring/session_replay/troubleshooting.md
  content/en/security/cloud_workload_security/workload_security_rules.md
  content/en/synthetics/guide/custom-javascript-assertion.md
  content/en/tracing/guide/tutorial-enable-python-container-agent-host.md
Labels: Guide

#17479 DOCS-4605 add coscreen to algolia
  local/etc/algolia/docs_datadoghq.json
  local/etc/algolia/docs_datadoghq_preview.json
Labels: Architecture

#17491 Doc Site Banner Update
  config/_default/params.en.yaml
Labels: Architecture

#17256 Update modifying_data_and_context.md
  content/en/real_user_monitoring/browser/modifying_data_and_context.md
Labels: editorial review

#17231 fix api left nav anchor - [WEB-2915]
  layouts/partials/nav/left-nav-api.html
Labels: Architecture

#17487 Update docs to include APM Library Injection private beta
  content/en/agent/guide/how_remote_config_works.md
Labels: Guide

#17489 DOCS-5099 guide to otel semantic conventions vs datadog conventions
  content/en/opentelemetry/guide/_index.md
  content/en/opentelemetry/guide/semantic_mapping.md
Labels: Guide

#17494 fix font variant numeric -[WEB-3371]
  assets/styles/_icons.scss
  assets/styles/components/_language-region-select.scss
Labels: Architecture

#17497 Add blog link to Further Reading
  content/en/integrations/guide/powershell-command-to-install-azure-datadog-extension.md
Labels: Guide

#17381 adding data streams to nav
  config/_default/menus/menus.en.yaml
  content/en/data_streams/_index.md
Labels: Architecture

#17501 [DOCS-5160] Add notes about buffer size and payload size
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-kinesis-firehose-destination.md
Labels: Guide

#17502 [DOCS-4939] Add Aggregating Agents back to nav
  config/_default/menus/menus.en.yaml
Labels: Architecture

#17511 Bump datadog-lambda-js layer to version 88
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture
