Repository DataDog/documentation, pull requests merged in 2023-12, with the labels that each got.

#20811 Add alternative options for downloading Java agent
  content/en/continuous_integration/tests/setup/java.md
  content/en/dynamic_instrumentation/enabling/java.md
  content/en/profiler/enabling/java.md
  content/en/security/application_security/enabling/java.md
  content/en/security/application_security/enabling/serverless.md
  content/en/serverless/aws_lambda/installation/java.md
  content/en/serverless/azure_app_services/azure_app_services_container.md
  content/en/serverless/azure_container_apps/_index.md
  content/en/serverless/google_cloud_run/_index.md
  content/en/tracing/guide/inferred-service-opt-in.md
  content/en/tracing/guide/tutorial-enable-java-aws-ecs-ec2.md
  content/en/tracing/guide/tutorial-enable-java-aws-ecs-fargate.md
  content/en/tracing/guide/tutorial-enable-java-aws-eks.md
  content/en/tracing/guide/tutorial-enable-java-container-agent-host.md
  content/en/tracing/guide/tutorial-enable-java-containers.md
  content/en/tracing/guide/tutorial-enable-java-gke.md
  content/en/tracing/guide/tutorial-enable-java-host.md
  content/en/tracing/trace_collection/dd_libraries/java.md
Labels: Guide

#20868 Bump `datadog-lambda-rb` layer to version `22`
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#20873 [DOCS-6785] ASM videos and screenshots overhaul
  content/en/security/application_security/_index.md
  content/en/security/application_security/enabling/dotnet.md
  content/en/security/application_security/enabling/go.md
  content/en/security/application_security/enabling/java.md
  content/en/security/application_security/enabling/nodejs.md
  content/en/security/application_security/enabling/php.md
  content/en/security/application_security/enabling/python.md
  content/en/security/application_security/enabling/ruby.md
  content/en/security/application_security/vulnerability_management/_index.md
  static/images/security/application_security/application-security-signal.png
  static/images/security/application_security/appsec-vuln-details2.png
  static/images/security/application_security/vulnerability-score-modified.png
  static/images/security/application_security/vulnerability-score-modified_2.png
  static/images/security/application_security/vulnerability_management/avm_vuln_severity_status_3.png
  static/images/security/application_security/vulnerability_management/vulnerability-score-modified_2.png
Labels: Images, security

#20890 Enabling Tracing for a Python Application on the Same Host as the Datadog Agent Edit
  content/en/tracing/guide/tutorial-enable-python-host.md
  content/en/tracing/trace_collection/dd_libraries/python.md
Labels: Guide

#20882 Update Cloud SIEM screenshot
  content/en/security/_index.md
  content/en/security/cloud_siem/_index.md
  static/images/security/security_monitoring/cloud_siem_overview_2.png
Labels: Images, security

#20886 [DOCS-6843] Update Getting Started with Cloud SIEM for new SKU
  content/en/getting_started/cloud_siem/_index.md
Labels: WORK IN PROGRESS

#20819 [DOCS-6622] VMware Tanzu docs migration
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/application-monitoring-vmware-tanzu.md
  content/en/integrations/guide/cluster-monitoring-vmware-tanzu.md
  content/en/integrations/vmware_tanzu_application_service.md
  static/images/integrations/guide/vmware_tanzu/cloud-foundry-dashboard_2.png
  static/images/integrations/guide/vmware_tanzu/metrics-explorer-cloud-foundry.png
Labels: WORK IN PROGRESS, Do Not Merge, editorial review, Images, Guide

#20898 [Software Delivery] Ruby library documentation improvements after manual API release
  content/en/continuous_integration/guides/add_custom_metrics.md
  content/en/continuous_integration/tests/setup/ruby.md
  static/images/continuous_integration/tests/setup/ci-ruby-test-trace-with-redis.png
Labels: Images

#20901 Bump dd-trace-dotnet layer to version 14
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#20210 DOCS-6454 Add Understanding How Synthetic Test Retries Determine Monitor Status Guide
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/synthetic-test-retries-monitor-status.md
  static/images/synthetics/guide/synthetics_test_retries/diagram_1.png
  static/images/synthetics/guide/synthetics_test_retries/diagram_2.png
  static/images/synthetics/guide/synthetics_test_retries/fast_retries.png
Labels: Images, Guide

#20889 Simplify Next.js npm RUM instructions for server-side rendering
  content/en/real_user_monitoring/guide/monitor-your-nextjs-app-with-rum.md
Labels: Guide

#20914 Bump datadog-lambda-python layer to version 85
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#20915 Fitzage/og image defaults
  config/_default/params.en.yaml
  config/_default/params.fr.yaml
  config/_default/params.ja.yaml
  config/_default/params.ko.yaml
  layouts/partials/meta.html
  static/images/og-default/og-thumbnails-generic.png
  static/images/og-default/og-thumbnails-generic2.png
  static/images/og-default/og-thumbnails-generic3.png
  static/images/og-default/og-thumbnails-generic4.png
  static/images/og-default/og-thumbnails-generic5.png
Labels: Architecture, Images

#20877 [DOCS-6840] CSM setup prereqs layout updates
  layouts/shortcodes/csm-prereqs-enterprise.md
  layouts/shortcodes/csm-prereqs-pro.md
  layouts/shortcodes/csm-prereqs-workload-security.md
Labels: Architecture, WORK IN PROGRESS, Do Not Merge, security

#20934 [PHP] Update manual logs injection snippets and Clarify Annotations usages
  content/en/tracing/other_telemetry/connect_logs_and_traces/php.md
  content/en/tracing/trace_collection/custom_instrumentation/php.md
Labels: Bug, logs, tracing

#20910 [apm] Add data_jobs ingestion mechanism
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
Labels: mergequeue-status: waiting

#20323 DOCS-6526 Synthetics Multistep API Tests Documentation Update
  content/en/getting_started/synthetics/api_test.md
  content/en/synthetics/api_tests/grpc_tests.md
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/guide/authentication-protocols.md
  content/en/synthetics/multistep.md
  static/images/synthetics/api_tests/assertions_grpc_behavior_check_blur.png
  static/images/synthetics/api_tests/assertions_grpc_health_check.png
  static/images/synthetics/api_tests/grpc_behavior_check_test.png
  static/images/synthetics/api_tests/grpc_health_check_test.png
Labels: Images, Guide

#20937 Add Static Analysis Info to VS Code Docs
  content/en/continuous_integration/static_analysis/_index.md
  content/en/developers/ide_integrations/vscode/_index.md
  static/images/developers/ide_integrations/vscode/static-analysis-issue.png
  static/images/developers/ide_integrations/vscode/static-analysis-onboard.png
Labels: Images

#20942 replace puppy agent name
  content/en/integrations/guide/application-monitoring-vmware-tanzu.md
Labels: Guide

#20941 Cleanup Some RUM Aliases
  .github/CODEOWNERS
  content/en/data_security/_index.md
  content/en/data_security/real_user_monitoring.md
  content/en/logs/log_collection/flutter.md
  content/en/logs/log_collection/roku.md
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/browser/_index.md
  content/en/real_user_monitoring/browser/collecting_browser_errors.md
  content/en/real_user_monitoring/browser/data_collected.md
  content/en/real_user_monitoring/browser/tracking_user_actions.md
  content/en/real_user_monitoring/browser/troubleshooting.md
  content/en/real_user_monitoring/connect_rum_and_traces/_index.md
  content/en/real_user_monitoring/dashboards/errors.md
  content/en/real_user_monitoring/dashboards/performance.md
  content/en/real_user_monitoring/dashboards/testing_and_deployment.md
  content/en/real_user_monitoring/dashboards/usage.md
  content/en/real_user_monitoring/error_tracking/android.md
  content/en/real_user_monitoring/error_tracking/expo.md
  content/en/real_user_monitoring/error_tracking/flutter.md
  content/en/real_user_monitoring/error_tracking/roku.md
  content/en/real_user_monitoring/explorer/events.md
  content/en/real_user_monitoring/explorer/watchdog_insights.md
  content/en/real_user_monitoring/generate_metrics/_index.md
  content/en/real_user_monitoring/guide/alerting-with-rum.md
  content/en/real_user_monitoring/guide/best-practices-for-rum-sampling.md
  content/en/real_user_monitoring/guide/browser-sdk-upgrade.md
  content/en/real_user_monitoring/guide/define-services-and-track-ui-components-in-your-browser-application.md
  content/en/real_user_monitoring/guide/enrich-and-control-rum-data.md
  content/en/real_user_monitoring/guide/monitor-kiosk-sessions-using-rum.md
  content/en/real_user_monitoring/guide/monitor-your-rum-usage.md
  content/en/real_user_monitoring/guide/rum-for-product-analytics.md
  content/en/real_user_monitoring/guide/send-rum-custom-actions.md
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
  content/en/real_user_monitoring/guide/tracking-rum-usage-with-usage-attribution-tags.md
  content/en/real_user_monitoring/guide/understanding-the-rum-event-hierarchy.md
  content/en/real_user_monitoring/heatmaps/_index.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/android.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/flutter.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/roku.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/data_collected/android.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/data_collected/roku.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/android.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/flutter.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/roku.md
  content/en/standard-attributes/_index.md
  content/en/synthetics/browser_tests/test_results.md
  content/en/watchdog/insights.md
  layouts/partials/rum/rum-getting-started-mobile-data-collected.html
  layouts/partials/rum/rum-getting-started-mobile-setup.html
  layouts/partials/rum/rum-getting-started.html
Labels: Architecture, Github, Guide

#20850 DOCS-6625 updates to k8s apm instructions
  content/en/containers/guide/kubernetes_daemonset.md
  content/en/containers/kubernetes/apm.md
  content/en/containers/kubernetes/configuration.md
  layouts/shortcodes/k8s-helm-redeploy.md
  layouts/shortcodes/k8s-operator-redeploy.md
Labels: Architecture, Guide

#20945 Link Checker Fixes
  content/en/data_security/real_user_monitoring.md
  content/en/logs/log_collection/flutter.md
  content/en/real_user_monitoring/dashboards/errors.md
  content/en/real_user_monitoring/dashboards/performance.md
  content/en/real_user_monitoring/dashboards/testing_and_deployment.md
  content/en/real_user_monitoring/dashboards/usage.md
  content/en/real_user_monitoring/guide/monitor-kiosk-sessions-using-rum.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/flutter.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/data_collected/roku.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/flutter.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/roku.md
Labels: Guide

#20948 Fix link to OOTB template in route_logs_in_datadog_rehydratable_forma…
  content/en/observability_pipelines/guide/route_logs_in_datadog_rehydratable_format_to_Amazon_S3.md
Labels: Guide

#20594 [DOCS-6434] Add Log Pipeline Scanner doc
  config/_default/menus/menus.en.yaml
  content/en/logs/log_configuration/pipeline_scanner.md
  static/images/logs/log_configuration/pipeline_scanner/pipeline_scanner.png
Labels: Architecture, WORK IN PROGRESS, Images

#20823 Update references to RUM navigation
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/explorer/_index.md
  content/en/real_user_monitoring/funnel_analysis/_index.md
  content/en/real_user_monitoring/guide/alerting-with-conversion-rates.md
  content/en/real_user_monitoring/guide/monitor-your-nextjs-app-with-rum.md
  content/en/real_user_monitoring/guide/rum-for-product-analytics.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/android.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/flutter.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/ios.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/reactnative.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/roku.md
  content/en/real_user_monitoring/session_replay/playlists.md
  static/images/real_user_monitoring/funnel_analysis/rum-funnel-creation-2.png
Labels: editorial review, Images, Guide

#20965 [zendesk] - documentation pictures
  static/images/integrations/zendesk/zendesk_rum_app_1.png
  static/images/integrations/zendesk/zendesk_rum_app_2.png
Labels: Images

#20969 Remove beta callout
  content/en/monitors/guide/custom_schedules.md
Labels: Guide

#20016 document DD_APM_FILTER_TAGS_REGEX_REQUIRE and DD_APM_FILTER_TAGS_REGEX_REJECT
  content/en/containers/docker/apm.md
  content/en/tracing/guide/ignoring_apm_resources.md
Labels: Guide

#20964 Add schema tab documentation to DBM docs
  content/en/database_monitoring/database_hosts.md
  static/images/database_monitoring/db-list-schema-tab.png
Labels: Images

#20971 [CIVIS-8247] Add custom integration to the Pipeline Visibility setup table
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/pipelines/_index.md
  content/en/continuous_integration/pipelines/custom.md
Labels: Architecture

#20978 Replace video with screenshot
  content/en/tracing/error_tracking/executional_context.md
  static/images/tracing/error_tracking/error_tracking_executional_context-2.png
Labels: Images

#20973 [DOCS-6880] Update Getting Started with Cloud SIEM with new SKU info
  content/en/getting_started/cloud_siem/_index.md
  static/images/getting_started/cloud_siem/cloud-siem-setup-warning.png
  static/images/getting_started/cloud_siem/move-index-highlight.png
  static/images/getting_started/cloud_siem/move-index-modal.png
Labels: Images

#20486 [CIVIS-3137] Replace wall time documentation with new metric "total sessions duration"
  content/en/continuous_integration/guides/flaky_test_management.md
  content/en/continuous_integration/search/_index.md
  content/en/continuous_integration/troubleshooting.md
  static/images/ci/ignore-new-flaky-tests.png
  static/images/ci/known-flaky-failed-tests.png
  static/images/continuous_integration/tests.png
Labels: Images, mergequeue-status: removed

#20119 static analysis pg updates - [WEB-3971]
  assets/styles/pages/_static-analysis.scss
  assets/styles/style.scss
  content/en/continuous_integration/static_analysis/rules/_index.md
  layouts/actioncatalog/list.html
  layouts/shortcodes/staticanalysisrule.html
  layouts/shortcodes/statticanalysisruleset.html
  layouts/static-analysis/list.html
  local/bin/py/build/actions/pull_and_push_folder.py
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#20988 Update windows-agent-ddagent-user.md
  content/en/agent/guide/windows-agent-ddagent-user.md
Labels: Guide

#20956 [WEB-4281] Fix duplicate objectIDs being generated in Algolia indexing job
  layouts/partials/algolia/page-sections.json
Labels: Architecture

#20992 re enable cache
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#20899 Add docs for `Running` CI Pipelines
  content/en/continuous_integration/pipelines/_index.md
  content/en/continuous_integration/pipelines/gitlab.md
  content/en/continuous_integration/troubleshooting.md
Labels: mergequeue-status: waiting

#21004 (DOCS-6422) Migrate Agent 5 installation instructions
  content/en/agent/guide/_index.md
  content/en/agent/guide/install-agent-5.md
Labels: Guide

#20825 Remove jQuery from Documentation Site - Round 1
  .eslintrc
  assets/scripts/components/api.js
  assets/scripts/components/global-modals.js
  assets/scripts/components/navbar.js
  assets/scripts/components/table-of-contents.js
  assets/scripts/datadog-docs.js
  assets/scripts/helpers/documentReady.js
  assets/scripts/helpers/helpers.js
  assets/scripts/helpers/scrollTop.js
Labels: Architecture

#19464 Replace Vale linter
  .github/workflows/linting.yml
  .github/workflows/vale_linter.yml
  local/bin/py/vale/vale_annotations.py
  local/bin/py/vale/vale_template.tmpl
Labels: Architecture, WORK IN PROGRESS, Github

#21013 Fitzage/table scroll fix
  assets/scripts/datadog-docs.js
  layouts/_default/baseof.html
Labels: Architecture

#21010 [WEB-4324] adds default subcategory for search results hierarchy
  layouts/_default/list.algolia.json
Labels: Architecture

#21019 Designed diagram for OTel guide
  content/en/opentelemetry/guide/metrics_mapping.md
  static/images/opentelemetry/guide/metrics_mapping/otel-mapping-metrics.png
Labels: Images, Guide

#21018 DOCS-6903 Cleanup RUM Data Collected + Setup Partial Links
  content/en/real_user_monitoring/mobile_and_tv_monitoring/data_collected/_index.md
  layouts/partials/rum/rum-getting-started-mobile-data-collected.html
  layouts/partials/rum/rum-getting-started-mobile-setup.html
Labels: Architecture

#20780 Cyril bouchiat/renaming sec trace
  content/en/getting_started/application_security/_index.md
  content/en/security/application_security/how-appsec-works.md
  content/en/security/application_security/terms.md
  content/en/security/application_security/threats/inapp_waf_rules.md
  content/en/security/application_security/threats/library_configuration.md
  content/en/security/application_security/threats/protection.md
  content/en/security/application_security/troubleshooting.md
  content/en/security/application_security/vulnerability_management/_index.md
  content/en/tracing/configure_data_security/_index.md
  layouts/shortcodes/asm-protect.md
  static/images/getting_started/appsec/ASM_activation_service_selection_v2.png
  static/images/security/application_security/Screenshot 2023-11-27 at 14.00.50.png
  static/images/security/application_security/Vulns_in_service_catalog.png
  static/images/security/application_security/appsec-block-user-ip_v2.png
  static/images/security/application_security/vulnerability-score-modified_3.png
  static/images/security/application_security/vulns_in_service_catalog_v2.png
Labels: Architecture, Images

#20647 Add cross-org visibility doc
  content/en/account_management/org_settings/cross_org_visibility.md
  static/images/account_management/org_settings/cross_org_visibility/cross_org_query.png
Labels: editorial review, Images

#21029 Remove private beta designation for AP1 PrivateLink
  content/en/agent/guide/private-link.md
Labels: Guide

#19424 Improve OpenTelemetry Java manual instrumentation documentation
  content/en/tracing/trace_collection/otel_instrumentation/java.md
Labels: tracing, opentelemetry

#20962 [DOCS-6870] Add OP SDS transform guide
  content/en/observability_pipelines/guide/sensitive_data_scanner_transform.md
Labels: WORK IN PROGRESS, Guide

#20944 DOCS-6238 Add Test Visibility and Intelligent Test Runner Documentation
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/guides/_index.md
  content/en/continuous_integration/search/_index.md
  content/en/continuous_integration/troubleshooting.md
  content/en/integrations/guide/source-code-integration.md
  content/en/intelligent_test_runner/_index.md
  content/en/intelligent_test_runner/setup/_index.md
  content/en/intelligent_test_runner/setup/dotnet.md
  content/en/intelligent_test_runner/setup/java.md
  content/en/intelligent_test_runner/setup/javascript.md
  content/en/intelligent_test_runner/setup/python.md
  content/en/intelligent_test_runner/setup/swift.md
  content/en/intelligent_test_runner/troubleshooting/_index.md
  content/en/tests/_index.md
  content/en/tests/browser_tests.md
  content/en/tests/code_coverage.md
  content/en/tests/containers.md
  content/en/tests/developer_workflows.md
  content/en/tests/guides/_index.md
  content/en/tests/guides/add_custom_metrics.md
  content/en/tests/guides/flaky_test_management.md
  content/en/tests/search/_index.md
  content/en/tests/setup/_index.md
  content/en/tests/setup/dotnet.md
  content/en/tests/setup/java.md
  content/en/tests/setup/javascript.md
  content/en/tests/setup/junit_xml.md
  content/en/tests/setup/python.md
  content/en/tests/setup/ruby.md
  content/en/tests/setup/swift.md
  content/en/tests/swift_tests.md
  content/en/tests/troubleshooting/_index.md
Labels: Architecture, editorial review, Guide

#20913 DOCS-6873 Static Analysis URL Update
  .github/CODEOWNERS
  content/en/developers/ide_integrations/idea/_index.md
  content/en/dora_metrics/_index.md
  content/en/static_analysis/_index.md
  content/en/static_analysis/rules/_index.md
Labels: Github

#21021 Update docs to reflect new name of Microsoft Entra ID
  content/en/database_monitoring/guide/managed_authentication.md
  content/en/database_monitoring/setup_postgres/azure.md
  content/en/database_monitoring/setup_sql_server/azure.md
Labels: Guide

#21039 Change site region name value for US1-FED
  assets/scripts/config/regions.config.js
Labels: Architecture

#21035 CSM Vulnerabilities: moving Windows/Fargate limitation to pre-reqs
  content/en/security/cloud_security_management/setup/csm_enterprise.md
  content/en/security/cloud_security_management/setup/csm_pro.md
  layouts/shortcodes/csm-prereqs-enterprise.md
  layouts/shortcodes/csm-prereqs-pro.md
Labels: Architecture, security

#21027 [DOCS-6889] support for .NET for code-level vulnerabilities
  content/en/security/application_security/enabling/compatibility/_index.md
  content/en/security/application_security/enabling/compatibility/dotnet.md
  content/en/security/application_security/enabling/dotnet.md
Labels: security

#21041 Add blog link to Datadog Agent FIPS Compliance doc
  content/en/agent/configuration/agent-fips-proxy.md
Labels: agent

#21042 Change plugin to extension in Visual Studio docs
  content/en/developers/ide_integrations/visual_studio/_index.md
Labels: developers

#21043 Update image alt text in Synthetics docs
  content/en/synthetics/guide/synthetic-test-retries-monitor-status.md
Labels: synthetics, Guide

#21014 Add Getting Started with Continuous Testing guide
  config/_default/menus/menus.en.yaml
  content/en/getting_started/_index.md
  content/en/getting_started/continuous_testing/_index.md
  content/en/glossary/terms/parallelization.md
  content/en/glossary/terms/test_batch.md
  content/en/glossary/terms/test_run.md
  static/images/continuous_testing/ci_explorer_test_results.png
  static/images/continuous_testing/example_search_queries.png
  static/images/continuous_testing/example_test_id.png
  static/images/continuous_testing/new_browser_test.png
  static/images/continuous_testing/parallelization_estimate.png
Labels: Architecture, Images

#21023 (DOCS-6600) Add link to Terraform resource
  content/en/service_management/service_level_objectives/_index.md
Labels: WORK IN PROGRESS

#21022 (DOCS-6600) Add Terraform section
  content/en/synthetics/guide/manage-browser-tests-through-the-api.md
Labels: WORK IN PROGRESS, Guide

#21058 Correcting the needed permissions for the agent user to tail logs
  content/en/logs/guide/log-collection-troubleshooting-guide.md
Labels: Guide

#21059 Docs6600/terraform synthetic api tests
  content/en/synthetics/guide/create-api-test-with-the-api.md
  content/en/synthetics/guide/manage-browser-tests-through-the-api.md
Labels: Guide

#21032 fix: Update reference to GCP Data Transfer Service Account
  content/en/cloud_cost_management/google_cloud.md
Labels: under_review

#21068 Update SAML with Okta instructions and add identifiers to menu subitems
  config/_default/menus/menus.en.yaml
  content/en/account_management/saml/okta.md
Labels: Architecture

#20986 Update docs for Visual Studio extension.
  content/en/developers/ide_integrations/visual_studio/_index.md
  static/images/developers/ide_integrations/visual_studio/code-insights.png
  static/images/developers/ide_integrations/visual_studio/top-list.png
  static/images/developers/ide_integrations/visual_studio/view-in-visual-studio.png
Labels: editorial review, Images

#20927 DOCS-6819: Security Notifications
  content/en/security/notifications/_index.md
Labels: WORK IN PROGRESS, Do Not Merge, security

#20923 DOCS-6820: Security Notification Rules
  content/en/security/notifications/rules.md
  static/images/security/notification-profiles-overview3.png
  static/images/security/notification-profiles-setup3.png
Labels: WORK IN PROGRESS, Do Not Merge, Images, security

#20926 DOCS-6821: Security Detection Rules
  content/en/security/cloud_siem/log_detection_rules.md
  content/en/security/default_rules/_index.md
  content/en/security/detection_rules/_index.md
  content/en/security/misconfigurations/compliance_rules.md
  static/images/security/default_detection_rules.png
Labels: WORK IN PROGRESS, Do Not Merge, Images, security

#21079 [WEB-4381] Update Watchdog video source
  content/en/watchdog/_index.md
  static/images/poster/watchdog.png
Labels: Images

#21076 WEB-4382 - 4th level should be intentional only
  layouts/partials/nav/left-nav.html
Labels: Architecture

#21065 remove pg_stat_statements in track_activity_query_size parameter
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/azure.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/rds.md
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: mergequeue-status: waiting

#20717 Span Links Beta Documentation
  config/_default/menus/menus.en.yaml
  content/en/tracing/trace_collection/custom_instrumentation/dd_libraries/php.md
  content/en/tracing/trace_collection/custom_instrumentation/otel_instrumentation/java.md
  content/en/tracing/trace_collection/span_links/_index.md
  content/en/tracing/trace_explorer/trace_view.md
  static/images/tracing/span_links/span_links_tab.png
Labels: Architecture, Images

#21082 (DOCS-6837) Update flare instructions
  content/en/agent/fleet_automation/_index.md
  content/en/agent/troubleshooting/send_a_flare.md
  layouts/shortcodes/remote-flare.md
Labels: Architecture

#20954 Add CSPM Severity Framework to Docs Site
  config/_default/menus/menus.en.yaml
  content/en/security/cloud_security_management/severity_scoring.md
Labels: Architecture, editorial review

#21087 add exception to 4th level
  layouts/partials/nav/left-nav.html
Labels: Architecture

#21081 [DOCS-6598] Add Manage Logs and Metrics with Terraform
  content/en/logs/guide/_index.md
  content/en/logs/guide/manage_logs_and_metrics_with_terraform.md
  content/en/metrics/guide/_index.md
Labels: editorial review, Guide

#20888 New Time Slice SLO
  config/_default/menus/menus.en.yaml
  content/en/service_management/service_level_objectives/_index.md
  content/en/service_management/service_level_objectives/guide/_index.md
  content/en/service_management/service_level_objectives/guide/slo_types_comparison.md
  content/en/service_management/service_level_objectives/time_slice.md
  static/images/service_management/service_level_objectives/calendar-view-slo.png
  static/images/service_management/service_level_objectives/time_slice/create_and_configuration.png
  static/images/service_management/service_level_objectives/time_slice/export_monitor_slo.png
  static/images/service_management/service_level_objectives/time_slice/import_from_monitor.png
  static/images/service_management/service_level_objectives/time_slice/time_slice_detail_panel_group.png
  static/images/service_management/service_level_objectives/time_slice/uptime_latency.png
  static/images/service_management/service_level_objectives/time_slice/uptime_latency_groups.png
Labels: Architecture, editorial review, Images

#21086 Add save views docs for Event Management
  config/_default/menus/menus.en.yaml
  content/en/service_management/events/explorer/_index.md
  content/en/service_management/events/explorer/saved_views.md
Labels: Architecture

#21088 [WEB-3071] Remove jQuery - Part 2
  .eslintignore
  assets/scripts/components/global-modals.js
  assets/scripts/components/header.js
  assets/scripts/components/integrations.js
  assets/scripts/components/table-of-contents.js
  assets/scripts/helpers/moveToAnchor.js
  assets/scripts/helpers/triggerEvent.js
  assets/scripts/helpers/window-resizer.js
  assets/scripts/injects/inject-jquery.js
  assets/scripts/main-dd-js.js
  assets/scripts/utils/isMobile.js
  layouts/partials/footer-scripts.html
  package.json
  yarn.lock
Labels: Architecture

#21101 Replace video for enabling percentiles
  content/en/metrics/distributions.md
  static/images/metrics/distributions/enable_percentiles.mp4
Labels: Images

#21066 DOCS-6929 - adding step functions enhanced metrics page
  config/_default/menus/menus.en.yaml
  content/en/serverless/step_functions/enhanced-metrics.md
Labels: Architecture

#21113 Bump datadog-lambda-python layer to version 86
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#21108 Bump datadog-lambda-js layer to version 103
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#21114 Bump datadog-lambda-extension layer to version 52
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#21084 Docs6877/add azure arm instructions
  content/en/integrations/guide/azure-manual-setup.md
  static/images/integrations/guide/azure_manual_setup/arm_template_service_principal.png
  static/images/integrations/guide/azure_manual_setup/azure_tile_arm_template.png
Labels: Images, Guide

#21112 increase distance from top for `left-nav`
  assets/scripts/components/api.js
  assets/scripts/datadog-docs.js
Labels: Architecture

#21111 [DOCS-6908] Add note about OP logs and metrics support
  content/en/observability_pipelines/_index.md
  content/en/observability_pipelines/configurations.md
  content/en/observability_pipelines/guide/control_log_volume_and_size.md
  content/en/observability_pipelines/production_deployment_overview.md
Labels: Guide

#21089 DOCS-6885 Add Quality Gates Setup, Search + Manage, and Explorer Documentation
  config/_default/menus/menus.en.yaml
  content/en/quality_gates/_index.md
  content/en/quality_gates/explorer/_index.md
  content/en/quality_gates/explorer/facets.md
  content/en/quality_gates/explorer/saved_views.md
  content/en/quality_gates/explorer/search_syntax.md
  content/en/quality_gates/search/_index.md
  content/en/quality_gates/setup/_index.md
  static/images/quality_gates/explorer/default_view.png
  static/images/quality_gates/explorer/expand_view.png
  static/images/quality_gates/explorer/facets.png
  static/images/quality_gates/explorer/facets_gates.png
  static/images/quality_gates/explorer/facets_rules.png
  static/images/quality_gates/explorer/gates.png
  static/images/quality_gates/explorer/rules.png
  static/images/quality_gates/rule.png
  static/images/quality_gates/search.png
Labels: Architecture, editorial review, Images

#21120 [WEB-4393] Fix anchor scrolling bug on Chrome browser
  assets/scripts/components/table-of-contents.js
Labels: Architecture

#21078 DOCS-6916: CSM on Windows
  content/en/security/cloud_security_management/setup/windows.md
Labels: editorial review, security

#20997 (DOCS-6845) Add enrichment options and screenshots
  content/en/network_monitoring/devices/netflow.md
  static/images/network_device_monitoring/netflow/netflow_cloud_provider_ip_enrichment.png
  static/images/network_device_monitoring/netflow/netflow_iana_port_mappings.png
  static/images/network_device_monitoring/netflow/new_enrichment.png
Labels: Images

#21135 Update RUM config to include user interactions for scroll maps
  assets/scripts/components/dd-browser-logs-rum.js
Labels: Architecture

#21098 Ci Visibility: Improve documentation for tabs (horizontal) instead of vertical for pytest/pytest-benchmark/unittest
  content/en/tests/setup/python.md
Labels: continuous_integration, mergequeue-status: waiting

#21126 Change distribution percentiles video
  content/en/metrics/distributions.md
  static/images/metrics/distributions/enable_percentiles.mp4
  static/images/metrics/distributions/metric_detail_enable_percentiles.mp4
Labels: Images

#21137 Bump datadog-lambda-python layer to version 87
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#21127 Fix CSM Article Titles
  content/en/security/cloud_security_management/setup/_index.md
  content/en/security/cloud_security_management/setup/csm_enterprise.md
  content/en/security/cloud_security_management/setup/csm_pro.md
  content/en/security/cloud_security_management/setup/csm_workload_security.md
Labels: security

#21055 [Metrics] Query Activity Facet Changes
  content/en/metrics/summary.md
  static/images/metrics/summary/configurationbuttons2.png
  static/images/metrics/summary/facets2.jpg
  static/images/metrics/summary/facets3.jpg
  static/images/metrics/summary/tag_advancedfiltering2.mp4
Labels: Images

#20982 Docs6599/terraform acct mgmt
  content/en/account_management/guide/_index.md
  content/en/account_management/guide/manage-datadog-with-terraform.md
Labels: editorial review, Guide

#19807 [DOCS-4942] Add Cloud SIEM Security Signal doc
  config/_default/menus/menus.en.yaml
  content/en/security/cloud_siem/investigate_a_security_signal.md
  static/images/security/security_monitoring/investigate_a_signal/bulk_actions.png
  static/images/security/security_monitoring/investigate_a_signal/profile_icon.png
  static/images/security/security_monitoring/investigate_a_signal/signal_list.png
  static/images/security/security_monitoring/investigate_a_signal/threat_intel_results_categories.png
  static/images/security/security_monitoring/investigate_a_signal/threat_intel_view_logs.png
  static/images/security/security_monitoring/investigate_a_signal/triage_status.png
Labels: Architecture, editorial review, Images

#21139 Update Cloud SIEM Signals title
  config/_default/menus/menus.en.yaml
  content/en/security/cloud_siem/investigate_security_signals.md
Labels: Architecture

#21138 rm trailing spaces/new lines after links - [WEB-4392]
  layouts/integrations/_markup/render-link.html
Labels: Architecture

#21136 [DOCS-6161] Add DPL to mentions of VRL
  content/en/observability_pipelines/guide/control_log_volume_and_size.md
  content/en/observability_pipelines/guide/custom-metrics-governance.md
Labels: Guide

#21140 Bump datadog-lambda-js layer to version 104
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#20911 [DOCS-6854] Add Troubleshooting/Admission Controller doc
  config/_default/menus/menus.en.yaml
  content/en/containers/cluster_agent/admission_controller.md
  content/en/containers/troubleshooting/admission-controller.md
Labels: Architecture, editorial review

#21074 [RUM-2088] Introduce Mobile SDK deprecation policy
  content/en/real_user_monitoring/guide/mobile-sdk-deprecation-policy.md
  content/en/real_user_monitoring/guide/mobile-sdk-upgrade.md
Labels: editorial review, Guide

#21143 [RUM-2088] Add link to RUM guide index to reference deprecation policy
  content/en/real_user_monitoring/guide/_index.md
Labels: Guide

#20938 Document for customer communication on linux key rotation
  content/en/agent/faq/_index.md
  content/en/agent/guide/_index.md
  content/en/agent/guide/linux-key-rotation-2024.md
Labels: editorial review, agent, Guide, FAQ

#21083 Add explanation of "Active" feature flag status
  content/en/real_user_monitoring/feature_flag_tracking/_index.md
Labels: editorial review

#21149 Remove DOMException Error
  assets/scripts/components/table-of-contents.js
  layouts/partials/table-of-contents/scraped-toc.html
Labels: Architecture

#21150 Update CIS Azure version
  content/en/security/misconfigurations/supported_frameworks.md
Labels: security

#21145 [DOCS-5315] Add Suppressions doc
  config/_default/menus/menus.en.yaml
  content/en/security/suppressions.md
  static/images/security/security_monitoring/suppressions/detection_rule_migration.png
  static/images/security/security_monitoring/suppressions/detection_suppression_rule.png
  static/images/security/security_monitoring/suppressions/migration.png
  static/images/security/security_monitoring/suppressions/suppression_list.png
  static/images/security/security_monitoring/suppressions/suppression_query.png
Labels: Architecture, editorial review, Images

#20729 [CIVIS-8000] Add ITR how it works page
  config/_default/menus/menus.en.yaml
  content/en/intelligent_test_runner/_index.md
  content/en/intelligent_test_runner/how_it_works.md
  static/images/continuous_integration/itr_example.png
  static/images/continuous_integration/itr_savings.png
  static/images/continuous_integration/itr_skipped_test_run.png
  static/images/continuous_integration/itr_test_selection.png
Labels: Architecture, editorial review, Images

#20144 DOCS-4841 Profiler features for language and tracer versions
  config/_default/menus/menus.en.yaml
  content/en/profiler/enabling/ddprof.md
  content/en/profiler/enabling/dotnet.md
  content/en/profiler/enabling/go.md
  content/en/profiler/enabling/java.md
  content/en/profiler/enabling/nodejs.md
  content/en/profiler/enabling/php.md
  content/en/profiler/enabling/python.md
  content/en/profiler/enabling/ruby.md
  content/en/profiler/enabling/supported_versions.md
Labels: Architecture

#21158 [DOCS-6803] updating Helm version in CSM vulnerabilities prereqs
  content/en/security/vulnerabilities/troubleshooting.md
  layouts/shortcodes/csm-prereqs-enterprise.md
  layouts/shortcodes/csm-prereqs-pro.md
Labels: Architecture, security

#20865 [DOCS-5940] Add Container Images configuration info
  config/_default/menus/menus.en.yaml
  content/en/infrastructure/containers/_index.md
  content/en/infrastructure/containers/configuration.md
  content/en/infrastructure/containers/container_images.md
  content/en/security/vulnerabilities/_index.md
  static/images/infrastructure/livecontainers/live-containers-overview_2.png
Labels: Architecture, WORK IN PROGRESS, Do Not Merge, Images

#21152 [DOCS-6572] Add iOS and Android to DD libraries page.
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/android.md
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/ios.md
  layouts/partials/apm/apm-compatibility.html
  layouts/partials/apm/apm-languages.html
Labels: Architecture

#21162 Update image folder name
  content/en/security/cloud_siem/investigate_security_signals.md
  static/images/security/security_monitoring/investigate_security_signals/bulk_actions.png
  static/images/security/security_monitoring/investigate_security_signals/profile_icon.png
  static/images/security/security_monitoring/investigate_security_signals/signal_list.png
  static/images/security/security_monitoring/investigate_security_signals/threat_intel_results_categories.png
  static/images/security/security_monitoring/investigate_security_signals/threat_intel_view_logs.png
  static/images/security/security_monitoring/investigate_security_signals/triage_status.png
Labels: Images

#21160 Add metrics product to glossary and terms
  config/_default/params.yaml
  content/en/glossary/terms/cardinality.md
  content/en/glossary/terms/count.md
  content/en/glossary/terms/distribution.md
  content/en/glossary/terms/gauge.md
  content/en/glossary/terms/granularity.md
  content/en/glossary/terms/histogram.md
  content/en/glossary/terms/query.md
  content/en/glossary/terms/rate.md
  content/en/glossary/terms/scope_(metrics).md
  content/en/glossary/terms/space_aggregation.md
  content/en/glossary/terms/template_variable.md
  content/en/glossary/terms/time_aggregation.md
Labels: Architecture

#21102 [DOCS-6433] Add filter logs with subqueries
  config/_default/menus/menus.en.yaml
  content/en/logs/explorer/advanced_search.md
  content/en/logs/explorer/analytics/_index.md
  static/images/logs/explorer/advanced_search/filter_outdated_example.png
  static/images/logs/explorer/advanced_search/narrow_dataset_example.png
  static/images/logs/explorer/advanced_search/reference_tables_logs.png
  static/images/logs/explorer/advanced_search/subquery.png
Labels: Architecture, editorial review, Images

#20996 [DOCS-6896] Add Summary page to SDS doc
  content/en/sensitive_data_scanner.md
Labels: editorial review

#20950 Update route_logs_in_datadog_rehydratable_format_to_Amazon_S3.md
  content/en/observability_pipelines/guide/route_logs_in_datadog_rehydratable_format_to_Amazon_S3.md
Labels: Guide

#21178 Update OP docs image
  content/en/observability_pipelines/_index.md
  static/images/observability_pipelines/obs_pipelines_new.png
Labels: Images

#21169 adding missing identifiers to menus.en.yaml
  config/_default/menus/menus.en.yaml
Labels: Architecture

#21172 Add Symfony 7 compatibility
  content/en/tracing/trace_collection/compatibility/php.md
Labels: tracing

#21046 DOCS-6886 - update K8s Cluster Name Detection guide
  content/en/containers/guide/kubernetes-cluster-name-detection.md
Labels: Guide

#21192 Fix yaml syntax on operator/pause container option
  content/en/containers/guide/autodiscovery-management.md
Labels: Guide

#21195 fixing the menu
  config/_default/menus/menus.en.yaml
Labels: Architecture
