Repository DataDog/documentation, pull requests merged in 2023-08, with the labels that each got.

#19045 DOCS-5710: CSM rebrand
  config/_default/menus/menus.en.yaml
  content/en/glossary/terms/control.md
  content/en/glossary/terms/finding.md
  content/en/glossary/terms/framework.md
  content/en/glossary/terms/requirement.md
  content/en/glossary/terms/rule.md
  content/en/glossary/terms/security_posture_score.md
  content/en/security/_index.md
  content/en/security/cloud_security_management/_index.md
  content/en/security/cloud_security_management/guide/_index.md
  content/en/security/cloud_security_management/guide/custom-rules-guidelines.md
  content/en/security/cloud_security_management/guide/public-accessibility-logic.md
  content/en/security/cloud_security_management/guide/tuning-rules.md
  content/en/security/cloud_security_management/guide/writing_rego_rules.md
  content/en/security/cloud_security_management/troubleshooting.md
  content/en/security/cloud_siem/guide/how-to-setup-security-filters-using-cloud-siem-api.md
  content/en/security/cloud_siem/signal_correlation_rules.md
  content/en/security/cloud_workload_security/_index.md
  content/en/security/cloud_workload_security/security_profiles.md
  content/en/security/cloud_workload_security/setup.md
  content/en/security/cloud_workload_security/workload_security_rules.md
  content/en/security/cspm/_index.md
  content/en/security/cspm/compliance_rules.md
  content/en/security/cspm/custom_rules/_index.md
  content/en/security/cspm/custom_rules/schema.md
  content/en/security/cspm/findings.md
  content/en/security/cspm/frameworks_and_benchmarks.md
  content/en/security/cspm/resource_catalog.md
  content/en/security/cspm/setup.md
  content/en/security/cspm/signals_explorer.md
  content/en/security/default_rules/_index.md
  content/en/security/detection_rules/_index.md
  content/en/security/explorer.md
  content/en/security/security_signal_management/_index.md
  static/images/security/csm/csm_overview.png
  static/images/security/csm/health_scores.png
  static/images/security/csm/security_inbox.png
  static/images/security/cspm/compliance_page.png
  static/images/security/cspm/compliance_rules.png
  static/images/security/cspm/findings/misconfigurations_explorer.png
  static/images/security/cspm/findings_explorer.png
  static/images/security/cspm/frameworks_and_benchmarks/cis_aws_compliance_report.png
  static/images/security/cspm/frameworks_and_benchmarks/compliance_reports.png
  static/images/security/cspm/overview_page2.png
  static/images/security/cws/security_profiles/security-profiles.png
  static/images/security/cws/threats_detection_rules.png
  static/images/security/cws/threats_page.png
Labels: Architecture, WORK IN PROGRESS, Do Not Merge, Images, security, affogato

#19178 Add cws runtime anomaly detection docs
  config/_default/menus/menus.en.yaml
  content/en/security/cloud_workload_security/runtime_anomaly_detection.md
  content/en/security/cloud_workload_security/setup.md
  static/images/security/cws/security_profiles/runtime-anomaly-detection-signal-sidepanel.png
Labels: Architecture, editorial review, Images

#19142 Remove private messaging / noindex from Service Catalogs
  content/en/tracing/service_catalog/scorecards.md
Labels: Do Not Merge, affogato

#19019 (DOCS-5890) Service Page and Service Types
  content/en/tracing/guide/inferred-service-opt-in.md
  content/en/tracing/services/service_page.md
  static/images/tracing/services/service_page/dependencies.png
Labels: Do Not Merge, editorial review, Images, Guide, affogato

#19098 Docs5933/npm updates
  config/_default/menus/menus.en.yaml
  content/en/infrastructure/process/_index.md
  content/en/logs/explorer/side_panel.md
  content/en/network_monitoring/dns/_index.md
  content/en/network_monitoring/performance/_index.md
  content/en/network_monitoring/performance/network_analytics.md
  content/en/network_monitoring/performance/overview_page.md
  content/en/network_monitoring/performance/setup.md
  content/en/tracing/trace_explorer/trace_view.md
  static/images/network_performance_monitoring/dns_client_search.png
  static/images/network_performance_monitoring/dns_overview.png
  static/images/network_performance_monitoring/dns_query_example.png
  static/images/network_performance_monitoring/dns_sidepanel.png
  static/images/network_performance_monitoring/network_analytics/cloud-service-hero-docs.png
  static/images/network_performance_monitoring/network_analytics/cloud-service-hero-docs2.png
  static/images/network_performance_monitoring/network_analytics/context_npm.png
  static/images/network_performance_monitoring/network_analytics/context_npm2.png
  static/images/network_performance_monitoring/network_analytics/data_table.png
  static/images/network_performance_monitoring/network_analytics/destination_panel.png
  static/images/network_performance_monitoring/network_analytics/destination_panel2.png
  static/images/network_performance_monitoring/network_analytics/domain_aggregation.png
  static/images/network_performance_monitoring/network_analytics/domain_aggregation2.png
  static/images/network_performance_monitoring/network_analytics/drop_down_npm.png
  static/images/network_performance_monitoring/network_analytics/facet_panels.png
  static/images/network_performance_monitoring/network_analytics/filter_traffic_toggles.png
  static/images/network_performance_monitoring/network_analytics/filter_traffic_toggles_v2.png
  static/images/network_performance_monitoring/network_analytics/flow_details.png
  static/images/network_performance_monitoring/network_analytics/flow_table_region_az.png
  static/images/network_performance_monitoring/network_analytics/flow_table_region_az2.png
  static/images/network_performance_monitoring/network_analytics/main_page_npm.png
  static/images/network_performance_monitoring/network_analytics/main_page_npm2.png
  static/images/network_performance_monitoring/network_analytics/network_data.png
  static/images/network_performance_monitoring/network_analytics/network_data2.png
  static/images/network_performance_monitoring/network_analytics/network_diagram.png
  static/images/network_performance_monitoring/network_analytics/network_diagram2.png
  static/images/network_performance_monitoring/network_analytics/network_table.png
  static/images/network_performance_monitoring/network_analytics/network_table2.png
  static/images/network_performance_monitoring/network_analytics/npm_cover.png
  static/images/network_performance_monitoring/network_analytics/npm_saved_views.png
  static/images/network_performance_monitoring/network_analytics/npm_saved_views2.png
  static/images/network_performance_monitoring/network_analytics/npm_sidepanel.png
  static/images/network_performance_monitoring/network_analytics/npm_sidepanel2.png
  static/images/network_performance_monitoring/network_analytics/npm_timeframe.png
  static/images/network_performance_monitoring/network_analytics/prenat_ip.png
  static/images/network_performance_monitoring/network_analytics/prenat_ip2.png
  static/images/network_performance_monitoring/network_analytics/recommended_queries.png
  static/images/network_performance_monitoring/network_analytics/recommended_queries_dns.png
  static/images/network_performance_monitoring/network_analytics/recommended_queries_options.png
  static/images/network_performance_monitoring/network_analytics/recommended_query_detail.png
  static/images/network_performance_monitoring/network_analytics/recommended_query_options.png
  static/images/network_performance_monitoring/network_analytics/summary_graph_options.png
  static/images/network_performance_monitoring/network_analytics/summary_graph_visualization_options.png
  static/images/network_performance_monitoring/network_analytics/summary_graphs_reset_graphs.png
  static/images/network_performance_monitoring/overview_page/application_dependency_top_talkers.png
  static/images/network_performance_monitoring/overview_page/dns_health.png
  static/images/network_performance_monitoring/overview_page/external_network_traffic.png
  static/images/network_performance_monitoring/overview_page/overview_page.png
  static/images/network_performance_monitoring/overview_page/top_traffic_sources.png
  static/images/network_performance_monitoring/recommended_queries_dns.png
Labels: Architecture, WORK IN PROGRESS, Images, affogato

#19223 Remove screenshot
  static/images/security/infrastructure_vulnerabilities/container_image_2.png
Labels: Images

#19106 DOCS-5934: CSM rebrand non-security docs
  content/en/agent/guide/dual-shipping.md
  content/en/agent/remote_config/_index.md
  content/en/developers/guide/data-collection-resolution-retention.md
  content/en/getting_started/cloud_security_management/_index.md
  content/en/getting_started/integrations/aws.md
  content/en/glossary/terms/resource.md
  content/en/integrations/guide/aws-manual-setup.md
  content/en/integrations/guide/aws-organizations-setup.md
  content/en/integrations/guide/azure-architecture-and-configuration.md
  content/en/integrations/guide/azure-portal.md
  content/en/network_monitoring/performance/network_analytics.md
  content/en/service_management/incident_management/_index.md
Labels: WORK IN PROGRESS, Do Not Merge, Guide, affogato

#19220 [agent FIPS] Clarify language about unsupported communication
  content/en/agent/guide/agent-fips-proxy.md
Labels: Guide

#19227 Update inferred-service-opt-in.md
  content/en/tracing/guide/inferred-service-opt-in.md
Labels: Guide

#19225 Update CTA banner
  config/_default/params.en.yaml
Labels: Architecture, Do Not Merge

#19218 CSM minor doc edits
  content/en/security/cspm/_index.md
  content/en/security/identity_risks/_index.md
  content/en/security/infrastructure_vulnerabilities/_index.md
  static/images/security/csm/health_scores.png
  static/images/security/identity_risks/identity_risks_explorer.png
  static/images/security/identity_risks/identity_risks_page.png
  static/images/security/infrastructure_vulnerabilities/container_images_tab.png
  static/images/security/infrastructure_vulnerabilities/container_vulnerability.png
  static/images/security/infrastructure_vulnerabilities/vulnerabilities_explorer.png
  static/images/security/infrastructure_vulnerabilities/vulnerabilities_explorer_side_panel.png
  static/images/security/infrastructure_vulnerabilities/vulnerabilities_page.png
  static/images/security/infrastructure_vulnerabilities/vulnerabilities_side_panel.png
Labels: Images, security

#19055 [DOCS-5764] Resource Catalog: Adding descriptions for new security and ownership tabs
  content/en/security/cspm/resource_catalog.md
Labels: WORK IN PROGRESS, Do Not Merge, editorial review, security, affogato

#19163 Add API Catalog to menu and update banner
  config/_default/menus/menus.en.yaml
  content/en/tracing/api_catalog/_index.md
Labels: Architecture, affogato

#19226 Update CODEOWNERS to add dotnet-tracing as owners
  .github/CODEOWNERS
Labels: Github

#19205 [DOCS-5975] Mobile Application Testing Banner Updates
  content/en/mobile_app_testing/_index.md
  content/en/mobile_app_testing/mobile_app_tests/_index.md
  content/en/mobile_app_testing/mobile_app_tests/advanced_options.md
  content/en/mobile_app_testing/mobile_app_tests/results.md
  content/en/mobile_app_testing/mobile_app_tests/steps.md
  content/en/mobile_app_testing/settings/_index.md
Labels: editorial review, affogato

#19210 Update set-up-orchestrator-explorer-daemonset.md
  content/en/infrastructure/faq/set-up-orchestrator-explorer-daemonset.md
Labels: FAQ

#18440 Rtrieu/docs 5250 mobile session replay
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/session_replay/_index.md
  content/en/real_user_monitoring/session_replay/mobile/_index.md
  content/en/real_user_monitoring/session_replay/mobile/app_performance.md
  content/en/real_user_monitoring/session_replay/mobile/privacy_options.md
  content/en/real_user_monitoring/session_replay/mobile/setup_and_configuration.md
  content/en/real_user_monitoring/session_replay/mobile/troubleshooting.md
  content/en/real_user_monitoring/session_replay/privacy_options.md
  content/en/real_user_monitoring/session_replay/troubleshooting.md
  static/images/real_user_monitoring/session_replay/mobile/masking-mode-allow-all-2.png
  static/images/real_user_monitoring/session_replay/mobile/masking-mode-allow-all.png
  static/images/real_user_monitoring/session_replay/mobile/masking-mode-mask-all-2.png
  static/images/real_user_monitoring/session_replay/mobile/masking-mode-mask-all.png
  static/images/real_user_monitoring/session_replay/mobile/masking-mode-user-input-2.png
  static/images/real_user_monitoring/session_replay/mobile/mobile_replay.mp4
Labels: Architecture, Images, affogato

#19157 Scaffold new entry for resource utilization
  config/_default/menus/menus.en.yaml
  content/en/infrastructure/containers/kubernetes_resource_utilization.md
  static/images/infrastructure/livecontainers/kubernetes_resource_utilization.png
  static/images/infrastructure/livecontainers/kubernetes_resource_utilization_metrics.png
  static/images/infrastructure/livecontainers/kubernetes_resource_utilization_panel.png
Labels: Architecture, Images, affogato

#19139 [DOCS-5718] ASM API Security
  content/en/security/application_security/how-appsec-works.md
Labels: WORK IN PROGRESS, Do Not Merge, security, affogato

#19237 DOCS-5806 Update beta info for trace queries
  config/_default/menus/menus.en.yaml
  content/en/tracing/trace_queries/_index.md
Labels: Architecture, affogato

#19249 Update params.en.yaml
  config/_default/params.en.yaml
Labels: Architecture

#19238 Update screenshots in Log Management > Error Tracking
  static/images/logs/error_tracking/homepage.png
  static/images/logs/error_tracking/sidepanel.png
Labels: Images

#19248 Remove Infra VM section
  content/en/security/cloud_security_management/_index.md
Labels: security

#19257 Fix links
  content/en/security/cloud_workload_security/setup.md
  content/en/security/cspm/setup.md
Labels: security

#19114 New change alert monitor guide
  content/en/monitors/guide/_index.md
  content/en/monitors/guide/change-alert.md
  content/en/monitors/types/metric.md
  static/images/monitors/guide/change-alert/configure_define_the_metrics.png
  static/images/monitors/guide/change-alert/example_monitor_config.png
  static/images/monitors/guide/change-alert/notebook_query_reconstruct_timeshift.png
Labels: editorial review, Images, Guide

#19258 Update screenshots in RUM > Error Tracking
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/real_user_monitoring/error_tracking/explorer.md
  static/images/real_user_monitoring/error_tracking/error_sample.png
  static/images/real_user_monitoring/error_tracking/facets_panel.png
  static/images/real_user_monitoring/error_tracking/issue_panel.png
  static/images/real_user_monitoring/error_tracking/issue_summary.png
Labels: Images

#19266 [Serverless] Fix .NET logo
  layouts/partials/serverless/serverless-apm-recommendations.html
Labels: Architecture, serverless

#19273 Add Oracle setup tiles to DBM > Getting Started
  content/en/database_monitoring/_index.md
  layouts/partials/dbm/dbm-setup-oracle.html
Labels: Architecture

#19271 Fix .NET logo, redux
  layouts/partials/apm/apm-opentracing.html
  layouts/partials/data_streams/setup-languages.html
  layouts/partials/logs/logs-languages.html
  layouts/partials/serverless/getting-started-languages.html
  static/images/integrations_logos/dotnet_text.png
Labels: Architecture, Images

#19239 Add Google Cloud Storage directions for Reference Tables
  content/en/integrations/guide/reference-tables.md
  static/images/integrations/guide/reference-tables/gcp_principal_storageObjectViewer.png
  static/images/integrations/guide/reference-tables/gcp_upload_import_ui.png
Labels: Images, Guide

#19029 Update Go startup logs
  content/en/tracing/troubleshooting/tracer_startup_logs.md
Labels: Do Not Merge, tracing

#19196 [DOCS-5974] CI Visibility Add code coverage guide
  content/en/continuous_integration/guides/_index.md
  content/en/continuous_integration/guides/code_coverage.md
  content/en/continuous_integration/tests/dotnet.md
  content/en/continuous_integration/tests/javascript.md
  content/en/continuous_integration/tests/junit_upload.md
  static/images/continuous_integration/code_coverage_export_to.png
  static/images/continuous_integration/code_coverage_monitor.png
  static/images/continuous_integration/code_coverage_tab.png
Labels: editorial review, Images

#19207 Update screenshots
  content/en/tracing/error_tracking/explorer.md
  static/images/tracing/error_tracking/error_sample.png
  static/images/tracing/error_tracking/explorer_with_backend_issues.png
  static/images/tracing/error_tracking/facets_panel.png
  static/images/tracing/error_tracking/flamegraph_with_errors.png
  static/images/tracing/error_tracking/inline_code_snippet.png
  static/images/tracing/error_tracking/issue_panel.png
Labels: editorial review, Images

#19280 Bump datadog-lambda-python layer to version 78
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#19281 Update CSM product names
  content/en/security/infrastructure_vulnerabilities/setup.md
Labels: security

#19278 Add CSM blog post link
  content/en/security/identity_risks/_index.md
  content/en/security/infrastructure_vulnerabilities/_index.md
Labels: security

#19246 Update failure notifications
  .gitlab-ci.yml
Labels: Do Not Merge

#19291 Bump datadog-lambda-js layer to version 96
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#19301 Search result title and content snippet mark element rollback
  assets/scripts/components/algolia/getHitData.js
  assets/scripts/components/algolia/searchbarHits.js
  assets/scripts/components/algolia/searchpageHits.js
Labels: Architecture

#19303 Bump datadog-lambda-rb layer to version 20
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#19305 Fix host setup instructions for CSM Vulnerabilities
  content/en/security/infrastructure_vulnerabilities/setup.md
Labels: security

#19149 [wip] update orchestrator explorer doc
  content/en/infrastructure/containers/orchestrator_explorer.md
  static/images/infrastructure/livecontainers/orch_ex_resource_utilization.png
  static/images/infrastructure/livecontainers/orch_ex_resource_utilization_sorted_column.png
Labels: editorial review, Images

#19168 Extensible RUM events for data retention
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

#19232 DOCS-5844: CSM directories and aliases
  .gitignore
  config/_default/menus/menus.en.yaml
  content/en/account_management/teams.md
  content/en/agent/remote_config/_index.md
  content/en/dashboards/guide/quick-graphs.md
  content/en/getting_started/cloud_security_management/_index.md
  content/en/getting_started/integrations/aws.md
  content/en/glossary/terms/security_posture_score.md
  content/en/integrations/guide/aws-manual-setup.md
  content/en/integrations/guide/aws-organizations-setup.md
  content/en/integrations/guide/azure-architecture-and-configuration.md
  content/en/integrations/guide/azure-portal.md
  content/en/network_monitoring/performance/network_analytics.md
  content/en/security/_index.md
  content/en/security/cloud_security_management/_index.md
  content/en/security/cloud_security_management/guide/custom-rules-guidelines.md
  content/en/security/cloud_security_management/guide/public-accessibility-logic.md
  content/en/security/cloud_security_management/guide/writing_rego_rules.md
  content/en/security/default_rules/_index.md
  content/en/security/detection_rules/_index.md
  content/en/security/infrastructure_vulnerabilities/setup.md
  content/en/security/misconfigurations/_index.md
  content/en/security/misconfigurations/compliance_rules.md
  content/en/security/misconfigurations/custom_rules/_index.md
  content/en/security/misconfigurations/custom_rules/schema.md
  content/en/security/misconfigurations/findings.md
  content/en/security/misconfigurations/frameworks_and_benchmarks.md
  content/en/security/misconfigurations/resource_catalog.md
  content/en/security/misconfigurations/setup.md
  content/en/security/misconfigurations/signals_explorer.md
  content/en/security/threats/_index.md
  content/en/security/threats/runtime_anomaly_detection.md
  content/en/security/threats/security_profiles.md
  content/en/security/threats/setup.md
  content/en/security/threats/workload_security_rules.md
  layouts/schema/single.html
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, editorial review, security, Guide

#18985 Improve mobile logs documentation
  config/_default/menus/menus.en.yaml
  content/en/account_management/api-app-keys.md
  content/en/logs/log_collection/reactnative.md
Labels: Architecture, editorial review

#19312 Refactor the Watchdog monitor page
  content/en/monitors/types/watchdog.md
  static/images/monitors/monitor_types/watchdog/watchdog-monitor-apm.png
  static/images/monitors/monitor_types/watchdog/watchdog-monitor-infra.png
Labels: Images

#19251 [ACCESS-1829] Have docs reflect `standard` deprecation
  content/en/account_management/rbac/permissions.md
Labels: aaa-access

#19327 [DOCS-6033] Add single step APM to nav menu.
  config/_default/menus/menus.en.yaml
Labels: Architecture

#19322 Restores search result title and content highlight updates
  assets/scripts/components/algolia/getHitData.js
  assets/scripts/components/algolia/searchbarHits.js
  assets/scripts/components/algolia/searchpageHits.js
Labels: Architecture

#19308 [STAT] update static analysis rules documentation
  content/en/continuous_integration/static_analysis/rules/_index.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#19288 Update azure_app_services_container.md
  content/en/serverless/azure_app_services/azure_app_services_container.md
Labels: editorial review

#19213 add 'Copy' btn to all code examples
  assets/scripts/components/async-loading.js
  assets/scripts/components/copy-code.js
  assets/styles/pages/_global.scss
  layouts/partials/api/code-example.html
  layouts/partials/api/request-body.html
  layouts/partials/api/response.html
  layouts/reference/single.html
Labels: Architecture

#19343 Update Metrics Explorer screenshot
  content/en/getting_started/tagging/using_tags.md
  static/images/tagging/using_tags/metrics_explorer.png
Labels: Images

#19311 Clarify self hosted and private urls for providers and add gitlab integration
  content/en/integrations/guide/source-code-integration.md
Labels: Guide

#19183 Update parameters in LaunchDarkly example
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
Labels: Guide

#19020 Add pytest-benchmark support to Python tracer docs
  content/en/continuous_integration/tests/python.md
Labels: continuous_integration, mergequeue-status: removed

#19274 (DOCS-5931) Add billable hosts note
  content/en/account_management/billing/google_cloud.md
  static/images/account_management/billing/google_cloud_metric_filter.png
Labels: Images

#19250 patch: added missing py runtime updates
  content/en/security/application_security/enabling/serverless.md
  content/en/serverless/installation/python.md
Labels: security, serverless, under_review

#19369 CSM Misconfigurations: Add resource evaluation frequency
  content/en/security/misconfigurations/_index.md
Labels: security

#19381 Update integration-assets-reference.md
  layouts/shortcodes/integration-assets-reference.md
Labels: Architecture

#19376 Add custom redirects for integrations
  config/_default/integration_redirects.yaml
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#19382 Fix broken link in CSM Vulnerabilities docs
  content/en/security/infrastructure_vulnerabilities/setup.md
Labels: security

#19368 Update Cluster Agent Flare Command
  content/en/agent/troubleshooting/send_a_flare.md
Labels: under_review

#19383 Bryce/add dns images folder
  content/en/network_monitoring/dns/_index.md
  static/images/network_performance_monitoring/dns_monitoring/dns_client_search.png
  static/images/network_performance_monitoring/dns_monitoring/dns_default.png
  static/images/network_performance_monitoring/dns_monitoring/dns_overview.png
  static/images/network_performance_monitoring/dns_monitoring/dns_query_example.png
  static/images/network_performance_monitoring/dns_monitoring/dns_query_screenshot.png
  static/images/network_performance_monitoring/dns_monitoring/dns_sidepanel.png
  static/images/network_performance_monitoring/dns_monitoring/recommended_queries_dns.png
Labels: Images

#19384 Add new notification feature for inboxes
  content/en/service_management/case_management/_index.md
  static/images/service_management/case_management/inbox_config.png
Labels: Images

#19389 Enable merge freeze
  .github/workflows/code-freeze.yml
Labels: Github

#19392 Remove merge freeze
  .github/workflows/code-freeze.yml
Labels: Github

#19390 (maint) Escape special characters in orphan script
  local/bin/py/translations/orphaned_translations.py
Labels: Architecture

#19391 [WIP] Refactoring of the Watchdog insight page (Yassine's version)
  content/en/watchdog/insights.md
  static/images/tracing/trace_explorer/watchdog_insights/error_outlier_s_card.png
  static/images/tracing/trace_explorer/watchdog_insights/error_outlier_side_panel.png
  static/images/tracing/trace_explorer/watchdog_insights/latency_outlier_side_panel.png
  static/images/tracing/trace_explorer/watchdog_insights/latency_outliers_s_card.png
Labels: Images

#19345 Reorganize Test Visibility Java documentation
  content/en/continuous_integration/tests/java.md
  content/en/continuous_integration/tests/javascript.md
  content/en/continuous_integration/tests/junit_upload.md
  content/en/continuous_integration/tests/python.md
  content/en/continuous_integration/tests/ruby.md
  content/en/continuous_integration/tests/swift.md
  content/ja/continuous_integration/tests/dotnet.md
  content/ja/continuous_integration/tests/java.md
  content/ja/continuous_integration/tests/javascript.md
  layouts/shortcodes/ci-git-metadata.md
Labels: Architecture

#19386 captures position of clicked search result
  assets/scripts/components/algolia.js
Labels: Architecture

#19399 [DOCS-6065] Service representation migration info
  content/en/tracing/guide/inferred-service-opt-in.md
Labels: Guide

#19404 [DOCS-6014] Screenshot - Hide Custom Variable Values for Webhooks
  static/images/integrations/webhooks/webhook_hidefromview.png
Labels: Images

#19359 (DOCS-5834) Redirects and link fixes
  content/en/account_management/org_settings.md
  content/en/dashboards/faq/_index.md
  content/en/developers/dogstatsd/_index.md
  content/en/getting_started/application_security/_index.md
  content/en/getting_started/learning_center.md
  content/en/getting_started/profiler/_index.md
  content/en/integrations/guide/events-from-sns-emails.md
  content/en/logs/_index.md
  content/en/monitors/_index.md
  content/en/observability_pipelines/architecture/_index.md
  content/en/observability_pipelines/production_deployment_overview.md
  content/en/partners/data-intake.md
  content/en/security/_index.md
  content/en/security/application_security/how-appsec-works.md
  content/en/security/cloud_siem/guide/monitor-authentication-logs-for-security-threats.md
  content/en/security/detection_rules/_index.md
  content/en/service_management/events/guides/_index.md
  content/en/service_management/workflows/access.md
  content/en/service_management/workflows/actions_catalog/_index.md
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
  content/en/tracing/trace_pipeline/metrics.md
  content/ja/monitors/_index.md
Labels: Guide, FAQ

#19364 Google Cloud reference table update
  content/en/integrations/guide/reference-tables.md
  static/images/integrations/guide/reference-tables/gcp_principal_storageObjectViewer.png
  static/images/integrations/guide/reference-tables/grant_access.png
Labels: Images, Guide

#19414 (DOCS-6076) Add SageMaker images
  static/images/integrations/amazon_sagemaker/sagemaker_endpoints.png
  static/images/integrations/amazon_sagemaker/sagemaker_jobs.png
Labels: Images

#19356 Integrate customer feedback into DBM Monitor page
  content/en/monitors/types/database_monitoring.md
  static/images/database_monitoring/dbm_event_monitor/explain_plan_cost_monitor.png
  static/images/database_monitoring/dbm_event_monitor/long_running_queries_monitor.png
  static/images/database_monitoring/dbm_event_monitor/waiting_queries_monitor.png
Labels: editorial review, Images

#19310 Bump datadog-lambda-extension layer to version 47
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#19409 Added Deleted monitors section to monitor settings page
  content/en/monitors/settings/_index.md
  static/images/monitors/settings/recently_deleted.png
  static/images/monitors/settings/tag_policies.png
Labels: Images

#19425 Change Profiling Image to have more depth + remove ddtrace profile
  content/en/serverless/aws_lambda/profiling.md
  static/images/serverless/lambda/profiling_hero.jpeg
  static/images/serverless/lambda/profiling_hero.png
Labels: Images

#19255 content/en/tracing/trace_collection/library_config/go.md: partial flushing configuration
  content/en/tracing/trace_collection/library_config/go.md
Labels: mergequeue-status: removed

#19429 Revert "Add custom redirects for integrations (#19376)"
  config/_default/integration_redirects.yaml
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#19432 (maint) Fix small security rule redirect issue
  local/bin/py/build/actions/security_rules.py
Labels: Architecture

#19406 [DOCS-6067] Add beta info for OTel Connector for APM stats
  content/en/opentelemetry/guide/_index.md
  content/en/opentelemetry/guide/ingestion_sampling_with_opentelemetry.md
  content/en/opentelemetry/guide/switch_from_processor_to_connector.md
  content/en/tracing/guide/trace_ingestion_volume_control.md
Labels: Guide

#19361 added docs for compare screenshots in Synthetics
  content/en/synthetics/browser_tests/test_results.md
  static/images/synthetics/browser_tests/test_results/compare_screenshots.png
Labels: Images

#19437 Remove the com.datadoghq.internal bundle from the action catalog doc
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#19444 [WEB-3753] Update cookie banner script
  assets/scripts/cookie-banner.js
Labels: Architecture

#19446 (DOCS-6090) Fix links on Agent Network guide
  content/en/agent/guide/network.md
Labels: Guide

#19442 [DOCS-6084] Capitalize AWS CloudTrail
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
  content/en/security/cloud_security_management/guide/public-accessibility-logic.md
  content/en/security/cloud_siem/guide/how-to-setup-security-filters-using-cloud-siem-api.md
  content/en/security/misconfigurations/frameworks_and_benchmarks.md
Labels: Guide

#19434 Typo on New Datadog Connector Page
  content/en/opentelemetry/guide/switch_from_processor_to_connector.md
Labels: Guide

#19453 Update dual-shipping docs for orchestrator to include helm instuctions
  content/en/agent/guide/dual-shipping.md
Labels: Guide

#19344 Update environment-variables
  content/en/agent/guide/environment-variables.md
  content/es/agent/guide/environment-variables.md
  content/fr/agent/guide/environment-variables.md
  content/ja/agent/guide/environment-variables.md
Labels: Guide

#19462 Fix secret documentation broken link
  content/en/agent/guide/secrets-management.md
Labels: Guide

#19410 [ci-visibility] Improve instructions for Intelligent test runner for Javascript
  content/en/continuous_integration/intelligent_test_runner/javascript.md
  layouts/shortcodes/ci-itr-agent.md
  layouts/shortcodes/ci-itr-agentless.md
Labels: Architecture, editorial review

#19466 usm: Added information about USM metrics retention
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

#19443 RUM-926: Update the limit for Android mapping file uploads to 300 MB
  content/en/real_user_monitoring/error_tracking/android.md
  content/en/real_user_monitoring/error_tracking/reactnative.md
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
Labels: Guide

#19148 DOCS-5949 Saved Views Documentation
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/explorer/saved_views.md
  static/images/continuous_integration/saved-view-pipelines-executions.png
  static/images/continuous_integration/saved-view-test-runs.png
Labels: Architecture, editorial review, Images

#19306 no nginx-opentracing
  content/en/tracing/trace_collection/proxy_setup/_index.md
Labels: editorial review

#19245 CI Visibility: document Intelligent Test Runner for pytest
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/intelligent_test_runner/_index.md
  content/en/continuous_integration/intelligent_test_runner/java.md
  content/en/continuous_integration/intelligent_test_runner/javascript.md
  content/en/continuous_integration/intelligent_test_runner/python.md
  layouts/shortcodes/ci-itr-activation-instructions.md
  layouts/shortcodes/ci-itr-agent.md
  layouts/shortcodes/ci-itr-agentless.md
Labels: Architecture

#18692 Session Replay Extended Retention
  content/en/real_user_monitoring/session_replay/_index.md
  static/images/real_user_monitoring/session_replay/session-replay-extended-retention.png
Labels: Images

#19362 Refactoring of the Watchdog insight page
  content/en/watchdog/insights.md
  static/images/tracing/trace_explorer/watchdog_insights/error_outlier_s_card.png
  static/images/tracing/trace_explorer/watchdog_insights/error_outlier_side_panel.png
  static/images/tracing/trace_explorer/watchdog_insights/latency_outlier_side_panel.png
  static/images/tracing/trace_explorer/watchdog_insights/latency_outliers_s_card.png
  static/images/watchdog/filter_on_insight.png
  static/images/watchdog/overlay_database_insight.png
  static/images/watchdog/overlay_serverless_insight.png
  static/images/watchdog/side_panel_dbm_insights.png
  static/images/watchdog/side_panel_processes_cpu.png
  static/images/watchdog/side_panel_processes_cpu_details.png
  static/images/watchdog/side_panel_profiling_garbage_collection.png
  static/images/watchdog/side_panel_profiling_lock_pressure.png
  static/images/watchdog/side_panel_profiling_regex_compilation.png
  static/images/watchdog/side_panel_serverless_facet_insights.png
  static/images/watchdog/small_card_processes_cpu.png
  static/images/watchdog/small_card_profiling_garbage_collection.png
  static/images/watchdog/small_card_profiling_lock_pressure.png
  static/images/watchdog/small_card_profiling_regex_compilation.png
Labels: editorial review, Images

#19455 (DOCS-6094) Don't build markdown for dev integrations
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#19501 Lift freeze
  .github/workflows/code-freeze.yml
Labels: Github

#19483 Separate documentation for Elasticsearch config
  content/en/tracing/trace_collection/library_config/java.md
Labels: tracing

#19188 CoTerm
  content/en/coscreen/_index.md
  static/images/coscreen/coterm.png
  static/images/coscreen/coterm_dialog.png
  static/images/coscreen/share_terminal.png
Labels: Images

#19431 Add doc guide for IAM authentication in the postgres agent
  content/en/database_monitoring/connect_dbm_and_apm.md
  content/en/database_monitoring/guide/_index.md
  content/en/database_monitoring/guide/managed_authentication.md
  content/en/database_monitoring/guide/tag_database_statements.md
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/rds.md
Labels: editorial review, Guide

#19502 remove duplicate code example ("Advanced") - [WEB-3933]
  assets/styles/pages/_reference.scss
  layouts/reference/single.html
Labels: Architecture

#19512 Small Tweaks for Static Analysis
  content/en/continuous_integration/static_analysis/_index.md
  static/images/ci/static-analysis-fixes.png
Labels: Images

#19253 Add new docs on Flex Logs
  content/en/logs/log_configuration/flex_log.md
  static/images/logs/log_configuration/flex_logging/flex_configuration.png
  static/images/logs/log_configuration/flex_logging/flex_toggle_search.png
Labels: editorial review, Images

#19477 (DOCS-6098) Update GitHub event screenshot
  static/images/integrations/github/git_integration_screen.png
Labels: Images

#19514 clarification on parent domain behavior
  content/en/agent/guide/windows-agent-ddagent-user.md
Labels: Guide

#19518 Updating Service Map Documentation Images
  content/en/tracing/services/services_map.md
  static/images/tracing/visualization/services_map/service_map_inspect_menu_2.png
  static/images/tracing/visualization/services_map/service_map_overview_3.png
Labels: Images

#19522 Document config_providers
  content/en/containers/docker/_index.md
  content/en/containers/guide/kubernetes_daemonset.md
  content/en/containers/kubernetes/configuration.md
Labels: Guide

#19527 update ootb rules pg - [WEB-3923]
  layouts/security_rules/list.html
  local/bin/py/build/actions/security_rules.py
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, Do Not Merge

#19193 New browser RUM guide for Electron JS apps
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/monitor-electron-applications-using-browser-sdk.md
  static/images/real_user_monitoring/guide/monitor-electron-applications-using-browser-sdk/diagram_electron-js-browser-rum.png
Labels: Images, Guide

#19533 cache enabled
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#19521 Tracing: Update Ruby trace_id generation range
  content/en/tracing/guide/span_and_trace_id_format.md
Labels: Guide

#19526 Correct name of option in mapping Prometheus metrics guide
  content/en/integrations/guide/prometheus-metrics.md
Labels: Guide

#19412 [SCI] Links can be from all git providers
  content/en/integrations/guide/source-code-integration.md
Labels: Guide

#19547 remove js
  content/en/real_user_monitoring/guide/monitor-electron-applications-using-browser-sdk.md
Labels: Guide

#19550 Update posture score definition
  content/en/glossary/terms/security_posture_score.md
Labels: security

#18584 Add an example of required custom instrumentation for PHP AMQP
  content/en/tracing/trace_collection/trace_context_propagation/php.md
Labels: tracing

#18509 Add new PHP tracer environment variables' documentation
  content/en/tracing/trace_collection/library_config/php.md
Labels: tracing

#19564 Add DD_HTTP_SERVER_ROUTE_BASED_NAMING documentation
  content/en/tracing/trace_collection/library_config/php.md
Labels: tracing

#19558 Update process config enablement example
  content/en/agent/guide/environment-variables.md
Labels: Guide

#19565 Add icons/links for alma/rocky linux (centos clones)
  config/_default/menus/menus.en.yaml
  content/en/agent/basic_agent_usage/centos.md
  data/partials/platforms.yaml
  static/images/icons/platform_almalinux.png
  static/images/icons/platform_rockylinux.png
Labels: Architecture, Images, agent

#19588 Bump datadog-lambda-python layer to version 79
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#19569 Add a video and overview to the infrastructure landing page
  content/en/infrastructure/_index.md
  static/images/infrastructure/Hostmap-compressed.mp4
Labels: Images

#19585 Update dashboards header screen shots
  content/en/dashboards/_index.md
  static/images/dashboards/high-density-mode.png
  static/images/dashboards/suggested_dashboards.png
Labels: Images

#19586 Add Workflow Automation data to the data retention table
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide
