Repository DataDog/documentation, pull requests merged in 2023-04, with the labels that each got.

#17463 [AWSC] Update AWS Services Logs guide to add Verified Access
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: Guide

#17531 Fix issue with request example
  content/en/logs/guide/access-your-log-data-programmatically.md
Labels: Guide

#17469 ✨[RUMF-1500] browser-sdk: use new CDN files
  content/en/logs/log_collection/javascript.md
  content/en/real_user_monitoring/browser/_index.md
  content/en/real_user_monitoring/guide/devtools-tips.md
Labels: editorial review, Guide

#17536 as_count/aggregation cleanup
  content/en/monitors/guide/as-count-in-monitor-evaluations.md
Labels: Guide

#17453 Document USM with datadog-operator
  content/en/universal_service_monitoring/_index.md
Labels: Do Not Merge

#17472 Add Operator to Cluster Check Runners doc
  content/en/containers/guide/clustercheckrunners.md
Labels: Do Not Merge, Guide

#17166 Adding "Run now" text
  content/en/cloud_cost_management/_index.md
  static/images/cloud_cost/run_now.png
Labels: Images

#17512 default tab - [WEB-3378]
  assets/scripts/components/codetabs.js
Labels: Architecture

#17263 Added new feature info to heat maps
  content/en/dashboards/querying/_index.md
  content/en/dashboards/scheduled_reports.md
  content/en/dashboards/widgets/_index.md
  content/en/dashboards/widgets/distribution.md
  content/en/dashboards/widgets/heatmap.md
  content/en/getting_started/dashboards/_index.md
  content/en/getting_started/integrations/aws.md
  content/en/notebooks/_index.md
  static/images/dashboards/widgets/heat_map/heat_map.png
  static/images/dashboards/widgets/heat_map/heat_map_setup.png
  static/images/dashboards/widgets/heatmap/heatmap.png
Labels: Images

#17084 Add CWS security profiles
  config/_default/menus/menus.en.yaml
  content/en/security/cloud_workload_security/_index.md
  content/en/security/cloud_workload_security/security_profiles.md
  content/en/security/explorer.md
  static/images/security/cws/cws_detection_rules.png
  static/images/security/cws/cws_overview.png
  static/images/security/cws/cws_signals.png
  static/images/security/cws/security_profiles/security-profile.png
  static/images/security/cws/security_profiles/security-profiles-overview.png
  static/images/security/cws/security_profiles/signal-security-profile.png
  static/images/security/cws/security_profiles/suppression-suggestion.png
Labels: Architecture, WORK IN PROGRESS, Do Not Merge, Images, security

#17500 Update Security rule documentation import script
  local/bin/py/build/actions/security_rules.py
Labels: Architecture, editorial review

#17448 Add Webview tracking documentation for React Native
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/reactnative/web_view_tracking.md
  static/images/real_user_monitoring/react_native/reactnative_webview_session.png
Labels: Architecture, Images

#17505 Updating the feature flag docs for mobile set up
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
Labels: Guide

#17409 Update lib injection with lack of uWSGI support
  content/en/tracing/trace_collection/library_injection.md
Labels: tracing

#17559 DOCS-5184 Fix wording in step
  content/en/tracing/guide/configure_an_apdex_for_your_traces_with_datadog_apm.md
Labels: Guide

#17557 DOCS-5030: Replace curly quotes #5
  content/en/account_management/billing/usage_details.md
  content/en/account_management/org_settings/custom_landing.md
  content/en/account_management/saml/_index.md
  content/en/agent/basic_agent_usage/_index.md
  content/en/agent/basic_agent_usage/windows.md
  content/en/agent/faq/agent-downgrade-minor.md
  content/en/agent/faq/agent_v6_changes.md
  content/en/agent/faq/certificate_verify_failed-error.md
  content/en/agent/faq/how-datadog-agent-determines-the-hostname.md
  content/en/agent/guide/changing_container_registry.md
  content/en/agent/guide/heroku-ruby.md
  content/en/agent/guide/python-3.md
Labels: Guide, FAQ

#17558 DOCS-5190 update page title/nav
  config/_default/menus/menus.en.yaml
  content/en/tracing/service_catalog/service_definition_api.md
Labels: Architecture

#17545 DOCS-5130, DOCS-5170 Log Explorer Search Edits
  config/_default/menus/menus.en.yaml
  content/en/logs/explorer/_index.md
  content/en/logs/explorer/export.md
  content/en/logs/explorer/search.md
  content/en/logs/explorer/search_syntax.md
  content/en/logs/explorer/visualize.md
  content/en/tracing/trace_explorer/search.md
  static/images/logs/explorer/search_filter.png
Labels: Architecture, editorial review, Images

#17047 [DOCS-4940] chore(php): use `composer dump` to dump the autoload
  content/en/tracing/trace_collection/custom_instrumentation/php.md
Labels: under_review

#17573 Add to product taxonomy the logs_forwarding to logs family
  content/en/account_management/guide/hourly-usage-migration.md
Labels: Guide

#17579 updated-user-input
  content/en/real_user_monitoring/session_replay/privacy_options.md
  static/images/real_user_monitoring/session_replay/mask-user-input-v2.png
Labels: Images

#17540 Update APM/DBM docs with more features
  content/en/database_monitoring/guide/connect_dbm_and_apm.md
  static/images/database_monitoring/dbm_apm_active_connections_breakdown.png
  static/images/database_monitoring/dbm_filter_by_calling_service.png
  static/images/database_monitoring/explain_plans_in_traces.png
Labels: Images, Guide, database_monitoring

#17555 [WEB-3418]Brooklyne.finni/obs pipelines redir
  assets/scripts/components/mobile-nav.js
  assets/scripts/datadog-docs.js
Labels: Architecture

#17584 [WEB-3432] Update Code Tabs behavior
  assets/scripts/components/codetabs.js
Labels: Architecture

#17596 DOCS-5030: Replace curly quotes #7
  content/en/containers/kubernetes/apm.md
  content/en/continuous_integration/intelligent_test_runner/_index.md
  content/en/continuous_testing/_index.md
  content/en/dashboards/functions/arithmetic.md
  content/en/dashboards/functions/exclusion.md
  content/en/dashboards/guide/custom_time_frames.md
  content/en/dashboards/guide/how-to-use-terraform-to-restrict-dashboard-edit.md
  content/en/dashboards/guide/maintain-relevant-dashboards.md
  content/en/dashboards/guide/powerpacks-best-practices.md
  content/en/dashboards/scheduled_reports.md
  content/en/dashboards/widgets/monitor_summary.md
  content/en/dashboards/widgets/slo.md
  content/en/data_security/_index.md
  content/en/data_security/guide/tls_deprecation_1_2.md
  content/en/database_monitoring/_index.md
Labels: Guide

#17498 [Serverless] Add AWS CDK instructions to java installation page
  content/en/serverless/installation/java.md
Labels: serverless

#17599 [web-3431] fail and exit the build if link formatting fails for integrations
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#17542 small tweaks to get docs ready for an open beta
  content/en/database_monitoring/guide/connect_dbm_and_apm.md
Labels: Guide

#17604 Migrate support docs from FAQ to Guide section
  content/en/account_management/faq/access-your-support-ticket.md
  content/en/account_management/guide/_index.md
  content/en/account_management/guide/access-your-support-ticket.md
  static/images/account_management/guide/access_your_support_ticket/support_page.png
Labels: Images, Guide, FAQ

#16643 (DOCS-4304) Go tracing guides
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/tutorial-enable-go-aws-ecs-ec2.md
  content/en/tracing/guide/tutorial-enable-go-aws-ecs-fargate.md
  content/en/tracing/guide/tutorial-enable-go-containers.md
  content/en/tracing/guide/tutorial-enable-go-host.md
  static/images/tracing/guide/tutorials/privatemethod1.png
  static/images/tracing/guide/tutorials/tutorial-go-host-distributed.png
  static/images/tracing/guide/tutorials/tutorial-go-host-get-flame.png
  static/images/tracing/guide/tutorials/tutorial-go-host-post-flame.png
  static/images/tracing/guide/tutorials/tutorial-go-host-traces.png
Labels: editorial review, Images, Guide

#17546 Adding migration guide in the public documentation
  content/en/containers/guide/_index.md
  content/en/containers/guide/datadogoperator_migration.md
Labels: editorial review, Guide

#17603 Revamp article to monitor APM Usage
  content/en/account_management/billing/usage_monitor_apm.md
  static/images/account_management/billing/monitor_usage_apm.png
Labels: Images

#17565 clarify the usage of DD_APM_FEATURES=error_rare_sample_tracer_drop
  content/en/tracing/guide/ingestion_sampling_use_cases.md
Labels: Guide

#17608 Add illustration for org switching
  content/en/account_management/org_switching.md
  static/images/account_management/org_switching.png
Labels: Images

#17613 DOCS-5030: Replace curly quotes #8
  content/en/database_monitoring/architecture.md
  content/en/database_monitoring/guide/connect_dbm_and_apm.md
  content/en/database_monitoring/setup_sql_server/troubleshooting.md
  content/en/developers/authorization/oauth2_endpoints.md
  content/en/events/explorer/_index.md
  content/en/getting_started/agent/_index.md
  content/en/getting_started/application_security/_index.md
  content/en/getting_started/logs/_index.md
  content/en/getting_started/profiler/_index.md
  content/en/getting_started/serverless/_index.md
  content/en/getting_started/synthetics/api_test.md
  content/en/getting_started/synthetics/browser_test.md
  content/en/getting_started/synthetics/private_location.md
  content/en/glossary/terms/sla.md
  content/en/infrastructure/process.md
Labels: Guide

#17605 Update how_remote_config_works.md
  content/en/agent/guide/how_remote_config_works.md
Labels: Guide

#17621 [DOCS-5183] Update logs endpoint to V2
  content/en/logs/guide/sending-events-and-logs-to-datadog-with-amazon-eventbridge-api-destinations.md
Labels: Guide

#17622 [DOCS-4417] Update EKS logging instruction
  content/en/integrations/guide/amazon-eks-audit-logs.md
Labels: Guide

#17620 DOCS-5225 Managed Locations Partial Update
  layouts/shortcodes/managed-locations.md
Labels: Architecture

#17625 Update node.js tracer version required for apm/dbm 🔗
  content/en/database_monitoring/guide/connect_dbm_and_apm.md
Labels: Guide

#17635 Remove CSPM custom rules beta
  content/en/security/cspm/custom_rules/_index.md
  content/en/security/cspm/detection_rules.md
Labels: security

#17639 bump java version
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#17506 [DOCS-5072] Add Google Cloud Configuration Guide for Cloud SIEM
  content/en/getting_started/cloud_siem/_index.md
  content/en/security/cloud_siem/guide/_index.md
  content/en/security/cloud_siem/guide/google-cloud-config-guide-for-cloud-siem.md
Labels: WORK IN PROGRESS

#17626 Bump datadog-lambda-js layer to version 89
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#17630 [DOCS-3215] Add note and image about count unique parameter for log-based metrics
  content/en/logs/log_configuration/logs_to_metrics.md
  static/images/logs/processing/logs_to_metrics/count_unique.png
Labels: Images

#17646 Add AP1 site
  assets/scripts/config/regions.config.js
  config/_default/params.yaml
  content/en/agent/guide/how_remote_config_works.md
  content/en/agent/guide/network.md
  content/en/agent/guide/private-link.md
  content/en/continuous_integration/pipelines/custom_commands.md
  content/en/continuous_integration/pipelines/custom_tags_and_metrics.md
  content/en/continuous_integration/tests/python.md
  content/en/continuous_integration/tests/ruby.md
  content/en/continuous_testing/testing_tunnel.md
  content/en/data_security/logs.md
  content/en/data_security/synthetics.md
  content/en/data_streams/_index.md
  content/en/data_streams/dotnet.md
  content/en/data_streams/go.md
  content/en/data_streams/java.md
  content/en/developers/guide/dogwrap.md
  content/en/getting_started/site/_index.md
  content/en/integrations/guide/aws-manual-setup.md
  content/en/integrations/guide/aws-terraform-setup.md
  content/en/integrations/guide/error-datadog-not-authorized-sts-assume-role.md
  content/en/integrations/vmware_tanzu_application_service.md
  content/en/logs/log_collection/_index.md
  content/en/logs/log_collection/csharp.md
  content/en/logs/log_collection/java.md
  content/en/logs/log_collection/javascript.md
  content/en/logs/log_configuration/rehydrating.md
  content/en/monitors/guide/export-monitor-alerts-to-csv.md
  content/en/network_monitoring/performance/setup.md
  content/en/real_user_monitoring/browser/_index.md
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
  content/en/security/application_security/enabling/serverless.md
  content/en/serverless/aws_lambda/configuration.md
  content/en/serverless/guide/datadog_forwarder_java.md
  content/en/serverless/guide/datadog_forwarder_node.md
  content/en/serverless/guide/datadog_forwarder_python.md
  content/en/serverless/guide/serverless_package_too_large.md
  content/en/serverless/installation/dotnet.md
  content/en/serverless/installation/go.md
  content/en/serverless/installation/java.md
  content/en/serverless/installation/nodejs.md
  content/en/serverless/installation/python.md
  content/en/serverless/installation/ruby.md
  content/en/synthetics/private_locations/_index.md
  content/en/tracing/trace_collection/dd_libraries/dotnet-core.md
  content/en/tracing/trace_collection/dd_libraries/dotnet-framework.md
  content/en/tracing/trace_collection/dd_libraries/go.md
  content/en/tracing/trace_collection/dd_libraries/java.md
  content/en/tracing/trace_collection/dd_libraries/nodejs.md
  content/en/tracing/trace_collection/dd_libraries/php.md
  content/en/tracing/trace_collection/dd_libraries/python.md
  content/en/tracing/trace_explorer/facets.md
  content/en/tracing/trace_explorer/search.md
Labels: Architecture, Guide

#17644 Update minimum required agent version
  content/en/getting_started/cloud_security_management/_index.md
  content/en/security/cloud_workload_security/setup.md
Labels: security

#17643 Add security profiles diagram
  content/en/security/cloud_workload_security/security_profiles.md
  static/images/security/cws/security_profiles/security-profiles-diagram.png
Labels: Images, security

#17379 Create azure.md
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/pipelines/_index.md
  content/en/continuous_integration/pipelines/azure.md
Labels: Architecture, editorial review

#17563 React Native troubleshooting guide
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/reactnative/troubleshooting.md
  static/images/real_user_monitoring/react_native/troubleshooting-pidcat-logs.png
  static/images/real_user_monitoring/react_native/troubleshooting-xcode-logs.png
Labels: Architecture, Images

#17611 [RUMF-1519] browser sdk: consistent usage of window
  content/en/logs/log_collection/javascript.md
  content/en/real_user_monitoring/browser/_index.md
  content/en/real_user_monitoring/browser/collecting_browser_errors.md
  content/en/real_user_monitoring/browser/modifying_data_and_context.md
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
  content/en/real_user_monitoring/browser/tracking_user_actions.md
  content/en/real_user_monitoring/frustration_signals/_index.md
  content/en/real_user_monitoring/guide/proxy-rum-data.md
  content/en/real_user_monitoring/guide/send-rum-custom-actions.md
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
  content/en/real_user_monitoring/guide/setup-rum-deployment-tracking.md
  content/en/real_user_monitoring/session_replay/_index.md
Labels: Guide

#17373 Add documentation for running Gradle/Maven with DD Java tracer
  content/en/continuous_integration/tests/java.md
Labels: editorial review

#17624 DOCS-4813 Error Tracking for Backend Services, Error Tracking Explorer Edits
  content/en/tracing/error_tracking/_index.md
  content/en/tracing/error_tracking/explorer.md
  static/images/tracing/error_tracking/inline_code_snippet.png
  static/images/tracing/error_tracking/time_range.png
Labels: Images

#17657 Update feature flag tracking beta callouts
  content/en/real_user_monitoring/browser/data_collected.md
  content/en/real_user_monitoring/browser/modifying_data_and_context.md
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
  content/en/real_user_monitoring/browser/monitoring_resource_performance.md
  content/en/real_user_monitoring/feature_flag_tracking/_index.md
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
Labels: Guide

#17661 Bump datadog-lambda-js layer to version 90
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#17676 [web-3471] make corpweb required to approve changes inside assets folder
  .github/CODEOWNERS
Labels: Github

#17681 Revert "[DOCS-4912] Add site specific info for rsyslog"
  content/en/integrations/rsyslog.md
  layouts/_default/_markup/render-codeblock.html
Labels: Architecture

#17665 [DOCS-5239] APM docs for Remote instrumentation beta
  config/_default/menus/menus.en.yaml
  content/en/containers/cluster_agent/admission_controller.md
  content/en/containers/docker/apm.md
  content/en/containers/kubernetes/apm.md
  content/en/tracing/trace_collection/dd_libraries/dotnet-core.md
  content/en/tracing/trace_collection/dd_libraries/dotnet-framework.md
  content/en/tracing/trace_collection/dd_libraries/java.md
  content/en/tracing/trace_collection/dd_libraries/nodejs.md
  content/en/tracing/trace_collection/dd_libraries/python.md
  content/en/tracing/trace_collection/library_injection_local.md
  content/en/tracing/trace_collection/library_injection_remote.md
  static/images/tracing/trace_collection/remote-instrumentation-setup-page.png
Labels: Architecture, Images

#17683 Update Access your support ticket with AP1
  content/en/account_management/guide/access-your-support-ticket.md
Labels: Guide

#17682 Bump datadog-lambda-python layer to version 70
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#17583 DOCS-5064 ASM compatibility info
  config/_default/menus/menus.en.yaml
  content/en/getting_started/application_security/_index.md
  content/en/security/application_security/_index.md
  content/en/security/application_security/enabling/_index.md
  content/en/security/application_security/enabling/compatibility/_index.md
  content/en/security/application_security/enabling/compatibility/dotnet.md
  content/en/security/application_security/enabling/compatibility/go.md
  content/en/security/application_security/enabling/compatibility/java.md
  content/en/security/application_security/enabling/compatibility/nodejs.md
  content/en/security/application_security/enabling/compatibility/php.md
  content/en/security/application_security/enabling/compatibility/python.md
  content/en/security/application_security/enabling/compatibility/ruby.md
  content/en/security/application_security/enabling/compatibility/serverless.md
  content/en/security/application_security/enabling/dotnet.md
  content/en/security/application_security/enabling/go.md
  content/en/security/application_security/enabling/java.md
  content/en/security/application_security/enabling/nodejs.md
  content/en/security/application_security/enabling/php.md
  content/en/security/application_security/enabling/python.md
  content/en/security/application_security/enabling/ruby.md
  content/en/security/application_security/enabling/serverless.md
  content/en/security/application_security/how-appsec-works.md
  content/en/security/application_security/risk_management/_index.md
  content/en/security/application_security/threats/_index.md
  content/en/security/application_security/threats/add-user-info.md
  content/en/security/application_security/threats/library_configuration.md
  content/en/security/application_security/threats/protection.md
  content/en/security/application_security/threats/setup_and_configure.md
  content/en/security/application_security/troubleshooting.md
Labels: Architecture

#17688 removing hash conditional for onload nav functions
  assets/scripts/datadog-docs.js
Labels: Architecture

#15656 WEB-2855 - curl generate api example content encoding
  layouts/partials/api/code-example.html
  layouts/partials/api/curl.html
Labels: Architecture, WORK IN PROGRESS, salmon_curry

#17649 (DOCS-5149) Update instructions and screenshots
  content/en/integrations/guide/error-datadog-not-authorized-sts-assume-role.md
  static/images/integrations/guide/aws_error_sts_assume_role/new-aws-external-id.png
Labels: WORK IN PROGRESS, Images, Guide

#17701 Fix links
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: Guide

#17623 Update remaining docs for Operator v2alpha1 spec
  content/en/containers/cluster_agent/admission_controller.md
  content/en/containers/cluster_agent/setup.md
  content/en/containers/guide/cluster_agent_autoscaling_metrics.md
  content/en/containers/guide/clustercheckrunners.md
  content/en/containers/kubernetes/apm.md
  content/en/containers/kubernetes/configuration.md
  content/en/containers/kubernetes/log.md
Labels: Guide

#17705 fix mobile nav on api docs and main docs
  assets/scripts/components/algolia.js
  assets/styles/instantsearch/searchbar-mobile.scss
Labels: Architecture

#17702 Search relevancy updates
  content/en/account_management/billing/usage_attribution.md
  content/en/agent/guide/agent-commands.md
  content/en/agent/logs/advanced_log_collection.md
  content/en/agent/troubleshooting/send_a_flare.md
  content/en/containers/_index.md
  content/en/containers/cluster_agent/setup.md
  content/en/developers/write_agent_check.md
  content/en/integrations/_index.md
  content/en/logs/log_configuration/logs_to_metrics.md
  content/en/metrics/metrics-without-limits.md
  content/en/metrics/types.md
  content/en/opentelemetry/_index.md
  content/en/real_user_monitoring/connect_rum_and_traces/_index.md
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/real_user_monitoring/funnel_analysis/_index.md
  content/en/real_user_monitoring/guide/identify-bots-in-the-ui.md
  content/en/security/cspm/_index.md
  content/en/serverless/installation/python.md
  content/en/tracing/error_tracking/_index.md
  content/en/tracing/service_catalog/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/_index.md
  local/bin/js/algolia-index-sync.js
Labels: Architecture, Guide

#17709 SLO updates
  content/en/account_management/teams.md
  content/en/monitors/service_level_objectives/_index.md
  static/images/monitors/service_level_objectives/slo_group_by.png
Labels: Images

#17713 Fix partial issue
  content/en/real_user_monitoring/feature_flag_tracking/_index.md
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
  layouts/partials/rum/rum-feature-flag-tracking.html
Labels: Architecture, Guide

#17694 [CI Visibility] Add .NET manual api documentation
  content/en/continuous_integration/tests/dotnet.md
Labels: editorial review

#17237 Workflows GA
  content/en/workflows/_index.md
  content/en/workflows/access.md
  content/en/workflows/actions_catalog/_index.md
  content/en/workflows/build.md
  content/en/workflows/connections.md
  content/en/workflows/trigger.md
  local/etc/algolia/docs_datadoghq.json
Labels: Architecture, Do Not Merge

#17359 New page to document the IP allowlist
  config/_default/menus/menus.en.yaml
  content/en/account_management/org_settings/ip_allowlist.md
  static/images/account_management/org_settings/add_ip.png
  static/images/account_management/org_settings/ip_allowlist_list.png
Labels: Architecture, editorial review, Images, aaa-access

#17253 CWS Remote Configuration
  content/en/agent/guide/how_remote_config_works.md
  content/en/security/cloud_workload_security/_index.md
  content/en/security/cloud_workload_security/setup.md
  content/en/security/cloud_workload_security/workload_security_rules.md
Labels: security, Guide

#17722 Add files via upload
  content/en/real_user_monitoring/session_replay/privacy_options.md
  static/images/real_user_monitoring/session_replay/mask-mode-fixed.png
Labels: Images

#17717 WEB-3479 - cache headerscripts partial
  layouts/_default/404-baseof.html
  layouts/_default/baseof.html
  layouts/api/baseof.html
  layouts/index.html
Labels: Architecture

#17730 Update api messaging
  layouts/partials/api/curl.html
Labels: Architecture

#17678 (DOCS-4783) Workflows - input parameters
  content/en/workflows/build.md
  static/images/workflows/add-trigger-variable.mp4
  static/images/workflows/input-parameter.png
Labels: editorial review, Images

#17733 Fixed weird spacing issues on region select on api pages
  assets/styles/components/_language-region-select.scss
  layouts/partials/language-region-select.html
Labels: Architecture

#17728 Fix typo in Datadog Source Code Integration page
  content/en/integrations/guide/source-code-integration.md
Labels: Guide

#17734 Fix erroneous VRL code examples in OP "Custom Metrics Governance" guide
  content/en/observability_pipelines/guide/custom-metrics-governance.md
Labels: Guide

#17732 enhance API results in the search dropdown on API pages
  assets/scripts/components/algolia/getHitData.js
  assets/scripts/components/algolia/searchbarHits.js
  assets/scripts/helpers/helpers.js
Labels: Architecture

#17741 update dual shipping endpoints
  content/en/agent/guide/dual-shipping.md
Labels: Guide

#17430 WEB-3013 - automatic semantic color tag keys
  content/en/dashboards/guide/semantic_colors.md
  content/en/dashboards/guide/widget_colors.md
  layouts/shortcodes/semantic-color.md
  local/bin/py/build/actions/pull_and_push_file.py
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, Guide

#17597 Added info on Dashboard support for split graph
  content/en/dashboards/querying/_index.md
  static/images/dashboards/querying/split_graph_beta.png
Labels: Images

#17750 Lazy load vimeo player
  layouts/shortcodes/vimeo.html
Labels: Architecture

#17744 Bump datadog-lambda-python layer to version 71
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#17699 feat(otel): Update .NET OTEL page with setup instructions
  content/en/tracing/trace_collection/otel_instrumentation/dotnet.md
Labels: editorial review

#17753 (DOCS-5276) Clarify detected vs installed integrations
  content/en/getting_started/integrations/_index.md
  static/images/getting_started/integrations/ad_integrations_1.png
Labels: Images

#17761 Screenshot updates and minor wording changes
  content/en/continuous_integration/guides/developer_workflows.md
  content/en/continuous_integration/pipelines/azure.md
  content/en/continuous_integration/pipelines/buildkite.md
  content/en/continuous_integration/pipelines/circleci.md
  content/en/continuous_integration/pipelines/custom_commands.md
  content/en/continuous_integration/pipelines/custom_tags_and_metrics.md
  content/en/continuous_integration/pipelines/github.md
  content/en/continuous_integration/pipelines/gitlab.md
  content/en/continuous_integration/pipelines/jenkins.md
  content/en/continuous_integration/pipelines/teamcity.md
  static/images/ci/github_issues_commit_overview_updated.png
  static/images/ci/github_issues_flaky_test_updated.png
Labels: Images

#17757 deprecates code + gitlab jobs used in previous docs search
  .gitlab-ci.yml
  local/bin/py/algolia_index.py
  package.json
Labels: Architecture

#17758 Update algolia metadata
  content/en/agent/guide/auto_conf.md
  content/en/agent/guide/network.md
  content/en/containers/amazon_ecs/_index.md
  content/en/developers/guide/data-collection-resolution-retention.md
  content/en/tracing/service_catalog/service_definition_api.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, Guide

#17731 DOCS-4997: CSPM Google Cloud setup instructions
  content/en/security/cspm/setup.md
Labels: WORK IN PROGRESS, Do Not Merge, security

#17629 Documentation for GitHub Deployment Protection Rules
  content/en/continuous_integration/guides/_index.md
  content/en/continuous_integration/guides/github_gating.md
  static/images/ci/github_gates_existing_app.png
  static/images/ci/github_gates_new_app.png
Labels: editorial review, Images

#17771 CI Visibility: updating retentions.
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

#17770 [DOCS-5228] Remove MacOS from tab in log troubleshooting guide
  content/en/logs/guide/log-collection-troubleshooting-guide.md
Labels: Guide

#17695 Create CI Visibility Ingestion Control Guide
  content/en/continuous_integration/guides/_index.md
  content/en/continuous_integration/guides/ingestion_control.md
  static/images/ci/add-ci-exclusion-filter.png
  static/images/ci/exclusion-filter-delete.png
  static/images/ci/exclusion-filter-domain.png
  static/images/ci/exclusion-filter-edit.png
  static/images/ci/exclusion-filter-email.png
  static/images/ci/exclusion-filter-pipeline.png
  static/images/ci/exclusion-filter-repo.png
Labels: editorial review, Images

#17779 WEB-3501 - fix error when el non existant
  assets/scripts/components/async-loading.js
Labels: Architecture

#17797 fix translated search links
  assets/scripts/components/algolia/getHitData.js
Labels: Architecture

#17442 DOCS-4739: Network Detections
  content/en/network_monitoring/performance/network_page.md
  content/en/security/cloud_workload_security/_index.md
Labels: WORK IN PROGRESS, Do Not Merge, security

#17790 Update kubernetes_state_core.md
  content/en/integrations/kubernetes_state_core.md
Labels: containers

#17803 Remove beta notes from ASM Vuln. Management
  content/en/security/application_security/vulnerability_management/_index.md
Labels: security

#16384 azure app service updates
  config/_default/menus/menus.en.yaml
  content/en/serverless/azure_app_services/_index.md
  content/en/serverless/azure_app_services/azure_app_services_linux.md
  content/en/serverless/azure_app_services/azure_app_services_windows.md
  static/images/serverless/azure_app_service/app-service-logs.png
  static/images/serverless/azure_app_service/application-settings.jpg
  static/images/serverless/azure_app_service/startup-command-1.jpeg
  static/images/serverless/azure_app_service/startup-command.jpeg
  static/images/serverless/azure_app_service/storms-nodejs.jpg
Labels: Architecture, WORK IN PROGRESS, Images, salmon_curry

#17805 Application Vuln. Management beta notes
  content/en/security/application_security/vulnerability_management/_index.md
Labels: security

#17804 (DOCS-5277) Add doc for TLS cert changes
  content/en/data_security/guide/_index.md
  content/en/data_security/guide/tls_cert_chain_of_trust.md
Labels: Guide

#17813 Update Agent casing
  content/en/agent/faq/agent-downgrade-major.md
Labels: FAQ

#17755 DOCS-5256: Resource Catalog GA
  config/_default/menus/menus.en.yaml
  content/en/account_management/teams.md
  content/en/security/cspm/resource_catalog.md
  static/images/security/cspm/resource_catalog/resource_catalog2.png
Labels: Architecture, Images, security

#17518 [DOCS-4621] Instructions for using OTel API to send ddtrace data
  config/_default/menus/menus.en.yaml
  content/en/metrics/open_telemetry/otlp_metric_types.md
  content/en/opentelemetry/_index.md
  content/en/opentelemetry/otel_tracing.md
  content/en/tracing/guide/configuring-primary-operation.md
  content/en/tracing/trace_collection/compatibility/ruby.md
  content/en/tracing/trace_collection/custom_instrumentation/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/cpp.md
  content/en/tracing/trace_collection/custom_instrumentation/dotnet.md
  content/en/tracing/trace_collection/custom_instrumentation/go.md
  content/en/tracing/trace_collection/custom_instrumentation/java.md
  content/en/tracing/trace_collection/custom_instrumentation/nodejs.md
  content/en/tracing/trace_collection/custom_instrumentation/php.md
  content/en/tracing/trace_collection/custom_instrumentation/python.md
  content/en/tracing/trace_collection/custom_instrumentation/ruby.md
  content/en/tracing/trace_collection/dd_libraries/go.md
  content/en/tracing/trace_collection/dd_libraries/java.md
  content/en/tracing/trace_collection/dd_libraries/php.md
  content/en/tracing/trace_collection/dd_libraries/python.md
  content/en/tracing/trace_collection/library_config/cpp.md
  content/en/tracing/trace_collection/library_config/dotnet-core.md
  content/en/tracing/trace_collection/library_config/dotnet-framework.md
  content/en/tracing/trace_collection/library_config/go.md
  content/en/tracing/trace_collection/library_config/java.md
  content/en/tracing/trace_collection/library_config/nodejs.md
  content/en/tracing/trace_collection/library_config/php.md
  content/en/tracing/trace_collection/library_config/python.md
  content/en/tracing/trace_collection/library_config/ruby.md
  content/en/tracing/trace_collection/open_standards/_index.md
  content/en/tracing/trace_collection/opentracing/_index.md
  content/en/tracing/trace_collection/opentracing/dotnet.md
  content/en/tracing/trace_collection/opentracing/go.md
  content/en/tracing/trace_collection/opentracing/java.md
  content/en/tracing/trace_collection/opentracing/nodejs.md
  content/en/tracing/trace_collection/opentracing/php.md
  content/en/tracing/trace_collection/opentracing/python.md
  content/en/tracing/trace_collection/opentracing/ruby.md
  content/en/tracing/trace_collection/otel_instrumentation/_index.md
  content/en/tracing/trace_collection/otel_instrumentation/dotnet.md
  content/en/tracing/trace_collection/otel_instrumentation/java.md
  content/en/tracing/trace_collection/otel_instrumentation/python.md
  content/en/tracing/trace_collection/otel_instrumentation/ruby.md
  content/en/tracing/trace_collection/trace_context_propagation/_index.md
  content/en/tracing/trace_collection/trace_context_propagation/cpp.md
  content/en/tracing/trace_collection/trace_context_propagation/dotnet.md
  content/en/tracing/trace_collection/trace_context_propagation/go.md
  content/en/tracing/trace_collection/trace_context_propagation/java.md
  content/en/tracing/trace_collection/trace_context_propagation/nodejs.md
  content/en/tracing/trace_collection/trace_context_propagation/php.md
  content/en/tracing/trace_collection/trace_context_propagation/python.md
  content/en/tracing/trace_collection/trace_context_propagation/ruby.md
  layouts/partials/apm/apm-context-propagation.html
  layouts/partials/apm/apm-otel-instrumentation.html
  layouts/shortcodes/otel-custom-instrumentation.md
Labels: Architecture, Guide

#17809 Un-single-source Flutter RUM docs
  .github/CODEOWNERS
  .gitignore
  config/_default/menus/menus.en.yaml
  content/en/logs/log_collection/flutter.md
  content/en/real_user_monitoring/error_tracking/flutter.md
  content/en/real_user_monitoring/flutter/_index.md
  content/en/real_user_monitoring/flutter/advanced_configuration.md
  content/en/real_user_monitoring/flutter/data_collected.md
  content/en/real_user_monitoring/flutter/mobile_vitals.md
  content/en/real_user_monitoring/flutter/otel_support.md
  content/en/real_user_monitoring/flutter/setup.md
  content/en/real_user_monitoring/flutter/troubleshooting.md
  content/en/real_user_monitoring/flutter/web_view_tracking.md
  layouts/shortcodes/semantic-color.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, Github, real_user_monitoring

#17788 Un-single-source IOS RUM SDK docs
  .github/CODEOWNERS
  .gitignore
  content/en/logs/log_collection/ios.md
  content/en/real_user_monitoring/error_tracking/ios.md
  content/en/real_user_monitoring/ios/_index.md
  content/en/real_user_monitoring/ios/advanced_configuration.md
  content/en/real_user_monitoring/ios/crash_reporting.md
  content/en/real_user_monitoring/ios/data_collected.md
  content/en/real_user_monitoring/ios/mobile_vitals.md
  content/en/real_user_monitoring/ios/swiftui.md
  content/en/real_user_monitoring/ios/troubleshooting.md
  content/en/real_user_monitoring/ios/web_view_tracking.md
  content/en/tracing/trace_collection/dd_libraries/ios.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, Github

#17807 Leftover Android un-single sourced docs
  .github/CODEOWNERS
  .gitignore
  content/en/logs/log_collection/android.md
  content/en/real_user_monitoring/error_tracking/android.md
  content/en/tracing/trace_collection/dd_libraries/android.md
Labels: Github, real_user_monitoring

#17832 Cleanup codeowners and gitignore
  .github/CODEOWNERS
  .gitignore
Labels: Github

#17845 Remove android files from single-sourcing pipeline
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#17740 Added a new guide for the SLO data source
  content/en/dashboards/guide/_index.md
  content/en/dashboards/guide/slo_data_source.md
  content/en/dashboards/widgets/timeseries.md
  content/en/monitors/service_level_objectives/_index.md
  static/images/dashboards/guide/slo_data_type/slo_data_type.png
Labels: editorial review, Images, Guide

#17729 RUMM-3201 Add Roku documentation
  .github/CODEOWNERS
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/roku/_index.md
  content/en/real_user_monitoring/roku/advanced_configuration.md
  content/en/real_user_monitoring/roku/data_collected.md
  layouts/partials/rum/rum-getting-started.html
  static/images/integrations_logos/roku_large.svg
  static/images/real_user_monitoring/roku/roku-new-application.png
Labels: Architecture, Github, Images

#17399 Update Vale linter
  .github/styles/Datadog/americanspelling.yml
  .github/styles/Datadog/endash.yml
  .github/workflows/linting.yml
Labels: editorial review, Github

#17825 Remove missing_metrics workflow
  .github/workflows/missing_metrics.yml
  local/bin/py/missing_metrics.py
Labels: Architecture, Github

#17840 Add application.name facet to documentation
  content/en/real_user_monitoring/android/data_collected.md
  content/en/real_user_monitoring/browser/data_collected.md
  content/en/real_user_monitoring/explorer/search.md
  content/en/real_user_monitoring/guide/compute-apdex-with-rum-data.md
  content/en/real_user_monitoring/guide/tracking-rum-usage-with-usage-attribution-tags.md
  content/en/real_user_monitoring/guide/understanding-the-rum-event-hierarchy.md
  content/en/real_user_monitoring/ios/data_collected.md
Labels: Guide

#17848 Update Announcement Banner for Appsec Report
  config/_default/params.en.yaml
Labels: Architecture

#17781 search rum action
  assets/scripts/components/algolia.js
  assets/scripts/components/algolia/searchpageHits.js
Labels: Architecture

#17865 Run Vale only on changed files
  .github/workflows/linting.yml
Labels: Github

#17828 [DOCS-5328] Add beta docs for Oracle
  content/en/database_monitoring/setup_oracle/_index.md
  content/en/database_monitoring/setup_oracle/selfhosted.md
  layouts/partials/dbm/dbm-setup-oracle.html
Labels: Architecture, editorial review

#17364 DOCS-5038 Source Code Integration Edits (Embedding Git Metadata)
  content/en/integrations/guide/source-code-integration.md
Labels: Guide

#17870 Node.js tracer is out of alpha for apm-dbm link
  content/en/database_monitoring/guide/connect_dbm_and_apm.md
Labels: Guide

#17854 Fix typo
  content/en/agent/guide/installing-the-agent-on-a-server-with-limited-internet-connectivity.md
Labels: Guide

#17811 APM > Configuration > .NET > Adding IIS environment variables
  content/en/tracing/trace_collection/dd_libraries/dotnet-core.md
  content/en/tracing/trace_collection/dd_libraries/dotnet-framework.md
  static/images/tracing/setup/dotnet/RegistryEditorCore.png
  static/images/tracing/setup/dotnet/RegistryEditorCoreIIS.png
  static/images/tracing/setup/dotnet/RegistryEditorFramework.png
  static/images/tracing/setup/dotnet/RegistryEditorFrameworkIIS.png
  static/images/tracing/setup/dotnet/RegistryEditorIIS.png
Labels: Images

#17873 DSM docs update
  config/_default/menus/menus.en.yaml
  content/en/data_streams/_index.md
  content/en/data_streams/dotnet.md
  content/en/data_streams/troubleshooting.md
  static/images/data_streams/data_streams_hero_feature.jpg
  static/images/data_streams/data_streams_infra.jpg
  static/images/data_streams/data_streams_monitor.jpg
  static/images/data_streams/data_streams_pathway.jpg
  static/images/data_streams/data_streams_throughput.jpg
Labels: Architecture, Images

#17883 Bump datadog-lambda-extension layer to version 42
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#17888 Downgrade java lambda layer version from v9 to v8.
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#17827 Update collect-heroku-logs.md
  content/en/logs/guide/collect-heroku-logs.md
Labels: editorial review

#17871 Tori.teng/log export updates
  content/en/logs/explorer/export.md
  static/images/logs/explorer/export2.png
  static/images/logs/explorer/save_logs_to_notebooks.png
Labels: Images

#17400 APM > Library Injection > Add .NET instructions
  content/en/tracing/trace_collection/library_injection_local.md
  content/en/tracing/troubleshooting/tracer_debug_logs.md
  content/en/tracing/troubleshooting/tracer_startup_logs.md
Labels: Do Not Merge

#17898 Fix list of scopable permissions
  layouts/partials/rbac-permissions-table.html
Labels: Architecture, aaa-access

#17902 typo fix
  content/en/real_user_monitoring/guide/connect-session-replay-to-your-third-party-tools.md
Labels: Guide

#17913 Bump datadog-lambda-python layer to version 72
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#17877 include both page title and section header in search results
  assets/scripts/components/algolia/getHitData.js
  assets/scripts/components/algolia/searchpageHits.js
Labels: Architecture

#17897 DOCS-4321 Add Go instructions for OTel inst
  config/_default/menus/menus.en.yaml
  content/en/tracing/trace_collection/otel_instrumentation/go.md
  layouts/partials/apm/apm-otel-instrumentation.html
Labels: Architecture

#17668 (DOCS-4990) Add Terraform access keys example
  content/en/integrations/guide/aws-terraform-setup.md
Labels: Guide

#17908 add service check to why-did-my-monitor-settings-change-not-take-effe…
  content/en/monitors/guide/why-did-my-monitor-settings-change-not-take-effect.md
Labels: Guide

#17915 Fix Java tracer library context propagation
  content/en/tracing/trace_collection/trace_context_propagation/java.md
Labels: tracing

#17939 Update application security sourcing
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#17938 move gov site part on Remote Config page
  content/en/agent/guide/how_remote_config_works.md
Labels: Do Not Merge, Guide

#17869 Tori.teng/log search bar docs update
  content/en/logs/explorer/search.md
  content/en/logs/explorer/search_syntax.md
  static/images/logs/explorer/search/log_autocomplete_saved_views.png
  static/images/logs/explorer/search/log_error_states.png
  static/images/logs/explorer/search/log_facet_autocomplete.png
  static/images/logs/explorer/search/log_raw_search_mode.png
  static/images/logs/explorer/search/log_recent_searches.png
  static/images/logs/explorer/search/log_syntax_highlighting.png
  static/images/logs/explorer/search/log_value_autocomplete.png
Labels: editorial review, Images
