Repository DataDog/documentation, pull requests merged in 2023-11, with the labels that each got.

#20406 [OTEL-1153] Remap service.name to service in OTel logs
  content/en/opentelemetry/otel_collector_datadog_exporter.md
Labels: logs, opentelemetry

#20239 DOCS-6371: CSM Threats signals explorer
  config/_default/menus/menus.en.yaml
  content/en/security/threats/_index.md
  content/en/security/threats/security_profiles.md
  content/en/security/threats/security_signals.md
  content/en/security/threats/workload_security_rules.md
  static/images/security/cws/csm_threats_signals.png
Labels: Architecture, Do Not Merge, editorial review, Images, security

#20103 [DOCS-6540] Breakup Cluster Agent Troubleshooting docs
  config/_default/menus/menus.en.yaml
  content/en/containers/cluster_agent/clusterchecks.md
  content/en/containers/cluster_agent/endpointschecks.md
  content/en/containers/cluster_agent/troubleshooting.md
  content/en/containers/troubleshooting/cluster-agent.md
  content/en/containers/troubleshooting/cluster-and-endpoint-checks.md
  content/en/containers/troubleshooting/hpa.md
Labels: Architecture, editorial review

#20428 [DOCS-6433] Remove traces and add beta for metrics in OP docs
  content/en/observability_pipelines/_index.md
  content/en/observability_pipelines/configurations.md
  content/en/observability_pipelines/guide/control_log_volume_and_size.md
  content/en/observability_pipelines/production_deployment_overview.md
Labels: Guide

#20227 [DOCS-6430] Update ASM Serverless compatibility matrix
  content/en/security/application_security/enabling/compatibility/serverless.md
  layouts/partials/security-platform/appsec-libraries-serverless.html
Labels: Architecture, security

#20209 [DOCS-6429] [ASM] Adding new platforms to ASM serverless docs
  content/en/security/application_security/enabling/serverless.md
  layouts/partials/security-platform/appsec-serverless.html
Labels: Architecture, editorial review, security

#20431 Bump ci memory
  .gitlab-ci.yml
  config/_default/config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#20439 build disable svg warnings
  layouts/partials/integrations-logo.html
Labels: Architecture

#20440 Update codeowners feature parity table
  content/en/continuous_integration/tests/_index.md
Labels: continuous_integration

#20427 dan.chiniara/Add dotted line to monitor status doc
  content/en/monitors/manage/status.md
  static/images/monitors/monitor_status/dotted-line.png
Labels: editorial review, Images

#20445 fix distorted images on integration carousels - [WEB-4203]
  assets/styles/components/_integrations.scss
Labels: Architecture

#20437 Update retention sampled traces
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

#20451 Rename UI Extensions
  .gitignore
  config/_default/menus/menus.en.yaml
  content/en/account_management/org_settings/oauth_apps.md
  content/en/developers/authorization/_index.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#20454 quickfix: add a linebreak
  content/en/integrations/guide/azure-graph-api-permissions.md
Labels: Guide

#20456 [CSM Vulnerabilities] renaming page and adding aliases
  config/_default/menus/menus.en.yaml
  content/en/security/vulnerabilities/_index.md
  content/en/security/vulnerabilities/setup.md
Labels: Architecture, security

#20465 Add NIST Cybersecurity Framework 1.1
  content/en/security/misconfigurations/frameworks_and_benchmarks.md
Labels: security

#20363 Remove unneeded checkout on review status job
  .github/workflows/approved_status.yml
Labels: Github

#20468 Add Step Function Visualization Documentation
  content/en/serverless/step_functions/_index.md
  content/en/serverless/step_functions/installation.md
  static/images/serverless/step_functions/overview1.png
  static/images/serverless/step_functions/overview2.png
  static/images/serverless/step_functions/stepfunctionfullview.png
Labels: Images

#20401 Reorganize event management pages
  config/_default/menus/menus.en.yaml
  content/en/glossary/terms/processing_pipeline_(Events).md
  content/en/service_management/events/_index.md
  content/en/service_management/events/explorer/_index.md
  content/en/service_management/events/guides/migrating_to_new_events_features.md
  content/en/service_management/events/ingest.md
  content/en/service_management/events/usage.md
  static/images/service_management/events/usage/event_overlays.png
  static/images/service_management/events/usage/events-dashboard.mp4
  static/images/service_management/events/usage/generate-metrics.png
Labels: Architecture, editorial review, Images

#20230 (DOCS-6425) Agent Supported Platforms
  config/_default/menus/menus.en.yaml
  content/en/agent/basic_agent_usage/_index.md
  content/en/agent/supported_platforms.md
Labels: Architecture, agent

#20475 Remove image on Downtimes doc
  content/en/monitors/downtimes/_index.md
  content/ja/monitors/downtimes/_index.md
Labels: monitors

#20483 pip cache
  .gitlab-ci.yml
  config/_default/config.yaml
  local/etc/requirements3.txt
Labels: Architecture

#20485 Add video for rollup function options
  content/en/dashboards/functions/rollup.md
  static/images/dashboards/functions/rollup/rollup_option.mp4
Labels: Images

#20487 Bump dd-trace-dotnet layer to version 11
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#20449 lambda refresh again
  config/_default/menus/menus.en.yaml
  content/en/serverless/aws_lambda/_index.md
  content/en/serverless/aws_lambda/configuration.md
  content/en/serverless/aws_lambda/deployment_tracking.md
  content/en/serverless/aws_lambda/distributed_tracing.md
  content/en/serverless/aws_lambda/installation/_index.md
  content/en/serverless/aws_lambda/installation/dotnet.md
  content/en/serverless/aws_lambda/installation/go.md
  content/en/serverless/aws_lambda/installation/java.md
  content/en/serverless/aws_lambda/installation/nodejs.md
  content/en/serverless/aws_lambda/installation/python.md
  content/en/serverless/aws_lambda/installation/ruby.md
  content/en/serverless/aws_lambda/logs.md
  content/en/serverless/aws_lambda/metrics.md
  content/en/serverless/aws_lambda/securing_functions.md
  content/en/serverless/aws_lambda/troubleshooting.md
Labels: Architecture, editorial review

#20490 search page break word
  assets/styles/instantsearch/search-page.scss
Labels: Architecture

#20492 Adding mention of Create Rule UI modal to Scorecards docs
  content/en/tracing/service_catalog/scorecards.md
  static/images/tracing/service_catalog/scorecard-create-rule-ui.png
Labels: Images

#20491 Bump dd-trace-dotnet layer to version 12
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#20503 Add files via upload
  content/en/metrics/advanced-filtering.md
  static/images/metrics/advanced-filtering/wildcard_infix.png
Labels: Images

#20510 update pyaml
  local/etc/requirements3.txt
Labels: Architecture

#20518 Bump extension layer to version 50
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#20521 Add AP1 to the proxy setup table
  content/en/real_user_monitoring/guide/proxy-rum-data.md
Labels: Guide

#20511 [DOCS-6465] Add Confluent Cloud image
  static/images/integrations/confluent_cloud/confluent_cloud_dashboard.png
Labels: Images

#20411 Document React Native SDK v2
  content/en/real_user_monitoring/guide/mobile-sdk-upgrade.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/reactnative.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/troubleshooting/reactnative.md
Labels: editorial review, Guide

#18200 Update explore-rum-through-synthetics.md
  content/en/synthetics/guide/explore-rum-through-synthetics.md
Labels: Guide

#20471 DOCS-6624: CSM Misconfigurations supported frameworks
  config/_default/menus/menus.en.yaml
  content/en/security/misconfigurations/frameworks_and_benchmarks.md
  content/en/security/misconfigurations/supported_frameworks.md
Labels: Architecture, editorial review, security

#20477 Updating serverless_tracing_and_bundlers.md documentation to AWS SDK v3 and fixing documentation
  content/en/serverless/guide/serverless_tracing_and_bundlers.md
Labels: under_review

#20493 guide for tracer agent host change
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/agent_tracer_hostnames.md
  static/images/tracing/guide/agent_tracer_hostnames/agent_host.png
  static/images/tracing/guide/agent_tracer_hostnames/remote_host.png
Labels: editorial review, Images, Guide

#20532 Minor update to Security Audit Trail article
  config/_default/menus/menus.en.yaml
  content/en/security/audit_trail.md
Labels: Architecture, security

#20430 Document DBM > Databases
  config/_default/menus/menus.en.yaml
  content/en/database_monitoring/_index.md
  content/en/database_monitoring/database_hosts.md
  static/images/database_monitoring/databases-list.png
  static/images/database_monitoring/db-list-active-connection-details.png
  static/images/database_monitoring/db-list-active-connections.png
  static/images/database_monitoring/db-list-blocking-queries.png
  static/images/database_monitoring/db-list-calling-services.png
  static/images/database_monitoring/db-list-configuration.png
  static/images/database_monitoring/db-list-details-panel.png
  static/images/database_monitoring/db-list-metrics.png
  static/images/database_monitoring/db-list-query-details.png
  static/images/database_monitoring/db-list-top-queries.png
Labels: Architecture, Do Not Merge, editorial review, Images

#20519 Add info on metric correlations support
  content/en/dashboards/correlations/_index.md
  static/images/dashboards/correlations/correlated_metric_source_details.png
  static/images/dashboards/correlations/correlations_tab.png
  static/images/dashboards/correlations/find_correlated_metrics.png
Labels: Images

#20412 Document upcoming changes for v2
  content/en/logs/log_collection/flutter.md
  content/en/real_user_monitoring/connect_rum_and_traces/_index.md
  content/en/real_user_monitoring/error_tracking/flutter.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/flutter.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/flutter.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/troubleshooting/flutter.md
Labels: editorial review

#20544 [SCI] Clarify git metadata upload usage
  content/en/integrations/guide/source-code-integration.md
Labels: Guide

#20529 [RUM-sdk][NextJs] Fixes SSR for NextJS13+
  content/en/real_user_monitoring/guide/monitor-your-nextjs-app-with-rum.md
Labels: Guide, mergequeue-status: removed

#20548 Swap windows installers json link to new one
  content/en/agent/basic_agent_usage/windows.md
  content/en/agent/faq/agent-downgrade-major.md
  content/en/agent/versions/upgrade_to_agent_v7.md
Labels: FAQ

#20558 Fix duplicate word
  content/en/real_user_monitoring/guide/setup-rum-deployment-tracking.md
Labels: Guide

#20554 Add private beta interest form for Lambda Bulk Instrumentation
  content/en/serverless/aws_lambda/installation/_index.md
  layouts/shortcodes/beta-callout-private.html
Labels: Architecture

#20348 parallelize `make dependencies` tasks for performance
  Makefile
  assets/scripts/workflow-process.js
  local/bin/py/placehold_translations.py
Labels: Architecture

#20494 Add info on adding HA support for HPA w/disclaimer
  content/en/agent/configuration/dual-shipping.md
  content/en/containers/guide/cluster_agent_autoscaling_metrics.md
Labels: Guide

#20545 docs: clarify OTLP supported version
  content/en/opentelemetry/otlp_ingest_in_the_agent.md
Labels: mergequeue-status: removed

#20463 DOCS-3472: Getting Started with DevSecOps
  config/_default/menus/menus.en.yaml
  content/en/getting_started/_index.md
  content/en/getting_started/devsecops/_index.md
Labels: Architecture, editorial review, getting_started

#20569 Add configuration by language - APM guide hostnames
  content/en/tracing/guide/agent_tracer_hostnames.md
Labels: Guide

#20567 Document Continuous Profiler source code preview feature
  content/en/integrations/guide/source-code-integration.md
  static/images/integrations/guide/source_code_integration/profiler-link-to-git.png
  static/images/integrations/guide/source_code_integration/profiler-source-code-preview.png
Labels: Images, Guide

#20578 Revert "Add option to view trends in tables (#19463)"
  content/en/dashboards/widgets/table.md
  static/images/dashboards/widgets/table/column_formatting.png
Labels: Images

#20582 Updating video on Service Catalog docs page
  content/en/tracing/service_catalog/_index.md
  static/images/tracing/service_catalog/service_catalog_updated.mp4
Labels: Images

#20580 Bump datadog-lambda-python layer to version 82
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#20540 hugo micro perf updates
  .gitlab-ci.yml
  config/_default/config.yaml
  layouts/_default/list.algolia.json
  layouts/partials/grouped-item-listings.html
  layouts/partials/header/header.html
  layouts/partials/nav/left-nav-api.html
  layouts/security_rules/single.html
  layouts/shortcodes/integrations.html
  layouts/standard-attributes/list.html
Labels: Architecture

#20600 Add a further reading between two docs pages
  content/en/dashboards/functions/interpolation.md
  content/en/metrics/guide/interpolation-the-fill-modifier-explained.md
Labels: Guide

#20601 Move Azure setup instructions to be a subpage of SCIM
  config/_default/menus/menus.en.yaml
  content/en/account_management/scim/_index.md
  content/en/account_management/scim/azure.md
Labels: Architecture

#20605 Rename Synthetics Guides
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/api_test_timing_variations.md
  content/en/synthetics/guide/app-that-requires-login.md
  content/en/synthetics/guide/authentication-protocols.md
  content/en/synthetics/guide/browser-tests-using-shadow-dom.md
  content/en/synthetics/guide/explore-rum-through-synthetics.md
  content/en/synthetics/guide/manually-adding-chrome-extension.md
  content/en/synthetics/guide/rum-to-synthetics.md
  content/en/synthetics/guide/using-synthetic-metrics.md
Labels: Guide

#20528 Document new dropped and truncated log metrics
  content/en/logs/guide/log-collection-troubleshooting-guide.md
  content/en/logs/troubleshooting/_index.md
Labels: Guide

#20426 DOCS-6516: CSM Jira integration
  content/en/security/cloud_security_management/guide/_index.md
  content/en/security/cloud_security_management/guide/jira.md
Labels: editorial review, security

#20621 add UI image of calendar aligned queries
  static/images/dashboards/functions/rollup/calendar_aligned_queries.png
Labels: Images

#20596 new scim doc for okta
  config/_default/menus/menus.en.yaml
  content/en/account_management/scim/_index.md
  content/en/account_management/scim/azure.md
  content/en/account_management/scim/okta.md
  static/images/account_management/scim/okta-admin-credentials.png
Labels: Architecture, editorial review, Images

#20501 (DOCS-6656) Apps intro
  content/en/service_management/app_builder/_index.md
  static/images/service_management/app_builder/app_builder2.png
Labels: WORK IN PROGRESS, Images

#19888 RUM-718 docs: update instructions to perform URLSession instrumentation
  content/en/real_user_monitoring/connect_rum_and_traces/_index.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/ios.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/ios.md
  content/en/tracing/trace_collection/dd_libraries/ios.md
Labels: editorial review

#20444 Update IDE Integration docs for IntelliJ to mention CI Test Runs
  content/en/developers/ide_integrations/idea/_index.md
  static/images/developers/ide_integrations/idea/ci-navigation.png
Labels: Images

#20637 Make documentation around IAM authentication clearer
  content/en/database_monitoring/guide/managed_authentication.md
  content/en/database_monitoring/setup_postgres/rds.md
Labels: Guide

#20642 [CWS-695] Remove RAD docs
  config/_default/menus/menus.en.yaml
  content/en/security/cloud_security_management/setup/csm_enterprise.md
  content/en/security/cloud_security_management/setup/csm_workload_security.md
  content/en/security/threats/runtime_anomaly_detection.md
Labels: Architecture, WORK IN PROGRESS

#20635 fix fetch headers collection
  content/en/real_user_monitoring/browser/advanced_configuration.md
  content/en/real_user_monitoring/guide/enrich-and-control-rum-data.md
  content/fr/real_user_monitoring/guide/enrich-and-control-rum-data.md
  content/ja/real_user_monitoring/guide/enrich-and-control-rum-data.md
Labels: Guide

#20649 update rollup function instruction video
  content/en/dashboards/functions/rollup.md
  static/images/dashboards/functions/rollup/rollup_option.mp4
  static/images/dashboards/functions/rollup/rollup_option_1.mp4
Labels: Images

#20640 Re-index english records for master pipelines; full re-indexing for nightly build only
  .gitlab-ci.yml
  local/bin/js/algolia-index-sync.js
Labels: Architecture

#20435 Add a simple Oracle troubleshooting guide
  config/_default/menus/menus.en.yaml
  content/en/database_monitoring/setup_oracle/troubleshooting.md
  content/en/database_monitoring/troubleshooting.md
Labels: Architecture, editorial review

#20467 (DOCS-6594) Fleet Automation
  config/_default/menus/menus.en.yaml
  content/en/agent/fleet_automation/_index.md
  static/images/agent/fleet_automation/fleet-automation-flare.png
  static/images/agent/fleet_automation/fleet-automation-view.png
  static/images/agent/fleet_automation/fleet-automation-yaml.png
Labels: Architecture, Images

#20538 Update RUM screenshots to show new top nav
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/dashboards/_index.md
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/real_user_monitoring/explorer/_index.md
  content/en/real_user_monitoring/explorer/export.md
  content/en/real_user_monitoring/explorer/saved_views.md
  content/en/real_user_monitoring/explorer/search.md
  content/en/real_user_monitoring/explorer/visualize.md
  content/en/real_user_monitoring/feature_flag_tracking/_index.md
  content/en/real_user_monitoring/funnel_analysis/_index.md
  static/images/real_user_monitoring/error_tracking/issue-panel-2.png
  static/images/real_user_monitoring/error_tracking/rum-error-tracking-2.png
  static/images/real_user_monitoring/explorer/analytics/funnels-tab.png
  static/images/real_user_monitoring/explorer/application-selector-2.png
  static/images/real_user_monitoring/explorer/create-facet-3.png
  static/images/real_user_monitoring/explorer/export/rum-explorer-export-5.png
  static/images/real_user_monitoring/explorer/group-unique-count-coded-values-3.png
  static/images/real_user_monitoring/explorer/rum-explorer-2.png
  static/images/real_user_monitoring/explorer/rum-facet-3.png
  static/images/real_user_monitoring/explorer/rum-saved-views-2.png
  static/images/real_user_monitoring/explorer/search/rum-explorer-search-4.png
  static/images/real_user_monitoring/explorer/visualize/distribution-2.png
  static/images/real_user_monitoring/explorer/visualize/geomap-2.png
  static/images/real_user_monitoring/explorer/visualize/nested-table-4.png
  static/images/real_user_monitoring/explorer/visualize/related-events-2.png
  static/images/real_user_monitoring/explorer/visualize/timeseries-2.png
  static/images/real_user_monitoring/explorer/visualize/top-list-2.png
  static/images/real_user_monitoring/feature_flag_tracking/feature-flag-list-2.png
  static/images/real_user_monitoring/rum-performance-summary-2.png
Labels: editorial review, Images

#20614 Min/Max Formula Doc Updates
  content/en/dashboards/querying/_index.md
  static/images/dashboards/querying/arithmetic_7.png
  static/images/dashboards/querying/minmax_logs_platform_example.png
  static/images/dashboards/querying/minmax_metrics_example.png
Labels: Images

#20645 Run Synthetic Tests from Private Locations Edit
  content/en/synthetics/private_locations/_index.md
  static/images/synthetics/private_locations/private_locations_worker.png
Labels: Images

#20650 Update TOC for new product name
  config/_default/menus/menus.en.yaml
Labels: Architecture

#20654 [DOCS-6593] Update log detection example image
  content/en/security/cloud_siem/log_detection_rules.md
  static/images/security/security_monitoring/detection_rules/set_rule_case4.png
Labels: Images

#20656 Leo.schramm/container banner
  config/_default/params.en.yaml
Labels: Architecture

#20515 Update trace context propagation documentation for Java tracer
  content/en/tracing/trace_collection/library_config/java.md
  content/en/tracing/trace_collection/trace_context_propagation/java.md
Labels: tracing

#20441 Update source code feature parity
  content/en/continuous_integration/tests/_index.md
Labels: continuous_integration

#20398 Create docs for AWS CodePipeline integration
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/pipelines/_index.md
  content/en/continuous_integration/pipelines/awscodepipeline.md
  layouts/partials/continuous_integration/ci-pipelines-getting-started.html
  static/images/integrations_logos/aws-codepipeline_small.svg
Labels: Architecture, Images

#20332 feat(ciapp): add unittest ITR support
  content/en/continuous_integration/intelligent_test_runner/setup/python.md
Labels: tracing

#20668 Add further reading header
  content/en/monitors/guide/troubleshooting-monitor-alerts.md
Labels: Guide

#20657 Remove workflow modal instructions
  content/en/service_management/workflows/build.md
  static/images/service_management/workflows/workflow-builder2.mp4
Labels: Images, workflows

#20641 [CWS-695] Remove security profiles documentation
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
  content/en/security/cloud_security_management/setup/csm_enterprise.md
  content/en/security/cloud_security_management/setup/csm_workload_security.md
  content/en/security/explorer.md
  content/en/security/threats/_index.md
  content/en/security/threats/runtime_anomaly_detection.md
  content/en/security/threats/security_profiles.md
  content/ja/security/cloud_workload_security/backend.md
  content/ja/security/cloud_workload_security/security_profiles.md
  content/ja/security/threats/_index.md
  content/ja/security/threats/security_profiles.md
Labels: Architecture, editorial review, security_monitoring

#20674 FAQ migration from dashboard to metrics
  content/en/metrics/guide/_index.md
  content/en/metrics/guide/what-is-the-granularity-of-my-graphs-am-i-seeing-raw-data-or-aggregates-on-my-graph.md
  content/en/metrics/guide/why-does-zooming-out-a-timeframe-also-smooth-out-my-graphs.md
  static/images/metrics/guide/graph_granularity.png
  static/images/metrics/guide/smooth_line.mp4
  static/images/metrics/guide/smoothing.mp4
Labels: Images, Guide

#20616 Update cost_details.md
  content/en/account_management/plan_and_usage/cost_details.md
  static/images/account_management/plan_and_usage/multi-org-estimated-projected-cost-summary.png
  static/images/account_management/plan_and_usage/sub-org-estimated-projected-cost-summary.png
Labels: Images

#20673 Fetch IA subdomain from SSM
  .gitlab-ci.yml
  assets/scripts/components/dd-browser-logs-rum.js
  config/_default/config.yaml
  layouts/partials/header-scripts.html
Labels: Architecture

#20638 CSM resource evaluation filters
  config/_default/menus/menus.en.yaml
  content/en/security/cloud_security_management/guide/_index.md
  content/en/security/cloud_security_management/guide/resource_evaluation_filters.md
  layouts/shortcodes/csm-setup-aws.md
  layouts/shortcodes/csm-setup-azure.md
  layouts/shortcodes/csm-setup-google-cloud.md
Labels: Architecture, editorial review, security

#20679 Remove CSM guide from left nav
  config/_default/menus/menus.en.yaml
Labels: Architecture, security

#20677 Update FA screenshots
  content/en/agent/fleet_automation/_index.md
  static/images/agent/fleet_automation/fleet-automation-agent.png
  static/images/agent/fleet_automation/fleet-automation-flare.png
  static/images/agent/fleet_automation/fleet-automation-flares.png
  static/images/agent/fleet_automation/fleet-automation-view.png
  static/images/agent/fleet_automation/fleet-automation-yaml.png
  static/images/agent/fleet_automation/fleet-automation.png
Labels: Images

#20681 Infrastructure Processes View Update
  content/en/infrastructure/process/_index.md
  static/images/infrastructure/process/fargate_ecs.png
Labels: Images

#20689 Delete AWS trusted advisor faq
  content/en/dashboards/faq/_index.md
  content/en/dashboards/faq/why-isn-t-my-aws-trusted-advisor-dashboard-showing-any-data.md
Labels: FAQ

#20684 Add documentation about database autodiscovery for the postgres agent
  layouts/shortcodes/dbm-postgres-agent-config-examples.md
Labels: Architecture

#20665 Fix bad merge for Flutter
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/flutter.md
Labels: editorial review

#19482 First draft for EKS addon installation guide
  content/en/containers/guide/_index.md
  content/en/containers/guide/operator-eks-addon.md
  content/en/containers/kubernetes/distributions.md
Labels: editorial review, Guide

#20698 [APPSEC-10990] Added audit logs for K9 reports
  layouts/shortcodes/audit-trail-security-platform.md
Labels: Architecture

#20663 Add doc for using OTel with PHP
  config/_default/menus/menus.en.yaml
  content/en/tracing/trace_collection/library_config/php.md
  content/en/tracing/trace_collection/otel_instrumentation/php.md
  layouts/partials/apm/apm-otel-instrumentation.html
Labels: Architecture, editorial review, tracing, opentelemetry

#20664 add timeline for PHP
  content/en/profiler/connect_traces_and_profiles.md
  content/en/profiler/profile_visualizations.md
Labels: editorial review

#20690 [WEB-4161] automate latest release version for `integrations-core` repo
  .github/workflows/bump_versions.yml
  data/sdk_versions.json
Labels: Github

#20591 [SEC-11068] Add Azure and GCP to PA Documentation
  content/en/security/cloud_security_management/guide/public-accessibility-logic.md
  static/images/security/cloud_security_management/guide/public_accessibility_relationships_aws.png
  static/images/security/cloud_security_management/guide/public_accessibility_relationships_azure.png
  static/images/security/cloud_security_management/guide/public_accessibility_relationships_gcp.png
Labels: editorial review, Images

#20608 DOCS-5877 Add DORA Metrics Documentation
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/dora_metrics/_index.md
Labels: Architecture, editorial review

#20710 Bump datadog-lambda-java to version 12.
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#20704 Add poetry command example to Python tutorial
  content/en/tracing/guide/tutorial-enable-python-host.md
Labels: Guide

#20724 Add a new Insight type to documentation.
  content/en/serverless/guide/serverless_warnings.md
Labels: Guide

#20514 get highest versioned stable action - [WEB-4206]
  local/bin/py/build/actions/workflows.py
Labels: Architecture, Do Not Merge

#20423 [DOCS-6574] New Resource Catalog page
  .gitignore
  config/_default/menus/menus.en.yaml
  content/en/infrastructure/resource_catalog/_index.md
  content/en/infrastructure/resource_catalog/schema.md
  content/en/security/cloud_security_management/_index.md
  content/en/security/misconfigurations/custom_rules.md
  layouts/schema/single.html
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  static/images/infrastructure/resource_catalog/resource_catalog_2.png
  static/images/infrastructure/resource_catalog/resource_catalog_infra.png
Labels: Architecture, WORK IN PROGRESS, Do Not Merge, Images, infrastructure

#20715 Update DBM Overview screenshots
  content/en/database_monitoring/_index.md
  static/images/database_monitoring/dbm-explain-plan-3.png
  static/images/database_monitoring/dbm-overview.png
  static/images/database_monitoring/dbm-query-metrics-2.png
  static/images/database_monitoring/dbm-query-sample-2.png
Labels: Images

#20738 Bump dd-trace-dotnet layer to version 13
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#20603 Create create-an-integration-detection-rule.md
  config/_default/menus/menus.en.yaml
  content/en/developers/integrations/create-an-integration-detection-rule.md
  static/images/developers/integrations/SIEM_detection_rule_bottom.png
  static/images/developers/integrations/SIEM_detection_rule_top.png
Labels: Architecture, Images, under_review

#20462 DOCS-6605: Security Inbox
  config/_default/menus/menus.en.yaml
  content/en/security/cloud_security_management/_index.md
  content/en/security/security_inbox.md
  static/images/security/csm/security_inbox_2.png
  static/images/security/security_inbox_3.png
Labels: Architecture, editorial review, Images, security

#20742 Bump datadog-lambda-extension layer to version 51
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#20320 [DOCS-6531] MwL Tag Exclusion Updates
  content/en/metrics/metrics-without-limits.md
  content/en/metrics/summary.md
  static/images/metrics/mwl-example-tag-exclusion-compressed.mp4
  static/images/metrics/mwl_example_include_tags-compressed.mp4
  static/images/metrics/summary/bulkconfig_new-compressed.mp4
  static/images/metrics/summary/bulkconfig_new.mp4
Labels: editorial review, Images

#20675 (DOCS-6667) Build apps
  content/en/service_management/app_builder/_index.md
  content/en/service_management/app_builder/build.md
  static/images/service_management/app_builder/app-builder-actions.png
  static/images/service_management/app_builder/app-builder-ai.png
  static/images/service_management/app_builder/app-builder-blueprints-1.png
  static/images/service_management/app_builder/app-builder-embedded-dashboard-1.png
  static/images/service_management/app_builder/app-builder-variable.mp4
  static/images/service_management/app_builder/app_builder2.png
  static/images/service_management/app_builder/app_builder_page.png
  static/images/service_management/app_builder/datadog-app-builder-1.png
Labels: Do Not Merge, Images

#20712 (DOCS-6669) Add embedded apps doc, images, and video
  config/_default/menus/menus.en.yaml
  content/en/service_management/app_builder/embedded_apps.md
  static/images/service_management/app_builder/embedded_apps/app_editor.png
  static/images/service_management/app_builder/embedded_apps/app_widget_select.png
  static/images/service_management/app_builder/embedded_apps/template_variables.mp4
Labels: Architecture, Images

#20709 Add App Builder Authorization page
  config/_default/menus/menus.en.yaml
  content/en/service_management/app_builder/auth.md
Labels: Architecture

#20748 Bump datadog-lambda-js layer to version 101
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#20730 Fleet automation: switch beta
  content/en/agent/fleet_automation/_index.md
Labels: Do Not Merge

#20749 Bump datadog-lambda-python layer to version 83
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#20753 Exit on missing rbac perms
  .gitlab-ci.yml
  layouts/shortcodes/permissions.html
  local/bin/py/build/content_manager.py
Labels: Architecture

#20731 DOCS-6573 Split out Service Catalog first page
  config/_default/menus/menus.en.yaml
  content/en/tracing/service_catalog/_index.md
  content/en/tracing/service_catalog/browsing.md
  content/en/tracing/service_catalog/investigating.md
  static/images/tracing/service_catalog/svc-cat-costs-view.png
  static/images/tracing/service_catalog/svc-cat-reliability.png
Labels: Architecture, Images

#20755 Fix typo
  config/_default/menus/menus.en.yaml
  content/en/developers/integrations/create-a-cloud-siem-detection-rule.md
Labels: Architecture

#19040 WEB-3722 - vrl functions and errors
  .gitlab-ci.yml
  Makefile
  assets/scripts/reference-process.js
  assets/styles/vendor/_chroma-styles.scss
  config/_default/menus/menus.en.yaml
  content/en/observability_pipelines/reference/processing_language/_index.md
  content/en/observability_pipelines/reference/processing_language/errors.md
  content/en/observability_pipelines/reference/processing_language/functions.md
  data/reference/errors.json
  data/reference/functions.json
  layouts/partials/nav/left-nav.html
  layouts/partials/table-of-contents/table-of-contents.html
  layouts/shortcodes/vrl-errors.html
  layouts/shortcodes/vrl-functions.html
Labels: Architecture

#20761 fixed dev environment check in permissions shortcode
  layouts/shortcodes/permissions.html
Labels: Architecture

#20760 Fix title
  content/en/observability_pipelines/guide/route_logs_in_datadog_rehydratable_format_to_Amazon_S3.md
Labels: Guide

#20744 DOCS-6701 OTel-to-DD metrics mapping guide
  content/en/opentelemetry/guide/_index.md
  content/en/opentelemetry/guide/metrics_mapping.md
  content/en/opentelemetry/guide/semantic_mapping.md
  content/en/opentelemetry/otel_metrics.md
  content/en/opentelemetry/runtime_metrics/_index.md
  static/images/opentelemetry/guide/metrics_mapping/mapping_process.png
Labels: Images, Guide

#20772 [APPSEC] Fix suggested getting-started script threshold
  content/en/getting_started/application_security/_index.md
  content/en/security/application_security/troubleshooting.md
  content/ja/getting_started/application_security/_index.md
  content/ja/security/application_security/troubleshooting.md
  content/ko/getting_started/application_security/_index.md
  layouts/shortcodes/appsec-getstarted-2-canary.md
  layouts/shortcodes/appsec-getstarted-2-plusrisk.md
  layouts/shortcodes/appsec-getstarted-2.md
Labels: Architecture

#20739 [DOCS-6753] Add OP quota transform doc
  content/en/observability_pipelines/guide/set_quotas_for_data_sent_to_a_destination.md
Labels: editorial review, Guide

#20767 Update some remaining references from SDK v1 to SDK v2 for Mobile SDKs
  content/en/real_user_monitoring/guide/monitor-kiosk-sessions-using-rum.md
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
  content/en/real_user_monitoring/guide/tracking-rum-usage-with-usage-attribution-tags.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/android.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/ios.md
Labels: Guide

#20774 Recommend removal of sensitive HTTP headers
  content/en/real_user_monitoring/guide/proxy-rum-data.md
Labels: Guide

#20716 [DOCS-6618] removing beta banner for serverless
  content/en/security/application_security/enabling/serverless.md
Labels: security

#20745 (DOCS-6596) App builder
  config/_default/menus/menus.en.yaml
  content/en/service_management/app_builder/_index.md
  content/en/service_management/app_builder/auth.md
  content/en/service_management/app_builder/build.md
  content/en/service_management/app_builder/embedded_apps.md
  static/images/service_management/app_builder/app-builder-actions.png
  static/images/service_management/app_builder/app-builder-ai.png
  static/images/service_management/app_builder/app-builder-blueprints-1.png
  static/images/service_management/app_builder/app-builder-embedded-dashboard-1.png
  static/images/service_management/app_builder/app-builder-variable.mp4
  static/images/service_management/app_builder/app_builder_page.png
  static/images/service_management/app_builder/datadog-app-builder-1.png
  static/images/service_management/app_builder/embedded_apps/app_editor.png
  static/images/service_management/app_builder/embedded_apps/app_widget_select.png
  static/images/service_management/app_builder/embedded_apps/template_variables.mp4
Labels: Architecture, Images

#20720 [RUM-2158] Document more flexible proxy URL
  content/en/real_user_monitoring/guide/proxy-rum-data.md
Labels: editorial review, Guide

#20588 E wachnowezki/ga dynamic instrumentation
  content/en/dynamic_instrumentation/_index.md
  content/en/dynamic_instrumentation/enabling/_index.md
  content/en/dynamic_instrumentation/enabling/dotnet.md
  content/en/dynamic_instrumentation/enabling/java.md
  content/en/dynamic_instrumentation/enabling/python.md
  content/en/dynamic_instrumentation/sensitive-data-scrubbing.md
Labels: editorial review

#20786 Small edits for quota doc
  content/en/observability_pipelines/guide/set_quotas_for_data_sent_to_a_destination.md
Labels: Guide

#20765 DOCS-6705 OTel/APM guide for custom instrumentation interop and trace context/IDs
  config/_default/menus/menus.en.yaml
  content/en/dynamic_instrumentation/_index.md
  content/en/opentelemetry/guide/_index.md
  content/en/opentelemetry/guide/otel_api_tracing_interoperability.md
  content/en/tracing/guide/_index.md
  content/en/tracing/trace_collection/library_config/php.md
  content/en/tracing/trace_collection/otel_instrumentation/_index.md
  content/en/tracing/trace_collection/otel_instrumentation/dotnet.md
  content/en/tracing/trace_collection/otel_instrumentation/go.md
  content/en/tracing/trace_collection/otel_instrumentation/java.md
  content/en/tracing/trace_collection/otel_instrumentation/nodejs.md
  content/en/tracing/trace_collection/otel_instrumentation/php.md
  content/en/tracing/trace_collection/otel_instrumentation/python.md
  content/en/tracing/trace_collection/otel_instrumentation/ruby.md
  content/en/tracing/trace_collection/trace_context_propagation/_index.md
  content/en/tracing/trace_collection/trace_context_propagation/cpp.md
  content/en/tracing/trace_collection/trace_context_propagation/dotnet.md
  content/en/tracing/trace_collection/trace_context_propagation/go.md
  content/en/tracing/trace_collection/trace_context_propagation/java.md
  content/en/tracing/trace_collection/trace_context_propagation/nodejs.md
  content/en/tracing/trace_collection/trace_context_propagation/php.md
  content/en/tracing/trace_collection/trace_context_propagation/python.md
  content/en/tracing/trace_collection/trace_context_propagation/ruby.md
  layouts/shortcodes/otel-custom-instrumentation.md
  static/images/opentelemetry/guide/otel_api_tracing_interop/128-62-bit-trace-ids.png
Labels: Architecture, Do Not Merge, Images, Guide

#20808 otel for lambda
  content/en/serverless/aws_lambda/configuration.md
  content/en/serverless/google_cloud_run/_index.md
  content/en/serverless/guide/_index.md
  content/en/serverless/guide/opentelemetry.md
Labels: Guide

#20818 Source Code Integration Edit
  content/en/integrations/guide/source-code-integration.md
Labels: Guide

#20804 Remove Otel tile from advanced configuration page
  layouts/partials/rum/rum-getting-started-mobile-advanced.html
Labels: Architecture

#20801 Update ASM protection page to use Threat Management
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.ja.yaml
  config/_default/menus/menus.ko.yaml
  content/en/security/application_security/_index.md
  content/en/security/application_security/enabling/serverless.md
  content/en/security/application_security/how-appsec-works.md
  content/en/security/application_security/terms.md
  content/en/security/application_security/threats/_index.md
  content/ja/security/application_security/_index.md
  content/ja/security/application_security/enabling/serverless.md
  content/ja/security/application_security/how-appsec-works.md
  content/ja/security/application_security/terms.md
  content/ja/security/application_security/threats/_index.md
Labels: Architecture

#20803 DOCS-6711 OpenTracing deprecation warning in custom instrumentation guide
  content/en/tracing/guide/instrument_custom_method.md
Labels: Guide

#20702 Updating documentation with datadog node runtime layer - removing node12 and adding node20
  content/en/serverless/aws_lambda/installation/nodejs.md
Labels: under_review

#20820 Update wording for Static Analysis IntelliJ Plugin
  content/en/continuous_integration/static_analysis/_index.md
  content/en/developers/ide_integrations/idea/_index.md
  static/images/developers/ide_integrations/idea/static-analysis-issue.png
Labels: Images

#20553 Calendar aligned timeframe feature
  content/en/dashboards/functions/timeshift.md
  content/en/dashboards/guide/custom_time_frames.md
  static/images/dashboards/functions/timeshift/calendar_shift_two_weeks.png
Labels: Images, Guide

#20829 [WEB-4229] Search results consolidation
  layouts/_default/list.algolia.json
  layouts/partials/algolia/api-page-index.json
  layouts/partials/algolia/page-sections.json
  local/bin/js/algolia-index-sync.js
Labels: Architecture

#20833 ASM threats screenshot update
  content/en/security/application_security/threats/_index.md
  static/images/security/application_security/threats/threats-on-svc-cat.png
  static/images/security/application_security/threats/threats-on-svc-cat_3.png
Labels: Images, security

#20634 Use otel context function and ignore non-recording spans.
  content/en/tracing/other_telemetry/connect_logs_and_traces/opentelemetry.md
Labels: under_review

#20835 [DOCS-6571] Add missing tiles to Log Collection
  layouts/partials/logs/logs-languages.html
Labels: Architecture
