Repository DataDog/documentation, pull requests merged in 2024-11, with the labels that each got.

#26035 Modify some sentences in "review debug logs" related to tracer flare
  content/en/tracing/troubleshooting/tracer_debug_logs.md
Labels: mergequeue-status: in_progress

#25968 Update monitor_aggregators.md
  content/en/monitors/guide/monitor_aggregators.md
Labels: Guide, under_review

#26043 rm trailing space - placeholder translation script - [WEB-5532]
  local/bin/py/placehold_translations.py
Labels: Architecture

#26027 [dbm] add dbm for mongodb troubleshooting
  config/_default/menus/main.en.yaml
  content/en/database_monitoring/setup_mongodb/troubleshooting.md
  content/en/database_monitoring/troubleshooting.md
  layouts/shortcodes/dbm-mongodb-agent-config-replica-set.en.md
  layouts/shortcodes/dbm-mongodb-agent-config-sharded-cluster.en.md
  layouts/shortcodes/dbm-mongodb-agent-config-standalone.en.md
Labels: Architecture, mergequeue-status: in_progress

#26049 Update categorization of APM .NET Library configurations
  content/en/tracing/trace_collection/library_config/dotnet-core.md
  content/en/tracing/trace_collection/library_config/dotnet-framework.md
Labels: editorial review, mergequeue-status: in_progress

#26047 Bump datadog-lambda-python layer to version 100
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture, mergequeue-status: in_progress

#26039 Update page as rules behavior has been updated
  config/_default/menus/main.en.yaml
  content/en/error_tracking/manage_data_collection.md
  content/en/logs/error_tracking/manage_data_collection.md
Labels: Architecture, mergequeue-status: in_progress

#26056 DOCS-9400 adding callout to Understanding OpenTelemetry course
  content/en/opentelemetry/_index.md
Labels: mergequeue-status: waiting

#26054 Update okta.md to add missing EDIT step when configuring Okta SAML Team/Role Mapping
  content/en/account_management/saml/okta.md
Labels: mergequeue-status: in_progress

#26057 [DOCS-9373] Update Cloud Storage scanning sections
  content/en/security/cloud_security_management/agentless_scanning/_index.md
  content/en/sensitive_data_scanner/_index.md
Labels: mergequeue-status: in_progress

#26066 Update library_injection_local.md
  content/en/tracing/trace_collection/library_injection_local.md
Labels: mergequeue-status: in_progress

#26058 Add shutdown hook to java lambda custom metrics examples.
  content/en/serverless/aws_lambda/metrics.md
  content/en/serverless/custom_metrics/_index.md
  content/es/serverless/aws_lambda/metrics.md
  content/es/serverless/custom_metrics/_index.md
  content/ja/serverless/custom_metrics/_index.md
  content/ko/serverless/aws_lambda/metrics.md
  content/ko/serverless/custom_metrics/_index.md
Labels: mergequeue-status: waiting

#25778 [DOCS-9257] Add third-party section to syslog source
  content/en/observability_pipelines/sources/syslog.md
Labels: mergequeue-status: in_progress

#25808 Fix PUT Endpoint to Follow RESTful Standards and Resolve 405 Method Not Allowed Error
  content/en/tracing/guide/tutorial-enable-go-aws-ecs-fargate.md
Labels: Do Not Merge

#25875 SDCD-437: Updating pagerduty service mapping logic in dora setup page
  content/en/dora_metrics/setup/failures.md
Labels: mergequeue-status: in_progress

#26030 Update translation disclaimer
  config/_default/params.en.yaml
Labels: Architecture, mergequeue-status: in_progress

#26053 Update Kubernetes configuration to collected logs only
  content/en/logs/guide/how-to-set-up-only-logs.md
Labels: Guide, mergequeue-status: in_progress

#26088 Exclude legacy op docs from translations
  translate.yaml
Labels: mergequeue-status: in_progress

#26073 DOCS-9032 Ruby version support for API Sec
  content/en/security/application_security/threats/setup/compatibility/_index.md
  content/en/security/application_security/threats/setup/compatibility/ruby.md
Labels: mergequeue-status: in_progress

#26076 [DOCS-9305] adding always run this step
  content/en/synthetics/browser_tests/advanced_options.md
  static/images/synthetics/browser_tests/advanced_options/always_run_step.png
Labels: Images, mergequeue-status: in_progress

#26077 [dbm] add supported mongodb atlas cluster tiers
  content/en/database_monitoring/setup_mongodb/mongodbatlas.md
Labels: mergequeue-status: in_progress

#25892 update definition of CVSS score
  content/en/security/application_security/software_composition_analysis/_index.md
Labels: mergequeue-status: in_progress

#26071 Add max time for rolling time windows
  content/en/monitors/configuration/_index.md
Labels: mergequeue-status: in_progress

#26095 Add missing backticks
  content/en/logs/log_collection/_index.md
Labels: mergequeue-status: in_progress

#26090 Clarify port 9443 in the Rancher troubleshooting
  content/en/containers/troubleshooting/admission-controller.md
Labels: mergequeue-status: in_progress

#26062 [web-5519] typesense follow up
  .gitlab-ci.yml
  package.json
  yarn.lock
Labels: mergequeue-status: in_progress

#26072 Fix typo and capitalization in advanced config docs
  content/en/real_user_monitoring/browser/advanced_configuration.md
Labels: mergequeue-status: in_progress

#25105 CSM Threats eBPF-free agent guide
  content/en/security/cloud_security_management/guide/_index.md
  content/en/security/cloud_security_management/guide/eBPF-free-agent.md
Labels: editorial review, security, mergequeue-status: waiting

#26089 Codeowner workflow update
  .github/workflows/codeowner_review_status.yml
Labels: Github, mergequeue-status: in_progress

#26097 Update send-aws-services-logs-with-the-datadog-kinesis-firehose-desti…
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-kinesis-firehose-destination.md
Labels: Guide, mergequeue-status: in_progress

#25801 adding screenshots for new ServiceNow integration
  static/images/integrations/servicenow/datadog-sync-configuration.png
  static/images/integrations/servicenow/servicenow-appstore-itxm-integration.png
  static/images/integrations/servicenow/servicenow-case-management.png
  static/images/integrations/servicenow/servicenow-integration-tile.png
  static/images/integrations/servicenow/servicenow-monitors.png
  static/images/integrations/servicenow/servicenow-priority-mapping.png
Labels: Images, mergequeue-status: in_progress

#26034 Update SFN -> Lambda merging instructions
  content/en/serverless/step_functions/merge-step-functions-lambda.md
Labels: mergequeue-status: in_progress

#26102 [DOCS-9307] adding mobile app tests step preview feature
  content/en/synthetics/mobile_app_testing/mobile_app_tests/steps.md
  static/images/mobile_app_testing/test_steps/subtest_mobile_preview_steps.png
  static/images/mobile_app_testing/test_steps/subtest_preview_steps_click.png
Labels: Images, mergequeue-status: in_progress

#26099 removed the google form for orchestrion
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/go.md
Labels: mergequeue-status: in_progress

#25838 Document Agent Telemetry enablement by default (with Agent 7.59)
  content/en/data_security/agent.md
Labels: mergequeue-status: in_progress

#25906 add documentation for new app builder overview dashboard
  content/en/service_management/app_builder/_index.md
  static/images/service_management/app_builder/app-builder-dashboard.png
Labels: Images, mergequeue-status: in_progress

#25422 Update Jenkins plugin docs: add agent ports connectivity info; add diagnostic flare instructions
  content/en/continuous_integration/pipelines/jenkins.md
Labels: mergequeue-status: in_progress

#26108 Track and troubleshoot MongoDB performance blog
  content/en/database_monitoring/_index.md
Labels: mergequeue-status: in_progress

#26109 Adds stopwords to search query config
  typesense.config.json
Labels: mergequeue-status: in_progress

#26032 Fix screenshot for generating a tracer flare
  content/en/tracing/troubleshooting/tracer_debug_logs.md
  static/images/agent/fleet_automation/fleet-automation-flare-agent-and-tracer-debuglevel.png
Labels: Images, mergequeue-status: in_progress

#26105 Create Datadog-Snow_Update_Set_v2.6.0.xml
  static/resources/xml/Datadog-Snow_Update_Set_v2.6.0.xml
Labels: mergequeue-status: in_progress

#25681 Setting MySQL 5.7 as the default tab on Google Cloud SQL
  content/en/database_monitoring/setup_mysql/gcsql.md
Labels: mergequeue-status: in_progress

#26018 Service representation GA: docs changes
  config/_default/menus/main.en.yaml
  content/en/service_catalog/_index.md
  content/en/tracing/services/inferred_services.md
  content/en/tracing/services/resource_page.md
  content/en/tracing/services/service_page.md
  content/en/tracing/trace_explorer/query_syntax.md
  content/en/tracing/trace_explorer/span_tags_attributes.md
  content/en/tracing/trace_explorer/trace_view.md
  static/images/tracing/app_analytics/search/span_table_inferred_service.png
  static/images/tracing/app_analytics/search/span_table_service.png
  static/images/tracing/app_analytics/search/span_table_service_override.png
  static/images/tracing/service_catalog/component_selector.png
  static/images/tracing/trace_view/base_override_inferred_service.png
  static/images/tracing/trace_view/span_header_inferred.png
  static/images/tracing/visualization/resource/dependency_map.png
  static/images/tracing/visualization/service/dependencies_section.png
  static/images/tracing/visualization/service/dependencies_side_panel.png
Labels: Architecture, editorial review, Images, mergequeue-status: in_progress

#26121 Update the callout of Data Jobs Monitoring for Apache Airflow
  content/en/data_jobs/airflow.md
Labels: mergequeue-status: in_progress

#26110 Updating search terms
  content/en/security/cloud_security_management/_index.md
Labels: mergequeue-status: in_progress

#26120 Fix code quirks
  content/en/logs/explorer/calculated_fields/expression_language.md
Labels: mergequeue-status: in_progress

#26123 Add integration count shortcode
  content/en/agent/guide/why-should-i-install-the-agent-on-my-cloud-instances.md
Labels: Guide, mergequeue-status: in_progress

#25886 [DOCS-9184] Update Datadog Address prerequesite
  content/en/observability_pipelines/set_up_pipelines/archive_logs/datadog_agent.md
  content/en/observability_pipelines/set_up_pipelines/dual_ship_logs/datadog_agent.md
  content/en/observability_pipelines/set_up_pipelines/generate_metrics/datadog_agent.md
  content/en/observability_pipelines/set_up_pipelines/log_enrichment/datadog_agent.md
  content/en/observability_pipelines/set_up_pipelines/log_volume_control/datadog_agent.md
  content/en/observability_pipelines/set_up_pipelines/sensitive_data_redaction/datadog_agent.md
  content/en/observability_pipelines/set_up_pipelines/split_logs/datadog_agent.md
  layouts/shortcodes/observability_pipelines/log_source_configuration/datadog_agent.en.md
  layouts/shortcodes/observability_pipelines/prerequisites/datadog_agent.en.md
Labels: Architecture, mergequeue-status: in_progress

#26126 Consolidate service config docs
  content/en/service_catalog/_index.md
  content/en/service_catalog/guides/_index.md
  content/en/service_catalog/guides/understanding-service-configuration.md
  content/en/service_catalog/manage.md
  content/en/service_catalog/navigating.md
  static/images/tracing/service_catalog/service-catalog-setup-guidance.png
  static/images/tracing/service_catalog/service-page-service-config.png
Labels: Images, mergequeue-status: in_progress

#26129 Added Microsoft Teams Integration for "Make a decision" and "Make a decision 1" tiles
  content/en/metrics/guide/dynamic_quotas.md
Labels: Guide, mergequeue-status: in_progress

#26135 Update team detail UI description
  content/en/account_management/teams/_index.md
Labels: mergequeue-status: in_progress

#25849 RUM-6296 [Mobile Session Replay] Add documentation for fine grained masking overrides
  content/en/real_user_monitoring/guide/mobile-sdk-multi-instance.md
  content/en/real_user_monitoring/session_replay/mobile/privacy_options.md
  content/en/real_user_monitoring/session_replay/mobile/setup_and_configuration.md
Labels: Guide, mergequeue-status: in_progress

#26083 Clarify what the Python tables are referring to
  content/en/tracing/trace_collection/compatibility/python.md
Labels: mergequeue-status: in_progress

#26128 [DOCS-9039] Move rule case example
  content/en/security/cloud_siem/log_detection_rules.md
Labels: mergequeue-status: in_progress

#26112 Update datadog_operator.md: Add `site` to the sample YAML
  content/en/getting_started/containers/datadog_operator.md
Labels: mergequeue-status: in_progress

#25914 RUM-6885 Add the docs for RumMonitor#addViewLoadingTime API
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/android.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/flutter.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/ios.md
Labels: mergequeue-status: in_progress

#26136 DOCS-9394: Add MongoDB tile to Data Collected article
  layouts/partials/dbm/dbm-data-collected.html
Labels: Architecture, mergequeue-status: in_progress

#26125 [aws-integration] changing default permissions and language around SecurityAudit policy
  content/en/integrations/guide/aws-manual-setup.md
  layouts/shortcodes/aws-permissions.en.md
  layouts/shortcodes/aws-resource-collection.en.md
Labels: Architecture, Guide, under_review, mergequeue-status: in_progress

#26148 fix CMS -> CSM typo in CSM threats ebpf free pages
  content/en/security/cloud_security_management/guide/eBPF-free-agent.md
  content/en/security/threats/workload_security_rules/_index.md
Labels: mergequeue-status: in_progress

#26140 Fix service representation broken links
  content/en/tracing/services/inferred_services.md
Labels: mergequeue-status: in_progress

#26150 cleanup algolia references
  .gitlab-ci.yml
  local/bin/js/algolia-index-sync.js
  local/etc/requirements3.txt
  package.json
  yarn.lock
Labels: Architecture, mergequeue-status: in_progress

#26152 Update _index.md
  content/en/service_catalog/customize/_index.md
Labels: mergequeue-status: in_progress

#24938 [MLOB-1696] Add Node.js LLM Observability SDK docs
  content/en/llm_observability/setup/auto_instrumentation.md
  content/en/llm_observability/setup/sdk/_index.md
  content/en/llm_observability/setup/sdk/nodejs.md
  content/en/llm_observability/setup/sdk/python.md
  layouts/partials/llmobs/llmobs-compatibility.html
Labels: Architecture, editorial review

#26122 Khang.truong/monitor best practice
  content/en/monitors/guide/_index.md
  content/en/monitors/guide/monitor_best_practices.md
Labels: Guide, mergequeue-status: in_progress

#26078 [SAASINT-3281][saas-ints][ccm] Update tags for saas cost integrations
  content/en/cloud_cost_management/saas_costs.md
  static/images/cloud_cost/saas_costs/confluent_setup_1.png
  static/images/cloud_cost/saas_costs/databricks_setup_1.png
  static/images/cloud_cost/saas_costs/fastly_setup_1.png
Labels: Images, mergequeue-status: in_progress

#26146 Add blog links
  content/en/database_monitoring/_index.md
  content/en/service_catalog/scorecards/_index.md
Labels: mergequeue-status: in_progress

#26149 Update min version for new autodiscovery syntax
  content/en/network_monitoring/devices/snmp_metrics.md
Labels: mergequeue-status: in_progress

#26131 [DOCS-9199] Add proxy info
  content/en/observability_pipelines/advanced_configurations.md
Labels: mergequeue-status: in_progress

#26147 Bump datadog-lambda-python layer to version 101
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture, mergequeue-status: in_progress

#26157 [aws-ints] updating terraform to attach security-audit policy
  content/en/integrations/guide/aws-terraform-setup.md
  content/es/integrations/guide/aws-terraform-setup.md
  content/fr/integrations/guide/aws-terraform-setup.md
  content/ja/integrations/guide/aws-terraform-setup.md
  content/ko/integrations/guide/aws-terraform-setup.md
Labels: Guide, mergequeue-status: in_progress

#26145 [CWS-3524] pull CWS documentation from release branch (and not main)
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, mergequeue-status: in_progress

#26155 Update font-size for definition lists to match main body text
  assets/styles/pages/_global.scss
Labels: Architecture, mergequeue-status: in_progress

#25981 Add new process collection in core agent flag
  content/en/infrastructure/process/_index.md
Labels: mergequeue-status: in_progress

#26171 (maint) Fix broken link
  config/_default/menus/main.en.yaml
Labels: Architecture, mergequeue-status: in_progress

#25945 OpenTelemetry Compatibility Table Updates
  content/en/opentelemetry/compatibility.md
Labels: mergequeue-status: in_progress

#26141 Change autocomplete and search to GA for java
  content/en/dynamic_instrumentation/symdb/_index.md
  content/en/dynamic_instrumentation/symdb/java.md
Labels: mergequeue-status: in_progress

#26170 [APMDT-4564] Span tag vs. Span attribute naming convention
  content/en/tracing/error_tracking/_index.md
Labels: mergequeue-status: in_progress

#25646 Documentation for new kube_gpu_type tag in v7.59.0
  content/en/containers/kubernetes/tag.md
Labels: mergequeue-status: in_progress

#26160 Update exception replay sensitive data setup
  content/en/error_tracking/backend/exception_replay.md
Labels: mergequeue-status: in_progress

#26161 Update OP marketecture image
  content/en/observability_pipelines/_index.md
  static/images/observability_pipelines/op_marketecture_11042024.png
Labels: Images, mergequeue-status: in_progress

#25456 update no data for monitor slos
  content/en/service_management/service_level_objectives/_index.md
  content/en/service_management/service_level_objectives/monitor.md
Labels: mergequeue-status: in_progress

#26169 revert bug from #26506
  content/en/opentelemetry/_index.md
Labels: mergequeue-status: in_progress

#26166 [DOCS-9450] Remove data retention section on PA
  content/en/product_analytics/user_retention.md
Labels: mergequeue-status: in_progress

#26101 Log Workpsaces Use Cases: login attempts ePHI
  config/_default/menus/main.en.yaml
  content/en/logs/guide/_index.md
  content/en/logs/workspaces/use_cases/_index.md
  content/en/logs/workspaces/use_cases/analyze_login_attempts.md
  static/images/logs/workspace/use_cases/analyze_failed_login_count.png
  static/images/logs/workspace/use_cases/query_failed_logs.png
Labels: Architecture, Images, Guide, mergequeue-status: in_progress

#25993 Update custom-javascript-assertion.md
  content/en/synthetics/guide/custom-javascript-assertion.md
Labels: editorial review

#26176 suppress glossary warnings on non-en pgs
  layouts/glossary/list.html
Labels: Architecture

#26177 Update extension OTLP endpoint
  content/en/serverless/aws_lambda/opentelemetry.md
Labels: mergequeue-status: in_progress

#26173 Clarify the Ruby OpenTelemetry configuration block difference
  content/en/tracing/trace_collection/custom_instrumentation/ruby/otel.md
Labels: mergequeue-status: in_progress

#26023 (DOCS-9356) PAR - deploy with Kubernetes
  content/en/service_management/workflows/private_actions/use_private_actions.md
Labels: mergequeue-status: in_progress

#26178 Update retention policy of Incident Management from "n/a" to "∞"
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide, mergequeue-status: in_progress

#25367 Workflows and App Builder - beta to Preview
  content/en/service_management/app_builder/connections/http_request.md
  content/en/service_management/workflows/actions/http.md
  content/en/service_management/workflows/private_actions/_index.md
  content/en/service_management/workflows/private_actions/private_action_credentials.md
  content/en/service_management/workflows/private_actions/use_private_actions.md
Labels: lifecycle update, mergequeue-status: in_progress

#26179 fixing typo
  layouts/shortcodes/pci-logs.en.md
Labels: Architecture, mergequeue-status: in_progress

#26153 Docs CI
  .gitlab-ci.yml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  local/bin/py/build/content_manager.py
  local/bin/py/build/update_pre_build.py
Labels: Architecture

#26185 Explicit 7.58.0+ as minimum mongo version
  layouts/shortcodes/dbm-mongodb-before-you-begin.en.md
Labels: Architecture, mergequeue-status: in_progress

#26191 Update logstash.md
  content/en/observability_pipelines/sources/logstash.md
Labels: mergequeue-status: in_progress

#26183 [DOCS-9453] updating network path screenshot
  content/en/network_monitoring/network_path/_index.md
  static/images/network_performance_monitoring/network_path/network_path_default_view_3.png
Labels: Images, mergequeue-status: in_progress

#26193 Fix links
  content/en/agent/configuration/network.md
Labels: mergequeue-status: in_progress

#26189 add Spanish selector to language dropdown
  assets/scripts/lang-redirects.js
  config/_default/languages.yaml
  layouts/partials/language-region-select.html
Labels: Architecture

#26162 Add host benchmarks to CSM misconfiguration docs
  content/en/security/cloud_security_management/misconfigurations/compliance_rules.md
Labels: mergequeue-status: in_progress

#26181 Add Kubernetes to intro sentence
  content/en/service_management/workflows/private_actions/use_private_actions.md
Labels: mergequeue-status: in_progress

#26201 DOCS-9430 - screenshot removal
  content/en/llm_observability/terms/_index.md
Labels: mergequeue-status: in_progress

#26159 [web-5519] skip settings sync if typesense config file didn't change
  .gitlab-ci.yml
  local/bin/js/typesense_sync.cjs
  typesense.config.json
Labels: Architecture, mergequeue-status: in_progress

#25717 Rearrange OTel Integrations to Support More Metric Mappings
  config/_default/menus/main.en.yaml
  content/en/opentelemetry/integrations/_index.md
  content/en/opentelemetry/integrations/collector_health_metrics.md
  content/en/opentelemetry/integrations/docker_metrics.md
  content/en/opentelemetry/integrations/host_metrics.md
  content/en/opentelemetry/integrations/kafka_metrics.md
  content/en/opentelemetry/schema_semantics/metrics_mapping.md
Labels: Architecture, mergequeue-status: in_progress

#26197 Add allowlist for pull_config files
  local/bin/py/build/configurations/pull_config_allowlist.yaml
  local/bin/py/build/content_manager.py
  local/bin/py/build/update_pre_build.py
Labels: Architecture

#26205 Add blog links
  content/en/llm_observability/guide/llm_observability_and_apm.md
  content/en/security/application_security/threats/exploit-prevention.md
Labels: Guide, mergequeue-status: in_progress

#26187 Update Test Optimization libraries features table
  content/en/tests/_index.md
Labels: mergequeue-status: in_progress

#26139 Improve Jenkins plugin troubleshooting instructions
  content/en/continuous_integration/pipelines/jenkins.md
Labels: mergequeue-status: in_progress

#26203 Add info related to how to install Datadog Test Recorder on Microsoft Edge
  content/en/getting_started/synthetics/browser_test.md
Labels: mergequeue-status: in_progress

#26204 Clarify that APM telemetry is for Datadog usage
  content/en/tracing/configure_data_security/_index.md
Labels: mergequeue-status: in_progress

#26091 Beginning DBM recommendations docs.
  config/_default/menus/main.en.yaml
  content/en/database_monitoring/_index.md
  content/en/database_monitoring/recommendations/index.md
  static/images/database_monitoring/recommendations-page.png
Labels: Architecture, Images, mergequeue-status: in_progress

#26127 Adding SQLServer schema collection information
  layouts/shortcodes/dbm-sqlserver-agent-config-examples.en.md
Labels: Architecture, mergequeue-status: in_progress

#26206 Have Metrics Explorer page point to Quick Graphs page
  content/en/metrics/explorer.md
Labels: mergequeue-status: in_progress

#26214 Add new info on embeddable dashboards
  content/en/dashboards/sharing/shared_dashboards.md
Labels: mergequeue-status: in_progress

#26132 [DOCS-9224] NPM tagging / group by updates
  content/en/network_monitoring/performance/network_analytics.md
  static/images/network_performance_monitoring/network_analytics/npm_auto-grouped.png
  static/images/network_performance_monitoring/network_analytics/npm_icon_tooltip.png
  static/images/network_performance_monitoring/network_analytics/npm_un-grouped.png
  static/images/network_performance_monitoring/network_analytics/search_bar_with_groupby.png
Labels: Images, mergequeue-status: in_progress

#26217 Change menu item name to be more consistent with other items.
  config/_default/menus/main.en.yaml
Labels: Architecture, mergequeue-status: in_progress

#26211 Update Usage Attribution to add new Preview metrics
  content/en/account_management/billing/usage_metrics.md
  content/en/metrics/guide/custom_metrics_governance.md
Labels: Guide, mergequeue-status: in_progress

#25947 RUM Auto-instrumentation
  config/_default/menus/main.en.yaml
  config/_default/params.yaml
  content/en/data_security/real_user_monitoring.md
  content/en/getting_started/session_replay/_index.md
  content/en/getting_started/tagging/unified_service_tagging.md
  content/en/integrations/content_security_policy_logs.md
  content/en/real_user_monitoring/browser/_index.md
  content/en/real_user_monitoring/browser/advanced_configuration.md
  content/en/real_user_monitoring/browser/setup/_index.md
  content/en/real_user_monitoring/browser/setup/client.md
  content/en/real_user_monitoring/browser/setup/server.md
  content/en/real_user_monitoring/guide/define-services-and-track-ui-components-in-your-browser-application.md
  content/en/real_user_monitoring/guide/monitor-capacitor-applications-using-browser-sdk.md
  content/en/real_user_monitoring/guide/monitor-electron-applications-using-browser-sdk.md
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
  content/en/tests/setup/javascript.md
  layouts/partials/nav/left-nav.html
Labels: Architecture, Guide, mergequeue-status: in_progress

#26208 Update LP docs to explain that LP monitoring is also enterprise
  content/en/infrastructure/process/_index.md
  content/en/monitors/types/process.md
Labels: mergequeue-status: in_progress

#25702 Update SCIM and SAML docs for to Microsoft Entra ID
  config/_default/menus/main.en.yaml
  content/en/account_management/saml/_index.md
  content/en/account_management/scim/_index.md
  content/en/account_management/scim/entra.md
  static/images/account_management/scim/ad-users-2.png
  static/images/account_management/scim/admin-credentials-2.png
Labels: Architecture, Images, mergequeue-status: in_progress

#26222 Add note about secret security
  content/en/infrastructure/resource_catalog/_index.md
Labels: mergequeue-status: in_progress

#26229 🐛 remove browser/setup/_index.html to solve redirection loop
  content/en/real_user_monitoring/browser/setup/_index.md
Labels: mergequeue-status: in_progress

#26216 DDSQL Editori Querying reference tables
  config/_default/menus/main.en.yaml
  content/en/ddsql_editor/reference_tables.md
Labels: Architecture, mergequeue-status: in_progress

#26215 Update error tracking explorer images
  content/en/error_tracking/_index.md
  content/en/error_tracking/explorer.md
  content/en/logs/error_tracking/_index.md
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/tracing/error_tracking/_index.md
  static/images/error_tracking/error-tracking-facets.png
  static/images/error_tracking/error-tracking-overview-1.png
  static/images/error_tracking/error-tracking-overview-2.png
  static/images/real_user_monitoring/error_tracking/rum-error-tracking-explorer-1.png
  static/images/real_user_monitoring/error_tracking/rum-error-tracking-explorer.png
Labels: Images, mergequeue-status: in_progress

#26232 Remove Browser RUM redirect
  content/en/real_user_monitoring/browser/setup/_index.md
Labels: mergequeue-status: in_progress

#26074 Add docs for collecting CRs
  content/en/infrastructure/containers/configuration.md
Labels: editorial review, mergequeue-status: waiting

#26198 [SDS] Update Out of the Box rule list
  content/en/sensitive_data_scanner/library_rules.md
Labels: mergequeue-status: in_progress

#26230 changing to demo screenshot instead of org2
  static/images/tracing/api_catalog/api-catalog-explorer.png
Labels: Images, mergequeue-status: in_progress

#24988 [DOCS-7210] Datadog administrator's guide
  config/_default/menus/main.en.yaml
  content/en/administrators_guide/_index.md
  content/en/administrators_guide/build.md
  content/en/administrators_guide/getting_started.md
  content/en/administrators_guide/plan.md
  content/en/administrators_guide/run.md
  static/images/administrators_guide/ec2_overview.png
  static/images/administrators_guide/fleet_automation.png
  static/images/administrators_guide/help_center.png
  static/images/administrators_guide/logging_without_limits.png
  static/images/administrators_guide/plan_build_run_2.png
  static/images/administrators_guide/service_catalog_2.png
  static/images/administrators_guide/unified_service_tagging_diagram.png
Labels: Architecture, WORK IN PROGRESS, Images, mergequeue-status: in_progress

#26235 Update is_match and is_exact_match description
  content/en/monitors/notify/variables.md
Labels: mergequeue-status: in_progress

#26239 Fix link
  content/fr/integrations/amazon_rds.md
Labels: mergequeue-status: in_progress

#26231 Update to the definition of span tag and attributes
  content/en/tracing/trace_collection/tracing_naming_convention/_index.md
Labels: mergequeue-status: in_progress

#26250 Update domain_allowlist.md
  content/en/account_management/org_settings/domain_allowlist.md
Labels: mergequeue-status: in_progress

#26257 Move Log Collection out of OTel Integrations
  config/_default/menus/main.en.yaml
  content/en/opentelemetry/collector_exporter/log_collection.md
  content/en/opentelemetry/integrations/_index.md
Labels: Architecture, mergequeue-status: in_progress

#26252 [DOCS-9471] Adding API tests one-click
  content/en/synthetics/api_tests/http_tests.md
  static/images/synthetics/api_tests/api-one-click.png
  static/images/synthetics/api_tests/api-test-monitor-search.png
Labels: Images, mergequeue-status: in_progress

#26275 Update domain_allowlist.md
  content/en/account_management/org_settings/domain_allowlist.md
Labels: mergequeue-status: in_progress

#26251 Add new tracing guide for AWS payload tagging
  content/en/tracing/guide/_index.md
  content/en/tracing/guide/aws_payload_tagging.md
Labels: editorial review, Guide, mergequeue-status: in_progress

#26278 Remove recursive alias
  content/en/opentelemetry/collector_exporter/log_collection.md
Labels: mergequeue-status: in_progress

#26263 Re-generate the k8s sample manifests with Helm chart 3.79.1
  static/resources/yaml/datadog-agent-aks.yaml
  static/resources/yaml/datadog-agent-all-features.yaml
  static/resources/yaml/datadog-agent-apm.yaml
  static/resources/yaml/datadog-agent-logs-apm.yaml
  static/resources/yaml/datadog-agent-logs.yaml
  static/resources/yaml/datadog-agent-npm.yaml
  static/resources/yaml/datadog-agent-vanilla.yaml
  static/resources/yaml/datadog-agent-windows-all-features.yaml
  static/resources/yaml/datadog-agent-windows-apm.yaml
  static/resources/yaml/datadog-agent-windows-logs-apm.yaml
  static/resources/yaml/datadog-agent-windows-logs.yaml
  static/resources/yaml/datadog-agent-windows-vanilla.yaml
Labels: mergequeue-status: in_progress

#26274 Update best_practices_for_creating_custom_rules.md
  content/en/sensitive_data_scanner/guide/best_practices_for_creating_custom_rules.md
Labels: Guide, mergequeue-status: in_progress

#26267 Update what-best-practices-are-recommended-for-naming-metrics-and-tag…
  content/en/developers/guide/what-best-practices-are-recommended-for-naming-metrics-and-tags.md
Labels: Guide, mergequeue-status: in_progress

#26281 Updating Windows command line instruction
  content/en/synthetics/platform/private_locations/configuration.md
Labels: mergequeue-status: in_progress

#26270 Administrator's Guide updates
  content/en/administrators_guide/_index.md
  content/en/administrators_guide/build.md
  content/en/administrators_guide/plan.md
  content/en/administrators_guide/run.md
Labels: mergequeue-status: in_progress

#26282 Add note about email addresses containing slashes for monitoring notifications
  layouts/shortcodes/notifications-email.en.md
Labels: Architecture, mergequeue-status: in_progress

#25822 [SDCI] Jenkins and Custom providers running pipelines support
  content/en/continuous_integration/pipelines/_index.md
  content/en/continuous_integration/pipelines/custom.md
  content/en/continuous_integration/pipelines/jenkins.md
Labels: mergequeue-status: in_progress

#26266 Add note about GovCloud custom destinations
  content/en/logs/log_configuration/archives.md
Labels: mergequeue-status: in_progress

#25640 [CONTP-377] add docs for kubernetes resources labels/annotations as tags
  content/en/containers/kubernetes/tag.md
Labels: editorial review, mergequeue-status: in_progress

#26061 Add note on DDSQL Editor permissions
  content/en/ddsql_editor/_index.md
Labels: mergequeue-status: in_progress

#26258 (Containers)(DOCS-9169) ECS Fargate timeouts
  content/en/containers/troubleshooting/_index.md
Labels: mergequeue-status: in_progress

#26243 (maint) Update go files
  go.mod
  go.sum
Labels: mergequeue-status: in_progress

#26290 open service representation GA docs to US1
  content/en/service_catalog/_index.md
  content/en/tracing/services/inferred_services.md
  content/en/tracing/services/resource_page.md
  content/en/tracing/services/service_page.md
  content/en/tracing/trace_explorer/query_syntax.md
  content/en/tracing/trace_explorer/trace_view.md
Labels: mergequeue-status: in_progress
