Repository DataDog/documentation, pull requests merged in 2024-05, with the labels that each got.

#22942 DOCS-7786: Add OS compatibility matrix for CSM Vulnerabilities
  content/en/security/cloud_security_management/setup/_index.md
  content/en/security/cloud_security_management/troubleshooting/vulnerabilities.md
Labels: security

#22888 [DOCS-7755] Reorganize Service Catalog Pages
  config/_default/menus/main.en.yaml
  content/en/service_catalog/_index.md
  content/en/service_catalog/apis.md
  content/en/service_catalog/create_entries.md
  content/en/service_catalog/guides/_index.md
  content/en/service_catalog/guides/troubleshooting.md
  content/en/service_catalog/import_entries_dd.md
  content/en/service_catalog/import_entries_integrations.md
  content/en/service_catalog/integrations.md
  content/en/service_catalog/investigating.md
  content/en/service_catalog/manage_entries.md
  content/en/service_catalog/navigating.md
  content/en/service_catalog/service_definitions.md
  content/en/service_catalog/setup.md
Labels: Architecture, editorial review

#22863 [web-4507] first websites-sources integration
  assets/styles/components/_integrations.scss
  config/_default/config.yaml
  go.mod
  go.sum
  layouts/integrations/single.html
  layouts/partials/integrations-carousel/integrations-carousel.html
  layouts/partials/integrations-logo.html
  layouts/shortcodes/integrations.html
  local/bin/py/build/content_manager.py
  local/bin/py/build/update_pre_build.py
Labels: Architecture, under_review

#22830 DOCS-7653 Adds Getting Started with Test Visibility Documentation
  config/_default/menus/main.en.yaml
  content/en/getting_started/_index.md
  content/en/getting_started/test_visibility/_index.md
  layouts/partials/continuous_integration/ci-tests-setup.html
  static/images/getting_started/test_visibility/commit_flaky_tests.png
  static/images/getting_started/test_visibility/failed_test_trace.png
  static/images/getting_started/test_visibility/list.png
  static/images/getting_started/test_visibility/module.png
  static/images/getting_started/test_visibility/session.png
  static/images/getting_started/test_visibility/suite.png
  static/images/getting_started/test_visibility/test.png
  static/images/getting_started/test_visibility/test_monitor.png
  static/images/getting_started/test_visibility/tests_dashboard.png
Labels: Architecture, editorial review, Images

#22860 DOCS-7728 Adds Getting Started with Intelligent Test Runner Documentation
  config/_default/menus/main.en.yaml
  content/en/getting_started/_index.md
  content/en/getting_started/intelligent_test_runner/_index.md
  static/images/getting_started/intelligent_test_runner/configure_itr.png
  static/images/getting_started/intelligent_test_runner/dashboard.png
  static/images/getting_started/intelligent_test_runner/enable_settings.png
  static/images/getting_started/intelligent_test_runner/itr_modules.png
  static/images/getting_started/intelligent_test_runner/itr_sessions.png
  static/images/getting_started/intelligent_test_runner/itr_suites.png
  static/images/getting_started/intelligent_test_runner/itr_tests.png
  static/images/getting_started/intelligent_test_runner/session_run.png
Labels: Architecture, editorial review, Images

#22963 Fix link in CSM Fargate docs
  content/en/security/cloud_security_management/setup/fargate.md
Labels: security

#22957 Update CSM Identity Risks cloud support
  content/en/security/cloud_security_management/identity_risks/_index.md
  content/en/security/cloud_security_management/setup/_index.md
Labels: security

#22964 Fix Code Block Highlight
  assets/styles/vendor/_chroma-styles.scss
Labels: Architecture

#22961 fix integrations post-deploy linkcheck err
  content/en/integrations/_index.md
  layouts/shortcodes/integrations.html
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#22955 Bump datadog-lambda-python layer to version 94
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#22962 Update migration.md
  content/en/opentelemetry/guide/migration.md
Labels: Guide

#22953 support blocklist to not render integration version
  layouts/partials/integration-labels/integration-labels.html
Labels: Architecture

#22916 [reporting] introduce PDF reports | DBNBK-119, CRP-841
  content/en/dashboards/scheduled_reports.md
  static/images/dashboards/scheduled_reports/report_configuration_modal.png
  static/images/dashboards/scheduled_reports/report_email.png
  static/images/dashboards/scheduled_reports/report_example.png
  static/images/dashboards/scheduled_reports/report_pdf.png
Labels: Images

#22973 standard attributes table css
  assets/styles/pages/_standard-attributes.scss
Labels: Architecture

#22977 [web-4854] removing orphaned translations
  content/es/account_management/teams.md
  content/fr/developers/datadog_apps.md
  content/fr/developers/integrations/legacy.md
  content/fr/developers/integrations/new_check_howto.md
  content/fr/tracing/error_tracking/executional_context.md
  content/fr/tracing/trace_collection/custom_instrumentation/cpp.md
  content/fr/tracing/trace_collection/dd_libraries/dotnet-core.md
  content/fr/tracing/trace_collection/dd_libraries/java.md
  content/fr/tracing/trace_collection/dd_libraries/python.md
  content/fr/tracing/trace_collection/opentracing/go.md
  content/ja/developers/datadog_apps.md
  content/ja/developers/integrations/legacy.md
  content/ja/developers/integrations/new_check_howto.md
  content/ja/developers/integrations/oauth_for_data_integrations.md
  content/ja/glossary/terms/datadog.md
  content/ja/network_performance_monitoring/guide/_index.md
  content/ja/security/threats/security_profiles.md
  content/ja/tracing/trace_collection/custom_instrumentation/cpp.md
  content/ja/tracing/trace_collection/dd_libraries/dotnet-core.md
  content/ja/tracing/trace_collection/dd_libraries/dotnet-framework.md
  content/ja/tracing/trace_collection/dd_libraries/java.md
  content/ja/tracing/trace_collection/dd_libraries/python.md
  content/ja/tracing/trace_collection/dd_libraries/ruby.md
  content/ja/tracing/trace_collection/opentracing/go.md
  content/ja/tracing/trace_collection/opentracing/java.md
  content/ja/tracing/trace_collection/opentracing/python.md
  content/ja/tracing/trace_collection/otel_instrumentation/nodejs.md
  content/ja/tracing/troubleshooting/correlating-logs-not-showing-up-in-the-trace-id-panel.md
  content/ko/developers/datadog_apps.md
  content/ko/developers/integrations/legacy.md
  content/ko/developers/integrations/new_check_howto.md
  content/ko/real_user_monitoring/reactnative/mobile_vitals.md
  content/ko/real_user_monitoring/reactnative/troubleshooting.md
  content/ko/real_user_monitoring/reactnative/web_view_tracking.md
  content/ko/tracing/trace_collection/dd_libraries/dotnet-core.md
  content/ko/tracing/trace_collection/dd_libraries/dotnet-framework.md
  content/ko/tracing/trace_collection/dd_libraries/java.md
  content/ko/tracing/trace_collection/dd_libraries/python.md
  local/bin/py/translations/orphaned_translations.py
Labels: Architecture

#22747 [DOCS-7614] Eppo feature flag integration
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
  layouts/partials/rum/rum-feature-flag-tracking.html
  static/images/integrations_logos/eppo_large.svg
Labels: Architecture, Images, Guide

#22966 fix ambiguous http blocklist syntax
  content/en/tracing/guide/ignoring_apm_resources.md
Labels: Guide

#22692 DOCS-6279 Adds Getting Started with CI Visibility Documentation
  config/_default/menus/main.en.yaml
  content/en/getting_started/_index.md
  content/en/getting_started/ci_visibility/_index.md
  layouts/partials/continuous_integration/ci-pipelines-getting-started.html
  static/images/getting_started/ci_visibility/avg_duration_monitor.png
  static/images/getting_started/ci_visibility/executions.png
  static/images/getting_started/ci_visibility/job_view.png
  static/images/getting_started/ci_visibility/pipeline_executions.png
  static/images/getting_started/ci_visibility/pipeline_levels.png
  static/images/getting_started/ci_visibility/pipeline_view.png
  static/images/getting_started/ci_visibility/pipelines_dashboard.png
  static/images/getting_started/ci_visibility/pipelines_list.png
  static/images/getting_started/ci_visibility/stage_view.png
  static/images/getting_started/ci_visibility/step_view.png
Labels: Architecture, editorial review, Images

#22984 (DOCS-7844) Add row to data retention table
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

#22723 Add RAC note to the Oracle upgrade guide
  content/en/integrations/guide/oracle-check-upgrade-7.50.1.md
Labels: Guide, database_monitoring

#22998 Add US1-FED notes for CSM Agentless Scanning
  content/en/security/cloud_security_management/agentless_scanning/_index.md
  content/en/security/cloud_security_management/setup/agentless_scanning/_index.md
Labels: security

#23003 Bump datadog-lambda-extension layer to version 57
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#22918 [error-tracking] Add default grouping documentation
  config/_default/menus/main.en.yaml
  content/en/error_tracking/custom_grouping.md
  content/en/error_tracking/default_grouping.md
  content/en/logs/error_tracking/default_grouping.md
  content/en/real_user_monitoring/error_tracking/default_grouping.md
  content/en/tracing/error_tracking/default_grouping.md
Labels: Architecture, editorial review

#22970 [Container Images] Split instructions for Container Image and SBOM collection
  content/en/infrastructure/containers/container_images.md
Labels: editorial review

#23004 Update note in CSM Agentless Scanner docs
  content/en/security/cloud_security_management/agentless_scanning/_index.md
Labels: security

#22985 Fix the generation of the Accept/Content-Type header based on 204 responses
  layouts/partials/api/curl.html
Labels: Architecture

#23011 delete old page that has been replaced
  config/_default/menus/main.en.yaml
  content/en/logs/error_tracking/excluding_logs.md
Labels: Architecture

#23013 Update image for Dashboards/Graphing with JSON
  static/images/dashboards/graphing_json/json_editor.png
Labels: Images

#22956 DOCS-7714 cms threats active protection
  content/en/security/cloud_security_management/guide/_index.md
  content/en/security/cloud_security_management/guide/active-protection.md
  content/en/security/threats/_index.md
  content/en/security/threats/workload_security_rules/_index.md
  static/images/security/cws/guide/active-protection-signal-messages.png
  static/images/security/cws/guide/enable-active-protection.png
  static/images/security/cws/guide/protection-blocking-option.png
  static/images/security/cws/guide/protection-column.png
Labels: editorial review, Images, security

#22690 update SLO checklist page
  content/en/service_management/service_level_objectives/guide/slo-checklist.md
Labels: editorial review

#22986 improved existing content, added technical details for byoti
  content/en/security/application_security/threats/threat-intelligence.md
  static/images/security/application_security/threats/threat_intel/threat_intel_ref_table.png
  static/images/security/application_security/threats/threat_intel/threat_intel_ref_table_enabled.png
Labels: Images, security

#22980 Update service_definitions.md - add v3 details
  content/en/service_catalog/service_definitions.md
Labels: editorial review

#23012 Update API link
  content/en/containers/guide/operator-eks-addon.md
  content/en/integrations/guide/application-monitoring-vmware-tanzu.md
  content/en/integrations/guide/cluster-monitoring-vmware-tanzu.md
  content/en/real_user_monitoring/error_tracking/mobile/android.md
Labels: Guide

#23019 Rtrieu/docs 7808 webview tracking impact on billing
  content/en/account_management/billing/rum.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/web_view_tracking/_index.md
  static/images/account_management/billing/rum/rum-webviews-impact-on-billing-1.png
Labels: Images

#22983 Add script to nightly job
  .gitlab-ci.yml
  local/bin/py/add_notranslate_tag.py
Labels: Architecture

#23040 Update inferred-service-opt-in.md
  content/en/tracing/guide/inferred-service-opt-in.md
Labels: Guide

#22277 Add documentation for OTel top-level spans identification
  config/_default/menus/main.en.yaml
  content/en/opentelemetry/integrations/trace_metrics.md
  content/en/opentelemetry/schema_semantics/_index.md
  content/en/opentelemetry/schema_semantics/service_entry_spans.md
Labels: Architecture

#23049 Rename OSS to SCA
  content/en/security/application_security/enabling/compatibility/dotnet.md
  content/en/security/application_security/enabling/compatibility/go.md
  content/en/security/application_security/enabling/compatibility/java.md
  content/en/security/application_security/enabling/compatibility/nodejs.md
  content/en/security/application_security/enabling/compatibility/php.md
  content/en/security/application_security/enabling/compatibility/python.md
  content/en/security/application_security/enabling/compatibility/ruby.md
Labels: security

#22982 Add Error Tracking troubleshooting page
  config/_default/menus/main.en.yaml
  content/en/error_tracking/troubleshooting.md
Labels: Architecture, editorial review

#22673 traceContextInjection init parameter documentation
  content/en/real_user_monitoring/platform/connect_rum_and_traces.md
  static/images/real_user_monitoring/connect_rum_and_traces/traceContextInjection_all-2.png
  static/images/real_user_monitoring/connect_rum_and_traces/traceContextInjection_sampled-2.png
Labels: editorial review, Images

#23067 Update notranslate script
  local/bin/py/add_notranslate_tag.py
Labels: Architecture

#22905 Update save-cpu-in-production-with-go-pgo.md
  content/en/profiler/enabling/go.md
  content/en/profiler/guide/_index.md
  content/en/profiler/guide/save-cpu-in-production-with-go-pgo.md
Labels: Guide

#23063 (developers) Rename IDE integrations
  config/_default/menus/main.en.yaml
  config/_default/menus/main.fr.yaml
  config/_default/menus/main.ja.yaml
  config/_default/menus/main.ko.yaml
  content/en/code_analysis/static_analysis/_index.md
  content/en/code_analysis/static_analysis/setup.md
  content/en/code_analysis/static_analysis_rules/_index.md
  content/en/developers/ide_integrations/_index.md
  content/en/developers/ide_plugins/_index.md
  content/en/developers/ide_plugins/idea/_index.md
  content/en/developers/ide_plugins/visual_studio/_index.md
  content/en/developers/ide_plugins/vscode/_index.md
  content/en/getting_started/continuous_testing/_index.md
  content/en/service_catalog/integrations.md
  content/es/getting_started/continuous_testing/_index.md
  content/fr/developers/ide_integrations/idea/_index.md
  content/fr/developers/ide_integrations/visual_studio/_index.md
  content/ja/code_analysis/_index.md
  content/ja/developers/ide_integrations/_index.md
  content/ja/developers/ide_integrations/idea/_index.md
  content/ja/developers/ide_integrations/vscode/_index.md
  content/ko/code_analysis/_index.md
  content/ko/code_analysis/static_analysis/_index.md
  content/ko/developers/ide_integrations/_index.md
  content/ko/developers/ide_integrations/idea/_index.md
  content/ko/developers/ide_integrations/visual_studio/_index.md
  content/ko/developers/ide_integrations/vscode/_index.md
  content/ko/getting_started/continuous_testing/_index.md
  static/images/developers/ide_plugins/idea/IDEA.png
  static/images/developers/ide_plugins/idea/ci-navigation.png
  static/images/developers/ide_plugins/idea/code-insights.png
  static/images/developers/ide_plugins/idea/flamegraph1.png
  static/images/developers/ide_plugins/idea/install-plugin.png
  static/images/developers/ide_plugins/idea/interest-options.png
  static/images/developers/ide_plugins/idea/log-explorer-link.png
  static/images/developers/ide_plugins/idea/log-patterns-popup.png
  static/images/developers/ide_plugins/idea/log-patterns.png
  static/images/developers/ide_plugins/idea/logs-navigation.png
  static/images/developers/ide_plugins/idea/overview1.png
  static/images/developers/ide_plugins/idea/project-tree-view.png
  static/images/developers/ide_plugins/idea/separate-flamegraph-by.png
  static/images/developers/ide_plugins/idea/static-analysis-issue.png
  static/images/developers/ide_plugins/idea/static-analysis-onboard.png
  static/images/developers/ide_plugins/idea/top-list1.png
  static/images/developers/ide_plugins/idea/view-in-idea.png
  static/images/developers/ide_plugins/visual_studio/code-insights.png
  static/images/developers/ide_plugins/visual_studio/datadog-for-visual-studio.png
  static/images/developers/ide_plugins/visual_studio/logs-navigation.png
  static/images/developers/ide_plugins/visual_studio/top-list.png
  static/images/developers/ide_plugins/visual_studio/view-in-visual-studio.png
  static/images/developers/ide_plugins/vscode/code-insights.png
  static/images/developers/ide_plugins/vscode/datadog-vscode.png
  static/images/developers/ide_plugins/vscode/static-analysis-issue.png
  static/images/developers/ide_plugins/vscode/static-analysis-onboard.png
  static/images/developers/ide_plugins/vscode/test_configuration_modified_starturl.png
  static/images/developers/ide_plugins/vscode/view-in-vscode.png
  static/images/developers/ide_plugins/vscode/vscode-extension-demo.png
Labels: Architecture, Images

#23077 Update image in docs with correct table names
  static/images/integrations/servicenow/servicenow-itxm-tile-setup-2024.png
Labels: Images, under_review

#23068 remove check for event state in popstate listener
  assets/scripts/datadog-docs.js
Labels: Architecture

#22997 [CLOUDCRAFT-607] Document Cloudcraft's "GET /team" API endpoint
  config/_default/menus/main.en.yaml
  content/en/cloudcraft/api/teams/_index.md
  data/cloudcraft.json
  layouts/partials/nav/left-nav.html
Labels: Architecture, editorial review

#23053 Add step
  content/en/integrations/guide/aws-manual-setup.md
Labels: Guide

#22967 Update OTel Custom Instrumentation Pages
  content/en/tracing/trace_collection/custom_instrumentation/dotnet/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/go/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/java/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/nodejs/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/php/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/python/otel.md
  layouts/shortcodes/otel-custom-instrumentation-lang.md
Labels: Architecture

#22785 Kaushik.akula/crosslink obs pipelines docs
  content/en/agent/logs/_index.md
  content/en/logs/guide/best-practices-for-log-management.md
  content/en/logs/log_configuration/archives.md
  content/en/logs/log_configuration/forwarding_custom_destinations.md
  content/en/sensitive_data_scanner/_index.md
Labels: Guide

#23096 Surface change alert guide to monitor types docs
  config/_default/menus/main.en.yaml
  content/en/dashboards/widgets/change.md
  content/en/monitors/guide/_index.md
  content/en/monitors/types/_index.md
  content/en/monitors/types/change-alert.md
  content/en/monitors/types/metric.md
  static/images/monitors/monitor_types/change-alert/configure_define_the_metrics.png
  static/images/monitors/monitor_types/change-alert/example_monitor_config.png
  static/images/monitors/monitor_types/change-alert/notebook_query_reconstruct_timeshift.png
Labels: Architecture, Images, Guide

#23034 Add recommended monitors documentation
  config/_default/menus/main.en.yaml
  content/en/monitors/recommended/_index.md
  static/images/monitors/recommended/recommended_templates.png
Labels: Architecture, editorial review, Images

#23106 Updated with note about HTTPS enforcement
  content/en/data_security/guide/tls_ciphers_deprecation.md
  content/en/integrations/fluentbit.md
Labels: Guide

#23036 udpdate SLO doc images
  content/en/service_management/service_level_objectives/error_budget.md
  content/en/service_management/service_level_objectives/metric.md
  content/en/service_management/service_level_objectives/monitor.md
  static/images/service_management/service_level_objectives/metric_slo_creation.png
  static/images/service_management/service_level_objectives/metric_slo_history_groups.png
  static/images/service_management/service_level_objectives/metric_slo_side_panel.png
  static/images/service_management/service_level_objectives/monitor_slo_overall_status.png
  static/images/service_management/service_level_objectives/monitor_slo_side_panel.png
  static/images/service_management/service_level_objectives/slo_create_set_alert.png
Labels: editorial review, Images

#23116 Bump datadog-lambda-js layer to version 109
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#23114 [WEB-4487] filter out invalid core products but allow build to pass
  layouts/glossary/list.html
Labels: Architecture

#23010 Adding docs for states and workflows in error tracking
  config/_default/menus/main.en.yaml
  content/en/error_tracking/issue_states.md
  content/en/logs/error_tracking/issue_states.md
  content/en/real_user_monitoring/error_tracking/issue_states.md
  content/en/tracing/error_tracking/issue_states.md
  static/images/error_tracking/issue-status-history.png
  static/images/error_tracking/regression-detection.png
  static/images/error_tracking/updating-issue-status.png
Labels: Architecture, editorial review, Images

#23052 update slo audit event info
  content/en/service_management/service_level_objectives/_index.md
  static/images/service_management/service_level_objectives/slo_audit_history_tab.png
Labels: Images

#23066 [DOCS-7911] Update log.md
  content/en/containers/kubernetes/log.md
Labels: editorial review

#22922 (DOCS-7884) Adds documentation for App Builder components
  config/_default/menus/main.en.yaml
  content/en/service_management/app_builder/build.md
  content/en/service_management/app_builder/components.md
Labels: Architecture

#23071 DOCS-7891: Update GCP instructions
  layouts/shortcodes/csm-setup-google-cloud.md
Labels: Architecture, security

#23132 Remove SBOM reference
  content/en/getting_started/application_security/software_composition_analysis.md
Labels: security

#23131 [CIVIS] Add flaky test metric to documentation
  content/en/tests/guides/flaky_test_management.md
  static/images/continuous_integration/flaky_test_metric.png
Labels: Images

#23146 Revert "[CIVIS] Add flaky test metric to documentation"
  content/en/tests/guides/flaky_test_management.md
  static/images/continuous_integration/flaky_test_metric.png
Labels: Images

#23153 Update asm-libraries-capabilities.md
  layouts/shortcodes/asm-libraries-capabilities.md
Labels: Architecture

#23159 Remove "beta" callouts from Feature Flag Tracking
  content/en/real_user_monitoring/browser/advanced_configuration.md
  content/en/real_user_monitoring/browser/data_collected.md
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
Labels: Guide

#23155 Fix some typos in the RUM docs
  content/en/account_management/billing/rum.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/ios.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/unity.md
  static/images/account_management/billing/rum/rum-webviews-impact-on-billing-2.png
Labels: Images

#22935 [RUM guide] Initialize your native SDK before RN starts
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/initialize-your-native-sdk-before-react-native-starts.md
  static/images/real_user_monitoring/guide/initialize-your-native-sdk-before-react-native-starts/initialize-sdk-before-rn-1.png
  static/images/real_user_monitoring/guide/initialize-your-native-sdk-before-react-native-starts/initialize-sdk-before-rn-2.png
  static/images/real_user_monitoring/guide/initialize-your-native-sdk-before-react-native-starts/initialize-sdk-before-rn-3.png
Labels: editorial review, Images, Guide

#23161 [test-visibility] Update Early Flake Detection's commit explanation
  content/en/tests/early_flake_detection/_index.md
  static/images/continuous_integration/early_flake_detection_commit_new_test_explanation.png
  static/images/continuous_integration/early_flake_detection_commits.png
Labels: Images

#23162 faster notranslate tagging
  .gitlab-ci.yml
  local/bin/py/add_notranslate_tag.py
Labels: Architecture

#23164 [APM > .NET Tracer] Add .NET 4.8.1 to list of supported runtimes
  content/en/tracing/trace_collection/compatibility/dotnet-framework.md
Labels: tracing

#23138 Add Monitor Quality documentation
  config/_default/menus/main.en.yaml
  content/en/monitors/downtimes/_index.md
  content/en/monitors/quality/_index.md
  static/images/monitors/quality/filter_monitor_quality.png
Labels: Architecture, editorial review, Images

#23094 [DOCS-7840] Add OP setup/bootstrap doc
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/_index.md
  content/en/observability_pipelines/setup_opw.md
Labels: Architecture, WORK IN PROGRESS

#22668 LLM Observability docs
  config/_default/menus/main.en.yaml
  content/en/tracing/llm_observability/_index.md
  content/en/tracing/llm_observability/api.md
  content/en/tracing/llm_observability/quickstart.md
  content/en/tracing/llm_observability/sdk.md
  content/en/tracing/llm_observability/span_kinds.md
  content/en/tracing/llm_observability/trace_an_llm_application.md
  static/images/tracing/llm_observability/clusters-page.png
  static/images/tracing/llm_observability/dashboard.png
  static/images/tracing/llm_observability/example-trace.png
  static/images/tracing/llm_observability/llm-observability-overview.png
  static/images/tracing/llm_observability/prompt-injection.png
  static/images/tracing/llm_observability/quickstart-trace.png
Labels: Architecture, editorial review, Images

#23075 Add details about the traceparent header
  content/en/real_user_monitoring/guide/browser-sdk-upgrade.md
  content/en/real_user_monitoring/platform/connect_rum_and_traces.md
Labels: Guide

#23141 Filter and enrich audit events with Reference Tables
  content/en/account_management/audit_trail/_index.md
  static/images/account_management/audit_logs/reference_tables.png
Labels: editorial review, Images

#23169 delete in-code config section in LLM Obs docs
  content/en/tracing/llm_observability/quickstart.md
  content/en/tracing/llm_observability/sdk.md
  content/en/tracing/llm_observability/trace_an_llm_application.md
Labels: editorial review

#22929 Add Monitor hybrid React Native apps guide
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/monitor-hybrid-react-native-applications.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/reactnative.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/data_collected/reactnative.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/reactnative.md
Labels: Guide

#22259 [SYNTHETICS][BROWSER TEST] add doc about the extraction from email body step
  content/en/synthetics/browser_tests/actions.md
Labels: synthetics

#17650 Update testing-file-upload-and-download.md
  content/en/synthetics/guide/testing-file-upload-and-download.md
Labels: Guide

#23195 Update CSM private beta note
  content/en/security/cloud_security_management/setup/fargate.md
Labels: security

#23173 Remove US-FED banners from DBM docs
  content/en/database_monitoring/_index.md
  content/en/database_monitoring/architecture.md
  content/en/database_monitoring/connect_dbm_and_apm.md
  content/en/database_monitoring/data_collected.md
  content/en/database_monitoring/database_hosts.md
  content/en/database_monitoring/guide/_index.md
  content/en/database_monitoring/guide/heroku-postgres.md
  content/en/database_monitoring/guide/managed_authentication.md
  content/en/database_monitoring/guide/sql_alwayson.md
  content/en/database_monitoring/guide/tag_database_statements.md
  content/en/database_monitoring/query_metrics.md
  content/en/database_monitoring/query_samples.md
  content/en/database_monitoring/setup_mysql/_index.md
  content/en/database_monitoring/setup_mysql/advanced_configuration.md
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/azure.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
  content/en/database_monitoring/setup_mysql/troubleshooting.md
  content/en/database_monitoring/setup_oracle/_index.md
  content/en/database_monitoring/setup_oracle/autonomous_database.md
  content/en/database_monitoring/setup_oracle/exadata.md
  content/en/database_monitoring/setup_oracle/rac.md
  content/en/database_monitoring/setup_oracle/rds.md
  content/en/database_monitoring/setup_oracle/selfhosted.md
  content/en/database_monitoring/setup_oracle/troubleshooting.md
  content/en/database_monitoring/setup_postgres/_index.md
  content/en/database_monitoring/setup_postgres/advanced_configuration.md
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/azure.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/rds.md
  content/en/database_monitoring/setup_postgres/selfhosted.md
  content/en/database_monitoring/setup_postgres/troubleshooting.md
  content/en/database_monitoring/setup_sql_server/_index.md
  content/en/database_monitoring/setup_sql_server/azure.md
  content/en/database_monitoring/setup_sql_server/gcsql.md
  content/en/database_monitoring/setup_sql_server/rds.md
  content/en/database_monitoring/setup_sql_server/selfhosted.md
  content/en/database_monitoring/setup_sql_server/troubleshooting.md
  content/en/database_monitoring/troubleshooting.md
Labels: Guide

#23190 [RUM] DOCS-7982 Consolidate swiftui into ios
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/ios.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/swiftui.md
  layouts/partials/rum/rum-getting-started-mobile-setup.html
Labels: Architecture

#23196 Update pci-logs.md
  layouts/shortcodes/pci-logs.md
Labels: Architecture

#23172 (DOCS-7979) Add link to Action Catalog in app. Delete link from docs ToC
  config/_default/menus/main.en.yaml
  content/en/service_management/app_builder/build.md
Labels: Architecture

#23199 Update params.ja.yaml
  config/_default/params.ja.yaml
Labels: Architecture

#23215 Fix Installation Steps for the VMWare Tanzu Application Monitoring Tile
  content/en/integrations/guide/application-monitoring-vmware-tanzu.md
Labels: Guide

#22866 DOCS-7747, DOCS-7795 Adds APM Deployment Tracking Documentation
  config/_default/menus/main.en.yaml
  content/en/dora_metrics/_index.md
  content/en/dora_metrics/data_collected/_index.md
  content/en/dora_metrics/deployments/_index.md
  content/en/dora_metrics/deployments/apm.md
  content/en/dora_metrics/deployments/deployment_api.md
  content/en/dora_metrics/failures/_index.md
  content/en/dora_metrics/failures/incident_api.md
  content/en/dora_metrics/failures/pagerduty.md
  content/en/dora_metrics/setup/_index.md
  content/en/dora_metrics/setup/deployments.md
  static/images/dora_metrics/dora_page_dark.png
  static/images/dora_metrics/dora_page_light.png
  static/images/dora_metrics/events.png
  static/images/dora_metrics/home.png
Labels: Architecture, editorial review, Images

#23202 (DOCS-7879) App Builder - Connections and HTTP Request
  config/_default/menus/main.en.yaml
  content/en/service_management/app_builder/auth.md
  content/en/service_management/app_builder/connections.md
  content/en/service_management/app_builder/http_request.md
  content/en/service_management/workflows/connections.md
  static/images/service_management/new-connection.png
Labels: Architecture, Images

#23100 DOCS-7866 added Simple rule creator for CSM Threats
  config/_default/menus/main.en.yaml
  content/en/security/threats/workload_security_rules/_index.md
  content/en/security/threats/workload_security_rules/custom_rules.md
  static/images/security/csm/csm_threats_simple_rule_creator.png
Labels: Architecture, editorial review, Images, security

#23120 [rum] DOCS-7809 Add supported platforms versions ios
  config/_default/menus/main.en.yaml
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/ios.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/ios.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/supported_versions/_index.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/supported_versions/ios.md
  layouts/partials/rum/rum-getting-started-mobile-supported-versions.html
Labels: Architecture

#23211 [DOCS-7854] SD-WAN updates
  content/en/network_monitoring/devices/_index.md
Labels: okr1

#23233 Fix OP Datadog config example
  layouts/shortcodes/observability_pipelines/log_source_configuration/datadog_agent.md
Labels: Architecture

#23227 [containers] Update documentation to make AKS spec.nodeName setting more clear
  content/en/containers/kubernetes/distributions.md
Labels: containers

#23224 Add book font for dropdown nav
  assets/styles/_webfonts.scss
  go.mod
  go.sum
  static/fonts/NationalWeb-Book.eot
  static/fonts/NationalWeb-Book.woff
  static/fonts/NationalWeb-Book.woff2
Labels: Architecture

#23171 DOCS-7887 Agent Events explorer draft
  config/_default/menus/main.en.yaml
  content/en/security/threats/investigate_agent_events.md
  static/images/security/csm/agent_events_explorer_details.png
Labels: Architecture, Images, security

#23237 add other useful yaml files to notranslate
  local/bin/py/add_notranslate_tag.py
Labels: Architecture

#23118 Report ANRs in RUM mobile android SDKs
  content/en/real_user_monitoring/error_tracking/mobile/android.md
  static/images/real_user_monitoring/error_tracking/rum-anr-fatal.png
  static/images/real_user_monitoring/error_tracking/rum-anr-non-fatal.png
Labels: Images

#23201 Update params.en.yaml
  config/_default/params.en.yaml
Labels: Architecture

#23228 Update screenshots of the DBM hosts page features
  content/en/database_monitoring/database_hosts.md
  static/images/database_monitoring/databases-list-2.png
  static/images/database_monitoring/db-list-active-connections-2.png
  static/images/database_monitoring/db-list-details-panel-cropped-2.png
  static/images/database_monitoring/db-list-top-queries-2.png
Labels: Images

#23231 [APM > .NET Tracer] Update compatibility page
  content/en/tracing/trace_collection/compatibility/dotnet-core.md
  content/en/tracing/trace_collection/compatibility/dotnet-framework.md
Labels: tracing

#22965 DOCS-7780 - OpenTelemetry for AWS Lambda
  config/_default/menus/main.en.yaml
  content/en/serverless/aws_lambda/opentelemetry.md
  content/en/serverless/guide/opentelemetry.md
Labels: Architecture, Guide

#23243 [Case Management] creating a section dedicated to notifications and tickets
  config/_default/menus/main.en.yaml
  content/en/service_management/case_management/_index.md
  content/en/service_management/case_management/create_notifications_and_third_party_tickets.md
  content/en/service_management/case_management/settings.md
  content/en/service_management/case_management/view_and_manage/_index.md
Labels: Architecture

#23174 LLMObs SDK documentation edits
  content/en/tracing/llm_observability/_index.md
  content/en/tracing/llm_observability/api.md
  content/en/tracing/llm_observability/quickstart.md
  content/en/tracing/llm_observability/sdk.md
  content/en/tracing/llm_observability/trace_an_llm_application.md
Labels: editorial review

#23235 (DOCS-8008) Hide UI extension references
  .gitignore
  config/_default/menus/main.en.yaml
  content/en/account_management/org_settings/oauth_apps.md
  content/en/developers/authorization/_index.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#23252 LLMObs submitting evaluations page
  config/_default/menus/main.en.yaml
  content/en/tracing/llm_observability/api.md
  content/en/tracing/llm_observability/sdk.md
  content/en/tracing/llm_observability/submit_evaluations.md
  content/en/tracing/llm_observability/trace_an_llm_application.md
Labels: Architecture, editorial review

#23006 Create dedicated DBM agent integration overhead page
  config/_default/menus/main.en.yaml
  content/en/database_monitoring/agent_integration_overhead.md
  content/en/database_monitoring/setup_mysql/_index.md
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/azure.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
  content/en/database_monitoring/setup_oracle/autonomous_database.md
  content/en/database_monitoring/setup_oracle/exadata.md
  content/en/database_monitoring/setup_oracle/rac.md
  content/en/database_monitoring/setup_oracle/rds.md
  content/en/database_monitoring/setup_oracle/selfhosted.md
  content/en/database_monitoring/setup_postgres/_index.md
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/azure.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/rds.md
  content/en/database_monitoring/setup_postgres/selfhosted.md
  content/en/database_monitoring/setup_sql_server/_index.md
  layouts/shortcodes/dbm-sqlserver-before-you-begin.md
Labels: Architecture, editorial review

#23261 Remove dd-trace-js v3.x references from ASM documentation pages
  content/en/security/application_security/enabling/compatibility/nodejs.md
  layouts/shortcodes/asm-libraries-capabilities.md
Labels: Architecture

#22876 [DOCS-7686] moving mobile app testing to Synthetics Nav
  config/_default/menus/main.en.yaml
  content/en/synthetics/_index.md
  content/en/synthetics/api_tests/_index.md
  content/en/synthetics/api_tests/dns_tests.md
  content/en/synthetics/api_tests/errors.md
  content/en/synthetics/api_tests/grpc_tests.md
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/api_tests/icmp_tests.md
  content/en/synthetics/api_tests/ssl_tests.md
  content/en/synthetics/api_tests/tcp_tests.md
  content/en/synthetics/api_tests/udp_tests.md
  content/en/synthetics/api_tests/websocket_tests.md
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/browser_tests/actions.md
  content/en/synthetics/browser_tests/advanced_options.md
  content/en/synthetics/browser_tests/app-that-requires-login.md
  content/en/synthetics/browser_tests/test_results.md
  content/en/synthetics/faq/_index.md
  content/en/synthetics/guide/_index.md
  content/en/synthetics/mobile_app_testing/_index.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/_index.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/advanced_options.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/results.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/steps.md
  content/en/synthetics/mobile_app_testing/settings/_index.md
  content/en/synthetics/multistep.md
  content/en/synthetics/platform/_index.md
  content/en/synthetics/platform/apm/_index.md
  content/en/synthetics/platform/dashboards/_index.md
  content/en/synthetics/platform/dashboards/api_test.md
  content/en/synthetics/platform/dashboards/browser_test.md
  content/en/synthetics/platform/dashboards/test_summary.md
  content/en/synthetics/platform/metrics/_index.md
  content/en/synthetics/platform/private_locations/_index.md
  content/en/synthetics/platform/private_locations/configuration.md
  content/en/synthetics/platform/private_locations/dimensioning.md
  content/en/synthetics/platform/private_locations/monitoring.md
  content/en/synthetics/platform/settings/_index.md
  content/en/synthetics/platform/test_coverage/_index.md
  content/en/tracing/other_telemetry/synthetics/_index.md
  layouts/partials/nav/left-nav.html
  static/images/synthetics/platform/synthetics_dashboards_2.png
Labels: Architecture, WORK IN PROGRESS, Images, Guide, FAQ

#23278 [DOCS-7986] Update collect-heroku-logs.md
  content/en/logs/guide/collect-heroku-logs.md
Labels: Guide

#23229 added overview screenshot and moved tracing screenshot down
  content/en/tracing/llm_observability/_index.md
  static/images/tracing/llm_observability/llm-observability-landing.png
Labels: Images

#23286 fixing Mobile app advanced options menu
  config/_default/menus/main.en.yaml
Labels: Architecture

#23182 [ASM] Single Step ASM Helm chart
  content/en/security/application_security/enabling/single_step/code_security.md
  content/en/security/application_security/enabling/single_step/threat_detection.md
Labels: editorial review

#23282 [WEB-4933] updates `notranslate` job to run bulk updates in batches
  local/bin/py/add_notranslate_tag.py
Labels: Architecture

#23283 remove old 6.11 warnings from Windows Agent docs
  content/en/agent/basic_agent_usage/windows.md
  content/en/agent/guide/windows-agent-ddagent-user.md
Labels: Guide

#23079 (DOCS-7877) App Builder tables info
  config/_default/menus/main.en.yaml
  content/en/service_management/app_builder/build.md
  content/en/service_management/app_builder/components.md
  content/en/service_management/app_builder/tables.md
Labels: Architecture, editorial review

#23298 Updating Scorecards documentation
  content/en/service_catalog/scorecards.md
  static/images/tracing/service_catalog/scorecard-historical-metrics.png
  static/images/tracing/service_catalog/scorecard-metric.png
Labels: Images

#23275 DOCS-7972 ASM threat intel historical tracing
  content/en/security/application_security/threats/threat-intelligence.md
  go.mod
  go.sum
  static/images/security/application_security/threats/threat_intel/threat_intel_ref_join.png
Labels: editorial review, Images, security

#23280 [DOCS-7566] Update log docs for new nav
  content/en/logs/explorer/export.md
  content/en/logs/explorer/watchdog_insights.md
  content/en/logs/guide/getting-started-lwl.md
  content/en/logs/guide/logs-not-showing-expected-timestamp.md
  content/en/logs/log_configuration/forwarding_custom_destinations.md
  content/en/logs/log_configuration/logs_to_metrics.md
  content/en/logs/log_configuration/pipelines.md
  content/en/logs/log_configuration/rehydrating.md
  content/en/logs/troubleshooting/_index.md
  static/images/logs/explorer/export3.png
  static/images/logs/explorer/watchdog_insights/log-anomalies-light-cropped.mp4
Labels: Images, Guide

#23295 [DOCS-8037] Add info about OP quota processor name
  layouts/shortcodes/observability_pipelines/processors/quota.md
Labels: Architecture

#23300 Update "Code Profiling" Glossary tag to "Continuous Profiler"
  config/_default/params.yaml
  content/en/glossary/terms/flame_graph.md
  content/en/glossary/terms/profile.md
  content/en/glossary/terms/timeline_view.md
Labels: Architecture

#23230 [RUM] DOCS-7807 Enable app hang monitoring
  content/en/real_user_monitoring/error_tracking/mobile/ios.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/ios.md
  static/images/real_user_monitoring/error_tracking/ios-fatal-app-hang.png
  static/images/real_user_monitoring/error_tracking/ios-non-fatal-app-hang.png
Labels: Images

#23279 Node.js updates for ESM support
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/nodejs.md
Labels: editorial review

#23302 [DOCS-8004] adding more clarifying info to browser tests passkeys
  content/en/synthetics/guide/browser-tests-passkeys.md
  static/images/synthetics/guide/browser-tests-passkeys/synthetics_add_variable.png
Labels: Images, Guide

#23309 Add files via upload - for update in Integrations in dogweb
  static/images/integrations/microsoft_teams/microsoft_teams_install_datadog_in_teams_v2.png
  static/images/integrations/microsoft_teams/ms_teams_incident_updates_v2.png
Labels: Images

#23258 cpp: Remove remaining references of `dd-opentracing-cpp`
  content/en/tracing/guide/setting_up_APM_with_cpp.md
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/cpp.md
  content/en/tracing/trace_collection/custom_instrumentation/cpp/dd-api.md
  content/en/tracing/trace_collection/library_config/cpp.md
  content/en/tracing/trace_collection/proxy_setup/_index.md
  content/en/tracing/trace_collection/trace_context_propagation/cpp.md
Labels: Guide

#23303 Add coverage of DBM Stored Procedures
  content/en/database_monitoring/database_hosts.md
  content/en/database_monitoring/query_metrics.md
  static/images/database_monitoring/stored-procedures.png
Labels: Images

#23170 (DOCS-7865)(App Builder) JS Expressions
  config/_default/menus/main.en.yaml
  content/en/service_management/app_builder/components.md
  content/en/service_management/app_builder/expressions.md
  static/images/service_management/app_builder/admin-console.png
  static/images/service_management/app_builder/app-state.png
  static/images/service_management/app_builder/inspect-data.png
  static/images/service_management/app_builder/interpolation.png
  static/images/service_management/app_builder/is-disabled.png
  static/images/service_management/app_builder/is-loading.png
  static/images/service_management/app_builder/isloading.png
Labels: Architecture, editorial review, Images

#23210 Add SSI Uninstall Steps to Agent Pages
  content/en/agent/basic_agent_usage/amazonlinux.md
  content/en/agent/basic_agent_usage/centos.md
  content/en/agent/basic_agent_usage/deb.md
  content/en/agent/basic_agent_usage/fedora.md
  content/en/agent/basic_agent_usage/redhat.md
  content/en/agent/basic_agent_usage/ubuntu.md
  content/en/containers/docker/_index.md
  layouts/shortcodes/apm-ssi-uninstall-linux.md
Labels: Architecture

#23020 DOCS-7862 Quality Gates Documentation Update
  config/_default/menus/main.en.yaml
  content/en/quality_gates/_index.md
  content/en/quality_gates/explorer/_index.md
  content/en/quality_gates/guide/_index.md
  content/en/quality_gates/guide/understanding_rule_scopes.md
  content/en/quality_gates/search/_index.md
  content/en/quality_gates/setup/_index.md
  static/images/quality_gates/audit_event.png
  static/images/quality_gates/executions_sidepanel.png
  static/images/quality_gates/explorer/default_view.png
  static/images/quality_gates/explorer/executions_1.png
  static/images/quality_gates/explorer/expand_view.png
  static/images/quality_gates/explorer/facets_gates.png
  static/images/quality_gates/explorer/facets_rules.png
  static/images/quality_gates/explorer/gates_1.png
  static/images/quality_gates/explorer/rules.png
  static/images/quality_gates/explorer/static_analysis_rule.png
  static/images/quality_gates/rule_type.png
  static/images/quality_gates/rules_list.png
  static/images/quality_gates/setup/add_tag.png
  static/images/quality_gates/setup/custom_scope.png
  static/images/quality_gates/setup/delete.png
  static/images/quality_gates/setup/edit_clone.png
  static/images/quality_gates/setup/flaky_test.png
  static/images/quality_gates/setup/pipeline_rule.png
  static/images/quality_gates/setup/sca.png
  static/images/quality_gates/setup/static_analysis.png
Labels: Architecture, editorial review, Images, Guide

#23315 replacing image
  content/en/security/threats/workload_security_rules/_index.md
  static/images/security/cws/threat_detection_pipeline_2.png
Labels: Images

#23318 replacing image
  content/en/security/cloud_security_management/identity_risks/_index.md
  static/images/security/identity_risks/side_panel_action_buttons_2.png
Labels: Images

#23064 DOCS-7722 CI Visibility and Test Visibility Product Landing Page Edits
  content/en/continuous_integration/_index.md
  content/en/tests/_index.md
  layouts/partials/continuous_integration/ci-tests-setup.html
  static/images/integrations_logos/container.svg
  static/images/integrations_logos/junit_xml.png
Labels: Architecture, Images

#23266 DOCS-7853 CD Visibility Documentation Update
  content/en/continuous_delivery/_index.md
  content/en/continuous_delivery/deployments/_index.md
  content/en/continuous_delivery/deployments/ciproviders.md
  layouts/partials/continuous_delivery/cd-pipelines-getting-started.html
  static/images/continuous_delivery/explorer/create_facet.png
  static/images/continuous_delivery/explorer/default_view.png
  static/images/continuous_delivery/explorer/deployment_executions.png
  static/images/continuous_delivery/explorer/facets.png
  static/images/continuous_delivery/explorer/saved_view.png
  static/images/continuous_delivery/search/deployments.png
  static/images/continuous_delivery/search/details_side_panel.png
  static/images/continuous_delivery/supported_integrations.png
Labels: Architecture, Images

#23306 Update _index.md
  content/en/security/cloud_security_management/setup/_index.md
Labels: security

#23219 Inferred service dependencies guide changes
  content/en/service_catalog/guides/troubleshooting.md
  content/en/tracing/guide/inferred-service-opt-in.md
  content/en/tracing/services/service_page.md
Labels: Guide

#23332 Add files via upload
  content/en/account_management/plan_and_usage/cost_details.md
  static/images/account_management/plan_and_usage/multiorg-current-month-historical-costs.png
  static/images/account_management/plan_and_usage/multiorg-prior-month-historical-costs.png
  static/images/account_management/plan_and_usage/suborg-cost-trends.png
Labels: Images

#23340 Add RUM analytics page to nav
  config/_default/menus/main.en.yaml
Labels: Architecture

#22498 [K9] Minor formatting on the Threat Intel page
  content/en/security/threat_intelligence.md
Labels: mergequeue-status: removed

#23339 Add App Service logs note
  content/en/logs/guide/azure-native-logging-guide.md
Labels: Guide

#23328 [DOCS-8041] updating mobile app test steps and videos
  content/en/synthetics/mobile_app_testing/mobile_app_tests/steps.md
  static/images/mobile_app_testing/test_steps/extract_variable_from_element.mp4
  static/images/mobile_app_testing/test_steps/restart_application.mp4
  static/images/mobile_app_testing/test_steps/scroll_to_element_2.mp4
Labels: Images

#23329 CD Visibility Landing Page Edit
  content/en/continuous_delivery/_index.md
  content/ja/continuous_delivery/_index.md
  layouts/partials/continuous_delivery/cd-getting-started.html
  layouts/partials/continuous_delivery/cd-pipelines-getting-started.html
  static/images/integrations_logos/azure-pipelines_small.svg
Labels: Architecture, Images

#23043 Reorganize dashboard sharing
  config/_default/menus/main.en.yaml
  content/en/dashboards/guide/slo_data_source.md
  content/en/dashboards/sharing.md
  content/en/dashboards/sharing/_index.md
  content/en/dashboards/sharing/graphs.md
  content/en/dashboards/sharing/public_dashboards.md
  content/en/dashboards/sharing/scheduled_reports.md
  content/en/dashboards/widgets/split_graph.md
Labels: Architecture, editorial review, Guide

#23142 DOCS-7717: Security Fargate Getting Started Guide
  config/_default/menus/main.en.yaml
  content/en/security/cloud_security_management/setup/fargate.md
  content/en/security/guide/_index.md
  content/en/security/guide/aws_fargate_config_guide.md
  layouts/shortcodes/cloud-siem-aws-cloudtrail-enable.md
  layouts/shortcodes/cloud-siem-aws-cloudtrail-send-logs.md
  layouts/shortcodes/csm-fargate-eks-sidecar.md
Labels: Architecture, editorial review, security, Guide

#23357 Update template-variable-evaluation.md
  content/en/monitors/guide/template-variable-evaluation.md
Labels: Guide

#23350 DOCS-7727 Code Analysis + Source Code Integration Edits
  content/en/code_analysis/_index.md
  content/en/integrations/guide/source-code-integration.md
  static/images/code_analysis/source_code_integration.png
  static/images/integrations/guide/source_code_integration/code-analysis-scan.png
  static/images/integrations/guide/source_code_integration/test_run_blurred.png
Labels: Images, Guide

#23371 Data Collection Guide: Fix Trace Links and Values
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

#23129 Add a page for Test Visibility flaky test retries feature + fix supported trace JS versions in Selenium RUM page
  config/_default/menus/main.en.yaml
  content/en/tests/_index.md
  content/en/tests/browser_tests.md
  content/en/tests/early_flake_detection/_index.md
  content/en/tests/flaky_test_retries/_index.md
  static/images/continuous_integration/flaky_test_retries_test_settings.png
Labels: Architecture, editorial review, Images

#23263 Update Lambda Extension Installation Instructions for new Terraform Module (Node and Python)
  content/en/serverless/aws_lambda/installation/nodejs.md
  content/en/serverless/aws_lambda/installation/python.md
Labels: editorial review

#23376 Add Static Analysis to Visual Studio extension docs
  content/en/developers/ide_plugins/visual_studio/_index.md
  static/images/developers/ide_plugins/visual_studio/static-analysis-issue.png
Labels: Images

#23345 Update SSI uninstall steps for linux
  layouts/shortcodes/apm-ssi-uninstall-linux.md
Labels: Architecture
