Repository DataDog/documentation, pull requests merged in 2024-07, with the labels that each got.

#23859 [reporting] update screenshots | DBNBK-121, CRP-913
  content/en/dashboards/sharing/scheduled_reports.md
  static/images/dashboards/scheduled_reports/org_preference.png
  static/images/dashboards/scheduled_reports/permissions.png
Labels: Images

#23954 Update Lambda Extension Installation Instructions for Datadog Lambda Terraform Module (.NET and Java)
  content/en/serverless/aws_lambda/installation/dotnet.md
  content/en/serverless/aws_lambda/installation/java.md
  content/en/serverless/aws_lambda/installation/nodejs.md
  content/en/serverless/aws_lambda/installation/python.md
Labels: editorial review

#23891 Add relevant usage migration guide
  content/en/account_management/guide/_index.md
  content/en/account_management/guide/relevant-usage-migration.md
Labels: editorial review, Guide

#23541 DOCS-8087: Support matrix for CSM Agentless Scanning
  config/_default/menus/main.en.yaml
  content/en/security/cloud_security_management/agentless_scanning/compatibility.md
Labels: Architecture, security

#23826 OTLP Intake Endpoint
  assets/scripts/config/regions.config.js
  content/en/opentelemetry/otlp_endpoint.md
Labels: Architecture

#23530 Remove references to Profiling insights
  content/en/developers/ide_plugins/idea/_index.md
  content/en/developers/ide_plugins/visual_studio/_index.md
  content/en/developers/ide_plugins/vscode/_index.md
  static/images/developers/ide_plugins/idea/code-insights-2.png
  static/images/developers/ide_plugins/vscode/datadog-vscode-2.png
Labels: Images

#23982 reset bootstrap hover color variable to fix link hover color issues
  assets/styles/pages/_global.scss
Labels: Architecture

#23983 Add blog links
  content/en/integrations/guide/source-code-integration.md
  content/en/security/cloud_security_management/identity_risks/_index.md
  content/en/security/cloud_siem/historical_jobs.md
  content/en/security/guide/aws_fargate_config_guide.md
  content/en/sensitive_data_scanner/_index.md
Labels: Guide

#23849 Add documentation on how to setup tracer for chiseled containers
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/dotnet-core.md
Labels: editorial review

#23999 Bump datadog-lambda-extension layer to version 59
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#24012 Inferred services private beta guide - Fix agent configuration instructions
  content/en/tracing/guide/inferred-service-opt-in.md
Labels: Guide

#24017 Updates docs for multi-index apm dashboard queries
  content/en/glossary/terms/intelligent_retention_filter.md
  content/en/tracing/guide/trace_queries_dataset.md
  content/en/tracing/trace_explorer/_index.md
  content/en/tracing/trace_pipeline/trace_retention.md
Labels: Guide

#23617 Update monitors docs with Granular Access control
  content/en/account_management/rbac/granular_access.md
  content/en/getting_started/monitors/_index.md
  content/en/monitors/configuration/_index.md
  content/en/monitors/guide/how-to-set-up-rbac-for-monitors.md
  content/en/monitors/notify/_index.md
  content/en/observability_pipelines/legacy/guide/set_quotas_for_data_sent_to_a_destination.md
  static/images/monitors/configuration/define_permissions_audit_notifications.png
Labels: Images, Guide

#24020 [DOCS-8379] Add watchdog terminations docs, clean app hangs one, and update corresponding mobile vitals
  content/en/real_user_monitoring/error_tracking/mobile/ios.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/mobile_vitals/_index.md
  static/images/real_user_monitoring/error_tracking/ios-watchdog-termination.png
  static/images/real_user_monitoring/error_tracking/json-tab.png
Labels: Images, real_user_monitoring

#24022 Resource based sampling supported versions + private beta form link
  content/en/tracing/guide/resource_based_sampling.md
  content/en/tracing/trace_pipeline/ingestion_controls.md
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
Labels: Guide

#23944 docs(vscode): add exception replay feature
  content/en/developers/ide_plugins/vscode/_index.md
  static/images/developers/ide_plugins/vscode/exception_replay.mp4
Labels: editorial review, Images

#23673 DOCS-7946: Add instructions for custom frameworks
  content/en/security/cloud_security_management/misconfigurations/frameworks_and_benchmarks/_index.md
  content/en/security/cloud_security_management/misconfigurations/frameworks_and_benchmarks/custom_frameworks.md
Labels: security

#24025 Add Windows Host Vuln scanning to CSM ENT Instructions (csm-windows-s…
  layouts/shortcodes/csm-windows-setup.md
Labels: Architecture

#23943 [FA] Reorder flare documentation
  content/en/agent/fleet_automation/_index.md
  content/en/agent/troubleshooting/send_a_flare.md
  content/es/agent/fleet_automation/_index.md
  content/es/agent/troubleshooting/send_a_flare.md
  content/ja/agent/troubleshooting/send_a_flare.md
  content/ko/agent/fleet_automation/_index.md
  layouts/shortcodes/remote-flare.md
  static/images/agent/fleet_automation/fleet-automation-flares.png
  static/images/agent/fleet_automation/fleet-automation-flares2.png
Labels: Architecture, editorial review, Images

#24006 [DOCS-8362] adding more info to advanced options for browser and mobile app testing
  content/en/synthetics/browser_tests/advanced_options.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/advanced_options.md
  static/images/mobile_app_testing/mobile_app_advanced_user_locator_2.png
  static/images/synthetics/browser_tests/advanced_options/advanced_user_locator_2.png
Labels: Images

#23978 Add security diagrams
  content/en/security/guide/aws_fargate_config_guide.md
  static/images/security/datadog_security_coverage_aws_fargate.png
Labels: Images, security, Guide

#24031 Add Sankey widget to documentation
  content/en/dashboards/widgets/_index.md
  content/en/dashboards/widgets/sankey.md
  static/images/dashboards/widgets/icons/sankey_light_large.svg
  static/images/dashboards/widgets/sankey/sankey_widget.png
Labels: Images

#24042 [DOCS-8375] moving Datadog Mobile app to Essentials
  config/_default/menus/main.en.yaml
  content/en/dashboards/_index.md
  content/en/getting_started/application/_index.md
  content/en/getting_started/dashboards/_index.md
  content/en/getting_started/incident_management/_index.md
  content/en/getting_started/monitors/_index.md
  content/en/mobile/_index.md
  content/en/mobile/enterprise_configuration.md
  content/en/monitors/_index.md
  content/en/monitors/manage/_index.md
  content/en/service_management/incident_management/incident_settings.md
Labels: Architecture

#23985 Add source code integration instructions to security docs
  config/_default/menus/main.en.yaml
  content/en/security/cloud_security_management/setup/_index.md
  content/en/security/cloud_security_management/setup/source_code_integrations.md
Labels: Architecture, security

#23658 (DOCS-8222)(Agent) Agent 6 installation
  content/en/agent/guide/_index.md
  content/en/agent/guide/install-agent-6.md
Labels: editorial review, Guide

#24050 Remove log_throttling config from Serverless documentation
  content/en/serverless/guide/agent_configuration.md
Labels: Guide

#24052 Update Code Analysis nav items
  config/_default/menus/main.en.yaml
Labels: Architecture

#24054 [DOCS-7943] Add shortcodes for OP use case images and update images
  content/en/observability_pipelines/archive_logs/_index.md
  content/en/observability_pipelines/archive_logs/datadog_agent.md
  content/en/observability_pipelines/archive_logs/fluent.md
  content/en/observability_pipelines/archive_logs/http_client.md
  content/en/observability_pipelines/archive_logs/splunk_hec.md
  content/en/observability_pipelines/archive_logs/splunk_tcp.md
  content/en/observability_pipelines/archive_logs/sumo_logic_hosted_collector.md
  content/en/observability_pipelines/archive_logs/syslog.md
  content/en/observability_pipelines/dual_ship_logs/_index.md
  content/en/observability_pipelines/dual_ship_logs/datadog_agent.md
  content/en/observability_pipelines/dual_ship_logs/fluent.md
  content/en/observability_pipelines/dual_ship_logs/http_client.md
  content/en/observability_pipelines/dual_ship_logs/splunk_hec.md
  content/en/observability_pipelines/dual_ship_logs/splunk_tcp.md
  content/en/observability_pipelines/dual_ship_logs/sumo_logic_hosted_collector.md
  content/en/observability_pipelines/dual_ship_logs/syslog.md
  content/en/observability_pipelines/log_volume_control/_index.md
  content/en/observability_pipelines/log_volume_control/datadog_agent.md
  content/en/observability_pipelines/log_volume_control/fluent.md
  content/en/observability_pipelines/log_volume_control/http_client.md
  content/en/observability_pipelines/log_volume_control/splunk_hec.md
  content/en/observability_pipelines/log_volume_control/splunk_tcp.md
  content/en/observability_pipelines/log_volume_control/sumo_logic_hosted_collector.md
  content/en/observability_pipelines/log_volume_control/syslog.md
  content/en/observability_pipelines/sensitive_data_redaction/_index.md
  content/en/observability_pipelines/sensitive_data_redaction/datadog_agent.md
  content/en/observability_pipelines/sensitive_data_redaction/fluent.md
  content/en/observability_pipelines/sensitive_data_redaction/http_client.md
  content/en/observability_pipelines/sensitive_data_redaction/splunk_hec.md
  content/en/observability_pipelines/sensitive_data_redaction/splunk_tcp.md
  content/en/observability_pipelines/sensitive_data_redaction/sumo_logic_hosted_collector.md
  content/en/observability_pipelines/sensitive_data_redaction/syslog.md
  content/en/observability_pipelines/split_logs/_index.md
  content/en/observability_pipelines/split_logs/datadog_agent.md
  content/en/observability_pipelines/split_logs/fluent.md
  content/en/observability_pipelines/split_logs/http_client.md
  content/en/observability_pipelines/split_logs/splunk_hec.md
  content/en/observability_pipelines/split_logs/splunk_tcp.md
  content/en/observability_pipelines/split_logs/sumo_logic_hosted_collector.md
  content/en/observability_pipelines/split_logs/syslog.md
  layouts/shortcodes/observability_pipelines/use_case_images/archive_logs.md
  layouts/shortcodes/observability_pipelines/use_case_images/dual_ship_logs.md
  layouts/shortcodes/observability_pipelines/use_case_images/log_volume_control.md
  layouts/shortcodes/observability_pipelines/use_case_images/sensitive_data_redaction.md
  layouts/shortcodes/observability_pipelines/use_case_images/split_logs.md
  static/images/observability_pipelines/use_cases/archive_logs_q2.png
  static/images/observability_pipelines/use_cases/dual_ship_logs_q2.png
  static/images/observability_pipelines/use_cases/log_volume_control_q2.png
  static/images/observability_pipelines/use_cases/sensitive_data_redaction_q2.png
  static/images/observability_pipelines/use_cases/split_logs_q2.png
Labels: Architecture, Images

#24061 Separate Regression Detection in Error Tracking
  config/_default/menus/main.en.yaml
  content/en/error_tracking/issue_states.md
  content/en/error_tracking/regression_detection.md
Labels: Architecture

#24064 fixes api page indexing
  layouts/partials/algolia/api-pages-full-index.json
Labels: Architecture

#24058 [DOCS-7700] - Consolidate autodiscovery guides
  content/en/containers/docker/integrations.md
  content/en/containers/guide/_index.md
  content/en/containers/guide/ad_identifiers.md
  content/en/containers/guide/auto_conf.md
  content/en/containers/guide/container-discovery-management.md
  content/en/containers/guide/template_variables.md
  content/en/containers/kubernetes/integrations.md
Labels: Guide

#24047 Remove mention of crashes on Error Tracking for web apps
  content/en/real_user_monitoring/error_tracking/browser.md
Labels: mergequeue-status: removed

#24063 Fix JavaScript equality symbol
  content/en/synthetics/guide/custom-javascript-assertion.md
Labels: Guide

#24049 [CROSSORG-13] Updated for Cross-Org Visibility beta
  config/_default/menus/main.en.yaml
  content/en/account_management/org_settings/cross_org_visibility.md
  content/en/account_management/org_settings/cross_org_visibility_api.md
Labels: Architecture

#24079 notranslate tag update
  local/bin/py/add_notranslate_tag.py
Labels: Architecture

#24082 DOCS-8344 Add Code Analysis Acronyms to Algolia
  local/bin/js/algolia-index-sync.js
Labels: Architecture

#24078 Bump datadog-lambda-extension layer to version 60
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#23789 [WEB-4980] refactors search result snippets
  assets/scripts/components/algolia/getHitData.js
  assets/scripts/components/algolia/searchbarHits.js
  assets/scripts/components/algolia/searchpageHits.js
Labels: Architecture

#24086 Make LastPass nav entry consistent with page title
  config/_default/menus/main.en.yaml
Labels: Architecture

#24076 Update relevant-usage-migration.md
  content/en/account_management/guide/relevant-usage-migration.md
Labels: Guide

#23799 Add image cell info to notebooks
  content/en/notebooks/_index.md
  static/images/notebooks/image_cell.png
  static/images/notebooks/notebooks_image_edit_action_tray.png
Labels: Images

#24059 Add tile for Android OTel tracing in custom integration page
  layouts/partials/apm/apm-otel-instrumentation-custom.html
Labels: Architecture

#24096 Improve DORA Metrics screenshots with Demo data
  content/en/dora_metrics/_index.md
  static/images/dora_metrics/deployments_2.png
  static/images/dora_metrics/export_2.png
  static/images/dora_metrics/failures_2.png
  static/images/dora_metrics/overview_2.png
Labels: Images

#24091 (DOCS-8296)(Agent) Move upgrade / versioning
  config/_default/menus/main.en.yaml
  content/en/agent/guide/_index.md
  content/en/agent/guide/upgrade_between_minor_versions.md
  content/en/agent/guide/upgrade_to_agent_6.md
  content/en/agent/guide/version_differences.md
  content/en/agent/upgrade.md
Labels: Architecture, Guide

#23933 Add the Node SDK to the list of Cloudcraft SDKs
  content/en/cloudcraft/api/_index.md
  layouts/partials/cloudcraft/sdk-languages.html
Labels: Architecture, editorial review

#24001 [CLOUDCRAFT-766] Component: Network ACL
  content/en/cloudcraft/components-aws/_index.md
  content/en/cloudcraft/components-aws/network-acl.md
  static/images/cloudcraft/components-aws/network-acl/component-network-acl-diagram.png
Labels: editorial review, Images

#24108 Update logs-rbac-permissions.md
  content/en/logs/guide/logs-rbac-permissions.md
Labels: Guide

#24077 (DOCS-8322)(workflows) For loop update
  content/en/service_management/workflows/actions/flow_control.md
  static/images/service_management/workflows/iteration2.png
Labels: Images

#24106 Update cost_details.md
  content/en/account_management/plan_and_usage/cost_details.md
  static/images/account_management/plan_and_usage/parent-org-multi-month-cost-changes.png
  static/images/account_management/plan_and_usage/suborg-multi-month-cost-changes.png
Labels: Images

#24115 Remove outdated UI image
  content/en/logs/guide/logs-rbac-permissions.md
Labels: Guide

#24103 Fix reference links for PGO docs
  content/en/profiler/guide/save-cpu-in-production-with-go-pgo.md
Labels: Guide

#23876 [CCV] Cloud cost management - Update Azure docs
  content/en/cloud_cost_management/azure.md
  static/images/cloud_cost/export_destination.png
  static/images/cloud_cost/improved_export.png
Labels: editorial review, Images

#24003 [CLOUDCRAFT-804] Live vs Snapshot Diagrams
  content/en/cloudcraft/getting-started/_index.md
  content/en/cloudcraft/getting-started/live-vs-snapshot-diagrams.md
  static/images/cloudcraft/getting-started/live-vs-snapshot-diagrams/mode-dropdown.png
Labels: editorial review, Images

#24094 Update the IP allowlist example
  content/en/account_management/org_settings/ip_allowlist.md
  static/images/account_management/org_settings/add_ip_2.png
Labels: Images

#24120 [DBM] bump up dbm mongo private beta agent and updates config to include database autodiscovery
  layouts/shortcodes/dbm-mongodb-agent-beta-install-docker.md
  layouts/shortcodes/dbm-mongodb-agent-beta-install-kubernetes.md
  layouts/shortcodes/dbm-mongodb-agent-beta-install-linux.md
  layouts/shortcodes/dbm-mongodb-agent-config-replica-set.md
  layouts/shortcodes/dbm-mongodb-agent-config-sharded-cluster.md
  layouts/shortcodes/dbm-mongodb-agent-config-standalone.md
  layouts/shortcodes/dbm-mongodb-agent-setup-docker.md
  layouts/shortcodes/dbm-mongodb-agent-setup-kubernetes.md
Labels: Architecture

#24111 Remove CSM Windows FIM beta banner
  layouts/shortcodes/csm-windows-setup.md
Labels: Architecture, security

#24110 (DOCS-8224) Remove references to Agent 5 and 6
  content/en/agent/basic_agent_usage/amazonlinux.md
  content/en/agent/basic_agent_usage/centos.md
  content/en/agent/basic_agent_usage/deb.md
  content/en/agent/basic_agent_usage/fedora.md
  content/en/agent/basic_agent_usage/oracle.md
  content/en/agent/basic_agent_usage/osx.md
  content/en/agent/basic_agent_usage/redhat.md
  content/en/agent/basic_agent_usage/suse.md
  content/en/agent/basic_agent_usage/ubuntu.md
  content/en/agent/basic_agent_usage/windows.md
  content/en/agent/guide/_index.md
  content/en/agent/guide/agent-5-commands.md
  content/en/agent/guide/agent-5-log-files.md
  content/en/agent/guide/install-agent-5.md
  content/en/agent/guide/windows-flare-agent-5.md
Labels: Guide

#24147 fix build
  content/en/agent/guide/windows-flare-agent-5.md
Labels: Guide

#24148 fixing algolia template
  layouts/_default/list.algolia.json
Labels: Architecture

#24149 fix styling for highlighted code lines
  assets/styles/vendor/_chroma-styles.scss
Labels: Architecture

#24136 (DOCS-8357) Restore missing image
  static/images/integrations/microsoft_teams/ms_teams_incident_updates_v2.png
Labels: Images

#24158 remove beta warning for pgo, it's ga now
  content/en/profiler/guide/save-cpu-in-production-with-go-pgo.md
Labels: Guide

#24164 Update instructions for Agent upgrade between minor versions
  content/en/agent/guide/upgrade_between_minor_versions.md
Labels: Guide

#24176 Bump datadog-lambda-python layer to version 97
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#24178 Bump datadog-lambda-js layer to version 113
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#24181 Remove beta label for DBM Aurora autodiscovery functionality
  content/en/database_monitoring/guide/aurora_autodiscovery.md
Labels: Guide

#24131 [DOCS-8428] Rename setup doc and add referencing files in k8s
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/_index.md
  content/en/observability_pipelines/advanced_configurations.md
  layouts/shortcodes/observability_pipelines/configure_log_archive/google_cloud_storage/instructions.md
  layouts/shortcodes/observability_pipelines/destination_settings/chronicle.md
  layouts/shortcodes/observability_pipelines/processors/enrichment_table.md
Labels: Architecture

#24186 Remove missed reference to Agent 7 in upgrade documentation
  content/en/agent/guide/upgrade_between_minor_versions.md
Labels: Guide

#24192 Adding error tracking monitors to the error tracking doc navs
  config/_default/menus/main.en.yaml
  content/en/error_tracking/monitors.md
  content/en/logs/error_tracking/monitors.md
  content/en/real_user_monitoring/error_tracking/monitors.md
  content/en/tracing/error_tracking/monitors.md
Labels: Architecture

#24166 fix word break in schma table
  assets/styles/components/_schema-table.scss
Labels: Architecture

#24191 Some small wording updates for Error Tracking dynamic sampling
  content/en/error_tracking/dynamic_sampling.md
  static/images/error_tracking/dynamic-sampling-settings.png
Labels: Images

#24197 updates include markdown shortcode
  content/en/cloud_cost_management/monitors/_index.md
  content/en/error_tracking/monitors.md
  content/en/logs/error_tracking/custom_grouping.md
  content/en/logs/error_tracking/default_grouping.md
  content/en/logs/error_tracking/dynamic_sampling.md
  content/en/logs/error_tracking/explorer.md
  content/en/logs/error_tracking/issue_states.md
  content/en/logs/error_tracking/monitors.md
  content/en/logs/error_tracking/suspect_commits.md
  content/en/product_analytics/analytics_explorer/search_syntax.md
  content/en/product_analytics/session_replay/browser/developer_tools.md
  content/en/product_analytics/session_replay/browser/privacy_options.md
  content/en/product_analytics/session_replay/browser/troubleshooting.md
  content/en/product_analytics/session_replay/mobile/_index.md
  content/en/product_analytics/session_replay/mobile/app_performance.md
  content/en/product_analytics/session_replay/mobile/privacy_options.md
  content/en/product_analytics/session_replay/mobile/setup_and_configuration.md
  content/en/product_analytics/session_replay/mobile/troubleshooting.md
  content/en/product_analytics/session_replay/playlists.md
  content/en/real_user_monitoring/error_tracking/custom_grouping.md
  content/en/real_user_monitoring/error_tracking/default_grouping.md
  content/en/real_user_monitoring/error_tracking/explorer.md
  content/en/real_user_monitoring/error_tracking/issue_states.md
  content/en/real_user_monitoring/error_tracking/monitors.md
  content/en/real_user_monitoring/error_tracking/suspect_commits.md
  content/en/security/cloud_security_management/setup/serverless.md
  content/en/service_management/app_builder/private_actions/_index.md
  content/en/service_management/app_builder/private_actions/private_action_credentials.md
  content/en/tracing/error_tracking/custom_grouping.md
  content/en/tracing/error_tracking/default_grouping.md
  content/en/tracing/error_tracking/explorer.md
  content/en/tracing/error_tracking/issue_states.md
  content/en/tracing/error_tracking/monitors.md
  content/en/tracing/error_tracking/suspect_commits.md
  content/en/tracing/other_telemetry/synthetics/_index.md
  content/es/logs/error_tracking/default_grouping.md
  content/es/logs/error_tracking/explorer.md
  content/es/logs/error_tracking/issue_states.md
  content/es/logs/error_tracking/suspect_commits.md
  layouts/shortcodes/include-markdown.html
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#24088 Update Workspaces flowchart
  content/en/logs/workspaces/_index.md
  static/images/logs/workspace/datasets_example.png
  static/images/logs/workspace/workspace_flowchart.png
Labels: Images

#24202 Update auto_conf.md
  content/en/containers/guide/auto_conf.md
Labels: Guide

#24208 Remove header from Datadog Agent shortcode and add to docs
  content/en/observability_pipelines/archive_logs/datadog_agent.md
  content/en/observability_pipelines/dual_ship_logs/datadog_agent.md
  content/en/observability_pipelines/log_volume_control/datadog_agent.md
  content/en/observability_pipelines/sensitive_data_redaction/datadog_agent.md
  content/en/observability_pipelines/split_logs/datadog_agent.md
  layouts/shortcodes/observability_pipelines/log_source_configuration/datadog_agent.md
Labels: Architecture

#24213 Update inferred-service-opt-in.md
  content/en/tracing/guide/inferred-service-opt-in.md
Labels: Guide

#23819 Document OpenTelemetry drop-in support
  config/_default/menus/main.en.yaml
  content/en/opentelemetry/interoperability/_index.md
  content/en/opentelemetry/interoperability/instrumentation_libraries.md
  content/en/tracing/trace_collection/compatibility/java.md
Labels: Architecture, editorial review, tracing, opentelemetry

#24215 bump up mongodb dbm beta agent version
  layouts/shortcodes/dbm-mongodb-agent-beta-install-docker.md
  layouts/shortcodes/dbm-mongodb-agent-beta-install-kubernetes.md
  layouts/shortcodes/dbm-mongodb-agent-beta-install-linux.md
  layouts/shortcodes/dbm-mongodb-agent-setup-docker.md
Labels: Architecture

#24157 Change CD Visibility documentation based on service-centric view
  content/en/continuous_delivery/_index.md
  content/en/continuous_delivery/deployments/_index.md
  content/en/continuous_delivery/explorer/_index.md
  content/en/continuous_delivery/search/_index.md
  static/images/continuous_delivery/explorer/deployment_executions_2.png
  static/images/continuous_delivery/explorer/deployment_executions_export.png
  static/images/continuous_delivery/search/deployments_2.png
  static/images/continuous_delivery/search/deployments_page_2.png
Labels: Images

#23787 add documentation for otel env mappings
  config/_default/menus/main.en.yaml
  content/en/opentelemetry/interoperability/_index.md
  content/en/opentelemetry/interoperability/environment_variable_support.md
  content/en/tracing/trace_collection/library_config/dotnet-core.md
  content/en/tracing/trace_collection/library_config/dotnet-framework.md
  content/en/tracing/trace_collection/library_config/go.md
  content/en/tracing/trace_collection/library_config/java.md
  content/en/tracing/trace_collection/library_config/nodejs.md
  content/en/tracing/trace_collection/library_config/php.md
  content/en/tracing/trace_collection/library_config/python.md
  content/en/tracing/trace_collection/library_config/ruby.md
Labels: Architecture, editorial review

#24221 Update auto_conf.md - override section in Datadog operator `datadog-agent.yaml`
  content/en/containers/guide/auto_conf.md
Labels: Guide

#24222 Update aurora_autodiscovery.md
  content/en/database_monitoring/guide/aurora_autodiscovery.md
Labels: Guide

#24097 Add AWS CDK & esbuild docs to serverless
  content/en/serverless/guide/serverless_tracing_and_bundlers.md
Labels: Guide

#24045 (DOCS-8321)(Workflows) Trigger changes
  content/en/getting_started/monitors/_index.md
  content/en/getting_started/workflow_automation/_index.md
  content/en/monitors/_index.md
  content/en/monitors/notify/_index.md
  content/en/security/application_security/threats/security_signals.md
  content/en/security/cloud_security_management/review_remediate/workflows.md
  content/en/security/threats/security_signals.md
  content/en/service_management/case_management/create_case.md
  content/en/service_management/workflows/trigger.md
  static/images/service_management/workflows/multiple-triggers.png
Labels: Images

#23696 [DOCS-8050] Update Calculated Fields doc
  config/_default/menus/main.en.yaml
  content/en/logs/explorer/calculated_fields.md
  content/en/logs/explorer/calculated_fields/_index.md
  content/en/logs/explorer/calculated_fields/expression_language.md
  static/images/logs/explorer/calculated_fields/calculated_field.png
  static/images/logs/explorer/calculated_fields/create_field.png
  static/images/logs/explorer/calculated_fields/define_calculated_field.png
Labels: Architecture, Images

#24232 DOCS-8466: Add deleted image to fix link in JA docs
  static/images/security/cloud_security_management/guide/public_accessibility_relationships.png
Labels: Images, security

#23987 Update requirements for Data Jobs Monitoring EMR setup page
  content/en/data_jobs/emr.md
Labels: editorial review

#24246 Inferred services - add old agent instructions back
  content/en/tracing/guide/inferred-service-opt-in.md
Labels: Guide

#24251 Handle extensions for operations.
  assets/scripts/build-api-pages.js
Labels: Architecture

#24117 DOCS-8389: Update security inbox docs
  content/en/security/cloud_security_management/severity_scoring.md
  content/en/security/security_inbox.md
  static/images/security/security_inbox_6.png
Labels: Images, security

#24266 List of peer.* tags for inferred dependencies beta
  content/en/tracing/guide/inferred-service-opt-in.md
Labels: Guide

#24185 Document Opentelemetry Drop-In Support for Go
  content/en/opentelemetry/interoperability/instrumentation_libraries.md
  static/images/opentelemetry/interoperability/go-otel-dropin-support.png
Labels: editorial review, Images

#23542 [DOCS-7405] Update Flex Logs doc
  content/en/logs/log_configuration/flex_logs.md
  static/images/logs/log_configuration/flex_logging/flex_toggle_explorer.png
Labels: WORK IN PROGRESS, Images

#24259 Cumulative Evaluation Update
  content/en/monitors/configuration/_index.md
  static/images/monitors/create/cumulative_window_example_more_options.png
Labels: Images

#24199 Update Unity documentation
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/unity.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/troubleshooting/unity.md
  layouts/partials/rum/rum-troubleshooting-mobile.html
  static/images/real_user_monitoring/unity/datadog-setup-ui.png
Labels: Architecture, editorial review, Images

#24287 Update tutorial-enable-python-container-agent-host.md
  content/en/tracing/guide/tutorial-enable-python-container-agent-host.md
Labels: Guide

#24292 (AB/Workflows) Update PostGres private action creds
  content/en/service_management/workflows/private_actions/private_action_credentials.md
  static/images/service_management/private-runner-creds1.png
Labels: Images

#23706 DOCS-8240 Add Tag Explorer Documentation
  config/_default/menus/main.en.yaml
  content/en/cloud_cost_management/tag_explorer/_index.md
  static/images/cloud_cost/tag_explorer/aws.png
  static/images/cloud_cost/tag_explorer/azure.png
  static/images/cloud_cost/tag_explorer/confluent_cloud.png
  static/images/cloud_cost/tag_explorer/custom.png
  static/images/cloud_cost/tag_explorer/databricks.png
  static/images/cloud_cost/tag_explorer/datadog.png
  static/images/cloud_cost/tag_explorer/dropdown.png
  static/images/cloud_cost/tag_explorer/fastly.png
  static/images/cloud_cost/tag_explorer/google.png
  static/images/cloud_cost/tag_explorer/mongodb.png
  static/images/cloud_cost/tag_explorer/openai.png
  static/images/cloud_cost/tag_explorer/snowflake.png
  static/images/cloud_cost/tag_explorer/twilio.png
Labels: Architecture, Images

#24295 Update API key param
  content/en/integrations/guide/azure-programmatic-management.md
Labels: Guide

#24066 DOCS-7847 Add Getting Started with Code Analysis Documentation
  config/_default/menus/main.en.yaml
  content/en/getting_started/_index.md
  content/en/getting_started/code_analysis/_index.md
  layouts/partials/code_analysis/ide-plugins.html
  static/images/getting_started/code_analysis/catalog_service.png
  static/images/getting_started/code_analysis/catalog_view.png
  static/images/getting_started/code_analysis/dashboard.png
  static/images/getting_started/code_analysis/github_accounts.png
  static/images/getting_started/code_analysis/github_comments_setting.png
  static/images/getting_started/code_analysis/github_suggestion.png
  static/images/getting_started/code_analysis/missing_permissions.png
  static/images/getting_started/code_analysis/sca_vulnerabilities.png
  static/images/getting_started/code_analysis/sci_vulnerabilities.png
  static/images/getting_started/code_analysis/suggested_fix.png
  static/images/integrations_logos/jetbrains-ides_avatar.svg
  static/images/integrations_logos/visual-studio_avatar.svg
  static/images/integrations_logos/vscode_avatar.svg
Labels: Architecture, editorial review, Images

#24312 DOCS-8523 Add Multisource Querying Documentation
  config/_default/menus/main.en.yaml
  content/en/cloud_cost_management/_index.md
  content/en/cloud_cost_management/aws.md
  content/en/cloud_cost_management/azure.md
  content/en/cloud_cost_management/google_cloud.md
  content/en/cloud_cost_management/multisource_querying/_index.md
  static/images/cloud_cost/multisource_querying/cost_overview.png
  static/images/cloud_cost/multisource_querying/filters.png
  static/images/cloud_cost/multisource_querying/provider.png
  static/images/cloud_cost/multisource_querying/refine_results.png
Labels: Architecture, Images

#24007 DOCS-8258 Pipeline Execution Time Update
  content/en/glossary/terms/pipeline_execution_time.md
  static/images/continuous_integration/pipeline_execution_time.png
Labels: Images

#24130 Add a note to EKS Addon guide about sidecar auto-injection support
  content/en/containers/guide/operator-eks-addon.md
Labels: Guide

#24000 [MLOB-983] Add LLM Observability and Serverless Compatibility Documentation
  content/en/llm_observability/sdk.md
  content/en/llm_observability/trace_an_llm_application.md
Labels: editorial review

#24290 Update Code Analysis overview & setup documentation
  content/en/code_analysis/ide_plugins/_index.md
  content/en/code_analysis/software_composition_analysis/_index.md
  content/en/code_analysis/software_composition_analysis/setup.md
  content/en/code_analysis/static_analysis/_index.md
  content/en/code_analysis/static_analysis/generic_ci_providers.md
  content/en/code_analysis/static_analysis/setup.md
Labels: editorial review

#24309 [DOCS-8527] Update OP http client
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/source_env_vars/http_client.md
  layouts/shortcodes/observability_pipelines/source_settings/http_client.md
Labels: Architecture

#24317 [dbm] update dbm mongodb beta installation script to include guides to DD_SITE
  layouts/shortcodes/dbm-mongodb-agent-beta-install-docker.md
  layouts/shortcodes/dbm-mongodb-agent-beta-install-kubernetes.md
  layouts/shortcodes/dbm-mongodb-agent-beta-install-linux.md
Labels: Architecture

#24326 Update otel_demo_to_datadog.md
  content/en/opentelemetry/guide/otel_demo_to_datadog.md
Labels: Guide

#24286 Docs8515/add resource collection shortcode
  content/en/integrations/guide/aws-manual-setup.md
  layouts/shortcodes/aws-permissions.md
  layouts/shortcodes/aws-resource-collection.md
Labels: Architecture, Guide

#24285 Fix Language Selection Bug - [WEB-5122]
  assets/scripts/components/async-loading.js
  layouts/partials/language-region-select.html
Labels: Bug, Architecture, editorial review

#24330 fix library typo
  content/en/tracing/guide/inferred-service-opt-in.md
Labels: Guide

#24338 Update otel_demo_to_datadog.md
  content/en/opentelemetry/guide/otel_demo_to_datadog.md
Labels: Guide

#24334 Bump datadog-lambda-extension layer to version 62
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#24333 [DOCS-8494] updating new browser test recording feature
  content/en/synthetics/browser_tests/actions.md
  static/images/synthetics/browser_tests/browser_test_assertions_2.png
  static/images/synthetics/browser_tests/checkbox_state_assertion.png
Labels: Images

#24155 Update OOTB Graphs for Resource and Service Pages
  content/en/tracing/services/resource_page.md
  content/en/tracing/services/service_page.md
  layouts/shortcodes/apm-ootb-graphs.md
Labels: Architecture

#24335 fix ootb rules no result msg
  assets/scripts/helpers/string.js
Labels: Architecture

#24216 Create java-manual-instrumentation.md
  content/en/data_streams/java_manual_instrumentation.md
Labels: editorial review

#24351 Update images and add links
  content/en/getting_started/logs/_index.md
  static/images/getting_started/logs/error-pattern-2024.png
  static/images/getting_started/logs/top-list-view-2024.png
Labels: Images

#24340 Docs8515/add notes to shortcode
  layouts/shortcodes/aws-resource-collection.md
Labels: Architecture

#24353 adjust code block padding
  assets/styles/pages/_global.scss
Labels: Architecture

#24018 Fix sessionSamplingRate in reactnative.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/reactnative.md
Labels: real_user_monitoring, under_review

#24366 Fix Python version in Python Code Security
  layouts/shortcodes/asm-libraries-capabilities.md
Labels: Architecture

#24241 Adding custom error collection info to the ET FE standalone docs
  content/en/error_tracking/standalone_frontend/_index.md
  content/en/error_tracking/standalone_frontend/collecting_browser_errors.md
  content/en/real_user_monitoring/browser/collecting_browser_errors.md
  content/en/real_user_monitoring/error_tracking/browser.md
Labels: editorial review

#24372 Add page to left nav
  config/_default/menus/main.en.yaml
Labels: Architecture

#21645 Add documentation about code-level-vulnerability in Python
  content/en/security/application_security/enabling/tracing_libraries/code_security/python.md
  layouts/partials/security-platform/appsec-languages-code-security.html
Labels: Architecture, editorial review

#24370 Docs8396/add terraform params
  content/en/integrations/guide/azure-programmatic-management.md
  content/en/integrations/guide/powershell-command-to-install-azure-datadog-extension.md
Labels: Guide

#24207 add `is_loggedin` shortcode
  layouts/shortcodes/is_loggedin.html
Labels: Architecture

#24356 Code Analysis: add FAQ
  config/_default/menus/main.en.yaml
  content/en/code_analysis/faq/_index.md
Labels: Architecture, FAQ, mergequeue-status: removed

#24348 Add glibc error
  content/en/code_analysis/troubleshooting/_index.md
Labels: mergequeue-status: removed

#24376 squashes hugo build warnings
  layouts/partials/css.html
  layouts/sitemapindex.xml
Labels: Architecture

#24391 Update params.en.yaml
  config/_default/params.en.yaml
Labels: Architecture

#24398 (DOCS-8579) Add new filter image
  static/images/integrations/google_cloud_platform/sink_inclusion_filter_2.png
Labels: Images

#24402 Add question on Windows
  content/en/code_analysis/faq/_index.md
Labels: FAQ

#24394 Conditionally hide image in learning center callout
  layouts/shortcodes/learning-center-callout.html
Labels: Architecture

#24296 Revamp Kubernetes log collection
  content/en/agent/faq/log-collection-with-docker-socket.md
  content/en/containers/kubernetes/log.md
Labels: editorial review, FAQ

#24329 opentelemetry(apm): document .NET drop in support
  content/en/opentelemetry/interoperability/instrumentation_libraries.md
  content/en/tracing/trace_collection/compatibility/dotnet-core.md
  content/en/tracing/trace_collection/compatibility/dotnet-framework.md
Labels: editorial review

#24399 removes Maximum Call Stack RangeErrors
  assets/scripts/components/async-loading.js
Labels: Architecture

#24410 Update pci-apm.md
  layouts/shortcodes/pci-apm.md
Labels: Architecture

#24369 Include Receiver Endpoints and Datadog Connector in Config Examples
  content/en/opentelemetry/collector_exporter/configuration.md
  content/en/opentelemetry/collector_exporter/otel_collector_datadog_exporter.md
  content/en/opentelemetry/collector_exporter/otlp_receiver.md
  content/en/opentelemetry/guide/migration.md
  content/en/opentelemetry/interoperability/otlp_ingest_in_the_agent.md
  layouts/shortcodes/otel-endpoint-note.md
Labels: Architecture, Guide

#24347 List SPM as the recommended package manager
  content/en/logs/log_collection/ios.md
  content/en/real_user_monitoring/guide/mobile-sdk-upgrade.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/ios.md
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/ios.md
  content/en/tracing/trace_collection/custom_instrumentation/ios/otel.md
Labels: Guide

#24231 [DOCS-8484] Add OP Log Enrichment docs
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/_index.md
  content/en/observability_pipelines/log_enrichment/_index.md
  content/en/observability_pipelines/log_enrichment/datadog_agent.md
  content/en/observability_pipelines/log_enrichment/fluent.md
  content/en/observability_pipelines/log_enrichment/http_client.md
  content/en/observability_pipelines/log_enrichment/splunk_hec.md
  content/en/observability_pipelines/log_enrichment/splunk_tcp.md
  content/en/observability_pipelines/log_enrichment/sumo_logic_hosted_collector.md
  content/en/observability_pipelines/log_enrichment/syslog.md
  layouts/shortcodes/observability_pipelines/use_case_images/log_enrichment.md
  static/images/observability_pipelines/use_cases/log_enrichment.png
Labels: Architecture, WORK IN PROGRESS, Images
