Repository DataDog/documentation, pull requests merged in 2024-06, with the labels that each got.

#23368 DOCS-7892: CSM Agent variables
  config/_default/menus/main.en.yaml
  content/en/security/cloud_security_management/setup/agent_variables.md
Labels: Architecture, editorial review, security

#22726 RUM-3270 (otel-tracer) update otel instrumentation guide for iOS
  config/_default/menus/main.en.yaml
  content/en/real_user_monitoring/platform/connect_rum_and_traces.md
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/ios.md
  content/en/tracing/trace_collection/custom_instrumentation/ios/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/ios/otel.md
  layouts/partials/apm/apm-otel-instrumentation-custom.html
Labels: Architecture, editorial review

#23470 DOCS-8116 Add Cloud Cost Monitors to Docs Navigation
  config/_default/menus/main.en.yaml
Labels: Architecture

#23473 (DOCS-8102) Add Snowflake integration screenshots
  static/images/integrations/snowflake/custom_query.png
  static/images/integrations/snowflake/snowflake_account_url.png
  static/images/integrations/snowflake/snowflake_metrics.png
Labels: Images

#23475 Bump datadog-lambda-js layer to version 111
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#23442 [WEB-4855] Supporting marketplace integrations from APW
  go.mod
  go.sum
  local/bin/py/build/update_pre_build.py
Labels: Architecture

#23459 Initial docs for nginx/appsec
  content/en/security/application_security/enabling/compatibility/nginx.md
  content/en/security/application_security/enabling/tracing_libraries/threat_detection/nginx.md
  layouts/partials/security-platform/appsec-languages.html
Labels: Architecture, editorial review

#23478 Bump datadog-lambda-extension layer to version 58
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#23477 update Error Tracking states docs with new states
  content/en/error_tracking/issue_states.md
  static/images/error_tracking/auto-review-actions.png
  static/images/error_tracking/issue-states-diagram.png
Labels: Images

#23472 fix table layout
  assets/styles/pages/_global.scss
Labels: Architecture

#23484 Update params.en.yaml
  config/_default/params.en.yaml
Labels: Architecture

#23485 Add files via upload
  content/en/account_management/plan_and_usage/usage_details.md
  static/images/account_management/plan_and_usage/MTD-billable-and-committed-lines.png
  static/images/account_management/plan_and_usage/usage-notifications-email.png
  static/images/account_management/plan_and_usage/usage-notifications.png
  usage-notifications-email.png
Labels: Images

#23494 fixes anchor links in chrome on pages with tabs
  assets/scripts/components/codetabs.js
Labels: Architecture

#23187 Add docs for aws batch
  content/en/containers/guide/_index.md
  content/en/containers/guide/aws-batch-ecs-fargate.md
  content/en/getting_started/integrations/aws.md
  static/resources/json/datadog-agent-aws-batch-ecs-fargate.json
Labels: editorial review, Guide

#23444 [WEB-4936] inject links for synthetics permissions
  layouts/partials/rbac-permissions-table.html
  local/bin/py/build/pull_rbac.py
Labels: Architecture

#23500 More Further Reading tags that need consolidation
  content/en/account_management/saml/troubleshooting.md
  content/en/developers/faq/is-there-an-alternative-to-dogstatsd-and-the-api-to-submit-metrics-threadstats.md
  content/en/getting_started/integrations/azure.md
  content/en/getting_started/opentelemetry/_index.md
  content/en/opentelemetry/otel_terms.md
  content/en/real_user_monitoring/error_tracking/mobile/_index.md
  content/en/real_user_monitoring/error_tracking/mobile/android.md
  content/en/real_user_monitoring/error_tracking/mobile/roku.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/supported_versions/ios.md
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/nodejs.md
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/python.md
  content/en/tracing/trace_collection/library_config/nodejs.md
  content/en/tracing/trace_collection/library_config/python.md
Labels: FAQ

#23501 [DOCS-8066] update prereq shortcode and update docs
  content/en/observability_pipelines/log_volume_control/datadog_agent.md
  content/en/observability_pipelines/split_logs/datadog_agent.md
  layouts/shortcodes/observability_pipelines/prerequisites/splunk_hec_destination_only.md
  layouts/shortcodes/observability_pipelines/prerequisites/sumo_logic_destination_only.md
Labels: Architecture

#23504 Error Tracking states: fix a word and change an image
  content/en/error_tracking/issue_states.md
  static/images/error_tracking/updating-issue-status.png
Labels: Images

#23492 (DOCS-8102) Add Snowflake redirect
  content/en/integrations/_index.md
Labels: WORK IN PROGRESS

#23505 Update integrations.py
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#23255 Custom Instrumentation Tweaks
  content/en/tracing/trace_collection/custom_instrumentation/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/java/dd-api.md
  layouts/shortcodes/otel-custom-instrumentation-lang.md
Labels: Architecture

#23369 Update Data Jobs Monitoring setup doc
  content/en/data_jobs/databricks.md
  content/en/data_jobs/emr.md
  content/en/data_jobs/kubernetes.md
  static/images/data_jobs/databricks/configure-databricks-cluster-init-script-quoted.png
Labels: Images

#23515 fix table formatting - [WEB-4988]
  assets/styles/pages/_global.scss
Labels: Architecture

#23344 Daniel green/service catalog manage entries update
  content/en/service_catalog/manage_entries.md
  static/images/tracing/service_catalog/templating-app.png
  static/images/tracing/service_catalog/templating-workflow.png
Labels: editorial review, Images

#23480 update Code Security topic
  content/en/security/application_security/code_security/_index.md
  content/en/security/application_security/software_composition_analysis/_index.md
  static/images/security/application_security/code_security/code_security_remediation.png
  static/images/security/application_security/code_security/remediation_recommendations.png
  static/images/security/application_security/code_security/vulnerability-details.png
  static/images/security/application_security/code_security/vulnerability_code_snippet.png
  static/images/security/application_security/code_security/vulnerability_explorer_code_vulnerabilities.png
  static/images/security/application_security/code_security/vulnerability_jira_ticket.png
  static/images/security/application_security/code_security/vulnerability_prioritization.png
Labels: Images, security

#23502 bump browser -rum and -logs v5.20 - [WEB-4984]
  assets/scripts/components/dd-browser-logs-rum.js
  package.json
  yarn.lock
Labels: Architecture

#23416 DOCS-7696 (OKR3) - Autodiscovery edits, pt 1
  content/en/containers/guide/auto_conf.md
  content/en/containers/guide/autodiscovery-examples.md
  content/en/containers/guide/autodiscovery-management.md
  content/en/containers/kubernetes/integrations.md
Labels: editorial review, Guide

#23524 Bump datadog-lambda-python layer to version 95
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#23526 Remove images with outdated left navigation menu
  content/en/data_streams/_index.md
  static/images/data_streams/add_monitors_and_synthetic_tests.png
  static/images/data_streams/data_streams_metric_monitor.png
Labels: Images

#23522 Add source code link
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
Labels: Guide

#23543 [web-4864] fixing android keyboard issue on search
  assets/scripts/components/algolia.js
Labels: Architecture

#23547 DOCS-8116 Use Full Page Reuse for Cloud Cost Monitors Documentation
  config/_default/menus/main.en.yaml
  content/en/cloud_cost_management/monitors/_index.md
Labels: Architecture

#23529 Update proxy-mobile-rum-data.md
  content/en/real_user_monitoring/guide/proxy-mobile-rum-data.md
Labels: Guide

#23446 DOCS-7893 SaaS Cost Integrations + Cloud Cost Management Doc Update
  content/en/cloud_cost_management/_index.md
  content/en/cloud_cost_management/saas_costs.md
  layouts/partials/cloud_cost/getting-started.html
  static/images/cloud_cost/saas_costs/all_accounts.png
  static/images/cloud_cost/saas_costs/confluent_setup.png
  static/images/cloud_cost/saas_costs/databricks_setup.png
  static/images/cloud_cost/saas_costs/fastly_setup.png
  static/images/cloud_cost/saas_costs/mongodb_setup.png
  static/images/cloud_cost/saas_costs/openai_setup.png
  static/images/cloud_cost/saas_costs/snowflake_setup.png
  static/images/cloud_cost/saas_costs/twilio_setup.png
  static/images/integrations_logos/amazon-web-services_avatar.svg
  static/images/integrations_logos/azure_avatar.svg
  static/images/integrations_logos/google-cloud-platform_avatar.svg
Labels: Architecture, Images

#23540 Update service_page.md
  content/en/tracing/services/service_page.md
  static/images/tracing/services/service_page/service-health.png
Labels: Images, okr1

#23550 DOCS-7679 DORA Metrics + Navigating the Service Catalog Doc Update
  content/en/dora_metrics/_index.md
  content/en/service_catalog/navigating.md
  static/images/dora_metrics/deployments.png
  static/images/dora_metrics/dora_page_dark.png
  static/images/dora_metrics/export.png
  static/images/dora_metrics/failures.png
  static/images/dora_metrics/overview.png
Labels: Images, mergequeue-status: waiting

#23583 Update connector configuration
  content/en/opentelemetry/guide/otel_demo_to_datadog.md
Labels: Guide

#23595 [CLOUDCRAFT-715] Update Cloudcraft's "How do I delete my account?" article
  content/en/cloudcraft/faq/delete-account.md
Labels: FAQ

#23585 [DOCS-8148] Delete logs with sensitive data
  content/en/logs/guide/_index.md
  content/en/logs/guide/delete_logs_with_sensitive_data.md
Labels: WORK IN PROGRESS, Guide

#23603 Enhance styling for p level with collapse-content shortcode
  assets/styles/components/_collapsible-section.scss
Labels: Architecture

#23598 [WEB-4999] `notranslate` tagging job fix
  local/bin/py/add_notranslate_tag.py
Labels: Architecture

#23601 Dogshell Edit
  content/en/developers/guide/dogshell-quickly-use-datadog-s-api-from-terminal-shell.md
Labels: Guide

#23334 Clarify OP Datadog Agent address
  layouts/shortcodes/observability_pipelines/prerequisites/datadog_agent.md
Labels: Architecture

#23616 DOCS-8096: Add screenshot for AWS IAM Access Analyzer
  content/en/security/cloud_security_management/identity_risks/_index.md
  static/images/security/identity_risks/aws_iam_access_analyzer.png
Labels: security

#23479 Add documentation for dynamic sampling
  content/en/error_tracking/dynamic_sampling.md
  static/images/error_tracking/dynamic-sampling-event.png
  static/images/error_tracking/dynamic-sampling-rate-limit.png
Labels: editorial review, Images

#23604 API and Application Keys Update
  content/en/account_management/api-app-keys.md
  content/en/account_management/org_settings.md
  static/images/account_management/api-key.png
  static/images/account_management/app-key.png
  static/images/account_management/org_settings/nav.png
Labels: Images

#23613 Bump datadog-lambda-python layer to version 96
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#23588 docs(vscode): expand vscode extension docs
  content/en/developers/ide_plugins/vscode/_index.md
  static/images/developers/ide_plugins/vscode/log_search.png
  static/images/developers/ide_plugins/vscode/logs_navigation.mp4
  static/images/developers/ide_plugins/vscode/static_analysis.mp4
Labels: Images

#23605 Stop hardcoding collapse-content text size
  assets/styles/components/_collapsible-section.scss
Labels: Architecture

#23449 Clarify filter query for Obs Pipelines processors
  layouts/shortcodes/observability_pipelines/processors/dedupe.md
  layouts/shortcodes/observability_pipelines/processors/quota.md
  layouts/shortcodes/observability_pipelines/processors/remap.md
  layouts/shortcodes/observability_pipelines/processors/sample.md
  layouts/shortcodes/observability_pipelines/processors/sensitive_data_scanner.md
Labels: Architecture

#23627 Updated rule creator option names
  content/en/security/threats/workload_security_rules/custom_rules.md
  static/images/security/csm/csm_threats_simple_rule_creator2.png
Labels: Images

#23615 update iam auth doc to cover ecs fargate and eks setups
  content/en/database_monitoring/guide/managed_authentication.md
  content/en/database_monitoring/setup_postgres/rds.md
Labels: Guide

#23632 (DOCS-8204)(Data Sec) Single-source HIPAA doc
  content/en/data_security/hipaa_compliance.md
  content/en/data_security/logs.md
  layouts/shortcodes/hipaa-customers.md
Labels: Architecture

#23648 Update asm-libraries-capabilities.md
  layouts/shortcodes/asm-libraries-capabilities.md
Labels: Architecture

#23285 Upload Data Deletion Beta Documentation
  content/en/account_management/delete_data.md
Labels: editorial review

#23393 [MLOB]: add more details to tracing guide
  config/_default/menus/main.en.yaml
  content/en/tracing/llm_observability/_index.md
  content/en/tracing/llm_observability/api.md
  content/en/tracing/llm_observability/auto_instrumentation.md
  content/en/tracing/llm_observability/core_concepts.md
  content/en/tracing/llm_observability/quickstart.md
  content/en/tracing/llm_observability/sdk.md
  content/en/tracing/llm_observability/span_kinds.md
  content/en/tracing/llm_observability/trace_an_llm_application.md
  static/images/tracing/llm_observability/llm-observability-agent-trace.png
  static/images/tracing/llm_observability/llm-observability-llm-span.png
  static/images/tracing/llm_observability/llm-observability-workflow-trace.png
Labels: Architecture, editorial review, Images

#23644 Add datadog static analyzer
  .github/workflows/datadog-static-analysis.yml
  static-analysis.datadog.yml
Labels: Github

#23659 [WEB-5018] temp fix for filtering issue on integrations page
  assets/scripts/components/async-loading.js
Labels: Architecture

#23584 Update service page docs to reflect vertical nav
  content/en/tracing/services/service_page.md
  static/images/profiler/apm_service_page_pivot_to_contention_comparison_1.mp4
  static/images/tracing/visualization/service/costs_tab_1.png
  static/images/tracing/visualization/service/cross_product_insight_1.jpg
  static/images/tracing/visualization/service/databases_tab_1.png
  static/images/tracing/visualization/service/deployments_1.png
  static/images/tracing/visualization/service/error_tracking_side_panel_1.jpg
  static/images/tracing/visualization/service/infra_metrics_1.png
  static/images/tracing/visualization/service/log_patterns_1.png
  static/images/tracing/visualization/service/overview_service_page_1.png
  static/images/tracing/visualization/service/resources_tab_1.jpg
  static/images/tracing/visualization/service/runtime_metrics_1.png
  static/images/tracing/visualization/service/security_tab_1.jpg
  static/images/tracing/visualization/service/traces_1.png
  static/images/tracing/visualization/service/watchdog_details_1.jpg
Labels: Images

#23671 pgo: use double quotes in example to prevent user errors
  content/en/profiler/guide/save-cpu-in-production-with-go-pgo.md
Labels: Guide

#23668 Add port to datadog agent address
  layouts/shortcodes/observability_pipelines/prerequisites/datadog_agent.md
Labels: Architecture

#23669 Update images to current UI crop left nav
  content/en/data_jobs/_index.md
  static/images/data_jobs/djm_job_062024.png
  static/images/data_jobs/djm_run_infra_062024.png
  static/images/data_jobs/djm_task_metrics.png
  static/images/data_jobs/overview_062024.png
Labels: Images

#23619 dan.chiniara/add troubleshooting for missing notifications from email
  layouts/shortcodes/notifications-email.md
Labels: Architecture

#23675 fix number font in search bar
  assets/styles/instantsearch/searchbar-with-dropdown.scss
Labels: Architecture

#23545 [DOCS-7971] Synthetics Nav updates Phase 2
  config/_default/menus/main.en.yaml
  content/en/synthetics/explore/_index.md
  content/en/synthetics/explore/results_explorer/_index.md
  content/en/synthetics/explore/results_explorer/saved_views.md
  content/en/synthetics/explore/results_explorer/search.md
  content/en/synthetics/explore/results_explorer/search_runs.md
  content/en/synthetics/explore/results_explorer/search_syntax.md
  content/en/synthetics/explore/saved_views.md
  content/en/synthetics/mobile_app_testing/_index.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/_index.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/advanced_options.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/results.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/steps.md
  content/en/synthetics/mobile_app_testing/settings/_index.md
  layouts/partials/nav/left-nav.html
Labels: Architecture, editorial review

#23685 [SCI] Add Azure Devops Services to the list of supported providers
  content/en/integrations/guide/source-code-integration.md
Labels: Guide

#23653 Add "minimum resolution" to glossary
  content/en/developers/guide/data-collection-resolution-retention.md
  content/en/glossary/terms/collection_interval.md
  content/en/glossary/terms/minimum_resolution.md
Labels: Guide

#23695 Add missing backtick Cloudcraft
  content/en/cloudcraft/faq/account-data-storage.md
Labels: FAQ

#23700 [RUM] Add ConfigCat integration logo
  static/images/integrations_logos/configcat_large.svg
Labels: Images

#23703 Update params.en.yaml
  config/_default/params.en.yaml
Labels: Architecture

#23503 Node.js: add notes for Next.js / Nest.js framework
  content/en/tracing/trace_collection/compatibility/nodejs.md
Labels: editorial review

#23666 [CWS] add windows secl
  content/en/security/threats/agent.md
  content/en/security/threats/backend_linux.md
  content/en/security/threats/backend_windows.md
  content/en/security/threats/linux_expressions.md
  content/en/security/threats/windows_expressions.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#23707 Tag Pipelines Update
  content/en/cloud_cost_management/tag_pipelines.md
  static/images/cloud_cost/tags_order.png
Labels: Images

#23342 DOCS-7578 Add NetFlow Monitor Documentation
  config/_default/menus/main.en.yaml
  content/en/monitors/types/_index.md
  content/en/monitors/types/netflow.md
  content/en/network_monitoring/devices/netflow.md
  layouts/partials/nav/left-nav.html
  static/images/monitors/monitor_types/netflow/formula.png
  static/images/monitors/monitor_types/netflow/monitor.png
  static/images/network_device_monitoring/netflow/dashboard.png
  static/images/network_device_monitoring/netflow/home.png
  static/images/network_device_monitoring/netflow/information.png
Labels: Architecture, Images, okr1

#23711 Add Continuous Profiler blog link
  content/en/profiler/_index.md
Labels: profiler

#23704 DOCS-8064 ASM Exploit Prevention
  config/_default/menus/main.en.yaml
  content/en/security/application_security/threats/exploit-prevention.md
  static/images/security/application_security/threats/clone-policy-modal.png
  static/images/security/application_security/threats/clone-policy.png
  static/images/security/application_security/threats/exploit-prevention-detection.png
  static/images/security/application_security/threats/local-file-inclusion.png
  static/images/security/application_security/threats/server-side-request-forgery.png
  static/images/security/application_security/threats/signal-correlating-blocked-traces.png
Labels: Architecture, editorial review, Images, okr1

#23308 (DOCS-7878) Changes for template vars/timeframe vars
  content/en/service_management/app_builder/embedded_apps.md
Labels: editorial review

#23720 Update account management docs for navigation updates
  content/en/account_management/api-app-keys.md
  content/en/account_management/multi_organization.md
  content/en/account_management/org_switching.md
  content/en/account_management/saml/_index.md
  static/images/account_management/org_switching_062024.png
  static/images/account_management/saml/saml_enable_cropped.png
  static/images/account_management/saml/saml_enabled_cropped.png
Labels: Images

#23612 Add documentation page for logs and tests correlation
  config/_default/menus/main.en.yaml
  content/en/tests/correlate_logs_and_tests/_index.md
  content/en/tests/setup/java.md
  static/images/continuous_integration/correlate_logs_and_tests.png
Labels: Architecture, Images

#23743 fargate-cws: use `public.ecr.aws` ecr instead of dockerhub
  content/en/security/guide/aws_fargate_config_guide.md
Labels: Guide

#23727 Update exploit-prevention.md
  content/en/security/application_security/threats/exploit-prevention.md
Labels: under_review

#23551 DOCS-7926: Add GCP support
  content/en/security/cloud_security_management/identity_risks/_index.md
  content/en/security/cloud_security_management/setup/_index.md
Labels: security, okr1

#23716 Data Jobs Monitoring update
  config/_default/menus/main.en.yaml
  content/en/data_jobs/_index.md
  content/en/data_jobs/databricks.md
  content/en/data_jobs/emr.md
  content/en/data_jobs/kubernetes.md
  data/partials/home.yaml
Labels: Architecture

#23672 [dash] RUM Vitals Monitoring
  config/_default/menus/main.en.yaml
  content/en/real_user_monitoring/browser/monitoring_performance_vitals.md
  static/images/real_user_monitoring/browser/vitals_performance/vital-filter-and-evaluate-1.png
  static/images/real_user_monitoring/browser/vitals_performance/vitals-lcp.png
  static/images/real_user_monitoring/browser/vitals_performance/vitals-page-selectors-1.png
  static/images/real_user_monitoring/browser/vitals_performance/vitals-performance-overview.png
  static/images/real_user_monitoring/browser/vitals_performance/vitals-results.png
  static/images/real_user_monitoring/browser/vitals_performance/vitals-tab.png
  static/images/real_user_monitoring/browser/vitals_performance/vitals-troubleshoot.png
  static/images/real_user_monitoring/browser/vitals_performance/vitals-view-event-samples-1.png
  static/images/real_user_monitoring/browser/vitals_performance/vitals-visualize.png
  static/images/real_user_monitoring/browser/vitals_performance/vitals-workflow.mp4
Labels: Architecture, editorial review, Images

#23746 update kind frontmatter - `code_analysis`
  content/en/code_analysis/_index.md
  content/en/code_analysis/github_pull_requests.md
  content/en/code_analysis/ide_plugins/_index.md
  content/en/code_analysis/software_composition_analysis/_index.md
  content/en/code_analysis/software_composition_analysis/generic_ci_providers.md
  content/en/code_analysis/software_composition_analysis/setup.md
  content/en/code_analysis/static_analysis/_index.md
  content/en/code_analysis/static_analysis/generic_ci_providers.md
  content/en/code_analysis/static_analysis/setup.md
  content/en/code_analysis/static_analysis_rules/_index.md
  content/en/code_analysis/troubleshooting/_index.md
  content/ja/code_analysis/_index.md
  content/ko/code_analysis/_index.md
  content/ko/code_analysis/software_composition_analysis/_index.md
  content/ko/code_analysis/static_analysis/_index.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#23744 update custom eval metric and ml_app naming guidelines
  content/en/tracing/llm_observability/api.md
  content/en/tracing/llm_observability/sdk.md
  content/en/tracing/llm_observability/submit_evaluations.md
Labels: editorial review

#23757 Update tracking-rum-usage-with-usage-attribution-tags.md
  content/en/real_user_monitoring/guide/tracking-rum-usage-with-usage-attribution-tags.md
Labels: Guide

#23759 Reorder LLM Observability pages
  config/_default/menus/main.en.yaml
Labels: Architecture

#23763 DOCS-8264 Container Cost Allocation Navigation Update
  config/_default/menus/main.en.yaml
Labels: Architecture

#23771 [ASCII-1901] Replace DD_LOGS_CONFIG_DD_URL with DD_LOGS_CONFIG_LOGS_DD_URL
  content/en/serverless/guide/agent_configuration.md
Labels: Guide

#23389 RUM-3397 (otel-tracer) update otel instrumentation guide for Android
  config/_default/menus/main.en.yaml
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/android.md
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/ios.md
  content/en/tracing/trace_collection/custom_instrumentation/android/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/android/otel.md
Labels: Architecture, editorial review, mergequeue-status: waiting

#23778 Bump dd-trace-java layer version to 15
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#23491 DOCS-7906 Code Analysis Documentation Updates
  content/en/code_analysis/_index.md
  content/en/code_analysis/software_composition_analysis/_index.md
  content/en/code_analysis/static_analysis/_index.md
  layouts/partials/code_analysis/languages-getting-started.html
  static/images/code_analysis/repositories.png
  static/images/code_analysis/setup/enable_account.png
  static/images/code_analysis/setup/enable_repository.png
Labels: Architecture, Images

#23562 (DOCS-7691) Private actions
  config/_default/menus/main.en.yaml
  content/en/service_management/app_builder/connections/http_request.md
  content/en/service_management/app_builder/private_actions/_index.md
  content/en/service_management/app_builder/private_actions/private_action_credentials.md
  content/en/service_management/workflows/actions/http.md
  content/en/service_management/workflows/private_actions/_index.md
  content/en/service_management/workflows/private_actions/private_action_credentials.md
  static/images/service_management/http-creds.png
  static/images/service_management/multi-file-creds.png
  static/images/service_management/private-runner-creds.png
  static/images/service_management/single-file-creds.png
Labels: Architecture, Images, okr1

#23571 DOCS_8060 ASM SCA env var enablement
  config/_default/menus/main.en.yaml
  content/en/security/application_security/enabling/_index.md
  content/en/security/application_security/enabling/tracing_libraries/_index.md
  content/en/security/application_security/enabling/tracing_libraries/sca/_index.md
Labels: Architecture

#23681 (DOCS-8217) Add recent changes section
  content/en/infrastructure/resource_catalog/_index.md
Labels: okr1

#23781 Profiler Timeline View Release
  content/en/profiler/connect_traces_and_profiles.md
  content/en/profiler/profile_visualizations.md
  static/images/profiler/profiling_viz-timeline3.png
Labels: Images

#23791 Product nav update
  assets/styles/_webfonts.scss
  config/_default/config.yaml
  go.mod
  go.sum
  static/fonts/NationalWeb-Bold.eot
  static/fonts/NationalWeb-Bold.woff
  static/fonts/NationalWeb-Bold.woff2
Labels: Architecture

#23783 adding topic on open source risk reduction
  content/en/security/application_security/guide/_index.md
  content/en/security/application_security/guide/automate_risk_reduction_sca.md
  static/images/security/application_security/software_composition_analysis/libraries_catalog.png
  static/images/security/application_security/software_composition_analysis/library_risks.png
  static/images/security/application_security/software_composition_analysis/vulnerabilities_library_vulnerabilities.png
  static/images/security/application_security/software_composition_analysis/vulnerabilities_library_vulnerabilities_detail.png
  static/images/security/application_security/software_composition_analysis/vulnerabilities_library_vulnerabilities_remediation_steps.png
Labels: Images

#23486 Place additional setup config under collapse content
  content/en/universal_service_monitoring/setup.md
Labels: okr1

#23553 DOCS-7928: Remove beta note for Fargate GA
  content/en/security/guide/aws_fargate_config_guide.md
Labels: security, Guide, okr1

#23625 DOCS-8199 Add Continuous Testing and CI/CD Integrations Documentation for Bitrise
  .gitignore
  config/_default/menus/main.en.yaml
  content/en/continuous_testing/cicd_integrations/_index.md
  layouts/partials/continuous_testing/ct-getting-started.html
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  static/images/integrations_logos/bitrise_run.png
  static/images/integrations_logos/bitrise_small.svg
  static/images/integrations_logos/bitrise_upload.png
Labels: Architecture, editorial review, Images

#23795 Move LLM Observability to the top level
  config/_default/menus/main.en.yaml
  content/en/llm_observability/_index.md
  content/en/llm_observability/api.md
  content/en/llm_observability/auto_instrumentation.md
  content/en/llm_observability/core_concepts.md
  content/en/llm_observability/quickstart.md
  content/en/llm_observability/sdk.md
  content/en/llm_observability/span_kinds.md
  content/en/llm_observability/submit_evaluations.md
  content/en/llm_observability/trace_an_llm_application.md
  static/images/llm_observability/clusters-page.png
  static/images/llm_observability/dashboard.png
  static/images/llm_observability/example-trace.png
  static/images/llm_observability/llm-observability-agent-trace.png
  static/images/llm_observability/llm-observability-landing.png
  static/images/llm_observability/llm-observability-llm-span.png
  static/images/llm_observability/llm-observability-overview.png
  static/images/llm_observability/llm-observability-workflow-trace.png
  static/images/llm_observability/prompt-injection.png
  static/images/llm_observability/quickstart-trace.png
Labels: Architecture, editorial review, Images, okr1

#23805 Point to correct file path for Android and iOS pages
  config/_default/menus/main.en.yaml
Labels: Architecture

#23762 DOCS-8263 SaaS Cost Integrations Navigation Update
  config/_default/menus/main.en.yaml
  content/en/cloud_cost_management/saas_costs.md
  layouts/partials/cloud_cost/cost-integrations.html
  static/images/integrations_logos/confluent-cloud_small.svg
  static/images/integrations_logos/databricks_small.svg
  static/images/integrations_logos/fastly_small.svg
  static/images/integrations_logos/mongodb_small.svg
  static/images/integrations_logos/openai_small.svg
  static/images/integrations_logos/snowflake_small.svg
  static/images/integrations_logos/twilio_small.svg
Labels: Architecture, Images

#23810 Add Historical Jobs page to Cloud SIEM
  config/_default/menus/main.en.yaml
  content/en/security/cloud_siem/historical_jobs.md
  static/images/security/security_monitoring/detection_rules/convert-historical-job-result-to-signal.png
  static/images/security/security_monitoring/detection_rules/historical-job-form.png
  static/images/security/security_monitoring/detection_rules/historical-job-result.png
Labels: Architecture, editorial review, Images

#23772 [DOCS-7799] Network Path - updated PR
  config/_default/menus/main.en.yaml
  content/en/network_monitoring/network_path/_index.md
  content/en/network_monitoring/network_path/list_view.md
  content/en/network_monitoring/network_path/path_view.md
  content/en/network_monitoring/network_path/setup.md
  content/en/network_monitoring/performance/_index.md
  content/en/network_monitoring/performance/network_analytics.md
  static/images/network_performance_monitoring/network_analytics/view_network_path.png
  static/images/network_performance_monitoring/network_path/end-to-end-metrics-graph.png
  static/images/network_performance_monitoring/network_path/hop-to-hop-latency-graph_2.png
  static/images/network_performance_monitoring/network_path/latency_health_bar_2.mp4
  static/images/network_performance_monitoring/network_path/legend.png
  static/images/network_performance_monitoring/network_path/multi_path.png
  static/images/network_performance_monitoring/network_path/network_path_default_view_2.png
  static/images/network_performance_monitoring/network_path/network_path_diagram.png
  static/images/network_performance_monitoring/network_path/network_path_list_search_2.png
  static/images/network_performance_monitoring/network_path/path_destination_facet_2.png
  static/images/network_performance_monitoring/network_path/path_details.png
  static/images/network_performance_monitoring/network_path/path_view_3.png
  static/images/network_performance_monitoring/network_path/reachable_unreachable.png
Labels: Architecture, Images, network_performance_monitoring, okr1

#23747 [CLOUDCRAFT-765] Component: Region
  content/en/cloudcraft/components-aws/_index.md
  content/en/cloudcraft/components-aws/region.md
  static/images/cloudcraft/components-aws/region/component-region-diagram.png
Labels: Images

#23817 [SDTEST] Update troubleshooting section of Intelligent Test Runner
  content/en/intelligent_test_runner/troubleshooting/_index.md
Labels: mergequeue-status: removed

#23048 [DOCS-7800] updating recommended NPM monitors
  content/en/monitors/types/network_performance.md
  content/en/network_monitoring/performance/_index.md
Labels: network_performance_monitoring, okr1

#23507 [DOCS-8020] small update for SD-WAN
  content/en/network_monitoring/devices/_index.md
Labels: okr1

#23025 DOCS-7802 Network Analytics Edit
  content/en/network_monitoring/performance/network_analytics.md
  content/en/network_monitoring/performance/setup.md
Labels: okr1

#23825 MLOB-1014: Update LLM Observability API page
  content/en/llm_observability/api.md
Labels: mergequeue-status: waiting

#23208 DOCS-7956 - [serverless] Azure App Service - sidecar
  content/en/serverless/azure_app_services/azure_app_services_container.md
  content/en/serverless/guide/_index.md
  content/en/serverless/guide/azure_app_service_linux_sidecar.md
Labels: editorial review, Guide

#23699 [CLOUDCRAFT-718] Update Cloudcraft's "Create your first live AWS diagram" article
  content/en/cloudcraft/getting-started/_index.md
  content/en/cloudcraft/getting-started/create-your-first-cloudcraft-diagram.md
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/auto-layout-button.png
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/auto-layout-diagram.png
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/aws-region-peering.png
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/cloudcraft-initial-tour.png
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/component-inventory.png
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/create-new-blueprint.png
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/diagram-without-aws.png
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/filtered-layout-example-video.mp4
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/filtered-layout-example.mp4
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/hybrid-cloud-diagram.png
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/layout-button.png
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/live-diagram-options.png
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/live-feed.png
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/live-tab.png
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/new-blueprint-name.png
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/place-live-components.png
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/scan-complete.png
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/select-aws-account.png
  static/images/cloudcraft/getting-started/create-your-first-cloudcraft-diagram/select-aws-region.png
Labels: editorial review, Images

#23435 [DOCS-7579] NDM profile onboarding
  content/en/network_monitoring/devices/_index.md
  content/en/network_monitoring/devices/guide/_index.md
  content/en/network_monitoring/devices/guide/build-ndm-profile.md
  content/en/network_monitoring/devices/guide/device_profiles.md
  content/en/network_monitoring/devices/profiles.md
  static/images/network_device_monitoring/profile_onboarding/Add_global_tags.png
  static/images/network_device_monitoring/profile_onboarding/Sys_object_ID_Field.png
  static/images/network_device_monitoring/profile_onboarding/add_tabular_metrics.png
  static/images/network_device_monitoring/profile_onboarding/create_profile_2.png
  static/images/network_device_monitoring/profile_onboarding/download_all_profiles_2.png
  static/images/network_device_monitoring/profile_onboarding/profile_home_page_2.png
Labels: Images, okr1

#23548 [DASH] Step Functions GA
  content/en/serverless/step_functions/_index.md
Labels: okr1

#23420 Document Cloud SIEM Entities
  config/_default/menus/main.en.yaml
  content/en/security/cloud_siem/entities_and_risk_scoring.md
  static/images/security/entities/entities-explorer.png
  static/images/security/entities/entity-next-steps.png
  static/images/security/entities/entity-side-panel.png
Labels: Architecture, Do Not Merge, editorial review, Images, okr1

#23538 DDSQL Editor docs
  config/_default/menus/main.en.yaml
  content/en/dashboards/ddsql_editor/_index.md
  content/en/dashboards/ddsql_editor/getting_started.md
  content/en/dashboards/ddsql_editor/reference/_index.md
  content/en/dashboards/ddsql_editor/reference/aggregation_functions.md
  content/en/dashboards/ddsql_editor/reference/data_types.md
  content/en/dashboards/ddsql_editor/reference/expressions_and_operators.md
  content/en/dashboards/ddsql_editor/reference/scalar_functions.md
  content/en/dashboards/ddsql_editor/reference/statements.md
  content/en/dashboards/ddsql_editor/reference/tags.md
  content/en/dashboards/ddsql_editor/reference/window_functions.md
  layouts/partials/nav/left-nav.html
  static/images/dashboards/ddsql/inventories-overview.png
  static/images/dashboards/ddsql/natural-language-query.png
  static/images/dashboards/ddsql/natural-language-search.png
  static/images/dashboards/ddsql/preview-sample-values.png
  static/images/dashboards/ddsql/query-result.png
  static/images/dashboards/ddsql/query-ui-overview copy.png
  static/images/dashboards/ddsql/query-ui-overview.png
  static/images/dashboards/ddsql/save-and-export.png
  static/images/dashboards/ddsql/save-or-export-result.png
  static/images/dashboards/ddsql/saved-queries-panel.png
  static/images/dashboards/ddsql/schema-explorer-example.png
  static/images/dashboards/ddsql/schema-explorer-table-example.png
  static/images/dashboards/ddsql/schema-explorer.png
  static/images/dashboards/ddsql/table-details-pane.png
  static/images/dashboards/ddsql/table-details.png
Labels: Architecture, editorial review, Images, okr1

#23816 Document Data Streams Monitoring schema tracking
  config/_default/menus/main.en.yaml
  content/en/data_streams/schema_tracking.md
  static/images/data_streams/schema_list.png
  static/images/data_streams/schema_panel.png
Labels: Architecture, editorial review, Images, okr1

#23591 DOCS-8149 - Domain Allowlist
  content/en/account_management/org_settings/domain_allowlist.md
  content/en/account_management/org_settings/domain_allowlist_api.md
  static/images/account_management/org_settings/domain_allowlist/enabled.png
  static/images/account_management/org_settings/domain_allowlist/verification.png
Labels: Images, okr1

#23831 fixing link
  content/en/serverless/guide/_index.md
Labels: Guide

#23655 DOCS-8201 Add Datadog Costs Documentation
  config/_default/menus/main.en.yaml
  content/en/cloud_cost_management/_index.md
  content/en/cloud_cost_management/aws.md
  content/en/cloud_cost_management/azure.md
  content/en/cloud_cost_management/container_cost_allocation.md
  content/en/cloud_cost_management/custom.md
  content/en/cloud_cost_management/datadog_costs/_index.md
  content/en/cloud_cost_management/google_cloud.md
  content/en/cloud_cost_management/recommendations/_index.md
  content/en/cloud_cost_management/saas_costs.md
  content/en/cloud_cost_management/tag_pipelines.md
  static/images/cloud_cost/datadog_costs/dashboard.png
  static/images/cloud_cost/monitor.png
  static/images/cloud_cost/overview.png
Labels: Architecture, editorial review, Images, okr1

#23600 Adding info for SDS through the Agent
  content/en/sensitive_data_scanner/_index.md
Labels: okr1

#23552 DOCS-7929: Remove beta notes for Agentless
  content/en/security/cloud_security_management/agentless_scanning/_index.md
  content/en/security/cloud_security_management/setup/agentless_scanning/_index.md
Labels: security, okr1

#23836 Replace image and fix formatting on DSM schema tracking page
  content/en/data_streams/schema_tracking.md
  static/images/data_streams/schema_list.png
Labels: Images

#23678 [DOCS-7966] Trace Waterfall View
  content/en/tracing/trace_explorer/trace_view.md
  static/images/tracing/trace_view/waterfall2.png
Labels: Images, okr1

#23490 Getting Started with APM
  config/_default/menus/main.en.yaml
  content/en/getting_started/tracing/_index.md
  static/images/getting_started/apm/custom-instrumentation.png
  static/images/getting_started/apm/service-catalog.png
  static/images/getting_started/apm/trace-explorer.png
Labels: Architecture, editorial review, Images

#23724 DBM for MongoDB private beta documentation
  config/_default/menus/main.en.yaml
  content/en/database_monitoring/setup_mongodb/_index.md
  content/en/database_monitoring/setup_mongodb/mongodbatlas.md
  content/en/database_monitoring/setup_mongodb/selfhosted.md
  layouts/partials/dbm/dbm-setup-mongodb.html
  layouts/shortcodes/dbm-mongodb-agent-beta-install-docker.md
  layouts/shortcodes/dbm-mongodb-agent-beta-install-kubernetes.md
  layouts/shortcodes/dbm-mongodb-agent-beta-install-linux.md
  layouts/shortcodes/dbm-mongodb-agent-config-replica-set.md
  layouts/shortcodes/dbm-mongodb-agent-config-sharded-cluster.md
  layouts/shortcodes/dbm-mongodb-agent-config-standalone.md
  layouts/shortcodes/dbm-mongodb-agent-setup-docker.md
  layouts/shortcodes/dbm-mongodb-agent-setup-kubernetes.md
  layouts/shortcodes/dbm-mongodb-agent-setup-linux.md
  layouts/shortcodes/dbm-mongodb-before-you-begin.md
Labels: Architecture, editorial review

#23851 Add Bitrise to Child Page Names in Navigation
  config/_default/menus/main.en.yaml
Labels: Architecture

#23820 [SFTY-925] Add Safety Center documentation
  config/_default/menus/main.en.yaml
  content/en/account_management/org_settings.md
  content/en/account_management/safety_center.md
  static/images/account_management/safety_center/delete-pending-invite.png
  static/images/account_management/safety_center/disable-unused-oauth-app.png
  static/images/account_management/safety_center/edit-admin-user.png
  static/images/account_management/safety_center/overview.png
  static/images/account_management/safety_center/resend-pending-invite.png
  static/images/account_management/safety_center/revoke-leaked-api-key.png
  static/images/account_management/safety_center/revoke-unused-api-key.png
  static/images/account_management/safety_center/set-security-contacts.png
Labels: Architecture, editorial review, Images

#23455 [DOCS-8051] Add Logs Workspace doc
  config/_default/menus/main.en.yaml
  content/en/logs/workspaces/_index.md
  static/images/logs/workspace/flowchart.png
  static/images/logs/workspace/treemap.png
  static/images/logs/workspace/workspace_datasets_example.png
Labels: Architecture, Images, okr1

#23520 DOCS-7924: Data Security
  content/en/security/cloud_security_management/agentless_scanning/_index.md
  content/en/sensitive_data_scanner/_index.md
Labels: editorial review, security, okr1

#23527 DOCS-7930: One-click remediation
  content/en/security/cloud_security_management/identity_risks/_index.md
  content/en/security/cloud_security_management/misconfigurations/_index.md
Labels: security, okr1

#23878 removing Beta note
  content/en/security/application_security/code_security/_index.md
  content/en/security/application_security/enabling/compatibility/dotnet.md
  content/en/security/application_security/enabling/compatibility/go.md
  content/en/security/application_security/enabling/compatibility/java.md
  content/en/security/application_security/enabling/compatibility/nginx.md
  content/en/security/application_security/enabling/compatibility/nodejs.md
  content/en/security/application_security/enabling/compatibility/php.md
  content/en/security/application_security/enabling/compatibility/python.md
  content/en/security/application_security/enabling/compatibility/ruby.md
  content/en/security/application_security/enabling/single_step/code_security.md
  content/en/security/application_security/enabling/tracing_libraries/code_security/_index.md
  content/en/security/application_security/troubleshooting.md
  layouts/shortcodes/asm-libraries-capabilities.md
Labels: Architecture

#23798 Update troubleshooting.md
  content/en/database_monitoring/setup_postgres/troubleshooting.md
Labels: under_review

#23877 Cloud Cost Management Update
  content/en/cloud_cost_management/_index.md
  static/images/cloud_cost/overview_1.png
Labels: Images

#23879 Remove beta tag from supported deployments table
  content/en/security/cloud_security_management/setup/supported_deployment_types.md
Labels: security

#23884 [RUM] Add details for extended retention
  config/_default/menus/main.en.yaml
  content/en/real_user_monitoring/session_replay/_index.md
Labels: Architecture

#23701 DOCS-7988 - Feature parity for Operator and Helm
  content/en/agent/guide/agent-v6-python-3.md
  content/en/agent/logs/advanced_log_collection.md
  content/en/agent/troubleshooting/hostname_containers.md
  content/en/containers/cluster_agent/admission_controller.md
  content/en/containers/cluster_agent/clusterchecks.md
  content/en/containers/cluster_agent/commands.md
  content/en/containers/cluster_agent/endpointschecks.md
  content/en/containers/cluster_agent/setup.md
  content/en/containers/guide/cluster_agent_autoscaling_metrics.md
  content/en/containers/guide/clustercheckrunners.md
  content/en/containers/kubernetes/apm.md
  content/en/containers/kubernetes/control_plane.md
  content/en/containers/kubernetes/distributions.md
  content/en/containers/kubernetes/prometheus.md
  content/en/containers/kubernetes/tag.md
  content/en/tracing/configure_data_security/_index.md
  content/en/tracing/guide/ignoring_apm_resources.md
  content/en/tracing/guide/setting_up_apm_with_kubernetes_service.md
  layouts/shortcodes/k8s-helm-redeploy.md
Labels: Architecture, editorial review, Guide

#23888 Removing Some Unused Images
  static/images/agent/faq/Agent_VS_AWSA.jpg
  static/images/agent/guide/heroku_ruby/ruby_logs.png
  static/images/agent/guide/private_link/dns_name_selection.png
  static/images/agent/remote_config/RC_Diagram_v4.png
  static/images/ci/test_configurations_in_errors.png
  static/images/cloud_cost/cloud_and_saas_accounts.png
  static/images/cloud_cost/cloud_and_saas_accounts_2.png
  static/images/cloud_cost/confluent_setup.png
  static/images/cloud_cost/fastly_setup.png
  static/images/cloud_cost/snowflake_setup.png
  static/images/continuous_delivery/supported_integrations.png
  static/images/continuous_integration/github_issues_dark.png
  static/images/continuous_integration/github_issues_light.png
  static/images/continuous_integration/itr_example.png
  static/images/continuous_integration/itr_test_selection.png
  static/images/continuous_testing/explorer_ci_batches_sidepanel.png
  static/images/developers/events/agent_check/event_stream_example.png
  static/images/developers/faq/dogstatsd_schema.png
  static/images/developers/faq/style_bot.jpg
  static/images/developers/ide_plugins/idea/IDEA.png
  static/images/developers/ide_plugins/idea/logs-navigation.png
  static/images/developers/integrations/example_recommended_monitor_config.png
  static/images/developers/marketplace/marketplace-tile-example.png
  static/images/developers/service_checks/check_monitor_config.png
  static/images/dora_metrics/dora_page_light.png
  static/images/dora_metrics/home.png
Labels: Images

#23887 Create software_templates.md
  config/_default/menus/main.en.yaml
  content/en/service_catalog/manage_entries.md
  content/en/service_catalog/software_templates.md
Labels: Architecture

#23890 Remove references to removed service_language functionality
  content/en/tracing/trace_collection/library_injection_local.md
  content/ja/tracing/trace_collection/library_injection_local.md
Labels: tracing

#23906 Adding new resources object to manifest reference
  layouts/shortcodes/integration-assets-reference.md
Labels: Architecture

#23907 [rum] docs 8233 tabify mobile troubleshooting page
  content/en/real_user_monitoring/mobile_and_tv_monitoring/troubleshooting/_index.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/troubleshooting/android.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/troubleshooting/flutter.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/troubleshooting/ios.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/troubleshooting/reactnative.md
  layouts/partials/rum/rum-troubleshooting-mobile.html
Labels: Architecture

#23910 Clarify containers pod exclusion annotation
  content/en/containers/guide/autodiscovery-management.md
Labels: Guide

#23914 [DOCS-8312] fixing link
  content/en/tracing/guide/ignoring_apm_resources.md
Labels: Guide

#23918 Dashboards + Glossary Terms Link Update
  content/en/dashboards/guide/graphing_json.md
  content/en/dashboards/guide/query-to-the-graph.md
  content/en/dashboards/widgets/group.md
  content/en/dashboards/widgets/timeseries.md
  content/en/glossary/terms/slo_list.md
  content/en/glossary/terms/slo_summary.md
  content/en/glossary/terms/test_service.md
  content/en/glossary/terms/timeboard.md
  content/en/glossary/terms/topology_map.md
  content/en/metrics/explorer.md
  content/en/tracing/trace_explorer/query_syntax.md
Labels: Guide

#23866 TT Translation Fixes
  content/en/containers/guide/cluster_agent_autoscaling_metrics.md
  content/en/dashboards/guide/version_history.md
  content/en/dashboards/widgets/split_graph.md
  content/en/integrations/guide/azure-programmatic-management.md
  content/en/serverless/guide/agent_configuration.md
  content/en/tracing/trace_collection/custom_instrumentation/android/otel.md
Labels: Guide

#23630 DOCS-7696 - docker AD updates
  config/_default/menus/main.en.yaml
  content/en/containers/docker/integrations.md
  content/en/containers/guide/autodiscovery-examples.md
Labels: Architecture, editorial review, Guide
