Repository DataDog/documentation, pull requests merged in 2024-03, with the labels that each got.

#22012 Update inferred-service-opt-in-instructions
  content/en/tracing/guide/inferred-service-opt-in.md
Labels: Guide

#21632 [DOCS-6319] Standard Attribute Updates
  config/_default/menus/menus.en.yaml
  content/en/standard-attributes/_index.md
  content/en/tracing/trace_collection/tracing_naming_convention/_index.md
  static/images/tracing/attributes/span-attributes.png
  static/images/tracing/attributes/span-tags.png
Labels: Architecture, Images

#22024 Update inferred-service-opt-in.md
  content/en/tracing/guide/inferred-service-opt-in.md
Labels: Guide

#22010 DatadogAgent v1alpha1 deprecation warning
  content/en/containers/guide/datadogoperator_migration.md
Labels: Guide

#22006 Update instructions to enable Orchestrator for Agent v7.51+
  content/en/infrastructure/faq/set-up-orchestrator-explorer-daemonset.md
Labels: FAQ

#22026 Update inferred-service-opt-in.md remove previous config rec
  content/en/tracing/guide/inferred-service-opt-in.md
Labels: Guide

#21966 [DOCS-7343] Create Service Catalog Getting Started Docs
  config/_default/menus/menus.en.yaml
  content/en/getting_started/_index.md
  content/en/getting_started/service_catalog/_index.md
  static/images/getting_started/service_catalog/create_rule.jpeg
  static/images/getting_started/service_catalog/import_entries.jpeg
  static/images/getting_started/service_catalog/overview_image.jpeg
Labels: Architecture, editorial review, Images

#21690 (DOCS-6122) SCCM
  config/_default/menus/menus.en.yaml
  content/en/agent/basic_agent_usage/sccm.md
  data/partials/platforms.yaml
  static/images/agent/basic_agent_usage/sccm/sccm-deployable-app.png
  static/images/agent/basic_agent_usage/sccm/sccm-install-command.png
  static/images/agent/basic_agent_usage/sccm/sccm-select-program.png
  static/images/icons/platform_sccm.png
Labels: Architecture, editorial review, Images

#22034 (maint) Update linter
  .github/workflows/vale_linter.yml
Labels: Github

#22035 Update inferred-service-opt-in.md minor fix
  content/en/tracing/guide/inferred-service-opt-in.md
Labels: Guide

#22030 Postgres 15 on Azure support
  content/en/database_monitoring/setup_postgres/_index.md
  content/en/database_monitoring/setup_postgres/azure.md
Labels: database_monitoring

#22038 Remove and replace guide with latest content
  content/en/glossary/terms/indexed.md
  content/en/tracing/_index.md
  content/en/tracing/glossary/_index.md
  content/en/tracing/guide/add_span_md_and_graph_it.md
  content/en/tracing/guide/alert_anomalies_p99_database.md
  content/en/tracing/guide/apm_dashboard.md
  content/en/tracing/guide/ignoring_apm_resources.md
  content/en/tracing/guide/instrument_custom_method.md
  content/en/tracing/guide/slowest_request_daily.md
  content/en/tracing/guide/week_over_week_p50_comparison.md
  content/en/tracing/trace_collection/automatic_instrumentation/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/dd_libraries/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/otel_instrumentation/_index.md
  content/en/tracing/trace_explorer/request_flow_map.md
Labels: Guide

#22043 Move RUM Frustration Signals to Browser
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/browser/_index.md
  content/en/real_user_monitoring/browser/frustration_signals.md
  content/en/real_user_monitoring/funnel_analysis/_index.md
  content/en/real_user_monitoring/guide/rum-for-product-analytics.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/reactnative.md
Labels: Architecture, Guide

#21688 [DOCS-7193] Add SDS Regex Syntax doc
  config/_default/menus/menus.en.yaml
  content/en/sensitive_data_scanner/_index.md
  content/en/sensitive_data_scanner/regular_expression_syntax.md
Labels: Architecture, editorial review

#22058 Snowflake cost integration in public beta
  content/en/cloud_cost_management/saas_costs.md
  static/images/cloud_cost/cloud_and_saas_accounts_2.png
Labels: Images

#21750 (DOCS-7035) Small workflows restructure
  config/_default/menus/menus.en.yaml
  content/en/service_management/workflows/actions/_index.md
  content/en/service_management/workflows/actions/data_transformation.md
  content/en/service_management/workflows/actions/flow_control.md
  content/en/service_management/workflows/actions/http.md
  content/en/service_management/workflows/actions_catalog/_index.md
  content/en/service_management/workflows/actions_catalog/generic_actions.md
  content/en/service_management/workflows/connections.md
  content/en/service_management/workflows/saved_actions.md
  static/images/service_management/workflows/branch-workflow-configuration2.png
  static/images/service_management/workflows/branch-workflow-configuration3.png
  static/images/service_management/workflows/iteration.png
Labels: Architecture, editorial review, Images

#22052 feat(containers): add sync_container_images guide
  content/en/containers/guide/_index.md
  content/en/containers/guide/changing_container_registry.md
  content/en/containers/guide/sync_container_images.md
  layouts/shortcodes/container-images-table.md
Labels: Architecture, editorial review, Guide

#22068 skip opening certain menu items - [WEB-4530]
  assets/scripts/components/mobile-nav.js
  assets/scripts/datadog-docs.js
  config/_default/menus/menus.en.yaml
  go.mod
  go.sum
  layouts/partials/nav/left-nav.html
Labels: Architecture

#22072 Clarify Service Catalog Menu Item
  config/_default/menus/menus.en.yaml
Labels: Architecture

#22073 (DOCS-7114) Update Workflows GS
  content/en/getting_started/workflow_automation/_index.md
  static/images/getting_started/workflow_automation/trigger.png
  static/images/getting_started/workflow_automation/trigger1.png
Labels: Images

#21985 Add beta docs for DBM Aurora cluster auto discovery feature
  content/en/database_monitoring/guide/_index.md
  content/en/database_monitoring/guide/aurora_autodiscovery.md
  content/en/database_monitoring/guide/managed_authentication.md
Labels: editorial review, Guide

#21980 Add docs for CCM GCP container costs
  content/en/cloud_cost_management/container_cost_allocation.md
  content/en/cloud_cost_management/google_cloud.md
Labels: editorial review

#22089 Update inferred-service-opt-in.md
  content/en/tracing/guide/inferred-service-opt-in.md
Labels: Guide

#21706 connect_dbm_and_apm: fix dbmPropagationMode
  content/en/database_monitoring/connect_dbm_and_apm.md
Labels: under_review

#22042 Update integration-management with note about partner ints
  content/en/agent/guide/integration-management.md
  content/en/agent/troubleshooting/integrations.md
Labels: Guide

#22077 Compatibility matrix update - Postgres 16 on Azure
  content/en/database_monitoring/setup_postgres/_index.md
Labels: database_monitoring

#22091 [DOCS-7348] upating prometheus host collection
  content/en/integrations/guide/prometheus-host-collection.md
Labels: Guide

#22094 Move widget specific information from landing page to widget page
  content/en/dashboards/_index.md
  content/en/dashboards/sharing.md
  content/en/dashboards/widgets/_index.md
  content/en/logs/guide/correlate-logs-with-metrics.md
Labels: Guide

#22095 Add example for multiple tags
  content/en/database_monitoring/guide/tag_database_statements.md
Labels: Guide

#22101 Bump dd-trace-java layer version to 14
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#20231 DOCS-6436 Add Local and Remote Testing Documentation
  config/_default/menus/menus.en.yaml
  content/en/continuous_testing/_index.md
  content/en/continuous_testing/environments/_index.md
  content/en/continuous_testing/environments/multiple_env.md
  content/en/continuous_testing/environments/proxy_firewall_vpn.md
  content/en/developers/ide_integrations/vscode/_index.md
  content/en/getting_started/continuous_testing/_index.md
  content/en/synthetics/browser_tests/_index.md
  static/images/continuous_testing/continuous_testing_resource-url_substitution.png
  static/images/continuous_testing/environments.png
  static/images/continuous_testing/starting_url_substitution.png
  static/images/continuous_testing/testing_tunnel.png
Labels: Architecture, editorial review, Images

#22067 Esther documentation edits to PR
  config/_default/menus/menus.en.yaml
  content/en/monitors/downtimes/_index.md
  content/en/monitors/downtimes/examples.md
  content/en/monitors/guide/_index.md
Labels: Architecture, WORK IN PROGRESS, Guide

#22013 (DOCS-7345) Test monitors
  content/en/service_management/workflows/trigger.md
  static/images/service_management/workflows/test-monitor.mp4
Labels: Images

#22113 Use Test Visibility & Intelligent Test Runner Icon in the Left Hand Navigation
  config/_default/menus/menus.en.yaml
Labels: Architecture

#22092 product and source names match - standard attributes - [WEB-4573]
  layouts/standard-attributes/list.html
Labels: Architecture

#22114 Update how-datadog-agent-determines-the-hostname.md
  content/en/agent/faq/how-datadog-agent-determines-the-hostname.md
Labels: FAQ

#22081 [test-visibility] Improvements to javascript section
  content/en/tests/setup/javascript.md
Labels: editorial review

#22057 add MWAA to the table of AWS services with supported logs
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: Guide

#22040 Update history_and_evaluation_graphs.md
  content/en/monitors/guide/history_and_evaluation_graphs.md
Labels: Guide

#22074 Add note about visual formatting rules for QVwidget
  content/en/dashboards/widgets/query_value.md
  static/images/dashboards/widgets/query_value/visual_formatting_rules_custom_img.png
Labels: editorial review, Images

#22123 set `site` param to selected region - [WEB-4546]
  assets/scripts/region-redirects.js
Labels: Architecture

#22004 Enforced tags settings for synthetic tests
  content/en/synthetics/settings/_index.md
Labels: editorial review, synthetics

#22128 Bump datadog-lambda-js layer to version 107
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#22041 New RUM Product Analytics section
  config/_default/menus/menus.en.yaml
  content/en/dashboards/widgets/funnel.md
  content/en/dashboards/widgets/heatmap.md
  content/en/real_user_monitoring/explorer/visualize.md
  content/en/real_user_monitoring/guide/enable-rum-shopify-store.md
  content/en/real_user_monitoring/guide/enable-rum-squarespace-store.md
  content/en/real_user_monitoring/guide/enable-rum-woocommerce-store.md
  content/en/real_user_monitoring/guide/rum-for-product-analytics.md
  content/en/real_user_monitoring/product_analytics/_index.md
  content/en/real_user_monitoring/product_analytics/funnel_analysis.md
  content/en/real_user_monitoring/product_analytics/heatmaps.md
  content/en/real_user_monitoring/product_analytics/retention_analysis.md
Labels: Architecture, Guide

#21912 Document Sankey visualization and create Product Analytics section of nav
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/product_analytics/sankey.md
  static/images/real_user_monitoring/product_analytics/sankey_diagrams/customized-sankey.png
  static/images/real_user_monitoring/product_analytics/sankey_diagrams/default-sankey.png
  static/images/real_user_monitoring/product_analytics/sankey_diagrams/sankey-funnel-conversion.png
  static/images/real_user_monitoring/product_analytics/sankey_diagrams/sankey-node-interaction.png
  static/images/real_user_monitoring/product_analytics/sankey_diagrams/wildcard-sankey.png
Labels: Architecture, WORK IN PROGRESS, Images

#22130 add legacy param
  content/en/observability_pipelines/legacy/reference/sinks.md
  content/en/observability_pipelines/legacy/reference/sources.md
  content/en/observability_pipelines/legacy/reference/transforms.md
  i18n/en.json
  layouts/reference/single.html
Labels: Architecture

#21811 [PRODUCTSA-1093] Refine K8S Helm chart values
  static/resources/yaml/observability_pipelines/v2/setup/aws_eks.yaml
  static/resources/yaml/observability_pipelines/v2/setup/azure_aks.yaml
  static/resources/yaml/observability_pipelines/v2/setup/google_gke.yaml
Labels: editorial review

#22138 [OTEL-1156][opentelemetry] Add guide on hostname resolution
  config/_default/menus/menus.en.yaml
  content/en/metrics/open_telemetry/otlp_metric_types.md
  content/en/opentelemetry/schema_semantics/host_metadata.md
  content/en/opentelemetry/schema_semantics/hostname.md
Labels: Architecture, opentelemetry

#22115 Move dashboard configuration info to separate page
  config/_default/menus/menus.en.yaml
  content/en/account_management/rbac/granular_access.md
  content/en/account_management/teams.md
  content/en/dashboards/_index.md
  content/en/dashboards/configure/_index.md
  content/en/dashboards/guide/context-links.md
  content/en/dashboards/guide/custom_time_frames.md
  content/en/integrations/guide/azure-cloud-adoption-framework.md
Labels: Architecture, editorial review, Guide

#22087 [RUM-3349] RUM Browser consent management doc
  content/en/logs/log_collection/javascript.md
  content/en/real_user_monitoring/browser/_index.md
  content/en/real_user_monitoring/browser/advanced_configuration.md
Labels: editorial review

#22065 (DOCS-7374) Rename Log Integration
  config/_default/menus/menus.en.yaml
  content/en/developers/integrations/log_pipeline.md
Labels: Architecture

#22164 Update single-step-apm.md to reflect new K8 helm chart changes
  content/en/tracing/trace_collection/automatic_instrumentation/single-step-apm.md
Labels: WORK IN PROGRESS

#21952 Updating language compatibility for ASM products
  content/en/security/application_security/api-inventory/_index.md
  content/en/security/application_security/enabling/compatibility/dotnet.md
  content/en/security/application_security/enabling/compatibility/go.md
  content/en/security/application_security/enabling/compatibility/java.md
  content/en/security/application_security/enabling/compatibility/nodejs.md
  content/en/security/application_security/enabling/compatibility/php.md
  content/en/security/application_security/enabling/compatibility/ruby.md
  layouts/shortcodes/asm-libraries-capabilities.md
Labels: Architecture, WORK IN PROGRESS, Do Not Merge

#21538 DOCS-6863 - Azure Private Link
  content/en/agent/guide/_index.md
  content/en/agent/guide/azure-private-link.md
Labels: Guide

#22170 Add product identifier tags to CSM Review and Remediate docs
  content/en/security/cloud_security_management/review_remediate/jira.md
  content/en/security/cloud_security_management/review_remediate/mute_issues.md
  content/en/security/cloud_security_management/review_remediate/workflows.md
Labels: security

#22117 Consolidate session replay pages
  .github/CODEOWNERS
  config/_default/menus/menus.en.yaml
  content/en/account_management/billing/rum.md
  content/en/data_security/_index.md
  content/en/data_security/real_user_monitoring.md
  content/en/getting_started/application/_index.md
  content/en/getting_started/session_replay/_index.md
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/browser/_index.md
  content/en/real_user_monitoring/browser/frustration_signals.md
  content/en/real_user_monitoring/feature_flag_tracking/_index.md
  content/en/real_user_monitoring/guide/browser-sdk-upgrade.md
  content/en/real_user_monitoring/guide/connect-session-replay-to-your-third-party-tools.md
  content/en/real_user_monitoring/guide/enable-rum-shopify-store.md
  content/en/real_user_monitoring/guide/enable-rum-squarespace-store.md
  content/en/real_user_monitoring/guide/investigate-zendesk-tickets-with-session-replay.md
  content/en/real_user_monitoring/guide/rum-for-product-analytics.md
  content/en/real_user_monitoring/guide/session-replay-for-solutions.md
  content/en/real_user_monitoring/guide/session-replay-service-worker.md
  content/en/real_user_monitoring/guide/shadow-dom.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/_index.md
  content/en/real_user_monitoring/product_analytics/heatmaps.md
  content/en/real_user_monitoring/session_replay/_index.md
  content/en/real_user_monitoring/session_replay/browser/_index.md
  content/en/real_user_monitoring/session_replay/browser/developer_tools.md
  content/en/real_user_monitoring/session_replay/browser/privacy_options.md
  content/en/real_user_monitoring/session_replay/browser/troubleshooting.md
  content/en/synthetics/guide/explore-rum-through-synthetics.md
  content/en/synthetics/guide/rum-to-synthetics.md
  content/en/synthetics/test_coverage/_index.md
  layouts/partials/nav/left-nav.html
Labels: Architecture, editorial review, Github, Guide

#21556 WEB-4262 - cloudcraft api
  assets/scripts/components/code-languages.js
  assets/scripts/components/copy-code.js
  config/_default/menus/menus.en.yaml
  content/en/cloudcraft/_index.md
  content/en/cloudcraft/api/_index.md
  content/en/cloudcraft/api/aws-accounts/_index.md
  content/en/cloudcraft/api/aws-accounts/add-an-aws-account.go
  content/en/cloudcraft/api/aws-accounts/add-an-aws-account.py
  content/en/cloudcraft/api/aws-accounts/delete-aws-account.go
  content/en/cloudcraft/api/aws-accounts/delete-aws-account.py
  content/en/cloudcraft/api/aws-accounts/get-aws-iam-role-parameters.go
  content/en/cloudcraft/api/aws-accounts/get-aws-iam-role-parameters.py
  content/en/cloudcraft/api/aws-accounts/get-my-aws-iam-policy.go
  content/en/cloudcraft/api/aws-accounts/list-aws-accounts.go
  content/en/cloudcraft/api/aws-accounts/list-aws-accounts.py
  content/en/cloudcraft/api/aws-accounts/snapshot-aws-account.go
  content/en/cloudcraft/api/aws-accounts/snapshot-aws-account.py
  content/en/cloudcraft/api/aws-accounts/update-an-aws-account.go
  content/en/cloudcraft/api/aws-accounts/update-an-aws-account.py
  content/en/cloudcraft/api/azure-accounts/_index.md
  content/en/cloudcraft/api/azure-accounts/add-an-azure-account.go
  content/en/cloudcraft/api/azure-accounts/delete-an-azure-account.go
  content/en/cloudcraft/api/azure-accounts/list-azure-accounts.go
  content/en/cloudcraft/api/azure-accounts/snapshot-an-azure-account.go
  content/en/cloudcraft/api/azure-accounts/update-an-azure-account.go
  content/en/cloudcraft/api/blueprints/_index.md
  content/en/cloudcraft/api/blueprints/create-a-blueprint.go
  content/en/cloudcraft/api/blueprints/create-a-blueprint.py
  content/en/cloudcraft/api/blueprints/delete-a-blueprint.go
  content/en/cloudcraft/api/blueprints/delete-a-blueprint.py
  content/en/cloudcraft/api/blueprints/export-a-blueprint-as-an-image.go
  content/en/cloudcraft/api/blueprints/export-a-blueprint-as-an-image.py
  content/en/cloudcraft/api/blueprints/list-blueprints.go
  content/en/cloudcraft/api/blueprints/list-blueprints.py
  content/en/cloudcraft/api/blueprints/retrieve-a-blueprint.go
  content/en/cloudcraft/api/blueprints/retrieve-a-blueprint.py
  content/en/cloudcraft/api/blueprints/update-a-blueprint.go
  content/en/cloudcraft/api/blueprints/update-a-blueprint.py
  content/en/cloudcraft/api/budgets/_index.md
  content/en/cloudcraft/api/budgets/export-budget-for-a-blueprint.go
  content/en/cloudcraft/api/budgets/export-budget-for-a-blueprint.py
  content/en/cloudcraft/api/users/_index.md
  content/en/cloudcraft/api/users/get-user-profile.go
  content/en/cloudcraft/api/users/get-user-profile.py
  data/cloudcraft.json
  layouts/partials/api/openapi-code-curl.html
  layouts/partials/api/openapi-code-example.html
  layouts/partials/api/openapi-code-go.html
  layouts/partials/api/openapi-code-java.html
  layouts/partials/api/openapi-code-javascript.html
  layouts/partials/api/openapi-code-python.html
  layouts/partials/api/openapi-code-ruby.html
  layouts/partials/api/response.html
  layouts/partials/code-lang-tabs.html
  layouts/partials/nav/left-nav.html
  layouts/shortcodes/openapi-ref-docs.html
Labels: Architecture, Do Not Merge

#22181 fix usage of "changed-files" GitHub action
  .github/workflows/check_cache_values.yml
  .github/workflows/code-freeze.yml
  .github/workflows/gif_check.yml
  .github/workflows/preview_link.yml
Labels: Github

#22180 remove version on cloudcraft api
  content/en/cloudcraft/api/_index.md
  data/cloudcraft.json
  layouts/shortcodes/openapi-ref-docs.html
Labels: Architecture

#22131 New RUM Platform section
  config/_default/menus/menus.en.yaml
  content/en/getting_started/tagging/unified_service_tagging.md
  content/en/logs/guide/ease-troubleshooting-with-cross-product-correlation.md
  content/en/metrics/custom_metrics.md
  content/en/opentelemetry/interoperability/_index.md
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/browser/_index.md
  content/en/real_user_monitoring/browser/collecting_browser_errors.md
  content/en/real_user_monitoring/browser/frustration_signals.md
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
  content/en/real_user_monitoring/browser/monitoring_resource_performance.md
  content/en/real_user_monitoring/browser/tracking_user_actions.md
  content/en/real_user_monitoring/guide/alerting-with-rum.md
  content/en/real_user_monitoring/guide/browser-sdk-upgrade.md
  content/en/real_user_monitoring/guide/enable-rum-shopify-store.md
  content/en/real_user_monitoring/guide/enable-rum-woocommerce-store.md
  content/en/real_user_monitoring/guide/monitor-kiosk-sessions-using-rum.md
  content/en/real_user_monitoring/guide/monitor-your-nextjs-app-with-rum.md
  content/en/real_user_monitoring/guide/session-replay-for-solutions.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/ios.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/reactnative.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/unity.md
  content/en/real_user_monitoring/platform/_index.md
  content/en/real_user_monitoring/platform/connect_rum_and_traces.md
  content/en/real_user_monitoring/platform/dashboards/_index.md
  content/en/real_user_monitoring/platform/dashboards/errors.md
  content/en/real_user_monitoring/platform/dashboards/performance.md
  content/en/real_user_monitoring/platform/dashboards/testing_and_deployment.md
  content/en/real_user_monitoring/platform/dashboards/usage.md
  content/en/real_user_monitoring/platform/generate_metrics.md
  content/en/service_management/service_level_objectives/metric.md
  content/en/tracing/_index.md
  content/en/tracing/other_telemetry/_index.md
  content/en/tracing/trace_explorer/request_flow_map.md
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
  layouts/partials/nav/left-nav.html
Labels: Architecture, editorial review, Guide

#22183 (maint) Fix env interpolation in preview link action
  .github/workflows/preview_link.yml
  content/en/agent/basic_agent_usage/aix.md
  content/en/agent/faq/agent_v6_changes.md
  content/en/code_analysis/software_composition_analysis/_index.md
Labels: Github, FAQ

#22182 (maint) Update Vale linter with envs
  .github/workflows/vale_linter.yml
  content/en/agent/faq/agent-downgrade-major.md
  content/en/agent/faq/certificate_verify_failed-error.md
  content/en/agent/faq/ec2-use-win-prefix-detection.md
Labels: Github, FAQ

#22174 DOCS-7237 - reusable content in severless azure/gcp docs
  content/en/serverless/azure_app_services/azure_app_services_container.md
  content/en/serverless/azure_container_apps/_index.md
  content/en/serverless/google_cloud_run/_index.md
  layouts/shortcodes/svl-init-dotnet.md
  layouts/shortcodes/svl-init-go.md
  layouts/shortcodes/svl-init-java.md
  layouts/shortcodes/svl-init-nodejs.md
  layouts/shortcodes/svl-init-php.md
  layouts/shortcodes/svl-init-python.md
  layouts/shortcodes/svl-init-ruby.md
Labels: Architecture

#22208 Update security posture score formula
  content/en/glossary/terms/security_posture_score.md
Labels: security

#22217 Update RUM usage attribution guide
  content/en/real_user_monitoring/guide/tracking-rum-usage-with-usage-attribution-tags.md
  static/images/real_user_monitoring/guide/rum-usage-attribution-tags/rum-use-attribution-tags-3.png
Labels: Images, Guide

#22218 Bump datadog-lambda-python layer to version 91
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#22225 [DOCS-7412] Browser RUM proxy extra note
  content/en/real_user_monitoring/guide/proxy-rum-data.md
Labels: Guide

#22228 DOCS-7446 Add Correlate Infrastructure Metrics with GitLab Autoscale Jobs in Datadog Guide
  content/en/continuous_integration/guides/_index.md
  content/en/continuous_integration/guides/infrastructure_metrics_with_gitlab.md
  static/images/continuous_integration/infrastructure_tab.png
Labels: Images

#22209 Collapse Content Shortcode
  assets/scripts/components/collapsible-section.js
  assets/styles/components/_collapsible-section.scss
  assets/styles/style.scss
  layouts/shortcodes/collapse-content.html
Labels: Architecture

#22230 [Hotjar] Point to new docs site for micrometer
  content/en/metrics/guide/micrometer.md
Labels: Guide

#22202 DOCS-7438 SLO private beta csv export
  content/en/service_management/service_level_objectives/_index.md
  static/images/service_management/service_level_objectives/slo-calendar-view.png
  static/images/service_management/service_level_objectives/slo-csv-export.png
Labels: editorial review, Images

#20976 DOCS-6806 - Connect to Datadog over GCP Private Service Connect
  content/en/agent/guide/_index.md
  content/en/agent/guide/gcp-private-service-connect.md
  static/images/agent/guide/psc/connect-endpoint-eu.png
  static/images/agent/guide/psc/connect-endpoint-success-eu.png
  static/images/agent/guide/psc/connect-endpoint-success.png
  static/images/agent/guide/psc/connect-endpoint.png
  static/images/agent/guide/psc/create-a-dns-zone-eu.png
  static/images/agent/guide/psc/create-a-dns-zone.png
  static/images/agent/guide/psc/create-record-eu.png
  static/images/agent/guide/psc/create-record.png
  static/images/agent/guide/psc/gcp-psc-overview-1.png
Labels: Do Not Merge, Images, Guide

#22248 Bump datadog-lambda-js layer to version 108
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#22251 Update log-collection-troubleshooting-guide.md
  content/en/logs/guide/log-collection-troubleshooting-guide.md
Labels: Guide

#21828 Update scoping_downtimes.md
  content/en/monitors/guide/scoping_downtimes.md
Labels: Guide

#22253 Update locked deprecation guide
  content/en/monitors/guide/how-to-set-up-rbac-for-monitors.md
Labels: Guide

#22210 [CLOUDCRAFT-222] Using the Bits menu
  content/en/cloudcraft/getting-started/_index.md
  content/en/cloudcraft/getting-started/using-bits-menu.md
  static/images/cloudcraft/getting-started/using-bits-menu/bits-menu-clicked.png
  static/images/cloudcraft/getting-started/using-bits-menu/bits-menu.png
Labels: editorial review, Images

#22269 Add Custom Pipelines in Left Hand Nav
  config/_default/menus/menus.en.yaml
Labels: Architecture

#22241 Revamp DORA Metrics documentation
  config/_default/menus/menus.en.yaml
  content/en/api/v2/dora-metrics/examples.json
  content/en/dora_metrics/_index.md
  content/en/dora_metrics/setup/_index.md
  content/en/dora_metrics/setup/deployments.md
  content/en/dora_metrics/setup/incidents.md
Labels: Architecture, editorial review

#22266 [Hackathon Q1 2024] Improve Line Highlight Style for Code Blocks
  assets/styles/vendor/_chroma-styles.scss
Labels: Architecture

#22260 CSM for windows: move out of beta/custom build status
  layouts/shortcodes/csm-windows-setup.md
Labels: Architecture, editorial review, security

#22163 Add statuspage integration guide
  config/_default/menus/menus.en.yaml
  content/en/service_management/incident_management/guides/_index.md
  content/en/service_management/incident_management/guides/statuspage.md
  static/images/service_management/incidents/guide/statuspage/add_update_statuspage_form.png
  static/images/service_management/incidents/guide/statuspage/update_status_modal.png
Labels: Architecture, Images

#22204 New guide to integrate Jira with Incident Management
  content/en/service_management/incident_management/guides/_index.md
  content/en/service_management/incident_management/guides/jira.md
  content/en/service_management/incident_management/guides/statuspage.md
  static/images/service_management/incidents/guide/jira/incident_jira_template.png
Labels: Images

#22186 Update "How to use Terraform to restrict the editing of a dashboard"
  content/en/dashboards/guide/how-to-use-terraform-to-restrict-dashboard-edit.md
Labels: editorial review, Guide

#22288 Move Crash Reporting up
  config/_default/menus/menus.en.yaml
Labels: Architecture

#22147 initial updates for showing all groups for monitor based SLOs
  content/en/dashboards/widgets/slo.md
  content/en/dashboards/widgets/slo_list.md
  content/en/service_management/service_level_objectives/guide/slo_types_comparison.md
  content/en/service_management/service_level_objectives/monitor.md
  static/images/dashboards/widgets/slo_list/slo-list-widget-editor-latest.png
  static/images/dashboards/widgets/slo_list/slo-list-widget-latest.png
  static/images/dashboards/widgets/slo_list/slo_list_editor.png
  static/images/dashboards/widgets/slo_list/slo_list_widget.png
Labels: editorial review, Images

#22086 (DOCS-7385)(Agent) Update CentOS/RH support
  content/en/agent/supported_platforms.md
Labels: Do Not Merge

#22229 [profiling] Fix missing instructions for Java custom context
  content/en/profiler/guide/isolate-outliers-in-monolithic-services.md
Labels: Guide

#22285 DOCS-7460: Update posture score defintion
  content/en/glossary/terms/security_posture_score.md
Labels: security

#22290 Add flex source potential candidates
  content/en/logs/log_configuration/flex_logs.md
  static/images/logs/log_configuration/flex_logging/logs-spectrum.png
Labels: Images

#22273 Update CI Visibility documentation
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/pipelines/jenkins.md
  content/en/tests/_index.md
  content/en/tests/guides/add_custom_metrics.md
  content/en/tests/setup/dotnet.md
  content/en/tests/setup/java.md
  content/en/tests/troubleshooting/_index.md
  static/images/ci/ci-jenkins-plugin-tests-config.png
Labels: Architecture, editorial review, Images

#22316 (OTEL) Migration guide
  content/en/opentelemetry/guide/_index.md
  content/en/opentelemetry/guide/migration.md
  content/en/opentelemetry/guide/switch_from_processor_to_connector.md
Labels: Guide

#22317 (OTEL) Replace guide in menu
  config/_default/menus/menus.en.yaml
Labels: Architecture

#22318 (OTEL) Add missing instruction
  content/en/opentelemetry/guide/migration.md
Labels: Guide

#22258 Samantha.scaglione/mobile app enterprise configuration
  config/_default/menus/menus.en.yaml
  content/en/service_management/mobile/enterprise_configuration.md
Labels: Architecture, editorial review

#22262 [CLOUDCRAFT-388] Automate Snapshots of Cloud Accounts via the Cloudcraft API
  content/en/cloudcraft/advanced/_index.md
  content/en/cloudcraft/advanced/auto-layout-via-api.md
Labels: editorial review

#22275 [ci-visibility] Rename metrics to measures in CI Visibility docs
  content/en/metrics/custom_metrics.md
  content/en/tests/code_coverage.md
  content/en/tests/guides/_index.md
  content/en/tests/guides/add_custom_measures.md
  content/en/tests/setup/dotnet.md
  content/en/tests/setup/java.md
  content/en/tests/setup/javascript.md
  content/en/tests/setup/python.md
  content/en/tests/setup/ruby.md
Labels: editorial review

#22338 PCI audit trail req
  layouts/shortcodes/pci-apm.md
  layouts/shortcodes/pci-logs.md
Labels: Architecture

#22339 Add FIM section to CSM Windows docs
  layouts/shortcodes/csm-windows-setup.md
Labels: Architecture, security

#22104 Streamline APM Product Overview
  content/en/tracing/_index.md
  static/images/tracing/deployment_tracking/VersionComparison.png
  static/images/tracing/index/ConnectLogsWithTraces.png
  static/images/tracing/trace_explorer/trace_explorer.png
Labels: Images

#22352 [ms-teams] Add link unfurl image to repo
  static/images/integrations/microsoft_teams/dashboard_share.png
Labels: Images

#22088 Update AWS permissions shortcode for Security Audit Policy
  layouts/shortcodes/aws-permissions.md
Labels: Architecture

#22272 update gcp docs to make it clear how to limit infra hosts
  content/en/cloud_cost_management/google_cloud.md
  static/images/cloud_cost/billing_export.png
  static/images/cloud_cost/gcp_integration_limit_metric_collection.png
Labels: editorial review, Images

#22321 Clarify renotify_statuses settings
  content/en/monitors/guide/monitor_api_options.md
Labels: Guide

#22298 Update Specifying library versions section for k8s
  content/en/tracing/trace_collection/automatic_instrumentation/single-step-apm.md
Labels: editorial review

#22364 Rename integrations-tools-and-libraries to api-clients in CODEOWNERS
  .github/CODEOWNERS
Labels: Github, changelog/no-changelog

#22363 (docs-build) Improve docs troubleshooting feedback
  local/bin/py/build/actions/pull_and_push_folder.py
  local/bin/py/build/update_pre_build.py
Labels: Architecture

#22370 Update CODEOWNERS for Software delivery
  .github/CODEOWNERS
Labels: Github

#22350 Add app signup UTM logic
  assets/scripts/components/global-modals.js
  assets/scripts/utms.js
Labels: Architecture

#22296 Dashboard landing page reorg
  config/_default/menus/menus.en.yaml
  content/en/dashboards/_index.md
  content/en/dashboards/configure/_index.md
  content/en/dashboards/guide/maintain-relevant-dashboards.md
  content/en/dashboards/list/_index.md
  content/en/logs/explorer/side_panel.md
  static/images/dashboards/list/recently_deleted_restore.png
Labels: Architecture, editorial review, Images, Guide

#22379 [Source Code Integration] Improvements to GitLab tab
  content/en/integrations/guide/source-code-integration.md
Labels: Guide

#22382 Fix typo
  content/en/serverless/guide/datadog_forwarder_python.md
Labels: Guide

#22315 Docs7402/update screenshot
  content/en/api/latest/_index.md
  content/en/getting_started/api/_index.md
  static/images/getting_started/postman/collection_variables.png
Labels: Images

#22156 Add high-level content to Getting Started index
  content/en/getting_started/_index.md
Labels: editorial review

#21695 Monitor History and Evaluation Graph guide
  content/en/monitors/guide/_index.md
  content/en/monitors/guide/history_and_evaluation_graphs.md
  static/images/monitors/guide/history_and_evaluation_graphs/eval_graph_evaluation_config.png
  static/images/monitors/guide/history_and_evaluation_graphs/history_graph_query_config.png
  static/images/monitors/guide/history_and_evaluation_graphs/monitor_aggregation_options.png
  static/images/monitors/guide/history_and_evaluation_graphs/troubleshoot_formulas_multi_query.png
  static/images/monitors/guide/history_and_evaluation_graphs/troubleshoot_monitor_eval_config.png
  static/images/monitors/guide/history_and_evaluation_graphs/troubleshooting_formula_eval_graph.png
  static/images/monitors/guide/history_and_evaluation_graphs/troubleshooting_formula_monitor_config.png
  static/images/monitors/guide/history_and_evaluation_graphs/troubleshooting_formulas_query_a.png
  static/images/monitors/guide/history_and_evaluation_graphs/troubleshooting_formulas_query_b.png
  static/images/monitors/guide/history_and_evaluation_graphs/troubleshooting_monitor_aggregation.png
  static/images/monitors/guide/history_and_evaluation_graphs/troubleshooting_monitor_eval_window.png
  static/images/monitors/guide/history_and_evaluation_graphs/troubleshooting_monitor_query.png
  static/images/monitors/guide/history_and_evaluation_graphs/troubleshooting_widget_aggregation.png
  static/images/monitors/guide/history_and_evaluation_graphs/troubleshooting_widget_eval_window.png
  static/images/monitors/guide/history_and_evaluation_graphs/troubleshooting_widget_query.png
Labels: WORK IN PROGRESS, Images, Guide

#22365 [web-4682] partitioned `device_id` cookie
  assets/scripts/components/dd-browser-logs-rum.js
Labels: Architecture

#22385 (DOCS-7530) Trigger incident from monitor
  content/en/service_management/workflows/trigger.md
Labels: Do Not Merge

#22066 Add RC and DBM endpoints to AWS PrivateLink page
  assets/scripts/config/regions.config.js
  content/en/agent/guide/private-link.md
Labels: Architecture, Guide

#22396 Bump datadog-lambda-python layer to version 92
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#22391 Bump AAS Linux version to v1.10.4
  content/en/serverless/azure_app_services/azure_app_services_linux.md
Labels: serverless

#22395 DOCS-7408: Upcoming changes to security notification rules
  content/en/security/upcoming_changes_notification_rules.md
  static/images/security/csm/notification_rules_new_selectors.png
Labels: Images, security

#22399 Update params.en.yaml
  config/_default/params.en.yaml
Labels: Architecture

#22299 Deprecating Oracle Python integration (DBMON-3776)
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/deprecated-oracle-integration.md
Labels: editorial review, Guide, database_monitoring

#20713 Reorganize Oracle DBM docs
  content/en/database_monitoring/setup_oracle/_index.md
  content/en/database_monitoring/setup_oracle/autonomous_database.md
  content/en/database_monitoring/setup_oracle/exadata.md
  content/en/database_monitoring/setup_oracle/rac.md
  content/en/database_monitoring/setup_oracle/rds.md
  content/en/database_monitoring/setup_oracle/selfhosted.md
  layouts/shortcodes/dbm-create-oracle-user.md
  layouts/shortcodes/dbm-existing-oracle-integration-setup.md
  layouts/shortcodes/dbm-multitenant-view-create-sql.md
  layouts/shortcodes/dbm-non-cdb-view-create-sql.md
  layouts/shortcodes/dbm-oracle-11-permissions-grant-sql.md
  layouts/shortcodes/dbm-oracle-11-view-create-sql.md
  layouts/shortcodes/dbm-oracle-definition.md
  layouts/shortcodes/dbm-oracle-multitenant-permissions-grant-sql.md
  layouts/shortcodes/dbm-oracle-non-cdb-permissions-grant-sql.md
  layouts/shortcodes/dbm-oracle-selfhosted-config.md
  layouts/shortcodes/dbm-supported-oracle-agent-version.md
  layouts/shortcodes/dbm-supported-oracle-versions.md
Labels: Architecture, editorial review

#22398 (maint)(docsdev) Catch int-finder error
  local/bin/py/integration-finder.py
Labels: Architecture

#22400 Update params translate status banner
  config/_default/params.en.yaml
Labels: Architecture

#22402 Fix generate metrics url
  config/_default/menus/menus.en.yaml
Labels: Architecture

#22308 DOCS-7504: Move identity risks vulnerabilities
  config/_default/menus/menus.en.yaml
  content/en/getting_started/cloud_security_management/_index.md
  content/en/infrastructure/containers/container_images.md
  content/en/security/_index.md
  content/en/security/cloud_security_management/_index.md
  content/en/security/cloud_security_management/identity_risks/_index.md
  content/en/security/cloud_security_management/review_remediate/jira.md
  content/en/security/cloud_security_management/review_remediate/mute_issues.md
  content/en/security/cloud_security_management/review_remediate/workflows.md
  content/en/security/cloud_security_management/setup/_index.md
  content/en/security/cloud_security_management/setup/csm_enterprise/_index.md
  content/en/security/cloud_security_management/setup/csm_enterprise/agent/ecs_ec2.md
  content/en/security/cloud_security_management/setup/csm_enterprise/agent/kubernetes.md
  content/en/security/cloud_security_management/setup/csm_enterprise/agent/linux.md
  content/en/security/cloud_security_management/setup/csm_enterprise/cloud_accounts/_index.md
  content/en/security/cloud_security_management/setup/csm_pro/_index.md
  content/en/security/cloud_security_management/setup/csm_pro/agent/_index.md
  content/en/security/cloud_security_management/setup/csm_pro/agent/ecs_ec2.md
  content/en/security/cloud_security_management/setup/csm_pro/agent/kubernetes.md
  content/en/security/cloud_security_management/setup/csm_pro/agent/linux.md
  content/en/security/cloud_security_management/severity_scoring.md
  content/en/security/cloud_security_management/vulnerabilities/_index.md
  content/en/security/default_rules/_index.md
  content/en/security/detection_rules/_index.md
  content/en/security/security_inbox.md
Labels: Architecture, editorial review, security

#22404 [DOCS-7533] Add calculated queries doc
  content/en/logs/explorer/calculated_fields.md
  static/images/logs/explorer/calculated_query.png
Labels: Images

#22376 Migrating Oracle integration to DBM code base (DBMON-3777)
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/oracle-check-upgrade-7.50.1.md
Labels: editorial review, Guide, database_monitoring

#22329 Data Jobs Monitoring - Update Databricks init script
  content/en/data_jobs/databricks.md
  static/images/data_jobs/databricks/configure-databricks-cluster-init-script.png
  static/images/data_jobs/databricks/configure-databricks-global-init-script.png
  static/resources/sh/data_jobs/datadog_databricks_job_monitoring_init.sh
  static/resources/sh/data_jobs/datadog_databricks_job_monitoring_init_without_logs.sh
Labels: Images

#22413 (DOCS-7342) Update Kinesis Data Firehose -> Amazon Data Firehose
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/aws-cloudwatch-metric-streams-with-kinesis-data-firehose.md
  content/en/logs/guide/_index.md
  content/en/logs/guide/aws-eks-fargate-logs-with-kinesis-data-firehose.md
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-kinesis-firehose-destination.md
Labels: Guide

#22423 (DOCS-7342) Update service name
  content/en/account_management/billing/aws.md
  content/en/containers/troubleshooting/_index.md
  content/en/getting_started/integrations/aws.md
  content/en/integrations/guide/aws-integration-and-cloudwatch-faq.md
  content/en/integrations/guide/aws-manual-setup.md
  content/en/integrations/guide/cloud-metric-delay.md
Labels: Guide

#22412 add region link-element functionality with DOCS-7443 use case
  assets/scripts/config/regions.config.js
  assets/scripts/region-redirects.js
  content/en/logs/log_configuration/forwarding_custom_destinations.md
  layouts/shortcodes/region-param.html
Labels: Architecture

#22425 DOCS-7478: add gov region warning to logs guide
  content/en/logs/guide/sending-events-and-logs-to-datadog-with-amazon-eventbridge-api-destinations.md
Labels: Guide

#22426 DOCS-7281: Update ad_identifiers.md
  content/en/containers/guide/ad_identifiers.md
Labels: Guide

#22427 Update community ints doc.md
  content/en/agent/guide/use-community-integrations.md
Labels: Guide

#22428 [DOCS-7516] added vulnerability database for SCA
  content/en/security/application_security/software_composition_analysis/_index.md
Labels: security
