Repository DataDog/documentation, pull requests merged in 2024-09, with the labels that each got.

#24524 Update android.md
  content/en/real_user_monitoring/error_tracking/mobile/android.md
Labels: editorial review

#24777 docs(php): Add Symfony Messenger Support
  content/en/tracing/trace_collection/compatibility/php.md
  content/en/tracing/trace_collection/library_config/php.md
Labels: tracing

#25027 Add note about JSP apps for RUM proxy config
  content/en/real_user_monitoring/guide/proxy-rum-data.md
Labels: Guide

#24803 DOCS-8763 Pipeline Visibility Setup Documentation Updates
  content/en/continuous_integration/pipelines/awscodepipeline.md
  content/en/continuous_integration/pipelines/azure.md
  content/en/continuous_integration/pipelines/buildkite.md
  content/en/continuous_integration/pipelines/circleci.md
  content/en/continuous_integration/pipelines/codefresh.md
  content/en/continuous_integration/pipelines/github.md
  content/en/continuous_integration/pipelines/gitlab.md
  content/en/continuous_integration/pipelines/jenkins.md
  content/en/continuous_integration/pipelines/teamcity.md
Labels: editorial review

#25028 Update control-sensitive-logs-data.md to rectify NOT query wording
  content/en/logs/guide/control-sensitive-logs-data.md
Labels: Guide

#25026 Fix jumping between Metrics and OTel docs
  config/_default/menus/main.en.yaml
  content/en/metrics/open_telemetry/otlp_metrics.md
  content/en/opentelemetry/otel_metrics.md
  content/en/opentelemetry/otlp_metric_types.md
Labels: Architecture

#24719 update to no data for metric monitors
  content/en/monitors/configuration/_index.md
  static/images/monitors/create/on_missing_data.png
Labels: Images

#25021 APM Ingestion Controls: document the sampling service dimension
  content/en/tracing/trace_pipeline/ingestion_controls.md
  content/en/tracing/trace_pipeline/metrics.md
  static/images/tracing/trace_indexing_and_ingestion/usage_metrics/sampling_service.png
Labels: editorial review, Images

#25053 Update params.en.yaml
  config/_default/params.en.yaml
Labels: Architecture

#25069 Update best-practices-for-log-management.md
  content/en/logs/guide/best-practices-for-log-management.md
Labels: Guide

#25036 Add new pages for Sheets and functions and operators
  config/_default/menus/main.en.yaml
  content/en/sheets/_index.md
  content/en/sheets/functions_operators.md
  static/images/sheets/calculated_columns.png
  static/images/sheets/create_table.png
  static/images/sheets/lookup.png
Labels: Architecture, editorial review, Images

#24665 Datadog Agent with Embedded OpenTelemetry Collector Migration Guide
  content/en/opentelemetry/agent/_index.md
  content/en/opentelemetry/agent/agent_with_custom_components.md
  content/en/opentelemetry/agent/install_agent_with_collector.md
  content/en/opentelemetry/agent/migration.md
Labels: editorial review

#25091 fix pipelines
  local/bin/py/build/actions/security_rules.py
Labels: Architecture

#25097 Update Diagram for Agent w/ Embedded Collector
  content/en/opentelemetry/agent/_index.md
  static/images/opentelemetry/embedded_collector/architecture.png
  static/images/opentelemetry/embedded_collector/architecture2.png
Labels: Images

#25088 DOCS-8454 Remove prod analytics guide
  content/en/product_analytics/_index.md
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/rum-for-product-analytics.md
Labels: Guide

#25078 [DOCS-8804] Synthetics Advanced options: adding exit on success
  content/en/synthetics/browser_tests/advanced_options.md
  static/images/synthetics/browser_tests/advanced_options/success_exit.png
Labels: Images

#25072 DOCS-8897: Security Inbox updates
  content/en/security/security_inbox.md
Labels: security

#25083 [PROF-10486] Update docs to mark Ruby allocation profiling GA
  content/en/profiler/connect_traces_and_profiles.md
  content/en/profiler/enabling/ruby.md
  content/en/profiler/enabling/supported_versions.md
  content/en/profiler/profile_types.md
  content/en/profiler/profiler_troubleshooting/ruby.md
Labels: editorial review

#25051 Added documentation for system properties not working in Graal native images
  content/en/tracing/trace_collection/compatibility/java.md
Labels: editorial review

#25111 Formatting and copy suggestions
  content/en/dashboards/guide/_index.md
  content/en/dashboards/guide/is-read-only-deprecation.md
Labels: editorial review, Guide

#25015 [Dashboards] add is_read_only api attribute deprecation guide
  content/en/dashboards/guide/_index.md
  content/en/dashboards/guide/is-read-only-deprecation.md
Labels: editorial review, Guide

#25110 Update how-to-set-up-rbac-for-monitors.md
  content/en/monitors/guide/how-to-set-up-rbac-for-monitors.md
Labels: Guide

#25040 [DOCS-8863] Add individual processor docs
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/processors/_index.md
  content/en/observability_pipelines/processors/add_hostname.md
  content/en/observability_pipelines/processors/edit_fields.md
  content/en/observability_pipelines/processors/enrichment_table.md
  content/en/observability_pipelines/processors/filter.md
  content/en/observability_pipelines/processors/grok_parser.md
  content/en/observability_pipelines/processors/parse_json.md
  content/en/observability_pipelines/processors/quota.md
  content/en/observability_pipelines/processors/reduce.md
  content/en/observability_pipelines/processors/sample.md
  content/en/observability_pipelines/processors/sensitive_data_scanner.md
Labels: Architecture

#24993 [DOCS-8863] Add individual destination docs
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/destinations/_index.md
  content/en/observability_pipelines/destinations/amazon_opensearch.md
  content/en/observability_pipelines/destinations/amazon_s3.md
  content/en/observability_pipelines/destinations/azure_storage.md
  content/en/observability_pipelines/destinations/datadog_logs.md
  content/en/observability_pipelines/destinations/elasticsearch.md
  content/en/observability_pipelines/destinations/google_chronicle.md
  content/en/observability_pipelines/destinations/google_cloud_storage.md
  content/en/observability_pipelines/destinations/opensearch.md
  content/en/observability_pipelines/destinations/splunk_hec.md
  content/en/observability_pipelines/destinations/sumo_logic_hosted_collector.md
  content/en/observability_pipelines/destinations/syslog.md
  layouts/shortcodes/observability_pipelines/destination_batching.md
Labels: Architecture, editorial review

#24576 Service Scorecards docs reorg
  config/_default/menus/main.en.yaml
  content/en/service_catalog/scorecards.md
  content/en/service_catalog/scorecards/_index.md
  content/en/service_catalog/scorecards/custom_rules.md
  content/en/service_catalog/scorecards/scorecard_configuration.md
  content/en/service_catalog/scorecards/using_scorecards.md
Labels: Architecture

#25121 Add Datadog intake to the agent and collector configs
  content/en/opentelemetry/agent/install_agent_with_collector.md
Labels: editorial review

#25100 Documenting Current Support for Span Events
  content/en/tracing/trace_collection/custom_instrumentation/dotnet/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/go/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/nodejs/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/php/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/python/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/ruby/otel.md
Labels: editorial review

#25117 Remove duplicate key in site params YAML
  config/_default/params.yaml
Labels: Architecture

#25038 (DOCS-8859) Add test and debug page for Workflows
  config/_default/menus/main.en.yaml
  content/en/service_management/workflows/actions/data_transformation.md
  content/en/service_management/workflows/build.md
  content/en/service_management/workflows/test_and_debug.md
  content/en/service_management/workflows/trigger.md
Labels: Architecture

#25129 Adding SCA for Fargate instructions
  content/en/security/guide/aws_fargate_config_guide.md
Labels: Guide

#25049 [DOCS-8447] Add missing APIs for Android SDK
  content/en/real_user_monitoring/guide/monitor-kiosk-sessions-using-rum.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/android.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/data_collected/android.md
Labels: Guide

#25131 Replace diagram
  content/en/continuous_delivery/deployments/argocd.md
  static/images/ci/cd-argocd-ci-correlation-setup-git-2024.png
Labels: Images

#25130 (DOCS-8962) add docs for ootb apps
  content/en/service_management/app_builder/_index.md
  static/images/service_management/app_builder/ootb-app-ec2-demo-data.png
Labels: Images

#25141 Update _index.md
  content/en/opentelemetry/agent/_index.md
Labels: editorial review

#25144 Add deduplicate processor ref doc
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/processors/_index.md
  content/en/observability_pipelines/processors/dedupe.md
  layouts/shortcodes/observability_pipelines/processors/dedupe.md
Labels: Architecture

#25161 [DOCS-8850] adding more info to SNMP traps about enabling logs
  content/en/network_monitoring/devices/snmp_traps.md
  static/images/network_device_monitoring/snmp/snmp_logs_2.png
Labels: Images

#24977 Update otel_demo_to_datadog.md on how to retrieve Environment Variables following OpenTelemetry standard
  content/en/opentelemetry/guide/otel_demo_to_datadog.md
Labels: Guide

#25172 Replace diagram
  content/en/continuous_delivery/deployments/argocd.md
  static/images/ci/diagram_argo-cd-deployment_240910.png
Labels: Images

#25178 Add region note
  content/en/logs/guide/azure-logging-guide.md
Labels: Guide

#25185 Add region note
  content/en/logs/guide/azure-logging-guide.md
Labels: Guide

#25180 Clarify sentence about dropping traces
  content/en/tracing/guide/ignoring_apm_resources.md
Labels: Guide

#24984 Error Tracking Standalone Doc Reshuffle
  config/_default/menus/main.en.yaml
  content/en/error_tracking/_index.md
  content/en/error_tracking/backend/_index.md
  content/en/error_tracking/backend/exception_replay.md
  content/en/error_tracking/backend/logs.md
  content/en/error_tracking/frontend/_index.md
  content/en/error_tracking/frontend/browser.md
  content/en/error_tracking/frontend/collecting_browser_errors.md
  content/en/error_tracking/frontend/logs.md
  content/en/error_tracking/frontend/mobile/_index.md
  content/en/error_tracking/frontend/mobile/android.md
  content/en/error_tracking/frontend/mobile/expo.md
  content/en/error_tracking/frontend/mobile/flutter.md
  content/en/error_tracking/frontend/mobile/ios.md
  content/en/error_tracking/frontend/mobile/reactnative.md
  content/en/error_tracking/frontend/mobile/roku.md
  content/en/error_tracking/logs.md
  content/en/error_tracking/standalone_frontend/browser.md
  content/en/logs/error_tracking/backend.md
  content/en/logs/error_tracking/browser_and_mobile.md
  content/en/real_user_monitoring/browser/collecting_browser_errors.md
  content/en/real_user_monitoring/error_tracking/browser.md
  content/en/real_user_monitoring/error_tracking/mobile/roku.md
  content/en/tracing/error_tracking/exception_replay.md
  layouts/partials/error_tracking/error-tracking-mobile.html
Labels: Architecture

#25197 Remove unnecessary aliases
  content/en/security/cloud_security_management/setup/agent/_index.md
  content/en/security/cloud_security_management/setup/agentless_scanning/_index.md
  content/en/security/cloud_security_management/setup/cloudtrail_logs.md
Labels: security

#25202 Bump datadog-lambda-extension layer to version 65
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#25203 Fix links and add aliases
  content/en/security/cloud_security_management/agentless_scanning/_index.md
  content/en/security/cloud_security_management/agentless_scanning/deployment_methods.md
  content/en/security/cloud_security_management/setup/agentless_scanning/cloudformation.md
  content/en/security/cloud_security_management/setup/agentless_scanning/terraform.md
Labels: security

#25206 Fix tab casing
  content/en/logs/guide/azure-logging-guide.md
Labels: Guide

#25188 [DBM for MongoDB] Update DBM for MongoDB beta agent version & new data collected
  layouts/shortcodes/dbm-mongodb-agent-beta-install-docker.md
  layouts/shortcodes/dbm-mongodb-agent-beta-install-kubernetes.md
  layouts/shortcodes/dbm-mongodb-agent-beta-install-linux.md
  layouts/shortcodes/dbm-mongodb-agent-data-collected.md
  layouts/shortcodes/dbm-mongodb-agent-setup-docker.md
  layouts/shortcodes/dbm-mongodb-before-you-begin.md
  layouts/shortcodes/dbm-mongodb-beta-new-features
Labels: Architecture

#25126 [DOCS-8931] Strategies for Reducing Log Volume guide
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/guide/_index.md
  content/en/observability_pipelines/guide/strategies_for_reducing_log_volume.md
  static/images/observability_pipelines/guide/strategies_for_reducing_log_volume/quota_example.png
  static/images/observability_pipelines/guide/strategies_for_reducing_log_volume/sample_example.png
Labels: Architecture, WORK IN PROGRESS, Images, Guide

#25228 [ACCESS-2693] Scopes docs update
  content/en/account_management/api-app-keys.md
  content/en/api/latest/scopes/_index.md
Labels: changelog/Changed, aaa-access

#25231 Fix typos in Mobile SDKs docs
  content/en/real_user_monitoring/error_tracking/mobile/flutter.md
  content/en/real_user_monitoring/error_tracking/mobile/ios.md
  content/en/real_user_monitoring/guide/mobile-sdk-upgrade.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/android.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/reactnative.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/data_collected/ios.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/data_collected/roku.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/integrated_libraries/reactnative.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/expo.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/unity.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/supported_versions/ios.md
Labels: Guide

#25234 update doc for test notification to add group selection feature
  content/en/monitors/notify/_index.md
  static/images/monitors/notifications/test_notification_modal.png
Labels: Images

#25094 DDSQL Reorg
  config/_default/menus/main.en.yaml
  content/en/ddsql_editor/_index.md
  content/en/ddsql_editor/getting_started.md
  content/en/ddsql_editor/guide/ddsql_use_cases.md
  content/en/ddsql_editor/reference/_index.md
  content/en/ddsql_editor/reference/aggregation_functions.md
  content/en/ddsql_editor/reference/functions.md
  content/en/ddsql_editor/reference/statements.md
  content/en/ddsql_editor/reference/window_functions.md
  static/images/ddsql_editor/inventories-overview.png
  static/images/ddsql_editor/natural-language-query.png
  static/images/ddsql_editor/natural-language-search.png
  static/images/ddsql_editor/preview-sample-values.png
  static/images/ddsql_editor/query-result.png
  static/images/ddsql_editor/query-ui-overview copy.png
  static/images/ddsql_editor/query-ui-overview.png
  static/images/ddsql_editor/save-and-export.png
  static/images/ddsql_editor/save-or-export-result.png
  static/images/ddsql_editor/saved-queries-panel.png
  static/images/ddsql_editor/schema-explorer-example.png
  static/images/ddsql_editor/schema-explorer-table-example.png
  static/images/ddsql_editor/schema-explorer.png
  static/images/ddsql_editor/table-details-pane.png
  static/images/ddsql_editor/table-details.png
Labels: Architecture, Images, Guide

#25239 Remove unused variables
  content/en/security/cloud_security_management/guide/agent_variables.md
  content/en/security/cloud_security_management/setup/agent/linux.md
Labels: security

#25258 Move OP troubleshooting in nav
  config/_default/menus/main.en.yaml
Labels: Architecture

#24894 DOCS-8844 Cloud Cost Management Navigation Screenshots Update
  content/en/cloud_cost_management/_index.md
  content/en/cloud_cost_management/multisource_querying/_index.md
  content/en/cloud_cost_management/recommendations/_index.md
  content/en/cloud_cost_management/tag_explorer/_index.md
  content/en/monitors/types/cloud_cost.md
  static/images/cloud_cost/multisource_querying/filters_1.png
  static/images/cloud_cost/multisource_querying/filters_2.png
  static/images/cloud_cost/multisource_querying/refine_results_1.png
  static/images/cloud_cost/overview_2.png
  static/images/cloud_cost/recommendations/cost_recommendations_1.png
  static/images/cloud_cost/recommendations/overprovisioned_k8s_containers_sidepanel_1.png
  static/images/cloud_cost/tag_explorer/aws_1.png
  static/images/cloud_cost/tag_explorer/azure_1.png
  static/images/cloud_cost/tag_explorer/confluent_cloud_1.png
  static/images/cloud_cost/tag_explorer/databricks_1.png
  static/images/cloud_cost/tag_explorer/dropdown_1.png
  static/images/cloud_cost/tag_explorer/elastic_cloud.png
  static/images/cloud_cost/tag_explorer/fastly_1.png
  static/images/cloud_cost/tag_explorer/google_1.png
  static/images/cloud_cost/tag_explorer/mongodb_1.png
  static/images/cloud_cost/tag_explorer/openai_1.png
  static/images/cloud_cost/tag_explorer/snowflake_1.png
  static/images/cloud_cost/tag_explorer/twilio_1.png
  static/images/monitors/monitor_types/cloud_cost/explorer.png
  static/images/monitors/monitor_types/cloud_cost/sidepanel.png
Labels: Images

#25280 Update _index.md
  content/en/service_management/service_level_objectives/_index.md
  static/images/service_management/service_level_objectives/slo-calendar-view-2.png
Labels: Images

#25241 OTLP Metrics Intake Endpoint
  assets/scripts/config/regions.config.js
  content/en/opentelemetry/otlp_metrics.md
Labels: Architecture

#25196 Update Data Jobs Monitoring doc to add GCP Dataproc support
  content/en/data_jobs/_index.md
  content/en/data_jobs/dataproc.md
  layouts/partials/data_jobs/setup-platforms.html
  static/images/data_jobs/dataproc/init_action.png
  static/images/data_jobs/dataproc/key_value.png
Labels: Architecture, Images

#25270 Update Service Definitions Page
  config/_default/menus/main.en.yaml
  content/en/service_catalog/adding_metadata.md
  content/en/service_catalog/enrich_default_catalog/_index.md
  content/en/service_catalog/enrich_default_catalog/create_entries.md
  content/en/service_catalog/enrich_default_catalog/import_entries_dd.md
  content/en/service_catalog/enrich_default_catalog/import_entries_integrations.md
  content/en/service_catalog/integrations.md
  content/en/service_catalog/service_definitions/_index.md
  content/en/service_catalog/service_definitions/v2-0.md
  content/en/service_catalog/service_definitions/v2-1.md
  content/en/service_catalog/service_definitions/v2-2.md
  content/en/service_catalog/service_definitions/v3-0.md
  static/images/tracing/service_catalog/ide_plugin.png
Labels: Architecture, Images

#25266 DOCS-8522 Replace Datadog Cost Tags Screenshot
  content/en/cloud_cost_management/tag_explorer/_index.md
  static/images/cloud_cost/tag_explorer/datadog_1.png
Labels: Images

#24822 DOCS-8724 CI Visibility Partial Update
  layouts/partials/continuous_integration/ci-pipelines-getting-started.html
Labels: Architecture

#25297 Update docs to recommend using `is_exact_match` instead of `is_match` for a notification routing example
  content/en/monitors/guide/template-variable-evaluation.md
Labels: Guide

#25327 Bump datadog-lambda-rb layer to version 23
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#25030 [DOCS-8772] Add unit testing section to log detection doc
  content/en/security/cloud_siem/log_detection_rules.md
  static/images/security/security_monitoring/detection_rules/joining_queries_20240904.png
  static/images/security/security_monitoring/detection_rules/new_value.png
  static/images/security/security_monitoring/detection_rules/threshold_20240904.png
Labels: Images

#25269 (Workflows) Set variables
  config/_default/menus/main.en.yaml
  content/en/service_management/workflows/actions/data_transformation.md
  content/en/service_management/workflows/actions/flow_control.md
  content/en/service_management/workflows/actions/set_variables.md
  content/en/service_management/workflows/build.md
  static/images/service_management/workflows/loop.png
  static/images/service_management/workflows/set-variable.png
Labels: Architecture, Images

#25336 Add blog links to NPM and USM docs
  content/en/network_monitoring/performance/_index.md
  content/en/universal_service_monitoring/_index.md
Labels: network_performance_monitoring, universal_service_monitoring

#25335 Update incident analytics documentation
  content/en/service_management/incident_management/_index.md
  content/en/service_management/incident_management/analytics.md
  static/images/service_management/incidents/analytics/analytics_graph_configuration.png
  static/images/service_management/incidents/analytics/incident_analytics.mp4
Labels: Images

#25338 adjust learning center callout styles
  layouts/shortcodes/learning-center-callout.html
Labels: Architecture

#25321 Update params.en.yaml
  config/_default/params.en.yaml
Labels: Architecture

#25344 [DOCS-4118] adding synthetic tests info to incident management
  content/en/service_management/incident_management/declare.md
  static/images/service_management/incidents/declare/synthetics_declare_incident.png
Labels: Images

#25310 DOCS-8999 update SCA getting started guide
  content/en/getting_started/application_security/software_composition_analysis.md
  static/images/security/application_security/software_composition_analysis/APM_SCA-enablement-quick-start-guide.mp4
  static/images/security/application_security/software_composition_analysis/SCA-enablement-settings-services.mp4
  static/images/security/application_security/software_composition_analysis/SCA-github-all-repositories.png
  static/images/security/application_security/software_composition_analysis/SCA-github-enabled-repositories.png
Labels: Images

#25353 Add dotnet to symdb language overview
  layouts/partials/dynamic_instrumentation/symbol-database-languages.html
Labels: Architecture

#25362 Jin/pci all endpoints
  layouts/shortcodes/pci-apm.md
  layouts/shortcodes/pci-logs.md
Labels: Architecture

#25347 Funnels is not part of RUM
  content/en/real_user_monitoring/guide/enable-rum-shopify-store.md
Labels: Guide

#25319 (DOCS-9031) Private Actions overview
  config/_default/menus/main.en.yaml
  content/en/service_management/app_builder/private_actions/_index.md
  content/en/service_management/app_builder/private_actions/use_private_actions.md
  content/en/service_management/workflows/private_actions/_index.md
  content/en/service_management/workflows/private_actions/use_private_actions.md
  static/images/service_management/private_action_runner_-_diagram_app_builder.png
  static/images/service_management/private_action_runner_-_diagram_general.png
  static/images/service_management/private_action_runner_-_diagram_workflow.png
Labels: Architecture, WORK IN PROGRESS, Images

#25193 [Network Path] Recommend not setting UDP port
  content/en/network_monitoring/network_path/setup.md
Labels: mergequeue-status: removed

#25366 Bump dd-trace-dotnet layer to version 16
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#25369 (DOCS-8485) - App Builder - reorder left nav
  config/_default/menus/main.en.yaml
Labels: Architecture

#25055 DOCS-8924 DORA Metrics Documentation Update
  config/_default/menus/main.en.yaml
  content/en/dora_metrics/data_collected/_index.md
  content/en/dora_metrics/deployments/apm.md
  content/en/dora_metrics/deployments/deployment_api.md
  content/en/dora_metrics/failures/_index.md
  content/en/dora_metrics/failures/incident_api.md
  content/en/dora_metrics/failures/pagerduty.md
  content/en/dora_metrics/setup/_index.md
  content/en/dora_metrics/setup/deployments.md
  content/en/dora_metrics/setup/failures.md
Labels: Architecture, editorial review

#25252 Add guide on what rate limit events are
  content/en/metrics/guide/rate-limit.md
  static/images/metrics/guide/rate_limit/event_monitor_config.png
  static/images/metrics/guide/rate_limit/rate_limit_events.png
Labels: editorial review, Images, Guide

#25379 Update autodiscovery-with-jmx.md
  content/en/containers/guide/autodiscovery-with-jmx.md
Labels: Guide

#25253 [CLOUDCRAFT-934] Datadog Integration
  content/en/cloudcraft/getting-started/_index.md
  content/en/cloudcraft/getting-started/connect-aws-account-with-cloudcraft.md
  content/en/cloudcraft/getting-started/datadog-integration.md
  static/images/cloudcraft/getting-started/datadog-integration/bits-icon.png
  static/images/cloudcraft/getting-started/datadog-integration/manage-aws-accounts.png
Labels: Images

#25284 [ACCESS-2532] Update role permissions docs
  content/en/account_management/rbac/permissions.md
Labels: changelog/Added, aaa-access

#25390 add `WEBSITE` variable for tests
  .github/workflows/synthetics.yml
Labels: Github

#25023 enable icons on action catalog pg - [WEB-5257]
  layouts/actioncatalog/list.html
  layouts/partials/icon.html
Labels: Architecture

#24473 [CONTINT-4332] Updated Documentation to Add kube_runtime_class Tag
  content/en/containers/kubernetes/tag.md
Labels: containers

#25191 Search indexes
  .gitlab-ci.yml
  layouts/_default/list.algolia.json
  layouts/partials/algolia/api-page-index.json
  layouts/partials/algolia/page-sections.json
  local/bin/js/typesense_sync.cjs
  package.json
  typesense.config.json
  yarn.lock
Labels: Architecture

#25397 Add Preview page for adaptive sampling
  content/en/tracing/guide/adaptive_sampling.md
  content/en/tracing/trace_pipeline/ingestion_controls.md
  static/images/tracing/guide/resource_based_sampling/adaptive_sampling_budget_cta.png
  static/images/tracing/guide/resource_based_sampling/adaptive_sampling_budget_modal.png
  static/images/tracing/guide/resource_based_sampling/adaptive_sampling_setting_modal.png
Labels: WORK IN PROGRESS, editorial review, Images, Guide

#25331 [test visibility] Remove beta flag from `datadog-ci` standalone binary
  content/en/tests/setup/junit_xml.md
Labels: lifecycle update

#25404 Identifying Unauthorized and Anomalous Processes
  content/en/security/cloud_security_management/guide/identify-unauthorized-anomalous-procs.md
  static/images/security/cloud_security_management/guide/csm_threats_anomaly_image_query.png
Labels: Do Not Merge, Images

#25333 DOCS-9046: Documentation for Kotlin Multiplatform SDK
  .github/CODEOWNERS
  config/_default/menus/main.en.yaml
  config/_default/params.yaml
  content/en/error_tracking/frontend/_index.md
  content/en/error_tracking/frontend/logs.md
  content/en/error_tracking/frontend/mobile/kotlin-multiplatform.md
  content/en/error_tracking/rum.md
  content/en/logs/log_collection/kotlin-multiplatform.md
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/real_user_monitoring/error_tracking/mobile/kotlin-multiplatform.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/_index.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/android.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/kotlin-multiplatform.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/data_collected/_index.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/data_collected/kotlin-multiplatform.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/integrated_libraries/kotlin-multiplatform.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/other_frameworks/_index.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/kotlin-multiplatform.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/troubleshooting/kotlin-multiplatform.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/web_view_tracking/_index.md
  content/en/real_user_monitoring/session_replay/mobile/setup_and_configuration.md
  layouts/partials/error_tracking/error-tracking-mobile.html
  layouts/partials/logs/logs-languages.html
  layouts/partials/rum/rum-error-tracking-mobile.html
  layouts/partials/rum/rum-getting-started-mobile-advanced.html
  layouts/partials/rum/rum-getting-started-mobile-data-collected.html
  layouts/partials/rum/rum-getting-started-mobile-setup.html
  layouts/partials/rum/rum-getting-started.html
  layouts/partials/rum/rum-mobile-integrated-libraries.html
  layouts/partials/rum/rum-troubleshooting-mobile.html
  layouts/standard-attributes/list.html
  static/images/integrations_logos/kotlin-multiplatform_large.svg
Labels: Architecture, editorial review, Github, Images

#25339 [DOCS-8575] documenting special assertion
  content/en/synthetics/browser_tests/actions.md
  static/images/synthetics/browser_tests/number_and_target.png
  static/images/synthetics/browser_tests/number_and_target_2.png
Labels: Images

#25418 Update main.ko.yaml for changing containers/docker Title
  config/_default/menus/main.ko.yaml
Labels: Architecture

#25245 (DOCS-8996) Add limits page for Workflow Automation
  config/_default/menus/main.en.yaml
  content/en/service_management/workflows/limits.md
  content/en/service_management/workflows/trigger.md
Labels: Architecture, WORK IN PROGRESS

#25382 [DOCS-8963 pt.1] Service overrides guide
  content/en/tracing/guide/service_overrides.md
  static/images/tracing/guide/service_overrides/new_service_rep.png
  static/images/tracing/guide/service_overrides/old_service_rep.png
  static/images/tracing/guide/service_overrides/service_overrides_new_service_rep.png
  static/images/tracing/guide/service_overrides/service_overrides_service_map.png
  static/images/tracing/guide/service_overrides/service_overrides_service_page.png
  static/images/tracing/guide/service_overrides/service_overrides_traces.png
Labels: editorial review, Images, Guide

#25434 Minor style tweaks to adaptive sampling page
  content/en/tracing/guide/adaptive_sampling.md
Labels: Guide

#25415 [DOCS-8992] Add helm chart values instructions for connecting Agent to Worker
  content/en/observability_pipelines/set_up_pipelines/archive_logs/datadog_agent.md
  content/en/observability_pipelines/set_up_pipelines/dual_ship_logs/datadog_agent.md
  content/en/observability_pipelines/set_up_pipelines/log_enrichment/datadog_agent.md
  content/en/observability_pipelines/set_up_pipelines/log_volume_control/datadog_agent.md
  content/en/observability_pipelines/set_up_pipelines/sensitive_data_redaction/datadog_agent.md
  content/en/observability_pipelines/set_up_pipelines/split_logs/datadog_agent.md
  content/en/observability_pipelines/sources/datadog_agent.md
  layouts/shortcodes/observability_pipelines/log_source_configuration/datadog_agent.md
  layouts/shortcodes/observability_pipelines/log_source_configuration/datadog_agent_kubernetes.md
Labels: Architecture, WORK IN PROGRESS

#25436 Don't let the checkout action store the token
  .github/workflows/bump_synthetics_worker_version.yml
  .github/workflows/bump_versions.yml
  .github/workflows/check_cache_values.yml
  .github/workflows/code-freeze.yml
  .github/workflows/datadog-static-analysis.yml
  .github/workflows/gif_check.yml
  .github/workflows/preview_link.yml
  .github/workflows/synthetics.yml
  .github/workflows/vale_linter.yml
  .github/workflows/validate_filenames.yml
Labels: Github, under_review

#25194 RUM-5770 [Mobile Session Replay] Update documentation with Fine-Grained Masking
  content/en/real_user_monitoring/session_replay/mobile/privacy_options.md
  content/en/real_user_monitoring/session_replay/mobile/setup_and_configuration.md
  static/images/real_user_monitoring/session_replay/mobile/masking-image-mask-all.png
  static/images/real_user_monitoring/session_replay/mobile/masking-image-mask-large-only.png
  static/images/real_user_monitoring/session_replay/mobile/masking-image-mask-non-bundled-only.png
Labels: editorial review, Images

#25449 Update otel_demo_to_datadog.md
  content/en/opentelemetry/guide/otel_demo_to_datadog.md
Labels: Guide

#25451 Updates DBM Query Metrics retention to 15 months
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

#25428 [SCICM-2626] Remove PHP tagging instructions
  content/en/integrations/guide/source-code-integration.md
Labels: Guide

#25326 Okta SAML setup instructions
  content/en/account_management/faq/_index.md
  content/en/account_management/faq/okta.md
  content/en/account_management/saml/okta.md
  static/images/account_management/saml/okta/choose_file.png
  static/images/account_management/saml/okta/company_id.png
  static/images/account_management/saml/okta/metadata_url.png
  static/images/account_management/saml/okta/sso_base_url.png
Labels: editorial review, Images, FAQ

#25445 [orchestrator] add explorter retention
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

#25466 Move Metrics section out of shortcode
  content/en/database_monitoring/setup_mongodb/mongodbatlas.md
  content/en/database_monitoring/setup_mongodb/selfhosted.md
  layouts/shortcodes/dbm-mongodb-agent-data-collected.md
Labels: Architecture

#25323 Update aurora.md
  content/en/database_monitoring/setup_postgres/aurora.md
Labels: under_review

#25453 [SVLS] Add warning for function reaching maximum duration
  content/en/serverless/guide/serverless_warnings.md
Labels: Guide

#25416 Workflows - Move variables and params info to their own top-level page
  config/_default/menus/main.en.yaml
  content/en/service_management/workflows/actions/set_variables.md
  content/en/service_management/workflows/build.md
  content/en/service_management/workflows/trigger.md
  content/en/service_management/workflows/variables.md
Labels: Architecture, WORK IN PROGRESS

#25044 (DOCS-7057) Workflow activity tracking
  config/_default/menus/main.en.yaml
  content/en/service_management/workflows/track.md
Labels: Architecture

#25421 Update CSM VM deployment types
  content/en/security/cloud_security_management/setup/supported_deployment_types.md
Labels: editorial review

#25267 update status correction docs
  content/en/dashboards/guide/slo_data_source.md
  content/en/service_management/service_level_objectives/_index.md
  static/images/dashboards/guide/slo_data_type/slo-data-good-bad-events.png
  static/images/dashboards/guide/slo_data_type/slo-data-source-correction.mp4
  static/images/service_management/service_level_objectives/correction-toggle.png
Labels: Images, Guide

#25398 (DOCS-8698) Add AWS account-level logs guide
  content/en/logs/guide/_index.md
  content/en/logs/guide/aws-account-level-logs.md
Labels: editorial review, Guide

#25304 SCICM-2609
  content/en/integrations/guide/source-code-integration.md
  layouts/shortcodes/sci-microsoft-sourcelink.md
Labels: Architecture, Guide

#25455 SaaS Cost Integrations Update
  content/en/cloud_cost_management/saas_costs.md
  layouts/partials/cloud_cost/cost-integrations.html
Labels: Architecture
