Repository DataDog/documentation, pull requests merged in 2024-04, with the labels that each got.

#22084 time slice alerting support
  content/en/monitors/types/slo.md
  content/en/service_management/service_level_objectives/burn_rate.md
  content/en/service_management/service_level_objectives/error_budget.md
  content/en/service_management/service_level_objectives/guide/slo_types_comparison.md
  static/images/service_management/service_level_objectives/slo-burn-rate-alert-v2.png
  static/images/service_management/service_level_objectives/slo-error-budget-alert-v2.png
Labels: Images

#22309 DOCS-7505: Move CSM Misconfigurations
  config/_default/menus/menus.en.yaml
  content/en/account_management/teams.md
  content/en/dashboards/guide/quick-graphs.md
  content/en/getting_started/cloud_security_management/_index.md
  content/en/getting_started/integrations/aws.md
  content/en/glossary/terms/security_posture_score.md
  content/en/infrastructure/resource_catalog/_index.md
  content/en/infrastructure/resource_catalog/schema.md
  content/en/integrations/guide/aws-manual-setup.md
  content/en/integrations/guide/aws-organizations-setup.md
  content/en/integrations/guide/azure-architecture-and-configuration.md
  content/en/integrations/guide/azure-portal.md
  content/en/network_monitoring/performance/network_analytics.md
  content/en/security/_index.md
  content/en/security/cloud_security_management/_index.md
  content/en/security/cloud_security_management/guide/public-accessibility-logic.md
  content/en/security/cloud_security_management/guide/writing_rego_rules.md
  content/en/security/cloud_security_management/misconfigurations/_index.md
  content/en/security/cloud_security_management/misconfigurations/compliance_rules.md
  content/en/security/cloud_security_management/misconfigurations/custom_rules.md
  content/en/security/cloud_security_management/misconfigurations/findings/_index.md
  content/en/security/cloud_security_management/misconfigurations/findings/export_misconfigurations.md
  content/en/security/cloud_security_management/misconfigurations/frameworks_and_benchmarks/_index.md
  content/en/security/cloud_security_management/misconfigurations/frameworks_and_benchmarks/custom_frameworks.md
  content/en/security/cloud_security_management/misconfigurations/frameworks_and_benchmarks/supported_frameworks.md
  content/en/security/cloud_security_management/misconfigurations/signals_explorer.md
  content/en/security/cloud_security_management/review_remediate/jira.md
  content/en/security/cloud_security_management/review_remediate/mute_issues.md
  content/en/security/cloud_security_management/review_remediate/workflows.md
  content/en/security/cloud_security_management/setup/_index.md
  content/en/security/cloud_security_management/setup/csm_enterprise/_index.md
  content/en/security/cloud_security_management/setup/csm_enterprise/agent/docker.md
  content/en/security/cloud_security_management/setup/csm_enterprise/agent/ecs_ec2.md
  content/en/security/cloud_security_management/setup/csm_enterprise/agent/kubernetes.md
  content/en/security/cloud_security_management/setup/csm_enterprise/agent/linux.md
  content/en/security/cloud_security_management/setup/csm_enterprise/cloud_accounts/_index.md
  content/en/security/cloud_security_management/setup/csm_pro/_index.md
  content/en/security/cloud_security_management/setup/csm_pro/cloud_accounts/_index.md
  content/en/security/cloud_security_management/severity_scoring.md
  content/en/security/default_rules/_index.md
  content/en/security/detection_rules/_index.md
  content/en/security/security_inbox.md
Labels: Architecture, editorial review, security, Guide

#22083 initial SLO data source update
  content/en/dashboards/guide/slo_data_source.md
  static/images/dashboards/guide/slo_data_type/slo-data-source-good-events.png
Labels: Images, Guide

#22436 Update monitor-kafka-queues.md
  content/en/tracing/guide/monitor-kafka-queues.md
Labels: Guide

#22438 Fix Ingestion Sampling Diagram
  content/en/tracing/guide/ingestion_sampling_use_cases.md
  static/images/tracing/guide/ingestion_sampling_use_cases/single-span-sampling2.png
Labels: Images, Guide

#22394 New docs for event correlation and pattern config
  config/_default/menus/menus.en.yaml
  content/en/service_management/events/correlation/_index.md
  content/en/service_management/events/correlation/pattern.md
  static/images/service_management/events/correlation/analyze_alerts_and_events.png
  static/images/service_management/events/correlation/pattern/preview_pattern_output.png
  static/images/service_management/events/correlation/recommended_patterns_preview.png
Labels: Architecture, editorial review, Images

#22424 [WEB-4688] fixes instant search console warnings
  assets/scripts/components/algolia.js
Labels: Architecture

#22444 DOCS-7542 vulnerability explorer screenshot update
  content/en/security/application_security/software_composition_analysis/_index.md
  static/images/security/application_security/software_composition_analysis/asm_sca_vulnerabilities.png
Labels: Images

#22430 Docs7342/update aws service name 3
  content/en/getting_started/integrations/aws.md
  content/en/integrations/guide/aws-manual-setup.md
  content/en/logs/guide/aws-eks-fargate-logs-with-kinesis-data-firehose.md
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-kinesis-firehose-destination.md
Labels: Guide

#22442 (DOCS-7456) Add conditions note
  content/en/integrations/guide/aws-manual-setup.md
Labels: Guide

#22445 Revert "[WEB-4688] fixes instant search console warnings"
  assets/scripts/components/algolia.js
Labels: Architecture

#22451 Add screenshot of new ServiceNow config step
  static/images/integrations/servicenow/datadog_sync_configuration.png
Labels: Images

#21949 DOCS-7301: Cloud Security Management KSPM
  config/_default/menus/menus.en.yaml
  content/en/security/cloud_security_management/misconfigurations/frameworks_and_benchmarks/kspm.md
  content/en/security/cloud_security_management/misconfigurations/frameworks_and_benchmarks/supported_frameworks.md
  content/en/security/cloud_security_management/setup/_index.md
  content/en/security/cloud_security_management/setup/csm_enterprise/agent/kubernetes.md
  content/en/security/cloud_security_management/setup/csm_pro/_index.md
  content/en/security/cloud_security_management/setup/csm_pro/agent/kubernetes.md
  static/images/security/csm/kspm_finding.png
  static/images/security/csm/kubernetes_posture_score.png
Labels: Architecture, WORK IN PROGRESS, Do Not Merge, Images, security

#22447 fixed audit trail setting doc as it does not match with the current UI
  content/en/account_management/audit_trail/_index.md
  static/images/account_management/audit_logs/audit_trail_settings.png
Labels: Images

#22460 Update instructions to assign tags
  content/en/getting_started/tagging/assigning_tags.md
  static/images/tagging/assigning_tags/host_add_tags.png
  static/images/tagging/assigning_tags/infrastructure_add_tags.png
Labels: Images

#22197 (DOCS-7351) Workflows: Revise workflows CSM doc
  content/en/security/cloud_security_management/review_remediate/workflows.md
Labels: Do Not Merge

#20670 Create billing > allotments page
  config/_default/menus/menus.en.yaml
  content/en/account_management/billing/product_allotments.md
Labels: Architecture

#22471 [DOCS-7256] updating screenshots and videos
  content/en/synthetics/search/_index.md
  content/en/synthetics/search/saved_views.md
  static/images/synthetics/search/create_a_new_saved_view_2.png
  static/images/synthetics/search/edit_tags_2.mp4
  static/images/synthetics/search/facet_search_2.mp4
  static/images/synthetics/search/synthetic_events_2.png
  static/images/synthetics/search/synthetic_tests_page_2.png
  static/images/synthetics/search/test_option_2.mp4
  static/images/synthetics/search/update_your_default_view_2.png
Labels: Images

#21572 [Event Management] Adding Pipelines and Processors as a seperate section
  config/_default/menus/menus.en.yaml
  content/en/service_management/events/_index.md
  content/en/service_management/events/pipelines_and_processors/arithmetic_processor.md
  content/en/service_management/events/pipelines_and_processors/category_processor.md
  content/en/service_management/events/pipelines_and_processors/date_remapper.md
  content/en/service_management/events/pipelines_and_processors/grok_parser.md
  content/en/service_management/events/pipelines_and_processors/lookup_processor.md
  content/en/service_management/events/pipelines_and_processors/overview.md
  content/en/service_management/events/pipelines_and_processors/remapper.md
  content/en/service_management/events/pipelines_and_processors/service_remapper.md
  content/en/service_management/events/pipelines_and_processors/status_remapper.md
  content/en/service_management/events/pipelines_and_processors/string_builder_processor.md
  content/en/service_management/events/usage.md
  static/images/service_management/events/grok-parser.png
Labels: Architecture, editorial review, Images

#22176 DOCS-7387 Container Cost Allocation Doc Update
  content/en/cloud_cost_management/_index.md
  content/en/cloud_cost_management/container_cost_allocation.md
  layouts/shortcodes/ccm-details.html
  static/images/cloud_cost/container_cost_allocation/container_allocation.png
Labels: Architecture, Images

#22381 DOCS-6134 Adds Dashboards and Metrics Terminology to the Docs Glossary
  content/en/glossary/terms/alert_graph.md
  content/en/glossary/terms/alert_value.md
  content/en/glossary/terms/change.md
  content/en/glossary/terms/check_status.md
  content/en/glossary/terms/dashboard.md
  content/en/glossary/terms/distribution.md
  content/en/glossary/terms/extract_(ETL).md
  content/en/glossary/terms/flush_interval.md
  content/en/glossary/terms/free_text.md
  content/en/glossary/terms/funnel.md
  content/en/glossary/terms/geomap.md
  content/en/glossary/terms/group.md
  content/en/glossary/terms/heatmap.md
  content/en/glossary/terms/hostmap.md
  content/en/glossary/terms/iframe.md
  content/en/glossary/terms/image.md
  content/en/glossary/terms/list.md
  content/en/glossary/terms/mean.md
  content/en/glossary/terms/median.md
  content/en/glossary/terms/metric.md
  content/en/glossary/terms/mode.md
  content/en/glossary/terms/monitor_summary.md
  content/en/glossary/terms/notes_and_links.md
  content/en/glossary/terms/percentile.md
  content/en/glossary/terms/pie_chart.md
  content/en/glossary/terms/powerpack.md
  content/en/glossary/terms/profiling_flame_graph.md
  content/en/glossary/terms/quartile.md
  content/en/glossary/terms/query_value.md
  content/en/glossary/terms/run_workflow.md
  content/en/glossary/terms/scatter_plot.md
  content/en/glossary/terms/screenboard.md
  content/en/glossary/terms/service_summary.md
  content/en/glossary/terms/slo_list.md
  content/en/glossary/terms/slo_summary.md
  content/en/glossary/terms/split_graph.md
  content/en/glossary/terms/standard_deviation.md
  content/en/glossary/terms/table.md
  content/en/glossary/terms/timeboard.md
  content/en/glossary/terms/timeseries.md
  content/en/glossary/terms/top_list.md
  content/en/glossary/terms/topology_map.md
  content/en/glossary/terms/treemap.md
  content/en/glossary/terms/variance.md
Labels: editorial review

#22500 fix(linux key rotation): Use a more direct command that works on every system
  content/en/agent/guide/linux-key-rotation-2024.md
Labels: Guide

#22383 [WEB-4715] Update include-markdown shortcode
  layouts/shortcodes/include-markdown.html
Labels: Architecture

#22008 Add workflows information to Monitors Notification
  content/en/monitors/notify/_index.md
  static/images/monitors/notifications/create-workflow.png
  static/images/monitors/notifications/notification-options.png
Labels: Images

#22503 Update diagram for database span sampling
  content/en/tracing/guide/ingestion_sampling_use_cases.md
  static/images/tracing/guide/ingestion_sampling_use_cases/single-span-sampling3.png
Labels: Images, Guide

#22512 Bump datadog-lambda-extension layer to version 56
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#22513 learning center callout - [WEB-4662]
  assets/styles/components/_learning-center-callout.scss
  assets/styles/style.scss
  content/en/getting_started/application/_index.md
  layouts/shortcodes/learning-center-callout.html
  static/images/learning-center-bits-logo-2.png
Labels: Architecture, Images

#22307 Reformatted RUM integrated libraries
  content/en/real_user_monitoring/mobile_and_tv_monitoring/integrated_libraries/_index.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/integrated_libraries/android.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/integrated_libraries/flutter.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/integrated_libraries/reactnative.md
  layouts/partials/rum/rum-mobile-integrated-libraries.html
Labels: Architecture

#22492 DOCS-7457 Enhancing Developer Workflows with Datadog Update
  content/en/tests/developer_workflows.md
  static/images/continuous_integration/case_failed_test.png
  static/images/continuous_integration/case_flaky_test.png
  static/images/continuous_integration/case_test_runs.png
Labels: Images

#22547 Update Case Mgmt images
  content/en/service_management/case_management/_index.md
  content/en/service_management/case_management/create_case.md
  content/en/service_management/case_management/projects.md
  content/en/service_management/case_management/view_and_manage/_index.md
  static/images/service_management/case_management/case_management_overview_cropped.png
  static/images/service_management/case_management/case_managment_overview.png
  static/images/service_management/case_management/create/manual_case_creation_cropped.png
  static/images/service_management/case_management/projects/join_a_project_cropped.png
  static/images/service_management/case_management/projects/projects_create_a_project_cropped.png
  static/images/service_management/case_management/view_and_manage/view_and_manage_overview_cropped.png
Labels: Images

#22548 BRAND-7063 Add Diagram from Brand Design
  content/en/developers/authorization/oauth2_in_datadog.md
  static/images/developers/authorization/oauth_process.png
Labels: Images

#22416 Add doc page to send data from OTel demo to Datadog
  config/_default/menus/menus.en.yaml
  content/en/opentelemetry/guide/_index.md
  content/en/opentelemetry/guide/otel_demo_to_datadog.md
  static/images/getting_started/opentelemetry/otel_demo/error_tracking.png
  static/images/getting_started/opentelemetry/otel_demo/service_catalog.png
  static/images/getting_started/opentelemetry/otel_demo/service_catalog_flow.png
  static/images/getting_started/opentelemetry/otel_demo/service_catalog_service.png
  static/images/getting_started/opentelemetry/otel_demo/trace_flamegraph.png
  static/images/getting_started/opentelemetry/otel_demo/trace_query.png
  static/images/getting_started/opentelemetry/otel_demo/traces_view.png
Labels: Architecture, editorial review, Images, Guide

#22468 Update troubleshooting.md
  content/en/security/application_security/troubleshooting.md
Labels: security

#22461 [CLOUDCRAFT-457] Crafting Better Diagrams: Cloudcraft's Live Diagramming and Filtering
  content/en/cloudcraft/getting-started/_index.md
  content/en/cloudcraft/getting-started/crafting-better-diagrams.md
  content/en/cloudcraft/getting-started/create-your-first-cloudcraft-diagram.md
  content/en/cloudcraft/getting-started/use-filters-to-create-better-diagrams.md
  static/images/cloudcraft/getting-started/crafting-better-diagrams/enable-new-experience.png
  static/images/cloudcraft/getting-started/crafting-better-diagrams/select-specific-resources-and-tags.mp4
  static/images/cloudcraft/getting-started/crafting-better-diagrams/select-specific-resources.mp4
Labels: editorial review, Images

#22418 Add mobile examples for custom error grouping
  config/_default/menus/menus.en.yaml
  content/en/error_tracking/custom_grouping.md
Labels: Architecture, editorial review

#22562 Create Team Management subpage
  config/_default/menus/menus.en.yaml
  content/en/account_management/teams/_index.md
  content/en/account_management/teams/manage.md
Labels: Architecture

#22516 DOCS-7598 Pipeline Visibility Jenkins Update
  content/en/continuous_integration/pipelines/jenkins.md
  static/images/ci/jenkins_plugin_agentless_urls_blurred.png
Labels: editorial review, Images

#22205 [DOCS-7432] Configure existing pipelines for OP
  content/en/observability_pipelines/configure_existing_pipelines.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/destination_env_vars/datadog.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/destination_env_vars/datadog_archives.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/destination_env_vars/splunk_hec.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/destination_env_vars/sumo_logic.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/install_worker/amazon_eks.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/install_worker/azure_aks.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/install_worker/cloudformation.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/install_worker/docker.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/install_worker/google_gke.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/install_worker/linux_apt.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/install_worker/linux_rpm.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/source_env_vars/datadog_agent.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/source_env_vars/splunk_hec.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/source_env_vars/splunk_tcp.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/source_env_vars/sumo_logic.md
Labels: Architecture

#22336 BitsAI updates
  config/_default/menus/menus.en.yaml
  content/en/bits_ai/_index.md
  content/en/bits_ai/getting_started.md
  content/en/bits_ai/managing_incidents.md
  content/en/bits_ai/query_examples.md
  static/images/bits_ai/getting_started/ai-enabled-search-bar.png
  static/images/bits_ai/getting_started/bits-ai-nav.png
  static/images/bits_ai/getting_started/bitsai_mobile_app.PNG
  static/images/bits_ai/getting_started/chat_panel_star_service.png
  static/images/bits_ai/getting_started/example-slack-query.png
  static/images/bits_ai/getting_started/search-bar-with-ai-suggestions.png
  static/images/bits_ai/managing_incidents/bitsai_slack_prerequisites.png
  static/images/bits_ai/managing_incidents/integration-settings.png
  static/images/bits_ai/query_examples/aws-product-cost-increase.png
  static/images/bits_ai/query_examples/checkout-error-patterns.png
  static/images/bits_ai/query_examples/cloudtrail-user-role-errors.png
  static/images/bits_ai/query_examples/hosts-by-az.png
  static/images/bits_ai/query_examples/logs-pie-chart.png
  static/images/bits_ai/query_examples/open-security-groups.png
  static/images/bits_ai/query_examples/rum-ios-crashes-query.png
  static/images/bits_ai/query_examples/rum_ios_crashes_query.png
  static/images/bits_ai/query_examples/slow-web-store-traces.png
  static/images/bits_ai/query_examples/web-store-spend-by-team.png
Labels: Architecture, editorial review, Images

#22581 Fix bits ai URL for menu
  config/_default/menus/menus.en.yaml
Labels: Architecture

#22422 Add merge label check
  .github/workflows/merge_label_check.yml
Labels: Github

#22573 Update nav in docs for slo and incidents
  content/en/getting_started/incident_management/_index.md
  content/en/service_management/service_level_objectives/_index.md
  content/en/service_management/service_level_objectives/guide/slo-checklist.md
  static/images/service_management/service_level_objectives/slo-calendar-view-cropped.png
Labels: Images

#22583 Update params.en.yaml
  config/_default/params.en.yaml
Labels: Architecture

#22491 [DOCS-7209] updating network vendors and SD-WAN support
  content/en/network_monitoring/devices/_index.md
Labels: network_monitoring

#22594 Add images to fix translated versions
  static/images/account_management/billing/usage_attribution/Usage-Attribution-v2-Total-Usage.png
  static/images/account_management/billing/usage_attribution/graph-by-tags.png
  static/images/account_management/billing/usage_attribution/histogram-graph-tag.png
  static/images/account_management/billing/usage_attribution/multiple-graphs-by-tags.png
  static/images/account_management/billing/usage_attribution/usage-attribution-options.png
Labels: Images

#21505 [DOCS-7627] Add OTel Kafka Metrics Docs
  config/_default/menus/menus.en.yaml
  content/en/opentelemetry/integrations/_index.md
  content/en/opentelemetry/integrations/kafka_metrics.md
  content/en/opentelemetry/schema_semantics/metrics_mapping.md
  static/images/opentelemetry/collector_exporter/kafka_metrics.png
Labels: Architecture, editorial review, Images

#22532 [RUM] Replace mentions of metrics with telemetry
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
  content/en/real_user_monitoring/explorer/_index.md
  content/en/real_user_monitoring/guide/remotely-configure-rum-using-launchdarkly.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/mobile_vitals/_index.md
Labels: Guide

#22591 Add profiling metrics to deployment tracking doc
  content/en/tracing/services/deployment_tracking.md
  static/images/tracing/deployment_tracking/DeploymentTrackingProfileComparison.png
Labels: Images

#22600 table layout fixed
  assets/styles/pages/_global.scss
Labels: Architecture

#22401 Rtrieu/rum new nav 2024
  config/_default/menus/menus.en.yaml
  content/en/data_security/real_user_monitoring.md
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/browser/_index.md
  content/en/real_user_monitoring/browser/advanced_configuration.md
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/real_user_monitoring/guide/define-services-and-track-ui-components-in-your-browser-application.md
  content/en/real_user_monitoring/guide/monitor-your-nextjs-app-with-rum.md
  content/en/real_user_monitoring/guide/tracking-rum-usage-with-usage-attribution-tags.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/mobile_vitals/_index.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/android.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/flutter.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/ios.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/reactnative.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/roku.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/unity.md
  content/en/real_user_monitoring/platform/dashboards/_index.md
  content/en/real_user_monitoring/platform/dashboards/usage.md
  content/en/real_user_monitoring/platform/generate_metrics.md
  content/en/real_user_monitoring/product_analytics/funnel_analysis.md
  content/en/real_user_monitoring/product_analytics/retention_analysis.md
  content/en/real_user_monitoring/product_analytics/sankey.md
  content/en/real_user_monitoring/session_replay/playlists.md
  static/images/real_user_monitoring/guide/rum-usage-attribution-tags/rum-use-attribution-tags-4.png
Labels: Architecture, Images, Guide

#22464 Updated UX Monitoring to Digital Experience for Synthetics
  content/en/getting_started/synthetics/api_test.md
  content/en/getting_started/synthetics/browser_test.md
  content/en/getting_started/synthetics/private_location.md
  content/en/synthetics/guide/explore-rum-through-synthetics.md
  content/en/synthetics/test_coverage/_index.md
Labels: Guide

#22605 Update code-freeze.yml
  .github/workflows/code-freeze.yml
Labels: Github

#22608 Undo code freeze
  .github/workflows/code-freeze.yml
Labels: Github

#22525 Use approved wording for GCP PSC
  content/en/agent/guide/gcp-private-service-connect.md
Labels: Guide

#22606 match xxl max-width to corp
  assets/styles/pages/_global.scss
Labels: Architecture

#22601 Devin.ford/bump action versions
  .github/workflows/bump_versions.yml
  .github/workflows/check_cache_values.yml
  .github/workflows/gif_check.yml
  .github/workflows/preview_link.yml
  .github/workflows/synthetics.yml
  .github/workflows/vale_linter.yml
Labels: Github

#22551 DOCS-7602 update for left nav changes
  content/en/getting_started/application_security/software_composition_analysis.md
  content/en/security/application_security/software_composition_analysis/_index.md
  content/en/security/application_security/threats/protection.md
Labels: security

#22515 DOCS-7600: CSM left nav updates
  content/en/security/audit_trail.md
  content/en/security/cloud_security_management/_index.md
  content/en/security/cloud_security_management/misconfigurations/compliance_rules.md
  content/en/security/cloud_security_management/misconfigurations/custom_rules.md
  content/en/security/cloud_security_management/misconfigurations/frameworks_and_benchmarks/custom_frameworks.md
  content/en/security/cloud_security_management/setup/_index.md
  content/en/security/detection_rules/_index.md
  content/en/security/threats/workload_security_rules/custom_rules.md
Labels: editorial review, security

#22611 Bump actions/checkout
  .github/workflows/vale_linter.yml
Labels: Github

#22626 WEB-4759 | Add external_redirects to redirects.txt
  layouts/_default/list.redirects.txt
Labels: Architecture

#21995 Update nodejs documentation
  content/en/security/application_security/enabling/compatibility/nodejs.md
  content/en/security/application_security/enabling/nodejs.md
  layouts/shortcodes/asm-libraries-capabilities.md
Labels: Architecture

#22618 Changes for renamed Oracle check (DBMON-3903)
  content/en/database_monitoring/setup_oracle/autonomous_database.md
  content/en/database_monitoring/setup_oracle/exadata.md
  content/en/database_monitoring/setup_oracle/rac.md
  content/en/database_monitoring/setup_oracle/rds.md
  content/en/database_monitoring/setup_oracle/selfhosted.md
  content/en/database_monitoring/setup_oracle/troubleshooting.md
  layouts/shortcodes/dbm-supported-oracle-agent-version.md
Labels: Architecture, database_monitoring

#22628 Reorder attributes - [WEB-4686]
  layouts/standard-attributes/list.html
Labels: Architecture

#22633 use csharp icon for `C#` language filter
  layouts/static-analysis/list.html
Labels: Architecture

#22631 (maint) Add GitHub action to validate filenames
  .github/workflows/validate_filenames.yml
Labels: Github

#22636 table wrapper for overflow-x
  assets/styles/pages/_global.scss
  layouts/shortcodes/get-metrics-from-git.html
Labels: Architecture

#22534 Update according to GitLab deprecation
  content/en/continuous_integration/pipelines/gitlab.md
Labels: editorial review, under_review

#22593 Add information on how to access the service context map
  content/en/service_catalog/investigating.md
  static/images/tracing/service_catalog/access_service_context_map.png
Labels: WORK IN PROGRESS, Images

#22619 Update _index.md of Notification
  content/en/monitors/notify/_index.md
  content/en/observability_pipelines/guide/set_quotas_for_data_sent_to_a_destination.md
Labels: editorial review, Guide

#22487 RC on by default and PrivateLink updates to publish on April 8th
  content/en/agent/remote_config/_index.md
Labels: editorial review

#22623 Adding ServiceNow bisync instructions
  content/en/service_management/case_management/settings.md
Labels: editorial review

#22621 Update QR code login section
  content/en/service_management/mobile/_index.md
Labels: editorial review

#22371 [DOCS-7528] adding support for ASM Single step
  config/_default/menus/menus.en.yaml
  content/en/security/application_security/_index.md
  content/en/security/application_security/enabling/_index.md
  content/en/security/application_security/enabling/serverless.md
  content/en/security/application_security/enabling/single_step/_index.md
  content/en/security/application_security/enabling/single_step/code_security.md
  content/en/security/application_security/enabling/single_step/threat_detection.md
  content/en/security/application_security/enabling/tracing_libraries/_index.md
  content/en/security/application_security/enabling/tracing_libraries/code_security/_index.md
  content/en/security/application_security/enabling/tracing_libraries/code_security/dotnet.md
  content/en/security/application_security/enabling/tracing_libraries/code_security/java.md
  content/en/security/application_security/enabling/tracing_libraries/code_security/nodejs.md
  content/en/security/application_security/enabling/tracing_libraries/threat_detection/_index.md
  content/en/security/application_security/enabling/tracing_libraries/threat_detection/dotnet.md
  content/en/security/application_security/enabling/tracing_libraries/threat_detection/go.md
  content/en/security/application_security/enabling/tracing_libraries/threat_detection/java.md
  content/en/security/application_security/enabling/tracing_libraries/threat_detection/nodejs.md
  content/en/security/application_security/enabling/tracing_libraries/threat_detection/php.md
  content/en/security/application_security/enabling/tracing_libraries/threat_detection/python.md
  content/en/security/application_security/enabling/tracing_libraries/threat_detection/ruby.md
  content/en/security/application_security/how-appsec-works.md
  content/en/security/application_security/threats/custom_rules.md
  content/en/security/application_security/threats/library_configuration.md
  content/en/tracing/trace_collection/library_injection_local.md
  layouts/partials/nav/left-nav.html
  layouts/partials/security-platform/appsec-languages-code-security.html
  layouts/partials/security-platform/appsec-languages.html
  layouts/shortcodes/appsec-getstarted.md
  static/images/security/application_security/single_step/asm_single_step_code_security.png
  static/images/security/application_security/single_step/asm_single_step_threat_detection_2.png
Labels: Architecture, WORK IN PROGRESS, Images

#22648 DOCS-7421: Add product identifier tags to Security Overview docs
  content/en/security/audit_trail.md
  content/en/security/detection_rules/_index.md
  content/en/security/notifications/_index.md
  content/en/security/notifications/rules.md
  content/en/security/notifications/variables.md
  content/en/security/security_inbox.md
  content/en/security/threat_intelligence.md
Labels: security

#22651 [DOCS-7418] adding table to map openmetrics to datadog metrics
  content/en/integrations/guide/prometheus-metrics.md
Labels: Guide

#22526 DOCS-7604 Add Cloud Cost Recommendations Documentation
  config/_default/menus/menus.en.yaml
  content/en/cloud_cost_management/recommendations/_index.md
  static/images/cloud_cost/recommendations/cost_recommendations.png
  static/images/cloud_cost/recommendations/overprovisioned_k8s_containers_sidepanel.png
Labels: Architecture, editorial review, Images

#22632 Add diagrams and new screenshot to CSM notifications rules article
  content/en/security/upcoming_changes_notification_rules.md
  static/images/security/csm/notification_rules_new_selectors_2.png
  static/images/security/csm/notification_rules_new_workflow.png
  static/images/security/csm/notification_rules_old_workflow.png
Labels: Images, security

#22665 DOCS-7655 Adds Code Analysis Troubleshooting Doc Page
  config/_default/menus/menus.en.yaml
  content/en/code_analysis/troubleshooting/_index.md
Labels: Architecture

#22206 Specify hosts pattern matching for webview tracking
  content/en/real_user_monitoring/mobile_and_tv_monitoring/web_view_tracking/_index.md
Labels: editorial review

#22499 [DOCS-7707] PGO guide
  content/en/profiler/enabling/go.md
  content/en/profiler/guide/_index.md
  content/en/profiler/guide/save-cpu-in-production-with-go-pgo.md
Labels: editorial review, Guide

#22586 Event Management - Updating docs for GA
  config/_default/menus/menus.en.yaml
  content/en/glossary/terms/processing_pipeline_(Events).md
  content/en/service_management/events/_index.md
  content/en/service_management/events/correlation/_index.md
  content/en/service_management/events/correlation/analytics.md
  content/en/service_management/events/correlation/configuration.md
  content/en/service_management/events/correlation/intelligent.md
  content/en/service_management/events/correlation/patterns.md
  content/en/service_management/events/correlation/triage_and_notify.md
  content/en/service_management/events/guides/_index.md
  content/en/service_management/events/guides/usage.md
  content/en/service_management/events/pipelines_and_processors/_index.md
  static/images/service_management/events/correlation/analyze_alerts_and_events.png
  static/images/service_management/events/correlation/case_analytics.png
  static/images/service_management/events/correlation/event_analytics.png
  static/images/service_management/events/correlation/event_management.png
  static/images/service_management/events/correlation/intelligent/intelligent_config.png
  static/images/service_management/events/correlation/intelligent/intelligent_correlation.png
  static/images/service_management/events/correlation/intelligent/intelligent_project.png
  static/images/service_management/events/correlation/pattern/recommended_patterns_preview.png
  static/images/service_management/events/correlation/pattern/timeframe.png
  static/images/service_management/events/correlation/triage/triage.png
  static/images/service_management/events/guides/usage/event_overlays.png
  static/images/service_management/events/guides/usage/events-dashboard.mp4
  static/images/service_management/events/guides/usage/generate-metrics.png
Labels: Architecture, editorial review, Images

#22587 [DOCS-7140] learning center callout
  content/en/continuous_testing/_index.md
  content/en/database_monitoring/_index.md
  content/en/profiler/_index.md
  content/en/security/cloud_security_management/misconfigurations/_index.md
Labels: WORK IN PROGRESS

#22582 Add callout to logs management, slo, and kubernetes
  content/en/containers/kubernetes/apm.md
  content/en/logs/_index.md
  content/en/service_management/service_level_objectives/_index.md
Labels: WORK IN PROGRESS

#22677 Fix link for broken link
  config/_default/menus/menus.en.yaml
  content/en/service_management/events/_index.md
Labels: Architecture

#22609 [DOCS-7711] removing TOC and on NDM data collected page/ restructuring
  content/en/network_monitoring/devices/data.md
Labels: network_monitoring

#21848 Add modal, button, and footer to the Code Analysis rule pages - [WEB-4510]
  assets/scripts/components/copy-code.js
  assets/scripts/tests/copy-code.test.js
  assets/styles/components/_global-modals.scss
  assets/styles/components/_try-rule-cta-and-banner.scss
  assets/styles/components/_try-rule-modal.scss
  assets/styles/style.scss
  content/en/code_analysis/static_analysis_rules/_index.md
  i18n/en.json
  i18n/fr.json
  i18n/ja.json
  i18n/ko.json
  layouts/_default/baseof.html
  layouts/partials/global-modals/global-modals.html
  layouts/partials/static_analysis/try-rule-modal.html
  layouts/shortcodes/try-rule-banner.html
  layouts/shortcodes/try-rule-cta.html
  local/bin/py/build/actions/pull_and_push_folder.py
  local/bin/py/build/configurations/pull_config_preview.yaml
  static/images/code_analysis/static_analysis/try-rule-modal-mask-mobile.png
  static/images/code_analysis/static_analysis/try-rule-modal-mask.png
  static/images/dd-logo-white.svg
  static/images/icon-copy.svg
  static/images/icons/jetbrains.png
  static/images/icons/vscode.png
Labels: Architecture, Images

#22684 enable cache
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#22497 [APPSEC-52386] ASM ATO docs page
  config/_default/menus/menus.en.yaml
  content/en/security/account_takeover_protection.md
  static/images/security/ato/compromised_users_signals2.png
  static/images/security/ato/passlist2.png
  static/images/security/ato/review_first_detection2.png
  static/images/security/ato/threats_overview2.png
  static/images/security/ato/traces_block_user.png
Labels: Architecture, Images

#22694 Khang.truong/notification page edit
  content/en/monitors/notify/_index.md
  static/images/monitors/notifications/notifications_metadata.png
Labels: Images

#22688 [DOCS-7636] moving browser tests MFA doc
  config/_default/menus/menus.en.yaml
  content/en/synthetics/browser_tests/app-that-requires-login.md
  content/en/synthetics/guide/_index.md
Labels: Architecture, Guide

#22701 Update Site Selector Image for DD Site Getting Started Page
  content/en/getting_started/site/_index.md
  static/images/getting_started/site/site-selector-gs-with-tags.png
Labels: Images

#22704 WEB-4779 - Nav update
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
Labels: Architecture

#22699 Update setup table for CSM Misconfigurations
  content/en/security/cloud_security_management/setup/_index.md
Labels: security

#22453 Add alert for chat support, update nav
  content/en/getting_started/support/_index.md
  static/images/getting_started/support/support_chat_nav.png
Labels: Images

#22709 Update params.en.yaml
  config/_default/params.en.yaml
Labels: Architecture

#22706 Reorder products on Getting Started pages
  content/en/all_guides.md
  content/en/getting_started/_index.md
  content/en/getting_started/application/_index.md
  static/images/getting_started/application/host_map_2024.png
  static/images/getting_started/application/integrations-2024.png
Labels: Images

#22715 Updates nav references and fixes out of date procedure
  content/en/getting_started/database_monitoring/_index.md
  static/images/database_monitoring/dbm_qs_explain_plan_duration.png
  static/images/database_monitoring/dbm_qs_explain_plan_list_view.png
Labels: Images

#21867 Language-First Custom Instrumentation Navigation
  config/_default/menus/menus.en.yaml
  config/_default/params.yaml
  content/en/opentelemetry/interoperability/_index.md
  content/en/opentelemetry/interoperability/api_support.md
  content/en/tracing/trace_collection/custom_instrumentation/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/cpp/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/cpp/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/dotnet/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/dotnet/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/dotnet/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/elixir.md
  content/en/tracing/trace_collection/custom_instrumentation/go/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/go/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/go/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/java/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/java/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/java/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/nodejs/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/nodejs/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/nodejs/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/php/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/php/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/php/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/python/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/python/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/python/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/ruby/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/ruby/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/ruby/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/rust.md
  content/en/tracing/trace_collection/custom_instrumentation/swift.md
  layouts/partials/apm/otel-instrumentation.html
Labels: Architecture, editorial review

#20292 DOCS-6460 Adds Creating an HTTP Test with HMAC Authentication Guide
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/http-tests-with-hmac.md
  static/images/synthetics/guide/http-tests-with-hmac/request_body.png
  static/images/synthetics/guide/http-tests-with-hmac/test_with_hmac_authentication.png
  static/images/synthetics/guide/http-tests-with-hmac/variables_from_script.png
Labels: Images, Guide

#22729 Remove old nav from vids and screenshots
  content/en/tracing/guide/week_over_week_p50_comparison.md
  static/images/tracing/guide/week_over_week_p50_comparison/wow_p50_comp_2_cropped.png
  static/images/tracing/guide/week_over_week_p50_comparison/wow_p50_comp_3_cropped_small.mp4
  static/images/tracing/guide/week_over_week_p50_comparison/wow_p50_s3_cropped.png
Labels: Images, Guide

#22734 Remove outdated nav references from DBM
  content/en/database_monitoring/_index.md
  content/en/database_monitoring/database_hosts.md
  content/en/database_monitoring/guide/tag_database_statements.md
  content/en/database_monitoring/query_metrics.md
  content/en/database_monitoring/query_samples.md
  static/images/database_monitoring/db-list-details-panel-cropped.png
Labels: Images, Guide

#22711 [web-4757] splits menu into separate files
  assets/scripts/build-api-pages.js
  assets/scripts/build-reference-pages.js
  config/_default/menus/api.en.yaml
  config/_default/menus/api.fr.yaml
  config/_default/menus/api.ja.yaml
  config/_default/menus/api.ko.yaml
  config/_default/menus/main.en.yaml
  config/_default/menus/main.fr.yaml
  config/_default/menus/main.ja.yaml
  config/_default/menus/main.ko.yaml
  config/_default/menus/menus.en.yaml
  config/_default/menus/menus.fr.yaml
  config/_default/menus/menus.ja.yaml
  config/_default/menus/menus.ko.yaml
  layouts/partials/nav/left-nav-api.html
  layouts/partials/nav/left-nav.html
  translate.yaml
Labels: Architecture

#22732 Enable CloudFormation instructions
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/install_worker/cloudformation.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/install_worker/cloudformation_instructions.md
  layouts/shortcodes/observability_pipelines/install_worker/cloudformation.md
  layouts/shortcodes/observability_pipelines/install_worker/cloudformation_instructions.md
Labels: Architecture

#22731 (DOCS-6444) Make AlwaysOn information more prominent
  content/en/database_monitoring/setup_sql_server/azure.md
  content/en/database_monitoring/setup_sql_server/rds.md
  content/en/database_monitoring/setup_sql_server/selfhosted.md
  layouts/shortcodes/dbm-alwayson.md
  layouts/shortcodes/dbm-sqlserver-agent-config-examples.md
Labels: Architecture, editorial review

#22728 Update parent hierarchy to match UI nav
  config/_default/menus/main.en.yaml
Labels: Architecture

#22730 Remove outdated nav references/image in getting started pages
  content/en/getting_started/agent/_index.md
  content/en/getting_started/dashboards/_index.md
  content/en/getting_started/serverless/_index.md
  content/en/getting_started/tagging/using_tags.md
  static/images/getting_started/serverless/serverless_view_2024.png
Labels: Images

#21736 Add information on PDF reports
  content/en/dashboards/scheduled_reports.md
  static/images/dashboards/scheduled_reports/report_example.png
  static/images/dashboards/scheduled_reports/scheduled_report_email.png
  static/images/dashboards/scheduled_reports/scheduled_report_pdf_2024-04-18.png
Labels: Images

#22738 APM Tutorial Screenshot Updates for New Nav
  content/en/tracing/guide/tutorial-enable-go-aws-ecs-ec2.md
  content/en/tracing/guide/tutorial-enable-go-aws-ecs-fargate.md
  content/en/tracing/guide/tutorial-enable-go-containers.md
  content/en/tracing/guide/tutorial-enable-go-host.md
  content/en/tracing/guide/tutorial-enable-java-aws-ecs-ec2.md
  content/en/tracing/guide/tutorial-enable-java-aws-ecs-fargate.md
  content/en/tracing/guide/tutorial-enable-java-aws-eks.md
  content/en/tracing/guide/tutorial-enable-java-container-agent-host.md
  content/en/tracing/guide/tutorial-enable-java-containers.md
  content/en/tracing/guide/tutorial-enable-java-gke.md
  static/images/tracing/guide/tutorials/tutorial-go-host-traces2.png
  static/images/tracing/guide/tutorials/tutorial-java-container-traces2.png
Labels: Images, Guide

#22743 (DOCS-7488) Add nodejs option
  content/en/database_monitoring/connect_dbm_and_apm.md
Labels: Architecture

#22705 Update Profiler Images and Videos to Reflect New Nav
  content/en/profiler/connect_traces_and_profiles.md
  content/en/profiler/guide/isolate-outliers-in-monolithic-services.md
  content/en/profiler/profile_visualizations.md
  static/images/profiler/code_hotspots_tab-timeline.png
  static/images/profiler/code_hotspots_tab.png
  static/images/profiler/endpoint_agg.png
  static/images/profiler/endpoint_per_request2.mp4
  static/images/profiler/guide-monolithic-outliers/1-outliers-monolith-cpu-usage-2.png
  static/images/profiler/guide-monolithic-outliers/2-outliers-monolith-cpu-top-endpoints-2.png
  static/images/profiler/guide-monolithic-outliers/2-outliers-monolith-cpu-top-endpoints.png
  static/images/profiler/guide-monolithic-outliers/3-outliers-monolith-cpu-avg-time-per-call-2.png
  static/images/profiler/guide-monolithic-outliers/4-outliers-monolith-flame-graph-2.png
  static/images/profiler/guide-monolithic-outliers/5-outliers-monolith-compare-flame-graphs-2.png
  static/images/profiler/guide-monolithic-outliers/7-outliers-monolith-trace-operation-2.png
  static/images/profiler/search_profiles3.mp4
  static/images/profiler/view_profile_from_trace.png
Labels: Images, Guide

#22752 Add blog links for Observability Pipelines
  content/en/observability_pipelines/_index.md
Labels: observability_pipelines

#22753 Update OTel Images for New Left-Nav Design
  content/en/getting_started/opentelemetry/_index.md
  static/images/getting_started/opentelemetry/flame_graph2.png
  static/images/getting_started/opentelemetry/infra_and_jvm2.png
  static/images/getting_started/opentelemetry/logs2.png
  static/images/getting_started/opentelemetry/traces2.png
Labels: Images

#22754 Replace video in Kafka guide
  content/en/tracing/guide/monitor-kafka-queues.md
  static/images/tracing/guide/monitor_kafka_queues/dash-2022-data-streams-compressed-blurb2.mp4
Labels: Images, Guide

#22756 Renzo.renteria/french nav
  assets/styles/pages/_fr.scss
  i18n/fr.json
Labels: Architecture

#22748 Add section under data security for HIPAA compliance
  config/_default/menus/main.en.yaml
  content/en/data_security/hipaa_compliance.md
Labels: Architecture

#22764 Update inferred-service-opt-in.md
  content/en/tracing/guide/inferred-service-opt-in.md
Labels: Guide

#22765 unstick glossary filters - [WEB-4792]
  assets/styles/pages/_glossary.scss
  layouts/glossary/list.html
Labels: Architecture

#22770 Add blog links for Software Composition Analysis
  content/en/code_analysis/software_composition_analysis/_index.md
  content/en/security/application_security/software_composition_analysis/_index.md
Labels: security

#22778 PGO - simplify titles
  content/en/profiler/guide/_index.md
  content/en/profiler/guide/save-cpu-in-production-with-go-pgo.md
Labels: Guide

#22702 Add Oracle link to Data Collected page
  layouts/partials/dbm/dbm-data-collected.html
Labels: Architecture

#22780 PGO - explain how to check where PGO is enabled
  content/en/profiler/guide/save-cpu-in-production-with-go-pgo.md
Labels: Guide

#22783 Update diff strategy for filename validation
  .github/workflows/validate_filenames.yml
Labels: Github

#22789 Only check the static diff
  .github/workflows/validate_filenames.yml
Labels: Github

#22782 DOCS-7768: Fix broken link
  content/en/security/cloud_security_management/misconfigurations/frameworks_and_benchmarks/_index.md
Labels: security

#22793 (DOCS-6315)(workflows) Wait until condition
  content/en/service_management/workflows/build.md
  static/images/service_management/workflows/wait-until-condtion.png
Labels: Images

#22669 DOCS-7377 Adds Overview Sections to Pipeline Visibility Child Pages + Pipeline Visibility Terminology to Docs Glossary
  content/en/continuous_integration/pipelines/awscodepipeline.md
  content/en/continuous_integration/pipelines/azure.md
  content/en/continuous_integration/pipelines/buildkite.md
  content/en/continuous_integration/pipelines/circleci.md
  content/en/continuous_integration/pipelines/codefresh.md
  content/en/continuous_integration/pipelines/custom.md
  content/en/continuous_integration/pipelines/custom_commands.md
  content/en/continuous_integration/pipelines/custom_tags_and_measures.md
  content/en/continuous_integration/pipelines/github.md
  content/en/continuous_integration/pipelines/gitlab.md
  content/en/continuous_integration/pipelines/jenkins.md
  content/en/continuous_integration/pipelines/teamcity.md
  content/en/glossary/terms/approval_wait_time.md
  content/en/glossary/terms/custom_measure.md
  content/en/glossary/terms/custom_span.md
  content/en/glossary/terms/custom_tag.md
  content/en/glossary/terms/infrastructure_metric.md
  content/en/glossary/terms/job_log.md
  content/en/glossary/terms/manual_step.md
  content/en/glossary/terms/parameter.md
  content/en/glossary/terms/partial_retry.md
  content/en/glossary/terms/pipeline_failure.md
  content/en/glossary/terms/queue_time.md
  content/en/glossary/terms/running_pipeline.md
Labels: editorial review

#22796 (Workdlows) Fix image
  static/images/service_management/workflows/wait-until-condition.png
Labels: Images

#22812 Crop navigation out of images
  content/en/watchdog/faulty_deployment_detection.md
  content/en/watchdog/rca.md
  static/images/watchdog/faulty_deployment_details_redesigned_cropped.png
  static/images/watchdog/faulty_deployment_redesigned_cropped.png
  static/images/watchdog/faulty_deployment_suggested_monitors_redesigned_cropped.png
  static/images/watchdog/rca/root_cause_cropped.png
Labels: Images

#22819 Clarify sentence
  content/en/integrations/guide/aws-cloudwatch-metric-streams-with-kinesis-data-firehose.md
Labels: Guide

#22786 Cross-link Error Tracking documentation
  .prettierignore
  config/_default/menus/main.en.yaml
  content/en/error_tracking/apm.md
  content/en/error_tracking/custom_grouping.md
  content/en/error_tracking/explorer.md
  content/en/error_tracking/logs.md
  content/en/error_tracking/rum.md
  content/en/error_tracking/suspect_commits.md
  content/en/logs/error_tracking/custom_grouping.md
  content/en/logs/error_tracking/explorer.md
  content/en/logs/error_tracking/suspect_commits.md
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/real_user_monitoring/error_tracking/custom_grouping.md
  content/en/real_user_monitoring/error_tracking/explorer.md
  content/en/real_user_monitoring/error_tracking/suspect_commits.md
  content/en/tracing/error_tracking/custom_grouping.md
  content/en/tracing/error_tracking/explorer.md
  content/en/tracing/error_tracking/suspect_commits.md
  layouts/partials/table-of-contents/table-of-contents.html
Labels: Architecture, editorial review

#22769 Correct inaccuracies in Observability Pipelines docs
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/dual_ship_logs/splunk_hec.md
  content/en/observability_pipelines/dual_ship_logs/splunk_tcp.md
  content/en/observability_pipelines/dual_ship_logs/sumo_logic_hosted_collector.md
  content/en/observability_pipelines/log_volume_control/splunk_tcp.md
  content/en/observability_pipelines/log_volume_control/sumo_logic_hosted_collector.md
  content/en/observability_pipelines/split_logs/splunk_hec.md
  content/en/observability_pipelines/split_logs/splunk_tcp.md
  content/en/observability_pipelines/split_logs/sumo_logic_hosted_collector.md
  layouts/shortcodes/observability_pipelines/log_source_configuration/splunk_hec.md
  layouts/shortcodes/observability_pipelines/log_source_configuration/splunk_tcp.md
  layouts/shortcodes/observability_pipelines/log_source_configuration/sumo_logic.md
  layouts/shortcodes/observability_pipelines/prerequisites/datadog_agent_destination_only.md
  layouts/shortcodes/observability_pipelines/prerequisites/splunk_hec.md
  layouts/shortcodes/observability_pipelines/prerequisites/splunk_tcp.md
  layouts/shortcodes/observability_pipelines/processors/filter_syntax.md
  layouts/shortcodes/observability_pipelines/processors/quota.md
Labels: Architecture, editorial review

#22720 update Data Jobs Monitoring setup doc
  content/en/data_jobs/databricks.md
  content/en/data_jobs/emr.md
  static/images/data_jobs/emr/add_bootstrap_action_without_arguments.png
Labels: Images

#22794 [PROCAPPS-858] Update Container Image Docs to include Trends Page
  content/en/infrastructure/containers/container_images.md
  static/images/infrastructure/containerimages/container_image_trends.png
  static/images/infrastructure/containerimages/container_image_trends_configuration_modal.png
Labels: Images

#22816 DOCS-7629 Attack Summary update
  config/_default/menus/main.en.yaml
  content/en/security/application_security/threats/threat-overview.md
Labels: Architecture

#22564 15 month history - SLOs
  content/en/dashboards/widgets/slo.md
  content/en/developers/guide/data-collection-resolution-retention.md
  content/en/service_management/service_level_objectives/_index.md
  content/en/service_management/service_level_objectives/guide/slo_types_comparison.md
Labels: Guide

#22831 CMTY-47 Remove ITR Icon for Test Visibility Documentation
  config/_default/menus/main.en.yaml
  data/partials/home.yaml
Labels: Architecture

#22818 Add new threshold options and general cleanup
  content/en/monitors/types/metric.md
  static/images/monitors/monitor_types/metric/metric_change_alert_config.png
  static/images/monitors/monitor_types/metric/metric_threshold_config.png
Labels: Images

#22844 DOCS-7785: Update OOTB rules page for attack paths
  content/en/security/default_rules/_index.md
Labels: security

#22847 Error Tracking updates
  config/_default/menus/main.en.yaml
  content/en/error_tracking/suspect_commits.md
  content/en/logs/error_tracking/excluding_logs.md
  content/en/real_user_monitoring/error_tracking/browser.md
  static/images/logs/error_tracking/configured-exclusion-filter-2.png
  static/images/logs/error_tracking/exclusion-filters-2.png
  static/images/logs/error_tracking/hovered-exclusion-filter-row-2.png
Labels: Architecture, Images

#22848 [USM] Nav reference update
  content/en/universal_service_monitoring/_index.md
  content/en/universal_service_monitoring/guide/using_usm_metrics.md
  static/images/universal_service_monitoring/select_service_operation_cropped.png
Labels: Images, Guide

#22828 Docs7761/update integrations screenshots
  static/images/integrations/amazon_event_bridge/eventbridge_monitor_notification.png
  static/images/integrations/amazon_sagemaker/sagemaker_endpoints_2.png
  static/images/integrations/amazon_sagemaker/sagemaker_jobs_2.png
  static/images/integrations/slack/slack_monitor_options.png
Labels: Images

#22832 (DOCS-7342) Update blog links
  content/en/logs/explorer/_index.md
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-kinesis-firehose-destination.md
Labels: Guide

#22868 Revert "Add information on PDF reports"
  content/en/dashboards/scheduled_reports.md
  static/images/dashboards/scheduled_reports/report_example.png
  static/images/dashboards/scheduled_reports/scheduled_report_email.png
  static/images/dashboards/scheduled_reports/scheduled_report_pdf_2024-04-18.png
Labels: Images

#22870 remove backticks from title
  content/en/integrations/guide/add-event-log-files-to-the-win32-ntlogevent-wmi-class.md
Labels: Guide

#22851 Ericbrown/fr banner
  config/_default/params.fr.yaml
Labels: Architecture

#22852 Update params.ja.yaml
  config/_default/params.ja.yaml
Labels: Architecture

#22853 Update params.ko.yaml
  config/_default/params.ko.yaml
Labels: Architecture

#22877 Add Azure support for CSM Identity Risks
  content/en/security/cloud_security_management/identity_risks/_index.md
  content/en/security/cloud_security_management/setup/_index.md
Labels: security

#22879 Bump datadog-lambda-python layer to version 93
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#22871 Nav updates for App Builder
  content/en/service_management/app_builder/_index.md
  static/images/service_management/app_builder/app-builder-embedded-dashboard.png
  static/images/service_management/app_builder/app-builder.png
Labels: Images
