Repository DataDog/documentation, pull requests merged in 2024-02, with the labels that each got.

#21215 Pierreln dd/monitor sparse metrics
  content/en/monitors/guide/_index.md
  content/en/monitors/guide/monitoring-sparse-metrics.md
  static/images/monitors/guide/sparse_metrics/bar_graph_sparse.png
  static/images/monitors/guide/sparse_metrics/bar_graphs_example.png
  static/images/monitors/guide/sparse_metrics/data_is_missing.png
  static/images/monitors/guide/sparse_metrics/line_graph_sparse.png
Labels: monitors, editorial review, Images, Guide

#21630 [DOCS-7197] Add images to Investigate Sensitive Data Issues
  content/en/sensitive_data_scanner/investigate_sensitive_data_issues.md
  static/images/sensitive_data_scanner/investigate_sensitive_data_issues/blast_radius_02_01_2024.png
  static/images/sensitive_data_scanner/investigate_sensitive_data_issues/case_mgmt_02_01_2024.png
  static/images/sensitive_data_scanner/investigate_sensitive_data_issues/issues_panel_02_01_2024.png
Labels: Images

#21619 Update usage-trends.md
  content/en/account_management/guide/csv-headers-billing-migration.md
  content/en/account_management/guide/csv_headers/usage-trends.md
  static/images/account_management/billing/cost-chargebacks-csv-update.png
Labels: Images, Guide

#21625 Update Watchdog monitor page with additional filters
  content/en/monitors/types/watchdog.md
  static/images/monitors/monitor_types/watchdog/log_anomaly_monitor-3.png
  static/images/monitors/monitor_types/watchdog/watchdog-monitor-apm3.png
  static/images/monitors/monitor_types/watchdog/watchdog-monitor-infra-2.png
Labels: Images

#21374 [opentelemetry/guide] Add guide for collecting host metadata via semantic conventions
  content/en/opentelemetry/guide/_index.md
  content/en/opentelemetry/guide/host_metadata.md
Labels: Guide

#21627 Fix typo in getSessionReplayLink function name
  content/en/real_user_monitoring/guide/connect-session-replay-to-your-third-party-tools.md
Labels: Guide

#21623 feat: Make the Java client library compatibility table easier to understand
  content/en/tracing/trace_collection/compatibility/java.md
Labels: tracing

#21636 Add case management images to docs
  content/en/service_management/case_management/_index.md
  content/en/service_management/case_management/create_case.md
  content/en/service_management/case_management/projects.md
  content/en/service_management/case_management/settings.md
  content/en/service_management/case_management/view_and_manage/_index.md
  static/images/service_management/case_management/case_management_overview.png
  static/images/service_management/case_management/create/manual_case_creation.png
  static/images/service_management/case_management/projects/join_a_project.png
  static/images/service_management/case_management/projects/projects_create_a_project.png
  static/images/service_management/case_management/settings/settings_jira.png
  static/images/service_management/case_management/view_and_manage/view_and_manage_case_analytics.png
  static/images/service_management/case_management/view_and_manage/view_and_manage_overview.png
Labels: Images

#21638 Update security monitoring glob rules
  local/bin/py/build/actions/security_rules.py
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#21648 Update best-practices-for-rum-sampling.md to give better visibility on how a RUM session is defined
  content/en/real_user_monitoring/guide/best-practices-for-rum-sampling.md
Labels: Guide

#21482 (DOCS-7037) Trigger a workflow from a workflow
  content/en/service_management/workflows/_index.md
  content/en/service_management/workflows/access.md
  content/en/service_management/workflows/build.md
  content/en/service_management/workflows/connections.md
  content/en/service_management/workflows/trigger.md
  static/images/service_management/workflows/trigger-workflow-step.png
Labels: Images

#21647 Update access-your-log-data-programmatically.md
  content/en/logs/guide/access-your-log-data-programmatically.md
Labels: Guide

#21659 DOCS-7136 Small Documentation Update
  content/en/integrations/guide/aws-integration-and-cloudwatch-faq.md
  content/en/synthetics/guide/api_test_timing_variations.md
  layouts/partials/graphingfunctions.md
Labels: Architecture, Guide

#21629 Adding Postgres 16 support (DBMON-3519)
  content/en/database_monitoring/guide/_index.md
  content/en/database_monitoring/guide/pg15_upgrade.md
  content/en/database_monitoring/setup_postgres/_index.md
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/rds.md
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: Guide, database_monitoring

#21603 Add Operator and Helm instructions to Kubernetes Tag Extraction page
  content/en/containers/kubernetes/tag.md
Labels: editorial review

#20809 [DOCS-6807] Historical Metrics Ingestion
  assets/styles/pages/_api.scss
  assets/styles/pages/_global.scss
  assets/styles/pages/_reference.scss
  config/_default/menus/menus.en.yaml
  content/en/metrics/custom_metrics/historical_metrics.md
  static/images/metrics/custom_metrics/historical_metrics/custom_metrics_usage_summary.png
  static/images/metrics/custom_metrics/historical_metrics/diagram_historical-metrics-ingestion_1_240202.png
  static/images/metrics/custom_metrics/historical_metrics/enable_bulk_historical_metrics.mp4
  static/images/metrics/custom_metrics/historical_metrics/enable_historical_metrics.png
Labels: Architecture, editorial review, Images

#21413 DOCS-7173: CSM setup docs reorg
  config/_default/menus/menus.en.yaml
  config/_default/params.yaml
  content/en/security/cloud_security_management/setup/_index.md
  content/en/security/cloud_security_management/setup/csm_cloud_workload_security/_index.md
  content/en/security/cloud_security_management/setup/csm_cloud_workload_security/agent/_index.md
  content/en/security/cloud_security_management/setup/csm_cloud_workload_security/agent/docker.md
  content/en/security/cloud_security_management/setup/csm_cloud_workload_security/agent/ecs_ec2.md
  content/en/security/cloud_security_management/setup/csm_cloud_workload_security/agent/kubernetes.md
  content/en/security/cloud_security_management/setup/csm_cloud_workload_security/agent/linux.md
  content/en/security/cloud_security_management/setup/csm_cloud_workload_security/agent/windows.md
  content/en/security/cloud_security_management/setup/csm_enterprise.md
  content/en/security/cloud_security_management/setup/csm_enterprise/_index.md
  content/en/security/cloud_security_management/setup/csm_enterprise/agent/_index.md
  content/en/security/cloud_security_management/setup/csm_enterprise/agent/docker.md
  content/en/security/cloud_security_management/setup/csm_enterprise/agent/ecs_ec2.md
  content/en/security/cloud_security_management/setup/csm_enterprise/agent/kubernetes.md
  content/en/security/cloud_security_management/setup/csm_enterprise/agent/linux.md
  content/en/security/cloud_security_management/setup/csm_enterprise/agent/windows.md
  content/en/security/cloud_security_management/setup/csm_enterprise/cloud_accounts/_index.md
  content/en/security/cloud_security_management/setup/csm_pro.md
  content/en/security/cloud_security_management/setup/csm_pro/_index.md
  content/en/security/cloud_security_management/setup/csm_pro/agent/_index.md
  content/en/security/cloud_security_management/setup/csm_pro/agent/ecs_ec2.md
  content/en/security/cloud_security_management/setup/csm_pro/agent/kubernetes.md
  content/en/security/cloud_security_management/setup/csm_pro/agent/linux.md
  content/en/security/cloud_security_management/setup/csm_pro/cloud_accounts/_index.md
  content/en/security/cloud_security_management/setup/csm_workload_security.md
  layouts/partials/csm/csm-enterprise-agent-tiles.html
  layouts/partials/csm/csm-pro-agent-tiles.html
  layouts/partials/csm/csm-ws-agent-tiles.html
  layouts/partials/nav/left-nav.html
  static/images/integrations_logos/hosts.png
Labels: Architecture, editorial review, Images, security

#21685 Bump datadog-lambda-python layer to version 88
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#21687 Fix Instrumentation Left-Nav
  config/_default/menus/menus.en.yaml
Labels: Architecture

#21703 Fix broken link
  content/en/opentelemetry/guide/otel_api_tracing_interoperability.md
Labels: Guide

#21514 Add section about Playback History
  content/en/real_user_monitoring/session_replay/_index.md
  static/images/real_user_monitoring/session_replay/session-replay-playback-history.png
Labels: editorial review, Images

#21704 update execution replay docs for public beta
  config/_default/menus/menus.en.yaml
  content/en/tracing/error_tracking/execution_replay.md
  content/en/tracing/error_tracking/executional_context.md
Labels: Architecture

#21709 Move CSM Windows alias
  content/en/security/cloud_security_management/setup/_index.md
  content/en/security/cloud_security_management/setup/csm_cloud_workload_security/agent/windows.md
Labels: security

#21710 add otel 0.7 clarification to doc
  content/en/integrations/guide/aws-cloudwatch-metric-streams-with-kinesis-data-firehose.md
Labels: Guide

#21694 Make it more clear the minimum Agent version for all CSM components
  content/en/security/cloud_security_management/setup/_index.md
Labels: security

#21718 DOCS-7208 adding openshift scc faq
  content/en/containers/faq/_index.md
  content/en/containers/faq/package-server-manager-openshift.md
Labels: FAQ

#21161 Refactor API Catalog Docs
  config/_default/menus/menus.en.yaml
  content/en/api_catalog/_index.md
  content/en/api_catalog/add_entries.md
  content/en/api_catalog/add_metadata.md
  content/en/api_catalog/explore_apis.md
  content/en/api_catalog/monitor_apis.md
  content/en/api_catalog/owners_and_tags.md
  content/en/api_catalog/troubleshoot.md
  content/en/service_catalog/adding_metadata.md
  content/en/tracing/api_catalog/_index.md
  content/en/tracing/api_catalog/explore_and_catalog_apis.md
  content/en/tracing/api_catalog/get_started.md
  static/images/tracing/api_catalog/api-catalog-endpoint-details.png
  static/images/tracing/api_catalog/api-catalog-endpoint-owners.png
  static/images/tracing/api_catalog/api-catalog-register.png
  static/images/tracing/api_catalog/api-catalog-scope3.mp4
Labels: Architecture, editorial review, Images

#21722 DOCS-7255 Synthetic Monitoring & Continuous Testing Explorer Documentation Update
  config/_default/menus/menus.en.yaml
  content/en/continuous_testing/explorer/_index.md
  content/en/continuous_testing/explorer/saved_views.md
  content/en/continuous_testing/explorer/search_syntax.md
  content/en/continuous_testing/troubleshooting.md
  content/en/getting_started/tagging/_index.md
  content/en/synthetics/_index.md
  static/images/continuous_testing/explorer_ci_batches_1.png
  static/images/continuous_testing/explorer_search_query_1.png
  static/images/continuous_testing/explorer_test_runs_1.png
Labels: Architecture, Images

#21719 update naming for exception replay
  config/_default/menus/menus.en.yaml
  content/en/tracing/error_tracking/exception_replay.md
Labels: Architecture

#21729 Flamegraphs retention 15 days --> 30 days
  content/en/tracing/faq/trace_sampling_and_storage.md
Labels: FAQ

#21670 Template variable workflow updates throughout docs
  content/en/dashboards/template_variables.md
  content/en/developers/integrations/create-an-integration-dashboard.md
  content/en/getting_started/tagging/using_tags.md
  content/en/real_user_monitoring/dashboards/_index.md
  content/en/synthetics/dashboards/_index.md
  content/en/synthetics/dashboards/api_test.md
  content/en/tracing/guide/apm_dashboard.md
  static/images/dashboards/template_variables/add_template_variable_configure_dropdown_values.png
  static/images/dashboards/template_variables/apply_template_variable_to_widgets.png
  static/images/dashboards/template_variables/edit_template_variable_drag.png
  static/images/dashboards/template_variables/saved_views_dropdown_options.png
  static/images/developers/create-an-integration-dashboard/dashboard_best_practices_example.png
  static/images/synthetics/dashboards/api_test_performance_dashboard_2_2024.png
  static/images/synthetics/dashboards/api_test_performance_events_2_2024.png
  static/images/synthetics/dashboards/synthetics_template_variable_edit.png
  static/images/tagging/using_tags/dashboard_advanced_tags_AND_OR.png
  static/images/tagging/using_tags/dashboard_advanced_tags_NOT_IN.png
  static/images/tagging/using_tags/dashboard_dynamic_template_variables.png
  static/images/tagging/using_tags/dashboard_event_overlays.png
  static/images/tagging/using_tags/dashboard_group_by_tags.png
  static/images/tagging/using_tags/dashboard_timeseries_graph_editor_from_tag.png
  static/images/tagging/using_tags/dashboard_timeseries_graph_editor_no_tags.png
  static/images/tagging/using_tags/dashboard_timeseries_graph_editor_sumby_tag.png
  static/images/tagging/using_tags/dashboards_tags_example.png
  static/images/tracing/guide/apm_dashboard/dashboard_add_template_variable.png
  static/images/tracing/guide/apm_dashboard/dashboard_dynamic_template_variable.png
Labels: editorial review, Images, Guide

#21617 Add best practices guide for live process monitors
  content/en/monitors/guide/_index.md
  content/en/monitors/guide/best-practices-for-live-process-monitoring.md
  static/images/monitors/monitor_types/process/tag-scoped-process-monitor.png
  static/images/monitors/monitor_types/process/text-scoped-process-monitor.png
Labels: Images, Guide

#21673 (DOCS-7227) Add disclaimer
  content/en/integrations/guide/aws-manual-setup.md
Labels: Guide

#21742 Update Agent installer link
  content/en/security/cloud_security_management/setup/csm_cloud_workload_security/agent/windows.md
Labels: security

#21615 Add a Review and Remediate section to CSM docs
  config/_default/menus/menus.en.yaml
  content/en/security/cloud_security_management/guide/_index.md
  content/en/security/cloud_security_management/review_remediate/_index.md
  content/en/security/cloud_security_management/review_remediate/jira.md
  content/en/security/cloud_security_management/review_remediate/mute_issues.md
  content/en/security/cloud_security_management/review_remediate/workflows.md
Labels: Architecture, security

#21727 Note LD_PRELOAD for linux with SSI
  content/en/profiler/enabling/dotnet.md
Labels: mergequeue-status: waiting

#20107 [APM][Tracing] Add documentation for `DD_TRACE_OTEL_ENABLED` and related integrations
  content/en/tracing/trace_collection/compatibility/dotnet-core.md
  content/en/tracing/trace_collection/compatibility/dotnet-framework.md
  content/en/tracing/trace_collection/library_config/dotnet-core.md
  content/en/tracing/trace_collection/library_config/dotnet-framework.md
Labels: editorial review

#21669 Update RUM migration guide for Flutter
  content/en/real_user_monitoring/guide/mobile-sdk-upgrade.md
Labels: Guide

#21756 Bump datadog-lambda-extension layer to version 55
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#21644 document query syntax for the orchestrator explorer
  content/en/infrastructure/containers/orchestrator_explorer.md
  static/images/infrastructure/livecontainers/orch_syntax.png
Labels: Images

#21738 fix: call trace_id off of span
  content/en/tracing/other_telemetry/connect_logs_and_traces/python.md
Labels: under_review

#21725 update: improving code examples for go, c# and python language
  content/en/opentelemetry/guide/otlp_delta_temporality.md
Labels: under_review

#21528 DOCS-7104 Add Software Composition Analysis Documentation
  .github/CODEOWNERS
  config/_default/menus/menus.en.yaml
  content/en/code_analysis/_index.md
  content/en/code_analysis/software_composition_analysis/_index.md
  content/en/code_analysis/software_composition_analysis/setup.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  static/images/code_analysis/software_composition_analysis/enable_sca.png
  static/images/code_analysis/software_composition_analysis/sca-violation.png
Labels: Architecture, Do Not Merge, editorial review, Github, Images

#21573 [DOCS-7099] name changes from Application Vulnerability Management to SCA
  config/_default/menus/menus.en.yaml
  content/en/getting_started/application_security/_index.md
  content/en/getting_started/application_security/software_composition_analysis.md
  content/en/security/application_security/code_security/_index.md
  content/en/security/application_security/enabling/compatibility/_index.md
  content/en/security/application_security/enabling/compatibility/dotnet.md
  content/en/security/application_security/enabling/compatibility/go.md
  content/en/security/application_security/enabling/compatibility/java.md
  content/en/security/application_security/enabling/compatibility/nodejs.md
  content/en/security/application_security/enabling/compatibility/php.md
  content/en/security/application_security/enabling/compatibility/python.md
  content/en/security/application_security/enabling/compatibility/ruby.md
  content/en/security/application_security/enabling/compatibility/serverless.md
  content/en/security/application_security/enabling/dotnet.md
  content/en/security/application_security/enabling/java.md
  content/en/security/application_security/enabling/nodejs.md
  content/en/security/application_security/software_composition_analysis/_index.md
  content/en/security/application_security/vulnerability_management/_index.md
  static/images/getting_started/appsec/asm_sca_ci_setup.png
  static/images/getting_started/appsec/asm_sca_setup.png
  static/images/security/application_security/code_security/asm_code_vulnerabilities_2.png
  static/images/security/application_security/software_composition_analysis/asm_library_explorer.png
  static/images/security/application_security/software_composition_analysis/asm_sca_vulnerabilities_2.png
Labels: Architecture, WORK IN PROGRESS, Do Not Merge, Images

#21717 [DBMON-3565] Add DBM integration overheads
  content/en/database_monitoring/setup_mysql/_index.md
  content/en/database_monitoring/setup_postgres/_index.md
  content/en/database_monitoring/setup_sql_server/_index.md
Labels: editorial review

#21789 Update what-best-practices-are-recommended-for-naming-metrics-and-tag…
  content/en/developers/guide/what-best-practices-are-recommended-for-naming-metrics-and-tags.md
Labels: Guide

#20959 DOCS-6771 Add Synthetics Private Locations for Windows Documentation
  content/en/getting_started/synthetics/private_location.md
  content/en/synthetics/private_locations/_index.md
  content/en/synthetics/private_locations/configuration.md
  content/en/synthetics/private_locations/dimensioning.md
  content/en/synthetics/private_locations/monitoring.md
  content/en/synthetics/troubleshooting/_index.md
  static/images/synthetics/private_locations/configuration_selector_browse.png
  static/images/synthetics/private_locations/configuration_selector_paste.png
  static/images/synthetics/private_locations/private_locations_worker_1.png
  static/images/synthetics/private_locations/settings.png
Labels: editorial review, Images

#21785 DOCS-7261 Update Static Analysis and Software Composition Analysis Setup Documentation
  config/_default/menus/menus.en.yaml
  content/en/code_analysis/_index.md
  content/en/code_analysis/software_composition_analysis/_index.md
  content/en/code_analysis/software_composition_analysis/generic_ci_providers.md
  content/en/code_analysis/software_composition_analysis/setup.md
  content/en/code_analysis/static_analysis/_index.md
  content/en/code_analysis/static_analysis/generic_ci_providers.md
  content/en/code_analysis/static_analysis/setup.md
Labels: Architecture

#21809 Rule removals
  local/bin/py/build/actions/security_rules.py
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#21793 Fixes typo in query-to-the-graph.md
  content/en/dashboards/guide/query-to-the-graph.md
Labels: Guide

#21821 [DBMON-3147] update postgres managed authentication for aws and azure
  content/en/database_monitoring/guide/managed_authentication.md
Labels: Guide

#21800 op ref left nav
  config/_default/menus/menus.en.yaml
Labels: Architecture

#21757 Add beta for subqueries and remove beta for filter with ref tables
  content/en/integrations/guide/reference-tables.md
  content/en/logs/explorer/advanced_search.md
Labels: Guide

#21808 Change AVM to SCA
  content/en/getting_started/devsecops/_index.md
Labels: security

#21763 (DOCDEV-12) Fix preview links to glossary terms
  .github/workflows/preview_link.yml
  local/bin/py/preview_links.py
Labels: Architecture, editorial review, Github

#21850 [Software Delivery] Update codeowners
  .github/CODEOWNERS
Labels: Github

#21671 Move custom frameworks task to separate article
  config/_default/menus/menus.en.yaml
  content/en/security/misconfigurations/frameworks_and_benchmarks/_index.md
  content/en/security/misconfigurations/frameworks_and_benchmarks/custom_frameworks.md
  layouts/partials/nav/left-nav.html
Labels: Architecture, security

#21739 Move export misconfigurations to separate article
  config/_default/menus/menus.en.yaml
  content/en/security/misconfigurations/findings/_index.md
  content/en/security/misconfigurations/findings/export_misconfigurations.md
  layouts/partials/nav/left-nav.html
Labels: Architecture, security

#21857 feat: Bump datadog-lambda-js to 106
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#20952 Add docs on composite monitor enrichment
  content/en/monitors/notify/variables.md
Labels: monitors

#21684 Add separate article for CSM Threats custom rules
  config/_default/menus/menus.en.yaml
  content/en/security/threats/workload_security_rules/_index.md
  content/en/security/threats/workload_security_rules/custom_rules.md
  layouts/partials/nav/left-nav.html
Labels: Architecture, security

#21782 docs: AWSX-672 Adding Lambda Forwarder autosubscribe for WAF
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
  content/fr/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: editorial review, Guide

#21877 [statuspage] - documentation pic
  static/images/integrations/statuspage/integrations_statuspage_incident_modal.png
Labels: Images

#21866 DOCS-7282 - Fix Docker label syntax
  content/en/containers/guide/ad_identifiers.md
Labels: Guide

#21870 [monitors] Remove link to outdated blog post
  content/en/monitors/guide/reduce-alert-flapping.md
Labels: Guide

#21781 [RUM-3190] Add documentation for Unity private beta
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/unity.md
Labels: editorial review

#21885 Eric wang/usage attribution docs
  content/en/account_management/billing/usage_attribution.md
  content/en/account_management/multi_organization.md
  static/images/account_management/billing/usage_attribution/Cost-Attribution-Monthly.png
  static/images/account_management/billing/usage_attribution/Edit-Tags-Popover.png
  static/images/account_management/billing/usage_attribution/Usage-Attribution-Hourly-Facets.png
  static/images/account_management/billing/usage_attribution/Usage-Attribution-Monthly-Facets.png
  static/images/account_management/billing/usage_attribution/Usage-Attribution-v2-Total-Usage.png
  static/images/account_management/billing/usage_attribution/graph-by-tags.png
  static/images/account_management/billing/usage_attribution/histogram-graph-tag.png
  static/images/account_management/billing/usage_attribution/multiple-graphs-by-tags.png
  static/images/account_management/billing/usage_attribution/usage-attribution-options.png
Labels: Images

#21886 Joey/refactor layer versions
  content/en/security/application_security/enabling/serverless.md
  content/en/serverless/aws_lambda/installation/dotnet.md
  content/en/serverless/aws_lambda/installation/java.md
  content/en/serverless/aws_lambda/installation/nodejs.md
  content/en/serverless/aws_lambda/installation/python.md
  content/en/serverless/guide/datadog_forwarder_node.md
  content/en/serverless/guide/datadog_forwarder_python.md
  content/en/serverless/guide/layer_not_authorized.md
  content/en/serverless/guide/serverless_package_too_large.md
  content/fr/security/application_security/enabling/serverless.md
  content/fr/serverless/guide/datadog_forwarder_node.md
  content/fr/serverless/guide/datadog_forwarder_python.md
  content/fr/serverless/guide/layer_not_authorized.md
  content/fr/serverless/guide/serverless_package_too_large.md
  content/ja/security/application_security/enabling/serverless.md
  content/ja/serverless/guide/datadog_forwarder_node.md
  content/ja/serverless/guide/datadog_forwarder_python.md
  content/ja/serverless/guide/serverless_package_too_large.md
  content/ko/security/application_security/enabling/serverless.md
  content/ko/serverless/aws_lambda/configuration.md
  content/ko/serverless/guide/datadog_forwarder_node.md
  content/ko/serverless/guide/datadog_forwarder_python.md
  content/ko/serverless/guide/serverless_package_too_large.md
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture, Guide

#21860 [DOCS-7243] updating source code integration
  content/en/integrations/guide/source-code-integration.md
Labels: Guide

#21891 being more explicit for containerized envs in the Community Integrations guide
  content/en/agent/guide/use-community-integrations.md
Labels: Guide

#21748 DOCS-7254 Testing Coverage Edits
  content/en/synthetics/_index.md
  content/en/synthetics/test_coverage/_index.md
  static/images/synthetics/test_coverage/api_endpoints.png
  static/images/synthetics/test_coverage/browser_actions.png
Labels: editorial review, Images

#21906 hide unity page for now
  config/_default/params.yaml
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/unity.md
Labels: Architecture

#21887 Update case management docs
  content/en/service_management/case_management/create_case.md
  content/en/service_management/case_management/view_and_manage/_index.md
  static/images/service_management/case_management/view_and_manage/case_details_overview.png
Labels: Images

#21871 Document cross-org visibility UI
  content/en/account_management/multi_organization.md
  content/en/account_management/org_settings/cross_org_visibility.md
  content/en/account_management/org_settings/cross_org_visibility_api.md
Labels: editorial review

#21917 Add alias redirect for CSM Threats setup
  content/en/security/cloud_security_management/setup/csm_cloud_workload_security/_index.md
Labels: security

#21855 DOCS-7286: CSM Fargate
  content/en/security/cloud_security_management/setup/fargate.md
  static/images/security/csm/csm_fargate_workflow.png
Labels: editorial review, Images, security

#21923 Update config.go link after file was moved
  content/en/agent/guide/environment-variables.md
Labels: Guide

#21909 Consolidate RUM mobile Error Tracking docs and interlink
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/error_tracking/mobile/_index.md
  content/en/real_user_monitoring/error_tracking/mobile/android.md
  content/en/real_user_monitoring/error_tracking/mobile/expo.md
  content/en/real_user_monitoring/error_tracking/mobile/flutter.md
  content/en/real_user_monitoring/error_tracking/mobile/ios.md
  content/en/real_user_monitoring/error_tracking/mobile/reactnative.md
  content/en/real_user_monitoring/error_tracking/mobile/roku.md
  layouts/partials/rum/rum-error-tracking-mobile.html
Labels: Architecture

#21927 updated sec rule findings url
  local/bin/py/build/actions/security_rules.py
Labels: Architecture

#21929 (maint) Fix link issue in Rum mobile
  layouts/partials/rum/rum-error-tracking-mobile.html
Labels: Architecture

#21908 Add example graph showing different aggregators
  content/en/monitors/guide/monitor_aggregators.md
  static/images/monitors/guide/monitor_aggregators/AVG_aggregation.png
  static/images/monitors/guide/monitor_aggregators/MAX_aggregation.png
  static/images/monitors/guide/monitor_aggregators/MIN_aggregation.png
  static/images/monitors/guide/monitor_aggregators/SUM_aggregation.png
Labels: Images, Guide

#21915 Add RUM Unity logo and make page visible
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/unity.md
  layouts/partials/rum/rum-getting-started-mobile-setup.html
  static/images/integrations_logos/rum-unity_large.svg
Labels: Architecture, Images

#21937 [DOCS-7273] fixing link in Tracer - Java - ECS Fargate
  content/en/tracing/guide/tutorial-enable-java-aws-ecs-fargate.md
Labels: Guide

#21941 Add blog post link for Watchdog Insights and Live Processes
  content/en/infrastructure/process/_index.md
  content/en/watchdog/_index.md
Labels: infrastructure, watchdog

#21942 [CIVIS-9204] Rename metrics to measures in junit docs and menu
  config/_default/menus/menus.en.yaml
  content/en/tests/setup/junit_xml.md
Labels: Architecture

#21940 DOCS-7264: Move Windows setup to shortcode
  content/en/security/cloud_security_management/setup/csm_cloud_workload_security/agent/windows.md
  content/en/security/cloud_security_management/setup/csm_enterprise/agent/windows.md
  layouts/shortcodes/csm-windows-setup.md
Labels: Architecture, security

#21340 [DOCS-7075] adding shortcodes to ASM libraries docs
  content/en/security/application_security/enabling/compatibility/_index.md
  layouts/shortcodes/asm-libraries-capabilities.md
Labels: Architecture, security

#21946 New screenshot
  static/images/integrations/rss/rss_setup_2.png
Labels: Images

#21950 Rename CSM Misconfigurations Compliance Posture article
  config/_default/menus/menus.en.yaml
  content/en/security/misconfigurations/frameworks_and_benchmarks/_index.md
  content/en/security/misconfigurations/frameworks_and_benchmarks/supported_frameworks.md
Labels: Architecture, security

#21954 Rename CSM articles
  config/_default/menus/menus.en.yaml
  content/en/security/misconfigurations/compliance_rules.md
  content/en/security/misconfigurations/custom_rules.md
  content/en/security/misconfigurations/findings/_index.md
Labels: Architecture, security

#21818 Watchdog Cross-Product Insights in Log Management
  content/en/logs/explorer/watchdog_insights.md
Labels: editorial review

#21938 [DOCS-7305] updating ASM troubleshooting
  content/en/security/application_security/code_security/_index.md
  content/en/security/application_security/threats/library_configuration.md
  content/en/security/application_security/troubleshooting.md
Labels: security

#21958 [DOCS-7242] adding scope of protection matrix and EKS support
  content/en/security/cloud_security_management/setup/_index.md
Labels: security

#21955 Update reference table limits
  content/en/integrations/guide/reference-tables.md
  content/en/logs/explorer/advanced_search.md
Labels: Guide

#21969 [DOCS-7327] updates to Security Inbox
  content/en/security/security_inbox.md
  static/images/security/security_inbox_5.png
Labels: Images, security

#21858 updated slo summary widget initial updates
  content/en/dashboards/widgets/slo.md
  content/en/service_management/service_level_objectives/guide/slo_types_comparison.md
  static/images/dashboards/widgets/slo/slo-summary-widget-new.png
Labels: Images

#21700 Add Error Tracking to top nav level
  config/_default/menus/menus.en.yaml
  content/en/error_tracking/_index.md
  content/en/error_tracking/custom_grouping.md
  content/en/error_tracking/explorer.md
  content/en/error_tracking/suspect_commits.md
  content/en/logs/error_tracking/_index.md
  content/en/logs/error_tracking/custom_grouping.md
  content/en/logs/error_tracking/explorer.md
  content/en/real_user_monitoring/error_tracking/_index.md
  content/en/real_user_monitoring/error_tracking/custom_grouping.md
  content/en/tracing/error_tracking/_index.md
  content/en/tracing/error_tracking/custom_grouping.md
  content/en/tracing/error_tracking/explorer.md
  layouts/shortcodes/error-tracking-description.md
  static/images/error_tracking/error-tracking-overview.png
  static/images/logs/error_tracking/logs-error-tracking-explorer.png
  static/images/real_user_monitoring/error_tracking/rum-et-explorer.png
Labels: Architecture, editorial review, Images

#21991 Deprecate peer_service_aggregation
  content/en/tracing/guide/inferred-service-opt-in.md
Labels: Guide

#21745 DOCS-7262 Add Export Page to CI Visibility Explorer Documentation
  config/_default/menus/menus.en.yaml
  content/en/continuous_integration/explorer/export.md
  static/images/continuous_integration/explorer/pipeline_export.png
  static/images/continuous_integration/explorer/test_export.png
Labels: Architecture, editorial review, Images

#21741 [PROF-9132] document Go custom profiler annotations
  content/en/profiler/guide/isolate-outliers-in-monolithic-services.md
Labels: Guide

#21998 Fix broken links
  content/en/continuous_integration/explorer/export.md
Labels: continuous_integration

#21999 Kathy.lin/relatedassets
  content/en/metrics/summary.md
  static/images/metrics/summary/related_assets_dashboards.png
Labels: Images

#21924 [APPSEC] Add docs for the ASM Threat Overview page
  config/_default/menus/menus.en.yaml
  content/en/security/application_security/threats/threat-overview.md
  static/images/security/application_security/threats/appsec-threat-overview-page-top.png
  static/images/security/application_security/threats/appsec-threat-overview-powerpacks.png
Labels: Architecture, Images

#22001 Mention replay endpoint in RUM proxy guide
  content/en/real_user_monitoring/guide/proxy-rum-data.md
Labels: Guide

#21749 Restructure OpenTelemetry Documentation
  config/_default/menus/menus.en.yaml
  content/en/opentelemetry/_index.md
  content/en/opentelemetry/collector_exporter/_index.md
  content/en/opentelemetry/collector_exporter/configuration.md
  content/en/opentelemetry/collector_exporter/deployment.md
  content/en/opentelemetry/collector_exporter/otel_collector_datadog_exporter.md
  content/en/opentelemetry/collector_exporter/otlp_receiver.md
  content/en/opentelemetry/guide/_index.md
  content/en/opentelemetry/guide/otlp_delta_temporality.md
  content/en/opentelemetry/ingestion_sampling_with_opentelemetry.md
  content/en/opentelemetry/integrations/_index.md
  content/en/opentelemetry/integrations/docker_metrics.md
  content/en/opentelemetry/integrations/host_metrics.md
  content/en/opentelemetry/integrations/log_collection.md
  content/en/opentelemetry/integrations/runtime_metrics/_index.md
  content/en/opentelemetry/integrations/runtime_metrics/dotnet.md
  content/en/opentelemetry/integrations/runtime_metrics/go.md
  content/en/opentelemetry/integrations/runtime_metrics/java.md
  content/en/opentelemetry/integrations/trace_metrics.md
  content/en/opentelemetry/interoperability/_index.md
  content/en/opentelemetry/interoperability/otel_api_tracing_interoperability.md
  content/en/opentelemetry/interoperability/otlp_ingest_in_the_agent.md
  content/en/opentelemetry/otel_terms.md
  content/en/opentelemetry/otel_tracing.md
  content/en/opentelemetry/schema_semantics/_index.md
  content/en/opentelemetry/schema_semantics/host_metadata.md
  content/en/opentelemetry/schema_semantics/metrics_mapping.md
  content/en/opentelemetry/schema_semantics/semantic_mapping.md
  content/en/opentelemetry/troubleshooting.md
  content/en/tracing/trace_collection/custom_instrumentation/otel_instrumentation/_index.md
  layouts/partials/nav/left-nav.html
Labels: Architecture, Guide

#22011 Remove redundant redirects
  content/en/opentelemetry/collector_exporter/otlp_receiver.md
  content/en/opentelemetry/guide/otlp_delta_temporality.md
Labels: Guide
