Repository DataDog/documentation, pull requests merged in 2024-12, with the labels that each got.

#26549 [PROF-10978] Bump minimum Ruby version for heap profiling
  content/en/profiler/enabling/supported_versions.md
  content/en/profiler/profile_types.md
Labels: mergequeue-status: in_progress

#26084 add page for ecs explorer
  config/_default/menus/main.en.yaml
  content/en/infrastructure/containers/amazon_elastic_container_explorer.md
  static/images/infrastructure/livecontainers/ecs-cluster-map.mp4
  static/images/infrastructure/livecontainers/fargate.mp4
  static/images/infrastructure/livecontainers/orch_ecs_ex.png
  static/images/infrastructure/livecontainers/orch_ecs_ex_groupby.png
  static/images/infrastructure/livecontainers/orch_ecs_ex_manifest_history.png
  static/images/infrastructure/livecontainers/orch_ecs_ex_panel.png
Labels: Architecture, editorial review, Images, mergequeue-status: in_progress

#26527 Add OTel Collector Logs endpoint for private link
  content/en/agent/guide/azure-private-link.md
Labels: Guide, mergequeue-status: in_progress

#26550 Include mobile s8s troubleshooting
  content/en/synthetics/troubleshooting/_index.md
Labels: mergequeue-status: in_progress

#26380 [DOCS-9406] synthetics snippets for browser, mobile and API tests
  content/en/glossary/terms/mobile_app_test.md
  content/en/synthetics/api_tests/dns_tests.md
  content/en/synthetics/api_tests/grpc_tests.md
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/api_tests/icmp_tests.md
  content/en/synthetics/api_tests/ssl_tests.md
  content/en/synthetics/api_tests/tcp_tests.md
  content/en/synthetics/api_tests/udp_tests.md
  content/en/synthetics/api_tests/websocket_tests.md
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/mobile_app_testing/_index.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/_index.md
  content/en/synthetics/platform/settings/_index.md
  layouts/shortcodes/synthetics-api-tests-snippets.en.md
  layouts/shortcodes/synthetics-variables.en.md
  static/images/mobile_app_testing/mobile_app_snippets_2.png
  static/images/synthetics/api_tests/api_tests_snippets_2.png
  static/images/synthetics/browser_tests/browser_snippets_2.png
Labels: Architecture, WORK IN PROGRESS, Images, mergequeue-status: in_progress

#26533 chore: update lambda terraform docs
  content/en/serverless/aws_lambda/installation/dotnet.md
  content/en/serverless/aws_lambda/installation/java.md
  content/en/serverless/aws_lambda/installation/nodejs.md
  content/en/serverless/aws_lambda/installation/python.md
  content/es/serverless/aws_lambda/installation/dotnet.md
  content/es/serverless/aws_lambda/installation/java.md
  content/es/serverless/aws_lambda/installation/nodejs.md
  content/es/serverless/aws_lambda/installation/python.md
  content/fr/serverless/aws_lambda/installation/java.md
  content/ja/serverless/aws_lambda/installation/nodejs.md
  content/ja/serverless/aws_lambda/installation/python.md
Labels: mergequeue-status: in_progress

#26509 Updated APM documentation to add a preview link for service discovery
  content/en/tracing/trace_collection/_index.md
Labels: mergequeue-status: in_progress

#26293 [DOCS-9410] Update Cloud SIEM Detection Rules docs
  config/_default/menus/main.en.yaml
  content/en/developers/integrations/create-a-cloud-siem-detection-rule.md
  content/en/getting_started/cloud_siem/_index.md
  content/en/integrations/guide/amazon-eks-audit-logs.md
  content/en/security/cloud_siem/content_packs.md
  content/en/security/cloud_siem/detection_rules/_index.md
  content/en/security/cloud_siem/detection_rules/signal_correlation_rules.md
  content/en/security/cloud_siem/guide/automate-the-remediation-of-detected-threats.md
  content/en/security/cloud_siem/guide/aws-config-guide-for-cloud-siem.md
  content/en/security/cloud_siem/guide/azure-config-guide-for-cloud-siem.md
  content/en/security/cloud_siem/guide/google-cloud-config-guide-for-cloud-siem.md
  content/en/security/detection_rules/_index.md
  content/en/security/threats/workload_security_rules/custom_rules.md
Labels: Architecture, WORK IN PROGRESS, Guide, mergequeue-status: in_progress

#26158 DOCS-9182: DBM RDS onboarding workflow
  config/_default/menus/main.en.yaml
  content/en/database_monitoring/setup_postgres/rds/_index.md
  content/en/database_monitoring/setup_postgres/rds/quick_install.md
  layouts/partials/nav/left-nav.html
Labels: Architecture, editorial review, mergequeue-status: in_progress

#26397 [DOCS-9488] SD-WAN GA launches
  content/en/network_monitoring/devices/getting_started.md
Labels: mergequeue-status: in_progress

#25665 (dev)(dogstatsd) Clarify server and client language
  content/en/developers/dogstatsd/_index.md
Labels: mergequeue-status: in_progress

#26555 [CLOUDCRAFT-1030] Update "Connect an Amazon EKS Cluster with Cloudcraft"
  content/en/cloudcraft/getting-started/connect-amazon-eks-cluster-with-cloudcraft.md
Labels: mergequeue-status: in_progress

#26562 (DOCS-9651) Update workflow time limit
  content/en/service_management/workflows/limits.md
Labels: mergequeue-status: in_progress

#26553 [DOCS-9643] Remove 90 day extension mention for RUM events
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide, mergequeue-status: in_progress

#26565 Fix image link in Cloud SIEM docs
  config/_default/menus/main.en.yaml
  content/en/security/cloud_siem/entities_and_risk_scoring.md
Labels: Architecture, mergequeue-status: in_progress

#26564 Add RUM session ID for signup tracking
  assets/scripts/components/global-modals.js
Labels: Architecture, mergequeue-status: in_progress

#26576 [NO-TICKET] Document Ruby profiler setting for reading from opentelemetry context
  content/en/profiler/enabling/ruby.md
Labels: mergequeue-status: in_progress

#26577 Add Feature Flag UI
  content/en/opentelemetry/guide/otel_demo_to_datadog.md
Labels: Guide

#26506 Move build scripts and setup local dev
  .gitignore
  .gitlab-ci.yml
  Makefile
  Makefile.config.example
  local/bin/py/build/__init__.py
  local/bin/py/build/actions/__init__.py
  local/bin/py/build/actions/comment_conversion.py
  local/bin/py/build/actions/format_link.py
  local/bin/py/build/actions/integrations.py
  local/bin/py/build/actions/pull_and_push_file.py
  local/bin/py/build/actions/pull_and_push_folder.py
  local/bin/py/build/actions/security_rules.py
  local/bin/py/build/actions/tests/__init__.py
  local/bin/py/build/actions/tests/test_format_link.py
  local/bin/py/build/actions/tests/test_marketplace_integrations.py
  local/bin/py/build/actions/tests/test_process_agent_config.py
  local/bin/py/build/configurations/pull_config_allowlist.yaml
  local/bin/py/build/content_manager.py
  local/bin/py/build/github_connect.py
  local/bin/py/build/process_agent_config.py
  local/bin/py/build/pull_rbac.py
  local/bin/py/build/update_pre_build.py
Labels: Architecture

#26583 (maint) Update core_product name
  config/_default/params.yaml
Labels: Architecture, mergequeue-status: in_progress

#26586 Update Error Tracking Explorer screenshots
  content/en/error_tracking/explorer.md
  static/images/error_tracking/create-monitor.mp4
  static/images/error_tracking/facets-panel.png
Labels: Images, mergequeue-status: in_progress

#26407 remove single step from public doc
  config/_default/menus/main.en.yaml
  config/_default/menus/main.fr.yaml
  config/_default/menus/main.ja.yaml
  content/en/profiler/enabling/ruby.md
  content/en/security/application_security/code_security/_index.md
  content/en/security/application_security/code_security/setup/_index.md
  content/en/security/application_security/threats/setup/_index.md
  content/en/security/application_security/threats/setup/single_step/_index.md
  content/en/security/application_security/threats/setup/threat_detection/_index.md
Labels: Architecture, editorial review

#26542 Remove Ruby from the language list installed by default for SSI
  content/en/security/application_security/threats/setup/single_step/_index.md
  content/en/tracing/trace_collection/automatic_instrumentation/single-step-apm/_index.md
  content/en/tracing/trace_collection/library_injection_local.md
Labels: mergequeue-status: in_progress

#26585 Various updates to manual instrumentation for DSM
  content/en/data_streams/java.md
  content/en/data_streams/manual_instrumentation.md
  content/en/data_streams/nodejs.md
  content/en/data_streams/python.md
Labels: mergequeue-status: in_progress

#26579 Add note about rollup and require full window interaction
  content/en/dashboards/functions/rollup.md
  content/en/monitors/guide/troubleshooting-monitor-alerts.md
Labels: Guide, mergequeue-status: in_progress

#26291 Log forwarding custom destinations Microsoft sentinel
  content/en/logs/log_configuration/forwarding_custom_destinations.md
Labels: mergequeue-status: in_progress

#26596 Aaron/change tracking/updates
  content/en/change_tracking/_index.md
  content/en/dashboards/change_overlays/_index.md
  static/images/dashboards/change_overlays/show_overlays_button.png
Labels: Images, mergequeue-status: in_progress

#26601 Add an intro to subsections
  content/en/dashboards/widgets/wildcard.md
Labels: mergequeue-status: in_progress

#26589 [doc] Updated Azure Cloud Cost Management doc
  content/en/cloud_cost_management/azure.md
Labels: mergequeue-status: waiting

#26603 Update wildcard.md
  content/en/dashboards/widgets/wildcard.md
Labels: mergequeue-status: in_progress

#26598 Edit retention policy for RUM
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide, mergequeue-status: in_progress

#26607 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github, mergequeue-status: in_progress

#26606 Update watchdog_explains.md
  content/en/dashboards/graph_insights/watchdog_explains.md
Labels: mergequeue-status: in_progress

#26594 Update monitoring-available-disk-space.md
  content/en/monitors/guide/monitoring-available-disk-space.md
Labels: monitors, Guide, mergequeue-status: in_progress

#26608 Update _index.md
  content/en/service_catalog/_index.md
Labels: mergequeue-status: in_progress

#26578 Update software_templates.md
  content/en/service_catalog/software_templates.md
Labels: mergequeue-status: in_progress

#26359 Update import_entries_backstage.md
  content/en/service_catalog/customize/import_entries_backstage.md
Labels: mergequeue-status: in_progress

#26622 feat(agent): Change the wording for Agent6 & 7 difference
  content/en/agent/guide/version_differences.md
Labels: Guide, mergequeue-status: in_progress

#26617 Clarify template variables for Error Tracking monitors
  content/en/monitors/notify/variables.md
Labels: mergequeue-status: in_progress

#20303 Spans that match a retention filter but are dropped can still be retained by the Datadog intelligent filter
  content/en/tracing/trace_pipeline/trace_retention.md
Labels: mergequeue-status: in_progress

#26602 Move more build scripts
  .gitignore
  .gitlab-ci.yml
  Makefile
  local/bin/js/typesense_sync.cjs
  local/bin/py/add_notranslate_tag.py
  local/bin/py/missing_metrics.py
  local/bin/py/placehold_translations.py
  local/bin/py/submit_github_status_check.py
  local/bin/py/translations/orphaned_translations.py
  local/bin/py/translations/translation_data_checks.py
Labels: Architecture

#26633 (USM) Remove beta wording
  content/en/universal_service_monitoring/setup.md
Labels: mergequeue-status: in_progress

#26325 [DOCS-8479] Fix Java Example in OTel Getting Started
  content/en/getting_started/opentelemetry/_index.md
Labels: mergequeue-status: in_progress

#26570 Add note about feature flags support for Unity and Kotlin Multiplatform SDKs
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
Labels: Guide, mergequeue-status: in_progress

#26632 (Account Management) Note on fargate tasks
  content/en/account_management/billing/usage_metrics.md
Labels: mergequeue-status: in_progress

#26638 Update getting_started.md
  content/en/ddsql_editor/getting_started.md
Labels: mergequeue-status: in_progress

#26631 Update unix_socket.md
  content/en/developers/dogstatsd/unix_socket.md
Labels: mergequeue-status: in_progress

#26639 Samantha.scaglione/intelligent correlation updates
  content/en/service_management/events/correlation/configuration.md
  content/en/service_management/events/correlation/intelligent.md
  content/en/service_management/events/correlation/patterns.md
  static/images/service_management/events/correlation/intelligent/intelligent_config_updated.png
Labels: Images, mergequeue-status: in_progress

#26640 Updates to Nested Queries Documentation
  content/en/metrics/nested_queries.md
  static/images/metrics/nested_queries/moving_rollup1_json.png
  static/images/metrics/nested_queries/moving_rollup1_ui.png
  static/images/metrics/nested_queries/moving_rollup2_json.png
  static/images/metrics/nested_queries/moving_rollup2_ui.png
Labels: Images, mergequeue-status: in_progress

#26635 Adds custom style to specific page to make tables readable on narrower screens
  content/en/account_management/billing/usage_metrics.md
Labels: mergequeue-status: in_progress

#26642 (Developers) DogStatsD instructions for EKS/ECS
  content/en/developers/dogstatsd/unix_socket.md
Labels: mergequeue-status: in_progress

#26651 Update dbm-mongodb-agent-setup-kubernetes.en.md
  layouts/shortcodes/dbm-mongodb-agent-setup-kubernetes.en.md
Labels: Architecture, editorial review, mergequeue-status: in_progress

#26605 Add note about log anomalies in Watchdog monitors
  content/en/monitors/types/watchdog.md
Labels: mergequeue-status: in_progress

#26647 Update Freeze Workflow
  .github/workflows/code-freeze.yml
  local/bin/py/code-freeze-check.py
Labels: Architecture, Github

#26646 Update tutorial-enable-java-admission-controller.md
  content/en/tracing/guide/tutorial-enable-java-admission-controller.md
Labels: Guide, mergequeue-status: in_progress

#26643 Fix typo in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github, mergequeue-status: in_progress

#26645 [.NET SSI] Don't recommend using `-musl` images for SSI
  content/en/tracing/trace_collection/automatic_instrumentation/single-step-apm/_index.md
Labels: mergequeue-status: in_progress

#26650 Update intelligent.md header title
  content/en/service_management/events/correlation/intelligent.md
Labels: mergequeue-status: in_progress

#26627 [DSM] Update the go documentation to include automatic instrumentation
  content/en/data_streams/go.md
Labels: mergequeue-status: in_progress

#26659 adding a region param key
  assets/scripts/config/regions.config.js
Labels: Architecture, mergequeue-status: in_progress

#26655 DOCS-9623: cluster name note
  content/en/containers/kubernetes/installation.md
Labels: mergequeue-status: in_progress

#26657 Update Apply button to Run
  content/en/dashboards/widgets/wildcard.md
  static/images/dashboards/widgets/wildcard/define_visual_example_run_button.png
  static/images/dashboards/widgets/wildcard/define_visual_run_button.png
Labels: Images, mergequeue-status: in_progress

#26664 [LLMObs] fix python typo
  content/en/llm_observability/setup/sdk/python.md
Labels: mergequeue-status: in_progress

#26652 Add a guide for tv mode configuration
  content/en/dashboards/configure/_index.md
  content/en/dashboards/guide/_index.md
  content/en/dashboards/guide/tv_mode.md
  static/images/dashboards/guide/tv_mode/tv_mode_config_option.png
Labels: Images, Guide, mergequeue-status: in_progress

#26544 [AWSX-1083] feat(doc): update AWS logs doc with new autosubscription sources
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: Guide, mergequeue-status: in_progress

#26572 [AGENTLESS] Specify 'running' for Agentless AMI scanning
  content/en/security/cloud_security_management/agentless_scanning/_index.md
  content/en/security/cloud_security_management/setup/_index.md
Labels: mergequeue-status: in_progress

#26654 Document usr.login
  content/en/security/application_security/threats/add-user-info.md
Labels: mergequeue-status: in_progress

#26584 Documentation CI Migration
  .github/workflows/check_cache_values.yml
  .gitignore
  .gitlab-ci.yml
  Makefile
  Makefile.config.example
  local/bin/js/typesense_sync.cjs
  local/bin/py/add_notranslate_tag.py
  local/bin/py/build/__init__.py
  local/bin/py/build/actions/__init__.py
  local/bin/py/build/actions/comment_conversion.py
  local/bin/py/build/actions/format_link.py
  local/bin/py/build/actions/integrations.py
  local/bin/py/build/actions/pull_and_push_file.py
  local/bin/py/build/actions/pull_and_push_folder.py
  local/bin/py/build/actions/security_rules.py
  local/bin/py/build/actions/tests/__init__.py
  local/bin/py/build/actions/tests/test_format_link.py
  local/bin/py/build/actions/tests/test_marketplace_integrations.py
  local/bin/py/build/actions/tests/test_process_agent_config.py
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
  local/bin/py/build/content_manager.py
  local/bin/py/build/github_connect.py
  local/bin/py/build/process_agent_config.py
  local/bin/py/build/pull_rbac.py
  local/bin/py/build/update_pre_build.py
  local/bin/py/check_cache_values.py
  local/bin/py/missing_metrics.py
  local/bin/py/placehold_translations.py
  local/bin/py/submit_github_status_check.py
  local/bin/py/translations/orphaned_translations.py
  local/bin/py/translations/translation_data_checks.py
Labels: Architecture, Github

#26674 Clean up CI file
  .gitlab-ci.yml
Labels: mergequeue-status: in_progress

#25847 document consistent configs
  content/en/tracing/trace_collection/library_config/_index.md
Labels: mergequeue-status: in_progress

#25861 Update auto_instrumentation.md
  content/en/llm_observability/setup/auto_instrumentation.md
Labels: mergequeue-status: in_progress

#24411 Logs Integrations Contributor Doc Updates
  content/en/developers/integrations/log_pipeline.md
Labels: editorial review, mergequeue-status: in_progress

#26521 [PROF] Remove references to "Breakdown" feature
  content/en/profiler/connect_traces_and_profiles.md
Labels: mergequeue-status: in_progress

#26616 [NO-TICKET] Add Ruby GVL profiling to documentation
  content/en/profiler/enabling/ruby.md
  content/en/profiler/enabling/supported_versions.md
  content/en/profiler/profile_types.md
Labels: mergequeue-status: in_progress

#26670 [CWS] remove usage of logs in the fargate setup docs and replace with agent events
  content/en/security/guide/aws_fargate_config_guide.md
Labels: Guide, mergequeue-status: in_progress

#26666 AWS WAF integration draft for review
  content/en/security/application_security/threats/_index.md
  content/en/security/application_security/threats/exploit-prevention.md
  content/en/security/application_security/threats/waf-integration.md
  static/images/security/application_security/threats/aws-waf-blocked-ips.png
  static/images/security/application_security/threats/aws-waf-int-asm.png
Labels: Images

#26667 (DOCS-9683) Add resource change collection screenshot
  static/images/integrations/google_cloud_platform/enable_resource_change_collection.png
Labels: Images, mergequeue-status: in_progress

#26681 Update advanced_log_collection.md
  content/en/agent/logs/advanced_log_collection.md
Labels: mergequeue-status: in_progress

#26680 add alias to NPM Guides
  content/en/network_monitoring/cloud_network_monitoring/guide/_index.md
Labels: mergequeue-status: in_progress

#26676 Add clarification on log permissions scoped to pipelines
  content/en/logs/log_configuration/pipelines.md
  content/en/opentelemetry/otlp_logs.md
Labels: mergequeue-status: in_progress

#26682 adding WAF Integrations to the navigation
  config/_default/menus/main.en.yaml
Labels: Architecture, mergequeue-status: in_progress

#26621 Updating image log forwarding
  content/en/logs/log_configuration/forwarding_custom_destinations.md
  static/images/logs/log_configuration/forwarding/log-forwarding-tag-sentinel.png
Labels: Images, mergequeue-status: removed

#26641 Add CSM Vulns limitations for Windows
  content/en/security/cloud_security_management/vulnerabilities/hosts_containers_compatibility.md
  layouts/shortcodes/csm-windows-setup.en.md
Labels: Architecture, mergequeue-status: in_progress

#26618 Update sql_deadlock.md
  content/en/database_monitoring/guide/sql_deadlock.md
Labels: Guide, database_monitoring, mergequeue-status: in_progress

#26683 Update vSphere billing page
  content/en/account_management/billing/vsphere.md
Labels: mergequeue-status: in_progress

#26690 Small updates and typo fixes to doc
  content/en/developers/integrations/log_pipeline.md
Labels: mergequeue-status: in_progress

#26610 Add region parameter shortcode for logs intake
  content/en/logs/log_collection/java.md
Labels: mergequeue-status: in_progress

#26658 [DOCS-9671] Undo translation of RUM code snippets to Spanish
  content/es/real_user_monitoring/mobile_and_tv_monitoring/setup/android.md
Labels: mergequeue-status: in_progress

#26571 Update iOS SDK version for Kotlin Multiplatform SDK 0.4.0 release
  content/en/logs/log_collection/kotlin-multiplatform.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/kotlin-multiplatform.md
Labels: mergequeue-status: in_progress

#26491 adding blog links
  content/en/llm_observability/_index.md
  content/en/observability_pipelines/_index.md
  content/en/real_user_monitoring/_index.md
  content/en/security/cloud_siem/_index.md
  content/en/serverless/aws_lambda/_index.md
Labels: mergequeue-status: in_progress

#26692 [WEB-5663] Update RUM configuration privacy level
  assets/scripts/components/dd-browser-logs-rum.js
Labels: Architecture, mergequeue-status: in_progress

#26563 Add Azure to CSM without InfraMon setup docs
  content/en/security/cloud_security_management/setup/without_infrastructure_monitoring.md
Labels: mergequeue-status: in_progress

#26614 Update docs on muting CSM issues
  content/en/security/cloud_security_management/review_remediate/mute_issues.md
  static/images/security/csm/mute_issue-2.png
  static/images/security/csm/muted_finding_timeline-2.png
Labels: Images, mergequeue-status: in_progress

#26701 Danielarodriguez/update shared dashboards refresh rate
  content/en/dashboards/sharing/shared_dashboards.md
Labels: mergequeue-status: in_progress

#26700 Fix broken link in Browser setup
  content/en/real_user_monitoring/browser/setup/client.md
Labels: mergequeue-status: in_progress

#26702 add blog link
  content/en/data_streams/_index.md
Labels: mergequeue-status: in_progress

#26697 Update Statuspage integration docs to explicitly list required permissions
  content/en/service_management/incident_management/guides/statuspage.md
Labels: mergequeue-status: in_progress

#26678 Updated archives images and permissions
  content/en/logs/log_configuration/archives.md
  static/images/logs/archives/log_archives_advanced_settings.png
  static/images/logs/archives/log_forwarding_archives_122024.png
Labels: Images, mergequeue-status: in_progress

#26665 Add new guide for using Vega-Lite in Wildcard widget
  content/en/dashboards/guide/_index.md
  content/en/dashboards/guide/using_vega_lite_in_wildcard_widgets.md
  static/images/dashboards/guide/using_vega_lite_in_wildcard_widgets/wildcard_multiple_requests.png
Labels: editorial review, Images, Guide, mergequeue-status: in_progress

#26704 Fix otel-agent BYOC flow docs
  content/en/opentelemetry/agent/agent_with_custom_components.md
Labels: mergequeue-status: in_progress

#26705 revise Agent info in Prerequisites
  content/en/security/cloud_security_management/setup/agent/kubernetes.md
Labels: mergequeue-status: in_progress

#26699 CSM without InfraMon - add Google Cloud Platform section
  content/en/security/cloud_security_management/setup/without_infrastructure_monitoring.md
Labels: mergequeue-status: in_progress

#25985 Update to serverless docs with links to new sample apps
  content/en/getting_started/serverless/_index.md
  content/en/serverless/aws_lambda/installation/_index.md
  content/en/serverless/aws_lambda/installation/dotnet.md
  content/en/serverless/aws_lambda/installation/go.md
  content/en/serverless/aws_lambda/installation/java.md
  content/en/serverless/aws_lambda/installation/nodejs.md
  static/images/getting_started/serverless/dd_flame_graph_2.png
  static/images/getting_started/serverless/dd_logs_view_2.png
  static/images/getting_started/serverless/dd_serverless_view_error_2.png
  static/images/getting_started/serverless/details_error_2.png
  static/images/getting_started/serverless/functions_view_2.png
  static/images/getting_started/serverless/insights_and_issues.png
  static/images/getting_started/serverless/serverless_view_2024_2.png
  static/images/getting_started/serverless/trace_map_2.png
Labels: editorial review, Images, mergequeue-status: in_progress

#26648 [SDTEST-901] Auto instrumentation docs for Test Optimization in Ruby
  content/en/tests/code_coverage.md
  content/en/tests/setup/ruby.md
  content/en/tests/test_impact_analysis/setup/ruby.md
Labels: mergequeue-status: in_progress

#26673 [test optimization] Update ESM note about mocha
  content/en/tests/setup/javascript.md
Labels: mergequeue-status: in_progress

#26708 Tracer Startup Log Correction
  content/en/tracing/troubleshooting/tracer_startup_logs.md
Labels: mergequeue-status: in_progress

#26717 Update wildcard.md
  content/en/dashboards/widgets/wildcard.md
Labels: mergequeue-status: in_progress

#26720 Update tv_mode.md
  content/en/dashboards/guide/tv_mode.md
Labels: Guide, mergequeue-status: in_progress

#26707 DOCS-9367: event correlation support in govcloud
  content/en/service_management/events/correlation/configuration.md
Labels: mergequeue-status: in_progress

#26706 DOCS-9675: adding datadog site note
  content/en/containers/kubernetes/distributions.md
Labels: mergequeue-status: in_progress

#26723 ci(workflows): use official GitHub action for token generation
  .github/workflows/approved_status.yml
Labels: Github, mergequeue-status: in_progress

#26725 adding redirect to ASM Threats
  content/en/security/application_security/threats/setup/threat_detection/_index.md
Labels: mergequeue-status: in_progress

#26719 Clarify which Service Catalog entries are used in DORA metrics to com…
  content/en/dora_metrics/setup/deployments.md
Labels: mergequeue-status: in_progress

#26727 ci(workflows): fix use of create-github-app-token
  .github/workflows/approved_status.yml
Labels: Github, mergequeue-status: in_progress

#26684 (DOCS-9683) Add Azure resource collection
  content/en/infrastructure/resource_catalog/_index.md
Labels: mergequeue-status: in_progress

#26730 Add link to Workflows API
  content/en/service_management/workflows/build.md
Labels: mergequeue-status: in_progress

#26612 (DOCS-9611) Workflow connection groups
  content/en/service_management/workflows/connections.md
Labels: mergequeue-status: in_progress

#26731 Update search_syntax.md
  content/en/logs/explorer/search_syntax.md
Labels: mergequeue-status: in_progress

#26436 Document FIPS limitation for buckets with dot
  content/en/logs/log_configuration/archives.md
Labels: mergequeue-status: in_progress

#26709 Update chown command on permissions.md
  content/en/agent/troubleshooting/permissions.md
Labels: under_review, mergequeue-status: removed

#26703 New RUM Performance Monitoring summary page
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/browser/_index.md
  static/images/real_user_monitoring/performance-summary-browser.png
  static/images/real_user_monitoring/performance-summary-mobile-2.png
  static/images/real_user_monitoring/rum-performance-application-selector.png
Labels: Images, mergequeue-status: in_progress

#26679 update code snippet for TS, ET standalone
  content/en/real_user_monitoring/browser/setup/client.md
Labels: mergequeue-status: in_progress

#26744 Update _index.md fixing a typo
  content/en/security/application_security/threats/_index.md
Labels: mergequeue-status: in_progress

#26661 Update windows.md
  content/en/agent/basic_agent_usage/windows.md
Labels: mergequeue-status: removed

#26739 Fix link
  content/en/integrations/guide/storage-monitoring-setup.md
Labels: Guide

#26741 Clarify browser session replay privacy default setting
  content/en/real_user_monitoring/session_replay/browser/privacy_options.md
Labels: mergequeue-status: in_progress

#25752 Mark roadrunner 3.x as supported
  content/en/tracing/trace_collection/compatibility/php.md
Labels: under_review, mergequeue-status: in_progress

#26749 INA-6580: Add new Add app to team flow image
  static/images/integrations/microsoft_teams/microsoft_teams_add_app_to_team.png
Labels: Images

#26735 Tracing prepared statements in Java/Postgres
  content/en/database_monitoring/connect_dbm_and_apm.md
Labels: mergequeue-status: in_progress

#26716 [SDTEST-171] add Ruby to the list of supported languages of Datadog Jenkins plugin
  content/en/continuous_integration/pipelines/jenkins.md
  static/images/ci/ci-jenkins-plugin-tests-config-2.png
  static/images/ci/ci-jenkins-plugin-tests-config.png
Labels: Images, mergequeue-status: in_progress

#25739 time slice alert by group
  content/en/service_management/service_level_objectives/burn_rate.md
  content/en/service_management/service_level_objectives/error_budget.md
  content/en/service_management/service_level_objectives/guide/slo_types_comparison.md
Labels: mergequeue-status: in_progress

#26753 Update link
  content/en/infrastructure/resource_catalog/_index.md
Labels: mergequeue-status: in_progress

#26758 Move note about default Session Replay privacy setting higher
  content/en/real_user_monitoring/session_replay/browser/privacy_options.md
Labels: mergequeue-status: in_progress

#26759 Update alert_graph.md
  content/en/dashboards/widgets/alert_graph.md
Labels: mergequeue-status: in_progress

#26760 [AWSX] update docs for AWS resource collection
  layouts/shortcodes/aws-permissions.en.md
Labels: Architecture, mergequeue-status: in_progress

#26695 OTLP Logs Intake Endpoint
  assets/scripts/config/regions.config.js
  config/_default/menus/main.en.yaml
  content/en/opentelemetry/otlp_logs.md
Labels: Architecture, mergequeue-status: in_progress

#26770 Add on demand metric for GCP
  content/en/cloud_cost_management/google_cloud.md
Labels: mergequeue-status: in_progress

#26729 [DOCS-9708] Add Action logic for RUM
  content/en/real_user_monitoring/browser/tracking_user_actions.md
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/data_collected/android.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/data_collected/ios.md
Labels: Guide, mergequeue-status: in_progress

#26775 remove replay docs since feature is deprecated
  content/en/service_management/service_level_objectives/monitor.md
Labels: mergequeue-status: in_progress

#26768 Add return type to workspace sql reference
  content/en/logs/workspaces/sql_reference.md
Labels: mergequeue-status: in_progress

#26766 Move Kotlin content into tab
  content/en/real_user_monitoring/mobile_and_tv_monitoring/web_view_tracking/_index.md
Labels: mergequeue-status: in_progress

#26772 Include to disable container collection
  content/en/logs/guide/how-to-set-up-only-logs.md
Labels: Guide, mergequeue-status: in_progress

#26769 Update link URL in CI Visibility for GitHub Actions
  content/en/continuous_integration/pipelines/github.md
Labels: mergequeue-status: in_progress

#26728 Add note no support for Shopify Checkout Extensibility
  content/en/real_user_monitoring/guide/enable-rum-shopify-store.md
Labels: Guide, mergequeue-status: in_progress

#26737 Update database_hosts.md
  content/en/database_monitoring/database_hosts.md
Labels: mergequeue-status: in_progress

#26774 DOCS-9694: Remove outdated BigQuery integration doc
  content/fr/integrations/google_cloud_big_query.md
  content/ja/integrations/google_cloud_big_query.md
  content/ko/integrations/google_cloud_big_query.md
Labels: mergequeue-status: in_progress

#26776 Update metrics submission endpoint
  content/en/metrics/custom_metrics/powershell_metrics_submission.md
Labels: mergequeue-status: in_progress

#26743 Update README.md with link to finding Slack username
  README.md
Labels: mergequeue-status: in_progress

#26569 [DOCS-9644] Standalone Error Tracking for Mobile
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/android.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/expo.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/flutter.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/ios.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/kotlin-multiplatform.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/reactnative.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/setup/roku.md
  go.mod
  go.sum
  static/images/real_user_monitoring/error_tracking/mobile-new-application.png
Labels: Images, mergequeue-status: in_progress

#26745 [RUM-7047] Update the doc about the force session replay recording
  content/en/real_user_monitoring/session_replay/browser/_index.md
Labels: mergequeue-status: in_progress
