Repository DataDog/documentation, pull requests merged in 2024-08, with the labels that each got.

#23752 [DOCS-8268] APM FAQ documentation
  config/_default/menus/main.en.yaml
  content/en/tracing/troubleshooting/faq_apm.md
Labels: Architecture, editorial review

#24352 Add Flex logs to best practices
  content/en/logs/guide/best-practices-for-log-management.md
Labels: Guide

#24433 Remove assumptions and add alert for feature flag
  content/en/logs/guide/logs-rbac-permissions.md
  content/en/logs/guide/logs-rbac.md
Labels: Guide

#24436 Add link to Agent docs
  content/en/security/cloud_security_management/setup/agent/linux.md
Labels: security

#24187 Add Rust sdk examples to api documentation
  .github/workflows/bump_versions.yml
  .gitignore
  Makefile
  config/_default/params.yaml
  content/en/api/latest/_index.md
  data/highlighting.yaml
  data/libraries.yaml
  data/sdk_versions.json
  layouts/partials/api/code-example.html
  layouts/partials/api/sdk-languages.html
Labels: Architecture, Github

#24393 DOCS-8548 Add instructions for disabling resource scanning
  content/en/security/cloud_security_management/setup/cloud_accounts.md
  layouts/shortcodes/csm-setup-aws.md
  layouts/shortcodes/csm-setup-azure.md
  layouts/shortcodes/csm-setup-google-cloud.md
Labels: Architecture, security

#24448 Revert "Remove assumptions and add alert for feature flag"
  content/en/logs/guide/logs-rbac-permissions.md
  content/en/logs/guide/logs-rbac.md
Labels: Guide

#24378 [DOCS-8493] updates to new features for synthetics
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/browser_tests/actions.md
  content/en/synthetics/explore/_index.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/steps.md
  content/en/synthetics/mobile_app_testing/settings/_index.md
  content/en/synthetics/platform/settings/_index.md
  layouts/shortcodes/synthetics-variables.md
  static/images/mobile_app_testing/applications_list_2.png
  static/images/mobile_app_testing/test_steps/edit-mobile-recording.png
  static/images/synthetics/api_tests/http_javascript.png
  static/images/synthetics/browser_tests/multi-step-edit.png
  static/images/synthetics/browser_tests/number_and_target.png
  static/images/synthetics/search/synthetic_tests_customize_column.png
  static/images/synthetics/settings/variable_value_3.png
Labels: Architecture, Images

#24440 nsollecito/code tabs anchors
  assets/scripts/components/codetabs.js
  assets/scripts/components/table-of-contents.js
  assets/scripts/datadog-docs.js
  assets/scripts/helpers/helpers.js
Labels: Architecture

#24418 remove https redirect wording
  content/en/data_security/guide/tls_ciphers_deprecation.md
Labels: Guide

#21935 Adding new Metrics Volume Management Doc
  config/_default/menus/main.en.yaml
  content/en/metrics/volume.md
  static/images/metrics/volume/compare_metric_cardinality.png
  static/images/metrics/volume/configure_metrics.png
  static/images/metrics/volume/id_unqueried_metrics.png
  static/images/metrics/volume/metrics_volume_overview.png
  static/images/metrics/volume/reduce_metric_vol_cost_tags.png
  static/images/metrics/volume/related_assets.png
  static/images/metrics/volume/volume_graphs.png
Labels: Architecture, editorial review, Images

#24453 Latest JA translated API nav
  config/_default/menus/api.ja.yaml
Labels: Architecture

#24431 DDSQL Editor Clarifications
  content/en/dashboards/ddsql_editor/reference/_index.md
  content/en/dashboards/ddsql_editor/reference/data_types.md
  content/en/dashboards/ddsql_editor/reference/expressions_and_operators.md
  content/en/dashboards/ddsql_editor/reference/statements.md
  content/en/dashboards/ddsql_editor/reference/tags.md
Labels: editorial review

#24365 [Dual-shipping] Clarify Kubernetes-specific part, provide examples, correct nits
  content/en/agent/configuration/dual-shipping.md
Labels: editorial review

#24444 (DOCS-8553) App Builder - Workflow returning data to app
  config/_default/menus/main.en.yaml
  content/en/service_management/app_builder/build.md
  content/en/service_management/app_builder/queries.md
  static/images/service_management/app_builder/workflow-trigger-from-app.mp4
Labels: Architecture, Images

#24424 [DOCS-8587] Update Obs Pipelines landing doc
  content/en/observability_pipelines/_index.md
  static/images/observability_pipelines/templates.png
Labels: WORK IN PROGRESS, Images

#24455 Add Git Hooks
  config/_default/menus/main.en.yaml
  content/en/code_analysis/git_hooks/_index.md
  static/images/code_analysis/git_hooks/git_hook.png
Labels: Architecture, Images

#24461 Update custom-javascript-assertion.md
  content/en/synthetics/guide/custom-javascript-assertion.md
Labels: Guide

#24435 Modify script for processing yaml metric spec
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#24465 [DOCS-8492] Edit text
  layouts/shortcodes/observability_pipelines/processors/dedupe.md
Labels: Architecture

#24474 Update code-freeze.yml
  .github/workflows/code-freeze.yml
Labels: Github

#24485 Unfreeze repo
  .github/workflows/code-freeze.yml
Labels: Github

#24471 Update instructions to run osv-scanner
  content/en/code_analysis/faq/_index.md
  content/en/code_analysis/software_composition_analysis/generic_ci_providers.md
Labels: FAQ

#24403 Monitor Capacitor applications guide Browser SDK
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/monitor-capacitor-applications-using-browser-sdk.md
Labels: WORK IN PROGRESS, Guide

#24349 DOCS-8432: CSM onramp for Cloud SIEM
  content/en/security/cloud_security_management/setup/_index.md
  content/en/security/cloud_security_management/setup/cloudtrail_logs.md
  content/en/security/cloud_siem/guide/aws-config-guide-for-cloud-siem.md
  layouts/shortcodes/cloud-siem-aws-cloudtrail-enable.md
  layouts/shortcodes/cloud-siem-aws-cloudtrail-send-logs.md
  layouts/shortcodes/cloud-siem-aws-setup-cloudformation.md
  static/images/security/csm/setup/features_selection_new_user2.png
Labels: Architecture, Images, security

#24487 (Workflows) Exclude azure network bundle
  local/bin/py/build/actions/workflows.py
Labels: Architecture

#24460 Add common ddsql queries and use cases
  content/en/dashboards/ddsql_editor/_index.md
  content/en/dashboards/guide/_index.md
  content/en/dashboards/guide/ddsql_use_cases.md
Labels: Guide

#24482 [dbm] update dbm for mongodb doc to point user to the mongo cluster view
  layouts/shortcodes/dbm-mongodb-agent-setup-docker.md
  layouts/shortcodes/dbm-mongodb-agent-setup-kubernetes.md
  layouts/shortcodes/dbm-mongodb-agent-setup-linux.md
Labels: Architecture

#24477 DOCS-8517 add billing note to CSM setup topics
  content/en/security/cloud_security_management/_index.md
  content/en/security/cloud_security_management/setup/_index.md
  content/en/security/cloud_security_management/setup/agent/_index.md
  content/en/security/cloud_security_management/setup/agent/docker.md
  content/en/security/cloud_security_management/setup/agent/ecs_ec2.md
  content/en/security/cloud_security_management/setup/agent/kubernetes.md
  content/en/security/cloud_security_management/setup/agent/linux.md
  content/en/security/cloud_security_management/setup/agent/windows.md
  content/en/security/cloud_security_management/setup/cloud_accounts.md
  content/en/security/cloud_security_management/setup/supported_deployment_types.md
  layouts/partials/security-platform/CSW-billing-note.html
Labels: Architecture, security

#24489 MNTS-90869 - Update template-variable-evaluation.md
  content/en/monitors/guide/template-variable-evaluation.md
Labels: monitors, Guide, changelog/no-changelog

#24339 DOCS-8441 LLM Observability Terms and Concepts Update
  content/en/llm_observability/terms/_index.md
  static/images/llm_observability/evaluations/evaluations.png
  static/images/llm_observability/evaluations/failure_to_answer.png
  static/images/llm_observability/evaluations/language_mismatch.png
  static/images/llm_observability/evaluations/prompt_injection.png
  static/images/llm_observability/evaluations/sensitive_data_scanning.png
  static/images/llm_observability/evaluations/sentiment.png
  static/images/llm_observability/evaluations/topic_relevancy.png
  static/images/llm_observability/evaluations/toxicity.png
Labels: Images

#24457 Add scalar functions
  config/_default/menus/main.en.yaml
  content/en/dashboards/ddsql_editor/_index.md
  content/en/dashboards/ddsql_editor/reference/_index.md
  content/en/dashboards/ddsql_editor/reference/expressions_and_operators.md
  content/en/dashboards/ddsql_editor/reference/scalar_functions.md
  content/en/dashboards/ddsql_editor/reference/window_functions.md
Labels: Architecture

#24503 Update params.en.yaml
  config/_default/params.en.yaml
Labels: Architecture

#24112 Add AlloyDB DBM installation instructions
  config/_default/menus/main.en.yaml
  content/en/database_monitoring/setup_postgres/alloydb.md
Labels: Architecture, editorial review

#24497 [dbm] update dbm for mongodb doc to include data collected
  content/en/database_monitoring/setup_mongodb/mongodbatlas.md
  content/en/database_monitoring/setup_mongodb/selfhosted.md
  layouts/shortcodes/dbm-mongodb-agent-beta-install-docker.md
  layouts/shortcodes/dbm-mongodb-agent-beta-install-kubernetes.md
  layouts/shortcodes/dbm-mongodb-agent-beta-install-linux.md
  layouts/shortcodes/dbm-mongodb-agent-data-collected.md
  layouts/shortcodes/dbm-mongodb-agent-setup-docker.md
Labels: Architecture

#24491 Update IncidentApp Jira documentation
  content/en/service_management/incident_management/guides/jira.md
Labels: mergequeue-status: removed

#24521 Update managed_authentication.md
  content/en/database_monitoring/guide/managed_authentication.md
Labels: Guide

#24362 [DOCS-8546] updating network page to include tagging and API
  config/_default/menus/main.en.yaml
  content/en/network_monitoring/devices/_index.md
  content/en/network_monitoring/devices/troubleshooting.md
  content/en/network_monitoring/netflow/_index.md
Labels: Architecture

#24516 Bump datadog-lambda-extension layer to version 63
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#24528 Update windows-agent-ddagent-user.md
  content/en/agent/guide/windows-agent-ddagent-user.md
Labels: Guide

#24529 Bump datadog-lambda-js layer to version 115
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#23984 [DOCS-7851] Update Cloud SIEM Investigate Security Signals for new panel design
  content/en/security/cloud_siem/investigate_security_signals.md
  static/images/security/security_monitoring/investigate_security_signals/bulk_actions2.png
  static/images/security/security_monitoring/investigate_security_signals/search_logs_by_ip.png
  static/images/security/security_monitoring/investigate_security_signals/signal_list2.png
  static/images/security/security_monitoring/investigate_security_signals/signal_side_panel.png
  static/images/security/security_monitoring/investigate_security_signals/tactics_techniques.png
Labels: editorial review, Images

#24525 Update to CODEOWNES scope
  .github/CODEOWNERS
Labels: Github

#24466 removes duplicate images in build folder - [WEB-5144]
  config/_default/config.yaml
Labels: Architecture

#24542 MNTS-90869 Link to Custom Schedules
  content/en/monitors/guide/template-variable-evaluation.md
Labels: monitors, Guide, changelog/no-changelog

#24544 adjust logo grid rows and alignment - [WEB-5185]
  layouts/partials/continuous_integration/ci-pipelines-getting-started.html
Labels: Architecture

#24507 [Network Path] Fix indent
  content/en/network_monitoring/network_path/setup.md
Labels: mergequeue-status: removed

#24454 [DOCS-6978] SDS guide on how to redact emails except from a specific domain in logs
  config/_default/menus/main.en.yaml
  content/en/sensitive_data_scanner/guide/_index.md
  content/en/sensitive_data_scanner/guide/redact_all_emails_except_from_specific_domain_logs.md
  static/images/sensitive_data_scanner/guides/domain_attribute.png
  static/images/sensitive_data_scanner/guides/log_explorer_domain.png
  static/images/sensitive_data_scanner/guides/scanning_group_filter_domain.png
Labels: Architecture, WORK IN PROGRESS, Images, Guide

#24550 Update use-community-integrations.md
  content/en/agent/guide/use-community-integrations.md
Labels: Guide

#24486 Add documentation on servicemapping
  content/en/code_analysis/faq/_index.md
Labels: editorial review, FAQ

#24558 Add note about the newer plugin name variable
  content/en/logs/guide/aws-eks-fargate-logs-with-kinesis-data-firehose.md
Labels: Guide

#24563 Ignoring apm resource - user_agent - C++
  content/en/tracing/guide/ignoring_apm_resources.md
Labels: Guide

#24571 Small edit to title of SDS guide
  content/en/sensitive_data_scanner/guide/redact_all_emails_except_from_specific_domain_logs.md
Labels: Guide

#24219 [DOCS-8376 / 8426] OP Add components and set up pipelines docs
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/_index.md
  content/en/observability_pipelines/destinations/_index.md
  content/en/observability_pipelines/log_volume_control/_index.md
  content/en/observability_pipelines/processors/_index.md
  content/en/observability_pipelines/set_up_pipelines/_index.md
  content/en/observability_pipelines/sources/_index.md
  content/en/observability_pipelines/sources/datadog_agent.md
  content/en/observability_pipelines/sources/fluent.md
  content/en/observability_pipelines/sources/http_client.md
  content/en/observability_pipelines/sources/splunk_hec.md
  content/en/observability_pipelines/sources/splunk_tcp.md
  content/en/observability_pipelines/sources/sumo_logic.md
  content/en/observability_pipelines/sources/syslog.md
  layouts/partials/nav/left-nav.html
Labels: Architecture, WORK IN PROGRESS

#24141 Add Graph Insights and Watchdog Explains docs
  config/_default/menus/main.en.yaml
  content/en/dashboards/correlations/_index.md
  content/en/dashboards/graph_insights/_index.md
  content/en/dashboards/graph_insights/correlations.md
  content/en/dashboards/graph_insights/watchdog_explains.md
  content/en/watchdog/insights.md
  static/images/dashboards/graph_insights/watchdog_explains/graph_anomaly_detection.png
  static/images/dashboards/graph_insights/watchdog_explains/graph_filter_tag.png
Labels: Architecture, Images

#24581 revert #24466 - fix local image builds
  config/_default/config.yaml
Labels: Architecture

#24561 (DOCS-8558) App Builder - Add data transformer example app
  content/en/service_management/app_builder/queries.md
  static/images/service_management/app_builder/data-transformer.mp4
Labels: Images

#24580 stop autogenerating jsconfig
  .gitignore
  config/_default/config.yaml
Labels: Architecture

#24570 Fixes for anchor scrolling and ToC
  assets/scripts/components/async-loading.js
  assets/scripts/components/codetabs.js
  assets/scripts/datadog-docs.js
  layouts/shortcodes/observability_pipelines/processors/remap.md
Labels: Architecture

#24557 Jessica yang/resource catalog update
  content/en/infrastructure/resource_catalog/_index.md
  static/images/infrastructure/resource_catalog/resource-catalog-doc-img-1.png
  static/images/infrastructure/resource_catalog/resource-catalog-doc-img-2.png
  static/images/infrastructure/resource_catalog/resource-catalog-doc-img-3.png
  static/images/infrastructure/resource_catalog/resource-catalog-doc-img-4.png
  static/images/infrastructure/resource_catalog/resource-catalog-doc-img-5.png
  static/images/infrastructure/resource_catalog/resource-catalog-doc-img-6.png
Labels: Images

#24592 DOCS-8687 Test Visibility Explorer + Search and Manage Update
  content/en/tests/explorer/_index.md
  content/en/tests/explorer/export.md
  content/en/tests/explorer/saved_views.md
  content/en/tests/search/_index.md
  static/images/tests/default_branches.png
  static/images/tests/explorer/export.png
  static/images/tests/explorer/saved_view.png
  static/images/tests/explorer/test_runs.png
  static/images/tests/services.png
Labels: Images

#24599 Bump datadog-lambda-python layer to version 98
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#24591 DOCS-8682 Custom Costs Update
  assets/scripts/config/regions.config.js
  content/en/cloud_cost_management/custom.md
Labels: Architecture

#24607 fixes `/ja` API left sub nav - [WEB-5181]
  layouts/partials/nav/left-nav-api.html
Labels: Architecture

#23496 Reorganize APM Library Config
  content/en/tracing/trace_collection/library_config/cpp.md
  content/en/tracing/trace_collection/library_config/dotnet-core.md
  content/en/tracing/trace_collection/library_config/dotnet-framework.md
  content/en/tracing/trace_collection/library_config/go.md
  content/en/tracing/trace_collection/library_config/java.md
  content/en/tracing/trace_collection/library_config/nodejs.md
  content/en/tracing/trace_collection/library_config/php.md
  content/en/tracing/trace_collection/library_config/python.md
  content/en/tracing/trace_collection/library_config/ruby.md
Labels: editorial review

#24547 DOCS-8538 Quality Gates Screenshot Updates
  content/en/quality_gates/_index.md
  content/en/quality_gates/explorer/_index.md
  content/en/quality_gates/explorer/facets.md
  content/en/quality_gates/explorer/saved_views/_index.md
  content/en/quality_gates/search/_index.md
  content/en/quality_gates/setup/_index.md
  static/images/quality_gates/explorer/default_view_1.png
  static/images/quality_gates/explorer/expand_view_1.png
  static/images/quality_gates/explorer/gates_2.png
  static/images/quality_gates/explorer/rules_1.png
  static/images/quality_gates/rules_list_1.png
  static/images/quality_gates/setup/custom_scope_1.png
  static/images/quality_gates/setup/delete_1.png
  static/images/quality_gates/setup/edit_clone_1.png
  static/images/quality_gates/setup/flaky_test_1.png
  static/images/quality_gates/setup/pipeline_rule_1.png
  static/images/quality_gates/setup/sca_1.png
  static/images/quality_gates/setup/static_analysis_1.png
Labels: Images

#24568 [SVLS] Add descriptions for three new serverless warnings
  content/en/serverless/guide/serverless_warnings.md
Labels: Guide

#24604 [DOCS-8685] Add OP processors and destintations to nav
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/destinations/_index.md
Labels: Architecture

#23726 [tracing] Update APM Trace Context Propagation pages
  config/_default/menus/main.en.yaml
  content/en/opentelemetry/interoperability/_index.md
  content/en/opentelemetry/interoperability/trace_context_propagation.md
  content/en/tracing/trace_collection/custom_instrumentation/cpp/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/dotnet/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/dotnet/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/go/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/go/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/java/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/java/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/nodejs/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/opentracing/dotnet.md
  content/en/tracing/trace_collection/custom_instrumentation/php/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/python/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/ruby/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/ruby/otel.md
  content/en/tracing/trace_collection/library_config/cpp.md
  content/en/tracing/trace_collection/library_config/dotnet-core.md
  content/en/tracing/trace_collection/library_config/dotnet-framework.md
  content/en/tracing/trace_collection/library_config/go.md
  content/en/tracing/trace_collection/library_config/java.md
  content/en/tracing/trace_collection/library_config/nodejs.md
  content/en/tracing/trace_collection/library_config/php.md
  content/en/tracing/trace_collection/library_config/python.md
  content/en/tracing/trace_collection/library_config/ruby.md
  content/en/tracing/trace_collection/trace_context_propagation/_index.md
  content/en/tracing/trace_collection/trace_context_propagation/cpp.md
  content/en/tracing/trace_collection/trace_context_propagation/dotnet.md
  content/en/tracing/trace_collection/trace_context_propagation/go.md
  content/en/tracing/trace_collection/trace_context_propagation/java.md
  content/en/tracing/trace_collection/trace_context_propagation/nodejs.md
  content/en/tracing/trace_collection/trace_context_propagation/php.md
  content/en/tracing/trace_collection/trace_context_propagation/python.md
  content/en/tracing/trace_collection/trace_context_propagation/ruby.md
  content/en/tracing/trace_collection/trace_context_propagation/ruby_v1.md
Labels: Architecture, editorial review

#24623 docs(aws): Adding GetRuleGroup for wafv2
  layouts/shortcodes/aws-resource-collection.md
Labels: Architecture

#24624 Explain how team mapping work
  content/en/code_analysis/faq/_index.md
Labels: FAQ

#24337 DOCS-8441 LLM Observability Documentation Navigation Update
  config/_default/menus/main.en.yaml
  content/en/llm_observability/_index.md
  content/en/llm_observability/core_concepts.md
  content/en/llm_observability/guide/_index.md
  content/en/llm_observability/quickstart.md
  content/en/llm_observability/setup/_index.md
  content/en/llm_observability/setup/api.md
  content/en/llm_observability/setup/auto_instrumentation.md
  content/en/llm_observability/setup/sdk/_index.md
  content/en/llm_observability/span_kinds.md
  content/en/llm_observability/submit_evaluations.md
  content/en/llm_observability/terms/_index.md
  content/en/llm_observability/trace_an_llm_application.md
  static/images/llm_observability/evaluations/evaluations.png
  static/images/llm_observability/evaluations/failure_to_answer.png
  static/images/llm_observability/evaluations/language_mismatch.png
  static/images/llm_observability/evaluations/prompt_injection.png
  static/images/llm_observability/evaluations/sensitive_data_scanning.png
  static/images/llm_observability/evaluations/sentiment.png
  static/images/llm_observability/evaluations/topic_relevancy.png
  static/images/llm_observability/evaluations/toxicity.png
Labels: Architecture, editorial review, Images, Guide

#24538 DOCS-7960 - secrets for dbm
  content/en/database_monitoring/setup_mongodb/mongodbatlas.md
  content/en/database_monitoring/setup_mongodb/selfhosted.md
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/azure.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
  content/en/database_monitoring/setup_oracle/autonomous_database.md
  content/en/database_monitoring/setup_oracle/exadata.md
  content/en/database_monitoring/setup_oracle/rac.md
  content/en/database_monitoring/setup_oracle/rds.md
  content/en/database_monitoring/setup_oracle/selfhosted.md
  content/en/database_monitoring/setup_postgres/alloydb.md
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/azure.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/rds.md
  content/en/database_monitoring/setup_postgres/selfhosted.md
  content/en/database_monitoring/setup_sql_server/azure.md
  content/en/database_monitoring/setup_sql_server/gcsql.md
  content/en/database_monitoring/setup_sql_server/rds.md
  content/en/database_monitoring/setup_sql_server/selfhosted.md
  layouts/shortcodes/dbm-mongodb-agent-config-replica-set.md
  layouts/shortcodes/dbm-mongodb-agent-config-sharded-cluster.md
  layouts/shortcodes/dbm-mongodb-agent-config-standalone.md
  layouts/shortcodes/dbm-mongodb-agent-setup-kubernetes.md
  layouts/shortcodes/dbm-mysql-agent-config-examples.md
  layouts/shortcodes/dbm-oracle-selfhosted-config.md
  layouts/shortcodes/dbm-postgres-agent-config-examples.md
  layouts/shortcodes/dbm-secret.md
  layouts/shortcodes/dbm-sqlserver-agent-config-examples.md
  layouts/shortcodes/dbm-sqlserver-agent-setup-kubernetes.md
  layouts/shortcodes/dbm-sqlserver-agent-setup-linux.md
  layouts/shortcodes/dbm-sqlserver-agent-setup-windows.md
Labels: Architecture, editorial review

#24627 Fix mongodb beta documentation
  content/en/database_monitoring/setup_postgres/rds.md
  layouts/shortcodes/dbm-mongodb-agent-setup-docker.md
  layouts/shortcodes/dbm-mongodb-agent-setup-kubernetes.md
Labels: Architecture

#24596 Update Python support for Code Security in Python Compatibility Requi…
  content/en/security/application_security/code_security/setup/compatibility/python.md
Labels: editorial review

#24595 Update Python support for Code Security in Library Compatibility page
  content/en/security/application_security/code_security/setup/compatibility/_index.md
Labels: editorial review

#24642 update glob capture for metric specs
  local/bin/py/build/actions/integrations.py
Labels: Architecture

#24575 updating Automatic user activity event tracking modes
  assets/jsconfig.json
  content/en/security/application_security/threats/add-user-info.md
  content/en/security/application_security/threats/setup/compatibility/_index.md
Labels: Architecture

#24650 (maint) Fix codeowners for local
  .github/CODEOWNERS
Labels: Github

#24636 DOCS-8708 LLM Observability Screenshots Update
  content/en/llm_observability/_index.md
  content/en/llm_observability/quickstart.md
  content/en/llm_observability/setup/_index.md
  static/images/llm_observability/dashboard_1.png
  static/images/llm_observability/errors.png
  static/images/llm_observability/prompt_injection.png
  static/images/llm_observability/quickstart_trace.png
  static/images/llm_observability/traces.png
Labels: Images

#24656 Removing `--env` and `--service` for code analysis products
  content/en/code_analysis/faq/_index.md
  content/en/code_analysis/software_composition_analysis/generic_ci_providers.md
  content/en/code_analysis/static_analysis/generic_ci_providers.md
  content/en/code_analysis/static_analysis/setup.md
Labels: FAQ

#24654 DOCS-8711 Static Analysis Update
  layouts/partials/code_analysis/languages-getting-started.html
Labels: Architecture

#24660 Update svl-init-dotnet/nodejs.md
  layouts/shortcodes/svl-init-dotnet.md
  layouts/shortcodes/svl-init-nodejs.md
Labels: Architecture

#24655 [dbm] bump up dbm for mongodb beta agent version
  layouts/shortcodes/dbm-mongodb-agent-beta-install-docker.md
  layouts/shortcodes/dbm-mongodb-agent-beta-install-kubernetes.md
  layouts/shortcodes/dbm-mongodb-agent-beta-install-linux.md
  layouts/shortcodes/dbm-mongodb-agent-setup-docker.md
  layouts/shortcodes/dbm-mongodb-agent-setup-kubernetes.md
Labels: Architecture

#24608 New guide for custom metric governance
  content/en/account_management/billing/custom_metrics.md
  content/en/metrics/custom_metrics/_index.md
  content/en/metrics/guide/_index.md
  content/en/metrics/guide/custom_metrics_governance.md
  static/images/metrics/guide/custom_metrics_governance/estimated_usage_metric_monitor.png
  static/images/metrics/guide/custom_metrics_governance/manage_tags_fm_metrics_summary.png
  static/images/metrics/guide/custom_metrics_governance/metrics_rbac_audit_trail_query.png
  static/images/metrics/guide/custom_metrics_governance/team_attribution_plan_usage_table.png
  static/images/metrics/guide/volume_management_page.png
Labels: editorial review, Images, Guide

#24672 24671 but not on a fork
  content/en/serverless/guide/agent_configuration.md
Labels: Guide

#24673 Update how-to-set-up-only-logs.md
  content/en/logs/guide/how-to-set-up-only-logs.md
Labels: Guide

#24684 (DOCS-8578) Add metric setup diagram
  static/images/integrations/oracle_cloud_infrastructure/oci_metric_architecture.png
Labels: Images

#24674 SaaS Cost Integrations Edit
  config/_default/menus/main.en.yaml
  content/en/cloud_cost_management/saas_costs.md
  layouts/partials/cloud_cost/cost-integrations.html
  static/images/integrations_logos/elastic-cloud_small.svg
Labels: Architecture, Images

#24687 Render metrics table for yaml
  local/bin/py/build/actions/integrations.py
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#24676 [dbm] dbm for mongo beta new features
  content/en/database_monitoring/setup_mongodb/mongodbatlas.md
  content/en/database_monitoring/setup_mongodb/selfhosted.md
  layouts/shortcodes/dbm-mongodb-before-you-begin.md
  layouts/shortcodes/dbm-mongodb-beta-new-features
Labels: Architecture, editorial review

#24682 DOCS-8704 Add How Code Analysis Works Documentation
  config/_default/menus/main.en.yaml
  content/en/code_analysis/how_it_works/_index.md
Labels: Architecture

#24694 (DOCS-8578) Add API key screenshot
  static/images/integrations/oracle_cloud_infrastructure/add_api_key.png
Labels: Images

#24698 Separate SaaS Cost Integrations Partial Into Two Rows
  layouts/partials/cloud_cost/cost-integrations.html
Labels: Architecture

#24686 Refresh APM Troubleshooting Guide
  config/_default/menus/main.en.yaml
  content/en/tracing/_index.md
  content/en/tracing/troubleshooting/_index.md
  content/en/tracing/troubleshooting/faq_apm.md
Labels: Architecture

#24619 [CIVIS] update retentions for Software Delivery products
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

#24701 Updated topic with MS Teams and ServiceNow
  layouts/shortcodes/notifications-integrations.md
Labels: Architecture

#24702 Add Code Analysis Frequently Asked Questions
  config/_default/menus/main.en.yaml
  content/en/code_analysis/faq/_index.md
Labels: Architecture, FAQ

#24722 One-click remediation documentation
  content/en/code_analysis/github_pull_requests.md
  content/en/code_analysis/static_analysis/_index.md
  content/en/code_analysis/static_analysis/setup.md
  static/images/ci/sast_one_click_light.png
Labels: Images

#24729 Bump datadog-lambda-extension layer to version 64
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#24618 Taka2noda patch 3
  content/en/monitors/guide/reduce-alert-flapping.md
Labels: Guide

#24744 small cleanup on notif migration doc following feedback
  content/en/security/upcoming_changes_notification_rules.md
Labels: editorial review

#24731 [DOCS-8745] updating Ping information on NDM page
  content/en/network_monitoring/devices/snmp_metrics.md
  static/images/network_device_monitoring/snmp/ping_state_status.png
Labels: Images

#24760 (DOCS-8578) Add OCI diagram
  static/images/integrations/oracle_cloud_infrastructure/oci_auth_diagram.png
Labels: Images

#24438 Step Functions updates
  content/en/serverless/step_functions/_index.md
  content/en/serverless/step_functions/installation.md
  static/images/serverless/step_functions/how_it_works.png
Labels: WORK IN PROGRESS, Images

#24730 DOCS-8729 Software Composition Analysis Update
  content/en/code_analysis/software_composition_analysis/_index.md
  layouts/partials/code_analysis/languages-getting-started.html
  layouts/partials/code_analysis/sca-getting-started.html
Labels: Architecture

#24589 [DOCS-8495] feature updates to Synthetics Mobile App testing
  config/_default/menus/main.en.yaml
  content/en/synthetics/mobile_app_testing/_index.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/results.md
  content/en/synthetics/mobile_app_testing/mobile_app_tests/steps.md
  static/images/mobile_app_testing/andriod_crash_report.png
  static/images/mobile_app_testing/android_search.png
  static/images/mobile_app_testing/ios_crash_report.png
  static/images/mobile_app_testing/ios_search.png
  static/images/mobile_app_testing/new_test_2.png
  static/images/mobile_app_testing/test_steps/special_actions_2.png
  static/images/mobile_app_testing/test_steps/toggle_wifi.png
  static/images/mobile_app_testing/xml_inspector.png
Labels: Architecture, editorial review, Images

#24776 Update upcoming_changes_notification_rules.md
  content/en/security/upcoming_changes_notification_rules.md
Labels: editorial review

#24782 small note added azure-logging-guide.md
  content/en/logs/guide/azure-logging-guide.md
Labels: Guide

#24711 Update monitor_api_options.md
  content/en/monitors/guide/monitor_api_options.md
Labels: Guide

#24725 [CCA-28] update GPU documentation for public facing site
  content/en/cloud_cost_management/container_cost_allocation.md
Labels: cloud_cost_management

#24574 [DOCS-8539] Add note to OP linux instructions
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/install_worker/linux_apt.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/install_worker/linux_rpm.md
  layouts/shortcodes/observability_pipelines/install_worker/linux_apt.md
  layouts/shortcodes/observability_pipelines/install_worker/linux_rpm.md
Labels: Architecture

#24395 DOCS-8529 - On-Call
  config/_default/menus/main.en.yaml
  content/en/service_management/on-call/_index.md
  content/en/service_management/on-call/escalation_policies.md
  content/en/service_management/on-call/pages.md
  content/en/service_management/on-call/profile_settings.md
  content/en/service_management/on-call/schedules.md
  content/en/service_management/on-call/teams.md
  static/images/service_management/oncall/escalation_policy.png
  static/images/service_management/oncall/escalation_policy_blank.png
  static/images/service_management/oncall/escalation_policy_step.png
  static/images/service_management/oncall/escalation_policy_step1.png
  static/images/service_management/oncall/manual_page.png
  static/images/service_management/oncall/notification_page.png
  static/images/service_management/oncall/oncall_overview.png
  static/images/service_management/oncall/schedule.png
  static/images/service_management/oncall/schedule_blank.png
  static/images/service_management/oncall/schedule_override.png
  static/images/service_management/oncall/schedule_override_request.png
  static/images/service_management/oncall/settings_contact.png
  static/images/service_management/oncall/settings_preferences.png
  static/images/service_management/oncall/settings_shift_reminder.png
Labels: Architecture, Images

#24781 Update what-best-practices-are-recommended-for-naming-metrics-and-tag…
  content/en/developers/guide/what-best-practices-are-recommended-for-naming-metrics-and-tags.md
Labels: Guide

#24799 Docs8578/replace diagram
  static/images/integrations/oracle_cloud_infrastructure/OCI_metrics_integration_diagram.png
  static/images/integrations/oracle_cloud_infrastructure/oci_metric_architecture.png
Labels: Images

#24794 Convert questions into statements in RUM Troubleshooting
  content/en/real_user_monitoring/browser/frustration_signals.md
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
Labels: Guide

#24367 [CLOUDCRAFT-354] Version History
  content/en/cloudcraft/getting-started/_index.md
  content/en/cloudcraft/getting-started/version-history.md
  static/images/cloudcraft/getting-started/version-history/cloudcraft-diagram-aws-infrastructure-version-history.png
  static/images/cloudcraft/getting-started/version-history/cloudcraft-version-history-user-timestamps.png
  static/images/cloudcraft/getting-started/version-history/version-history-interface-cloudcraft.png
Labels: editorial review, Images

#24458 [DOCS-8434] explaining tagging on network analytics
  content/en/network_monitoring/performance/network_analytics.md
  static/images/network_performance_monitoring/network_analytics/context_npm3.png
  static/images/network_performance_monitoring/network_analytics/main_page_npm_4.png
  static/images/network_performance_monitoring/network_analytics/network_analytics_with_client_and_server_tag.png
  static/images/network_performance_monitoring/network_analytics/network_diagram_with_tags.png
Labels: Images

#24771 (Feat) Allow inline images
  content/en/tracing/guide/_index.md
  layouts/shortcodes/img.html
Labels: Architecture, Guide

#24748 Pci stages
  content/en/data_security/pci_compliance.md
  layouts/shortcodes/pci-apm.md
  layouts/shortcodes/pci-logs.md
Labels: Architecture

#24727 [SVLS-5280][incident-29739] Update docs to simplify serverless-init .NET tracer installation
  layouts/shortcodes/svl-init-dotnet.md
Labels: Architecture

#24806 Update the OpenTracing trace id to OTel specific ones
  content/en/logs/guide/ease-troubleshooting-with-cross-product-correlation.md
  content/es/logs/guide/ease-troubleshooting-with-cross-product-correlation.md
  content/fr/logs/guide/ease-troubleshooting-with-cross-product-correlation.md
  content/ja/logs/guide/ease-troubleshooting-with-cross-product-correlation.md
  content/ko/logs/guide/ease-troubleshooting-with-cross-product-correlation.md
Labels: Guide

#24761 New guide to reduce data transfer fees
  content/en/logs/guide/reduce_data_transfer_fees.md
  content/en/logs/log_collection/_index.md
  content/en/logs/log_configuration/flex_logs.md
Labels: Guide

#24815 Update upcoming_changes_notification_rules.md
  content/en/security/upcoming_changes_notification_rules.md
Labels: editorial review

#24772 DOCS-8556 Add Configuration Documentation
  config/_default/menus/main.en.yaml
  content/en/llm_observability/configuration/_index.md
  static/images/llm_observability/configuration.png
Labels: Architecture, Images

#24793 Update IP Allowlist docs: wrong section in Org Settings
  content/en/account_management/org_settings/ip_allowlist.md
Labels: aaa-access

#24818 [aws-ints] Add missing permissions to docs
  layouts/shortcodes/aws-permissions.md
Labels: Architecture

#24825 Add Agent version to old note
  content/en/agent/guide/windows-agent-ddagent-user.md
Labels: Guide

#24831 Add workflow permissions
  .github/workflows/check_cache_values.yml
  .github/workflows/code-freeze.yml
  .github/workflows/datadog-static-analysis.yml
  .github/workflows/preview_link.yml
  .github/workflows/synthetics.yml
  .github/workflows/vale_linter.yml
  .github/workflows/validate_filenames.yml
Labels: Github

#24837 AWSX-1003 Add to the default set of permissions when integrating an AWS account for CCM
  layouts/shortcodes/aws-resource-collection.md
Labels: Architecture

#24769 DOCS-8762 Remove Code Analysis Frequently Asked Questions Doc Page
  content/en/code_analysis/_index.md
  content/en/code_analysis/faq/_index.md
  content/en/getting_started/code_analysis/_index.md
Labels: editorial review, FAQ

#24884 Update Obs Pipelines marketecture image
  content/en/observability_pipelines/_index.md
  static/images/observability_pipelines/op_marketecture_08232024.png
Labels: Images

#24468 Add XPQ team as codeowners to DDSQL references
  .github/CODEOWNERS
Labels: Github

#23639 Add string functions descriptions
  content/en/monitors/guide/template-variable-evaluation.md
Labels: editorial review, Guide

#24895 Fix anchor links in Best Practices for Logs Japanese docs
  content/ja/logs/guide/best-practices-for-log-management.md
Labels: logs

#24817 add filtering on Data Retention pg
  assets/styles/pages/_standard-attributes.scss
  content/en/data_security/data_retention_periods.md
  layouts/data_retention_periods/single.html
  layouts/standard-attributes/list.html
Labels: Architecture

#24909 add very important space to CSM Windows VM instructions
  layouts/shortcodes/csm-windows-setup.md
Labels: Architecture

#24476 [DOCS-8498] Update docs for filter syntax and sample processor
  layouts/shortcodes/observability_pipelines/processors/filter_syntax.md
  layouts/shortcodes/observability_pipelines/processors/sample.md
Labels: Architecture

#24902 Add telemetry ingestion diagram
  content/en/serverless/step_functions/installation.md
  static/images/serverless/step_functions/telemetry_ingestion.png
Labels: Images

#24763 (DOCS-8757) Update screenshots on Build Workflows page
  content/en/service_management/workflows/build.md
  static/images/service_management/workflows/context-variables-tab-source-object-variables2.png
  static/images/service_management/workflows/context-variables5.png
  static/images/service_management/workflows/error-path-icon.png
  static/images/service_management/workflows/input-parameter3.png
  static/images/service_management/workflows/step-outputs2.png
  static/images/service_management/workflows/wait-until-condition2.png
Labels: Images

#24907 Update anchor link
  content/en/metrics/guide/custom_metrics_governance.md
Labels: Guide

#24804 crosslink to Node.js complex framework usage
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/nodejs.md
  content/en/tracing/trace_collection/compatibility/nodejs.md
Labels: editorial review

#24919 (DOCS-8578) Replace OCI auth diagram
  static/images/integrations/oracle_cloud_infrastructure/OCI_auth_workflow_diagram.png
  static/images/integrations/oracle_cloud_infrastructure/oci_auth_diagram.png
Labels: Images

#24918 OpenTelemetry OTel Synonym
  local/bin/js/algolia-index-sync.js
Labels: Architecture

#24892 Move the DDSQL docs out to it's own section
  .github/CODEOWNERS
  config/_default/menus/main.en.yaml
  content/en/dashboards/ddsql_editor/reference/_index.md
  content/en/dashboards/guide/_index.md
  content/en/ddsql_editor/_index.md
  content/en/ddsql_editor/getting_started.md
  content/en/ddsql_editor/guide/_index.md
  content/en/ddsql_editor/guide/ddsql_use_cases.md
  content/en/ddsql_editor/reference/_index.md
  content/en/ddsql_editor/reference/aggregation_functions.md
  content/en/ddsql_editor/reference/data_types.md
  content/en/ddsql_editor/reference/expressions_and_operators.md
  content/en/ddsql_editor/reference/scalar_functions.md
  content/en/ddsql_editor/reference/statements.md
  content/en/ddsql_editor/reference/tags.md
  content/en/ddsql_editor/reference/window_functions.md
Labels: Architecture, editorial review, Github, Guide

#24904 [SDTEST-592] Add documentation for GitLab+CircleCI autoinstrumentation
  content/en/tests/setup/dotnet.md
  content/en/tests/setup/java.md
  content/en/tests/setup/javascript.md
  content/en/tests/setup/python.md
  layouts/shortcodes/ci-autoinstrumentation.md
Labels: Architecture

#24775 Resource-base sampling: Update minimum version for C++
  content/en/tracing/guide/resource_based_sampling.md
Labels: Guide

#24883 [DOCS-8771] Add Cloud SIEM Security Operational Metrics
  config/_default/menus/main.en.yaml
  content/en/security/cloud_siem/security_operational_metrics.md
  static/images/security/security_monitoring/security_operational_metrics.png
Labels: Architecture, editorial review, Images

#24780 [DOCS-8667] Add Obs Pipelines troubleshooting doc
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/legacy/troubleshooting.md
  content/en/observability_pipelines/set_up_pipelines/_index.md
  content/en/observability_pipelines/troubleshooting.md
Labels: Architecture, editorial review

#24917 Update params.en.yaml
  config/_default/params.en.yaml
Labels: Architecture
