Repository DataDog/documentation, pull requests merged in 2024-01, with the labels that each got.

#21154 Remove circular link and clarify
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
Labels: Guide

#21203 Update further reading link
  content/en/integrations/guide/reference-tables.md
Labels: Guide

#20611 [CIVIS-7933] Add codeowners to Junit XML documentation
  content/en/tests/_index.md
  content/en/tests/setup/junit_xml.md
Labels: editorial review

#21205 Update java.md
  content/en/tracing/trace_collection/custom_instrumentation/otel_instrumentation/java.md
Labels: editorial review

#21166 [DOCS-6984] Update ingestion_mechanisms.md
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
Labels: editorial review

#21206 Update number of OOTB rules
  content/en/security/misconfigurations/_index.md
  content/en/security/misconfigurations/frameworks_and_benchmarks.md
  content/en/security/misconfigurations/supported_frameworks.md
Labels: security

#21214 docs only to review autogenerated api content
  .github/CODEOWNERS
Labels: Github

#21176 Update ODBC documentation in dbm-sqlserver-agent-config-examples.md
  layouts/shortcodes/dbm-sqlserver-agent-config-examples.md
Labels: Architecture, editorial review

#21223 Updating the Metrics section of the Docs
  content/en/metrics/_index.md
Labels: editorial review

#21224 Fix DOM error causing tabs to break
  content/en/opentelemetry/guide/ingestion_sampling_with_opentelemetry.md
  content/en/opentelemetry/otel_collector_datadog_exporter.md
  content/en/opentelemetry/otel_logs.md
Labels: Guide

#21227 Updating metrics/guide
  content/en/metrics/guide/_index.md
Labels: editorial review, Guide

#20994 [CCI-1818] Add documentation for CCM EBS shared cost allocation
  content/en/cloud_cost_management/container_cost_allocation.md
Labels: Do Not Merge

#19529 Create first draft of suspect commit documentation
  config/_default/menus/menus.en.yaml
  content/en/logs/error_tracking/suspect_commits.md
  static/images/logs/error_tracking/suspect_commit.png
  static/images/logs/error_tracking/suspect_commit_in_context.png
Labels: Architecture, Do Not Merge, Images, under_review

#21199 Trace Queries unified explorer: docs change
  config/_default/menus/menus.en.yaml
  content/en/tracing/trace_explorer/trace_queries.md
  content/en/tracing/trace_pipeline/trace_retention.md
  content/en/tracing/trace_queries/one_percent_flat_sampling.md
  static/images/tracing/trace_queries/traces_matching.png
  static/images/tracing/trace_queries/where_statement.png
Labels: Architecture, Images

#21221 read new `language_alias` param - [WEB-4412]
  content/en/static_analysis/_index.md
  content/en/static_analysis/rules/_index.md
  general.preview.synthetics.json
  layouts/static-analysis/list.html
Labels: Architecture

#21233 [DOCS-6979] updates to CSM troubleshooting vulnerabilities and moving page
  config/_default/menus/menus.en.yaml
  content/en/infrastructure/containers/container_images.md
  content/en/security/cloud_security_management/setup/csm_enterprise.md
  content/en/security/cloud_security_management/setup/csm_pro.md
  content/en/security/cloud_security_management/troubleshooting/_index.md
  content/en/security/cloud_security_management/troubleshooting/vulnerabilities.md
  layouts/shortcodes/csm-prereqs-enterprise.md
  layouts/shortcodes/csm-prereqs-pro.md
Labels: Architecture, security

#21244 Fix data retention documentation around incident management
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

#21243 [ASM API Security] Updating in-app link that was missing
  content/en/security/application_security/api-inventory/_index.md
Labels: security

#21109 JS Error Fixes
  assets/scripts/components/algolia/customPagination.js
  assets/scripts/components/global-modals.js
  assets/scripts/components/integrations.js
  assets/scripts/components/table-of-contents.js
  assets/scripts/datadog-docs.js
Labels: Architecture

#21247 CSM Troubleshooting rework landing page
  config/_default/menus/menus.en.yaml
  content/en/security/cloud_security_management/troubleshooting/_index.md
  content/en/security/cloud_security_management/troubleshooting/threats.md
Labels: Architecture, security

#21255 Add screenshot of MFA status for MFA public docs
  static/images/account_management/multi-factor-authentication-status.png
Labels: Images

#20981 Add GitHub PRs to the Static Analysis integrations
  config/_default/menus/menus.en.yaml
  content/en/static_analysis/_index.md
  content/en/static_analysis/github_pull_requests.md
  static/images/ci/static-analysis-existing-github-app.png
  static/images/ci/static-analysis-github-comments.png
  static/images/ci/static-analysis-install-github-app.png
  static/images/ci/static-analysis-pr-comment-example.png
  static/images/ci/static-analysis-pr-read-write-permissions.png
  static/images/ci/static-analysis-pr-review-comment.png
Labels: Architecture, editorial review, Images

#21001 [DOCS-6373] ASM Signals Explorer doc
  config/_default/menus/menus.en.yaml
  content/en/security/application_security/threats/_index.md
  content/en/security/application_security/threats/security_signals.md
  static/images/security/application_security/threats/security_signals/appsec-threat-signals.png
Labels: Architecture, WORK IN PROGRESS, Do Not Merge, editorial review, Images, security

#20854 [DOCS-6802] Add images and additional content to Datadog Archives guide
  content/en/observability_pipelines/guide/route_logs_in_datadog_rehydratable_format_to_Amazon_S3.md
  static/images/observability_pipelines/guide/datadog_archives/op-cloud-storage.png
  static/images/observability_pipelines/guide/datadog_archives/op-datadog-archives.png
Labels: Images, Guide

#21258 Update integrations.md
  content/en/tracing/service_catalog/integrations.md
  static/images/tracing/service_catalog/pagerduty-token.png
Labels: Images

#21260 Add RUM to Bits AI docs
  content/en/bits_ai/_index.md
  content/en/bits_ai/query_examples.md
  static/images/bits_ai/rum-ios-crashes-query.png
Labels: Images

#21261 Remove beta label from RUM electron page
  content/en/real_user_monitoring/guide/monitor-electron-applications-using-browser-sdk.md
Labels: Guide

#21262 left nav auditing: getting started
  config/_default/menus/menus.en.yaml
Labels: Architecture

#21110 (DOCS-6421) Update Basic Agent Usage docs
  config/_default/menus/menus.en.yaml
  content/en/agent/_index.md
  content/en/agent/architecture.md
  content/en/agent/basic_agent_usage/_index.md
  content/en/agent/basic_agent_usage/aix.md
  content/en/agent/basic_agent_usage/amazonlinux.md
  content/en/agent/basic_agent_usage/centos.md
  content/en/agent/basic_agent_usage/deb.md
  content/en/agent/basic_agent_usage/fedora.md
  content/en/agent/basic_agent_usage/osx.md
  content/en/agent/basic_agent_usage/redhat.md
  content/en/agent/basic_agent_usage/suse.md
  content/en/agent/basic_agent_usage/ubuntu.md
  content/en/agent/basic_agent_usage/windows.md
  content/en/agent/faq/ec2-use-win-prefix-detection.md
  content/en/agent/guide/how-do-i-uninstall-the-agent.md
  content/en/data_security/guide/tls_deprecation_1_2.md
  content/en/getting_started/tracing/_index.md
  content/es/agent/basic_agent_usage/ansible.md
  content/ko/agent/basic_agent_usage/ansible.md
  data/partials/platforms.fr.yaml
  data/partials/platforms.ja.yaml
  data/partials/platforms.yaml
  i18n/en.json
  i18n/fr.json
  i18n/ja.json
  i18n/ko.json
  layouts/partials/platforms/platforms.html
Labels: Architecture, editorial review, Guide, FAQ

#21272 Remove beta note from Custom Rules article
  content/en/security/cloud_security_management/guide/writing_rego_rules.md
Labels: security

#21271 ja-math overflow-x scroll
  assets/styles/jqmath-vanilla/_jqmath-vanilla-overrides.scss
Labels: Architecture

#21226 Update RUM Next.js guide to recommend CDN method for Next.js app router
  content/en/real_user_monitoring/guide/monitor-your-nextjs-app-with-rum.md
Labels: Guide

#21270 Reorder metrics left nav
  config/_default/menus/menus.en.yaml
Labels: Architecture

#21256 Reorder links for Audit Trail Events doc
  content/en/account_management/audit_trail/events.md
  layouts/shortcodes/audit-trail-security-platform.md
Labels: Architecture

#21279 Remove box shadow on baseof - [WEB-4438]
  layouts/_default/baseof.html
  layouts/_default/section.html
  layouts/multi-code-lang/single.html
Labels: Architecture

#21283 [aws-ints] Add OAM permissions for cross-account streams
  content/en/getting_started/integrations/aws.md
  content/en/integrations/guide/aws-cloudwatch-metric-streams-with-kinesis-data-firehose.md
  content/es/getting_started/integrations/aws.md
  content/fr/getting_started/integrations/aws.md
  content/ja/getting_started/integrations/aws.md
  content/ko/getting_started/integrations/aws.md
Labels: Guide

#21030 Added example permission policy
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-kinesis-firehose-destination.md
Labels: under_review

#21200 Create documentation for CI providers deployments
  config/_default/menus/menus.en.yaml
  content/en/continuous_delivery/deployments/_index.md
  content/en/continuous_delivery/deployments/ciproviders.md
Labels: Architecture, editorial review

#21299 Intelligent Test Runner How It Works Update
  content/en/intelligent_test_runner/how_it_works.md
  static/images/continuous_integration/itr_test_selection_diagram.png
Labels: Images

#21235 Docs6968/add aks extension
  content/en/integrations/guide/azure-manual-setup.md
  content/en/integrations/guide/azure-native-manual-setup.md
  content/en/integrations/guide/azure-portal.md
Labels: Guide

#21246 Bentley/k9 threat intel
  config/_default/menus/menus.en.yaml
  content/en/security/threat_intel.md
Labels: Architecture, WORK IN PROGRESS, editorial review

#21304 Use correct Agent command in Docker instructions
  content/en/agent/guide/use-community-integrations.md
Labels: Guide

#21308 [DOCS-7041][DOCS-7043] Build workflow updates
  content/en/service_management/workflows/build.md
  content/ja/service_management/workflows/build.md
  static/images/service_management/workflows/context-variables3.png
  static/images/service_management/workflows/context-variables4.png
  static/images/service_management/workflows/input-parameter1.png
  static/images/service_management/workflows/input-parameter2.png
  static/images/service_management/workflows/step-outputs.png
  static/images/service_management/workflows/step-outputs1.png
  static/images/service_management/workflows/use-context-variable1.png
Labels: Images

#21167 [PROCAPPS-531] Update Documentation With Best Practices
  content/en/monitors/types/process.md
  content/ja/monitors/types/process.md
Labels: mergequeue-status: removed

#21314 fixing name in left nav
  config/_default/menus/menus.en.yaml
  content/en/security/threat_intelligence.md
Labels: Architecture

#21002 [DOCS-6867] Restructure OTel Collector Datadog Exporter docs
  config/_default/menus/menus.en.yaml
  content/en/opentelemetry/collector_exporter/_index.md
  content/en/opentelemetry/collector_exporter/collector_batch_memory.md
  content/en/opentelemetry/collector_exporter/collector_health_metrics.md
  content/en/opentelemetry/collector_exporter/docker_metrics.md
  content/en/opentelemetry/collector_exporter/host_metrics.md
  content/en/opentelemetry/collector_exporter/hostname_tagging.md
  content/en/opentelemetry/collector_exporter/log_collection.md
  content/en/opentelemetry/collector_exporter/otlp_receiver.md
  content/en/opentelemetry/collector_exporter/trace_metrics.md
  static/images/opentelemetry/collector_exporter/collector_health_metrics.png
  static/images/opentelemetry/collector_exporter/docker_metrics.png
  static/images/opentelemetry/collector_exporter/host_metrics.png
  static/images/opentelemetry/collector_exporter/hostname_tagging.png
  static/images/opentelemetry/collector_exporter/log_collection.png
  static/images/opentelemetry/collector_exporter/trace_metrics.png
Labels: Architecture, editorial review, Images

#21289 fix left nav deeper children - [WEB-4403]
  assets/scripts/datadog-docs.js
  layouts/partials/nav/left-nav.html
Labels: Architecture

#21315 [PLINT-15] Update VMware Tanzu Cluster Monitoring Docs
  content/en/integrations/guide/cluster-monitoring-vmware-tanzu.md
Labels: Guide

#21278 [DOCS-7026] Remove OP Custom Metrics guide
  content/en/account_management/billing/custom_metrics.md
  content/en/metrics/guide/_index.md
  content/en/metrics/metrics-without-limits.md
  content/en/observability_pipelines/guide/_index.md
  content/en/observability_pipelines/guide/custom-metrics-governance.md
Labels: Guide

#21325 (DOCS-7068) Add dashboard screenshot
  static/images/integrations/pusher/pusher_dashboard.png
Labels: Images

#21322 (DOCS-6762) Add Sendgrid screenshot
  static/images/integrations/sendgrid/sendgrid_dashboard.png
Labels: Images

#21321 [DOCS-7019] adding information on creating a Jira ticket for AVM
  content/en/getting_started/application_security/vulnerability_management.md
  content/en/security/application_security/vulnerability_management/_index.md
  static/images/getting_started/appsec/AVM_Vuln_Severity_Status.png
  static/images/getting_started/appsec/appsec-vuln-remediation_3.png
  static/images/getting_started/appsec/avm_vuln_severity_status_4.png
  static/images/security/application_security/vulnerability_management/avm_vuln_severity_status.png
Labels: Images, security

#21122 Update OpenTelemetry custom instrumentation documentation
  content/en/tracing/trace_collection/custom_instrumentation/otel_instrumentation/java.md
Labels: tracing, opentelemetry

#21337 Add files via upload
  content/en/metrics/summary.md
  static/images/metrics/summary/RelatedAssets.PublicBeta.png
  static/images/metrics/summary/facets4.png
  static/images/metrics/summary/tag_advancedfiltering3.mp4
Labels: Images

#21336 Move Service Catalog Docs Outside APM
  config/_default/menus/menus.en.yaml
  content/en/service_catalog/_index.md
  content/en/service_catalog/adding_metadata.md
  content/en/service_catalog/browsing.md
  content/en/service_catalog/guides/_index.md
  content/en/service_catalog/guides/streamlining-development-lifecycle-with-ci-visibility.md
  content/en/service_catalog/guides/understanding-service-configuration.md
  content/en/service_catalog/guides/upstream-downstream-dependencies.md
  content/en/service_catalog/guides/validating-service-definition.md
  content/en/service_catalog/integrations.md
  content/en/service_catalog/investigating.md
  content/en/service_catalog/scorecards.md
  content/en/service_catalog/service_definition_api.md
  content/en/service_catalog/setup.md
  content/en/service_catalog/troubleshooting.md
Labels: Architecture

#21303 Remove security signals docs
  config/_default/menus/menus.en.yaml
  content/en/dashboards/guide/quick-graphs.md
  content/en/getting_started/cloud_siem/_index.md
  content/en/getting_started/integrations/aws.md
  content/en/security/_index.md
  content/en/security/cloud_siem/_index.md
  content/en/security/cloud_siem/guide/automate-the-remediation-of-detected-threats.md
  content/en/security/cloud_siem/guide/aws-config-guide-for-cloud-siem.md
  content/en/security/cloud_siem/guide/azure-config-guide-for-cloud-siem.md
  content/en/security/cloud_siem/guide/google-cloud-config-guide-for-cloud-siem.md
  content/en/security/explorer.md
  content/en/security/misconfigurations/signals_explorer.md
  content/en/security/security_signal_management/_index.md
  content/en/service_management/case_management/_index.md
  content/en/service_management/workflows/trigger.md
Labels: Architecture, editorial review, security, Guide

#21343 [CIVIS-8322] Update CIApp GitHub PR comment info
  content/en/tests/developer_workflows.md
  static/images/ci/github_comments_light.png
Labels: Images

#21341 DOCS-6945: Update supported sites for CSM
  content/en/security/cloud_security_management/_index.md
  content/en/security/cloud_security_management/guide/public-accessibility-logic.md
  content/en/security/cloud_security_management/guide/resource_evaluation_filters.md
  content/en/security/cloud_security_management/guide/writing_rego_rules.md
  content/en/security/cloud_security_management/setup/_index.md
  content/en/security/cloud_security_management/troubleshooting/vulnerabilities.md
  content/en/security/cloud_security_management/workflows.md
  content/en/security/identity_risks/_index.md
  content/en/security/misconfigurations/compliance_rules.md
  content/en/security/misconfigurations/custom_rules.md
  content/en/security/misconfigurations/findings.md
  content/en/security/misconfigurations/frameworks_and_benchmarks.md
  content/en/security/misconfigurations/signals_explorer.md
  content/en/security/misconfigurations/supported_frameworks.md
  content/en/security/threats/_index.md
  content/en/security/vulnerabilities/_index.md
Labels: security

#21360 each searched word must be a part of rule
  layouts/static-analysis/list.html
Labels: Architecture

#21250 Trace View docs change
  content/en/tracing/trace_explorer/trace_view.md
  static/images/tracing/trace_view/errors_tab.png
  static/images/tracing/trace_view/flamegraph.png
  static/images/tracing/trace_view/flamegraph_legend.mp4
  static/images/tracing/trace_view/info_tab.png
  static/images/tracing/trace_view/infrastructure_tab.png
  static/images/tracing/trace_view/logs_tab.png
  static/images/tracing/trace_view/map.png
  static/images/tracing/trace_view/network_tab.png
  static/images/tracing/trace_view/processes_tab.png
  static/images/tracing/trace_view/security_tab.png
  static/images/tracing/trace_view/span_header.png
  static/images/tracing/trace_view/spanlist.png
  static/images/tracing/trace_view/spanlist_headers.png
  static/images/tracing/trace_view/trace_header.png
  static/images/tracing/trace_view/trace_view.png
  static/images/tracing/trace_view/trace_view_in_trace_explorer.png
  static/images/tracing/trace_view/waterfall.png
Labels: editorial review, Images

#21379 (DOCS-6762) Add SendGrid screenshot
  static/images/integrations/sendgrid/sendgrid_dashboard_overview.png
Labels: Images

#21290 Document the required source_type_id field
  layouts/shortcodes/integration-assets-reference.md
Labels: Architecture

#21387 fix `deleteOneSelection` functionality
  layouts/static-analysis/list.html
Labels: Architecture

#21323 DOCS-6956 AAS zero downtime workflows
  content/en/serverless/azure_app_services/azure_app_services_container.md
  content/en/serverless/azure_app_services/azure_app_services_linux.md
  content/en/serverless/azure_app_services/azure_app_services_windows.md
  layouts/shortcodes/aas-workflow-linux.md
  layouts/shortcodes/aas-workflow-windows.md
  static/resources/yaml/serverless/aas-workflow-linux.yaml
  static/resources/yaml/serverless/aas-workflow-windows.yaml
Labels: Architecture

#21404 Improve documentation for IAM managed auth for postgres
  content/en/database_monitoring/guide/managed_authentication.md
Labels: Guide

#21366 IDE-2249 visual studio public documentation page
  content/en/developers/ide_integrations/visual_studio/_index.md
  static/images/developers/ide_integrations/visual_studio/code-insights.png
  static/images/developers/ide_integrations/visual_studio/datadog-for-visual-studio.png
  static/images/developers/ide_integrations/visual_studio/top-list.png
Labels: editorial review, Images, developers

#21398 keep left nav open for deeper children (improved)
  assets/scripts/datadog-docs.js
Labels: Architecture

#21401 ASM: updating screenshot on API endpoints page
  content/en/security/application_security/api-inventory/_index.md
  static/images/security/application_security/api/api_endpoints.png
Labels: Images, security

#21386 Add CSM Windows setup docs to left nav
  config/_default/menus/menus.en.yaml
  content/en/security/cloud_security_management/setup/windows.md
  layouts/shortcodes/csm-prereqs-enterprise.md
  layouts/shortcodes/csm-prereqs-workload-security.md
Labels: Architecture, security

#21317 Add documentation for Error Tracking settings
  config/_default/menus/menus.en.yaml
  content/en/logs/error_tracking/manage_data_collection.md
  static/images/logs/error_tracking/filters.png
  static/images/logs/error_tracking/rate_limit.png
  static/images/logs/error_tracking/rate_limit_reached_event.png
  static/images/logs/error_tracking/reorder_filters.png
Labels: Architecture, editorial review, Images

#21421 Update operator-advanced.md
  content/en/containers/guide/operator-advanced.md
Labels: Guide

#21236 Create RUM > Retention Analysis documentation
  config/_default/menus/menus.en.yaml
  content/en/real_user_monitoring/retention_analysis/_index.md
  static/images/real_user_monitoring/retention_analysis/differing-events-retention-graph.png
  static/images/real_user_monitoring/retention_analysis/example-retention-analysis-graph.png
  static/images/real_user_monitoring/retention_analysis/matching-events-retention-graph.png
  static/images/real_user_monitoring/retention_analysis/retention-analysis-graph-details-panel.png
Labels: Architecture, editorial review, Images

#21423 Bump datadog-lambda-extension layer to version 53
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#21368 Fix React Native connect RUM and traces example
  content/en/real_user_monitoring/connect_rum_and_traces/_index.md
Labels: editorial review

#21432 disables preview cache flag
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#21434 Add missing attributes to otel semantic conventions mapping docs [on branch]
  content/en/opentelemetry/guide/semantic_mapping.md
Labels: Guide

#21402 Create a Log Integration Update
  content/en/developers/integrations/log_integration.md
  static/images/developers/integrations/export_pipeline.png
Labels: Images

#21450 [WEB-4224] cmd + click opens in new tab from search results
  assets/scripts/components/algolia.js
Labels: Architecture

#21419 Add React Native Apollo Client integration
  content/en/real_user_monitoring/mobile_and_tv_monitoring/integrated_libraries/_index.md
Labels: editorial review

#21454 Fix link to fleet automation in shortcode
  layouts/shortcodes/remote-flare.md
Labels: Architecture

#21446 Update widget_colors.md
  content/en/dashboards/guide/widget_colors.md
Labels: Guide

#21458 [WEB-4486] Disables build parallelism
  Makefile
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#21119 DOCS-6927 - Data Jobs Monitoring
  config/_default/menus/menus.en.yaml
  content/en/data_jobs/_index.md
  content/en/data_jobs/databricks.md
  content/en/data_jobs/emr.md
  content/en/data_jobs/kubernetes.md
  layouts/partials/data_jobs/setup-platforms.html
  layouts/shortcodes/djm-runtime-tagging.md
  static/images/data_jobs/databricks/configure-databricks-spark-envvars-updated.png
  static/images/data_jobs/databricks/configure-token.png
  static/images/data_jobs/databricks/init_scripts.png
  static/images/data_jobs/databricks/toggle.png
  static/images/data_jobs/djm_demolist.png
  static/images/data_jobs/djm_job.png
  static/images/data_jobs/djm_monitor_templates.png
  static/images/data_jobs/djm_run.png
  static/images/data_jobs/djm_run_infra.png
  static/images/data_jobs/djm_stacktrace.png
  static/images/data_jobs/djm_tasks.png
  static/images/data_jobs/emr/add_bootstrap_action.png
  static/images/data_jobs/emr/key_value.png
  static/images/data_jobs/emr/software_settings.png
  static/images/data_jobs/emr/specify_permissions.png
  static/images/data_jobs/overview.png
  static/resources/sh/data_jobs/datadog_databricks_job_monitoring_init.sh
  static/resources/sh/data_jobs/datadog_databricks_job_monitoring_init_without_logs.sh
  static/resources/sh/data_jobs/datadog_emr_job_monitoring_init_v2.sh
Labels: Architecture, editorial review, Images

#21306 Case Management documentation overhaul
  config/_default/menus/menus.en.yaml
  content/en/service_management/case_management/_index.md
  content/en/service_management/case_management/create_case.md
  content/en/service_management/case_management/projects.md
  content/en/service_management/case_management/settings.md
  content/en/service_management/case_management/troubleshooting.md
  content/en/service_management/case_management/view_and_manage/_index.md
Labels: Architecture, editorial review

#21474 Replace image
  content/en/intelligent_test_runner/how_it_works.md
  static/images/continuous_integration/itr_example_2.png
Labels: Images

#21475 add csm threats
  content/en/developers/guide/data-collection-resolution-retention.md
Labels: Guide

#21477 Bump datadog-lambda-java to version 13
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#21485 Add Monitors Child Page in CI Visibility and Test Visibility Doc Sets
  config/_default/menus/menus.en.yaml
Labels: Architecture

#21473 [ECOS-1128] Add auto_install to manifest docs
  layouts/shortcodes/integration-assets-reference.md
Labels: Architecture, mergequeue-status: waiting

#21476 [DOCS-7081] TLS Ciphers deprecation notice
  content/en/data_security/guide/_index.md
  content/en/data_security/guide/tls_ciphers_deprecation.md
Labels: Guide, data_security

#21496 (DOCS-7039) small UI updates
  content/en/service_management/workflows/connections.md
  content/en/service_management/workflows/trigger.md
  static/images/service_management/workflows/new-connection2.png
  static/images/service_management/workflows/notification-rule-trigger2.png
Labels: Images

#21495 layouts: use official Go logo everywhere
  layouts/partials/api/sdk-languages.html
  layouts/partials/apm/apm-compatibility.html
  layouts/partials/apm/apm-connect-logs-and-traces.html
  layouts/partials/apm/apm-context-propagation.html
  layouts/partials/apm/apm-languages.html
  layouts/partials/apm/apm-manual-instrumentation-custom.html
  layouts/partials/apm/apm-manual-instrumentation.html
  layouts/partials/apm/apm-opentracing-custom.html
  layouts/partials/apm/apm-opentracing.html
  layouts/partials/apm/apm-otel-instrumentation-custom.html
  layouts/partials/apm/apm-otel-instrumentation.html
  layouts/partials/apm/apm-runtime-metrics.html
  layouts/partials/data_streams/setup-languages.html
  layouts/partials/logs/logs-languages.html
  layouts/partials/opentelemetry/otel-runtime-metrics.html
  layouts/partials/profiling/profiling-languages.html
  layouts/partials/profiling/profiling-troubleshooting.html
  layouts/partials/security-platform/appsec-languages.html
  layouts/partials/serverless/getting-started-languages.html
  layouts/partials/serverless/serverless-apm-recommendations.html
  static/images/integrations_logos/golang.png
Labels: Architecture, Images

#21218 ASM - Add documentation for custom WAF rules
  content/en/security/application_security/threats/add-user-info.md
  static/images/security/application_security/threats/custom-waf-rule-form.png
  static/images/security/application_security/threats/custom-waf-rule-menu.png
Labels: Do Not Merge, editorial review, Images

#21464 [DOCS-7092] Add tags section to Forwarding Logs to Custom Destinations
  content/en/logs/log_configuration/forwarding_custom_destinations.md
  static/images/logs/log_configuration/forwarding/tag-forwarding.png
Labels: Images

#21506 WEB-4501 - multipart support in api
  assets/scripts/build-api-pages.js
  layouts/partials/api/code-example.html
  layouts/partials/api/curl.html
  layouts/partials/api/request-body.html
Labels: Architecture

#21507 [ASM] Update inapp_waf_rules.md
  content/en/security/application_security/threats/inapp_waf_rules.md
Labels: security

#21515 Update what-best-practices-are-recommended-for-naming-metrics-and-tag…
  content/en/developers/guide/what-best-practices-are-recommended-for-naming-metrics-and-tags.md
Labels: Guide

#21469 Trace queries GA prep - diversity sampling changes
  content/en/tracing/guide/trace_queries_dataset.md
  content/en/tracing/trace_explorer/trace_queries.md
  content/en/tracing/trace_pipeline/trace_retention.md
  static/images/tracing/trace_queries/intelligent_retention_filter_change.png
  static/images/tracing/trace_queries/trace_queries.png
  static/images/tracing/trace_queries/trace_queries_new_dataset.png
Labels: WORK IN PROGRESS, Images, Guide

#21493 menu friend - standardizing
  config/_default/menus/menus.en.yaml
Labels: Architecture, editorial review

#21526 Fix typo
  content/en/tracing/guide/inferred-service-opt-in.md
Labels: Guide

#21439 Getting Started with OpenTelemetry and Datadog guide
  config/_default/menus/menus.en.yaml
  content/en/getting_started/_index.md
  content/en/getting_started/opentelemetry/_index.md
  static/images/getting_started/opentelemetry/flame_graph.png
  static/images/getting_started/opentelemetry/infra_and_jvm.png
  static/images/getting_started/opentelemetry/logs.png
  static/images/getting_started/opentelemetry/trace_logs_correlation.png
  static/images/getting_started/opentelemetry/traces.png
Labels: Architecture, WORK IN PROGRESS, Images

#21529 Bump dd-trace-dotnet layer to version 15
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#21533 DOCS-7137 - add Fargate link to serverless section
  config/_default/menus/menus.en.yaml
Labels: Architecture

#21448 Add SymDB docs
  content/en/dynamic_instrumentation/_index.md
  content/en/dynamic_instrumentation/symdb/_index.md
  content/en/dynamic_instrumentation/symdb/java.md
  layouts/partials/dynamic_instrumentation/symbol-database-languages.html
  static/images/dynamic_instrumentation/symdb_completion.png
  static/images/dynamic_instrumentation/symdb_method_highlight.png
  static/images/dynamic_instrumentation/symdb_method_search.png
Labels: Architecture, editorial review, Images

#21512 [CIVIS-8718] Update documentation for CIVIS GitHub PR comments
  content/en/tests/code_coverage.md
  static/images/ci/github_comments_light.png
Labels: Images

#21445 [DOCS-6951] Update trace and span ID page to reflect 128-bit IDs
  content/en/tracing/guide/send_traces_to_agent_by_api.md
  content/en/tracing/guide/span_and_trace_id_format.md
Labels: Guide

#21481 DOCS-7058 Create an Integration Dashboard Update
  content/en/developers/integrations/create-an-integration-dashboard.md
  static/images/dashboards/create_dashboard.png
  static/images/developers/create-an-integration-dashboard/about-and-overview-groups.png
  static/images/developers/create-an-integration-dashboard/name-repetition.png
  static/images/developers/create-an-integration-dashboard/qa-large-widths.png
  static/images/developers/create-an-integration-dashboard/qa-widths.png
  static/images/developers/create-an-integration-dashboard/share-dashboard.png
  static/images/developers/create-an-integration-dashboard/stream-widgets.png
  static/images/developers/create-an-integration-dashboard/symmetrical_example_2.png
  static/images/developers/create-an-integration-dashboard/x-axes-alignment.png
Labels: editorial review, Images

#21553 Change to improve accuracy
  content/en/monitors/guide/custom_schedules.md
Labels: Guide

#21510 Adds guide for setting up mobile SDKs proxy
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/proxy-mobile-rum-data.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/ios.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/advanced_configuration/reactnative.md
Labels: Guide

#21433 Provide explanation for why instance endpoints are recommended for DBM
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/azure.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
  content/en/database_monitoring/setup_postgres/aurora.md
  content/en/database_monitoring/setup_postgres/azure.md
  content/en/database_monitoring/setup_postgres/gcsql.md
  content/en/database_monitoring/setup_postgres/rds.md
  content/en/database_monitoring/setup_postgres/selfhosted.md
  layouts/shortcodes/dbm-sqlserver-before-you-begin.md
Labels: Architecture, WORK IN PROGRESS

#21382 [DOCS-7065] CSM compatibility matrix
  content/en/security/cloud_security_management/setup/_index.md
  content/en/security/cloud_security_management/setup/csm_enterprise.md
  content/en/security/cloud_security_management/setup/csm_pro.md
  content/en/security/cloud_security_management/setup/csm_workload_security.md
  content/en/security/cloud_security_management/troubleshooting/vulnerabilities.md
  layouts/shortcodes/csm-prereqs.md
Labels: Architecture, WORK IN PROGRESS, Do Not Merge, editorial review, security

#21480 (DOCS-7040) Update error path instructions
  content/en/service_management/workflows/build.md
  static/images/service_management/workflows/error-path1.mp4
Labels: Images

#21566 Update PCI framework support for CSM Misconfigurations
  content/en/security/misconfigurations/supported_frameworks.md
Labels: security

#21576 (DOCS-7145) Add local variables note and links
  content/en/synthetics/guide/create-api-test-with-the-api.md
Labels: Guide

#21583 Profiling source code preview now works for all granularities
  content/en/integrations/guide/source-code-integration.md
Labels: Guide

#21586 Postgres Aurora 15 support
  content/en/database_monitoring/setup_postgres/_index.md
  content/en/database_monitoring/setup_postgres/aurora.md
Labels: database_monitoring

#21590 Remove beta callout
  content/en/dashboards/guide/quick-graphs.md
Labels: Guide

#21593 Update link text on CSM Troubleshooting page
  content/en/security/cloud_security_management/troubleshooting/_index.md
Labels: security

#21597 Update the left nav menu title for CSM OOTB Rules
  config/_default/menus/menus.en.yaml
Labels: Architecture, security

#21599 Bump datadog-lambda-js layer to version 105
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#21589 Add example for multiple variable usage
  content/en/dashboards/guide/context-links.md
Labels: Guide

#21567 [DOCS-6435] Add Investigate Sensitive Data Issues
  config/_default/menus/menus.en.yaml
  content/en/sensitive_data_scanner/investigate_sensitive_data_issues.md
  static/images/sensitive_data_scanner/sds_summary_12_01_24.png
Labels: Architecture, editorial review, Images

#21532 [DOCS-6973] Add PCI compliance doc
  config/_default/menus/menus.en.yaml
  content/en/account_management/audit_trail/_index.md
  content/en/data_security/logs.md
  content/en/data_security/pci_compliance.md
  content/en/logs/log_configuration/_index.md
  content/en/tracing/configure_data_security/_index.md
  layouts/shortcodes/pci-apm.md
  layouts/shortcodes/pci-logs.md
Labels: Architecture, editorial review

#21568 [DOCS-6910] Add SDS OOTB library rules
  config/_default/menus/menus.en.yaml
  content/en/sensitive_data_scanner/library_rules.md
Labels: Architecture, editorial review

#21606 WEB-4529 - update logo display for ja integrations
  layouts/shortcodes/integrations.html
Labels: Architecture

#21372 Updated Sampling documentation for Go tracing library
  content/en/tracing/trace_collection/library_config/go.md
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
Labels: editorial review

#21461 security ootb deeplinks - [WEB-4345]
  assets/styles/components/_grouped-item-listings.scss
  layouts/security_rules/single.html
  local/bin/py/build/actions/security_rules.py
Labels: Architecture

#21353 [DOCS-7077] Update and reorg main SDS doc
  config/_default/menus/menus.en.yaml
  content/en/sensitive_data_scanner.md
  content/en/sensitive_data_scanner/_index.md
  content/en/sensitive_data_scanner/investigate_sensitive_data_issues.md
  content/en/sensitive_data_scanner/library_rules.md
  layouts/shortcodes/sds-scanning-rule.md
  static/images/sensitive_data_scanner/read_write_permissions.png
  static/images/sensitive_data_scanner/sds_main_12_01_24.png
  static/images/sensitive_data_scanner/sds_summary_12_01_24.png
Labels: Architecture, editorial review, Images

#21609 Add app signup geo logic
  .babelrc
  assets/scripts/components/global-modals.js
  assets/scripts/tests/geo.test.js
  babel.config.js
  jest.config.js
  package.json
  yarn.lock
Labels: Architecture

#20410 Adding Environment variable information on Private location page
  content/en/synthetics/private_locations/configuration.md
Labels: under_review

#21594 DOCS-7182 Start custom costs docs
  config/_default/menus/menus.en.yaml
  content/en/cloud_cost_management/custom.md
  static/images/cloud_cost/upload_file.png
Labels: Architecture, editorial review, Images

#21602 Create saas_costs
  config/_default/menus/menus.en.yaml
  content/en/cloud_cost_management/saas_costs.md
  static/images/cloud_cost/cloud_and_saas_accounts.png
  static/images/cloud_cost/confluent_setup.png
  static/images/cloud_cost/fastly_setup.png
  static/images/cloud_cost/snowflake_setup.png
Labels: Architecture, editorial review, Images

#21600 DOCS-5755/7083 - K8s log collection refresh
  content/en/agent/faq/log-collection-with-docker-socket.md
  content/en/containers/kubernetes/log.md
Labels: FAQ
