Repository DataDog/documentation, pull requests merged in 2025-06, with the labels that each got.

#29647 Small addition to CSV reports
  content/en/logs/reports/_index.md
Labels: mergequeue-status: in_progress

#29502 [DOCS-10961] Add info on editing ootb detection rules
  content/en/security/cloud_siem/detection_rules/_index.md
Labels: mergequeue-status: rejected, okr11

#29158 Update _index.md
  content/en/tracing/legacy_app_analytics/_index.md
Labels: mergequeue-status: in_progress

#29577 Update mobile app.md
  config/_default/menus/main.en.yaml
  content/en/mobile/_index.md
  content/en/mobile/accessibility.md
  content/en/mobile/push_notification.md
  content/en/mobile/shortcut_configurations.md
  static/images/service_management/mobile/Android_Dashboards.png
  static/images/service_management/mobile/Android_Incident.png
  static/images/service_management/mobile/Android_Logs.png
  static/images/service_management/mobile/Android_Monitors.png
  static/images/service_management/mobile/Android_Notebooks.png
  static/images/service_management/mobile/Android_On_Call.png
  static/images/service_management/mobile/Android_Services.png
  static/images/service_management/mobile/Android_Setting_1.png
  static/images/service_management/mobile/Android_Setting_2.png
  static/images/service_management/mobile/Android_Setting_3.png
  static/images/service_management/mobile/Android_Traces.png
  static/images/service_management/mobile/iOS_Setting_1.png
  static/images/service_management/mobile/iOS_Setting_2.png
  static/images/service_management/mobile/iOS_Setting_3.png
  static/images/service_management/mobile/iOS_logs_v2.png
  static/images/service_management/mobile/page_confirmation.png
Labels: Architecture, editorial review, Images, mergequeue-status: in_progress

#29672 Add alias for self service actions
  content/en/internal_developer_portal/self_service_actions/_index.md
Labels: mergequeue-status: in_progress

#29581 [.NET] Point users of `DD_TRACE_METHODS` to the Continuous Profiler
  content/en/tracing/trace_collection/library_config/dotnet-core.md
  content/en/tracing/trace_collection/library_config/dotnet-framework.md
Labels: mergequeue-status: in_progress

#29359 Update passwd mount documentation
  content/en/infrastructure/process/_index.md
Labels: mergequeue-status: in_progress

#29654 Fix typo in snippet
  snippets/markdown.json
Labels: mergequeue-status: in_progress

#29110 RUM-9755: Add Jetpack Compose Instrumentation documentation
  config/_default/menus/main.en.yaml
  content/en/real_user_monitoring/mobile_and_tv_monitoring/android/_index.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/android/jetpack_compose_instrumentation.md
  static/images/real_user_monitoring/android/android-actions-tracking-1.png
  static/images/real_user_monitoring/android/android-auto-instrumentation-naming.png
Labels: Architecture, editorial review, Images, mergequeue-status: in_progress

#29670 Fix links on Discover Entities page
  content/en/internal_developer_portal/software_catalog/set_up/discover_entities.md
Labels: mergequeue-status: in_progress

#29674 update to current version 0.13.3
  content/en/data_jobs/databricks.md
  content/en/data_jobs/dataproc.md
  content/en/data_jobs/emr.md
Labels: mergequeue-status: in_progress

#29656 Update Disable AAP link to correct anchor
  content/en/security/application_security/_index.md
Labels: mergequeue-status: in_progress

#29273 Infrastructure change tracking
  config/_default/menus/main.en.yaml
  content/en/change_tracking/_index.md
  content/en/infrastructure/resource_catalog/_index.md
  content/en/infrastructure/resource_catalog/resource_changes/_index.md
  static/images/infrastructure/resource_catalog/resource-changes.png
Labels: Architecture, editorial review, Images, mergequeue-status: in_progress, okr11

#29641 Fix code examples in OTLP metrics endpoint
  content/en/opentelemetry/setup/agentless/metrics.md
Labels: opentelemetry, mergequeue-status: rejected

#29572 Update fips-compliance.md
  content/en/agent/configuration/fips-compliance.md
Labels: mergequeue-status: done

#29646 [MLOB-2777] add litellm documentation
  content/en/llm_observability/setup/auto_instrumentation.md
Labels: mergequeue-status: in_progress

#29682 [DOCS-10930] Add port forwarding troubleshooting
  content/en/observability_pipelines/troubleshooting.md
Labels: mergequeue-status: done

#29676 add datastore entity type
  content/en/internal_developer_portal/software_catalog/entity_model/entity_types.md
  content/en/internal_developer_portal/software_catalog/set_up/discover_entities.md
  static/images/tracing/software_catalog/datastore-entity-page-dbm-setup-prompt.png
Labels: editorial review, Images, mergequeue-status: in_progress

#29699 Add queue entity type
  content/en/internal_developer_portal/software_catalog/entity_model/entity_types.md
Labels: mergequeue-status: in_progress

#29702 Disable the merge queue
  .github/PULL_REQUEST_TEMPLATE.md
  repository.datadog.yml
Labels: Github

#29657 Tag analysis documentation
  content/en/tracing/trace_explorer/tag_analysis.md
  static/images/tracing/trace_explorer/tag_analysis/red_metrics_entrypoint.png
  static/images/tracing/trace_explorer/tag_analysis/relevant_dimension.png
  static/images/tracing/trace_explorer/tag_analysis/scatterplot_entrypoint.png
  static/images/tracing/trace_explorer/tag_analysis/subset_baseline_definition.png
  static/images/tracing/trace_explorer/tag_analysis/tag_analysis_panel.png
  static/images/tracing/trace_explorer/tag_analysis/timeseries_entrypoint.png
Labels: editorial review, Images, mergequeue-status: removed, okr11

#29719 View Agent Audit Trail Events in Fleet Automation
  content/en/agent/fleet_automation/_index.md
  content/en/agent/troubleshooting/send_a_flare.md
  static/images/agent/fleet_automation/fleet_automation2.png
  static/images/agent/fleet_automation/fleet_automation_agent1.png
  static/images/agent/fleet_automation/fleet_automation_remote_flare.png
Labels: Images, mergequeue-status: waiting

#29692 Update cluster_agent_disable_admission_controller.md
  content/en/containers/guide/cluster_agent_disable_admission_controller.md
Labels: Guide, mergequeue-status: queued

#29643 Add emerging vulns to Security Inbox
  content/en/security/security_inbox.md
  static/images/security/security_inbox_7.png
Labels: Images, okr11

#29629 Add blurb on container image layer vulns
  content/en/infrastructure/containers/container_images.md
  content/en/security/cloud_security_management/vulnerabilities/_index.md
  static/images/infrastructure/containerimages/image_layer_vulnerabilities.png
Labels: Images, okr11

#29721 Update DDSQL Editor images
  content/en/ddsql_editor/_index.md
  static/images/ddsql_editor/data-tab-available-tables.png
  static/images/ddsql_editor/data-tab.png
  static/images/ddsql_editor/queries-tab-recent-queries.png
  static/images/ddsql_editor/query-results-cloud-provider-host-count.png
  static/images/ddsql_editor/save_export.png
Labels: Images, okr11

#29732 DOCS-11142 remove preview from rum docs
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/guide/tracking-rum-usage-with-usage-attribution-tags.md
Labels: Guide, mergequeue-status: queued

#29742 moving traceroute variants to network path
  config/_default/menus/main.en.yaml
  content/en/network_monitoring/cloud_network_monitoring/guide/_index.md
  content/en/network_monitoring/network_path/_index.md
  content/en/network_monitoring/network_path/guide/_index.md
  content/en/network_monitoring/network_path/guide/traceroute_variants.md
Labels: Architecture

#29142 add searchable components to semantic mapping pgs
  assets/styles/components/_multifilter-search.scss
  content/en/opentelemetry/mapping/metrics_mapping.md
  content/en/opentelemetry/mapping/semantic_mapping.md
  go.mod
  go.sum
  layouts/shortcodes/multifilter-search.html
Labels: Architecture

#29605 DOCS-10810 - LLM Observability Experiments
  content/en/llm_observability/experiments/_index.md
  static/images/llm_observability/experiments/filtered_experiments.png
Labels: editorial review, Images, okr11

#29475 [MLOB-2942] LLM Observability Java SDK docs
  content/en/llm_observability/setup/sdk/java.md
  layouts/partials/llmobs/llmobs-compatibility.html
Labels: Architecture, editorial review

#29750 [DOCS-10821] Code Coverage: Preview signup callout
  content/en/tests/code_coverage.md
Labels: okr11

#29524 Rule creation guide
  config/_default/menus/main.en.yaml
  content/en/security/code_security/static_analysis/custom_rules/_index.md
  content/en/security/code_security/static_analysis/custom_rules/guide.md
  static/images/security/code_security/custom_rule_guide_parse_trees.png
Labels: Architecture, editorial review, Images

#29761 Update _index.md
  content/en/internal_developer_portal/software_catalog/entity_model/_index.md
  content/en/internal_developer_portal/software_catalog/entity_model/entity_types.md
Labels: mergequeue-status: removed

#29609 DOCS-10848 - remote instrumentation for AWS Lambda
  config/_default/menus/main.en.yaml
  content/en/serverless/aws_lambda/installation/_index.md
  content/en/serverless/aws_lambda/installation/nodejs.md
  content/en/serverless/aws_lambda/installation/python.md
  content/en/serverless/aws_lambda/remote_instrumentation.md
Labels: Architecture, okr11

#29745 Flex compute docs updates
  content/en/logs/guide/flex_compute.md
  static/images/logs/guide/flex_compute/pause_dashboard.png
Labels: Images, Guide

#29789 Remove duplicate info in aws_payload_tagging.md
  content/en/tracing/guide/aws_payload_tagging.md
Labels: Guide

#29781 AAP: rename Overview into Attack Summary
  config/_default/menus/main.en.yaml
  content/en/security/application_security/overview/_index.md
Labels: Architecture

#29795 [Azure int] Remove beta signups for LFO
  content/en/logs/guide/azure-automated-log-forwarding.md
  content/en/logs/guide/azure-logging-guide.md
  content/es/logs/guide/azure-automated-log-forwarding.md
  content/es/logs/guide/azure-logging-guide.md
Labels: Guide

#29802 Move logs_write_processors to Legacy permissions
  content/en/logs/guide/logs-rbac-permissions.md
Labels: Guide

#29677 [DOCS-11027] Deployment Gates
  config/_default/menus/main.en.yaml
  content/en/deployment_gates/_index.md
  content/en/deployment_gates/explore.md
  content/en/deployment_gates/setup.md
  static/images/deployment_gates/explore/deployment_gates_explorer.png
Labels: Architecture, editorial review, Images, okr11

#29508 [DOCS-10972] update callout for GA
  content/en/network_monitoring/network_path/_index.md
  content/en/network_monitoring/network_path/list_view.md
  content/en/network_monitoring/network_path/path_view.md
  content/en/network_monitoring/network_path/setup.md
Labels: okr11

#29806 Use latest release for sdk version bumps
  .github/workflows/bump_versions.yml
Labels: Github, mergequeue-status: queued

#29619 [DOCS-10973] Resource policy updates and out-of-the-box policies
  content/en/infrastructure/resource_catalog/_index.md
  content/en/infrastructure/resource_catalog/policies/_index.md
  static/images/infrastructure/resource_catalog/policies/custom_policy_lambdas_2.png
  static/images/infrastructure/resource_catalog/policies/policy_templates.mp4
  static/images/infrastructure/resource_catalog/policies/policy_templates.png
  static/images/infrastructure/resource_catalog/policies/resource_policies_with_templates.png
  static/images/infrastructure/resource_catalog/resource_catalog_settings.png
Labels: WORK IN PROGRESS, Images, okr11

#28593 [MLOB-2411] Add Distributed Proxy/Gateway Service Guide for LLM Observability
  content/en/llm_observability/guide/_index.md
  content/en/llm_observability/trace_proxy_services.md
  static/images/llm_observability/all-spans-with-service-and-span-kind.png
  static/images/llm_observability/all-spans-with-service-and-span-name.png
  static/images/llm_observability/span-kind-facet-for-proxy-service-monitoring.png
  static/images/llm_observability/span-name-facet-for-proxy-service-monitoring.png
  static/images/llm_observability/timeseries-view-for-proxy-services.png
Labels: editorial review, Images, Guide, mergequeue-status: queued

#29706 Docs11112/storage monitoring restructure
  content/en/integrations/guide/storage-monitoring-setup.md
  layouts/partials/cloud_storage_monitoring/storage-monitoring-setup.html
Labels: Architecture, WORK IN PROGRESS, Guide, okr11

#29423 RUM Recommendations
  config/_default/menus/main.en.yaml
  content/en/real_user_monitoring/browser/optimizing_performance.md
  content/en/real_user_monitoring/browser/optimizing_performance/_index.md
  content/en/real_user_monitoring/browser/optimizing_performance/rum_recommendations.md
Labels: Architecture, Images, okr11

#29635 [DOCS-10843] Standalone MCP server
  config/_default/menus/main.en.yaml
  content/en/bits_ai/mcp_server.md
Labels: Architecture, editorial review, okr11

#28152 Redirects for rebranded Alpiq integrations
  content/en/integrations/_index.md
Labels: integrations

#29444 [CCM] Custom allocation rules updates
  content/en/cloud_cost_management/custom_allocation_rules.md
  static/images/cloud_cost/custom_allocation_rules/proportional_diagram-2.png
  static/images/cloud_cost/custom_allocation_rules/proportional_partition_diagram-2.png
  static/images/cloud_cost/custom_allocation_rules/ui-custom.png
  static/images/cloud_cost/custom_allocation_rules/ui-dynamic-by-metric.png
  static/images/cloud_cost/custom_allocation_rules/ui-even.png
  static/images/cloud_cost/custom_allocation_rules/ui-proportional-by-spend.png
  static/images/cloud_cost/custom_allocation_rules/visualize_your_allocations-1.png
Labels: Images, aaa-access, okr11

#29473 [DOCS-10928] Add preview box for role-based sensitive data unmasking
  content/en/logs/guide/control-sensitive-logs-data.md
  content/en/logs/guide/logs-rbac.md
  content/en/security/sensitive_data_scanner/_index.md
  content/en/security/sensitive_data_scanner/setup/telemetry_data.md
Labels: Guide, okr11

#29778 [DASh 2025] Ticketing Systems topic for Security Overview
  config/_default/menus/main.en.yaml
  content/en/security/ticketing_integrations.md
  static/images/security/bidir-jira-existing-hover.png
  static/images/security/bidir-jira-existing.png
Labels: Architecture, editorial review, Images, okr11

#29816 DASH updates for Cross Org Visibility
  content/en/account_management/org_settings/cross_org_visibility.md
Labels: okr11

#29840 Resource Catalog updates
  content/en/infrastructure/resource_catalog/policies/_index.md
  static/images/infrastructure/resource_catalog/policies/policy_templates_2.mp4
Labels: Images

#29607 (Actions) Workflows Conversational AI
  content/en/actions/workflows/build.md
Labels: okr11

#29520 DOCS-10895: Data Observability
  config/_default/menus/main.en.yaml
  content/en/data_observability/_index.md
  content/en/data_observability/datasets.md
  static/images/data_observability/data_observability_lineage_quality.png
  static/images/data_observability/data_observability_lineage_trace.png
  static/images/data_observability/data_observability_overview.png
  static/images/data_observability/data_observability_pipeline_infra_correlation.png
  static/images/data_observability/data_quality_tables.png
Labels: Architecture, editorial review, Images, okr11

#29792 New CloudSec summary screenshot
  content/en/security/cloud_security_management/_index.md
  static/images/security/csm/csm_overview_4.png
Labels: Images, okr11

#29509 [DOCS-10907] CCM Custom Recommendations
  config/_default/menus/main.en.yaml
  content/en/cloud_cost_management/recommendations/custom_recommendations.md
  static/images/cloud_cost/recommendations/custom-recommendations-without-history.png
Labels: Architecture, Images, okr11

#29821 Adding Baggage Span Tags docs
  content/en/tracing/trace_collection/library_config/_index.md
  content/en/tracing/trace_collection/trace_context_propagation/_index.md
Labels: editorial review, mergequeue-status: removed

#29846 MCP server Preview signup link [DOCS-10843]
  content/en/bits_ai/mcp_server.md
Labels: okr11

#29606 [DOCS-10915] Flaky Test Management
  config/_default/menus/main.en.yaml
  content/en/tests/flaky_management/_index.md
  content/en/tests/flaky_tests/_index.md
  content/en/tests/flaky_tests/auto_test_retries.md
  content/en/tests/flaky_tests/early_flake_detection.md
  static/images/tests/flaky_management.png
Labels: Architecture, editorial review, Images, okr11

#29826 Scope Markdown and Markdoc snippets correctly
  .vscode/markdoc.code-snippets
  .vscode/markdown.code-snippets
  .vscode/settings.json
  snippets/markdown.json
Labels: editorial review

#29825 [DOCS-11171] Update Amazon S3 destination
  layouts/shortcodes/observability_pipelines/destination_settings/datadog_archives_amazon_s3.en.md
Labels: Architecture

#29843 PANA REDO 2 -
  config/_default/menus/main.en.yaml
  content/en/product_analytics/_index.md
  content/en/product_analytics/charts/_index.md
  content/en/product_analytics/charts/analytics_explorer/_index.md
  content/en/product_analytics/charts/analytics_explorer/events.md
  content/en/product_analytics/charts/analytics_explorer/group.md
  content/en/product_analytics/charts/analytics_explorer/visualize.md
  content/en/product_analytics/charts/funnel_analysis.md
  content/en/product_analytics/charts/pathways.md
  content/en/product_analytics/charts/user_retention.md
  content/en/product_analytics/dashboards.md
  content/en/product_analytics/guide/rum_and_product_analytics.md
  content/en/product_analytics/segmentation/_index.md
  content/en/product_analytics/session_replay/_index.md
  content/en/product_analytics/session_replay/heatmaps.md
  content/en/product_analytics/session_replay/mobile/_index.md
  static/images/product_analytics/analytics/group/pana_group_by_action.png
  static/images/product_analytics/analytics/group/pana_group_by_loading_time.png
  static/images/product_analytics/analytics/group/pana_group_distribution.png
  static/images/product_analytics/analytics/group/pana_group_search_bar.png
  static/images/product_analytics/analytics/pana_analytics_group_by.png
  static/images/product_analytics/analytics/pana_analytics_time_imterval.png
  static/images/product_analytics/dashboard/pana_dashboard_overview.png
  static/images/product_analytics/journeys/funnel_analysis/pana_funnel_change_viz.mp4
  static/images/product_analytics/journeys/funnel_analysis/pana_funnel_conversion.png
  static/images/product_analytics/journeys/funnel_analysis/pana_funnel_dropoffs.png
  static/images/product_analytics/journeys/funnel_analysis/pana_funnel_filter_by-2.png
  static/images/product_analytics/journeys/funnel_analysis/pana_funnel_filter_by_step.png
  static/images/product_analytics/journeys/funnel_analysis/pana_funnel_overview.png
  static/images/product_analytics/journeys/funnel_analysis/pana_funnel_query_value.png
  static/images/product_analytics/journeys/funnel_analysis/pana_funnel_share_dashboard.png
  static/images/product_analytics/journeys/funnel_analysis/pana_funnel_share_funnel.png
  static/images/product_analytics/journeys/funnel_analysis/pana_funnel_timeseries.png
  static/images/product_analytics/journeys/funnel_analysis/pana_funnel_toplist.png
  static/images/product_analytics/journeys/funnel_analysis/pana_funnel_video1.mp4
  static/images/product_analytics/journeys/pathways/ga_pathway_diagrams_page.png
  static/images/product_analytics/journeys/pathways/pana_pathway_page_img2.png
  static/images/product_analytics/journeys/pathways/pana_pathway_page_img3.png
  static/images/product_analytics/journeys/pathways/pana_pathway_page_img4.png
  static/images/product_analytics/journeys/pathways/pana_pathway_page_img5.png
  static/images/product_analytics/overview_analytic_ga.png
  static/images/product_analytics/overview_funnel_ga.png
  static/images/product_analytics/overview_pathways_ga.png
  static/images/product_analytics/overview_retention_ga.png
  static/images/product_analytics/pana_charts_video.mp4
  static/images/product_analytics/pana_home_page.png
  static/images/product_analytics/pana_session_replay_page.png
  static/images/product_analytics/retention/pana_retention_export.png
  static/images/product_analytics/retention/pana_retention_overview-2.png
  static/images/product_analytics/retention/pana_retention_timeframes.png
  static/images/product_analytics/segmentation/userprofiles_pana-ga.png
Labels: Architecture, Images, Guide

#29858 Fix anchor link in Flaky Test Management
  content/en/tests/flaky_management/_index.md
Labels: mergequeue-status: removed

#29886 [DOCS-11112] Add blog links
  content/en/integrations/guide/storage-monitoring-setup.md
Labels: Guide, okr11

#29885 [DOCS-11193] refreshing CNM traffic costs guide
  content/en/network_monitoring/cloud_network_monitoring/guide/manage_traffic_costs_with_cnm.md
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_cnm/availability_zone_2.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_cnm/cross-az-traffic_2.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_cnm/filter-traffic_2.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_cnm/inter-az-service-to-service-traffic.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_cnm/scope_destination_points_2.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_cnm/search_by_service_az.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_cnm/server_traffic_by_domain.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_cnm/service_availability_zone2.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_cnm/single_service_2.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_cnm/team_region_2.png
  static/images/network_performance_monitoring/guide/manage_traffic_costs_with_cnm/timeseries_2.png
Labels: Images

#29884 [DOCS-11123] Add blog links
  content/en/integrations/guide/azure-programmatic-management.md
  content/en/logs/guide/azure-logging-guide.md
Labels: Guide, mergequeue-status: queued, okr11

#29851 aws resource sourcing switch
  .gitignore
  Makefile
  layouts/shortcodes/aws-resource-collection-cloud-cost-management.md
  layouts/shortcodes/aws-resource-collection-cloud-security-monitoring.md
  layouts/shortcodes/aws-resource-collection-cloudcraft.md
  layouts/shortcodes/aws-resource-collection-network-performance-monitoring.md
  layouts/shortcodes/aws-resource-collection-resource-catalog.md
  layouts/shortcodes/aws-resource-collection-upcoming-permissions.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#29614 Topherc dd/aas code sidecar updates
  content/en/serverless/azure_app_services/azure_app_services_linux.md
  content/en/serverless/guide/azure_app_service_linux_code_wrapper_script.md
  static/images/serverless/azure_app_service/app-service-logs.png
Labels: editorial review, Images, Guide, mergequeue-status: removed

#29915 Include how to disable dcaautogen behavior
  content/en/containers/guide/cluster_agent_autoscaling_metrics.md
Labels: Guide

#29819 [PROFILING] Add tag requirement to memory leaks doc
  content/en/profiler/guide/solve-memory-leaks.md
Labels: Guide

#29597 docs(debugger): reorganize expression language examples
  assets/scripts/components/expression-language-parser.js
  assets/scripts/tests/expression-language-parser.test.js
  content/en/dynamic_instrumentation/expression-language.md
  layouts/shortcodes/expression-language-simulator.html
Labels: Architecture, mergequeue-status: queued

#29408 Add draft monitors docs
  config/_default/menus/main.en.yaml
  content/en/monitors/draft/_index.md
  static/images/monitors/draft/save_as_draft.png
Labels: Architecture, Images, okr11

#29924 add newly required app roles to CSM docs
  layouts/shortcodes/csm-setup-azure.en.md
Labels: Architecture

#29892 Update docs structure for Dynamic Instrumentation
  config/_default/menus/main.en.yaml
  content/en/tracing/dynamic_instrumentation/_index.md
  content/en/tracing/dynamic_instrumentation/enabling/_index.md
  content/en/tracing/dynamic_instrumentation/enabling/dotnet.md
  content/en/tracing/dynamic_instrumentation/enabling/java.md
  content/en/tracing/dynamic_instrumentation/enabling/nodejs.md
  content/en/tracing/dynamic_instrumentation/enabling/php.md
  content/en/tracing/dynamic_instrumentation/enabling/python.md
  content/en/tracing/dynamic_instrumentation/enabling/ruby.md
  content/en/tracing/dynamic_instrumentation/expression-language.md
  content/en/tracing/dynamic_instrumentation/sensitive-data-scrubbing.md
  content/en/tracing/dynamic_instrumentation/symdb/_index.md
  content/en/tracing/dynamic_instrumentation/symdb/dotnet.md
  content/en/tracing/dynamic_instrumentation/symdb/java.md
  content/en/tracing/dynamic_instrumentation/symdb/python.md
Labels: Architecture

#29601 docs(debugger): split overview and applications, show examples close to the top
  content/en/tracing/dynamic_instrumentation/expression-language.md
  static/images/tracing/dynamic_instrumentation/expressions.png
Labels: editorial review, Images

#28944 Migrate "Mobile Session Replay Privacy Options" to Cdocs
  Makefile
  content/.gitignore
  content/en/real_user_monitoring/session_replay/mobile/privacy_options.md
  content/en/real_user_monitoring/session_replay/mobile/privacy_options.mdoc.md
Labels: editorial review

#29874 chore(fleet): Add HAProxy example for install.datadoghq.com
  content/en/agent/faq/proxy_example_haproxy.md
Labels: FAQ

#29710 Create doc for GCP cloud run function gen 1 SCL Golang
  content/en/serverless/google_cloud_run/_index.md
  content/en/serverless/google_cloud_run/functions_gen1.md
Labels: mergequeue-status: queued

#29968 Autodiscovery filtering doc updates [CONTP-828]
  content/en/containers/guide/container-discovery-management.md
  content/en/containers/kubernetes/log.md
Labels: Guide

#29852 add in condition to fill in toc for custom processor page
  layouts/partials/table-of-contents/table-of-contents.html
Labels: Architecture, mergequeue-status: queued

#29975 chore(fleet): Add required datadog.yaml config for installer HAProxy config
  content/en/agent/faq/proxy_example_haproxy.md
Labels: FAQ

#29995 Update daily quota events image
  content/en/logs/log_configuration/indexes.md
  static/images/logs/indexes/daily_quota_warning_events.png
Labels: Images

#29679 JSON aggregation docs initial release
  content/en/agent/logs/auto_multiline_detection.md
Labels: mergequeue-status: queued

#29853 [ACTP-745] update PAR configuration directory
  content/en/actions/private_actions/private_action_credentials.md
  content/es/actions/private_actions/private_action_credentials.md
Labels: mergequeue-status: removed

#29996 added Exploit Prevention vs. In-App WAF section
  content/en/security/application_security/_index.md
  content/en/security/application_security/exploit-prevention.md
  content/en/security/application_security/waf-integration.md
Labels: mergequeue-status: queued

#30015 [DOCS-11271] Synthetics Results Explorer: Export to CSV
  config/_default/menus/main.en.yaml
  content/en/synthetics/explore/results_explorer/_index.md
  content/en/synthetics/explore/results_explorer/export.md
  static/images/continuous_testing/explorer/export_csv.png
Labels: Architecture, Images

#30002 [AGENTRUN-488] Update FIPS proxy version to 1.1.12
  content/en/containers/amazon_ecs/_index.md
Labels: mergequeue-status: queued

#29776 Update tracking-rum-usage-with-usage-attribution-tags.md
  content/en/real_user_monitoring/guide/tracking-rum-usage-with-usage-attribution-tags.md
Labels: Guide

#30031 Add blog links to docs
  content/en/datadog_cloudcraft/_index.md
  content/en/logs/log_configuration/forwarding_custom_destinations.md
  content/en/metrics/guide/custom_metrics_governance.md
  content/en/observability_pipelines/guide/get_started_with_the_custom_processor.md
  content/en/tracing/trace_explorer/tag_analysis.md
Labels: Guide

#30044 Add github costs docs
  content/en/cloud_cost_management/setup/saas_costs.md
  layouts/partials/cloud_cost/cost-integrations.html
  static/images/cloud_cost/saas_costs/github_setup.png
Labels: Architecture, Images

#30014 [SVLS-7025] improve AAS documentation
  content/en/serverless/azure_app_services/_index.md
  content/en/serverless/azure_app_services/azure_app_services_container.md
  content/en/serverless/azure_app_services/azure_app_services_linux.md
  content/en/serverless/guide/azure_app_service_linux_containers_serverless_init.md
Labels: editorial review, Guide

#30055 Updating security screenshots to remove nav bar
  content/en/security/cloud_security_management/_index.md
  content/en/security/cloud_security_management/identity_risks/_index.md
  content/en/security/cloud_security_management/misconfigurations/_index.md
  content/en/security/cloud_security_management/misconfigurations/frameworks_and_benchmarks/_index.md
  content/en/security/cloud_security_management/misconfigurations/kspm.md
  content/en/security/cloud_security_management/vulnerabilities/_index.md
  static/images/infrastructure/resource_catalog/resource_catalog_infra_3.png
  static/images/security/csm/kubernetes_posture_score_3.png
  static/images/security/cspm/frameworks_and_benchmarks/cis_aws_compliance_report_5.png
  static/images/security/cspm/frameworks_and_benchmarks/compliance_reports_5.png
  static/images/security/identity_risks/downsized_policy_2.png
  static/images/security/vulnerabilities/csm_package_explorer_3.png
Labels: Images

#30041 Update AlwaysOn documentation to move away from the listener endpoint
  layouts/shortcodes/dbm-sqlserver-agent-config-examples.en.md
Labels: Architecture

#29947 DOCS-11221: Move IaC docs to Code Security
  config/_default/menus/main.en.yaml
  content/en/security/cloud_security_management/iac_scanning.md
  content/en/security/cloud_security_management/setup/_index.md
  content/en/security/cloud_security_management/setup/iac_scanning/_index.md
  content/en/security/code_security/_index.md
  content/en/security/code_security/iac_security/_index.md
  content/en/security/code_security/iac_security/exclusions.md
  content/en/security/code_security/iac_security/setup.md
  layouts/partials/nav/left-nav.html
  static/images/security/infrastructure_as_code/iac_misconfiguration_side_panel.png
Labels: Architecture, editorial review, Images

#30032 fix(appsec): update aap/iast versions
  content/en/security/application_security/setup/compatibility/python.md
  content/en/security/code_security/iast/setup/_index.md
  content/en/security/code_security/iast/setup/compatibility/python.md
  content/en/security/code_security/software_composition_analysis/setup_runtime/compatibility/python.md
  content/en/tracing/trace_collection/compatibility/python.md
  layouts/partials/trace_collection/python/supported_runtimes.html
  layouts/partials/trace_collection/python/supported_versions.html
Labels: Architecture

#30030 Add documentation for ci cd correlation
  content/en/continuous_delivery/deployments/argocd.md
  content/en/continuous_delivery/features/rollbacks_detection.md
Labels: mergequeue-status: removed

#30078 DOCS-11293: Add note to Custom JavaScript Assertions doc
  content/en/synthetics/guide/custom-javascript-assertion.md
Labels: Guide

#29992 Upgrading Agent Docs Changes
  content/en/agent/guide/upgrade_between_minor_versions.md
Labels: Guide

#30094 Small edit to the Agent upgrade page
  content/en/agent/guide/_index.md
  content/en/agent/guide/upgrade_agent_fleet_automation.md
Labels: Guide

#30074 DOCS-11294: Add unsupported banner to IaC Security docs
  config/_default/params.yaml
Labels: Architecture

#30098 Fix sql block not being terminated
  content/en/database_monitoring/guide/sql_extended_events.md
Labels: Guide

#30095 update python layer version
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#30088 Improve vmware tanzu application service installation steps
  content/en/integrations/guide/cluster-monitoring-vmware-tanzu.md
Labels: Guide

#30096 Update entity_types.md
  content/en/internal_developer_portal/software_catalog/entity_model/entity_types.md
Labels: mergequeue-status: rejected

#30089 Re-add dropped guide references
  content/en/monitors/guide/_index.md
Labels: Guide

#29798 kelly-kong/Add information about new features to docs
  content/en/logs/guide/flex_compute.md
Labels: Guide

#27841 [error-tracking] Issue Team Ownership documentation
  content/en/error_tracking/explorer.md
  content/en/error_tracking/issue_team_ownership.md
  static/images/error_tracking/ownership-config.png
  static/images/error_tracking/ownership-details.png
  static/images/error_tracking/ownership-sidebar.png
  static/images/error_tracking/team-github-connection.jpg
Labels: Images, mergequeue-status: rejected

#29890 [ AGNTLOG-172 ] document the close_timeout setting for log rotations in the datadog agent
  content/en/logs/guide/mechanisms-ensure-logs-not-lost.md
Labels: Guide

#30105 Update DDOT diagram to clarify potential confusion with mixed instrumentation
  content/en/opentelemetry/_index.md
  content/en/opentelemetry/setup/agent.md
  content/en/opentelemetry/setup/ddot_collector/_index.md
  static/images/opentelemetry/setup/ddot-collector-2.png
Labels: Images

#30120 [DJM Databricks] Add instructions for service principal OAuth
  content/en/data_jobs/databricks.md
  static/images/data_jobs/databricks/account-id.png
  static/images/data_jobs/databricks/client-id-secret.png
  static/images/data_jobs/databricks/configure-workspace-form-m2m.png
Labels: Images

#30129 Add Navattic walk-through of Metrics Governance tools in Custom Metrics Best Practices
  content/en/metrics/guide/custom_metrics_governance.md
Labels: Guide

#29759 [web-6210] supporting APW integrations
  go.mod
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#30119 Make ddsql preview private and ddsql default the index page
  config/_default/params.yaml
  content/en/ddsql_reference/_index.md
  content/en/ddsql_reference/ddsql_default.md
  content/en/ddsql_reference/ddsql_preview.md
  content/en/ddsql_reference/ddsql_preview/data_types.md
  content/en/ddsql_reference/ddsql_preview/ddsql_use_cases.md
  content/en/ddsql_reference/ddsql_preview/expressions_and_operators.md
  content/en/ddsql_reference/ddsql_preview/functions.md
  content/en/ddsql_reference/ddsql_preview/reference_tables.md
  content/en/ddsql_reference/ddsql_preview/statements.md
  content/en/ddsql_reference/ddsql_preview/tags.md
Labels: Architecture

#30146 fix integrations carousel modal - [DOCSENG-25]
  layouts/_default/baseof.html
  layouts/partials/integrations-carousel/integrations-carousel-modal.html
  layouts/partials/integrations-carousel/integrations-carousel.html
Labels: Architecture

#30136 Fix pronoun
  content/en/metrics/guide/custom_metrics_governance.md
Labels: Guide

#30110 Add clarification for limitations in CI/CD correlation
  content/en/continuous_delivery/deployments/argocd.md
Labels: mergequeue-status: queued

#30177 Update _index.md
  content/en/observability_pipelines/monitoring/_index.md
Labels: mergequeue-status: queued

#30141 Add Debug, JSON Format options for Java Tracer logs
  content/en/tracing/trace_collection/library_config/java.md
  content/en/tracing/troubleshooting/tracer_debug_logs.md
Labels: tracing

#30179 Update _index.md
  content/en/agent/remote_config/_index.md
Labels: mergequeue-status: queued

#30182 Add identity risk layer wording to Cloudcraft
  content/en/datadog_cloudcraft/overlays.md
Labels: mergequeue-status: queued

#30175 Correct some errors in Autoscaling doc
  config/_default/menus/main.en.yaml
  content/en/containers/monitoring/autoscaling.md
Labels: Architecture, mergequeue-status: queued

#30181 Update parse json and tags processor
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/processors/tags.md
  layouts/shortcodes/observability_pipelines/processors/parse_json.en.md
Labels: Architecture, mergequeue-status: queued

#30158 BYOTI content moved to Sec Overview Guide
  content/en/security/application_security/how-it-works/threat-intelligence.md
  content/en/security/guide/_index.md
  content/en/security/guide/byoti_guide.md
  content/en/security/threat_intelligence.md
Labels: Guide

#30131 [DOCS-10786] Reference Table updates
  content/en/reference_tables/_index.md
  layouts/partials/reference_tables/ref-tables-cloud-object-storage.html
  layouts/partials/reference_tables/ref-tables-saas-integrations.html
  static/images/integrations_logos/amazon-s3_large.svg
  static/images/integrations_logos/azure-storage_large.svg
  static/images/integrations_logos/databricks_large.svg
  static/images/integrations_logos/google-cloud-storage_large.svg
  static/images/integrations_logos/salesforce_large.svg
  static/images/integrations_logos/servicenow_large.svg
  static/images/integrations_logos/snowflake_large.svg
  static/images/reference_tables/csv-uploads-placeholder.png
Labels: Architecture, Images

#29974 [DOCS-11197] Add permissions section
  content/en/integrations/guide/azure-manual-setup.md
Labels: Guide

#29946 Exception Replay - Update minimum tracer versions and GA banner
  content/en/error_tracking/backend/exception_replay.md
Labels: mergequeue-status: queued

#30203 (fix) Fix ap2 parameter
  assets/scripts/config/regions.config.js
Labels: Architecture

#30210 [DOCS-11317] Update compression for OP Datadog destination
  layouts/shortcodes/observability_pipelines/destination_settings/datadog.en.md
Labels: Architecture

#30038 [SVLS-5132] Add SST v3 deployment instructions to public documentation
  content/en/serverless/aws_lambda/installation/go.md
  content/en/serverless/aws_lambda/installation/nodejs.md
  content/en/serverless/aws_lambda/installation/python.md
Labels: editorial review

#30063 Update doc to include log collection for AWS Batch with ECS Fargate
  content/en/containers/guide/aws-batch-ecs-fargate.md
Labels: editorial review, Guide

#30130 Added Custom Metrics Billing Updates
  content/en/metrics/custom_metrics/historical_metrics.md
Labels: editorial review

#30189 add ap2 pl documentation
  assets/scripts/config/regions.config.js
  content/en/agent/guide/private-link.md
Labels: Architecture, Guide
