Repository DataDog/documentation, pull requests merged in 2025-07, with the labels that each got.

#30206 Add Websites Modules trust policy
  .github/chainguard/websites-modules.generate-go-mod.sts.yaml
Labels: Github

#30225 [PROF-11936] Remove deprecated profiling routes
  content/en/integrations/guide/source-code-integration.md
  content/en/profiler/profile_visualizations.md
  content/en/watchdog/insights.md
  content/es/integrations/guide/source-code-integration.md
  content/es/watchdog/insights.md
  content/fr/watchdog/insights.md
  content/ja/integrations/guide/source-code-integration.md
  content/ja/watchdog/insights.md
  content/ko/integrations/guide/source-code-integration.md
  content/ko/watchdog/insights.md
Labels: Guide

#24962 [DOCS-8243] Add session replay recorder explanation
  content/en/real_user_monitoring/session_replay/browser/_index.md
  content/en/real_user_monitoring/session_replay/mobile/_index.md
  static/images/real_user_monitoring/session_replay/mobile/how-it-works/incremental-content-only.mp4
  static/images/real_user_monitoring/session_replay/mobile/how-it-works/incremental-snapshots-change-position.mp4
  static/images/real_user_monitoring/session_replay/mobile/how-it-works/incremental-wireframe-disappears.mp4
  static/images/real_user_monitoring/session_replay/mobile/how-it-works/iteration-1-1.png
  static/images/real_user_monitoring/session_replay/mobile/how-it-works/iteration-2-1.png
  static/images/real_user_monitoring/session_replay/mobile/how-it-works/iteration-3-1.png
  static/images/real_user_monitoring/session_replay/mobile/how-it-works/iteration-4-1.png
  static/images/real_user_monitoring/session_replay/mobile/how-it-works/iteration-5-1.png
  static/images/real_user_monitoring/session_replay/mobile/how-it-works/iteration-6-1.png
  static/images/real_user_monitoring/session_replay/mobile/how-it-works/iteration-7-1.png
  static/images/real_user_monitoring/session_replay/mobile/how-it-works/iteration-final-1.png
  static/images/real_user_monitoring/session_replay/mobile/how-it-works/recording-algorithm-3.png
Labels: Images

#30245 Policy keys and values
  .github/chainguard/websites-modules.generate-go-mod.sts.yaml
Labels: Github

#30170 [ACTP-623] PAR network access requirements
  content/en/actions/private_actions/use_private_actions.md
Labels: mergequeue-status: queued

#30233 Add section on security policy for running PL containers with read-only root file system
  content/en/synthetics/troubleshooting/_index.md
Labels: mergequeue-status: removed

#30256 Update suggested next steps for RUM Funnels description
  content/en/real_user_monitoring/explorer/visualize.md
  static/images/real_user_monitoring/funnel_analysis/funnel-analysis-suggested-next-steps-1.png
Labels: Images

#30125 [DOCS-11327] Add note that throttle limit is per Worker
  layouts/shortcodes/observability_pipelines/processors/throttle.md
Labels: Architecture

#30261 Change card size in partial
  layouts/partials/cloud_cost/cost-integrations.html
Labels: Architecture

#30007 [DOCS-10759] CCM Commitment Programs
  config/_default/menus/main.en.yaml
  content/en/cloud_cost_management/planning/_index.md
  content/en/cloud_cost_management/planning/budgets.md
  content/en/cloud_cost_management/planning/commitment_programs.md
  static/images/cloud_cost/planning/commitments-explorer-3.png
  static/images/cloud_cost/planning/commitments-on-demand.png
  static/images/cloud_cost/planning/commitments-overview.png
  static/images/cloud_cost/planning/commitments-rds-costs-overview.png
  static/images/cloud_cost/planning/planning-commitments-overview.png
Labels: Architecture, Images

#30259 Add k8s and GCP recs to ccm recs docs
  content/en/cloud_cost_management/recommendations/_index.md
Labels: mergequeue-status: queued

#30221 Clarify docs about RUM without Limits Retention Filters
  content/en/real_user_monitoring/guide/retention_filter_best_practices.md
  content/en/real_user_monitoring/rum_without_limits/retention_filters.md
Labels: Guide, mergequeue-status: queued

#30172 Devin.ford/workflow updates
  .github/workflows/codeowner_review_status.yml
Labels: Github

#30056 [DOCS-10912] RUM View-Based Ownership
  config/_default/menus/main.en.yaml
  content/en/real_user_monitoring/ownership_of_views.md
  static/images/real_user_monitoring/ownership_of_views/ownership-application-management-2.png
  static/images/real_user_monitoring/ownership_of_views/ownership-sessions-explorer-1.png
Labels: Architecture, Images

#30315 Remove from search
  config/_default/menus/main.en.yaml
  content/en/real_user_monitoring/ownership_of_views.md
Labels: Architecture

#30314 adding US1-FED not supported banner
  config/_default/params.yaml
Labels: Architecture

#30320 Stefon.simmons/kics docs ws
  config/_default/config.yaml
  go.mod
  go.sum
  layouts/iac_security/list.html
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#27683 [PROF-11394] Graduate Ruby heap profiling from alpha to preview
  content/en/profiler/enabling/ruby.md
  content/en/profiler/enabling/supported_versions.md
  content/en/profiler/profile_types.md
Labels: mergequeue-status: removed

#30276 Remove documentation regarding CSM and daemonsets
  content/en/security/cloud_security_management/setup/agent/kubernetes.md
Labels: mergequeue-status: queued

#27860 Fix typo in logs archive documentation
  content/es/logs/log_configuration/archives.md
  content/fr/logs/log_configuration/archives.md
  content/ja/logs/log_configuration/archives.md
  content/ko/logs/log_configuration/archives.md
Labels: mergequeue-status: error

#29985 Adds examples for Log4j 2's JSON format log template layout
  content/en/logs/log_collection/java.md
Labels: editorial review, under_review

#30280 [DOCS-11274] Restructure and simplify OP setup docs
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/destinations/_index.md
  content/en/observability_pipelines/install_the_worker/_index.md
  content/en/observability_pipelines/processors/_index.md
  content/en/observability_pipelines/set_up_pipelines/_index.md
  content/en/observability_pipelines/sources/_index.md
  content/en/observability_pipelines/sources/amazon_data_firehose.md
  content/en/observability_pipelines/sources/amazon_s3.md
  content/en/observability_pipelines/sources/datadog_agent.md
  content/en/observability_pipelines/sources/fluent.md
  content/en/observability_pipelines/sources/google_pubsub.md
  content/en/observability_pipelines/sources/http_client.md
  content/en/observability_pipelines/sources/http_server.md
  content/en/observability_pipelines/sources/kafka.md
  content/en/observability_pipelines/sources/logstash.md
  content/en/observability_pipelines/sources/socket.md
  content/en/observability_pipelines/sources/splunk_hec.md
  content/en/observability_pipelines/sources/splunk_tcp.md
  content/en/observability_pipelines/sources/sumo_logic.md
  content/en/observability_pipelines/sources/syslog.md
  static/images/observability_pipelines/archive_log_pipeline.png
Labels: Architecture, Images

#30022 add apm trace id to llmobs span intake endpoint
  content/en/llm_observability/setup/api.md
Labels: mergequeue-status: rejected

#28707 [SDTEST-1673] Update audit trail events for Flaky Test Management
  content/en/account_management/audit_trail/events.md
Labels: mergequeue-status: queued

#30367 Prevent bots from crawling docs-staging
  config/_default/config.yaml
  layouts/robots.txt
Labels: Architecture

#30372 specify when releases move between support levels
  content/en/tracing/trace_collection/compatibility/python.md
Labels: mergequeue-status: queued

#30248 [DOCS-11243] Add site restriction
  config/_default/params.yaml
  content/en/integrations/guide/events-from-sns-emails.md
Labels: Architecture, Guide

#30334 Add access logs steps
  content/en/integrations/guide/storage-monitoring-setup.md
Labels: Guide

#30262 [DOCS-11374] Add parse xml image
  layouts/shortcodes/observability_pipelines/processors/parse_xml.md
  static/images/observability_pipelines/processors/xml-side-by-side.png
Labels: Architecture, Images

#30394 [DOCS-11307] Move Filebeat content in Logstash to a separate doc
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/sources/filebeat.md
  content/en/observability_pipelines/sources/logstash.md
Labels: Architecture

#30004 Set up pages for application security for java
  config/_default/params.yaml
  content/en/security/application_security/setup/_index.md
  content/en/security/application_security/setup/aws/fargate/_index.md
  content/en/security/application_security/setup/docker/_index.md
  content/en/security/application_security/setup/java.md
  content/en/security/application_security/setup/java/_index.md
  content/en/security/application_security/setup/java/aws-fargate.md
  content/en/security/application_security/setup/java/compatibility.md
  content/en/security/application_security/setup/java/docker.md
  content/en/security/application_security/setup/java/kubernetes.md
  content/en/security/application_security/setup/java/linux.md
  content/en/security/application_security/setup/java/macos.md
  content/en/security/application_security/setup/java/troubleshooting.md
  content/en/security/application_security/setup/java/windows.md
  content/en/security/application_security/setup/kubernetes/_index.md
  content/en/security/application_security/setup/linux/_index.md
  content/en/security/application_security/setup/macos/_index.md
  content/en/security/application_security/setup/windows/_index.md
  content/en/security/guide/aws_fargate_config_guide.md
  layouts/partials/app_and_api_protection/callout.html
  layouts/shortcodes/app_and_api_protection_java_overview.md
  layouts/shortcodes/app_and_api_protection_java_setup_options.md
  layouts/shortcodes/app_and_api_protection_navigation_menu.html
  layouts/shortcodes/app_and_api_protection_verify_setup.md
  layouts/shortcodes/appsec-remote-config-activation.en.md
Labels: Architecture, editorial review, Guide

#30429 Add views to CloudSec explorer docs
  content/en/security/cloud_security_management/identity_risks/_index.md
  content/en/security/cloud_security_management/misconfigurations/findings/_index.md
  static/images/security/csm/findings_page_2.png
  static/images/security/cspm/misconfigurations_explorer_4.png
  static/images/security/identity_risks/identity_risks_explorer_6.png
Labels: Images

#30255 Add new guide for cleaning up monitor clutter
  content/en/monitors/guide/_index.md
  content/en/monitors/guide/clean_up_monitor_clutter.md
  content/en/monitors/guide/monitor_best_practices.md
Labels: editorial review, Guide

#30312 Add site unsupported to bits_ai
  config/_default/params.yaml
  content/en/bits_ai/_index.md
  content/en/bits_ai/bits_ai_dev_agent.md
  content/en/bits_ai/bits_ai_sre/_index.md
Labels: Architecture

#30416 banner on integration guide pages
  layouts/integrations/single.html
Labels: Architecture

#30422 [docseng-32] read synthetics metadata
  layouts/shortcodes/get-metrics-from-git.html
Labels: Architecture

#30444 update service.datadog.yaml codeowners entry
  .github/CODEOWNERS
Labels: Github

#30450 Datadog plugin for JetBrains IDEs / Live Debugger docs update
  content/en/developers/ide_plugins/idea/live_debugger.md
  static/images/developers/ide_plugins/idea/live_debugger/edit-logpoint.png
  static/images/developers/ide_plugins/idea/live_debugger/new-logpoint.png
  static/images/developers/ide_plugins/idea/live_debugger/tool-window-tab.png
Labels: editorial review, Images, mergequeue-status: removed

#30484 Update ECS Fargate VM detection via agentless
  content/en/security/guide/aws_fargate_config_guide.md
Labels: editorial review, Guide

#30469 [DOCS-11477] Update OP Agent connection info
  layouts/shortcodes/observability_pipelines/log_source_configuration/datadog_agent.en.md
  layouts/shortcodes/observability_pipelines/log_source_configuration/datadog_agent_kubernetes.en.md
Labels: Architecture

#30488 Small edit to OP GCS destination doc
  layouts/shortcodes/observability_pipelines/configure_log_archive/google_cloud_storage/instructions.en.md
Labels: Architecture

#30492 Attacker Explorer renamed to Attackers Explorer
  config/_default/menus/main.en.yaml
  content/en/security/application_security/security_signals/attacker-explorer.md
  content/en/security/application_security/terms.md
Labels: Architecture

#30493 update action catalog links - [DOCSENG-41]
  layouts/actioncatalog/list.html
Labels: Architecture

#30395 DOCS-10753 - DSM - Centralized tracer version reqs in shortcode
  content/en/data_streams/setup/language/dotnet.md
  content/en/data_streams/setup/language/go.md
  content/en/data_streams/setup/language/java.md
  content/en/data_streams/setup/language/nodejs.md
  content/en/data_streams/setup/language/python.md
  content/en/data_streams/setup/technologies/azure_service_bus.md
  content/en/data_streams/setup/technologies/google_pubsub.md
  content/en/data_streams/setup/technologies/ibm_mq.md
  content/en/data_streams/setup/technologies/kafka.md
  content/en/data_streams/setup/technologies/kinesis.md
  content/en/data_streams/setup/technologies/rabbitmq.md
  content/en/data_streams/setup/technologies/sns.md
  content/en/data_streams/setup/technologies/sqs.md
  layouts/shortcodes/dsm-tracer-version.html
Labels: Architecture, editorial review

#30356 [CAP-2461] Update CustomResource config with complex types
  content/en/infrastructure/containers/configuration.md
  static/images/containers/explorer/crd_groupby.png
Labels: editorial review, Images

#30436 Update subscription filters note
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: Guide

#30491 allows subset in `product-availability` shortcode - [DOCSENG-40]
  assets/styles/components/_product-availability-labels.scss
  layouts/shortcodes/product-availability.html
Labels: Architecture

#30494 Add AWS file to docs repo Vale ini
  .vale.ini
Labels: editorial review

#30213 Adding mention of filtered logs and events in Software Catalog docs
  content/en/internal_developer_portal/software_catalog/entity_model/_index.md
Labels: mergequeue-status: rejected

#30456 Add page on init container resource calc
  content/en/tracing/guide/init_resource_calc.md
  content/en/tracing/trace_collection/automatic_instrumentation/single-step-apm/kubernetes.md
Labels: Guide

#30435 Update aca_serverless_init.md
  content/en/serverless/guide/aca_serverless_init.md
Labels: Guide

#30548 Remove duplicate link
  content/en/containers/monitoring/autoscaling.md
Labels: mergequeue-status: queued

#30510 [DJM-357] Add composer tab in DJM Airflow page
  content/en/data_jobs/airflow.md
Labels: mergequeue-status: queued

#30214 [DOCS-11234] Add actions limit details
  content/en/real_user_monitoring/browser/tracking_user_actions.md
Labels: mergequeue-status: removed

#29720 Update RUM sampling guide to account for RWOL
  content/en/real_user_monitoring/guide/best-practices-for-rum-sampling.md
Labels: Guide

#30470 Serverless > Azure App Services Linux > Update .NET instructions
  content/en/serverless/azure_app_services/_index.md
  content/en/serverless/azure_app_services/azure_app_services_linux.md
Labels: serverless, GAS

#30511 Update ring buffer size recommendation and filter datadog queries
  content/en/database_monitoring/guide/sql_extended_events.md
Labels: Guide, mergequeue-status: queued

#30566 BAA users cannot use Cross-Organization Visibility
  layouts/shortcodes/hipaa-customers.en.md
Labels: Architecture

#30527 Document RUM / LLMObs Link
  config/_default/menus/main.en.yaml
  content/en/real_user_monitoring/correlate_with_other_telemetry/llm_observability/_index.md
Labels: Architecture, editorial review

#30508 Add documentation for LLM Obs Insights
  content/en/llm_observability/_index.md
  static/images/llm_observability/llm-insights.png
Labels: Images

#30577 [DOCS-11513] Add site note
  content/en/integrations/guide/aws-manual-setup.md
Labels: Guide

#30252 Set up pages for application security for Ruby
  content/en/security/application_security/setup/ruby.md
  content/en/security/application_security/setup/ruby/_index.md
  content/en/security/application_security/setup/ruby/aws-fargate.md
  content/en/security/application_security/setup/ruby/compatibility.md
  content/en/security/application_security/setup/ruby/docker.md
  content/en/security/application_security/setup/ruby/kubernetes.md
  content/en/security/application_security/setup/ruby/linux.md
  content/en/security/application_security/setup/ruby/macos.md
  content/en/security/application_security/setup/ruby/troubleshooting.md
  layouts/shortcodes/app-and-api-protection-ruby-overview.md
  layouts/shortcodes/app-and-api-protection-ruby-setup-options.md
Labels: Architecture, editorial review

#30424 [DOCS-11406] Clean up inaccurate mentions of metrics
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/browser/data_collected.md
  content/en/real_user_monitoring/browser/frustration_signals.md
  content/en/real_user_monitoring/browser/monitoring_page_performance.md
  content/en/real_user_monitoring/browser/monitoring_resource_performance.md
  content/en/real_user_monitoring/browser/optimizing_performance/_index.md
  content/en/real_user_monitoring/browser/tracking_user_actions.md
  content/en/real_user_monitoring/explorer/watchdog_insights.md
  content/en/real_user_monitoring/guide/compute-apdex-with-rum-data.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/android/data_collected.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/flutter/data_collected.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/ios/data_collected.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/kotlin_multiplatform/data_collected.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/mobile_vitals/_index.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/react_native/data_collected.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/roku/data_collected.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/unity/data_collected.md
  content/en/real_user_monitoring/platform/dashboards/performance.md
  content/en/real_user_monitoring/platform/dashboards/testing_and_deployment.md
  content/en/real_user_monitoring/platform/generate_metrics.md
Labels: Guide

#29931 [AGNTLOG-229 Multiline features FAQ
  content/en/agent/logs/advanced_log_collection.md
Labels: mergequeue-status: queued

#30607 Add Podman integration page for podmanreceiver
  config/_default/menus/main.en.yaml
  content/en/opentelemetry/integrations/_index.md
  content/en/opentelemetry/integrations/podman_metrics.md
  static/images/opentelemetry/collector_exporter/podman_metrics.png
Labels: Architecture, Images

#30605 Document On-Call in Slack
  content/en/service_management/on-call/pages.md
  content/en/service_management/on-call/routing_rules.md
  static/images/service_management/oncall/page_in_slack_or_ms_teams.png
  static/images/service_management/oncall/page_representation_in_slack.png
Labels: Images

#30589 [SDTEST-2055] Add documentation for AI flaky test categorization
  content/en/tests/flaky_management/_index.md
Labels: editorial review

#30509 Add custom cluster documentation section
  content/en/security/application_security/security_signals/attacker_clustering.md
  static/images/security/application_security/threats/create-custom-cluster.png
  static/images/security/application_security/threats/custom-clusters.png
Labels: Images

#30567 [SVLS-7120] Add instructions for using a Github token in .NET Serverless-Init Install Script
  layouts/shortcodes/svl-init-dotnet.en.md
Labels: Architecture

#30461 update `multifilter-search` shortcode to handle links in the data- [DOCSENG-44]
  layouts/shortcodes/multifilter-search.html
Labels: Architecture

#30635 Mobile App Notification Center.md
  content/en/mobile/_index.md
  static/images/service_management/mobile/android_notification_center.png
  static/images/service_management/mobile/ios_notification_center.png
Labels: Images, mergequeue-status: queued

#30640 llm reorg post-rebase
  config/_default/menus/main.en.yaml
  content/en/llm_observability/instrumentation/_index.md
  content/en/llm_observability/instrumentation/api.md
  content/en/llm_observability/instrumentation/auto_instrumentation.md
  content/en/llm_observability/instrumentation/custom_instrumentation.md
  content/en/llm_observability/instrumentation/sdk.md
Labels: Architecture

#30637 nelreda1/atlassian-rovo
  layouts/robots.txt
Labels: Architecture

#30641 Update recommended maximum database instances
  layouts/shortcodes/dbm-mysql-agent-config-examples.en.md
  layouts/shortcodes/dbm-postgres-agent-config-examples.en.md
  layouts/shortcodes/dbm-sqlserver-agent-config-examples.en.md
Labels: Architecture

#30659 Update environment-variables.md using comma as a separator
  content/en/agent/guide/environment-variables.md
Labels: Guide

#30383 Live Call Routing Documentation
  config/_default/menus/main.en.yaml
  config/_default/menus/main.es.yaml
  config/_default/menus/main.fr.yaml
  config/_default/menus/main.ja.yaml
  config/_default/menus/main.ko.yaml
  content/en/service_management/on-call/_index.md
  content/en/service_management/on-call/triggering_pages/_index.md
  content/en/service_management/on-call/triggering_pages/live_call_routing.md
  content/es/service_management/on-call/_index.md
  content/ja/service_management/on-call/_index.md
  content/ko/service_management/on-call/_index.md
Labels: Architecture, editorial review

#29207 Aurora autodiscovery
  content/en/database_monitoring/guide/aurora_autodiscovery.md
  content/en/database_monitoring/guide/rds_autodiscovery.md
Labels: Guide

#30662 llmobs: guide users on next steps after quickstart
  config/_default/menus/main.en.yaml
  content/en/llm_observability/instrumentation/api.md
  content/en/llm_observability/instrumentation/custom_instrumentation.md
  content/en/llm_observability/quickstart.md
Labels: Architecture

#28743 [CONTP-695] add csi driver documentation
  config/_default/menus/main.en.yaml
  content/en/containers/cluster_agent/admission_controller.md
  content/en/containers/csi_driver/_index.md
  content/en/containers/kubernetes/_index.md
Labels: Architecture, editorial review

#30664 Add share budget images
  content/en/cloud_cost_management/planning/budgets.md
  static/images/cloud_cost/budgets/budget-share-from-dashboard.png
  static/images/cloud_cost/budgets/budgets-widgets.png
Labels: Images

#30648 fixes to glossary scrolling
  assets/scripts/components/instantsearch.js
  assets/scripts/datadog-docs.js
Labels: Architecture, mergequeue-status: removed

#30238 Best practices for native iOS Android tracing
  content/en/real_user_monitoring/guide/_index.md
  content/en/real_user_monitoring/guide/best-practices-tracing-native-ios-android-apps.md
Labels: editorial review, Guide

#30427 Index ownership of views
  config/_default/menus/main.en.yaml
  content/en/real_user_monitoring/ownership_of_views.md
Labels: Architecture

#29624 CCM Anomalies updates
  content/en/cloud_cost_management/anomalies.md
  static/images/cloud_cost/anomalies/anomalies-create-monitor.png
  static/images/cloud_cost/anomalies/anomalies-overview.png
  static/images/cloud_cost/anomalies/anomalies-take-action.png
  static/images/cloud_cost/anomalies/anomalies-watchdog-popover-show.png
  static/images/cloud_cost/anomalies/anomalies-watchdog.png
  static/images/cloud_cost/anomalies/cost_anomalies-investigation-workflow.png
  static/images/cloud_cost/anomalies/cost_anomalies_new_list.png
  static/images/cloud_cost/anomalies/cost_anomalies_side-panel_is-unexpected-1.png
Labels: Images

#30705 spec processing improvement
  assets/scripts/build-api-pages.js
  assets/scripts/tests/build-api-pages.test.js
  content/en/api/v1/aws-logs-integration/examples.json
  content/en/api/v1/dashboards/examples.json
  content/en/api/v1/key-management/examples.json
  content/en/api/v1/monitors/examples.json
  content/en/api/v1/slack-integration/examples.json
  content/en/api/v2/cloud-cost-management/examples.json
  content/en/api/v2/cloud-network-monitoring/examples.json
  content/en/api/v2/on-call-paging/examples.json
  content/en/api/v2/on-call/examples.json
  content/en/api/v2/scim/examples.json
  content/en/api/v2/security-monitoring/examples.json
Labels: Architecture

#30303 [APPSEC-57941] AAP Go exhaustive docs
  content/en/security/application_security/setup/go.md
  content/en/security/application_security/setup/go/_index.md
  content/en/security/application_security/setup/go/setup.md
Labels: editorial review

#30306 [APPSEC-58034] AAP for Go Dockerfiles
  content/en/security/application_security/setup/go/dockerfile.md
Labels: editorial review

#30307 [APPSEC-58246] AAP for Go Troubleshooting
  content/en/security/application_security/setup/go/troubleshooting.md
Labels: editorial review

#30586 Revamp SCI Docs with GitLab, ADO, and PR Comments Content
  content/en/integrations/guide/source-code-integration.md
  static/images/integrations/guide/source_code_integration/ci-visibility-pr-comment.png
  static/images/integrations/guide/source_code_integration/code-security-inline-pr-comment.png
  static/images/integrations/guide/source_code_integration/code-security-summary-pr-comment.png
  static/images/integrations/guide/source_code_integration/test-optimization-pr-comment.png
Labels: editorial review, Images, Guide

#30701 Add TLS option to Datadog Agent source
  layouts/shortcodes/observability_pipelines/source_settings/datadog_agent.en.md
Labels: Architecture

#30658 show websites-sources `aws_permissions` shortcode - [DOCSENG-51]
  config/_default/config.yaml
  layouts/shortcodes/aws-permissions.en.md
Labels: Architecture

#30738 Fix link in Source Code Integration docs
  content/en/integrations/guide/source-code-integration.md
Labels: Guide

#30735 Update remote agent management prerequisites section
  content/en/agent/fleet_automation/remote_management.md
Labels: mergequeue-status: queued

#30737 Bump terraform module version to 3.2.0 and make all layer versions use shortcuts
  content/en/serverless/aws_lambda/installation/dotnet.md
  content/en/serverless/aws_lambda/installation/go.md
  content/en/serverless/aws_lambda/installation/java.md
  content/en/serverless/aws_lambda/installation/nodejs.md
  content/en/serverless/aws_lambda/installation/python.md
  content/es/serverless/aws_lambda/installation/dotnet.md
  content/es/serverless/aws_lambda/installation/java.md
  content/es/serverless/aws_lambda/installation/nodejs.md
  content/es/serverless/aws_lambda/installation/python.md
  content/fr/serverless/aws_lambda/installation/java.md
  content/ja/serverless/aws_lambda/installation/nodejs.md
  content/ja/serverless/aws_lambda/installation/python.md
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#30747 Add a new page for Agent Tags
  config/_default/menus/main.en.yaml
  content/en/agent/logs/_index.md
  content/en/agent/logs/advanced_log_collection.md
  content/en/agent/logs/agent_tags.md
Labels: Architecture, editorial review

#30727 [DOCS-11635] Update Getting Started w/ CT page to include new feature…
  content/en/getting_started/continuous_testing/_index.md
  static/images/continuous_testing/copy_cli_command.png
Labels: WORK IN PROGRESS, Images

#30615 Aleks/totp-mfa-recommendation
  content/en/synthetics/guide/browser-tests-totp.md
Labels: Guide

#30706 [APPSEC-58437] Gateway API for Kubernetes getting started
  content/en/security/application_security/setup/_index.md
  content/en/security/application_security/setup/gateway-api.md
  layouts/shortcodes/appsec-integration.html
  static/images/integrations_logos/gateway-api_avatar.svg
Labels: Architecture, editorial review, Images

#30039 [APM][Flare] Add a note in case tracer flare is missing
  content/en/tracing/troubleshooting/tracer_debug_logs.md
Labels: mergequeue-status: queued

#30700 [DOCS-11126] Add note about Splunk HEC token env var
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/destination_env_vars/splunk_hec.en.md
  layouts/shortcodes/observability_pipelines/prerequisites/splunk_hec_destination_only.en.md
Labels: Architecture

#30483 Update OP Amazon S3 destination
  layouts/shortcodes/observability_pipelines/destination_settings/datadog_archives_amazon_s3.en.md
Labels: Architecture

#30759 Update Cloud Security notification info
  config/_default/menus/main.en.yaml
  content/en/getting_started/security/cloud_security_management.md
  content/en/security/cloud_security_management/misconfigurations/compliance_rules.md
  content/en/security/cloud_security_management/misconfigurations/signals_explorer.md
  content/en/security/notifications/_index.md
  content/en/security/notifications/rules.md
  content/en/security/upcoming_changes_notification_rules.md
  content/en/security/workload_protection/security_signals.md
  static/images/security/notification-rules-overview-1.png
Labels: Architecture, Images

#30780 Update Serverless layer versions
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture, serverless

#30786 (maint) Fix collapsable expand setting
  layouts/shortcodes/collapse-content.html
Labels: Architecture

#30761 [AGENTRUN-588] Update FIPS proxy version references to 1.1.14
  content/en/agent/faq/fips_proxy.md
Labels: FAQ

#30788 [bug] Fix tooltip.js race condition
  assets/scripts/components/tooltip.js
Labels: Architecture

#30192 Add Express to supported Node.js frameworks list
  content/en/tracing/code_origins/_index.md
Labels: mergequeue-status: queued

#30725 DOCS-11576: LLM Obs span/trace query page
  config/_default/menus/main.en.yaml
  content/en/llm_observability/monitoring/querying.md
Labels: Architecture, editorial review

#30714 Agent Usage - MacOS docs
  content/en/agent/basic_agent_usage/osx.md
  static/images/agent/basic_agent_usage/macos_img_installation.png
Labels: Images

#30800 [CLOUDS_6404] feat(doc): add autosubscription limitation language
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: Guide

#30760 PANA - Profiles and segmentation
  config/_default/menus/main.en.yaml
  content/en/product_analytics/profiles.md
  content/en/product_analytics/segmentation/_index.md
  static/images/product_analytics/account_profileui.png
  static/images/product_analytics/add_attribute2_button.png
  static/images/product_analytics/add_table_and_key.png
  static/images/product_analytics/choose_integration.png
  static/images/product_analytics/choose_ref_table.png
  static/images/product_analytics/integration_page3.png
  static/images/product_analytics/query_custom_attribute_analytics.png
  static/images/product_analytics/select_integration_attributes.png
  static/images/product_analytics/user_profile2ui.png
Labels: Architecture, Images

#30811 Remove Overview Pages from TOC
  config/_default/menus/main.en.yaml
  content/en/getting_started/internal_developer_portal/_index.md
Labels: Architecture

#30774 Update tag_pipelines to include backfill date
  content/en/cloud_cost_management/tag_pipelines.md
Labels: mergequeue-status: queued

#30809 [DJM Databricks] Update docs to clarify IP access list level
  content/en/data_jobs/databricks.md
Labels: mergequeue-status: queued

#30798 Add Code Coverage product docs
  config/_default/menus/main.en.yaml
  config/_default/params.yaml
  content/en/code_coverage/_index.md
  content/en/code_coverage/setup.md
  content/en/tests/code_coverage.md
  content/en/tests/setup/junit_xml.md
  static/images/code_coverage/pr_details.png
Labels: Architecture, editorial review, Images

#30804 Docs11568/update metrics info
  content/en/dashboards/guide/context-links.md
  content/en/dashboards/widgets/_index.md
  content/en/dashboards/widgets/timeseries.md
  content/en/metrics/overview.md
  content/en/metrics/types.md
  content/en/metrics/units.md
  static/images/metrics/units/metrics_info.png
  static/images/metrics/units/metrics_units.png
Labels: WORK IN PROGRESS, Images, Guide

#30835 removing Terraform card
  layouts/partials/code_security/languages-getting-started.html
Labels: Architecture

#30613 [DOCS-11571] Add multiple app registrations info
  content/en/integrations/guide/azure-troubleshooting.md
Labels: Guide

#30807 [DOCS-10730] Update OP MS Sentinel doc
  layouts/shortcodes/observability_pipelines/destination_settings/microsoft_sentinel.md
Labels: Architecture
