Repository DataDog/documentation, pull requests merged in 2025-02, with the labels that each got.

#27391 fix image
  layouts/integrations/_markup/render-image.html
Labels: Architecture, mergequeue-status: in_progress

#27399 Update _index.md | make it clearer that facets value include restricted tests
  content/en/synthetics/explore/_index.md
Labels: mergequeue-status: in_progress

#27127 [Profiling] Update .NET profiling details
  content/en/profiler/connect_traces_and_profiles.md
  content/en/profiler/enabling/dotnet.md
  content/en/profiler/profile_types.md
  content/en/profiler/profile_visualizations.md
Labels: mergequeue-status: in_progress

#27385 updating CSM rules doc with policy info
  config/_default/menus/main.en.yaml
  content/en/security/threats/workload_security_rules/custom_rules.md
Labels: Architecture

#27156 Update v3-0.md
  content/en/service_catalog/service_definitions/v3-0.md
Labels: mergequeue-status: in_progress

#27379 Update v3-0.md
  content/en/service_catalog/service_definitions/_index.md
  content/en/service_catalog/service_definitions/v3-0.md
Labels: mergequeue-status: in_progress

#27421 Fix typo in documentation
  content/en/synthetics/troubleshooting/_index.md
Labels: mergequeue-status: in_progress

#27410 logs.processed and logs.sent metrics will not be emitted
  content/en/data_security/agent.md
Labels: mergequeue-status: in_progress

#27411 Adding Code Security to Security/Application Security Pages + Copy Edits
  config/_default/menus/main.en.yaml
  content/en/getting_started/application_security/_index.md
  content/en/getting_started/code_security/_index.md
  content/en/security/_index.md
  content/en/security/application_security/_index.md
  content/en/security/application_security/how-appsec-works.md
  content/en/security/application_security/troubleshooting.md
  content/en/security/code_security/_index.md
  content/en/security/code_security/dev_tool_int/github_pull_requests/_index.md
  content/en/security/code_security/guides/_index.md
  content/en/security/code_security/guides/automate_risk_reduction_sca.md
  content/en/security/code_security/iast/_index.md
  content/en/security/code_security/iast/setup/_index.md
  content/en/security/code_security/software_composition_analysis/_index.md
  content/en/security/code_security/software_composition_analysis/setup_static/_index.md
  content/en/security/code_security/static_analysis/_index.md
  content/en/security/code_security/static_analysis/setup/_index.md
  content/en/security/code_security/troubleshooting/_index.md
Labels: Architecture, mergequeue-status: in_progress

#27412 Fix capitalisation ingestion_controls.md
  content/en/tracing/trace_pipeline/ingestion_controls.md
Labels: mergequeue-status: in_progress

#27223 Add files via upload
  content/en/monitors/guide/_index.md
  content/en/monitors/guide/notification-message-best-practices.md
  static/images/monitors/guide/notification_message_best_practices/monitor_notification_message.png
  static/images/monitors/guide/notification_message_best_practices/query_parameters.png
Labels: editorial review, Images, Guide, mergequeue-status: in_progress

#27420 DOCS-9964 Update threat intelligence link to app
  content/en/security/application_security/threats/threat-intelligence.md
Labels: mergequeue-status: in_progress

#27422 Update cost_details.md
  content/en/account_management/plan_and_usage/cost_details.md
Labels: mergequeue-status: in_progress

#27382 Add content for new notebook page
  config/_default/params.yaml
  content/en/notebooks/_index.md
  content/en/notebooks/notebooks_legacy.md
  content/en/notebooks/notebooks_new.md
  static/images/notebooks/notebooks_new/new_legacy_notebook_dropdown.png
  static/images/notebooks/notebooks_new/notebook_tags.png
  static/images/notebooks/notebooks_new/slash_command_menu.png
Labels: Architecture, editorial review, Images, mergequeue-status: in_progress

#27427 Fix invalid argument in KMP example
  content/en/real_user_monitoring/mobile_and_tv_monitoring/kotlin_multiplatform/setup.md
Labels: mergequeue-status: in_progress

#27419 update integration docs
  content/en/developers/integrations/check_references.md
Labels: mergequeue-status: in_progress

#27429 Release new java layer version.
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture, mergequeue-status: in_progress

#27430 content update
  content/en/integrations/guide/storage-monitoring-setup.md
Labels: Guide, mergequeue-status: in_progress

#27369 Updated Metrics Summary page to include the new Related Assets Facet
  content/en/metrics/summary.md
Labels: mergequeue-status: in_progress

#27440 [test optimization] Remove preview tag from Early Flake Detection
  content/en/tests/flaky_test_management/early_flake_detection.md
Labels: mergequeue-status: in_progress

#27259 Updates to DI Docs Main Page for Node.js and Ruby Limited Previews
  content/en/dynamic_instrumentation/_index.md
  layouts/partials/dynamic_instrumentation/dynamic-instrumentation-languages.html
  static/images/integrations_logos/nodejs-preview.png
  static/images/integrations_logos/ruby-preview.png
Labels: Architecture, Images, mergequeue-status: in_progress

#27439 [docs] Fix AP1 browser-intake endpoint
  content/en/logs/log_collection/_index.md
  content/es/logs/log_collection/_index.md
  content/fr/logs/log_collection/_index.md
  content/ja/logs/log_collection/_index.md
  content/ko/logs/log_collection/_index.md
Labels: mergequeue-status: in_progress

#27441 Fix table formatting
  content/en/notebooks/notebooks_new.md
Labels: mergequeue-status: in_progress

#27438 [Test Optimization] Remove Preview warning to the Go library
  content/en/tests/code_coverage.md
  content/en/tests/flaky_test_management/auto_test_retries.md
  content/en/tests/flaky_test_management/early_flake_detection.md
  content/en/tests/setup/go.md
  content/en/tests/test_impact_analysis/setup/go.md
Labels: mergequeue-status: in_progress

#27437 Update Kotlin Multiplatform SDK documentation for 0.5.0 release
  content/en/real_user_monitoring/mobile_and_tv_monitoring/kotlin_multiplatform/integrated_libraries.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/kotlin_multiplatform/setup.md
Labels: mergequeue-status: in_progress

#27445 Rename traceSamplingRate to traceSampleRate in Kotlin Multiplatform SDK documentation
  content/en/real_user_monitoring/mobile_and_tv_monitoring/kotlin_multiplatform/integrated_libraries.md
  content/en/real_user_monitoring/platform/connect_rum_and_traces.md
Labels: mergequeue-status: in_progress

#27446 Update v3-0.md
  content/en/service_catalog/service_definitions/v3-0.md
Labels: mergequeue-status: in_progress

#27442 Fix broken context variables link
  content/en/service_management/workflows/build.md
Labels: mergequeue-status: in_progress

#27448 [reporting, CRP-1138, DBNBK-246] Remove govcloud reporting warning
  content/en/dashboards/sharing/scheduled_reports.md
Labels: mergequeue-status: in_progress

#27452 Update latest-lambda-layer-version.html
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture, mergequeue-status: in_progress

#27447 Bump AAS-WRAPPER to version v1.10.15
  content/en/serverless/azure_app_services/azure_app_services_linux.md
Labels: mergequeue-status: in_progress

#27051 dgreen15/Update create_entries.md
  content/en/service_catalog/customize/create_entries.md
  content/en/service_catalog/service_definitions/_index.md
Labels: mergequeue-status: in_progress

#26763 API Catalog -> Service Catalog Migration
  config/_default/menus/main.en.yaml
  content/en/administrators_guide/plan.md
  content/en/api_catalog/_index.md
  content/en/api_catalog/add_entries.md
  content/en/api_catalog/add_metadata.md
  content/en/api_catalog/api_catalog_api.md
  content/en/api_catalog/endpoint_discovery.md
  content/en/api_catalog/explore_apis.md
  content/en/api_catalog/monitor_apis.md
  content/en/api_catalog/owners_and_tags.md
  content/en/api_catalog/troubleshoot.md
  content/en/getting_started/service_catalog/_index.md
  content/en/metrics/summary.md
  content/en/security/application_security/how-appsec-works.md
  content/en/service_catalog/_index.md
  content/en/service_catalog/apis.md
  content/en/service_catalog/customize/_index.md
  content/en/service_catalog/customize/create_entries.md
  content/en/service_catalog/endpoints/_index.md
  content/en/service_catalog/endpoints/explore_endpoints.md
  content/en/service_catalog/endpoints/monitor_endpoints.md
  content/en/service_catalog/manage.md
  content/en/service_catalog/service_definitions/_index.md
  content/en/service_catalog/troubleshooting.md
  content/en/service_catalog/use_cases/streamlining-development-lifecycle-with-ci-visibility.md
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/platform/test_coverage/_index.md
  content/en/tracing/services/resource_page.md
  content/en/tracing/services/service_page.md
  static/images/tracing/api_catalog/add-metadata.png
  static/images/tracing/service_catalog/definition-section.png
  static/images/tracing/service_catalog/definition.png
  static/images/tracing/service_catalog/endpoint-details.png
  static/images/tracing/service_catalog/endpoints-list.png
  static/images/tracing/service_catalog/monitors.png
  static/images/tracing/service_catalog/scope-data.png
  static/images/tracing/service_catalog/select-component.png
Labels: Architecture, editorial review, Images, mergequeue-status: in_progress

#27052 Add files via upload
  content/en/service_catalog/use_cases/validating-service-definition.md
  static/images/tracing/service_catalog/github_error_event.png
Labels: Images, mergequeue-status: in_progress

#27460 Update java compatibility for Ignite and add documentation for cassandra keyspace extraction
  content/en/tracing/trace_collection/compatibility/java.md
  content/en/tracing/trace_collection/library_config/java.md
Labels: mergequeue-status: in_progress

#27456 [DJM] Logs setup guidelines on K8s
  content/en/data_jobs/kubernetes.md
Labels: mergequeue-status: in_progress

#27402 [APM] Update runtime metrics preview notice for Node.js and Ruby libraries
  content/en/tracing/metrics/runtime_metrics/nodejs.md
  content/en/tracing/metrics/runtime_metrics/ruby.md
Labels: mergequeue-status: in_progress

#27245 Datadog for Intune Documentation
  config/_default/menus/main.en.yaml
  content/en/mobile/datadog_for_intune.md
Labels: Architecture, mergequeue-status: in_progress

#27462 Update validating-service-definition.md
  content/en/service_catalog/use_cases/validating-service-definition.md
Labels: mergequeue-status: in_progress

#27465 [DOCS] Tweak Template Syntax-related docs for OP
  content/en/observability_pipelines/destinations/_index.md
Labels: mergequeue-status: in_progress

#27414 [Profiling .NET] Update the .NET profiling doc to support Single Step APM Instrumentation
  content/en/profiler/enabling/dotnet.md
  content/en/profiler/profiler_troubleshooting/dotnet.md
Labels: mergequeue-status: in_progress

#27464 Snowflake CCM Object Tags Docs
  content/en/cloud_cost_management/saas_costs.md
Labels: mergequeue-status: in_progress

#27466 Review preview from CCM multisource
  content/en/cloud_cost_management/multisource_querying/_index.md
Labels: mergequeue-status: in_progress

#27470 [serverless] bump version
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture, mergequeue-status: in_progress

#27246 [DJM-585] Add logs env var in code snippet - EMR
  content/en/data_jobs/emr.md
Labels: mergequeue-status: in_progress

#27443 [INA-6626] Update incident management settings and analytics docs to reflect timestamp overrides
  content/en/service_management/incident_management/analytics.md
  content/en/service_management/incident_management/incident_settings/information.md
Labels: mergequeue-status: in_progress

#27451 clarify pylons is only in dd-trace-py 1.x
  content/en/tracing/trace_collection/compatibility/python.md
Labels: mergequeue-status: in_progress

#27477 fix broken link to Code Sec setup page
  content/en/security/code_security/software_composition_analysis/_index.md
Labels: mergequeue-status: in_progress

#27459 Update codeowners for Agent Shared Components
  .github/CODEOWNERS
Labels: Github, mergequeue-status: in_progress

#27481 [DBNBK-207, CRP-1288] private slack channels are also supported
  content/en/dashboards/sharing/scheduled_reports.md
Labels: mergequeue-status: in_progress

#27473 [ms-teams] - add gov dashboard image
  static/images/integrations/microsoft_teams/dashboard_share_gov.png
Labels: Images, mergequeue-status: in_progress

#27449 Remove api-clients from CODEOWNERS.
  .github/CODEOWNERS
Labels: Github, mergequeue-status: in_progress

#27433 Add note about deploy time to README.md
  README.md
Labels: mergequeue-status: in_progress

#27488 [Docs] Update OP docs for fallback template syntax behavior for Splunk source_type field
  content/en/observability_pipelines/destinations/_index.md
Labels: mergequeue-status: in_progress

#27472 (Agent) Update requirements for remote management
  content/en/agent/fleet_automation/remote_management.md
Labels: mergequeue-status: in_progress

#27487 greg.saville/update_jit_and_role_mapping_docs
  content/en/account_management/saml/mapping.md
Labels: mergequeue-status: in_progress

#27493 Adjustments to the 2020 description of wallclock profiling for the JVM
  content/en/profiler/profile_types.md
Labels: profiler, mergequeue-status: in_progress

#27492 Remove alert on permissions for copy paste
  content/en/dashboards/widgets/_index.md
Labels: mergequeue-status: in_progress

#27153 [CASEM-1642] Add Granular Access Control in case Management
  content/en/account_management/rbac/granular_access.md
  content/en/service_management/case_management/projects.md
  content/en/service_management/case_management/settings.md
Labels: editorial review, mergequeue-status: in_progress

#27495 add CCM image for new CTA in monitors
  static/images/monitors/monitor_types/cloud_cost/explorer_new.png
Labels: Images, mergequeue-status: in_progress

#27474 Add OpenTelemetry API instructions for custom test tags
  content/en/tests/setup/java.md
Labels: mergequeue-status: in_progress

#27478 update overview statement to include Node.js SDKs
  content/en/llm_observability/setup/api.md
Labels: editorial review

#27505 Update cloud_cost.md
  content/en/monitors/types/cloud_cost.md
Labels: mergequeue-status: in_progress

#27490 Add troubleshooting item for Flutter
  content/en/real_user_monitoring/mobile_and_tv_monitoring/flutter/troubleshooting.md
Labels: mergequeue-status: in_progress

#27324 [MLOB] reflect python openai/langchain tracing support versions
  content/en/llm_observability/setup/auto_instrumentation.md
Labels: mergequeue-status: in_progress

#27424 Update manual_instrumentation.md adding .Net entry
  content/en/data_streams/manual_instrumentation.md
Labels: mergequeue-status: in_progress

#27504 Remove references to the JetBrains Toolbox
  content/en/developers/ide_plugins/idea/_index.md
Labels: mergequeue-status: in_progress

#27502 Fix anchors in profiler troubleshooting docs
  content/en/profiler/profiler_troubleshooting/dotnet.md
  content/en/profiler/profiler_troubleshooting/java.md
  content/en/profiler/profiler_troubleshooting/python.md
  content/en/profiler/profiler_troubleshooting/ruby.md
Labels: mergequeue-status: in_progress

#27444 Add Next.js-specific bundling information
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/nodejs.md
Labels: editorial review, mergequeue-status: in_progress

#27471 Add documentation for the new Sheets pivot table visualization feature
  content/en/sheets/_index.md
Labels: mergequeue-status: in_progress

#27512 [K9VULN-3470] docs(code-analysis): remove deprecated fields in Code Analysis' GitHub actions
  content/en/security/code_security/software_composition_analysis/setup_static/_index.md
  content/es/getting_started/code_analysis/_index.md
  content/ja/continuous_integration/static_analysis/github_actions.md
  content/ja/getting_started/code_analysis/_index.md
  content/ko/continuous_integration/static_analysis/github_actions.md
Labels: mergequeue-status: in_progress

#27506 Update _index.md
  content/en/observability_pipelines/set_up_pipelines/_index.md
Labels: mergequeue-status: in_progress

#27498 Update android.md
  content/en/logs/log_collection/android.md
Labels: mergequeue-status: removed

#27350 Clarify expected agentless costs
  content/en/security/cloud_security_management/agentless_scanning/deployment_methods.md
Labels: mergequeue-status: in_progress

#27513 Update Doc Link
  content/en/ddsql_editor/reference_tables.md
Labels: mergequeue-status: waiting

#27514 [DOCS-10009] add rule version
  content/en/security/cloud_siem/detection_rules/_index.md
  content/en/security/detection_rules/_index.md
  static/images/security/security_monitoring/detection_rules/rule_version_history_20250207.png
Labels: Images, mergequeue-status: in_progress

#27453 [DOCS-9937] Add ATT&CK Map doc
  config/_default/menus/main.en.yaml
  content/en/security/cloud_siem/detection_rules/attack_map.md
Labels: Architecture, WORK IN PROGRESS, mergequeue-status: in_progress

#27511 Update collecting_browser_errors.md
  content/en/real_user_monitoring/browser/collecting_browser_errors.md
Labels: mergequeue-status: in_progress

#27509 add list of providers
  content/en/watchdog/faulty_cloud_saas_api_detection.md
Labels: mergequeue-status: in_progress

#27503 Add a Node.js profiler troubleshooting page
  config/_default/menus/main.en.yaml
  content/en/profiler/profiler_troubleshooting/nodejs.md
Labels: Architecture, mergequeue-status: in_progress

#27518 Add section for AWS Management account
  content/en/integrations/guide/aws-organizations-setup.md
Labels: Guide, mergequeue-status: in_progress

#27516 Remove deprecated HPA /v2beta1 samples for cleanup
  content/en/containers/guide/cluster_agent_autoscaling_metrics.md
Labels: Guide, mergequeue-status: in_progress

#27527 remove signup link
  content/en/service_management/service_level_objectives/ootb_dashboard.md
Labels: mergequeue-status: in_progress

#26999 [DOCS-9742] Add GrowthBook feature flag integration
  content/en/real_user_monitoring/guide/setup-feature-flag-data-collection.md
  layouts/partials/rum/rum-feature-flag-tracking.html
  static/images/integrations_logos/growthbook_large.svg
Labels: Architecture, Images, Guide, mergequeue-status: in_progress

#27536 Add NodeJS troubleshooting tile
  layouts/partials/profiling/profiling-troubleshooting.html
Labels: Architecture, mergequeue-status: in_progress

#27529 Fix path notation anchor links
  layouts/shortcodes/observability_pipelines/processors/remap.en.md
Labels: Architecture, mergequeue-status: in_progress

#27145 [DOCS-9826] azure container apps sidecar
  content/en/serverless/azure_container_apps/_index.md
  content/en/serverless/guide/_index.md
  content/en/serverless/guide/aca_serverless_init.md
  static/images/serverless/azure_container_apps/aca-volume-mount.png
Labels: editorial review, Images, Guide, mergequeue-status: in_progress

#27535 Remove beta banner for Python runtime metrics
  content/en/tracing/metrics/runtime_metrics/python.md
Labels: mergequeue-status: in_progress

#27540 update blogs on further reading links
  content/en/monitors/status/status_page.md
  content/en/observability_pipelines/_index.md
  content/en/sensitive_data_scanner/_index.md
Labels: mergequeue-status: in_progress

#27544 Add comments to reference table code sample
  content/en/reference_tables/_index.md
Labels: mergequeue-status: in_progress

#27545 [DOCS-9971] fixing Japanese menu
  config/_default/menus/main.ja.yaml
Labels: Architecture, mergequeue-status: in_progress

#27428 feat(otel-agent): Pin Dockerfile version in BYOC docs
  content/en/opentelemetry/agent/agent_with_custom_components.md
  content/en/opentelemetry/agent/install_agent_with_collector.md
  content/en/opentelemetry/agent/migration.md
Labels: mergequeue-status: in_progress

#27551 Fix title in RUM > ... > Monitoring App Performance
  content/en/real_user_monitoring/mobile_and_tv_monitoring/ios/monitoring_app_performance.md
Labels: mergequeue-status: in_progress

#27436 [test optimization] Add test session name `DD_TEST_SESSION_NAME` instructions
  content/en/tests/setup/dotnet.md
  content/en/tests/setup/java.md
  content/en/tests/setup/javascript.md
  content/en/tests/setup/python.md
  content/en/tests/setup/ruby.md
  content/en/tests/setup/swift.md
Labels: editorial review, mergequeue-status: in_progress

#27547 [DOCS-10005] fixing screenshot and content on network analytics page
  content/en/network_monitoring/cloud_network_monitoring/network_analytics.md
  static/images/network_performance_monitoring/network_analytics/drop_down_cnm.png
Labels: Images, mergequeue-status: in_progress

#27557 Update ASM home to remove references to Code Security capabilities
  content/en/security/application_security/_index.md
  content/en/security/application_security/how-appsec-works.md
Labels: mergequeue-status: in_progress

#27538 Rtrieu/docs 9917 fix trace sample rate image
  config/_default/menus/main.en.yaml
  content/en/real_user_monitoring/platform/connect_rum_and_traces.md
  static/images/real_user_monitoring/connect_rum_and_traces/traceContextInjection_sampled-3.png
Labels: Architecture, Images, mergequeue-status: in_progress

#26868 Replace Recommended with monitor templates
  config/_default/menus/main.en.yaml
  content/en/data_streams/_index.md
  content/en/developers/integrations/agent_integration.md
  content/en/developers/integrations/api_integration.md
  content/en/developers/integrations/create-a-cloud-siem-detection-rule.md
  content/en/developers/integrations/create-an-integration-monitor-template.md
  content/en/integrations/guide/azure-manual-setup.md
  content/en/integrations/guide/azure-programmatic-management.md
  content/en/monitors/guide/monitor_best_practices.md
  content/en/monitors/guide/troubleshooting-monitor-alerts.md
  content/en/monitors/templates/_index.md
  content/en/monitors/types/cloud_network_monitoring.md
  content/en/service_catalog/scorecards/scorecard_configuration.md
Labels: Architecture, Guide, mergequeue-status: in_progress

#27361 Update Automatic multi-line aggregation part in Advanced Log Collection Configurations
  content/en/agent/logs/advanced_log_collection.md
Labels: mergequeue-status: in_progress

#27561 Remove incorrect company ID format and add detail to headers
  content/en/account_management/saml/okta.md
Labels: mergequeue-status: in_progress

#27563 Update logs.md
  content/en/containers/amazon_ecs/logs.md
Labels: mergequeue-status: in_progress

#27567 [web-6011] prevents translated data partials being added to transifex as sources
  translate.yaml
Labels: mergequeue-status: in_progress

#23622 DOCS-8200 Watchdog Insights Doc Update
  content/en/watchdog/insights.md
  static/images/watchdog/outlier_step_error_2.png
  static/images/watchdog/synthetics_watchdog_outlier.png
Labels: Images, mergequeue-status: in_progress

#27553 WEB-5993 - schema table indent 5th level
  assets/styles/components/_schema-table.scss
Labels: Architecture, mergequeue-status: in_progress

#27572 Update Log Pattern docs
  content/en/logs/explorer/analytics/patterns.md
  static/images/logs/explorer/pattern_cluster.png
Labels: Images

#27573 Update reference table join docs
  content/en/logs/explorer/advanced_search.md
  layouts/shortcodes/filter_by_reference_tables.en.md
  static/images/logs/explorer/advanced_search/reference_table_join_filter.png
Labels: Architecture, Images

#27574 Fix dd-trace python link in sci setup
  layouts/shortcodes/sci-dd-setuptools-unified-python.en.md
  layouts/shortcodes/sci-dd-setuptools-unified-python.fr.md
  layouts/shortcodes/sci-dd-setuptools-unified-python.ja.md
  layouts/shortcodes/sci-dd-setuptools-unified-python.ko.md
Labels: Architecture, mergequeue-status: in_progress

#27549 Add deadlocks support for Azure DB
  content/en/database_monitoring/guide/sql_deadlock.md
Labels: Guide, mergequeue-status: in_progress

#27542 [MLOB-2227] Update LLM Observability + AWS Lambda instructions
  content/en/llm_observability/setup/sdk/python.md
Labels: mergequeue-status: in_progress

#27550 Massimo.sporchia/modify operator install instructions
  content/en/containers/guide/operator-advanced.md
Labels: Guide, mergequeue-status: in_progress

#27581 Add limitation note for audit trail monitors
  content/en/monitors/types/audit_trail.md
Labels: mergequeue-status: in_progress

#27569 [AZINTS-3129] Add Automated Log Forwarding Banner
  content/en/logs/guide/azure-logging-guide.md
Labels: Guide, mergequeue-status: in_progress

#27575 [AWSX-1493] feat(policy): add bedrock permissions
  layouts/shortcodes/aws-permissions.en.md
Labels: Architecture, mergequeue-status: in_progress

#27576 Fix C# syntax for AddUserExtraInfo documentation
  content/en/real_user_monitoring/mobile_and_tv_monitoring/unity/advanced_configuration.md
Labels: mergequeue-status: in_progress

#27577 Update snmp_traps.md
  content/en/network_monitoring/devices/snmp_traps.md
Labels: mergequeue-status: in_progress

#27295 Update intro copy on CSM landing pages
  content/en/getting_started/cloud_security_management/_index.md
  content/en/security/cloud_security_management/_index.md
Labels: mergequeue-status: in_progress

#27586 Revert "[MLOB] reflect python openai/langchain tracing support versions"
  content/en/llm_observability/setup/auto_instrumentation.md
Labels: mergequeue-status: in_progress

#27583 Specify when to create logger
  content/en/logs/log_collection/ios.md
Labels: mergequeue-status: in_progress

#27587 DOCS-10114: Update DSM supported technologies
  content/en/data_streams/_index.md
Labels: mergequeue-status: in_progress

#27467 Use staging bucket to pull integration images in non prod environments
  layouts/integrations/_markup/render-image.html
Labels: Architecture, mergequeue-status: in_progress

#27413 Add automatic team provisioning instructions
  content/en/account_management/scim/_index.md
  content/en/account_management/scim/okta.md
  content/en/account_management/teams/manage.md
  static/images/account_management/scim/okta/managed-externally.png
  static/images/account_management/scim/okta/pushed-groups.png
Labels: Images, mergequeue-status: in_progress

#27590 copy paste error
  content/en/monitors/types/audit_trail.md
Labels: mergequeue-status: in_progress

#24659 DOCS-8285 - adding pipeline lineage page
  config/_default/menus/main.en.yaml
  content/en/data_streams/data_pipeline_lineage.md
  static/images/data_streams/data_pipeline_lineage.png
Labels: Architecture, Images, mergequeue-status: in_progress

#27570 DOCS-10101: Adding UI screenshots to Custom Resource Definition indexing
  content/en/infrastructure/containers/configuration.md
  static/images/infrastructure/crd_explorer_view.png
  static/images/infrastructure/indexing_resources.png
Labels: Images, mergequeue-status: in_progress

#27600 Document timestamp constraint of Event Custom Metrics
  content/en/service_management/events/guides/usage.md
Labels: mergequeue-status: in_progress

#27601 Fix typos
  content/en/real_user_monitoring/guide/monitor-hybrid-react-native-applications.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/android/advanced_configuration.md
Labels: Guide, mergequeue-status: in_progress

#27578 [DJM-637] Add step redirecting to integration Log setup
  content/en/data_jobs/dataproc.md
Labels: mergequeue-status: in_progress

#27584 RUM-8504 Add warning on instrumenting SwiftUI actions
  content/en/real_user_monitoring/mobile_and_tv_monitoring/ios/setup.md
Labels: mergequeue-status: in_progress

#27595 [DOCS-9374] Add specific detail about auth app
  content/en/synthetics/guide/browser-tests-totp.md
Labels: Guide, mergequeue-status: in_progress

#27566 [DOCS-9473] Add Flutter integrated libraries link and fix links
  content/en/real_user_monitoring/mobile_and_tv_monitoring/flutter/advanced_configuration.md
Labels: mergequeue-status: in_progress

#27603 Update View name explanation
  content/en/real_user_monitoring/browser/advanced_configuration.md
Labels: mergequeue-status: in_progress

#27605 Status page doc update
  content/en/monitors/status/status_page.md
Labels: mergequeue-status: in_progress

#27613 Update faulty_cloud_saas_api_detection.md
  content/en/watchdog/faulty_cloud_saas_api_detection.md
Labels: mergequeue-status: in_progress

#27521 Update software_templates.md
  content/en/service_catalog/software_templates.md
  static/images/tracing/service_catalog/self-service-publish.png
  static/images/tracing/service_catalog/self-service-ui.png
Labels: Images, mergequeue-status: in_progress

#26634 DOCS-9659: Set due date rules
  config/_default/menus/main.en.yaml
  content/en/security/automation_pipelines/_index.md
  content/en/security/automation_pipelines/mute.md
  content/en/security/automation_pipelines/security_inbox.md
  content/en/security/automation_pipelines/set_due_date.md
  static/images/security/automation_pipelines/vulnerabilities_settings.png
Labels: Architecture, editorial review, Images, security, mergequeue-status: in_progress

#27543 Updated Dynamic Quotas Documentation
  content/en/metrics/guide/dynamic_quotas.md
Labels: Guide, mergequeue-status: in_progress

#27294 DOCS-9940: Serverless Monitoring for Azure Functions
  config/_default/menus/main.en.yaml
  content/en/serverless/azure_functions/_index.md
Labels: Architecture, editorial review, mergequeue-status: in_progress

#27389 (DOCS-9900) Update Terraform template
  content/en/integrations/guide/aws-terraform-setup.md
Labels: Guide, mergequeue-status: in_progress

#27627 Added the Metrics Related Assets Facet to the Summary page
  content/en/metrics/summary.md
  static/images/metrics/summary/facet_panel.png
Labels: Images, mergequeue-status: in_progress

#27616 Update _index.md
  content/en/reference_tables/_index.md
Labels: mergequeue-status: in_progress

#27455 Update the EKS section to reflect the new endpoints Amazon exposed
  content/en/containers/kubernetes/control_plane.md
Labels: editorial review, mergequeue-status: in_progress

#27628 Remove circular aliases
  content/en/software_catalog/use_cases/api_management.md
  content/en/software_catalog/use_cases/appsec_management.md
  content/en/software_catalog/use_cases/cloud_cost_management.md
  content/en/software_catalog/use_cases/dependency_management.md
  content/en/software_catalog/use_cases/dev_onboarding.md
Labels: mergequeue-status: in_progress

#27629 Update software catalog icon
  config/_default/menus/main.en.yaml
Labels: Architecture, mergequeue-status: in_progress

#27625 Update to MITRE ATT&CK Map
  config/_default/menus/main.en.yaml
  content/en/security/cloud_siem/detection_rules/mitre_attack_map.md
Labels: Architecture, mergequeue-status: in_progress

#27634 DOCS-10022: Call out limited kubernetes.* metrics for Windows
  content/en/agent/troubleshooting/windows_containers.md
  content/en/containers/kubernetes/data_collected.md
Labels: mergequeue-status: in_progress

#27635 removing duplicate heading
  content/en/security/code_security/software_composition_analysis/setup_runtime/_index.md
Labels: mergequeue-status: in_progress

#26733 [CONTP-537] update container image inclusion/exclusion filters examples, and clarify the matching logic of image filter
  content/en/containers/guide/container-discovery-management.md
Labels: Guide, containers, mergequeue-status: in_progress

#27565 RUM Enforced usage attribution at the org level
  content/en/real_user_monitoring/guide/tracking-rum-usage-with-usage-attribution-tags.md
  static/images/real_user_monitoring/guide/rum-usage-attribution-tags/enforce-usage-attribution-tags.png
  static/images/real_user_monitoring/guide/rum-usage-attribution-tags/enforce-usage-attribution-toggle-1.png
Labels: Images, Guide, mergequeue-status: in_progress

#27617 Fix code snippets in RUM > iOS > Advanced Configuration
  content/en/real_user_monitoring/mobile_and_tv_monitoring/ios/advanced_configuration.md
Labels: mergequeue-status: in_progress

#27614 [SDCI-1054] Add Actions Runner Controller infra corr setup explanation
  content/en/continuous_integration/pipelines/github.md
Labels: mergequeue-status: in_progress
