Repository DataDog/documentation, pull requests merged in 2025-01, with the labels that each got.

#26784 [RUM-7156] React Native Session Replay Documentation
  content/en/real_user_monitoring/session_replay/mobile/privacy_options.md
  content/en/real_user_monitoring/session_replay/mobile/setup_and_configuration.md
Labels: editorial review, mergequeue-status: in_progress

#26835 (Agent) Unindex guides from older Agent versions
  content/en/agent/guide/agent-5-architecture.md
  content/en/agent/guide/agent-5-autodiscovery.md
  content/en/agent/guide/agent-5-check-status.md
  content/en/agent/guide/agent-5-commands.md
  content/en/agent/guide/agent-5-configuration-files.md
  content/en/agent/guide/agent-5-debug-mode.md
  content/en/agent/guide/agent-5-flare.md
  content/en/agent/guide/agent-5-kubernetes-basic-agent-usage.md
  content/en/agent/guide/agent-5-log-files.md
  content/en/agent/guide/agent-5-permissions-issues.md
  content/en/agent/guide/agent-5-ports.md
  content/en/agent/guide/agent-5-proxy.md
  content/en/agent/guide/agent-6-commands.md
  content/en/agent/guide/agent-6-configuration-files.md
  content/en/agent/guide/agent-6-log-files.md
  content/en/agent/guide/install-agent-5.md
  content/en/agent/guide/install-agent-6.md
  content/en/agent/guide/upgrade_to_agent_6.md
Labels: Guide, mergequeue-status: in_progress

#26943 changed title of Reference Tables docs and added "custom" in description
  content/en/reference_tables/_index.md
Labels: mergequeue-status: in_progress

#26786 [AGENTLESS][SEC-17683] Add Azure onboarding to Agentless documentation
  config/_default/menus/main.en.yaml
  content/en/security/cloud_security_management/agentless_scanning/_index.md
  content/en/security/cloud_security_management/setup/agentless_scanning/_index.md
  content/en/security/cloud_security_management/setup/agentless_scanning/azure_resource_manager.md
  content/en/security/cloud_security_management/setup/agentless_scanning/cloudformation.md
  content/en/security/cloud_security_management/setup/agentless_scanning/quick_start.md
  content/en/security/cloud_security_management/setup/agentless_scanning/terraform.md
  layouts/shortcodes/csm-agentless-azure-resource-manager.md
  layouts/shortcodes/csm-agentless-exclude-resources.en.md
Labels: Architecture, editorial review, mergequeue-status: in_progress

#26379 Note changes to DD_TRACE_CLI_ENABLED and resource sampling
  content/en/tracing/guide/trace-php-cli-scripts.md
  content/en/tracing/trace_collection/compatibility/php.md
  content/en/tracing/trace_collection/library_config/php.md
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
Labels: Guide, mergequeue-status: in_progress

#26928 Composite monitor use cases
  content/en/monitors/guide/_index.md
  content/en/monitors/guide/composite_use_cases.md
  content/en/monitors/types/composite.md
Labels: Guide, mergequeue-status: in_progress

#26948 Added draft for new section detailing auto-enrichment of feature flag…
  content/en/change_tracking/_index.md
Labels: mergequeue-status: in_progress

#26740 Esther/docs 9344 update nxlog
  content/en/integrations/nxlog.md
Labels: mergequeue-status: in_progress

#26945 Esther/docs 9237 update apigee
  content/en/logs/guide/apigee.md
Labels: Guide, mergequeue-status: in_progress

#26951 Fix inconsistent spacing in configs
  content/en/tracing/trace_collection/library_config/_index.md
Labels: mergequeue-status: in_progress

#26953 quick fix
  content/en/serverless/aws_lambda/installation/_index.md
Labels: mergequeue-status: in_progress

#26872 Update connections.md
  content/en/service_management/workflows/connections.md
Labels: mergequeue-status: removed

#26865 Adding new section for span ID remapper
  content/en/logs/log_configuration/processors.md
Labels: mergequeue-status: in_progress

#26954 Fix improper spacing introduced by #26951
  content/en/tracing/trace_collection/library_config/_index.md
Labels: mergequeue-status: in_progress

#26958 Add CI Visibility to datasets
  content/en/account_management/rbac/data_access.md
Labels: mergequeue-status: in_progress

#26900 Revise guide and remove scoping information
  content/en/logs/guide/logs-rbac.md
Labels: Guide, mergequeue-status: in_progress

#26656 Update the Public Datadog docs as they relate to currencies
  content/en/cloud_cost_management/multisource_querying/_index.md
Labels: editorial review, mergequeue-status: in_progress

#26968 [Shared Dash] Replace "domain" with "base url"
  content/en/dashboards/sharing/shared_dashboards.md
Labels: mergequeue-status: in_progress

#26955 Correct minor problems on Azure billing page
  content/en/account_management/billing/azure.md
Labels: mergequeue-status: in_progress

#26846 Remove all mentions of the synthetics feature in the VS Code extension documentation
  content/en/developers/ide_plugins/vscode/_index.md
Labels: mergequeue-status: in_progress

#26946 fix integration carousel bugs
  layouts/_default/baseof.html
  layouts/integrations/single.html
Labels: Architecture

#26847 Update synthetics documentation with grace information
  content/en/synthetics/api_tests/dns_tests.md
  content/en/synthetics/api_tests/grpc_tests.md
  content/en/synthetics/api_tests/http_tests.md
  content/en/synthetics/api_tests/icmp_tests.md
  content/en/synthetics/api_tests/ssl_tests.md
  content/en/synthetics/api_tests/tcp_tests.md
  content/en/synthetics/api_tests/udp_tests.md
  content/en/synthetics/api_tests/websocket_tests.md
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/mobile_app_testing/_index.md
  content/en/synthetics/platform/private_locations/_index.md
  content/en/synthetics/platform/settings/_index.md
  layouts/shortcodes/synthetics_grace_permissions.md
  static/images/synthetics/private_locations/grace.png
  static/images/synthetics/settings/grace_1.png
  static/images/synthetics/settings/grace_2.png
  static/images/synthetics/settings/gv_grace.png
Labels: Architecture, Images, mergequeue-status: in_progress

#26837 Add retention widget documentation
  content/en/dashboards/widgets/_index.md
  content/en/dashboards/widgets/retention.md
  static/images/dashboards/widgets/icons/cohort_light_small.svg
  static/images/dashboards/widgets/retention/retention_widget_config.png
  static/images/dashboards/widgets/retention/retention_widget_graph.png
Labels: Images, mergequeue-status: in_progress

#26978 Fix broken endpoint param
  content/en/opentelemetry/otlp_logs.md
Labels: mergequeue-status: in_progress

#26977 Clarify DBMS support for prepared statements tracing
  content/en/database_monitoring/connect_dbm_and_apm.md
Labels: mergequeue-status: in_progress

#26892 Add clarification on monitor attributes and tags
  content/en/monitors/notify/variables.md
Labels: mergequeue-status: in_progress

#26980 Move fluent bit log collection to logs guide
  content/en/logs/guide/_index.md
  content/en/logs/guide/fluentbit.md
Labels: Guide, mergequeue-status: in_progress

#26984 Clarify where to set `enable_payloads` attribute
  content/en/logs/guide/how-to-set-up-only-logs.md
Labels: Guide, mergequeue-status: in_progress

#26962 [DOCS-9806] Update SNMP Trap docs
  content/en/network_monitoring/devices/snmp_traps.md
  content/en/network_monitoring/devices/troubleshooting.md
Labels: mergequeue-status: in_progress

#26967 Update dotnet docs dsm
  content/en/data_streams/dotnet.md
Labels: mergequeue-status: in_progress

#26987 (DOCS-9460) Add metric namespaces image
  static/images/integrations/google_cloud_platform/limit_metric_namespaces.png
Labels: Images, mergequeue-status: in_progress

#26971 Add instructions for viewing usage pills
  content/en/account_management/plan_and_usage/usage_details.md
Labels: mergequeue-status: in_progress

#26988 notifications_aggregation.png
  static/images/monitors/notifications/notifications_aggregation.png
Labels: Images, mergequeue-status: in_progress

#26979 [error-tracking] Remove entry span fingerprinting limitation
  content/en/error_tracking/troubleshooting.md
  content/en/tracing/error_tracking/_index.md
Labels: mergequeue-status: in_progress

#26989 Logs Live Tail Troubleshooting Doc
  static/images/logs/explorer/live_tail/logs_rbac_page.png
Labels: Images

#26949 DOCS-9630: Add note about Agent jobs monitoring not being supported for Azure SQL Database
  layouts/shortcodes/dbm-sqlserver-agent-config-examples.en.md
Labels: Architecture, mergequeue-status: in_progress

#26996 Update SLO widget docs for global target setting
  content/en/dashboards/widgets/slo.md
Labels: mergequeue-status: in_progress

#26952 Document how to properly install .NET tracer for AWS Lambda.
  content/en/serverless/aws_lambda/installation/dotnet.md
Labels: editorial review, mergequeue-status: in_progress

#26995 Update Datadog Jenkins plugin configuration instructions
  content/en/continuous_integration/pipelines/jenkins.md
  static/images/ci/ci-jenkins-plugin-config-agentful.png
  static/images/ci/jenkins_plugin_agentless_urls_blurred.png
Labels: Images, mergequeue-status: in_progress

#26992 add operator instructions for OTel receiver configs
  content/en/opentelemetry/interoperability/otlp_ingest_in_the_agent.md
Labels: mergequeue-status: in_progress

#27009 Remove Preview Mentions from Inferred Service Docs
  content/en/tracing/guide/inferred-service-opt-in.md
  content/en/tracing/guide/service_overrides.md
Labels: Guide, mergequeue-status: in_progress

#27020 date update graphing guides
  content/en/dashboards/guide/_index.md
Labels: Guide, mergequeue-status: in_progress

#27001 Add docs on tracking dashboard config changes
  content/en/account_management/audit_trail/guides/_index.md
  content/en/account_management/audit_trail/guides/track_dashboard_access_and_configuration_changes.md
  content/en/account_management/audit_trail/guides/track_dashboard_usage.md
  static/images/account_management/audit_logs/dashboard_change_diff.png
Labels: Images, mergequeue-status: in_progress

#27029 (DOCS-9621) Add new top-level nav section for Actions to match app
  config/_default/menus/main.en.yaml
Labels: Architecture, mergequeue-status: in_progress

#27011 Add docs on tracking monitor config changes
  content/en/account_management/audit_trail/guides/_index.md
  content/en/account_management/audit_trail/guides/track_monitor_access_and_configuration_changes.md
  static/images/account_management/audit_logs/monitor_change_diff.png
Labels: Images, mergequeue-status: in_progress

#27026 Revert translated file name
  content/es/monitors/types/anomaly.md
Labels: mergequeue-status: in_progress

#27024 Add the visual formatting rules feature
  content/en/dashboards/widgets/geomap.md
Labels: mergequeue-status: in_progress

#27030 Explicitly state compute capacity for multi-org accounts
  content/en/logs/log_configuration/flex_logs.md
Labels: mergequeue-status: in_progress

#27032 Bump datadog-lambda-extension layer to version 68
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture, mergequeue-status: in_progress

#27033 Fix mobile apps intro paragraph
  content/en/mobile/_index.md
Labels: mergequeue-status: in_progress

#27037 (DOCS-9661) Add app builder to landing page
  data/partials/home.yaml
Labels: mergequeue-status: in_progress

#27039 (Agent) Add information about system-wide macOS install
  content/en/agent/troubleshooting/permissions.md
Labels: mergequeue-status: in_progress

#26897 Add documentation for GCS unsupported storage classes
  content/en/logs/log_configuration/archives.md
Labels: mergequeue-status: in_progress

#27007 [MLOB] Update Documentation for Configurations Page for ML Observability
  content/en/llm_observability/configuration/_index.md
Labels: mergequeue-status: in_progress

#27043 [FIX] hide collapsible element markers on safari and mobile
  assets/styles/components/_collapsible-section.scss
Labels: Architecture, mergequeue-status: in_progress

#27012 Add GKE support to KSPM docs
  content/en/security/cloud_security_management/misconfigurations/kspm.md
Labels: mergequeue-status: in_progress

#26976 [CIVIS] Better explain billing exclusions for CI Visiblity
  content/en/account_management/billing/ci_visibility.md
Labels: mergequeue-status: in_progress

#27045 [ms-teams] - add gov app installation pic
  static/images/integrations/microsoft_teams/microsoft_teams_add_gov_app_to_team.png
Labels: Images, mergequeue-status: in_progress

#27048 Add comm for monitor event aggregation key update
  content/en/service_management/events/_index.md
Labels: mergequeue-status: in_progress

#27049 Update Automation Pipelines feature name
  config/_default/menus/main.en.yaml
  content/en/security/automation_pipelines/_index.md
  content/en/security/automation_pipelines/mute.md
  content/en/security/automation_pipelines/security_inbox.md
Labels: Architecture, security, mergequeue-status: in_progress

#27053 Adding delay note to gcp and azure docs
  content/en/cloud_cost_management/azure.md
  content/en/cloud_cost_management/google_cloud.md
Labels: mergequeue-status: in_progress

#27054 Minor fix in iOS RUM mobile setup page
  content/en/real_user_monitoring/mobile_and_tv_monitoring/ios/setup.md
Labels: mergequeue-status: in_progress

#27060 Update Terraform param
  content/en/integrations/guide/azure-programmatic-management.md
Labels: Guide, mergequeue-status: in_progress

#27042 Node.js Threat Protection Capability requirement note
  content/en/security/application_security/threats/setup/compatibility/nodejs.md
Labels: mergequeue-status: in_progress

#27041 Add command injection for Exploit Prevention in Java
  content/en/security/application_security/threats/exploit-prevention.md
Labels: mergequeue-status: in_progress

#27023 update ecs explorer doc
  content/en/infrastructure/containers/amazon_elastic_container_explorer.md
Labels: mergequeue-status: in_progress

#26552 Document new tracestate header for tracecontext propagator
  content/en/real_user_monitoring/platform/connect_rum_and_traces.md
Labels: mergequeue-status: in_progress

#27056 Change Vulnerability Pipeline to Automation Pipelines
  content/en/security/security_inbox.md
Labels: security, mergequeue-status: in_progress

#27028 [RUM-5001] add documentation for `sessionPersistence`
  content/en/logs/log_collection/javascript.md
  content/en/real_user_monitoring/browser/setup/client.md
  content/en/real_user_monitoring/guide/monitor-capacitor-applications-using-browser-sdk.md
  content/en/real_user_monitoring/guide/monitor-electron-applications-using-browser-sdk.md
Labels: Guide, mergequeue-status: in_progress

#26894 Add new functions for workspaces sql docs
  content/en/logs/workspaces/sql_reference.md
Labels: mergequeue-status: in_progress

#27065 Update prepared statements note
  content/en/database_monitoring/connect_dbm_and_apm.md
Labels: database_monitoring, mergequeue-status: in_progress

#26882 [DOCS-9372] Move tracking stuff from setup to advanced config
  content/en/real_user_monitoring/mobile_and_tv_monitoring/flutter/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/flutter/setup.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/ios/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/ios/setup.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/kotlin_multiplatform/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/kotlin_multiplatform/setup.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/react_native/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/react_native/setup/expo.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/react_native/setup/reactnative.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/roku/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/roku/setup.md
Labels: editorial review, mergequeue-status: in_progress

#27063 Clarify correct import for Android SDK
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/android.md
Labels: mergequeue-status: in_progress

#27035 [DOCS-9771] Resource Catalog Infrastructure Governance
  config/_default/menus/main.en.yaml
  content/en/infrastructure/resource_catalog/governance/_index.md
  static/images/infrastructure/resource_catalog/governance/custom-policy-example-1.png
  static/images/infrastructure/resource_catalog/governance/custom-policy-list-1.png
Labels: Architecture, editorial review, Images, mergequeue-status: in_progress

#25396 [ML-OB] document python SDK annotation context
  content/en/llm_observability/setup/sdk/python.md
Labels: editorial review, mergequeue-status: in_progress

#27046 [AWSX] Update send-aws-services-logs-with-the-datadog-lambda-function.md
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: Guide, mergequeue-status: in_progress

#27057 appsec/java: explicit we don't support grpc request blocking
  content/en/security/application_security/threats/setup/compatibility/java.md
Labels: mergequeue-status: in_progress

#27021 [CI Visibility] Add CI provider name to custom pipeline example
  content/en/continuous_integration/pipelines/custom.md
Labels: mergequeue-status: in_progress

#26080 Update _index.md
  content/en/watchdog/alerts/_index.md
Labels: mergequeue-status: in_progress

#25897 [Go] feat: update docs for dd-trace-go/v2
  content/en/containers/amazon_ecs/apm.md
  content/en/containers/docker/apm.md
  content/en/data_streams/go.md
  content/en/database_monitoring/connect_dbm_and_apm.md
  content/en/opentelemetry/interoperability/instrumentation_libraries.md
  content/en/profiler/enabling/go.md
  content/en/profiler/guide/isolate-outliers-in-monolithic-services.md
  content/en/security/application_security/software_composition_analysis/setup/compatibility/go.md
  content/en/security/application_security/threats/add-user-info.md
  content/en/security/application_security/threats/setup/compatibility/go.md
  content/en/security/application_security/threats/setup/threat_detection/go.md
  content/en/security/application_security/troubleshooting.md
  content/en/serverless/aws_lambda/installation/go.md
  content/en/serverless/guide/datadog_forwarder_go.md
  content/en/tracing/faq/trace_sampling_and_storage.md
  content/en/tracing/guide/configuring-primary-operation.md
  content/en/tracing/guide/instrument_custom_method.md
  content/en/tracing/guide/tutorial-enable-go-aws-ecs-ec2.md
  content/en/tracing/guide/tutorial-enable-go-aws-ecs-fargate.md
  content/en/tracing/guide/tutorial-enable-go-containers.md
  content/en/tracing/guide/tutorial-enable-go-host.md
  content/en/tracing/legacy_app_analytics/_index.md
  content/en/tracing/metrics/runtime_metrics/go.md
  content/en/tracing/other_telemetry/connect_logs_and_traces/go.md
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/go.md
  content/en/tracing/trace_collection/compatibility/go.md
  content/en/tracing/trace_collection/custom_instrumentation/go/dd-api.md
  content/en/tracing/trace_collection/custom_instrumentation/go/migration.md
  content/en/tracing/trace_collection/custom_instrumentation/go/otel.md
  content/en/tracing/trace_collection/custom_instrumentation/opentracing/_index.md
  content/en/tracing/trace_collection/custom_instrumentation/opentracing/go.md
  content/en/tracing/trace_collection/library_config/go.md
  content/en/tracing/trace_pipeline/ingestion_mechanisms.md
  content/en/tracing/troubleshooting/tracer_debug_logs.md
  data/libraries.yaml
  layouts/partials/apm/apm-opentracing-custom.html
Labels: Architecture, editorial review, Guide, FAQ, mergequeue-status: in_progress

#27072 Add blog link
  content/en/service_catalog/_index.md
Labels: mergequeue-status: in_progress

#27071 Add blog link
  content/en/cloud_cost_management/multisource_querying/_index.md
Labels: mergequeue-status: in_progress

#26619 Update mapping file upload limits
  content/en/error_tracking/frontend/browser.md
  content/en/real_user_monitoring/error_tracking/mobile/expo.md
  content/en/real_user_monitoring/error_tracking/mobile/flutter.md
  content/en/real_user_monitoring/error_tracking/mobile/ios.md
  content/en/real_user_monitoring/error_tracking/mobile/kotlin-multiplatform.md
  content/en/real_user_monitoring/error_tracking/mobile/reactnative.md
  content/en/real_user_monitoring/guide/debug-symbols.md
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/android/error_tracking.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/ios/error_tracking.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/kotlin_multiplatform/error_tracking.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/react_native/error_tracking.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/unity/error_tracking.md
Labels: Guide, mergequeue-status: in_progress

#27022 add migration guide to rum browser sdk v6
  content/en/logs/log_collection/javascript.md
  content/en/product_analytics/session_replay/browser/_index.md
  content/en/real_user_monitoring/browser/setup/client.md
  content/en/real_user_monitoring/guide/browser-sdk-upgrade.md
Labels: editorial review, Guide, mergequeue-status: in_progress

#27069 Add password requirements to support page
  content/en/account_management/guide/access-your-support-ticket.md
Labels: Guide, mergequeue-status: in_progress

#27078 [reporting] update docs for scheduling UI | DBNBK-206, CRP-1178
  content/en/dashboards/sharing/scheduled_reports.md
  static/images/dashboards/scheduled_reports/add_recipients.png
  static/images/dashboards/scheduled_reports/configure_report.png
  static/images/dashboards/scheduled_reports/edit_variables.png
  static/images/dashboards/scheduled_reports/manage_reports.png
  static/images/dashboards/scheduled_reports/set_schedule.png
Labels: Images, mergequeue-status: in_progress

#27081 Add Preview banner to logs intake endpoint
  content/en/opentelemetry/otlp_logs.md
Labels: mergequeue-status: in_progress

#27084 Bump datadog-lambda-rb layer to version 24
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture, mergequeue-status: in_progress

#26918 add documentation for watchdog 3rd party monitoring
  config/_default/menus/main.en.yaml
  content/en/watchdog/faulty_cloud_saas_api_detection.md
  static/images/watchdog/external_provider_outage.png
Labels: Architecture, Images, mergequeue-status: in_progress

#27025 [DOCS-9833] Add view loading info back for Android, iOS, Flutter
  content/en/real_user_monitoring/mobile_and_tv_monitoring/android/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/flutter/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/ios/advanced_configuration.md
Labels: mergequeue-status: in_progress

#27086 DOCS-9812
  layouts/shortcodes/dbm-sqlserver-agent-setup-kubernetes.en.md
Labels: Architecture, mergequeue-status: in_progress

#27080 (dev) Add VS instructions for using custom URL
  content/en/developers/ide_plugins/visual_studio/_index.md
Labels: mergequeue-status: in_progress

#27102 Update live_tail.md
  content/en/logs/explorer/live_tail.md
Labels: mergequeue-status: in_progress

#27002 DOCS-9755: Move IaC Scanning setup instructions
  config/_default/menus/main.en.yaml
  content/en/security/cloud_security_management/iac_scanning.md
  content/en/security/cloud_security_management/setup/_index.md
  content/en/security/cloud_security_management/setup/iac_remediation.md
  content/en/security/cloud_security_management/setup/iac_scanning.md
Labels: Architecture, security, mergequeue-status: in_progress

#27019 [SDCI] update instructions to disable CI Visibility for GitHub Actions
  content/en/continuous_integration/pipelines/github.md
Labels: mergequeue-status: in_progress

#27040 Adding limitation on maximum number of commits considered
  content/en/dora_metrics/setup/deployments.md
Labels: mergequeue-status: in_progress

#27106 [CLOUDCRAFT-1085] Update SOC2 type
  content/en/cloudcraft/faq/account-data-storage.md
Labels: FAQ, mergequeue-status: in_progress

#27098 [DOCS-9873] Remove web view tracking from Unity docs
  config/_default/menus/main.en.yaml
  content/en/real_user_monitoring/mobile_and_tv_monitoring/unity/_index.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/unity/web_view_tracking.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/web_view_tracking/_index.md
Labels: Architecture, mergequeue-status: in_progress

#26029 Update outlier.md
  content/en/monitors/types/outlier.md
Labels: mergequeue-status: in_progress

#27083 (DOCS-9621) Reorg some content from appb and workflows into Actions heading
  config/_default/menus/main.en.yaml
  content/en/actions/actions_catalog/_index.md
  content/en/actions/private_actions/_index.md
  content/en/actions/private_actions/private_action_credentials.md
  content/en/actions/private_actions/use_private_actions.md
  content/en/getting_started/workflow_automation/_index.md
  content/en/service_catalog/customize/_index.md
  content/en/service_catalog/navigating.md
  content/en/service_catalog/software_templates.md
  content/en/service_management/app_builder/_index.md
  content/en/service_management/app_builder/build.md
  content/en/service_management/app_builder/connections/http_request.md
  content/en/service_management/app_builder/private_actions/_index.md
  content/en/service_management/app_builder/private_actions/private_action_credentials.md
  content/en/service_management/app_builder/private_actions/use_private_actions.md
  content/en/service_management/workflows/_index.md
  content/en/service_management/workflows/access.md
  content/en/service_management/workflows/actions/http.md
  content/en/service_management/workflows/build.md
  content/en/service_management/workflows/connections.md
Labels: Architecture, mergequeue-status: in_progress

#27005 Bump AAS-WRAPPER to version v1.10.14
  content/en/serverless/azure_app_services/azure_app_services_linux.md
Labels: mergequeue-status: in_progress

#27089 DOCS-9855: CSM resource collection updates
  content/en/security/cloud_security_management/setup/cloud_integrations.md
  content/en/security/cloud_security_management/setup/without_infrastructure_monitoring.md
  layouts/shortcodes/csm-setup-aws.en.md
  layouts/shortcodes/csm-setup-azure.en.md
  layouts/shortcodes/csm-setup-google-cloud.en.md
Labels: Architecture, security, mergequeue-status: in_progress

#27111 Fix image address
  content/ja/logs/guide/azure-logging-guide.md
Labels: mergequeue-status: in_progress

#27108 Add Terraform link
  content/en/logs/guide/azure-logging-guide.md
Labels: Guide, mergequeue-status: in_progress

#27107 Add brackets around icons
  content/en/security/cloud_security_management/setup/agentless_scanning/azure_resource_manager.md
  content/en/security/cloud_security_management/setup/agentless_scanning/cloudformation.md
  content/en/security/cloud_security_management/setup/agentless_scanning/quick_start.md
  content/en/security/cloud_security_management/setup/agentless_scanning/terraform.md
Labels: security, mergequeue-status: in_progress

#27064 Update manual_instrumentation.md
  content/en/data_streams/manual_instrumentation.md
Labels: mergequeue-status: in_progress

#27116 [DOCS-9758] adding VeloCloud support
  content/en/network_monitoring/devices/ping.md
  content/en/network_monitoring/devices/sd-wan.md
Labels: mergequeue-status: in_progress

#27113 (DOCS-9621) Pulls datastore out to Actions level and reorgs left nav
  config/_default/menus/main.en.yaml
  content/en/actions/datastore/_index.md
  content/en/service_management/app_builder/datastore.md
Labels: Architecture, mergequeue-status: in_progress

#26907 [Draft] Better documentation for notification preferences for On-Call
  config/_default/menus/main.en.yaml
  config/_default/menus/main.fr.yaml
  config/_default/menus/main.ja.yaml
  config/_default/menus/main.ko.yaml
  content/en/service_management/on-call/guides/_index.md
  content/en/service_management/on-call/guides/configure-mobile-device-for-on-call.md
  content/en/service_management/on-call/profile_settings.md
  static/images/service_management/oncall/app_settings_android.png
  static/images/service_management/oncall/app_settings_iOS.png
  static/images/service_management/oncall/contact_methods.png
  static/images/service_management/oncall/high_urgency_notification_preferences.png
  static/images/service_management/oncall/low_urgency_notification_preferences.png
  static/images/service_management/oncall/override_dnd_push_android.png
  static/images/service_management/oncall/override_dnd_push_iOS.png
  static/images/service_management/oncall/override_dnd_telephony_android.png
  static/images/service_management/oncall/override_dnd_telephony_iOS.png
  static/images/service_management/oncall/system_notifications_settings_android.png
  static/images/service_management/oncall/system_notifications_settings_iOS.png
Labels: Architecture, editorial review, Images, mergequeue-status: in_progress

#27099 fix: clarify that APM metrics include tags from DD_TAGS
  content/en/tracing/trace_collection/library_config/go.md
Labels: mergequeue-status: in_progress

#27038 Update azure-table.md
  content/en/cloudcraft/components-azure/azure-table.md
Labels: mergequeue-status: in_progress

#27093 Remove private beta notice from On-Call docs
  content/en/service_management/on-call/_index.md
Labels: mergequeue-status: in_progress

#27123 update cpp documentation for v1.0.0 release
  content/en/tracing/guide/setting_up_APM_with_cpp.md
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/cpp.md
Labels: Guide, mergequeue-status: in_progress

#27073 update pull config to bump CWS documentation to 7.61
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, mergequeue-status: in_progress

#27130 Add PHP 8.4 compatibility
  content/en/tracing/trace_collection/compatibility/php.md
Labels: mergequeue-status: in_progress

#27000 DSM - various notes on setup pages
  content/en/data_streams/dotnet.md
  content/en/data_streams/java.md
  content/en/data_streams/nodejs.md
  content/en/data_streams/python.md
Labels: mergequeue-status: in_progress

#27135 Dgreen15/update v3 mapping docs
  content/en/service_catalog/service_definitions/v3-0.md
Labels: mergequeue-status: in_progress

#27133 (Agent)(JA) Remove upgrade from nav
  config/_default/menus/main.es.yaml
  config/_default/menus/main.fr.yaml
  config/_default/menus/main.ja.yaml
  config/_default/menus/main.ko.yaml
Labels: Architecture, mergequeue-status: in_progress

#27142 [DOCS-8928] Update value in traceContextInjection diagram
  content/en/real_user_monitoring/platform/connect_rum_and_traces.md
  static/images/real_user_monitoring/connect_rum_and_traces/traceContextInjection_all-3.png
Labels: Images, mergequeue-status: in_progress

#27124 [DJM] New installer script for EMR
  content/en/data_jobs/databricks.md
  content/en/data_jobs/emr.md
  layouts/shortcodes/djm-install-troubleshooting.en.md
Labels: Architecture, mergequeue-status: in_progress

#27125 [DJM] New installer script for Dataproc
  content/en/data_jobs/dataproc.md
Labels: mergequeue-status: in_progress

#26811 Step Functions Redrive Tracing
  content/en/serverless/step_functions/redrive.md
Labels: mergequeue-status: in_progress

#27148 [AWSX] fix(docs): align documentation with CF template permissions for AWS
  layouts/shortcodes/aws-permissions.en.md
Labels: Architecture, mergequeue-status: in_progress

#27158 add alias for Netflow Monitoring
  content/en/network_monitoring/netflow/_index.md
Labels: mergequeue-status: in_progress

#27155 Update about default config in newer Agent versions
  content/en/tracing/services/inferred_services.md
Labels: mergequeue-status: in_progress

#27160 [Fix] Readd tracer flare docs
  content/en/tracing/troubleshooting/tracer_debug_logs.md
Labels: mergequeue-status: in_progress

#27162 (maint) Pin Vale to a specific version
  .github/workflows/vale_linter.yml
Labels: Github, mergequeue-status: in_progress

#27082 Use render image hook so images from upstream integration readmes point to correct dir in S3
  layouts/integrations/_markup/render-image.html
Labels: Architecture, mergequeue-status: in_progress

#27147 Change Android SDK `DatadogInterceptor` and `TracingInterceptor` creation snippets from constructor to builder
  content/en/real_user_monitoring/mobile_and_tv_monitoring/android/advanced_configuration.md
  content/en/real_user_monitoring/mobile_and_tv_monitoring/android/setup.md
  content/en/real_user_monitoring/platform/connect_rum_and_traces.md
  content/en/tracing/trace_collection/automatic_instrumentation/dd_libraries/android.md
Labels: mergequeue-status: in_progress

#27055 [DOCS-9843] Add Azure to CCM Recommendations table
  content/en/cloud_cost_management/recommendations/_index.md
Labels: mergequeue-status: in_progress

#27096 Update _index.md
  content/en/cloud_cost_management/datadog_costs/_index.md
Labels: mergequeue-status: in_progress

#27122 Add Live Tail troubleshooting
  config/_default/menus/main.en.yaml
  content/en/logs/troubleshooting/live_tail.md
Labels: Architecture, mergequeue-status: in_progress

#27166 profiling: document Go version support explicitly
  content/en/profiler/enabling/go.md
  content/en/profiler/enabling/supported_versions.md
Labels: mergequeue-status: in_progress

#27171 Update _index.md
  content/en/reference_tables/_index.md
Labels: mergequeue-status: in_progress

#27164 Fix region conditional on AWS manual role based setup docs
  content/en/integrations/guide/aws-manual-setup.md
Labels: Guide, mergequeue-status: in_progress

#27168 test render string
  layouts/integrations/_markup/render-image.html
  layouts/shortcodes/site-region.html
Labels: Architecture

#27100 update browser sdk snippets to include v6
  content/en/logs/log_collection/javascript.md
  content/en/real_user_monitoring/browser/setup/client.md
  content/en/real_user_monitoring/guide/monitor-your-nextjs-app-with-rum.md
Labels: Guide, mergequeue-status: in_progress

#27126 Fix failing github action workflow
  .github/workflows/bump_synthetics_worker_version.yml
  .github/workflows/bump_versions.yml
  config/development/config.yaml
Labels: Architecture, Github

#27018 Add ASM as a new Threat Intel feed (Platform Level Flagged IPs)
  content/en/security/threat_intelligence.md
  content/ja/security/threat_intelligence.md
Labels: mergequeue-status: in_progress

#27149 Document setup for previous Airflow versions
  content/en/data_jobs/airflow.md
Labels: mergequeue-status: in_progress

#27183 Make code block collapsible parameter work correctly
  layouts/shortcodes/code-block.html
Labels: Architecture, mergequeue-status: in_progress

#27059 DD_TRACE_AGENT_URL in Go Library Config
  content/en/tracing/trace_collection/library_config/go.md
Labels: mergequeue-status: in_progress

#27165 Add notes about disabling GKE for SBOM collection
  content/en/infrastructure/containers/container_images.md
  content/en/security/cloud_security_management/setup/agent/kubernetes.md
  content/en/security/cloud_security_management/troubleshooting/vulnerabilities.md
Labels: mergequeue-status: in_progress

#27187 Adding note about historical data for anomaly monitors
  content/en/monitors/types/cloud_cost.md
Labels: mergequeue-status: in_progress

#27189 add blog post
  content/en/watchdog/faulty_cloud_saas_api_detection.md
Labels: mergequeue-status: in_progress

#27191 Duplicate Jake's PR into branch with slash
  content/en/getting_started/tagging/assigning_tags.md
Labels: mergequeue-status: in_progress

#27131 [SYNTH-17309] Add a fargate with aws secret manager tab to the private location setup
  content/en/synthetics/platform/private_locations/_index.md
Labels: mergequeue-status: in_progress

#26788 Add Service Catalog enrichment from Monitor Notification
  content/en/monitors/notify/variables.md
Labels: mergequeue-status: in_progress

#27175 Remove duplicate envvar for docker setup of USM
  content/en/universal_service_monitoring/setup.md
Labels: mergequeue-status: in_progress

#27184 Two-step log collection guideline
  content/en/data_jobs/airflow.md
Labels: mergequeue-status: in_progress
