Repository DataDog/documentation, pull requests merged in 2025-10, with the labels that each got.

#31931 [docseng-52] exclude headers from resource catalog pages from search
  layouts/partials/algolia/page-sections.json
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

#31938 Update OTLP metrics endpoint to new URL
  assets/scripts/config/regions.config.js
  content/en/opentelemetry/setup/agentless/metrics.md
  content/en/opentelemetry/setup/otlp_ingest/metrics.md
Labels: Architecture, opentelemetry

#31929 Small edit
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/destination_env_vars/crowdstrike_ng_siem.md
Labels: Architecture

#31873 Determine if a host is monitored by the AWS integration or Datadog agent
  content/en/account_management/billing/aws.md
  static/images/account_management/billing/infra-agent.png
  static/images/account_management/billing/infra-aws.png
Labels: Images

#31819 [RUM-11925] Revisit RUM Browser SDK Setup page
  content/en/real_user_monitoring/browser/advanced_configuration.md
  content/en/real_user_monitoring/browser/setup/client.md
Labels: editorial review

#28874 (docsdev) WEB-6269: Add Further Reading if present in manifest
  layouts/integrations/single.html
Labels: Architecture

#31927 documentation for tool argument correctness eval
  content/en/llm_observability/evaluations/managed_evaluations.md
  static/images/llm_observability/evaluations/tool_argument_correctness_error.png
Labels: Images

#31971 [DOCS-12224] updating Integrations list
  content/en/integrations/guide/high_availability.md
Labels: Guide

#31969 [DOCS-12184] remove Gov callout from Network Path
  config/_default/params.yaml
Labels: Architecture

#31982 Update broken linking
  config/_default/menus/main.en.yaml
  content/en/security/code_security/static_analysis/_index.md
  content/en/security/code_security/static_analysis/setup/_index.md
Labels: Architecture

#31883 [DOCS-12165] mobile app video replay updates
  content/en/synthetics/mobile_app_testing/mobile_app_tests/results.md
  static/images/mobile_app_testing/video_replay_2.mp4
Labels: Images

#31877 Add documentation for Notification Rules conditional recipients
  content/en/monitors/notify/notification_rules.md
  static/images/monitors/notifications/notification_rules/notification_rules_form_with_conditional_recipients.png
Labels: Images

#31944 Status Page Incident Integration
  config/_default/menus/main.en.yaml
  content/en/service_management/incident_management/integrations/_index.md
  content/en/service_management/incident_management/integrations/status_pages.md
  content/en/service_management/incident_management/integrations/statuspage.md
  content/en/service_management/status_pages/_index.md
  static/images/service_management/incidents/Integrations/status_pages/incident_status_pages.png
  static/images/service_management/incidents/Integrations/status_pages/status_pages_config_modal.png
Labels: Architecture, editorial review, Images

#32006 Add docs for "Play Request" feature in Software Catalog
  content/en/internal_developer_portal/software_catalog/entity_model/entity_types.md
  static/images/tracing/software_catalog/play-request.png
Labels: Images

#32039 Fix env var setting
  .github/workflows/gif_check.yml
  .github/workflows/preview_link.yml
  .github/workflows/synthetics.yml
Labels: Github

#32037 Reorganize mdoc partials to support simpler translation processes
  content/en/product_analytics/session_replay/mobile/privacy_options.mdoc.md
  content/en/product_analytics/session_replay/mobile/setup_and_configuration.mdoc.md
  content/en/real_user_monitoring/session_replay/mobile/privacy_options.mdoc.md
  content/en/real_user_monitoring/session_replay/mobile/setup_and_configuration.mdoc.md
  layouts/shortcodes/mdoc/en/real_user_monitoring/session_replay/mobile/privacy_options.mdoc.md
  layouts/shortcodes/mdoc/en/real_user_monitoring/session_replay/setup_and_configuration.mdoc.md
Labels: Architecture

#32043 Add malicious PR protection preview to Code Security documentation
  config/_default/menus/main.en.yaml
  content/en/security/_index.md
  content/en/security/code_security/_index.md
  content/en/security/code_security/static_analysis/custom_rules/tutorial.md
  content/en/security/code_security/static_analysis/malicious_pr_protection.md
  static/images/code_security/gitlab_integration_light.jpg
  static/images/code_security/gitlab_integration_light.png
Labels: Architecture, Images

#32018 Documentation for Custom LLM-as-a-judge Evaluations
  config/_default/menus/main.en.yaml
  content/en/llm_observability/evaluations/_index.md
  content/en/llm_observability/evaluations/custom_llm_as_a_judge_evaluations.md
  layouts/shortcodes/llm-eval-output-json.en.md
  layouts/shortcodes/llm-eval-output-keyword.en.md
  static/images/llm_observability/evaluations/custom_llm_judge_1.png
  static/images/llm_observability/evaluations/custom_llm_judge_2.png
  static/images/llm_observability/evaluations/custom_llm_judge_3.png
  static/images/llm_observability/evaluations/custom_llm_judge_4.png
Labels: Architecture, editorial review, Images

#31899 Teams Hierarchies: Add a visual, remove the preview form
  content/en/account_management/teams/manage.md
  content/en/internal_developer_portal/_index.md
  static/images/account_management/teams/teams_filter_hierarchies.png
Labels: Images

#32004 add ocsf pipelines - [DOCSENG-117]
  layouts/shortcodes/cloud-siem-content-packs.html
Labels: Architecture
