Repository DataDog/documentation, pull requests merged in 2025-08, with the labels that each got.

#30678 [On-Call] Add on-call granular access doc
  content/en/account_management/rbac/granular_access.md
  content/en/service_management/on-call/_index.md
Labels: editorial review

#30739 Add bar chart widget file
  content/en/dashboards/widgets/_index.md
  content/en/dashboards/widgets/bar_chart.md
  content/en/dashboards/widgets/pie_chart.md
  content/en/dashboards/widgets/top_list.md
  content/en/dashboards/widgets/treemap.md
  static/images/dashboards/widgets/bar_chart/bar_chart.png
  static/images/dashboards/widgets/icons/bar-chart_light_large.svg
Labels: editorial review, Images

#30853 [WEB-6836] update announcement banner
  config/_default/params.en.yaml
  config/_default/params.es.yaml
  config/_default/params.fr.yaml
  config/_default/params.ja.yaml
  config/_default/params.ko.yaml
Labels: Architecture

#30830 Add Code Coverage Data Collected page
  config/_default/menus/main.en.yaml
  content/en/code_coverage/_index.md
  content/en/code_coverage/data_collected.md
  content/en/code_coverage/setup.md
  static/images/code_coverage/github_app_success.png
Labels: Architecture, editorial review, Images

#30859 bug fix: `get-metrics-from-git` - [DOCSENG-90]
  layouts/shortcodes/get-metrics-from-git.html
Labels: Architecture

#30647 Add case customization docs and references
  config/_default/menus/main.en.yaml
  content/en/service_management/case_management/_index.md
  content/en/service_management/case_management/create_case.md
  content/en/service_management/case_management/customization.md
  content/en/service_management/case_management/settings.md
  static/images/service_management/case_management/customization/add_custom_attribute.png
  static/images/service_management/case_management/customization/enable_custom_attribute.png
Labels: Architecture, editorial review, Images, mergequeue-status: queued

#30841 [MLOB-3038] add description and examples for each enriched option
  content/en/llm_observability/evaluations/ootb_evaluations.md
Labels: editorial review

#30886 Document databricks permissions needed for DJM
  content/en/data_jobs/databricks.md
Labels: mergequeue-status: queued

#30854 Related Assets on Tags Feature Update
  content/en/metrics/guide/custom_metrics_governance.md
  content/en/metrics/metrics-without-limits.md
  content/en/metrics/summary.md
  content/en/metrics/volume.md
  static/images/metrics/related_assets_2025-07-31.png
  static/images/metrics/tags_used_assets.png
Labels: Images, Guide

#30911 update latest lambda layer version
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture

#30912 Changes to update Related Assets on Tags
  content/en/metrics/guide/custom_metrics_governance.md
  content/en/metrics/summary.md
  content/en/metrics/volume.md
  static/images/metrics/related_assets_08_05_2025.png
  static/images/metrics/summary/related_assets_dashboards_08_05_2025.png
Labels: Images, Guide

#30762 Add a Public Doc For GCP Metric Discrepancy Issue
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/gcp-metric-discrepancy.md
  static/images/integrations/guide/gcp-metric-discrepancy/datadog_metric_explorer.png
  static/images/integrations/guide/gcp-metric-discrepancy/datadog_value.png
  static/images/integrations/guide/gcp-metric-discrepancy/gcp_aligner.png
  static/images/integrations/guide/gcp-metric-discrepancy/gcp_delta.png
  static/images/integrations/guide/gcp-metric-discrepancy/gcp_metric_explorer.png
  static/images/integrations/guide/gcp-metric-discrepancy/gcp_rate.png
  static/images/integrations/guide/gcp-metric-discrepancy/gcp_value.png
  static/images/integrations/guide/gcp-metric-discrepancy/labels_definition.png
  static/images/integrations/guide/gcp-metric-discrepancy/redis_instance.png
Labels: Images, Guide

#30933 Fix typos
  layouts/shortcodes/observability_pipelines/processors/sample.en.md
Labels: Architecture

#30879 Added DLQ documentation
  config/_default/menus/main.en.yaml
  content/en/data_streams/dead_letter_queues.md
Labels: Architecture, editorial review

#30744 [DOCS-11526] Add OP buffering options
  content/en/observability_pipelines/destinations/http_client.md
  content/en/observability_pipelines/performance.md
  layouts/shortcodes/observability_pipelines/destination_settings/amazon_opensearch.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/amazon_security_lake.md
  layouts/shortcodes/observability_pipelines/destination_settings/chronicle.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/crowdstrike_ng_siem.md
  layouts/shortcodes/observability_pipelines/destination_settings/datadog.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/datadog_archives_amazon_s3.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/datadog_archives_azure_storage.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/datadog_archives_google_cloud_storage.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/elasticsearch.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/microsoft_sentinel.md
  layouts/shortcodes/observability_pipelines/destination_settings/new_relic.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/opensearch.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/sentinelone.md
  layouts/shortcodes/observability_pipelines/destination_settings/socket.md
  layouts/shortcodes/observability_pipelines/destination_settings/splunk_hec.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/sumo_logic.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/syslog.en.md
Labels: Architecture

#30925 Fix incorrect API urls in Deployment Gates code examples
  content/en/deployment_gates/setup.md
Labels: editorial review

#30834 Add groupby template variables options
  content/en/dashboards/template_variables.md
  static/images/dashboards/template_variables/template_variable_menu.png
Labels: Images

#30670 Agent usage - AIX docs
  content/en/agent/basic_agent_usage/aix.md
  static/images/agent/basic_agent_usage/aix_img2_july_25.png
Labels: Images

#30952 Jessewgibbs/codesecurity collection frequency
  content/en/developers/guide/data-collection-resolution.md
Labels: Guide

#30954 bug fix: enable scrolling long dropdown forms on `multifilter-search` component - [DOCSENG-95]
  assets/styles/components/_multifilter-search.scss
Labels: Architecture

#30742 [Cloud Run] Split up In-Process docs
  content/en/serverless/google_cloud_run/containers/_index.md
  content/en/serverless/google_cloud_run/containers/in_process/_index.md
  content/en/serverless/google_cloud_run/containers/in_process/dotnet.md
  content/en/serverless/google_cloud_run/containers/in_process/go.md
  content/en/serverless/google_cloud_run/containers/in_process/java.md
  content/en/serverless/google_cloud_run/containers/in_process/nodejs.md
  content/en/serverless/google_cloud_run/containers/in_process/php.md
  content/en/serverless/google_cloud_run/containers/in_process/python.md
  content/en/serverless/google_cloud_run/containers/in_process/ruby.md
  content/en/serverless/google_cloud_run/containers/sidecar/_index.md
  content/en/serverless/google_cloud_run/containers_in_process.md
  layouts/partials/serverless/in-process-languages.html
  layouts/shortcodes/gcr-configure-env-vars.en.html
  layouts/shortcodes/gcr-install-serverless-init.html
  layouts/shortcodes/gcr-troubleshooting.en.md
  layouts/shortcodes/google-cloud-run-container-options.html
Labels: Architecture, editorial review, serverless, GAS

#30953 [LOGSXP-3837] Add OCI to Cloud source for logs
  layouts/partials/logs/logs-cloud.html
Labels: Architecture

#30892 Docs11702/agent metrics filtering
  content/en/metrics/guide/agent-filtering-for-dogstatsd-custom-metrics.md
  static/images/metrics/guide/agent_filtering_for_dogstatsd_custom_metrics/create_policy_from_metric_query.mp4
  static/images/metrics/guide/agent_filtering_for_dogstatsd_custom_metrics/create_policy_with_csv_upload.mp4
  static/images/metrics/guide/agent_filtering_for_dogstatsd_custom_metrics/create_policy_with_policy_editor.mp4
  static/images/metrics/guide/agent_filtering_for_dogstatsd_custom_metrics/delete_policy.png
  static/images/metrics/guide/agent_filtering_for_dogstatsd_custom_metrics/edit_policy_from_metrics_settings.mp4
  static/images/metrics/guide/agent_filtering_for_dogstatsd_custom_metrics/edit_policy_with_metric_query.mp4
  static/images/metrics/guide/agent_filtering_for_dogstatsd_custom_metrics/settings_from_nav.png
  static/images/metrics/guide/agent_filtering_for_dogstatsd_custom_metrics/settings_from_summary.png
  static/images/metrics/guide/agent_filtering_for_dogstatsd_custom_metrics/show_sidebar.png
Labels: WORK IN PROGRESS, Images, Guide

#30842 [DOCS-11464] doc for new Users explorer
  config/_default/menus/main.en.yaml
  content/en/security/application_security/security_signals/users_explorer.md
Labels: Architecture, editorial review

#30685 DOCS-11615: Improve Azure App Services logging documentation
  content/en/serverless/azure_app_services/azure_app_services_windows.md
Labels: editorial review

#30730 [On-Call] Fix links
  content/en/service_management/on-call/triggering_pages/_index.md
Labels: mergequeue-status: queued

#30975 Update action saving flow
  content/en/actions/workflows/saved_actions.md
  static/images/service_management/workflows/save_action_1.mp4
Labels: Images

#30993 Remove extra image reference to fix collapse-content
  content/en/dashboards/guide/getting_started_with_wildcard_widget.md
Labels: Guide

#29057 Database instance identifier
  content/en/database_monitoring/guide/_index.md
  content/en/database_monitoring/guide/database_identifier.md
Labels: editorial review, Guide

#30971 Buffering option is in preview
  content/en/observability_pipelines/destinations/http_client.md
  content/en/observability_pipelines/performance.md
  layouts/shortcodes/observability_pipelines/destination_settings/amazon_opensearch.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/amazon_security_lake.md
  layouts/shortcodes/observability_pipelines/destination_settings/chronicle.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/crowdstrike_ng_siem.md
  layouts/shortcodes/observability_pipelines/destination_settings/datadog.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/datadog_archives_amazon_s3.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/datadog_archives_azure_storage.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/datadog_archives_google_cloud_storage.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/elasticsearch.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/microsoft_sentinel.md
  layouts/shortcodes/observability_pipelines/destination_settings/new_relic.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/opensearch.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/sentinelone.md
  layouts/shortcodes/observability_pipelines/destination_settings/socket.md
  layouts/shortcodes/observability_pipelines/destination_settings/splunk_hec.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/sumo_logic.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/syslog.en.md
Labels: Architecture

#30815 Kubernetes OTel Integration
  config/_default/menus/main.en.yaml
  content/en/opentelemetry/integrations/_index.md
  content/en/opentelemetry/integrations/kubernetes_metrics.md
  static/images/opentelemetry/collector_exporter/kubernetes_metrics.png
Labels: Architecture, editorial review, Images

#30969 MITRE ATT&CK map content updated for new product support
  content/en/security/detection_rules/_index.md
Labels: under_review

#30995 [DOCS-11537] Add note about leading slash for GCS and Azure Storage
  layouts/shortcodes/observability_pipelines/destination_settings/datadog_archives_azure_storage.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/datadog_archives_google_cloud_storage.en.md
Labels: Architecture

#30968 Add GCP Sample Apps & Service Label
  content/en/serverless/google_cloud_run/containers/in_process/dotnet.md
  content/en/serverless/google_cloud_run/containers/in_process/go.md
  content/en/serverless/google_cloud_run/containers/in_process/java.md
  content/en/serverless/google_cloud_run/containers/in_process/nodejs.md
  content/en/serverless/google_cloud_run/containers/in_process/php.md
  content/en/serverless/google_cloud_run/containers/in_process/python.md
  content/en/serverless/google_cloud_run/containers/in_process/ruby.md
  layouts/shortcodes/gcr-configure-env-vars.en.html
Labels: Architecture, mergequeue-status: removed

#31020 Update monitor template references in docs
  content/en/integrations/guide/azure-manual-setup.md
  content/en/integrations/guide/azure-programmatic-management.md
  content/en/monitors/guide/monitor_best_practices.md
  content/en/monitors/templates/_index.md
  content/en/network_monitoring/cloud_network_monitoring/_index.md
  content/en/partners/getting_started/delivering-value.md
Labels: Guide

#30942 PANA: Modify the retention page
  content/en/product_analytics/charts/user_retention.md
  static/images/product_analytics/retention/pana_retention_export_ui.png
  static/images/product_analytics/retention/pana_retention_measureby.png
  static/images/product_analytics/retention/pana_retention_timeframes_ui.png
  static/images/product_analytics/retention/pana_retention_viz_curve2.png
  static/images/product_analytics/retention/pana_retention_viz_grid.png
  static/images/product_analytics/retention/pana_retention_viz_query_value.png
  static/images/product_analytics/retention/pana_retention_viz_timeseries.png
  static/images/product_analytics/retention/pana_retention_viz_top_list.png
  static/images/product_analytics/retention/pana_retention_weighed_avg.png
Labels: Images

#31030 Agent Usage - saltstack
  static/images/agent/basic_agent_usage/saltstack_install_page.png
Labels: Images

#31005 [AWSX-1557] feat(autosub): add support for Route53 DNS query logs
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: Guide

#30710 Update AAP Proxies documentation
  content/en/security/application_security/setup/compatibility/envoy.md
  content/en/security/application_security/setup/compatibility/gcp-service-extensions.md
  content/en/security/application_security/setup/compatibility/istio.md
  content/en/security/application_security/setup/envoy.md
  content/en/security/application_security/setup/gcp/service-extensions.md
  content/en/security/application_security/setup/istio.md
  content/en/security/application_security/setup/nginx.md
Labels: editorial review, mergequeue-status: queued

#30982 Update agent-filtering-for-dogstatsd-custom-metrics.md
  content/en/metrics/guide/agent-filtering-for-dogstatsd-custom-metrics.md
Labels: editorial review, Guide

#30917 INA-7891: Extract off-topic sections from "Describe incident" documentation
  config/_default/menus/main.en.yaml
  content/en/service_management/incident_management/declare.md
  content/en/service_management/incident_management/describe.md
  content/en/service_management/incident_management/response_team.md
Labels: Architecture, editorial review

#30979 INA-7891: Update Incident Management settings "information" page
  content/en/service_management/incident_management/incident_settings/information.md
Labels: editorial review

#31051 [DOCS-11597] Add Live Capture image
  content/en/observability_pipelines/live_capture.md
  static/images/observability_pipelines/processors/live-capture-example.png
Labels: Images

#31052 fix tile links on `saas_costs` page - DOCSENG-94
  layouts/partials/cloud_cost/cost-integrations.html
Labels: Architecture

#30934 OpenTelemetry: Update the HTTP path and headers for logs and traces
  assets/scripts/config/regions.config.js
  content/en/opentelemetry/setup/agentless/logs.md
  content/en/opentelemetry/setup/agentless/traces.md
Labels: Architecture

#31053 [DOCS-11638] Use HTML table for Socket source doc
  layouts/shortcodes/observability_pipelines/source_settings/socket.md
Labels: Architecture

#31050 [DOCS-11474] Add additional parse JSON info
  layouts/shortcodes/observability_pipelines/processors/parse_json.en.md
  static/images/observability_pipelines/processors/parse-json-example.png
Labels: Architecture, Images

#30896 changes to the remote config page
  content/en/agent/fleet_automation/remote_management.md
  static/images/agent/fleet_automation/fa_create_agent_configuration2.png
Labels: Images

#30944 [DOCS-11719] Update OP Crowdstrike destination env var
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/destination_env_vars/crowdstrike_ng_siem.md
Labels: Architecture

#31077 APM SDK Injection (and others): fix "Node.js"
  content/en/llm_observability/evaluations/submit_evaluations.md
  content/en/serverless/aws_lambda/lwa.md
  content/en/tracing/guide/local_sdk_injection.md
Labels: Guide

#31086 get latest sources when running `start no-pre-build`
  Makefile
  layouts/shortcodes/multifilter-search.html
Labels: Architecture

#30981 INA-7891: Expand Incident Management notification rules documentation for clarity
  content/en/service_management/incident_management/incident_settings/notification_rules.md
Labels: editorial review

#31093 fix z-index on `.code-lang-list-container` - DOCSENG-113
  assets/styles/components/_tab-toggle.scss
Labels: Architecture

#30985 How to resolve On-Call Pages automatically
  content/en/service_management/on-call/triggering_pages/_index.md
Labels: editorial review

#31085 redo - AWS Lambda install pages
  config/_default/menus/main.en.yaml
  content/en/serverless/aws_lambda/configuration.md
  content/en/serverless/aws_lambda/installation/_index.md
  content/en/serverless/aws_lambda/instrumentation/_index.md
  content/en/serverless/aws_lambda/instrumentation/dotnet.md
  content/en/serverless/aws_lambda/instrumentation/go.md
  content/en/serverless/aws_lambda/instrumentation/java.md
  content/en/serverless/aws_lambda/instrumentation/nodejs.md
  content/en/serverless/aws_lambda/instrumentation/python.md
  content/en/serverless/aws_lambda/instrumentation/ruby.md
  layouts/shortcodes/svl-lambda-fips.md
  layouts/shortcodes/svl-lambda-vpc.md
Labels: Architecture, editorial review

#31098 docs: Add new processing rule exclude_truncated to not ingest truncated logs
  content/en/agent/logs/advanced_log_collection.md
Labels: mergequeue-status: queued

#31097 Update user_retention.md
  config/_default/menus/main.en.yaml
  content/en/dashboards/widgets/retention.md
  content/en/product_analytics/_index.md
  content/en/product_analytics/charts/_index.md
  content/en/product_analytics/charts/retention_analysis.md
Labels: Architecture

#31115 bump hugo timeout
  config/_default/config.yaml
Labels: Architecture

#31013 First Time Mobile App Users
  content/en/mobile/guide/_index.md
  content/en/mobile/guide/setup_mobile_device.md
  static/images/service_management/mobile/android_edit_home.png
  static/images/service_management/mobile/android_notification.png
  static/images/service_management/mobile/android_settings.png
  static/images/service_management/mobile/ios_dashboard_widget.png
  static/images/service_management/mobile/ios_edit_home.png
  static/images/service_management/mobile/ios_notification.png
  static/images/service_management/mobile/ios_settings.png
  static/images/service_management/mobile/lock_screen_widget.png
Labels: Images, Guide

#31116 fix z-index on tabs - [DOCSENG-113]
  assets/styles/components/_tab-toggle.scss
Labels: Architecture

#31059 Update entra specific scim docs
  content/en/account_management/scim/entra.md
  static/images/account_management/scim/admin-credentials-entra-flag.png
Labels: Images

#31114 Update podman-support-with-docker-integration.md
  content/en/containers/guide/podman-support-with-docker-integration.md
Labels: Guide

#31127 fix z-index - attempt 3
  assets/styles/components/_tab-toggle.scss
Labels: Architecture

#31140 [AWSX-1554] feat(logs autosubscription) update documentation - add EKS log sources
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: Guide

#30929 Improve UST documentation with realistic examples and clearer guidance
  content/en/tracing/trace_collection/automatic_instrumentation/single-step-apm/kubernetes.md
Labels: mergequeue-status: rejected

#31176 [RUM] Add java servlet logo for RUM browser
  layouts/partials/rum/rum-browser-setup.html
  static/images/integrations_logos/java_servlet_large.svg
Labels: Architecture, Images

#31102 Agent Usage - Google Cloud Run docs
  content/en/serverless/google_cloud_run/containers/sidecar/_index.md
  data/partials/platforms.yaml
  static/images/agent/basic_agent_usage/gcr_install_page.png
  static/images/icons/platform_gcr.png
Labels: editorial review, Images

#31162 Agent Basic Usage - Cloud Foundry docs
  data/partials/platforms.yaml
Labels: WORK IN PROGRESS

#31070 INA-7891: Rework Incident Management integration docs for clarity
  content/en/service_management/incident_management/incident_settings/integrations.md
Labels: editorial review

#31193 Add resource collection callout behavior
  content/en/datadog_cloudcraft/_index.md
  content/en/infrastructure/resource_catalog/_index.md
  content/en/infrastructure/resource_catalog/resource_changes/_index.md
  static/images/infrastructure/resource_catalog/aws_usage_toggle.png
Labels: Images

#31208 DOCS-11611 - AWS Lambda and Step Functions improvements
  content/en/serverless/aws_lambda/deployment_tracking.md
  content/en/serverless/aws_lambda/remote_instrumentation.md
  content/en/serverless/step_functions/installation.md
  static/images/serverless/lambda/svl_lambda_remote.png
Labels: Images

#31198 Deprecate Log Workspaces documentation
  config/_default/menus/main.en.yaml
  content/en/ddsql_reference/_index.md
  content/en/logs/guide/_index.md
  content/en/logs/guide/analyze_ecommerce_ops.md
  content/en/logs/guide/analyze_finance_operations.md
  content/en/logs/guide/analyze_login_attempts.md
  content/en/logs/log_configuration/parsing.md
  content/en/logs/workspaces/_index.md
  content/en/logs/workspaces/export.md
  content/en/logs/workspaces/time_selection.md
  content/en/logs/workspaces/use_cases/_index.md
  content/en/notebooks/advanced_analysis/_index.md
  content/en/reference_tables/_index.md
  static/images/logs/guide/log_analysis_use_cases/analyze_ecommerce_ops/analysis_join_bad_ratings_with_payment_errors.png
  static/images/logs/guide/log_analysis_use_cases/analyze_ecommerce_ops/combined_salesforce.png
  static/images/logs/guide/log_analysis_use_cases/analyze_ecommerce_ops/customer_feedback_bad_ratings.png
  static/images/logs/guide/log_analysis_use_cases/analyze_ecommerce_ops/merch_details.png
  static/images/logs/guide/log_analysis_use_cases/analyze_ecommerce_ops/sum_lost_revenue.png
  static/images/logs/guide/log_analysis_use_cases/analyze_ecommerce_ops/visualization_most_bad_ratings.png
  static/images/logs/guide/log_analysis_use_cases/analyze_ecommerce_ops/visualize_total_loss_revenue.png
  static/images/logs/guide/log_analysis_use_cases/analyze_ecommerce_ops/webstore_payment_errs.png
  static/images/logs/guide/log_analysis_use_cases/analyze_failed_login_count.png
  static/images/logs/guide/log_analysis_use_cases/finance/finance_billpay_datasource.png
  static/images/logs/guide/log_analysis_use_cases/finance/finance_credit_card_data_source.png
  static/images/logs/guide/log_analysis_use_cases/finance/sql_query_analysis_0.png
  static/images/logs/guide/log_analysis_use_cases/query_failed_logs.png
Labels: Architecture, Images, Guide

#31009 [SDCI] Add docs for CI PR comments in job failure analysis guide
  content/en/continuous_integration/guides/use_ci_jobs_failure_analysis.md
  static/images/continuous_integration/pr_comment.png
Labels: Images

#31148 [CCA-1071] ccm report schedules docs
  config/_default/menus/main.en.yaml
  content/.gitignore
  content/en/cloud_cost_management/reports/_index.md
  content/en/cloud_cost_management/reports/scheduled_reports.md
  static/images/cloud_cost/cost_reports/cloud-cost-scheduled-report-1.png
  static/images/cloud_cost/cost_reports/cost-report-email.png
  static/images/cloud_cost/cost_reports/cost-report-schedules-view-4.png
  static/images/cloud_cost/cost_reports/cost-report-slack-1.png
  static/images/cloud_cost/cost_reports/manage-cost-report-schedules-2.png
  static/images/cloud_cost/cost_reports/share_scheduled_report-1.png
Labels: Architecture, Images

#31192 update log injection docs
  content/en/integrations/guide/azure-portal.md
  content/en/logs/log_collection/csharp.md
  content/en/serverless/aws_lambda/configuration.md
  content/en/serverless/google_cloud_run/functions.md
  content/en/serverless/guide/aca_serverless_init.md
  content/en/serverless/guide/azure_app_service_linux_containers_serverless_init.md
  content/en/serverless/guide/datadog_forwarder_java.md
  content/en/tracing/other_telemetry/connect_logs_and_traces/nodejs.md
  content/en/tracing/other_telemetry/connect_logs_and_traces/php.md
  content/en/tracing/other_telemetry/connect_logs_and_traces/python.md
  content/en/tracing/trace_collection/library_config/_index.md
  content/en/tracing/trace_collection/library_config/nodejs.md
  content/en/tracing/trace_collection/library_config/php.md
  content/en/tracing/trace_collection/library_config/python.md
Labels: Guide

#31224 [Cloud Run] Add metrics instructions
  content/en/serverless/google_cloud_run/containers/in_process/dotnet.md
  content/en/serverless/google_cloud_run/containers/in_process/go.md
  content/en/serverless/google_cloud_run/containers/in_process/java.md
  content/en/serverless/google_cloud_run/containers/in_process/nodejs.md
  content/en/serverless/google_cloud_run/containers/in_process/php.md
  content/en/serverless/google_cloud_run/containers/in_process/python.md
  content/en/serverless/google_cloud_run/containers/in_process/ruby.md
  content/en/serverless/google_cloud_run/containers/sidecar/dotnet.md
  content/en/serverless/google_cloud_run/containers/sidecar/go.md
  content/en/serverless/google_cloud_run/containers/sidecar/java.md
  content/en/serverless/google_cloud_run/containers/sidecar/nodejs.md
  content/en/serverless/google_cloud_run/containers/sidecar/php.md
  content/en/serverless/google_cloud_run/containers/sidecar/python.md
  content/en/serverless/google_cloud_run/containers/sidecar/ruby.md
  layouts/shortcodes/gcr-configure.html
Labels: Architecture

#31105 [DOCS-11797] Kerberos Authentication for Synthetics
  content/en/getting_started/synthetics/private_location.md
  content/en/synthetics/browser_tests/app-that-requires-login.md
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/authentication-protocols.md
  content/en/synthetics/guide/kerberos-authentication.md
  content/en/synthetics/platform/private_locations/_index.md
  static/images/synthetics/guide/app_that_requires_login/browser_test_adv_options_2.png
  static/images/synthetics/guide/kerberos-authentication/api_test_kerberos.png
Labels: WORK IN PROGRESS, Images, Guide

#31180 [SVLS-7298] Add support for merging upstream traces with Step Function
  content/en/serverless/step_functions/distributed-maps.md
  content/en/serverless/step_functions/merge-step-functions-lambda.md
Labels: mergequeue-status: queued

#31244 Small updates to Extract a one time passcode guide
  content/en/synthetics/guide/otp-email-synthetics-test.md
Labels: Guide

#31021 [DOCS-10808] De-couple Browser SDK Error Tracking from RUM
  content/.gitignore
  content/en/error_tracking/frontend/browser.md
  content/en/real_user_monitoring/browser/setup/client.md
Labels: editorial review

#31233 Add concurrent query usage graph
  content/en/logs/guide/flex_compute.md
  static/images/logs/guide/flex_compute/flex_compute_graphs_1.png
Labels: Images, Guide

#31248 update Network path screenshots
  content/en/network_monitoring/network_path/_index.md
  content/en/network_monitoring/network_path/list_view.md
  content/en/network_monitoring/network_path/path_view.md
  static/images/network_performance_monitoring/network_path/hop-to-hop-latency-graph_3.png
  static/images/network_performance_monitoring/network_path/latency_health_bar_3.mp4
  static/images/network_performance_monitoring/network_path/multi_path_2.png
  static/images/network_performance_monitoring/network_path/network_path_default_view_4.png
Labels: Images

#31245 [DOCS-11798] Consolidate CCM setup for Snowflake
  config/_default/menus/main.en.yaml
  content/en/cloud_cost_management/setup/saas_costs.md
Labels: Architecture

#31257 Document flags to denylist, passlist containers from cloud security
  content/en/security/cloud_security_management/guide/agent_variables.md
Labels: editorial review, mergequeue-status: removed

#31134 Workload Protection's new Coverage feature
  config/_default/menus/main.en.yaml
  content/en/security/workload_protection/inventory/_index.md
  content/en/security/workload_protection/inventory/coverage_map.md
  static/images/security/cws/workload_protection_coverage_map.png
Labels: Architecture, editorial review, Images

#31194 CSM VM - GovCloud GA: remove preview banner
  content/en/security/cloud_security_management/vulnerabilities/_index.md
Labels: mergequeue-status: queued

#31272 [K9VULN-7866] Document limitation of global configuration
  content/en/security/code_security/static_analysis/setup/_index.md
Labels: mergequeue-status: queued

#31267 [Cloud Run] (chore) Rename in-process to in-container
  content/en/serverless/azure_functions/_index.md
  content/en/serverless/google_cloud_run/containers/_index.md
  content/en/serverless/google_cloud_run/containers/in_container/_index.md
  content/en/serverless/google_cloud_run/containers/in_container/dotnet.md
  content/en/serverless/google_cloud_run/containers/in_container/go.md
  content/en/serverless/google_cloud_run/containers/in_container/java.md
  content/en/serverless/google_cloud_run/containers/in_container/nodejs.md
  content/en/serverless/google_cloud_run/containers/in_container/php.md
  content/en/serverless/google_cloud_run/containers/in_container/python.md
  content/en/serverless/google_cloud_run/containers/in_container/ruby.md
  content/en/serverless/google_cloud_run/functions.md
  layouts/shortcodes/gcr-container-options.html
  layouts/shortcodes/gcr-env-vars.html
Labels: Architecture, editorial review, serverless

#29492 Adding Operator Instructions to MySQL Docs
  content/en/database_monitoring/setup_mysql/aurora.md
  content/en/database_monitoring/setup_mysql/azure.md
  content/en/database_monitoring/setup_mysql/gcsql.md
  content/en/database_monitoring/setup_mysql/rds.md
  content/en/database_monitoring/setup_mysql/selfhosted.md
Labels: mergequeue-status: queued

#31169 [AGTMETRICS-350]Updated docs for dogstatsd origin detection
  content/en/developers/dogstatsd/_index.md
  content/en/metrics/custom_metrics/dogstatsd_metrics_submission.md
Labels: editorial review

#29517 External coverage data is only read when dd-trace calls dotnet test
  content/en/tests/code_coverage.md
Labels: editorial review

#31317 Update S3 Inventory casing
  content/en/integrations/guide/storage-monitoring-setup.md
Labels: Guide

#31229 containers: add guide for managing DatadogPodAutoscaler resources with Terraform
  content/en/containers/guide/_index.md
  content/en/containers/guide/manage-datdadogpodautoscaler-with-terraform.md
Labels: editorial review, Guide

#31057 Add new page for saving/reusing actions for apps
  config/_default/menus/main.en.yaml
  content/en/actions/app_builder/saved_actions.md
  content/en/actions/workflows/saved_actions.md
  static/images/icons/clone-alert-blue.png
  static/images/icons/clone.png
  static/images/icons/delete.png
  static/images/icons/kebab.png
Labels: Architecture, Images

#31292 [ddsql] Add examples of multi-valued tags handling to DDSQL tags documentation
  .github/CODEOWNERS
  content/en/ddsql_reference/_index.md
Labels: Github, mergequeue-status: queued

#31328 Josh/grammar check
  content/en/getting_started/agent/_index.md
  content/en/notebooks/_index.md
Labels: mergequeue-status: queued

#31023 [DOCS-11639] Updates for RBAC for SDS in logs
  content/en/data_security/_index.md
  content/en/logs/guide/_index.md
  content/en/logs/guide/delete_logs_with_sensitive_data.md
  content/en/logs/guide/logs-rbac.md
  content/en/logs/guide/manage-sensitive-logs-data-access.md
  content/en/security/sensitive_data_scanner/_index.md
  content/en/security/sensitive_data_scanner/setup/telemetry_data.md
  layouts/shortcodes/sds-mask-action.md
  layouts/shortcodes/sds-scanning-rule.en.md
Labels: Architecture, Guide

#31300 Refresh for Azure App Service
  config/_default/menus/main.en.yaml
  content/en/serverless/_index.md
  content/en/serverless/azure_app_service/_index.md
  content/en/serverless/azure_app_service/linux_code.md
  content/en/serverless/azure_app_service/linux_container.md
  content/en/serverless/azure_app_service/windows_code.md
  content/en/serverless/azure_app_services/_index.md
  static/images/serverless/azure_app_service/azure_app_service_top_2.png
Labels: Architecture, Images

#31309 [SHEETS-2095] Add new data sources in Sheets public documentation
  content/en/sheets/_index.md
Labels: mergequeue-status: queued

#30887 Flaky Tests Policies [DOCS-10820]
  content/en/tests/flaky_management/_index.md
  static/images/tests/flaky-policies-2.png
  static/images/tests/flaky-policies.png
Labels: editorial review, Images

#30867 Added service naming caveat and image to Full Host profiling enabling page
  content/en/profiler/enabling/full_host.md
  static/images/profiler/inferred_service_example.png
Labels: editorial review, Images

#31352 Remove dogweb from integration finder
  local/bin/py/integration-finder.py
Labels: Architecture

#31355 add info on 2D toggle to cloudcraft docs
  content/en/datadog_cloudcraft/_index.md
  static/images/datadog_cloudcraft/cloudcraft_2D.png
Labels: Images

#31136 Update CloudPrem doc
  config/_default/menus/main.en.yaml
  content/en/cloudprem/_index.md
  content/en/cloudprem/architecture.md
  content/en/cloudprem/configure/_index.md
  content/en/cloudprem/configure/aws_config.md
  content/en/cloudprem/configure/azure_config.md
  content/en/cloudprem/configure/cluster_sizing.md
  content/en/cloudprem/configure/datadog_account.md
  content/en/cloudprem/configure/ingress.md
  content/en/cloudprem/configure/processing.md
  content/en/cloudprem/ingest_logs/_index.md
  content/en/cloudprem/ingest_logs/datadog_agent.md
  content/en/cloudprem/ingest_logs/observability_pipelines.md
  content/en/cloudprem/ingest_logs/rest_api.md
  content/en/cloudprem/install/_index.md
  content/en/cloudprem/install/aws_eks.md
  content/en/cloudprem/install/azure_aks.md
  content/en/cloudprem/install/kubernetes_nginx.md
  content/en/cloudprem/manage/_index.md
  content/en/cloudprem/supported_features.md
  content/en/cloudprem/troubleshooting.md
  static/images/cloudprem/ingest/observability-pipelines-cloudprem-setup.png
Labels: Architecture, editorial review, Images

#31247 Add docs for DDOT Linux bare-metal preview
  content/en/opentelemetry/setup/ddot_collector/_index.md
  content/en/opentelemetry/setup/ddot_collector/install/_index.md
  content/en/opentelemetry/setup/ddot_collector/install/kubernetes.md
  content/en/opentelemetry/setup/ddot_collector/install/linux.md
Labels: editorial review

#31374 fix(co): Replace Code Origins references with Code Origin
  config/_default/menus/main.en.yaml
  content/en/tracing/code_origin/_index.md
  content/en/tracing/guide/_index.md
  content/en/tracing/live_debugger/_index.md
  content/es/tracing/code_origin/_index.md
  content/es/tracing/live_debugger/_index.md
  static/images/tracing/code_origin/code_origin_add_span_tag_spotlight.png
  static/images/tracing/code_origin/code_origin_details_spotlight.png
  static/images/tracing/code_origin/code_origin_ide_details.png
  static/images/tracing/code_origin/code_origin_service_entry_spans_filter.png
  static/images/tracing/code_origin/code_origin_start_debug_session.png
Labels: Architecture, Images, Guide

#31033 [DOCS-11637] ] Synthetics enhanced monitors messages and notifications
  config/_default/menus/main.en.yaml
  content/en/getting_started/synthetics/_index.md
  content/en/monitors/notify/variables.md
  content/en/monitors/types/_index.md
  content/en/monitors/types/synthetic_monitoring.md
  content/en/synthetics/_index.md
  content/en/synthetics/browser_tests/_index.md
  content/en/synthetics/guide/_index.md
  content/en/synthetics/guide/synthetic-test-monitors.md
  content/en/synthetics/mobile_app_testing/_index.md
  content/en/synthetics/multistep.md
  content/en/synthetics/notifications/_index.md
  content/en/synthetics/notifications/advanced_notifications.md
  content/en/synthetics/notifications/conditional_alerting.md
  content/en/synthetics/notifications/statuspage.md
  content/en/synthetics/notifications/template_variables.md
  layouts/shortcodes/synthetics-alerting-monitoring.en.md
  static/images/mobile_app_testing/mobile_app_synthetic_monitor.png
  static/images/monitors/monitor_types/synthetic_monitoring/content_in_notification.png
  static/images/synthetics/api_tests/synthetics_api_tests_monitor.png
  static/images/synthetics/browser_tests/browser_tests_pre-filled.png
  static/images/synthetics/guide/synthetics_test_monitors/configure_the_monitor_2.png
  static/images/synthetics/guide/synthetics_test_monitors/configure_the_monitor_for_this_test_2.png
  static/images/synthetics/guide/synthetics_test_monitors/renotification_toggle_2.png
Labels: Architecture, WORK IN PROGRESS, Images, Guide
