Repository DataDog/documentation, pull requests merged in 2025-04, with the labels that each got.

#28180 Update SFN Trace Merging
  content/en/serverless/step_functions/merge-step-functions-lambda.md
Labels: editorial review, mergequeue-status: in_progress

#28467 Pagea a Team via email
  content/en/service_management/on-call/pages.md
Labels: mergequeue-status: in_progress

#28485 [Test Optimization] Remove beta warning for EFD and ATR in Python
  content/en/tests/flaky_test_management/auto_test_retries.md
  content/en/tests/flaky_test_management/early_flake_detection.md
Labels: mergequeue-status: done

#28473 Update OTel link
  content/en/opentelemetry/setup/intake_endpoint/otlp_metrics.md
Labels: opentelemetry, mergequeue-status: done

#28480 Move email documentation
  content/en/service_management/on-call/pages.md
Labels: mergequeue-status: done

#28470 Highlight the impact of missing graph API permissions
  layouts/shortcodes/csm-setup-azure.en.md
Labels: Architecture, mergequeue-status: in_progress

#28165 DOCS-10186
  config/_default/menus/main.en.yaml
  content/en/software_catalog/customize.md
  content/en/software_catalog/customize/create_entries.md
  content/en/software_catalog/customize/import_entries_backstage.md
  content/en/software_catalog/customize/import_entries_dd.md
  content/en/software_catalog/customize/import_entries_servicenow.md
  content/en/software_catalog/self_service_actions/_index.md
  content/en/software_catalog/set_up/_index.md
  content/en/software_catalog/set_up/existing_datadog_user.md
  content/en/software_catalog/set_up/new_to_datadog.md
  content/en/software_catalog/use_cases/_index.md
  content/en/software_catalog/use_cases/best_practices.md
  content/en/software_catalog/use_cases/validating_service_definition.md
Labels: Architecture, editorial review, mergequeue-status: in_progress

#28370 Update version documentation to latest major version
  content/en/agent/guide/version_differences.md
Labels: Guide, mergequeue-status: in_progress

#28486 Update watchdog_explains.md
  content/en/dashboards/graph_insights/watchdog_explains.md
Labels: mergequeue-status: in_progress

#28484 [MLOB] fix links in ragas and apply suggestion from ragas team
  content/en/llm_observability/ragas_evaluations.md
Labels: mergequeue-status: in_progress

#28487 [.NET] Add documentation of known bug
  content/en/tracing/trace_collection/compatibility/dotnet-core.md
Labels: mergequeue-status: in_progress

#28491 Remove wrong build.gradle filename mention for Android Session Replay privacy snippets
  content/en/real_user_monitoring/session_replay/mobile/privacy_options.md
Labels: mergequeue-status: in_progress

#28494 Fix image bug
  content/en/monitors/guide/non_static_thresholds.md
Labels: Guide, mergequeue-status: in_progress

#28501 [DOCS-10483] Add RC requirement OP API key
  content/en/observability_pipelines/advanced_configurations.md
Labels: mergequeue-status: in_progress

#28492 Update the Gov note for account management to include username/email
  content/en/account_management/_index.md
Labels: mergequeue-status: in_progress

#28332 RUM Remote Configuration
  content/en/real_user_monitoring/browser/setup/server.md
Labels: mergequeue-status: in_progress

#28488 Fix blog post links in Notebook docs
  content/en/notebooks/notebooks_legacy.md
  content/en/notebooks/notebooks_new.md
Labels: mergequeue-status: in_progress

#26103 [DOCS-9300] Add info on indexing worker logs
  content/en/observability_pipelines/set_up_pipelines/_index.md
  content/en/observability_pipelines/troubleshooting.md
Labels: mergequeue-status: in_progress

#28474 Update VS Code doc link
  content/en/developers/ide_plugins/vscode/_index.md
Labels: mergequeue-status: in_progress

#28495 Fix preview signup link in Backend Error Tracking doc
  content/en/error_tracking/backend/_index.md
Labels: mergequeue-status: in_progress

#28490 [OTEL-2371] update a warning in agent otlp ingestion
  content/en/opentelemetry/setup/otlp_ingest_in_the_agent.md
Labels: mergequeue-status: in_progress

#28355 Update opentelemetry.md
  content/en/tracing/other_telemetry/connect_logs_and_traces/opentelemetry.md
Labels: under_review

#28446 Make Team provisioning with OKTA globally available
  content/en/account_management/scim/_index.md
  content/en/account_management/scim/okta.md
Labels: mergequeue-status: in_progress

#28514 Add link to Job Failure Analysis guide in GitLab and GitHub Actions
  content/en/continuous_integration/pipelines/github.md
  content/en/continuous_integration/pipelines/gitlab.md
Labels: mergequeue-status: in_progress

#28518 Added kinesis to DSM dotnet technology list
  content/en/data_streams/dotnet.md
Labels: mergequeue-status: in_progress

#28521 Fix code snippet on CNM setup page
  content/en/network_monitoring/cloud_network_monitoring/setup.md
Labels: mergequeue-status: in_progress

#28409 Add env vars for excluding OPW logs
  content/en/observability_pipelines/sources/datadog_agent.md
  content/en/observability_pipelines/troubleshooting.md
Labels: mergequeue-status: in_progress

#28523 Update Google IdP instructions to clarify signed assertion checkbox should be left unchecked
  content/en/account_management/saml/google.md
Labels: mergequeue-status: in_progress

#28503 Add clarification on node visualization for service map
  content/en/tracing/services/services_map.md
Labels: mergequeue-status: in_progress

#28517 Updates to service map content on service node coloring logic
  content/en/tracing/services/services_map.md
Labels: mergequeue-status: in_progress

#28506 Add note about @ character in logs search
  content/en/logs/explorer/search_syntax.md
Labels: mergequeue-status: in_progress

#28525 [DOCS-10258] remove v0/v1 references from Synthetics facets
  content/en/synthetics/explore/results_explorer/search_runs.md
Labels: mergequeue-status: in_progress

#28522 update dd-trace-api-py docs link to be prettier
  content/en/tracing/trace_collection/custom_instrumentation/python/dd-api.md
Labels: mergequeue-status: in_progress

#28528 Update services_map.md
  content/en/tracing/services/services_map.md
Labels: mergequeue-status: in_progress

#28527 Update resource collection link
  content/en/datadog_cloudcraft/_index.md
Labels: mergequeue-status: in_progress

#28482 [SYNTH-18711] Update comment about sed syntax support
  content/en/continuous_testing/environments/multiple_env.md
Labels: mergequeue-status: in_progress

#28519 Remove preview labels for k8s SSI
  content/en/tracing/trace_collection/automatic_instrumentation/single-step-apm/_index.md
Labels: mergequeue-status: in_progress

#28417 [DOCS-8666] Add OP Performance doc
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/performance.md
Labels: Architecture, editorial review, mergequeue-status: in_progress

#28526 [DOCS-10533] Update links
  content/en/security/guide/aws_fargate_config_guide.md
Labels: Guide, mergequeue-status: in_progress

#28288 Update metrics streams filtering support
  content/en/integrations/guide/aws-cloudwatch-metric-streams-with-kinesis-data-firehose.md
Labels: Guide, mergequeue-status: in_progress

#28478 Fix Continuous Profiler link
  content/en/profiler/enabling/ruby.md
Labels: mergequeue-status: in_progress

#28489 Fix Bitbucket link in shortcodes
  layouts/shortcodes/sci-microsoft-sourcelink.en.md
  layouts/shortcodes/sci-microsoft-sourcelink.fr.md
  layouts/shortcodes/sci-microsoft-sourcelink.ja.md
  layouts/shortcodes/sci-microsoft-sourcelink.ko.md
Labels: Architecture, mergequeue-status: in_progress

#28471 Update Continuous Integration TeamCity links
  content/en/continuous_integration/pipelines/teamcity.md
Labels: mergequeue-status: in_progress

#28524 Update docs for new Compliance UI
  content/en/security/cloud_security_management/misconfigurations/frameworks_and_benchmarks/_index.md
  static/images/security/cspm/frameworks_and_benchmarks/cis_aws_compliance_report_3.png
  static/images/security/cspm/frameworks_and_benchmarks/compliance_reports_3.png
  static/images/security/cspm/frameworks_and_benchmarks/failed-finding3.png
Labels: Images, mergequeue-status: in_progress

#28436 Update Storage Monitoring setup docs with GCS instructions
  content/en/integrations/guide/storage-monitoring-setup.md
Labels: Guide, mergequeue-status: in_progress, gcp-integrations

#28499 Fix link in Logs Getting Started guide
  content/en/getting_started/logs/_index.md
Labels: logs, mergequeue-status: in_progress

#28496 Fix broken link in Agent FAQ
  content/en/agent/faq/hostname-starting-with-ec2-default-prefix.md
Labels: FAQ, mergequeue-status: in_progress

#28507 Make example URL non-clickable in RUM Browser Monitoring docs
  content/en/real_user_monitoring/browser/setup/client.md
Labels: mergequeue-status: in_progress

#28508 Fix link in TLS ciphers deprecation notice doc
  content/en/data_security/guide/tls_ciphers_deprecation.md
Labels: Guide, mergequeue-status: done

#28546 Notification Rule preview banner
  content/en/monitors/notify/notification_rules.md
Labels: mergequeue-status: in_progress

#28378 [DOCS-10453] GitLab source code integration closed preview
  content/en/integrations/guide/source-code-integration.md
Labels: Guide, mergequeue-status: in_progress

#28349 Trace level retention filters docs
  content/en/tracing/trace_pipeline/trace_retention.md
  static/images/tracing/trace_indexing_and_ingestion/retention_filters/retention_filter_create.png
Labels: editorial review, Images, mergequeue-status: in_progress

#28031 Update cross org api docs to include auth headers
  content/en/account_management/org_settings/cross_org_visibility_api.md
Labels: mergequeue-status: in_progress

#28516 Updated some of the wording and removed explicit callouts to RC Preview
  content/en/real_user_monitoring/browser/setup/server.md
Labels: mergequeue-status: in_progress

#28551 [GRACE-2250] Update the permissions needed for managing cross org visibility
  content/en/account_management/org_settings/cross_org_visibility_api.md
Labels: mergequeue-status: in_progress

#28554 Fix typo for Fargate Secrets definition
  content/en/synthetics/platform/private_locations/_index.md
Labels: mergequeue-status: in_progress

#28509 Make example URL non-clickable in OP Advanced Configurations doc
  content/en/observability_pipelines/advanced_configurations.md
Labels: mergequeue-status: in_progress

#28549 RUM-9265 [Session Replay] Privacy overrides are not supported in SwiftUI
  content/en/real_user_monitoring/session_replay/mobile/privacy_options.md
Labels: mergequeue-status: in_progress

#28553 DOCS-10500: Broken external link to node-mongodb-native core
  content/en/security/code_security/iast/setup/compatibility/nodejs.md
  content/en/security/code_security/software_composition_analysis/setup_runtime/compatibility/nodejs.md
Labels: mergequeue-status: in_progress

#28557 [AZINTS-3322] Remove Azure status metric references
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/azure-count-metric.md
Labels: Guide, mergequeue-status: in_progress

#28369 Update link from agent security to secrets-management doc
  content/en/data_security/agent.md
Labels: mergequeue-status: in_progress

#28561 [APPS-2242] Remove connection groups warning
  content/en/actions/connections/_index.md
Labels: mergequeue-status: in_progress

#28559 Update nodejs.md
  content/en/tracing/trace_collection/compatibility/nodejs.md
Labels: mergequeue-status: in_progress

#28540 [DOCS-10450] adding note on permissions
  content/en/synthetics/platform/private_locations/_index.md
Labels: mergequeue-status: in_progress

#28563 Update language for .NET Framework versions on Spanish site
  content/es/tracing/trace_collection/automatic_instrumentation/dd_libraries/dotnet-framework.md
Labels: mergequeue-status: in_progress

#28354 Update example code for instrumenting Node.js Lambda using CDK
  content/en/serverless/aws_lambda/installation/nodejs.md
Labels: mergequeue-status: in_progress

#28418 [SVLS-6531] Create doc for GCP cloud run function gen 1 SCL
  config/_default/menus/main.en.yaml
  content/en/serverless/google_cloud_run/_index.md
  content/en/serverless/google_cloud_run/functions.md
  content/en/serverless/google_cloud_run/functions_gen1.md
Labels: Architecture, mergequeue-status: in_progress, GAS

#28566 james.eastham/update-serverless-sample-links
  content/en/serverless/aws_lambda/installation/dotnet.md
  content/en/serverless/aws_lambda/installation/go.md
  content/en/serverless/aws_lambda/installation/java.md
  content/en/serverless/aws_lambda/installation/nodejs.md
Labels: mergequeue-status: in_progress

#28558 Fix typo with retention filter docs
  content/en/tracing/trace_pipeline/trace_retention.md
Labels: mergequeue-status: in_progress

#28542 Add blog link to Private Actions doc
  content/en/actions/private_actions/_index.md
Labels: mergequeue-status: in_progress

#28510 Make example URLs non-clickable
  content/en/logs/log_collection/javascript.md
  content/en/real_user_monitoring/browser/setup/client.md
Labels: mergequeue-status: in_progress

#28088 MWL Aggregations Deprecation
  content/en/account_management/billing/custom_metrics.md
  content/en/metrics/_index.md
  content/en/metrics/guide/custom_metrics_governance.md
  content/en/metrics/metrics-without-limits.md
  static/images/account_management/billing/custom_metrics/mwl_sidepanel_ingested_3142025.jpg
  static/images/metrics/mwl-example-tag-exclusion-compressed_04032025.mp4
  static/images/metrics/mwl_example_include_tags-compressed_03182025.mp4
  static/images/metrics/volume/reduce_metric_vol_cost_tags_03142025.png
Labels: Images, Guide, mergequeue-status: in_progress

#28530 Update recommendations.md to add new Recommendation Capabilities
  content/en/database_monitoring/recommendations.md
Labels: mergequeue-status: in_progress

#28570 Fix hostname in Sending Data from the OpenTelemetry Demo to Datadog
  content/en/opentelemetry/guide/otel_demo_to_datadog.md
Labels: Guide, mergequeue-status: in_progress

#28573 Update to remove agent override (only keep clusterAgent)
  content/en/tracing/trace_collection/automatic_instrumentation/single-step-apm/_index.md
Labels: mergequeue-status: in_progress

#28564 Make connections group generic for workflows and app builder
  content/en/actions/connections/_index.md
Labels: mergequeue-status: in_progress

#28571 Remove callout to request managed team saccess
  content/en/account_management/teams/manage.md
Labels: mergequeue-status: in_progress

#28560 add ruby baggage example
  content/en/tracing/trace_collection/custom_instrumentation/ruby/dd-api.md
  content/en/tracing/trace_collection/trace_context_propagation/_index.md
Labels: mergequeue-status: in_progress

#28531 Make accordions anchorable (theoretically)
  assets/scripts/components/accordion-auto-open.js
  assets/scripts/main-dd-js.js
  assets/styles/components/_collapsible-section.scss
  content/en/security/cloud_security_management/setup/agentless_scanning/enable.md
  layouts/shortcodes/collapse-content.html
Labels: Architecture, mergequeue-status: in_progress, hackathon

#28586 Add ID parameter to collapse-content snippet
  snippets/markdown.json
Labels: mergequeue-status: in_progress

#28574 DOCS-10486: Remove Wistia video links
  content/es/integrations/amazon_event_bridge.md
  content/fr/account_management/multi_organization.md
  content/fr/integrations/amazon_event_bridge.md
  content/ja/integrations/amazon_event_bridge.md
  content/ko/integrations/amazon_event_bridge.md
Labels: mergequeue-status: in_progress

#28568 DOCS-10514: Remove hubot faq
  content/en/developers/faq/_index.md
  content/en/developers/faq/hubot-script-request-snapshots-in-chat-using-the-datadog-api.md
Labels: FAQ, mergequeue-status: in_progress

#28364 Update _index.md to include iOS entitlements for MAT
  content/en/synthetics/troubleshooting/_index.md
Labels: mergequeue-status: in_progress

#28572 Add note for usage of RUM attributes
  content/en/real_user_monitoring/mobile_and_tv_monitoring/ios/advanced_configuration.md
Labels: mergequeue-status: in_progress

#28581 java and python layer version update
  layouts/shortcodes/latest-lambda-layer-version.html
Labels: Architecture, mergequeue-status: in_progress

#28590 Fix rounded corners on collapse content shortcode
  assets/styles/components/_collapsible-section.scss
Labels: Architecture, mergequeue-status: in_progress

#28594 CSM: fill knowledge gaps PMs identified
  content/en/security/cloud_security_management/_index.md
Labels: mergequeue-status: in_progress

#27074 [ML-OB] Update the evaluation metric API to V2
  content/en/llm_observability/setup/api.md
  content/en/llm_observability/submit_evaluations.md
Labels: mergequeue-status: done

#28604 [DOCS-10549] Fix Elasticsearch template syntax field
  content/en/observability_pipelines/destinations/_index.md
Labels: mergequeue-status: in_progress

#28605 [DOCS-10562] Fix link and text in OP Azure Storage destination doc
  content/en/observability_pipelines/destinations/azure_storage.md
Labels: mergequeue-status: done

#28575 Add blog link to RUM Browser Monitoring doc
  content/en/real_user_monitoring/browser/optimizing_performance.md
Labels: mergequeue-status: in_progress

#28579 Update the auth scopes shortcode to permissions partial
  content/en/api/latest/scopes/_index.md
Labels: mergequeue-status: in_progress

#28610 Add blog links
  content/en/security/_index.md
  content/en/service_management/incident_management/_index.md
Labels: mergequeue-status: in_progress

#28603 Update standalone_application_security.md to add Ruby version
  content/en/security/application_security/guide/standalone_application_security.md
Labels: mergequeue-status: in_progress

#28601 Datadog plugin for JetBrains IDEs / documentation refresh (minor)
  content/en/developers/ide_plugins/idea/_index.md
  static/images/developers/ide_plugins/idea/ci-navigation.png
  static/images/developers/ide_plugins/idea/code-insights-2.png
  static/images/developers/ide_plugins/idea/install-plugin.png
  static/images/developers/ide_plugins/idea/overview1.png
Labels: editorial review, Images, mergequeue-status: in_progress

#28144 DOCS-10286: single-source Datadog Operator docs
  .gitignore
  config/_default/menus/main.en.yaml
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture, mergequeue-status: rejected

#28587 Add RED Metrics and Distributed Tracing to OTel Compatibility table
  content/en/opentelemetry/compatibility.md
Labels: mergequeue-status: in_progress

#28609 Updates for primary tags feature
  content/en/software_catalog/navigating.md
  content/en/software_catalog/troubleshooting.md
  content/en/tracing/guide/setting_primary_tags_to_scope.md
  content/en/tracing/troubleshooting/_index.md
Labels: Guide, mergequeue-status: in_progress

#28363 [VULNOPS-1747] Update Agent Security Scans Text
  content/en/data_security/agent.md
Labels: mergequeue-status: in_progress

#28408 [DJM Databricks page] Note on admin permission required for managed install
  content/en/data_jobs/databricks.md
Labels: mergequeue-status: in_progress

#28580 Reformat Language and Library Versions for Profiler Features to remove minimum tracer
  content/en/profiler/enabling/supported_versions.md
Labels: mergequeue-status: in_progress

#28552 Further replacements of ddtrace with datadog gem
  content/en/serverless/aws_lambda/installation/ruby.md
Labels: under_review

#28595 [DOCS-10510] Update link
  content/en/integrations/guide/azure-manual-setup.md
Labels: Guide, mergequeue-status: in_progress

#28620 [DOCS-10550] Update Blob Storage restriction note
  content/en/logs/guide/azure-logging-guide.md
Labels: Guide, mergequeue-status: in_progress

#28617 A few tweaks for clarity
  content/en/cloud_cost_management/custom_allocation_rules/_index.md
  content/en/cloud_cost_management/saas_costs.md
  content/en/cloud_cost_management/tag_pipelines.md
  static/images/cloud_cost/custom_allocation_rules/dynamic_partition_diagram.png
  static/images/cloud_cost/custom_allocation_rules/even_partition_diagram.png
Labels: Images, mergequeue-status: in_progress

#28614 Add link to Datadog's Pricing page for browser tests
  content/en/synthetics/guide/monitor-usage.md
Labels: Guide, mergequeue-status: in_progress

#28444 docs(debugger): add special vars section to expression language docs
  content/en/dynamic_instrumentation/expression-language.md
Labels: mergequeue-status: in_progress

#28631 Mark mysql index recommendations as available
  content/en/database_monitoring/recommendations.md
Labels: mergequeue-status: in_progress

#28613 [DOCS-9879/10551] Add OP compression info for Datadog and Splunk destinations
  layouts/shortcodes/observability_pipelines/destination_settings/datadog.en.md
  layouts/shortcodes/observability_pipelines/destination_settings/splunk_hec.en.md
Labels: Architecture, mergequeue-status: in_progress

#28632 [DOCS-9300] Add Worker logs to troubleshooting
  content/en/observability_pipelines/troubleshooting.md
Labels: mergequeue-status: in_progress

#28635 Add CNM and USM to endpoints
  content/en/agent/configuration/network.md
Labels: mergequeue-status: in_progress

#28633 [DOCS-10520] Add note about HTTP Server bytes encoding and raw log
  layouts/shortcodes/observability_pipelines/source_settings/http_server.en.md
Labels: Architecture, mergequeue-status: in_progress

#28618 Replace deprecated FilterRequestsOnUrl with DD_TRACE_SAMPLING_RULES for dd-trace-py
  content/en/tracing/guide/ignoring_apm_resources.md
Labels: Guide, mergequeue-status: in_progress

#28585 Fix doc for troubleshooting Lambda
  content/en/serverless/aws_lambda/troubleshooting.md
Labels: mergequeue-status: in_progress

#28636 [DOCS-9727] Add permission section to Reference Tables
  content/en/reference_tables/_index.md
  static/images/reference_tables/granular_access_permissions.png
Labels: Images, mergequeue-status: in_progress

#28642 Update _index.md
  content/en/software_catalog/_index.md
Labels: mergequeue-status: in_progress

#28637 [AWSCORE-85] Delete unused amazon-service-quotas docs
  content/fr/integrations/amazon_service_quotas.md
Labels: mergequeue-status: in_progress

#28505 first draft of Managing Account Theft with ASM
  content/en/security/application_security/guide/_index.md
  content/en/security/application_security/guide/manage_account_theft_appsec.md
Labels: editorial review

#28645 [DOCS-10499] updating liveness probes
  content/en/synthetics/platform/private_locations/_index.md
Labels: mergequeue-status: in_progress

#27115 Update _index.md
  content/en/llm_observability/cluster_map/_index.md
Labels: mergequeue-status: in_progress

#28008 Add new guide on rollup functions
  content/en/dashboards/functions/rollup.md
  content/en/dashboards/guide/_index.md
  content/en/dashboards/guide/rollup-cardinality-visualizations.md
Labels: editorial review, Guide, mergequeue-status: in_progress

#28627 remove old ssi migration documentation
  content/en/tracing/trace_collection/automatic_instrumentation/single-step-apm/_index.md
  content/en/tracing/trace_collection/automatic_instrumentation/single-step-apm/ssi-0-13-1.md
Labels: mergequeue-status: in_progress

#28647 Remove unavailable reference link
  content/en/logs/guide/setting-file-permissions-for-rotating-logs.md
Labels: Guide, mergequeue-status: in_progress

#28612 K8s AKS distro update
  content/en/containers/kubernetes/distributions.md
Labels: mergequeue-status: in_progress

#28648 Update _index.md
  content/en/software_catalog/set_up/_index.md
Labels: mergequeue-status: in_progress

#28639 [CCM] remove preview message, anomalies is GA
  content/en/monitors/types/cloud_cost.md
Labels: mergequeue-status: in_progress

#28652 Force Session Replay update
  content/en/real_user_monitoring/session_replay/browser/_index.md
Labels: mergequeue-status: in_progress

#28608 apm-sdks: Document new set of configuration that should have consistent behavior across sdks
  content/en/tracing/trace_collection/library_config/_index.md
Labels: mergequeue-status: in_progress

#28654 Remaining updates on primary tags feature
  content/en/tracing/guide/ddsketch_trace_metrics.md
  content/en/tracing/metrics/metrics_namespace.md
Labels: Guide, mergequeue-status: in_progress

#28634 Use ddtrace.auto in favor of patch_all for python azure function instrumentation
  content/en/serverless/azure_functions/_index.md
Labels: mergequeue-status: in_progress

#28646 [DOCS-10572] Fix translated Cloud SIEM navs
  config/_default/menus/main.es.yaml
  config/_default/menus/main.fr.yaml
  config/_default/menus/main.ja.yaml
  config/_default/menus/main.ko.yaml
Labels: Architecture, mergequeue-status: in_progress

#27854 Embedded Collector Pre-Release Updates
  content/en/opentelemetry/agent/_index.md
  content/en/opentelemetry/agent/agent_with_custom_components.md
  content/en/opentelemetry/agent/install_agent_with_collector.md
  content/en/opentelemetry/agent/migration.md
  static/images/opentelemetry/embedded_collector/components-2.png
  static/images/opentelemetry/embedded_collector/deployment-2.png
Labels: Images, mergequeue-status: in_progress

#28676 Update the TOC logic to use the new Cdocs hooks interface
  assets/scripts/components/table-of-contents.js
  package.json
  yarn.lock
Labels: Architecture

#28682 Fix link with new path.
  content/en/opentelemetry/agent/migration.md
  content/en/opentelemetry/guide/migrate/migrate_operation_names.md
Labels: mergequeue-status: in_progress

#28659 build: ⬆️ bump PL version to 1.56.0
  data/synthetics_worker_versions.json
Labels: mergequeue-status: in_progress

#28502 Daljeet/on call automations
  config/_default/menus/main.en.yaml
  content/en/service_management/on-call/automations.md
Labels: Architecture, editorial review, mergequeue-status: in_progress

#28667 Update _index.md
  content/en/software_catalog/_index.md
Labels: mergequeue-status: in_progress

#28233 RUM Auto-instrumentation updates
  config/_default/params.yaml
  content/en/real_user_monitoring/browser/_index.md
  content/en/real_user_monitoring/browser/setup/_index.md
  content/en/real_user_monitoring/browser/setup/client.md
  content/en/real_user_monitoring/browser/setup/server.md
  content/en/real_user_monitoring/browser/setup/server/_index.md
  content/en/real_user_monitoring/browser/setup/server/apache.md
  content/en/real_user_monitoring/browser/setup/server/ibm.md
  content/en/real_user_monitoring/browser/setup/server/nginx.md
  content/en/real_user_monitoring/browser/setup/server/windows_iis.md
  content/en/real_user_monitoring/guide/best-practices-for-rum-sampling.md
  layouts/partials/rum/rum-browser-setup.html
  static/images/integrations_logos/apache_large.svg
  static/images/integrations_logos/ibm_http_large.svg
  static/images/integrations_logos/ibm_was_large.svg
  static/images/integrations_logos/nginx_large.svg
  static/images/integrations_logos/windows_iis_large.svg
Labels: Architecture, editorial review, Images, Guide, mergequeue-status: in_progress

#28658 Add export entire schedule documemtation
  content/en/service_management/on-call/schedules.md
Labels: mergequeue-status: in_progress

#28686 Source cdocs-build from images
  Makefile
  assets/scripts/cdocs-build.js
Labels: Architecture

#28653 ASM: document standalone ASM setup
  content/en/security/application_security/guide/standalone_application_security.md
  content/en/security/application_security/threats/setup/_index.md
  content/en/security/application_security/threats/setup/standalone/_index.md
  content/en/security/application_security/threats/setup/standalone/dotnet.md
  content/en/security/application_security/threats/setup/standalone/envoy.md
  content/en/security/application_security/threats/setup/standalone/gcp-service-extensions.md
  content/en/security/application_security/threats/setup/standalone/go.md
  content/en/security/application_security/threats/setup/standalone/java.md
  content/en/security/application_security/threats/setup/standalone/nginx.md
  content/en/security/application_security/threats/setup/standalone/nodejs.md
  content/en/security/application_security/threats/setup/standalone/php.md
  content/en/security/application_security/threats/setup/standalone/python.md
  content/en/security/application_security/threats/setup/standalone/ruby.md
  layouts/shortcodes/appsec-getstarted-standalone.md
Labels: Architecture

#28673 [DOCS-10578] Update advanced_configurations.md
  content/en/observability_pipelines/advanced_configurations.md
Labels: mergequeue-status: in_progress

#28674 Fix Troubleshooting section spacing
  content/en/opentelemetry/setup/intake_endpoint/otlp_logs.md
Labels: mergequeue-status: in_progress

#28679 DOCS-10532 - Update operator v1alpha1 link
  content/en/containers/kubernetes/configuration.md
Labels: mergequeue-status: in_progress

#28688 updating NDM glossary terms
  content/en/glossary/terms/device_namespace.md
  content/en/glossary/terms/device_profile.md
  content/en/glossary/terms/mib.md
  content/en/glossary/terms/oid.md
  content/en/glossary/terms/ping.md
  content/en/glossary/terms/sd-wan.md
  content/en/glossary/terms/sysoid.md
Labels: mergequeue-status: in_progress

#28695 [rum] Fix jump for correlate traces with RUM
  config/_default/menus/main.en.yaml
  content/en/tracing/other_telemetry/rum/_index.md
Labels: Architecture, mergequeue-status: in_progress

#28680 DOCS-10434 - Add clusterName configs for snippets on k8s distro page
  content/en/containers/kubernetes/distributions.md
Labels: mergequeue-status: in_progress

#28675 moving alert to permissions section/ VULN-7528
  content/en/synthetics/platform/private_locations/_index.md
Labels: mergequeue-status: in_progress

#28655 DOCS-10355 - Clearer instructions for collecting custom resources
  content/en/infrastructure/containers/configuration.md
  static/images/infrastructure/containers_view/CRD_indexing_1.mp4
  static/images/infrastructure/containers_view/CRD_indexing_2.mp4
  static/images/infrastructure/containers_view/indexing_modal.png
Labels: Images, mergequeue-status: in_progress

#28693 DOCS-10581: Cloud Security Management onboarding updates
  content/en/security/cloud_security_management/setup/agentless_scanning/enable.md
  layouts/shortcodes/cloud-siem-aws-setup-cloudformation.en.md
Labels: Architecture, mergequeue-status: in_progress
